Repository OpenTrons/opentrons, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Opentrons/software, @Opentrons/js, @Opentrons/py, @Opentrons/app-and-uis, @Opentrons/robot-svcs, @Opentrons/embedded-sw

merge edge into this branch
  api/src/opentrons/hardware_control/ot3api.py
Owners: @Opentrons/py

chore(app, app-shell): update electron version from 21 to 26
  .github/workflows/api-test-lint-deploy.yaml
  .github/workflows/app-test-build-deploy.yaml
  .github/workflows/components-test-build-deploy.yaml
  .github/workflows/docs-build.yaml
  .github/workflows/g-code-testing-lint-test.yaml
  .github/workflows/http-docs-build.yaml
  .github/workflows/js-check.yaml
  .github/workflows/ll-test-build-deploy.yaml
  .github/workflows/notify-server-lint-test.yaml
  .github/workflows/pd-test-build-deploy.yaml
  .github/workflows/react-api-client-test.yaml
  .github/workflows/robot-server-lint-test.yaml
  .github/workflows/server-utils-lint-test.yaml
  .github/workflows/shared-data-test-lint-deploy.yaml
  .github/workflows/step-generation-test.yaml
  .github/workflows/system-server-lint-test.yaml
  .github/workflows/tag-releases.yaml
  .github/workflows/update-server-lint-test.yaml
  .github/workflows/usb-bridge-lint-test.yaml
  app-shell-odd/electron-builder.config.js
  app-shell/Makefile
  app-shell/electron-builder.config.js
  app/Makefile
  package.json
  yarn.lock
Owners: @Opentrons/software, @Opentrons/js

Update p50s low volume function with 9-18 tag
  shared-data/pipette/definitions/2/liquid/single_channel/p50/lowVolumeDefault/3_5.json
Owners: @Opentrons/embedded-sw

address feedback
  app/src/App/__tests__/DesktopApp.test.tsx
  app/src/organisms/Alerts/AlertsModal.tsx
  app/src/organisms/Alerts/AlertsProvider.tsx
  app/src/organisms/Alerts/__tests__/Alerts.test.tsx
  app/src/organisms/Alerts/index.ts
  app/src/organisms/UpdateAppModal/__tests__/UpdateAppModal.test.tsx
  app/src/organisms/UpdateAppModal/index.tsx
Owners: @Opentrons/js

fix tests
  app/src/organisms/Devices/PipetteCard/__tests__/AboutPipetteSlideout.test.tsx
  app/src/organisms/GripperCard/__tests__/AboutGripperSlideout.test.tsx
  app/src/organisms/ModuleCard/__tests__/AboutModuleSlideout.test.tsx
Owners: @Opentrons/js

test fix
  app/src/App/__tests__/DesktopApp.test.tsx
Owners: @Opentrons/js

fix(app): style instrument and module slideouts (#13598)
  app/src/organisms/Devices/PipetteCard/AboutPipetteSlideout.tsx
  app/src/organisms/Devices/PipetteCard/__tests__/AboutPipetteSlideout.test.tsx
  app/src/organisms/GripperCard/AboutGripperSlideout.tsx
  app/src/organisms/GripperCard/__tests__/AboutGripperSlideout.test.tsx
  app/src/organisms/ModuleCard/AboutModuleSlideout.tsx
  app/src/organisms/ModuleCard/__tests__/AboutModuleSlideout.test.tsx
Owners: @Opentrons/js

fix(app): dismiss app update toast when update modal appears (#13600)
  app/src/App/DesktopApp.tsx
  app/src/App/__tests__/DesktopApp.test.tsx
  app/src/organisms/Alerts/AlertsModal.tsx
  app/src/organisms/Alerts/AlertsProvider.tsx
  app/src/organisms/Alerts/__tests__/Alerts.test.tsx
  app/src/organisms/Alerts/index.ts
  app/src/organisms/Alerts/useRemoveActiveAppUpdateToast.ts.ts
  app/src/organisms/UpdateAppModal/__tests__/UpdateAppModal.test.tsx
  app/src/organisms/UpdateAppModal/index.tsx
Owners: @Opentrons/js

Removal of OT3 to Flex load name resolution under 7_0 chore release
  api/src/opentrons/protocol_api/core/engine/load_labware_params.py
  api/src/opentrons/protocol_api/core/engine/protocol.py
  api/tests/opentrons/protocol_api/core/engine/test_protocol_core.py
  app-testing/files/protocols/py/OT3_P1000MLeft_P50MRight_HS_MM_TC_TM_2_15_ABR3_Illumina_DNA_Enrichment.py
  app-testing/files/protocols/py/OT3_P1000MLeft_P50MRight_HS_MM_TC_TM_2_15_ABR3_Illumina_DNA_Enrichment_v4.py
  app-testing/files/protocols/py/OT3_P1000MLeft_P50MRight_HS_TM_MM_TC_2_15_ABR4_Illumina_DNA_Prep_24x.py
  app-testing/files/protocols/py/OT3_P1000SRight_None_2_15_ABR_Simple_Normalize_Long_Right.py
  app-testing/files/protocols/py/OT3_P50MLeft_P1000MRight_None_2_15_ABRKAPALibraryQuantLongv2.py
Owners: @Opentrons/py

chore: add releases.json manifest for app
  .github/workflows/app-test-build-deploy.yaml
  scripts/update-releases-json.js
Owners: @Opentrons/software, @Opentrons/js

feedback on blow out §
  api/docs/v2/complex_commands/parameters.rst
Owners: @Opentrons/py

fix(app): show usb icon for OT-2 usb connection
  app/src/organisms/Devices/RobotStatusHeader.tsx
  app/src/organisms/Devices/__tests__/RobotStatusHeader.test.tsx
Owners: @Opentrons/js

feat(hardware-testing): add full features for volumetric scripts (#13492)
  hardware-testing/Makefile
  hardware-testing/hardware_testing/data/csv_report.py
  hardware-testing/hardware_testing/data/ui.py
  hardware-testing/hardware_testing/drivers/radwag/commands.py
  hardware-testing/hardware_testing/drivers/radwag/driver.py
  hardware-testing/hardware_testing/gravimetric/__main__.py
  hardware-testing/hardware_testing/gravimetric/config.py
  hardware-testing/hardware_testing/gravimetric/execute.py
  hardware-testing/hardware_testing/gravimetric/execute_photometric.py
  hardware-testing/hardware_testing/gravimetric/helpers.py
  hardware-testing/hardware_testing/gravimetric/increments.py
  hardware-testing/hardware_testing/gravimetric/liquid_class/defaults.py
  hardware-testing/hardware_testing/gravimetric/liquid_class/pipetting.py
  hardware-testing/hardware_testing/gravimetric/measurement/scale.py
  hardware-testing/hardware_testing/gravimetric/report.py
  hardware-testing/hardware_testing/gravimetric/tips.py
  hardware-testing/hardware_testing/gravimetric/trial.py
  hardware-testing/hardware_testing/gravimetric/workarounds.py
  hardware-testing/hardware_testing/protocols/gravimetric_ot3_p1000_96-LPC.py
  hardware-testing/hardware_testing/protocols/photometric_ot3_p1000_96_200ul.py
  hardware-testing/hardware_testing/protocols/photometric_ot3_p1000_96_50ul.py
  hardware-testing/hardware_testing/protocols/photometric_ot3_p1000_multi.py
  hardware-testing/hardware_testing/protocols/photometric_ot3_p1000_single.py
  hardware-testing/hardware_testing/protocols/photometric_ot3_p50_multi.py
  hardware-testing/hardware_testing/protocols/photometric_ot3_p50_single.py
  hardware-testing/hardware_testing/scripts/gravimetric_rnd.py
  hardware-testing/tests/hardware_testing/drivers/radwag/test_driver.py
  hardware/opentrons_hardware/drivers/eeprom/eeprom.py
  hardware/opentrons_hardware/drivers/gpio/__init__.py
  scripts/push.mk
Owners: @Opentrons/software, @Opentrons/py

fix(app): show usb icon for OT-2 usb connection (#13605)
  app/src/organisms/Devices/RobotStatusHeader.tsx
  app/src/organisms/Devices/__tests__/RobotStatusHeader.test.tsx
Owners: @Opentrons/js

Fix merge conflicts with main PR
  api/docs/v2/new_atomic_commands.rst
Owners: @Opentrons/py

fix i18n copy
  protocol-designer/src/localization/en/alert.json
Owners: @Opentrons/app-and-uis

fix failed test
  protocol-designer/src/components/modals/EditModulesModal/__tests__/EditModulesModal.test.tsx
Owners: @Opentrons/app-and-uis

Add an integration test.
  robot-server/tests/integration/sessions/fixture_load_opentrons_96_filtertiprack_20ul.py
  robot-server/tests/integration/sessions/test_analysis_round_trip.tavern.yaml
  robot-server/tests/integration/utils.py
Owners: @Opentrons/py, @Opentrons/software

Flesh out `get_labware_gripper_offsets()` docstring.
  api/src/opentrons/protocol_engine/state/labware.py
Owners: @Opentrons/py

Move test_sesion.tavern.yaml to sessions/.
  robot-server/tests/integration/sessions/test_session.tavern.yaml
Owners: @Opentrons/software

Do not require a "default" key within gripperOffsets.
  shared-data/labware/schemas/2.json
Owners: @Opentrons/embedded-sw

Fix state leakage between /sessions integration tests.
  robot-server/tests/integration/conftest.py
  robot-server/tests/integration/robot_client.py
Owners: @Opentrons/py

Move test protocol somewhere it won't be covered by linting rules.
  robot-server/tests/integration/protocols/load_opentrons_96_filtertiprack_20ul.py
  robot-server/tests/integration/sessions/fixture_load_opentrons_96_filtertiprack_20ul.py
  robot-server/tests/integration/sessions/test_analysis_round_trip.tavern.yaml
Owners: @Opentrons/py, @Opentrons/software

.github/CODEOWNERS:

# catchall: someone in software should be notified for any change in this repo
* @Opentrons/software

# language expertise verticals - if a PR changes things in multiple projects let's
# notify those language communities
*.js @Opentrons/js
*.py @Opentrons/py
*.d.ts @Opentrons/js
/webpack-config @Opentrons/js

# subprojects - those with clear team ownership should have appropriate notifications
/protocol-designer @Opentrons/app-and-uis
/labware-designer @Opentrons/app-and-uis
/labware-library @Opentrons/app-and-uis
/protocol-library-kludge @Opentrons/app-and-uis
/update-server @Opentrons/robot-svcs
/discovery-client @Opentrons/robot-svcs @Opentrons/app-and-uis
/shared-data/pipette @Opentrons/embedded-sw
/shared-data/protocol @Opentrons/robot-svcs @Opentrons/app-and-uis
/shared-data/module @Opentrons/embedded-sw
/shared-data/deck @Opentrons/embedded-sw
/shared-data/labware @Opentrons/embedded-sw

# subprojects by language - some subprojects are shared by teams but united by a
# language community (including makefiles and config) so mark them appropriately
/app @Opentrons/js
/app-shell @Opentrons/js
/components @Opentrons/js
/api @Opentrons/py
/shared-data/js @Opentrons/js
