Repository Opentrons/opentrons, pull requests merged in 2018-11, with the labels that each got.

#2594 refactor(app): Reorganize ConnectForm to support hidden SSIDs
  app/src/components/RobotSettings/SelectNetwork/ConnectForm.js
  app/src/components/RobotSettings/SelectNetwork/ConnectFormField.js
  app/src/components/RobotSettings/SelectNetwork/ConnectModal.js
  app/src/components/RobotSettings/SelectNetwork/SelectKey.js
  app/src/components/RobotSettings/SelectNetwork/SelectSecurity.js
  app/src/components/RobotSettings/SelectNetwork/SelectSsid.js
  app/src/components/RobotSettings/SelectNetwork/fields.js
  app/src/components/RobotSettings/SelectNetwork/index.js
  app/src/components/RobotSettings/SelectNetwork/styles.css
  app/src/components/SelectField/index.js
  app/src/components/SelectField/styles.css
  app/src/http-api-client/networking.js
Labels: app, ready for review, refactor

#2598 refactor(api): Change motion target locations and add arcs
  api/src/opentrons/hardware_control/__init__.py
  api/src/opentrons/protocol_api/__init__.py
  api/src/opentrons/protocol_api/contexts.py
  api/src/opentrons/protocol_api/geometry.py
  api/src/opentrons/protocol_api/labware.py
  api/src/opentrons/types.py
  api/tests/opentrons/protocol_api/test_accessor_fn.py
  api/tests/opentrons/protocol_api/test_back_compat.py
  api/tests/opentrons/protocol_api/test_context.py
  api/tests/opentrons/protocol_api/test_geometry.py
  api/tests/opentrons/protocol_api/test_labware.py
  api/tests/opentrons/protocol_api/test_offsets.py
Labels: api, medium, ready for review, refactor

#2574 refactor(protocol-designer): gate timeline generation with form and field validation
  protocol-designer/src/components/SettingsPage/SettingsPage.css
  protocol-designer/src/components/StepEditForm/WellSelectionInput/WellSelectionInput.js
  protocol-designer/src/components/StepEditForm/WellSelectionInput/index.js
  protocol-designer/src/components/StepEditForm/formFields.js
  protocol-designer/src/containers/ConnectedStepItem.js
  protocol-designer/src/file-data/selectors/commands.js
  protocol-designer/src/labware-ingred/reducers/index.js
  protocol-designer/src/pipettes/reducers.js
  protocol-designer/src/pipettes/selectors.js
  protocol-designer/src/steplist/fieldLevel/errors.js
  protocol-designer/src/steplist/fieldLevel/index.js
  protocol-designer/src/steplist/formLevel/errors.js
  protocol-designer/src/steplist/formLevel/getDefaultsForStepType.js
  protocol-designer/src/steplist/formLevel/index.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/index.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/mixFormToArgs.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/pauseFormToArgs.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/transferLikeFormToArgs.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/types.js
  protocol-designer/src/steplist/generateSubsteps.js
  protocol-designer/src/steplist/selectors.js
  protocol-designer/src/steplist/types.js
  protocol-designer/src/top-selectors/substep-highlight.js
  protocol-designer/src/top-selectors/substeps.js
  protocol-designer/src/well-selection/reducers.js
Labels: protocol designer, ready for review, refactor

#2606 API: consolidate motion functions and fix some small design issues
  api/src/opentrons/hardware_control/__init__.py
  api/src/opentrons/protocol_api/contexts.py
  api/tests/opentrons/hardware_control/test_moves.py
  api/tests/opentrons/protocol_api/test_context.py
Labels: api, ready for review, refactor, small

#2612 API: add out of bounds move checks to hardware_control
  api/src/opentrons/hardware_control/__init__.py
  api/src/opentrons/hardware_control/controller.py
  api/src/opentrons/hardware_control/simulator.py
  api/tests/opentrons/hardware_control/test_moves.py
Labels: api, ready for review, refactor, small

#2633 fix(api): Correct well ordering for custom labware
  api/src/opentrons/legacy_api/containers/__init__.py
  api/tests/opentrons/database/test_labware_definitions.py
Labels: api, fix

#2608 feat(app): Implement new connectivity card
  app/src/components/RobotSettings/ConnectionCard.js
  app/src/components/RobotSettings/ConnectivityCard.js
  app/src/components/RobotSettings/SelectNetwork/ConnectForm.js
  app/src/components/RobotSettings/SelectNetwork/WifiConnectModal.js
  app/src/components/RobotSettings/SelectNetwork/index.js
  app/src/components/RobotSettings/WifiConnectForm.js
  app/src/components/RobotSettings/connection.js
  app/src/components/RobotSettings/index.js
  app/src/components/RobotSettings/styles.css
  app/src/config/index.js
  app/src/discovery/index.js
  app/src/http-api-client/__tests__/reducer.test.js
  app/src/http-api-client/networking.js
  app/src/http-api-client/reducer.js
Labels: app, feature, ready for review

#2634 feat(protocol-designer): add more labware options to PD
  api/docs/source/labware.rst
  protocol-designer/src/components/LabwareSelectionModal/LabwareSelectionModal.js
Labels: docs, protocol designer, ready for review

#2605 feat(api): support unversioned pipettes in JSON protocols
  api/src/opentrons/config/pipette_config.py
  api/src/opentrons/legacy_api/api.py
  api/src/opentrons/protocols/__init__.py
  api/tests/opentrons/protocols/test_load_json_protocol.py
  app/src/components/CalibrateDeck/AttachTip.js
  app/src/components/CalibrateDeck/ClearDeckAlert.js
  app/src/components/CalibrateDeck/index.js
  app/src/components/CalibrateDeck/types.js
  app/src/components/ChangePipette/ConfirmPipette.js
  app/src/components/ChangePipette/Instructions.js
  app/src/components/ChangePipette/PipetteSelection.js
  app/src/components/ChangePipette/index.js
  app/src/components/ChangePipette/types.js
  app/src/components/FileInfo/ProtocolPipettesCard.js
  app/src/components/calibrate-pipettes/Pipettes.js
  app/src/http-api-client/robot.js
  app/src/robot/types.js
  protocol-designer/src/components/StepEditForm/FlowRateField/FlowRateField.js
  protocol-designer/src/components/StepEditForm/FlowRateField/index.js
  protocol-designer/src/components/StepEditForm/WellSelectionInput/WellSelectionModal.js
  protocol-designer/src/components/modals/NewFileModal/PipetteDiagram.js
  protocol-designer/src/file-data/selectors/fileCreator.js
  protocol-designer/src/file-types.js
  protocol-designer/src/pipettes/pipetteData.js
  protocol-designer/src/pipettes/reducers.js
  protocol-designer/src/pipettes/selectors.js
  protocol-designer/src/step-generation/types.js
  shared-data/js/__tests__/pipetteSpecSchemas.test.js
  shared-data/js/helpers/canPipetteUseLabware.js
  shared-data/js/pipettes.js
  shared-data/protocol-json-schema/protocol-schema.json
  shared-data/robot-data/README.md
  shared-data/robot-data/pipetteModelSpecs.json
  shared-data/robot-data/pipetteNameSpecs.json
  shared-data/robot-data/schemas/pipetteModelSpecsSchema.json
  shared-data/robot-data/schemas/pipetteNameSpecsSchema.json
Labels: api, app, json protocol schema, large, protocol designer, ready for review, shared data

#2637 refactor(api): tiplength from tiprack
  api/src/opentrons/hardware_control/__init__.py
  api/src/opentrons/hardware_control/pipette.py
  api/src/opentrons/protocol_api/contexts.py
  api/src/opentrons/protocol_api/labware.py
  api/src/opentrons/types.py
  api/tests/opentrons/hardware_control/test_instruments.py
  api/tests/opentrons/hardware_control/test_moves.py
  api/tests/opentrons/hardware_control/test_pipette.py
  api/tests/opentrons/protocol_api/test_context.py
  api/tests/opentrons/protocol_api/test_labware.py
  api/tests/opentrons/protocol_api/test_offsets.py
Labels: api, feature, ready for review

#2575 Sneaky key combo for hidden step reordering feature
  protocol-designer/src/components/steplist/StepList.js
  protocol-designer/src/containers/ConnectedStepList.js
  protocol-designer/src/steplist/actions/thunks.js
  protocol-designer/src/steplist/reducers.js
  protocol-designer/src/steplist/test/reducers.test.js
Labels: medium, protocol designer, ready for review

#2638 feat(protocol-designer): clean up navigation and modal hierarchy
  protocol-designer/src/components/ProtocolEditor.js
  protocol-designer/src/components/StepEditForm/index.js
  protocol-designer/src/containers/ConnectedDeckSetup.js
  protocol-designer/src/containers/ConnectedNav.js
  protocol-designer/src/containers/ConnectedTitleBar.js
  protocol-designer/src/labware-ingred/reducers/index.js
  protocol-designer/src/navigation/selectors.js
Labels: feature, protocol designer, ready for review

#2548 feat(protocol-designer): allow user to change pipette selection
  protocol-designer/src/components/FilePage.css
  protocol-designer/src/components/FilePage.js
  protocol-designer/src/components/modals/EditPipettesModal/EditPipettesModal.css
  protocol-designer/src/components/modals/EditPipettesModal/StepChangesWarningModal.js
  protocol-designer/src/components/modals/EditPipettesModal/index.js
  protocol-designer/src/components/modals/NewFileModal/index.js
  protocol-designer/src/containers/ConnectedFilePage.js
  protocol-designer/src/localization/en/button.json
  protocol-designer/src/localization/en/modal.json
  protocol-designer/src/pipettes/actions.js
  protocol-designer/src/pipettes/index.js
  protocol-designer/src/pipettes/reducers.js
  protocol-designer/src/pipettes/selectors.js
  protocol-designer/src/pipettes/thunks.js
  protocol-designer/src/pipettes/types.js
  protocol-designer/src/pipettes/utils.js
  protocol-designer/src/steplist/actions/actions.js
  protocol-designer/src/steplist/actions/handleFormChange.js
  protocol-designer/src/steplist/actions/types.js
  protocol-designer/src/steplist/reducers.js
  protocol-designer/src/steplist/selectors.js
Labels: feature, protocol designer, ready for review

#2643 build(webpack): Add cache-busting to default bundle.js output filename
  app/webpack.config.js
  labware-designer/webpack.config.js
  protocol-designer/webpack.config.js
  protocol-library-kludge/webpack.config.js
  webpack-config/lib/base-config.js
Labels: app, chore, protocol designer

#2639 feat(app): Track restart status in discovery state for better alerts
  app/src/components/RobotSettings/ConnectBanner.js
  app/src/components/RobotSettings/ReachableRobotBanner.js
  app/src/discovery/__tests__/actions.test.js
  app/src/discovery/__tests__/reducer.test.js
  app/src/discovery/__tests__/selectors.test.js
  app/src/discovery/index.js
  app/src/discovery/selectors.js
  app/src/discovery/types.js
  app/src/http-api-client/__tests__/server.test.js
  app/src/http-api-client/server.js
  app/src/index.js
  app/src/robot/api-client/client.js
Labels: app, feature, ready for review

#2644 fix(protocol-designer): add vertical spacing back to form fields
  protocol-designer/src/components/FilePage.js
  protocol-designer/src/components/StepEditForm/PauseForm.js
  protocol-designer/src/components/forms.css
  protocol-designer/src/components/modals/EditPipettesModal/index.js
  protocol-designer/src/components/modals/NewFileModal/index.js
Labels: fix, protocol designer, ready for review

#2649 fix(protocol-designer): fix sidebar for liquid placement modal
  protocol-designer/src/containers/ConnectedSidebar.js
Labels: fix, protocol designer, ready for review

#2650 Pd fix well selection title bar
  protocol-designer/src/components/StepEditForm/WellSelectionInput/WellSelectionInput.js
  protocol-designer/src/containers/ConnectedNav.js
  protocol-designer/src/containers/ConnectedTitleBar.js
  protocol-designer/src/navigation/types.js
  protocol-designer/src/steplist/actions/actions.js
  protocol-designer/src/steplist/reducers.js
  protocol-designer/src/steplist/selectors.js
Labels: fix, protocol designer, ready for review

#2635 refactor(api): Add ability to load a labware by definition name
  api/src/opentrons/protocol_api/labware.py
  api/tests/opentrons/protocol_api/test_geometry.py
  api/tests/opentrons/protocol_api/test_labware.py
  api/tests/opentrons/protocol_api/test_labware_load.py
Labels: api, feature, ready for review

#2653 feat(protocol-designer): edit saved step forms when labware is deleted
  protocol-designer/src/components/StepEditForm/WellSelectionInput/WellSelectionInput.js
  protocol-designer/src/containers/ConnectedTitleBar.js
  protocol-designer/src/labware-ingred/actions.js
  protocol-designer/src/load-file/reducers.js
  protocol-designer/src/steplist/actions/actions.js
  protocol-designer/src/steplist/reducers.js
  protocol-designer/src/steplist/selectors.js
Labels: feature, fix, protocol designer, ready for review

#2667 fix(protocol-designer): close step form when edit pipettes
  protocol-designer/src/pipettes/thunks.js
Labels: fix, protocol designer, ready for review

#2648 chore(release): 3.6.0-beta.0
  CHANGELOG.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/build/release-notes.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  lerna.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore, ready for review

#2669 fix(protocol-designer): de-hydrate disposal and blowout labware in st…
  protocol-designer/src/steplist/formLevel/stepFormToArgs/mixFormToArgs.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/transferLikeFormToArgs.js
Labels: fix, protocol designer, ready for review

#2671 fix(protocol-designer): well selection modal refresh on step change
  protocol-designer/src/components/StepEditForm/WellSelectionInput/WellSelectionInput.js
Labels: fix, protocol designer, ready for review

#2664 refactor(components): remove old clickOutside HoC
  components/src/interaction-enhancers/ClickOutside.js
  components/src/interaction-enhancers/ClickOutside.md
  components/src/interaction-enhancers/ExampleClickOutside.js
  components/src/interaction-enhancers/ExampleClickOutside.md
  components/src/interaction-enhancers/clickOutside.js
  components/src/interaction-enhancers/index.js
Labels: components, protocol designer, ready for review

#2661 feat(protocol-designer): liquid placement modal performance boost
  protocol-designer/src/components/HighlightableLabware.css
  protocol-designer/src/components/HighlightableLabware.js
  protocol-designer/src/components/LiquidPlacementModal.js
  protocol-designer/src/components/SelectablePlate.js
  protocol-designer/src/components/SingleLabware.js
  protocol-designer/src/components/labware/LabwareOnDeck.js
  protocol-designer/src/components/labware/SelectableLabware.js
  protocol-designer/src/containers/HighlightableLabware.js
  protocol-designer/src/labware-ingred/types.js
  protocol-designer/src/top-selectors/substep-highlight.js
  protocol-designer/src/utils/index.js
Labels: feature, protocol designer, ready for review

#2662 feat(protocol-designer): disconnect well selection from hover step state
  protocol-designer/src/components/StepEditForm/WellSelectionInput/WellSelectionModal.js
Labels: feature, protocol designer, ready for review

#2666 refactor(protocol-designer): change StepType from number to string
  protocol-designer/src/components/alerts/TimelineAlerts.js
  protocol-designer/src/dismiss/actions.js
  protocol-designer/src/dismiss/reducers.js
  protocol-designer/src/dismiss/selectors.js
  protocol-designer/src/file-data/selectors/commands.js
  protocol-designer/src/form-types.js
  protocol-designer/src/steplist/actions/thunks.js
  protocol-designer/src/steplist/actions/types.js
  protocol-designer/src/steplist/generateSubsteps.js
  protocol-designer/src/steplist/reducers.js
  protocol-designer/src/steplist/selectors.js
  protocol-designer/src/steplist/test/reducers.test.js
Labels: protocol designer, ready for review

#2668 build(travis): Refactor build to use stages
  .python-version
  .travis.yml
  CONTRIBUTING.md
  Makefile
  api/Makefile
  app-shell/Makefile
  app-shell/electron-builder.json
  appveyor.yml
  scripts/travis-env.sh
  scripts/travis-install.sh
Labels: chore

#2677 build(app-shell): Add publisherName to electron-builder config
  app-shell/electron-builder.json
Labels: chore

#2683 ci(travis): Move flow typechecking to separate job in test stage
  .travis.yml
Labels: chore

#2680 refactor(protocol-designer): unite delete labware and handleFormChange logic
  protocol-designer/src/steplist/actions/handleFormChange.js
  protocol-designer/src/steplist/actions/types.js
  protocol-designer/src/steplist/reducers.js
Labels: protocol designer, ready for review, refactor

#2681 fix(api): re-position p1000 droptip/blowout positions
  shared-data/robot-data/pipetteModelSpecs.json
Labels: api, small

#2682 perf(api): Decrease plunger motor max speed by 20%
  api/src/opentrons/config/robot_configs.py
  api/tests/opentrons/drivers/test_driver.py
Labels: api, small

#2679 feat(api): Add 1.5ml tuberack to old labware definition section
  api/src/opentrons/config/containers/default-containers.json
  api/tests/opentrons/database/test_labware_definitions.py
  protocol-designer/src/components/LabwareSelectionModal/LabwareSelectionModal.js
  shared-data/definitions/opentrons-tuberack-1.5ml-eppendorf.json
Labels: api, feature, ready for review

#2675 refactor(api): more functions use hc
  api/Makefile
  api/Pipfile
  api/Pipfile.lock
  api/pytest.ini
  api/src/opentrons/__init__.py
  api/src/opentrons/api/calibration.py
  api/src/opentrons/api/routers.py
  api/src/opentrons/api/session.py
  api/src/opentrons/broker/broker.py
  api/src/opentrons/drivers/rpi_drivers/gpio.py
  api/src/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/src/opentrons/hardware_control/__init__.py
  api/src/opentrons/hardware_control/adapters.py
  api/src/opentrons/hardware_control/controller.py
  api/src/opentrons/hardware_control/modules/magdeck.py
  api/src/opentrons/hardware_control/modules/mod_abc.py
  api/src/opentrons/hardware_control/modules/tempdeck.py
  api/src/opentrons/hardware_control/pipette.py
  api/src/opentrons/hardware_control/simulator.py
  api/src/opentrons/hardware_control/types.py
  api/src/opentrons/legacy_api/modules/magdeck.py
  api/src/opentrons/legacy_api/modules/tempdeck.py
  api/src/opentrons/legacy_api/robot/robot.py
  api/src/opentrons/main.py
  api/src/opentrons/protocol_api/back_compat.py
  api/src/opentrons/resources/scripts/setup_gpio.py
  api/src/opentrons/server/__init__.py
  api/src/opentrons/server/endpoints/__init__.py
  api/src/opentrons/server/endpoints/control.py
  api/src/opentrons/server/endpoints/serverlib_fallback.py
  api/src/opentrons/server/endpoints/update.py
  api/src/opentrons/server/rpc.py
  api/src/opentrons/system/smoothie_update.py
  api/src/opentrons/types.py
  api/tests/opentrons/api/test_session.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/hardware_control/test_instantiation.py
  api/tests/opentrons/hardware_control/test_instruments.py
  api/tests/opentrons/hardware_control/test_modules.py
  api/tests/opentrons/hardware_control/test_moves.py
  api/tests/opentrons/hardware_control/test_pipette.py
  api/tests/opentrons/integration/test_api.py
  api/tests/opentrons/integration/test_server.py
  api/tests/opentrons/protocol_api/test_context.py
  api/tests/opentrons/server/calibration_integration_test.py
  api/tests/opentrons/server/test_calibration_endpoints.py
  api/tests/opentrons/server/test_control_endpoints.py
  api/tests/opentrons/server/test_update_endpoints.py
Labels: api, refactor

#2656 feat(protocol-designer): use tip max vol, not pipette max vol
  protocol-designer/src/components/modals/EditPipettesModal/index.js
  protocol-designer/src/components/modals/NewFileModal/index.js
  protocol-designer/src/step-generation/aspirate.js
  protocol-designer/src/step-generation/blowout.js
  protocol-designer/src/step-generation/consolidate.js
  protocol-designer/src/step-generation/dispense.js
  protocol-designer/src/step-generation/distribute.js
  protocol-designer/src/step-generation/dropTip.js
  protocol-designer/src/step-generation/errorCreators.js
  protocol-designer/src/step-generation/robotStateSelectors.js
  protocol-designer/src/step-generation/test-with-flow/aspirate.test.js
  protocol-designer/src/step-generation/test-with-flow/blowout.test.js
  protocol-designer/src/step-generation/test-with-flow/consolidate.test.js
  protocol-designer/src/step-generation/test-with-flow/dispense.test.js
  protocol-designer/src/step-generation/test-with-flow/distribute.test.js
  protocol-designer/src/step-generation/test-with-flow/dropAllTips.test.js
  protocol-designer/src/step-generation/test-with-flow/dropTip.test.js
  protocol-designer/src/step-generation/test-with-flow/fixtureGeneration.test.js
  protocol-designer/src/step-generation/test-with-flow/fixtures/commandFixtures.js
  protocol-designer/src/step-generation/test-with-flow/fixtures/fixtures.js
  protocol-designer/src/step-generation/test-with-flow/mix.test.js
  protocol-designer/src/step-generation/test-with-flow/replaceTip.test.js
  protocol-designer/src/step-generation/test-with-flow/robotStateSelectors.test.js
  protocol-designer/src/step-generation/test-with-flow/testMatchers.js
  protocol-designer/src/step-generation/test-with-flow/touchTip.test.js
  protocol-designer/src/step-generation/test-with-flow/transfer.test.js
  protocol-designer/src/step-generation/touchTip.js
  protocol-designer/src/step-generation/transfer.js
  protocol-designer/src/step-generation/types.js
  protocol-designer/src/step-generation/utils.js
  protocol-designer/src/top-selectors/substeps.js
Labels: feature, protocol designer, ready for review

#2687 chore(react): upgrade react to v16.6.3
  app/package.json
  components/package.json
  package.json
  protocol-designer/package.json
  protocol-library-kludge/package.json
  yarn.lock
Labels: app, chore, protocol designer, ready for review

#2691 feat(protocol-designer): allow user to set touch-tip offset
  protocol-designer/src/components/StepEditForm/MixForm.js
  protocol-designer/src/components/StepEditForm/StepFormField.js
  protocol-designer/src/components/StepEditForm/TipPositionInput/TipPositionModal.js
  protocol-designer/src/components/StepEditForm/TipPositionInput/TipPositionZAxisViz.js
  protocol-designer/src/components/StepEditForm/TipPositionInput/index.js
  protocol-designer/src/components/StepEditForm/TipPositionInput/utils.js
  protocol-designer/src/components/StepEditForm/TransferLikeForm.js
  protocol-designer/src/components/StepEditForm/WellSelectionInput/WellSelectionInput.js
  protocol-designer/src/components/StepEditForm/WellSelectionInput/WellSelectionModal.js
  protocol-designer/src/components/StepEditForm/WellSelectionInput/index.js
  protocol-designer/src/components/StepEditForm/index.js
  protocol-designer/src/form-types.js
  protocol-designer/src/localization/en/modal.json
  protocol-designer/src/step-generation/consolidate.js
  protocol-designer/src/step-generation/distribute.js
  protocol-designer/src/step-generation/mix.js
  protocol-designer/src/step-generation/transfer.js
  protocol-designer/src/step-generation/types.js
  protocol-designer/src/steplist/actions/handleFormChange.js
  protocol-designer/src/steplist/fieldLevel/index.js
  protocol-designer/src/steplist/fieldLevel/types.js
  protocol-designer/src/steplist/formLevel/errors.js
  protocol-designer/src/steplist/formLevel/getDefaultsForStepType.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/mixFormToArgs.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/transferLikeFormToArgs.js
  protocol-designer/src/steplist/formLevel/warnings.js
  protocol-designer/src/steplist/types.js
  protocol-designer/src/well-selection/actions.js
Labels: protocol designer, ready for review

#2685 refactor(app): Update app before robot
  app/src/components/ReleaseNotes/styles.css
  app/src/components/RobotSettings/UpdateRobotModal/SkipAppUpdateMessage.js
  app/src/components/RobotSettings/UpdateRobotModal/SyncRobotMessage.js
  app/src/components/RobotSettings/UpdateRobotModal/UpdateAppMessage.js
  app/src/components/RobotSettings/UpdateRobotModal/VersionList.js
  app/src/components/RobotSettings/UpdateRobotModal/index.js
  app/src/components/RobotSettings/UpdateRobotModal/styles.css
  app/src/components/RobotSettings/UpdateRobotModal/types.js
  app/src/components/modals/styles.css
  app/src/config/index.js
  app/src/pages/Robots/RobotSettings.js
  app/src/shell/index.js
Labels: app, large, ready for review, refactor

#2689 feat(api): Adds pipette models v1.4 to robot config
  api/src/opentrons/tools/write_pipette_memory.py
  api/tests/opentrons/tools/test_qc_scripts.py
  shared-data/robot-data/pipetteModelSpecs.json
Labels: api, feature, ready for review, small

#2702 refactor(api): Use modules in protocol api
  api/src/opentrons/hardware_control/adapters.py
  api/src/opentrons/hardware_control/controller.py
  api/src/opentrons/hardware_control/modules/magdeck.py
  api/src/opentrons/hardware_control/modules/tempdeck.py
  api/src/opentrons/hardware_control/simulator.py
  api/src/opentrons/protocol_api/__init__.py
  api/src/opentrons/protocol_api/contexts.py
  api/src/opentrons/protocol_api/geometry.py
  api/src/opentrons/protocol_api/labware.py
  api/src/opentrons/types.py
  api/tests/opentrons/hardware_control/modules/test_hc_tempdeck.py
  api/tests/opentrons/protocol_api/test_accessor_fn.py
  api/tests/opentrons/protocol_api/test_context.py
  api/tests/opentrons/protocol_api/test_geometry.py
  api/tests/opentrons/protocol_api/test_labware.py
  api/tests/opentrons/protocol_api/test_offsets.py
  shared-data/definitions2/Opentrons_24_tuberack_1.5_mL_Eppendorf.json
  shared-data/definitions2/Opentrons_6x15_mL_4x50_mL_tuberack.json
  shared-data/definitions2/Opentrons_96_tiprack_300_uL.json
  shared-data/definitions2/biorad_96_wellPlate_pcr_200_uL.json
  shared-data/definitions2/generic_96_wellPlate_380_uL.json
  shared-data/js/__tests__/fixtures/irregularLabwareExample1.json
  shared-data/js/__tests__/fixtures/labwareExample.json
  shared-data/js/__tests__/fixtures/labwareExample2.json
  shared-data/js/labwareTools/__tests__/createIrregularLabware.test.js
  shared-data/js/labwareTools/index.js
  shared-data/labware-json-schema/labware-schema.json
  shared-data/robot-data/moduleSpecs.json
Labels: api, ready for review, refactor

#2710 docs(api): Fix incorrect labels for rows and columns in labware docs
  api/docs/source/labware.rst
Labels: api, docs

#2711 docs: Correct the link for changing robot gantry speed
  api/docs/source/robot.rst
Labels: chore, docs, ready for review

#2724 chore(release): 3.6.0-beta.1
  CHANGELOG.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/build/release-notes.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  lerna.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore

#2730 refactor(app): Remove padding from wifi connect form
  app/src/components/RobotSettings/SelectNetwork/styles.css
Labels: app, bug, ready for review

#2720 refactor(protocol-designer): rename selectors to start with "get"
  protocol-designer/src/components/FileSidebar/ConnectedFileSidebar.js
  protocol-designer/src/components/IngredientsList/LabwareDetailsCard/index.js
  protocol-designer/src/components/LabwareSelectionModal/index.js
  protocol-designer/src/components/LiquidPlacementForm/index.js
  protocol-designer/src/components/LiquidPlacementModal.js
  protocol-designer/src/components/SettingsPage/SettingsSidebar.js
  protocol-designer/src/components/SettingsPage/index.js
  protocol-designer/src/components/StepEditForm/ButtonRow.js
  protocol-designer/src/components/StepEditForm/FlowRateField/index.js
  protocol-designer/src/components/StepEditForm/FormAlerts.js
  protocol-designer/src/components/StepEditForm/FormSection.js
  protocol-designer/src/components/StepEditForm/TipPositionInput/index.js
  protocol-designer/src/components/StepEditForm/WellSelectionInput/WellSelectionModal.js
  protocol-designer/src/components/StepEditForm/WellSelectionInput/index.js
  protocol-designer/src/components/StepEditForm/formFields.js
  protocol-designer/src/components/StepEditForm/index.js
  protocol-designer/src/components/alerts/TimelineAlerts.js
  protocol-designer/src/components/labware/BrowseLabwareModal.js
  protocol-designer/src/components/modals/EditPipettesModal/index.js
  protocol-designer/src/components/steplist/StartingDeckStateTerminalItem.js
  protocol-designer/src/containers/Alerts.js
  protocol-designer/src/containers/ConnectedDeckSetup.js
  protocol-designer/src/containers/ConnectedFilePage.js
  protocol-designer/src/containers/ConnectedMainPanel.js
  protocol-designer/src/containers/ConnectedMoreOptionsModal.js
  protocol-designer/src/containers/ConnectedNav.js
  protocol-designer/src/containers/ConnectedNewFileModal.js
  protocol-designer/src/containers/ConnectedSidebar.js
  protocol-designer/src/containers/ConnectedStepItem.js
  protocol-designer/src/containers/ConnectedStepList.js
  protocol-designer/src/containers/ConnectedTitleBar.js
  protocol-designer/src/containers/HighlightableLabware.js
  protocol-designer/src/containers/IngredientsList.js
  protocol-designer/src/containers/LabwareContainer.js
  protocol-designer/src/containers/StepCreationButton.js
  protocol-designer/src/dismiss/selectors.js
  protocol-designer/src/file-data/selectors/commands.js
  protocol-designer/src/file-data/selectors/fileCreator.js
  protocol-designer/src/labware-ingred/actions.js
  protocol-designer/src/labware-ingred/reducers/index.js
  protocol-designer/src/load-file/selectors.js
  protocol-designer/src/navigation/selectors.js
  protocol-designer/src/pipettes/selectors.js
  protocol-designer/src/pipettes/thunks.js
  protocol-designer/src/steplist/actions/actions.js
  protocol-designer/src/steplist/actions/handleFormChange.js
  protocol-designer/src/steplist/actions/thunks.js
  protocol-designer/src/steplist/fieldLevel/index.js
  protocol-designer/src/steplist/selectors.js
  protocol-designer/src/top-selectors/substep-highlight.js
  protocol-designer/src/top-selectors/substeps.js
  protocol-designer/src/top-selectors/tip-contents/index.js
  protocol-designer/src/top-selectors/well-contents/__tests__/getWellContentsAllLabware.test.js
  protocol-designer/src/top-selectors/well-contents/getWellContentsAllLabware.js
  protocol-designer/src/top-selectors/well-contents/index.js
  protocol-designer/src/well-selection/actions.js
  protocol-designer/src/well-selection/selectors.js
Labels: protocol designer, ready for review, refactor

#2729 feat(protocol-designer): make multichannel substeps collapsed by default
  protocol-designer/src/components/steplist/MultiChannelSubstep.js
Labels: protocol designer, ready for review

#2727 feat(protocol-designer): add tooltip to advanced settings icon
  protocol-designer/src/components/StepEditForm/FormSection.js
  protocol-designer/src/localization/en/tooltip.json
Labels: protocol designer, ready for review

#2722 feat(protocol-designer): remove label from 200ul/300ul tiprack image
  protocol-designer/src/images/labware/Tiprack-200ul.png
Labels: protocol designer, ready for review

#2725 fix(api): Fix the flaky tempdeck test
  api/tests/opentrons/drivers/module_drivers/test_temp_deck_driver.py
Labels: api, fix, small

#2728 refactor(app): Add update in progress and restart screens
  app/src/components/RobotSettings/UpdateRobot/RestartRobotModal.js
  app/src/components/RobotSettings/UpdateRobot/SkipAppUpdateMessage.js
  app/src/components/RobotSettings/UpdateRobot/SyncRobotMessage.js
  app/src/components/RobotSettings/UpdateRobot/UpdateAppMessage.js
  app/src/components/RobotSettings/UpdateRobot/UpdateRobotModal.js
  app/src/components/RobotSettings/UpdateRobot/VersionList.js
  app/src/components/RobotSettings/UpdateRobot/index.js
  app/src/components/RobotSettings/UpdateRobot/styles.css
  app/src/components/RobotSettings/UpdateRobot/types.js
  app/src/pages/Robots/RobotSettings.js
Labels: app, ready for review

#2723 refactor(shared-data): rename slot width/height constants
  components/src/deck/ContainerNameOverlay.js
  components/src/deck/Deck.js
  components/src/deck/LabwareContainer.js
  components/src/deck/LabwareOutline.js
  components/src/deck/constants.js
  protocol-designer/src/components/SingleLabware.js
  protocol-designer/src/components/labware/LabwareOnDeck.js
  protocol-designer/src/constants.js
  shared-data/js/constants.js
  shared-data/js/getLabware.js
  shared-data/js/labwareTools/index.js
Labels: app, labware, protocol designer, ready for review, shared data

#2738 refactor(app): Add app update message and release notes toggle
  app/src/components/AppSettings/UpdateApp/RestartAppModal.js
  app/src/components/AppSettings/UpdateApp/UpdateAppMessage.js
  app/src/components/AppSettings/UpdateApp/UpdateAppModal.js
  app/src/components/AppSettings/UpdateApp/index.js
  app/src/components/AppSettings/UpdateApp/styles.css
  app/src/components/RobotSettings/ReachableRobotBanner.js
  app/src/pages/More/AppSettings.js
Labels: app, ready for review, refactor, small

#2744 fix(shared-data): fix total-liquid-volume of opentrons-tuberack-50ml
  api/src/opentrons/config/containers/default-containers.json
  shared-data/definitions/opentrons-tuberack-50ml.json
Labels: fix, labware

#2746 chore(release): 3.6.0
  CHANGELOG.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  lerna.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore

#2726 feat(protocol-designer): allow user to re-enable dismissed hints
  protocol-designer/src/components/SettingsPage/SettingsApp.js
  protocol-designer/src/components/SettingsPage/SettingsPage.css
  protocol-designer/src/components/SettingsPage/SettingsSidebar.js
  protocol-designer/src/components/SettingsPage/index.js
  protocol-designer/src/containers/ConnectedMainPanel.js
  protocol-designer/src/containers/ConnectedNav.js
  protocol-designer/src/containers/ConnectedSidebar.js
  protocol-designer/src/containers/ConnectedTitleBar.js
  protocol-designer/src/localization/en/button.json
  protocol-designer/src/localization/en/card.json
  protocol-designer/src/localization/en/nav.json
  protocol-designer/src/navigation/types.js
  protocol-designer/src/tutorial/actions.js
  protocol-designer/src/tutorial/reducers.js
  protocol-designer/src/tutorial/selectors.js
Labels: protocol designer, ready for review

#2714 feat(protocol-designer): drag and drop step reordering
  protocol-designer/package.json
  protocol-designer/src/components/steplist/DraggableStepItems.js
  protocol-designer/src/components/steplist/StepItem.js
  protocol-designer/src/components/steplist/StepList.js
  protocol-designer/src/containers/ConnectedStepList.js
  protocol-designer/src/steplist/actions/actions.js
  protocol-designer/src/steplist/reducers.js
  yarn.lock
Labels: feature, protocol designer, ready for review
