Repository Opentrons/opentrons, pull requests merged in 2018-08, with the labels that each got.

#1969 feat(api): Add clear method to RPC SessionManager
  api/opentrons/api/session.py
Labels: api, feature, small

#1967 feat(protocol-designer): change titles and names of start/end in timeline
  protocol-designer/src/components/StepEditForm/FormAlerts.js
  protocol-designer/src/components/lists/styles.css
  protocol-designer/src/components/steplist/StartingDeckStateTerminalItem.js
  protocol-designer/src/components/steplist/StepItem.js
  protocol-designer/src/components/steplist/StepList.js
  protocol-designer/src/components/steplist/TerminalItem/index.js
  protocol-designer/src/components/steplist/TimelineAlerts.js
  protocol-designer/src/constants.js
  protocol-designer/src/containers/Alerts.js
  protocol-designer/src/containers/ConnectedDeckSetup.js
  protocol-designer/src/containers/ConnectedStepItem.js
  protocol-designer/src/containers/ConnectedTitleBar.js
  protocol-designer/src/containers/LabwareContainer.js
  protocol-designer/src/containers/SelectablePlate.js
  protocol-designer/src/dismiss/actions.js
  protocol-designer/src/dismiss/reducers.js
  protocol-designer/src/dismiss/selectors.js
  protocol-designer/src/file-data/selectors/commands.js
  protocol-designer/src/form-types.js
  protocol-designer/src/steplist/actions/actions.js
  protocol-designer/src/steplist/constants.js
  protocol-designer/src/steplist/generateSubsteps.js
  protocol-designer/src/steplist/index.js
  protocol-designer/src/steplist/reducers.js
  protocol-designer/src/steplist/selectors.js
  protocol-designer/src/steplist/test/reducers.test.js
  protocol-designer/src/steplist/types.js
  protocol-designer/src/steplist/utils.js
  protocol-designer/src/top-selectors/substep-highlight.js
  protocol-designer/src/top-selectors/substeps.js
  protocol-designer/src/top-selectors/well-contents/index.js
Labels: protocol designer, ready for review

#1959 fix (api): Fix the database migration script geometry logic
  api/opentrons/config/containers/default-containers.json
  api/opentrons/data_storage/database_migration.py
Labels: api, bug, fix, ready for review

#1970 feat(compute): Use IPv4 link-local ethernet networking
  Dockerfile
  api-server-lib/Makefile
  api/Makefile
  compute/README.md
  compute/conf/inetd.conf
  compute/conf/nginx.conf
  compute/conf/radvd.conf
  compute/scripts/setup.sh
  compute/scripts/start.sh
  update-server/Makefile
Labels: api, feature, medium

#1991 feat(components): restyle field caption
  components/src/alerts/alerts.css
  components/src/forms/forms.css
  components/src/styles/colors.css
Labels: components, feature, ready for review

#1994 feat(protocol-designer): update copy for 'no tip on pipette' error
  protocol-designer/src/components/steplist/TimelineAlerts.js
Labels: protocol designer, ready for review

#1993 feat(protocol-designer): add max volume to ingred selection modal volume field
  components/src/forms/InputField.js
  protocol-designer/src/components/IngredientPropertiesForm.js
Labels: protocol designer, ready for review

#1987 feat(protocol-designer): save version in PD file with git-describe
  protocol-designer/README.md
  protocol-designer/package.json
  protocol-designer/src/file-data/selectors/fileCreator.js
  protocol-designer/webpack.config.js
  yarn.lock
Labels: protocol designer, ready for review, small

#2000 fix(api): support touch-tip for JSON protocols
  api/opentrons/protocols/__init__.py
Labels: api, fix

#2001 chore(release): 3.3.0-beta.1
  CHANGELOG.md
  api-server-lib/ot2serverlib/CHANGELOG.md
  api-server-lib/ot2serverlib/package.json
  api/opentrons/CHANGELOG.md
  api/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  lerna.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore, ready for review

#1958 feat(api): add modules to response on protocol load
  api/opentrons/api/session.py
Labels: api, ready for review

#1998 feat(protocol-designer): add 'drop tip' to 'dispense' section of form
  protocol-designer/src/components/StepEditForm/TransferLikeForm.js
  protocol-designer/src/form-types.js
  protocol-designer/src/steplist/fieldLevel/types.js
  protocol-designer/src/steplist/formProcessing.js
Labels: protocol designer, ready for review

#2003 feat(protocol-designer): rename change tip options
  protocol-designer/src/components/StepEditForm/MixForm.js
  protocol-designer/src/components/StepEditForm/TransferLikeForm.js
  protocol-designer/src/components/StepEditForm/formFields.js
  protocol-designer/src/constants.js
  protocol-designer/src/steplist/fieldLevel/index.js
  protocol-designer/src/steplist/formProcessing.js
Labels: protocol designer, ready for review

#2002 fix(protocol-designer): fix serialized name in ingred list
  protocol-designer/src/components/IngredientPropertiesForm.css
  protocol-designer/src/components/IngredientPropertiesForm.js
  protocol-designer/src/components/IngredientsList.js
  protocol-designer/src/components/WellToolTip.js
  protocol-designer/src/labware-ingred/__tests__/ingredients.test.js
  protocol-designer/src/labware-ingred/__tests__/selectors.test.js
  protocol-designer/src/labware-ingred/reducers/index.js
  protocol-designer/src/labware-ingred/types.js
  protocol-designer/src/top-selectors/well-contents/__tests__/wellContentsAllLabware.test.js
  protocol-designer/src/utils/index.js
  protocol-designer/src/utils/test/sortWells.test.js
  protocol-designer/src/well-selection/selectors.js
Labels: protocol designer, ready for review

#1988 feat(app): Add upload protocol warning modal
  api/opentrons/api/session.py
  app/src/components/UploadAlert/index.js
  app/src/components/UploadPanel/Upload.js
  app/src/components/UploadPanel/UploadInput.js
  app/src/components/UploadPanel/UploadWarning.js
  app/src/components/UploadPanel/index.js
  app/src/components/UploadPanel/upload-panel.css
  app/src/pages/Upload.js
  app/src/robot/actions.js
  app/src/robot/api-client/client.js
  app/src/robot/reducer/session.js
  app/src/robot/test/actions.test.js
  app/src/robot/test/session-reducer.test.js
Labels: app, feature, ready for review

#2004 feat(app): Add persistent unique user ID to intercom data
  app-shell/lib/config.js
  app/src/analytics/index.js
  app/src/config/index.js
  app/src/index.js
  app/src/support.js
Labels: app, feature, ready for review

#2010 feat(app): Add update channel selector to advanced settings
  app-shell/dev-app-update.yml
  app-shell/lib/config.js
  app-shell/lib/update.js
  app/src/components/AppSettings/AdvancedSettingsCard.js
  app/src/components/AppSettings/index.js
  app/src/components/controls/LabeledButton.js
  app/src/components/controls/LabeledControl.js
  app/src/components/controls/LabeledSelect.js
  app/src/components/controls/LabeledToggle.js
  app/src/components/controls/index.js
  app/src/components/controls/styles.css
  app/src/config/index.js
Labels: app, feature, ready for review, small

#2009 feat(api): implement GET /modules endpoint
  api/opentrons/api/models.py
  api/opentrons/api/session.py
  api/opentrons/drivers/mag_deck/driver.py
  api/opentrons/drivers/temp_deck/driver.py
  api/opentrons/modules/__init__.py
  api/opentrons/modules/magdeck.py
  api/opentrons/modules/tempdeck.py
  api/opentrons/robot/robot.py
  api/opentrons/server/endpoints/control.py
  api/tests/opentrons/labware/test_modules.py
  api/tests/opentrons/server/test_control_endpoints.py
Labels: api, feature, ready for review

#2013 build(app-shell): Switch to babel compiled source
  .babelrc
  .eslintignore
  app-shell/.babelrc
  app-shell/.gitignore
  app-shell/Makefile
  app-shell/lib/config.js
  app-shell/src/api-update.js
  app-shell/src/config.js
  app-shell/src/log.js
  app-shell/src/main.js
  app-shell/src/menu.js
  app-shell/src/ui.js
  app-shell/src/update.js
  app/__mocks__/electron.js
  package.json
  yarn.lock
Labels: app, chore, ready for review, small

#2014 feat(app): Enable download robot logs in advanced settings
  app-shell/src/main.js
  app-shell/src/robot-logs.js
  app/src/components/RobotSettings/AdvancedSettingsCard.js
  app/src/http-api-client/health.js
  app/src/shell/index.js
Labels: app, feature, ready for review

#2022 feat(api): bind labware instance to module on load when not simulating
  api/opentrons/modules/__init__.py
Labels: api, ready for review, small

#2027 fix(app): Fix copy typos in update error modal
  app/src/components/AppSettings/AppUpdateModal.js
Labels: app, bug, fix, ready for review

#2024 refactor(discovery-client): Switch out bonjour module with mdns-js
  discovery-client/__mocks__/bonjour.js
  discovery-client/__mocks__/mdns-js.js
  discovery-client/package.json
  discovery-client/src/__tests__/client.test.js
  discovery-client/src/index.js
  discovery-client/src/service.js
  flow-typed/npm/bonjour_v3.5.x.js
  flow-typed/npm/mdns-js_v1.0.x.js
  yarn.lock
Labels: app, ready for review, refactor

#2025 feat(compute): Add openjdk8 to container
  Dockerfile
Labels: chore, container

#2035 refactor(components, app): Standardize card components
  app/src/components/AppSettings/AppInfoCard.js
  app/src/components/InstrumentSettings/AttachedPipettesCard.js
  app/src/components/ModuleItem/NoModulesMessage.js
  app/src/components/ModuleItem/styles.css
  app/src/components/Resources/ResourceCard.js
  app/src/components/Resources/index.js
  app/src/components/Resources/styles.css
  app/src/components/RobotSettings/CalibrationCard.js
  app/src/components/RobotSettings/ConnectivityCard.js
  app/src/components/RobotSettings/InformationCard.js
  app/src/components/RobotSettings/StatusCard.js
  app/src/components/controls/styles.css
  app/src/components/layout/CardContentFlex.js
  app/src/components/layout/CardContentFull.js
  app/src/components/layout/CardContentHalf.js
  app/src/components/layout/CardContentQuarter.js
  app/src/components/layout/index.js
  app/src/components/layout/styles.css
  components/src/__tests__/__snapshots__/structure.test.js.snap
  components/src/structure/Card.js
  components/src/structure/Card.md
  components/src/structure/RefreshCard.md
  components/src/structure/structure.css
  protocol-designer/src/components/FilePage.css
  protocol-designer/src/components/FilePage.js
Labels: app, components, medium, ready for review, refactor

#2037 feat(api): Handle read-only thumb drive mount on OT2
  api/opentrons/config/__init__.py
  api/opentrons/data_storage/labware_definitions.py
  api/opentrons/instruments/instrument.py
  api/opentrons/robot/robot_configs.py
  api/opentrons/server/main.py
Labels: api, feature, ready for review

#2033 refactor(api): Generate empty log files if not found
  api/opentrons/server/main.py
  api/tests/opentrons/server/test_logs_endpoints.py
Labels: api, ready for review

#2036 refactor(app): Incorporate discovery-client into app-shell behind flag (1 of 2)
  Makefile
  app-shell/.babelrc
  app-shell/Makefile
  app-shell/package.json
  app-shell/src/__mocks__/config.js
  app-shell/src/__tests__/discovery.test.js
  app-shell/src/config.js
  app-shell/src/discovery.js
  app-shell/src/main.js
  app-shell/src/robot-logs.js
  app/Makefile
  app/src/discovery/__tests__/actions.test.js
  app/src/discovery/index.js
  app/src/discovery/types.js
  app/src/index.js
  app/src/reducer.js
  app/src/robot/api-client/client.js
  app/src/robot/test/api-client-discovery.test.js
  app/src/robot/types.js
  app/src/types.js
  discovery-client/.babelrc
  discovery-client/Makefile
  discovery-client/src/__tests__/client.test.js
  discovery-client/src/index.js
  package.json
  yarn.lock
Labels: app, medium, ready for review, refactor

#2045 refactor(app): Move discovery / optionally enable discovery-client (2 of 2)
  app/src/analytics/__tests__/make-event.test.js
  app/src/analytics/make-event.js
  app/src/components/ConnectPanel/index.js
  app/src/components/RobotSettings/ConnectivityCard.js
  app/src/config/index.js
  app/src/discovery/__tests__/actions.test.js
  app/src/discovery/__tests__/reducer.test.js
  app/src/discovery/__tests__/selectors.test.js
  app/src/discovery/index.js
  app/src/health-check/__tests__/health-check.test.js
  app/src/health-check/index.js
  app/src/http-api-client/__mocks__/health.js
  app/src/index.js
  app/src/robot/actions.js
  app/src/robot/api-client/client.js
  app/src/robot/api-client/discovery.js
  app/src/robot/reducer/connection.js
  app/src/robot/selectors.js
  app/src/robot/test/api-client-discovery.test.js
  app/src/robot/test/api-client.test.js
  app/src/robot/test/connection-reducer.test.js
  app/src/robot/test/selectors.test.js
Labels: app, blocked, medium, ready for review, refactor

#2056 build(make): Add method to override python on which to install pipenv
  CONTRIBUTING.md
  Makefile
Labels: chore

#2053 feat(api): publish module commands and make module data endpoint
  api/opentrons/__init__.py
  api/opentrons/commands/commands.py
  api/opentrons/commands/types.py
  api/opentrons/instruments/__init__.py
  api/opentrons/instruments/instrument.py
  api/opentrons/instruments/magbead.py
  api/opentrons/modules/__init__.py
  api/opentrons/modules/magdeck.py
  api/opentrons/modules/tempdeck.py
  api/opentrons/server/endpoints/control.py
  api/opentrons/server/main.py
  app/src/components/TempDeckStatusCard/index.js
  app/src/components/TempDeckStatusCard/styles.css
  app/src/http-api-client/modules.js
Labels: api, app, ready for review

#2064 docs(app-shell): Add missing configuration descriptions to README
  app-shell/README.md
Labels: app, docs, ready for review

#2055 feat(api): Consolidate pipette configuration
  .gitignore
  api/MANIFEST.in
  api/Makefile
  api/opentrons/deck_calibration/endpoints.py
  api/opentrons/instruments/pipette_config.py
  api/opentrons/robot/robot.py
  api/opentrons/robot/robot_configs.py
  api/opentrons/server/endpoints/control.py
  api/setup.py
  api/tests/opentrons/labware/test_pipette.py
  api/tests/opentrons/server/test_control_endpoints.py
  shared-data/robot-data/pipette-config.json
Labels: api, feature, small

#2060 feature(components): refactor Plate to Labware
  app/src/components/DeckMap/LabwareItem.js
  components/src/deck/ContainerNameOverlay.js
  components/src/deck/Deck.js
  components/src/deck/FallbackLabware.js
  components/src/deck/Labware.css
  components/src/deck/Labware.js
  components/src/deck/Labware.md
  components/src/deck/LabwareLabels.css
  components/src/deck/LabwareLabels.js
  components/src/deck/LabwareOutline.js
  components/src/deck/Plate.js
  components/src/deck/Plate.md
  components/src/deck/Tip.js
  components/src/deck/Well.css
  components/src/deck/Well.js
  components/src/deck/Well.md
  components/src/deck/constants.js
  components/src/deck/index.js
  components/src/styles/colors.css
  protocol-designer/src/components/SelectablePlate.js
  protocol-designer/src/components/SingleLabware.js
  protocol-designer/src/components/labware/LabwareOnDeck.js
  protocol-designer/src/components/modals/NewFileModal/TiprackDiagram.js
  protocol-designer/src/constants.js
  protocol-designer/src/containers/SelectablePlate.js
  shared-data/js/constants.js
  shared-data/js/getLabware.js
  shared-data/js/helpers/index.js
  shared-data/js/helpers/wellIsRect.js
  shared-data/js/index.js
Labels: components, protocol designer, ready for review

#2065 feat(app): Persist known robots to file-system when using new discovery
  app-shell/Makefile
  app-shell/__mocks__/electron-store.js
  app-shell/src/__tests__/discovery.test.js
  app-shell/src/config.js
  app-shell/src/discovery.js
  app/scripts/advertise-local-api.js
  app/src/config/index.js
  app/src/discovery/__tests__/reducer.test.js
  app/src/discovery/index.js
  app/src/index.js
  app/src/robot/selectors.js
  app/src/shell/index.js
  discovery-client/src/__tests__/client.test.js
  discovery-client/src/index.js
Labels: app, feature, medium, ready for review

#2067 refactor(app): Render AlertModals via portal
  app/src/components/App.js
  app/src/components/AppSettings/AppUpdateModal.js
  app/src/components/CalibrateDeck/NoPipetteModal.js
  app/src/components/ChangePipette/ExitAlertModal.js
  app/src/components/ClearDeckAlertModal/index.js
  app/src/components/ConfirmTipProbeModal/index.js
  app/src/components/LostConnectionAlert/index.js
  app/src/components/RobotSettings/ConnectAlertModal.js
  app/src/components/RobotSettings/WifiConnectModal.js
  app/src/components/analytics-settings/AnalyticsSettingsModal.js
  app/src/components/modals/ErrorModal.js
  app/src/components/portal/index.js
Labels: app, fix, ready for review, refactor, small

#2069 feat(app): Add robot name to intercom on connect
  app/src/support.js
Labels: app, feature, fix, ready for review, small

#2066 refactor(shared-data): replace dos with unix line endings in labware defs
  .gitattributes
  shared-data/definitions/12-well-plate.json
  shared-data/definitions/24-vial-rack.json
  shared-data/definitions/24-well-plate.json
  shared-data/definitions/384-plate.json
  shared-data/definitions/48-vial-plate.json
  shared-data/definitions/48-well-plate.json
  shared-data/definitions/5ml-3x4.json
  shared-data/definitions/6-well-plate.json
  shared-data/definitions/96-PCR-flat.json
  shared-data/definitions/96-PCR-tall.json
  shared-data/definitions/96-deep-well.json
  shared-data/definitions/96-flat.json
  shared-data/definitions/96-well-plate-20mm.json
  shared-data/definitions/MALDI-plate.json
  shared-data/definitions/PCR-strip-tall.json
  shared-data/definitions/T25-flask.json
  shared-data/definitions/T75-flask.json
  shared-data/definitions/alum-block-pcr-strips.json
  shared-data/definitions/e-gelgol.json
  shared-data/definitions/fixed-trash.json
  shared-data/definitions/hampton-1ml-deep-block.json
  shared-data/definitions/point.json
  shared-data/definitions/rigaku-compact-crystallization-plate.json
  shared-data/definitions/small_vial_rack_16x45.json
  shared-data/definitions/tiprack-1000ul-H.json
  shared-data/definitions/tiprack-1000ul-chem.json
  shared-data/definitions/tiprack-1000ul.json
  shared-data/definitions/tiprack-10ul-H.json
  shared-data/definitions/tiprack-10ul.json
  shared-data/definitions/tiprack-200ul.json
  shared-data/definitions/trash-box.json
  shared-data/definitions/trough-12row-short.json
  shared-data/definitions/trough-12row.json
  shared-data/definitions/trough-1row-25ml.json
  shared-data/definitions/tube-rack-.75ml.json
  shared-data/definitions/tube-rack-15_50ml.json
  shared-data/definitions/tube-rack-2ml-9x9.json
  shared-data/definitions/tube-rack-2ml.json
  shared-data/definitions/tube-rack-5ml-96.json
  shared-data/definitions/tube-rack-80well.json
  shared-data/definitions/wheaton_vial_rack.json
Labels: chore, ready for review

#2071 feat(api): calibrate modules on run, poll driver thread
  api/opentrons/api/session.py
  api/opentrons/drivers/temp_deck/driver.py
  api/opentrons/modules/tempdeck.py
  api/opentrons/server/endpoints/control.py
  api/tests/opentrons/drivers/module_drivers/test_temp_deck_driver.py
  app/src/components/TempDeckStatusCard/index.js
Labels: api, app, feature, ready for review

#2083 feat(app,api): Add opt-in ping/pong monitoring to RPC websocket
  api/opentrons/server/rpc.py
  api/tests/opentrons/server/test_server.py
  app/src/components/LostConnectionAlert/index.js
  app/src/health-check/__tests__/health-check.test.js
  app/src/health-check/index.js
  app/src/robot/actions.js
  app/src/robot/api-client/client.js
  app/src/robot/reducer/connection.js
  app/src/robot/selectors.js
  app/src/robot/test/api-client.test.js
  app/src/robot/test/connection-reducer.test.js
  app/src/rpc/client.js
  app/src/rpc/message-types.js
Labels: api, app, feature, ready for review

#2072 feat(discovery-client): Add CLI commands to find and SSH into a robot
  app-shell/src/discovery.js
  discovery-client/.npmignore
  discovery-client/Makefile
  discovery-client/README.md
  discovery-client/bin/discovery-ssh
  discovery-client/package.json
  discovery-client/src/__tests__/client.test.js
  discovery-client/src/cli.js
  discovery-client/src/index.js
  discovery-client/src/poller.js
  discovery-client/src/service.js
  discovery-client/src/types.js
  flow-typed/npm/escape-string-regexp_v1.x.x.js
  flow-typed/npm/mdns-js_v1.0.x.js
  flow-typed/npm/to-regex_v3.0.x.js
Labels: feature, medium, ready for review

#2074 feat(protocol-designer): display tip use across step timeline
  components/src/deck/Labware.js
  components/src/deck/Tip.js
  components/src/deck/Well.css
  protocol-designer/src/components/SelectablePlate.js
  protocol-designer/src/containers/SelectablePlate.js
  protocol-designer/src/top-selectors/tip-contents/index.js
Labels: protocol designer, ready for review

#2073 feat(compute,api,update-server): Move system configs out of Dockerfile
  Dockerfile
  Makefile
  RESIN_README.md
  api/MANIFEST.in
  api/opentrons/resources/api.service
  api/opentrons/resources/inetd.conf
  api/opentrons/resources/jupyter/jupyter_notebook_config.py
  api/opentrons/resources/nginx.conf
  api/opentrons/resources/ot-environ.sh
  api/opentrons/resources/scripts/announce_mdns.py
  api/opentrons/resources/scripts/calibrate
  api/opentrons/resources/scripts/lpc21isp
  api/opentrons/resources/scripts/miniterm
  api/opentrons/resources/scripts/mount_usb.py
  api/opentrons/resources/scripts/pipette_memory
  api/opentrons/resources/scripts/provision-api-resources
  api/opentrons/resources/scripts/setup.sh
  api/opentrons/resources/scripts/setup_gpio.py
  api/opentrons/resources/scripts/start.sh
  api/opentrons/resources/scripts/switches_lights
  api/pylama.ini
  api/setup.py
  compute/README.md
  compute/container_setup.sh
  compute/find_python_module_path.py
  compute/opentrons.motd
  compute/scripts/setup.sh
  compute/ssh_key_gen.sh
  compute/static/index.html
  update-server/otupdate/install.py
Labels: api, container, large, ready for review, refactor, update server

#2093 feat(api): Use the resin supervisor restart endpoint to restart
  api-server-lib/ot2serverlib/endpoints.py
Labels: api, feature, ready for review

#2087 refactor(api): Remove log.exception() in _parse_instrument_data()
  api/opentrons/drivers/smoothie_drivers/driver_3_0.py
Labels: api, easyfix

#2089 feat(compute,api,update): Add system version to health, allow resin pull
  Dockerfile
  api/opentrons/server/endpoints/__init__.py
  api/opentrons/server/main.py
  api/tests/opentrons/server/test_health_endpoints.py
  update-server/otupdate/__init__.py
  update-server/otupdate/endpoints.py
Labels: api, feature, ready for review, update server

#2086 fix(protocol-designer): tweak timeline alert copy
  protocol-designer/src/localization/en/alert.json
Labels: protocol designer, ready for review

#2090 feat(app): Enable support for IPv4 wired robots by default
  CONTRIBUTING.md
  Makefile
  app-shell/README.md
  app-shell/src/config.js
  app-shell/src/discovery.js
  app/Makefile
  app/package.json
  app/scripts/advertise-local-api.js
  app/src/components/calibrate-pipettes/Pipettes.js
  app/src/components/calibrate-pipettes/index.js
  app/src/config/index.js
  app/src/discovery/__tests__/actions.test.js
  app/src/discovery/__tests__/reducer.test.js
  app/src/discovery/index.js
  app/src/health-check/index.js
  app/src/pages/Calibrate/Pipettes.js
  app/src/pages/Robots/RobotSettings.js
  app/src/pages/Robots/index.js
  app/src/robot/actions.js
  app/src/robot/api-client/client.js
  app/src/robot/api-client/discovery.js
  app/src/robot/selectors.js
  app/src/robot/test/actions.test.js
  app/src/robot/test/api-client-discovery.test.js
  app/src/robot/test/selectors.test.js
  flow-typed/npm/superagent_vx.x.x.js
  package.json
  update-server/Makefile
  yarn.lock
Labels: app, feature, ready for review

#2104 fix(api-server-lib): Fix /server/restart failing in api-server-lib
  api-server-lib/ot2serverlib/endpoints.py
Labels: api, fix, ready for review

#2102 chore(release): 3.3.0
  CHANGELOG.md
  api-server-lib/ot2serverlib/CHANGELOG.md
  api-server-lib/ot2serverlib/package.json
  api/opentrons/CHANGELOG.md
  api/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  lerna.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore, ready for review

#2106 fix(app): Increase RPC ping threshhold to work around API lock
  app/src/rpc/client.js
Labels: app, bug, fix, ready for review

#2108 feat(app): Enable modules by default
  app-shell/src/config.js
  app/src/components/DeckMap/ConnectedSlotItem.js
  app/src/components/InstrumentSettings/AttachedModulesCard.js
  app/src/components/ReviewDeckModal/LabwareComponent.js
  app/src/components/RunPanel/index.js
  app/src/config/index.js
  app/src/pages/Calibrate/Labware.js
Labels: app, feature, ready for review

#2109 fix(protocol-designer): ensure that timeline alert message defaults
  protocol-designer/src/components/steplist/TimelineAlerts.js
  protocol-designer/src/step-generation/errorCreators.js
Labels: protocol designer

#2112 fix(api): QC script accepts paths with spaces by adding double-quotes
  api/opentrons/tools/factory_test.py
Labels: api, small

#2117 fix(app): Remove RPC call to session_manager.clear race condition
  app/src/components/UploadAlert/index.js
  app/src/components/UploadPanel/ConfirmUploadModal.js
  app/src/components/UploadPanel/Upload.js
  app/src/pages/Upload.js
  app/src/robot/actions.js
  app/src/robot/api-client/client.js
  app/src/robot/reducer/session.js
  app/src/robot/test/actions.test.js
  app/src/robot/test/session-reducer.test.js
Labels: app, fix, ready for review

#2118 fix(api): Prevent session creation while creation already in progress
  api/opentrons/api/session.py
Labels: api, bug, fix, ready for review

#2121 fix(compute): Make RUNNING_ON_PI available in env again
  Dockerfile
  Makefile
Labels: container, fix, ready for review, small

#2088 feat(app): Add reset robot UI with options
  api/opentrons/server/endpoints/settings.py
  api/tests/opentrons/server/test_settings_endpoints.py
  app/src/components/AppSettings/AdvancedSettingsCard.js
  app/src/components/AppSettings/AppInfoCard.js
  app/src/components/RobotSettings/AdvancedSettingsCard.js
  app/src/components/RobotSettings/ResetRobotModal.js
  app/src/components/controls/LabeledCheckbox.js
  app/src/components/controls/index.js
  app/src/components/controls/styles.css
  app/src/http-api-client/index.js
  app/src/http-api-client/reducer.js
  app/src/http-api-client/reset.js
  app/src/http-api-client/server.js
  app/src/pages/Robots/RobotSettings.js
  components/src/styles/typography.css
Labels: api, app, feature, ready for review

#2124 fix(api): Preserve preexisting instruments when homing
  api/opentrons/server/endpoints/control.py
  api/tests/opentrons/server/test_control_endpoints.py
Labels: api, fix

#2125 fix(app): route users to the correct place to change pipettes
  app/src/components/calibrate-pipettes/Pipettes.js
  app/src/pages/Calibrate/Pipettes.js
Labels: app, ready for review

#2126 fix(protocol-designer): fix gear size expanding with browser zoom
  protocol-designer/src/components/StepEditForm/FormSection.css
  protocol-designer/src/components/StepEditForm/FormSection.js
Labels: fix, protocol designer

#2023 fix(api): Fix WellSeries parsing for trough containers
  api/opentrons/instruments/pipette.py
Labels: api, ready for review

#2115 fix(api): Fix trough calibration location and add new container definitions
  api/opentrons/config/containers/default-containers.json
  api/opentrons/data_storage/database_migration.py
  api/opentrons/robot/robot.py
  api/pylama.ini
  api/tests/opentrons/conftest.py
  api/tests/opentrons/containers/test_default_containers.py
  api/tests/opentrons/containers/test_labware_fns.py
  api/tests/opentrons/database/test_database.py
  api/tests/opentrons/database/test_labware_definitions.py
  api/tests/opentrons/database/test_serializers.py
  api/tests/opentrons/labware/test_pipette.py
  api/tests/opentrons/robot/test_robot.py
  api/tests/opentrons/testing_database.db
Labels: api, bug, labware

#2147 fix(app): Add missing title to app info card
  app/src/components/AppSettings/AppInfoCard.js
Labels: app, bug, ready for review

#2143 feat(protocol-designer): well ordering advanced step setting
  api/opentrons/config/pipette-config.json
  components/src/__tests__/__snapshots__/forms.test.js.snap
  components/src/forms/DropdownField.js
  components/src/forms/RadioGroup.js
  protocol-designer/src/components/StepEditForm/MixForm.js
  protocol-designer/src/components/StepEditForm/StepEditForm.css
  protocol-designer/src/components/StepEditForm/TransferLikeForm.js
  protocol-designer/src/components/StepEditForm/WellOrderInput/WellOrderInput.css
  protocol-designer/src/components/StepEditForm/WellOrderInput/WellOrderModal.js
  protocol-designer/src/components/StepEditForm/WellOrderInput/WellOrderViz.js
  protocol-designer/src/components/StepEditForm/WellOrderInput/index.js
  protocol-designer/src/components/StepEditForm/WellOrderInput/types.js
  protocol-designer/src/constants.js
  protocol-designer/src/images/well_order_path.svg
  protocol-designer/src/images/well_order_wells.svg
  protocol-designer/src/images/zig_zag_icon.svg
  protocol-designer/src/localization/en/button.json
  protocol-designer/src/localization/en/index.js
  protocol-designer/src/localization/en/modal.json
  protocol-designer/src/localization/en/step_edit_form.json
  protocol-designer/src/steplist/fieldLevel/types.js
  protocol-designer/src/steplist/formLevel/generateNewForm.js
  protocol-designer/src/steplist/formLevel/index.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/index.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/mixFormToArgs.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/pauseFormToArgs.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/transferLikeFormToArgs.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/types.js
  protocol-designer/src/steplist/formProcessing.js
  protocol-designer/src/steplist/generateSubsteps.js
  protocol-designer/src/steplist/selectors.js
  protocol-designer/src/steplist/test/orderWells.test.js
  protocol-designer/src/steplist/utils.js
  protocol-designer/src/types.js
  protocol-designer/src/utils/index.js
Labels: large, protocol designer, ready for review

#2152 fix(protocol-designer): hide pre-wet tip asp/disp from substeps
  protocol-designer/src/steplist/generateSubsteps.js
Labels: fix, protocol designer, ready for review

#2153 feat(api): change magdeck engage height
  api/opentrons/modules/magdeck.py
Labels: ready for review

#2149 feat(protocol-designer): implement ui for flow rate
  components/src/forms/RadioGroup.js
  components/src/forms/forms.css
  protocol-designer/src/components/StepEditForm/FlowRateField/FlowRateField.css
  protocol-designer/src/components/StepEditForm/FlowRateField/FlowRateField.js
  protocol-designer/src/components/StepEditForm/FlowRateField/index.js
  protocol-designer/src/components/StepEditForm/MixForm.js
  protocol-designer/src/components/StepEditForm/StepEditForm.css
  protocol-designer/src/components/StepEditForm/TransferLikeForm.js
  protocol-designer/src/components/StepEditForm/formFields.js
  protocol-designer/src/steplist/fieldLevel/types.js
Labels: protocol designer, ready for review

#2163 feat(protocol-designer): add tooltips for step creation button
  components/src/tooltips/HoverTooltip.js
  protocol-designer/src/components/StepCreationButton.js
  protocol-designer/src/localization/en/button.json
  protocol-designer/src/localization/en/tooltip.json
Labels: protocol designer, ready for review

#2156 feat(protocol-designer): add tip position selection user flow
  components/src/__tests__/__snapshots__/icons.test.js.snap
  components/src/icons/icon-data.js
  protocol-designer/src/components/StepEditForm/MixForm.js
  protocol-designer/src/components/StepEditForm/TipPositionInput/TipPositionInput.css
  protocol-designer/src/components/StepEditForm/TipPositionInput/TipPositionModal.js
  protocol-designer/src/components/StepEditForm/TipPositionInput/TipPositionZAxisViz.js
  protocol-designer/src/components/StepEditForm/TipPositionInput/index.js
  protocol-designer/src/components/StepEditForm/TransferLikeForm.js
  protocol-designer/src/components/StepEditForm/formFields.js
  protocol-designer/src/constants.js
  protocol-designer/src/images/pipette_tip.svg
  protocol-designer/src/images/well_cross_section.svg
  protocol-designer/src/localization/en/modal.json
  protocol-designer/src/localization/en/step_edit_form.json
  protocol-designer/src/steplist/actions/handleFormChange.js
  protocol-designer/src/steplist/fieldLevel/types.js
  protocol-designer/src/steplist/formLevel/generateNewForm.js
Labels: protocol designer, ready for review

#2164 refactor(app): Move file upload logic to upload page
  app/src/components/UploadStatus/Status.js
  app/src/components/UploadStatus/index.js
  app/src/pages/Upload.js
Labels: app, ready for review, refactor

#2166 fix(api): delete accidental pipette-config.json
  api/opentrons/config/pipette-config.json
Labels: api, ready for review

#2162 feat(protocol-designer): default form fields from old protocols
  protocol-designer/src/components/StepEditForm/TipPositionInput/index.js
  protocol-designer/src/steplist/formLevel/generateNewForm.js
  protocol-designer/src/steplist/reducers.js
Labels: protocol designer

#2165 feat(protocol-designer): restyle selected TitledList carat hover
  components/src/__tests__/__snapshots__/lists.test.js.snap
  components/src/lists/TitledList.js
  components/src/lists/lists.css
Labels: components, protocol designer, ready for review

#2154 feat(protocol-designer): flow rate field more dependent on pipette
  components/src/forms/InputField.js
  components/src/forms/forms.css
  protocol-designer/src/components/StepEditForm/FlowRateField/FlowRateField.js
  protocol-designer/src/components/StepEditForm/FlowRateField/index.js
  protocol-designer/src/steplist/actions/handleFormChange.js
Labels: protocol designer, ready for review
