Repository Opentrons/opentrons, pull requests merged in 2018-02, with the labels that each got.

#795 Add list function and compatibility test for all new labware
  api/opentrons/data_storage/labware_definitions.py
  api/tests/opentrons/database/test_labware_definitions.py
  api/tests/opentrons/database/test_serializers.py
Labels: api, feature, labware, ready for review, small

#798 Add jupyter server to robot
  Dockerfile
  compute/conf/nginx.conf
  compute/scripts/start.sh
Labels: container, feature, small

#799 Add save functions for user labware definitions and offsets
  api/opentrons/data_storage/labware_definitions.py
  api/opentrons/data_storage/serializers.py
  api/tests/opentrons/database/test_labware_definitions.py
Labels: api, labware, ready for review

#804 chore(frontend): Consolidate lint config, tasks, and docs to repo level
  .eslintignore
  .eslintrc.js
  .stylelintrc.js
  .travis.yml
  CONTRIBUTING.md
  Makefile
  README.md
  app-shell/Makefile
  app-shell/README.md
  app-shell/package.json
  app-shell/yarn.lock
  app/Makefile
  app/README.md
  app/package.json
  app/src/components/App.css
  app/src/components/App.global.css
  app/src/components/RunControl.css
  app/src/components/RunLog.css
  app/src/components/RunNotifications.css
  app/src/components/ToolTip.css
  app/src/components/Upload.css
  components/Makefile
  components/README.md
  components/package.json
  package.json
  protocol-designer/Makefile
  protocol-designer/package.json
  protocol-designer/src/components/IngredientPropertiesForm.css
  protocol-designer/src/components/IngredientsList.css
  yarn.lock
Labels: chore, ready for review

#801 Pipette at safe(r) height when moving between labwares
  api/opentrons/api/calibration.py
  api/opentrons/robot/mover.py
  api/opentrons/robot/robot.py
  api/opentrons/util/calibration_functions.py
  api/tests/opentrons/protocol/test_robot.py
Labels: api, bug, ready for review

#800 refactor(app): Implement visual UX feedback for calibration flow
  app/src/components/CalibrateDeck/LabwareItem.js
  app/src/components/LabwareCalibration/ConfirmModal.js
  app/src/components/LabwareCalibration/ConfirmPositionDiagram.js
  app/src/components/LabwareCalibration/InfoBox.js
  app/src/components/LabwareCalibration/styles.css
  app/src/components/ReviewDeckModal/LabwareComponent.js
  app/src/components/ReviewDeckModal/Prompt.js
  app/src/components/ReviewDeckModal/styles.css
  app/src/components/TipProbe/ContinuePanel.js
  app/src/components/TipProbe/index.js
  app/src/components/setup-panel/DeckCalibrationGroup.js
  app/src/components/setup-panel/InstrumentList.js
  app/src/components/setup-panel/InstrumentListItem.js
  app/src/components/setup-panel/LabwareListItem.js
  app/src/components/setup-panel/RunButton.js
  app/src/components/setup-panel/RunMessage.js
  app/src/components/setup-panel/index.js
  app/src/components/setup-panel/styles.css
  app/src/pages/SetupDeck.js
  app/src/pages/SetupInstruments.js
  components/src/deck/LabwareContainer.css
Labels: app, ready for review, refactor, small

#797 refactor(app): Cleanup most legacy icon/button usage in favor of complib
  .eslintrc.js
  app/src/components/App.css
  app/src/components/App.global.css
  app/src/components/Button.js
  app/src/components/Icon.js
  app/src/components/Page.js
  app/src/components/Splash.css
  app/src/components/Splash.js
  app/src/components/Upload.css
  app/src/components/Upload.js
  app/src/components/icons.css
  app/src/components/icons.js
  app/src/components/upload-panel/UploadInput.js
  app/src/components/upload-panel/UploadWarning.js
  app/src/components/upload-panel/upload-panel.css
  app/src/interface/index.js
  components/src/buttons/Button.js
  components/src/buttons/FlatButton.md
  components/src/buttons/PrimaryButton.js
  components/src/buttons/PrimaryButton.md
  components/src/icons/Icon.md
  components/src/icons/icon-data.js
  components/src/styles/typography.css
Labels: app, ready for review, refactor, small

#802 retracts slowly away from Y endstop when homing
  api/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/tests/opentrons/drivers/test_driver.py
Labels: api, bug, ready for review

#805 build(make): Refactor Makefiles for windows compatibility
  .travis.yml
  Makefile
  app-shell/Makefile
  app-shell/package.json
  app-shell/yarn.lock
  app/Makefile
  app/package.json
  appveyor.yml
  components/Makefile
  components/package.json
  protocol-designer/Makefile
  protocol-designer/package.json
  scripts/env-vars-appveyor
  yarn.lock
Labels: chore, ready for review

#824 feat(app): Add HTTP API client and health state to robots
  app-shell/lib/main.js
  app/package.json
  app/src/http-api-client/__mocks__/client.js
  app/src/http-api-client/__mocks__/health.js
  app/src/http-api-client/__tests__/client.test.js
  app/src/http-api-client/__tests__/health.test.js
  app/src/http-api-client/client.js
  app/src/http-api-client/health.js
  app/src/http-api-client/index.js
  app/src/index.js
  app/src/reducer.js
  app/src/robot/api-client/discovery.js
  app/src/robot/api-client/worker.js
  app/src/robot/index.js
  app/src/robot/reducer/connection.js
  app/src/robot/selectors.js
  app/src/robot/test/api-client-discovery.test.js
  app/src/robot/test/connection-reducer.test.js
  app/src/robot/test/selectors.test.js
  app/src/robot/types.js
  app/src/types.js
  yarn.lock
Labels: app, feature, ready for review

#827 build(make): Add flow-typed install to make install task
  Makefile
  app-shell/Makefile
  app/Makefile
  components/Makefile
  protocol-designer/Makefile
Labels: fix

#830 build(make): Fix concurrently color messing with yarn bin output
  app/Makefile
Labels: bug, ready for review

#823 stringify list of Placeables
  api/opentrons/commands/commands.py
Labels: api, bug, small

#833 Add labware definitions
  api/tests/opentrons/database/test_labware_definitions.py
  api/tests/opentrons/database/test_serializers.py
  labware-definitions/definitions/GEB-tiprack-300ul.json
  labware-definitions/definitions/tube-rack-5ml-96.json
Labels: labware, ready for review, small

#834 chore(app): Enable redux devtools extension
  app/package.json
  app/src/index.js
  yarn.lock
Labels: app, chore

#836 Session parses list of placeables
  api/opentrons/api/session.py
  api/opentrons/commands/commands.py
  api/opentrons/containers/__init__.py
  api/opentrons/containers/placeable.py
Labels: api, bug, small

#837 Assert that parsed axis values include all 6 axis
  api/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/tests/opentrons/drivers/test_driver.py
Labels: api, bug, ready for review

#782 increases default plunger speeds
  api/opentrons/instruments/pipette_config.py
Labels: api, ready for review, small

#840 Comp inverted buttons
  app/src/components/ReviewDeckModal/Prompt.js
  components/src/__tests__/__snapshots__/buttons.test.js.snap
  components/src/__tests__/buttons.test.js
  components/src/buttons/Button.js
  components/src/buttons/FlatButton.js
  components/src/buttons/FlatButton.md
  components/src/buttons/IconButton.js
  components/src/buttons/IconButton.md
  components/src/buttons/OutlineButton.js
  components/src/buttons/OutlineButton.md
  components/src/buttons/PrimaryButton.js
  components/src/buttons/PrimaryButton.md
  components/src/buttons/buttons.css
  components/src/lists/ListItem.js
  components/styleguide.config.js
Labels: app, chore, components, small

#835 PD: Deck setup step, deck setup mode
  protocol-designer/src/components/StepItem.js
  protocol-designer/src/components/StepList.js
  protocol-designer/src/steplist/actions.js
  protocol-designer/src/steplist/constants.js
  protocol-designer/src/steplist/generateSubsteps.js
  protocol-designer/src/steplist/reducers.js
  protocol-designer/src/steplist/types.js
Labels: protocol designer, ready for review

#843 Relative gcodes during y-homing retract
  api/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/tests/opentrons/drivers/test_driver.py
Labels: api, bug, ready for review, small

#841 feat(app): Add /wifi/list and /wifi/status to HTTP API client
  app/README.md
  app/src/http-api-client/__mocks__/client.js
  app/src/http-api-client/__mocks__/health.js
  app/src/http-api-client/__tests__/health.test.js
  app/src/http-api-client/__tests__/wifi.test.js
  app/src/http-api-client/client.js
  app/src/http-api-client/health.js
  app/src/http-api-client/index.js
  app/src/http-api-client/types.js
  app/src/http-api-client/wifi.js
  app/src/index.js
  app/src/robot/api-client/discovery.js
  app/src/robot/api-client/worker.js
Labels: app, ready for review

#845 feat(app,api): Refactor /wifi/list to provide signal and active flag
  api/opentrons/server/endpoints.py
  api/tests/opentrons/server/test_wifi_endpoints.py
  app/src/http-api-client/__tests__/wifi.test.js
  app/src/http-api-client/client.js
  app/src/http-api-client/health.js
  app/src/http-api-client/wifi.js
Labels: BREAKING CHANGE, api, app, feature

#846 Change default log level to info and adjust level of log statements
  api/opentrons/__init__.py
  api/opentrons/api/calibration.py
  api/opentrons/api/models.py
  api/opentrons/api/session.py
  api/opentrons/robot/robot_configs.py
  api/opentrons/server/endpoints.py
  api/opentrons/server/main.py
  api/opentrons/server/rpc.py
  api/opentrons/util/movement.py
Labels: api, chore

#849 feat(complib): Add generic AlertModal component
  components/src/__tests__/__snapshots__/modals.test.js.snap
  components/src/__tests__/modals.test.js
  components/src/modals/AlertModal.js
  components/src/modals/AlertModal.md
  components/src/modals/ContinueModal.js
  components/src/modals/ContinueModal.md
  components/src/modals/Modal.js
  components/src/modals/Overlay.js
  components/src/modals/index.js
  components/src/modals/modals.css
Labels: components, feature, ready for review

#847 (complib, pd) add 3 icons; restyle PD labware overlays
  components/src/deck/LabwareContainer.css
  components/src/icons/Icon.md
  components/src/icons/icon-data.js
  protocol-designer/src/components/NameThisLabwareOverlay.js
  protocol-designer/src/components/labware/ClickableText.js
  protocol-designer/src/components/labware/LabwareOnDeck.js
  protocol-designer/src/components/labware/NameThisLabwareOverlay.js
  protocol-designer/src/components/labware/index.js
  protocol-designer/src/components/labware/labware.css
  protocol-designer/src/containers/LabwareContainer.js
Labels: protocol designer, ready for review

#869 only engages the plunger that is being moved
  api/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/tests/opentrons/drivers/test_driver.py
Labels: api, bug, ready for review, small

#825 Pd consolidate commands
  protocol-designer/src/step-generation/aspirate.js
  protocol-designer/src/step-generation/blowout.js
  protocol-designer/src/step-generation/consolidate.js
  protocol-designer/src/step-generation/data.js
  protocol-designer/src/step-generation/dispense.js
  protocol-designer/src/step-generation/dropTip.js
  protocol-designer/src/step-generation/index.js
  protocol-designer/src/step-generation/replaceTip.js
  protocol-designer/src/step-generation/robotStateSelectors.js
  protocol-designer/src/step-generation/test-with-flow/aspirate.test.js
  protocol-designer/src/step-generation/test-with-flow/blowout.test.js
  protocol-designer/src/step-generation/test-with-flow/consolidate.test.js
  protocol-designer/src/step-generation/test-with-flow/dispense.test.js
  protocol-designer/src/step-generation/test-with-flow/dropTip.test.js
  protocol-designer/src/step-generation/test-with-flow/fixtures.js
  protocol-designer/src/step-generation/test-with-flow/replaceTip.test.js
  protocol-designer/src/step-generation/test-with-flow/robotStateSelectors.test.js
  protocol-designer/src/step-generation/test-with-flow/touchTip.test.js
  protocol-designer/src/step-generation/test-with-flow/utils.test.js
  protocol-designer/src/step-generation/touchTip.js
  protocol-designer/src/step-generation/types.js
  protocol-designer/src/step-generation/utils.js
  protocol-designer/src/steplist/types.js
Labels: protocol designer, ready for review

#868 refactor(app-shell): Remove unused app-shell files (auto-update prep)
  app-shell/electron-builder.json
  app-shell/lib/main.js
  app-shell/lib/menu.js
  app-shell/lib/preferences.js
  app-shell/lib/updater.js
  app-shell/package.json
  app-shell/yarn.lock
Labels: app, chore, refactor

#872 increases p10 pick_up_tip current to 0.1 amps
  api/opentrons/instruments/pipette_config.py
Labels: api, bug, ready for review, small

#829 Api high z during calibration
  api/opentrons/api/calibration.py
  api/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/opentrons/instruments/pipette.py
  api/opentrons/robot/mover.py
  api/opentrons/robot/robot.py
  api/tests/opentrons/labware/test_pipette.py
  api/tests/opentrons/protocol/test_robot.py
Labels: api, ready for review

#880 refactor(api): Refactor /wifi/configure to respond with JSON
  Dockerfile
  Makefile
  api/opentrons/server/endpoints.py
  api/tests/opentrons/server/test_wifi_endpoints.py
Labels: api, ready for review, refactor

#882 feat(app): Add configureWifi action creator to call /wifi/configure
  app/src/http-api-client/__tests__/client.test.js
  app/src/http-api-client/__tests__/wifi.test.js
  app/src/http-api-client/client.js
  app/src/http-api-client/health.js
  app/src/http-api-client/index.js
  app/src/http-api-client/types.js
  app/src/http-api-client/wifi.js
Labels: app, feature, ready for review

#749 Adds protections on containers.load() if container is not in db
  api/opentrons/config/containers/default-containers.json
  api/opentrons/robot/robot.py
  api/tests/opentrons/containers/test_old_container_loading.py
Labels: api, small

#883 feat(app): Add Connectivity card WiFi network to robot settings page
  app/src/components/RobotSettings/ConnectivityCard.js
  app/src/components/RobotSettings/index.js
  app/src/components/RobotSettings/styles.css
  app/src/http-api-client/health.js
  app/src/http-api-client/wifi.js
  app/src/robot/selectors.js
  app/src/robot/test/selectors.test.js
  app/src/robot/types.js
  components/src/structure/structure.css
Labels: app, feature, ready for review

#884 fix(app): Disconnect old rpcClient if it exists on new connect
  app/src/robot/api-client/client.js
  app/src/robot/test/api-client.test.js
Labels: app, fix, ready for review

#885 feat(app): Add InformationCard with name + server version to robot page
  app/src/components/RobotSettings/InformationCard.js
  app/src/components/RobotSettings/index.js
Labels: app, feature, ready for review

#879 Revert "Revert "Add jupyter server to robot""
  Dockerfile
  compute/conf/jupyter_notebook_config.py
  compute/scripts/start.sh
Labels: container, ready for review

#887 feat(app): Add ConnectAlertModal for failed robot connection attempts
  app/src/components/RobotSettings/ConnectAlertModal.js
  app/src/components/RobotSettings/index.js
  app/src/pages/Robots.js
  app/src/robot/actions.js
  app/src/robot/reducer/connection.js
  app/src/robot/selectors.js
  app/src/robot/test/actions.test.js
  app/src/robot/test/connection-reducer.test.js
Labels: app, feature, ready for review

#888 fix(complib): Do not allow flexbox to shrink the side panel
  components/src/structure/SidePanel.css
Labels: components, fix, ready for review

#892 fix(complib): Use default offset of (0,0) if missing from container
  components/src/deck/Plate.js
Labels: components, fix, ready for review

#878 Update robot position after robot.reset()
  api/opentrons/robot/robot.py
Labels: api, bug, ready for review

#877 PD: factor out ingred locations
  protocol-designer/src/containers/IngredientsList.js
  protocol-designer/src/labware-ingred/__tests__/ingredients.test.js
  protocol-designer/src/labware-ingred/actions.js
  protocol-designer/src/labware-ingred/reducers/index.js
  protocol-designer/src/labware-ingred/types.js
Labels: protocol designer, ready for review

#889 Pd type labware ingred reducers
  .eslintrc.js
  protocol-designer/src/components/Accordion.js
  protocol-designer/src/components/Button.js
  protocol-designer/src/components/ForeignDiv.js
  protocol-designer/src/components/IngredientPropertiesForm.js
  protocol-designer/src/components/IngredientSelectionModal.js
  protocol-designer/src/components/IngredientsList.js
  protocol-designer/src/components/LabwareDropdown.js
  protocol-designer/src/components/SelectablePlate.js
  protocol-designer/src/components/SelectionRect.js
  protocol-designer/src/components/StepDescription.js
  protocol-designer/src/components/WellToolTip.js
  protocol-designer/src/constants.js
  protocol-designer/src/containers/ConnectedDeckSetup.js
  protocol-designer/src/containers/ConnectedMoreOptionsModal.js
  protocol-designer/src/containers/ConnectedNav.js
  protocol-designer/src/containers/ConnectedStepEditForm.js
  protocol-designer/src/containers/HoverableWell.js
  protocol-designer/src/containers/IngredientPropertiesForm.js
  protocol-designer/src/containers/IngredientsList.js
  protocol-designer/src/containers/LabwareContainer.js
  protocol-designer/src/containers/LabwareDropdown.js
  protocol-designer/src/containers/SelectablePlate.js
  protocol-designer/src/containers/SelectorDebugger.js
  protocol-designer/src/containers/StepCreationButton.js
  protocol-designer/src/labware-ingred/actions.js
  protocol-designer/src/labware-ingred/reducers/index.js
  protocol-designer/src/labware-ingred/types.js
  protocol-designer/src/steplist/types.js
  protocol-designer/src/types.js
Labels: protocol designer, ready for review

#899 feat(api): Add robot name to GET /health
  api/opentrons/server/endpoints.py
  api/tests/opentrons/server/test_health_endpoints.py
  app/src/http-api-client/__tests__/health.test.js
  app/src/http-api-client/health.js
Labels: api, app, feature, ready for review

#897 Taller fixed trash and probe box
  api/opentrons/config/containers/default-containers.json
  api/opentrons/robot/robot.py
  api/opentrons/robot/robot_configs.py
  api/opentrons/util/calibration_functions.py
  api/tests/opentrons/api/test_session.py
  api/tests/opentrons/cli/test_cli.py
  api/tests/opentrons/containers/test_default_containers.py
  api/tests/opentrons/containers/test_old_container_loading.py
  api/tests/opentrons/database/test_labware_definitions.py
  api/tests/opentrons/integration/foo.py
  api/tests/opentrons/integration/move_robot.py
  api/tests/opentrons/integration/test_protocol.py
  api/tests/opentrons/protocol/test_robot.py
  api/tests/opentrons/robot/test_robots_config.py
  api/tests/opentrons/testing_database.db
  api/tests/opentrons/util/test_tip_probe.py
  labware-definitions/definitions/tall-fixed-trash.json
Labels: api, medium, ready for review

#898 feat(app): Add wifi configuration to ConnectivityCard
  app/src/components/RobotSettings/ConfigureWifiForm.js
  app/src/components/RobotSettings/ConnectivityCard.js
  app/src/components/RobotSettings/inputs.js
  app/src/components/RobotSettings/styles.css
  app/src/http-api-client/__tests__/wifi.test.js
  app/src/http-api-client/wifi.js
  components/src/__tests__/__snapshots__/buttons.test.js.snap
  components/src/__tests__/__snapshots__/forms.test.js.snap
  components/src/__tests__/__snapshots__/modals.test.js.snap
  components/src/__tests__/__snapshots__/structure.test.js.snap
  components/src/buttons/Button.js
  components/src/forms/DropdownField.js
  components/src/forms/InputField.js
  components/src/forms/forms.css
  components/src/forms/index.js
  protocol-designer/src/components/StepEditForm.js
Labels: app, feature, ready for review

#896 Add about page
  app/src/components/App.js
  app/src/components/AppSettings/AppInfoCard.js
  app/src/components/AppSettings/index.js
  app/src/components/AppSettings/styles.css
  app/src/components/menu-panel/index.js
  app/src/components/menu-panel/styles.css
  app/src/components/nav-bar/NavButton.js
  app/src/components/side-panel/index.js
  app/src/interface/index.js
  app/src/pages/AppSettings.js
  components/src/icons/icon-data.js
  components/src/lists/ListItem.js
Labels: app, feature, ready for review

#902 refactor(app): Refactor HTTP API selectors for usability
  app/src/components/RobotSettings/ConnectivityCard.js
  app/src/components/RobotSettings/InformationCard.js
  app/src/http-api-client/__tests__/health.test.js
  app/src/http-api-client/__tests__/wifi.test.js
  app/src/http-api-client/health.js
  app/src/http-api-client/index.js
  app/src/http-api-client/types.js
  app/src/http-api-client/wifi.js
  app/src/robot/selectors.js
  app/src/robot/test/selectors.test.js
  app/src/robot/types.js
Labels: app, ready for review, refactor

#803 Raise pipette after drop-tip to help loose tips fall off
  api/opentrons/_version.py
  api/opentrons/instruments/pipette.py
Labels: api, bug, ready for review, small

#839 Api direct movements within well
  api/opentrons/instruments/pipette.py
  api/tests/opentrons/labware/test_pipette.py
Labels: api, feature, ready for review

#908 Add tentative update app modal
  app/src/components/AppSettings/AppInfoCard.js
  app/src/components/AppSettings/AppUpdateModal.js
  app/src/components/AppSettings/index.js
  app/src/pages/AppSettings.js
Labels: app, feature, ready for review

#912 Refactor update
  .gitignore
  api/Makefile
  api/opentrons/server/endpoints.py
  api/opentrons/server/main.py
  api/tests/opentrons/server/test_update_endpoints.py
  compute/conf/inetd.conf
  compute/conf/nginx.conf
  compute/scripts/extract_update.py
  compute/scripts/setup.sh
  compute/scripts/start.sh
  compute/scripts/updates.sh
Labels: api, feature, ready for review

#894 Pd ingred editor form & ingred sidebar restyle
  .eslintrc.js
  components/src/__tests__/__snapshots__/buttons.test.js.snap
  components/src/__tests__/__snapshots__/forms.test.js.snap
  components/src/__tests__/__snapshots__/icons.test.js.snap
  components/src/__tests__/__snapshots__/lists.test.js.snap
  components/src/__tests__/__snapshots__/structure.test.js.snap
  components/src/buttons/Button.js
  components/src/deck/Deck.js
  components/src/forms/CheckboxField.js
  components/src/forms/InputField.js
  components/src/icons/Icon.js
  components/src/icons/Icon.md
  components/src/icons/icon-data.js
  components/src/index.js
  components/src/lists/TitledList.js
  components/src/robot-types.js
  components/src/structure/TitleBar.js
  protocol-designer/src/components/Button.js
  protocol-designer/src/components/Form.css
  protocol-designer/src/components/IngredientPropertiesForm.css
  protocol-designer/src/components/IngredientPropertiesForm.js
  protocol-designer/src/components/IngredientSelectionModal.css
  protocol-designer/src/components/IngredientSelectionModal.js
  protocol-designer/src/components/IngredientsList.css
  protocol-designer/src/components/IngredientsList.js
  protocol-designer/src/components/LabwareDropdown.js
  protocol-designer/src/components/ProtocolEditor.css
  protocol-designer/src/components/ProtocolEditor.js
  protocol-designer/src/components/SelectablePlate.js
  protocol-designer/src/components/SelectionRect.js
  protocol-designer/src/components/StepDescription.css
  protocol-designer/src/components/StepDescription.js
  protocol-designer/src/components/StepEditForm.js
  protocol-designer/src/components/modals/MoreOptionsModal.css
  protocol-designer/src/containers/ConnectedDeckSetup.js
  protocol-designer/src/containers/ConnectedMoreOptionsModal.js
  protocol-designer/src/containers/ConnectedNav.js
  protocol-designer/src/containers/ConnectedSidebar.js
  protocol-designer/src/containers/ConnectedStepEditForm.js
  protocol-designer/src/containers/ConnectedStepList.js
  protocol-designer/src/containers/ConnectedTitleBar.js
  protocol-designer/src/containers/IngredientsList.js
  protocol-designer/src/containers/LabwareContainer.js
  protocol-designer/src/containers/SelectablePlate.js
  protocol-designer/src/containers/SelectorDebugger.js
  protocol-designer/src/containers/StepCreationButton.js
  protocol-designer/src/labware-ingred/actions.js
  protocol-designer/src/labware-ingred/reducers/index.js
  protocol-designer/src/labware-ingred/types.js
  protocol-designer/src/navigation/index.js
  protocol-designer/src/navigation/reducers.js
  protocol-designer/src/navigation/selectors.js
  protocol-designer/src/navigation/types.js
  protocol-designer/src/step-generation/types.js
  protocol-designer/src/steplist/actions.js
  protocol-designer/src/steplist/reducers.js
  protocol-designer/src/types.js
Labels: components, protocol designer, ready for review

#900 (complib) update Plate label styles
  components/.babelrc
  components/interfaces/default-containers.json.js
  components/src/deck/Plate.css
  components/src/deck/Plate.js
  components/src/labware-types.js
  components/src/styles/typography.css
Labels: components, ready for review

#919 feat(components): Add RefreshCard (Card for displaying refreshable data)
  components/src/__tests__/__snapshots__/structure.test.js.snap
  components/src/__tests__/structure.test.js
  components/src/structure/LabeledValue.js
  components/src/structure/RefreshCard.js
  components/src/structure/RefreshCard.md
  components/src/structure/index.js
  components/src/structure/structure.css
Labels: components, feature, ready for review

#917 (app, complib) factor out InstrumentDiagram to complib
  app/package.json
  app/src/components/setup-instruments/InstrumentInfo.js
  components/package.json
  components/src/__mocks__/file.js
  components/src/__tests__/__snapshots__/instrument-diagram.test.js.snap
  components/src/__tests__/instrument-diagram.test.js
  components/src/index.js
  components/src/instrument-diagram/InstrumentDiagram.js
  components/src/instrument-diagram/InstrumentDiagram.md
  components/src/instrument-diagram/index.js
  components/src/instrument-diagram/pipetteMulti.png
  components/src/instrument-diagram/pipetteSingle.png
  components/styleguide.config.js
  protocol-designer/package.json
Labels: app, components, ready for review, small

#914 feat(app): Add failure/success modal after wifi connect response
  app/src/components/RobotSettings/ConnectivityCard.js
  app/src/components/RobotSettings/WifiConnectForm.js
  app/src/components/RobotSettings/WifiConnectModal.js
  app/src/http-api-client/__tests__/wifi.test.js
  app/src/http-api-client/index.js
  app/src/http-api-client/wifi.js
  app/src/robot/api-client/discovery.js
Labels: app, feature, ready for review

#922 Revise format of feature flags and remove dead code and comments
  api/opentrons/config/feature_flags.py
  api/opentrons/robot/robot.py
  api/opentrons/robot/robot_configs.py
Labels: api, chore

#920 feat(app, api): Handle WiFi join failure
  api/opentrons/server/endpoints.py
  api/tests/opentrons/server/test_wifi_endpoints.py
  app/src/components/RobotSettings/ConnectivityCard.js
  app/src/components/RobotSettings/WifiConnectForm.js
  app/src/components/RobotSettings/WifiConnectModal.js
  app/src/http-api-client/__tests__/client.test.js
  app/src/http-api-client/client.js
  app/src/http-api-client/health.js
  app/src/http-api-client/index.js
  app/src/http-api-client/types.js
  app/src/http-api-client/wifi.js
Labels: api, app, feature, ready for review

#924 (pd) File page form
  components/src/forms/DropdownField.js
  components/src/forms/RadioGroup.js
  protocol-designer/src/components/FilePage.css
  protocol-designer/src/components/FilePage.js
  protocol-designer/src/components/FormSection.js
  protocol-designer/src/components/ProtocolEditor.js
  protocol-designer/src/components/StepEditForm.js
  protocol-designer/src/configureStore.js
  protocol-designer/src/containers/ConnectedFilePage.js
  protocol-designer/src/containers/ConnectedMainPanel.js
  protocol-designer/src/file-data/actions.js
  protocol-designer/src/file-data/index.js
  protocol-designer/src/file-data/reducers/index.js
  protocol-designer/src/file-data/types.js
  protocol-designer/src/navigation/reducers/index.js
  protocol-designer/src/types.js
  protocol-designer/src/utils.js
Labels: protocol designer, ready for review

#925 (pd) component-only FileSidebar
  protocol-designer/src/components/FileSidebar.css
  protocol-designer/src/components/FileSidebar.js
  protocol-designer/src/containers/ConnectedSidebar.js
Labels: protocol designer, ready for review

#923 Add AlertIcon to the component library
  components/src/__tests__/__snapshots__/icons.test.js.snap
  components/src/__tests__/icons.test.js
  components/src/icons/NotificationIcon.js
  components/src/icons/NotificationIcon.md
  components/src/icons/icons.css
  components/src/icons/index.js
  components/styleguide.config.js
Labels: components, question, ready for review

#928 Make pick_up_tip press incrementally further
  api/opentrons/instruments/pipette.py
  api/tests/opentrons/labware/test_pipette.py
Labels: api, feature, small

#926 refactor(app): Add flow to connect actions and some of analytics module
  app/src/analytics/events-map.js
  app/src/analytics/index.js
  app/src/analytics/make-event.js
  app/src/analytics/test/make-event.test.js
  app/src/analytics/test/middleware.test.js
  app/src/index.js
  app/src/interface/index.js
  app/src/interface/test/reducer.test.js
  app/src/robot/actions.js
  app/src/robot/api-client/client.js
  app/src/robot/api-client/worker.js
  app/src/robot/reducer/calibration.js
  app/src/robot/reducer/connection.js
  app/src/robot/reducer/session.js
  app/src/robot/test/actions.test.js
  app/src/robot/test/calibration-reducer.test.js
  app/src/robot/test/connection-reducer.test.js
  app/src/robot/test/session-reducer.test.js
Labels: app, ready for review, refactor

#929 Improve redux flow types in the app and enable flow linting
  .eslintrc.js
  app/src/analytics/index.js
  app/src/components/RobotSettings/WifiConnectModal.js
  app/src/components/TipProbe/UnprobedPanel.js
  app/src/components/setup-panel/InstrumentList.js
  app/src/http-api-client/health.js
  app/src/http-api-client/wifi.js
  app/src/interface/index.js
  app/src/robot/actions.js
  app/src/types.js
  components/src/buttons/Button.js
  components/src/deck/Plate.js
  components/src/modals/AlertModal.js
  components/src/modals/Modal.js
  components/src/modals/Overlay.js
  components/src/structure/PageTabs.js
  protocol-designer/src/components/labware/LabwareOnDeck.js
  protocol-designer/src/labware-ingred/actions.js
  protocol-designer/src/step-generation/types.js
Labels: ready for review, refactor

#931 Remove save parameter on containers.create
  api/opentrons/containers/__init__.py
  api/tests/opentrons/containers/test_containers.py
Labels: api, fix

#932 Update NavBar Buttons
  app/src/components/nav-bar/NavButton.js
  components/src/__tests__/__snapshots__/icons.test.js.snap
  components/src/__tests__/__snapshots__/nav.test.js.snap
  components/src/__tests__/__snapshots__/structure.test.js.snap
  components/src/__tests__/icons.test.js
  components/src/__tests__/nav.test.js
  components/src/__tests__/structure.test.js
  components/src/icons/Icon.md
  components/src/icons/icon-data.js
  components/src/index.js
  components/src/nav/NavButton.js
  components/src/nav/NavButton.md
  components/src/nav/SidePanel.css
  components/src/nav/SidePanel.js
  components/src/nav/VerticalNavBar.js
  components/src/nav/index.js
  components/src/nav/navbar.css
  components/src/structure/index.js
Labels: app, components, ready for review, small

#930 (pd) NewFileModal comp; modal style cleanup
  protocol-designer/src/components/FilePage.js
  protocol-designer/src/components/ProtocolEditor.css
  protocol-designer/src/components/ProtocolEditor.js
  protocol-designer/src/components/modals/MoreOptionsModal.css
  protocol-designer/src/components/modals/MoreOptionsModal.js
  protocol-designer/src/components/modals/NewFileModal.css
  protocol-designer/src/components/modals/NewFileModal.js
  protocol-designer/src/components/modals/modal.css
  protocol-designer/src/css/globals.css
Labels: protocol designer, ready for review

#933 (app, complib) factor out InstrumentGroup & related
  app/src/components/setup-instruments/Instruments.js
  app/src/robot/types.js
  components/package.json
  components/src/__mocks__/file.js
  components/src/__tests__/__snapshots__/instrument-diagram.test.js.snap
  components/src/__tests__/instrument-diagram.test.js
  components/src/instrument-diagram/InfoItem.js
  components/src/instrument-diagram/InfoItem.md
  components/src/instrument-diagram/InstrumentGroup.js
  components/src/instrument-diagram/InstrumentGroup.md
  components/src/instrument-diagram/InstrumentInfo.js
  components/src/instrument-diagram/index.js
  components/src/instrument-diagram/instrument.css
  components/src/robot-types.js
  protocol-designer/src/step-generation/types.js
  protocol-designer/src/steplist/types.js
Labels: app, components, ready for review

#936 Pd new file modal -- submits
  protocol-designer/src/components/ProtocolEditor.js
  protocol-designer/src/components/modals/NewFileModal.js
  protocol-designer/src/containers/ConnectedFilePage.js
  protocol-designer/src/containers/ConnectedFileSidebar.js
  protocol-designer/src/containers/ConnectedMainPanel.js
  protocol-designer/src/containers/ConnectedNav.js
  protocol-designer/src/containers/ConnectedNewFileModal.js
  protocol-designer/src/containers/ConnectedSidebar.js
  protocol-designer/src/containers/ConnectedTitleBar.js
  protocol-designer/src/file-data/actions.js
  protocol-designer/src/file-data/reducers/index.js
  protocol-designer/src/file-data/types.js
  protocol-designer/src/navigation/actions.js
  protocol-designer/src/navigation/reducers/index.js
  protocol-designer/src/navigation/selectors.js
  protocol-designer/src/navigation/types.js
Labels: protocol designer, ready for review

#935 Add and use feature flag switch for new labware definitions
  Dockerfile
  api/opentrons/config/feature_flags.py
  api/opentrons/containers/placeable.py
  api/opentrons/data_storage/database.py
  api/opentrons/data_storage/labware_definitions.py
  api/opentrons/data_storage/serializers.py
  api/tests/opentrons/api/test_calibration.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/containers/test_containers.py
Labels: api, feature, medium
