Repository Opentrons/opentrons, pull requests merged in 2018-03, with the labels that each got.

#937 Api deck calibration endpoints
  api/opentrons/deck_calibration/__init__.py
  api/opentrons/deck_calibration/dc_main.py
  api/opentrons/deck_calibration/endpoints.py
  api/opentrons/deck_calibration/linal.py
  api/opentrons/robot/robot.py
  api/opentrons/server/endpoints.py
  api/opentrons/server/main.py
  api/tests/opentrons/cli/test_cli.py
  api/tests/opentrons/cli/test_linal.py
  api/tests/opentrons/server/test_calibration_endpoints.py
  compute/scripts/calibrate
Labels: api, feature, medium, ready for review

#940 feat(app): Add health check to http api module
  app/src/http-api-client/__mocks__/health.js
  app/src/http-api-client/__tests__/health-check.test.js
  app/src/http-api-client/health-check.js
  app/src/http-api-client/index.js
  app/src/http-api-client/wifi.js
  app/src/index.js
  app/src/robot/actions.js
  app/src/robot/api-client/worker.js
  app/src/robot/selectors.js
  app/src/robot/types.js
  app/src/types.js
Labels: app, feature, ready for review

#943 refactor(app): Remove unexpected disconnect check to simplify RPC API client
  app/src/index.js
  app/src/interface/README.md
  app/src/interface/index.js
  app/src/interface/test/middleware.test.js
  app/src/robot/actions.js
  app/src/robot/api-client/client.js
  app/src/robot/reducer/connection.js
  app/src/robot/test/actions.test.js
  app/src/robot/test/api-client.test.js
  app/src/robot/test/connection-reducer.test.js
  app/src/rpc/client.js
Labels: app, fix, ready for review, refactor

#949 (app, complib, pd) factor out Splash from app
  app/src/components/Splash.css
  app/src/components/Splash.js
  app/src/components/Upload.js
  app/src/pages/Home.js
  app/src/pages/Robots.js
  components/src/__tests__/__snapshots__/structure.test.js.snap
  components/src/__tests__/structure.test.js
  components/src/icons/Icon.md
  components/src/icons/icon-data.js
  components/src/structure/Splash.css
  components/src/structure/Splash.js
  components/src/structure/Splash.md
  components/src/structure/index.js
  components/styleguide.config.js
  protocol-designer/src/containers/ConnectedMainPanel.js
Labels: app, components, protocol designer, ready for review

#945 Pd generate consolidate file
  protocol-designer/src/components/modals/NewFileModal.js
  protocol-designer/src/containers/ConnectedStepEditForm.js
  protocol-designer/src/containers/SelectorDebugger.js
  protocol-designer/src/file-data/index.js
  protocol-designer/src/file-data/pipetteData.js
  protocol-designer/src/file-data/reducers/index.js
  protocol-designer/src/file-data/selectors/commands.js
  protocol-designer/src/file-data/selectors/fileCreator.js
  protocol-designer/src/file-data/selectors/fileFields.js
  protocol-designer/src/file-data/selectors/index.js
  protocol-designer/src/labware-ingred/reducers/index.js
  protocol-designer/src/labware-ingred/types.js
  protocol-designer/src/step-generation/types.js
  protocol-designer/src/steplist/formProcessing.js
  protocol-designer/src/steplist/generateSubsteps.js
  protocol-designer/src/steplist/reducers.js
  protocol-designer/src/steplist/test/generateSubsteps.test.js
  protocol-designer/src/steplist/types.js
Labels: protocol designer, ready for review

#947 Add Run NavButton in NavBar
  app/src/components/RunControl.css
  app/src/components/RunControl.js
  app/src/components/RunLog.css
  app/src/components/nav-bar/NavButton.js
  app/src/components/run-panel/RunControls.js
  app/src/components/run-panel/RunTimer.js
  app/src/components/run-panel/index.js
  app/src/components/run-panel/styles.css
  app/src/components/setup-panel/RunButton.js
  app/src/components/setup-panel/RunMessage.js
  app/src/components/setup-panel/RunPanel.js
  app/src/components/setup-panel/index.js
  app/src/components/side-panel/index.js
  app/src/interface/index.js
  app/src/pages/Run.js
  app/src/robot/selectors.js
  components/src/__tests__/__snapshots__/nav.test.js.snap
  components/src/lists/SidePanelGroup.js
  components/src/nav/NavButton.js
  components/src/nav/navbar.css
Labels: app, components, feature, large, ready for review

#948 feat(app): Show AlertModal with instructions after health check failure
  app/src/components/LostConnectionAlert/ModalCopy.js
  app/src/components/LostConnectionAlert/index.js
  app/src/components/LostConnectionAlert/styles.css
  app/src/components/Page.js
  app/src/http-api-client/__tests__/health-check.test.js
  app/src/http-api-client/health-check.js
  app/src/robot/api-client/client.js
  app/src/robot/selectors.js
Labels: app, feature, ready for review

#983 ci(js): Temporarily disable flow typechecking in CI
  Makefile
Labels: bug, fix, ready for review

#984 refactor(app): Sync SidePanel with Page via react-router
  app/src/components/App.js
  app/src/components/ConnectPanel/RobotItem.js
  app/src/components/ConnectPanel/RobotList.js
  app/src/components/ConnectPanel/ScanButton.js
  app/src/components/ConnectPanel/ScanStatus.js
  app/src/components/ConnectPanel/connect-panel.css
  app/src/components/ConnectPanel/index.js
  app/src/components/LostConnectionAlert/index.js
  app/src/components/MenuPanel/index.js
  app/src/components/MenuPanel/styles.css
  app/src/components/RunPanel/RunControls.js
  app/src/components/RunPanel/RunTimer.js
  app/src/components/RunPanel/index.js
  app/src/components/RunPanel/styles.css
  app/src/components/SetupPanel/DeckCalibrationGroup.js
  app/src/components/SetupPanel/InstrumentList.js
  app/src/components/SetupPanel/InstrumentListItem.js
  app/src/components/SetupPanel/LabwareList.js
  app/src/components/SetupPanel/LabwareListItem.js
  app/src/components/SetupPanel/TipRackList.js
  app/src/components/SetupPanel/index.js
  app/src/components/SetupPanel/styles.css
  app/src/components/Upload.js
  app/src/components/UploadPanel/UploadInput.js
  app/src/components/UploadPanel/UploadWarning.js
  app/src/components/UploadPanel/index.js
  app/src/components/UploadPanel/upload-panel.css
  app/src/components/connect-panel/index.js
  app/src/components/menu-panel/index.js
  app/src/components/nav-bar/NavButton.js
  app/src/components/nav-bar/index.js
  app/src/components/side-panel/index.js
  app/src/containers/UploadStatus.js
  app/src/interface/README.md
  app/src/interface/index.js
  app/src/interface/test/actions.test.js
  app/src/interface/test/reducer.test.js
  app/src/interface/test/selectors.test.js
  app/src/pages/Home.js
  app/src/pages/SidePanel.js
  app/src/reducer.js
  app/src/robot/api-client/client.js
  app/src/robot/selectors.js
  components/src/__tests__/nav.test.js
  components/src/lists/ListItem.js
  components/src/nav/NavButton.js
Labels: app, fix, refactor

#988 refactor(app): Refactor calibrate urls to reflect actual nav flow
  app/src/components/App.js
  app/src/components/CalibrateDeck/ConnectedLabwareItem.js
  app/src/components/LabwareCalibration/InfoBox.js
  app/src/components/LostConnectionAlert/ModalCopy.js
  app/src/components/SetupPanel/InstrumentListItem.js
  app/src/components/SetupPanel/LabwareListItem.js
  app/src/components/TipProbe/ContinuePanel.js
  app/src/components/Upload.js
  app/src/components/nav-bar/NavButton.js
  app/src/components/setup-instruments/InstrumentTabs.js
  app/src/pages/Calibrate.js
  app/src/pages/SidePanel.js
  app/src/robot/api-client/client.js
Labels: app, ready for review, refactor

#838 Pipette model offsets
  api/opentrons/__init__.py
  api/opentrons/deck_calibration/dc_main.py
  api/opentrons/instruments/pipette.py
  api/opentrons/instruments/pipette_config.py
  api/opentrons/robot/robot.py
  api/opentrons/robot/robot_configs.py
  api/opentrons/util/calibration_functions.py
  api/tests/opentrons/data/tip_probe.py
  api/tests/opentrons/util/test_tip_probe.py
Labels: api, ready for review

#989 API detect attached pipette and write Serial number
  api/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/opentrons/instruments/pipette_config.py
  api/opentrons/tools/__init__.py
  api/opentrons/tools/write_pipette_memory.py
Labels: api, feature, ready for review

#993 Add AlertItem to components library
  components/src/__tests__/__snapshots__/alerts.test.js.snap
  components/src/__tests__/__snapshots__/icons.test.js.snap
  components/src/__tests__/alerts.test.js
  components/src/__tests__/icons.test.js
  components/src/alerts/AlertItem.js
  components/src/alerts/AlertItem.md
  components/src/alerts/alerts.css
  components/src/alerts/index.js
  components/src/icons/Icon.md
  components/src/icons/icon-data.js
  components/src/index.js
  components/styleguide.config.js
Labels: components, feature, ready for review, small

#992 chore(app): Avoid hostname collisions in dev mdns advertisement
  app/scripts/advertise-local-api.js
  app/src/robot/api-client/discovery.js
Labels: chore, ready for review

#997 fix(app): Fix regressions introduced by #947 and #984
  app/src/components/App.js
  app/src/components/nav-bar/NavButton.js
Labels: app, fix, ready for review

#987 (pd) add all possible pipettes to setup; show pipette InstrumentGroup
  components/src/instrument-diagram/InstrumentGroup.md
  components/src/instrument-diagram/index.js
  protocol-designer/src/components/FilePage.js
  protocol-designer/src/containers/ConnectedFilePage.js
  protocol-designer/src/containers/ConnectedNewFileModal.js
  protocol-designer/src/file-data/actions.js
  protocol-designer/src/file-data/pipetteData.js
  protocol-designer/src/file-data/reducers/index.js
  protocol-designer/src/file-data/selectors/commands.js
  protocol-designer/src/file-data/selectors/fileFields.js
  protocol-designer/src/file-data/selectors/index.js
  protocol-designer/src/file-data/selectors/pipettes.js
  protocol-designer/src/file-data/types.js
Labels: protocol designer, ready for review

#1002 (complib, app, pd) Update InstrumentGroup to take left/right props
  app/src/components/setup-instruments/Instruments.js
  components/src/__tests__/instrument-diagram.test.js
  components/src/instrument-diagram/InstrumentGroup.js
  components/src/instrument-diagram/InstrumentGroup.md
  protocol-designer/src/components/FilePage.js
  protocol-designer/src/containers/ConnectedFilePage.js
Labels: app, chore, components, protocol designer, ready for review

#1001 PD: ingredients have instances with volume, not an overall group volume
  components/src/deck/Plate.js
  components/src/deck/Well.js
  protocol-designer/src/collision-types.js
  protocol-designer/src/components/IngredientPropertiesForm.js
  protocol-designer/src/components/IngredientsList.js
  protocol-designer/src/components/SelectablePlate.js
  protocol-designer/src/components/SelectionRect.js
  protocol-designer/src/components/labware/LabwareOnDeck.js
  protocol-designer/src/containers/IngredientPropertiesForm.js
  protocol-designer/src/containers/IngredientsList.js
  protocol-designer/src/containers/LabwareContainer.js
  protocol-designer/src/containers/SelectablePlate.js
  protocol-designer/src/labware-ingred/__tests__/ingredients.test.js
  protocol-designer/src/labware-ingred/__tests__/selectors.test.js
  protocol-designer/src/labware-ingred/actions.js
  protocol-designer/src/labware-ingred/reducers/index.js
  protocol-designer/src/labware-ingred/types.js
  protocol-designer/src/navigation/selectors.js
  protocol-designer/src/utils.js
Labels: components, protocol designer, ready for review

#1013 chore(py): Align dev and CI Python version with prod
  .python-version
  .travis.yml
  api/.python-version
  scripts/install-osx
Labels: api, chore, ready for review

#1006 Pd liquid state in robot state
  protocol-designer/src/file-data/__tests__/commandsSelectors.test.js
  protocol-designer/src/file-data/selectors/commands.js
  protocol-designer/src/file-data/selectors/fileCreator.js
  protocol-designer/src/labware-ingred/reducers/index.js
  protocol-designer/src/labware-ingred/types.js
  protocol-designer/src/step-generation/test-with-flow/dropTip.test.js
  protocol-designer/src/step-generation/test-with-flow/fixtures.js
  protocol-designer/src/step-generation/test-with-flow/replaceTip.test.js
  protocol-designer/src/step-generation/test-with-flow/robotStateSelectors.test.js
  protocol-designer/src/step-generation/types.js
Labels: protocol designer, ready for review

#893 Api driver disable motor
  api/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/tests/opentrons/drivers/test_driver.py
Labels: api, feature, ready for review

#1007 (pd) added splitLiquid & mergeLiquid fns with tests
  protocol-designer/src/step-generation/test-with-flow/utils.test.js
  protocol-designer/src/step-generation/utils.js
Labels: protocol designer, ready for review

#991 Api: prevent overheating by dwelling inactive axes
  api/opentrons/api/calibration.py
  api/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/opentrons/robot/robot_configs.py
  api/tests/opentrons/drivers/test_driver.py
Labels: api, feature, ready for review

#1012 PD & Labware Defs: 8-channel access
  .eslintignore
  Makefile
  labware-definitions/.babelrc
  labware-definitions/Makefile
  labware-definitions/definitions/MALDI-plate.json
  labware-definitions/js/__tests__/computeWellAccess.test.js
  labware-definitions/js/__tests__/definition-schema.test.js
  labware-definitions/js/computeWellAccess.js
  labware-definitions/js/getLabware.js
  labware-definitions/js/index.js
  labware-definitions/js/schema.js
  labware-definitions/js/scripts/build.js
  labware-definitions/js/types.js
  labware-definitions/package.json
  protocol-designer/package.json
  yarn.lock
Labels: labware, ready for review

#1014 chore(api): Update API dev deps for cross-platform Python 3.6.4
  Makefile
  api/Makefile
  api/Pipfile
  api/Pipfile.lock
  api/setup.py
Labels: api, chore, ready for review

#1018 Add factory calibration card
  app/src/components/RobotSettings/CalibrationCard.js
  app/src/components/RobotSettings/index.js
  app/src/components/RobotSettings/styles.css
  components/src/structure/Card.js
  components/src/structure/Card.md
  components/src/structure/structure.css
  components/src/styles/typography.css
Labels: app, components, ready for review

#1025 chore(api): Update Makefile to be more Windows friendly
  CONTRIBUTING.md
  api/Makefile
Labels: api, chore, ready for review

#1029 Recover from depressed limit switch during non-home commands
  api/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/opentrons/robot/robot.py
  api/tests/opentrons/drivers/test_driver.py
Labels: api, fix, ready for review

#1022 API: Catch JSON decode errors on robot config
  api/opentrons/robot/robot_configs.py
  api/tests/opentrons/robot/test_robots_config.py
Labels: api, bug, ready for review

#1027 feat(app-shell): Bundle API update wheel in desktop app
  app-shell/Makefile
  app-shell/README.md
  app-shell/electron-builder.json
  app-shell/lib/api-update.js
  app-shell/lib/main.js
Labels: app, feature, ready for review

#1037 API: public driver methods for writing/reading pipette memory
  api/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/opentrons/tools/write_pipette_memory.py
  api/tests/opentrons/drivers/test_driver.py
Labels: api, small

#1016 API: Adds QC test for machine gpio, switches, and lights
  api/opentrons/drivers/rpi_drivers/gpio.py
  api/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/opentrons/robot/robot.py
  api/opentrons/tools/test_gpio.py
  api/tests/opentrons/drivers/rpi_drivers/test_gpio.py
  compute/scripts/miniterm
  compute/scripts/pipette_memory
  compute/scripts/setup_gpio.py
  compute/scripts/switches_lights
Labels: api, feature, ready for review

#1026 App add attached pipettes card
  app/src/components/Page.css
  app/src/components/RobotSettings/AttachedInstrumentsCard.js
  app/src/components/RobotSettings/InstrumentInfo.js
  app/src/components/RobotSettings/index.js
  app/src/components/RobotSettings/styles.css
  components/src/structure/structure.css
Labels: app, components, feature, ready for review

#1043 chore(*): Sync versions to 3.0.0-beta.0
  api/opentrons/_version.py
  api/version
  app-shell/package.json
  app/package.json
  components/package.json
  labware-definitions/package.json
  package.json
  protocol-designer/package.json
  scripts/bump_version.py
  webpack-config/package.json
Labels: chore, ready for review

#1042 Disable jest parallelism: add --runInBand option to all jest calls
  components/Makefile
  labware-definitions/Makefile
  protocol-designer/Makefile
Labels: chore, ready for review

#1020 PD: Liquid tracking for aspirate
  protocol-designer/src/step-generation/aspirate.js
  protocol-designer/src/step-generation/test-with-flow/aspirate.test.js
  protocol-designer/src/step-generation/test-with-flow/blowout.test.js
  protocol-designer/src/step-generation/test-with-flow/consolidate.test.js
  protocol-designer/src/step-generation/test-with-flow/dispense.test.js
  protocol-designer/src/step-generation/test-with-flow/dropTip.test.js
  protocol-designer/src/step-generation/test-with-flow/fixtureGeneration.test.js
  protocol-designer/src/step-generation/test-with-flow/fixtures.js
  protocol-designer/src/step-generation/test-with-flow/replaceTip.test.js
  protocol-designer/src/step-generation/test-with-flow/robotStateSelectors.test.js
  protocol-designer/src/step-generation/test-with-flow/touchTip.test.js
  protocol-designer/src/step-generation/test-with-flow/utils.test.js
  protocol-designer/src/step-generation/types.js
  protocol-designer/src/step-generation/utils.js
Labels: protocol designer, ready for review

#1045 Add endpoint for reading pipette model info and organize endpoint files
  .gitignore
  api/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/opentrons/robot/robot.py
  api/opentrons/server/endpoints/__init__.py
  api/opentrons/server/endpoints/control.py
  api/opentrons/server/endpoints/update.py
  api/opentrons/server/endpoints/wifi.py
  api/opentrons/server/main.py
  api/tests/opentrons/drivers/test_driver.py
  api/tests/opentrons/server/test_control_endpoints.py
  api/tests/opentrons/server/test_update_endpoints.py
Labels: api, feature, ready for review, refactor

#1039 Api: Speaker-test
  Dockerfile
Labels: container, small

#1052 API: refine write-pipette-memory script for new return values
  api/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/opentrons/tools/write_pipette_memory.py
Labels: api, bug, ready for review, small

#1046 Api: QC camera and USB flash drive
  Dockerfile
  api/opentrons/tools/test_camera.py
Labels: api

#1053 Add command to run user boot scripts and update compute docs
  compute/README.md
  compute/scripts/start.sh
Labels: container, docs, feature, ready for review, small

#1051 Add API client actions for /server/update and /server/restart
  app-shell/lib/api-update.js
  app-shell/lib/main.js
  app-shell/package.json
  app-shell/yarn.lock
  app/__mocks__/electron.js
  app/package.json
  app/src/http-api-client/__tests__/client.test.js
  app/src/http-api-client/__tests__/server.test.js
  app/src/http-api-client/client.js
  app/src/http-api-client/index.js
  app/src/http-api-client/server.js
  app/src/robot/api-client/discovery.js
  yarn.lock
Labels: app, blocked, feature, ready for review

#1055 feat(app): Add update available state and wire to robot info card
  app-shell/lib/api-update.js
  app/__mocks__/electron.js
  app/src/components/RobotSettings/InformationCard.js
  app/src/http-api-client/__tests__/server.test.js
  app/src/http-api-client/__tests__/wifi.test.js
  app/src/http-api-client/index.js
  app/src/http-api-client/server.js
Labels: app, feature, ready for review

#1062 fix(app-shell): Fix dev/prod electron version mismatch
  app-shell/electron-builder.json
Labels: app, bug, fix, ready for review

#1054 PD liquid tracking: Dispense
  protocol-designer/src/step-generation/dispense.js
  protocol-designer/src/step-generation/test-with-flow/dispense.test.js
  protocol-designer/src/step-generation/test-with-flow/fixtures.js
  protocol-designer/src/step-generation/test-with-flow/utils.test.js
  protocol-designer/src/step-generation/utils.js
Labels: protocol designer, ready for review

#1056 feat(app): Add request/response state for /server/[update,restart]
  app/src/http-api-client/__tests__/server.test.js
  app/src/http-api-client/server.js
Labels: app, feature, ready for review

#1057 feat(app): Add MVP robot update modal
  app-shell/lib/api-update.js
  app/src/components/RobotSettings/InformationCard.js
  app/src/components/RobotSettings/UpdateModal.js
  app/src/components/RobotSettings/index.js
  app/src/components/RobotSettings/styles.css
  app/src/http-api-client/__tests__/server.test.js
  app/src/http-api-client/index.js
  app/src/http-api-client/server.js
  components/src/buttons/Button.js
  components/src/structure/structure.css
Labels: app, feature, ready for review

#1058 feat(app): Wire request states to robot update modal
  app/src/components/RobotSettings/UpdateModal.js
  app/src/http-api-client/__tests__/server.test.js
  app/src/http-api-client/index.js
  app/src/http-api-client/server.js
  components/src/modals/AlertModal.js
Labels: app, feature, ready for review

#1068 Add info and control endpoints for disengage axes
  api/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/opentrons/server/endpoints/control.py
  api/opentrons/server/main.py
  api/opentrons/tools/factory_test_camera.py
  api/opentrons/tools/factory_test_gpio.py
  api/tests/opentrons/drivers/test_driver.py
  api/tests/opentrons/server/test_control_endpoints.py
Labels: api, feature, ready for review

#1063 PD Liquid Tracking: Display liquid state timeline
  components/src/__tests__/__snapshots__/lists.test.js.snap
  components/src/__tests__/__snapshots__/nav.test.js.snap
  components/src/__tests__/lists.test.js
  components/src/buttons/Button.js
  components/src/lists/TitledList.js
  components/src/nav/SidePanel.js
  protocol-designer/src/components/StepItem.js
  protocol-designer/src/components/StepList.js
  protocol-designer/src/containers/ConnectedStepList.js
  protocol-designer/src/containers/SelectablePlate.js
  protocol-designer/src/file-data/selectors/commands.js
  protocol-designer/src/steplist/actions.js
  protocol-designer/src/steplist/reducers.js
Labels: protocol designer, ready for review

#1074 Robot update notification in app side panel
  app/src/components/ConnectPanel/RobotItem.js
  app/src/components/ConnectPanel/RobotList.js
  app/src/components/ConnectPanel/ScanButton.js
  app/src/components/ConnectPanel/connect-panel.css
  app/src/components/ConnectPanel/index.js
  components/src/__tests__/__snapshots__/icons.test.js.snap
  components/src/__tests__/__snapshots__/lists.test.js.snap
  components/src/__tests__/icons.test.js
  components/src/icons/Icon.js
  components/src/icons/NotificationIcon.js
  components/src/icons/NotificationIcon.md
  components/src/icons/icons.css
  components/src/lists/ListItem.js
  components/src/lists/lists.css
  components/src/styles/colors.css
  components/styleguide.config.js
Labels: app, components, feature, ready for review, refactor

#1076 fix(app): Fix calibration list styling broken by #1074
  app/src/components/SetupPanel/InstrumentListItem.js
  app/src/components/SetupPanel/LabwareListItem.js
  app/src/components/SetupPanel/styles.css
Labels: app, bug, fix, ready for review

#1077 Add notification to Robots icon if robot update available
  app/src/components/nav-bar/NavButton.js
  app/src/http-api-client/__tests__/server.test.js
  app/src/http-api-client/index.js
  app/src/http-api-client/server.js
  components/src/__tests__/__snapshots__/nav.test.js.snap
  components/src/nav/NavButton.js
  components/src/nav/navbar.css
Labels: app, components, feature, ready for review

#1059 Add position info and move endpoints
  api/Makefile
  api/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/opentrons/robot/mover.py
  api/opentrons/robot/robot.py
  api/opentrons/server/endpoints/control.py
  api/opentrons/server/main.py
  api/tests/opentrons/server/test_control_endpoints.py
Labels: api, feature, ready for review

#1075 PD: "End" pseudo-step
  components/src/icons/Icon.md
  components/src/icons/icon-data.js
  protocol-designer/src/components/StepList.js
  protocol-designer/src/containers/SelectablePlate.js
  protocol-designer/src/steplist/actions.js
  protocol-designer/src/steplist/reducers.js
  protocol-designer/src/steplist/types.js
Labels: protocol designer, ready for review

#1064 Pd blowout & droptip liquid state
  protocol-designer/src/step-generation/aspirate.js
  protocol-designer/src/step-generation/aspirateUpdateLiquidState.js
  protocol-designer/src/step-generation/blowout.js
  protocol-designer/src/step-generation/dispense.js
  protocol-designer/src/step-generation/dispenseUpdateLiquidState.js
  protocol-designer/src/step-generation/dropTip.js
  protocol-designer/src/step-generation/test-with-flow/aspirate.test.js
  protocol-designer/src/step-generation/test-with-flow/aspirateUpdateLiquidState.test.js
  protocol-designer/src/step-generation/test-with-flow/blowout.test.js
  protocol-designer/src/step-generation/test-with-flow/dispense.test.js
  protocol-designer/src/step-generation/test-with-flow/dispenseUpdateLiquidState.test.js
  protocol-designer/src/step-generation/test-with-flow/dropTip.test.js
  protocol-designer/src/step-generation/test-with-flow/replaceTip.test.js
  protocol-designer/src/step-generation/utils.js
Labels: protocol designer, ready for review

#1079 fix(app): Fix wrong Card button sizing and stuck robot list highlight
  app/src/components/ConnectPanel/RobotItem.js
  app/src/components/ConnectPanel/index.js
  components/src/structure/structure.css
Labels: app, fix, ready for review

#1078 build(app-shell): Add app-shell to workspaces
  Makefile
  app-shell/Makefile
  app-shell/electron-builder.json
  app-shell/package.json
  app-shell/yarn.lock
  package.json
  scripts/bump_version.py
  yarn.lock
Labels: app, chore, ready for review

#1069 (pd) restyle & show volumes + labware names in step item
  protocol-designer/src/components/StepItem.css
  protocol-designer/src/components/StepItem.js
  protocol-designer/src/components/StepList.js
  protocol-designer/src/components/TransferishSubstep.js
  protocol-designer/src/steplist/generateSubsteps.js
  protocol-designer/src/steplist/reducers.js
  protocol-designer/src/steplist/types.js
Labels: protocol designer, ready for review

#1080 refactor icon names to match material design, dont use icon name constants
  app/src/components/CalibrateDeck/LabwareItem.js
  app/src/components/CalibrationInfoBox.js
  app/src/components/ConnectPanel/RobotList.js
  app/src/components/ConnectPanel/ScanButton.js
  app/src/components/LabwareCalibration/InProgressContents.js
  app/src/components/LabwareCalibration/JogControls.js
  app/src/components/MenuPanel/index.js
  app/src/components/RobotSettings/UpdateModal.js
  app/src/components/SetupPanel/DeckCalibrationGroup.js
  app/src/components/SetupPanel/InstrumentListItem.js
  app/src/components/SetupPanel/LabwareListItem.js
  app/src/components/TipProbe/InstrumentMovingPanel.js
  app/src/components/Upload.js
  app/src/components/UploadPanel/UploadInput.js
  app/src/components/nav-bar/NavButton.js
  components/README.md
  components/src/__tests__/__snapshots__/icons.test.js.snap
  components/src/__tests__/buttons.test.js
  components/src/__tests__/icons.test.js
  components/src/__tests__/lists.test.js
  components/src/__tests__/nav.test.js
  components/src/__tests__/structure.test.js
  components/src/alerts/AlertItem.js
  components/src/buttons/FlatButton.md
  components/src/buttons/IconButton.md
  components/src/buttons/PrimaryButton.md
  components/src/forms/CheckboxField.js
  components/src/forms/DropdownField.js
  components/src/forms/RadioGroup.js
  components/src/icons/Icon.js
  components/src/icons/Icon.md
  components/src/icons/NotificationIcon.js
  components/src/icons/NotificationIcon.md
  components/src/icons/icon-data.js
  components/src/lists/ListItem.md
  components/src/lists/SidePanelGroup.md
  components/src/lists/TitledList.js
  components/src/lists/TitledList.md
  components/src/nav/NavButton.js
  components/src/nav/NavButton.md
  components/src/nav/SidePanel.js
  components/src/structure/RefreshCard.js
  components/src/structure/Splash.js
  components/src/structure/TitleBar.js
  components/styleguide.config.js
  protocol-designer/src/components/FormSection.js
  protocol-designer/src/components/labware/LabwareOnDeck.js
  protocol-designer/src/containers/ConnectedNav.js
  protocol-designer/src/steplist/types.js
Labels: app, chore, components, protocol designer, ready for review

#1081 Add debug logs to driver
  api/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/opentrons/drivers/smoothie_drivers/serial_communication.py
Labels: api, chore, ready for review

#1070 Api bug tall trash
  api/opentrons/server/main.py
  api/opentrons/util/calibration_functions.py
  api/tests/opentrons/api/test_calibration.py
Labels: api, bug, ready for review

#1093 build(pd): Remove google-fonts-webpack-plugin
  protocol-designer/index.html
  protocol-designer/package.json
  protocol-designer/webpack.config.js
  yarn.lock
Labels: chore, fix, protocol designer, ready for review

#1104 build(app-shell): Refactor publish to upload auto-update artifacts
  .travis.yml
  api/opentrons/_version.py
  api/scripts/doc-deploy.sh
  api/scripts/publish.sh
  api/version
  app-shell/Makefile
  app-shell/README.md
  app-shell/electron-builder.json
  app-shell/package.json
  app/package.json
  appveyor.yml
  components/package.json
  labware-definitions/package.json
  package.json
  protocol-designer/package.json
  scripts/has_changes.sh
  scripts/install-linux
  scripts/install-osx
  scripts/travis-env.sh
  scripts/travis-install.sh
  webpack-config/package.json
  yarn.lock
Labels: app, chore, ready for review

#1101 Refactor feature flags
  api/opentrons/config/feature_flags.py
  api/opentrons/robot/robot.py
  api/opentrons/server/endpoints/update.py
  api/opentrons/server/main.py
  api/tests/opentrons/api/test_calibration.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/robot/test_robots_config.py
  api/tests/opentrons/server/test_update_endpoints.py
Labels: api, fix, refactor, small

#1106 Institute Robot's Rules of Order
  api/opentrons/deck_calibration/endpoints.py
  api/opentrons/server/main.py
  api/tests/opentrons/server/test_calibration_endpoints.py
Labels: api, feature

#1108 Add change pipette commands to api makefile
  api/Makefile
Labels: api, chore

#1110 SSIDs with spaces, networks without passwords, and better testing
  api/opentrons/server/endpoints/wifi.py
  api/tests/opentrons/server/test_wifi_endpoints.py
Labels: api, feature, refactor, small

#1111 feat(app, app-shell): App update state tracking
  app-shell/Makefile
  app-shell/dev-app-update.yml
  app-shell/electron-builder.json
  app-shell/lib/update.js
  app/__mocks__/electron.js
  app/__tests__/util.js
  app/src/components/RobotSettings/ConnectivityCard.js
  app/src/http-api-client/client.js
  app/src/reducer.js
  app/src/shell/__tests__/shell.test.js
  app/src/shell/index.js
  app/src/types.js
Labels: app, feature, ready for review

#1112 On last calibrated labware, drop tip and proceed to run
  app/src/components/LabwareCalibration/InfoBox.js
  app/src/components/calibration-info.css
  app/src/robot/actions.js
  app/src/robot/api-client/client.js
Labels: app, feature, ready for review, small

#1113 Add save_z endpoint and revise endpoint style
  api/opentrons/deck_calibration/__init__.py
  api/opentrons/deck_calibration/endpoints.py
  api/opentrons/server/main.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/server/test_calibration_endpoints.py
Labels: api, feature, refactor

#1124 fix(pd): Revert bundle src switch from relative to absolute
  protocol-designer/index.html
Labels: bug, fix, protocol designer, ready for review

#1125 feat(app): The App Update PR
  api/opentrons/_version.py
  api/version
  app-shell/README.md
  app-shell/lib/update.js
  app-shell/package.json
  app/package.json
  app/src/components/AppSettings/AppInfoCard.js
  app/src/components/AppSettings/AppUpdateModal.js
  app/src/components/AppSettings/index.js
  app/src/components/nav-bar/NavButton.js
  app/src/index.js
  app/src/pages/AppSettings.js
  app/src/shell/__tests__/shell.test.js
  app/src/shell/index.js
  components/package.json
  components/src/modals/modals.css
  components/src/structure/RefreshCard.js
  labware-definitions/package.json
  package.json
  protocol-designer/package.json
  webpack-config/package.json
Labels: app, feature, ready for review, ux review required

#1126 Go to top of well at beginning of calibration motion
  api/opentrons/api/calibration.py
  api/tests/opentrons/api/test_calibration.py
Labels: api, fix, ready for review

#1129 Add endpoints for attach/detach tips and save xy
  api/opentrons/deck_calibration/__init__.py
  api/opentrons/deck_calibration/endpoints.py
  api/tests/opentrons/server/test_calibration_endpoints.py
Labels: api, feature, ready for review

#1130 feat(app): Add pipettes module to http-api-client redux module (WIP)
  app/src/http-api-client/__tests__/pipettes.test.js
  app/src/http-api-client/index.js
  app/src/http-api-client/pipettes.js
Labels: app, feature, ready for review
