Repository Opentrons/opentrons, pull requests merged in 2018-06, with the labels that each got.

#1580 feat(protocol-designer): specify left|right pipette label
  components/src/instrument-diagram/InstrumentGroup.js
  components/src/instrument-diagram/InstrumentInfo.js
  components/src/instrument-diagram/instrument.css
  protocol-designer/src/components/FilePage.js
Labels: components, protocol designer, ready for review

#1583 feat(protocol-designer): rename upload & download buttons
  protocol-designer/src/components/FileSidebar.css
  protocol-designer/src/components/FileSidebar.js
Labels: protocol designer, ready for review

#1581 refactor(api): Improve logging and backup in deck calibration cli tool and add home
  api/opentrons/deck_calibration/dc_main.py
Labels: api, ready for review, refactor

#1585 fix(api): Improve pipette model caching
  api/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/tests/opentrons/server/calibration_integration_test.py
  api/tests/opentrons/server/test_calibration_endpoints.py
  api/tests/opentrons/server/test_control_endpoints.py
Labels: api, bug, fix, ready for review

#1586 fix(app): Add reset run link to run canceled/complete banners
  app/src/components/RunLog/SessionAlert.js
  app/src/components/RunLog/index.js
  app/src/components/RunLog/styles.css
  components/src/alerts/AlertItem.js
Labels: app, fix, ready for review, small

#1582 feat(protocol-designer): form fields restyle
  components/src/__tests__/__snapshots__/forms.test.js.snap
  components/src/forms/FormGroup.js
  components/src/forms/forms.css
  protocol-designer/src/components/FilePage.js
  protocol-designer/src/components/Form.css
  protocol-designer/src/components/IngredientPropertiesForm.css
  protocol-designer/src/components/IngredientPropertiesForm.js
  protocol-designer/src/components/StepEditForm/StepEditForm.css
  protocol-designer/src/components/StepEditForm/formFields.js
  protocol-designer/src/components/StepEditForm/index.js
  protocol-designer/src/components/forms.css
  protocol-designer/src/components/modals/NewFileModal.css
  protocol-designer/src/components/modals/NewFileModal.js
  protocol-designer/src/containers/WellSelectionInput.js
Labels: protocol designer

#1572 feat(protocol-designer): make new labware dismiss nickname overlay when user clicks away
  components/src/interaction-enhancers/index.js
  protocol-designer/src/components/labware/LabwareOnDeck.js
  protocol-designer/src/components/labware/NameThisLabwareOverlay.js
Labels: protocol designer, ready for review

#1599 fix(api): json protocol upload does not time.sleep when simulating
  api/opentrons/protocols/__init__.py
Labels: api, fix

#1600 chore(release): 3.1.1
  api/opentrons/package.json
  app-shell/package.json
  app/package.json
  components/package.json
  package.json
  protocol-designer/package.json
  shared-data/package.json
  webpack-config/package.json
Labels: chore, ready for review

#1601 components: made title bold and darker
  components/src/alerts/alerts.css
  components/src/styles/colors.css
Labels: protocol designer, ready for review

#1606 fix(protocol-designer): fix whitescreen upon creating new file
  protocol-designer/src/step-generation/robotStateSelectors.js
  protocol-designer/src/top-selectors/substep-highlight.js
Labels: fix, protocol designer, ready for review

#1605 feat(protocol-designer): pd & components: selected prop on NavButton
  components/src/nav/NavButton.js
  components/src/nav/NavButton.md
  protocol-designer/src/containers/ConnectedNav.js
Labels: components, protocol designer, ready for review

#1615 fix(app): Fix change pipette with v1.3 pipette models
  app/src/components/ChangePipette/ConfirmPipette.js
  app/src/components/ChangePipette/Instructions.js
  app/src/components/ChangePipette/PipetteSelection.js
  app/src/components/ChangePipette/index.js
  app/src/components/ChangePipette/types.js
  shared-data/js/pipettes.js
Labels: app, bug, fix, ready for review, shared data

#1617 chore(release): 3.1.2
  api/opentrons/package.json
  app-shell/package.json
  app/package.json
  components/package.json
  package.json
  protocol-designer/package.json
  shared-data/package.json
  webpack-config/package.json
Labels: chore, ready for review

#1633 feat(app): Add firmware version to robot settings page
  app/src/components/RobotSettings/InformationCard.js
Labels: app, feature, ready for review

#1638 fix(app): Update Z calibration slot 5 diagram
  app/src/components/CalibrateDeck/images/initial-calib-z-5@3x.png
Labels: app, easyfix, ready for review

#1634 fix(app): Tip probe clears labware calibration progress
  app/src/robot/reducer/calibration.js
  app/src/robot/test/calibration-reducer.test.js
Labels: app, bug, ready for review

#1629 feat(protocol-designer): increase selected pipette font-size
  protocol-designer/src/components/WellSelectionModal.css
Labels: protocol designer, ready for review, small

#1637 feat(protocol-designer): elaborate on deck setup in title bar
  protocol-designer/src/containers/ConnectedTitleBar.js
Labels: protocol designer, ready for review, small

#1646 feat(protocol-designer): Darken font in labware selection modal
  protocol-designer/src/components/LabwareDropdown.css
Labels: feature, protocol designer, ready for review, small

#1651 refactor(app): Update deck calibration error modal
  app/src/components/CalibrateDeck/ErrorModal.js
  app/src/components/CalibrateDeck/styles.css
Labels: app, chore, ready for review

#1644 fix(app): Update cancel button text
  app/src/components/App.global.css
  app/src/components/RunPanel/RunControls.js
  app/src/components/ToolTip.css
  app/src/components/ToolTip.js
Labels: app, easyfix, ready for review

#1625 chore: Replace version bumping with lerna for changelog generation
  CONTRIBUTING.md
  Makefile
  lerna.json
  package.json
  scripts/bump_version.py
  yarn.lock
Labels: chore, ready for review

#1659 fix(app-shell): Remove Reload from View menu unless devtools are active
  app-shell/lib/menu.js
Labels: app, fix, ready for review

#1658 refactor(api): Add GEB tiprack definition to default containers
  api/docs/source/labware.rst
  api/opentrons/config/containers/default-containers.json
  api/tests/opentrons/containers/test_old_container_loading.py
  api/tests/opentrons/database/test_serializers.py
  shared-data/definitions/opentrons-tiprack-300ul.json
Labels: api, ready for review, refactor

#1666 chore(github): update github issue template headers
  .github/ISSUE_TEMPLATE.md
Labels: chore

#1663 Fix bug with multichannel substep display
  protocol-designer/src/steplist/generateSubsteps.js
  protocol-designer/src/top-selectors/well-contents/index.js
Labels: fix, protocol designer, ready for review

#1647 API: decrease Y and ZA currents
  api/opentrons/robot/robot_configs.py
  api/opentrons/tools/gantry_test.py
  api/opentrons/tools/overnight_test.py
  api/tests/opentrons/drivers/test_driver.py
Labels: api, small

#1675 refactor(app): Make toggle components reusable
  app/src/components/ConnectPanel/RobotList.js
  app/src/components/ToggleButton/styles.css
  app/src/components/analytics-settings/AnalyticsInfo.js
  app/src/components/analytics-settings/AnalyticsSettingsModal.js
  app/src/components/analytics-settings/AnalyticsToggle.js
  app/src/components/analytics-settings/ModalTitle.js
  app/src/components/analytics-settings/styles.css
  app/src/components/toggles/LabeledToggle.js
  app/src/components/toggles/ToggleButton.js
  app/src/components/toggles/ToggleInfo.js
  app/src/components/toggles/index.js
  app/src/components/toggles/styles.css
  components/src/__tests__/__snapshots__/modals.test.js.snap
  components/src/__tests__/modals.test.js
  components/src/modals/Modal.js
  components/src/modals/Modal.md
Labels: app, ready for review, refactor, small

#1678 feat(app): Toggle devtools feature flag in app settings
  app-shell/lib/main.js
  app/src/components/AppSettings/AdvancedSettingsCard.js
  app/src/components/AppSettings/index.js
  app/src/config/index.js
Labels: app, feature, ready for review, small

#1680 feat(app): Capture and display errors during deck calibration
  app/src/__tests__/util.test.js
  app/src/components/CalibrateDeck/ErrorModal.js
  app/src/components/CalibrateDeck/InstructionsModal.js
  app/src/components/CalibrateDeck/index.js
  app/src/components/CalibrateDeck/styles.css
  app/src/robot/actions.js
  app/src/util.js
Labels: app, feature, ready for review

#1679 feat(app): Pass server-lib and firmware to /server/update
  app-shell/Makefile
  app-shell/electron-builder.json
  app-shell/lib/api-update.js
  app-shell/lib/main.js
  app/src/http-api-client/server.js
Labels: app, feature, ready for review

#1682 fix(app): Reset calibration state on reset run
  app/src/robot/reducer/calibration.js
  app/src/robot/test/session-reducer.test.js
Labels: app, bug, easyfix, ready for review

#1685 chore(release): 3.2.0-beta.0
  CHANGELOG.md
  api-server-lib/ot2serverlib/CHANGELOG.md
  api-server-lib/ot2serverlib/package.json
  api/opentrons/CHANGELOG.md
  api/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  lerna.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore, ready for review

#1691 fix(api): Fix RPC reporting wrong models for v1.3 pipettes
  api/opentrons/__init__.py
  api/opentrons/api/session.py
  api/tests/opentrons/api/test_session.py
Labels: api, bug, fix, ready for review

#1672 refactor(protocol-designer): replace old CSS resets with minimal reset
  protocol-designer/package.json
  protocol-designer/src/components/App.js
  protocol-designer/src/components/Form.css
  protocol-designer/src/components/LabwareDropdown.css
  protocol-designer/src/components/ProtocolEditor.css
  protocol-designer/src/components/SelectionRect.css
  protocol-designer/src/components/modals/MoreOptionsModal.css
  protocol-designer/src/css/colors.css
  protocol-designer/src/css/fontSizes.css
  protocol-designer/src/css/globals.css
  protocol-designer/src/css/grid.css
  protocol-designer/src/css/mixins.css
  protocol-designer/src/css/reset.css
  yarn.lock
Labels: chore, protocol designer

#1693 feat(api): Add endpoints to handle API update ignores
  api-server-lib/ot2serverlib/endpoints.py
  api-server-lib/ot2serverlib/ignore_update.py
  api/opentrons/server/main.py
  api/tests/opentrons/server/test_update_endpoints.py
Labels: api, app, ready for review

#1696 chore(protocol-designer): support ultra-minimal feature flags
  protocol-designer/README.md
  protocol-designer/webpack.config.js
Labels: chore, protocol designer, ready for review

#1700 feat(app): Show connect alert banner on successful connection
  app/src/components/RobotSettings/ConnectBanner.js
  app/src/pages/Robots.js
Labels: app, feature, ready for review

#1673 Pd file detail form edit
  protocol-designer/src/components/FilePage.css
  protocol-designer/src/components/FilePage.js
  protocol-designer/src/containers/ConnectedFilePage.js
  protocol-designer/src/containers/ConnectedFileSidebar.js
  protocol-designer/src/containers/ConnectedNewFileModal.js
  protocol-designer/src/containers/ConnectedTitleBar.js
  protocol-designer/src/file-data/actions.js
  protocol-designer/src/file-data/reducers/index.js
  protocol-designer/src/file-data/selectors/fileCreator.js
  protocol-designer/src/file-data/selectors/fileFields.js
  protocol-designer/src/file-data/types.js
Labels: feature, protocol designer, ready for review, small

#1702 build(js): Consolidate babel config and dev deps to top level
  .babelrc
  app-shell/Makefile
  app-shell/package.json
  app/.babelrc
  app/Makefile
  app/package.json
  components/.babelrc
  components/Makefile
  components/package.json
  package.json
  protocol-designer/Makefile
  protocol-designer/package.json
  shared-data/.babelrc
  shared-data/Makefile
  shared-data/package.json
  yarn.lock
Labels: chore, ready for review

#1704 chore(*): OpenTrons -> Opentrons; v3a -> edge
  .github/PULL_REQUEST_TEMPLATE.md
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
Labels: chore, ready for review

#1708 refactor(app): Rework toggles for Robot Controls card
  app/src/components/AppSettings/AdvancedSettingsCard.js
  app/src/components/ConnectPanel/RobotList.js
  app/src/components/RobotSettings/ControlsCard.js
  app/src/components/RobotSettings/index.js
  app/src/components/analytics-settings/AnalyticsInfo.js
  app/src/components/analytics-settings/AnalyticsSettingsCard.js
  app/src/components/analytics-settings/AnalyticsSettingsModal.js
  app/src/components/analytics-settings/AnalyticsToggle.js
  app/src/components/controls/ControlInfo.js
  app/src/components/controls/LabeledButton.js
  app/src/components/controls/LabeledToggle.js
  app/src/components/controls/ToggleButton.js
  app/src/components/controls/index.js
  app/src/components/controls/styles.css
  app/src/components/toggles/LabeledToggle.js
Labels: app, ready for review, refactor

#1709 refactor(api): Move lights endpoints to /robot/lights and provide getter
  api/opentrons/drivers/rpi_drivers/gpio.py
  api/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/opentrons/robot/robot.py
  api/opentrons/server/endpoints/control.py
  api/opentrons/server/main.py
Labels: api, refactor, small

#1705 refactor(app): Standardize modals and pages
  app/src/components/App.js
  app/src/components/LabwareCalibration/index.js
  app/src/components/LabwareCalibration/styles.css
  app/src/components/Page.css
  app/src/components/Page.js
  app/src/components/Page/PageWrapper.js
  app/src/components/Page/index.js
  app/src/components/Page/styles.css
  app/src/components/RobotSettings/index.js
  app/src/components/SessionHeader/index.js
  app/src/pages/AppSettings.js
  app/src/pages/Calibrate/Instruments.js
  app/src/pages/Calibrate/Labware.js
  app/src/pages/More/AppSettings.js
  app/src/pages/More/Resources.js
  app/src/pages/Robots.js
  app/src/pages/Run.js
  components/src/__tests__/__snapshots__/modals.test.js.snap
  components/src/modals/ModalPage.js
  components/src/modals/modals.css
  components/src/styles/positioning.css
Labels: app, ready for review, refactor, small

#1710 feat(app): Add toggle to turn on/off robot rail lights
  app/src/components/RobotSettings/ControlsCard.js
  app/src/http-api-client/__tests__/robot.test.js
  app/src/http-api-client/index.js
  app/src/http-api-client/robot.js
  components/src/structure/RefreshCard.js
Labels: app, feature, ready for review

#1714 fix(protocol-designer): fix styles for SelectionRect
  components/src/styles/colors.css
  protocol-designer/src/components/SelectionRect.css
Labels: fix, protocol designer, ready for review

#1717 fix(api): Fixes bug in replacing substring of old p50 pipettes
  api/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/tests/opentrons/drivers/test_driver.py
Labels: api, bug

#1703 PD timeline warnings: not enough liquid in well
  protocol-designer/src/containers/Alerts.js
  protocol-designer/src/containers/ConnectedStepItem.js
  protocol-designer/src/file-data/selectors/commands.js
  protocol-designer/src/form-types.js
  protocol-designer/src/step-generation/aspirate.js
  protocol-designer/src/step-generation/aspirateUpdateLiquidState.js
  protocol-designer/src/step-generation/dispenseUpdateLiquidState.js
  protocol-designer/src/step-generation/test-with-flow/aspirate.test.js
  protocol-designer/src/step-generation/test-with-flow/aspirateUpdateLiquidState.test.js
  protocol-designer/src/step-generation/test-with-flow/utils.test.js
  protocol-designer/src/step-generation/types.js
  protocol-designer/src/step-generation/utils.js
  protocol-designer/src/step-generation/warningCreators.js
  protocol-designer/src/steplist/formProcessing.js
  protocol-designer/src/steplist/generateSubsteps.js
  protocol-designer/src/steplist/reducers.js
  protocol-designer/src/top-selectors/substep-highlight.js
  protocol-designer/src/top-selectors/well-contents/index.js
Labels: protocol designer, ready for review

#1707 refactor(protocol-designer): Split up step edit form logic into types
  protocol-designer/src/components/StepEditForm/FormSection.js
  protocol-designer/src/components/StepEditForm/MixForm.js
  protocol-designer/src/components/StepEditForm/PauseForm.js
  protocol-designer/src/components/StepEditForm/TransferLikeForm.js
  protocol-designer/src/components/StepEditForm/formFields.js
  protocol-designer/src/components/StepEditForm/index.js
Labels: chore, protocol designer, ready for review, refactor

#1719 fix(app): Fix alignment issues in modals, fix titlebar on page
  app/src/components/LabwareCalibration/styles.css
  app/src/components/Page/index.js
  app/src/components/Page/styles.css
  components/src/modals/modals.css
  components/src/styles/positioning.css
Labels: app, bug, fix, ready for review

#1720 fix(api): Add ignore update endpoint implementation to fallback file
  api/opentrons/server/endpoints/serverlib_fallback.py
Labels: api, bug, fix

#1721 fix(app): Enable robot update even if API reports up-to-date
  app/src/components/RobotSettings/InformationCard.js
  app/src/components/RobotSettings/UpdateModal.js
Labels: app, bug, fix, ready for review

#1722 fix(app): Switch to hash routes to fix back in prod on Win 7
  app/src/index.js
Labels: app, bug, fix, ready for review

#1716 chore(release): 3.2.0-beta.1
  CHANGELOG.md
  api-server-lib/ot2serverlib/CHANGELOG.md
  api-server-lib/ot2serverlib/package.json
  api/opentrons/CHANGELOG.md
  api/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  lerna.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore, ready for review

#1726 feat(app): Connect home button to API on robot settings
  app/src/components/CalibrateDeck/ErrorModal.js
  app/src/components/CalibrateDeck/index.js
  app/src/components/RobotSettings/ControlsCard.js
  app/src/components/modals/ErrorModal.js
  app/src/components/modals/index.js
  app/src/components/modals/styles.css
  app/src/http-api-client/index.js
  app/src/http-api-client/robot.js
  app/src/pages/Robots.js
  components/src/modals/SpinnerModalPage.js
Labels: app, feature, ready for review

#1724 feat(protocol-designer): disallow saving ingred form w/o name & volume
  components/src/forms/forms.css
  protocol-designer/src/components/IngredientPropertiesForm.js
Labels: protocol designer, ready for review

#1728 feat(api): Log API server and Smoothie FW versions on API server boot
  api/opentrons/server/main.py
Labels: api, feature, ready for review

#1743 fix(api): Sanitize wifi inputs to handle special characters
  api/opentrons/server/endpoints/wifi.py
Labels: api, bug, fix, ready for review

#1744 chore(release): 3.2.0-beta.2
  CHANGELOG.md
  api-server-lib/ot2serverlib/CHANGELOG.md
  api-server-lib/ot2serverlib/package.json
  api/opentrons/CHANGELOG.md
  api/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  lerna.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore, ready for review

#1732 feat(protocol-designer): allow button to look hovered via .hover class
  components/src/buttons/Button.js
  components/src/buttons/buttons.css
  protocol-designer/src/components/StepEditForm/FormSection.css
  protocol-designer/src/components/StepEditForm/FormSection.js
  protocol-designer/src/css/reset.css
Labels: components, protocol designer, ready for review

#1749 fix(api): Fix row order in labware.create
  api/opentrons/containers/__init__.py
  api/tests/opentrons/containers/test_labware_fns.py
  api/tests/opentrons/database/test_labware_definitions.py
Labels: api, fix, ready for review

#1745 feat(app): Show robot available update modal on page view
  app/src/components/RobotSettings/InformationCard.js
  app/src/components/RobotSettings/UpdateModal.js
  app/src/http-api-client/__tests__/health-check.test.js
  app/src/http-api-client/__tests__/server.test.js
  app/src/http-api-client/health.js
  app/src/http-api-client/index.js
  app/src/http-api-client/server.js
  app/src/pages/Robots.js
  components/src/modals/Overlay.js
Labels: app, feature, ready for review

#1759 fix(app): Fix overlay and redirect duplication in robot settings page
  app/src/components/RobotSettings/UpdateModal.js
  app/src/pages/Robots.js
  components/src/modals/Overlay.js
Labels: app, bug, fix, ready for review

#1757 fix(components): Resize main navbar and title bar to match designs
  app/src/components/Page/styles.css
  components/src/__tests__/__snapshots__/icons.test.js.snap
  components/src/icons/icon-data.js
  components/src/nav/SidePanel.css
  components/src/nav/navbar.css
  components/src/structure/structure.css
Labels: components, easyfix, ready for review

#1754 chore(release): 3.2.0-beta.3
  CHANGELOG.md
  api-server-lib/ot2serverlib/CHANGELOG.md
  api-server-lib/ot2serverlib/package.json
  api/opentrons/CHANGELOG.md
  api/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  lerna.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore, ready for review

#1752 feat(shared-data): annotate labware with format +other metadata
  shared-data/definitions/12-well-plate.json
  shared-data/definitions/24-vial-rack.json
  shared-data/definitions/24-well-plate.json
  shared-data/definitions/384-plate.json
  shared-data/definitions/48-vial-plate.json
  shared-data/definitions/48-well-plate.json
  shared-data/definitions/5ml-3x4.json
  shared-data/definitions/6-well-plate.json
  shared-data/definitions/96-PCR-flat.json
  shared-data/definitions/96-PCR-tall.json
  shared-data/definitions/96-deep-well.json
  shared-data/definitions/96-flat.json
  shared-data/definitions/96-well-plate-20mm.json
  shared-data/definitions/MALDI-plate.json
  shared-data/definitions/PCR-strip-tall.json
  shared-data/definitions/T25-flask.json
  shared-data/definitions/T75-flask.json
  shared-data/definitions/alum-block-pcr-strips.json
  shared-data/definitions/e-gelgol.json
  shared-data/definitions/fixed-trash.json
  shared-data/definitions/hampton-1ml-deep-block.json
  shared-data/definitions/opentrons-tiprack-300ul.json
  shared-data/definitions/point.json
  shared-data/definitions/rigaku-compact-crystallization-plate.json
  shared-data/definitions/small_vial_rack_16x45.json
  shared-data/definitions/tall-fixed-trash.json
  shared-data/definitions/tiprack-1000ul-H.json
  shared-data/definitions/tiprack-1000ul-chem.json
  shared-data/definitions/tiprack-1000ul.json
  shared-data/definitions/tiprack-10ul-H.json
  shared-data/definitions/tiprack-10ul.json
  shared-data/definitions/tiprack-200ul.json
  shared-data/definitions/trash-box.json
  shared-data/definitions/trough-12row-short.json
  shared-data/definitions/trough-12row.json
  shared-data/definitions/trough-1row-25ml.json
  shared-data/definitions/tube-rack-.75ml.json
  shared-data/definitions/tube-rack-15_50ml.json
  shared-data/definitions/tube-rack-2ml-9x9.json
  shared-data/definitions/tube-rack-2ml.json
  shared-data/definitions/tube-rack-5ml-96.json
  shared-data/definitions/tube-rack-80well.json
  shared-data/definitions/wheaton_vial_rack.json
  shared-data/js/__tests__/definition-schema.test.js
  shared-data/js/schema.js
Labels: large, ready for review, shared data

#1760 fix(app): Show spinner during home on deck calibration exit
  app/src/__tests__/util.test.js
  app/src/components/CalibrateDeck/index.js
  app/src/components/RobotSettings/InformationCard.js
  app/src/util.js
Labels: app, fix, ready for review

#1756 feat(protocol-designer): user can collapse selected StepItem
  protocol-designer/src/containers/ConnectedStepItem.js
  protocol-designer/src/steplist/actions/actions.js
Labels: protocol designer, ready for review

#1750 Pd pipette tip assignment: Part 2
  protocol-designer/src/components/LabwareDropdown.js
  protocol-designer/src/components/modals/NewFileModal.js
  protocol-designer/src/containers/ConnectedNewFileModal.js
  protocol-designer/src/containers/LabwareDropdown.js
  protocol-designer/src/labware-ingred/reducers/index.js
  protocol-designer/src/pipettes/actions.js
  protocol-designer/src/pipettes/index.js
  protocol-designer/src/pipettes/reducers.js
  protocol-designer/src/pipettes/selectors.js
  protocol-designer/src/pipettes/types.js
  protocol-designer/src/step-generation/types.js
  protocol-designer/src/types.js
Labels: protocol designer, ready for review

#1762 feat(app): Add advanced settings card to robot settings page
  app/src/components/RobotSettings/AdvancedSettingsCard.js
  app/src/components/RobotSettings/index.js
Labels: app, feature, ready for review, small

#1746 refactor(protocol-designer): step edit form
  components/src/__tests__/__snapshots__/forms.test.js.snap
  components/src/forms/InputField.js
  components/src/forms/RadioGroup.js
  protocol-designer/src/components/ProtocolEditor.js
  protocol-designer/src/components/StepEditForm/MixForm.js
  protocol-designer/src/components/StepEditForm/PauseForm.js
  protocol-designer/src/components/StepEditForm/StepFormField.js
  protocol-designer/src/components/StepEditForm/TransferLikeForm.js
  protocol-designer/src/components/StepEditForm/WellSelectionInput.js
  protocol-designer/src/components/StepEditForm/formFields.js
  protocol-designer/src/components/StepEditForm/index.js
  protocol-designer/src/containers/ConnectedStepEditForm.js
  protocol-designer/src/containers/WellSelectionInput.js
  protocol-designer/src/form-types.js
  protocol-designer/src/steplist/actions/types.js
  protocol-designer/src/steplist/fieldLevel/errors.js
  protocol-designer/src/steplist/fieldLevel/index.js
  protocol-designer/src/steplist/fieldLevel/processing.js
  protocol-designer/src/steplist/fieldLevel/types.js
  protocol-designer/src/steplist/formProcessing.js
  protocol-designer/src/steplist/index.js
  protocol-designer/src/steplist/reducers.js
  protocol-designer/src/well-selection/actions.js
Labels: large, protocol designer, ready for review

#1766 feat(protocol-designer): add diagrams & copy to new file modal
  protocol-designer/src/components/modals/NewFileModal.css
  protocol-designer/src/components/modals/NewFileModal/NewFileModal.css
  protocol-designer/src/components/modals/NewFileModal/PipetteDiagram.js
  protocol-designer/src/components/modals/NewFileModal/TiprackDiagram.js
  protocol-designer/src/components/modals/NewFileModal/index.js
Labels: protocol designer, ready for review

#1765 refactor(app): Rename instrument components and pages
  app/src/components/CalibrateLabware/ConfirmModal.js
  app/src/components/CalibrateLabware/ConfirmModalContents.js
  app/src/components/CalibrateLabware/ConfirmPickupContents.js
  app/src/components/CalibrateLabware/ConfirmPickupPrompt.js
  app/src/components/CalibrateLabware/ConfirmPositionContents.js
  app/src/components/CalibrateLabware/ConfirmPositionDiagram.js
  app/src/components/CalibrateLabware/InProgressContents.js
  app/src/components/CalibrateLabware/InfoBox.js
  app/src/components/CalibrateLabware/images/step-1-384-wellplate-multi@3x.png
  app/src/components/CalibrateLabware/images/step-1-384-wellplate-single@3x.png
  app/src/components/CalibrateLabware/images/step-1-96-wellplate-multi@3x.png
  app/src/components/CalibrateLabware/images/step-1-96-wellplate-single@3x.png
  app/src/components/CalibrateLabware/images/step-1-tiprack-multi@3x.png
  app/src/components/CalibrateLabware/images/step-1-tiprack-single@3x.png
  app/src/components/CalibrateLabware/images/step-1-trough-multi@3x.png
  app/src/components/CalibrateLabware/images/step-1-trough-single@3x.png
  app/src/components/CalibrateLabware/images/step-1-tuberack@3x.png
  app/src/components/CalibrateLabware/images/step-2-384-wellplate-multi@3x.png
  app/src/components/CalibrateLabware/images/step-2-384-wellplate-single@3x.png
  app/src/components/CalibrateLabware/images/step-2-96-wellplate-multi@3x.png
  app/src/components/CalibrateLabware/images/step-2-96-wellplate-single@3x.png
  app/src/components/CalibrateLabware/images/step-2-tiprack-multi@3x.png
  app/src/components/CalibrateLabware/images/step-2-tiprack-single@3x.png
  app/src/components/CalibrateLabware/images/step-2-trough-multi@3x.png
  app/src/components/CalibrateLabware/images/step-2-trough-single@3x.png
  app/src/components/CalibrateLabware/images/step-2-tuberack@3x.png
  app/src/components/CalibrateLabware/index.js
  app/src/components/CalibrateLabware/instructions-data.js
  app/src/components/CalibrateLabware/styles.css
  app/src/components/CalibratePanel/LabwareGroup.js
  app/src/components/CalibratePanel/LabwareList.js
  app/src/components/CalibratePanel/LabwareListItem.js
  app/src/components/CalibratePanel/PipetteList.js
  app/src/components/CalibratePanel/PipetteListItem.js
  app/src/components/CalibratePanel/TipRackList.js
  app/src/components/CalibratePanel/index.js
  app/src/components/CalibratePanel/styles.css
  app/src/components/calibrate-pipettes/PipetteTabs.js
  app/src/components/calibrate-pipettes/Pipettes.js
  app/src/components/calibrate-pipettes/index.js
  app/src/components/calibrate-pipettes/styles.css
  app/src/components/setup-instruments/index.js
  app/src/pages/Calibrate/Labware.js
  app/src/pages/Calibrate/Pipettes.js
  app/src/pages/Calibrate/index.js
  app/src/pages/Robots/index.js
  app/src/pages/SidePanel.js
Labels: app, ready for review, refactor, small

#1768 fix(components): Make preventDefault call in HandleKeypress opt-in
  app/src/components/JogControls/index.js
  components/src/interaction-enhancers/HandleKeypress.js
Labels: components, fix, ready for review

#1767 feat(components): use labware defs from shared-data for Deck component
  components/interfaces/default-containers.json.js
  components/src/deck/Plate.css
  components/src/deck/Plate.js
  components/src/deck/Well.js
  components/src/deck/constants.js
  components/src/default-containers.json
  components/src/index.js
  components/src/labware-types.js
  protocol-designer/src/components/labware/LabwareOnDeck.js
  protocol-designer/src/constants.js
  protocol-designer/src/images/labware/10 uL Tip Rack.png
  protocol-designer/src/images/labware/Tip Rack.png
  protocol-designer/src/top-selectors/well-contents/wellContentsAllLabware.js
  shared-data/js/types.js
Labels: chore, components, protocol designer, ready for review

#1701 feat(update-server): Add basic update server
  .dockerignore
  .travis.yml
  CONTRIBUTING.md
  Dockerfile
  Makefile
  compute/conf/nginx.conf
  compute/scripts/setup.sh
  compute/scripts/start.sh
  package.json
  update-server/MANIFEST.in
  update-server/Makefile
  update-server/Pipfile
  update-server/Pipfile.lock
  update-server/README.md
  update-server/otupdate/__init__.py
  update-server/otupdate/__main__.py
  update-server/otupdate/bootstrap.py
  update-server/otupdate/endpoints.py
  update-server/otupdate/package.json
  update-server/otupdate/selftest.py
  update-server/setup.cfg
  update-server/setup.py
  update-server/tests/conftest.py
  update-server/tests/test_bootstrap_fns.py
  update-server/tests/test_server_boot.py
  update-server/updateServerDesignNotes.md
Labels: api, feature, ready for review

#1771 fix(app): Make WiFi card more lenient and understandable
  app/src/components/RobotSettings/ConnectivityCard.js
  app/src/components/RobotSettings/WifiConnectForm.js
  app/src/components/RobotSettings/WifiConnectModal.js
  app/src/components/RobotSettings/styles.css
  app/src/http-api-client/__tests__/wifi.test.js
  app/src/http-api-client/index.js
  app/src/http-api-client/wifi.js
Labels: app, bug, fix, ready for review

#1774 docs(*): Minor typo fixes and add notes to developer instructions
  CLA.txt
  CONTRIBUTING.md
  api-server-lib/README.md
  api-server-lib/setup.py
  api/Makefile
  api/README.rst
Labels: chore, docs, ready for review

#1785 feat(app): Add modules and pipettes settings page
  app-shell/lib/config.js
  app/src/components/AppSettings/index.js
  app/src/components/AppSettings/styles.css
  app/src/components/ConnectPanel/RobotList.js
  app/src/components/ConnectPanel/connect-panel.css
  app/src/components/InstrumentSettings/AttachedModulesCard.js
  app/src/components/InstrumentSettings/AttachedPipettesCard.js
  app/src/components/InstrumentSettings/InstrumentInfo.js
  app/src/components/InstrumentSettings/ModulesCardContents.js
  app/src/components/InstrumentSettings/index.js
  app/src/components/InstrumentSettings/styles.css
  app/src/components/RobotSettings/index.js
  app/src/components/RobotSettings/styles.css
  app/src/components/layout/CardColumn.js
  app/src/components/layout/CardContainer.js
  app/src/components/layout/CardRow.js
  app/src/components/layout/index.js
  app/src/components/layout/styles.css
  app/src/config/index.js
  app/src/pages/Robots/InstrumentSettings.js
  app/src/pages/Robots/RobotSettings.js
  app/src/pages/Robots/index.js
  components/src/lists/ListItem.js
Labels: app, feature, ready for review
