Repository Opentrons/opentrons, pull requests merged in 2018-12, with the labels that each got.

#2745 feat(protocol-designer): remove option of tiprack-1000ul-chem from pd
  protocol-designer/src/components/LabwareSelectionModal/LabwareSelectionModal.js
  protocol-designer/src/components/modals/EditPipettesModal/index.js
  protocol-designer/src/components/modals/NewFileModal/index.js
  protocol-designer/src/images/labware/index.js
Labels: protocol designer, ready for review, small

#2739 feat(protocol-designer): new protocol modal defaults and visual updates
  protocol-designer/src/components/modals/NewFileModal/NewFileModal.css
  protocol-designer/src/components/modals/NewFileModal/index.js
Labels: feature, protocol designer, ready for review

#2731 feat(protocol-designer): remove delay from advanced settings of all step types
  protocol-designer/src/components/StepEditForm/MixForm.js
  protocol-designer/src/components/StepEditForm/TransferLikeForm.js
  protocol-designer/src/components/StepEditForm/formFields.js
  protocol-designer/src/form-types.js
  protocol-designer/src/step-generation/test-with-flow/consolidate.test.js
  protocol-designer/src/step-generation/test-with-flow/distribute.test.js
  protocol-designer/src/step-generation/test-with-flow/mix.test.js
  protocol-designer/src/step-generation/test-with-flow/transfer.test.js
  protocol-designer/src/step-generation/types.js
  protocol-designer/src/steplist/fieldLevel/index.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/mixFormToArgs.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/transferLikeFormToArgs.js
Labels: protocol designer, ready for review

#2750 feat(protocol-designer): place tipracks on protocol creation
  protocol-designer/src/labware-ingred/reducers/index.js
Labels: feature, protocol designer, ready for review

#2774 new p10s function added to config file
  api/tests/opentrons/hardware_control/test_instruments.py
  shared-data/robot-data/pipetteModelSpecs.json
Labels: api, fix

#2754 feat(protocol-designer): show file created and modified date
  protocol-designer/package.json
  protocol-designer/src/components/FilePage.js
  protocol-designer/src/containers/ConnectedFilePage.js
  protocol-designer/src/file-data/actions.js
  protocol-designer/src/file-data/reducers/index.js
  protocol-designer/src/file-data/selectors/fileFields.js
Labels: protocol designer, ready for review

#2780 chore(release): 3.6.1
  CHANGELOG.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/build/release-notes.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  lerna.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore

#2715 feat(protocol-designer): implement duplicate step
  components/src/__tests__/__snapshots__/lists.test.js.snap
  components/src/lists/TitledList.js
  protocol-designer/src/components/StepEditForm/index.js
  protocol-designer/src/components/steplist/ContextMenu.js
  protocol-designer/src/components/steplist/DraggableStepItems.js
  protocol-designer/src/components/steplist/StepItem.css
  protocol-designer/src/components/steplist/StepItem.js
  protocol-designer/src/components/steplist/StepList.js
  protocol-designer/src/localization/en/alert.json
  protocol-designer/src/localization/en/context_menu.json
  protocol-designer/src/localization/en/index.js
  protocol-designer/src/steplist/actions/actions.js
  protocol-designer/src/steplist/actions/thunks.js
  protocol-designer/src/steplist/reducers.js
Labels: feature, protocol designer, ready for review

#2732 feat(protocol-designer): standardize blowout and disposal volume destinations
  protocol-designer/src/components/StepEditForm/MixForm.js
  protocol-designer/src/components/StepEditForm/TransferLikeForm.js
  protocol-designer/src/components/StepEditForm/formFields.js
  protocol-designer/src/form-types.js
  protocol-designer/src/step-generation/aspirateUpdateLiquidState.js
  protocol-designer/src/step-generation/consolidate.js
  protocol-designer/src/step-generation/distribute.js
  protocol-designer/src/step-generation/mix.js
  protocol-designer/src/step-generation/test-with-flow/blowoutUtil.test.js
  protocol-designer/src/step-generation/test-with-flow/consolidate.test.js
  protocol-designer/src/step-generation/test-with-flow/mix.test.js
  protocol-designer/src/step-generation/test-with-flow/transfer.test.js
  protocol-designer/src/step-generation/transfer.js
  protocol-designer/src/step-generation/types.js
  protocol-designer/src/step-generation/utils.js
  protocol-designer/src/steplist/formLevel/getDefaultsForStepType.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/mixFormToArgs.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/transferLikeFormToArgs.js
Labels: feature, protocol designer, ready for review

#2747 refactor(step-generation): getNextRobotStateAndWarnings and use in aspirate
  protocol-designer/src/step-generation/commandCreators/atomic/aspirate.js
  protocol-designer/src/step-generation/commandCreators/atomic/blowout.js
  protocol-designer/src/step-generation/commandCreators/atomic/delay.js
  protocol-designer/src/step-generation/commandCreators/atomic/dispense.js
  protocol-designer/src/step-generation/commandCreators/atomic/dropAllTips.js
  protocol-designer/src/step-generation/commandCreators/atomic/dropTip.js
  protocol-designer/src/step-generation/commandCreators/atomic/index.js
  protocol-designer/src/step-generation/commandCreators/atomic/replaceTip.js
  protocol-designer/src/step-generation/commandCreators/atomic/touchTip.js
  protocol-designer/src/step-generation/commandCreators/compound/consolidate.js
  protocol-designer/src/step-generation/commandCreators/compound/distribute.js
  protocol-designer/src/step-generation/commandCreators/compound/index.js
  protocol-designer/src/step-generation/commandCreators/compound/mix.js
  protocol-designer/src/step-generation/commandCreators/compound/transfer.js
  protocol-designer/src/step-generation/commandCreators/index.js
  protocol-designer/src/step-generation/getNextRobotStateAndWarnings/forAspirateDispense.js
  protocol-designer/src/step-generation/getNextRobotStateAndWarnings/index.js
  protocol-designer/src/step-generation/index.js
  protocol-designer/src/step-generation/test-with-flow/aspirate.test.js
  protocol-designer/src/step-generation/test-with-flow/blowout.test.js
  protocol-designer/src/step-generation/test-with-flow/blowoutUtil.test.js
  protocol-designer/src/step-generation/test-with-flow/consolidate.test.js
  protocol-designer/src/step-generation/test-with-flow/delay.test.js
  protocol-designer/src/step-generation/test-with-flow/dispense.test.js
  protocol-designer/src/step-generation/test-with-flow/distribute.test.js
  protocol-designer/src/step-generation/test-with-flow/dropAllTips.test.js
  protocol-designer/src/step-generation/test-with-flow/dropTip.test.js
  protocol-designer/src/step-generation/test-with-flow/getNextRobotStateAndWarnings.test.js
  protocol-designer/src/step-generation/test-with-flow/getNextRobotStateAndWarningsForAspDisp.test.js
  protocol-designer/src/step-generation/test-with-flow/mix.test.js
  protocol-designer/src/step-generation/test-with-flow/replaceTip.test.js
  protocol-designer/src/step-generation/test-with-flow/touchTip.test.js
  protocol-designer/src/step-generation/test-with-flow/transfer.test.js
  protocol-designer/src/step-generation/types.js
  protocol-designer/src/step-generation/utils.js
Labels: protocol designer, ready for review, refactor

#2753 feat(protocol-designer): enable sharing tip racks between pipettes
  app/src/robot/api-client/client.js
  app/src/robot/test/api-client.test.js
  protocol-designer/src/components/modals/NewFileModal/index.js
  protocol-designer/src/file-data/selectors/fileCreator.js
  protocol-designer/src/step-generation/commandCreators/atomic/replaceTip.js
  protocol-designer/src/step-generation/robotStateSelectors.js
  protocol-designer/src/step-generation/test-with-flow/replaceTip.test.js
  protocol-designer/src/step-generation/test-with-flow/robotStateSelectors.test.js
  protocol-designer/src/step-generation/types.js
Labels: app, protocol designer, ready for review

#2785 feat(protocol-designer): scroll to top of page when step created/selected
  protocol-designer/src/components/ProtocolEditor.js
  protocol-designer/src/steplist/actions/thunks.js
Labels: protocol designer, ready for review

#2784 fix(protocol-designer): fix changeTip once bug in distribute step
  protocol-designer/src/step-generation/commandCreators/compound/distribute.js
  protocol-designer/src/step-generation/test-with-flow/distribute.test.js
Labels: protocol designer, ready for review

#2782 fix(protocol-designer): finish implementing flow rate in PD
  protocol-designer/src/step-generation/commandCreators/atomic/aspirate.js
  protocol-designer/src/step-generation/commandCreators/atomic/dispense.js
  protocol-designer/src/step-generation/commandCreators/compound/consolidate.js
  protocol-designer/src/step-generation/commandCreators/compound/distribute.js
  protocol-designer/src/step-generation/commandCreators/compound/mix.js
  protocol-designer/src/step-generation/commandCreators/compound/transfer.js
  protocol-designer/src/step-generation/test-with-flow/aspirate.test.js
  protocol-designer/src/step-generation/test-with-flow/dispense.test.js
  protocol-designer/src/step-generation/test-with-flow/fixtures/commandFixtures.js
  protocol-designer/src/step-generation/test-with-flow/mix.test.js
  protocol-designer/src/step-generation/types.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/mixFormToArgs.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/transferLikeFormToArgs.js
Labels: fix, protocol designer, ready for review

#2787 fix(protocol-designer): fix when add liquid hint is shown
  protocol-designer/src/labware-ingred/reducers/index.js
Labels: protocol designer, ready for review

#2788 feat(protocol-designer): use pipette min vol as default/recommended disposal volume
  protocol-designer/src/constants.js
  protocol-designer/src/localization/en/tooltip.json
  protocol-designer/src/steplist/actions/handleFormChange.js
  protocol-designer/src/steplist/formLevel/warnings.js
Labels: protocol designer, ready for review

#2791 fix(protocol-designer): fix regression of #2370
  protocol-designer/src/containers/ConnectedNav.js
Labels: fix, protocol designer, ready for review

#2794 API: p10 behavior feature flag
  api/src/opentrons/config/advanced_settings.py
  api/src/opentrons/config/feature_flags.py
  api/src/opentrons/config/pipette_config.py
  api/tests/opentrons/hardware_control/test_instruments.py
  api/tests/opentrons/labware/test_pipette.py
  shared-data/robot-data/pipetteModelSpecs.json
Labels: api, fix, ready for review

#2751 refactor(app): Simplify upgrade/downgrade modal render logic
  app/src/components/RobotSettings/UpdateRobot/ReinstallModal.js
  app/src/components/RobotSettings/UpdateRobot/SkipAppUpdateMessage.js
  app/src/components/RobotSettings/UpdateRobot/SyncRobotMessage.js
  app/src/components/RobotSettings/UpdateRobot/SyncRobotModal.js
  app/src/components/RobotSettings/UpdateRobot/UpdateAppModal.js
  app/src/components/RobotSettings/UpdateRobot/UpdateRobotModal.js
  app/src/components/RobotSettings/UpdateRobot/VersionList.js
  app/src/components/RobotSettings/UpdateRobot/index.js
  app/src/components/RobotSettings/UpdateRobot/styles.css
  app/src/pages/Robots/RobotSettings.js
  app/src/pages/Robots/index.js
Labels: app, large, ready for review, refactor

#2797 fix(protocol-designer): fix bug where new protocol w 1 pipette deleted fixedTrash
  protocol-designer/src/labware-ingred/reducers/index.js
Labels: fix, protocol designer, ready for review

#2703 feat(shared-data): Add more new labware definitions to shared-data
  api/tests/opentrons/protocol_api/test_context.py
  api/tests/opentrons/protocol_api/test_labware.py
  labware-designer/README.md
  shared-data/definitions/opentrons-tuberack-50ml.json
  shared-data/definitions2/Opentrons_24_tuberack_1.5_mL_Eppendorf.json
  shared-data/definitions2/corning_12_wellPlate_6.9_mL.json
  shared-data/definitions2/corning_24_wellPlate_3.4_mL.json
  shared-data/definitions2/corning_384_wellPlate_112_uL.json
  shared-data/definitions2/corning_48_wellPlate_1.6_mL.json
  shared-data/definitions2/corning_6_wellPlate_16.8_mL.json
  shared-data/definitions2/eppendorf_96_tiprack_1000_uL.json
  shared-data/definitions2/eppendorf_96_tiprack_10_uL.json
  shared-data/definitions2/opentrons_15_tuberack_15_mL_falcon.json
  shared-data/definitions2/opentrons_1_trash_0.85_L.json
  shared-data/definitions2/opentrons_1_trash_1.1_L.json
  shared-data/definitions2/opentrons_24_aluminum_tuberack_2_mL.json
  shared-data/definitions2/opentrons_24_tuberack_1.5_mL_eppendorf.json
  shared-data/definitions2/opentrons_24_tuberack_2_mL_eppendorf.json
  shared-data/definitions2/opentrons_24_tuberack_2_mL_screwcap.json
  shared-data/definitions2/opentrons_6_tuberack_50_mL_falcon.json
  shared-data/definitions2/opentrons_6x15_mL_4x50_mL_tuberack.json
  shared-data/definitions2/opentrons_96_aluminum_biorad_plate_200_uL.json
  shared-data/definitions2/opentrons_96_aluminum_tuberack_200_uL.json
  shared-data/definitions2/opentrons_96_tiprack_1000_uL.json
  shared-data/definitions2/opentrons_96_tiprack_10_uL.json
  shared-data/definitions2/opentrons_96_tiprack_300_uL.json
  shared-data/definitions2/usa_scientific_12_trough_22_mL.json
  shared-data/js/__tests__/fixtures/labwareExample2.json
  shared-data/js/labwareTools/__tests__/createIrregularLabware.test.js
  shared-data/js/labwareTools/index.js
  shared-data/labware-json-schema/labware-schema.json
Labels: extra-large, labware, ready for review, shared data

#2798 fix(protocol-designer): fix swap pipettes button dispatch
  protocol-designer/src/containers/ConnectedFilePage.js
Labels: fix, protocol designer, ready for review

#2799 feat(api): Add metadata to session for Python protocols
  api/docs/source/index.rst
  api/src/opentrons/api/session.py
  api/src/opentrons/protocol_api/contexts.py
  api/tests/opentrons/api/test_session.py
  api/tests/opentrons/data/Everything_Test_Software.py
  api/tests/opentrons/data/bradford_assay.py
  api/tests/opentrons/data/calibration-validation.py
  api/tests/opentrons/data/dinosaur.py
  api/tests/opentrons/data/multi-only.py
  api/tests/opentrons/data/multi-single.py
  api/tests/opentrons/data/no_clear_tips.py
  api/tests/opentrons/data/pickup-accuracy.py
  api/tests/opentrons/data/smoke.py
  api/tests/opentrons/data/testosaur.py
Labels: api, feature

#2801 fix(app): Show main nav notification dot for updatable connected robot
  app/src/components/nav-bar/NavButton.js
  app/src/http-api-client/__tests__/server.test.js
  app/src/http-api-client/server.js
Labels: app, feature, ready for review

#2802 fix(api): Do not overwrite settings every time we get config files
  api/src/opentrons/config/__init__.py
  api/src/opentrons/legacy_api/robot/robot.py
Labels: api, fix, ready for review, small

#2806 chore(release): 3.6.2
  CHANGELOG.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/build/release-notes.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  lerna.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore

#2808 fix(api): raise p300s v1.4 droptip position by 1mm
  shared-data/robot-data/pipetteModelSpecs.json
Labels: api, easyfix, small

#2805 feat(app): Display Python protocol metadata in the app
  api/docs/source/index.rst
  app/src/components/UploadError/styles.css
  app/src/protocol/__tests__/reducer.test.js
  app/src/protocol/index.js
  app/src/protocol/protocol-data.js
  app/src/robot/actions.js
  app/src/robot/api-client/client.js
  app/src/robot/test/api-client.test.js
Labels: app, feature, ready for review

#2812 refactor(api): Remove unnecessary backcompat measures
  api/src/opentrons/protocol_api/labware.py
  api/tests/opentrons/protocol_api/test_labware.py
Labels: api, easyfix, small

#2816 feat(app): Add opt-in modal for new p10s
  app-shell/src/config.js
  app/src/components/RobotSettings/AdvancedSettingsCard.js
  app/src/components/RobotSettings/OptInPipetteModal/index.js
  app/src/components/RobotSettings/OptInPipetteModal/styles.css
  app/src/config/index.js
Labels: app, feature, ready for review

#2818 chore(release): 3.6.3
  CHANGELOG.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/build/release-notes.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  lerna.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore, ready for review

#2810 refactor(api): Add fixed trash and return tip
  api/src/opentrons/hardware_control/__init__.py
  api/src/opentrons/protocol_api/contexts.py
  api/src/opentrons/protocol_api/geometry.py
  api/src/opentrons/protocol_api/labware.py
  api/tests/opentrons/hardware_control/test_instruments.py
  api/tests/opentrons/protocol_api/test_context.py
  shared-data/definitions2/opentrons_1_trash_0.85_L.json
  shared-data/definitions2/opentrons_1_trash_1.1_L.json
  shared-data/labware-json-schema/labware-schema.json
Labels: api, ready for review, refactor

#2826 fix(protocol-designer): fix bug with null distribute step
  protocol-designer/src/steplist/formLevel/warnings.js
Labels: fix, protocol designer, ready for review

#2833 fix(api): Fix extract metadata
  api/src/opentrons/api/session.py
  api/tests/opentrons/api/test_session.py
Labels: api, chore, fix, small

#2815 test(js): Upgrade Jest to v23 and fix failures
  Makefile
  app-shell/package.json
  app/package.json
  app/src/http-api-client/__tests__/server.test.js
  components/src/__tests__/__snapshots__/alerts.test.js.snap
  components/src/__tests__/__snapshots__/buttons.test.js.snap
  components/src/__tests__/__snapshots__/forms.test.js.snap
  components/src/__tests__/__snapshots__/icons.test.js.snap
  components/src/__tests__/__snapshots__/instrument-diagram.test.js.snap
  components/src/__tests__/__snapshots__/lists.test.js.snap
  components/src/__tests__/__snapshots__/modals.test.js.snap
  components/src/__tests__/__snapshots__/nav.test.js.snap
  components/src/__tests__/__snapshots__/structure.test.js.snap
  flow-typed/npm/jest_v20.x.x.js
  flow-typed/npm/jest_v23.x.x.js
  package.json
  protocol-designer/src/step-generation/test-with-flow/consolidate.test.js
  protocol-designer/src/step-generation/test-with-flow/dispense.test.js
  protocol-designer/src/step-generation/test-with-flow/getNextRobotStateAndWarningsForAspDisp.test.js
  protocol-designer/src/step-generation/test-with-flow/mix.test.js
  protocol-designer/src/step-generation/test-with-flow/transfer.test.js
  yarn.lock
Labels: app, chore, components, protocol designer, ready for review

#2839 fix(api): Remove the intermingled old aspirate function from p10s
  api/src/opentrons/config/pipette_config.py
  api/tests/opentrons/labware/test_pipette.py
Labels: api, easyfix, small

#2823 refactor(protocol-designer): create step-form reducers
  protocol-designer/src/configureStore.js
  protocol-designer/src/constants.js
  protocol-designer/src/form-types.js
  protocol-designer/src/labware-ingred/actions.js
  protocol-designer/src/labware-ingred/reducers/index.js
  protocol-designer/src/load-file/actions.js
  protocol-designer/src/load-file/types.js
  protocol-designer/src/pipettes/utils.js
  protocol-designer/src/step-forms/index.js
  protocol-designer/src/step-forms/reducers/index.js
  protocol-designer/src/step-forms/selectors/index.js
  protocol-designer/src/step-forms/utils.js
  protocol-designer/src/steplist/reducers.js
  protocol-designer/src/types.js
Labels: protocol designer, ready for review, refactor

#2819 fix(protocol-designer): fix liquid placement modal overlay height
  protocol-designer/src/components/LiquidPlacementModal.css
  protocol-designer/src/components/LiquidPlacementModal.js
Labels: fix, protocol designer, ready for review

#2837 refactor(protocol-designer): move step related ui to own branch
  protocol-designer/src/components/StepEditForm/ButtonRow.js
  protocol-designer/src/components/StepEditForm/FormAlerts.js
  protocol-designer/src/components/StepEditForm/FormSection.js
  protocol-designer/src/components/StepEditForm/WellSelectionInput/WellSelectionInput.js
  protocol-designer/src/components/StepEditForm/WellSelectionInput/WellSelectionModal.js
  protocol-designer/src/components/alerts/TimelineAlerts.js
  protocol-designer/src/components/steplist/TerminalItem/index.js
  protocol-designer/src/configureStore.js
  protocol-designer/src/containers/Alerts.js
  protocol-designer/src/containers/ConnectedDeckSetup.js
  protocol-designer/src/containers/ConnectedMoreOptionsModal.js
  protocol-designer/src/containers/ConnectedStepItem.js
  protocol-designer/src/containers/ConnectedTitleBar.js
  protocol-designer/src/containers/HighlightableLabware.js
  protocol-designer/src/containers/LabwareContainer.js
  protocol-designer/src/containers/StepCreationButton.js
  protocol-designer/src/dismiss/selectors.js
  protocol-designer/src/step-forms/reducers/index.js
  protocol-designer/src/steplist/actions/actions.js
  protocol-designer/src/steplist/actions/thunks.js
  protocol-designer/src/steplist/reducers.js
  protocol-designer/src/steplist/selectors.js
  protocol-designer/src/steplist/test/reducers.test.js
  protocol-designer/src/top-selectors/substep-highlight.js
  protocol-designer/src/top-selectors/tip-contents/index.js
  protocol-designer/src/types.js
  protocol-designer/src/ui/index.js
  protocol-designer/src/ui/steps/actions.js
  protocol-designer/src/ui/steps/index.js
  protocol-designer/src/ui/steps/reducers.js
  protocol-designer/src/ui/steps/selectors.js
  protocol-designer/src/ui/steps/test/reducers.test.js
  protocol-designer/src/ui/steps/types.js
Labels: protocol designer, ready for review, refactor

#2803 API: Add ability to use papi2 in protocol
  api/docs/source/index.rst
  api/docs/source/new_protocol_api.rst
  api/src/opentrons/api/models.py
  api/src/opentrons/api/routers.py
  api/src/opentrons/api/session.py
  api/src/opentrons/commands/commands.py
  api/src/opentrons/config/pipette_config.py
  api/src/opentrons/config/robot_configs.py
  api/src/opentrons/hardware_control/__init__.py
  api/src/opentrons/hardware_control/adapters.py
  api/src/opentrons/hardware_control/controller.py
  api/src/opentrons/hardware_control/pipette.py
  api/src/opentrons/hardware_control/simulator.py
  api/src/opentrons/protocol_api/__init__.py
  api/src/opentrons/protocol_api/contexts.py
  api/src/opentrons/protocol_api/execute.py
  api/src/opentrons/protocol_api/geometry.py
  api/src/opentrons/protocol_api/labware.py
  api/src/opentrons/server/rpc.py
  api/src/opentrons/simulate_protocol.py
  api/src/opentrons/types.py
  api/tests/opentrons/api/test_calibration.py
  api/tests/opentrons/api/test_session.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/data/testosaur_v2.py
  api/tests/opentrons/hardware_control/test_adapters.py
  api/tests/opentrons/hardware_control/test_instantiation.py
  api/tests/opentrons/hardware_control/test_pipette.py
  api/tests/opentrons/integration/test_api.py
  api/tests/opentrons/protocol_api/test_context.py
  api/tests/opentrons/protocol_api/test_execute.py
  api/tests/opentrons/server/test_server.py
  shared-data/definitions2/eppendorf_96_tiprack_1000_uL.json
  shared-data/definitions2/eppendorf_96_tiprack_10_uL.json
  shared-data/definitions2/opentrons_96_tiprack_1000_uL.json
  shared-data/definitions2/opentrons_96_tiprack_10_uL.json
  shared-data/definitions2/opentrons_96_tiprack_300_uL.json
  shared-data/robot-data/pipetteNameSpecs.json
  shared-data/robot-data/schemas/pipetteNameSpecsSchema.json
Labels: api, feature

#2845 refactor(protocol-designer): wire up step ui actions and remove old
  protocol-designer/src/components/Hints/index.js
  protocol-designer/src/components/StepEditForm/ButtonRow.js
  protocol-designer/src/components/StepEditForm/FormSection.js
  protocol-designer/src/components/StepEditForm/WellSelectionInput/WellSelectionInput.js
  protocol-designer/src/components/steplist/TerminalItem/TerminalItemLink.js
  protocol-designer/src/components/steplist/TerminalItem/index.js
  protocol-designer/src/containers/ConnectedMoreOptionsModal.js
  protocol-designer/src/containers/ConnectedStepItem.js
  protocol-designer/src/containers/ConnectedTitleBar.js
  protocol-designer/src/containers/StepCreationButton.js
  protocol-designer/src/steplist/actions/actions.js
  protocol-designer/src/steplist/actions/thunks.js
Labels: protocol designer, ready for review, refactor

#2829 refactor(protocol-designer): sync pipette locations in new initial deck setup step
  protocol-designer/src/components/modals/EditPipettesModal/index.js
  protocol-designer/src/containers/ConnectedFilePage.js
  protocol-designer/src/containers/ConnectedNewFileModal.js
  protocol-designer/src/file-types.js
  protocol-designer/src/labware-ingred/actions.js
  protocol-designer/src/labware-ingred/reducers/index.js
  protocol-designer/src/pipettes/actions.js
  protocol-designer/src/pipettes/types.js
  protocol-designer/src/step-forms/actions/index.js
  protocol-designer/src/step-forms/index.js
  protocol-designer/src/step-forms/reducers/index.js
  protocol-designer/src/step-forms/selectors/index.js
  protocol-designer/src/step-forms/types.js
  protocol-designer/src/steplist/actions/types.js
  protocol-designer/src/steplist/reducers.js
Labels: protocol designer, ready for review, refactor

#2849 fix(shared-data): add tests to ensure labware filename matches name/loadName
  shared-data/definitions/opentrons-aluminum-block-PCR-strips-200ul.json
  shared-data/definitions/opentrons-tiprack-300ul.json
  shared-data/js/__tests__/definition-schema.test.js
  shared-data/js/__tests__/definition2-schema.test.js
Labels: fix

#2838 refactor(protocol-designer): factor out selectors + reducers from steplist and pipettes to step-forms
  protocol-designer/src/components/LabwareSelectionModal/index.js
  protocol-designer/src/components/StepEditForm/FlowRateField/index.js
  protocol-designer/src/components/StepEditForm/FormAlerts.js
  protocol-designer/src/components/StepEditForm/StepFormField.js
  protocol-designer/src/components/StepEditForm/TipPositionInput/index.js
  protocol-designer/src/components/StepEditForm/WellOrderInput/WellOrderModal.js
  protocol-designer/src/components/StepEditForm/WellOrderInput/index.js
  protocol-designer/src/components/StepEditForm/WellSelectionInput/WellSelectionModal.js
  protocol-designer/src/components/StepEditForm/WellSelectionInput/index.js
  protocol-designer/src/components/StepEditForm/formFields.js
  protocol-designer/src/components/StepEditForm/index.js
  protocol-designer/src/components/modals/EditPipettesModal/index.js
  protocol-designer/src/configureStore.js
  protocol-designer/src/containers/ConnectedFilePage.js
  protocol-designer/src/containers/ConnectedNewFileModal.js
  protocol-designer/src/containers/ConnectedStepItem.js
  protocol-designer/src/containers/ConnectedStepList.js
  protocol-designer/src/containers/HighlightableLabware.js
  protocol-designer/src/containers/SelectorDebugger.js
  protocol-designer/src/dismiss/selectors.js
  protocol-designer/src/file-data/selectors/commands.js
  protocol-designer/src/file-data/selectors/fileCreator.js
  protocol-designer/src/file-types.js
  protocol-designer/src/form-types.js
  protocol-designer/src/pipettes/actions.js
  protocol-designer/src/pipettes/index.js
  protocol-designer/src/pipettes/reducers.js
  protocol-designer/src/pipettes/selectors.js
  protocol-designer/src/pipettes/thunks.js
  protocol-designer/src/pipettes/types.js
  protocol-designer/src/pipettes/utils.js
  protocol-designer/src/step-forms/index.js
  protocol-designer/src/step-forms/reducers/index.js
  protocol-designer/src/step-forms/selectors/index.js
  protocol-designer/src/step-forms/test/reducers.test.js
  protocol-designer/src/step-forms/types.js
  protocol-designer/src/step-generation/types.js
  protocol-designer/src/steplist/actions/actions.js
  protocol-designer/src/steplist/actions/handleFormChange.js
  protocol-designer/src/steplist/actions/thunks.js
  protocol-designer/src/steplist/fieldLevel/index.js
  protocol-designer/src/steplist/formLevel/errors.js
  protocol-designer/src/steplist/formLevel/getNextDefaultPipetteId/index.js
  protocol-designer/src/steplist/generateSubsteps.js
  protocol-designer/src/steplist/index.js
  protocol-designer/src/steplist/reducers.js
  protocol-designer/src/steplist/selectors.js
  protocol-designer/src/steplist/types.js
  protocol-designer/src/top-selectors/substep-highlight.js
  protocol-designer/src/top-selectors/substeps.js
  protocol-designer/src/top-selectors/tip-contents/index.js
  protocol-designer/src/types.js
  protocol-designer/src/ui/steps/actions.js
  protocol-designer/src/ui/steps/selectors.js
  protocol-designer/src/well-selection/actions.js
Labels: protocol designer, ready for review, refactor

#2850 fix(docs): Fix broken support article link
  api/docs/source/index.rst
Labels: chore, docs, ready for review

#2847 refactor(protocol-designer): step annotation form from redux -> react
  protocol-designer/src/components/ProtocolEditor.js
  protocol-designer/src/components/StepEditForm/ButtonRow.js
  protocol-designer/src/components/StepEditForm/index.js
  protocol-designer/src/components/modals/MoreOptionsModal.js
  protocol-designer/src/containers/ConnectedMoreOptionsModal.js
  protocol-designer/src/form-types.js
  protocol-designer/src/localization/en/form.json
  protocol-designer/src/step-forms/reducers/index.js
  protocol-designer/src/step-forms/selectors/index.js
  protocol-designer/src/steplist/formLevel/generateNewForm.js
  protocol-designer/src/ui/steps/actions.js
  protocol-designer/src/ui/steps/reducers.js
  protocol-designer/src/ui/steps/selectors.js
Labels: protocol designer, ready for review, refactor
