Repository Opentrons/opentrons, pull requests merged in 2018-10, with the labels that each got.

#2380 feat(shared-data): Add generator function to create regular labware defs
  protocol-designer/src/utils/index.js
  shared-data/js/helpers/index.js
  shared-data/js/index.js
  shared-data/js/labwareTools/__tests__/createLabware.test.js
  shared-data/js/labwareTools/__tests__/example.json
  shared-data/js/labwareTools/__tests__/example2.json
  shared-data/js/labwareTools/assignId.js
  shared-data/js/labwareTools/index.js
  shared-data/js/schema.js
  shared-data/labware-json-schema/labware-schema.json
  shared-data/package.json
  yarn.lock
Labels: labware, ready for review, shared data

#2371 feat(components): create new tab-styled vertical nav bar
  components/src/index.js
  components/src/tabbedNav/NavTab.js
  components/src/tabbedNav/NavTab.md
  components/src/tabbedNav/OutsideLinkTab.js
  components/src/tabbedNav/TabbedNavBar.js
  components/src/tabbedNav/index.js
  components/src/tabbedNav/navbar.css
  components/styleguide.config.js
  protocol-designer/src/containers/ConnectedNav.js
  protocol-designer/src/containers/NavBar.css
Labels: components, protocol designer, ready for review

#2396 fix(protocol-designer): fix substep highlighting
  protocol-designer/src/containers/SelectablePlate.js
  protocol-designer/src/top-selectors/substep-highlight.js
Labels: fix, protocol designer

#2392 feat(labware-designer): set up labware-designer skeleton for use in browser console
  labware-designer/Makefile
  labware-designer/package.json
  labware-designer/src/index.hbs
  labware-designer/src/index.js
  labware-designer/webpack.config.js
  package.json
  yarn.lock
Labels: feature, labware, ready for review, small

#2397 feat(app): Add release notes to robot update modals
  app/src/components/AppSettings/AppUpdateModal.js
  app/src/components/AppSettings/styles.css
  app/src/components/ReleaseNotes/index.js
  app/src/components/ReleaseNotes/styles.css
  app/src/components/RobotSettings/RobotUpdateModal.js
  app/src/components/RobotSettings/UpdateAppMessage.js
  app/src/components/RobotSettings/UpdateRobotMessage.js
  app/src/components/RobotSettings/index.js
  app/src/components/RobotSettings/styles.css
  app/src/components/modals/ScrollableAlertModal.js
  app/src/components/modals/index.js
  app/src/components/modals/styles.css
  app/src/pages/Robots/RobotSettings.js
Labels: app, feature, ready for review

#2374 perf(app): Upgrade Electron to v3 and remove Node in renderer
  __mocks__/setup-mock-globals.js
  app-shell/build/release-notes.md
  app-shell/electron-builder.json
  app-shell/package.json
  app-shell/src/preload.js
  app-shell/src/ui.js
  app/package.json
  app/src/logger.js
  app/src/shell/__tests__/api-update.test.js
  app/src/shell/__tests__/shell.test.js
  app/src/shell/api-update.js
  app/src/shell/index.js
  app/webpack.config.js
  jest.config.js
  package.json
  yarn.lock
Labels: app, fix, medium, ready for review

#2402 feat(api): add instrument cache to hardware control
  api/opentrons/hardware_control/__init__.py
  api/opentrons/hardware_control/controller.py
  api/opentrons/hardware_control/simulator.py
  api/tests/opentrons/hardware_control/test_instruments.py
  api/tests/opentrons/hardware_control/test_moves.py
Labels: api

#2395 refactor(api): Add protocol API back-compatibility layer
  api/opentrons/__init__.py
  api/opentrons/api/__init__.py
  api/opentrons/api/models.py
  api/opentrons/api/session.py
  api/opentrons/commands/commands.py
  api/opentrons/config/advanced_settings.py
  api/opentrons/config/feature_flags.py
  api/opentrons/data_storage/database.py
  api/opentrons/data_storage/old_container_loading.py
  api/opentrons/data_storage/serializers.py
  api/opentrons/deck_calibration/__init__.py
  api/opentrons/deck_calibration/dc_main.py
  api/opentrons/deck_calibration/endpoints.py
  api/opentrons/legacy_api/__init__.py
  api/opentrons/legacy_api/api.py
  api/opentrons/legacy_api/containers/__init__.py
  api/opentrons/legacy_api/containers/placeable.py
  api/opentrons/legacy_api/instruments/__init__.py
  api/opentrons/legacy_api/instruments/instrument.py
  api/opentrons/legacy_api/instruments/pipette.py
  api/opentrons/legacy_api/instruments/pipette_config.py
  api/opentrons/legacy_api/robot/__init__.py
  api/opentrons/legacy_api/robot/mover.py
  api/opentrons/legacy_api/robot/robot.py
  api/opentrons/legacy_api/robot/robot_configs.py
  api/opentrons/protocol_api/__init__.py
  api/opentrons/protocol_api/back_compat.py
  api/opentrons/protocols/__init__.py
  api/opentrons/robot/__init__.py
  api/opentrons/server/endpoints/control.py
  api/opentrons/server/endpoints/settings.py
  api/opentrons/simulate_protocol.py
  api/opentrons/util/calibration_functions.py
  api/tests/opentrons/__init__.py
  api/tests/opentrons/cli/test_cli.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/containers/test_containers.py
  api/tests/opentrons/containers/test_default_containers.py
  api/tests/opentrons/containers/test_grid.py
  api/tests/opentrons/containers/test_old_container_loading.py
  api/tests/opentrons/containers/test_placeable.py
  api/tests/opentrons/containers/test_placeable_unittest.py
  api/tests/opentrons/database/test_database.py
  api/tests/opentrons/helpers/test_helpers.py
  api/tests/opentrons/integration/test_protocol.py
  api/tests/opentrons/labware/test_pipette.py
  api/tests/opentrons/labware/test_pipette_constructors.py
  api/tests/opentrons/labware/test_pipette_unittest.py
  api/tests/opentrons/performance/test_performance.py
  api/tests/opentrons/robot/test_mover.py
  api/tests/opentrons/robot/test_robot.py
  api/tests/opentrons/robot/test_robots_config.py
  api/tests/opentrons/server/calibration_integration_test.py
  api/tests/opentrons/server/test_calibration_endpoints.py
  api/tests/opentrons/server/test_control_endpoints.py
  api/tests/opentrons/server/test_settings_endpoints.py
  api/tests/opentrons/util/test_tip_probe.py
Labels: api, ready for review, refactor

#2406 feat(app): Only display instrument settings for selected robot
  app/src/components/ConnectPanel/RobotItem.js
  app/src/components/ConnectPanel/RobotList.js
  app/src/components/ConnectPanel/RobotListItem.js
  app/src/pages/SidePanel.js
Labels: app, feature, ready for review

#2399 chore(api): Fix more mypy type errors
  api/Makefile
  api/opentrons/broker/__init__.py
  api/opentrons/commands/commands.py
  api/opentrons/config/advanced_settings.py
  api/opentrons/data_storage/database.py
  api/opentrons/data_storage/old_container_loading.py
  api/opentrons/data_storage/serializers.py
  api/opentrons/drivers/__init__.py
  api/opentrons/drivers/mag_deck/__init__.py
  api/opentrons/drivers/mag_deck/driver.py
  api/opentrons/drivers/temp_deck/__init__.py
  api/opentrons/hardware_control/__init__.py
  api/opentrons/helpers/__init__.py
  api/opentrons/legacy_api/api.py
  api/opentrons/protocol_api/__init__.py
  api/opentrons/server/endpoints/serverlib_fallback.py
  api/tests/opentrons/hardware_control/test_instantiation.py
  api/tests/opentrons/hardware_control/test_instruments.py
Labels: api, chore, ready for review

#2390 refactor(protocol-designer): refactor PD labware components for readability
  components/interfaces/DeckSlot.js
  components/src/deck/LabwareContainer.js
  protocol-designer/src/components/LabwareSelectionModal/index.js
  protocol-designer/src/components/labware/ClickableText.js
  protocol-designer/src/components/labware/DisabledSelectSlotOverlay.js
  protocol-designer/src/components/labware/LabwareOnDeck.js
  protocol-designer/src/components/labware/NameThisLabwareOverlay.js
  protocol-designer/src/containers/LabwareContainer.js
  protocol-designer/src/labware-ingred/actions.js
  protocol-designer/src/labware-ingred/reducers/index.js
Labels: chore, protocol designer, ready for review

#2417 test(api): fix test errors
  api/opentrons/hardware_control/controller.py
  api/tests/opentrons/drivers/module_drivers/test_temp_deck_driver.py
Labels: api, easyfix

#2403 feat(protocol-designer): implement "metadata.created" in JSON file
  protocol-designer/src/components/FilePage.js
  protocol-designer/src/components/FileSidebar/ConnectedFileSidebar.js
  protocol-designer/src/containers/ConnectedFilePage.js
  protocol-designer/src/file-data/actions.js
  protocol-designer/src/file-data/reducers/index.js
  protocol-designer/src/file-data/selectors/fileCreator.js
  protocol-designer/src/file-data/selectors/fileFields.js
  protocol-designer/src/file-data/types.js
  protocol-designer/src/file-types.js
Labels: protocol designer, ready for review

#2404 fix(discovery-client): Ensure IPs are actually de-duped
  app-shell/src/__tests__/discovery.test.js
  app-shell/src/discovery.js
  app/src/discovery/index.js
  discovery-client/Makefile
  discovery-client/package.json
  discovery-client/src/__fixtures__/mdns-browser-service.js
  discovery-client/src/__fixtures__/service.js
  discovery-client/src/__tests__/client.test.js
  discovery-client/src/__tests__/poller.test.js
  discovery-client/src/__tests__/service-list.test.js
  discovery-client/src/__tests__/service.test.js
  discovery-client/src/index.js
  discovery-client/src/poller.js
  discovery-client/src/service-list.js
  discovery-client/src/service.js
  discovery-client/src/types.js
Labels: app, bug, fix, medium, ready for review

#2400 feat(protocol-designer): add substep level liquid tracking and expose in tooltip
  components/src/structure/Pill.js
  components/src/tooltips/HoverTooltip.js
  protocol-designer/src/components/IngredPill.js
  protocol-designer/src/components/steplist/IngredPill.js
  protocol-designer/src/components/steplist/MultiChannelSubstep.js
  protocol-designer/src/components/steplist/SourceDestSubstep.js
  protocol-designer/src/components/steplist/StepItem.css
  protocol-designer/src/components/steplist/StepItem.js
  protocol-designer/src/components/steplist/SubstepRow.js
  protocol-designer/src/components/steplist/utils.js
  protocol-designer/src/containers/ConnectedStepItem.js
  protocol-designer/src/containers/SelectablePlate.js
  protocol-designer/src/file-data/selectors/commands.js
  protocol-designer/src/step-generation/consolidate.js
  protocol-designer/src/step-generation/distribute.js
  protocol-designer/src/step-generation/mix.js
  protocol-designer/src/step-generation/test-with-flow/consolidate.test.js
  protocol-designer/src/step-generation/test-with-flow/distribute.test.js
  protocol-designer/src/step-generation/test-with-flow/fixtures/fixtures.js
  protocol-designer/src/step-generation/test-with-flow/mix.test.js
  protocol-designer/src/step-generation/test-with-flow/transfer.test.js
  protocol-designer/src/step-generation/transfer.js
  protocol-designer/src/step-generation/types.js
  protocol-designer/src/step-generation/utils.js
  protocol-designer/src/steplist/generateSubsteps.js
  protocol-designer/src/steplist/substepTimeline.js
  protocol-designer/src/steplist/types.js
  protocol-designer/src/steplist/utils/mergeWhen.js
  protocol-designer/src/top-selectors/substep-highlight.js
  protocol-designer/src/top-selectors/substeps.js
  protocol-designer/src/top-selectors/well-contents/index.js
Labels: feature, protocol designer, ready for review

#2411 chore(api): Add README on using generator function
  labware-designer/README.md
  shared-data/js/labwareTools/assignId.js
  shared-data/js/labwareTools/index.js
  shared-data/labware-json-schema/labware-schema.json
Labels: chore, ready for review, shared data

#2422 feat(protocol-designer): modify the "name new labware" overlay for new design
  components/src/__tests__/__snapshots__/icons.test.js.snap
  components/src/icons/icon-data.js
  protocol-designer/src/components/labware/LabwareOnDeck.js
  protocol-designer/src/components/labware/NameThisLabwareOverlay.js
  protocol-designer/src/localization/en/index.js
  protocol-designer/src/localization/en/labware_overlays.json
Labels: protocol designer, ready for review

#2431 chore(flow): Upgrade flow / most npm typedefs and fix type failures
  app/package.json
  app/src/components/CalibrateDeck/ConfirmPosition.js
  app/src/components/CalibrateDeck/Instructions.js
  app/src/components/controls/LabeledButton.js
  app/src/components/controls/LabeledControl.js
  app/src/components/controls/LabeledToggle.js
  app/src/components/portal/index.js
  app/src/http-api-client/calibration.js
  app/src/http-api-client/health.js
  app/src/http-api-client/modules.js
  app/src/http-api-client/pipettes.js
  app/src/http-api-client/reset.js
  app/src/http-api-client/robot.js
  app/src/http-api-client/server.js
  app/src/http-api-client/settings.js
  app/src/protocol/index.js
  app/src/robot/selectors.js
  app/src/shell/update.js
  components/flow-typed/npm/classnames_v2.x.x.js
  components/package.json
  components/src/controls/LabeledButton.js
  components/src/controls/LabeledControl.js
  components/src/controls/LabeledToggle.js
  components/src/deck/Well.js
  discovery-client/package.json
  flow-typed/npm/history_v4.x.x.js
  flow-typed/npm/jest_v20.x.x.js
  flow-typed/npm/lodash_v4.x.x.js
  flow-typed/npm/moment_v2.3.x.js
  flow-typed/npm/normalize.css_v7.x.x.js
  flow-typed/npm/react-router-dom_v4.x.x.js
  flow-typed/npm/react-router_v4.x.x.js
  flow-typed/npm/react-test-renderer_v16.x.x.js
  flow-typed/npm/redux-actions_v2.x.x.js
  flow-typed/npm/redux-mock-store_v1.2.x.js
  flow-typed/npm/reselect_v3.x.x.js
  labware-designer/package.json
  package.json
  protocol-designer/package.json
  protocol-designer/src/components/StepEditForm/MixForm.js
  protocol-designer/src/components/WellSelectionModal.js
  protocol-designer/src/components/portals/MainPageModalPortal.js
  protocol-designer/src/containers/ConnectedTitleBar.js
  protocol-designer/src/top-selectors/tip-contents/index.js
  protocol-library-kludge/package.json
  protocol-library-kludge/src/URLDeck.js
  shared-data/package.json
  yarn.lock
Labels: chore

#2433 fix(discovery-client): Monkeypatch uncatchable throw in mdns-js
  discovery-client/__mocks__/mdns-js.js
  discovery-client/src/index.js
  discovery-client/src/mdns-browser.js
  flow-typed/npm/mdns-js_v1.0.x.js
Labels: app, bug, fix, ready for review

#2420 feat(discovery-client): Add mdns flag and health responses to services
  app-shell/Makefile
  app-shell/src/__tests__/discovery.test.js
  app-shell/src/discovery.js
  app/Makefile
  app/src/analytics/__tests__/make-event.test.js
  app/src/discovery/__tests__/reducer.test.js
  app/src/discovery/index.js
  app/src/discovery/types.js
  app/src/health-check/__tests__/health-check.test.js
  app/src/robot/selectors.js
  app/src/robot/test/api-client.test.js
  app/src/robot/test/selectors.test.js
  app/src/robot/types.js
  app/src/shell/index.js
  discovery-client/README.md
  discovery-client/src/__fixtures__/service.js
  discovery-client/src/__tests__/client.test.js
  discovery-client/src/__tests__/service-list.test.js
  discovery-client/src/__tests__/service.test.js
  discovery-client/src/cli.js
  discovery-client/src/index.js
  discovery-client/src/poller.js
  discovery-client/src/service-list.js
  discovery-client/src/service.js
  discovery-client/src/types.js
Labels: app, feature, medium, ready for review

#2425 feat(api): add p1000 function
  api/opentrons/legacy_api/instruments/pipette.py
Labels: api

#2418 feat(api): Add accessor functions in new labware class
  api/opentrons/protocol_api/labware.py
  api/tests/opentrons/protocol_api/test_accessor_fn.py
Labels: api, feature, ready for review

#2436 feat(protocol-designer): implement selective redux persistence
  protocol-designer/src/analytics/actions.js
  protocol-designer/src/analytics/index.js
  protocol-designer/src/analytics/integrations.js
  protocol-designer/src/analytics/reducers.js
  protocol-designer/src/analytics/selectors.js
  protocol-designer/src/components/SettingsPage/Privacy.js
  protocol-designer/src/components/modals/AnalyticsModal.js
  protocol-designer/src/configureStore.js
  protocol-designer/src/index.js
  protocol-designer/src/persist.js
  protocol-designer/src/types.js
Labels: protocol designer, ready for review

#2440 fix(app): Allow portal to re-check for root element
  app/src/components/controls/styles.css
  app/src/components/portal/index.js
Labels: app, bug, fix, ready for review

#2441 fix(app): Use labware.type for labware table, not labware.name
  app/src/components/FileInfo/ProtocolLabwareCard.js
Labels: app, fix, ready for review

#2385 feat(components): change default border width to 1px
  components/src/styles/borders.css
Labels: app, components, protocol designer, ready for review, small

#2423 API: add module support to hardware control
  api/opentrons/__init__.py
  api/opentrons/drivers/temp_deck/driver.py
  api/opentrons/hardware_control/__init__.py
  api/opentrons/hardware_control/controller.py
  api/opentrons/hardware_control/modules/__init__.py
  api/opentrons/hardware_control/modules/magdeck.py
  api/opentrons/hardware_control/modules/mod_abc.py
  api/opentrons/hardware_control/modules/tempdeck.py
  api/opentrons/hardware_control/modules/update.py
  api/opentrons/hardware_control/simulator.py
  api/opentrons/legacy_api/api.py
  api/opentrons/legacy_api/modules/__init__.py
  api/opentrons/legacy_api/modules/magdeck.py
  api/opentrons/legacy_api/modules/tempdeck.py
  api/opentrons/protocol_api/back_compat.py
  api/opentrons/server/endpoints/update.py
  api/tests/opentrons/hardware_control/modules/test_hc_magdeck.py
  api/tests/opentrons/hardware_control/modules/test_hc_tempdeck.py
  api/tests/opentrons/hardware_control/test_modules.py
  api/tests/opentrons/hardware_control/test_moves.py
  api/tests/opentrons/server/test_update_endpoints.py
Labels: api, feature, ready for review

#2449 refactor(app): Organize robots by connectable, reachable, unreachable
  app/src/components/ConnectPanel/RobotItem.js
  app/src/components/ConnectPanel/RobotListItem.js
  app/src/components/ConnectPanel/index.js
  app/src/discovery/__tests__/selectors.test.js
  app/src/discovery/index.js
  app/src/discovery/selectors.js
  app/src/discovery/types.js
  app/src/http-api-client/server.js
  discovery-client/src/__tests__/client.test.js
  discovery-client/src/cli.js
  discovery-client/src/index.js
  discovery-client/src/mdns-browser.js
  discovery-client/src/service-list.js
  flow-typed/npm/mdns-js_v1.0.x.js
Labels: app, ready for review, refactor

#2448 feat(api): Add a displayName field to EAP types in /wifi/eap-options
  api/opentrons/server/endpoints/wifi.py
  api/opentrons/system/nmcli.py
  api/tests/opentrons/server/test_wifi_endpoints.py
Labels: api, feature

#2454 feat(protocol-designer): add liquids tab and sidebar
  protocol-designer/src/components/IngredientsList.js
  protocol-designer/src/components/LiquidsPage/index.js
  protocol-designer/src/components/LiquidsSidebar/index.js
  protocol-designer/src/components/SettingsPage/SettingsSidebar.js
  protocol-designer/src/containers/ConnectedMainPanel.js
  protocol-designer/src/containers/ConnectedNav.js
  protocol-designer/src/containers/ConnectedSidebar.js
  protocol-designer/src/containers/ConnectedTitleBar.js
  protocol-designer/src/labware-ingred/reducers/index.js
  protocol-designer/src/labware-ingred/types.js
  protocol-designer/src/localization/en/nav.json
  protocol-designer/src/navigation/types.js
Labels: protocol designer, ready for review

#2456 docs(api): Fix whitespace in code block for delete_container docs
  api/docs/source/labware.rst
Labels: api, chore, docs

#2455 feat(app): Display reachable non connectable robots
  app/src/analytics/__tests__/make-event.test.js
  app/src/analytics/make-event.js
  app/src/components/ChangePipette/index.js
  app/src/components/ConnectPanel/RobotItem.js
  app/src/components/ConnectPanel/RobotLink.js
  app/src/components/ConnectPanel/RobotList.js
  app/src/components/ConnectPanel/RobotListItem.js
  app/src/components/ConnectPanel/ScanButton.js
  app/src/components/ConnectPanel/ScanStatus.js
  app/src/components/ConnectPanel/UnreachableRobotItem.js
  app/src/components/ConnectPanel/index.js
  app/src/components/ConnectPanel/styles.css
  app/src/components/InstrumentSettings/AttachedModulesCard.js
  app/src/components/InstrumentSettings/AttachedPipettesCard.js
  app/src/components/InstrumentSettings/index.js
  app/src/components/RobotSettings/AdvancedSettingsCard.js
  app/src/components/RobotSettings/CalibrationCard.js
  app/src/components/RobotSettings/ConnectBanner.js
  app/src/components/RobotSettings/ConnectivityCard.js
  app/src/components/RobotSettings/ControlsCard.js
  app/src/components/RobotSettings/InformationCard.js
  app/src/components/RobotSettings/ReachableRobotBanner.js
  app/src/components/RobotSettings/ResetRobotModal.js
  app/src/components/RobotSettings/RobotUpdateModal.js
  app/src/components/RobotSettings/StatusCard.js
  app/src/components/RobotSettings/WifiConnectForm.js
  app/src/components/RobotSettings/index.js
  app/src/components/RobotSettings/styles.css
  app/src/components/controls/styles.css
  app/src/discovery/__tests__/selectors.test.js
  app/src/discovery/selectors.js
  app/src/discovery/types.js
  app/src/pages/Robots/InstrumentSettings.js
  app/src/pages/Robots/RobotSettings.js
  app/src/pages/Robots/index.js
  app/src/robot/types.js
  components/src/nav/SidePanel.css
  discovery-client/src/__tests__/poller.test.js
  discovery-client/src/index.js
  discovery-client/src/poller.js
Labels: app, feature, ready for review

#2459 feat(app): Remove 'opentrons-' prefix in robot displayNames
  app/src/components/ConnectPanel/RobotListItem.js
  app/src/components/ConnectPanel/UnreachableRobotItem.js
  app/src/components/SessionHeader/index.js
  app/src/discovery/__tests__/selectors.test.js
  app/src/discovery/selectors.js
  app/src/discovery/types.js
  app/src/pages/Robots/InstrumentSettings.js
  app/src/pages/Robots/RobotSettings.js
Labels: app, feature, ready for review

#2442 feat(protocol-designer): refactor and performance audit of labware components
  components/src/deck/Labware.js
  components/src/deck/Well.js
  components/src/deck/index.js
  protocol-designer/src/components/ProtocolEditor.js
  protocol-designer/src/components/SelectablePlate.css
  protocol-designer/src/components/SelectablePlate.js
  protocol-designer/src/components/StepEditForm/WellSelectionInput/WellSelectionInput.js
  protocol-designer/src/components/StepEditForm/WellSelectionInput/WellSelectionModal.css
  protocol-designer/src/components/StepEditForm/WellSelectionInput/WellSelectionModal.js
  protocol-designer/src/components/StepEditForm/WellSelectionInput/index.js
  protocol-designer/src/components/WellSelectionModal.js
  protocol-designer/src/components/labware/LabwareOnDeck.js
  protocol-designer/src/components/labware/SelectableLabware.js
  protocol-designer/src/components/labware/index.js
  protocol-designer/src/containers/ConnectedWellSelectionModal.js
Labels: app, feature, protocol designer, ready for review

#2462 refactor(app): Switch completely over to new discovery selectors
  app/src/analytics/make-event.js
  app/src/components/ConnectModulesModal/ReviewModuleItem.js
  app/src/components/ConnectPanel/RobotItem.js
  app/src/components/ConnectPanel/RobotListItem.js
  app/src/components/ConnectPanel/ScanStatus.js
  app/src/components/ConnectPanel/styles.css
  app/src/components/FileInfo/ProtocolModulesCard.js
  app/src/components/FileInfo/ProtocolPipettesCard.js
  app/src/components/FileInfo/index.js
  app/src/components/LostConnectionAlert/index.js
  app/src/components/RobotSettings/InformationCard.js
  app/src/components/RobotSettings/StatusCard.js
  app/src/components/TempDeckStatusCard/index.js
  app/src/components/nav-bar/NavButton.js
  app/src/discovery/__tests__/selectors.test.js
  app/src/discovery/index.js
  app/src/discovery/selectors.js
  app/src/health-check/__tests__/health-check.test.js
  app/src/health-check/index.js
  app/src/http-api-client/__tests__/server.test.js
  app/src/http-api-client/server.js
  app/src/index.js
  app/src/pages/Calibrate/Labware.js
  app/src/pages/Calibrate/Pipettes.js
  app/src/pages/Robots/index.js
  app/src/pages/Upload/FileInfo.js
  app/src/pages/Upload/index.js
  app/src/reducer.js
  app/src/robot/api-client/client.js
  app/src/robot/reducer/connection.js
  app/src/robot/selectors.js
  app/src/robot/test/api-client.test.js
  app/src/robot/test/connection-reducer.test.js
  app/src/robot/test/selectors.test.js
  app/src/robot/types.js
  app/src/shell/index.js
  app/src/types.js
Labels: app, medium, ready for review, refactor

#2447 feat(protocol-designer): show hints as modal
  protocol-designer/src/components/Hints/hints.css
  protocol-designer/src/components/Hints/index.js
  protocol-designer/src/configureStore.js
  protocol-designer/src/images/example_add_liquids.png
  protocol-designer/src/images/example_watch_liquids_move.png
  protocol-designer/src/load-file/actions.js
  protocol-designer/src/localization/en/alert.json
  protocol-designer/src/localization/en/button.json
  protocol-designer/src/persist.js
  protocol-designer/src/tutorial/actions.js
  protocol-designer/src/tutorial/reducers.js
  protocol-designer/src/tutorial/selectors.js
Labels: protocol designer, ready for review

#2446 perf(api): P1000 pick-up-tip shake and drop-tip plunger
  api/opentrons/legacy_api/api.py
  api/opentrons/legacy_api/instruments/pipette.py
  api/opentrons/legacy_api/instruments/pipette_config.py
  api/tests/opentrons/labware/test_pipette_unittest.py
  shared-data/robot-data/pipette-config.json
Labels: api

#2467 chore(release): 3.5.0-beta.0
  .travis.yml
  CHANGELOG.md
  api/opentrons/CHANGELOG.md
  api/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/build/release-notes.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  lerna.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  scripts/travis-env.sh
  shared-data/CHANGELOG.md
  shared-data/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore

#2466 feat(api): Store pipette function params as data
  api/opentrons/deck_calibration/dc_main.py
  api/opentrons/legacy_api/api.py
  api/opentrons/legacy_api/instruments/pipette.py
  api/opentrons/legacy_api/instruments/pipette_config.py
  api/opentrons/server/endpoints/control.py
  api/tests/opentrons/api/test_session.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/drivers/test_driver.py
  api/tests/opentrons/helpers/test_helpers.py
  api/tests/opentrons/integration/test_protocol.py
  api/tests/opentrons/labware/test_pipette.py
  api/tests/opentrons/labware/test_pipette_unittest.py
  api/tests/opentrons/performance/test_performance.py
  api/tests/opentrons/robot/test_mover.py
  api/tests/opentrons/server/test_serialize.py
  api/tests/opentrons/util/test_tip_probe.py
  shared-data/robot-data/pipette-config.json
Labels: api, feature, medium

#2457 feat(api): Add newly formatted labware defs and update labware schema
  labware-designer/README.md
  shared-data/definitions2/Opentrons_96_tiprack_300_uL.json
  shared-data/definitions2/generic_96_wellPlate_380_uL.json
  shared-data/js/labwareTools/__tests__/createLabware.test.js
  shared-data/js/labwareTools/__tests__/example.json
  shared-data/js/labwareTools/__tests__/example2.json
  shared-data/js/labwareTools/index.js
  shared-data/labware-json-schema/labware-schema.json
Labels: labware, ready for review, shared data

#2469 fix(api): Fix docs build failure after move to legacy_api
  api/docs/source/api.rst
  api/opentrons/legacy_api/instruments/pipette.py
  api/opentrons/legacy_api/robot/robot.py
Labels: api, fix

#2470 feat(app): Move deck calibration to robot controls
  app/src/components/RobotSettings/ControlsCard.js
  app/src/components/RobotSettings/index.js
Labels: app, feature, ready for review

#2471 feat(api): Add /networking/status endpoint to get all interface info
  api/src/opentrons/server/endpoints/networking.py
  api/src/opentrons/server/http.py
  api/src/opentrons/system/nmcli.py
  api/tests/opentrons/server/test_networking_endpoints.py
Labels: api, feature, ready for review

#2451 feat(protocol-designer): create view to browse final liquid state
  components/src/deck/LabwareLabels.css
  components/src/deck/LabwareLabels.js
  components/src/utils.js
  protocol-designer/src/components/IngredientSelectionModal.js
  protocol-designer/src/components/SelectablePlate.js
  protocol-designer/src/components/SelectionRect.js
  protocol-designer/src/components/SingleLabware.js
  protocol-designer/src/components/StepEditForm/WellSelectionInput/WellSelectionModal.js
  protocol-designer/src/components/labware/BrowseLabwareModal.js
  protocol-designer/src/components/labware/BrowseLabwareOverlay.js
  protocol-designer/src/components/labware/LabwareOnDeck.js
  protocol-designer/src/components/labware/NameThisLabwareOverlay.js
  protocol-designer/src/components/labware/SelectableLabware.js
  protocol-designer/src/components/labware/labware.css
  protocol-designer/src/constants.js
  protocol-designer/src/containers/ConnectedDeckSetup.js
  protocol-designer/src/containers/Deck.css
  protocol-designer/src/containers/LabwareContainer.js
  protocol-designer/src/labware-ingred/actions.js
  protocol-designer/src/labware-ingred/reducers/index.js
  protocol-designer/src/localization/en/deck.json
  protocol-designer/src/localization/en/index.js
  protocol-designer/src/localization/en/labware_overlays.json
  protocol-designer/src/localization/en/modal.json
Labels: feature, protocol designer, ready for review

#2473 feat(components): Add wifi connectivity icons
  components/src/__tests__/__snapshots__/icons.test.js.snap
  components/src/icons/icon-data.js
Labels: components, feature, ready for review, small

#2480 refactor(app): Rework networking API client state module for status endpoint
  app/src/components/RobotSettings/ConnectivityCard.js
  app/src/http-api-client/__tests__/networking.test.js
  app/src/http-api-client/__tests__/wifi.test.js
  app/src/http-api-client/index.js
  app/src/http-api-client/networking.js
  app/src/http-api-client/wifi.js
Labels: app, ready for review, refactor

#2482 fix(repo): fix gitattr hex bug
  .gitattributes
Labels: chore, fix, ready for review

#2458 feat(protocol-designer): implement rounding properly
  protocol-designer/src/components/StepEditForm/FlowRateField/FlowRateField.js
  protocol-designer/src/components/StepEditForm/TipPositionInput/TipPositionModal.js
  protocol-designer/src/components/StepEditForm/TipPositionInput/TipPositionZAxisViz.js
  protocol-designer/src/components/steplist/utils.js
Labels: chore, protocol designer, ready for review

#2478 feat(protocol-designer): implement liquids page interactivity
  protocol-designer/src/components/IngredientPropertiesForm.css
  protocol-designer/src/components/IngredientPropertiesForm.js
  protocol-designer/src/components/IngredientsList.js
  protocol-designer/src/components/IngredientsList/LabwareDetailsCard/LabwareDetailsCard.js
  protocol-designer/src/components/LiquidsPage/LiquidEditForm.css
  protocol-designer/src/components/LiquidsPage/LiquidEditForm.js
  protocol-designer/src/components/LiquidsPage/index.js
  protocol-designer/src/components/LiquidsSidebar/index.js
  protocol-designer/src/components/StepCreationButton.js
  protocol-designer/src/components/StepEditForm/ButtonRow.js
  protocol-designer/src/components/StepEditForm/StepEditForm.css
  protocol-designer/src/components/StepEditForm/TipPositionInput/index.js
  protocol-designer/src/components/StepEditForm/WellOrderInput/WellOrderModal.js
  protocol-designer/src/components/StepEditForm/WellOrderInput/index.js
  protocol-designer/src/components/StepEditForm/formFields.js
  protocol-designer/src/components/WellToolTip.js
  protocol-designer/src/components/forms.css
  protocol-designer/src/components/listButtons.css
  protocol-designer/src/containers/IngredientsList.js
  protocol-designer/src/file-data/selectors/fileCreator.js
  protocol-designer/src/labware-ingred/__tests__/ingredients.test.js
  protocol-designer/src/labware-ingred/__tests__/selectors.test.js
  protocol-designer/src/labware-ingred/actions.js
  protocol-designer/src/labware-ingred/reducers/index.js
  protocol-designer/src/labware-ingred/types.js
  protocol-designer/src/localization/en/button.json
  protocol-designer/src/localization/en/form.json
  protocol-designer/src/localization/en/index.js
  protocol-designer/src/localization/en/step_edit_form.json
  protocol-designer/src/top-selectors/well-contents/__tests__/wellContentsAllLabware.test.js
Labels: protocol designer, ready for review

#2484 refactor(app): Add new ConnectionCard with interface and WiFi details
  app/package.json
  app/src/components/RobotSettings/ConnectionCard.js
  app/src/components/RobotSettings/connection.js
  app/src/components/RobotSettings/index.js
  app/src/components/RobotSettings/styles.css
  app/src/config/index.js
  app/src/http-api-client/networking.js
  components/src/structure/structure.css
  components/src/styles/colors.css
  flow-typed/npm/emotion_vx.x.x.js
  flow-typed/npm/memoize-one_vx.x.x.js
  yarn.lock
Labels: app, components, feature, ready for review

#2492 fix(app): Check semver validity of API returned version strings
  app-shell/package.json
  app-shell/src/api-update.js
  app/src/discovery/__tests__/selectors.test.js
  app/src/discovery/selectors.js
  app/src/http-api-client/__tests__/server.test.js
  app/src/http-api-client/server.js
Labels: app, bug, fix, ready for review

#2493 fix(api): Filter out missing SSIDs from network list
  api/src/opentrons/system/nmcli.py
  api/tests/opentrons/system/test_nmcli.py
Labels: api, fix, ready for review

#2496 chore(release): 3.5.0-beta.1
  CHANGELOG.md
  app-shell/CHANGELOG.md
  app-shell/build/release-notes.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  lerna.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore, ready for review

#2501 chore(api): Update pipenv and use pipenv sync
  Makefile
  api/Makefile
  update-server/Makefile
Labels: api, chore

#2476 feat(api): Add error checking on generated labware def
  shared-data/js/labwareTools/__tests__/createLabware.test.js
  shared-data/js/labwareTools/index.js
Labels: chore, ready for review, shared data

#2508 refactor(components): Add AlertModal heading icon override
  components/src/modals/AlertModal.js
  components/src/modals/AlertModal.md
Labels: components, ready for review, refactor, small

#2504 refactor(app): Add connnect to unsecured on select to ConnectionCard
  app/src/components/RobotSettings/ConnectionCard.js
  app/src/components/RobotSettings/SelectNetwork.js
  app/src/components/RobotSettings/connection.js
  app/src/http-api-client/networking.js
  components/src/interaction-enhancers/IntervalWrapper.js
Labels: app, ready for review, refactor

#2503 feat(api): Add ability to save new delta from calibrating labware
  api/src/opentrons/protocol_api/labware.py
  api/tests/opentrons/protocol_api/test_accessor_fn.py
  api/tests/opentrons/protocol_api/test_offsets.py
Labels: api, feature, ready for review

#2497 feat(protocol-designer): add tooltip for labware name/type on steplist
  components/src/constants.js
  components/src/tooltips/HoverTooltip.js
  components/src/utils.js
  protocol-designer/src/components/steplist/AspirateDispenseHeader.js
  protocol-designer/src/components/steplist/LabwareTooltipContents.js
  protocol-designer/src/components/steplist/MixHeader.js
  protocol-designer/src/components/steplist/StepItem.css
  protocol-designer/src/components/steplist/StepItem.js
  protocol-designer/src/components/steplist/StepList.js
  protocol-designer/src/components/steplist/SubstepRow.js
  protocol-designer/src/components/steplist/TooltipPortal.js
  protocol-designer/src/containers/ConnectedStepItem.js
  protocol-designer/src/labware-ingred/reducers/index.js
  protocol-designer/src/labware-ingred/utils.js
  protocol-designer/src/step-generation/utils.js
Labels: feature, protocol designer, ready for review

#2499 fix(protocol-designer): fix localization refactor mistakes
  protocol-designer/src/components/StepEditForm/WellOrderInput/index.js
  protocol-designer/src/localization/en/form.json
Labels: fix, protocol designer, ready for review

#2502 feat(api): Use deck-absolute coords in hardware_control
  api/setup.py
  api/src/opentrons/config/robot_configs.py
  api/src/opentrons/deck_calibration/dc_main.py
  api/src/opentrons/deck_calibration/endpoints.py
  api/src/opentrons/hardware_control/__init__.py
  api/src/opentrons/hardware_control/controller.py
  api/src/opentrons/hardware_control/simulator.py
  api/src/opentrons/hardware_control/types.py
  api/src/opentrons/legacy_api/robot/robot.py
  api/src/opentrons/server/endpoints/settings.py
  api/src/opentrons/util/calibration_functions.py
  api/src/opentrons/util/linal.py
  api/tests/opentrons/cli/test_cli.py
  api/tests/opentrons/cli/test_linal.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/hardware_control/test_moves.py
  api/tests/opentrons/hardware_control/test_robots_config.py
  api/tests/opentrons/server/test_calibration_endpoints.py
  api/tests/opentrons/server/test_settings_endpoints.py
  api/tests/opentrons/util/test_tip_probe.py
Labels: api, ready for review, refactor

#2510 fix(api): Make the Makefile have more real prerequisites/targets
  api/Makefile
  api/normalized_version.py
Labels: api, chore, ready for review

#2500 fix(api): Write .env with absolute path for conf on make install
  .gitignore
  api/.env
  api/Makefile
  api/build_tools.py
  api/normalized_version.py
  api/tests/opentrons/data/index.json
  discovery-client/Makefile
Labels: api, fix, ready for review

#2512 feat(protocol-designer): use formik for liquid edit form
  components/src/__tests__/__snapshots__/forms.test.js.snap
  components/src/forms/CheckboxField.js
  components/src/forms/InputField.js
  flow-typed/npm/formik_vx.x.x.js
  protocol-designer/package.json
  protocol-designer/src/components/LiquidsPage/LiquidEditForm.js
  protocol-designer/src/components/LiquidsPage/LiquidsPageInfo.css
  protocol-designer/src/components/LiquidsPage/LiquidsPageInfo.js
  protocol-designer/src/components/LiquidsPage/index.js
  protocol-designer/src/localization/en/form.json
  yarn.lock
Labels: chore, protocol designer, ready for review

#2513 feat(api): Factory reset clears new labware calibration files
  api/src/opentrons/protocol_api/labware.py
  api/src/opentrons/server/endpoints/settings.py
  api/tests/opentrons/protocol_api/test_offsets.py
Labels: api, feature, ready for review

#2514 fix(repo): increase flow merge timeout
  .flowconfig
Labels: chore, fix

#2515 refactor(app): Add WPA2 personal auth modal to new connection UI
  app/package.json
  app/src/components/RobotSettings/SelectNetwork.js
  app/src/components/RobotSettings/SelectNetwork/ConnectForm.js
  app/src/components/RobotSettings/SelectNetwork/FormTable.js
  app/src/components/RobotSettings/SelectNetwork/index.js
  app/src/components/RobotSettings/SelectNetwork/styles.css
  app/src/components/RobotSettings/WifiConnectModal.js
  app/src/components/RobotSettings/inputs.js
  app/src/http-api-client/networking.js
  components/src/__tests__/__snapshots__/forms.test.js.snap
  components/src/forms/InputField.js
  components/src/modals/Overlay.js
  components/src/modals/SpinnerModal.js
Labels: app, ready for review, refactor

#2481 refactor(api): refactor aspirate/dispense
  api/src/opentrons/config/pipette_config.py
  api/src/opentrons/config/robot_configs.py
  api/src/opentrons/deck_calibration/endpoints.py
  api/src/opentrons/hardware_control/__init__.py
  api/src/opentrons/hardware_control/controller.py
  api/src/opentrons/hardware_control/simulator.py
  api/src/opentrons/hardware_control/types.py
  api/src/opentrons/legacy_api/api.py
  api/src/opentrons/legacy_api/instruments/pipette.py
  api/src/opentrons/legacy_api/robot/robot.py
  api/src/opentrons/protocols/__init__.py
  api/src/opentrons/server/endpoints/control.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/hardware_control/test_instantiation.py
  api/tests/opentrons/hardware_control/test_instruments.py
  api/tests/opentrons/hardware_control/test_modules.py
  api/tests/opentrons/hardware_control/test_moves.py
  api/tests/opentrons/labware/test_pipette.py
  api/tests/opentrons/server/calibration_integration_test.py
  api/tests/opentrons/server/test_control_endpoints.py
Labels: api

#2518 feat(protocol-designer): replace liquid placement form
  components/src/__tests__/__snapshots__/forms.test.js.snap
  components/src/forms/DropdownField.js
  protocol-designer/src/components/IngredientPropertiesForm.css
  protocol-designer/src/components/IngredientPropertiesForm.js
  protocol-designer/src/components/IngredientsList.js
  protocol-designer/src/components/LiquidPlacementForm/LiquidPlacementForm.css
  protocol-designer/src/components/LiquidPlacementForm/LiquidPlacementForm.js
  protocol-designer/src/components/LiquidPlacementForm/index.js
  protocol-designer/src/components/LiquidPlacementModal.css
  protocol-designer/src/components/LiquidPlacementModal.js
  protocol-designer/src/components/LiquidsPage/LiquidEditForm.js
  protocol-designer/src/components/SelectablePlate.js
  protocol-designer/src/components/labware/BrowseLabwareModal.js
  protocol-designer/src/containers/ConnectedDeckSetup.js
  protocol-designer/src/containers/ConnectedStepItem.js
  protocol-designer/src/containers/IngredientPropertiesForm.js
  protocol-designer/src/containers/IngredientsList.js
  protocol-designer/src/labware-ingred/__tests__/ingredients.test.js
  protocol-designer/src/labware-ingred/actions.js
  protocol-designer/src/labware-ingred/reducers/index.js
  protocol-designer/src/load-file/reducers.js
  protocol-designer/src/localization/en/button.json
  protocol-designer/src/localization/en/form.json
  protocol-designer/src/tutorial/reducers.js
  protocol-designer/src/well-selection/actions.js
  protocol-designer/src/well-selection/reducers.js
Labels: protocol designer, ready for review

#2524 feat(protocol-designer): allow user to delete entire liquid groups
  protocol-designer/src/components/IngredientsList.js
  protocol-designer/src/components/LiquidsPage/LiquidEditForm.js
  protocol-designer/src/components/LiquidsPage/index.js
  protocol-designer/src/containers/IngredientsList.js
  protocol-designer/src/labware-ingred/__tests__/ingredients.test.js
  protocol-designer/src/labware-ingred/actions.js
  protocol-designer/src/labware-ingred/reducers/index.js
  protocol-designer/src/load-file/reducers.js
Labels: protocol designer, ready for review

#2525 feat(app): Show all labware of same type as confirmed
  app/src/robot/selectors.js
  app/src/robot/test/selectors.test.js
Labels: app, feature, ready for review

#2528 feat(protocol-designer): implement "clear wells" button
  protocol-designer/src/components/LiquidPlacementForm/LiquidPlacementForm.js
  protocol-designer/src/components/LiquidPlacementForm/index.js
  protocol-designer/src/labware-ingred/actions.js
Labels: protocol designer, ready for review

#2522 refactor(app): Match wifi dropdown styles to design
  app/src/components/RobotSettings/connection.js
  app/src/components/RobotSettings/styles.css
Labels: app, ready for review, refactor, small

#2526 feature(api): pipette critical points
  api/src/opentrons/config/pipette_config.py
  api/src/opentrons/deck_calibration/endpoints.py
  api/src/opentrons/hardware_control/__init__.py
  api/src/opentrons/hardware_control/pipette.py
  api/src/opentrons/hardware_control/simulator.py
  api/src/opentrons/legacy_api/api.py
  api/src/opentrons/protocols/__init__.py
  api/src/opentrons/server/endpoints/control.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/hardware_control/test_instruments.py
  api/tests/opentrons/hardware_control/test_moves.py
  api/tests/opentrons/hardware_control/test_pipette.py
  api/tests/opentrons/labware/test_pipette.py
  api/tests/opentrons/server/test_control_endpoints.py
Labels: api, ready for review

#2521 feat(protocol-designer): liquid tooltips on well selection, popper and portal
  components/src/utils.js
  protocol-designer/src/components/ProtocolEditor.js
  protocol-designer/src/components/StepEditForm/WellSelectionInput/WellSelectionModal.js
  protocol-designer/src/components/WellToolTip.css
  protocol-designer/src/components/WellToolTip.js
  protocol-designer/src/components/labware/BrowseLabwareModal.js
  protocol-designer/src/components/labware/SelectableLabware.js
  protocol-designer/src/components/labware/WellTooltip.js
  protocol-designer/src/components/labware/labware.css
  protocol-designer/src/components/portals/TopPortal.js
Labels: feature, protocol designer, ready for review

#2532 fix(api): Correct GET /wifi/keys response to match documentation
  api/src/opentrons/server/endpoints/networking.py
  api/tests/opentrons/server/test_networking_endpoints.py
Labels: api, bug, fix, ready for review

#2527 refactor(app): Support 802.1X networks in new Wi-Fi form
  api/src/opentrons/server/endpoints/networking.py
  api/src/opentrons/system/nmcli.py
  app/src/components/AppSettings/AppUpdateModal.js
  app/src/components/RobotSettings/SelectNetwork/ConnectForm.js
  app/src/components/RobotSettings/SelectNetwork/ConnectFormField.js
  app/src/components/RobotSettings/SelectNetwork/ConnectModal.js
  app/src/components/RobotSettings/SelectNetwork/FormTable.js
  app/src/components/RobotSettings/SelectNetwork/index.js
  app/src/components/RobotSettings/SelectNetwork/styles.css
  app/src/components/RobotSettings/WifiConnectModal.js
  app/src/components/modals/ScrollableAlertModal.js
  app/src/components/modals/styles.css
  app/src/http-api-client/health.js
  app/src/http-api-client/modules.js
  app/src/http-api-client/motors.js
  app/src/http-api-client/networking.js
  app/src/http-api-client/pipettes.js
  app/src/http-api-client/reducer.js
  app/src/http-api-client/reset.js
  app/src/http-api-client/settings.js
  components/src/__tests__/__snapshots__/forms.test.js.snap
  components/src/forms/DropdownField.js
  components/src/forms/InputField.js
  components/src/modals/modals.css
Labels: app, feature, ready for review

#2519 fix(shared-data): Fix corner offset from slot logic; add in container offset to well coordinates
  labware-designer/README.md
  shared-data/definitions2/Opentrons_96_tiprack_300_uL.json
  shared-data/definitions2/generic_96_wellPlate_380_uL.json
  shared-data/js/__tests__/definition2-schema.test.js
  shared-data/js/__tests__/fixtures/labwareExample.json
  shared-data/js/__tests__/fixtures/labwareExample2.json
  shared-data/js/constants.js
  shared-data/js/labwareTools/__tests__/createLabware.test.js
  shared-data/js/labwareTools/index.js
Labels: labware, ready for review, shared data, small

#2539 feat(protocol-designer): continue to liquids not design page
  protocol-designer/src/components/FilePage.js
  protocol-designer/src/containers/ConnectedFilePage.js
  protocol-designer/src/localization/en/button.json
Labels: protocol designer, ready for review

#2533 fix(protocol-designer): close liquid placement form when clear wells is clicked
  protocol-designer/src/well-selection/reducers.js
Labels: fix, protocol designer, ready for review

#2546 fix(protocol-designer): fix LiquidPlacementForm onBlur typo
  protocol-designer/src/components/LiquidPlacementForm/LiquidPlacementForm.js
Labels: fix, protocol designer, ready for review

#2545 fix(protocol-designer): do not add __air__ on blowout
  protocol-designer/src/step-generation/blowout.js
  protocol-designer/src/step-generation/dispenseUpdateLiquidState.js
  protocol-designer/src/step-generation/dropTip.js
  protocol-designer/src/step-generation/test-with-flow/blowout.test.js
  protocol-designer/src/step-generation/test-with-flow/dispenseUpdateLiquidState.test.js
  protocol-designer/src/step-generation/test-with-flow/dropTip.test.js
  protocol-designer/src/step-generation/test-with-flow/transfer.test.js
  protocol-designer/src/step-generation/types.js
  protocol-designer/src/step-generation/utils.js
Labels: fix, protocol designer, ready for review

#2547 fix(api): Fix height of p1000 tip rack definition
  api/src/opentrons/config/containers/default-containers.json
Labels: api, bug, fix

#2530 feat(protocol-designer): add 4-in-1 15-50 tuberack to PD
  protocol-designer/src/components/LabwareSelectionModal/LabwareSelectionModal.js
  protocol-designer/src/components/LabwareSelectionModal/styles.css
  protocol-designer/src/images/index.js
  protocol-designer/src/images/labware/384-plate.png
  protocol-designer/src/images/labware/96-Deep-Well.png
  protocol-designer/src/images/labware/96-PCR-Flatt.png
  protocol-designer/src/images/labware/96-PCR-Strip.png
  protocol-designer/src/images/labware/96-PCR-Tall.png
  protocol-designer/src/images/labware/Opentrons-4-in-1-tuberack-15-50.png
  protocol-designer/src/images/labware/Tiprack-1000.png
  protocol-designer/src/images/labware/Tiprack-1000ul-chem.png
  protocol-designer/src/images/labware/Tiprack-10ul-H.png
  protocol-designer/src/images/labware/Tiprack-10ul.png
  protocol-designer/src/images/labware/Tiprack-200ul.png
  protocol-designer/src/images/labware/Trough-12row.png
  protocol-designer/src/images/labware/Tuberack-075ml.png
  protocol-designer/src/images/labware/Tuberack-15-50ml.png
  protocol-designer/src/images/labware/Tuberack-2ml.png
  protocol-designer/src/images/labware/index.js
Labels: protocol designer, ready for review

#2554 chore(release): 3.5.0
  .gitignore
  CHANGELOG.md
  app-shell/.gitignore
  app-shell/CHANGELOG.md
  app-shell/build/release-notes.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  lerna.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore

#2560 fix(app): Show the correct release notes for robot update
  app/src/components/RobotSettings/RobotUpdateModal.js
Labels: app, bug, fix, ready for review

#2559 refactor(app): Add validation to network auth forms
  app/src/components/RobotSettings/SelectNetwork/ConnectForm.js
  app/src/components/RobotSettings/SelectNetwork/ConnectFormField.js
Labels: app, feature, ready for review

#2572 fix(api): Fix bug where drop-tip current is not used during drop-tip
  api/src/opentrons/legacy_api/instruments/pipette.py
  api/tests/opentrons/drivers/test_driver.py
Labels: api, bug, easyfix

#2573 API: hardware_control/protocol api integration
  api/src/opentrons/config/pipette_config.py
  api/src/opentrons/hardware_control/__init__.py
  api/src/opentrons/hardware_control/controller.py
  api/src/opentrons/hardware_control/simulator.py
  api/src/opentrons/types.py
  api/tests/opentrons/hardware_control/test_instruments.py
  api/tests/opentrons/hardware_control/test_moves.py
Labels: api, refactor

#2568 build(js): Upgrade webpack and consolidate build configuration
  .eslintrc.js
  .travis.yml
  Makefile
  app-shell/Makefile
  app/webpack.config.js
  app/webpack/dev-server.js
  components/Makefile
  components/styleguide.config.js
  flow-typed/npm/cross-env_vx.x.x.js
  labware-designer/Makefile
  labware-designer/README.md
  labware-designer/package.json
  labware-designer/webpack.config.js
  package.json
  protocol-designer/Makefile
  protocol-designer/index.html
  protocol-designer/package.json
  protocol-designer/src/index.hbs
  protocol-designer/webpack.config.js
  protocol-library-kludge/Makefile
  protocol-library-kludge/index.html
  protocol-library-kludge/package.json
  protocol-library-kludge/src/index.hbs
  protocol-library-kludge/webpack.config.js
  shared-data/Makefile
  webpack-config/README.md
  webpack-config/index.js
  webpack-config/lib/base-config.js
  webpack-config/lib/dev-mode.js
  webpack-config/lib/rules.js
  yarn.lock
Labels: chore, ready for review

#2531 feat(docs): Add opentrons container defs and images
  api/Makefile
  api/docs/source/api.rst
  api/docs/source/img/labware_lib/15x15mL_ISO.png
  api/docs/source/img/labware_lib/15x15mL_TOP.png
  api/docs/source/img/labware_lib/24x1.5mL_ISO.png
  api/docs/source/img/labware_lib/24x1.5mL_TOP.png
  api/docs/source/img/labware_lib/24x2mL-5mL_ISO.png
  api/docs/source/img/labware_lib/24x2mL-5mL_TOP.png
  api/docs/source/img/labware_lib/6x15mL_4x50mL_ISO.png
  api/docs/source/img/labware_lib/6x15mL_4x50mL_TOP.png
  api/docs/source/img/labware_lib/6x50mL_ISO.png
  api/docs/source/img/labware_lib/6x50mL_TOP.png
  api/docs/source/img/labware_lib/96well_aluminumblock_ISO.png
  api/docs/source/img/labware_lib/96well_aluminumblock_TOP.png
  api/docs/source/img/labware_lib/OT2TipRackP50_P300_ISO.png
  api/docs/source/img/labware_lib/OT2TipRackP50_P300_TOP.png
  api/docs/source/labware.rst
  api/docs/source/writing.rst
Labels: docs, ready for review, small

#2549 feat(protocol-designer): collapse all step items on newly loaded file
  protocol-designer/src/steplist/reducers.js
Labels: protocol designer, ready for review

#2564 feat(api): Pipette id included in GET /pipettes
  api/src/opentrons/config/pipette_config.py
  api/src/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/src/opentrons/hardware_control/__init__.py
  api/src/opentrons/hardware_control/controller.py
  api/src/opentrons/hardware_control/pipette.py
  api/src/opentrons/hardware_control/simulator.py
  api/src/opentrons/legacy_api/robot/robot.py
  api/src/opentrons/server/endpoints/control.py
  api/src/opentrons/tools/write_pipette_memory.py
  api/tests/opentrons/drivers/test_driver.py
  api/tests/opentrons/hardware_control/test_instruments.py
  api/tests/opentrons/hardware_control/test_moves.py
  api/tests/opentrons/hardware_control/test_pipette.py
  api/tests/opentrons/server/test_control_endpoints.py
Labels: api, feature, ready for review

#2576 refactor(app): Enable certificate usage with 802.1x
  api/src/opentrons/server/endpoints/networking.py
  app/src/components/RobotSettings/SelectNetwork/ConnectForm.js
  app/src/components/RobotSettings/SelectNetwork/ConnectFormField.js
  app/src/components/RobotSettings/SelectNetwork/SelectKey.js
  app/src/components/RobotSettings/SelectNetwork/SelectSsid.js
  app/src/components/RobotSettings/SelectNetwork/index.js
  app/src/components/RobotSettings/SelectNetwork/styles.css
  app/src/components/SelectField/index.js
  app/src/components/SelectField/styles.css
  app/src/http-api-client/networking.js
  components/src/forms/forms.css
Labels: app, ready for review, refactor

#2566 feat(api): support offset in json protocol touch-tip command
  api/src/opentrons/protocols/__init__.py
  protocol-designer/src/constants.js
  protocol-designer/src/file-data/selectors/fileCreator.js
  protocol-designer/src/step-generation/test-with-flow/touchTip.test.js
  protocol-designer/src/step-generation/touchTip.js
  protocol-designer/src/step-generation/types.js
  shared-data/protocol-json-schema/protocol-schema.json
Labels: api, json protocol schema, protocol designer, ready for review

#2577 API: Add motion to protocol API
  api/docs/source/new_protocol_api.rst
  api/src/opentrons/__init__.py
  api/src/opentrons/config/feature_flags.py
  api/src/opentrons/deck_calibration/dc_main.py
  api/src/opentrons/hardware_control/__init__.py
  api/src/opentrons/hardware_control/adapters.py
  api/src/opentrons/hardware_control/controller.py
  api/src/opentrons/legacy_api/api.py
  api/src/opentrons/legacy_api/robot/robot.py
  api/src/opentrons/protocol_api/__init__.py
  api/src/opentrons/protocol_api/back_compat.py
  api/src/opentrons/protocol_api/contexts.py
  api/src/opentrons/protocol_api/geometry.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/hardware_control/test_adapters.py
  api/tests/opentrons/hardware_control/test_instruments.py
  api/tests/opentrons/protocol_api/test_context.py
  api/tests/opentrons/protocol_api/test_labware_load.py
Labels: api, ready for review, refactor

#2580 refactor(components): Update error and caption styles
  components/src/forms/forms.css
Labels: app, components, protocol designer, refactor, small

#2490 feat(protocol-designer): add labware details card
  components/src/forms/InputField.js
  protocol-designer/src/components/EditableTextField.js
  protocol-designer/src/components/IngredientsList/IngredientsList.css
  protocol-designer/src/components/IngredientsList/LabwareDetailsCard/LabwareDetailsCard.js
  protocol-designer/src/components/IngredientsList/LabwareDetailsCard/index.js
  protocol-designer/src/components/IngredientsList/LabwareDetailsCard/labwareDetailsCard.css
  protocol-designer/src/components/IngredientsList/index.js
  protocol-designer/src/components/LiquidPlacementModal.js
  protocol-designer/src/components/editableTextField.css
  protocol-designer/src/containers/IngredientsList.js
  protocol-designer/src/containers/LabwareContainer.js
  protocol-designer/src/containers/LabwareNameEditForm.js
  protocol-designer/src/labware-ingred/actions.js
  protocol-designer/src/labware-ingred/reducers/index.js
  protocol-designer/src/load-file/reducers.js
  protocol-designer/src/well-selection/reducers.js
Labels: protocol designer, ready for review

#2586 feat(app): Home pipette after tip probe confirmed
  app/src/components/TipProbe/RemoveTipPanel.js
  app/src/robot/actions.js
  app/src/robot/api-client/client.js
  app/src/robot/test/actions.test.js
Labels: app, feature, ready for review

#2581 refactor(app): Allow user to specify wifi security type if unknown
  api/src/opentrons/server/endpoints/networking.py
  app/src/components/RobotSettings/SelectNetwork/ConnectForm.js
  app/src/components/RobotSettings/SelectNetwork/ConnectModal.js
  app/src/components/RobotSettings/SelectNetwork/SelectKey.js
  app/src/components/RobotSettings/SelectNetwork/SelectSecurity.js
  app/src/components/RobotSettings/SelectNetwork/SelectSsid.js
  app/src/components/RobotSettings/SelectNetwork/index.js
  app/src/components/RobotSettings/SelectNetwork/styles.css
  app/src/components/SelectField/index.js
  app/src/components/SelectField/styles.css
  app/src/http-api-client/networking.js
Labels: app, ready for review, refactor
