Repository Opentrons/opentrons, pull requests merged in 2018-05, with the labels that each got.

#1305 Home on server start as temporary fix
  api/opentrons/server/main.py
Labels: api, fix

#1320 Add attach tip modal to step-1 of deck calibration
  app/src/components/CalibrateDeck/AttachTipModal.js
  app/src/components/CalibrateDeck/RequestInProgressModal.js
  app/src/components/CalibrateDeck/images/attach-tip-multi@3x.png
  app/src/components/CalibrateDeck/index.js
  app/src/components/CalibrateDeck/styles.css
  app/src/components/CalibrateDeck/types.js
  components/src/modals/ModalPage.js
  components/src/modals/ModalPage.md
  components/src/modals/modals.css
Labels: app, ready for review, small

#1303 Pd step generation handle errors
  protocol-designer/src/file-data/selectors/commands.js
  protocol-designer/src/step-generation/aspirate.js
  protocol-designer/src/step-generation/blowout.js
  protocol-designer/src/step-generation/consolidate.js
  protocol-designer/src/step-generation/dispense.js
  protocol-designer/src/step-generation/errorCreators.js
  protocol-designer/src/step-generation/replaceTip.js
  protocol-designer/src/step-generation/test-with-flow/aspirate.test.js
  protocol-designer/src/step-generation/test-with-flow/blowout.test.js
  protocol-designer/src/step-generation/test-with-flow/consolidate.test.js
  protocol-designer/src/step-generation/test-with-flow/dispense.test.js
  protocol-designer/src/step-generation/test-with-flow/dropTip.test.js
  protocol-designer/src/step-generation/test-with-flow/fixtures.js
  protocol-designer/src/step-generation/test-with-flow/replaceTip.test.js
  protocol-designer/src/step-generation/test-with-flow/touchTip.test.js
  protocol-designer/src/step-generation/test-with-flow/transfer.test.js
  protocol-designer/src/step-generation/test-with-flow/utils.test.js
  protocol-designer/src/step-generation/touchTip.js
  protocol-designer/src/step-generation/transfer.js
  protocol-designer/src/step-generation/types.js
  protocol-designer/src/step-generation/utils.js
Labels: protocol designer, ready for review

#1332 Multi-channel drop tips in middle of trash
  api/opentrons/instruments/pipette.py
  api/opentrons/server/main.py
  api/opentrons/util/calibration_functions.py
  api/tests/opentrons/labware/test_pipette.py
Labels: api, fix, ready for review

#1335 Use existing pipette in control functions
  api/opentrons/server/endpoints/control.py
  api/tests/opentrons/server/test_control_endpoints.py
Labels: api, refactor

#1333 feat(app): Wire "Calibrate" button to POST /calibration/deck/start
  app/src/components/CalibrateDeck/index.js
  app/src/components/CalibrateDeck/types.js
  app/src/components/RobotSettings/CalibrationCard.js
  app/src/http-api-client/calibration.js
  app/src/http-api-client/index.js
Labels: app, feature, ready for review

#1267 Adds ability to set deck type through a feature flag
  api/opentrons/config/feature_flags.py
  api/opentrons/deck_calibration/__init__.py
  api/opentrons/deck_calibration/dc_main.py
  api/opentrons/deck_calibration/endpoints.py
  api/opentrons/server/endpoints/control.py
  api/tests/opentrons/cli/test_cli.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/server/test_calibration_endpoints.py
Labels: api, feature

#1295 Pd well selection multichannel
  protocol-designer/src/components/SelectablePlate.js
  protocol-designer/src/components/WellSelectionModal.js
  protocol-designer/src/containers/ConnectedWellSelectionModal.js
  protocol-designer/src/containers/SelectablePlate.js
  protocol-designer/src/containers/WellSelectionInput.js
  protocol-designer/src/labware-ingred/actions.js
  protocol-designer/src/well-selection/actions.js
  protocol-designer/src/well-selection/reducers.js
  protocol-designer/src/well-selection/selectors.js
  protocol-designer/src/well-selection/test/utils.test.js
  protocol-designer/src/well-selection/utils.js
Labels: protocol designer, ready for review

#1342 App: Robot in use modal
  app/src/components/CalibrateDeck/InUseModal.js
  app/src/components/CalibrateDeck/index.js
  components/src/forms/forms.css
  components/src/modals/modals.css
Labels: app, feature, ready for review

#1343 Adds specified position for pipette to move to z point
  api/opentrons/deck_calibration/__init__.py
  api/opentrons/server/endpoints/control.py
  api/tests/opentrons/server/test_control_endpoints.py
Labels: api, chore, ready for review

#1340 No pipette, no session!
  api/opentrons/deck_calibration/endpoints.py
  api/tests/opentrons/server/test_calibration_endpoints.py
Labels: api, refactor, small

#1338 Api: move smoothie handshake details to driver
  api/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/opentrons/drivers/smoothie_drivers/serial_communication.py
  api/opentrons/robot/robot.py
  api/tests/opentrons/drivers/test_driver.py
Labels: api, ready for review, small

#1357 Correct orientation of labware from containers.create
  api/opentrons/containers/__init__.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/containers/test_containers.py
  api/tests/opentrons/database/test_labware_definitions.py
Labels: api, fix, refactor

#1334 PD: show user "not enough tips" error
  components/src/alerts/alerts.css
  components/src/lists/TitledList.js
  components/src/styles/colors.css
  protocol-designer/src/components/ProtocolEditor.js
  protocol-designer/src/components/StepItem.css
  protocol-designer/src/components/StepItem.js
  protocol-designer/src/components/StepList.js
  protocol-designer/src/containers/Alert.css
  protocol-designer/src/containers/Alerts.js
  protocol-designer/src/containers/ConnectedStepList.js
  protocol-designer/src/containers/SelectablePlate.js
  protocol-designer/src/file-data/selectors/commands.js
  protocol-designer/src/step-generation/errorCreators.js
  protocol-designer/src/steplist/generateSubsteps.js
  protocol-designer/src/steplist/index.js
  protocol-designer/src/steplist/reducers.js
  protocol-designer/src/steplist/types.js
  protocol-designer/src/steplist/utils.js
  protocol-designer/src/top-selectors/substeps.js
  protocol-designer/src/top-selectors/well-contents/index.js
Labels: protocol designer, ready for review

#1359 release(chore): 3.0.0-beta.12
  api/opentrons/_version.py
  api/version
  app-shell/package.json
  app/package.json
  components/package.json
  labware-definitions/package.json
  package.json
  protocol-designer/package.json
  webpack-config/package.json
Labels: chore, ready for review

#1358 feat(app): Allow user to force take control of robot
  app/src/components/CalibrateDeck/InUseModal.js
  app/src/components/CalibrateDeck/index.js
  app/src/components/CalibrateDeck/types.js
Labels: app, feature, ready for review

#1363 Pause step generates commands
  protocol-designer/src/components/StepList.js
  protocol-designer/src/file-data/selectors/commands.js
  protocol-designer/src/step-generation/delay.js
  protocol-designer/src/step-generation/index.js
  protocol-designer/src/step-generation/test-with-flow/delay.test.js
  protocol-designer/src/step-generation/types.js
  protocol-designer/src/steplist/formProcessing.js
  protocol-designer/src/steplist/generateSubsteps.js
  protocol-designer/src/steplist/types.js
Labels: protocol designer

#1361 fix(api): Use correct smoothie axis for DC Z jog
  api/opentrons/deck_calibration/endpoints.py
  api/tests/opentrons/server/test_calibration_endpoints.py
Labels: api, bug, fix, ready for review

#1368 refactor(api): Make attach/detach DC commands more permissive
  api/opentrons/deck_calibration/endpoints.py
  api/tests/opentrons/server/test_calibration_endpoints.py
Labels: api, ready for review, refactor, small

#1366 feat(app): Add POST /calibration/deck to calibration API module
  app/src/http-api-client/__tests__/calibration.test.js
  app/src/http-api-client/__tests__/robot.test.js
  app/src/http-api-client/calibration.js
  app/src/http-api-client/index.js
Labels: app, feature, ready for review

#1369 Pd distribute command prep
  protocol-designer/src/components/StepCreationButton.js
  protocol-designer/src/components/StepEditForm.js
  protocol-designer/src/components/StepItem.js
  protocol-designer/src/components/StepList.js
  protocol-designer/src/components/TransferLikeSubstep.js
  protocol-designer/src/components/modals/MoreOptionsModal.js
  protocol-designer/src/containers/ConnectedStepEditForm.js
  protocol-designer/src/containers/ConnectedStepList.js
  protocol-designer/src/containers/StepCreationButton.js
  protocol-designer/src/form-types.js
  protocol-designer/src/step-generation/consolidate.js
  protocol-designer/src/step-generation/distribute.js
  protocol-designer/src/step-generation/test-with-flow/distribute.test.js
  protocol-designer/src/step-generation/transfer.js
  protocol-designer/src/step-generation/types.js
  protocol-designer/src/steplist/actions.js
  protocol-designer/src/steplist/formProcessing.js
  protocol-designer/src/steplist/generateSubsteps.js
  protocol-designer/src/steplist/reducers.js
  protocol-designer/src/steplist/types.js
  protocol-designer/src/steplist/utils.js
  protocol-designer/src/top-selectors/substep-highlight.js
  protocol-designer/src/top-selectors/substeps.js
Labels: chore, protocol designer, ready for review

#1365 pd: add titles to PD nav; add ot-design icon
  components/src/__tests__/__snapshots__/icons.test.js.snap
  components/src/icons/icon-data.js
  protocol-designer/src/containers/ConnectedNav.js
Labels: components, protocol designer, ready for review

#1372 Revise logging and prevent server from creating extra calibration files
  api/opentrons/drivers/__init__.py
  api/opentrons/drivers/connection.py
  api/opentrons/instruments/instrument.py
  api/opentrons/robot/robot.py
  api/opentrons/robot/robot_configs.py
  api/opentrons/server/main.py
  api/opentrons/server/rpc.py
  api/opentrons/util/calibration_functions.py
  api/opentrons/util/log.py
  api/tests/opentrons/server/test_update_endpoints.py
  api/tests/opentrons/util/test_tip_probe.py
  compute/conf/nginx.conf
  compute/scripts/setup_gpio.py
  compute/scripts/start.sh
Labels: api, bug, fix, medium, refactor

#1367 Add CalibrateDeckModal
  app/src/components/CalibrateDeck/AttachTipModal.js
  app/src/components/CalibrateDeck/Instructions.js
  app/src/components/CalibrateDeck/InstructionsModal.js
  app/src/components/CalibrateDeck/images/initial-calib-tip.svg
  app/src/components/CalibrateDeck/images/initial-calib-xy-1@3x.png
  app/src/components/CalibrateDeck/images/initial-calib-xy-3@3x.png
  app/src/components/CalibrateDeck/images/initial-calib-xy-7@3x.png
  app/src/components/CalibrateDeck/images/initial-calib-z-5@3x.png
  app/src/components/CalibrateDeck/index.js
  app/src/components/CalibrateDeck/types.js
  app/src/components/InstructionStep/index.js
  app/src/components/InstructionStep/styles.css
  app/src/components/JogControls/index.js
  app/src/components/JogControls/styles.css
  app/src/components/LabwareCalibration/ConfirmPositionContents.js
  components/src/__tests__/__snapshots__/modals.test.js.snap
  components/src/modals/ModalPage.js
  components/src/modals/modals.css
Labels: app, feature, ready for review

#1364 complib: restyle InputField focus state
  components/src/forms/forms.css
Labels: components, ready for review

#1371 API: change default Z speeds to be halfway between resonant speeds
  api/opentrons/robot/robot_configs.py
  api/tests/opentrons/drivers/test_driver.py
Labels: api, easyfix, ready for review, small

#1377 Fix: factory-test bug coming from refactor of write_and_return
  api/opentrons/tools/factory_test.py
Labels: api, ready for review, small

#1378 updates firmware image for increased ZA speeds and 2ms debounce
  api/smoothie/edge-3b5b801.hex
Labels: api, ready for review

#1376 add box shadow & more margin to StepItems
  protocol-designer/src/components/StepItem.css
  protocol-designer/src/components/StepList.js
Labels: protocol designer, ready for review

#1375 Pd distribute command
  protocol-designer/src/components/StepEditForm.js
  protocol-designer/src/file-data/selectors/commands.js
  protocol-designer/src/form-types.js
  protocol-designer/src/step-generation/consolidate.js
  protocol-designer/src/step-generation/distribute.js
  protocol-designer/src/step-generation/index.js
  protocol-designer/src/step-generation/test-with-flow/consolidate.test.js
  protocol-designer/src/step-generation/test-with-flow/distribute.test.js
  protocol-designer/src/step-generation/types.js
  protocol-designer/src/steplist/formProcessing.js
  protocol-designer/src/steplist/generateSubsteps.js
  protocol-designer/src/steplist/types.js
Labels: protocol designer, ready for review

#1381 feat(app): Wire jog buttons for Deck Calibration
  app/src/components/CalibrateDeck/InstructionsModal.js
  app/src/components/CalibrateDeck/index.js
  app/src/components/CalibrateDeck/types.js
  app/src/components/JogControls/index.js
  app/src/components/LabwareCalibration/ConfirmPositionContents.js
  app/src/http-api-client/__tests__/calibration.test.js
  app/src/http-api-client/calibration.js
  app/src/http-api-client/index.js
  app/src/robot/actions.js
  app/src/robot/types.js
Labels: app, feature, ready for review

#1379 Pd clear well selection after pipette switch
  protocol-designer/src/containers/ConnectedMoreOptionsModal.js
  protocol-designer/src/containers/ConnectedStepEditForm.js
  protocol-designer/src/steplist/actions/actions.js
  protocol-designer/src/steplist/actions/handleFormChange.js
  protocol-designer/src/steplist/actions/index.js
  protocol-designer/src/steplist/actions/types.js
  protocol-designer/src/steplist/reducers.js
  protocol-designer/src/well-selection/actions.js
Labels: protocol designer, ready for review

#1392 refactor(app): Rework deck-cal routes to consolidate props
  app/src/components/CalibrateDeck/AttachTip.js
  app/src/components/CalibrateDeck/AttachTipModal.js
  app/src/components/CalibrateDeck/ConfirmPosition.js
  app/src/components/CalibrateDeck/ErrorModal.js
  app/src/components/CalibrateDeck/Instructions.js
  app/src/components/CalibrateDeck/InstructionsModal.js
  app/src/components/CalibrateDeck/RequestInProgressModal.js
  app/src/components/CalibrateDeck/index.js
  app/src/components/CalibrateDeck/types.js
  app/src/components/RobotSettings/CalibrationCard.js
  app/src/components/RobotSettings/styles.css
  app/src/pages/Robots.js
Labels: app, ready for review, refactor

#1382 API: dwell axis if not included in movement
  api/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/tests/opentrons/drivers/test_driver.py
Labels: api, ready for review, small

#1395 PD: Mix form
  protocol-designer/src/components/StepEditForm/FormSection.css
  protocol-designer/src/components/StepEditForm/FormSection.js
  protocol-designer/src/components/StepEditForm/index.js
  protocol-designer/src/file-data/selectors/commands.js
  protocol-designer/src/form-types.js
  protocol-designer/src/step-generation/types.js
  protocol-designer/src/steplist/actions/handleFormChange.js
  protocol-designer/src/steplist/formProcessing.js
  protocol-designer/src/steplist/reducers.js
Labels: protocol designer, ready for review

#1388 explicitly return after recursively calling update_position; adds test
  api/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/tests/opentrons/drivers/test_driver.py
Labels: api, bug, ready for review, small

#1398 feat(app): Wire deck calibration calls to existing UI
  api/opentrons/deck_calibration/endpoints.py
  app/src/components/CalibrateDeck/AttachTip.js
  app/src/components/CalibrateDeck/ClearDeckAlert.js
  app/src/components/CalibrateDeck/ConfirmPosition.js
  app/src/components/CalibrateDeck/InUseModal.js
  app/src/components/CalibrateDeck/InstructionsModal.js
  app/src/components/CalibrateDeck/images/attach-tip-single@3x.png
  app/src/components/CalibrateDeck/index.js
  app/src/components/CalibrateDeck/styles.css
  app/src/components/CalibrateDeck/types.js
  app/src/http-api-client/calibration.js
Labels: app, feature, ready for review

#1383 Api updates serial port error handling
  api/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/opentrons/drivers/smoothie_drivers/serial_communication.py
  api/tests/opentrons/drivers/test_driver.py
Labels: api, ready for review

#1401 Pd mix command
  protocol-designer/src/file-data/selectors/commands.js
  protocol-designer/src/form-types.js
  protocol-designer/src/step-generation/consolidate.js
  protocol-designer/src/step-generation/distribute.js
  protocol-designer/src/step-generation/errorCreators.js
  protocol-designer/src/step-generation/index.js
  protocol-designer/src/step-generation/mix.js
  protocol-designer/src/step-generation/test-with-flow/mix.test.js
  protocol-designer/src/step-generation/transfer.js
  protocol-designer/src/step-generation/types.js
  protocol-designer/src/step-generation/utils.js
Labels: protocol designer, ready for review

#1413 API: check for ACK characters in serial response
  api/opentrons/drivers/smoothie_drivers/serial_communication.py
  api/opentrons/tools/factory_test.py
Labels: api, easyfix, ready for review, small

#1408 PD: restyle step items & organize steplist comps
  protocol-designer/src/components/StepList/StepItem.css
  protocol-designer/src/components/StepList/StepItem.js
  protocol-designer/src/components/StepList/TransferLikeSubstep.js
  protocol-designer/src/components/StepList/index.js
Labels: protocol designer, ready for review

#1411 API: combines current and move/home gcodes to reduce latency
  api/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/tests/opentrons/data/labware-def/definitions/4-well-plate.json
  api/tests/opentrons/data/labware-def/offsets/4-well-plate.json
  api/tests/opentrons/drivers/test_driver.py
Labels: api, ready for review

#1421 fix(api): Add missing async to save_transform handler in DC
  api/opentrons/deck_calibration/endpoints.py
  api/tests/opentrons/server/test_calibration_endpoints.py
Labels: api, fix, ready for review

#1399 fix(app): Clear DC token upon successful release call
  app/src/http-api-client/__tests__/calibration.test.js
  app/src/http-api-client/calibration.js
Labels: app, bug, fix, ready for review

#1415 feat(app): Add refresh to GET /pipette calls in ChangePipette
  app/src/components/ChangePipette/index.js
  app/src/http-api-client/__tests__/pipettes.test.js
  app/src/http-api-client/pipettes.js
Labels: app, fix, ready for review

#1417 API: decreases default XY speeds to X=500mm/sec, and Y=300mm/sec
  api/opentrons/robot/robot_configs.py
  api/tests/opentrons/drivers/test_driver.py
Labels: api, ready for review, small

#1405 feat(app): Detach tip and save calibration
  app/src/components/CalibrateDeck/AttachTip.js
  app/src/components/CalibrateDeck/InstructionsModal.js
  app/src/components/CalibrateDeck/images/detach-tip-multi@3x.png
  app/src/components/CalibrateDeck/images/detach-tip-single@3x.png
  app/src/components/CalibrateDeck/styles.css
Labels: app, feature, ready for review

#1384 Api plunger current in pipette config
  api/opentrons/__init__.py
  api/opentrons/instruments/pipette.py
  api/opentrons/instruments/pipette_config.py
  api/opentrons/robot/robot_configs.py
  api/tests/opentrons/drivers/test_driver.py
  api/tests/opentrons/robot/test_robots_config.py
  labware-definitions/robot-data/pipette-config.json
Labels: api, ready for review

#1416 Update ot-calibrate icon
  components/src/__tests__/__snapshots__/icons.test.js.snap
  components/src/icons/icon-data.js
Labels: components, fix, ready for review

#1418 fix(app): Highlight active calibration step in subnav
  app/src/components/SetupPanel/InstrumentListItem.js
  app/src/components/SetupPanel/LabwareListItem.js
  app/src/components/SetupPanel/styles.css
Labels: app, easyfix, feature, ready for review

#1430 add api configs in tests to gitignore
  .gitignore
Labels: api, chore, ready for review

#1426 fix(api): Reduce size of rpc session packet
  api/opentrons/api/session.py
  api/tests/opentrons/api/test_session.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/integration/test_server.py
Labels: BREAKING CHANGE, api, fix

#1427 refactor(app): Support mini session updates in RPC client/robot state
  app/src/robot/actions.js
  app/src/robot/api-client/client.js
  app/src/robot/reducer/session.js
  app/src/robot/selectors.js
  app/src/robot/test/actions.test.js
  app/src/robot/test/api-client.test.js
  app/src/robot/test/selectors.test.js
  app/src/robot/test/session-reducer.test.js
  app/src/robot/types.js
  app/src/rpc/client.js
  app/src/rpc/remote-object.js
  app/src/rpc/test/client.test.js
  app/src/rpc/test/remote-object.test.js
Labels: BREAKING CHANGE, app, ready for review, refactor

#1423 fix(api): Fix movement strategy and values for deck calibration
  api/opentrons/instruments/pipette_config.py
  api/opentrons/server/endpoints/control.py
  shared-data/robot-data/pipette-config.json
Labels: api, fix, ready for review

#1429 feat(app): Default robot setting page to connected robot
  app/src/components/nav-bar/NavButton.js
Labels: app, feature, ready for review

#1412 Pd mix substeps
  components/src/lists/TitledList.js
  protocol-designer/src/components/StepList/StepItem.js
  protocol-designer/src/components/StepList/TransferLikeSubstep.js
  protocol-designer/src/components/StepList/index.js
  protocol-designer/src/components/steplist/AspirateDispenseHeader.js
  protocol-designer/src/components/steplist/MixHeader.js
  protocol-designer/src/components/steplist/MultiChannelSubstep.js
  protocol-designer/src/components/steplist/PauseStepItems.js
  protocol-designer/src/components/steplist/SourceDestSubstep.js
  protocol-designer/src/components/steplist/StepItem.css
  protocol-designer/src/components/steplist/StepItem.js
  protocol-designer/src/components/steplist/StepList.js
  protocol-designer/src/components/steplist/SubstepRow.js
  protocol-designer/src/components/steplist/index.js
  protocol-designer/src/containers/ConnectedStepItem.js
  protocol-designer/src/containers/ConnectedStepList.js
  protocol-designer/src/form-types.js
  protocol-designer/src/steplist/formProcessing.js
  protocol-designer/src/steplist/generateSubsteps.js
  protocol-designer/src/steplist/reducers.js
  protocol-designer/src/steplist/types.js
  protocol-designer/src/steplist/utils.js
  protocol-designer/src/top-selectors/substep-highlight.js
  protocol-designer/src/top-selectors/substeps.js
Labels: protocol designer, ready for review

#1438 feat(app): Order tipracks calibrated by 8-channel first in list
  app/src/robot/selectors.js
  app/src/robot/test/api-client.test.js
  app/src/robot/test/selectors.test.js
Labels: app, feature, ready for review

#1435 Pd commands match json schema
  protocol-designer/src/step-generation/aspirate.js
  protocol-designer/src/step-generation/blowout.js
  protocol-designer/src/step-generation/delay.js
  protocol-designer/src/step-generation/dispense.js
  protocol-designer/src/step-generation/dropTip.js
  protocol-designer/src/step-generation/replaceTip.js
  protocol-designer/src/step-generation/test-with-flow/aspirate.test.js
  protocol-designer/src/step-generation/test-with-flow/blowout.test.js
  protocol-designer/src/step-generation/test-with-flow/consolidate.test.js
  protocol-designer/src/step-generation/test-with-flow/delay.test.js
  protocol-designer/src/step-generation/test-with-flow/dispense.test.js
  protocol-designer/src/step-generation/test-with-flow/distribute.test.js
  protocol-designer/src/step-generation/test-with-flow/dropTip.test.js
  protocol-designer/src/step-generation/test-with-flow/fixtures/commandFixtures.js
  protocol-designer/src/step-generation/test-with-flow/fixtures/fixtures.js
  protocol-designer/src/step-generation/test-with-flow/fixtures/index.js
  protocol-designer/src/step-generation/test-with-flow/mix.test.js
  protocol-designer/src/step-generation/test-with-flow/replaceTip.test.js
  protocol-designer/src/step-generation/test-with-flow/touchTip.test.js
  protocol-designer/src/step-generation/test-with-flow/transfer.test.js
  protocol-designer/src/step-generation/touchTip.js
  protocol-designer/src/step-generation/types.js
Labels: protocol designer, ready for review

#1432 fix(api): Move to and use correct calibration point for troughs
  api/opentrons/api/calibration.py
  api/opentrons/instruments/pipette.py
  api/opentrons/robot/robot.py
  api/tests/opentrons/api/test_calibration.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/labware/test_pipette.py
Labels: api, ready for review, refactor, small

#1434 chore(release): 3.0.0
  api/opentrons/_version.py
  api/version
  app-shell/package.json
  app/package.json
  components/package.json
  package.json
  protocol-designer/package.json
  shared-data/package.json
  webpack-config/package.json
Labels: chore

#1424 Changes mm movement by only rounding in final location
  api/opentrons/instruments/pipette.py
  api/tests/opentrons/labware/test_pipette.py
Labels: api, chore, ready for review

#1440 Skip database migration if split labware def feature flag is set
  api/opentrons/__init__.py
Labels: api, fix

#1443 fix(app): Send session.resume before stop to cancel paused runs
  app/__util__/mock-promise.js
  app/src/robot/api-client/client.js
  app/src/robot/test/__mocks__/session.js
  app/src/robot/test/api-client.test.js
Labels: app, fix, ready for review

#1441 API: fallback to pipette_config when json config values fail to load
  api/opentrons/instruments/pipette_config.py
  api/tests/opentrons/labware/test_pipette.py
Labels: api, ready for review, small

#1445 API: removes accidental print statements from PR 1441
  api/opentrons/instruments/pipette_config.py
Labels: easyfix, ready for review, small

#1447 Fixes docs in pipettes.rst, writing.rst
  api/docs/source/labware.rst
  api/docs/source/pipettes.rst
  api/docs/source/robot.rst
  api/docs/source/writing.rst
Labels: api, docs, small

#1459 fix(app): Change carriage to mount in change pipette instructions
  app/src/components/ChangePipette/Instructions.js
  app/src/components/ChangePipette/index.js
Labels: app, fix, ready for review

#1460 feat(app): Add file/console log module to app's main and renderer
  app-shell/lib/api-update.js
  app-shell/lib/config.js
  app-shell/lib/log.js
  app-shell/lib/main.js
  app-shell/lib/ui.js
  app-shell/lib/update.js
  app-shell/package.json
  app/__mocks__/electron.js
  app/src/index.js
  app/src/logger.js
  app/webpack.config.js
  yarn.lock
Labels: app, feature, medium, ready for review

#1454 Api: match plunger positions to latest test data
  api/opentrons/instruments/pipette_config.py
  api/tests/opentrons/labware/test_pipette.py
  shared-data/robot-data/pipette-config.json
Labels: api, ready for review

#1442 refactor(api): Move log level configuration to json config file
  api/opentrons/api/session.py
  api/opentrons/robot/robot_configs.py
  api/opentrons/server/main.py
  api/opentrons/server/rpc.py
Labels: api, ready for review, refactor

#1456 Api: request homed flags only when needed
  api/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/tests/opentrons/drivers/test_driver.py
Labels: api, ready for review

#1439 add protocol JSON schema definition 1.0.0
  shared-data/protocol-json-schema/protocol-schema.json
Labels: json protocol schema, ready for review

#1462 feat(app): Add app analytics card UI to app page
  app/src/components/AppSettings/AnalyticsSettingsCard.js
  app/src/components/AppSettings/index.js
  app/src/components/AppSettings/styles.css
  app/src/components/ConnectPanel/RobotList.js
  app/src/components/ConnectPanel/connect-panel.css
  app/src/components/ToggleButton/index.js
  app/src/components/ToggleButton/styles.css
Labels: app, feature, ready for review

#1464 Api: fix instrument offset load bug
  api/opentrons/robot/robot_configs.py
  api/tests/opentrons/robot/test_robots_config.py
Labels: api, fix, ready for review

#1444 Api load json protocols
  api/opentrons/api/session.py
  api/opentrons/deck_calibration/__init__.py
  api/opentrons/helpers/helpers.py
  api/opentrons/protocols/__init__.py
  api/opentrons/robot/robot.py
  api/opentrons/server/endpoints/control.py
  api/tests/opentrons/protocols/__init__.py
  api/tests/opentrons/protocols/test_load_json_protocol.py
  protocol-designer/src/file-data/selectors/fileCreator.js
  protocol-designer/src/file-data/types.js
Labels: api, ready for review

#1465 feat(comp, app): Add 'info' AlertItem to comp lib
  app/src/components/RunLog/CommandList.js
  app/src/components/RunLog/index.js
  app/src/components/RunLog/styles.css
  app/src/components/RunNotifications.css
  app/src/components/RunNotifications.js
  app/src/components/RunProgress.css
  app/src/components/RunProgress.js
  app/src/components/SessionHeader/index.js
  app/src/containers/ConnectedRunControl.js
  app/src/pages/Run.js
  app/src/pages/SetupDeck.js
  app/src/pages/SetupInstruments.js
  components/src/__tests__/__snapshots__/icons.test.js.snap
  components/src/alerts/AlertItem.js
  components/src/alerts/AlertItem.md
  components/src/alerts/alerts.css
  components/src/icons/icon-data.js
Labels: app, chore, ready for review, small

#1471 Rename files and edit examples
  api/docs/source/atomic commands.rst
  api/docs/source/complex commands.rst
  api/docs/source/examples.rst
  api/docs/source/index.rst
  api/docs/source/pipettes.rst
  api/opentrons/robot/robot.py
Labels: docs, ready for review, small

#1469 API: increase serial retries to 3; add small delay between retries
  api/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/tests/opentrons/drivers/test_driver.py
Labels: api, ready for review, small

#1470 build(yarn): Move all non-CLI dev dependencies to repo package.json
  app/package.json
  components/package.json
  package.json
  protocol-designer/package.json
  shared-data/package.json
  webpack-config/package.json
  yarn.lock
Labels: chore, ready for review

#1468 updates smoothieware image to edge-6168d32
  api/smoothie/edge-6168d32.hex
Labels: ready for review

#1475 API: pipette eeprom writing script to accept v13 versions
  api/opentrons/tools/write_pipette_memory.py
Labels: api, ready for review

#1473 Pd substeps from command creators - distribute substeps
  protocol-designer/src/steplist/generateSubsteps.js
  protocol-designer/src/steplist/test/mergeWhen.test.js
  protocol-designer/src/steplist/types.js
  protocol-designer/src/steplist/utils.js
  protocol-designer/src/top-selectors/substeps.js
Labels: protocol designer, ready for review

#1477 Api: adds test pipette eeprom-writing tool
  api/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/tests/opentrons/tools/test_qc_scripts.py
Labels: api, ready for review

#1486 Make API tests pass via SKIP flag in Sphinx
  api/docs/source/api.rst
  api/opentrons/instruments/pipette.py
  api/opentrons/robot/robot.py
Labels: docs, ready for review, small

#1483 Api disconnect before connect
  api/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/tests/opentrons/drivers/test_driver.py
Labels: api, ready for review

#1489 Removes functions that are no longer used in OT 2
  api/opentrons/instruments/pipette.py
  api/tests/opentrons/labware/test_pipette_unittest.py
Labels: BREAKING CHANGE, api, chore, ready for review

#1481 PD: fix Delete Step bug
  protocol-designer/src/steplist/reducers.js
Labels: bug, protocol designer, ready for review

#1480 PD: fix liquid tracking bug on aspirating from trough
  protocol-designer/src/step-generation/aspirateUpdateLiquidState.js
  protocol-designer/src/step-generation/test-with-flow/aspirateUpdateLiquidState.test.js
  protocol-designer/src/step-generation/types.js
  protocol-designer/src/top-selectors/substep-highlight.js
  protocol-designer/src/top-selectors/well-contents/index.js
Labels: bug, protocol designer, ready for review

#1492 feat(app, comp): Add run complete, paused, and canceled AlertItems
  api/opentrons/api/session.py
  app/src/components/ConnectPanel/connect-panel.css
  app/src/components/RunLog/CommandList.js
  app/src/components/RunLog/SessionAlert.js
  app/src/components/RunLog/index.js
  app/src/components/RunLog/styles.css
  app/src/components/SetupPanel/styles.css
  app/src/robot/reducer/session.js
  components/src/__tests__/__snapshots__/icons.test.js.snap
  components/src/alerts/AlertItem.js
  components/src/alerts/alerts.css
  components/src/icons/icon-data.js
  components/src/lists/lists.css
  components/src/styles/colors.css
Labels: api, app, components, feature

#1498 API: removes characters before the P in the pipette barcode
  api/opentrons/tools/write_pipette_memory.py
Labels: api, easyfix, ready for review

#1495 add well selection instructional text
  protocol-designer/src/components/IngredientSelectionModal.js
  protocol-designer/src/components/WellSelectionInstructions.css
  protocol-designer/src/components/WellSelectionInstructions.js
  protocol-designer/src/components/WellSelectionModal.js
Labels: protocol designer, ready for review

#1484 remove robotStateTimeline selector, use robotStateTimelineFull
  protocol-designer/src/containers/Alerts.js
  protocol-designer/src/containers/ConnectedStepItem.js
  protocol-designer/src/file-data/selectors/commands.js
  protocol-designer/src/file-data/selectors/fileCreator.js
  protocol-designer/src/steplist/generateSubsteps.js
  protocol-designer/src/top-selectors/substep-highlight.js
  protocol-designer/src/top-selectors/substeps.js
  protocol-designer/src/top-selectors/well-contents/index.js
Labels: chore, protocol designer, ready for review

#1491 PD: delete labware gracefully
  protocol-designer/src/step-generation/aspirate.js
  protocol-designer/src/step-generation/dispense.js
  protocol-designer/src/step-generation/errorCreators.js
  protocol-designer/src/step-generation/test-with-flow/aspirate.test.js
  protocol-designer/src/step-generation/test-with-flow/dispense.test.js
Labels: protocol designer, ready for review

#1485 PD file upload button initial steps
  protocol-designer/src/components/FileSidebar.css
  protocol-designer/src/components/FileSidebar.js
  protocol-designer/src/containers/ConnectedFileSidebar.js
Labels: protocol designer, ready for review

#1516 fix(docs): Disable jekyll so _directories work
  api/docs/public/.nojekyll
Labels: docs, ready for review

#1508 feat(app, comp): Display `SpinnerModal` while robot homes and reboots
  app/src/components/RunLog/CommandList.js
  app/src/components/RunLog/index.js
  app/src/components/RunLog/styles.css
  app/src/robot/selectors.js
  components/src/__tests__/__snapshots__/modals.test.js.snap
  components/src/modals/SpinnerModal.js
  components/src/modals/SpinnerModal.md
  components/src/modals/SpinnerModalPage.js
  components/src/modals/index.js
  components/src/modals/modals.css
Labels: app, feature, ready for review

#1517 fix(docs): Add .nojekyll to ot1 docs, too
  api/docs/public/ot1/.nojekyll
Labels: docs, fix, ready for review

#1513 Add deck calibration move endpoint with offset logic for multi-channel
  api/opentrons/deck_calibration/__init__.py
  api/opentrons/deck_calibration/endpoints.py
  api/opentrons/deck_calibration/linal.py
  api/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/opentrons/robot/robot_configs.py
  api/opentrons/server/endpoints/control.py
  api/tests/opentrons/server/calibration_integration_test.py
  api/tests/opentrons/server/test_calibration_endpoints.py
  api/tests/opentrons/server/test_control_endpoints.py
  app/src/components/CalibrateDeck/ClearDeckAlert.js
  app/src/components/CalibrateDeck/InstructionsModal.js
  app/src/components/CalibrateDeck/index.js
  app/src/components/CalibrateDeck/types.js
  app/src/http-api-client/calibration.js
  app/src/http-api-client/robot.js
Labels: api, fix

#1510 feat(app): Add app-shell config to app state
  app-shell/lib/config.js
  app-shell/lib/log.js
  app-shell/lib/main.js
  app-shell/lib/ui.js
  app-shell/package.json
  app/__mocks__/electron.js
  app/package.json
  app/src/__mocks__/logger.js
  app/src/config/__tests__/config.test.js
  app/src/config/index.js
  app/src/index.js
  app/src/logger.js
  app/src/reducer.js
  app/src/shell/__tests__/shell.test.js
  app/src/shell/index.js
  yarn.lock
Labels: app, feature, ready for review

#1515 refactor robotTimeline selector to support drop tips at end
  protocol-designer/src/file-data/selectors/commands.js
  protocol-designer/src/step-generation/types.js
Labels: protocol designer, ready for review

#1518 API: during X home, move Y both forwards and backwards
  api/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/tests/opentrons/drivers/test_driver.py
Labels: api, ready for review, small

#1506 API: toggle uart port closed/open if no response
  api/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/opentrons/drivers/smoothie_drivers/serial_communication.py
Labels: api, ready for review, small

#1522 release: 3.0.1-beta.0
  api/opentrons/_version.py
  api/version
  app-shell/package.json
  app/package.json
  components/package.json
  package.json
  protocol-designer/package.json
  shared-data/package.json
  webpack-config/package.json
Labels: chore

#1524 chore(repo): Add commitizen to repo and docs
  CONTRIBUTING.md
  package.json
  yarn.lock
Labels: chore, ready for review

#1521 pd: use new tiprack + trash images (not S3)
  protocol-designer/src/components/labware/LabwareOnDeck.js
  protocol-designer/src/images/labware/10 uL Tip Rack.png
  protocol-designer/src/images/labware/Tip Rack.png
  protocol-designer/src/images/labware/Trash.png
Labels: protocol designer, ready for review

#1528 feat(app): Initiate and confirm run cancel
  app/src/components/RunLog/ConfirmCancelModal.js
  app/src/components/RunLog/index.js
  app/src/components/RunPanel/RunControls.js
  app/src/components/RunPanel/index.js
  app/src/pages/Run.js
Labels: app, feature, ready for review

#1532 fix(api): Handle OSErrors when a USB drive is mounted read-only
  api/opentrons/config/__init__.py
Labels: api, bug, fix

#1530 feat(api): Add driver for temperature deck
  api/opentrons/drivers/serial_communication.py
  api/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/opentrons/drivers/temp_deck/__init__.py
  api/opentrons/drivers/temp_deck/driver.py
  api/opentrons/drivers/temp_plate.py
  api/opentrons/instruments/__init__.py
  api/opentrons/instruments/temp_plate.py
  api/opentrons/server/main.py
  api/opentrons/tools/factory_test.py
  api/tests/opentrons/drivers/module_drivers/test_temp_deck_driver.py
  api/tests/opentrons/drivers/test_driver.py
Labels: api, feature, ready for review

#1544 docs(api): Fix docs copy task to include dotfiles (like .nojekyll)
  api/Makefile
Labels: docs, fix, ready for review

#1542 docs(docs): Update header and footer navigation
  README.md
  api/docs/source/static/nav.css
  api/docs/source/templates/layout.html
Labels: docs, fix, ready for review, small

#1541 feat(app): Remove confirm exit modal from change pipette screens
  app/src/components/ChangePipette/ConfirmPipette.js
Labels: app, easyfix, ready for review

#1543 refactor(api): Cache pipette models on reset and connect
  api/opentrons/robot/robot.py
  api/opentrons/server/main.py
  api/tests/opentrons/server/calibration_integration_test.py
  api/tests/opentrons/server/test_calibration_endpoints.py
Labels: api, ready for review, refactor

#1545 fix(api): Modify touch tip defaults
  api/opentrons/instruments/pipette.py
  api/opentrons/server/main.py
  api/tests/opentrons/labware/test_pipette_unittest.py
Labels: api, fix, ready for review

#1548 docs(api): Update documentation for `robot.head_speed`
  api/docs/source/robot.rst
  api/opentrons/instruments/pipette.py
  api/opentrons/robot/robot.py
Labels: api, docs, small

#1526 PD & Complib: Update styles for TitledList & behavior for StepItems
  components/src/__tests__/__snapshots__/lists.test.js.snap
  components/src/lists/TitledList.js
  components/src/lists/lists.css
  components/src/styles/colors.css
  protocol-designer/src/components/StepCreationButton.css
  protocol-designer/src/components/steplist/MultiChannelSubstep.js
  protocol-designer/src/components/steplist/StepItem.css
  protocol-designer/src/components/steplist/StepItem.js
  protocol-designer/src/containers/ConnectedStepItem.js
  protocol-designer/src/steplist/actions/actions.js
  protocol-designer/src/steplist/reducers.js
Labels: components, protocol designer, ready for review

#1538 feat(protocol-designer): labware name overlay shows only nickname or labware type
  app/src/components/DeckMap/LabwareItem.js
  components/src/__tests__/__snapshots__/icons.test.js.snap
  components/src/deck/ContainerNameOverlay.js
  components/src/deck/LabwareContainer.css
  components/src/icons/icon-data.js
  components/src/utils.js
  protocol-designer/src/components/labware/LabwareOnDeck.js
  protocol-designer/src/components/labware/NameThisLabwareOverlay.js
  protocol-designer/src/steplist/formProcessing.js
  protocol-designer/src/utils.js
Labels: protocol designer, ready for review

#1558 feat(app): Make tip probe completely optional
  app/src/components/SetupPanel/DeckCalibrationGroup.js
  app/src/components/TipProbe/UnprobedPanel.js
  app/src/components/nav-bar/NavButton.js
  app/src/pages/SetupDeck.js
  app/src/robot/reducer/calibration.js
  app/src/robot/test/calibration-reducer.test.js
Labels: app, feature, ready for review

#1546 feat(components): Components click outside hoc
  components/src/index.js
  components/src/interaction-enhancers/ExampleClickOutside.js
  components/src/interaction-enhancers/ExampleClickOutside.md
  components/src/interaction-enhancers/clickOutside.js
  components/src/interaction-enhancers/index.js
  components/styleguide.config.js
Labels: components, ready for review

#1564 feat(protocol-designer): make default trash labware 'fixed-trash' not 'trash-box'
  protocol-designer/src/labware-ingred/reducers/index.js
Labels: bug, protocol designer

#1562 feat(protocol-designer): show nickname or humanized labware name with…
  protocol-designer/src/components/labware/LabwareOnDeck.js
  protocol-designer/src/components/labware/NameThisLabwareOverlay.js
  protocol-designer/src/containers/ConnectedStepItem.js
  protocol-designer/src/containers/ConnectedTitleBar.js
  protocol-designer/src/containers/IngredientsList.js
  protocol-designer/src/containers/LabwareContainer.js
  protocol-designer/src/containers/SelectablePlate.js
  protocol-designer/src/file-data/selectors/commands.js
  protocol-designer/src/labware-ingred/actions.js
  protocol-designer/src/labware-ingred/reducers/index.js
  protocol-designer/src/labware-ingred/types.js
  protocol-designer/src/navigation/selectors.js
  protocol-designer/src/step-generation/types.js
  protocol-designer/src/top-selectors/well-contents/__tests__/wellContentsAllLabware.test.js
  protocol-designer/src/top-selectors/well-contents/index.js
  protocol-designer/src/top-selectors/well-contents/wellContentsAllLabware.js
Labels: protocol designer, ready for review

#1554 feat(api): lock resin update on server start and unlock on exit
  api/opentrons/server/main.py
Labels: api, feature, ready for review

#1565 feat(protocol-designer): update name new labware overlay style
  protocol-designer/src/components/labware/NameThisLabwareOverlay.js
  protocol-designer/src/components/labware/labware.css
Labels: protocol designer, ready for review

#1569 feat(app): Render update app modal if update available
  app/src/components/AppSettings/AppUpdateModal.js
  app/src/components/AppSettings/index.js
  app/src/pages/AppSettings.js
  app/src/shell/__tests__/shell.test.js
  app/src/shell/index.js
Labels: app, feature, ready for review

#1570 docs(api): Remove use of basic Pipette constructor from docs
  api/README.rst
  api/docs/source/atomic commands.rst
  api/docs/source/index.rst
  api/docs/source/pipettes.rst
  api/docs/source/robot.rst
  api/opentrons/__init__.py
  api/opentrons/instruments/pipette.py
  api/tests/opentrons/data/tip_probe.py
Labels: api, docs, ready for review, small

#1568 feat(app): Add analytics opt-in modal on first app open
  app-shell/lib/config.js
  app/src/analytics/__tests__/make-event.test.js
  app/src/analytics/index.js
  app/src/components/AppSettings/AnalyticsSettingsCard.js
  app/src/components/AppSettings/index.js
  app/src/components/AppSettings/styles.css
  app/src/components/Page.js
  app/src/components/analytics-settings/AnalyticsInfo.js
  app/src/components/analytics-settings/AnalyticsSettingsCard.js
  app/src/components/analytics-settings/AnalyticsSettingsModal.js
  app/src/components/analytics-settings/AnalyticsToggle.js
  app/src/components/analytics-settings/LabeledToggle.js
  app/src/components/analytics-settings/ModalButton.js
  app/src/components/analytics-settings/ModalTitle.js
  app/src/components/analytics-settings/index.js
  app/src/components/analytics-settings/styles.css
  app/src/pages/AppSettings.js
Labels: app, feature, ready for review

#1576 fix(api): Reset startTime when session.refresh is called
  api/opentrons/api/session.py
Labels: api, fix, ready for review

#1577 feat(app): Add ability to reset a run after it ends
  app/src/components/RunLog/CommandList.js
  app/src/components/RunLog/index.js
  app/src/components/RunPanel/RunControls.js
  app/src/components/RunPanel/RunTimer.js
  app/src/components/RunPanel/index.js
  app/src/containers/UploadStatus.js
  app/src/robot/actions.js
  app/src/robot/api-client/client.js
  app/src/robot/reducer/session.js
  app/src/robot/selectors.js
  app/src/robot/test/__mocks__/session.js
  app/src/robot/test/actions.test.js
  app/src/robot/test/api-client.test.js
  app/src/robot/test/selectors.test.js
  app/src/robot/test/session-reducer.test.js
Labels: app, feature, ready for review

#1575 fix(app): Render jog increments to left of jog buttons
  app/src/components/JogControls/styles.css
Labels: app, easyfix, ready for review

#1578 fix(app): Fix routes to load current calibration item by default
  app/src/components/LabwareCalibration/InfoBox.js
  app/src/components/nav-bar/NavButton.js
  app/src/pages/Calibrate.js
  app/src/pages/Calibrate/Instruments.js
  app/src/pages/Calibrate/Labware.js
  app/src/pages/Calibrate/index.js
  app/src/pages/Robots.js
Labels: app, fix, ready for review

#1579 chore(release): 3.1.0
  api/opentrons/package.json
  app-shell/package.json
  app/package.json
  components/package.json
  package.json
  protocol-designer/package.json
  shared-data/package.json
  webpack-config/package.json
Labels: chore
