Repository Opentrons/opentrons, pull requests merged in 2018-04, with the labels that each got.

#1082 restyle StepCreationButton; break out into component from container
  protocol-designer/src/components/StepCreationButton.css
  protocol-designer/src/components/StepCreationButton.js
  protocol-designer/src/components/StepList.js
  protocol-designer/src/containers/StepCreationButton.js
Labels: protocol designer, ready for review

#1134 Make pipette read methods in driver honor simulating mode
  api/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/tests/opentrons/drivers/test_driver.py
  api/tests/opentrons/server/test_control_endpoints.py
Labels: api, chore, ready for review, refactor

#1044 Chore: all jest to monorepo root
  Makefile
  app/Makefile
  app/package.json
  components/Makefile
  components/package.json
  labware-definitions/Makefile
  labware-definitions/package.json
  package.json
  protocol-designer/Makefile
  protocol-designer/package.json
Labels: chore, ready for review

#1132 chore(app,app-shell): Use consitent app title
  app-shell/electron-builder.json
  app-shell/package.json
  app/package.json
  app/webpack.config.js
Labels: app, chore, ready for review

#1131 feat(app): Enable pipettes card and drive it with API state
  app/src/components/RobotSettings/AttachedInstrumentsCard.js
  app/src/components/RobotSettings/InstrumentInfo.js
  app/src/components/RobotSettings/index.js
  app/src/components/RobotSettings/styles.css
  app/src/http-api-client/index.js
  app/src/http-api-client/pipettes.js
Labels: app, feature, ready for review

#1137 Api save calibration endpoint
  api/opentrons/deck_calibration/dc_main.py
  api/opentrons/deck_calibration/endpoints.py
  api/opentrons/robot/robot_configs.py
  api/opentrons/server/endpoints/control.py
  api/tests/opentrons/server/test_calibration_endpoints.py
Labels: api, feature, ready for review

#1136 Connectivity: Move Refresh and Spinner to Top
  app/src/components/ConnectPanel/connect-panel.css
  app/src/components/ConnectPanel/index.js
Labels: app, chore, easyfix, ready for review

#1085 Pd hover to see labware and wells
  protocol-designer/src/components/labware/LabwareOnDeck.js
  protocol-designer/src/constants.js
  protocol-designer/src/containers/LabwareContainer.js
  protocol-designer/src/containers/SelectablePlate.js
  protocol-designer/src/file-data/__tests__/commandsSelectors.test.js
  protocol-designer/src/file-data/selectors/commands.js
  protocol-designer/src/labware-ingred/__tests__/selectors.test.js
  protocol-designer/src/labware-ingred/actions.js
  protocol-designer/src/labware-ingred/reducers/index.js
  protocol-designer/src/step-generation/consolidate.js
  protocol-designer/src/step-generation/dispenseUpdateLiquidState.js
  protocol-designer/src/step-generation/dropTip.js
  protocol-designer/src/steplist/reducers.js
Labels: protocol designer, ready for review

#1138 QC: simplify factory tests
  .dockerignore
  Dockerfile
  api/opentrons/tools/factory_test.py
  api/opentrons/tools/factory_test_camera.py
  api/opentrons/tools/factory_test_gpio.py
  api/opentrons/tools/write_pipette_memory.py
  audio/speaker-test.mp3
Labels: api, ready for review

#1152 PD: Transfer step
  protocol-designer/src/components/StepEditForm.js
  protocol-designer/src/file-data/selectors/commands.js
  protocol-designer/src/form-types.js
  protocol-designer/src/step-generation/aspirateUpdateLiquidState.js
  protocol-designer/src/step-generation/consolidate.js
  protocol-designer/src/step-generation/dispenseUpdateLiquidState.js
  protocol-designer/src/step-generation/index.js
  protocol-designer/src/step-generation/mix.js
  protocol-designer/src/step-generation/robotStateSelectors.js
  protocol-designer/src/step-generation/test-with-flow/consolidate.test.js
  protocol-designer/src/step-generation/test-with-flow/transfer.test.js
  protocol-designer/src/step-generation/transfer.js
  protocol-designer/src/step-generation/types.js
  protocol-designer/src/steplist/formProcessing.js
  protocol-designer/src/steplist/types.js
Labels: protocol designer, ready for review

#1155 Api: log all serial data written/read over uart to file
  api/opentrons/drivers/smoothie_drivers/serial_communication.py
  api/opentrons/server/main.py
  api/opentrons/util/environment.py
  api/opentrons/util/log.py
Labels: api, ready for review, small

#1162 feat(app): Attach pipette modal
  app/src/components/App.css
  app/src/components/App.global.css
  app/src/components/ChangePipette/AttachPipetteInstructions.js
  app/src/components/ChangePipette/AttachPipetteTitle.js
  app/src/components/ChangePipette/CheckPipettesButton.js
  app/src/components/ChangePipette/ClearDeckAlertModal.js
  app/src/components/ChangePipette/InstructionStep.js
  app/src/components/ChangePipette/PipetteSelection.js
  app/src/components/ChangePipette/TitledModal.js
  app/src/components/ChangePipette/images/attach-left-multi-screws@3x.png
  app/src/components/ChangePipette/images/attach-left-multi-tab@3x.png
  app/src/components/ChangePipette/images/attach-left-single-screws@3x.png
  app/src/components/ChangePipette/images/attach-left-single-tab@3x.png
  app/src/components/ChangePipette/images/attach-right-multi-screws@3x.png
  app/src/components/ChangePipette/images/attach-right-multi-tab@3x.png
  app/src/components/ChangePipette/images/attach-right-single-screws@3x.png
  app/src/components/ChangePipette/images/attach-right-single-tab@3x.png
  app/src/components/ChangePipette/images/detach-left-multi-screws@3x.png
  app/src/components/ChangePipette/images/detach-left-multi-tab@3x.png
  app/src/components/ChangePipette/images/detach-left-single-screws@3x.png
  app/src/components/ChangePipette/images/detach-left-single-tab@3x.png
  app/src/components/ChangePipette/images/detach-right-multi-screws@3x.png
  app/src/components/ChangePipette/images/detach-right-multi-tab@3x.png
  app/src/components/ChangePipette/images/detach-right-single-screws@3x.png
  app/src/components/ChangePipette/images/detach-right-single-tab@3x.png
  app/src/components/ChangePipette/images/screwdriver.svg
  app/src/components/ChangePipette/index.js
  app/src/components/ChangePipette/styles.css
  app/src/components/RobotSettings/styles.css
  app/src/components/RunLog.css
  app/src/components/RunNotifications.css
  app/src/components/fonts.css
  app/src/components/utils/AbsoluteWrapper.js
  app/src/components/utils/RelativeWrapper.js
  app/src/components/utils/styles.css
  app/src/pages/Robots.js
  components/flow-typed/npm/classnames_v2.x.x.js
  components/src/modals/Modal.js
  components/src/nav/SidePanel.css
  components/src/nav/navbar.css
  components/src/structure/structure.css
Labels: app, feature, ready for review

#1158 PD Multi-channel substeps in step list
  protocol-designer/src/components/StepItem.css
  protocol-designer/src/components/StepItem.js
  protocol-designer/src/components/StepList.js
  protocol-designer/src/components/TransferishSubstep.js
  protocol-designer/src/file-data/selectors/pipettes.js
  protocol-designer/src/steplist/formProcessing.js
  protocol-designer/src/steplist/generateSubsteps.js
  protocol-designer/src/steplist/reducers.js
  protocol-designer/src/steplist/types.js
Labels: design, protocol designer, ready for review

#1165 feat(app): Attach pipette confirmation UI
  app/src/components/ChangePipette/AttachPipetteTitle.js
  app/src/components/ChangePipette/ConfirmPipette.js
  app/src/components/ChangePipette/ExitAlertModal.js
  app/src/components/ChangePipette/InstructionStep.js
  app/src/components/ChangePipette/TitledModal.js
  app/src/components/ChangePipette/images/attach-left-multi-screws@3x.png
  app/src/components/ChangePipette/images/attach-left-multi-tab@3x.png
  app/src/components/ChangePipette/images/attach-left-single-screws@3x.png
  app/src/components/ChangePipette/images/attach-left-single-tab@3x.png
  app/src/components/ChangePipette/images/attach-right-multi-screws@3x.png
  app/src/components/ChangePipette/images/attach-right-multi-tab@3x.png
  app/src/components/ChangePipette/images/attach-right-single-screws@3x.png
  app/src/components/ChangePipette/images/attach-right-single-tab@3x.png
  app/src/components/ChangePipette/images/detach-left-multi-screws@3x.png
  app/src/components/ChangePipette/images/detach-left-multi-tab@3x.png
  app/src/components/ChangePipette/images/detach-left-single-screws@3x.png
  app/src/components/ChangePipette/images/detach-left-single-tab@3x.png
  app/src/components/ChangePipette/images/detach-right-multi-screws@3x.png
  app/src/components/ChangePipette/images/detach-right-multi-tab@3x.png
  app/src/components/ChangePipette/images/detach-right-single-screws@3x.png
  app/src/components/ChangePipette/images/detach-right-single-tab@3x.png
  app/src/components/ChangePipette/index.js
  app/src/components/ChangePipette/styles.css
  app/src/components/utils/AbsoluteWrapper.js
  app/src/components/utils/RelativeWrapper.js
  app/src/components/utils/styles.css
  components/src/modals/modals.css
Labels: app, feature, ready for review

#1164 Pd select substep hover
  protocol-designer/src/components/StepItem.css
  protocol-designer/src/components/StepList.js
  protocol-designer/src/components/TransferishSubstep.js
  protocol-designer/src/containers/ConnectedStepList.js
  protocol-designer/src/steplist/actions.js
  protocol-designer/src/steplist/reducers.js
  protocol-designer/src/steplist/types.js
Labels: protocol designer, ready for review

#1166 Api: add other pipette models, and shift plunger positions 1mm
  api/opentrons/__init__.py
  api/opentrons/instruments/pipette_config.py
  api/tests/opentrons/labware/test_pipette.py
Labels: api, ready for review, small

#1176 Hotfix wifi endpoints (release: 3.0.0-beta.6)
  api/opentrons/_version.py
  api/opentrons/server/endpoints/wifi.py
  api/version
  app-shell/package.json
  app/package.json
  components/package.json
  labware-definitions/package.json
  package.json
  protocol-designer/package.json
  webpack-config/package.json
Labels: api, fix

#1168 Api: adds QC mechanical scripts
  api/opentrons/tools/gantry_test.py
  api/opentrons/tools/z_stage_test.py
Labels: api, ready for review

#1175 Add RequestInProgressModal to ChangePipette
  app/src/components/ChangePipette/RequestInProgressModal.js
  app/src/components/ChangePipette/index.js
  app/src/components/ChangePipette/styles.css
Labels: app, ready for review

#1177 feat(app): Add action creator and reducer for POST /robot/move API
  app/src/http-api-client/__tests__/robot.test.js
  app/src/http-api-client/__tests__/wifi.test.js
  app/src/http-api-client/index.js
  app/src/http-api-client/robot.js
Labels: app, feature, ready for review

#1174 complib: TitledList doesn't resize-jitter when 'selected' is toggled
  components/src/buttons/buttons.css
  components/src/lists/lists.css
  components/src/styles/borders.css
Labels: components

#1178 pd: show wells for substep
  protocol-designer/src/file-data/selectors/commands.js
  protocol-designer/src/steplist/types.js
Labels: protocol designer

#1181 Test cleanup as prep for labware refactors
  api/opentrons/data_storage/database.py
  api/opentrons/instruments/pipette.py
  api/opentrons/robot/robot.py
  api/tests/opentrons/__init__.py
  api/tests/opentrons/api/test_calibration.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/containers/test_containers.py
  api/tests/opentrons/containers/test_default_containers.py
  api/tests/opentrons/containers/test_old_container_loading.py
  api/tests/opentrons/containers/test_placeable.py
  api/tests/opentrons/data/Everything_Test_Software.py
  api/tests/opentrons/data/bradford_assay.py
  api/tests/opentrons/database/test_database.py
  api/tests/opentrons/integration/test_api.py
  api/tests/opentrons/labware/test_magbead.py
  api/tests/opentrons/labware/test_module_placement.py
  api/tests/opentrons/labware/test_pipette.py
  api/tests/opentrons/labware/test_pipette_unittest.py
  api/tests/opentrons/labware/test_temp_plate.py
  api/tests/opentrons/protocol/test_robot.py
  api/tests/opentrons/server/test_calibration_endpoints.py
Labels: api, chore, ready for review

#1182 Connect robot actions and state to AttachPipette UI
  app/src/components/ChangePipette/CheckPipettesButton.js
  app/src/components/ChangePipette/ConfirmPipette.js
  app/src/components/ChangePipette/index.js
  app/src/components/RobotSettings/AttachedInstrumentsCard.js
  app/src/components/RobotSettings/InstrumentInfo.js
  app/src/http-api-client/index.js
  app/src/http-api-client/pipettes.js
  app/src/http-api-client/robot.js
Labels: app, feature, ready for review

#1189 API: disengages all motors when reading from pipette
  api/opentrons/drivers/smoothie_drivers/driver_3_0.py
Labels: api, bug

#1185 API: removes command echo from beginning of smoothie responses
  api/opentrons/drivers/smoothie_drivers/serial_communication.py
  api/tests/opentrons/drivers/test_driver.py
Labels: api, bug

#1184 API: Adds firmware image to api directory
  api/Makefile
  api/smoothie/edge-7d70457.hex
Labels: api, small

#1190 Add remove trash bin cover image to tip probe modal
  app/src/components/ConfirmTipProbeModal/Contents.css
  app/src/components/ConfirmTipProbeModal/Contents.js
  app/src/components/ConfirmTipProbeModal/img/trash@3x.png
  app/src/components/RunPanel/RunTimer.js
  app/src/components/RunPanel/styles.css
  components/src/__tests__/__snapshots__/modals.test.js.snap
  components/src/modals/AlertModal.js
  components/src/modals/modals.css
Labels: app, easyfix, ready for review

#1193 Pd ingred pill labels
  components/src/__tests__/__snapshots__/structure.test.js.snap
  components/src/__tests__/structure.test.js
  components/src/constants.js
  components/src/deck/Plate.js
  components/src/deck/Plate.md
  components/src/deck/Well.js
  components/src/deck/Well.md
  components/src/deck/index.js
  components/src/structure/Pill.css
  components/src/structure/Pill.js
  components/src/structure/Pill.md
  components/src/structure/index.js
  components/src/styles/borders.css
  components/src/styles/colors.css
  protocol-designer/src/components/IngredPill.js
  protocol-designer/src/components/SelectablePlate.js
  protocol-designer/src/components/TransferishSubstep.js
  protocol-designer/src/containers/ConnectedStepList.js
  protocol-designer/src/containers/SelectablePlate.js
  protocol-designer/src/file-data/selectors/commands.js
  protocol-designer/src/labware-ingred/__tests__/selectors.test.js
  protocol-designer/src/labware-ingred/reducers/index.js
  protocol-designer/src/labware-ingred/types.js
  protocol-designer/src/steplist/generateSubsteps.js
  protocol-designer/src/steplist/reducers.js
  protocol-designer/src/steplist/types.js
  protocol-designer/src/top-selectors/substep-highlight.js
  protocol-designer/src/top-selectors/substeps.js
  protocol-designer/src/top-selectors/well-contents.js
Labels: protocol designer, ready for review

#1194 command converted to bytes
  api/opentrons/drivers/smoothie_drivers/serial_communication.py
Labels: bug, small

#1199 Api fix factory gpio test
  api/opentrons/tools/factory_test.py
Labels: fix, ready for review, small

#1195 Remove slot offset from labware offset when saving new calibration data
  api/Pipfile.lock
  api/opentrons/data_storage/database.py
  api/opentrons/data_storage/labware_definitions.py
  api/opentrons/data_storage/serializers.py
  api/opentrons/util/calibration_functions.py
  api/tests/opentrons/api/test_calibration.py
  api/tests/opentrons/database/test_database.py
  api/tests/opentrons/database/test_labware_definitions.py
  api/tests/opentrons/labware/test_pipette.py
  api/tests/opentrons/protocol/__init__.py
  api/tests/opentrons/robot/test_robot.py
Labels: api, feature, fix

#1198 Api: disable only plunger when reading eeprom
  api/opentrons/drivers/smoothie_drivers/driver_3_0.py
Labels: api, bug, small

#1200 feat(app + components): Exit attach pipette
  app/src/components/ChangePipette/AttachPipette.js
  app/src/components/ChangePipette/AttachPipetteInstructions.js
  app/src/components/ChangePipette/AttachPipetteTitle.js
  app/src/components/ChangePipette/CheckPipettesButton.js
  app/src/components/ChangePipette/ClearDeckAlertModal.js
  app/src/components/ChangePipette/ConfirmPipette.js
  app/src/components/ChangePipette/ExitAlertModal.js
  app/src/components/ChangePipette/InstructionStep.js
  app/src/components/ChangePipette/RequestInProgressModal.js
  app/src/components/ChangePipette/TitledModal.js
  app/src/components/ChangePipette/index.js
  app/src/components/ChangePipette/pipettes.js
  app/src/components/ChangePipette/types.js
  app/src/pages/Robots.js
  components/src/__tests__/__snapshots__/structure.test.js.snap
  components/src/buttons/Button.js
  components/src/structure/TitleBar.js
  components/src/structure/TitleBar.md
  components/src/structure/structure.css
Labels: app, components, feature, medium, ready for review

#1204 Adds specified versions for jupyter dependencies
  Dockerfile
Labels: container, fix

#1206 Add tip length to pipette info endpoint
  api/opentrons/robot/robot.py
  api/opentrons/server/endpoints/control.py
  api/tests/opentrons/server/test_control_endpoints.py
Labels: api, feature, ready for review

#1207 fix(app): Guard RPC client against malformed session responses
  app/src/robot/api-client/client.js
  app/src/robot/test/api-client.test.js
Labels: app, fix, ready for review

#1212 Add function to remove instruments from robot state
  api/opentrons/robot/robot.py
  api/opentrons/server/endpoints/control.py
  api/tests/opentrons/server/test_control_endpoints.py
Labels: api, fix

#1205 release: 3.0.0-beta.7
  api/opentrons/_version.py
  api/version
  app-shell/package.json
  app/package.json
  components/package.json
  labware-definitions/package.json
  package.json
  protocol-designer/package.json
  webpack-config/package.json
Labels: ready for review

#1213 Update Jog Controls UI
  app/src/components/ChangePipette/AttachPipette.js
  app/src/components/ChangePipette/ConfirmPipette.js
  app/src/components/ChangePipette/styles.css
  app/src/components/LabwareCalibration/ConfirmModal.js
  app/src/components/LabwareCalibration/JogControls.js
  app/src/components/LabwareCalibration/styles.css
  components/src/__tests__/__snapshots__/icons.test.js.snap
  components/src/__tests__/__snapshots__/modals.test.js.snap
  components/src/__tests__/modals.test.js
  components/src/icons/icon-data.js
  components/src/modals/AlertModal.js
  components/src/modals/ModalPage.js
  components/src/modals/ModalPage.md
  components/src/modals/index.js
  components/src/modals/modals.css
  components/src/structure/TitleBar.js
  components/src/structure/index.js
Labels: app, ready for review

#1221 feat(api): Log HTTP handler exceptions and respond with traceback in JSON
  api/opentrons/server/main.py
  api/opentrons/server/rpc.py
Labels: api, feature, ready for review

#1218 QC: print out the old pipette ID before writing new ID
  api/opentrons/tools/write_pipette_memory.py
Labels: api, ready for review, small

#1202 API: default probe coordinate pulled from CAD
  api/opentrons/deck_calibration/dc_main.py
  api/opentrons/robot/robot_configs.py
Labels: api, ready for review, small

#1225 Move pipette configs into data and make load function lazy
  Dockerfile
  api/opentrons/__init__.py
  api/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/opentrons/instruments/pipette_config.py
  api/opentrons/robot/robot.py
  api/opentrons/server/endpoints/control.py
  api/tests/opentrons/api/test_calibration.py
  api/tests/opentrons/drivers/test_driver.py
  api/tests/opentrons/server/test_calibration_endpoints.py
  api/tests/opentrons/server/test_control_endpoints.py
  labware-definitions/robot-data/pipette-config.json
Labels: api, container, feature, fix, ready for review

#1232 Add debug logging and environment read endpoint
  Dockerfile
  api/opentrons/data_storage/database.py
  api/opentrons/server/endpoints/update.py
  api/opentrons/server/main.py
Labels: api, chore, feature

#1231 feat/refactor: Update pipette defs based on UX and FE
  api/opentrons/instruments/pipette_config.py
  labware-definitions/js/index.js
  labware-definitions/js/pipettes.js
  labware-definitions/robot-data/pipette-config.json
Labels: api, feature, labware, ready for review, refactor, small

#1223 Implement jog increment selection
  app/src/components/ChangePipette/RequestInProgressModal.js
  app/src/components/ChangePipette/styles.css
  app/src/components/LabwareCalibration/ConfirmModal.js
  app/src/components/LabwareCalibration/ConfirmPositionContents.js
  app/src/components/LabwareCalibration/JogControls.js
  app/src/components/LabwareCalibration/styles.css
  app/src/robot/actions.js
  app/src/robot/constants.js
  app/src/robot/reducer/calibration.js
  app/src/robot/test/actions.test.js
  app/src/robot/test/calibration-reducer.test.js
  components/src/forms/forms.css
Labels: app, feature, ready for review

#1226 PD Well Selection Modal (for a step source/dest wells)
  components/src/__tests__/__snapshots__/forms.test.js.snap
  components/src/forms/FormGroup.js
  components/src/forms/InputField.js
  components/src/forms/forms.css
  protocol-designer/src/components/ProtocolEditor.js
  protocol-designer/src/components/SelectablePlate.js
  protocol-designer/src/components/SingleLabware.css
  protocol-designer/src/components/SingleLabware.js
  protocol-designer/src/components/StepEditForm.js
  protocol-designer/src/components/WellSelectionModal.css
  protocol-designer/src/components/WellSelectionModal.js
  protocol-designer/src/components/modals/MoreOptionsModal.js
  protocol-designer/src/components/modals/modal.css
  protocol-designer/src/configureStore.js
  protocol-designer/src/containers/ConnectedStepEditForm.js
  protocol-designer/src/containers/ConnectedWellSelectionModal.js
  protocol-designer/src/containers/IngredientPropertiesForm.js
  protocol-designer/src/containers/SelectablePlate.js
  protocol-designer/src/containers/WellSelectionInput.js
  protocol-designer/src/labware-ingred/__tests__/selectors.test.js
  protocol-designer/src/labware-ingred/actions.js
  protocol-designer/src/labware-ingred/reducers/index.js
  protocol-designer/src/navigation/reducers/index.js
  protocol-designer/src/navigation/selectors.js
  protocol-designer/src/step-generation/types.js
  protocol-designer/src/steplist/actions.js
  protocol-designer/src/steplist/formProcessing.js
  protocol-designer/src/steplist/types.js
  protocol-designer/src/top-selectors/well-contents/__tests__/wellContentsAllLabware.test.js
  protocol-designer/src/top-selectors/well-contents/index.js
  protocol-designer/src/top-selectors/well-contents/wellContentsAllLabware.js
  protocol-designer/src/types.js
  protocol-designer/src/well-selection/actions.js
  protocol-designer/src/well-selection/reducers.js
  protocol-designer/src/well-selection/selectors.js
Labels: protocol designer, ready for review

#1242 feat(app): Add basic UI for swapping a pipette
  app/package.json
  app/src/components/ChangePipette/AttachPipette.js
  app/src/components/ChangePipette/ClearDeckAlertModal.js
  app/src/components/ChangePipette/ConfirmPipette.js
  app/src/components/ChangePipette/InstructionStep.js
  app/src/components/ChangePipette/Instructions.js
  app/src/components/ChangePipette/PipetteSelection.js
  app/src/components/ChangePipette/RequestInProgressModal.js
  app/src/components/ChangePipette/TitledModal.js
  app/src/components/ChangePipette/index.js
  app/src/components/ChangePipette/pipettes.js
  app/src/components/ChangePipette/styles.css
  app/src/components/ChangePipette/types.js
  app/src/components/RobotSettings/AttachedInstrumentsCard.js
  app/src/components/RobotSettings/InstrumentInfo.js
  app/src/robot/types.js
Labels: app, feature, ready for review

#1243 Changes function the pipettte load method uses
  api/opentrons/instruments/pipette_config.py
Labels: api, bug, chore

#1245 Api: left-mount offset during deck calibration
  api/opentrons/deck_calibration/__init__.py
  api/opentrons/deck_calibration/dc_main.py
Labels: api, feature, ready for review

#1250 Make existing JogControls component reusable
  app/src/components/JogControls/index.js
  app/src/components/JogControls/styles.css
  app/src/components/LabwareCalibration/ConfirmPositionContents.js
  app/src/components/LabwareCalibration/styles.css
Labels: app, ready for review, refactor

#1249 Add SpinnerModalPage to complib
  app/src/components/ChangePipette/RequestInProgressModal.js
  app/src/components/ChangePipette/styles.css
  components/src/__tests__/__snapshots__/modals.test.js.snap
  components/src/__tests__/modals.test.js
  components/src/modals/SpinnerModalPage.js
  components/src/modals/SpinnerModalPage.md
  components/src/modals/index.js
  components/src/modals/modals.css
Labels: app, components, ready for review, small

#1254 feat(app): Disable plunger during change
  app/__util__/mock-promise.js
  app/src/components/ChangePipette/index.js
  app/src/http-api-client/__mocks__/client.js
  app/src/http-api-client/__mocks__/health.js
  app/src/http-api-client/__tests__/motors.test.js
  app/src/http-api-client/__tests__/robot.test.js
  app/src/http-api-client/index.js
  app/src/http-api-client/motors.js
  app/src/http-api-client/pipettes.js
  app/src/http-api-client/robot.js
Labels: app, feature, ready for review

#1258 Complib, PD: styling to match design reqs & cleanup well props
  components/src/deck/Plate.js
  components/src/deck/Well.css
  components/src/deck/Well.js
  components/src/deck/Well.md
  components/src/deck/index.js
  protocol-designer/src/components/IngredientSelectionModal.css
  protocol-designer/src/components/IngredientSelectionModal.js
  protocol-designer/src/components/SelectablePlate.js
  protocol-designer/src/components/SingleLabware.css
  protocol-designer/src/containers/SelectablePlate.js
  protocol-designer/src/labware-ingred/types.js
  protocol-designer/src/top-selectors/well-contents/index.js
Labels: components, protocol designer, ready for review

#1255 feat(app): Add intercom boot and update on page change
  app/src/analytics/gtm-config.js
  app/src/analytics/index.js
  app/src/analytics/intercom-config.js
  app/src/index.hbs
  app/src/index.js
  app/webpack.config.js
Labels: app, feature, ready for review

#1266 Disambiguate feature flag path environment variable
  api/opentrons/config/feature_flags.py
Labels: api, bug, fix, ready for review

#1262 PD: new interaction & design for well selection
  components/src/deck/Plate.js
  components/src/deck/Well.css
  components/src/deck/Well.js
  components/src/styles/colors.css
  protocol-designer/src/components/SelectablePlate.js
  protocol-designer/src/containers/SelectablePlate.js
  protocol-designer/src/labware-ingred/actions.js
  protocol-designer/src/top-selectors/well-contents/__tests__/wellContentsAllLabware.test.js
  protocol-designer/src/top-selectors/well-contents/index.js
  protocol-designer/src/top-selectors/well-contents/wellContentsAllLabware.js
  protocol-designer/src/utils.js
  protocol-designer/src/well-selection/actions.js
  protocol-designer/src/well-selection/reducers.js
  protocol-designer/src/well-selection/selectors.js
Labels: protocol designer, ready for review

#1265 fix(app): Show more accurate error messages in pipette swap failures
  app/src/components/ChangePipette/ConfirmPipette.js
  app/src/components/ChangePipette/Instructions.js
  app/src/components/ChangePipette/index.js
  app/src/components/ChangePipette/styles.css
  app/src/components/ChangePipette/types.js
Labels: app, ready for review, small, ux review required

#1263 feat(app): Wrong pipette alert in tip probe
  app/src/components/setup-instruments/Instruments.js
  app/src/components/setup-instruments/styles.css
  app/src/pages/SetupInstruments.js
  components/src/alerts/AlertItem.js
  components/src/instrument-diagram/InstrumentInfo.js
  components/src/instrument-diagram/instrument.css
Labels: app, feature, ready for review, ux review required

#1277 fix(components): Fix wellContents in Plate becoming mandatory for every Well
  app/src/components/CalibrateDeck/LabwareItem.js
  components/src/deck/Plate.js
  components/src/deck/Well.js
Labels: components, fix, ready for review

#1279 fix(app): Fix some typos
  app/src/components/RobotSettings/WifiConnectModal.js
  app/src/robot/api-client/client.js
Labels: app, fix, ready for review

#1268 tweak StepCreationButton padding
  protocol-designer/src/components/StepCreationButton.css
Labels: design, protocol designer

#1273 Update AlertModal style to match designs
  app/src/components/ChangePipette/styles.css
  components/src/__tests__/__snapshots__/icons.test.js.snap
  components/src/__tests__/__snapshots__/modals.test.js.snap
  components/src/icons/icon-data.js
  components/src/modals/AlertModal.js
  components/src/modals/AlertModal.md
  components/src/modals/modals.css
Labels: app, protocol designer, ready for review, small

#1280 Use configuration index file and mount USB drive
  Dockerfile
  api/.env
  api/Makefile
  api/opentrons/config/__init__.py
  api/opentrons/config/config.py
  api/opentrons/config/feature_flags.py
  api/opentrons/data_storage/labware_definitions.py
  api/opentrons/instruments/pipette_config.py
  api/opentrons/robot/robot_configs.py
  api/opentrons/server/main.py
  api/opentrons/util/environment.py
  api/opentrons/util/log.py
  api/tests/opentrons/api/test_calibration.py
  api/tests/opentrons/cli/test_cli.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/containers/test_containers.py
  api/tests/opentrons/data/index.json
  api/tests/opentrons/data/labware-def/definitions/4-well-plate.json
  api/tests/opentrons/data/labware-def/offsets/4-well-plate.json
  api/tests/opentrons/database/test_labware_definitions.py
  api/tests/opentrons/database/test_serializers.py
  api/tests/opentrons/robot/test_robot.py
  api/tests/opentrons/server/test_update_endpoints.py
  api/tests/opentrons/util/test_tip_probe.py
  compute/scripts/mount_usb.py
  compute/scripts/setup.sh
Labels: api, container, feature, ready for review, refactor

#1299 chore(release): 3.0.0-beta.11
  api/opentrons/_version.py
  api/version
  app-shell/package.json
  app/package.json
  components/package.json
  labware-definitions/package.json
  package.json
  protocol-designer/package.json
  webpack-config/package.json
Labels: chore, ready for review

#1287 Reusuable ClearDeckAlertModal
  app/src/components/CalibrateDeck/index.js
  app/src/components/ChangePipette/index.js
  app/src/components/ChangePipette/styles.css
  app/src/components/ClearDeckAlertModal/index.js
  app/src/components/ClearDeckAlertModal/styles.css
  app/src/components/DeckMap/ConnectedLabwareItem.js
  app/src/components/DeckMap/LabwareItem.js
  app/src/components/DeckMap/index.js
  app/src/components/DeckMap/styles.css
  app/src/components/LabwareCalibration/index.js
  app/src/components/ReviewDeckModal/LabwareComponent.js
  app/src/components/RobotSettings/CalibrationCard.js
  app/src/pages/Robots.js
  components/src/__tests__/__snapshots__/icons.test.js.snap
  components/src/icons/icon-data.js
  components/src/modals/AlertModal.js
Labels: app, components, ready for review

#1288 Removes set mount endpoint and init pipette endpoint adds pipette initialization into start endpoint
  api/opentrons/deck_calibration/endpoints.py
  api/tests/opentrons/server/test_calibration_endpoints.py
Labels: api, ready for review

#1251 API: adds endpoint to take picture from webcam
  api/opentrons/server/endpoints/control.py
  api/opentrons/server/main.py
Labels: api, feature

#1304 feat(app): Add action + reducer for starting deck calibration
  app/src/http-api-client/__tests__/calibration.test.js
  app/src/http-api-client/calibration.js
  app/src/http-api-client/client.js
  app/src/http-api-client/index.js
  app/src/http-api-client/types.js
Labels: app, feature, ready for review
