Repository Opentrons/opentrons, pull requests merged in 2018-09, with the labels that each got.

#2063 fix(shared-data): fix tube-rack-15_50ml labware def
  shared-data/definitions/tube-rack-15_50ml.json
Labels: fix, labware, ready for review

#2080 ci: Parallelize `make install` in CI
  .travis.yml
  Makefile
  appveyor.yml
Labels: chore, ready for review

#2179 fix(app): Grab intercom handler from window on every call
  app/src/support.js
Labels: app, bug, fix, ready for review

#2170 feat(protocol-designer): add tooltips for advanced settings
  components/src/buttons/Button.js
  components/src/forms/CheckboxField.js
  components/src/forms/FormGroup.js
  components/src/tooltips/HoverTooltip.js
  protocol-designer/src/components/StepEditForm/MixForm.js
  protocol-designer/src/components/StepEditForm/StepFormField.js
  protocol-designer/src/components/StepEditForm/TipPositionInput/index.js
  protocol-designer/src/components/StepEditForm/TransferLikeForm.js
  protocol-designer/src/components/StepEditForm/formFields.js
  protocol-designer/src/components/StepEditForm/getTooltipForField.js
  protocol-designer/src/localization/en/tooltip.json
Labels: protocol designer, ready for review

#2140 feat(app): Add attached pipette info to intercom support
  app/src/components/RobotSettings/ResetRobotModal.js
  app/src/support.js
Labels: app, feature, ready for review

#2183 (Docs): Fix links formatting
  api/docs/source/atomic commands.rst
  api/docs/source/index.rst
  api/docs/source/modules.rst
Labels: api, docs, ready for review

#2178 refactor(api-server-lib): Remove unnecessary api-server-lib
  .dockerignore
  Dockerfile
  Makefile
  api-server-lib/MANIFEST.in
  api-server-lib/Makefile
  api-server-lib/Pipfile
  api-server-lib/Pipfile.lock
  api-server-lib/README.md
  api-server-lib/ot2serverlib/CHANGELOG.md
  api-server-lib/ot2serverlib/__init__.py
  api-server-lib/ot2serverlib/endpoints.py
  api-server-lib/ot2serverlib/ignore_update.py
  api-server-lib/ot2serverlib/package.json
  api-server-lib/setup.cfg
  api-server-lib/setup.py
  api/Makefile
  api/Pipfile
  api/Pipfile.lock
  api/opentrons/server/main.py
  api/tests/opentrons/server/test_update_endpoints.py
  app-shell/Makefile
  app-shell/src/api-update.js
  package.json
Labels: api, ready for review, refactor, small

#2159 refactor(api): Move nmcli interaction into its own module
  api/opentrons/server/endpoints/wifi.py
  api/opentrons/server/main.py
  api/opentrons/system/__init__.py
  api/opentrons/system/nmcli.py
  api/tests/opentrons/server/test_wifi_endpoints.py
  api/tests/opentrons/system/test_nmcli.py
Labels: api, ready for review, refactor

#2192 feat(api): Ensure the wifi mac address stays fixed
  api/opentrons/system/nmcli.py
Labels: api, feature, small

#2191 fix(api): Fix container definitions of biorad PCR and 10ul tiprack
  api/opentrons/config/containers/default-containers.json
Labels: api, fix, labware

#2171 feat(api): add custom height and offset params to magdeck engage
  api/opentrons/api/session.py
  api/opentrons/modules/magdeck.py
Labels: api, small

#2207 chore(build): Make push-api fail if no usb host was found
  Makefile
Labels: chore

#2205 feat(api): Add container definitions for opentrons alumnium block set
  api/opentrons/config/containers/default-containers.json
Labels: api, labware

#2180 feat(protocol-designer): support mm from bottom offset in JSON protocols
  api/opentrons/protocols/__init__.py
  api/tests/opentrons/protocols/test_load_json_protocol.py
  protocol-designer/src/components/StepEditForm/TipPositionInput/TipPositionModal.js
  protocol-designer/src/constants.js
  protocol-designer/src/file-data/selectors/fileCreator.js
  protocol-designer/src/step-generation/aspirate.js
  protocol-designer/src/step-generation/consolidate.js
  protocol-designer/src/step-generation/dispense.js
  protocol-designer/src/step-generation/distribute.js
  protocol-designer/src/step-generation/mix.js
  protocol-designer/src/step-generation/transfer.js
  protocol-designer/src/step-generation/types.js
  protocol-designer/src/steplist/actions/handleFormChange.js
  protocol-designer/src/steplist/formLevel/generateNewForm.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/mixFormToArgs.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/transferLikeFormToArgs.js
  shared-data/protocol-json-schema/protocol-schema.json
Labels: api, json protocol schema, protocol designer, ready for review

#2214 fix(protocol-designer): tweak timeline alert copy
  protocol-designer/src/localization/en/alert.json
Labels: fix, protocol designer

#2206 feat(discovery-client): Add /server/update/health check to poller
  discovery-client/src/__tests__/client.test.js
  discovery-client/src/__tests__/poller.test.js
  discovery-client/src/index.js
  discovery-client/src/poller.js
  discovery-client/src/service.js
  discovery-client/src/types.js
Labels: app, feature, ready for review, small

#2215 refactor(app): Move /health state to combined API reducer
  app/src/components/RobotSettings/AdvancedSettingsCard.js
  app/src/components/RobotSettings/InformationCard.js
  app/src/http-api-client/__mocks__/health.js
  app/src/http-api-client/__tests__/health.test.js
  app/src/http-api-client/actions.js
  app/src/http-api-client/client.js
  app/src/http-api-client/health.js
  app/src/http-api-client/index.js
Labels: app, ready for review, refactor, small

#2168 feat(protocol-designer): warn changes will be lost on import/create
  protocol-designer/src/components/FileSidebar/ConnectedFileSidebar.js
  protocol-designer/src/containers/ConnectedNewFileModal.js
  protocol-designer/src/index.js
  protocol-designer/src/localization/en/alert.json
Labels: protocol designer, ready for review

#2177 feat(protocol-designer): add ux analytics with opt in settings and modal
  .travis.yml
  components/src/controls/ControlInfo.js
  components/src/controls/LabeledButton.js
  components/src/controls/LabeledCheckbox.js
  components/src/controls/LabeledControl.js
  components/src/controls/LabeledSelect.js
  components/src/controls/LabeledToggle.js
  components/src/controls/ToggleButton.js
  components/src/controls/index.js
  components/src/controls/styles.css
  components/src/index.js
  protocol-designer/src/analytics/index.js
  protocol-designer/src/components/ProtocolEditor.js
  protocol-designer/src/components/SettingsPage/Privacy.js
  protocol-designer/src/components/SettingsPage/SettingsPage.css
  protocol-designer/src/components/SettingsPage/SettingsSidebar.js
  protocol-designer/src/components/SettingsPage/index.js
  protocol-designer/src/components/modals/AnalyticsModal.js
  protocol-designer/src/containers/ConnectedMainPanel.js
  protocol-designer/src/containers/ConnectedNav.js
  protocol-designer/src/containers/ConnectedSidebar.js
  protocol-designer/src/containers/ConnectedTitleBar.js
  protocol-designer/src/containers/NavBar.css
  protocol-designer/src/localization/en/button.json
  protocol-designer/src/localization/en/card.json
  protocol-designer/src/localization/en/index.js
  protocol-designer/src/localization/en/nav.json
  protocol-designer/src/navigation/types.js
Labels: components, large, protocol designer, ready for review

#2210 feat(protocol-library-kludge): set up OT2 deckmap mini-app kludge for…
  package.json
  protocol-library-kludge/Makefile
  protocol-library-kludge/index.html
  protocol-library-kludge/package.json
  protocol-library-kludge/src/App.js
  protocol-library-kludge/src/URLDeck.js
  protocol-library-kludge/src/globals.css
  protocol-library-kludge/src/index.js
  protocol-library-kludge/webpack.config.js
Labels: Protocol Library, ready for review

#2218 refactor(app): Consolidate /settings calls into common API state
  app/src/components/RobotSettings/AdvancedSettingsCard.js
  app/src/http-api-client/__tests__/settings.test.js
  app/src/http-api-client/actions.js
  app/src/http-api-client/health.js
  app/src/http-api-client/index.js
  app/src/http-api-client/settings.js
Labels: app, ready for review, refactor, small

#2224 feat(protocol-library-kludge): support modules and nicknames
  components/src/deck/ContainerNameOverlay.js
  protocol-library-kludge/src/URLDeck.css
  protocol-library-kludge/src/URLDeck.js
Labels: Protocol Library, ready for review

#2220 feat(protocol-designer): auto dismiss no liquid hint
  protocol-designer/src/tutorial/reducers.js
Labels: protocol designer, ready for review, small

#2225 feat(api): Add new container defs to shared data
  api/tests/opentrons/database/test_labware_definitions.py
  shared-data/definitions/biorad-hardshell-96-PCR.json
  shared-data/definitions/opentrons-aluminum-block-2ml-eppendorf.json
  shared-data/definitions/opentrons-aluminum-block-2ml-screwcap.json
  shared-data/definitions/opentrons-aluminum-block-96-PCR-plate.json
  shared-data/definitions/opentrons-aluminum-block-PCR-strips.json
  shared-data/definitions/opentrons-tuberack-15_50ml.json
  shared-data/definitions/opentrons-tuberack-15ml.json
  shared-data/definitions/opentrons-tuberack-2ml-eppendorf.json
  shared-data/definitions/opentrons-tuberack-2ml-screwcap.json
  shared-data/definitions/opentrons-tuberack-50ml.json
Labels: api, labware, ready for review

#2211 docs(api): update magdeck engage() doc
  api/docs/source/modules.rst
Labels: docs, small

#2255 fix(api): Fix pipette volume params and revert change in param order
  api/docs/source/pipettes.rst
  api/opentrons/__init__.py
  api/tests/opentrons/labware/test_pipette_constructors.py
Labels: api, bug, fix, ready for review

#2231 feat(app): Parse JSON protocols into state
  app/src/analytics/__tests__/make-event.test.js
  app/src/analytics/make-event.js
  app/src/components/SessionHeader/index.js
  app/src/components/UploadPanel/index.js
  app/src/pages/Upload/UploadStatus.js
  app/src/pages/Upload/index.js
  app/src/protocol/__tests__/actions.test.js
  app/src/protocol/__tests__/reducer.test.js
  app/src/protocol/__tests__/selectors.test.js
  app/src/protocol/index.js
  app/src/protocol/protocol-data.js
  app/src/protocol/types.js
  app/src/reducer.js
  app/src/robot/actions.js
  app/src/robot/api-client/client.js
  app/src/robot/api-client/index.js
  app/src/robot/reducer/calibration.js
  app/src/robot/reducer/session.js
  app/src/robot/selectors.js
  app/src/robot/test/actions.test.js
  app/src/robot/test/calibration-reducer.test.js
  app/src/robot/test/selectors.test.js
  app/src/robot/test/session-reducer.test.js
  app/src/robot/types.js
  app/src/types.js
  protocol-designer/src/file-types.js
Labels: app, feature, ready for review

#2223 feat(protocol-designer): replace 200µl tiprack with 300µl tiprack
  protocol-designer/src/components/LabwareSelectionModal/LabwareSelectionModal.js
  protocol-designer/src/components/modals/NewFileModal/index.js
  protocol-designer/src/file-data/selectors/commands.js
  protocol-designer/src/labware-ingred/reducers/index.js
Labels: protocol designer, ready for review

#2254 Network connectivity: Add key management for EAP secured networks
  api/opentrons/server/endpoints/wifi.py
  api/opentrons/server/main.py
  api/opentrons/system/nmcli.py
  api/opentrons/util/environment.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/server/test_wifi_endpoints.py
Labels: api, feature, ready for review

#2267 build(api): Add mypy and run it (without failing if it fails) in lint
  .gitignore
  api/Makefile
  api/Pipfile
  api/Pipfile.lock
  api/mypy.ini
Labels: api, chore, ready for review

#2262 refactor(app): Consolidate /pipettes calls into common API
  app/src/http-api-client/__tests__/motors.test.js
  app/src/http-api-client/__tests__/pipettes.test.js
  app/src/http-api-client/index.js
  app/src/http-api-client/motors.js
  app/src/http-api-client/pipettes.js
  app/src/http-api-client/settings.js
  app/src/support.js
Labels: app, ready for review, refactor, small

#2278 feat(app): Populate FileInfo page with JSON protocol metadata
  app/src/components/FileInfo/InformationCard.js
  app/src/components/FileInfo/LabwareTable.js
  app/src/components/FileInfo/ProtocolLabwareCard.js
  app/src/components/FileInfo/ProtocolModulesCard.js
  app/src/components/FileInfo/ProtocolPipettesCard.js
  app/src/components/FileInfo/index.js
  app/src/components/FileInfo/styles.css
  app/src/components/UploadError/index.js
  app/src/components/UploadError/styles.css
  app/src/components/UploadPanel/Upload.js
  app/src/components/UploadPanel/index.js
  app/src/components/layout/styles.css
  app/src/pages/Upload/FileInfo.js
  app/src/pages/Upload/index.js
  app/src/protocol/__tests__/selectors.test.js
  app/src/protocol/index.js
  app/src/robot/reducer/session.js
  app/src/robot/selectors.js
  app/src/robot/test/session-reducer.test.js
Labels: app, feature, ready for review

#2272 feat(protocol-designer): link to starting deck state in alerts
  protocol-designer/src/components/Alerts.js
  protocol-designer/src/components/Hints/index.js
  protocol-designer/src/components/ProtocolEditor.js
  protocol-designer/src/components/StepEditForm/FormAlerts.js
  protocol-designer/src/components/alerts/Alerts.js
  protocol-designer/src/components/alerts/ErrorContents.js
  protocol-designer/src/components/alerts/TimelineAlerts.js
  protocol-designer/src/components/alerts/WarningContents.js
  protocol-designer/src/components/alerts/types.js
  protocol-designer/src/components/steplist/TerminalItem/TerminalItemLink.js
  protocol-designer/src/components/steplist/TerminalItem/index.js
  protocol-designer/src/components/steplist/TerminalItem/styles.css
  protocol-designer/src/components/steplist/TimelineAlerts.js
  protocol-designer/src/localization/en/alert.json
  protocol-designer/src/localization/en/nav.json
  protocol-designer/src/tutorial/hintManifest.js
  protocol-designer/src/tutorial/index.js
Labels: feature, protocol designer, ready for review

#2280 fix(discovery-client): Fix health state latching regression
  discovery-client/src/__tests__/client.test.js
  discovery-client/src/index.js
Labels: app, bug, fix, ready for review

#2282 chore(release): 3.4.0-beta.0
  CHANGELOG.md
  api/opentrons/CHANGELOG.md
  api/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  lerna.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore, ready for review

#2283 feat(api): Add ability to connect to WPA2-Enterprise networks
  api/opentrons/server/endpoints/wifi.py
  api/opentrons/server/main.py
  api/opentrons/system/nmcli.py
  api/tests/opentrons/server/test_wifi_endpoints.py
  update-server/otupdate/install.py
Labels: api, feature, ready for review

#2297 docs(repo): correct typo in contributing guide
  CONTRIBUTING.md
Labels: docs, ready for review

#2263 feat(protocol-designer): modify well selection instructional text
  components/src/__tests__/__snapshots__/icons.test.js.snap
  components/src/icons/icon-data.js
  protocol-designer/src/components/WellSelectionInstructions.css
  protocol-designer/src/components/WellSelectionInstructions.js
  protocol-designer/src/localization/en/index.js
  protocol-designer/src/localization/en/well_selection.json
  shared-data/js/helpers/computeWellAccess.js
Labels: components, protocol designer, ready for review

#2288 fix(app): Fix robot list scroll clipping
  app/src/components/ConnectPanel/RobotLink.js
  app/src/components/ConnectPanel/RobotList.js
  app/src/components/ConnectPanel/connect-panel.css
  app/src/components/ConnectPanel/index.js
  components/src/nav/SidePanel.css
Labels: app, bug, components, ready for review

#2299 fix(protocol-designer): fix recurring deleted labware bug
  protocol-designer/src/components/StepEditForm/TipPositionInput/index.js
  protocol-designer/src/containers/SelectablePlate.js
  protocol-designer/src/file-data/selectors/commands.js
  protocol-designer/src/labware-ingred/reducers/index.js
  protocol-designer/src/steplist/actions/handleFormChange.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/mixFormToArgs.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/transferLikeFormToArgs.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/types.js
  protocol-designer/src/top-selectors/well-contents/wellContentsAllLabware.js
Labels: fix, protocol designer, ready for review

#2296 fix(protocol-designer): fix bug with well access for rect wells
  shared-data/js/helpers/computeWellAccess.js
Labels: fix, protocol designer, ready for review

#2289 Pd fix transfer tip use
  protocol-designer/src/step-generation/test-with-flow/transfer.test.js
  protocol-designer/src/step-generation/transfer.js
Labels: fix, protocol designer, ready for review

#2281 fix(protocol-designer): correct alignment of form fields
  components/src/forms/InputField.js
  components/src/forms/forms.css
  protocol-designer/src/components/StepEditForm/WellOrderInput/WellOrderInput.css
Labels: components, protocol designer, ready for review

#2306 feat(api): support optional pause message
  api/opentrons/commands/commands.py
  api/opentrons/protocols/__init__.py
  api/opentrons/robot/robot.py
Labels: api, feature, ready for review

#2308 fix(app): Wrap run screen modals in portal
  app/src/components/RunLog/CommandList.js
Labels: app, bug, fix, ready for review

#2315 fix(app): Prevent wrong keypress combo from changing jog jump size
  app/src/components/JogControls/index.js
Labels: app, bug, fix, ready for review

#2314 fix(api): Patch resources/scripts to always be executable
  api/opentrons/resources/ot-environ.sh
  api/opentrons/resources/scripts/provision-api-resources
Labels: api, fix, ready for review

#2301 refactor(app): Consolidate /motor calls into common API
  app/src/http-api-client/__tests__/motors.test.js
  app/src/http-api-client/index.js
  app/src/http-api-client/motors.js
Labels: app, ready for review, refactor, small

#2323 fix(api): When reseting the robot singleton, clear added tips
  api/opentrons/api/session.py
  api/opentrons/robot/robot.py
  api/tests/opentrons/api/test_session.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/data/no_clear_tips.py
  api/tests/opentrons/robot/test_robot.py
Labels: api, fix, ready for review

#2321 feat(components): make titlebar stick to top on scroll
  protocol-designer/src/containers/ConnectedTitleBar.js
  protocol-designer/src/containers/TitleBar.css
Labels: components, feature, ready for review, small

#2320 feat(protocol-designer): autoselect default pipette for new forms
  protocol-designer/src/pipettes/selectors.js
  protocol-designer/src/steplist/actions/actions.js
  protocol-designer/src/steplist/actions/index.js
  protocol-designer/src/steplist/actions/thunks.js
  protocol-designer/src/steplist/formLevel/generateNewForm.js
  protocol-designer/src/steplist/formLevel/getDefaultsForStepType.js
  protocol-designer/src/steplist/formLevel/getNextDefaultPipetteId/index.js
  protocol-designer/src/steplist/formLevel/getNextDefaultPipetteId/test/getNextDefaultPipetteId.test.js
  protocol-designer/src/steplist/formLevel/index.js
  protocol-designer/src/steplist/index.js
  protocol-designer/src/steplist/reducers.js
  protocol-designer/src/steplist/selectors.js
  protocol-designer/src/steplist/utils/index.js
  protocol-designer/src/steplist/utils/mergeWhen.js
  protocol-designer/src/steplist/utils/orderWells.js
Labels: protocol designer, ready for review

#2316 feat(app): Add release notes to app update modal
  CHANGELOG.md
  app-shell/.gitignore
  app-shell/build/release-notes.md
  app-shell/electron-builder.json
  app-shell/src/update.js
  app/package.json
  app/src/components/AppSettings/AppInfoCard.js
  app/src/components/AppSettings/AppUpdateModal.js
  app/src/components/AppSettings/ReleaseNotes.js
  app/src/components/AppSettings/index.js
  app/src/components/AppSettings/styles.css
  app/src/components/modals/BottomButtonBar.js
  app/src/components/modals/ErrorModal.js
  app/src/components/modals/index.js
  app/src/components/modals/styles.css
  app/src/pages/More/AppSettings.js
  app/src/shell/__tests__/update.test.js
  app/src/shell/index.js
  app/src/shell/update.js
  components/src/modals/AlertModal.js
  components/src/modals/modals.css
  yarn.lock
Labels: app, feature, ready for review

#2319 feat(protocol-designer): add dynamic tooltip arrow
  components/src/tooltips/HoverTooltip.js
  components/src/tooltips/tooltips.css
  protocol-designer/src/components/StepCreationButton.js
Labels: feature, protocol designer, ready for review

#2295 feat(protocol-designer): allow user to specify disposal volume dest
  components/src/__tests__/__snapshots__/alerts.test.js.snap
  components/src/__tests__/__snapshots__/buttons.test.js.snap
  components/src/__tests__/__snapshots__/forms.test.js.snap
  components/src/__tests__/__snapshots__/modals.test.js.snap
  components/src/__tests__/__snapshots__/nav.test.js.snap
  components/src/__tests__/__snapshots__/structure.test.js.snap
  components/src/buttons/Button.js
  components/src/buttons/buttons.css
  components/src/forms/DropdownField.js
  components/src/forms/InputField.js
  components/src/forms/forms.css
  protocol-designer/src/components/StepEditForm/FlowRateField/FlowRateField.js
  protocol-designer/src/components/StepEditForm/StepEditForm.css
  protocol-designer/src/components/StepEditForm/TransferLikeForm.js
  protocol-designer/src/components/StepEditForm/formFields.js
  protocol-designer/src/components/modals/NewFileModal/index.js
  protocol-designer/src/labware-ingred/reducers/index.js
  protocol-designer/src/step-generation/distribute.js
  protocol-designer/src/step-generation/test-with-flow/distribute.test.js
  protocol-designer/src/step-generation/test-with-flow/fixtures/commandFixtures.js
  protocol-designer/src/step-generation/types.js
  protocol-designer/src/steplist/fieldLevel/types.js
  protocol-designer/src/steplist/formLevel/getDefaultsForStepType.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/transferLikeFormToArgs.js
Labels: feature, protocol designer, ready for review

#2327 fix(app): Open external links in user's browser instead of app window
  app-shell/src/ui.js
  app/src/components/AppSettings/ReleaseNotes.js
  app/src/components/Resources/ResourceCard.js
Labels: app, bug, fix, ready for review

#2330 feat(api): Remove deck calibration from reset options
  api/opentrons/server/endpoints/settings.py
  api/tests/opentrons/server/test_settings_endpoints.py
Labels: api, feature

#2332 docs(contributing): Ask Windows users to set core.autocrlf=input
  CONTRIBUTING.md
Labels: docs

#2317 fix(api): Update definitions for tuberacks
  api/opentrons/config/containers/default-containers.json
Labels: api, fix

#2329 feat(app): Enable autoupdate on Linux by switching to AppImage builds
  __mocks__/electron-store.js
  __mocks__/electron-updater.js
  __mocks__/electron.js
  app-shell/build/icon.png
  app-shell/build/icons/512x512.png
  app-shell/electron-builder.json
  app-shell/package.json
  app-shell/src/update.js
  package.json
  yarn.lock
Labels: app, feature, ready for review

#2339 chore(chore): add exception in gitattributes for our hex files
  .gitattributes
Labels: chore

#2341 fix(protocol-designer): fix whitescreen on deleting blowout labware
  protocol-designer/src/components/StepEditForm/formFields.js
  protocol-designer/src/step-generation/blowout.js
  protocol-designer/src/step-generation/test-with-flow/blowout.test.js
  protocol-designer/src/steplist/actions/handleFormChange.js
Labels: fix, protocol designer, ready for review

#2342 fix(api): Update the aluminum block definitions to match drawings
  api/opentrons/config/containers/default-containers.json
  shared-data/definitions/opentrons-aluminum-block-PCR-strips-200ul.json
Labels: api, fix, ready for review

#2338 chore(release): 3.4.0
  CHANGELOG.md
  api/opentrons/CHANGELOG.md
  api/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/build/release-notes.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  lerna.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore, ready for review

#2340 fix(protocol-designer): fix tiprack diagram only displaying right
  protocol-designer/src/components/modals/NewFileModal/index.js
Labels: fix, protocol designer

#2173 feat(api): add module firmware update endpoint
  api/opentrons/config/modules/95-opentrons-modules.rules
  api/opentrons/drivers/mag_deck/driver.py
  api/opentrons/modules/__init__.py
  api/opentrons/server/endpoints/update.py
  api/opentrons/server/main.py
  api/tests/opentrons/labware/test_modules.py
  api/tests/opentrons/server/test_update_endpoints.py
Labels: api, large, ready for review

#2350 feat(protocol-designer): add "app build date" field to PD saved files
  protocol-designer/src/file-data/selectors/fileCreator.js
  protocol-designer/webpack.config.js
Labels: chore, protocol designer

#2318 refactor(api): invert control of system and server
  api/Makefile
  api/opentrons/main.py
  api/opentrons/resources/scripts/start.sh
  api/opentrons/server/__init__.py
  api/opentrons/server/http.py
  api/opentrons/server/main.py
  api/opentrons/server/rpc.py
  api/opentrons/system/resin.py
  api/opentrons/system/udev.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/server/test_control_endpoints.py
  api/tests/opentrons/server/test_health_endpoints.py
  api/tests/opentrons/server/test_logs_endpoints.py
  api/tests/opentrons/server/test_settings_endpoints.py
  api/tests/opentrons/server/test_update_endpoints.py
  api/tests/opentrons/server/test_wifi_endpoints.py
Labels: api, ready for review, refactor

#2349 API: add hardware control
  api/opentrons/hardware_control/__init__.py
  api/opentrons/hardware_control/controller.py
  api/opentrons/hardware_control/simulator.py
  api/opentrons/util/environment.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/hardware_control/__init__.py
  api/tests/opentrons/hardware_control/test_instantiation.py
Labels: api, ready for review, refactor

#2360 ci(codecov): Fix uploading of python coverage
  .travis.yml
  Makefile
  package.json
  yarn.lock
Labels: chore, ready for review

#2366 fix(protocol-designer): tweak analytics copy for accuracy
  protocol-designer/src/components/SettingsPage/Privacy.js
  protocol-designer/src/components/modals/AnalyticsModal.js
Labels: fix, protocol designer, ready for review

#2364 refactor(app): Add actual state for API update file
  app-shell/src/api-update.js
  app-shell/src/main.js
  app/src/http-api-client/__tests__/server.test.js
  app/src/http-api-client/server.js
  app/src/shell/__tests__/api-update.test.js
  app/src/shell/api-update.js
  app/src/shell/index.js
Labels: app, ready for review, refactor

#2363 feat(api): Add skeleton of new Labware class
  api/opentrons/labware/__init__.py
Labels: api, feature, ready for review

#2368 fix(api): Change api update ignore route to be accessible to client
  .gitignore
  api/opentrons/server/endpoints/serverlib_fallback.py
  api/opentrons/server/http.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/containers/test_containers.py
  api/tests/opentrons/containers/test_old_container_loading.py
  api/tests/opentrons/containers/test_placeable_unittest.py
  api/tests/opentrons/helpers/test_helpers.py
  api/tests/opentrons/labware/test_pipette_unittest.py
  api/tests/opentrons/server/test_update_endpoints.py
  api/tests/opentrons/util/test_vector.py
Labels: api, fix

#2376 feat(app): Add upgrade and downgrade logic to robot updates
  app-shell/package.json
  app/package.json
  app/src/components/ConnectPanel/RobotItem.js
  app/src/components/ConnectPanel/RobotList.js
  app/src/components/RobotSettings/InformationCard.js
  app/src/components/RobotSettings/UpdateModal.js
  app/src/http-api-client/__tests__/server.test.js
  app/src/http-api-client/index.js
  app/src/http-api-client/server.js
  app/src/pages/Robots/RobotSettings.js
Labels: app, feature, ready for review

#2387 chore(api): Fix some mypy typing errors
  api/opentrons/broker/broker.py
  api/opentrons/config/__init__.py
  api/opentrons/containers/placeable.py
  api/opentrons/data_storage/labware_definitions.py
  api/opentrons/data_storage/serializers.py
  api/opentrons/deck_calibration/dc_main.py
  api/opentrons/deck_calibration/endpoints.py
  api/opentrons/deck_calibration/linal.py
  api/opentrons/drivers/mag_deck/driver.py
  api/opentrons/drivers/temp_deck/driver.py
  api/opentrons/instruments/instrument.py
  api/opentrons/robot/robot_configs.py
  api/opentrons/util/calibration_functions.py
  api/opentrons/util/environment.py
Labels: api, chore

#2386 feat(app): Prompt user to update app in robot update modal
  app/src/components/RobotSettings/InformationCard.js
  app/src/components/RobotSettings/UpdateAppMessage.js
  app/src/components/RobotSettings/UpdateModal.js
Labels: app, feature, ready for review

#2389 feat(api): add hardware control move_to(), move_rel()
  api/opentrons/hardware_control/__init__.py
  api/opentrons/hardware_control/controller.py
  api/opentrons/hardware_control/simulator.py
  api/opentrons/types.py
  api/tests/opentrons/hardware_control/test_moves.py
Labels: api, feature

#2375 feat(api): Add new protocol API stubs
  api/opentrons/protocol_api/__init__.py
Labels: api, ready for review, refactor
