Repository Opentrons/opentrons, pull requests merged in 2019-09, with the labels that each got.

#3979 fix(api): fix ignoring smoothie errors during non-home
  api/src/opentrons/drivers/smoothie_drivers/driver_3_0.py
Labels: api, fix

#3991 feat(protocol-designer): add copy with custom labware button
  protocol-designer/src/components/KnowledgeBaseLink/index.js
  protocol-designer/src/components/LabwareSelectionModal/LabwareSelectionModal.js
  protocol-designer/src/components/LabwareSelectionModal/styles.css
  protocol-designer/src/localization/en/modal.json
Labels: protocol designer, ready for review

#3989 refactor(shared-data): Modify p20 and p300 pipette functions
  api/tests/opentrons/config/test_pipette_config.py
  shared-data/pipette/definitions/pipetteModelSpecs.json
Labels: ready for review, shared data

#3990 fix(shared-data): fix tipOverlap value for P20 tiprack
  shared-data/labware/definitions/2/opentrons_96_tiprack_20ul/1.json
Labels: easyfix, labware

#3995 ci(travis): Pipe stylelint to tee in CI to paper over stdout problems
  Makefile
Labels: chore, ready for review

#3999 feat(protocol-designer): output minified json
  protocol-designer/src/components/FileSidebar/FileSidebar.js
Labels: easyfix, protocol designer, ready for review

#3988 feat(labware-creator): add images to well shape fields
  labware-library/src/images/circularWell.svg
  labware-library/src/images/rectangularWell.svg
  labware-library/src/images/wellShapeFlat.svg
  labware-library/src/images/wellShapeU.svg
  labware-library/src/images/wellShapeV.svg
  labware-library/src/labware-creator/components/HeightGuidingText.js
  labware-library/src/labware-creator/components/RadioField.js
  labware-library/src/labware-creator/components/optionsWithImages/index.js
  labware-library/src/labware-creator/components/optionsWithImages/optionsWithImages.css
  labware-library/src/labware-creator/index.js
Labels: labware, ready for review

#3993 fix(docs): Fix OT 1 API link and PDF link
  api/Makefile
  api/docs/source/conf.py
  api/docs/source/templates/toc-with-nav-force-no-hidden.html
  api/docs/source/templates/toc-with-nav-force-show-hidden.html
Labels: chore, docs, ready for review

#4008 chore(api): fix outdated .PHONY targets in API Makefile
  api/Makefile
Labels: api, chore, ready for review

#4001 fix(api): fix tip probing not fully self-centering
  api/src/opentrons/util/calibration_functions.py
Labels: api, fix, ready for review

#4003 refactor(api): clean up TC context naming and behavior
  api/src/opentrons/commands/commands.py
  api/src/opentrons/commands/types.py
  api/src/opentrons/drivers/thermocycler/driver.py
  api/src/opentrons/hardware_control/modules/thermocycler.py
  api/src/opentrons/protocol_api/contexts.py
  api/tests/opentrons/protocol_api/test_module_context.py
Labels: api, feature, ready for review, refactor

#4006 fix(api): remove protocol file size limit and ack immediately
  api/src/opentrons/server/rpc.py
  api/tests/opentrons/server/test_server.py
  app/src/robot/api-client/index.js
  app/src/rpc/client.js
Labels: api, app, fix, rpc

#3906 feat(shared-data): add NEST conical tuberacks
  labware-library/src/components/labware-ui/labware-images.js
  labware-library/src/images/nest_15ml_conical_tube.jpg
  labware-library/src/images/nest_50ml_15ml_conical_tubes.jpg
  labware-library/src/images/nest_50ml_conical_tube.jpg
  shared-data/labware/definitions/2/opentrons_10_tuberack_nest_4x50ml_6x15ml_conical/1.json
  shared-data/labware/definitions/2/opentrons_15_tuberack_nest_15ml_conical/1.json
  shared-data/labware/definitions/2/opentrons_6_tuberack_nest_50ml_conical/1.json
Labels: feature, labware, shared data

#4013 refactor(labware-creator): Add missing hidden class
  labware-library/src/labware-creator/components/optionsWithImages/optionsWithImages.css
  labware-library/src/labware-creator/styles.css
Labels: labware, ready for review, refactor

#4014 chore(repo): update shared-data from LC side-branch
  labware-library/src/components/LabwareList/__tests__/__snapshots__/LabwareList.test.js.snap
  protocol-designer/src/step-generation/test-with-flow/__snapshots__/fixtureGeneration.test.js.snap
  shared-data/js/labwareTools/__tests__/createDefaultDisplayName.test.js
  shared-data/js/labwareTools/index.js
  shared-data/labware/fixtures/2/fixture_12_trough.json
  shared-data/labware/fixtures/2/fixture_96_plate.json
Labels: chore, ready for review

#4016 feat(labware-creator): do not use imported loadName/displayName values
  labware-library/src/labware-creator/__tests__/__snapshots__/labwareDefToFields.test.js.snap
  labware-library/src/labware-creator/__tests__/labwareDefToFields.test.js
  labware-library/src/labware-creator/__tests__/loadAndSaveIntegration.test.js
  labware-library/src/labware-creator/labwareDefToFields.js
Labels: labware, ready for review, small

#4019 chore(repo): pull in updates from edge that fix intermittent CI css-lint failure
  .travis.yml
  Makefile
Labels: chore, ready for review

#4018 refactor(app): remove thermocycler feature flag
  app/src/components/ModuleLiveStatusCards/TempDeckCard.js
  app/src/components/ModuleLiveStatusCards/ThermocyclerCard.js
  app/src/components/ModuleLiveStatusCards/index.js
  app/src/config/index.js
  app/src/config/types.js
  app/src/robot-api/resources/modules.js
  app/src/robot/selectors.js
  app/src/robot/test/selectors.test.js
Labels: app, ready for review, refactor

#4020 feat(labware-creator): separate create vs upload fields; scroll upon upload
  labware-library/src/labware-creator/index.js
  labware-library/src/labware-creator/styles.css
Labels: labware, ready for review

#4011 fix(app-shell): Update Electron and add macOS app notarization
  .travis.yml
  app-shell/Makefile
  app-shell/electron-builder.config.js
  app-shell/electron-builder.json
  app-shell/package.json
  app-shell/scripts/after-sign.js
  app-shell/src/main.js
  app-shell/src/menu.js
  appveyor.yml
  package.json
  yarn.lock
Labels: app, fix, ready for review

#4028 feat(labware-creator): default well shape & bottom field values
  labware-library/src/labware-creator/fields.js
  labware-library/src/labware-creator/index.js
Labels: labware, ready for review, small

#4026 refactor(labware-creator): Implement UX feedback
  labware-library/src/labware-creator/components/importLabware.css
  labware-library/src/labware-creator/styles.css
Labels: labware, ready for review, refactor, small

#4037 refactor(labware-creator): Update labware test guide link
  labware-library/src/labware-creator/index.js
Labels: labware, ready for review, refactor, small

#4039 fix(api): fix format string in module slot assertion
  api/src/opentrons/protocol_api/geometry.py
Labels: api, easyfix, ready for review

#4036 refactor(shared-data): remove ref to full plate in tc name
  shared-data/module/definitions/1.json
Labels: ready for review, refactor, shared data

#4041 refactor(api): Change log readout default to text for reability
  api/src/opentrons/server/endpoints/logs.py
Labels: api, chore, ready for review

#4042 feat(api): apiv1: load magdeck engage height from labware definitions
  api/src/opentrons/legacy_api/containers/__init__.py
  api/src/opentrons/legacy_api/containers/placeable.py
  api/src/opentrons/legacy_api/modules/magdeck.py
  api/tests/opentrons/labware/test_modules.py
Labels: feature, papi v1, ready for review

#4052 refactor(api): increase default log record count to 500k
  api/src/opentrons/server/endpoints/logs.py
Labels: api, refactor

#4040 fix(api): Fix usage of return tip height v1
  api/src/opentrons/legacy_api/api.py
Labels: api, chore, ready for review

#4027 feat(api): replace format with quirks for rectangular well behavior
  api/src/opentrons/legacy_api/containers/__init__.py
  api/src/opentrons/legacy_api/robot/robot.py
  api/tests/opentrons/api/test_session.py
  api/tests/opentrons/containers/test_containers.py
  api/tests/opentrons/integration/test_protocol.py
  api/tests/opentrons/robot/test_robot.py
  api/tests/opentrons/server/test_server.py
  shared-data/labware/definitions/2/opentrons_1_trash_1100ml_fixed/1.json
  shared-data/labware/definitions/2/opentrons_1_trash_850ml_fixed/1.json
Labels: api, feature, ready for review

#4051 docs(contributing): Fix order of steps and details in release process doc
  CONTRIBUTING.md
  lerna.json
Labels: chore, ready for review

#3994 fix(app): Disable run start button if missing modules
  app/src/components/CalibratePanel/LabwareListItem.js
  app/src/components/ConnectModules/index.js
  app/src/components/DeckMap/index.js
  app/src/components/FileInfo/ProtocolModulesCard.js
  app/src/components/InstrumentSettings/AttachedModulesCard.js
  app/src/components/InstrumentSettings/index.js
  app/src/components/ModuleLiveStatusCards/index.js
  app/src/components/PrepareModules/index.js
  app/src/components/RunPanel/RunControls.js
  app/src/components/RunPanel/index.js
  app/src/components/calibrate-pipettes/styles.css
  app/src/robot-api/resources/modules.js
  components/src/hooks/useInterval.js
  components/src/nav/SidePanel.css
Labels: app, fix, ready for review

#4059 ci(travis): add format check to CI lint job
  .travis.yml
  Makefile
  app-shell/src/buildroot/index.js
  app/src/components/ModuleLiveStatusCards/ThermocyclerCard.js
  components/src/deck/Deck.js
  components/src/deck/LabwareRender.js
  components/src/deck/LabwareRender.md
  labware-library/src/labware-creator/labwareFormSchema.js
  package.json
  protocol-designer/src/components/LabwareSelectionModal/LabwarePreview.js
  protocol-designer/src/components/StepEditForm/fields/ChangeTip/index.js
  protocol-designer/src/components/labware/SingleLabware.js
  protocol-designer/src/file-data/selectors/commands.js
  protocol-designer/src/step-forms/reducers/index.js
  protocol-designer/src/step-forms/selectors/index.js
  protocol-designer/src/step-forms/utils.js
  protocol-designer/src/step-generation/commandCreators/compound/transfer.js
  protocol-designer/src/step-generation/getNextRobotStateAndWarnings/index.js
  protocol-designer/src/steplist/formLevel/handleFormChange/utils.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/moveLiquidFormToArgs.js
  protocol-designer/src/steplist/generateSubsteps.js
  protocol-designer/src/steplist/substepTimeline.js
  protocol-designer/src/top-selectors/well-contents/index.js
  protocol-designer/src/ui/steps/selectors.js
  shared-data/js/helpers/getWellNamePerMultiTip.js
  shared-data/js/helpers/getWellTotalVolume.js
  shared-data/pipette/definitions/pipetteModelSpecs.json
  yarn.lock
Labels: chore, ready for review

#4058 refactor(update-server): preserve machine ID
  update-server/Makefile
  update-server/buildroot_upload.py
  update-server/otupdate/buildroot/file_actions.py
  update-server/otupdate/buildroot/update.py
  update-server/tests/buildroot/test_file_actions.py
Labels: ready for review, refactor, robot-os, update server

#3996 feat(components, app): add custom pipette select with category support
  CONTRIBUTING.md
  app/src/components/ChangePipette/Instructions.js
  app/src/components/ChangePipette/PipetteSelection.js
  app/src/components/ChangePipette/index.js
  app/src/components/ChangePipette/types.js
  components/src/index.js
  components/src/instrument/InfoItem.js
  components/src/instrument/InfoItem.md
  components/src/instrument/InstrumentDiagram.js
  components/src/instrument/InstrumentDiagram.md
  components/src/instrument/InstrumentGroup.js
  components/src/instrument/InstrumentGroup.md
  components/src/instrument/InstrumentInfo.js
  components/src/instrument/PipetteSelect.css
  components/src/instrument/PipetteSelect.js
  components/src/instrument/PipetteSelect.md
  components/src/instrument/index.js
  components/src/instrument/instrument.css
  components/src/instrument/pipetteGEN2Multi.png
  components/src/instrument/pipetteGEN2Single.png
  components/src/instrument/pipetteMulti.png
  components/src/instrument/pipetteSingle.png
  components/styleguide.config.js
  shared-data/js/types.js
Labels: app, components, feature, ready for review

#4074 docs(contributing): Fix changelog instructions sublist
  CONTRIBUTING.md
Labels: chore, ready for review

#4079 fix(protocol-designer): fix tip position bug with zero
  protocol-designer/src/components/StepEditForm/fields/TipPosition/TipPositionModal.js
Labels: fix, protocol designer

#4063 fix(api): apiv2: allow pipette name or model in cache_instruments
  api/src/opentrons/config/pipette_config.py
  api/src/opentrons/hardware_control/simulator.py
  api/tests/opentrons/hardware_control/test_instruments.py
Labels: api, fix, papi v2

#4068 feat(api): apiv2: improve accessors for loaded lw/mods/instrs
  api/src/opentrons/protocol_api/contexts.py
  api/tests/opentrons/protocol_api/test_context.py
Labels: api, feature, papi v2

#4073 refactor(api): clamp tc lid temp to 37 thru 110
  api/src/opentrons/drivers/thermocycler/driver.py
Labels: api, ready for review, refactor

#4077 feat(protocol-designer): disallow standard labware def upload
  protocol-designer/src/components/modals/LabwareUploadMessageModal/LabwareUploadMessageModal.js
  protocol-designer/src/labware-defs/actions.js
  protocol-designer/src/labware-defs/types.js
  protocol-designer/src/localization/en/modal.json
Labels: protocol designer, ready for review

#4080 fix(protocol-designer): show form error state in StepItems
  protocol-designer/src/containers/ConnectedStepItem.js
Labels: fix, protocol designer, ready for review

#4070 feat(protocol-designer): avoid use of labware "format"
  protocol-designer/src/components/labware/SelectableLabware.js
  protocol-designer/src/labware-defs/actions.js
  protocol-designer/src/steplist/formLevel/errors.js
  protocol-designer/src/steplist/formLevel/handleFormChange/utils.js
  protocol-designer/src/top-selectors/substep-highlight.js
  protocol-designer/src/top-selectors/tip-contents/index.js
  protocol-designer/src/ui/labware/selectors.js
  protocol-designer/src/utils/index.js
  protocol-designer/src/well-selection/test/utils.test.js
  protocol-designer/src/well-selection/utils.js
  shared-data/js/helpers/__tests__/wellSets.test.js
  shared-data/js/helpers/canPipetteUseLabware.js
  shared-data/js/helpers/index.js
  shared-data/js/helpers/wellSets.js
Labels: protocol designer, ready for review

#4086 chore(protocol-designer): bump to 3.0.4
  protocol-designer/webpack.config.js
Labels: chore, protocol designer, ready for review

#4084 fix(app,labware-library): Upgrade to react-router 5 and fix imports
  app/package.json
  app/src/components/App.js
  app/src/components/AppSettings/AdvancedSettingsCard.js
  app/src/components/CalibrateDeck/index.js
  app/src/components/CalibrateDeck/types.js
  app/src/components/CalibrateLabware/index.js
  app/src/components/CalibratePanel/LabwareList.js
  app/src/components/CalibratePanel/PipetteList.js
  app/src/components/CalibratePanel/TipRackList.js
  app/src/components/ChangePipette/InstructionStep.js
  app/src/components/ChangePipette/index.js
  app/src/components/ChangePipette/types.js
  app/src/components/ConnectPanel/RobotItem.js
  app/src/components/DeckMap/index.js
  app/src/components/LostConnectionAlert/ModalCopy.js
  app/src/components/LostConnectionAlert/index.js
  app/src/components/nav-bar/NavButton.js
  app/src/pages/Calibrate/Labware.js
  app/src/pages/Calibrate/Pipettes.js
  app/src/pages/Calibrate/index.js
  app/src/pages/More/AppSettings.js
  app/src/pages/More/index.js
  app/src/pages/Robots/InstrumentSettings.js
  app/src/pages/Robots/RobotSettings.js
  app/src/pages/Robots/index.js
  app/src/pages/Run.js
  app/src/pages/SidePanel.js
  app/src/pages/Upload/index.js
  components/package.json
  components/src/__tests__/lists.test.js
  components/src/__tests__/structure.test.js
  flow-typed/npm/react-router-dom_v5.x.x.js
  flow-typed/npm/react-router_v4.x.x.js
  labware-library/package.json
  yarn.lock
Labels: app, fix, labware, ready for review

#4083 build(js,css): add browserslist spec and update JS and CSS toolchains
  .browserslistrc
  app/package.json
  app/src/components/AppSettings/AddManualIp/styles.css
  app/src/components/ConnectModules/styles.css
  app/src/components/DeckMap/styles.css
  app/src/components/ModuleControls/styles.css
  app/src/components/PrepareModules/styles.css
  app/src/components/ReviewDeck/styles.css
  babel.config.js
  components/src/buttons/buttons.css
  components/src/deck/LabwareNameOverlay.css
  components/src/deck/Well.css
  components/src/deck/labwareRender.css
  components/src/forms/SelectField.css
  components/src/forms/forms.css
  components/src/instrument/PipetteSelect.css
  components/src/lists/lists.css
  components/src/styles/colors.css
  discovery-client/package.json
  discovery-client/src/service-list.js
  labware-library/package.json
  labware-library/src/components/Nav/styles.css
  labware-library/src/components/Sidebar/styles.css
  labware-library/src/components/ui/styles.css
  package.json
  protocol-designer/package.json
  protocol-designer/src/components/DeckSetup/LabwareOverlays/LabwareOverlays.css
  protocol-designer/src/components/steplist/StepItem.css
  webpack-config/lib/rules.js
  yarn.lock
Labels: app, feature, labware, protocol designer, ready for review

#4076 fix(api): apiv2: pass correct locations for mix in TransferPlan
  api/src/opentrons/protocol_api/transfers.py
  api/tests/opentrons/protocol_api/test_transfers.py
Labels: fix, papi v2, ready for review

#4032 feat(api): Explicit cmdline and jupyter entrypoints
  api/Makefile
  api/docs/source/v2/apiv2index.rst
  api/docs/source/v2/new_advanced_running.rst
  api/docs/source/v2/new_protocol_api.rst
  api/pytest.ini
  api/setup.py
  api/src/opentrons/__init__.py
  api/src/opentrons/api/session.py
  api/src/opentrons/execute.py
  api/src/opentrons/legacy_api/protocols/__init__.py
  api/src/opentrons/legacy_api/protocols/execute_v1.py
  api/src/opentrons/legacy_api/protocols/execute_v3.py
  api/src/opentrons/protocol_api/__init__.py
  api/src/opentrons/protocol_api/execute.py
  api/src/opentrons/protocols/__init__.py
  api/src/opentrons/protocols/parse.py
  api/src/opentrons/protocols/types.py
  api/src/opentrons/protocols/util.py
  api/src/opentrons/simulate.py
  api/tests/opentrons/__init__.py
  api/tests/opentrons/api/test_session.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/data/testosaur.py
  api/tests/opentrons/data/testosaur_v2.py
  api/tests/opentrons/legacy_protocols/__init__.py
  api/tests/opentrons/legacy_protocols/test_execute_v1.py
  api/tests/opentrons/legacy_protocols/test_execute_v3.py
  api/tests/opentrons/protocol_api/data/v1_json_dispatch.json
  api/tests/opentrons/protocol_api/data/v3_json_dispatch.json
  api/tests/opentrons/protocol_api/test_execute.py
  api/tests/opentrons/protocol_api/test_execute_v1.py
  api/tests/opentrons/protocol_api/test_execute_v3.py
  api/tests/opentrons/protocols/test_parse.py
  shared-data/protocol/fixtures/1/simple.json
  shared-data/protocol/fixtures/3/simple.json
Labels: api, feature

#4094 fix(api): Expand infer_version_from_metadata to catch more
  api/src/opentrons/protocols/parse.py
  api/tests/opentrons/protocols/test_parse.py
Labels: api, fix

#4023 refactor(api): Remove hc imports
  api/src/opentrons/__init__.py
  api/src/opentrons/drivers/smoothie_drivers/__init__.py
  api/src/opentrons/hardware_control/__init__.py
  api/src/opentrons/main.py
  api/src/opentrons/server/__init__.py
  api/src/opentrons/tools/__init__.py
  api/src/opentrons/tools/factory_test.py
  api/src/opentrons/tools/gantry_test.py
  api/src/opentrons/tools/overnight_test.py
  api/src/opentrons/tools/write_pipette_memory.py
  api/src/opentrons/tools/z_stage_test.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/server/test_control_endpoints.py
  api/tests/opentrons/server/test_health_endpoints.py
  api/tests/opentrons/server/test_update_endpoints.py
  api/tests/opentrons/tools/test_qc_scripts.py
Labels: api, ready for review

#4029 docs(api): Add more details on thermocycler docs
  api/docs/source/img/modules/deactivate_tc.png
  api/docs/source/img/modules/set_target.png
  api/docs/source/v2/new_modules.rst
  api/docs/source/v2/new_protocol_api.rst
Labels: api, docs, ready for review

#4095 refactor(api): add robot singleton emulation framework
  api/src/opentrons/protocol_api/legacy_wrapper/__init__.py
  api/src/opentrons/protocol_api/legacy_wrapper/containers_wrapper.py
  api/src/opentrons/protocol_api/legacy_wrapper/instrument_wrapper.py
  api/src/opentrons/protocol_api/legacy_wrapper/modules_wrapper.py
  api/src/opentrons/protocol_api/legacy_wrapper/robot_wrapper.py
  api/src/opentrons/protocol_api/legacy_wrapper/util.py
Labels: api, chore, papi v2

#4088 build(node): upgrade dev setup to Node v12
  .nvmrc
  .travis.yml
  CONTRIBUTING.md
  appveyor.yml
  components/README.md
  package.json
  yarn.lock
Labels: chore, ready for review

#4105 build(webpack): Fix webpack lockfile dependencies breaking app dev
  package.json
  yarn.lock
Labels: chore, ready for review

#4112 fix(api): dont parse the smoothie response to update_pipette_config
  api/src/opentrons/drivers/smoothie_drivers/driver_3_0.py
Labels: api, fix

#4100 docs(api): Document placeable positioning methods
  api/docs/source/v1/api.rst
  api/docs/source/v1/examples.rst
  api/src/opentrons/legacy_api/containers/placeable.py
Labels: api, docs, papi v1

#4107 fix(api): apiv2: allow transfer with uneven sources and targets
  api/src/opentrons/protocol_api/transfers.py
  api/tests/opentrons/protocol_api/test_transfers.py
Labels: api, fix, papi v2, ready for review

#4099 feat(api): implement bundle execution
  api/src/opentrons/api/session.py
  api/src/opentrons/execute.py
  api/src/opentrons/protocol_api/contexts.py
  api/src/opentrons/protocol_api/execute.py
  api/src/opentrons/protocol_api/labware.py
  api/src/opentrons/protocols/parse.py
  api/src/opentrons/protocols/types.py
  api/tests/opentrons/api/test_session.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/integration/test_api.py
  api/tests/opentrons/protocol_api/test_context.py
  api/tests/opentrons/protocols/fixtures/bundled_protocols/missing_labware_bundle/protocol.py
  api/tests/opentrons/protocols/fixtures/bundled_protocols/simple_bundle/custom_labware.json
  api/tests/opentrons/protocols/fixtures/bundled_protocols/simple_bundle/data.txt
  api/tests/opentrons/protocols/fixtures/bundled_protocols/simple_bundle/protocol.py
  api/tests/opentrons/protocols/test_parse.py
  app/src/protocol/__tests__/actions.test.js
  app/src/protocol/index.js
  app/src/protocol/protocol-data.js
  app/src/protocol/types.js
  app/src/robot/api-client/client.js
Labels: api, app, ready for review

#4119 fix(api): Fix miscellaneous bugs in deck CLI
  api/src/opentrons/deck_calibration/dc_main.py
  api/src/opentrons/legacy_api/robot/robot.py
Labels: api, fix, ready for review

#4106 fix(api): apiv2: Separate tip overlap per pipette
  api/src/opentrons/api/calibration.py
  api/src/opentrons/config/pipette_config.py
  api/src/opentrons/hardware_control/__init__.py
  api/src/opentrons/hardware_control/pipette.py
  api/src/opentrons/protocol_api/contexts.py
  api/src/opentrons/protocol_api/labware.py
  api/tests/opentrons/api/test_calibration.py
  api/tests/opentrons/hardware_control/test_instruments.py
  api/tests/opentrons/hardware_control/test_pipette.py
  api/tests/opentrons/protocol_api/test_context.py
  api/tests/opentrons/protocol_api/test_labware.py
  shared-data/js/__tests__/__snapshots__/pipettes.test.js.snap
  shared-data/pipette/definitions/pipetteModelSpecs.json
  shared-data/pipette/schemas/pipetteModelSpecsSchema.json
Labels: api, fix, papi v2

#4121 fix(api): Force the permanent mac address for wifi connections
  api/src/opentrons/system/nmcli.py
Labels: api, robot-os

#4126 fix(api): apiv1: cli-dc: fix tip pickup with left mount
  api/src/opentrons/deck_calibration/dc_main.py
Labels: api, fix, papi v1

#4124 feat(app): add restart robot button
  app/src/components/RobotSettings/ControlsCard.js
Labels: app, ready for review
