Repository Opentrons/opentrons, pull requests merged in 2019-05, with the labels that each got.

#3367 feat(api): Detect and change behavior for buildroot system
  api/Makefile
  api/opentrons-api-server.service
  api/src/opentrons/config/__init__.py
  api/src/opentrons/deck_calibration/dc_main.py
  api/src/opentrons/main.py
  api/src/opentrons/server/endpoints/__init__.py
  api/src/opentrons/server/endpoints/logs.py
  api/src/opentrons/server/endpoints/settings.py
  api/src/opentrons/server/http.py
  api/src/opentrons/system/nmcli.py
  api/src/opentrons/util/logging_config.py
  api/tests/opentrons/server/test_health_endpoints.py
  api/tests/opentrons/server/test_settings_endpoints.py
  api/tests/opentrons/system/test_nmcli.py
  update-server/otupdate/buildroot/__main__.py
Labels: api, ready for review

#3394 feat(api): Add pipette v2.0 config
  api/tests/opentrons/config/test_pipette_config.py
  shared-data/robot-data/pipetteModelSpecs.json
  shared-data/robot-data/pipetteNameSpecs.json
Labels: api, ready for review

#3405 feat(api): Add pipette+ to write_pipette_memory
  api/src/opentrons/tools/write_pipette_memory.py
Labels: api, feature, small

#3407 feat(api): add pipette plus constructors
  api/src/opentrons/legacy_api/api.py
  api/tests/opentrons/config/test_pipette_config.py
  api/tests/opentrons/labware/test_pipette_constructors.py
  shared-data/robot-data/pipetteModelSpecs.json
Labels: api, feature

#3388 feat(api): Add G Code for pipette config in driver
  api/src/opentrons/config/robot_configs.py
  api/src/opentrons/drivers/smoothie_drivers/__init__.py
  api/src/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/src/opentrons/hardware_control/__init__.py
  api/src/opentrons/hardware_control/simulator.py
  api/src/opentrons/legacy_api/instruments/pipette.py
  api/src/opentrons/legacy_api/robot/mover.py
  api/src/opentrons/legacy_api/robot/robot.py
  api/src/opentrons/resources/scripts/start.sh
  api/src/opentrons/resources/smoothie-edge-6168d32.hex
  api/src/opentrons/resources/smoothie-edge-8414642.hex
  api/src/opentrons/tools/write_pipette_memory.py
  api/tests/opentrons/config/test_robots_config.py
  api/tests/opentrons/drivers/test_driver.py
  api/tests/opentrons/hardware_control/test_pipette.py
  app/src/discovery/__tests__/selectors.test.js
  app/src/discovery/selectors.js
Labels: api, ready for review

#3385 feat(shared-data): add layers to deck schema and definitions
  shared-data/js/scripts/generateDeckLayersFromSVG.js
  shared-data/robot-data/decks/ot2ShortTrash.json
  shared-data/robot-data/decks/ot2Standard.json
  shared-data/robot-data/schemas/deckSchema.json
Labels: feature, shared data

#3390 fix(protocol-designer): update document title to reflect project status
  protocol-designer/package.json
Labels: easyfix, protocol designer, ready for review

#3412 docs(api): Add images and definitions for 10ul tip racks
  api/docs/source/img/labware_lib/geb_10ul_tips.png
  api/docs/source/img/labware_lib/opentrons_10ul_tips.png
  api/docs/source/labware.rst
Labels: chore, ready for review

#3411 refactor(labware-library): Add navbar style fixes
  labware-library/src/components/website-navigation/Logo.js
  labware-library/src/components/website-navigation/NavLink.js
  labware-library/src/components/website-navigation/NavMenu.js
  labware-library/src/components/website-navigation/ProtocolMenu.js
  labware-library/src/components/website-navigation/SubdomainNav.js
  labware-library/src/components/website-navigation/__tests__/__snapshots__/Logo.test.js.snap
  labware-library/src/components/website-navigation/__tests__/__snapshots__/SubdomainNav.test.js.snap
  labware-library/src/components/website-navigation/nav-data.js
  labware-library/src/components/website-navigation/styles.css
Labels: labware, ready for review

#3415 feat(shared-data): deck component from physical data
  .eslintrc.js
  __mocks__/setup-mock-globals.js
  components/src/deck/Deck.js
  components/src/deck/RobotWorkSpace.css
  components/src/deck/RobotWorkSpace.js
  components/src/deck/RobotWorkSpace.md
  components/src/deck/__mocks__/getDeckDefinitions.js
  components/src/deck/getDeckDefinitions.js
  components/src/deck/index.js
  jest.config.js
  labware-library/src/__mocks__/definitions.js
  protocol-designer/src/labware-defs/__mocks__/utils.js
  protocol-designer/src/step-forms/selectors/index.js
  scripts/setup-global-mocks.js
  shared-data/js/__tests__/definition2-schema.test.js
  shared-data/js/__tests__/fixtures/decks/deckExample.json
  shared-data/js/__tests__/fixtures/labware2/irregularLabwareExample1.json
  shared-data/js/__tests__/fixtures/labware2/labwareExample.json
  shared-data/js/__tests__/fixtures/labware2/labwareExample2.json
  shared-data/js/labwareTools/__tests__/createIrregularLabware.test.js
  shared-data/js/labwareTools/__tests__/createLabware.test.js
  shared-data/js/types.js
  shared-data/robot-data/decks/ot2_short_trash.json
  shared-data/robot-data/decks/ot2_standard.json
  shared-data/robot-data/schemas/deckSchema.json
Labels: components, shared data

#3417 refactor(protocol-designer): refactor labware and deck components for clarity
  app/src/components/DeckMap/LabwareItem.js
  components/src/deck/ContainerNameOverlay.js
  components/src/deck/EmptyDeckSlot.js
  components/src/deck/LabwareWrapper.css
  components/src/deck/LabwareWrapper.js
  components/src/deck/Module.js
  components/src/deck/index.js
  components/src/index.js
  protocol-designer/src/components/DeckSetup/DeckSetup.css
  protocol-designer/src/components/DeckSetup/DeckSetup.js
  protocol-designer/src/components/DeckSetup/index.js
  protocol-designer/src/components/labware/LabwareOnDeck.js
  protocol-designer/src/components/labware/LabwareOnDeck/DragPreviewLayer.js
  protocol-designer/src/components/labware/LabwareOnDeck/LabwareOnDeck.js
  protocol-designer/src/components/labware/LabwareOnDeck/constants.js
  protocol-designer/src/components/labware/LabwareOnDeck/index.js
  protocol-designer/src/components/labware/labware.css
  protocol-designer/src/containers/ConnectedDeckSetup.js
  protocol-designer/src/containers/ConnectedMainPanel.js
Labels: protocol designer, ready for review

#3416 feat(update-server): buildroot: use sd-notify and better hostname
  update-server/opentrons-update-server.service
  update-server/otupdate/buildroot/__main__.py
  update-server/otupdate/buildroot/name_management.py
  update-server/tests/buildroot/test_update.py
Labels: feature, update server

#3419 docs(api): Update contributing guide
  CONTRIBUTING.md
Labels: api, chore, docs, ready for review

#3408 feat(components): dynamic props for Labware component
  components/src/deck/LabwareRender.js
  components/src/deck/LabwareRender.md
  components/src/deck/RobotCoordsText.js
  components/src/deck/SlotView.css
  components/src/deck/SlotView.js
  components/src/deck/index.js
  components/src/deck/labwareInternals/FilledWells.js
  components/src/deck/labwareInternals/StaticLabware.js
  components/src/deck/labwareInternals/StyledWells.js
  components/src/deck/labwareInternals/Well.css
  components/src/deck/labwareInternals/Well.js
  components/src/deck/labwareInternals/WellLabels.js
  components/src/deck/labwareInternals/index.js
  components/src/deck/labwareInternals/staticLabware.css
  components/src/deck/labwareInternals/wellLabels.css
  components/src/deck/labwareRender.css
  labware-library/src/components/LabwareList/LabwareGallery.js
  labware-library/src/components/LabwareRender/index.js
Labels: components, ready for review

#3424 refactor(api): change logs in mover to be less verbose
  api/src/opentrons/legacy_api/robot/mover.py
Labels: api, refactor

#3420 docs(api): Update docs navigation
  api/docs/source/static/Akko-Pro-All.js
  api/docs/source/static/nav.css
  api/docs/source/static/new-nav.css
  api/docs/source/static/override_sphinx.css
  api/docs/source/templates/layout.html
Labels: api, docs, ready for review

#3410 feat(repo): change v2 labware len/width fields
  api/src/opentrons/legacy_api/containers/__init__.py
  api/src/opentrons/protocol_api/labware.py
  api/tests/opentrons/protocol_api/data/custom_trough_def.json
  api/tests/opentrons/protocol_api/test_accessor_fn.py
  api/tests/opentrons/protocol_api/test_execute_v3.py
  api/tests/opentrons/protocol_api/test_geometry.py
  api/tests/opentrons/protocol_api/test_labware.py
  api/tests/opentrons/protocol_api/test_offsets.py
  components/src/deck/index.js
  components/src/deck/labwareInternals/Well.js
  components/src/deck/labwareInternals/WellLabels.js
  labware-designer/README.md
  labware-library/src/components/LabwareDetails/Dimensions.js
  labware-library/src/components/LabwareDetails/WellDimensions.js
  labware-library/src/components/LabwareList/LabwareCard.js
  labware-library/src/components/LabwareList/LabwareGallery.js
  labware-library/src/components/LabwareList/__tests__/__snapshots__/LabwareList.test.js.snap
  protocol-designer/src/step-generation/test-with-flow/__snapshots__/fixtureGeneration.test.js.snap
  shared-data/definitions2/biorad_96_wellplate_pcr_200_ul.json
  shared-data/definitions2/corning_12_wellplate_6.9_ml_flat.json
  shared-data/definitions2/corning_24_wellplate_3.4_ml_flat.json
  shared-data/definitions2/corning_384_wellplate_112_ul.json
  shared-data/definitions2/corning_48_wellplate_1.6_ml.json
  shared-data/definitions2/corning_6_wellplate_16.8_ml.json
  shared-data/definitions2/eppendorf_96_tiprack_1000_ul.json
  shared-data/definitions2/eppendorf_96_tiprack_10_ul.json
  shared-data/definitions2/geb_96_tiprack_10_ul.json
  shared-data/definitions2/generic_96_wellplate_380_ul.json
  shared-data/definitions2/opentrons_15_tuberack_falcon_15_ml.json
  shared-data/definitions2/opentrons_1_trash_0.85_l.json
  shared-data/definitions2/opentrons_1_trash_1.1_l.json
  shared-data/definitions2/opentrons_24_aluminum_tuberack_2_ml.json
  shared-data/definitions2/opentrons_24_tuberack_1.5_ml_eppendorf.json
  shared-data/definitions2/opentrons_24_tuberack_2_ml_eppendorf.json
  shared-data/definitions2/opentrons_24_tuberack_2_ml_screwcap.json
  shared-data/definitions2/opentrons_6_tuberack_falcon_50_ml.json
  shared-data/definitions2/opentrons_6x15_ml_4x50_ml_tuberack.json
  shared-data/definitions2/opentrons_96_aluminum_biorad_wellplate_200_ul.json
  shared-data/definitions2/opentrons_96_aluminum_tuberack_200_ul.json
  shared-data/definitions2/opentrons_96_tiprack_1000_ul.json
  shared-data/definitions2/opentrons_96_tiprack_10_ul.json
  shared-data/definitions2/opentrons_96_tiprack_300_ul.json
  shared-data/definitions2/usa_scientific_12_trough_22_ml.json
  shared-data/fixtures/fixture12Trough.json
  shared-data/fixtures/fixture24TubeRack.json
  shared-data/fixtures/fixture384Plate.json
  shared-data/fixtures/fixture96Plate.json
  shared-data/fixtures/fixtureTipRack1000Ul.json
  shared-data/fixtures/fixtureTipRack10Ul.json
  shared-data/fixtures/fixtureTipRack300Ul.json
  shared-data/fixtures/fixtureTrash.json
  shared-data/js/__tests__/fixtures/labware2/irregularLabwareExample1.json
  shared-data/js/__tests__/fixtures/labware2/labwareExample.json
  shared-data/js/__tests__/fixtures/labware2/labwareExample2.json
  shared-data/js/helpers/computeWellAccess.js
  shared-data/js/labwareTools/__tests__/createIrregularLabware.test.js
  shared-data/js/labwareTools/index.js
  shared-data/js/types.js
  shared-data/labware-json-schema/labwareSchemaV2.json
Labels: api, labware, ready for review

#3425 refactor(api): Remove unused splitLabwareDef feature flag
  api/src/opentrons/config/advanced_settings.py
  api/tests/opentrons/config/test_advanced_settings_migration.py
Labels: api, chore, ready for review

#3427 refactor(protocol-designer): clean up labware / deck components
  components/src/deck/LabwareRender.md
  components/src/deck/RobotCoordsForeignDiv.js
  components/src/deck/RobotWorkSpace.css
  components/src/deck/RobotWorkSpace.js
  components/src/deck/RobotWorkSpace.md
  components/src/deck/SlotView.css
  components/src/deck/SlotView.js
  components/src/deck/index.js
  components/src/deck/labwareInternals/StaticLabware.js
  components/src/robot-types.js
  labware-library/src/components/LabwareList/LabwareGallery.js
  shared-data/js/types.js
Labels: components, protocol designer, ready for review

#3426 chore(js): upgrade React to 16.8.6
  .eslintrc.js
  app/package.json
  components/package.json
  labware-library/package.json
  package.json
  protocol-designer/package.json
  protocol-library-kludge/package.json
  yarn.lock
Labels: app, chore, components, protocol designer, ready for review

#3428 fix(api): Remove really slow logging
  api/src/opentrons/legacy_api/robot/mover.py
Labels: api, fix

#3435 fix(api): Don't talk about apiv2 if you can't find a labware
  api/src/opentrons/legacy_api/api.py
Labels: api, fix, small

#3429 refactor(labware-library): Match navbar styles with design
  labware-library/src/components/website-navigation/SupportMobileContent.js
  labware-library/src/components/website-navigation/styles.css
  labware-library/src/styles.global.css
Labels: labware, ready for review, refactor

#3413 fix(app): Allow valid pipette+ model names for display images
  app/src/components/InstrumentSettings/InstrumentInfo.js
Labels: app, ready for review

#3438 feat(api): Add backwards compatibility to old pipette constructors
  api/src/opentrons/legacy_api/api.py
  api/tests/opentrons/labware/test_pipette_constructors.py
Labels: api

#3440 refactor(labware-library): Implement GTM tracking in navbar
  labware-library/src/components/website-navigation/Logo.js
  labware-library/src/components/website-navigation/MobileContent.js
  labware-library/src/components/website-navigation/NavLink.js
  labware-library/src/components/website-navigation/NavMenu.js
  labware-library/src/components/website-navigation/SubdomainNav.js
  labware-library/src/components/website-navigation/__tests__/NavLink.test.js
  labware-library/src/components/website-navigation/__tests__/__snapshots__/Logo.test.js.snap
  labware-library/src/components/website-navigation/__tests__/__snapshots__/NavLink.test.js.snap
  labware-library/src/components/website-navigation/__tests__/__snapshots__/SubdomainNav.test.js.snap
  labware-library/src/components/website-navigation/nav-data.js
  labware-library/src/components/website-navigation/types.js
  labware-library/src/index.hbs
Labels: feature, labware, ready for review

#3452 refactor(app): Add a feature flag to hide pipette+ options
  app/src/components/ChangePipette/Instructions.js
  app/src/components/ChangePipette/PipetteSelection.js
  app/src/components/ChangePipette/index.js
  app/src/components/ChangePipette/types.js
  app/src/config/index.js
Labels: app, chore, ready for review

#3458 fix(app): Verify attached/protocol pipettes
  app/src/components/FileInfo/ProtocolPipettesCard.js
  app/src/components/calibrate-pipettes/Pipettes.js
Labels: app, bug, fix, ready for review

#3453 refactor(app): Move /settings endpoints to redux-observable
  app/src/analytics/selectors.js
  app/src/components/ConfigurePipette/ConfigForm.js
  app/src/components/ConfigurePipette/index.js
  app/src/components/InstrumentSettings/AttachedPipettesCard.js
  app/src/components/RobotSettings/AdvancedSettingsCard.js
  app/src/http-api-client/__tests__/settings.test.js
  app/src/http-api-client/index.js
  app/src/http-api-client/reducer.js
  app/src/http-api-client/settings.js
  app/src/pages/Calibrate/Labware.js
  app/src/robot-api/README.md
  app/src/robot-api/http.js
  app/src/robot-api/reducer.js
  app/src/robot-api/resources/index.js
  app/src/robot-api/resources/modules.js
  app/src/robot-api/resources/settings.js
  app/src/robot-api/resources/types.js
  app/src/robot-api/types.js
  app/src/robot-api/utils.js
  app/src/types.js
Labels: app, ready for review, refactor

#3460 refactor(labware): Remove unnecessary information from labware cards
  labware-library/src/components/App/styles.css
  labware-library/src/components/LabwareDetails/Stats.js
  labware-library/src/components/LabwareList/LabwareCard.js
  labware-library/src/components/LabwareList/LoadName.js
  labware-library/src/components/LabwareList/styles.css
  labware-library/src/components/Nav/styles.css
  labware-library/src/components/website-navigation/styles.css
  labware-library/src/localization/en.js
  labware-library/src/styles/breakpoints.css
  labware-library/webpack.config.js
  webpack-config/lib/base-config.js
Labels: labware, ready for review, refactor

#3436 feat(api): buildroot: allow separate setting of upstream log level
  api/src/opentrons/server/endpoints/logs.py
  api/src/opentrons/server/http.py
  api/tests/opentrons/server/test_settings_endpoints.py
Labels: api, feature

#3437 fix(api): Handle smoothie update better
  api/src/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/src/opentrons/legacy_api/robot/robot.py
  api/src/opentrons/main.py
  api/src/opentrons/system/nmcli.py
Labels: api, fix, small

#3459 refactor(api): Normalize our use of name and model internally
  api/src/opentrons/api/models.py
  api/src/opentrons/api/session.py
  api/src/opentrons/config/pipette_config.py
  api/src/opentrons/deck_calibration/endpoints.py
  api/src/opentrons/hardware_control/__init__.py
  api/src/opentrons/hardware_control/adapters.py
  api/src/opentrons/hardware_control/pipette.py
  api/src/opentrons/legacy_api/api.py
  api/src/opentrons/legacy_api/instruments/pipette.py
  api/src/opentrons/legacy_api/robot/robot.py
  api/src/opentrons/protocol_api/contexts.py
  api/src/opentrons/server/endpoints/control.py
  api/src/opentrons/util/calibration_functions.py
  api/tests/opentrons/hardware_control/test_instruments.py
  api/tests/opentrons/labware/test_pipette_constructors.py
  api/tests/opentrons/protocol_api/test_context.py
  api/tests/opentrons/server/test_calibration_endpoints.py
  api/tests/opentrons/server/test_control_endpoints.py
  api/tests/opentrons/server/test_settings_endpoints.py
Labels: api, fix, medium, refactor

#3456 style(js): use recommended "rules of hooks" lint rules
  .eslintrc.js
  package.json
  yarn.lock
Labels: chore, ready for review

#3439 feat(protocol-designer): labware selection from definitions
  components/src/interaction-enhancers/ClickOutside.js
  protocol-designer/src/components/LabwareSelectionModal/LabwareItem.js
  protocol-designer/src/components/LabwareSelectionModal/LabwarePreview.js
  protocol-designer/src/components/LabwareSelectionModal/LabwareSelectionModal.js
  protocol-designer/src/components/LabwareSelectionModal/styles.css
  protocol-designer/src/images/labware/index.js
  protocol-designer/src/localization/en/modal.json
Labels: feature, protocol designer, ready for review

#3448 feat(protocol-designer): make "labware views" use new v2 labware components
  components/src/deck/LabwareRender.js
  components/src/deck/index.js
  components/src/deck/labwareInternals/StaticLabware.js
  components/src/deck/labwareInternals/StyledWells.js
  components/src/deck/labwareInternals/Well.js
  components/src/deck/labwareInternals/types.js
  components/src/deck/labwareRender.css
  protocol-designer/src/components/HighlightableLabware.js
  protocol-designer/src/components/LiquidPlacementForm/index.js
  protocol-designer/src/components/LiquidPlacementModal.css
  protocol-designer/src/components/LiquidPlacementModal.js
  protocol-designer/src/components/SelectionRect.css
  protocol-designer/src/components/SelectionRect.js
  protocol-designer/src/components/SingleLabware.css
  protocol-designer/src/components/SingleLabware.js
  protocol-designer/src/components/StepEditForm/fields/WellSelection/WellSelectionModal.js
  protocol-designer/src/components/labware/BrowsableLabware.js
  protocol-designer/src/components/labware/BrowseLabwareModal.js
  protocol-designer/src/components/labware/SelectableLabware.js
  protocol-designer/src/components/labware/SingleLabware.js
  protocol-designer/src/components/labware/WellTooltip.js
  protocol-designer/src/components/labware/index.js
  protocol-designer/src/components/labware/utils.js
  protocol-designer/src/components/modals/FilePipettesModal/TiprackDiagram.js
  protocol-designer/src/constants.js
  protocol-designer/src/containers/HighlightableLabware.js
  protocol-designer/src/labware-ingred/types.js
  protocol-designer/src/step-generation/utils.js
  protocol-designer/src/top-selectors/substep-highlight.js
  protocol-designer/src/top-selectors/well-contents/__tests__/getSelectedWellsCommonValues.test.js
  protocol-designer/src/top-selectors/well-contents/getWellContentsAllLabware.js
  protocol-designer/src/top-selectors/well-contents/index.js
  protocol-designer/src/utils/index.js
  protocol-designer/src/well-selection/actions.js
  protocol-designer/src/well-selection/reducers.js
  protocol-designer/src/well-selection/selectors.js
  protocol-designer/src/well-selection/test/utils.test.js
  protocol-designer/src/well-selection/utils.js
  shared-data/js/__tests__/computeWellAccess.test.js
  shared-data/js/__tests__/getWellNamePerMultiTip.test.js
  shared-data/js/getLabware.js
  shared-data/js/helpers/computeWellAccess.js
  shared-data/js/helpers/getWellNamePerMultiTip.js
  shared-data/js/helpers/index.js
Labels: protocol designer, ready for review

#3467 refactor(update-server): Allow vairable test execution times
  update-server/tests/buildroot/test_update.py
Labels: fix, update server

#3466 feat(api): Allow loading labware v2 definitions directly into apiv1
  api/src/opentrons/legacy_api/containers/__init__.py
  api/src/opentrons/legacy_api/robot/robot.py
Labels: api, feature

#3463 feat(api): Make pipette quirks configurable
  api/src/opentrons/config/pipette_config.py
  api/src/opentrons/hardware_control/__init__.py
  api/src/opentrons/legacy_api/instruments/pipette.py
  api/tests/opentrons/config/test_pipette_config.py
  shared-data/js/__tests__/__snapshots__/pipettes.test.js.snap
  shared-data/robot-data/pipetteModelSpecs.json
  shared-data/robot-data/schemas/pipetteModelSpecsSchema.json
Labels: api, ready for review

#3469 feat(shared-data): add version, schemaVersion, and namespace keys to v2 labware
  labware-designer/README.md
  labware-library/src/components/LabwareList/__tests__/__snapshots__/LabwareList.test.js.snap
  protocol-designer/src/step-generation/test-with-flow/__snapshots__/fixtureGeneration.test.js.snap
  shared-data/definitions2/biorad_96_wellplate_pcr_200_ul.json
  shared-data/definitions2/corning_12_wellplate_6.9_ml_flat.json
  shared-data/definitions2/corning_24_wellplate_3.4_ml_flat.json
  shared-data/definitions2/corning_384_wellplate_112_ul.json
  shared-data/definitions2/corning_48_wellplate_1.6_ml.json
  shared-data/definitions2/corning_6_wellplate_16.8_ml.json
  shared-data/definitions2/eppendorf_96_tiprack_1000_ul.json
  shared-data/definitions2/eppendorf_96_tiprack_10_ul.json
  shared-data/definitions2/geb_96_tiprack_10_ul.json
  shared-data/definitions2/generic_96_wellplate_380_ul.json
  shared-data/definitions2/opentrons_15_tuberack_falcon_15_ml.json
  shared-data/definitions2/opentrons_1_trash_0.85_l.json
  shared-data/definitions2/opentrons_1_trash_1.1_l.json
  shared-data/definitions2/opentrons_24_aluminum_tuberack_2_ml.json
  shared-data/definitions2/opentrons_24_tuberack_1.5_ml_eppendorf.json
  shared-data/definitions2/opentrons_24_tuberack_2_ml_eppendorf.json
  shared-data/definitions2/opentrons_24_tuberack_2_ml_screwcap.json
  shared-data/definitions2/opentrons_6_tuberack_falcon_50_ml.json
  shared-data/definitions2/opentrons_6x15_ml_4x50_ml_tuberack.json
  shared-data/definitions2/opentrons_96_aluminum_biorad_wellplate_200_ul.json
  shared-data/definitions2/opentrons_96_aluminum_tuberack_200_ul.json
  shared-data/definitions2/opentrons_96_tiprack_1000_ul.json
  shared-data/definitions2/opentrons_96_tiprack_10_ul.json
  shared-data/definitions2/opentrons_96_tiprack_300_ul.json
  shared-data/definitions2/usa_scientific_12_trough_22_ml.json
  shared-data/fixtures/fixture12Trough.json
  shared-data/fixtures/fixture24TubeRack.json
  shared-data/fixtures/fixture384Plate.json
  shared-data/fixtures/fixture96Plate.json
  shared-data/fixtures/fixtureTipRack1000Ul.json
  shared-data/fixtures/fixtureTipRack10Ul.json
  shared-data/fixtures/fixtureTipRack300Ul.json
  shared-data/fixtures/fixtureTrash.json
  shared-data/js/__tests__/fixtures/labware2/irregularLabwareExample1.json
  shared-data/js/__tests__/fixtures/labware2/labwareExample.json
  shared-data/js/__tests__/fixtures/labware2/labwareExample2.json
  shared-data/js/labwareTools/__tests__/createIrregularLabware.test.js
  shared-data/js/labwareTools/__tests__/createLabware.test.js
  shared-data/js/labwareTools/index.js
  shared-data/js/types.js
  shared-data/labware-json-schema/labwareSchemaV2.json
Labels: labware, ready for review, small

#3475 fix(app): Re-enable change pipette and pipette settings
  app/src/components/ChangePipette/index.js
  app/src/components/InstrumentSettings/AttachedPipettesCard.js
  app/src/components/InstrumentSettings/InstrumentInfo.js
Labels: app, bug, fix, ready for review

#3478 refactor(labware-library): Re-implement individual labware page
  labware-library/src/components/App/Page.js
  labware-library/src/components/App/__tests__/Page.test.js
  labware-library/src/components/App/__tests__/__snapshots__/App.test.js.snap
  labware-library/src/components/App/__tests__/__snapshots__/Page.test.js.snap
  labware-library/src/components/App/index.js
  labware-library/src/components/App/styles.css
  labware-library/src/components/LabwareDetails/Dimensions.js
  labware-library/src/components/LabwareDetails/InsertDetails.js
  labware-library/src/components/LabwareDetails/LabwareDetailsBox.js
  labware-library/src/components/LabwareDetails/LabwareTitle.js
  labware-library/src/components/LabwareDetails/Stats.js
  labware-library/src/components/LabwareDetails/WellDimensions.js
  labware-library/src/components/LabwareDetails/WellSpacing.js
  labware-library/src/components/LabwareDetails/index.js
  labware-library/src/components/LabwareDetails/styles.css
  labware-library/src/components/LabwareList/LabwareCard.js
  labware-library/src/components/LabwareList/LabwareGallery.js
  labware-library/src/components/LabwareList/Tags.js
  labware-library/src/components/LabwareList/index.js
  labware-library/src/components/LabwareList/styles.css
  labware-library/src/components/Nav/Breadcrumbs.js
  labware-library/src/components/Nav/styles.css
  labware-library/src/components/Sidebar/FilterCategory.js
  labware-library/src/components/Sidebar/FilterManufacturer.js
  labware-library/src/components/Sidebar/index.js
  labware-library/src/components/Sidebar/styles.css
  labware-library/src/components/labware-ui/Gallery.js
  labware-library/src/components/labware-ui/LoadName.js
  labware-library/src/components/labware-ui/ManufacturerStats.js
  labware-library/src/components/labware-ui/Tags.js
  labware-library/src/components/labware-ui/WellCount.js
  labware-library/src/components/labware-ui/WellProperties.js
  labware-library/src/components/labware-ui/index.js
  labware-library/src/components/labware-ui/styles.css
  labware-library/src/components/ui/ClickableIcon.js
  labware-library/src/components/ui/DetailsBox.js
  labware-library/src/components/ui/LabelText.js
  labware-library/src/components/ui/LabeledValueTable.js
  labware-library/src/components/ui/LowercaseText.js
  labware-library/src/components/ui/Table.js
  labware-library/src/components/ui/Value.js
  labware-library/src/components/ui/index.js
  labware-library/src/components/ui/styles.css
  labware-library/src/components/website-navigation/MenuButton.js
  labware-library/src/components/website-navigation/styles.css
  labware-library/src/definitions.js
  labware-library/src/localization/en.js
  labware-library/src/localization/index.js
  labware-library/src/types.js
Labels: labware, ready for review, refactor

#3470 feat(api): apiv2: allow returning tips to the tip tracker
  api/src/opentrons/protocol_api/contexts.py
  api/src/opentrons/protocol_api/labware.py
  api/tests/opentrons/protocol_api/test_context.py
  api/tests/opentrons/protocol_api/test_labware.py
  api/tests/opentrons/protocol_api/test_transfers.py
Labels: api, feature

#3480 feat(shared-data) Add Last Standard Defs
  api/docs/source/labware.rst
  api/src/opentrons/config/containers/default-containers.json
  shared-data/definitions2/geb_96_tiprack_1000_ul.json
  shared-data/definitions2/geb_96_tiprack_200_ul.json
  shared-data/definitions2/generic_24_tuberack_0.75_ml.json
  shared-data/definitions2/generic_24_tuberack_2_ml_eppendorf.json
  shared-data/definitions2/generic_6x15_ml_4x50_ml_tuberack.json
  shared-data/definitions2/generic_96_pcr_wellplate_300_ul.json
  shared-data/definitions2/opentrons_8x0.2_ml_24x2_ml_8x0.2_ml_tuberack.json
  shared-data/definitions2/opentrons_96_tiprack_1000_ul.json
  shared-data/definitions2/usa_scientific_96_wellplate_2.4_ml.json
Labels: ready for review, shared data

#3486 fix(api): Fix default transfer tip behavior
  api/src/opentrons/legacy_api/instruments/pipette.py
  api/src/opentrons/protocol_api/contexts.py
  api/tests/opentrons/protocol_api/test_context.py
Labels: bug, chore, fix, ready for review

#3485 feat(api): Enable Double Drop Quirk
  api/src/opentrons/config/pipette_config.py
  api/src/opentrons/hardware_control/__init__.py
  api/src/opentrons/legacy_api/instruments/pipette.py
  api/src/opentrons/server/endpoints/settings.py
  api/tests/opentrons/config/test_pipette_config.py
  shared-data/js/__tests__/__snapshots__/pipettes.test.js.snap
  shared-data/robot-data/pipetteModelSpecs.json
Labels: api, ready for review

#3468 feat(api): support running v3 protocols in APIv1
  api/src/opentrons/protocols/__init__.py
  api/src/opentrons/protocols/execute_v1.py
  api/src/opentrons/protocols/execute_v3.py
  api/tests/opentrons/protocols/test_execute_v1.py
  api/tests/opentrons/protocols/test_execute_v3.py
Labels: api, ready for review

#3496 chore(release): 3.9.0-alpha.0
  CHANGELOG.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/build/release-notes.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore, ready for review

#3499 fix(api): Add separate key for new steps per mm shape
  api/src/opentrons/config/robot_configs.py
  api/src/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/src/opentrons/hardware_control/__init__.py
  api/src/opentrons/legacy_api/robot/robot.py
  api/tests/opentrons/config/test_robots_config.py
  api/tests/opentrons/drivers/test_driver.py
Labels: api, bug, fix

#3490 refactor(shared-data): Add well groups with metadata to definitions2
  labware-library/src/components/LabwareList/__tests__/__snapshots__/LabwareList.test.js.snap
  protocol-designer/src/step-generation/test-with-flow/__snapshots__/fixtureGeneration.test.js.snap
  shared-data/definitions2/biorad_96_wellplate_200ul_pcr.json
  shared-data/definitions2/corning_12_wellplate_6.9ml_flat.json
  shared-data/definitions2/corning_24_wellplate_3.4ml_flat.json
  shared-data/definitions2/corning_384_wellplate_112ul_flat.json
  shared-data/definitions2/corning_48_wellplate_1.6ml_flat.json
  shared-data/definitions2/corning_6_wellplate_16.8ml_flat.json
  shared-data/definitions2/eppendorf_96_tiprack_1000ul_eptips.json
  shared-data/definitions2/eppendorf_96_tiprack_10ul_eptips.json
  shared-data/definitions2/geb_96_tiprack_1000ul.json
  shared-data/definitions2/geb_96_tiprack_10ul.json
  shared-data/definitions2/generic_96_wellplate_300ul_pcr.json
  shared-data/definitions2/generic_96_wellplate_340ul_flat.json
  shared-data/definitions2/opentrons_10_tuberack_falcon_4x50ml_6x15ml_conical.json
  shared-data/definitions2/opentrons_10_tuberack_falcon_4x50ml_6x15ml_conical_acrylic.json
  shared-data/definitions2/opentrons_15_tuberack_falcon_15ml_conical.json
  shared-data/definitions2/opentrons_1_trash_1100ml_fixed.json
  shared-data/definitions2/opentrons_1_trash_850ml_fixed.json
  shared-data/definitions2/opentrons_24_aluminumblock_generic_2ml_screwcap.json
  shared-data/definitions2/opentrons_24_tuberack_eppendorf_1.5ml_safelock_snapcap.json
  shared-data/definitions2/opentrons_24_tuberack_eppendorf_2ml_safelock_snapcap.json
  shared-data/definitions2/opentrons_24_tuberack_eppendorf_2ml_safelock_snapcap_acrylic.json
  shared-data/definitions2/opentrons_24_tuberack_generic_0.75ml_snapcap_acrylic.json
  shared-data/definitions2/opentrons_24_tuberack_generic_2ml_screwcap.json
  shared-data/definitions2/opentrons_40_aluminumblock_eppendorf_24x2ml_safelock_snapcap_generic_16x0.2ml_pcr_strip.json
  shared-data/definitions2/opentrons_6_tuberack_falcon_50ml_conical.json
  shared-data/definitions2/opentrons_96_aluminumblock_biorad_wellplate_200ul.json
  shared-data/definitions2/opentrons_96_aluminumblock_generic_pcr_strip_200ul.json
  shared-data/definitions2/opentrons_96_tiprack_1000ul.json
  shared-data/definitions2/opentrons_96_tiprack_10ul.json
  shared-data/definitions2/opentrons_96_tiprack_300ul.json
  shared-data/definitions2/tipone_96_tiprack_200ul.json
  shared-data/definitions2/usascientific_12_reservoir_22ml.json
  shared-data/definitions2/usascientific_96_wellplate_2.4ml_deep.json
  shared-data/fixtures/fixture12Trough.json
  shared-data/fixtures/fixture24TubeRack.json
  shared-data/fixtures/fixture384Plate.json
  shared-data/fixtures/fixture96Plate.json
  shared-data/fixtures/fixtureTipRack1000Ul.json
  shared-data/fixtures/fixtureTipRack10Ul.json
  shared-data/fixtures/fixtureTipRack300Ul.json
  shared-data/fixtures/fixtureTrash.json
  shared-data/js/__tests__/fixtures/labware2/irregularLabwareExample1.json
  shared-data/js/__tests__/fixtures/labware2/labwareExample.json
  shared-data/js/__tests__/fixtures/labware2/labwareExample2.json
  shared-data/js/labwareTools/index.js
  shared-data/js/types.js
  shared-data/labware-json-schema/labwareSchemaV2.json
Labels: ready for review, refactor, shared data

#3464 chore(labware-library): Fix GTM config from env var
  labware-library/src/index.hbs
  labware-library/webpack.config.js
Labels: chore, labware, ready for review

#3495 fix(api): Account for tip length in deck cal move-to-front
  api/src/opentrons/deck_calibration/endpoints.py
Labels: api, fix, small

#3497 refactor(labware-library): Add well bottom shape and display name to UI
  components/src/__tests__/__snapshots__/icons.test.js.snap
  components/src/icons/icon-data.js
  labware-library/src/components/App/Page.js
  labware-library/src/components/App/__tests__/Page.test.js
  labware-library/src/components/App/__tests__/__snapshots__/App.test.js.snap
  labware-library/src/components/App/index.js
  labware-library/src/components/LabwareDetails/InsertDetails.js
  labware-library/src/components/LabwareDetails/LabwareDetailsBox.js
  labware-library/src/components/LabwareDetails/WellDimensions.js
  labware-library/src/components/LabwareDetails/WellSpacing.js
  labware-library/src/components/LabwareList/LabwareCard.js
  labware-library/src/components/LabwareList/styles.css
  labware-library/src/components/labware-ui/WellProperties.js
  labware-library/src/components/labware-ui/styles.css
  labware-library/src/definitions.js
  labware-library/src/localization/en.js
  labware-library/src/types.js
  shared-data/definitions2/opentrons_24_tuberack_generic_2ml_screwcap.json
  shared-data/js/types.js
  shared-data/labware-json-schema/labwareSchemaV2.json
Labels: labware, ready for review, refactor

#3487 feat(api): save labware under namespace/load_name/version
  api/setup.py
  api/src/opentrons/config/__init__.py
  api/src/opentrons/legacy_api/containers/__init__.py
  api/src/opentrons/protocol_api/contexts.py
  api/src/opentrons/protocol_api/labware.py
  api/src/opentrons/server/endpoints/settings.py
  api/tests/opentrons/protocol_api/test_context.py
  api/tests/opentrons/protocol_api/test_geometry.py
  api/tests/opentrons/protocol_api/test_labware.py
  api/tests/opentrons/protocol_api/test_labware_load.py
  scripts/migrateLabwareDefs2019-05-23.sh
  shared-data/labware-json-schema/labwareSchemaV2.json
  shared-data/labware/definitions/2/biorad_96_wellplate_200ul_pcr/1.json
  shared-data/labware/definitions/2/corning_12_wellplate_6.9ml_flat/1.json
  shared-data/labware/definitions/2/corning_24_wellplate_3.4ml_flat/1.json
  shared-data/labware/definitions/2/corning_384_wellplate_112ul_flat/1.json
  shared-data/labware/definitions/2/corning_48_wellplate_1.6ml_flat/1.json
  shared-data/labware/definitions/2/corning_6_wellplate_16.8ml_flat/1.json
  shared-data/labware/definitions/2/eppendorf_96_tiprack_1000ul_eptips/1.json
  shared-data/labware/definitions/2/eppendorf_96_tiprack_10ul_eptips/1.json
  shared-data/labware/definitions/2/geb_96_tiprack_1000ul/1.json
  shared-data/labware/definitions/2/geb_96_tiprack_10ul/1.json
  shared-data/labware/definitions/2/generic_96_wellplate_300ul_pcr/1.json
  shared-data/labware/definitions/2/generic_96_wellplate_340ul_flat/1.json
  shared-data/labware/definitions/2/opentrons_10_tuberack_falcon_4x50ml_6x15ml_conical/1.json
  shared-data/labware/definitions/2/opentrons_10_tuberack_falcon_4x50ml_6x15ml_conical_acrylic/1.json
  shared-data/labware/definitions/2/opentrons_15_tuberack_falcon_15ml_conical/1.json
  shared-data/labware/definitions/2/opentrons_1_trash_1100ml_fixed/1.json
  shared-data/labware/definitions/2/opentrons_1_trash_850ml_fixed/1.json
  shared-data/labware/definitions/2/opentrons_24_aluminumblock_generic_2ml_screwcap/1.json
  shared-data/labware/definitions/2/opentrons_24_tuberack_eppendorf_1.5ml_safelock_snapcap/1.json
  shared-data/labware/definitions/2/opentrons_24_tuberack_eppendorf_2ml_safelock_snapcap/1.json
  shared-data/labware/definitions/2/opentrons_24_tuberack_eppendorf_2ml_safelock_snapcap_acrylic/1.json
  shared-data/labware/definitions/2/opentrons_24_tuberack_generic_0.75ml_snapcap_acrylic/1.json
  shared-data/labware/definitions/2/opentrons_24_tuberack_generic_2ml_screwcap/1.json
  shared-data/labware/definitions/2/opentrons_40_aluminumblock_eppendorf_24x2ml_safelock_snapcap_generic_16x0.2ml_pcr_strip/1.json
  shared-data/labware/definitions/2/opentrons_6_tuberack_falcon_50ml_conical/1.json
  shared-data/labware/definitions/2/opentrons_96_aluminumblock_biorad_wellplate_200ul/1.json
  shared-data/labware/definitions/2/opentrons_96_aluminumblock_generic_pcr_strip_200ul/1.json
  shared-data/labware/definitions/2/opentrons_96_tiprack_1000ul/1.json
  shared-data/labware/definitions/2/opentrons_96_tiprack_10ul/1.json
  shared-data/labware/definitions/2/opentrons_96_tiprack_300ul/1.json
  shared-data/labware/definitions/2/tipone_96_tiprack_200ul/1.json
  shared-data/labware/definitions/2/usascientific_12_reservoir_22ml/1.json
  shared-data/labware/definitions/2/usascientific_96_wellplate_2.4ml_deep/1.json
Labels: api, labware, ready for review

#3502 refactor(labware-library): Rename troughs to reservoirs and add al. block cat.
  labware-library/src/components/LabwareDetails/Dimensions.js
  labware-library/src/components/LabwareDetails/InsertDetails.js
  labware-library/src/components/LabwareDetails/LabwareDetailsBox.js
  labware-library/src/components/LabwareDetails/WellDimensions.js
  labware-library/src/components/LabwareDetails/WellSpacing.js
  labware-library/src/components/LabwareList/LabwareCard.js
  labware-library/src/components/Sidebar/FilterCategory.js
  labware-library/src/components/labware-ui/WellCount.js
  labware-library/src/components/labware-ui/WellProperties.js
  labware-library/src/components/labware-ui/index.js
  labware-library/src/components/labware-ui/labels.js
  labware-library/src/localization/en.js
  protocol-designer/src/components/LabwareSelectionModal/LabwareSelectionModal.js
  protocol-designer/src/step-generation/test-with-flow/__snapshots__/fixtureGeneration.test.js.snap
  shared-data/definitions2/opentrons_24_aluminumblock_generic_2ml_screwcap.json
  shared-data/definitions2/opentrons_40_aluminumblock_eppendorf_24x2ml_safelock_snapcap_generic_16x0.2ml_pcr_strip.json
  shared-data/definitions2/opentrons_96_aluminumblock_biorad_wellplate_200ul.json
  shared-data/definitions2/opentrons_96_aluminumblock_generic_pcr_strip_200ul.json
  shared-data/definitions2/usascientific_12_reservoir_22ml.json
  shared-data/fixtures/fixture12Trough.json
  shared-data/js/types.js
  shared-data/labware-json-schema/labwareSchemaV2.json
Labels: labware, protocol designer, ready for review, refactor, shared data

#3505 refactor(labware-library): Add labware/tube brand info to UI and filters
  components/src/__tests__/__snapshots__/icons.test.js.snap
  components/src/icons/icon-data.js
  labware-library/src/components/LabwareList/LabwareCard.js
  labware-library/src/components/LabwareList/index.js
  labware-library/src/components/Nav/styles.css
  labware-library/src/components/Sidebar/FilterManufacturer.js
  labware-library/src/components/labware-ui/ManufacturerStats.js
  labware-library/src/components/labware-ui/styles.css
  labware-library/src/components/ui/ExternalLink.js
  labware-library/src/components/ui/index.js
  labware-library/src/components/ui/styles.css
  labware-library/src/definitions.js
  labware-library/src/filters.js
  labware-library/src/localization/en.js
  labware-library/src/types.js
Labels: labware, ready for review, refactor

#3479 feat(protocol-designer): use RobotWorkSpace for deck map
  components/interfaces/DeckSlot.js
  components/src/deck/Deck.js
  components/src/deck/LabwareNameOverlay.css
  components/src/deck/LabwareNameOverlay.js
  components/src/deck/RobotCoordsForeignDiv.js
  components/src/deck/index.js
  components/src/interaction-enhancers/index.js
  components/src/interaction-enhancers/useOnClickOutside.js
  components/src/robot-types.js
  protocol-designer/src/components/DeckSetup/DeckSetup.css
  protocol-designer/src/components/DeckSetup/DeckSetup.js
  protocol-designer/src/components/DeckSetup/LabwareOverlays/BrowseLabware.js
  protocol-designer/src/components/DeckSetup/LabwareOverlays/EditLabware.js
  protocol-designer/src/components/DeckSetup/LabwareOverlays/LabwareControls.js
  protocol-designer/src/components/DeckSetup/LabwareOverlays/LabwareName.js
  protocol-designer/src/components/DeckSetup/LabwareOverlays/LabwareOverlays.css
  protocol-designer/src/components/DeckSetup/LabwareOverlays/NameThisLabware.js
  protocol-designer/src/components/DeckSetup/LabwareOverlays/SlotControls.js
  protocol-designer/src/components/DeckSetup/LabwareOverlays/index.js
  protocol-designer/src/components/DeckSetup/index.js
  protocol-designer/src/components/LabwareSelectionModal/LabwareSelectionModal.js
  protocol-designer/src/components/LabwareSelectionModal/styles.css
  protocol-designer/src/components/labware/LabwareOnDeck/DragPreviewLayer.js
  protocol-designer/src/components/labware/LabwareOnDeck/LabwareOnDeck.js
  protocol-designer/src/components/labware/LabwareOnDeck/index.js
  protocol-designer/src/components/labware/NameThisLabwareOverlay.js
  protocol-designer/src/components/labware/index.js
  protocol-designer/src/labware-defs/selectors.js
  protocol-designer/src/labware-defs/utils.js
  protocol-designer/src/labware-ingred/actions/actions.js
  protocol-designer/src/labware-ingred/reducers/index.js
  protocol-designer/src/labware-ingred/utils.js
  protocol-designer/src/localization/en/deck.json
  protocol-designer/src/step-forms/selectors/index.js
  protocol-designer/src/step-forms/types.js
  protocol-designer/src/step-forms/utils.js
  protocol-library-kludge/src/URLDeck.js
  shared-data/js/types.js
  shared-data/protocol-json-schema/jsonProtocolTypeV1.js
Labels: components, feature, protocol designer, ready for review

#3506 refactor(labware-library): Add static labware images
  labware-library/src/components/App/index.js
  labware-library/src/components/labware-ui/Gallery.js
  labware-library/src/components/labware-ui/labware-images.js
  labware-library/src/components/labware-ui/styles.css
  labware-library/src/images/biorad_96_wellplate_200ul_pcr_photo_three_quarters.jpg
  labware-library/src/images/corning_12_wellplate_6.9ml_flat_photo_three_quarters.jpg
  labware-library/src/images/corning_24_wellplate_3.4ml_flat_photo_three_quarters.jpg
  labware-library/src/images/corning_384_wellplate_112ul_flat_photo_three_quarters.jpg
  labware-library/src/images/corning_48_wellplate_1.6ml_flat_photo_three_quarters.jpg
  labware-library/src/images/corning_6_wellplate_16.8ml_flat_photo_three_quarters.jpg
  labware-library/src/images/eppendorf_1.5ml_safelock_snapcap_tube.jpg
  labware-library/src/images/eppendorf_1000ul_tip_eptips_side_view.jpg
  labware-library/src/images/eppendorf_10ul_tips_eptips_side_view.jpg
  labware-library/src/images/eppendorf_2ml_safelock_snapcap_tube.jpg
  labware-library/src/images/falcon_15ml_conical_tube.jpg
  labware-library/src/images/falcon_50ml_15ml_conical_tubes.jpg
  labware-library/src/images/falcon_50ml_conical_tube.jpg
  labware-library/src/images/geb_1000ul_tip_side_view.jpg
  labware-library/src/images/geb_10ul_tip_side_view.jpg
  labware-library/src/images/geb_96_tiprack_1000ul_side_view.jpg
  labware-library/src/images/geb_96_tiprack_10ul_side_view.jpg
  labware-library/src/images/generic_2ml_screwcap_tube.jpg
  labware-library/src/images/generic_pcr_strip_200ul_tubes.jpg
  labware-library/src/images/opentrons_10_tuberack_4_6_side_view.jpg
  labware-library/src/images/opentrons_15_tuberack_side_view.jpg
  labware-library/src/images/opentrons_24_aluminumblock_side_view.jpg
  labware-library/src/images/opentrons_24_tuberack_side_view.jpg
  labware-library/src/images/opentrons_6_tuberack_side_view.jpg
  labware-library/src/images/opentrons_96_aluminumblock_side_view.jpg
  labware-library/src/images/opentrons_96_tiprack_1000ul_side_view.jpg
  labware-library/src/images/opentrons_96_tiprack_10ul_side_view.jpg
  labware-library/src/images/opentrons_96_tiprack_300ul_side_view.jpg
  labware-library/src/images/tipone_200ul_tip_side_view.jpg
  labware-library/src/images/tipone_96_tiprack_200ul_side_view.jpg
  labware-library/src/images/usascientific_12_reservoir_22ml_side_view.jpg
  labware-library/src/images/usascientific_96_wellplate_2.4ml_deep_side_view.jpg
Labels: labware, ready for review, refactor

#3507 refactor(labware-library): Implement QOL fixes from UX review
  components/src/styles/typography.css
  labware-library/src/components/App/__tests__/__snapshots__/App.test.js.snap
  labware-library/src/components/App/index.js
  labware-library/src/components/LabwareDetails/InsertDetails.js
  labware-library/src/components/LabwareDetails/LabwareDetailsBox.js
  labware-library/src/components/LabwareDetails/WellDimensions.js
  labware-library/src/components/LabwareDetails/WellSpacing.js
  labware-library/src/components/LabwareList/LabwareCard.js
  labware-library/src/components/Nav/Breadcrumbs.js
  labware-library/src/components/Sidebar/index.js
  labware-library/src/components/labware-ui/ManufacturerStats.js
  labware-library/src/components/labware-ui/labels.js
  labware-library/src/components/labware-ui/styles.css
  labware-library/src/components/ui/LabeledValueTable.js
  labware-library/src/components/ui/Link.js
  labware-library/src/components/ui/index.js
  labware-library/src/components/ui/styles.css
  labware-library/src/components/website-navigation/styles.css
  labware-library/src/definitions.js
  labware-library/src/filters.js
  labware-library/src/localization/en.js
  labware-library/src/styles/breakpoints.css
  labware-library/src/styles/spacing.css
  labware-library/webpack.config.js
Labels: labware, ready for review, refactor

#3498 feat(api): reference calibration data via hash of labware def
  api/src/opentrons/legacy_api/containers/__init__.py
  api/src/opentrons/protocol_api/contexts.py
  api/src/opentrons/protocol_api/execute_v3.py
  api/src/opentrons/protocol_api/labware.py
  api/tests/opentrons/protocol_api/test_context.py
  api/tests/opentrons/protocol_api/test_geometry.py
  api/tests/opentrons/protocol_api/test_labware.py
  api/tests/opentrons/protocol_api/test_labware_load.py
  api/tests/opentrons/protocol_api/test_offsets.py
  shared-data/labware/definitions/2/biorad_96_wellplate_200ul_pcr/1.json
  shared-data/labware/definitions/2/corning_12_wellplate_6.9ml_flat/1.json
  shared-data/labware/definitions/2/corning_24_wellplate_3.4ml_flat/1.json
  shared-data/labware/definitions/2/corning_384_wellplate_112ul_flat/1.json
  shared-data/labware/definitions/2/corning_48_wellplate_1.6ml_flat/1.json
  shared-data/labware/definitions/2/corning_6_wellplate_16.8ml_flat/1.json
  shared-data/labware/definitions/2/eppendorf_96_tiprack_1000ul_eptips/1.json
  shared-data/labware/definitions/2/eppendorf_96_tiprack_10ul_eptips/1.json
  shared-data/labware/definitions/2/geb_96_tiprack_1000ul/1.json
  shared-data/labware/definitions/2/geb_96_tiprack_10ul/1.json
  shared-data/labware/definitions/2/generic_96_wellplate_300ul_pcr/1.json
  shared-data/labware/definitions/2/generic_96_wellplate_340ul_flat/1.json
  shared-data/labware/definitions/2/opentrons_10_tuberack_falcon_4x50ml_6x15ml_conical/1.json
  shared-data/labware/definitions/2/opentrons_10_tuberack_falcon_4x50ml_6x15ml_conical_acrylic/1.json
  shared-data/labware/definitions/2/opentrons_15_tuberack_falcon_15ml_conical/1.json
  shared-data/labware/definitions/2/opentrons_1_trash_1100ml_fixed/1.json
  shared-data/labware/definitions/2/opentrons_1_trash_850ml_fixed/1.json
  shared-data/labware/definitions/2/opentrons_24_aluminumblock_generic_2ml_screwcap/1.json
  shared-data/labware/definitions/2/opentrons_24_tuberack_eppendorf_1.5ml_safelock_snapcap/1.json
  shared-data/labware/definitions/2/opentrons_24_tuberack_eppendorf_2ml_safelock_snapcap/1.json
  shared-data/labware/definitions/2/opentrons_24_tuberack_eppendorf_2ml_safelock_snapcap_acrylic/1.json
  shared-data/labware/definitions/2/opentrons_24_tuberack_generic_0.75ml_snapcap_acrylic/1.json
  shared-data/labware/definitions/2/opentrons_24_tuberack_generic_2ml_screwcap/1.json
  shared-data/labware/definitions/2/opentrons_40_aluminumblock_eppendorf_24x2ml_safelock_snapcap_generic_16x0.2ml_pcr_strip/1.json
  shared-data/labware/definitions/2/opentrons_6_tuberack_falcon_50ml_conical/1.json
  shared-data/labware/definitions/2/opentrons_96_aluminumblock_biorad_wellplate_200ul/1.json
  shared-data/labware/definitions/2/opentrons_96_aluminumblock_generic_pcr_strip_200ul/1.json
  shared-data/labware/definitions/2/opentrons_96_tiprack_1000ul/1.json
  shared-data/labware/definitions/2/opentrons_96_tiprack_10ul/1.json
  shared-data/labware/definitions/2/opentrons_96_tiprack_300ul/1.json
  shared-data/labware/definitions/2/tipone_96_tiprack_200ul/1.json
  shared-data/labware/definitions/2/usascientific_12_reservoir_22ml/1.json
  shared-data/labware/definitions/2/usascientific_96_wellplate_2.4ml_deep/1.json
Labels: api, ready for review

#3500 refactor(repo): delete shared-data/definitions2
  .flowconfig
  api/setup.py
  api/tests/opentrons/protocol_api/test_context.py
  api/tests/opentrons/protocol_api/test_module_context.py
  components/src/deck/getDeckDefinitions.js
  labware-designer/README.md
  labware-library/src/definitions.js
  protocol-designer/src/labware-defs/utils.js
  scripts/migrateLabwareDefs2019-05-23.sh
  shared-data/definitions2/biorad_96_wellplate_200ul_pcr.json
  shared-data/definitions2/corning_12_wellplate_6.9ml_flat.json
  shared-data/definitions2/corning_24_wellplate_3.4ml_flat.json
  shared-data/definitions2/corning_384_wellplate_112ul_flat.json
  shared-data/definitions2/corning_48_wellplate_1.6ml_flat.json
  shared-data/definitions2/corning_6_wellplate_16.8ml_flat.json
  shared-data/definitions2/eppendorf_96_tiprack_1000ul_eptips.json
  shared-data/definitions2/eppendorf_96_tiprack_10ul_eptips.json
  shared-data/definitions2/geb_96_tiprack_1000ul.json
  shared-data/definitions2/geb_96_tiprack_10ul.json
  shared-data/definitions2/generic_96_wellplate_300ul_pcr.json
  shared-data/definitions2/generic_96_wellplate_340ul_flat.json
  shared-data/definitions2/opentrons_10_tuberack_falcon_4x50ml_6x15ml_conical.json
  shared-data/definitions2/opentrons_10_tuberack_falcon_4x50ml_6x15ml_conical_acrylic.json
  shared-data/definitions2/opentrons_15_tuberack_falcon_15ml_conical.json
  shared-data/definitions2/opentrons_1_trash_1100ml_fixed.json
  shared-data/definitions2/opentrons_1_trash_850ml_fixed.json
  shared-data/definitions2/opentrons_24_aluminumblock_generic_2ml_screwcap.json
  shared-data/definitions2/opentrons_24_tuberack_eppendorf_1.5ml_safelock_snapcap.json
  shared-data/definitions2/opentrons_24_tuberack_eppendorf_2ml_safelock_snapcap.json
  shared-data/definitions2/opentrons_24_tuberack_eppendorf_2ml_safelock_snapcap_acrylic.json
  shared-data/definitions2/opentrons_24_tuberack_generic_0.75ml_snapcap_acrylic.json
  shared-data/definitions2/opentrons_24_tuberack_generic_2ml_screwcap.json
  shared-data/definitions2/opentrons_40_aluminumblock_eppendorf_24x2ml_safelock_snapcap_generic_16x0.2ml_pcr_strip.json
  shared-data/definitions2/opentrons_6_tuberack_falcon_50ml_conical.json
  shared-data/definitions2/opentrons_96_aluminumblock_biorad_wellplate_200ul.json
  shared-data/definitions2/opentrons_96_aluminumblock_generic_pcr_strip_200ul.json
  shared-data/definitions2/opentrons_96_tiprack_1000ul.json
  shared-data/definitions2/opentrons_96_tiprack_10ul.json
  shared-data/definitions2/opentrons_96_tiprack_300ul.json
  shared-data/definitions2/tipone_96_tiprack_200ul.json
  shared-data/definitions2/usascientific_12_reservoir_22ml.json
  shared-data/definitions2/usascientific_96_wellplate_2.4ml_deep.json
  shared-data/js/__tests__/definition2-schema.test.js
  shared-data/js/constants.js
  shared-data/js/getLabware.js
  shared-data/labware/definitions/2/opentrons_24_tuberack_eppendorf_2ml_safelock_snapcap_acrylic/1.json
Labels: api, labware, ready for review, shared data

#3510 refactor(shared_data): Update pipette gen2 configs
  api/tests/opentrons/config/test_pipette_config.py
  shared-data/robot-data/pipetteModelSpecs.json
Labels: ready for review, shared data

#3508 refactor(labware-library): Add measurement guides
  labware-library/src/components/LabwareDetails/Dimensions.js
  labware-library/src/components/LabwareDetails/InsertDetails.js
  labware-library/src/components/LabwareDetails/LabwareDetailsBox.js
  labware-library/src/components/LabwareDetails/WellDimensions.js
  labware-library/src/components/LabwareDetails/WellSpacing.js
  labware-library/src/components/measurement-guide/images/depth/depth-plate-flat@3x.png
  labware-library/src/components/measurement-guide/images/depth/depth-plate-round@3x.png
  labware-library/src/components/measurement-guide/images/depth/depth-plate-v@3x.png
  labware-library/src/components/measurement-guide/images/depth/depth-reservoir-and-tubes-flat@3x.png
  labware-library/src/components/measurement-guide/images/depth/depth-reservoir-and-tubes-round@3x.png
  labware-library/src/components/measurement-guide/images/depth/depth-reservoir-and-tubes-v@3x.png
  labware-library/src/components/measurement-guide/images/depth/length-tip-rack@3x.png
  labware-library/src/components/measurement-guide/images/dimensions/footprint@3x.png
  labware-library/src/components/measurement-guide/images/dimensions/height-alum-block-plate@3x.png
  labware-library/src/components/measurement-guide/images/dimensions/height-alum-block-tubes@3x.png
  labware-library/src/components/measurement-guide/images/dimensions/height-plate-and-reservoir@3x.png
  labware-library/src/components/measurement-guide/images/dimensions/height-tip-rack@3x.png
  labware-library/src/components/measurement-guide/images/dimensions/height-tube-rack-irregular@3x.png
  labware-library/src/components/measurement-guide/images/dimensions/height-tube-rack@3x.png
  labware-library/src/components/measurement-guide/images/offset/offset-reservoir@3x.png
  labware-library/src/components/measurement-guide/images/offset/offset-well-circular@3x.png
  labware-library/src/components/measurement-guide/images/offset/offset-well-rectangular@3x.png
  labware-library/src/components/measurement-guide/images/shape/shape-circular@3x.png
  labware-library/src/components/measurement-guide/images/shape/shape-rectangular@3x.png
  labware-library/src/components/measurement-guide/images/spacing/spacing-reservoir-multi-row@3x.png
  labware-library/src/components/measurement-guide/images/spacing/spacing-reservoir@3x.png
  labware-library/src/components/measurement-guide/images/spacing/spacing-well-circular@3x.png
  labware-library/src/components/measurement-guide/images/spacing/spacing-well-rectangular@3x.png
  labware-library/src/components/measurement-guide/index.js
  labware-library/src/components/ui/LabeledValueTable.js
  labware-library/src/components/ui/styles.css
Labels: feature, labware, ready for review
