Repository Opentrons/opentrons, pull requests merged in 2019-04, with the labels that each got.

#3266 feat(api): Add Geometry Logic For Thermocycler Configurations
  api/src/opentrons/drivers/thermocycler/driver.py
  api/src/opentrons/hardware_control/modules/thermocycler.py
  api/src/opentrons/protocol_api/contexts.py
  api/src/opentrons/protocol_api/geometry.py
  api/src/opentrons/protocol_api/labware.py
  api/tests/opentrons/protocol_api/test_module_context.py
  shared-data/js/__tests__/moduleSpecsSchema.test.js
  shared-data/robot-data/moduleSpecs.json
  shared-data/robot-data/schemas/moduleSpecsSchema.json
Labels: api, ready for review

#3286 feat(protocol-designer): show tooltips on disabled fields in Transfer form
  protocol-designer/src/components/StepEditForm/fields/FieldConnector.js
  protocol-designer/src/components/StepEditForm/fields/Volume.js
  protocol-designer/src/components/StepEditForm/utils.js
  protocol-designer/src/localization/en/tooltip.json
Labels: protocol designer, ready for review

#3280 fix(protocol-designer): fix trough over-aspirate bug
  protocol-designer/src/step-generation/aspirateUpdateLiquidState.js
  protocol-designer/src/step-generation/getNextRobotStateAndWarnings/forAspirateDispense.js
  protocol-designer/src/step-generation/test-with-flow/getNextRobotStateAndWarningsForAspDisp.test.js
Labels: fix, protocol designer, ready for review

#3287 perf(protocol-designer): fix selectors used by allSubsteps selector
  protocol-designer/src/step-forms/selectors/index.js
Labels: feature, protocol designer, ready for review

#3285 chore(protocol-designer): add reselect-tools support
  protocol-designer/package.json
  protocol-designer/src/configureStore.js
  protocol-designer/src/step-forms/index.js
  protocol-designer/src/utils/index.js
  yarn.lock
Labels: chore, protocol designer, ready for review

#3288 fix(api): Remove module load regression in V2
  api/src/opentrons/hardware_control/modules/thermocycler.py
  api/src/opentrons/protocol_api/contexts.py
  api/tests/opentrons/protocol_api/test_module_context.py
Labels: api, ready for review

#3275 refactor(labware-library): Add filtering by category and/or manufacturer
  babel.config.js
  flow-typed/npm/query-string_v6.x.x.js
  jest.config.js
  labware-library/package.json
  labware-library/src/__mocks__/definitions.js
  labware-library/src/__mocks__/filters.js
  labware-library/src/components/App/LazyPage.js
  labware-library/src/components/App/Page.js
  labware-library/src/components/App/__tests__/App.test.js
  labware-library/src/components/App/__tests__/Page.test.js
  labware-library/src/components/App/__tests__/__snapshots__/App.test.js.snap
  labware-library/src/components/App/__tests__/__snapshots__/Page.test.js.snap
  labware-library/src/components/App/index.js
  labware-library/src/components/LabwareList/LabwareCard.js
  labware-library/src/components/LabwareList/LabwareList.js
  labware-library/src/components/LabwareList/__tests__/LabwareList.test.js
  labware-library/src/components/LabwareList/__tests__/__snapshots__/LabwareList.test.js.snap
  labware-library/src/components/LabwareList/index.js
  labware-library/src/components/Nav/__tests__/Logo.test.js
  labware-library/src/components/Nav/__tests__/Nav.test.js
  labware-library/src/components/Nav/__tests__/__snapshots__/Nav.test.js.snap
  labware-library/src/components/Sidebar/FilterCategory.js
  labware-library/src/components/Sidebar/FilterManufacturer.js
  labware-library/src/components/Sidebar/__tests__/FilterCategory.test.js
  labware-library/src/components/Sidebar/__tests__/FilterManufacturer.test.js
  labware-library/src/components/Sidebar/__tests__/LabwareGuide.test.js
  labware-library/src/components/Sidebar/__tests__/Sidebar.test.js
  labware-library/src/components/Sidebar/__tests__/__snapshots__/FilterCategory.test.js.snap
  labware-library/src/components/Sidebar/__tests__/__snapshots__/FilterManufacturer.test.js.snap
  labware-library/src/components/Sidebar/__tests__/__snapshots__/LabwareGuide.test.js.snap
  labware-library/src/components/Sidebar/__tests__/__snapshots__/Sidebar.test.js.snap
  labware-library/src/components/Sidebar/index.js
  labware-library/src/components/Sidebar/styles.css
  labware-library/src/definitions.js
  labware-library/src/filters.js
  labware-library/src/index.js
  labware-library/src/types.js
  package.json
  scripts/setup-enzyme.js
  yarn.lock
Labels: feature, labware, ready for review

#3281 feat(components): OutlineButton hover color fix
  components/src/buttons/buttons.css
Labels: components, easyfix, ready for review

#3272 refactor(labware-library): Build out labware gallery functionality
  labware-library/src/components/LabwareList/LabwareCard.js
  labware-library/src/components/LabwareList/LabwareGallery.js
  labware-library/src/components/LabwareList/styles.css
  labware-library/src/components/LabwareRender/index.js
  labware-library/src/components/LabwareRender/styles.css
  labware-library/src/styles/reset.css
Labels: feature, labware, ready for review

#3267 refactor(app): Enable TC in file info page behind feature flag
  app/src/components/InstrumentSettings/AttachedModulesCard.js
  app/src/components/InstrumentSettings/ModulesCardContents.js
  app/src/http-api-client/__tests__/modules.test.js
  app/src/http-api-client/modules.js
  app/src/robot/api-client/worker.js
  app/src/robot/selectors.js
  app/src/robot/test/selectors.test.js
Labels: app, feature, ready for review

#3292 perf(protocol-designer): avoid selector recomputation in step forms
  protocol-designer/src/containers/ConnectedStepItem.js
  protocol-designer/src/step-forms/selectors/index.js
Labels: protocol designer, ready for review

#3284 feat(app): Enable adding manual robot IP addresses in app settings
  app/src/components/AppSettings/AddManualIp/IpField.js
  app/src/components/AppSettings/AddManualIp/IpItem.js
  app/src/components/AppSettings/AddManualIp/IpList.js
  app/src/components/AppSettings/AddManualIp/ManualIpForm.js
  app/src/components/AppSettings/AddManualIp/styles.css
  app/src/components/AppSettings/AdvancedSettingsCard.js
  app/src/components/ConnectPanel/index.js
  app/src/discovery/selectors.js
Labels: app, feature, ready for review

#3296 chore(protocol-designer): release PD 1.1.1
  protocol-designer/webpack.config.js
Labels: chore, protocol designer, ready for review

#3295 refactor(protocol-designer): remove unused code
  protocol-designer/src/components/About.js
  protocol-designer/src/components/IngredientsList/LabwareDetailsCard/labwareDetailsCard.css
  protocol-designer/src/components/ProtocolEditor.js
  protocol-designer/src/containers/SelectorDebugger.js
  protocol-designer/src/css/grid.css
  protocol-designer/src/utils/index.js
Labels: protocol designer, ready for review, refactor

#3298 fix(app): render correct image for vial and tube racks
  app/src/components/CalibrateLabware/instructions-data.js
Labels: app, bug, easyfix, ready for review

#3282 refactor(labware-library): Add copy button to API load name
  components/src/__tests__/__snapshots__/icons.test.js.snap
  components/src/buttons/Button.js
  components/src/buttons/buttons.css
  components/src/icons/icon-data.js
  components/src/tooltips/HoverTooltip.js
  components/src/tooltips/HoverTooltip.md
  components/src/tooltips/Tooltip.js
  components/src/tooltips/Tooltip.md
  components/src/tooltips/index.js
  labware-library/src/components/LabwareList/LabwareCard.js
  labware-library/src/components/LabwareList/LoadName.js
  labware-library/src/components/LabwareList/styles.css
Labels: components, feature, labware, protocol designer

#3297 fix(labware-library): Take cornerOffsetFromSlot into account with render
  labware-designer/README.md
  labware-library/src/components/LabwareRender/index.js
  shared-data/labware-json-schema/labware-schema.json
Labels: bug, fix, labware, ready for review

#3289 fix(shared-data): fix v2 labware definition
  shared-data/definitions2/corning_12_wellplate_6.9_ml.json
  shared-data/definitions2/corning_12_wellplate_6.9_ml_flat.json
  shared-data/definitions2/corning_24_wellplate_3.4_ml.json
  shared-data/definitions2/corning_24_wellplate_3.4_ml_flat.json
  shared-data/definitions2/opentrons_15_tuberack_15_ml_falcon.json
  shared-data/definitions2/opentrons_15_tuberack_falcon_15_ml.json
  shared-data/definitions2/opentrons_6_tuberack_50_ml_falcon.json
  shared-data/definitions2/opentrons_6_tuberack_falcon_50_ml.json
Labels: fix, ready for review, shared data

#3306 refactor(labware-library): Add "No Results" message if all labware hidden
  labware-library/src/__mocks__/definitions.js
  labware-library/src/components/LabwareList/NoResults.js
  labware-library/src/components/LabwareList/__tests__/LabwareList.test.js
  labware-library/src/components/LabwareList/__tests__/NoResults.test.js
  labware-library/src/components/LabwareList/__tests__/__snapshots__/NoResults.test.js.snap
  labware-library/src/components/LabwareList/index.js
  labware-library/src/components/LabwareList/styles.css
  labware-library/src/components/Sidebar/FilterCategory.js
  labware-library/src/components/Sidebar/__tests__/__snapshots__/FilterCategory.test.js.snap
  labware-library/src/components/Sidebar/styles.css
Labels: feature, labware, ready for review

#3309 refactor(api): Add labware load backwards compatibility shim
  api/docs/source/new_protocol_api.rst
  api/src/opentrons/__init__.py
  api/src/opentrons/config/__init__.py
  api/src/opentrons/config/feature_flags.py
  api/src/opentrons/data_storage/database.py
  api/src/opentrons/data_storage/labware_definitions.py
  api/src/opentrons/legacy_api/containers/__init__.py
  api/src/opentrons/legacy_api/containers/placeable.py
  api/src/opentrons/legacy_api/robot/robot.py
  api/src/opentrons/main.py
  api/src/opentrons/protocol_api/back_compat.py
  api/tests/opentrons/api/test_calibration.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/containers/test_containers.py
  api/tests/opentrons/containers/test_placeable.py
  api/tests/opentrons/containers/test_placeable_unittest.py
  api/tests/opentrons/database/test_database.py
  api/tests/opentrons/database/test_labware_definitions.py
  api/tests/opentrons/robot/test_robot.py
Labels: api, ready for review

#3314 refactor(labware-library): Set up per-labware routes and prerender
  labware-library/src/components/App/LazyPage.js
  labware-library/src/components/App/Page.js
  labware-library/src/components/App/__tests__/App.test.js
  labware-library/src/components/App/__tests__/__snapshots__/App.test.js.snap
  labware-library/src/components/App/__tests__/__snapshots__/Page.test.js.snap
  labware-library/src/components/App/index.js
  labware-library/src/components/LabwareDetails/index.js
  labware-library/src/components/LabwareList/LabwareCard.js
  labware-library/src/components/LabwareList/LabwareGallery.js
  labware-library/src/components/LabwareList/index.js
  labware-library/src/components/LabwareRender/index.js
  labware-library/src/definitions.js
  labware-library/src/filters.js
  labware-library/src/index.hbs
  labware-library/src/index.js
  labware-library/src/prerender.js
  labware-library/src/public-path.js
  labware-library/src/types.js
  labware-library/webpack.config.js
Labels: feature, labware, ready for review

#3312 feat(api): define & execute v3 json protocols
  api/src/opentrons/protocol_api/execute.py
  api/src/opentrons/protocol_api/execute_v1.py
  api/src/opentrons/protocol_api/execute_v3.py
  api/tests/opentrons/protocol_api/data/custom_trough_def.json
  api/tests/opentrons/protocol_api/data/v1_json_dispatch.json
  api/tests/opentrons/protocol_api/data/v3_json_dispatch.json
  api/tests/opentrons/protocol_api/test_execute.py
  api/tests/opentrons/protocol_api/test_execute_v1.py
  api/tests/opentrons/protocol_api/test_execute_v3.py
  shared-data/labware-json-schema/labware-schema.json
  shared-data/protocol-json-schema/protocolSchemaV3.json
Labels: api, json protocol schema, ready for review

#3293 Update server: add buildroot support
  Config.in
  Makefile
  api/Makefile
  api/build_tools.py
  api/buildroot.mk
  external.mk
  scripts/python_build_utils.py
  update-server/Config.in
  update-server/Makefile
  update-server/Pipfile
  update-server/Pipfile.lock
  update-server/buildroot.mk
  update-server/buildroot_upload.py
  update-server/opentrons-update-server.service
  update-server/otupdate/__init__.py
  update-server/otupdate/__main__.py
  update-server/otupdate/balena/__init__.py
  update-server/otupdate/balena/__main__.py
  update-server/otupdate/balena/bootstrap.py
  update-server/otupdate/balena/control.py
  update-server/otupdate/balena/endpoints.py
  update-server/otupdate/balena/install.py
  update-server/otupdate/balena/selftest.py
  update-server/otupdate/buildroot/__init__.py
  update-server/otupdate/buildroot/__main__.py
  update-server/otupdate/buildroot/config.py
  update-server/otupdate/buildroot/constants.py
  update-server/otupdate/buildroot/control.py
  update-server/otupdate/buildroot/file_actions.py
  update-server/otupdate/buildroot/update.py
  update-server/setup.py
  update-server/tests/balena/test_bootstrap_fns.py
  update-server/tests/balena/test_server_boot.py
  update-server/tests/balena/test_update_api.py
  update-server/tests/buildroot/conftest.py
  update-server/tests/buildroot/ot-update-server-unit-tests.crt
  update-server/tests/buildroot/ot-update-server-unit-tests.key
  update-server/tests/buildroot/test_config.py
  update-server/tests/buildroot/test_control.py
  update-server/tests/buildroot/test_file_actions.py
  update-server/tests/buildroot/test_update.py
  update-server/tests/buildroot/version.json
  update-server/tests/conftest.py
Labels: feature, ready for review, update server

#3317 refactor(app): Implement temperature module controls behind FF
  app/src/components/InstrumentSettings/AttachedModulesCard.js
  app/src/components/InstrumentSettings/AttachedPipettesCard.js
  app/src/components/InstrumentSettings/ModulesCardContents.js
  app/src/components/InstrumentSettings/index.js
  app/src/components/ModuleControls/ModuleData.js
  app/src/components/ModuleControls/TempField.js
  app/src/components/ModuleControls/TemperatureControls.js
  app/src/components/ModuleControls/index.js
  app/src/components/ModuleControls/styles.css
  app/src/components/ModuleItem/NoModulesMessage.js
  app/src/components/ModuleItem/index.js
  app/src/components/ModuleItem/styles.css
  app/src/components/TempDeckStatusCard/index.js
  app/src/config/index.js
  app/src/http-api-client/modules.js
  app/src/pages/Robots/InstrumentSettings.js
Labels: large, ready for review, refactor

#3310 feat(api): publish pause and delay commands in python and JSON
  api/src/opentrons/commands/commands.py
  api/src/opentrons/protocol_api/contexts.py
  api/src/opentrons/protocol_api/execute_v1.py
  api/src/opentrons/protocol_api/execute_v3.py
  api/src/opentrons/protocols/__init__.py
  api/tests/opentrons/protocol_api/test_execute_v1.py
  api/tests/opentrons/protocol_api/test_execute_v3.py
Labels: api, feature, ready for review

#3339 feat(update-server): Add SSH public key management for buildroot
  update-server/Makefile
  update-server/buildroot_upload.py
  update-server/otupdate/buildroot/README.md
  update-server/otupdate/buildroot/__init__.py
  update-server/otupdate/buildroot/control.py
  update-server/otupdate/buildroot/ssh_key_management.py
  update-server/tests/buildroot/test_ssh_key_management.py
Labels: feature, update server

#3338 refactor(labware-library): Add gallery and breadcrumbs to detail page
  labware-library/src/components/App/Page.js
  labware-library/src/components/App/__tests__/App.test.js
  labware-library/src/components/App/__tests__/Page.test.js
  labware-library/src/components/App/__tests__/__snapshots__/App.test.js.snap
  labware-library/src/components/App/__tests__/__snapshots__/Page.test.js.snap
  labware-library/src/components/App/index.js
  labware-library/src/components/App/styles.css
  labware-library/src/components/LabwareDetails/index.js
  labware-library/src/components/LabwareDetails/styles.css
  labware-library/src/components/LabwareList/LabwareCard.js
  labware-library/src/components/LabwareList/Tags.js
  labware-library/src/components/LabwareList/index.js
  labware-library/src/components/LabwareList/styles.css
  labware-library/src/components/Nav/Breadcrumbs.js
  labware-library/src/components/Nav/index.js
  labware-library/src/components/Nav/styles.css
  labware-library/src/components/Sidebar/styles.css
  labware-library/src/definitions.js
  labware-library/src/index.js
  labware-library/src/prerender.js
  labware-library/src/styles/spacing.css
Labels: feature, labware, ready for review

#3347 fix(api): Do not sleep in simulated delays
  api/src/opentrons/hardware_control/__init__.py
  api/src/opentrons/hardware_control/controller.py
  api/src/opentrons/hardware_control/simulator.py
  api/src/opentrons/protocol_api/contexts.py
Labels: api, fix

#3322 docs(api): update docs for complex liquid handling commands
  api/docs/source/complex commands.rst
Labels: api, docs, ready for review

#3349 refactor(labware-library): Add top-level labware stats to details page
  labware-library/src/components/LabwareDetails/Stats.js
  labware-library/src/components/LabwareDetails/index.js
  labware-library/src/components/LabwareDetails/styles.css
  labware-library/src/components/LabwareList/LabwareCard.js
  labware-library/src/components/LabwareList/LoadName.js
  labware-library/src/components/LabwareList/Tags.js
  labware-library/src/components/LabwareList/styles.css
  labware-library/src/components/Sidebar/FilterCategory.js
  labware-library/src/components/Sidebar/FilterManufacturer.js
  labware-library/src/components/Sidebar/__tests__/__snapshots__/FilterCategory.test.js.snap
  labware-library/src/components/ui/LabelText.js
  labware-library/src/components/ui/Table.js
  labware-library/src/components/ui/Value.js
  labware-library/src/components/ui/index.js
  labware-library/src/components/ui/styles.css
  labware-library/src/localization/en.js
  labware-library/src/localization/index.js
Labels: feature, labware, ready for review

#3351 fix(update-server): Create ~/.ssh/authorized_keys if needed
  update-server/otupdate/buildroot/ssh_key_management.py
Labels: fix, update server

#3352 fix(update-server): Fix some issues with br update, test, fast flow
  api/Makefile
  update-server/Makefile
  update-server/otupdate/buildroot/update.py
  update-server/tests/buildroot/test_update.py
  update-server/tests/migration/test_migration_api.py
Labels: fix, update server

#3355 feat(shared-data): update P300M 1.5 pick up current to 0.9 A
  shared-data/js/__tests__/__snapshots__/pipettes.test.js.snap
  shared-data/robot-data/pipetteModelSpecs.json
Labels: api, feature, ready for review

#3350 refactor(protocol-designer): begin to use getLabwareDef selector
  components/src/deck/Labware.js
  labware-library/src/components/LabwareRender/index.js
  protocol-designer/src/components/HighlightableLabware.js
  protocol-designer/src/components/StepEditForm/fields/TipPosition/index.js
  protocol-designer/src/components/labware/SelectableLabware.js
  protocol-designer/src/configureStore.js
  protocol-designer/src/constants.js
  protocol-designer/src/containers/LabwareContainer.js
  protocol-designer/src/file-data/__tests__/commandsSelectors.test.js
  protocol-designer/src/file-data/selectors/commands.js
  protocol-designer/src/labware-defs/__mocks__/utils.js
  protocol-designer/src/labware-defs/actions.js
  protocol-designer/src/labware-defs/index.js
  protocol-designer/src/labware-defs/reducers.js
  protocol-designer/src/labware-defs/selectors.js
  protocol-designer/src/labware-defs/types.js
  protocol-designer/src/labware-defs/utils.js
  protocol-designer/src/labware-ingred/__tests__/containers.test.js
  protocol-designer/src/labware-ingred/__tests__/ingredients.test.js
  protocol-designer/src/load-file/__tests__/proceduresMatchSnapshots.test.js
  protocol-designer/src/step-forms/selectors/index.js
  protocol-designer/src/step-forms/test/reducers.test.js
  protocol-designer/src/step-generation/dispenseUpdateLiquidState.js
  protocol-designer/src/step-generation/getNextRobotStateAndWarnings/forAspirateDispense.js
  protocol-designer/src/step-generation/utils.js
  protocol-designer/src/steplist/formLevel/handleFormChange/utils.js
  protocol-designer/src/steplist/generateSubsteps.js
  protocol-designer/src/steplist/substepTimeline.js
  protocol-designer/src/top-selectors/substep-highlight.js
  protocol-designer/src/top-selectors/substeps.js
  protocol-designer/src/top-selectors/tip-contents/index.js
  protocol-designer/src/top-selectors/well-contents/__tests__/getSelectedWellsCommonValues.test.js
  protocol-designer/src/top-selectors/well-contents/__tests__/getWellContentsAllLabware.test.js
  protocol-designer/src/top-selectors/well-contents/getWellContentsAllLabware.js
  protocol-designer/src/top-selectors/well-contents/index.js
  protocol-designer/src/types.js
  protocol-designer/src/ui/labware/selectors.js
  protocol-designer/src/ui/steps/test/reducers.test.js
  protocol-designer/src/well-selection/test/utils.test.js
  protocol-designer/src/well-selection/utils.js
  shared-data/js/__tests__/computeWellAccess.test.js
  shared-data/js/getLabware.js
  shared-data/js/helpers/canPipetteUseLabware.js
  shared-data/js/helpers/computeWellAccess.js
  shared-data/js/helpers/getWellTotalVolume.js
  shared-data/js/helpers/index.js
  shared-data/js/index.js
  shared-data/js/labwareTools/index.js
  shared-data/js/types.js
Labels: protocol designer, ready for review

#3354 refactor(labware-library): Add well details to labware details page
  labware-library/src/components/App/__tests__/App.test.js
  labware-library/src/components/App/__tests__/__snapshots__/App.test.js.snap
  labware-library/src/components/App/index.js
  labware-library/src/components/LabwareDetails/Dimensions.js
  labware-library/src/components/LabwareDetails/WellDimensions.js
  labware-library/src/components/LabwareDetails/index.js
  labware-library/src/components/LabwareDetails/styles.css
  labware-library/src/components/LabwareList/LabwareCard.js
  labware-library/src/components/ui/LabeledValueTable.js
  labware-library/src/components/ui/LowercaseText.js
  labware-library/src/components/ui/index.js
  labware-library/src/components/ui/styles.css
  labware-library/src/definitions.js
  labware-library/src/filters.js
  labware-library/src/localization/en.js
  labware-library/src/styles/spacing.css
  labware-library/src/types.js
Labels: feature, labware, ready for review

#3363 refactor(labware-library): Fix typecheck failures from stricter Well def
  labware-library/src/definitions.js
Labels: chore, ready for review

#3318 feat(api): validate JSON protocols before executing
  api/Config.in
  api/Pipfile
  api/setup.py
  api/src/opentrons/protocol_api/execute.py
  api/src/opentrons/protocol_api/execute_v1.py
  api/tests/opentrons/protocol_api/test_execute.py
  shared-data/js/__tests__/definition2-schema.test.js
  shared-data/js/labwareTools/index.js
  shared-data/labware-json-schema/labwareSchemaV2.json
Labels: api, json protocol schema, ready for review

#3362 refactor(protocol-designer): getLabwareDef selector part2
  protocol-designer/src/components/IngredientsList/LabwareDetailsCard/LabwareDetailsCard.js
  protocol-designer/src/components/IngredientsList/LabwareDetailsCard/index.js
  protocol-designer/src/components/StepEditForm/fields/TipPosition/index.js
  protocol-designer/src/components/modals/EditPipettesModal/index.js
  protocol-designer/src/components/modals/FilePipettesModal/index.js
  protocol-designer/src/components/modals/NewFileModal/index.js
  protocol-designer/src/components/steplist/AspirateDispenseHeader.js
  protocol-designer/src/components/steplist/LabwareTooltipContents.js
  protocol-designer/src/components/steplist/MixHeader.js
  protocol-designer/src/components/steplist/StepItem.js
  protocol-designer/src/configureStore.js
  protocol-designer/src/constants.js
  protocol-designer/src/containers/ConnectedStepItem.js
  protocol-designer/src/containers/ConnectedTitleBar.js
  protocol-designer/src/file-data/__tests__/commandsSelectors.test.js
  protocol-designer/src/file-data/selectors/commands.js
  protocol-designer/src/form-types.js
  protocol-designer/src/labware-defs/__mocks__/utils.js
  protocol-designer/src/labware-defs/index.js
  protocol-designer/src/labware-defs/selectors.js
  protocol-designer/src/labware-defs/types.js
  protocol-designer/src/labware-defs/utils.js
  protocol-designer/src/labware-ingred/actions/thunks.js
  protocol-designer/src/labware-ingred/utils.js
  protocol-designer/src/load-file/migration/1_1_0.js
  protocol-designer/src/load-file/migration/__tests__/1_1_0.test.js
  protocol-designer/src/pipettes/pipetteData.js
  protocol-designer/src/step-forms/actions/index.js
  protocol-designer/src/step-forms/reducers/index.js
  protocol-designer/src/step-forms/selectors/index.js
  protocol-designer/src/step-forms/types.js
  protocol-designer/src/step-forms/utils.js
  protocol-designer/src/steplist/fieldLevel/index.js
  protocol-designer/src/steplist/formLevel/errors.js
  protocol-designer/src/steplist/formLevel/handleFormChange/dependentFieldsUpdateMix.js
  protocol-designer/src/steplist/formLevel/handleFormChange/dependentFieldsUpdateMoveLiquid.js
  protocol-designer/src/steplist/formLevel/handleFormChange/test/mix.test.js
  protocol-designer/src/steplist/formLevel/handleFormChange/test/moveLiquid.test.js
  protocol-designer/src/steplist/formLevel/handleFormChange/utils.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/mixFormToArgs.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/moveLiquidFormToArgs.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/test/moveLiquidFormToArgs.test.js
  protocol-designer/src/steplist/formLevel/warnings.js
  protocol-designer/src/steplist/generateSubsteps.js
  protocol-designer/src/steplist/substepTimeline.js
  protocol-designer/src/steplist/types.js
  protocol-designer/src/steplist/utils/orderWells.js
  protocol-designer/src/top-selectors/substeps.js
  protocol-designer/src/top-selectors/tip-contents/index.js
  protocol-designer/src/top-selectors/well-contents/__tests__/getWellContentsAllLabware.test.js
  protocol-designer/src/top-selectors/well-contents/getWellContentsAllLabware.js
  protocol-designer/src/top-selectors/well-contents/index.js
  protocol-designer/src/types.js
  protocol-designer/src/ui/labware/selectors.js
  protocol-designer/src/well-selection/utils.js
  shared-data/js/helpers/canPipetteUseLabware.js
  shared-data/js/helpers/getWellTotalVolume.js
  shared-data/js/helpers/index.js
  shared-data/js/labwareTools/index.js
Labels: protocol designer, ready for review, shared data

#3356 feat(update-server): Set buildroot hostname
  update-server/Makefile
  update-server/buildroot_upload.py
  update-server/otupdate/buildroot/__init__.py
  update-server/otupdate/buildroot/__main__.py
  update-server/otupdate/buildroot/constants.py
  update-server/otupdate/buildroot/control.py
  update-server/otupdate/buildroot/name_management.py
  update-server/otupdate/buildroot/ssh_key_management.py
  update-server/tests/buildroot/conftest.py
  update-server/tests/buildroot/test_control.py
  update-server/tests/buildroot/test_name_management.py
Labels: feature, update server

#3365 feat(api): add P10M 1.5 config data
  api/tests/opentrons/config/test_pipette_config.py
  shared-data/js/__tests__/__snapshots__/pipettes.test.js.snap
  shared-data/js/__tests__/pipettes.test.js
  shared-data/robot-data/pipetteModelSpecs.json
Labels: api, feature, ready for review

#3366 refactor(labware-library): Add responsive top navbar
  components/src/__tests__/__snapshots__/icons.test.js.snap
  components/src/icons/icon-data.js
  components/src/interaction-enhancers/ClickOutside.js
  components/src/styles/positioning.css
  labware-library/src/components/App/styles.css
  labware-library/src/components/Nav/__tests__/__snapshots__/Nav.test.js.snap
  labware-library/src/components/Nav/index.js
  labware-library/src/components/Nav/styles.css
  labware-library/src/components/website-navigation/Logo.js
  labware-library/src/components/website-navigation/MainNav.js
  labware-library/src/components/website-navigation/MenuButton.js
  labware-library/src/components/website-navigation/NavList.js
  labware-library/src/components/website-navigation/NavMenu.js
  labware-library/src/components/website-navigation/SubdomainNav.js
  labware-library/src/components/website-navigation/__tests__/Logo.test.js
  labware-library/src/components/website-navigation/__tests__/MainNav.test.js
  labware-library/src/components/website-navigation/__tests__/SubdomainNav.test.js
  labware-library/src/components/website-navigation/__tests__/__snapshots__/Logo.test.js.snap
  labware-library/src/components/website-navigation/__tests__/__snapshots__/MainNav.test.js.snap
  labware-library/src/components/website-navigation/__tests__/__snapshots__/SubdomainNav.test.js.snap
  labware-library/src/components/website-navigation/images/ot-logo-full.png
  labware-library/src/components/website-navigation/index.js
  labware-library/src/components/website-navigation/nav-data.js
  labware-library/src/components/website-navigation/styles.css
  labware-library/src/components/website-navigation/types.js
  labware-library/src/styles/breakpoints.css
  labware-library/src/styles/spacing.css
Labels: ready for review, refactor

#3375 chore(release): 3.8.2-alpha.0
  CHANGELOG.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/build/release-notes.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore

#3377 fix(api): Correctly specify jsonschema in setup.py install_requires
  api/setup.py
Labels: api, fix, small

#3376 fix(app): Disable manual ip double submit on enter keypress
  app/src/components/AppSettings/AddManualIp/ManualIpForm.js
Labels: app, bug, fix

#3378 fix(app): Clear deck cal request states on wizard exit
  app/src/components/CalibrateDeck/InUseModal.js
  app/src/components/CalibrateDeck/NoPipetteModal.js
  app/src/components/CalibrateDeck/index.js
  app/src/components/CalibrateDeck/types.js
  app/src/http-api-client/__tests__/calibration.test.js
  app/src/http-api-client/calibration.js
  app/src/http-api-client/index.js
Labels: app, bug, fix, ready for review

#3379 chore(release): 3.8.2-alpha.1
  CHANGELOG.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/build/release-notes.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore, large

#3380 chore(release): 3.8.2
  CHANGELOG.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/build/release-notes.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore

#3383 refactor(labware-library): Add desktop desktop submenu dropdowns
  labware-library/src/components/website-navigation/MainNav.js
  labware-library/src/components/website-navigation/NavLink.js
  labware-library/src/components/website-navigation/NavList.js
  labware-library/src/components/website-navigation/NavMenu.js
  labware-library/src/components/website-navigation/ProtocolMenu.js
  labware-library/src/components/website-navigation/SubdomainNav.js
  labware-library/src/components/website-navigation/SupportMenu.js
  labware-library/src/components/website-navigation/__tests__/NavLink.test.js
  labware-library/src/components/website-navigation/__tests__/NavList.test.js
  labware-library/src/components/website-navigation/__tests__/__snapshots__/NavLink.test.js.snap
  labware-library/src/components/website-navigation/__tests__/__snapshots__/NavList.test.js.snap
  labware-library/src/components/website-navigation/__tests__/__snapshots__/SubdomainNav.test.js.snap
  labware-library/src/components/website-navigation/index.js
  labware-library/src/components/website-navigation/nav-data.js
  labware-library/src/components/website-navigation/styles.css
  labware-library/src/components/website-navigation/types.js
  labware-library/src/styles/spacing.css
Labels: labware, ready for review, refactor

#3372 refactor(api): Log commands at info level
  api/Makefile
  api/src/opentrons/api/calibration.py
  api/src/opentrons/api/session.py
  api/src/opentrons/broker.py
  api/src/opentrons/commands/commands.py
  api/src/opentrons/drivers/rpi_drivers/gpio.py
  api/src/opentrons/hardware_control/controller.py
  api/src/opentrons/legacy_api/robot/robot.py
Labels: api, medium, ready for review, refactor

#3386 refactor(labware-library): Add mobile nav toggle
  labware-library/src/components/Nav/__tests__/__snapshots__/Nav.test.js.snap
  labware-library/src/components/Nav/index.js
  labware-library/src/components/Nav/styles.css
  labware-library/src/components/website-navigation/MainNav.js
  labware-library/src/components/website-navigation/MenuButton.js
  labware-library/src/components/website-navigation/MobileMenu.js
  labware-library/src/components/website-navigation/MobileNav.js
  labware-library/src/components/website-navigation/index.js
  labware-library/src/components/website-navigation/styles.css
  labware-library/src/components/website-navigation/types.js
  labware-library/src/styles.global.css
  labware-library/src/styles/spacing.css
Labels: labware, ready for review, refactor

#3393 feat(api): Add new 10ul tiprack
  api/src/opentrons/config/containers/default-containers.json
  shared-data/definitions/opentrons-tiprack-10ul.json
  shared-data/definitions2/geb_96_tiprack_10_ul.json
  shared-data/definitions2/opentrons_96_tiprack_10_ul.json
Labels: api, ready for review, small

#3396 chore(release): 3.8.3-alpha.0
  CHANGELOG.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore, ready for review

#3401 refactor(labware-library): Add mobile submenus
  labware-library/src/components/App/styles.css
  labware-library/src/components/Nav/__tests__/__snapshots__/Nav.test.js.snap
  labware-library/src/components/Nav/index.js
  labware-library/src/components/Nav/styles.css
  labware-library/src/components/website-navigation/MainNav.js
  labware-library/src/components/website-navigation/MobileContent.js
  labware-library/src/components/website-navigation/MobileList.js
  labware-library/src/components/website-navigation/MobileMenu.js
  labware-library/src/components/website-navigation/MobileNav.js
  labware-library/src/components/website-navigation/NavLink.js
  labware-library/src/components/website-navigation/ProtocolMobileContent.js
  labware-library/src/components/website-navigation/SupportMobileContent.js
  labware-library/src/components/website-navigation/__tests__/__snapshots__/MainNav.test.js.snap
  labware-library/src/components/website-navigation/index.js
  labware-library/src/components/website-navigation/nav-data.js
  labware-library/src/components/website-navigation/styles.css
Labels: labware, ready for review

#3404 chore(release): 3.8.3
  CHANGELOG.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/build/release-notes.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore, ready for review

#3389 refactor(api): Split smoothie command ack timeout from motion
  api/src/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/tests/opentrons/drivers/test_driver.py
Labels: api, ready for review, refactor
