Repository Opentrons/opentrons, pull requests merged in 2019-07, with the labels that each got.

#3658 fix(protocol-designer): left-align labware text in labware selection modal
  protocol-designer/src/components/LabwareSelectionModal/styles.css
Labels: protocol designer, ready for review

#3660 fix(protocol-designer): darken "drag to new slot" text
  protocol-designer/src/components/DeckSetup/LabwareOverlays/DisabledSelectSlot.js
  protocol-designer/src/components/DeckSetup/LabwareOverlays/EditLabware.js
  protocol-designer/src/components/DeckSetup/LabwareOverlays/LabwareOverlays.css
Labels: protocol designer, ready for review

#3659 fix(protocol-designer): keep edit nickname to one line
  protocol-designer/src/components/EditableTextField.js
  protocol-designer/src/components/editableTextField.css
Labels: protocol designer, ready for review

#3662 refactor(api): Infer API version from protocol on upload
  api/src/opentrons/api/session.py
  api/tests/opentrons/api/test_session.py
Labels: api, feature, ready for review

#3665 feat(protocol-designer): add 'view measurements' link
  protocol-designer/src/components/LabwareSelectionModal/LabwareItem.js
  protocol-designer/src/components/LabwareSelectionModal/LabwarePreview.js
  protocol-designer/src/components/LabwareSelectionModal/LabwareSelectionModal.js
  protocol-designer/src/components/LabwareSelectionModal/styles.css
  protocol-designer/src/localization/en/modal.json
Labels: labware, protocol designer, ready for review

#3671 fix(components): add remove scroll override prop to Modal
  components/src/__tests__/__snapshots__/modals.test.js.snap
  components/src/modals/AlertModal.js
  components/src/modals/AlertModal.md
  components/src/modals/ContinueModal.js
  components/src/modals/Modal.js
  components/src/modals/Modal.md
Labels: components, fix, ready for review

#3637 refactor(api): Make the hardware control API fully async
  api/src/opentrons/api/session.py
  api/src/opentrons/deck_calibration/dc_main.py
  api/src/opentrons/deck_calibration/endpoints.py
  api/src/opentrons/hardware_control/__init__.py
  api/src/opentrons/hardware_control/adapters.py
  api/src/opentrons/hardware_control/socket_server.py
  api/src/opentrons/main.py
  api/src/opentrons/server/endpoints/__init__.py
  api/src/opentrons/server/endpoints/control.py
  api/src/opentrons/server/endpoints/settings.py
  api/tests/opentrons/cli/test_cli.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/hardware_control/test_instruments.py
  api/tests/opentrons/hardware_control/test_moves.py
  api/tests/opentrons/hardware_control/test_socket_server.py
  api/tests/opentrons/hardware_control/test_tip_probe.py
  api/tests/opentrons/server/calibration_integration_test.py
  api/tests/opentrons/server/test_calibration_endpoints.py
  api/tests/opentrons/server/test_settings_endpoints.py
Labels: api, ready for review, refactor

#3667 feat(api): default to labware version 1, not latest
  api/src/opentrons/protocol_api/contexts.py
  api/src/opentrons/protocol_api/labware.py
Labels: api, labware

#3673 fix(protocol-designer): fix labware nickname µL capitalization
  protocol-designer/src/components/DeckSetup/LabwareOverlays/LabwareName.js
  protocol-designer/src/containers/ConnectedTitleBar.js
Labels: fix, protocol designer, ready for review

#3675 fix(api): Fix module calibration in API V2
  api/src/opentrons/api/models.py
Labels: api, ready for review, rpc

#3418 fix(protocol-designer): inner mix in move liquid predictable tip height
  protocol-designer/src/step-generation/commandCreators/compound/consolidate.js
  protocol-designer/src/step-generation/commandCreators/compound/distribute.js
  protocol-designer/src/step-generation/commandCreators/compound/transfer.js
  protocol-designer/src/step-generation/test-with-flow/consolidate.test.js
  protocol-designer/src/step-generation/test-with-flow/distribute.test.js
  protocol-designer/src/step-generation/test-with-flow/fixtures/commandFixtures.js
  protocol-designer/src/step-generation/test-with-flow/transfer.test.js
Labels: fix, protocol designer, ready for review

#3681 fix(protocol-designer): mend and extend scroll to top, fix reorder crash
  protocol-designer/src/components/DeckSetup/LabwareOverlays/BrowseLabware.js
  protocol-designer/src/components/DeckSetup/LabwareOverlays/EditLabware.js
  protocol-designer/src/components/ProtocolEditor.js
  protocol-designer/src/steplist/actions/thunks.js
  protocol-designer/src/ui/steps/actions.js
Labels: fix, protocol designer, ready for review

#3683 refactor(app): Reconfigure app-shell remote access
  __mocks__/electron.js
  __mocks__/setup-mock-globals.js
  app-shell/src/__mocks__/log.js
  app-shell/src/preload.js
  app/src/discovery/__tests__/selectors.test.js
  app/src/http-api-client/__tests__/robot.test.js
  app/src/http-api-client/__tests__/server.test.js
  app/src/logger.js
  app/src/shell/__mocks__/remote.js
  app/src/shell/__tests__/api-update.test.js
  app/src/shell/__tests__/buildroot.test.js
  app/src/shell/__tests__/shell.test.js
  app/src/shell/api-update.js
  app/src/shell/buildroot.js
  app/src/shell/index.js
  app/src/shell/remote.js
  jest.config.js
  scripts/setup-global-mocks.js
Labels: app, ready for review, refactor

#3661 feat(app): display pipettes gen2 in pipettes card
  app/src/components/InstrumentSettings/InstrumentInfo.js
  app/src/components/InstrumentSettings/styles.css
  components/src/structure/LabeledValue.js
Labels: app, components, feature, ready for review

#3684 refactor(api): Rename model keys to be agnostic to hw model version
  api/src/opentrons/config/pipette_config.py
  api/src/opentrons/deck_calibration/endpoints.py
  api/src/opentrons/legacy_api/api.py
  api/src/opentrons/tools/write_pipette_memory.py
  api/tests/opentrons/labware/test_pipette_constructors.py
  shared-data/pipette/definitions/pipetteModelSpecs.json
  shared-data/pipette/definitions/pipetteNameSpecs.json
  shared-data/pipette/schemas/pipetteModelSpecsSchema.json
Labels: api, ready for review, shared data

#3668 refactor(app-shell): Download buildroot update files in the background
  app-shell/package.json
  app-shell/src/__tests__/http.test.js
  app-shell/src/buildroot.js
  app-shell/src/buildroot/index.js
  app-shell/src/buildroot/release-files.js
  app-shell/src/buildroot/release-manifest.js
  app-shell/src/buildroot/types.js
  app-shell/src/config.js
  app-shell/src/discovery.js
  app-shell/src/http.js
  app-shell/src/preload.js
  app-shell/src/types.js
  app-shell/src/update.js
  app/Makefile
  app/src/config/index.js
  app/src/shell/__mocks__/remote.js
  app/src/shell/__tests__/buildroot.test.js
  app/src/shell/buildroot.js
  discovery-client/src/index.js
  flow-typed/npm/electron-fetch_v1.3.x.js
  flow-typed/npm/fs-extra_vx.x.x.js
  flow-typed/npm/pump_vx.x.x.js
  yarn.lock
Labels: app, feature, ready for review

#3672 chore(js): update jest to v24; drop --runInBand
  Makefile
  package.json
  yarn.lock
Labels: chore, ready for review

#3690 refactor(api): Modify Gen2 single channel configs from hw testing
  api/src/opentrons/hardware_control/__init__.py
  api/src/opentrons/legacy_api/robot/robot.py
  shared-data/pipette/definitions/pipetteModelSpecs.json
  shared-data/pipette/schemas/pipetteModelSpecsSchema.json
Labels: ready for review, shared data

#3691 feat(api): Add Gen2 multichannel pipette api support
  api/src/opentrons/legacy_api/api.py
  api/tests/opentrons/config/test_pipette_config.py
  api/tests/opentrons/labware/test_pipette_constructors.py
  shared-data/pipette/definitions/pipetteModelSpecs.json
  shared-data/pipette/definitions/pipetteNameSpecs.json
Labels: api, ready for review, shared data

#3689 feat(api): Add P50Sv1.5
  shared-data/pipette/definitions/pipetteModelSpecs.json
Labels: api, feature

#3677 feat(docs): Add robot admin info to contributing
  CONTRIBUTING.md
  api/Makefile
Labels: docs, ready for review

#3688 fix(api): Make BCRobot fw_version sync again
  api/src/opentrons/protocol_api/back_compat.py
Labels: api, fix, small

#3687 feat(api): Add a quirk for return tip height
  api/src/opentrons/config/pipette_config.py
  api/src/opentrons/legacy_api/instruments/pipette.py
  shared-data/pipette/definitions/pipetteModelSpecs.json
  shared-data/pipette/schemas/pipetteModelSpecsSchema.json
Labels: api, ready for review

#3701 feat(api): Always remove v2 calibration
  api/src/opentrons/server/endpoints/settings.py
Labels: api, feature

#3702 fix(api): change resume() back to sync fn
  api/src/opentrons/hardware_control/__init__.py
Labels: fix, small

#3697 fix(labware): Fix generator well y calculation, update docs/schema
  labware-designer/README.md
  labware-library/src/components/LabwareList/__tests__/__snapshots__/LabwareList.test.js.snap
  protocol-designer/src/load-file/migration/__tests__/__snapshots__/3_0_0.test.js.snap
  shared-data/js/labwareTools/__tests__/createLabware.test.js
  shared-data/js/labwareTools/index.js
  shared-data/labware/definitions/2/opentrons_10_tuberack_falcon_4x50ml_6x15ml_conical/1.json
  shared-data/labware/fixtures/2/fixture_regular_example_1.json
  shared-data/labware/fixtures/2/fixture_regular_example_2.json
  shared-data/labware/schemas/2.json
Labels: fix, labware, ready for review

#3705 fix(api): unrestrict thermocycler lid at api level for testing
  api/src/opentrons/hardware_control/modules/thermocycler.py
Labels: api, fix

#3707 refactor(labware-library): Add actual links to labware guide
  labware-library/src/components/Sidebar/LabwareGuide.js
  labware-library/src/components/Sidebar/__tests__/__snapshots__/LabwareGuide.test.js.snap
  labware-library/src/components/Sidebar/styles.css
  labware-library/src/localization/en.js
Labels: feature, labware, ready for review, small

#3704 fix(app): Add reservoir calibration instruction support
  app/src/components/CalibrateLabware/instructions-data.js
Labels: app, bug, fix, ready for review

#3706 fix(api): Correct labwarev2 reservoirs on apiv1
  api/src/opentrons/legacy_api/containers/__init__.py
  api/src/opentrons/legacy_api/robot/robot.py
  api/tests/opentrons/containers/test_containers.py
Labels: api, bug, fix, medium

#3710 build(app-shell): Use Digicert's timestamp server for code-signing
  app-shell/electron-builder.json
Labels: app, chore, ready for review

#3708 feat(api): Add speed settings to apiv2
  api/src/opentrons/protocol_api/contexts.py
  api/src/opentrons/protocol_api/geometry.py
  api/tests/opentrons/protocol_api/test_context.py
Labels: feature, ready for review

#3712 fix(shared-data): patch v2 opentrons 15 and 50 mL tube racks
  shared-data/labware/definitions/2/opentrons_10_tuberack_falcon_4x50ml_6x15ml_conical/1.json
  shared-data/labware/definitions/2/opentrons_15_tuberack_falcon_15ml_conical/1.json
  shared-data/labware/definitions/2/opentrons_6_tuberack_falcon_50ml_conical/1.json
Labels: fix, labware, ready for review, shared data

#3713 fix(api): always ensure labware db is up to date
  api/src/opentrons/__init__.py
  api/src/opentrons/data_storage/database_migration.py
Labels: api, fix, small

#3699 refactor(labware): Redo OT tiprack defs based on CAD data
  shared-data/labware/definitions/2/opentrons_96_tiprack_1000ul/1.json
  shared-data/labware/definitions/2/opentrons_96_tiprack_10ul/1.json
  shared-data/labware/definitions/2/opentrons_96_tiprack_300ul/1.json
  shared-data/pipette/definitions/pipetteModelSpecs.json
Labels: bug, fix, labware, ready for review

#3715 fix(app): Stop long labware names overflowing calibration screens
  app/src/components/CalibrateLabware/InfoBox.js
  app/src/components/CalibrateLabware/styles.css
  app/src/components/CalibratePanel/LabwareList.js
  app/src/components/CalibratePanel/LabwareListItem.js
  app/src/components/CalibratePanel/styles.css
  components/src/lists/lists.css
  components/src/tooltips/Tooltip.js
Labels: app, bug, fix, ready for review

#3714 fix(protocol-designer): update various styles to match designs
  protocol-designer/src/components/DeckSetup/LabwareOverlays/LabwareControls.js
  protocol-designer/src/components/DeckSetup/LabwareOverlays/LabwareOverlays.css
  protocol-designer/src/components/StepDescription.css
  protocol-designer/src/components/lists/PDTitledList.js
  protocol-designer/src/components/lists/styles.css
Labels: fix, protocol designer, ready for review

#3709 feat(protocol-designer): update migration modal copy
  protocol-designer/src/components/modals/FileUploadMessageModal/FileUploadMessageModal.js
  protocol-designer/src/components/modals/FileUploadMessageModal/modalContents.css
  protocol-designer/src/components/modals/FileUploadMessageModal/modalContents.js
  protocol-designer/src/components/modals/modal.css
Labels: protocol designer, ready for review, small

#3718 chore(protocol-designer): bump to 3.0.1
  protocol-designer/webpack.config.js
Labels: chore, protocol designer, ready for review

#3717 fix(api): Add new biorad def name to engage height list
  CHANGELOG.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/legacy_api/modules/magdeck.py
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: api, ready for review

#3716 chore(release): 3.10.0
  CHANGELOG.md
  api/release-notes.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/src/opentrons/legacy_api/modules/magdeck.py
  api/src/opentrons/package.json
  api/tests/opentrons/drivers/test_driver.py
  app-shell/CHANGELOG.md
  app-shell/build/release-notes.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  app/src/components/App.global.css
  app/src/components/ChangePipette/PipetteSelection.js
  app/src/components/RobotSettings/AdvancedSettingsCard.js
  app/src/components/RobotSettings/PipetteUpdateWarningModal/index.js
  app/src/components/RobotSettings/PipetteUpdateWarningModal/styles.css
  app/src/components/RunLog/SessionAlert.js
  app/src/robot/reducer/session.js
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: api, app, chore, ready for review

#3634 docs(api): Update labware section of API docs for labware v2 names
  api/docs/source/labware.rst
  api/docs/source/new_protocol_api.rst
  api/docs/source/templates/layout.html
  api/src/opentrons/protocol_api/contexts.py
Labels: api, docs, ready for review

#3725 fix(api): apiv2: fix protocol cancel
  api/src/opentrons/api/session.py
  api/src/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/src/opentrons/hardware_control/__init__.py
  api/src/opentrons/hardware_control/adapters.py
  api/src/opentrons/hardware_control/controller.py
  api/src/opentrons/hardware_control/simulator.py
  api/src/opentrons/legacy_api/robot/robot.py
  api/src/opentrons/server/rpc.py
  api/tests/opentrons/hardware_control/test_socket_server.py
Labels: api, fix, ready for review

#3698 chore(api): update factory tests logging and smoothie handling
  api/src/opentrons/tools/factory_test.py
  api/src/opentrons/tools/gantry_test.py
  api/src/opentrons/tools/overnight_test.py
  api/src/opentrons/tools/z_stage_test.py
Labels: api, chore

#3736 docs(qa): add example json protocols for JSON executor QA
  shared-data/protocol/fixtures/3/testAllAtomicSingleV3.json
  shared-data/protocol/fixtures/3/testTrickyLabwareV3.json
  shared-data/protocol/fixtures/futureproofV4.json
Labels: chore, ready for review

#3666 refactor(app): Show robot system update modal
  app/src/components/RobotSettings/InformationCard.js
  app/src/components/RobotSettings/UpdateBuildroot/DownloadUpdateModal.js
  app/src/components/RobotSettings/UpdateBuildroot/InstallModal.js
  app/src/components/RobotSettings/UpdateBuildroot/ReinstallModal.js
  app/src/components/RobotSettings/UpdateBuildroot/ReleaseNotesModal.js
  app/src/components/RobotSettings/UpdateBuildroot/SkipAppUpdateMessage.js
  app/src/components/RobotSettings/UpdateBuildroot/SyncRobotMessage.js
  app/src/components/RobotSettings/UpdateBuildroot/SyncRobotModal.js
  app/src/components/RobotSettings/UpdateBuildroot/SystemUpdateModal.js
  app/src/components/RobotSettings/UpdateBuildroot/UpdateAppMessage.js
  app/src/components/RobotSettings/UpdateBuildroot/UpdateAppModal.js
  app/src/components/RobotSettings/UpdateBuildroot/UpdateRobotModal.js
  app/src/components/RobotSettings/UpdateBuildroot/VersionList.js
  app/src/components/RobotSettings/UpdateBuildroot/ViewUpdateModal.js
  app/src/components/RobotSettings/UpdateBuildroot/index.js
  app/src/components/RobotSettings/UpdateBuildroot/styles.css
  app/src/components/RobotSettings/UpdateBuildroot/types.js
  app/src/discovery/selectors.js
  app/src/discovery/types.js
  app/src/pages/Robots/RobotSettings.js
  app/src/shell/__tests__/api-update.test.js
  app/src/shell/__tests__/buildroot.test.js
  app/src/shell/api-update.js
  app/src/shell/buildroot.js
  discovery-client/src/types.js
Labels: app, ready for review, refactor

#3731 feat(shared-data): add displayCategory to pipetteNameSpecs and schema
  api/src/opentrons/legacy_api/api.py
  api/tests/opentrons/labware/test_pipette_constructors.py
  shared-data/js/__tests__/__snapshots__/pipettes.test.js.snap
  shared-data/js/pipettes.js
  shared-data/pipette/definitions/pipetteModelSpecs.json
  shared-data/pipette/definitions/pipetteNameSpecs.json
  shared-data/pipette/schemas/pipetteNameSpecsSchema.json
Labels: feature, ready for review, shared data

#3735 feat(api): Make blow out flow rate settable
  api/docs/source/pipettes.rst
  api/src/opentrons/config/pipette_config.py
  api/src/opentrons/hardware_control/__init__.py
  api/src/opentrons/legacy_api/api.py
  api/src/opentrons/legacy_api/instruments/pipette.py
  api/src/opentrons/protocol_api/contexts.py
  api/src/opentrons/protocol_api/execute_v3.py
  api/src/opentrons/protocols/execute_v3.py
  api/tests/opentrons/hardware_control/test_instruments.py
  api/tests/opentrons/labware/test_pipette_constructors.py
  api/tests/opentrons/protocol_api/test_execute_v3.py
  api/tests/opentrons/protocols/test_execute_v3.py
  shared-data/js/__tests__/__snapshots__/pipettes.test.js.snap
  shared-data/pipette/definitions/pipetteModelSpecs.json
  shared-data/pipette/definitions/pipetteNameSpecs.json
  shared-data/pipette/schemas/pipetteNameSpecsSchema.json
Labels: api, feature, ready for review

#3653 chore(js): Upgrade to flow@0.102.0 and eslint@6.0.1
  .eslintrc.js
  .flowconfig
  CONTRIBUTING.md
  Makefile
  app/README.md
  app/package.json
  app/src/components/ChangePipette/Instructions.js
  app/src/components/RunLog/ConfirmCancelModal.js
  app/src/robot/actions.js
  components/README.md
  components/package.json
  components/src/buttons/Button.js
  components/src/structure/TitleBar.js
  discovery-client/package.json
  flow-typed/npm/react-router-dom_v4.x.x.js
  flow-typed/npm/react-router_v4.x.x.js
  flow-typed/npm/redux-mock-store_v1.2.x.js
  flow-typed/npm/redux_v3.x.x.js
  flow-typed/npm/reselect_v4.x.x.js
  labware-designer/package.json
  package.json
  protocol-designer/package.json
  protocol-designer/src/components/modals/FilePipettesModal/PipetteFields.js
  protocol-designer/src/labware-ingred/__tests__/selectors.test.js
  protocol-designer/src/labware-ingred/selectors.js
  protocol-designer/src/top-selectors/tip-contents/index.js
  protocol-designer/src/types.js
  protocol-library-kludge/package.json
  shared-data/package.json
  yarn.lock
Labels: app, chore, protocol designer, ready for review

#3732 chore: Add basic scripts for web project deploy
  CONTRIBUTING.md
  package.json
  scripts/deploy/README.md
  scripts/deploy/lib/copyObject.js
  scripts/deploy/lib/deploy-metadata.js
  scripts/deploy/lib/getExistingObjects.js
  scripts/deploy/lib/getObjectsToRemove.js
  scripts/deploy/lib/parseArgs.js
  scripts/deploy/lib/removeObject.js
  scripts/deploy/lib/syncBuckets.js
  scripts/deploy/promote-to-production.js
  scripts/deploy/promote-to-staging.js
  scripts/deploy/rollback.js
  shared-data/pipette/definitions/pipetteModelSpecs.json
  yarn.lock
Labels: chore, ready for review

#3734 feat(app): add GEN2 images to change pipette
  .flowconfig
  app/src/components/ChangePipette/ConfirmPipette.js
  app/src/components/ChangePipette/InstructionStep.js
  app/src/components/ChangePipette/Instructions.js
  app/src/components/ChangePipette/images/attach-left-multi-GEN2-screws@3x.png
  app/src/components/ChangePipette/images/attach-left-multi-GEN2-tab@3x.png
  app/src/components/ChangePipette/images/attach-left-single-GEN2-screws@3x.png
  app/src/components/ChangePipette/images/attach-left-single-GEN2-tab@3x.png
  app/src/components/ChangePipette/images/attach-right-multi-GEN2-screws@3x.png
  app/src/components/ChangePipette/images/attach-right-multi-GEN2-tab@3x.png
  app/src/components/ChangePipette/images/attach-right-single-GEN2-screws@3x.png
  app/src/components/ChangePipette/images/attach-right-single-GEN2-tab@3x.png
  app/src/components/ChangePipette/images/detach-left-multi-GEN2-screws@3x.png
  app/src/components/ChangePipette/images/detach-left-multi-GEN2-tab@3x.png
  app/src/components/ChangePipette/images/detach-left-single-GEN2-screws@3x.png
  app/src/components/ChangePipette/images/detach-left-single-GEN2-tab@3x.png
  app/src/components/ChangePipette/images/detach-right-multi-GEN2-screws@3x.png
  app/src/components/ChangePipette/images/detach-right-multi-GEN2-tab@3x.png
  app/src/components/ChangePipette/images/detach-right-single-GEN2-screws@3x.png
  app/src/components/ChangePipette/images/detach-right-single-GEN2-tab@3x.png
  app/src/components/ChangePipette/index.js
  app/src/components/ChangePipette/styles.css
  app/src/components/ChangePipette/types.js
  app/src/components/InstrumentSettings/InstrumentInfo.js
  app/src/components/calibrate-pipettes/Pipettes.js
  components/src/__tests__/__snapshots__/instrument-diagram.test.js.snap
  components/src/__tests__/instrument-diagram.test.js
  components/src/instrument-diagram/InstrumentDiagram.js
  components/src/instrument-diagram/InstrumentDiagram.md
  components/src/instrument-diagram/InstrumentGroup.md
  components/src/instrument-diagram/InstrumentInfo.js
  components/src/instrument-diagram/instrument.css
  components/src/instrument-diagram/pipetteGEN2Multi.png
  components/src/instrument-diagram/pipetteGEN2Single.png
  protocol-designer/src/components/modals/FilePipettesModal/PipetteDiagram.js
  protocol-designer/src/step-forms/selectors/index.js
  shared-data/js/pipettes.js
Labels: app, components, feature, protocol designer, ready for review

#3739 fix(api): apiv2: Correctly handle flow rates and plunger speeds
  api/src/opentrons/hardware_control/__init__.py
  api/src/opentrons/hardware_control/pipette.py
  api/src/opentrons/protocol_api/contexts.py
  api/tests/opentrons/hardware_control/test_instruments.py
  api/tests/opentrons/protocol_api/test_context.py
Labels: api, fix, papi v2

#3742 chore(api): Add tags to differentiate serial log sources
  api/src/opentrons/drivers/mag_deck/driver.py
  api/src/opentrons/drivers/serial_communication.py
  api/src/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/src/opentrons/drivers/temp_deck/driver.py
  api/src/opentrons/drivers/thermocycler/driver.py
  api/src/opentrons/hardware_control/__init__.py
  api/src/opentrons/hardware_control/modules/__init__.py
  api/src/opentrons/legacy_api/modules/__init__.py
  api/src/opentrons/legacy_api/robot/robot.py
  api/tests/opentrons/drivers/module_drivers/test_temp_deck_driver.py
  api/tests/opentrons/drivers/test_driver.py
Labels: api, chore

#3743 refactor(update-server): fix capabilities and migration filename
  update-server/buildroot_upload.py
  update-server/otupdate/balena/endpoints.py
  update-server/otupdate/buildroot/control.py
  update-server/otupdate/buildroot/update_session.py
  update-server/otupdate/migration/endpoints.py
  update-server/tests/balena/test_server_boot.py
  update-server/tests/migration/conftest.py
  update-server/tests/migration/test_migration_api.py
Labels: ready for review, refactor, update server

#3744 refactor(app): Add download progress bar and error content
  app/src/components/RobotSettings/UpdateBuildroot/DownloadUpdateModal.js
  app/src/components/RobotSettings/UpdateBuildroot/styles.css
Labels: app, feature, ready for review

#3764 fix(api): fix blow out logic
  api/src/opentrons/protocol_api/contexts.py
  api/tests/opentrons/protocol_api/test_context.py
Labels: api, easyfix, ready for review

#3760 fix(api): Allow gen2 reference in protocol without pipette attached
  api/src/opentrons/legacy_api/api.py
Labels: api, easyfix, ready for review

#3763 fix(factory_scripts): Remove old func name and refactor IP look-up
  api/src/opentrons/tools/factory_test.py
Labels: api, ready for review

#3761 fix(api): Remove model name check for non-gen2 pipettes
  api/src/opentrons/legacy_api/robot/robot.py
  api/tests/opentrons/server/test_control_endpoints.py
Labels: api, ready for review

#3765 refactor(app): Allow app to request buildroot update token
  app-shell/src/buildroot/index.js
  app/src/components/RobotSettings/InformationCard.js
  app/src/discovery/selectors.js
  app/src/epic.js
  app/src/pages/Robots/RobotSettings.js
  app/src/robot-api/index.js
  app/src/robot-api/utils.js
  app/src/shell/__tests__/buildroot.test.js
  app/src/shell/buildroot.js
  app/src/shell/buildroot/__tests__/actions.test.js
  app/src/shell/buildroot/__tests__/reducer.test.js
  app/src/shell/buildroot/__tests__/selectors.test.js
  app/src/shell/buildroot/__tests__/update-epics.test.js
  app/src/shell/buildroot/actions.js
  app/src/shell/buildroot/index.js
  app/src/shell/buildroot/reducer.js
  app/src/shell/buildroot/selectors.js
  app/src/shell/buildroot/types.js
  app/src/shell/buildroot/update-epics.js
  app/src/types.js
  discovery-client/src/types.js
Labels: app, large, ready for review

#3776 refactor(api): change log level for load container methods
  api/src/opentrons/legacy_api/robot/robot.py
Labels: api, refactor

#3770 fix(api): Modify delay and motors which are disengaged
  api/src/opentrons/drivers/smoothie_drivers/driver_3_0.py
Labels: api, chore

#3774 fix(api): apiv2: Display locs for drop/pickup from implicit locs
  api/src/opentrons/protocol_api/contexts.py
Labels: api, fix, papi v2

#3778 fix(api): Use pip config presses by default
  api/src/opentrons/protocol_api/contexts.py
Labels: api, ready for review

#3769 refactor(api): apiv2: just home instead of raising an error
  api/src/opentrons/hardware_control/__init__.py
  api/tests/opentrons/hardware_control/test_moves.py
Labels: api, papi v2, refactor

#3777 feat(shared-data): labwareV2: add filter tip racks
  labware-library/src/components/labware-ui/labware-images.js
  shared-data/labware/definitions/2/opentrons_96_filtertiprack_1000ul/1.json
  shared-data/labware/definitions/2/opentrons_96_filtertiprack_10ul/1.json
  shared-data/labware/definitions/2/opentrons_96_filtertiprack_200ul/1.json
Labels: feature, labware, shared data

#3782 fix(api): Take difference of offsets found from calibration for v2 labware
  api/src/opentrons/legacy_api/containers/__init__.py
Labels: api, bug, ready for review

#3779 fix(api): Allow apiv2 to find pipettes by name versus model
  api/src/opentrons/hardware_control/simulator.py
Labels: api, chore, ready for review

#3783 fix(api): apiv1: handle partial db schema changes
  api/src/opentrons/data_storage/database_migration.py
Labels: api, bug, fix, papi v1, small

#3784 chore(release): 3.10.2
  CHANGELOG.md
  api/release-notes.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/build/release-notes.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore

#3780 refactor(api): Remove smoothie run time values from source code
  api/src/opentrons/config/pipette_config.py
  api/src/opentrons/config/robot_configs.py
  api/src/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/src/opentrons/hardware_control/__init__.py
  api/src/opentrons/legacy_api/robot/robot.py
  api/tests/opentrons/config/test_robots_config.py
  api/tests/opentrons/hardware_control/test_instruments.py
  api/tests/opentrons/robot/test_robot.py
  shared-data/js/__tests__/__snapshots__/pipettes.test.js.snap
  shared-data/pipette/definitions/pipetteNameSpecs.json
  shared-data/pipette/schemas/pipetteNameSpecsSchema.json
Labels: api, ready for review, shared data

#3771 refactor(app): Add bare-minimum client calls for BR update
  app-shell/package.json
  app-shell/src/__tests__/http.test.js
  app-shell/src/buildroot/index.js
  app-shell/src/buildroot/update.js
  app-shell/src/http.js
  app/src/shell/buildroot/__tests__/actions.test.js
  app/src/shell/buildroot/__tests__/reducer.test.js
  app/src/shell/buildroot/__tests__/selectors.test.js
  app/src/shell/buildroot/__tests__/update-epics.test.js
  app/src/shell/buildroot/actions.js
  app/src/shell/buildroot/reducer.js
  app/src/shell/buildroot/selectors.js
  app/src/shell/buildroot/types.js
  app/src/shell/buildroot/update-epics.js
  discovery-client/package.json
  flow-typed/npm/electron-fetch_v1.3.x.js
  flow-typed/npm/node-fetch_v2.x.x.js
  yarn.lock
Labels: app, feature, large, ready for review

#3787 refactor(shared-data): remove semithermocycler definition
  api/src/opentrons/protocol_api/contexts.py
  api/src/opentrons/protocol_api/labware.py
  api/tests/opentrons/protocol_api/test_module_context.py
  shared-data/module/definitions/1.json
Labels: api, ready for review, shared data

#3794 fix(protocol-designer): update typeform version
  protocol-designer/package.json
  protocol-designer/webpack.config.js
  yarn.lock
Labels: fix, protocol designer, ready for review

#3786 feat(app): display TC on Deck Map
  api/src/opentrons/api/models.py
  api/src/opentrons/protocol_api/labware.py
  app/src/components/CalibratePanel/LabwareList.js
  app/src/components/CalibratePanel/LabwareListItem.js
  app/src/components/CalibratePanel/styles.css
  app/src/components/DeckMap/index.js
  app/src/robot/api-client/client.js
  app/src/robot/types.js
  components/src/deck/Module.css
  components/src/deck/Module.js
  components/src/deck/__mocks__/getDeckDefinitions.js
  shared-data/js/modules.js
  shared-data/js/types.js
Labels: api, app, feature, ready for review

#3793 refactor(app): Wire BR update action to UI
  app-shell/src/buildroot/index.js
  app/src/components/AppSettings/AddManualIp/IpList.js
  app/src/components/ConnectPanel/RobotListItem.js
  app/src/components/RobotSettings/UpdateBuildroot/DownloadUpdateModal.js
  app/src/components/RobotSettings/UpdateBuildroot/InstallModal.js
  app/src/components/RobotSettings/UpdateBuildroot/ReinstallModal.js
  app/src/components/RobotSettings/UpdateBuildroot/ReleaseNotesModal.js
  app/src/components/RobotSettings/UpdateBuildroot/SyncRobotMessage.js
  app/src/components/RobotSettings/UpdateBuildroot/SyncRobotModal.js
  app/src/components/RobotSettings/UpdateBuildroot/SystemMigrationModal.js
  app/src/components/RobotSettings/UpdateBuildroot/UpdateAppMessage.js
  app/src/components/RobotSettings/UpdateBuildroot/UpdateAppModal.js
  app/src/components/RobotSettings/UpdateBuildroot/UpdateRobotModal.js
  app/src/components/RobotSettings/UpdateBuildroot/VersionInfoModal.js
  app/src/components/RobotSettings/UpdateBuildroot/VersionList.js
  app/src/components/RobotSettings/UpdateBuildroot/ViewUpdateModal.js
  app/src/components/RobotSettings/UpdateBuildroot/index.js
  app/src/components/RobotSettings/UpdateBuildroot/types.js
  app/src/discovery/selectors.js
  app/src/discovery/types.js
  app/src/pages/Robots/RobotSettings.js
  app/src/pages/Robots/index.js
  app/src/robot-api/http.js
  app/src/shell/buildroot/__tests__/actions.test.js
  app/src/shell/buildroot/__tests__/reducer.test.js
  app/src/shell/buildroot/__tests__/selectors.test.js
  app/src/shell/buildroot/__tests__/update-epics.test.js
  app/src/shell/buildroot/actions.js
  app/src/shell/buildroot/reducer.js
  app/src/shell/buildroot/selectors.js
  app/src/shell/buildroot/types.js
  app/src/shell/buildroot/update-epics.js
  app/src/shell/index.js
Labels: app, feature, large, ready for review

#3792 fix(api): apiv1: fix transfer volume
  api/src/opentrons/legacy_api/containers/placeable.py
  api/src/opentrons/legacy_api/instruments/pipette.py
Labels: api, easyfix, papi v1, ready for review

#3795 build(app-shell): Only publish app release if tag matches ^v.+
  .travis.yml
  app-shell/Makefile
Labels: chore, ready for review

#3803 refactor(app): Add install modals for buildroot updates
  app/src/components/RobotSettings/UpdateBuildroot/DownloadUpdateModal.js
  app/src/components/RobotSettings/UpdateBuildroot/InstallModal.js
  app/src/components/RobotSettings/UpdateBuildroot/InstallModalContents.js
  app/src/components/RobotSettings/UpdateBuildroot/MigrationWarningModal.js
  app/src/components/RobotSettings/UpdateBuildroot/ViewUpdateModal.js
  app/src/components/RobotSettings/UpdateBuildroot/progress.js
  app/src/components/RobotSettings/UpdateBuildroot/styles.css
Labels: app, feature, ready for review

#3800 feat(app, api): Key calibration by parent-type/labware-type combo
  api/src/opentrons/legacy_api/containers/__init__.py
  api/src/opentrons/legacy_api/robot/robot.py
  api/src/opentrons/protocol_api/labware.py
  app/src/components/CalibratePanel/styles.css
  app/src/robot/selectors.js
  app/src/robot/test/selectors.test.js
Labels: api, app, feature, ready for review
