Repository Opentrons/opentrons, pull requests merged in 2019-06, with the labels that each got.

#3514 feat(update-server): Default buildroot migration to available
  update-server/otupdate/balena/__main__.py
Labels: feature, update server

#3512 fix(protocol-designer): add "fixed-trash" labware type to v1->v2 shim
  protocol-designer/src/labware-defs/selectors.js
Labels: fix, protocol designer, ready for review

#3516 docs(components): fix LabwareRender.md
  components/src/deck/LabwareRender.md
Labels: components, ready for review

#3513 fix(shared_data): Change deep well name, modify tipracks
  shared-data/labware/definitions/2/generic_96_wellplate_1.5ml_deep/1.json
  shared-data/labware/definitions/2/opentrons_96_tiprack_1000ul/1.json
  shared-data/labware/definitions/2/opentrons_96_tiprack_10ul/1.json
  shared-data/labware/definitions/2/tipone_96_tiprack_200ul/1.json
Labels: ready for review, shared data, small

#3515 feat(api): do not use labware otId
  api/src/opentrons/legacy_api/containers/__init__.py
  api/src/opentrons/legacy_api/robot/robot.py
  api/src/opentrons/protocol_api/labware.py
  api/tests/opentrons/protocol_api/test_accessor_fn.py
  api/tests/opentrons/protocol_api/test_offsets.py
Labels: api, ready for review

#3519 fix(api): Fix first-boot smoothie updates for apiv2
  api/src/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/src/opentrons/main.py
Labels: api, fix

#3511 refactor(shared-data): reorganize deck, protocol, and labware fixtures
  api/src/opentrons/protocol_api/execute.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/protocol_api/test_execute_v3.py
  api/tests/opentrons/protocols/test_execute_v3.py
  components/src/deck/LabwareRender.md
  components/src/deck/__mocks__/getDeckDefinitions.js
  components/src/deck/getDeckDefinitions.js
  labware-library/src/__mocks__/definitions.js
  labware-library/src/components/LabwareList/__tests__/__snapshots__/LabwareList.test.js.snap
  labware-library/src/components/Sidebar/__tests__/__snapshots__/FilterCategory.test.js.snap
  protocol-designer/src/file-data/__tests__/commandsSelectors.test.js
  protocol-designer/src/labware-defs/__mocks__/utils.js
  protocol-designer/src/step-generation/test-with-flow/aspirate.test.js
  protocol-designer/src/step-generation/test-with-flow/dispenseUpdateLiquidState.test.js
  protocol-designer/src/step-generation/test-with-flow/fixtures/fixtures.js
  protocol-designer/src/step-generation/test-with-flow/robotStateSelectors.test.js
  protocol-designer/src/step-generation/test-with-flow/utils.test.js
  protocol-designer/src/steplist/formLevel/handleFormChange/test/mix.test.js
  protocol-designer/src/top-selectors/well-contents/__tests__/getWellContentsAllLabware.test.js
  protocol-designer/src/well-selection/test/utils.test.js
  shared-data/deck/definitions/1/ot2_short_trash.json
  shared-data/deck/definitions/1/ot2_standard.json
  shared-data/deck/fixtures/1/deckExample.json
  shared-data/deck/schemas/1.json
  shared-data/fixtures/index.js
  shared-data/js/__tests__/definition2-schema.test.js
  shared-data/js/__tests__/getWellNamePerMultiTip.test.js
  shared-data/js/index.js
  shared-data/js/labwareTools/__tests__/createIrregularLabware.test.js
  shared-data/js/labwareTools/__tests__/createLabware.test.js
  shared-data/labware/fixtures/2/fixture12Trough.json
  shared-data/labware/fixtures/2/fixture24TubeRack.json
  shared-data/labware/fixtures/2/fixture384Plate.json
  shared-data/labware/fixtures/2/fixture96Plate.json
  shared-data/labware/fixtures/2/fixtureTipRack1000Ul.json
  shared-data/labware/fixtures/2/fixtureTipRack10Ul.json
  shared-data/labware/fixtures/2/fixtureTipRack300Ul.json
  shared-data/labware/fixtures/2/fixtureTrash.json
  shared-data/labware/fixtures/2/irregularLabwareExample1.json
  shared-data/labware/fixtures/2/labwareExample1.json
  shared-data/labware/fixtures/2/labwareExample2.json
  shared-data/protocol/flowTypes/schemaV1.js
  shared-data/protocol/schemas/1.json
  shared-data/protocol/schemas/2.json
  shared-data/protocol/schemas/3.json
Labels: ready for review, shared data

#3517 feat(protocol-designer): use RWS for deck setup with highlight and dnd
  components/src/deck/RobotWorkSpace.js
  components/src/deck/index.js
  components/src/deck/types.js
  components/src/interaction-enhancers/useOnClickOutside.js
  protocol-designer/src/components/DeckSetup/DeckSetup.css
  protocol-designer/src/components/DeckSetup/DeckSetup.js
  protocol-designer/src/components/DeckSetup/LabwareOnDeck.js
  protocol-designer/src/components/DeckSetup/LabwareOverlays/BrowseLabware.js
  protocol-designer/src/components/DeckSetup/LabwareOverlays/DisabledSelectSlot.js
  protocol-designer/src/components/DeckSetup/LabwareOverlays/DragPreview.js
  protocol-designer/src/components/DeckSetup/LabwareOverlays/EditLabware.js
  protocol-designer/src/components/DeckSetup/LabwareOverlays/LabwareControls.js
  protocol-designer/src/components/DeckSetup/LabwareOverlays/LabwareOverlays.css
  protocol-designer/src/components/DeckSetup/LabwareOverlays/NameThisLabware.js
  protocol-designer/src/components/DeckSetup/LabwareOverlays/SlotControls.js
  protocol-designer/src/components/DeckSetup/LabwareOverlays/constants.js
  protocol-designer/src/components/DeckSetup/LabwareOverlays/index.js
  protocol-designer/src/components/DeckSetup/index.js
  protocol-designer/src/components/HighlightableLabware.css
  protocol-designer/src/components/HighlightableLabware.js
  protocol-designer/src/components/LiquidPlacementModal.css
  protocol-designer/src/components/labware/BrowseLabwareOverlay.js
  protocol-designer/src/components/labware/ClickableText.js
  protocol-designer/src/components/labware/DisabledSelectSlotOverlay.js
  protocol-designer/src/components/labware/LabwareOnDeck/DragPreviewLayer.js
  protocol-designer/src/components/labware/LabwareOnDeck/LabwareOnDeck.js
  protocol-designer/src/components/labware/LabwareOnDeck/index.js
  protocol-designer/src/components/labware/OverlayPanel.js
  protocol-designer/src/components/labware/index.js
  protocol-designer/src/components/labware/utils.js
  protocol-designer/src/components/modals/FilePipettesModal/PipetteFields.js
  protocol-designer/src/containers/HighlightableLabware.js
  protocol-designer/src/labware-ingred/types.js
  protocol-designer/src/localization/en/deck.json
  protocol-designer/src/step-forms/reducers/index.js
  protocol-designer/src/top-selectors/substep-highlight.js
  protocol-designer/src/top-selectors/tip-contents/index.js
  protocol-designer/src/top-selectors/well-contents/index.js
Labels: components, feature, protocol designer, ready for review

#3520 refactor(labware-library): Add reset filters button to sidebar
  labware-library/src/components/App/styles.css
  labware-library/src/components/Sidebar/FilterCategory.js
  labware-library/src/components/Sidebar/FilterManufacturer.js
  labware-library/src/components/Sidebar/FilterReset.js
  labware-library/src/components/Sidebar/__tests__/__snapshots__/FilterCategory.test.js.snap
  labware-library/src/components/Sidebar/__tests__/__snapshots__/FilterManufacturer.test.js.snap
  labware-library/src/components/Sidebar/__tests__/__snapshots__/Sidebar.test.js.snap
  labware-library/src/components/Sidebar/index.js
  labware-library/src/components/Sidebar/styles.css
  labware-library/src/images/favicon-logo.png
  labware-library/src/index.hbs
  labware-library/src/localization/en.js
  labware-library/webpack.config.js
Labels: labware, ready for review

#3524 fix(api): Use npx shx instead of shx directly
  api/Makefile
Labels: api, bug

#3523 feat(protocol-designer): style deck to designs, fix move labware
  components/package.json
  components/src/__tests__/__snapshots__/modals.test.js.snap
  components/src/deck/Deck.css
  components/src/deck/Deck.js
  components/src/modals/Modal.js
  flow-typed/npm/react-remove-scroll_vx.x.x.js
  protocol-designer/src/components/DeckSetup/DeckSetup.css
  protocol-designer/src/components/DeckSetup/DeckSetup.js
  protocol-designer/src/components/DeckSetup/LabwareOverlays/BrowseLabware.js
  protocol-designer/src/components/DeckSetup/LabwareOverlays/DragPreview.js
  protocol-designer/src/components/DeckSetup/LabwareOverlays/EditLabware.js
  protocol-designer/src/components/DeckSetup/LabwareOverlays/LabwareControls.js
  protocol-designer/src/components/DeckSetup/LabwareOverlays/LabwareOverlays.css
  protocol-designer/src/components/DeckSetup/LabwareOverlays/SlotControls.js
  protocol-designer/src/components/ProtocolEditor.css
  protocol-designer/src/components/StepEditForm/fields/WellSelection/WellSelectionModal.js
  protocol-designer/src/components/labware/BrowseLabwareModal.js
  protocol-designer/src/components/modals/FilePipettesModal/PipetteFields.js
  yarn.lock
Labels: components, protocol designer, ready for review

#3526 feat(protocol-designer): use labware def URIs
  protocol-designer/src/components/DeckSetup/LabwareOverlays/LabwareName.js
  protocol-designer/src/components/LabwareSelectionModal/LabwareSelectionModal.js
  protocol-designer/src/components/LabwareSelectionModal/index.js
  protocol-designer/src/components/modals/EditPipettesModal/index.js
  protocol-designer/src/components/modals/FilePipettesModal/PipetteFields.js
  protocol-designer/src/components/modals/FilePipettesModal/TiprackDiagram.js
  protocol-designer/src/components/modals/FilePipettesModal/index.js
  protocol-designer/src/components/modals/NewFileModal/index.js
  protocol-designer/src/file-data/selectors/fileCreator.js
  protocol-designer/src/labware-defs/__mocks__/utils.js
  protocol-designer/src/labware-defs/reducers.js
  protocol-designer/src/labware-defs/selectors.js
  protocol-designer/src/labware-defs/types.js
  protocol-designer/src/labware-defs/utils.js
  protocol-designer/src/labware-ingred/actions/actions.js
  protocol-designer/src/labware-ingred/actions/thunks.js
  protocol-designer/src/step-forms/reducers/index.js
  protocol-designer/src/step-forms/selectors/index.js
  protocol-designer/src/step-forms/types.js
  protocol-designer/src/step-forms/utils.js
  protocol-designer/src/step-generation/robotStateSelectors.js
  protocol-designer/src/step-generation/test-with-flow/__snapshots__/fixtureGeneration.test.js.snap
  protocol-designer/src/step-generation/test-with-flow/aspirate.test.js
  protocol-designer/src/step-generation/test-with-flow/dispenseUpdateLiquidState.test.js
  protocol-designer/src/step-generation/test-with-flow/fixtures/fixtures.js
  protocol-designer/src/step-generation/test-with-flow/robotStateSelectors.test.js
  protocol-designer/src/step-generation/test-with-flow/utils.test.js
  protocol-designer/src/step-generation/utils.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/test/moveLiquidFormToArgs.test.js
  protocol-designer/src/well-selection/utils.js
  shared-data/js/getLabware.js
  shared-data/js/index.js
  shared-data/protocol/flowTypes/schemaV3.js
Labels: labware, protocol designer, ready for review

#3533 chore(update-server): Use npx shx not just shx in update server
  update-server/Makefile
Labels: chore, update server

#3528 fix(api): Synchronize access to the smoothie and rpc
  api/src/opentrons/api/calibration.py
  api/src/opentrons/api/routers.py
  api/src/opentrons/api/session.py
  api/src/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/src/opentrons/hardware_control/controller.py
  api/src/opentrons/legacy_api/robot/robot.py
  api/src/opentrons/server/__init__.py
  api/src/opentrons/server/endpoints/control.py
  api/tests/opentrons/api/test_session.py
Labels: api, fix

#3552 feat(labware-library): show only the single latest version of a def
  labware-library/src/components/labware-ui/labware-images.js
  labware-library/src/definitions.js
  labware-library/src/images/generic_96_wellplate_1.5ml_deep_side_view.jpg
  shared-data/js/__tests__/labwareDefSchemaV2.test.js
  shared-data/js/getLabware.js
  shared-data/labware/definitions/2/generic_96_wellplate_1.5ml_deep/1.json
Labels: labware, ready for review

#3532 refactor(protocol-designer): remove PD dependency on old Labware component
  protocol-designer/src/top-selectors/tip-contents/index.js
Labels: protocol designer, ready for review, refactor

#3556 fix(shared_data): Fix module path in shared data
  shared-data/js/modules.js
Labels: chore, fix, ready for review, shared data

#3571 feat(shared-data): make flow def for json protocol v3
  shared-data/protocol/flowTypes/schemaV3.js
  shared-data/protocol/schemas/3.json
Labels: json protocol schema, ready for review, shared data

#3549 feat(shared-data): remove otId from all v2 labware and dependencies
  labware-library/src/components/LabwareList/__tests__/__snapshots__/LabwareList.test.js.snap
  labware-library/src/components/LabwareList/index.js
  protocol-designer/src/step-generation/test-with-flow/__snapshots__/fixtureGeneration.test.js.snap
  shared-data/js/helpers/getWellNamePerMultiTip.js
  shared-data/js/helpers/getWellTotalVolume.js
  shared-data/js/helpers/index.js
  shared-data/js/labwareTools/__tests__/createIrregularLabware.test.js
  shared-data/js/labwareTools/__tests__/createLabware.test.js
  shared-data/js/labwareTools/assignId.js
  shared-data/js/labwareTools/index.js
  shared-data/js/types.js
  shared-data/labware/definitions/2/biorad_96_wellplate_200ul_pcr/1.json
  shared-data/labware/definitions/2/corning_12_wellplate_6.9ml_flat/1.json
  shared-data/labware/definitions/2/corning_24_wellplate_3.4ml_flat/1.json
  shared-data/labware/definitions/2/corning_384_wellplate_112ul_flat/1.json
  shared-data/labware/definitions/2/corning_48_wellplate_1.6ml_flat/1.json
  shared-data/labware/definitions/2/corning_6_wellplate_16.8ml_flat/1.json
  shared-data/labware/definitions/2/eppendorf_96_tiprack_1000ul_eptips/1.json
  shared-data/labware/definitions/2/eppendorf_96_tiprack_10ul_eptips/1.json
  shared-data/labware/definitions/2/geb_96_tiprack_1000ul/1.json
  shared-data/labware/definitions/2/geb_96_tiprack_10ul/1.json
  shared-data/labware/definitions/2/generic_96_wellplate_1.5ml_deep/1.json
  shared-data/labware/definitions/2/generic_96_wellplate_300ul_pcr/1.json
  shared-data/labware/definitions/2/generic_96_wellplate_340ul_flat/1.json
  shared-data/labware/definitions/2/opentrons_10_tuberack_falcon_4x50ml_6x15ml_conical/1.json
  shared-data/labware/definitions/2/opentrons_10_tuberack_falcon_4x50ml_6x15ml_conical_acrylic/1.json
  shared-data/labware/definitions/2/opentrons_15_tuberack_falcon_15ml_conical/1.json
  shared-data/labware/definitions/2/opentrons_1_trash_1100ml_fixed/1.json
  shared-data/labware/definitions/2/opentrons_1_trash_850ml_fixed/1.json
  shared-data/labware/definitions/2/opentrons_24_aluminumblock_generic_2ml_screwcap/1.json
  shared-data/labware/definitions/2/opentrons_24_tuberack_eppendorf_1.5ml_safelock_snapcap/1.json
  shared-data/labware/definitions/2/opentrons_24_tuberack_eppendorf_2ml_safelock_snapcap/1.json
  shared-data/labware/definitions/2/opentrons_24_tuberack_eppendorf_2ml_safelock_snapcap_acrylic/1.json
  shared-data/labware/definitions/2/opentrons_24_tuberack_generic_0.75ml_snapcap_acrylic/1.json
  shared-data/labware/definitions/2/opentrons_24_tuberack_generic_2ml_screwcap/1.json
  shared-data/labware/definitions/2/opentrons_40_aluminumblock_eppendorf_24x2ml_safelock_snapcap_generic_16x0.2ml_pcr_strip/1.json
  shared-data/labware/definitions/2/opentrons_6_tuberack_falcon_50ml_conical/1.json
  shared-data/labware/definitions/2/opentrons_96_aluminumblock_biorad_wellplate_200ul/1.json
  shared-data/labware/definitions/2/opentrons_96_aluminumblock_generic_pcr_strip_200ul/1.json
  shared-data/labware/definitions/2/opentrons_96_tiprack_1000ul/1.json
  shared-data/labware/definitions/2/opentrons_96_tiprack_10ul/1.json
  shared-data/labware/definitions/2/opentrons_96_tiprack_300ul/1.json
  shared-data/labware/definitions/2/tipone_96_tiprack_200ul/1.json
  shared-data/labware/definitions/2/usascientific_12_reservoir_22ml/1.json
  shared-data/labware/fixtures/2/fixture12Trough.json
  shared-data/labware/fixtures/2/fixture24TubeRack.json
  shared-data/labware/fixtures/2/fixture384Plate.json
  shared-data/labware/fixtures/2/fixture96Plate.json
  shared-data/labware/fixtures/2/fixtureTipRack1000Ul.json
  shared-data/labware/fixtures/2/fixtureTipRack10Ul.json
  shared-data/labware/fixtures/2/fixtureTipRack300Ul.json
  shared-data/labware/fixtures/2/fixtureTrash.json
  shared-data/labware/fixtures/2/irregularLabwareExample1.json
  shared-data/labware/fixtures/2/labwareExample1.json
  shared-data/labware/fixtures/2/labwareExample2.json
  shared-data/labware/schemas/2.json
Labels: labware, ready for review

#3548 chore(flow): fix .flowconfig ignore rules
  .flowconfig
Labels: chore, ready for review

#3577 fix(flow): declare node_modules and shared-data defs as untyped
  .flowconfig
Labels: chore, fix

#3578 refactor(labware-library): Update TableTitle expandable styles
  labware-library/src/components/ui/LabeledValueTable.js
  labware-library/src/components/ui/TableTitle.js
  labware-library/src/components/ui/styles.css
Labels: app, fix, ready for review, small

#3531 feat(app): Get protocolDisplayData based on protocol schema
  app/src/protocol/index.js
  app/src/protocol/protocol-data.js
  app/src/protocol/types.js
  shared-data/js/index.js
  shared-data/protocol/index.js
Labels: app, feature, json protocol schema, ready for review

#3348 feat(api): add missing TC stuff for science testing
  api/src/opentrons/commands/commands.py
  api/src/opentrons/commands/types.py
  api/src/opentrons/drivers/temp_deck/driver.py
  api/src/opentrons/drivers/thermocycler/driver.py
  api/src/opentrons/drivers/utils.py
  api/src/opentrons/hardware_control/modules/thermocycler.py
  api/src/opentrons/protocol_api/contexts.py
  api/src/opentrons/protocol_api/labware.py
Labels: api, medium, ready for review

#3550 fix(api): Fix api v2 deck cal
  api/src/opentrons/deck_calibration/__init__.py
  api/src/opentrons/deck_calibration/dc_main.py
  api/src/opentrons/deck_calibration/endpoints.py
  api/src/opentrons/hardware_control/__init__.py
  api/src/opentrons/hardware_control/adapters.py
  api/src/opentrons/hardware_control/modules/magdeck.py
  api/src/opentrons/hardware_control/modules/tempdeck.py
  api/src/opentrons/hardware_control/modules/thermocycler.py
  api/src/opentrons/legacy_api/robot/robot.py
  api/src/opentrons/util/linal.py
  api/tests/opentrons/cli/test_cli.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/hardware_control/test_moves.py
  api/tests/opentrons/server/calibration_integration_test.py
  api/tests/opentrons/server/test_calibration_endpoints.py
Labels: api, fix, ready for review, small

#3593 chore(api): Remove all tests that use the unittest library module
  api/tests/opentrons/containers/test_containers.py
  api/tests/opentrons/containers/test_grid.py
  api/tests/opentrons/containers/test_placeable_unittest.py
  api/tests/opentrons/helpers/test_helpers.py
  api/tests/opentrons/integration/test_protocol.py
  api/tests/opentrons/labware/test_pipette_unittest.py
  api/tests/opentrons/util/test_vector.py
Labels: api, chore, medium

#3585 fix(protocol-designer): fix bug with pipette field change
  protocol-designer/src/steplist/formLevel/getDefaultsForStepType.js
  protocol-designer/src/steplist/formLevel/handleFormChange/dependentFieldsUpdateMoveLiquid.js
Labels: fix, ready for review

#3591 feat(protocol-designer): load v3 protocols
  app/src/protocol/__tests__/reducer.test.js
  protocol-designer/src/load-file/migration/1_1_0.js
  protocol-designer/src/load-file/migration/index.js
  protocol-designer/src/step-forms/reducers/index.js
  protocol-designer/src/step-forms/utils.js
  protocol-designer/src/step-generation/commandCreators/atomic/aspirate.js
Labels: protocol designer, ready for review

#3592 feat(protocol-designer): select only latest labware
  protocol-designer/src/components/LabwareSelectionModal/LabwareSelectionModal.js
  protocol-designer/src/components/modals/FilePipettesModal/PipetteFields.js
  protocol-designer/src/labware-defs/utils.js
Labels: protocol designer, ready for review

#3590 feat(app): add support for v2 labware
  api/src/opentrons/api/models.py
  app/src/components/CalibrateLabware/index.js
  app/src/components/CalibrateLabware/styles.css
  app/src/components/CalibrationInfoBox.js
  app/src/components/ConnectModules/Prompt.js
  app/src/components/ConnectModules/index.js
  app/src/components/ConnectModules/styles.css
  app/src/components/ConnectModulesModal/ReviewModuleItem.js
  app/src/components/ConnectModulesModal/styles.css
  app/src/components/DeckMap/ConnectedSlotItem.js
  app/src/components/DeckMap/LabwareItem.js
  app/src/components/DeckMap/LabwareSpinner.js
  app/src/components/DeckMap/index.js
  app/src/components/DeckMap/styles.css
  app/src/components/ReviewDeck/Prompt.js
  app/src/components/ReviewDeck/index.js
  app/src/components/ReviewDeck/styles.css
  app/src/components/ReviewDeckModal/LabwareComponent.js
  app/src/components/ReviewDeckModal/ReviewDeck.js
  app/src/components/ReviewDeckModal/styles.css
  app/src/components/calibration-info.css
  app/src/components/modals/Modal.js
  app/src/getLabware.js
  app/src/pages/Calibrate/Labware.js
  app/src/robot/api-client/client.js
  app/src/robot/types.js
  app/src/util.js
  components/src/deck/ContainerNameOverlay.js
  components/src/deck/FallbackLabware.js
  components/src/deck/Labware.css
  components/src/deck/Labware.js
  components/src/deck/Labware.md
  components/src/deck/LabwareNameOverlay.js
  components/src/deck/Module.css
  components/src/deck/Module.js
  components/src/deck/RobotCoordsForeignDiv.js
  components/src/deck/RobotWorkSpace.css
  components/src/deck/RobotWorkSpace.js
  components/src/deck/Well.js
  components/src/deck/index.js
  protocol-designer/src/components/DeckSetup/DeckSetup.css
  protocol-designer/src/components/DeckSetup/DeckSetup.js
Labels: api, app, components, feature, ready for review

#3462 refactor(app): Move /pipettes state to redux-observable
  app/src/analytics/selectors.js
  app/src/components/ChangePipette/Instructions.js
  app/src/components/ChangePipette/index.js
  app/src/components/ChangePipette/types.js
  app/src/components/ConfigurePipette/ConfigForm.js
  app/src/components/ConfigurePipette/index.js
  app/src/components/FileInfo/ProtocolPipettesCard.js
  app/src/components/InstrumentSettings/AttachedPipettesCard.js
  app/src/components/calibrate-pipettes/Pipettes.js
  app/src/http-api-client/__tests__/motors.test.js
  app/src/http-api-client/__tests__/pipettes.test.js
  app/src/http-api-client/index.js
  app/src/http-api-client/motors.js
  app/src/http-api-client/pipettes.js
  app/src/http-api-client/reducer.js
  app/src/pages/Calibrate/Pipettes.js
  app/src/robot-api/http.js
  app/src/robot-api/resources/index.js
  app/src/robot-api/resources/pipettes.js
  app/src/robot-api/resources/settings.js
  app/src/robot-api/resources/types.js
  app/src/robot-api/types.js
  app/src/robot-api/utils.js
  app/src/robot/selectors.js
  app/src/robot/test/selectors.test.js
  app/src/types.js
  app/src/util.js
Labels: app, ready for review, refactor

#3600 fix(protocol-designer): redo disambiguation nums for labware
  protocol-designer/src/components/DeckSetup/LabwareOverlays/LabwareName.js
  protocol-designer/src/components/EditableTextField.js
  protocol-designer/src/components/IngredientsList/LabwareDetailsCard/index.js
  protocol-designer/src/labware-ingred/__tests__/containers.test.js
  protocol-designer/src/labware-ingred/__tests__/ingredients.test.js
  protocol-designer/src/labware-ingred/__tests__/utils.test.js
  protocol-designer/src/labware-ingred/actions/actions.js
  protocol-designer/src/labware-ingred/actions/thunks.js
  protocol-designer/src/labware-ingred/reducers/index.js
  protocol-designer/src/labware-ingred/types.js
  protocol-designer/src/labware-ingred/utils.js
  protocol-designer/src/ui/labware/selectors.js
Labels: protocol designer, ready for review

#3613 refactor(labware-library): Fix RWS usage by re-adding width and height
  labware-library/src/components/labware-ui/Gallery.js
  labware-library/src/components/labware-ui/styles.css
Labels: labware, ready for review

#3608 feat(components): Make design changes to RWS
  components/src/deck/Deck.css
  components/src/deck/FallbackLabware.js
  components/src/deck/Labware.css
  components/src/deck/Labware.js
  components/src/deck/LabwareNameOverlay.css
  components/src/deck/LabwareOutline.js
  components/src/deck/labwareInternals/StaticLabware.js
  components/src/deck/labwareInternals/staticLabware.css
  protocol-designer/src/components/DeckSetup/DeckSetup.css
  protocol-designer/src/components/DeckSetup/DeckSetup.js
  protocol-designer/src/components/DeckSetup/LabwareOverlays/LabwareControls.js
  protocol-designer/src/components/DeckSetup/LabwareOverlays/LabwareOverlays.css
Labels: components, ready for review

#3606 feat(protocol-designer): migrate PD files to 3.0.0
  api/tests/opentrons/protocol_api/test_execute_v3.py
  api/tests/opentrons/protocols/test_execute_v3.py
  components/src/deck/LabwareRender.md
  labware-library/src/components/LabwareList/__tests__/__snapshots__/LabwareList.test.js.snap
  protocol-designer/src/file-data/__tests__/commandsSelectors.test.js
  protocol-designer/src/labware-defs/selectors.js
  protocol-designer/src/load-file/__tests__/fixtures/v1_1_0/example_1_1_0.json
  protocol-designer/src/load-file/migration/1_1_0.js
  protocol-designer/src/load-file/migration/3_0_0.js
  protocol-designer/src/load-file/migration/__tests__/3_0_0.test.js
  protocol-designer/src/load-file/migration/__tests__/__snapshots__/3_0_0.test.js.snap
  protocol-designer/src/load-file/migration/__tests__/index.test.js
  protocol-designer/src/load-file/migration/index.js
  protocol-designer/src/load-file/migration/utils/__mocks__/v1LabwareModelToV2Def.js
  protocol-designer/src/load-file/migration/utils/v1LabwareModelToV2Def.js
  protocol-designer/src/step-forms/selectors/index.js
  protocol-designer/src/step-generation/test-with-flow/__snapshots__/fixtureGeneration.test.js.snap
  protocol-designer/src/step-generation/test-with-flow/aspirate.test.js
  protocol-designer/src/step-generation/test-with-flow/dispenseUpdateLiquidState.test.js
  protocol-designer/src/step-generation/test-with-flow/fixtures/robotStateFixtures.js
  protocol-designer/src/step-generation/test-with-flow/robotStateSelectors.test.js
  protocol-designer/src/step-generation/test-with-flow/utils.test.js
  protocol-designer/src/steplist/formLevel/handleFormChange/test/mix.test.js
  protocol-designer/src/steplist/formLevel/handleFormChange/test/moveLiquid.test.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/test/moveLiquidFormToArgs.test.js
  protocol-designer/src/top-selectors/well-contents/__tests__/getWellContentsAllLabware.test.js
  protocol-designer/src/well-selection/test/utils.test.js
  shared-data/js/__tests__/getWellNamePerMultiTip.test.js
  shared-data/js/__tests__/labwareDefSchemaV2.test.js
  shared-data/js/labwareTools/__tests__/createIrregularLabware.test.js
  shared-data/js/labwareTools/__tests__/createLabware.test.js
  shared-data/labware/fixtures/2/fixture_12_trough.json
  shared-data/labware/fixtures/2/fixture_24_tuberack.json
  shared-data/labware/fixtures/2/fixture_384_plate.json
  shared-data/labware/fixtures/2/fixture_96_plate.json
  shared-data/labware/fixtures/2/fixture_irregular_example_1.json
  shared-data/labware/fixtures/2/fixture_regular_example_1.json
  shared-data/labware/fixtures/2/fixture_regular_example_2.json
  shared-data/labware/fixtures/2/fixture_tiprack_1000_ul.json
  shared-data/labware/fixtures/2/fixture_tiprack_10_ul.json
  shared-data/labware/fixtures/2/fixture_tiprack_300_ul.json
  shared-data/labware/fixtures/2/fixture_trash.json
  shared-data/protocol/flowTypes/schemaV3.js
Labels: protocol designer, ready for review

#3607 refactor(app-shell): Check for presence of buildroot files
  __mocks__/setup-mock-globals.js
  app-shell/src/buildroot.js
  app-shell/src/main.js
  app-shell/src/preload.js
  app/src/shell/__tests__/buildroot.test.js
  app/src/shell/buildroot.js
  app/src/shell/index.js
Labels: app, ready for review

#3620 refactor(labware-library): Use parameters.tipLength for total tip length
  labware-library/src/components/LabwareDetails/InsertDetails.js
  labware-library/src/components/LabwareDetails/LabwareDetailsBox.js
  labware-library/src/components/LabwareDetails/WellDimensions.js
  labware-library/src/components/labware-ui/labels.js
  labware-library/src/images/opentrons_96_tiprack_1000ul_side_view.jpg
  labware-library/src/localization/en.js
  protocol-designer/src/load-file/__tests__/fixtures/v1_1_0/example_1_1_0.json
Labels: fix, labware, ready for review

#3570 feat(shared-data): add 1-well troughs and 96-well deep well plate
  labware-library/src/components/labware-ui/labware-images.js
  labware-library/src/images/agilent_1_reservoir_290ml_side_view.jpg
  labware-library/src/images/axygen_1_reservoir_90ml_side_view.jpg
  labware-library/src/images/usascientific_96_wellplate_2.4ml_deep_side_view.jpg
  shared-data/labware/definitions/2/agilent_1_reservoir_290ml/1.json
  shared-data/labware/definitions/2/axygen_1_reservoir_90ml/1.json
  shared-data/labware/definitions/2/generic_96_wellplate_1.5ml_deep/1.json
  shared-data/labware/definitions/2/usascientific_96_wellplate_2.4ml_deep/1.json
Labels: feature, labware, ready for review, shared data

#3621 fix(protocol-designer): fix bug with timeline idx out of range
  protocol-designer/src/components/labware/SelectableLabware.js
  protocol-designer/src/top-selectors/well-contents/index.js
Labels: fix, protocol designer, ready for review

#3547 refactor(shared-data): clarify v1 vs v2 labware defs
  app/src/getLabware.js
  components/src/deck/Labware.js
  components/src/deck/LabwareLabels.js
  protocol-designer/src/load-file/migration/1_1_0.js
  shared-data/js/getLabware.js
  shared-data/js/types.js
Labels: ready for review, refactor

#3624 fix(components): fix console error with invalid transform
  components/src/deck/RobotCoordsForeignDiv.js
  components/src/lists/ListItem.md
Labels: components, fix, ready for review

#3622 fix(app-shell): Clean up main window and DC on app quit
  __mocks__/electron.js
  app-shell/src/__tests__/discovery.test.js
  app-shell/src/discovery.js
  app-shell/src/main.js
Labels: app, fix, ready for review

#3627 feat(shared-data): display specific v2 labware as "retired"
  protocol-designer/src/components/DeckSetup/LabwareOverlays/EditLabware.js
  protocol-designer/src/components/DeckSetup/LabwareOverlays/LabwareName.js
  protocol-designer/src/components/LabwareSelectionModal/LabwarePreview.js
  protocol-designer/src/components/LabwareSelectionModal/LabwareSelectionModal.js
  protocol-designer/src/components/modals/FilePipettesModal/PipetteFields.js
  protocol-designer/src/labware-defs/utils.js
  shared-data/js/helpers/index.js
Labels: labware, protocol designer, ready for review, shared data

#3628 chore(api): Add api-specific user facing release notes
  CONTRIBUTING.md
  api/buildroot.mk
  api/release-notes.md
Labels: api, chore

#3629 refactor(app): View buildroot update notification
  app-shell/src/buildroot.js
  app/src/components/RobotSettings/InformationCard.js
  app/src/components/RobotSettings/UpdateBuildroot/index.js
  app/src/components/RobotSettings/UpdateBuildroot/styles.css
  app/src/pages/Robots/RobotSettings.js
  app/src/shell/__tests__/buildroot.test.js
  app/src/shell/buildroot.js
  app/src/shell/index.js
Labels: app, ready for review, refactor

#3616 refactor(app,pd): Upgrade react-redux to 7.1 for hooks
  app/package.json
  app/src/analytics/index.js
  app/src/components/CalibrateDeck/ClearDeckAlert.js
  app/src/components/CalibrateDeck/InstructionsModal.js
  app/src/components/CalibrateDeck/index.js
  app/src/components/CalibrateLabware/InfoBox.js
  app/src/components/ChangePipette/Instructions.js
  app/src/components/ChangePipette/index.js
  app/src/components/ChangePipette/types.js
  app/src/components/ConfigurePipette/index.js
  app/src/components/ConfirmTipProbeModal/index.js
  app/src/components/LostConnectionAlert/index.js
  app/src/components/RobotSettings/CalibrationCard.js
  app/src/components/RobotSettings/ControlsCard.js
  app/src/components/RobotSettings/ResetRobotModal.js
  app/src/components/RobotSettings/UpdateRobot/RestartRobotModal.js
  app/src/components/RobotSettings/UpdateRobot/UpdateRobotModal.js
  app/src/components/RunLog/ConfirmCancelModal.js
  app/src/components/TipProbe/UnprobedPanel.js
  app/src/index.js
  app/src/pages/Calibrate/Labware.js
  app/src/pages/More/AppSettings.js
  app/src/reducer.js
  app/src/robot-api/__tests__/hooks.test.js
  app/src/robot-api/hooks.js
  app/src/robot-api/index.js
  app/src/robot/api-client/client.js
  app/src/robot/test/api-client.test.js
  app/src/types.js
  components/src/hooks/__tests__/usePrevious.test.js
  components/src/hooks/index.js
  components/src/hooks/usePrevious.js
  components/src/index.js
  flow-typed/npm/connected-react-router_vx.x.x.js
  flow-typed/npm/enzyme_v3.x.x.js
  flow-typed/npm/react-redux_v7.1.x.js
  flow-typed/npm/react-test-renderer_v16.x.x.js
  package.json
  protocol-designer/package.json
  protocol-library-kludge/package.json
  yarn.lock
Labels: app, protocol designer, ready for review, refactor

#3632 feat(protocol-designer): warn on migrating to 3.0.0
  protocol-designer/src/components/modals/FileUploadMessageModal/FileUploadMessageModal.js
  protocol-designer/src/components/modals/FileUploadMessageModal/index.js
  protocol-designer/src/components/modals/FileUploadMessageModal/modalContents.css
  protocol-designer/src/components/modals/FileUploadMessageModal/modalContents.js
  protocol-designer/src/components/modals/FileUploadMessageModal/types.js
  protocol-designer/src/components/modals/modal.css
  protocol-designer/src/configureStore.js
  protocol-designer/src/load-file/actions.js
  protocol-designer/src/load-file/migration/index.js
  protocol-designer/src/load-file/reducers.js
  protocol-designer/src/load-file/types.js
Labels: protocol designer, ready for review

#3635 fix(api): Remove usage of time.clock()
  api/src/opentrons/server/__init__.py
Labels: api, chore, ready for review

#3638 refactor(app-shell): Add missing existence check to FF object
  app-shell/src/buildroot.js
Labels: app, fix

#3640 fix(protocol-designer): fix bug with protocol title
  protocol-designer/src/components/FilePage.js
  protocol-designer/src/load-file/__tests__/fixtures/v1_1_0/example_1_1_0.json
  protocol-designer/src/load-file/migration/__tests__/__snapshots__/3_0_0.test.js.snap
Labels: fix, protocol designer, ready for review

#3642 feat(labware): zero out cornerOffsetFromSlot from all current v2 labware defs
  labware-library/src/components/LabwareList/__tests__/__snapshots__/LabwareList.test.js.snap
  protocol-designer/src/step-generation/test-with-flow/__snapshots__/fixtureGeneration.test.js.snap
  shared-data/js/labwareTools/__tests__/createIrregularLabware.test.js
  shared-data/js/labwareTools/index.js
  shared-data/labware/definitions/2/agilent_1_reservoir_290ml/1.json
  shared-data/labware/definitions/2/axygen_1_reservoir_90ml/1.json
  shared-data/labware/definitions/2/biorad_96_wellplate_200ul_pcr/1.json
  shared-data/labware/definitions/2/corning_12_wellplate_6.9ml_flat/1.json
  shared-data/labware/definitions/2/corning_24_wellplate_3.4ml_flat/1.json
  shared-data/labware/definitions/2/corning_384_wellplate_112ul_flat/1.json
  shared-data/labware/definitions/2/corning_48_wellplate_1.6ml_flat/1.json
  shared-data/labware/definitions/2/corning_6_wellplate_16.8ml_flat/1.json
  shared-data/labware/definitions/2/eppendorf_96_tiprack_1000ul_eptips/1.json
  shared-data/labware/definitions/2/eppendorf_96_tiprack_10ul_eptips/1.json
  shared-data/labware/definitions/2/geb_96_tiprack_1000ul/1.json
  shared-data/labware/definitions/2/geb_96_tiprack_10ul/1.json
  shared-data/labware/definitions/2/generic_96_wellplate_1.5ml_deep/1.json
  shared-data/labware/definitions/2/generic_96_wellplate_300ul_pcr/1.json
  shared-data/labware/definitions/2/generic_96_wellplate_340ul_flat/1.json
  shared-data/labware/definitions/2/opentrons_10_tuberack_falcon_4x50ml_6x15ml_conical/1.json
  shared-data/labware/definitions/2/opentrons_10_tuberack_falcon_4x50ml_6x15ml_conical_acrylic/1.json
  shared-data/labware/definitions/2/opentrons_15_tuberack_falcon_15ml_conical/1.json
  shared-data/labware/definitions/2/opentrons_1_trash_1100ml_fixed/1.json
  shared-data/labware/definitions/2/opentrons_1_trash_850ml_fixed/1.json
  shared-data/labware/definitions/2/opentrons_24_aluminumblock_generic_2ml_screwcap/1.json
  shared-data/labware/definitions/2/opentrons_24_tuberack_eppendorf_1.5ml_safelock_snapcap/1.json
  shared-data/labware/definitions/2/opentrons_24_tuberack_eppendorf_2ml_safelock_snapcap/1.json
  shared-data/labware/definitions/2/opentrons_24_tuberack_eppendorf_2ml_safelock_snapcap_acrylic/1.json
  shared-data/labware/definitions/2/opentrons_24_tuberack_generic_0.75ml_snapcap_acrylic/1.json
  shared-data/labware/definitions/2/opentrons_24_tuberack_generic_2ml_screwcap/1.json
  shared-data/labware/definitions/2/opentrons_40_aluminumblock_eppendorf_24x2ml_safelock_snapcap_generic_16x0.2ml_pcr_strip/1.json
  shared-data/labware/definitions/2/opentrons_6_tuberack_falcon_50ml_conical/1.json
  shared-data/labware/definitions/2/opentrons_96_aluminumblock_biorad_wellplate_200ul/1.json
  shared-data/labware/definitions/2/opentrons_96_aluminumblock_generic_pcr_strip_200ul/1.json
  shared-data/labware/definitions/2/opentrons_96_tiprack_1000ul/1.json
  shared-data/labware/definitions/2/opentrons_96_tiprack_10ul/1.json
  shared-data/labware/definitions/2/opentrons_96_tiprack_300ul/1.json
  shared-data/labware/definitions/2/tipone_96_tiprack_200ul/1.json
  shared-data/labware/definitions/2/usascientific_12_reservoir_22ml/1.json
  shared-data/labware/definitions/2/usascientific_96_wellplate_2.4ml_deep/1.json
  shared-data/labware/fixtures/2/fixture_12_trough.json
  shared-data/labware/fixtures/2/fixture_24_tuberack.json
  shared-data/labware/fixtures/2/fixture_384_plate.json
  shared-data/labware/fixtures/2/fixture_96_plate.json
  shared-data/labware/fixtures/2/fixture_irregular_example_1.json
  shared-data/labware/fixtures/2/fixture_regular_example_1.json
  shared-data/labware/fixtures/2/fixture_regular_example_2.json
  shared-data/labware/fixtures/2/fixture_tiprack_1000_ul.json
  shared-data/labware/fixtures/2/fixture_tiprack_10_ul.json
  shared-data/labware/fixtures/2/fixture_tiprack_300_ul.json
  shared-data/labware/fixtures/2/fixture_trash.json
  shared-data/labware/schemas/2.json
Labels: labware, ready for review

#3623 fix(shared-data): patch some v2 labware from drawings
  shared-data/labware/definitions/2/corning_384_wellplate_112ul_flat/1.json
  shared-data/labware/definitions/2/corning_48_wellplate_1.6ml_flat/1.json
  shared-data/labware/definitions/2/opentrons_10_tuberack_falcon_4x50ml_6x15ml_conical/1.json
  shared-data/labware/definitions/2/opentrons_10_tuberack_falcon_4x50ml_6x15ml_conical_acrylic/1.json
  shared-data/labware/definitions/2/opentrons_15_tuberack_falcon_15ml_conical/1.json
  shared-data/labware/definitions/2/opentrons_24_tuberack_eppendorf_2ml_safelock_snapcap/1.json
  shared-data/labware/definitions/2/opentrons_6_tuberack_falcon_50ml_conical/1.json
Labels: fix, labware, ready for review, shared data

#3644 fix(app,pd): Truncate long labware names
  api/tests/opentrons/data/calibration-validation.py
  app/src/__mocks__/getLabware.js
  app/src/components/CalibrateLabware/ConfirmModal.js
  app/src/components/CalibrateLabware/InfoBox.js
  app/src/components/CalibrateLabware/styles.css
  app/src/components/CalibratePanel/LabwareListItem.js
  app/src/components/CalibratePanel/PipetteListItem.js
  app/src/components/CalibratePanel/styles.css
  app/src/components/CalibrationInfoBox.js
  app/src/components/ChangePipette/index.js
  app/src/components/DeckMap/LabwareItem.js
  app/src/components/DeckMap/styles.css
  app/src/components/FileInfo/ProtocolPipettesCard.js
  app/src/components/ReviewDeck/Prompt.js
  app/src/components/calibrate-pipettes/Pipettes.js
  app/src/pages/Calibrate/Pipettes.js
  app/src/robot/selectors.js
  app/src/robot/test/selectors.test.js
  app/src/robot/types.js
  components/src/__tests__/__snapshots__/instrument-diagram.test.js.snap
  components/src/__tests__/__snapshots__/modals.test.js.snap
  components/src/__tests__/__snapshots__/structure.test.js.snap
  components/src/instrument-diagram/InstrumentInfo.js
  components/src/modals/ModalPage.js
  components/src/structure/TitleBar.js
  components/src/structure/structure.css
  protocol-designer/src/components/ProtocolEditor.css
  protocol-designer/src/containers/ConnectedTitleBar.js
  protocol-designer/src/step-forms/selectors/index.js
  scripts/setup-global-mocks.js
Labels: app, fix, protocol designer

#3625 feat(shared-data): Add Corning 96 flat labware def
  labware-library/src/components/labware-ui/labware-images.js
  labware-library/src/images/corning_96_wellplate_360ul_flat_three_quarters.jpg
  shared-data/labware/definitions/2/corning_96_wellplate_360ul_flat/1.json
Labels: feature, labware, ready for review, shared data

#3645 chore(api): Make a makefile target for installing an ssh key on br
  api/Makefile
Labels: api, chore

#3651 chore(api): Minify json files in shared data when we build wheel
  api/setup.py
Labels: api, chore

#3636 feat(labware): update labware mapping
  api/src/opentrons/protocol_api/back_compat.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/containers/test_containers.py
  api/tests/opentrons/data/testosaur_v2.py
  api/tests/opentrons/protocol_api/test_back_compat.py
  api/tests/opentrons/protocol_api/test_context.py
  api/tests/opentrons/protocol_api/test_execute_v1.py
  api/tests/opentrons/protocol_api/test_execute_v3.py
  api/tests/opentrons/protocol_api/test_geometry.py
  api/tests/opentrons/protocol_api/test_labware.py
  api/tests/opentrons/protocol_api/test_labware_load.py
  api/tests/opentrons/protocol_api/test_module_context.py
  api/tests/opentrons/protocol_api/test_transfers.py
  labware-designer/README.md
  labware-library/src/components/labware-ui/labware-images.js
  protocol-designer/src/load-file/migration/utils/v1LabwareModelToV2Def.js
  shared-data/js/helpers/index.js
  shared-data/labware/definitions/2/corning_96_wellplate_360ul_flat/1.json
  shared-data/labware/definitions/2/generic_96_wellplate_1.5ml_deep/1.json
  shared-data/labware/definitions/2/generic_96_wellplate_300ul_pcr/1.json
  shared-data/labware/definitions/2/generic_96_wellplate_340ul_flat/1.json
Labels: api, labware, ready for review
