Repository Opentrons/opentrons, pull requests merged in 2019-08, with the labels that each got.

#3802 refactor(app): Allow user to update BR robot from file
  app-shell/package.json
  app-shell/src/buildroot/index.js
  app-shell/src/buildroot/release-files.js
  app-shell/src/buildroot/types.js
  app-shell/src/buildroot/update.js
  app/src/components/RobotSettings/AdvancedSettingsCard.js
  app/src/components/RobotSettings/UpdateBuildroot/InstallModal.js
  app/src/components/RobotSettings/UpdateBuildroot/InstallModalContents.js
  app/src/components/RobotSettings/UpdateBuildroot/ReleaseNotesModal.js
  app/src/components/RobotSettings/UpdateBuildroot/SkipAppUpdateMessage.js
  app/src/components/RobotSettings/UpdateBuildroot/index.js
  app/src/components/RobotSettings/UpdateBuildroot/progress.js
  app/src/components/RobotSettings/UpdateBuildroot/styles.css
  app/src/components/RobotSettings/UploadRobotUpdate.js
  app/src/pages/Robots/RobotSettings.js
  app/src/shell/buildroot/__tests__/actions.test.js
  app/src/shell/buildroot/__tests__/reducer.test.js
  app/src/shell/buildroot/__tests__/selectors.test.js
  app/src/shell/buildroot/__tests__/update-epics.test.js
  app/src/shell/buildroot/actions.js
  app/src/shell/buildroot/reducer.js
  app/src/shell/buildroot/selectors.js
  app/src/shell/buildroot/types.js
  app/src/shell/buildroot/update-epics.js
  yarn.lock
Labels: app, feature, ready for review

#3812 refactor(api): apiv2: raise error on api version mismatch
  api/src/opentrons/api/session.py
Labels: api, papi v2, refactor

#3807 feat(api): move gantry to safe spot while TC lid moves
  api/src/opentrons/hardware_control/__init__.py
  api/src/opentrons/protocol_api/contexts.py
Labels: api, feature, ready for review

#3813 refactor(app): Remove migrated balena robots from discovery
  app-shell/src/__tests__/discovery.test.js
  app-shell/src/discovery.js
  app/src/components/RobotSettings/UpdateBuildroot/InstallModalContents.js
  app/src/discovery/__tests__/actions.test.js
  app/src/discovery/__tests__/epics.test.js
  app/src/discovery/actions.js
  app/src/discovery/epics.js
  app/src/discovery/index.js
  app/src/discovery/types.js
  app/src/epic.js
  app/src/index.js
  app/src/shell/buildroot/update-epics.js
Labels: app, medium, ready for review

#3814 chore(api): build: better logic to get git branch from detached HEAD
  scripts/python_build_utils.py
Labels: api, chore, infrastructure, ready for review

#3804 refactor(shared-data): labwareTools refactor for Labware Creator
  shared-data/js/labwareTools/index.js
Labels: ready for review, refactor, shared data

#3759 refactor(api): Add GEN2 pipettes to deck CLI
  api/src/opentrons/deck_calibration/__init__.py
  api/src/opentrons/deck_calibration/dc_main.py
  api/src/opentrons/hardware_control/__init__.py
  api/src/opentrons/hardware_control/controller.py
  api/src/opentrons/hardware_control/pipette.py
  api/src/opentrons/hardware_control/simulator.py
  api/src/opentrons/legacy_api/instruments/pipette.py
  api/src/opentrons/util/logging_config.py
  api/tests/opentrons/cli/test_cli.py
Labels: api, ready for review

#3815 chore(api): Pull wheel size <1M, again
  api/Makefile
  api/setup.py
  api/src/opentrons/config/smoothie/config_one_pro_plus
  api/src/opentrons/config/smoothie/smoothie-defaults.ini
  scripts/python_build_utils.py
Labels: api, chore

#3811 fix(api): force nmcli to actively check for connectivity
  api/src/opentrons/system/nmcli.py
Labels: api, fix, ready for review

#3799 fix(api): apiv2: fix mix, blowout in advanced steps
  api/src/opentrons/hardware_control/__init__.py
  api/src/opentrons/protocol_api/contexts.py
  api/src/opentrons/protocol_api/transfers.py
  api/tests/opentrons/protocol_api/test_context.py
  api/tests/opentrons/protocol_api/test_transfers.py
Labels: api, fix, papi v2, ready for review

#3801 fix(api): apiv2: fix overaspiration after blowout
  api/src/opentrons/hardware_control/__init__.py
  api/src/opentrons/hardware_control/pipette.py
  api/src/opentrons/protocol_api/contexts.py
  api/tests/opentrons/hardware_control/test_instruments.py
  api/tests/opentrons/protocol_api/test_context.py
Labels: api, fix, ready for review

#3818 chore(api): move twine check to test target
  api/Makefile
Labels: api, chore, infrastructure

#3806 refactor(api): apiv2 name changes
  api/docs/source/new_protocol_api.rst
  api/src/opentrons/protocol_api/back_compat.py
  api/src/opentrons/protocol_api/contexts.py
  api/src/opentrons/protocol_api/execute_v1.py
  api/src/opentrons/protocol_api/execute_v3.py
  api/src/opentrons/protocol_api/labware.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/data/testosaur_v2.py
  api/tests/opentrons/protocol_api/test_accessor_fn.py
  api/tests/opentrons/protocol_api/test_back_compat.py
  api/tests/opentrons/protocol_api/test_context.py
  api/tests/opentrons/protocol_api/test_execute_v1.py
  api/tests/opentrons/protocol_api/test_execute_v3.py
  api/tests/opentrons/protocol_api/test_labware.py
  api/tests/opentrons/protocol_api/test_labware_load.py
  api/tests/opentrons/protocol_api/test_module_context.py
  api/tests/opentrons/protocol_api/test_transfers.py
Labels: BREAKING CHANGE, api, papi v2, ready for review, refactor

#3819 refactor(api): Remove all instances of v3/v4 api
  api/src/opentrons/config/__init__.py
  api/src/opentrons/legacy_api/containers/__init__.py
  api/src/opentrons/protocol_api/labware.py
  api/tests/opentrons/protocol_api/test_offsets.py
  api/tests/opentrons/server/test_settings_endpoints.py
Labels: api, ready for review

#3816 refactor(components): pass thru props for RadioGroup
  components/src/forms/DropdownField.js
  components/src/forms/RadioGroup.js
Labels: components, ready for review, refactor

#3823 refactor(app): Display pipette in center of trough wells on apiv2
  api/src/opentrons/api/session.py
  app/src/components/CalibrateLabware/ConfirmModalContents.js
  app/src/components/CalibrateLabware/ConfirmPositionContents.js
  app/src/components/CalibrateLabware/ConfirmPositionDiagram.js
  app/src/components/CalibrateLabware/images/step-1-trough-centered-single@3x.png
  app/src/components/CalibrateLabware/instructions-data.js
  app/src/robot/actions.js
  app/src/robot/api-client/client.js
  app/src/robot/reducer/session.js
  app/src/robot/selectors.js
  app/src/robot/test/api-client.test.js
  app/src/robot/test/session-reducer.test.js
Labels: api, app, papi v2, ready for review, refactor

#3820 fix(app): Remove Electron RPC remote objects from Redux state
  app-shell/src/main.js
  app-shell/src/preload.js
  app/src/config/__tests__/config.test.js
  app/src/config/index.js
  app/src/config/types.js
  app/src/discovery/__tests__/reducer.test.js
  app/src/discovery/index.js
  app/src/epic.js
  app/src/index.js
  app/src/shell/__mocks__/remote.js
  app/src/shell/__tests__/epics.test.js
  app/src/shell/__tests__/shell.test.js
  app/src/shell/api-update.js
  app/src/shell/buildroot/selectors.js
  app/src/shell/index.js
  app/src/shell/types.js
Labels: app, bug, fix, ready for review

#3838 refactor(app): Ensure BR update is disabled if a diff robot is updating
  app/src/components/RobotSettings/InformationCard.js
  app/src/components/layout/index.js
  app/src/http-api-client/server.js
  components/src/buttons/Button.js
  components/src/hooks/__tests__/useInterval.test.js
  components/src/hooks/index.js
  components/src/hooks/useInterval.js
Labels: app, ready for review, small

#3821 refactor(app): Add analytics tracking for buildroot updates
  app/src/analytics/__tests__/epics.test.js
  app/src/analytics/__tests__/make-event.test.js
  app/src/analytics/epics.js
  app/src/analytics/index.js
  app/src/analytics/make-event.js
  app/src/analytics/mixpanel.js
  app/src/analytics/selectors.js
  app/src/analytics/types.js
  app/src/components/RobotSettings/UpdateBuildroot/ReleaseNotesModal.js
  app/src/components/RobotSettings/UpdateBuildroot/ViewUpdateModal.js
  app/src/components/RobotSettings/UpdateBuildroot/index.js
  app/src/epic.js
  app/src/index.js
  app/src/robot/actions.js
  app/src/robot/api-client/client.js
  app/src/robot/test/actions.test.js
  app/src/robot/test/api-client.test.js
  app/src/shell/buildroot/__tests__/actions.test.js
  app/src/shell/buildroot/actions.js
  app/src/shell/buildroot/types.js
Labels: app, feature, ready for review

#3810 fix(api): duplicate mix with blowout during transfer
  api/src/opentrons/legacy_api/instruments/pipette.py
Labels: api, fix, ready for review

#3781 feat(api): apiv2: prevent over-aspiration with filter tips
  api/src/opentrons/hardware_control/__init__.py
  api/src/opentrons/hardware_control/pipette.py
  api/src/opentrons/protocol_api/contexts.py
  api/src/opentrons/protocol_api/labware.py
  api/src/opentrons/protocol_api/transfers.py
  api/tests/opentrons/hardware_control/test_instruments.py
  api/tests/opentrons/protocol_api/test_context.py
  api/tests/opentrons/protocol_api/test_transfers.py
Labels: api, feature, ready for review

#3843 refactor(app): Fix BR auto-popup and analytics bugs
  app/src/analytics/mixpanel.js
  app/src/components/ReleaseNotes/styles.css
  app/src/components/RobotSettings/UpdateBuildroot/MigrationWarningModal.js
  app/src/components/RobotSettings/UpdateBuildroot/SystemMigrationModal.js
  app/src/components/RobotSettings/UpdateBuildroot/VersionInfoModal.js
  app/src/components/RobotSettings/UpdateBuildroot/ViewUpdateModal.js
  app/src/components/RobotSettings/UpdateBuildroot/styles.css
  app/src/pages/Robots/RobotSettings.js
Labels: app, ready for review, refactor

#3845 chore(release): 3.11.0 alpha.1
  CHANGELOG.md
  api/release-notes.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/build/release-notes.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore, ready for review

#3848 refactor(app): toggle dev feature flags from settings
  app/src/components/AppSettings/AdvancedSettingsCard.js
  app/src/components/controls/LabeledToggle.js
  app/src/config/index.js
  app/src/config/types.js
Labels: app, ready for review, refactor

#3839 feat(api): cycle temperatures, pause, cancel, and resume to TC control
  api/src/opentrons/commands/commands.py
  api/src/opentrons/commands/types.py
  api/src/opentrons/hardware_control/__init__.py
  api/src/opentrons/hardware_control/modules/thermocycler.py
  api/src/opentrons/hardware_control/modules/types.py
  api/src/opentrons/protocol_api/contexts.py
  api/src/opentrons/server/endpoints/control.py
Labels: api, feature, ready for review

#3849 chore: Upgrade lerna for "version" command
  CONTRIBUTING.md
  Makefile
  lerna.json
  package.json
  yarn.lock
Labels: chore, ready for review

#3850 fix(api): Do not publish commands for RPC pause/resume in APIv1
  api/src/opentrons/api/session.py
  api/src/opentrons/legacy_api/robot/robot.py
  api/tests/opentrons/api/test_session.py
  api/tests/opentrons/integration/test_server.py
Labels: api, fix, papi v1, ready for review, rpc

#3853 feat(app): prompt to open TC lid before labware calibration
  app/src/components/ModuleControls/index.js
  app/src/components/ModuleLiveStatusCards/index.js
  app/src/components/PrepareModules/index.js
  app/src/components/PrepareModules/styles.css
  app/src/pages/Calibrate/Labware.js
  app/src/robot-api/resources/modules.js
  app/src/robot-api/resources/types.js
  app/src/robot-api/types.js
Labels: app, feature, ready for review

#3846 refactor(docs): Modify API v2 docs to match API v1 format
  api/Makefile
  api/docs/source/conf.py
  api/docs/source/index.rst
  api/docs/source/new_protocol_api.rst
  api/docs/source/static/override_sphinx.css
  api/docs/source/templates/toc-with-nav-force-no-hidden.html
  api/docs/source/templates/toc-with-nav-force-show-hidden.html
  api/docs/source/templates/toc-with-nav.html
  api/docs/source/v1/api.rst
  api/docs/source/v1/apiv1index.rst
  api/docs/source/v1/atomic_commands.rst
  api/docs/source/v1/complex_commands.rst
  api/docs/source/v1/examples.rst
  api/docs/source/v1/hardware_control.rst
  api/docs/source/v1/labware.rst
  api/docs/source/v1/modules.rst
  api/docs/source/v1/pipettes.rst
  api/docs/source/v2/apiv2index.rst
  api/docs/source/v2/new_atomic_commands.rst
  api/docs/source/v2/new_complex_commands.rst
  api/docs/source/v2/new_examples.rst
  api/docs/source/v2/new_hardware_control.rst
  api/docs/source/v2/new_labware.rst
  api/docs/source/v2/new_modules.rst
  api/docs/source/v2/new_pipette.rst
  api/docs/source/v2/new_protocol_api.rst
  api/docs/source/writing.rst
Labels: docs, ready for review

#3852 refactor(docs): Update OT-One API doc navigation
  api/docs/public/ot1/_static/alabaster.css
  api/docs/public/ot1/_static/nav.css
  api/docs/public/ot1/_static/new-nav.css
  api/docs/public/ot1/api.html
  api/docs/public/ot1/calibration.html
  api/docs/public/ot1/containers.html
  api/docs/public/ot1/examples.html
  api/docs/public/ot1/firmware.html
  api/docs/public/ot1/genindex.html
  api/docs/public/ot1/index.html
  api/docs/public/ot1/modules.html
  api/docs/public/ot1/pipettes.html
  api/docs/public/ot1/py-modindex.html
  api/docs/public/ot1/robot.html
  api/docs/public/ot1/search.html
  api/docs/public/ot1/transfer.html
  api/docs/public/ot1/writing.html
Labels: docs, refactor, small

#3854 fix(app): eagerly fetch modules and instruments on robot connect
  app/src/robot-api/resources/modules.js
  app/src/robot-api/resources/pipettes.js
Labels: app, fix

#3856 chore(api): force pypi readme eols to lf
  .gitattributes
Labels: api, chore

#3855 refactor(docs): Allow warnings locally but suppress on CI
  .travis.yml
  api/Makefile
Labels: api, docs, ready for review

#3857 feat(docs): Add transfers page for API v2
  api/docs/source/img/complex_commands/consolidate.png
  api/docs/source/img/complex_commands/distribute.png
  api/docs/source/img/complex_commands/distribute_illustration_tip.png
  api/docs/source/img/complex_commands/robot_consolidate.png
  api/docs/source/img/complex_commands/robot_distribute.png
  api/docs/source/img/complex_commands/transfer.png
  api/docs/source/v2/new_atomic_commands.rst
  api/docs/source/v2/new_complex_commands.rst
  api/docs/source/v2/new_pipette.rst
Labels: docs, ready for review

#3858 refactor(docs): apiv2 docs high level changes
  api/Makefile
  api/docs/source/v2/apiv2index.rst
  api/docs/source/v2/new_atomic_commands.rst
  api/docs/source/v2/new_complex_commands.rst
  api/docs/source/v2/new_examples.rst
  api/docs/source/v2/new_hardware_control.rst
  api/docs/source/v2/new_labware.rst
  api/docs/source/v2/new_modules.rst
  api/docs/source/v2/new_pipette.rst
Labels: api, docs, papi v2

#3859 refactor(api): add compatible modules to slot definitions and load by default slot
  api/docs/source/v2/new_modules.rst
  api/src/opentrons/protocol_api/__init__.py
  api/src/opentrons/protocol_api/contexts.py
  api/src/opentrons/protocol_api/geometry.py
  api/src/opentrons/protocol_api/labware.py
  api/tests/opentrons/protocol_api/test_module_context.py
  shared-data/deck/definitions/1/ot2_short_trash.json
  shared-data/deck/definitions/1/ot2_standard.json
  shared-data/deck/schemas/1.json
Labels: api, ready for review, refactor

#3868 feat(api): Add a log aggregation optout
  api/src/opentrons/config/advanced_settings.py
  api/src/opentrons/server/endpoints/logs.py
  api/src/opentrons/server/endpoints/settings.py
  api/src/opentrons/system/log_control.py
  api/tests/opentrons/config/test_advanced_settings_migration.py
Labels: api, feature

#3870 fix(app): fix protocol button
  app/src/components/nav-bar/NavButton.js
Labels: app, fix, ready for review

#3865 feat(protocol-designer): bump typeform/embed to v0.12.1
  protocol-designer/package.json
  yarn.lock
Labels: protocol designer, ready for review

#3864 feat(protocol-designer): warn user when exporting w/o steps
  protocol-designer/src/components/FileSidebar/ConnectedFileSidebar.js
  protocol-designer/src/components/FileSidebar/FileSidebar.js
  protocol-designer/src/components/FileSidebar/index.js
  protocol-designer/src/components/KnowledgeBaseLink/index.js
  protocol-designer/src/components/modals/modal.css
Labels: protocol designer, ready for review

#3869 feat(app): Add robot logging opt-out alert
  app/src/components/RobotSettings/AdvancedSettingsCard.js
Labels: app, feature, ready for review

#3874 fix(shared-data): fix "strict" arg for labware creation
  shared-data/js/labwareTools/__tests__/__snapshots__/createIrregularLabware.test.js.snap
  shared-data/js/labwareTools/__tests__/__snapshots__/createLabware.test.js.snap
  shared-data/js/labwareTools/__tests__/createIrregularLabware.test.js
  shared-data/js/labwareTools/__tests__/createLabware.test.js
  shared-data/js/labwareTools/index.js
Labels: fix, shared data

#3877 refactor(app): drive BR update logic from releases.json manifest
  app-shell/src/buildroot/index.js
  app/src/analytics/selectors.js
  app/src/components/ConnectPanel/RobotItem.js
  app/src/components/RobotSettings/InformationCard.js
  app/src/components/RobotSettings/UpdateBuildroot/InstallModalContents.js
  app/src/components/RobotSettings/UpdateBuildroot/MigrationWarningModal.js
  app/src/components/RobotSettings/UpdateBuildroot/VersionInfoModal.js
  app/src/components/RobotSettings/UpdateBuildroot/ViewUpdateModal.js
  app/src/components/RobotSettings/UpdateBuildroot/index.js
  app/src/components/nav-bar/NavButton.js
  app/src/pages/Robots/RobotSettings.js
  app/src/shell/buildroot/__tests__/selectors.test.js
  app/src/shell/buildroot/actions.js
  app/src/shell/buildroot/reducer.js
  app/src/shell/buildroot/selectors.js
  app/src/shell/buildroot/types.js
Labels: app, fix, ready for review

#3893 refactor(app): Disconnect RPC session on update start
  app/src/shell/buildroot/update-epics.js
Labels: app, bug, fix

#3895 fix(app): make shell remote check lazier to avoid spurious assertions
  app/src/shell/index.js
  app/src/shell/remote.js
  app/src/shell/types.js
Labels: app, bug, fix, ready for review

#3907 refactor(app): Allow "alpha" update channel with devtools enabled
  app/src/components/AppSettings/AdvancedSettingsCard.js
  app/src/config/index.js
  app/src/config/selectors.js
Labels: app, feature, ready for review

#3913 chore(docs): fix robot software stack release instructions
  CONTRIBUTING.md
Labels: chore, docs, ready for review

#3863 feat(protocol-designer): upload custom labware
  package.json
  protocol-designer/package.json
  protocol-designer/src/components/LabwareSelectionModal/LabwareItem.js
  protocol-designer/src/components/LabwareSelectionModal/LabwarePreview.js
  protocol-designer/src/components/LabwareSelectionModal/LabwareSelectionModal.js
  protocol-designer/src/components/LabwareSelectionModal/index.js
  protocol-designer/src/components/LabwareSelectionModal/styles.css
  protocol-designer/src/components/ProtocolEditor.js
  protocol-designer/src/components/modals/LabwareUploadMessageModal/LabwareUploadMessageModal.js
  protocol-designer/src/components/modals/LabwareUploadMessageModal/index.js
  protocol-designer/src/components/modals/modal.css
  protocol-designer/src/labware-defs/actions.js
  protocol-designer/src/labware-defs/reducers.js
  protocol-designer/src/labware-defs/selectors.js
  protocol-designer/src/labware-defs/types.js
  protocol-designer/src/load-file/reducers.js
  protocol-designer/src/localization/en/button.json
  protocol-designer/src/localization/en/modal.json
  protocol-designer/src/step-forms/reducers/index.js
  protocol-designer/src/step-forms/test/reducers.test.js
  protocol-designer/src/well-selection/utils.js
  shared-data/js/constants.js
  shared-data/js/helpers/index.js
  yarn.lock
Labels: protocol designer, ready for review

#3862 feat(shared-data): add NEST 96 wellplate 200 uL Flat
  labware-library/src/components/labware-ui/labware-images.js
  labware-library/src/images/nest_96_wellplate_200ul_flat_three_quarters.jpg
  shared-data/labware/definitions/2/nest_96_wellplate_200ul_flat/1.json
Labels: labware, ready for review, shared data

#3931 fix(labware-library): Fix incorrect tree hydration with query params
  labware-library/src/components/App/index.js
  labware-library/src/filters.js
Labels: bug, fix, labware, ready for review

#3932 feat(labware-creator): Add main navigation to labware creator page
  labware-library/src/components/App/__tests__/__snapshots__/App.test.js.snap
  labware-library/src/components/App/index.js
  labware-library/src/components/Nav/Breadcrumbs.js
  labware-library/src/labware-creator/components/IntroCopy.js
  labware-library/src/labware-creator/components/LabwareCreator.css
  labware-library/src/labware-creator/components/LabwareCreator.js
  labware-library/src/labware-creator/components/Section.js
  labware-library/src/labware-creator/index.js
  labware-library/src/labware-creator/styles.css
  labware-library/src/styles/spacing.css
Labels: feature, labware, ready for review

#3923 feat(protocol-designer): put custom labware upload under feature flag
  protocol-designer/src/components/LabwareSelectionModal/LabwareSelectionModal.js
  protocol-designer/src/components/LabwareSelectionModal/index.js
  protocol-designer/src/components/SettingsPage/FeatureFlagCard/FeatureFlagCard.js
  protocol-designer/src/components/SettingsPage/FeatureFlagCard/index.js
  protocol-designer/src/components/SettingsPage/SettingsApp.js
  protocol-designer/src/components/SettingsPage/SettingsPage.css
  protocol-designer/src/components/SettingsPage/index.js
  protocol-designer/src/configureStore.js
  protocol-designer/src/feature-flags/actions.js
  protocol-designer/src/feature-flags/index.js
  protocol-designer/src/feature-flags/reducers.js
  protocol-designer/src/feature-flags/selectors.js
  protocol-designer/src/feature-flags/types.js
  protocol-designer/src/localization/en/card.json
  protocol-designer/src/localization/en/feature_flags.json
  protocol-designer/src/localization/en/index.js
  protocol-designer/src/persist.js
  protocol-designer/src/types.js
Labels: medium, protocol designer, ready for review

#3934 fix(shared-data): fix labware display name; change python file
  labware-library/src/labware-creator/index.js
  shared-data/js/labwareTools/__tests__/createDefaultDisplayName.test.js
  shared-data/js/labwareTools/index.js
Labels: fix, labware, small

#3936 fix(labware-library): fix labware display name; change python file
  labware-library/src/labware-creator/index.js
  shared-data/js/labwareTools/__tests__/createDefaultDisplayName.test.js
  shared-data/js/labwareTools/index.js
Labels: labware, ready for review

#3929 refactor(shared-data): update P10 tip totalLiquidVolume
  shared-data/labware/definitions/2/opentrons_96_tiprack_20ul/1.json
Labels: labware, ready for review, shared data

#3975 chore(docs): apiv2: update docs for optional args
  api/src/opentrons/protocol_api/contexts.py
Labels: api, docs, papi v2

#3965 refactor(labware-creator): Add scroll to form after labware type select
  labware-library/src/labware-creator/fields.js
  labware-library/src/labware-creator/images/15x15mL_insert_large.png
  labware-library/src/labware-creator/images/24x1_5mL_insert_large.png
  labware-library/src/labware-creator/images/6x15mL_and_4x50mL_insert_large.png
  labware-library/src/labware-creator/images/6x50mL_insert_large.png
  labware-library/src/labware-creator/images/opentrons_24_aluminumblock_side_view.png
  labware-library/src/labware-creator/images/opentrons_96_aluminumblock_side_view.png
  labware-library/src/labware-creator/images/opentrons_flat_aluminumblock_side_view.png
  labware-library/src/labware-creator/index.js
  labware-library/src/labware-creator/styles.css
Labels: design, labware, ready for review, refactor

#3966 feat(labware-creator): upload labware definitions to LC
  labware-library/package.json
  labware-library/src/__mocks__/definitions.js
  labware-library/src/__tests__/__snapshots__/labwareInference.test.js.snap
  labware-library/src/__tests__/labwareInference.test.js
  labware-library/src/components/LabwareDetails/InsertDetails.js
  labware-library/src/components/LabwareDetails/LabwareDetailsBox.js
  labware-library/src/components/LabwareList/__tests__/__snapshots__/LabwareList.test.js.snap
  labware-library/src/components/labware-ui/WellProperties.js
  labware-library/src/definitions.js
  labware-library/src/labware-creator/__tests__/__snapshots__/labwareDefToFields.test.js.snap
  labware-library/src/labware-creator/__tests__/labwareDefToFields.test.js
  labware-library/src/labware-creator/__tests__/loadAndSaveIntegration.test.js
  labware-library/src/labware-creator/components/ImportErrorModal.js
  labware-library/src/labware-creator/components/ImportLabware.js
  labware-library/src/labware-creator/fields.js
  labware-library/src/labware-creator/fieldsToLabware.js
  labware-library/src/labware-creator/index.js
  labware-library/src/labware-creator/labwareDefToFields.js
  labware-library/src/labware-creator/styles.css
  labware-library/src/labwareInference.js
  protocol-designer/src/step-generation/test-with-flow/__snapshots__/fixtureGeneration.test.js.snap
  shared-data/js/labwareTools/index.js
  shared-data/labware/fixtures/2/fixture_12_trough.json
  shared-data/labware/fixtures/2/fixture_96_plate.json
Labels: labware, ready for review

#3982 refactor(labware-library): Update landing content and instructions copy
  labware-library/src/labware-creator/components/ImportLabware.js
  labware-library/src/labware-creator/components/IntroCopy.js
  labware-library/src/labware-creator/components/importLabware.css
  labware-library/src/labware-creator/fields.js
  labware-library/src/labware-creator/index.js
  labware-library/src/labware-creator/styles.css
Labels: labware, ready for review, refactor

#3976 chore(docs): apiv1: fix typos
  api/docs/source/v1/atomic_commands.rst
Labels: docs
