Repository Opentrons/opentrons, pull requests merged in 2019-03, with the labels that each got.

#3148 feat(protocol-designer): show info modal when file has been migrated
  protocol-designer/src/components/ProtocolEditor.js
  protocol-designer/src/components/modals/FileUploadErrorModal/modalContents.js
  protocol-designer/src/components/modals/FileUploadMessageModal/FileUploadMessageModal.js
  protocol-designer/src/components/modals/FileUploadMessageModal/index.js
  protocol-designer/src/components/modals/FileUploadMessageModal/modalContents.css
  protocol-designer/src/components/modals/FileUploadMessageModal/modalContents.js
  protocol-designer/src/components/modals/FileUploadMessageModal/types.js
  protocol-designer/src/configureStore.js
  protocol-designer/src/dismiss/reducers.js
  protocol-designer/src/file-data/reducers/index.js
  protocol-designer/src/labware-ingred/reducers/index.js
  protocol-designer/src/load-file/actions.js
  protocol-designer/src/load-file/migration/index.js
  protocol-designer/src/load-file/reducers.js
  protocol-designer/src/load-file/selectors.js
  protocol-designer/src/load-file/types.js
  protocol-designer/src/step-forms/reducers/index.js
  protocol-designer/src/ui/steps/reducers.js
Labels: feature, protocol designer, ready for review

#3152 feat(api): Add set_temperature command to API and driver
  api/src/opentrons/commands/commands.py
  api/src/opentrons/drivers/thermocycler/driver.py
  api/src/opentrons/hardware_control/modules/thermocycler.py
  api/src/opentrons/protocol_api/contexts.py
  api/tests/opentrons/hardware_control/modules/test_hc_thermocycler.py
  api/tests/opentrons/protocol_api/test_module_context.py
Labels: api, feature

#3151 fix(shared-data): fix y axis svg value for fixed trash
  shared-data/js/constants.js
  shared-data/js/getLabware.js
Labels: shared data, small

#3155 fix(api): Fix mistakenly-changed pick up current for p10s1.4
  shared-data/js/__tests__/__snapshots__/pipettes.test.js.snap
  shared-data/robot-data/pipetteModelSpecs.json
Labels: api, fix, small

#3154 fix(docs): Fix typo and clarify intro in docs, deploy on edge
  .travis.yml
  api/docs/source/index.rst
  api/docs/source/writing.rst
Labels: api, docs, fix

#3143 refactor(app): Connect pipette config form to api endpoint
  app/src/components/ConfigurePipette/ConfigForm.js
  app/src/components/ConfigurePipette/FormButtonBar.js
  app/src/components/ConfigurePipette/index.js
  app/src/components/ConfigurePipette/styles.css
  app/src/components/InstrumentSettings/AttachedPipettesCard.js
  app/src/components/InstrumentSettings/InstrumentInfo.js
  app/src/http-api-client/__tests__/settings.test.js
  app/src/http-api-client/pipettes.js
  app/src/http-api-client/settings.js
Labels: app, feature, ready for review

#3156 fix(api): Clear globals in simulate script
  api/src/opentrons/simulate.py
Labels: api, fix, small

#3153 feat(protocol-designer): gate entry by user identity
  protocol-designer/package.json
  protocol-designer/src/analytics/integrations.js
  protocol-designer/src/components/App.js
  protocol-designer/src/components/ProtocolEditor.js
  protocol-designer/src/components/modals/AnalyticsModal.js
  protocol-designer/src/components/modals/GateModal/SignUpForm.js
  protocol-designer/src/components/modals/GateModal/index.js
  protocol-designer/src/components/modals/modal.css
  protocol-designer/src/images/youve_got_mail.svg
  protocol-designer/src/localization/en/application.json
  protocol-designer/src/localization/en/modal.json
  protocol-designer/src/networking/index.js
  protocol-designer/src/networking/opentronsWebApi.js
  yarn.lock
Labels: feature, protocol designer, ready for review

#3157 feat(protocol-designer): auto-select well of single well labware
  protocol-designer/src/steplist/formLevel/handleFormChange/dependentFieldsUpdateMix.js
  protocol-designer/src/steplist/formLevel/handleFormChange/dependentFieldsUpdateMoveLiquid.js
  protocol-designer/src/steplist/formLevel/handleFormChange/index.js
  protocol-designer/src/steplist/formLevel/handleFormChange/test/mix.test.js
  protocol-designer/src/steplist/formLevel/handleFormChange/utils.js
Labels: protocol designer, ready for review

#3176 feat(protocol-designer): add favicon
  protocol-designer/src/images/favicon.ico
  protocol-designer/webpack.config.js
Labels: protocol designer, small

#3179 refactor(app): Add form submission to pipette config form
  app/src/components/ConfigurePipette/ConfigErrorBanner.js
  app/src/components/ConfigurePipette/ConfigForm.js
  app/src/components/ConfigurePipette/ConfigFormGroup.js
  app/src/components/ConfigurePipette/index.js
  app/src/components/ConfigurePipette/styles.css
  app/src/http-api-client/__tests__/settings.test.js
  app/src/http-api-client/client.js
  app/src/http-api-client/settings.js
Labels: app, feature, ready for review

#3174 feat(protocol-designer): add emailListName param to confirmEmail call
  protocol-designer/src/networking/opentronsWebApi.js
Labels: protocol designer, ready for review

#3177 ci(protocol-designer): build to NEW BUCKET, add .commit file to PD builds
  .travis.yml
  protocol-designer/Makefile
Labels: infrastructure, protocol designer, ready for review, small

#3183 build(protocol-designer): Remove most images from bundle
  protocol-designer/webpack.config.js
  webpack-config/lib/rules.js
Labels: chore, protocol designer, ready for review

#3181 feat(protocol-designer): point to staging or prod resources accordingly
  protocol-designer/src/components/modals/GateModal/SignUpForm.js
  protocol-designer/src/localization/en/application.json
  protocol-designer/src/networking/opentronsWebApi.js
Labels: feature, protocol designer, ready for review

#3178 feat(protocol-designer): pd version metadata in code and analytics
  .travis.yml
  protocol-designer/src/analytics/integrations.js
  protocol-designer/webpack.config.js
Labels: protocol designer, ready for review

#3184 feat(protocol-designer): hash favicon
  protocol-designer/package.json
  protocol-designer/src/images/favicon-logo.png
  protocol-designer/src/images/favicon.ico
  protocol-designer/webpack.config.js
  yarn.lock
Labels: feature, protocol designer, ready for review, small

#3159 fix(api): Manually publish to broker in param-mangling commands
  api/src/opentrons/legacy_api/instruments/pipette.py
Labels: api, fix, ready for review

#3186 ci(travis): Match ^v for tag stuff instead of testing presence
  .travis.yml
  app-shell/Makefile
Labels: chore, ready for review

#3187 fix(api): Access wells in calibration so 1-well containers are ok
  api/src/opentrons/api/calibration.py
  api/tests/opentrons/api/test_calibration.py
  api/tests/opentrons/conftest.py
Labels: api, fix, small

#3188 docs(protocol-designer): update README
  protocol-designer/README.md
Labels: chore, protocol designer

#3195 ci(protocol-designer): make deploy bucket env var
  .travis.yml
Labels: infrastructure, protocol designer

#3190 fix(protocol-designer): fix mistake with load file error reporting
  protocol-designer/src/configureStore.js
Labels: fix, protocol designer, ready for review

#3158 refactor(app): Add pipette config form validation
  app/src/components/ConfigurePipette/ConfigForm.js
  app/src/components/ConfigurePipette/ConfigFormGroup.js
  app/src/components/ConfigurePipette/FormButtonBar.js
  app/src/components/ConfigurePipette/styles.css
  app/src/components/modals/BottomButtonBar.js
Labels: app, feature, ready for review

#3193 feat(protocol-designer): add 404 redirect page
  protocol-designer/src/error.html
  protocol-designer/webpack.config.js
Labels: protocol designer, ready for review

#3192 fix(protocol-designer): fix mix form disabled fields
  protocol-designer/src/steplist/formLevel/getDisabledFields/getDisabledFieldsMixForm.js
Labels: protocol designer, ready for review

#3196 build(webpack): Switch image/font rules to file-loader
  flow-typed/npm/url-loader_vx.x.x.js
  protocol-designer/webpack.config.js
  webpack-config/README.md
  webpack-config/lib/rules.js
Labels: app, chore, components, protocol designer, ready for review

#3201 build(babel): Add optional chaining proposal to babel config
  .flowconfig
  app/src/components/AppSettings/AdvancedSettingsCard.js
  babel.config.js
  package.json
  yarn.lock
Labels: app, chore, components, protocol designer, ready for review

#3206 chore(labware-library): Scaffold out project
  .travis.yml
  babel.config.js
  labware-library/Makefile
  labware-library/README.md
  labware-library/package.json
  labware-library/src/components/App/__tests__/App.test.js
  labware-library/src/components/App/__tests__/__snapshots__/App.test.js.snap
  labware-library/src/components/App/index.js
  labware-library/src/components/App/styles.css
  labware-library/src/global.css
  labware-library/src/index.hbs
  labware-library/src/index.js
  labware-library/src/styles/reset.css
  labware-library/webpack.config.js
  package.json
  protocol-designer/Makefile
  scripts/serve-static.js
  webpack-config/lib/base-config.js
  webpack-config/lib/env.js
  yarn.lock
Labels: chore, labware, ready for review

#3202 feat(app): Enable pipette config modal and form
  app/src/components/ConfigurePipette/ConfigForm.js
  app/src/components/ConfigurePipette/index.js
  app/src/components/InstrumentSettings/AttachedPipettesCard.js
  app/src/components/InstrumentSettings/InstrumentInfo.js
  app/src/config/index.js
Labels: app, feature, ready for review

#3211 refactor(protocol-designer): remove no-op 'changeVersion' fn
  protocol-designer/src/load-file/migration/1_1_0.js
Labels: protocol designer, refactor

#3210 feat(protocol-designer): hide GateModal in dev by default
  protocol-designer/README.md
  protocol-designer/src/components/ProtocolEditor.js
Labels: protocol designer, ready for review

#3204 refactor(protocol-designer): fix protocol JSON schema flow type defs
  app/src/protocol/index.js
  app/src/protocol/protocol-data.js
  app/src/protocol/types.js
  protocol-designer/src/containers/ConnectedTitleBar.js
  protocol-designer/src/file-data/selectors/fileCreator.js
  protocol-designer/src/file-data/types.js
  protocol-designer/src/file-types.js
  protocol-designer/src/load-file/actions.js
  protocol-designer/src/load-file/migration/1_1_0.js
  protocol-designer/src/load-file/migration/index.js
  protocol-designer/src/load-file/types.js
  protocol-designer/src/step-forms/reducers/index.js
  protocol-designer/src/step-generation/commandCreators/atomic/aspirate.js
  protocol-designer/src/step-generation/commandCreators/atomic/blowout.js
  protocol-designer/src/step-generation/commandCreators/atomic/dispense.js
  protocol-designer/src/step-generation/getNextRobotStateAndWarnings/forAspirateDispense.js
  protocol-designer/src/step-generation/getNextRobotStateAndWarnings/index.js
  protocol-designer/src/step-generation/test-with-flow/fixtures/commandFixtures.js
  protocol-designer/src/step-generation/types.js
  protocol-designer/src/step-generation/utils.js
  protocol-designer/src/top-selectors/tip-contents/index.js
  shared-data/js/index.js
  shared-data/protocol-json-schema/jsonProtocolTypeV1.js
Labels: app, protocol designer, ready for review, refactor

#3219 fix(api): cache modules in singleton for apiV1 protocols
  api/docs/source/modules.rst
  api/src/opentrons/hardware_control/controller.py
  api/src/opentrons/legacy_api/modules/__init__.py
  api/src/opentrons/legacy_api/robot/robot.py
  api/src/opentrons/server/endpoints/control.py
  api/src/opentrons/server/endpoints/update.py
  api/tests/opentrons/labware/test_modules.py
  api/tests/opentrons/server/test_control_endpoints.py
  api/tests/opentrons/server/test_update_endpoints.py
Labels: api, fix, ready for review

#3222 fix(api): cli deck cal pipette control and tests
  api/README.rst
  api/src/opentrons/deck_calibration/dc_main.py
  api/tests/opentrons/cli/test_cli.py
Labels: api, ready for review

#3224 fix(docs): Catch some last api v4 references
  api/docs/source/labware.rst
  api/docs/source/new_protocol_api.rst
Labels: docs, fix, small

#3225 chore(release): 3.8.0-alpha.0
  CHANGELOG.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/build/release-notes.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/package.json
  lerna.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore, extra-large, ready for review

#3223 fix(api): add target temp verification to set_temperature
  api/src/opentrons/drivers/temp_deck/driver.py
Labels: api, ready for review

#3228 fix(api): Fix the mount calibration pipette control
  api/src/opentrons/deck_calibration/dc_main.py
Labels: api, ready for review

#3230 fix(docs): Fix broken support link in docs
  api/docs/source/labware.rst
Labels: docs, fix

#3233 refactor(components): Standardize form field font styles
  components/src/forms/forms.css
  protocol-designer/src/components/StepEditForm/StepEditForm.css
Labels: app, bug, components, fix, protocol designer, ready for review

#3208 style(js): Upgrade eslint and plugins
  .eslintrc.js
  app/src/components/CalibrateDeck/InstructionsModal.js
  app/src/components/CalibrateDeck/types.js
  app/src/components/CalibrateLabware/ConfirmModalContents.js
  app/src/components/InstrumentSettings/AttachedPipettesCard.js
  app/src/components/RunPanel/index.js
  app/src/pages/More/AppSettings.js
  app/src/robot/types.js
  components/src/forms/SelectField.js
  package.json
  protocol-designer/src/svg/CopyIcon.js
  protocol-designer/src/types.js
  protocol-designer/src/ui/index.js
  protocol-designer/src/utils/index.js
  yarn.lock
Labels: chore, ready for review

#3221 feat(protocol-designer): update transfer form design
  app/src/components/ConfigurePipette/ConfigForm.js
  components/src/forms/CheckboxField.js
  components/src/forms/FormGroup.js
  components/src/forms/InputField.js
  components/src/forms/RadioGroup.js
  components/src/forms/forms.css
  protocol-designer/src/components/FilePage.js
  protocol-designer/src/components/IngredientsList/index.js
  protocol-designer/src/components/LiquidPlacementForm/LiquidPlacementForm.js
  protocol-designer/src/components/LiquidsPage/LiquidEditForm.js
  protocol-designer/src/components/StepEditForm/ButtonRow.js
  protocol-designer/src/components/StepEditForm/StepEditForm.css
  protocol-designer/src/components/StepEditForm/fields/BlowoutLocation.js
  protocol-designer/src/components/StepEditForm/fields/DisposalVolume.js
  protocol-designer/src/components/StepEditForm/fields/FlowRate/FlowRateInput.js
  protocol-designer/src/components/StepEditForm/fields/Path/Path.js
  protocol-designer/src/components/StepEditForm/fields/Pipette.js
  protocol-designer/src/components/StepEditForm/fields/TipPosition/index.js
  protocol-designer/src/components/StepEditForm/fields/Volume.js
  protocol-designer/src/components/StepEditForm/fields/WellOrder/WellOrderInput.css
  protocol-designer/src/components/StepEditForm/fields/WellOrder/WellOrderModal.js
  protocol-designer/src/components/StepEditForm/fields/WellOrder/index.js
  protocol-designer/src/components/StepEditForm/fields/WellSelection/WellSelectionInput.js
  protocol-designer/src/components/StepEditForm/forms/MoveLiquid/SourceDestFields.js
  protocol-designer/src/components/StepEditForm/forms/MoveLiquid/SourceDestHeaders.js
  protocol-designer/src/components/StepEditForm/forms/MoveLiquid/index.js
  protocol-designer/src/components/forms/forms.css
  protocol-designer/src/components/modals/FilePipettesModal/index.js
  protocol-designer/src/localization/en/application.json
  protocol-designer/src/localization/en/form.json
Labels: app, components, protocol designer, ready for review

#3236 fix(components): Revert addition of "sideEffects": false
  components/package.json
Labels: bug, fix, ready for review

#3235 feat(api): add z margin override
  api/src/opentrons/protocol_api/contexts.py
  api/src/opentrons/protocol_api/geometry.py
  api/tests/opentrons/protocol_api/test_context.py
  api/tests/opentrons/protocol_api/test_geometry.py
Labels: api, feature, ready for review

#3237 feat(api): Add more pick up tip config elements to pipette config
  api/src/opentrons/config/pipette_config.py
  api/src/opentrons/hardware_control/__init__.py
  api/src/opentrons/legacy_api/api.py
  api/src/opentrons/legacy_api/instruments/pipette.py
  shared-data/js/__tests__/__snapshots__/pipettes.test.js.snap
  shared-data/robot-data/pipetteModelSpecs.json
  shared-data/robot-data/schemas/pipetteModelSpecsSchema.json
Labels: api, feature, small

#3239 feat(api): allow robot to discover thermocycler and return live data
  api/src/opentrons/drivers/temp_deck/driver.py
  api/src/opentrons/drivers/thermocycler/driver.py
  api/src/opentrons/drivers/utils.py
  api/src/opentrons/hardware_control/__init__.py
  api/src/opentrons/hardware_control/adapters.py
  api/src/opentrons/hardware_control/controller.py
  api/src/opentrons/hardware_control/modules/__init__.py
  api/src/opentrons/hardware_control/modules/magdeck.py
  api/src/opentrons/hardware_control/modules/mod_abc.py
  api/src/opentrons/hardware_control/modules/tempdeck.py
  api/src/opentrons/hardware_control/modules/thermocycler.py
  api/src/opentrons/hardware_control/simulator.py
  api/src/opentrons/legacy_api/modules/magdeck.py
  api/src/opentrons/legacy_api/modules/tempdeck.py
  api/src/opentrons/main.py
  api/src/opentrons/protocol_api/contexts.py
  api/src/opentrons/server/endpoints/control.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/hardware_control/modules/test_hc_magdeck.py
  api/tests/opentrons/hardware_control/modules/test_hc_tempdeck.py
  api/tests/opentrons/hardware_control/modules/test_hc_thermocycler.py
  api/tests/opentrons/hardware_control/test_modules.py
  api/tests/opentrons/protocol_api/test_module_context.py
Labels: api, feature, ready for review

#3246 fix(api): Correctly migrate probe center settings
  api/src/opentrons/config/__init__.py
  api/src/opentrons/config/robot_configs.py
Labels: api, fix, medium

#3251 feat(api): Print out the runlog in the simulate script
  api/docs/source/api.rst
  api/docs/source/writing.rst
  api/src/opentrons/simulate.py
Labels: api, feature, small

#3255 fix(protocol-designer): don't create labware ids if can't create labware
  protocol-designer/src/labware-ingred/actions/actions.js
  protocol-designer/src/labware-ingred/actions/thunks.js
  protocol-designer/src/labware-ingred/utils.js
  protocol-designer/src/step-forms/reducers/index.js
Labels: fix, protocol designer, ready for review

#3220 refactor(app): Add thermocycler to attached modules card behind flag
  app/src/components/InstrumentSettings/AttachedModulesCard.js
  app/src/components/InstrumentSettings/ModulesCardContents.js
  app/src/components/ModuleItem/ModuleImage.js
  app/src/components/ModuleItem/images/module-thermo@3x.png
  app/src/config/index.js
Labels: app, feature, ready for review

#3247 feat(protocol-designer): update mix form design
  components/src/forms/forms.css
  protocol-designer/src/components/StepEditForm/StepEditForm.css
  protocol-designer/src/components/StepEditForm/forms/AspDispSection.js
  protocol-designer/src/components/StepEditForm/forms/Mix.js
  protocol-designer/src/components/StepEditForm/forms/MoveLiquid/SourceDestHeaders.js
  protocol-designer/src/localization/en/application.json
  protocol-designer/src/localization/en/form.json
  protocol-designer/src/steplist/formLevel/getDisabledFields/getDisabledFieldsMixForm.js
Labels: protocol designer, ready for review

#3258 fix(shared-data): fix case of 'brand' text
  shared-data/definitions2/corning_12_wellplate_6.9_ml.json
  shared-data/definitions2/corning_24_wellplate_3.4_ml.json
  shared-data/definitions2/corning_384_wellplate_112_ul.json
  shared-data/definitions2/corning_48_wellplate_1.6_ml.json
  shared-data/definitions2/corning_6_wellplate_16.8_ml.json
  shared-data/definitions2/eppendorf_96_tiprack_1000_ul.json
  shared-data/definitions2/eppendorf_96_tiprack_10_ul.json
Labels: labware, ready for review

#3257 feat(protocol-designer): update pause form design
  components/src/forms/SelectField.css
  components/src/forms/forms.css
  components/src/styles/borders.css
  protocol-designer/src/components/StepEditForm/StepEditForm.css
  protocol-designer/src/components/StepEditForm/fields/ConditionalOnField.js
  protocol-designer/src/components/StepEditForm/fields/Text.js
  protocol-designer/src/components/StepEditForm/fields/index.js
  protocol-designer/src/components/StepEditForm/forms/Pause.js
  protocol-designer/src/components/steplist/PauseStepItems.js
  protocol-designer/src/labware-ingred/actions/actions.js
  protocol-designer/src/labware-ingred/actions/thunks.js
  protocol-designer/src/localization/en/application.json
  protocol-designer/src/localization/en/form.json
  protocol-designer/src/steplist/formLevel/errors.js
  protocol-designer/src/steplist/formLevel/getDefaultsForStepType.js
  protocol-designer/src/steplist/formLevel/getDisabledFields/index.js
Labels: protocol designer, ready for review

#3242 feat(api): move-to-slot JSON protocol command
  api/src/opentrons/protocol_api/contexts.py
  api/src/opentrons/protocol_api/execute.py
  api/src/opentrons/protocol_api/geometry.py
  api/src/opentrons/protocols/__init__.py
  api/tests/opentrons/protocol_api/test_context.py
  api/tests/opentrons/protocol_api/test_geometry.py
  shared-data/protocol-json-schema/protocolSchemaV1.json
  shared-data/protocol-json-schema/protocolSchemaV2.json
Labels: api, json protocol schema, ready for review

#3249 refactor(labware-library): Add basic labware card
  components/src/styles/colors.css
  components/src/styles/typography.css
  labware-library/package.json
  labware-library/src/components/App/__tests__/App.test.js
  labware-library/src/components/App/__tests__/__snapshots__/App.test.js.snap
  labware-library/src/components/App/index.js
  labware-library/src/components/App/styles.css
  labware-library/src/components/LabwareList/LabwareCard.js
  labware-library/src/components/LabwareList/LabwareList.js
  labware-library/src/components/LabwareList/__tests__/LabwareList.test.js
  labware-library/src/components/LabwareList/__tests__/__snapshots__/LabwareList.test.js.snap
  labware-library/src/components/LabwareList/index.js
  labware-library/src/components/LabwareList/styles.css
  labware-library/src/components/Nav/styles.css
  labware-library/src/components/Sidebar/styles.css
  labware-library/src/definitions.js
  labware-library/src/styles/breakpoints.css
  labware-library/src/styles/shadows.css
  labware-library/src/styles/spacing.css
  package.json
  protocol-designer/package.json
  shared-data/definitions2/opentrons_6x15_ml_4x50_ml_tuberack.json
  shared-data/js/labwareTools/index.js
  shared-data/js/types.js
Labels: feature, labware, ready for review

#3256 refactor(app): Add ability to add/remove manual IP addresses
  app-shell/src/config.js
  app-shell/src/discovery.js
  app/src/components/AppSettings/AddManualIp/IpField.js
  app/src/components/AppSettings/AddManualIp/IpItem.js
  app/src/components/AppSettings/AddManualIp/IpList.js
  app/src/components/AppSettings/AddManualIp/ManualIpForm.js
  app/src/components/AppSettings/AddManualIp/index.js
  app/src/components/AppSettings/AddManualIp/styles.css
  app/src/config/index.js
  components/src/buttons/Button.js
  discovery-client/src/index.js
Labels: app, feature, ready for review

#3260 feat(protocol-designer): assorted form tweaks
  protocol-designer/src/components/StepEditForm/StepEditForm.css
  protocol-designer/src/components/StepEditForm/fields/ChangeTip/ChangeTip.js
  protocol-designer/src/components/StepEditForm/fields/TipPosition/index.js
  protocol-designer/src/components/StepEditForm/fields/WellOrder/index.js
  protocol-designer/src/components/StepEditForm/forms/Mix.js
  protocol-designer/src/components/StepEditForm/forms/MoveLiquid/SourceDestFields.js
  protocol-designer/src/components/StepEditForm/utils.js
  protocol-designer/src/localization/en/application.json
  protocol-designer/src/localization/en/form.json
  protocol-designer/src/localization/en/tooltip.json
Labels: protocol designer, ready for review

#3217 chore(api): Add infrastructure for a br2-external tree for buildroot
  Config.in
  api/Config.in
  api/build_tools.py
  api/buildroot.mk
  api/opentrons-api-server.service
  api/setup.py
  api/src/opentrons/main.py
  external.desc
  external.mk
Labels: api, feature, ready for review, robot-os

#3262 fix(shared-data): Ensure all volumes are µL; remove displayLengthUnits
  labware-designer/README.md
  labware-library/src/components/LabwareList/LabwareCard.js
  labware-library/src/components/LabwareList/__tests__/__snapshots__/LabwareList.test.js.snap
  shared-data/definitions2/biorad_96_wellplate_pcr_200_ul.json
  shared-data/definitions2/corning_12_wellplate_6.9_ml.json
  shared-data/definitions2/corning_24_wellplate_3.4_ml.json
  shared-data/definitions2/corning_384_wellplate_112_ul.json
  shared-data/definitions2/corning_48_wellplate_1.6_ml.json
  shared-data/definitions2/corning_6_wellplate_16.8_ml.json
  shared-data/definitions2/eppendorf_96_tiprack_1000_ul.json
  shared-data/definitions2/eppendorf_96_tiprack_10_ul.json
  shared-data/definitions2/generic_96_wellplate_380_ul.json
  shared-data/definitions2/opentrons_15_tuberack_15_ml_falcon.json
  shared-data/definitions2/opentrons_1_trash_0.85_l.json
  shared-data/definitions2/opentrons_1_trash_1.1_l.json
  shared-data/definitions2/opentrons_24_aluminum_tuberack_2_ml.json
  shared-data/definitions2/opentrons_24_tuberack_1.5_ml_eppendorf.json
  shared-data/definitions2/opentrons_24_tuberack_2_ml_eppendorf.json
  shared-data/definitions2/opentrons_24_tuberack_2_ml_screwcap.json
  shared-data/definitions2/opentrons_6_tuberack_50_ml_falcon.json
  shared-data/definitions2/opentrons_6x15_ml_4x50_ml_tuberack.json
  shared-data/definitions2/opentrons_96_aluminum_biorad_wellplate_200_ul.json
  shared-data/definitions2/opentrons_96_aluminum_tuberack_200_ul.json
  shared-data/definitions2/opentrons_96_tiprack_1000_ul.json
  shared-data/definitions2/opentrons_96_tiprack_10_ul.json
  shared-data/definitions2/opentrons_96_tiprack_300_ul.json
  shared-data/definitions2/usa_scientific_12_trough_22_ml.json
  shared-data/js/__tests__/fixtures/irregularLabwareExample1.json
  shared-data/js/__tests__/fixtures/labwareExample.json
  shared-data/js/__tests__/fixtures/labwareExample2.json
  shared-data/js/helpers/__tests__/volume.test.js
  shared-data/js/helpers/index.js
  shared-data/js/helpers/volume.js
  shared-data/js/labwareTools/__tests__/createIrregularLabware.test.js
  shared-data/js/labwareTools/index.js
  shared-data/js/types.js
  shared-data/labware-json-schema/labware-schema.json
Labels: labware, ready for review

#3263 feat(protocol-designer): use file-saver to save protocols
  flow-typed/npm/file-saver_v2.x.x.js
  protocol-designer/package.json
  protocol-designer/src/components/FileSidebar/ConnectedFileSidebar.js
  protocol-designer/src/components/FileSidebar/FileSidebar.js
  yarn.lock
Labels: protocol designer, ready for review, small

#3265 feat(api): Add support for (p300m,p50m,p10s,p1000s)v1.5
  api/src/opentrons/tools/write_pipette_memory.py
  api/tests/opentrons/config/test_pipette_config.py
  shared-data/js/__tests__/__snapshots__/pipettes.test.js.snap
  shared-data/js/__tests__/pipettes.test.js
  shared-data/robot-data/pipetteModelSpecs.json
Labels: api, feature, small

#3268 fix(api): simulate needs to set loglevel
  api/src/opentrons/simulate.py
Labels: api, fix, small

#3273 chore(release): 3.8.1-alpha.0
  CHANGELOG.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/build/release-notes.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/package.json
  lerna.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: small

#3276 feat(api): Add support for p300s v1.5
  shared-data/js/__tests__/__snapshots__/pipettes.test.js.snap
  shared-data/js/__tests__/pipettes.test.js
  shared-data/robot-data/pipetteModelSpecs.json
Labels: api, feature, small

#3278 fix(app): Fix modules not populating the modules card
  api/src/opentrons/api/models.py
  app/src/components/InstrumentSettings/ModulesCardContents.js
Labels: api, app, ready for review, small

#3270 feat(protocol-designer): warning/error redesign
  components/src/alerts/AlertItem.js
  components/src/alerts/AlertItem.md
  components/src/alerts/alerts.css
  components/src/styles/colors.css
  protocol-designer/src/components/StepEditForm/FormAlerts.js
  protocol-designer/src/components/alerts/Alerts.js
  protocol-designer/src/components/alerts/TimelineAlerts.js
  protocol-designer/src/components/alerts/alerts.css
  protocol-designer/src/components/alerts/types.js
  protocol-designer/src/components/steplist/StepItem.css
  protocol-designer/src/components/steplist/StepItem.js
  protocol-designer/src/containers/Alerts.js
  protocol-designer/src/containers/ConnectedStepItem.js
  protocol-designer/src/dismiss/actions.js
  protocol-designer/src/dismiss/reducers.js
  protocol-designer/src/dismiss/selectors.js
  protocol-designer/src/localization/en/alert.json
  protocol-designer/src/step-forms/selectors/index.js
  protocol-designer/src/steplist/formLevel/warnings.js
Labels: protocol designer, ready for review

#3283 chore(release): 3.8.1
  CHANGELOG.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore, large

#3264 feat(api): wire up TC deactivate, and add module cmd exec endpoint
  api/src/opentrons/drivers/thermocycler/driver.py
  api/src/opentrons/hardware_control/modules/thermocycler.py
  api/src/opentrons/server/endpoints/control.py
  api/src/opentrons/server/http.py
  api/tests/opentrons/hardware_control/modules/test_hc_thermocycler.py
  api/tests/opentrons/server/test_control_endpoints.py
Labels: api, ready for review
