Repository Opentrons/opentrons, pull requests merged in 2019-11, with the labels that each got.

#4344 feat(api): add http endpoint for robot settings dump
  api/src/opentrons/config/robot_configs.py
  api/src/opentrons/server/endpoints/settings.py
  api/src/opentrons/server/http.py
  api/tests/opentrons/server/test_settings_endpoints.py
Labels: api, feature, ready for review

#4361 feat(protocol-designer): show special-case warning for north/south
  app/src/components/DeckMap/index.js
  components/src/deck/RobotWorkSpace.js
  components/src/deck/RobotWorkSpace.md
  components/src/deck/types.js
  protocol-designer/src/components/DeckSetup/DeckSetup.js
  protocol-designer/src/components/DeckSetup/SlotWarning.css
  protocol-designer/src/components/DeckSetup/SlotWarning.js
  protocol-designer/src/localization/en/deck.json
Labels: protocol designer, ready for review

#4351 feat(protocol-designer): expose GEN2 pipettes in pipette select
  components/src/instrument/PipetteSelect.css
  components/src/instrument/PipetteSelect.js
  protocol-designer/src/components/modals/FilePipettesModal/PipetteFields.js
  protocol-designer/src/feature-flags/reducers.js
  protocol-designer/src/feature-flags/selectors.js
  protocol-designer/src/feature-flags/types.js
  protocol-designer/src/localization/en/feature_flags.json
Labels: protocol designer, ready for review

#4354 feat(protocol-designer): Wire up modules card with actual data
  protocol-designer/src/components/FilePage.js
  protocol-designer/src/components/modules/EditModulesCard.js
  protocol-designer/src/components/modules/ModuleRow.js
  protocol-designer/src/containers/ConnectedFilePage.js
  protocol-designer/src/step-forms/selectors/index.js
  protocol-designer/src/step-forms/types.js
Labels: feature, ready for review

#4369 chore(protocol-designer): bump to 3.0.7
  protocol-designer/webpack.config.js
Labels: chore, protocol designer

#4371 refactor(protocol-designer): remove old stray log
  protocol-designer/src/steplist/formLevel/stepFormToArgs/mixFormToArgs.js
Labels: ready for review, refactor

#4358 feat(app,api): allow rich version specification for python protocols
  api/src/opentrons/api/session.py
  api/src/opentrons/execute.py
  api/src/opentrons/protocol_api/execute.py
  api/src/opentrons/protocols/parse.py
  api/src/opentrons/protocols/types.py
  api/src/opentrons/simulate.py
  api/tests/opentrons/api/test_session.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/data/testosaur-gen2-v2.py
  api/tests/opentrons/data/testosaur_v2.py
  api/tests/opentrons/protocol_api/test_execute.py
  api/tests/opentrons/protocols/fixtures/bundled_protocols/simple_bundle/protocol.py
  api/tests/opentrons/protocols/test_parse.py
  app/src/components/CalibrateLabware/ConfirmModalContents.js
  app/src/robot/actions.js
  app/src/robot/api-client/client.js
  app/src/robot/reducer/session.js
  app/src/robot/test/api-client.test.js
  app/src/robot/test/session-reducer.test.js
Labels: api, app, refactor

#4372 feat(app): parse subnet out of CIDR-notation IP address
  app/package.json
  app/src/components/RobotSettings/connection.js
  app/src/http-api-client/__tests__/networking.test.js
  app/src/http-api-client/networking.js
  yarn.lock
Labels: app, feature, ready for review

#4363 feat(api): add the maximum supported protocol api version
  api/docs/v2/index.rst
  api/docs/v2/versioning.rst
  api/src/opentrons/protocol_api/__init__.py
  api/src/opentrons/server/endpoints/__init__.py
  api/tests/opentrons/server/test_health_endpoints.py
Labels: api, feature

#4381 fix(app): prevent user from proceeding if uploaded protocol has no steps
  app/src/components/FileInfo/InstrumentItem.js
  app/src/components/FileInfo/ProtocolPipettesCard.js
  app/src/components/FileInfo/index.js
  app/src/components/FileInfo/useInstrumentMountInfo.js
  app/src/components/nav-bar/NavButton.js
  app/src/pages/Upload/FileInfo.js
  app/src/pages/Upload/index.js
Labels: app, fix, ready for review

#4378 fix(app,api): display session error messages in SessionAlert
  api/src/opentrons/api/session.py
  app/src/components/RunLog/SessionAlert.js
  app/src/robot/api-client/client.js
  app/src/robot/reducer/session.js
  app/src/robot/selectors.js
Labels: app, fix, ready for review

#4383 feat(protocol-designer): blocking hint on adding custom labware to modal
  components/src/modals/ContinueModal.js
  protocol-designer/src/components/Hints/index.js
  protocol-designer/src/components/Hints/useBlockingHint.js
  protocol-designer/src/components/LabwareSelectionModal/LabwareSelectionModal.js
  protocol-designer/src/containers/ConnectedMainPanel.js
  protocol-designer/src/localization/en/alert.json
  protocol-designer/src/tutorial/index.js
  protocol-designer/src/tutorial/selectors.js
Labels: protocol designer, ready for review

#4365 feat(api): apiv2: Limit protocols to max supported version
  api/docs/v2/new_advanced_running.rst
  api/src/opentrons/api/session.py
  api/src/opentrons/execute.py
  api/src/opentrons/protocol_api/__init__.py
  api/src/opentrons/protocol_api/contexts.py
  api/src/opentrons/protocol_api/execute.py
  api/src/opentrons/protocols/parse.py
  api/src/opentrons/simulate.py
  api/tests/opentrons/api/test_session.py
  api/tests/opentrons/protocol_api/test_context.py
  api/tests/opentrons/protocol_api/test_execute.py
  api/tests/opentrons/protocol_api/test_execute_v3.py
Labels: api, feature, papi v2

#4386 refactor(shared-data): gen2 multi dvt config changes
  shared-data/pipette/definitions/pipetteModelSpecs.json
  shared-data/pipette/definitions/pipetteNameSpecs.json
Labels: shared data

#4388 refactor(api): apiv2: tag all methods and attrs with version added
  api/src/opentrons/hardware_control/modules/thermocycler.py
  api/src/opentrons/hardware_control/modules/update.py
  api/src/opentrons/legacy_api/modules/tempdeck.py
  api/src/opentrons/protocol_api/contexts.py
  api/src/opentrons/protocol_api/labware.py
  api/src/opentrons/protocol_api/util.py
  api/src/opentrons/server/endpoints/update.py
Labels: api, papi v2, refactor

#4364 chore(app): create ff for exposing multi GEN2 pipettes
  .eslintrc.js
  app/src/components/ChangePipette/PipetteSelection.js
  app/src/config/index.js
  app/src/config/types.js
Labels: app, chore, ready for review

#4374 fix(api): Suppress error log during check for pipettes
  api/src/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/tests/opentrons/drivers/test_driver.py
Labels: api, fix

#4382 chore(docs): apiv2: Document the version all ifaces were added
  api/docs/v1/conf.py
  api/docs/v2/conf.py
  api/docs/v2/new_atomic_commands.rst
  api/docs/v2/new_complex_commands.rst
  api/docs/v2/new_labware.rst
  api/docs/v2/new_modules.rst
  api/docs/v2/new_pipette.rst
  api/docs/v2/new_protocol_api.rst
  api/docs/v2/versioning.rst
  api/src/opentrons/protocol_api/contexts.py
  api/src/opentrons/protocol_api/legacy_wrapper/robot_wrapper.py
  api/src/opentrons/protocol_api/util.py
Labels: api, docs, papi v2

#4392 feat(api,shared-data): support p20/300/1k single v2.1
  api/src/opentrons/tools/write_pipette_memory.py
  api/tests/opentrons/config/test_pipette_config.py
  shared-data/pipette/definitions/pipetteModelSpecs.json
Labels: api, shared data

#4385 feat(protocol-designer): Enable adding and editing modules in file page
  protocol-designer/src/components/DeckSetup/DeckSetup.js
  protocol-designer/src/components/modals/EditModulesModal/index.js
  protocol-designer/src/constants.js
  protocol-designer/src/step-forms/utils.js
Labels: protocol designer, ready for review

#4393 feat(protocol-designer): add compatibility info to LabwarePreview
  protocol-designer/src/components/LabwareSelectionModal/LabwarePreview.js
  protocol-designer/src/components/LabwareSelectionModal/LabwareSelectionModal.js
  protocol-designer/src/components/LabwareSelectionModal/styles.css
  protocol-designer/src/localization/en/modal.json
Labels: protocol designer, ready for review

#4400 refactor(api): remove some very chatty logs in pipette config
  api/src/opentrons/config/pipette_config.py
Labels: api, refactor

#4394 feat(api): warn tc-lid/gantry collision in simulation
  api/docs/v2/new_protocol_api.rst
  api/src/opentrons/protocol_api/contexts.py
  api/src/opentrons/protocol_api/geometry.py
Labels: api, feature, ready for review

#4398 chore(protocol-designer): expose gen2 multi pipettes behind ff
  protocol-designer/src/components/modals/FilePipettesModal/PipetteFields.js
  protocol-designer/src/feature-flags/reducers.js
  protocol-designer/src/feature-flags/selectors.js
  protocol-designer/src/feature-flags/types.js
  protocol-designer/src/localization/en/feature_flags.json
Labels: chore, protocol designer, ready for review

#4411 fix(app): display robot ip not robot ip subnet base
  app/src/http-api-client/networking.js
Labels: app, fix

#4412 fix(api,shared-data): fix gen2 multi positioning
  api/src/opentrons/deck_calibration/endpoints.py
  shared-data/pipette/definitions/pipetteModelSpecs.json
  shared-data/pipette/definitions/pipetteNameSpecs.json
Labels: api, fix, shared data

#4406 feat(api): Assume OT_SMOOTHIE_ID is AMA if environmental variable is unset.
  api/src/opentrons/drivers/smoothie_drivers/driver_3_0.py
Labels: api, refactor

#4415 refactor(app): fix no-steps-in-protocol warning clobbering upload errors
  app/src/components/FileInfo/index.js
Labels: app, fix, ready for review

#4423 refactor(protocol-designer): factor out PDAlert
  protocol-designer/src/components/StepEditForm/FormAlerts.js
  protocol-designer/src/components/alerts/Alerts.js
  protocol-designer/src/components/alerts/PDAlert.js
  protocol-designer/src/components/alerts/TimelineAlerts.js
  protocol-designer/src/components/alerts/types.js
Labels: protocol designer, ready for review, refactor

#4409 feat(protocol-designer): labware<>module incompat DnD behavior
  protocol-designer/src/components/DeckSetup/DeckSetup.js
  protocol-designer/src/components/DeckSetup/LabwareOnDeck.js
  protocol-designer/src/components/DeckSetup/LabwareOverlays/BlockedSlot.js
  protocol-designer/src/components/DeckSetup/LabwareOverlays/DragPreview.css
  protocol-designer/src/components/DeckSetup/LabwareOverlays/DragPreview.js
  protocol-designer/src/components/DeckSetup/LabwareOverlays/EditLabware.js
  protocol-designer/src/components/DeckSetup/LabwareOverlays/LabwareControls.js
  protocol-designer/src/components/DeckSetup/LabwareOverlays/LabwareOverlays.css
  protocol-designer/src/components/DeckSetup/LabwareOverlays/SlotControls.js
  protocol-designer/src/localization/en/deck.json
  protocol-designer/src/step-forms/types.js
Labels: protocol designer, ready for review

#4425 feat(protocol-designer): Add module placement warning and validation
  protocol-designer/src/components/modals/EditModulesModal/index.js
  protocol-designer/src/components/modules/styles.css
  protocol-designer/src/localization/en/alert.json
Labels: feature, protocol designer, ready for review

#4419 feat(protocol-designer): save/load protocols with modules in prepro PD
  protocol-designer/src/file-data/selectors/commands.js
  protocol-designer/src/file-data/selectors/fileCreator.js
  protocol-designer/src/file-types.js
  protocol-designer/src/load-file/actions.js
  protocol-designer/src/step-forms/reducers/index.js
  protocol-designer/src/step-forms/selectors/index.js
  protocol-designer/src/step-generation/test-with-flow/__snapshots__/fixtureGeneration.test.js.snap
  protocol-designer/src/step-generation/test-with-flow/__snapshots__/utils.test.js.snap
  protocol-designer/src/step-generation/test-with-flow/fixtures/robotStateFixtures.js
  protocol-designer/src/step-generation/test-with-flow/utils.test.js
  protocol-designer/src/step-generation/types.js
  protocol-designer/src/step-generation/utils.js
  shared-data/protocol/flowTypes/schemaV4.js
  shared-data/protocol/schemas/4.json
Labels: protocol designer, ready for review

#4429 feat(protocol-designer): fix labware duplication bug
  protocol-designer/src/labware-ingred/utils.js
  protocol-designer/src/step-forms/utils.js
Labels: fix, protocol designer

#4432 refactor(shared-data): Modify gen2 multichannel pip funcs
  shared-data/pipette/definitions/pipetteModelSpecs.json
Labels: ready for review, shared data

#4427 feat(protocol-designer): enforce labware<>module compat
  protocol-designer/src/components/LabwareSelectionModal/LabwareSelectionModal.js
  protocol-designer/src/components/LabwareSelectionModal/index.js
  protocol-designer/src/localization/en/feature_flags.json
Labels: protocol designer, ready for review

#4428 fix(protocol-designer): fix labware incompat drag warning
  protocol-designer/src/components/DeckSetup/DeckSetup.js
  protocol-designer/src/components/DeckSetup/LabwareOverlays/SlotControls.js
Labels: fix, protocol designer

#4434 fix(api): tools: fix `write_pipette_memory` on host
  api/src/opentrons/tools/__init__.py
  api/src/opentrons/tools/write_pipette_memory.py
Labels: api

#4436 feat(protocol-designer): show module<>pipette collision error
  protocol-designer/src/components/KnowledgeBaseLink/index.js
  protocol-designer/src/components/alerts/ErrorContents.js
  protocol-designer/src/localization/en/alert.json
  protocol-designer/src/step-generation/commandCreators/atomic/aspirate.js
  protocol-designer/src/step-generation/commandCreators/atomic/dispense.js
  protocol-designer/src/step-generation/commandCreators/atomic/replaceTip.js
  protocol-designer/src/step-generation/errorCreators.js
  protocol-designer/src/step-generation/types.js
  protocol-designer/src/step-generation/utils.js
  protocol-designer/src/steplist/generateSubsteps.js
  protocol-designer/src/steplist/test/mergeWhen.test.js
  protocol-designer/src/steplist/utils/mergeWhen.js
Labels: protocol designer, ready for review

#4413 refactor(api): Implement shim for placeable in API v2
  api/src/opentrons/protocol_api/contexts.py
  api/src/opentrons/protocol_api/labware.py
  api/src/opentrons/protocol_api/legacy_wrapper/api.py
  api/src/opentrons/protocol_api/legacy_wrapper/containers_wrapper.py
  api/src/opentrons/protocol_api/legacy_wrapper/robot_wrapper.py
  api/src/opentrons/protocol_api/util.py
  api/tests/opentrons/protocol_api/test_legacy_labware.py
Labels: api, ready for review

#4439 docs(api): clarify aspirate and dispense optional args
  api/docs/v2/new_atomic_commands.rst
Labels: chore, docs

#4437 feat(protocol-designer): ignore labware<>module collision error in rogue mode
  protocol-designer/src/file-data/selectors/commands.js
  protocol-designer/src/step-generation/utils.js
Labels: protocol designer, ready for review

#4399 feat(api): check papi version on method call
  api/docs/static/pygments.css
  api/src/opentrons/commands/commands.py
  api/src/opentrons/legacy_api/instruments/pipette.py
  api/src/opentrons/protocol_api/__init__.py
  api/src/opentrons/protocol_api/contexts.py
  api/src/opentrons/protocol_api/definitions.py
  api/src/opentrons/protocol_api/labware.py
  api/src/opentrons/protocol_api/legacy_wrapper/containers_wrapper.py
  api/src/opentrons/protocol_api/util.py
  api/tests/opentrons/protocol_api/test_context.py
  api/tests/opentrons/protocol_api/test_labware.py
Labels: api, feature, papi v2

#4438 feat(api): apiv2: v1-backcompat: implement modules
  api/src/opentrons/hardware_control/modules/tempdeck.py
  api/src/opentrons/protocol_api/contexts.py
  api/src/opentrons/protocol_api/legacy_wrapper/api.py
  api/src/opentrons/protocol_api/legacy_wrapper/containers_wrapper.py
  api/src/opentrons/protocol_api/legacy_wrapper/modules_wrapper.py
  api/tests/opentrons/protocol_api/test_legacy_labware.py
  api/tests/opentrons/protocol_api/test_legacy_modules.py
Labels: api, feature, papi v2, ready for review

#4445 refactor(protocol-designer): Update crash info box and add support links
  protocol-designer/src/components/KnowledgeBaseLink/index.js
  protocol-designer/src/components/modules/CrashInfoBox.js
  protocol-designer/src/images/modules/crash_warning_illustration.png
Labels: protocol designer, ready for review

#4448 feat(api): apiv2: backcompat: implement LegacyWell position methods
  api/src/opentrons/protocol_api/labware.py
  api/src/opentrons/protocol_api/legacy_wrapper/containers_wrapper.py
  api/src/opentrons/protocol_api/legacy_wrapper/types.py
  api/tests/opentrons/protocol_api/test_legacy_labware.py
Labels: api, feature, papi v2

#4452 refactor(api): Add sharing and stacking for backcompat
  api/src/opentrons/protocol_api/execute.py
  api/src/opentrons/protocol_api/geometry.py
  api/src/opentrons/protocol_api/labware.py
  api/src/opentrons/protocol_api/legacy_wrapper/containers_wrapper.py
  api/tests/opentrons/protocol_api/test_accessor_fn.py
  api/tests/opentrons/protocol_api/test_legacy_labware.py
  api/tests/opentrons/protocol_api/test_offsets.py
Labels: api, ready for review

#4447 feat(protocol-designer): add warning when using expt features
  protocol-designer/src/components/FilePage.js
  protocol-designer/src/components/SettingsPage/FeatureFlagCard/FeatureFlagCard.js
  protocol-designer/src/localization/en/modal.json
Labels: protocol designer, ready for review

#4454 fix(api): connect context to real thermocycler during calibration
  api/src/opentrons/protocol_api/contexts.py
Labels: api, fix

#4455 feat(protocol-designer): Add magnet step UI
  components/src/__tests__/__snapshots__/icons.test.js.snap
  components/src/icons/icon-data.js
  protocol-designer/src/components/StepCreationButton.js
  protocol-designer/src/components/StepEditForm/StepEditForm.css
  protocol-designer/src/components/StepEditForm/forms/MagnetForm.js
  protocol-designer/src/components/StepEditForm/forms/index.js
  protocol-designer/src/components/StepEditForm/index.js
  protocol-designer/src/form-types.js
  protocol-designer/src/localization/en/application.json
  protocol-designer/src/localization/en/form.json
  protocol-designer/src/localization/en/tooltip.json
Labels: protocol designer, ready for review

#4464 fix(api): clear running module tasks on cancel
  api/src/opentrons/hardware_control/modules/tempdeck.py
  api/src/opentrons/hardware_control/modules/thermocycler.py
Labels: fix, ready for review

#4458 feat(api): apiv2: implement instruments backcompat
  api/src/opentrons/api/session.py
  api/src/opentrons/commands/commands.py
  api/src/opentrons/hardware_control/__init__.py
  api/src/opentrons/legacy_api/instruments/pipette.py
  api/src/opentrons/protocol_api/execute.py
  api/src/opentrons/protocol_api/geometry.py
  api/src/opentrons/protocol_api/legacy_wrapper/__init__.py
  api/src/opentrons/protocol_api/legacy_wrapper/api.py
  api/src/opentrons/protocol_api/legacy_wrapper/containers_wrapper.py
  api/src/opentrons/protocol_api/legacy_wrapper/instrument_wrapper.py
  api/src/opentrons/protocol_api/legacy_wrapper/modules_wrapper.py
  api/src/opentrons/protocol_api/legacy_wrapper/robot_wrapper.py
  api/src/opentrons/protocol_api/legacy_wrapper/types.py
  api/src/opentrons/util/entrypoint_util.py
  api/tests/opentrons/api/test_session.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/data/multi-single.py
  api/tests/opentrons/data/testosaur.py
  api/tests/opentrons/integration/test_api.py
  api/tests/opentrons/protocol_api/test_back_compat.py
  api/tests/opentrons/protocol_api/test_instrument_wrapper.py
Labels: api, feature

#4470 refactor(app): add dialog to change custom labware directory
  __mocks__/electron.js
  app-shell/src/labware/__tests__/dispatch.test.js
  app-shell/src/labware/index.js
  app-shell/src/main.js
  app/src/components/AddLabwareCard/ChangePathButton.js
  app/src/components/AddLabwareCard/PathDetail.js
  app/src/components/AddLabwareCard/__tests__/AddLabwareCard.test.js
  app/src/components/AddLabwareCard/__tests__/ChangePathButton.test.js
  app/src/components/AddLabwareCard/__tests__/PathDetail.test.js
  app/src/components/AddLabwareCard/__tests__/__snapshots__/AddLabwareCard.test.js.snap
  app/src/components/AddLabwareCard/__tests__/__snapshots__/ChangePathButton.test.js.snap
  app/src/components/AddLabwareCard/__tests__/__snapshots__/PathDetail.test.js.snap
  app/src/components/AddLabwareCard/index.js
  app/src/components/AddLabwareCard/styles.css
  app/src/components/ListLabwareCard/__tests__/ListLabwareCard.test.js
  app/src/components/ListLabwareCard/index.js
  app/src/custom-labware/__tests__/actions.test.js
  app/src/custom-labware/actions.js
  app/src/custom-labware/index.js
  app/src/custom-labware/types.js
  app/src/pages/More/CustomLabware.js
Labels: app, ready for review, refactor

#4463 feat(protocol-designer): move deck setup guidance to hint modal
  components/src/modals/AlertModal.js
  protocol-designer/src/components/DeckSetup/DeckSetup.css
  protocol-designer/src/components/DeckSetup/DeckSetup.js
  protocol-designer/src/components/Hints/hints.css
  protocol-designer/src/components/Hints/index.js
  protocol-designer/src/components/modals/EditPipettesModal/StepChangesConfirmModal.js
  protocol-designer/src/localization/en/alert.json
  protocol-designer/src/localization/en/deck.json
  protocol-designer/src/navigation/actions.js
  protocol-designer/src/tutorial/index.js
  protocol-designer/src/tutorial/reducers.js
Labels: protocol designer, ready for review

#4459 docs(protocol-designer): Document Steps in PD
  protocol-designer/docs/STEP_FORMS_AND_PROTOCOL_TIMELINE.md
  protocol-designer/src/steplist/fieldLevel/processing.js
Labels: docs, protocol designer, ready for review

#4440 refactor(app): separate attached pipettes state into its own module
  app/src/analytics/selectors.js
  app/src/components/ChangePipette/CheckPipettesButton.js
  app/src/components/ChangePipette/ConfirmPipette.js
  app/src/components/ChangePipette/Instructions.js
  app/src/components/ChangePipette/index.js
  app/src/components/ChangePipette/types.js
  app/src/components/ConfigurePipette/index.js
  app/src/components/FileInfo/ProtocolPipettesCard.js
  app/src/components/FileInfo/index.js
  app/src/components/FileInfo/useInstrumentMountInfo.js
  app/src/components/InstrumentSettings/AttachedPipettesCard.js
  app/src/components/calibrate-pipettes/Pipettes.js
  app/src/discovery/selectors.js
  app/src/epic.js
  app/src/pages/Calibrate/Pipettes.js
  app/src/pipettes/__fixtures__/index.js
  app/src/pipettes/__tests__/actions.test.js
  app/src/pipettes/__tests__/epic.test.js
  app/src/pipettes/__tests__/reducer.test.js
  app/src/pipettes/__tests__/selectors.test.js
  app/src/pipettes/actions.js
  app/src/pipettes/constants.js
  app/src/pipettes/epic/fetchPipettesEpic.js
  app/src/pipettes/epic/index.js
  app/src/pipettes/index.js
  app/src/pipettes/reducer.js
  app/src/pipettes/selectors.js
  app/src/pipettes/types.js
  app/src/reducer.js
  app/src/robot-admin/actions.js
  app/src/robot-api/__tests__/hooks.test.js
  app/src/robot-api/__tests__/reducer.test.js
  app/src/robot-api/__tests__/selectors.test.js
  app/src/robot-api/constants.js
  app/src/robot-api/hooks.js
  app/src/robot-api/http.js
  app/src/robot-api/index.js
  app/src/robot-api/operators.js
  app/src/robot-api/reducer.js
  app/src/robot-api/resources/index.js
  app/src/robot-api/resources/modules.js
  app/src/robot-api/resources/pipettes.js
  app/src/robot-api/resources/settings.js
  app/src/robot-api/resources/types.js
  app/src/robot-api/selectors.js
  app/src/robot-api/types.js
  app/src/robot-api/utils.js
  app/src/robot-settings/actions.js
  app/src/types.js
Labels: app, ready for review, refactor

#4478 fix(api): add handling for legacy(location,well,labware) in rpc
  api/src/opentrons/api/session.py
Labels: api, fix, papi-v1-backcompat

#4475 refactor(app): add "Add Labware" button to custom labware page
  app/src/components/AddLabwareCard/AddLabware.js
  app/src/components/AddLabwareCard/ChangePathButton.js
  app/src/components/AddLabwareCard/ManagePath.js
  app/src/components/AddLabwareCard/PathDetail.js
  app/src/components/AddLabwareCard/__tests__/AddLabware.test.js
  app/src/components/AddLabwareCard/__tests__/AddLabwareCard.test.js
  app/src/components/AddLabwareCard/__tests__/ChangePathButton.test.js
  app/src/components/AddLabwareCard/__tests__/ManagePath.test.js
  app/src/components/AddLabwareCard/__tests__/PathDetail.test.js
  app/src/components/AddLabwareCard/__tests__/__snapshots__/AddLabware.test.js.snap
  app/src/components/AddLabwareCard/__tests__/__snapshots__/ChangePathButton.test.js.snap
  app/src/components/AddLabwareCard/__tests__/__snapshots__/ManagePath.test.js.snap
  app/src/components/AddLabwareCard/__tests__/__snapshots__/PathDetail.test.js.snap
  app/src/components/AddLabwareCard/index.js
  app/src/components/AddLabwareCard/styles.css
  app/src/components/AppSettings/AdvancedSettingsCard.js
  app/src/components/ConnectPanel/RobotListItem.js
  app/src/components/RobotSettings/ControlsCard.js
  app/src/components/RobotSettings/ResetRobotModal.js
  app/src/components/RobotSettings/UploadRobotUpdate.js
  app/src/components/analytics-settings/AnalyticsToggle.js
  app/src/components/controls/ControlInfo.js
  app/src/components/controls/LabeledButton.js
  app/src/components/controls/LabeledCheckbox.js
  app/src/components/controls/LabeledControl.js
  app/src/components/controls/LabeledSelect.js
  app/src/components/controls/LabeledToggle.js
  app/src/components/controls/ToggleButton.js
  app/src/components/controls/index.js
  app/src/components/controls/styles.css
  app/src/custom-labware/__tests__/actions.test.js
  app/src/custom-labware/actions.js
  app/src/custom-labware/types.js
  components/src/controls/LabeledControl.js
  components/src/controls/LabeledToggle.js
  components/src/controls/styles.css
Labels: app, ready for review

#4441 feat(api): register module instances on os events
  api/Pipfile
  api/Pipfile.lock
  api/setup.py
  api/src/opentrons/api/session.py
  api/src/opentrons/drivers/mag_deck/driver.py
  api/src/opentrons/execute.py
  api/src/opentrons/hardware_control/__init__.py
  api/src/opentrons/hardware_control/adapters.py
  api/src/opentrons/hardware_control/controller.py
  api/src/opentrons/hardware_control/dev_types.py
  api/src/opentrons/hardware_control/modules/__init__.py
  api/src/opentrons/hardware_control/modules/update.py
  api/src/opentrons/hardware_control/simulator.py
  api/src/opentrons/legacy_api/modules/__init__.py
  api/src/opentrons/legacy_api/robot/robot.py
  api/src/opentrons/protocol_api/contexts.py
  api/src/opentrons/server/endpoints/control.py
  api/src/opentrons/server/endpoints/update.py
  api/src/opentrons/server/http.py
  api/tests/opentrons/cli/test_cli.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/hardware_control/test_instruments.py
  api/tests/opentrons/hardware_control/test_modules.py
  api/tests/opentrons/labware/test_modules.py
  api/tests/opentrons/server/test_control_endpoints.py
  api/tests/opentrons/server/test_update_endpoints.py
Labels: api, feature, ready for review

#4483 refactor(api): add robot globals in backcompat mode
  api/src/opentrons/__init__.py
Labels: api, papi-v1-backcompat, refactor

#4473 feat(api): surface protocol apiv1 backcompat in apiv2
  api/src/opentrons/api/session.py
  api/src/opentrons/config/advanced_settings.py
  api/src/opentrons/config/feature_flags.py
  api/src/opentrons/execute.py
  api/src/opentrons/legacy_api/protocols/execute_v3.py
  api/src/opentrons/simulate.py
  api/tests/opentrons/api/test_session.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/integration/test_api.py
  api/tests/opentrons/server/test_settings_endpoints.py
  api/tests/opentrons/test_simulate.py
Labels: api, feature, papi v2

#4467 refactor(app): clarify module behavior in cancel modal
  app/src/components/RunLog/ConfirmCancelModal.js
Labels: app, ready for review, refactor

#4474 feat(api): enable v2 internals by default
  api/Makefile
  api/docs/v2/new_advanced_running.rst
  api/src/opentrons/config/advanced_settings.py
  api/src/opentrons/config/feature_flags.py
  api/src/opentrons/tools/__init__.py
  api/tests/opentrons/config/test_advanced_settings_migration.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/server/test_settings_endpoints.py
  api/tests/opentrons/tools/test_qc_scripts.py
Labels: api, feature

#4476 refactor(api): make labware migration non-destructive
  api/src/opentrons/protocol_api/legacy_wrapper/api.py
  api/src/opentrons/protocol_api/legacy_wrapper/containers_wrapper.py
  api/tests/opentrons/protocol_api/test_legacy_migration.py
Labels: api, refactor

#4488 fix(api): flag move to tc with in-between lid as unsafe
  api/src/opentrons/protocol_api/contexts.py
Labels: api, ready for review

#4480 fix(api): fix calibration issues in backcompat
  api/src/opentrons/api/calibration.py
  api/src/opentrons/protocol_api/contexts.py
  api/src/opentrons/protocol_api/labware.py
  api/src/opentrons/protocol_api/legacy_wrapper/containers_wrapper.py
  api/src/opentrons/protocol_api/legacy_wrapper/instrument_wrapper.py
  api/tests/opentrons/protocol_api/test_instrument_wrapper.py
  api/tests/opentrons/protocol_api/test_legacy_labware.py
Labels: api, fix, papi v2, papi-v1-backcompat

#4487 refactor(app): wire up Add Labware button without error handling
  app-shell/src/labware/__tests__/definitions.test.js
  app-shell/src/labware/__tests__/dispatch.test.js
  app-shell/src/labware/__tests__/validation.test.js
  app-shell/src/labware/definitions.js
  app-shell/src/labware/index.js
  app-shell/src/labware/validation.js
  app/src/custom-labware/__tests__/actions.test.js
  app/src/custom-labware/__tests__/reducer.test.js
  app/src/custom-labware/__tests__/selectors.test.js
  app/src/custom-labware/actions.js
  app/src/custom-labware/reducer.js
  app/src/custom-labware/types.js
Labels: app, ready for review

#4468 feat(protocol-designer): Disable module step creation when module missing
  protocol-designer/src/components/StepCreationButton.js
  protocol-designer/src/components/listButtons.css
  protocol-designer/src/localization/en/application.json
  protocol-designer/src/localization/en/tooltip.json
  protocol-designer/src/step-forms/utils.js
Labels: protocol designer, ready for review

#4489 fix(api): fix bad adv settings crash
  api/src/opentrons/config/advanced_settings.py
  api/tests/opentrons/config/test_advanced_settings_migration.py
Labels: api, fix

#4469 feat(protocol-designer): Add magnet step form field validation
  protocol-designer/src/components/StepEditForm/StepEditForm.css
  protocol-designer/src/components/StepEditForm/forms/MagnetForm.js
  protocol-designer/src/constants.js
  protocol-designer/src/localization/en/form.json
  protocol-designer/src/steplist/fieldLevel/errors.js
  protocol-designer/src/steplist/fieldLevel/index.js
  protocol-designer/src/steplist/fieldLevel/processing.js
  protocol-designer/src/steplist/formLevel/errors.js
  protocol-designer/src/steplist/formLevel/getDefaultsForStepType.js
  protocol-designer/src/steplist/formLevel/getDisabledFields/index.js
  protocol-designer/src/steplist/formLevel/handleFormChange/dependentFieldsUpdateMagnet.js
  protocol-designer/src/steplist/formLevel/handleFormChange/index.js
  protocol-designer/src/steplist/formLevel/index.js
  protocol-designer/src/steplist/formLevel/warnings.js
Labels: protocol designer, ready for review

#4492 fix(api): wrap modules hc instance in sync adapter on load
  api/src/opentrons/protocol_api/contexts.py
Labels: api, fix

#4496 refactor(app): handle "Add Labware" errors and allow overwrites
  __mocks__/electron.js
  app-shell/src/dialogs/__tests__/dialogs.test.js
  app-shell/src/dialogs/index.js
  app-shell/src/labware/__tests__/definitions.test.js
  app-shell/src/labware/__tests__/dispatch.test.js
  app-shell/src/labware/__tests__/validation.test.js
  app-shell/src/labware/compare.js
  app-shell/src/labware/definitions.js
  app-shell/src/labware/index.js
  app-shell/src/labware/validation.js
  app/src/components/AddLabwareCard/AddLabwareFailureModal.js
  app/src/components/AddLabwareCard/__tests__/AddLabwareCard.test.js
  app/src/components/AddLabwareCard/__tests__/AddLabwareFailureModal.test.js
  app/src/components/AddLabwareCard/__tests__/__snapshots__/AddLabwareFailureModal.test.js.snap
  app/src/components/AddLabwareCard/index.js
  app/src/components/AddLabwareCard/styles.css
  app/src/custom-labware/__fixtures__/index.js
  app/src/custom-labware/__tests__/actions.test.js
  app/src/custom-labware/__tests__/reducer.test.js
  app/src/custom-labware/__tests__/selectors.test.js
  app/src/custom-labware/actions.js
  app/src/custom-labware/reducer.js
  app/src/custom-labware/selectors.js
  app/src/custom-labware/types.js
  components/src/styles/typography.css
Labels: app, ready for review

#4498 refactor(api): always use legacy singletons to run v1 protocols
  api/Makefile
  api/src/opentrons/__init__.py
  api/src/opentrons/api/calibration.py
  api/src/opentrons/api/models.py
  api/src/opentrons/api/routers.py
  api/src/opentrons/api/session.py
  api/src/opentrons/config/advanced_settings.py
  api/src/opentrons/drivers/temp_deck/driver.py
  api/src/opentrons/execute.py
  api/src/opentrons/hardware_control/controller.py
  api/src/opentrons/legacy_api/instruments/pipette.py
  api/src/opentrons/legacy_api/protocols/__init__.py
  api/src/opentrons/legacy_api/protocols/execute_v3.py
  api/src/opentrons/legacy_api/robot/robot.py
  api/src/opentrons/simulate.py
  api/tests/opentrons/api/test_session.py
  api/tests/opentrons/cli/test_cli.py
  api/tests/opentrons/commands/test_description.py
  api/tests/opentrons/config/test_advanced_settings_migration.py
  api/tests/opentrons/config/test_pipette_config.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/containers/test_containers.py
  api/tests/opentrons/containers/test_labware_fns.py
  api/tests/opentrons/drivers/module_drivers/test_temp_deck_driver.py
  api/tests/opentrons/drivers/test_driver.py
  api/tests/opentrons/integration/test_api.py
  api/tests/opentrons/labware/test_pipette.py
  api/tests/opentrons/labware/test_pipette_constructors.py
  api/tests/opentrons/legacy_protocols/__init__.py
  api/tests/opentrons/legacy_protocols/test_execute_v3.py
  api/tests/opentrons/protocol_api/test_back_compat.py
  api/tests/opentrons/protocol_api/test_execute.py
  api/tests/opentrons/protocol_api/test_instrument_wrapper.py
  api/tests/opentrons/protocol_api/test_legacy_labware.py
  api/tests/opentrons/protocol_api/test_legacy_modules.py
  api/tests/opentrons/protocols/test_bundle.py
  api/tests/opentrons/protocols/test_parse.py
  api/tests/opentrons/server/calibration_integration_test.py
  api/tests/opentrons/server/test_calibration_endpoints.py
  api/tests/opentrons/server/test_control_endpoints.py
  api/tests/opentrons/server/test_serialize.py
  api/tests/opentrons/server/test_settings_endpoints.py
  api/tests/opentrons/test_simulate.py
  api/tests/opentrons/tools/test_qc_scripts.py
Labels: api, feature

#4503 refactor(api): remove now-unused legacy_wrapper
  api/src/opentrons/api/calibration.py
  api/src/opentrons/api/session.py
  api/src/opentrons/commands/commands.py
  api/src/opentrons/execute.py
  api/src/opentrons/protocol_api/execute.py
  api/src/opentrons/protocol_api/legacy_wrapper/__init__.py
  api/src/opentrons/protocol_api/legacy_wrapper/api.py
  api/src/opentrons/protocol_api/legacy_wrapper/containers_wrapper.py
  api/src/opentrons/protocol_api/legacy_wrapper/instrument_wrapper.py
  api/src/opentrons/protocol_api/legacy_wrapper/modules_wrapper.py
  api/src/opentrons/protocol_api/legacy_wrapper/robot_wrapper.py
  api/src/opentrons/protocol_api/legacy_wrapper/types.py
  api/src/opentrons/protocol_api/legacy_wrapper/util.py
  api/src/opentrons/server/__init__.py
  api/tests/opentrons/protocol_api/test_legacy_migration.py
Labels: api, refactor

#4500 feat(api): add volume parameter to thermocycler temperature commands
  api/src/opentrons/drivers/thermocycler/driver.py
  api/src/opentrons/hardware_control/controller.py
  api/src/opentrons/hardware_control/modules/thermocycler.py
  api/src/opentrons/protocol_api/contexts.py
  api/tests/opentrons/drivers/module_drivers/test_thermocycler_driver.py
  api/tests/opentrons/hardware_control/modules/test_hc_thermocycler.py
  api/tests/opentrons/protocol_api/test_module_context.py
Labels: api, ready for review

#4499 refactor(app): Show errors and invalid files in custom labware list
  app-shell/src/labware/__tests__/validation.test.js
  app-shell/src/labware/compare.js
  app-shell/src/labware/validation.js
  app/src/components/AddLabwareCard/AddLabwareFailureModal.js
  app/src/components/AddLabwareCard/__tests__/AddLabwareFailureModal.test.js
  app/src/components/AddLabwareCard/index.js
  app/src/components/AddLabwareCard/styles.css
  app/src/components/ListLabwareCard/LabwareItem.js
  app/src/components/ListLabwareCard/LabwareList.js
  app/src/components/ListLabwareCard/ListCard.js
  app/src/components/ListLabwareCard/Warning.js
  app/src/components/ListLabwareCard/__tests__/LabwareItem.test.js
  app/src/components/ListLabwareCard/__tests__/LabwareList.test.js
  app/src/components/ListLabwareCard/__tests__/ListCard.test.js
  app/src/components/ListLabwareCard/__tests__/ListLabwareCard.test.js
  app/src/components/ListLabwareCard/__tests__/Warning.test.js
  app/src/components/ListLabwareCard/__tests__/__snapshots__/LabwareItem.test.js.snap
  app/src/components/ListLabwareCard/__tests__/__snapshots__/LabwareList.test.js.snap
  app/src/components/ListLabwareCard/__tests__/__snapshots__/ListCard.test.js.snap
  app/src/components/ListLabwareCard/__tests__/__snapshots__/Warning.test.js.snap
  app/src/components/ListLabwareCard/index.js
  app/src/components/ListLabwareCard/styles.css
  app/src/custom-labware/__fixtures__/index.js
  app/src/custom-labware/__tests__/selectors.test.js
  app/src/custom-labware/selectors.js
  app/src/custom-labware/types.js
  components/src/styles/typography.css
Labels: app, ready for review

#4472 fix(app-shell): improve context menu and log handling
  app-shell/README.md
  app-shell/package.json
  app-shell/src/config.js
  app-shell/src/log.js
  app-shell/src/main.js
  app-shell/src/menu.js
  app-shell/src/robot-logs.js
  app/src/config/types.js
  yarn.lock
Labels: app, fix, ready for review

#4490 feat(api): add extra labware in session
  api/src/opentrons/api/session.py
  api/src/opentrons/server/serialize.py
  api/tests/opentrons/api/test_session.py
Labels: api, feature, papi v2, rpc

#4485 chore(docs): apiv2 launch docs changes
  api/docs/root/index.html
  api/docs/static/override_sphinx.css
  api/docs/templates/v1/layout.html
  api/docs/templates/v2/layout.html
  api/docs/v1/conf.py
  api/docs/v1/modules.rst
  api/docs/v2/conf.py
  api/docs/v2/index.rst
  api/docs/v2/new_advanced_running.rst
  api/docs/v2/new_atomic_commands.rst
  api/docs/v2/new_complex_commands.rst
  api/docs/v2/new_examples.rst
  api/docs/v2/new_labware.rst
  api/docs/v2/new_modules.rst
  api/docs/v2/new_pipette.rst
  api/docs/v2/versioning.rst
  api/docs/v2/writing.rst
  api/src/opentrons/protocol_api/contexts.py
  api/src/opentrons/protocol_api/labware.py
Labels: docs

#4509 fix(app): Call correct create method depending on protocol
  app-shell/src/labware/__tests__/dispatch.test.js
  app-shell/src/labware/index.js
  app-shell/src/main.js
  app/src/protocol/protocol-data.js
  app/src/robot/actions.js
  app/src/robot/api-client/__tests__/create-sessions.test.js
  app/src/robot/api-client/client.js
  app/src/robot/reducer/session.js
  app/src/robot/selectors.js
  app/src/robot/test/actions.test.js
  app/src/robot/test/api-client.test.js
  app/src/robot/test/selectors.test.js
  app/src/robot/test/session-reducer.test.js
  app/src/rpc/remote-error.js
  app/src/shell/update.js
Labels: app, fix, ready for review

#4512 refactor(app): add warning if robot doesn't support custom labware
  app/src/components/UploadPanel/UploadMenu.js
  app/src/pages/Upload/FileInfo.js
  app/src/pages/Upload/index.js
  app/src/robot/reducer/session.js
  app/src/robot/test/session-reducer.test.js
Labels: app, ready for review, small

#4477 refactor(app): refactor restart and configuration reset state
  app/src/components/CalibrateDeck/InstructionsModal.js
  app/src/components/RobotSettings/ControlsCard.js
  app/src/components/RobotSettings/ResetRobotModal.js
  app/src/components/RobotSettings/RestartRequiredBanner.js
  app/src/discovery/actions.js
  app/src/http-api-client/index.js
  app/src/http-api-client/reducer.js
  app/src/http-api-client/reset.js
  app/src/pages/Robots/RobotSettings.js
  app/src/robot-admin/__fixtures__/index.js
  app/src/robot-admin/__tests__/actions.test.js
  app/src/robot-admin/__tests__/epic.test.js
  app/src/robot-admin/__tests__/reducer.test.js
  app/src/robot-admin/__tests__/selectors.test.js
  app/src/robot-admin/actions.js
  app/src/robot-admin/constants.js
  app/src/robot-admin/epic.js
  app/src/robot-admin/epic/fetchResetOptionsEpic.js
  app/src/robot-admin/epic/index.js
  app/src/robot-admin/epic/resetConfigEpic.js
  app/src/robot-admin/epic/restartEpic.js
  app/src/robot-admin/reducer.js
  app/src/robot-admin/selectors.js
  app/src/robot-admin/types.js
  app/src/robot-api/README.md
  app/src/robot-api/hooks.js
Labels: app, ready for review, refactor

#4510 perf(api): use math.isclose in hotpaths
  api/src/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/src/opentrons/util/vector.py
Labels: api, chore

#4502 feat(app): Display robot and protocol api versions
  app/src/components/FileInfo/InformationCard.js
  app/src/components/RobotSettings/InformationCard.js
  app/src/components/layout/CardContentThird.js
  app/src/components/layout/index.js
  app/src/components/layout/styles.css
  app/src/discovery/__tests__/selectors.test.js
  app/src/discovery/selectors.js
  app/src/protocol/__tests__/reducer.test.js
  app/src/protocol/__tests__/selectors.test.js
  app/src/protocol/index.js
  app/src/protocol/reducer.js
  app/src/protocol/selectors.js
  app/src/protocol/types.js
  app/src/reducer.js
  app/src/robot/actions.js
  app/src/types.js
  discovery-client/src/types.js
Labels: app, ready for review

#4511 refactor(api): clean up command publisher
  api/src/opentrons/commands/commands.py
  api/tests/opentrons/labware/test_pipette_unittest.py
  api/tests/opentrons/test_simulate.py
Labels: api, ready for review

#4507 feat(protocol-library-kludge): support v2 labware
  components/src/deck/ContainerNameOverlay.js
  components/src/deck/LabwareNameOverlay.js
  components/src/deck/index.js
  protocol-library-kludge/src/URLDeck.css
  protocol-library-kludge/src/URLDeck.js
  protocol-library-kludge/src/getLabware.js
Labels: ready for review

#4501 feat(api): Add locks on direct data access for mag and temp module
  api/src/opentrons/drivers/mag_deck/driver.py
  api/src/opentrons/drivers/temp_deck/driver.py
  api/src/opentrons/hardware_control/__init__.py
  api/src/opentrons/hardware_control/modules/magdeck.py
  api/src/opentrons/hardware_control/modules/tempdeck.py
  api/src/opentrons/legacy_api/modules/magdeck.py
  api/src/opentrons/legacy_api/modules/tempdeck.py
  api/tests/opentrons/drivers/module_drivers/test_temp_deck_driver.py
  api/tests/opentrons/labware/test_modules.py
Labels: api, ready for review
