Repository Opentrons/opentrons, pull requests merged in 2019-01, with the labels that each got.

#2848 refactor(protocol-designer): section and button collapse into react state
  protocol-designer/src/components/StepCreationButton.js
  protocol-designer/src/components/StepEditForm/FormSection.js
  protocol-designer/src/components/StepEditForm/TransferLikeForm.js
  protocol-designer/src/components/steplist/StepList.js
  protocol-designer/src/containers/StepCreationButton.js
  protocol-designer/src/localization/en/form.json
  protocol-designer/src/steplist/types.js
  protocol-designer/src/ui/steps/actions.js
  protocol-designer/src/ui/steps/reducers.js
  protocol-designer/src/ui/steps/selectors.js
  protocol-designer/src/ui/steps/test/reducers.test.js
  protocol-designer/src/ui/steps/types.js
Labels: protocol designer, ready for review, refactor

#2851 feature(protocol-designer): always use handleFormChange to update forms; fix edit pipettes
  protocol-designer/src/components/FilePage.js
  protocol-designer/src/components/ProtocolEditor.js
  protocol-designer/src/components/StepEditForm/FlowRateField/index.js
  protocol-designer/src/components/StepEditForm/WellSelectionInput/WellSelectionModal.js
  protocol-designer/src/components/StepEditForm/WellSelectionInput/index.js
  protocol-designer/src/components/modals/EditPipettesModal/EditPipettesModal.css
  protocol-designer/src/components/modals/EditPipettesModal/StepChangesConfirmModal.css
  protocol-designer/src/components/modals/EditPipettesModal/StepChangesConfirmModal.js
  protocol-designer/src/components/modals/EditPipettesModal/index.js
  protocol-designer/src/components/modals/FilePipettesModal/FilePipettesModal.css
  protocol-designer/src/components/modals/FilePipettesModal/PipetteDiagram.js
  protocol-designer/src/components/modals/FilePipettesModal/PipetteFields.js
  protocol-designer/src/components/modals/FilePipettesModal/TiprackDiagram.js
  protocol-designer/src/components/modals/FilePipettesModal/index.js
  protocol-designer/src/components/modals/NewFileModal/index.js
  protocol-designer/src/containers/ConnectedNewFileModal.js
  protocol-designer/src/file-data/selectors/fileCreator.js
  protocol-designer/src/load-file/actions.js
  protocol-designer/src/load-file/types.js
  protocol-designer/src/localization/en/form.json
  protocol-designer/src/localization/en/modal.json
  protocol-designer/src/step-forms/actions/index.js
  protocol-designer/src/step-forms/reducers/index.js
  protocol-designer/src/step-forms/selectors/index.js
  protocol-designer/src/step-forms/test/utils.test.js
  protocol-designer/src/step-forms/types.js
  protocol-designer/src/step-forms/utils.js
  protocol-designer/src/steplist/actions/actions.js
  protocol-designer/src/steplist/actions/handleFormChange.js
  protocol-designer/src/steplist/actions/types.js
  protocol-designer/src/ui/steps/actions.js
  protocol-designer/src/well-selection/actions.js
Labels: feature, large, protocol designer, ready for review

#2852 chore(repo): flow config cleanup
  .flowconfig
  flow-typed/npm/@opentrons/app-shell_vx.x.x.js
  flow-typed/npm/@opentrons/components_vx.x.x.js
  flow-typed/npm/@opentrons/webpack-config_vx.x.x.js
Labels: chore, ready for review

#2846 feat(api): Add calibrate labware and tip probe with new protocol API
  api/src/opentrons/api/calibration.py
  api/src/opentrons/api/models.py
  api/src/opentrons/api/routers.py
  api/src/opentrons/api/session.py
  api/src/opentrons/config/robot_configs.py
  api/src/opentrons/hardware_control/__init__.py
  api/src/opentrons/hardware_control/adapters.py
  api/src/opentrons/hardware_control/controller.py
  api/src/opentrons/hardware_control/pipette.py
  api/src/opentrons/hardware_control/simulator.py
  api/src/opentrons/hardware_control/types.py
  api/src/opentrons/legacy_api/robot/robot.py
  api/src/opentrons/main.py
  api/src/opentrons/protocol_api/contexts.py
  api/src/opentrons/protocol_api/labware.py
  api/src/opentrons/server/endpoints/control.py
  api/src/opentrons/server/endpoints/settings.py
  api/src/opentrons/types.py
  api/src/opentrons/util/calibration_functions.py
  api/tests/opentrons/api/test_calibration.py
  api/tests/opentrons/api/test_session.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/drivers/test_driver.py
  api/tests/opentrons/hardware_control/test_instruments.py
  api/tests/opentrons/hardware_control/test_moves.py
  api/tests/opentrons/hardware_control/test_pipette.py
  api/tests/opentrons/hardware_control/test_robots_config.py
  api/tests/opentrons/hardware_control/test_tip_probe.py
  api/tests/opentrons/protocol_api/test_context.py
  api/tests/opentrons/server/test_settings_endpoints.py
  api/tests/opentrons/util/test_tip_probe.py
  shared-data/robot-data/pipetteNameSpecs.json
Labels: api, ready for review, refactor

#2858 build(babel): Upgrade babel to v7
  .babelrc
  app-shell/.babelrc
  app-shell/Makefile
  babel.config.js
  discovery-client/.babelrc
  discovery-client/Makefile
  discovery-client/src/cli.js
  package.json
  webpack-config/index.js
  webpack-config/lib/base-config.js
  webpack-config/lib/dev-mode.js
  webpack-config/lib/env.js
  webpack-config/lib/rules.js
  yarn.lock
Labels: chore, ready for review

#2857 feat(protocol-designer): drag and drop to move labware, duplicate
  components/src/deck/Deck.js
  components/src/deck/LabwareContainer.css
  protocol-designer/package.json
  protocol-designer/src/components/ProtocolEditor.js
  protocol-designer/src/components/labware/DisabledSelectSlotOverlay.js
  protocol-designer/src/components/labware/LabwareOnDeck.js
  protocol-designer/src/components/steplist/DraggableStepItems.js
  protocol-designer/src/components/steplist/StepItem.css
  protocol-designer/src/containers/ConnectedDeckSetup.js
  protocol-designer/src/containers/ConnectedStepList.js
  protocol-designer/src/containers/LabwareContainer.js
  protocol-designer/src/labware-ingred/__tests__/containers.test.js
  protocol-designer/src/labware-ingred/__tests__/ingredients.test.js
  protocol-designer/src/labware-ingred/actions.js
  protocol-designer/src/labware-ingred/reducers/index.js
  protocol-designer/src/load-file/reducers.js
  protocol-designer/src/step-forms/reducers/index.js
  yarn.lock
Labels: components, feature, protocol designer, ready for review

#2885 refactor(protocol-designer): remove pipette spec from RobotState
  protocol-designer/src/components/IngredientsList/LabwareDetailsCard/index.js
  protocol-designer/src/components/steplist/MixHeader.js
  protocol-designer/src/containers/ConnectedTitleBar.js
  protocol-designer/src/containers/LabwareContainer.js
  protocol-designer/src/file-data/selectors/commands.js
  protocol-designer/src/file-data/selectors/fileCreator.js
  protocol-designer/src/labware-ingred/reducers/index.js
  protocol-designer/src/labware-ingred/types.js
  protocol-designer/src/labware-ingred/utils.js
  protocol-designer/src/step-generation/aspirateUpdateLiquidState.js
  protocol-designer/src/step-generation/commandCreators/atomic/aspirate.js
  protocol-designer/src/step-generation/commandCreators/atomic/blowout.js
  protocol-designer/src/step-generation/commandCreators/atomic/dispense.js
  protocol-designer/src/step-generation/commandCreators/atomic/dropAllTips.js
  protocol-designer/src/step-generation/commandCreators/atomic/dropTip.js
  protocol-designer/src/step-generation/commandCreators/atomic/replaceTip.js
  protocol-designer/src/step-generation/commandCreators/atomic/touchTip.js
  protocol-designer/src/step-generation/commandCreators/compound/consolidate.js
  protocol-designer/src/step-generation/commandCreators/compound/distribute.js
  protocol-designer/src/step-generation/commandCreators/compound/mix.js
  protocol-designer/src/step-generation/commandCreators/compound/transfer.js
  protocol-designer/src/step-generation/dispenseUpdateLiquidState.js
  protocol-designer/src/step-generation/errorCreators.js
  protocol-designer/src/step-generation/getNextRobotStateAndWarnings/forAspirateDispense.js
  protocol-designer/src/step-generation/robotStateSelectors.js
  protocol-designer/src/step-generation/test-with-flow/aspirate.test.js
  protocol-designer/src/step-generation/test-with-flow/blowout.test.js
  protocol-designer/src/step-generation/test-with-flow/consolidate.test.js
  protocol-designer/src/step-generation/test-with-flow/dispense.test.js
  protocol-designer/src/step-generation/test-with-flow/dropAllTips.test.js
  protocol-designer/src/step-generation/test-with-flow/dropTip.test.js
  protocol-designer/src/step-generation/test-with-flow/fixtures/fixtures.js
  protocol-designer/src/step-generation/test-with-flow/robotStateSelectors.test.js
  protocol-designer/src/step-generation/types.js
  protocol-designer/src/top-selectors/substep-highlight.js
  protocol-designer/src/top-selectors/tip-contents/index.js
Labels: protocol designer, ready for review, refactor

#2887 docs(api): Update labware docs page
  api/docs/source/labware.rst
Labels: api, docs

#2804 feat(protocol-designer): avoid aspirate/dispense below pipette min volume
  protocol-designer/src/components/steplist/utils.js
  protocol-designer/src/dismiss/selectors.js
  protocol-designer/src/step-generation/commandCreators/compound/transfer.js
  protocol-designer/src/step-generation/test-with-flow/transfer.test.js
  protocol-designer/src/steplist/fieldLevel/errors.js
  protocol-designer/src/steplist/formLevel/index.js
  protocol-designer/src/steplist/formLevel/warnings.js
Labels: protocol designer, ready for review

#2888 fix(protocol-designer): migrate old and new step names and descriptions
  protocol-designer/src/step-forms/reducers/index.js
Labels: fix, protocol designer, ready for review

#2891 fix(components): remove padding from empty AlertItems
  components/src/alerts/alerts.css
Labels: app, components, protocol designer, ready for review

#2890 fix(api): Add gpio.set_button_light() to QC tools scripts, so they wo…
  api/src/opentrons/tools/factory_test.py
  api/src/opentrons/tools/gantry_test.py
Labels: api, easyfix, small

#2894 refactor(protocol-designer): rename orderedStepIds and centralize file migration
  protocol-designer/src/components/StepEditForm/WellSelectionInput/WellSelectionModal.js
  protocol-designer/src/components/modals/EditPipettesModal/index.js
  protocol-designer/src/components/steplist/DraggableStepItems.js
  protocol-designer/src/components/steplist/StepList.js
  protocol-designer/src/containers/ConnectedStepList.js
  protocol-designer/src/containers/HighlightableLabware.js
  protocol-designer/src/dismiss/selectors.js
  protocol-designer/src/file-data/selectors/commands.js
  protocol-designer/src/file-data/selectors/fileCreator.js
  protocol-designer/src/file-types.js
  protocol-designer/src/load-file/actions.js
  protocol-designer/src/load-file/migration.js
  protocol-designer/src/step-forms/reducers/index.js
  protocol-designer/src/step-forms/selectors/index.js
  protocol-designer/src/step-forms/test/reducers.test.js
  protocol-designer/src/step-forms/utils.js
  protocol-designer/src/steplist/formLevel/getNextDefaultPipetteId/index.js
  protocol-designer/src/steplist/formLevel/getNextDefaultPipetteId/test/getNextDefaultPipetteId.test.js
  protocol-designer/src/top-selectors/substep-highlight.js
  protocol-designer/src/top-selectors/substeps.js
  protocol-designer/src/top-selectors/tip-contents/index.js
  protocol-designer/src/ui/steps/actions.js
  protocol-designer/src/ui/steps/reducers.js
  protocol-designer/src/ui/steps/selectors.js
Labels: protocol designer, ready for review, refactor

#2854 feat(api): Add json protocol execution to new protocol API
  api/docs/source/new_protocol_api.rst
  api/src/opentrons/api/calibration.py
  api/src/opentrons/api/models.py
  api/src/opentrons/api/session.py
  api/src/opentrons/config/pipette_config.py
  api/src/opentrons/config/robot_configs.py
  api/src/opentrons/hardware_control/__init__.py
  api/src/opentrons/hardware_control/pipette.py
  api/src/opentrons/hardware_control/simulator.py
  api/src/opentrons/main.py
  api/src/opentrons/protocol_api/back_compat.py
  api/src/opentrons/protocol_api/contexts.py
  api/src/opentrons/protocol_api/execute.py
  api/src/opentrons/protocol_api/labware.py
  api/src/opentrons/types.py
  api/tests/opentrons/api/test_calibration.py
  api/tests/opentrons/hardware_control/test_instruments.py
  api/tests/opentrons/hardware_control/test_pipette.py
  api/tests/opentrons/hardware_control/test_tip_probe.py
  api/tests/opentrons/protocol_api/test_back_compat.py
  api/tests/opentrons/protocol_api/test_context.py
  api/tests/opentrons/protocol_api/test_execute.py
  api/tests/opentrons/protocol_api/test_geometry.py
  api/tests/opentrons/protocol_api/test_labware.py
  api/tests/opentrons/protocol_api/test_labware_load.py
  api/tests/opentrons/protocol_api/test_offsets.py
  shared-data/definitions2/eppendorf_96_tiprack_1000_uL.json
  shared-data/definitions2/eppendorf_96_tiprack_10_uL.json
  shared-data/definitions2/opentrons_96_tiprack_1000_uL.json
  shared-data/definitions2/opentrons_96_tiprack_10_uL.json
  shared-data/definitions2/opentrons_96_tiprack_300_uL.json
  shared-data/labware-json-schema/labware-schema.json
  shared-data/robot-data/pipetteNameSpecs.json
  shared-data/robot-data/schemas/pipetteNameSpecsSchema.json
Labels: api, ready for review

#2855 fix(shared-data): fix irregular labware generator
  shared-data/definitions2/opentrons_6x15_mL_4x50_mL_tuberack.json
  shared-data/js/__tests__/fixtures/irregularLabwareExample1.json
  shared-data/js/labwareTools/index.js
Labels: bug, ready for review, shared data

#2897 fix(protocol-designer): restrict move labware to manual intervention
  protocol-designer/src/components/labware/LabwareOnDeck.js
Labels: fix, protocol designer, ready for review

#2899 fix(api): Flush and sync config file writes immediately
  api/src/opentrons/config/advanced_settings.py
  api/src/opentrons/config/robot_configs.py
Labels: api, ready for review, small

#2886 refactor(components): Move ModuleNameOverlay from app to library
  app/src/components/DeckMap/LabwareItem.js
  app/src/components/DeckMap/index.js
  app/src/components/FileInfo/ProtocolModulesCard.js
  app/src/components/ModuleItem/ModuleInfo.js
  app/src/components/TempDeckStatusCard/index.js
  app/src/robot/types.js
  components/src/deck/Module.js
  components/src/deck/ModuleNameOverlay.js
  components/src/deck/index.js
  protocol-library-kludge/src/URLDeck.js
  shared-data/js/index.js
  shared-data/js/modules.js
Labels: app, bug, components, fix, ready for review

#2900 feat(api): api2: Move multichannel center for certain labwares
  api/src/opentrons/api/calibration.py
  api/src/opentrons/hardware_control/pipette.py
  api/src/opentrons/hardware_control/types.py
  api/src/opentrons/protocol_api/contexts.py
  api/src/opentrons/protocol_api/execute.py
  api/src/opentrons/protocol_api/geometry.py
  api/src/opentrons/protocol_api/labware.py
  api/tests/opentrons/protocol_api/test_context.py
  api/tests/opentrons/protocol_api/test_geometry.py
  shared-data/definitions2/opentrons_1_trash_0.85_L.json
  shared-data/definitions2/opentrons_1_trash_1.1_L.json
  shared-data/definitions2/usa_scientific_12_trough_22_mL.json
Labels: api, fix, ready for review

#2913 feat(protocol-designer): add perSource/perDest changeTip options to transfer.js
  protocol-designer/src/step-generation/commandCreators/compound/transfer.js
  protocol-designer/src/step-generation/test-with-flow/transfer.test.js
Labels: medium, protocol designer, ready for review

#2908 feat(protocol-designer): implement moveLiquidFormToArgs
  protocol-designer/src/components/StepEditForm/WellOrderInput/WellOrderModal.js
  protocol-designer/src/components/StepEditForm/WellOrderInput/WellOrderViz.js
  protocol-designer/src/components/StepEditForm/WellOrderInput/types.js
  protocol-designer/src/form-types.js
  protocol-designer/src/step-generation/types.js
  protocol-designer/src/step-generation/utils.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/mixFormToArgs.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/moveLiquidFormToArgs.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/test/moveLiquidFormToArgs.test.js
  protocol-designer/src/steplist/utils/index.js
  protocol-designer/src/steplist/utils/orderWells.js
Labels: feature, protocol designer, ready for review

#2907 docs(api): Fix new_tip option in legacy api `transfer` docstring
  api/src/opentrons/legacy_api/instruments/pipette.py
Labels: api, docs

#2927 fix(protocol-designer): make rename labware set correct key
  protocol-designer/src/labware-ingred/reducers/index.js
Labels: fix, protocol designer, ready for review

#2931 fix(protocol-designer): revert changes to source_well / dest_well constants
  protocol-designer/src/step-generation/utils.js
Labels: fix, protocol designer

#2912 refactor(shared-data): add deck schema and specs
  shared-data/robot-data/decks/ot2ShortTrash.json
  shared-data/robot-data/decks/ot2Standard.json
  shared-data/robot-data/schemas/deckSchema.json
Labels: ready for review, shared data

#2944 docs(api): Add a way to build a PDF version of the docs
  .travis.yml
  CONTRIBUTING.md
  api/Makefile
  api/docs/source/conf.py
  api/docs/source/templates/toc-with-nav.html
Labels: api, docs, small

#2904 feat(api): decrease plunger acceleration
  api/src/opentrons/config/pipette_config.py
  api/src/opentrons/config/robot_configs.py
  api/src/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/src/opentrons/hardware_control/__init__.py
  api/src/opentrons/legacy_api/api.py
  api/src/opentrons/legacy_api/instruments/pipette.py
  api/src/opentrons/legacy_api/robot/mover.py
  api/tests/opentrons/drivers/test_driver.py
  shared-data/robot-data/pipetteModelSpecs.json
  shared-data/robot-data/schemas/pipetteModelSpecsSchema.json
Labels: api

#2964 fix(api): Correctly format acceleration from settings as dict
  api/src/opentrons/config/robot_configs.py
  api/tests/opentrons/hardware_control/test_robots_config.py
Labels: api, fix, ready for review

#2947 feat(protocol-designer): implement handleFormChangeMoveLiquid
  protocol-designer/src/pipettes/pipetteData.js
  protocol-designer/src/step-forms/reducers/index.js
  protocol-designer/src/steplist/actions/index.js
  protocol-designer/src/steplist/formLevel/handleFormChange/handleFormChangeMoveLiquid.js
  protocol-designer/src/steplist/formLevel/handleFormChange/index.js
  protocol-designer/src/steplist/formLevel/handleFormChange/makeConditionalPatchUpdater.js
  protocol-designer/src/steplist/formLevel/handleFormChange/test/makeConditionalFieldUpdater.test.js
  protocol-designer/src/steplist/formLevel/handleFormChange/test/moveLiquid.test.js
  protocol-designer/src/steplist/formLevel/handleFormChange/utils.js
  protocol-designer/src/steplist/formLevel/index.js
  protocol-designer/src/ui/steps/actions.js
Labels: protocol designer, ready for review

#2949 feat(protocol-designer): build up the ui for new step form
  components/src/forms/forms.css
  protocol-designer/src/components/FilePage.js
  protocol-designer/src/components/Form.css
  protocol-designer/src/components/LiquidPlacementForm/LiquidPlacementForm.js
  protocol-designer/src/components/LiquidsPage/LiquidEditForm.js
  protocol-designer/src/components/StepEditForm/ButtonRow.js
  protocol-designer/src/components/StepEditForm/FlowRateField/FlowRateField.js
  protocol-designer/src/components/StepEditForm/MixForm.js
  protocol-designer/src/components/StepEditForm/MoveLiquidForm.js
  protocol-designer/src/components/StepEditForm/PauseForm.js
  protocol-designer/src/components/StepEditForm/SourceDestFields.js
  protocol-designer/src/components/StepEditForm/StepEditForm.css
  protocol-designer/src/components/StepEditForm/TipPositionInput/index.js
  protocol-designer/src/components/StepEditForm/TransferLikeForm.js
  protocol-designer/src/components/StepEditForm/WellOrderInput/index.js
  protocol-designer/src/components/StepEditForm/WellSelectionInput/WellSelectionInput.js
  protocol-designer/src/components/StepEditForm/formFields.js
  protocol-designer/src/components/StepEditForm/index.js
  protocol-designer/src/components/forms/CheckboxField.js
  protocol-designer/src/components/forms/DropdownField.js
  protocol-designer/src/components/forms/InputField.js
  protocol-designer/src/components/forms/forms.css
  protocol-designer/src/components/forms/index.js
  protocol-designer/src/components/modals/FilePipettesModal/PipetteFields.js
  protocol-designer/src/components/modals/FilePipettesModal/index.js
  protocol-designer/src/components/modals/MoreOptionsModal.css
  protocol-designer/src/form-types.js
  protocol-designer/src/localization/en/form.json
Labels: feature, protocol designer, ready for review

#2968 PD HOTFIX RELEASE: resolve bug where PD failed to save correct labware slots
  protocol-designer/src/components/IngredientsList/LabwareDetailsCard/index.js
  protocol-designer/src/components/LabwareSelectionModal/index.js
  protocol-designer/src/components/LiquidPlacementForm/index.js
  protocol-designer/src/components/LiquidPlacementModal.js
  protocol-designer/src/components/LiquidsPage/index.js
  protocol-designer/src/components/LiquidsSidebar/index.js
  protocol-designer/src/components/StepEditForm/TipPositionInput/index.js
  protocol-designer/src/components/StepEditForm/WellSelectionInput/WellSelectionModal.js
  protocol-designer/src/components/StepEditForm/formFields.js
  protocol-designer/src/components/labware/BrowseLabwareModal.js
  protocol-designer/src/components/modals/NewFileModal/index.js
  protocol-designer/src/components/steplist/StartingDeckStateTerminalItem.js
  protocol-designer/src/constants.js
  protocol-designer/src/containers/ConnectedDeckSetup.js
  protocol-designer/src/containers/ConnectedSidebar.js
  protocol-designer/src/containers/ConnectedStepItem.js
  protocol-designer/src/containers/ConnectedTitleBar.js
  protocol-designer/src/containers/HighlightableLabware.js
  protocol-designer/src/containers/IngredientsList.js
  protocol-designer/src/containers/LabwareContainer.js
  protocol-designer/src/containers/SelectorDebugger.js
  protocol-designer/src/file-data/selectors/commands.js
  protocol-designer/src/file-data/selectors/fileCreator.js
  protocol-designer/src/labware-ingred/__tests__/selectors.test.js
  protocol-designer/src/labware-ingred/actions/actions.js
  protocol-designer/src/labware-ingred/actions/index.js
  protocol-designer/src/labware-ingred/actions/thunks.js
  protocol-designer/src/labware-ingred/reducers/index.js
  protocol-designer/src/labware-ingred/selectors.js
  protocol-designer/src/labware-ingred/types.js
  protocol-designer/src/step-forms/reducers/index.js
  protocol-designer/src/step-forms/selectors/index.js
  protocol-designer/src/step-forms/utils.js
  protocol-designer/src/steplist/actions/thunks.js
  protocol-designer/src/top-selectors/substeps.js
  protocol-designer/src/top-selectors/well-contents/getWellContentsAllLabware.js
  protocol-designer/src/top-selectors/well-contents/index.js
  protocol-designer/src/well-selection/actions.js
Labels: protocol designer

#2713 refactor(api): add pipette misc functions to protocol_api
  api/docs/source/new_protocol_api.rst
  api/src/opentrons/api/session.py
  api/src/opentrons/commands/commands.py
  api/src/opentrons/hardware_control/__init__.py
  api/src/opentrons/protocol_api/contexts.py
  api/src/opentrons/protocol_api/labware.py
  api/src/opentrons/protocol_api/transfers.py
  api/src/opentrons/types.py
  api/tests/opentrons/protocol_api/test_context.py
  api/tests/opentrons/protocol_api/test_labware.py
  api/tests/opentrons/protocol_api/test_transfers.py
Labels: ready for review

#2967 fix(protocol-designer): resolve bug where PD failed to save correct labware slots
  protocol-designer/src/components/IngredientsList/LabwareDetailsCard/index.js
  protocol-designer/src/components/LabwareSelectionModal/index.js
  protocol-designer/src/components/LiquidPlacementForm/index.js
  protocol-designer/src/components/LiquidPlacementModal.js
  protocol-designer/src/components/LiquidsPage/index.js
  protocol-designer/src/components/LiquidsSidebar/index.js
  protocol-designer/src/components/StepEditForm/TipPositionInput/index.js
  protocol-designer/src/components/StepEditForm/WellSelectionInput/WellSelectionModal.js
  protocol-designer/src/components/StepEditForm/formFields.js
  protocol-designer/src/components/labware/BrowseLabwareModal.js
  protocol-designer/src/components/modals/NewFileModal/index.js
  protocol-designer/src/components/steplist/StartingDeckStateTerminalItem.js
  protocol-designer/src/constants.js
  protocol-designer/src/containers/ConnectedDeckSetup.js
  protocol-designer/src/containers/ConnectedSidebar.js
  protocol-designer/src/containers/ConnectedStepItem.js
  protocol-designer/src/containers/ConnectedTitleBar.js
  protocol-designer/src/containers/HighlightableLabware.js
  protocol-designer/src/containers/IngredientsList.js
  protocol-designer/src/containers/LabwareContainer.js
  protocol-designer/src/containers/SelectorDebugger.js
  protocol-designer/src/file-data/selectors/commands.js
  protocol-designer/src/file-data/selectors/fileCreator.js
  protocol-designer/src/labware-ingred/__tests__/selectors.test.js
  protocol-designer/src/labware-ingred/actions/actions.js
  protocol-designer/src/labware-ingred/actions/index.js
  protocol-designer/src/labware-ingred/actions/thunks.js
  protocol-designer/src/labware-ingred/reducers/index.js
  protocol-designer/src/labware-ingred/selectors.js
  protocol-designer/src/labware-ingred/types.js
  protocol-designer/src/step-forms/reducers/index.js
  protocol-designer/src/step-forms/selectors/index.js
  protocol-designer/src/step-forms/utils.js
  protocol-designer/src/steplist/actions/thunks.js
  protocol-designer/src/top-selectors/substeps.js
  protocol-designer/src/top-selectors/well-contents/getWellContentsAllLabware.js
  protocol-designer/src/top-selectors/well-contents/index.js
  protocol-designer/src/well-selection/actions.js
Labels: fix, protocol designer, ready for review

#2974 refactor(protocol-designer): Rearrange Step form fields and clarify
  components/src/forms/forms.css
  protocol-designer/src/components/StepEditForm/FormSection.js
  protocol-designer/src/components/StepEditForm/MixForm.js
  protocol-designer/src/components/StepEditForm/PauseForm.js
  protocol-designer/src/components/StepEditForm/StepEditForm.css
  protocol-designer/src/components/StepEditForm/TransferForm/SourceDestFields.js
  protocol-designer/src/components/StepEditForm/TransferForm/index.js
  protocol-designer/src/components/StepEditForm/TransferLikeForm.js
  protocol-designer/src/components/StepEditForm/fields/BlowoutLocation.js
  protocol-designer/src/components/StepEditForm/fields/ChangeTip.js
  protocol-designer/src/components/StepEditForm/fields/CheckboxRow.js
  protocol-designer/src/components/StepEditForm/fields/DisposalVolume.js
  protocol-designer/src/components/StepEditForm/fields/FieldConnector.js
  protocol-designer/src/components/StepEditForm/fields/FlowRate/FlowRateInput.css
  protocol-designer/src/components/StepEditForm/fields/FlowRate/FlowRateInput.js
  protocol-designer/src/components/StepEditForm/fields/FlowRate/index.js
  protocol-designer/src/components/StepEditForm/fields/Labware.js
  protocol-designer/src/components/StepEditForm/fields/Path.js
  protocol-designer/src/components/StepEditForm/fields/Pipette.js
  protocol-designer/src/components/StepEditForm/fields/RadioGroup.js
  protocol-designer/src/components/StepEditForm/fields/Text.js
  protocol-designer/src/components/StepEditForm/fields/TipPosition/TipPositionInput.css
  protocol-designer/src/components/StepEditForm/fields/TipPosition/TipPositionModal.js
  protocol-designer/src/components/StepEditForm/fields/TipPosition/TipPositionZAxisViz.js
  protocol-designer/src/components/StepEditForm/fields/TipPosition/index.js
  protocol-designer/src/components/StepEditForm/fields/TipPosition/utils.js
  protocol-designer/src/components/StepEditForm/fields/Volume.js
  protocol-designer/src/components/StepEditForm/fields/WellOrder/WellOrderInput.css
  protocol-designer/src/components/StepEditForm/fields/WellOrder/WellOrderModal.js
  protocol-designer/src/components/StepEditForm/fields/WellOrder/WellOrderViz.js
  protocol-designer/src/components/StepEditForm/fields/WellOrder/index.js
  protocol-designer/src/components/StepEditForm/fields/WellSelection/WellSelectionInput.js
  protocol-designer/src/components/StepEditForm/fields/WellSelection/WellSelectionModal.css
  protocol-designer/src/components/StepEditForm/fields/WellSelection/WellSelectionModal.js
  protocol-designer/src/components/StepEditForm/fields/WellSelection/index.js
  protocol-designer/src/components/StepEditForm/fields/getTooltipForField.js
  protocol-designer/src/components/StepEditForm/fields/index.js
  protocol-designer/src/components/StepEditForm/formFields.js
  protocol-designer/src/components/StepEditForm/index.js
  protocol-designer/src/components/forms/CheckboxField.js
  protocol-designer/src/components/forms/DropdownField.js
  protocol-designer/src/components/forms/InputField.js
  protocol-designer/src/components/forms/forms.css
  protocol-designer/src/components/forms/index.js
Labels: components, protocol designer, ready for review

#2976 Api docs fix simulation link
  api/docs/source/writing.rst
Labels: api, chore, docs, ready for review

#2965 fix(api): api2 should not move before homing plunger
  api/src/opentrons/hardware_control/__init__.py
Labels: api, fix

#2983 feat(protocol-designer): polish up new transfer form layout and styling
  components/src/__tests__/__snapshots__/icons.test.js.snap
  components/src/forms/forms.css
  components/src/icons/icon-data.js
  protocol-designer/src/components/StepEditForm/ButtonRow.js
  protocol-designer/src/components/StepEditForm/MixForm.js
  protocol-designer/src/components/StepEditForm/StepEditForm.css
  protocol-designer/src/components/StepEditForm/TransferForm/SourceDestFields.js
  protocol-designer/src/components/StepEditForm/TransferForm/index.js
  protocol-designer/src/components/StepEditForm/TransferLikeForm.js
  protocol-designer/src/components/StepEditForm/fields/BlowoutLocation.js
  protocol-designer/src/components/StepEditForm/fields/CheckboxRow.js
  protocol-designer/src/components/StepEditForm/fields/DisposalVolume.js
  protocol-designer/src/components/StepEditForm/fields/FlowRate/FlowRateInput.js
  protocol-designer/src/components/StepEditForm/fields/Labware.js
  protocol-designer/src/components/StepEditForm/fields/Path/Path.js
  protocol-designer/src/components/StepEditForm/fields/Pipette.js
  protocol-designer/src/components/StepEditForm/fields/TipPosition/index.js
  protocol-designer/src/components/StepEditForm/fields/Volume.js
  protocol-designer/src/components/StepEditForm/fields/WellOrder/WellOrderInput.css
  protocol-designer/src/images/path_multi_aspirate.svg
  protocol-designer/src/images/path_multi_dispense.svg
  protocol-designer/src/images/path_single_transfers.svg
Labels: feature, protocol designer, ready for review

#2975 refactor(protocol-designer): cleanup handful of small form-related cruft
  protocol-designer/src/components/StepEditForm/FormAlerts.js
  protocol-designer/src/containers/ConnectedStepItem.js
  protocol-designer/src/step-forms/selectors/index.js
  protocol-designer/src/steplist/formLevel/warnings.js
  protocol-designer/src/ui/steps/selectors.js
Labels: protocol designer, ready for review, refactor

#2989 feat(protocol-designer): change pipette<>labware incompatible copy
  protocol-designer/src/steplist/formLevel/errors.js
Labels: protocol designer, ready for review

#2990 test(protocol-designer): add integration test ensuring PD will derive same procedure
  protocol-designer/src/index.js
  protocol-designer/src/test/fixtures/minimalProtocolOldTransfer.json
  protocol-designer/src/test/fixtures/preFlexGrandfatheredProtocol.json
  protocol-designer/src/test/proceduresMatchSnapshots.test.js
Labels: protocol designer, ready for review

#2985 feat(protocol-designer): hook up flexible step to handleFormChange and gen commands!
  protocol-designer/src/components/steplist/PauseStepItems.js
  protocol-designer/src/components/steplist/StepItem.js
  protocol-designer/src/file-data/selectors/commands.js
  protocol-designer/src/step-generation/commandCreators/compound/distribute.js
  protocol-designer/src/step-generation/test-with-flow/distribute.test.js
  protocol-designer/src/step-generation/test-with-flow/mix.test.js
  protocol-designer/src/step-generation/test-with-flow/transfer.test.js
  protocol-designer/src/step-generation/types.js
  protocol-designer/src/steplist/formLevel/handleFormChange/dependentFieldsUpdateMoveLiquid.js
  protocol-designer/src/steplist/formLevel/handleFormChange/index.js
  protocol-designer/src/steplist/formLevel/handleFormChange/test/moveLiquid.test.js
  protocol-designer/src/steplist/formLevel/handleFormChange/utils.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/index.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/mixFormToArgs.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/moveLiquidFormToArgs.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/pauseFormToArgs.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/transferLikeFormToArgs.js
  protocol-designer/src/steplist/generateSubsteps.js
  protocol-designer/src/steplist/types.js
  protocol-designer/src/top-selectors/substep-highlight.js
  protocol-designer/src/top-selectors/tip-contents/index.js
  protocol-designer/src/ui/steps/selectors.js
Labels: protocol designer, ready for review

#2991 fix(protocol-designer): fix dropdown font-size for pipettes and tips
  protocol-designer/src/components/modals/FilePipettesModal/FilePipettesModal.css
Labels: fix, protocol designer, ready for review

#2993 feat(protocol-designer): separate field masking from casting
  protocol-designer/src/components/LiquidPlacementForm/LiquidPlacementForm.js
  protocol-designer/src/components/StepEditForm/fields/FieldConnector.js
  protocol-designer/src/components/StepEditForm/forms/Mix.js
  protocol-designer/src/form-types.js
  protocol-designer/src/step-generation/commandCreators/compound/transfer.js
  protocol-designer/src/step-generation/test-with-flow/transfer.test.js
  protocol-designer/src/steplist/fieldLevel/index.js
  protocol-designer/src/steplist/fieldLevel/processing.js
  protocol-designer/src/steplist/formLevel/errors.js
  protocol-designer/src/steplist/formLevel/getDefaultsForStepType.js
  protocol-designer/src/steplist/formLevel/index.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/index.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/mixFormToArgs.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/moveLiquidFormToArgs.js
  protocol-designer/src/steplist/formLevel/warnings.js
  protocol-designer/src/steplist/index.js
  protocol-designer/src/steplist/utils/index.js
  protocol-designer/src/test/proceduresMatchSnapshots.test.js
Labels: protocol designer, ready for review

#2920 refactor(api): Port Deck Calibration to HW control
  api/src/opentrons/api/calibration.py
  api/src/opentrons/api/routers.py
  api/src/opentrons/api/session.py
  api/src/opentrons/broker.py
  api/src/opentrons/broker/__init__.py
  api/src/opentrons/broker/topics.py
  api/src/opentrons/commands/commands.py
  api/src/opentrons/deck_calibration/__init__.py
  api/src/opentrons/deck_calibration/dc_main.py
  api/src/opentrons/deck_calibration/endpoints.py
  api/src/opentrons/hardware_control/__init__.py
  api/src/opentrons/hardware_control/adapters.py
  api/src/opentrons/hardware_control/pipette.py
  api/src/opentrons/hardware_control/types.py
  api/src/opentrons/legacy_api/instruments/pipette.py
  api/src/opentrons/legacy_api/modules/__init__.py
  api/src/opentrons/legacy_api/modules/magdeck.py
  api/src/opentrons/legacy_api/modules/tempdeck.py
  api/src/opentrons/legacy_api/robot/robot.py
  api/src/opentrons/protocol_api/contexts.py
  api/tests/opentrons/api/test_session.py
  api/tests/opentrons/broker/test_broker.py
  api/tests/opentrons/cli/test_cli.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/integration/test_api.py
  api/tests/opentrons/server/calibration_integration_test.py
  api/tests/opentrons/server/test_calibration_endpoints.py
  api/tests/opentrons/server/test_control_endpoints.py
  api/tests/opentrons/server/test_server.py
Labels: api, ready for review
