Repository Opentrons/opentrons, pull requests merged in 2020-06, with the labels that each got.

#5786 fix(protocol-designer): Remove errant p tag
  protocol-designer/src/components/StepEditForm/forms/ThermocyclerForm/index.js
Labels: :spider: SPDDRS, fix, protocol designer

#5769 feat(protocol-designer): disable save for dynamic field errors
  protocol-designer/src/components/StepEditForm/FormAlerts.js
  protocol-designer/src/components/StepEditForm/fields/ProfileStepRows.js
  protocol-designer/src/step-forms/selectors/index.js
  protocol-designer/src/step-forms/test/getProfileItemsHaveErrors.test.js
  protocol-designer/src/step-forms/test/selectors.test.js
  protocol-designer/src/step-forms/utils/getProfileItemsHaveErrors.js
  protocol-designer/src/steplist/fieldLevel/index.js
  protocol-designer/src/steplist/types.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#5784 feat(protocol-designer): implement form-level errors for dynamic profile fields
  protocol-designer/src/components/StepEditForm/FormAlerts.js
  protocol-designer/src/components/StepEditForm/fields/ProfileStepRows.js
  protocol-designer/src/components/StepEditForm/utils.js
  protocol-designer/src/step-forms/selectors/index.js
  protocol-designer/src/steplist/formLevel/errors.js
  protocol-designer/src/steplist/formLevel/profileErrors.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#5788 feat(js): update lodash to 4.17.15
  app/package.json
  components/package.json
  discovery-client/package.json
  labware-library/package.json
  protocol-designer/package.json
  protocol-library-kludge/package.json
  shared-data/package.json
  yarn.lock
Labels: chore, ready for review

#5789 fix(app): clear <input> value after robot update file select
  app/src/components/RobotSettings/UploadRobotUpdate.js
Labels: app, cpx, fix, ready for review

#5778 refactor(components): ensure primitives use consistent style props
  app/package.json
  components/package.json
  components/src/primitives/Box.js
  components/src/primitives/Box.md
  components/src/primitives/Flex.js
  components/src/primitives/Flex.md
  components/src/primitives/Link.js
  components/src/primitives/Link.md
  components/src/primitives/README.md
  components/src/primitives/Text.js
  components/src/primitives/Text.md
  components/src/primitives/__tests__/Box.test.js
  components/src/primitives/__tests__/Flex.test.js
  components/src/primitives/__tests__/Link.test.js
  components/src/primitives/__tests__/Text.test.js
  components/src/primitives/__tests__/primitives.test.js
  components/src/primitives/__tests__/style-props.test.js
  components/src/primitives/index.js
  components/src/primitives/style-props.js
  components/src/primitives/types.js
  components/src/styles/borders.js
  components/src/styles/colors.js
  components/src/styles/flexbox.js
  components/src/styles/index.js
  components/src/styles/layout.js
  components/src/styles/spacing.js
  components/styleguide.config.js
  flow-typed/npm/styled-components_v5.x.x.js
  yarn.lock
Labels: components, ready for review, refactor

#5790 style(js): prefer const for non-reassigned values
  .eslintrc.js
  app/src/analytics/__tests__/make-event.test.js
  app/src/components/CheckCalibration/utils.js
  app/src/components/RunPanel/RunControls.js
  app/src/protocol/index.js
  app/src/rpc/client.js
  discovery-client/src/__tests__/client.test.js
  labware-library/src/analytics/utils.js
  labware-library/src/labware-creator/fields.js
  labware-library/src/labware-creator/fieldsToLabware.js
  labware-library/src/labwareInference.js
  protocol-designer/cypress/integration/newProtocolWithModules.spec.js
  protocol-designer/src/components/DeckSetup/DeckSetup.js
  protocol-designer/src/components/modals/EditModulesModal/index.js
  protocol-designer/src/components/modals/EditPipettesModal/index.js
  protocol-designer/src/components/modules/CrashInfoBox.js
  protocol-designer/src/labware-ingred/selectors.js
  protocol-designer/src/load-file/migration/4_0_0.js
  protocol-designer/src/navigation/selectors.js
  protocol-designer/src/step-forms/test/reducers.test.js
  protocol-designer/src/step-generation/__fixtures__/robotStateFixtures.js
  protocol-designer/src/step-generation/__tests__/dispenseUpdateLiquidState.test.js
  protocol-designer/src/step-generation/__tests__/dropTip.test.js
  protocol-designer/src/step-generation/__tests__/forDropTip.test.js
  protocol-designer/src/step-generation/__tests__/robotStateSelectors.test.js
  protocol-designer/src/step-generation/commandCreators/atomic/aspirate.js
  protocol-designer/src/step-generation/commandCreators/atomic/blowout.js
  protocol-designer/src/step-generation/commandCreators/atomic/dispense.js
  protocol-designer/src/step-generation/commandCreators/atomic/touchTip.js
  protocol-designer/src/step-generation/commandCreators/compound/thermocyclerStateStep.js
  protocol-designer/src/step-generation/getNextRobotStateAndWarnings/forAspirate.js
  protocol-designer/src/step-generation/getNextRobotStateAndWarnings/magnetUpdates.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/mixFormToArgs.js
  protocol-designer/src/steplist/utils/mergeWhen.js
  protocol-designer/src/top-selectors/substep-highlight.js
  protocol-designer/src/ui/steps/actions/actions.js
  shared-data/js/helpers/wellSets.js
  shared-data/js/scripts/build.js
Labels: JS Tech Debt, chore, ready for review

#5795 feat(protocol-designer): Style dynamic step fields
  protocol-designer/src/components/StepEditForm/StepEditForm.css
  protocol-designer/src/components/StepEditForm/fields/ProfileStepRows.js
  protocol-designer/src/components/StepEditForm/forms/ThermocyclerForm/index.js
Labels: :spider: SPDDRS, protocol designer

#5797 refactor(shared-data): new steps per mm for gen2 multi 2.1
  shared-data/pipette/definitions/pipetteModelSpecs.json
Labels: api, refactor, shared data

#5772 fix(api): Fix return tip behavior in check session
  api/src/opentrons/calibration/check/models.py
  api/src/opentrons/calibration/check/session.py
Labels: api, fix, ready for review

#5706 feat(api, app): implement automatic door safety stop feature
  api/src/opentrons/api/session.py
  api/src/opentrons/config/advanced_settings.py
  api/src/opentrons/config/feature_flags.py
  api/src/opentrons/hardware_control/api.py
  api/src/opentrons/hardware_control/dev_types.py
  api/src/opentrons/hardware_control/types.py
  api/tests/opentrons/config/test_advanced_settings_migration.py
  app/src/components/RunPanel/RunControls.js
  app/src/components/RunPanel/index.js
  app/src/robot/api-client/client.js
  app/src/robot/constants.js
  app/src/robot/reducer/session.js
  app/src/robot/selectors.js
  app/src/robot/test/__fixtures__/session.js
  app/src/robot/test/api-client.test.js
  app/src/robot/test/session-reducer.test.js
  app/src/robot/types.js
  robot-server/tests/integration/test_settings.tavern.yaml
Labels: api, app, feature, ready for review

#5749 feat(robot-server): Mock up of access control models and router.
  robot-server/robot_server/service/access/__init__.py
  robot-server/robot_server/service/access/models.py
  robot-server/robot_server/service/access/router.py
  robot-server/robot_server/service/app.py
  robot-server/robot_server/service/json_api/__init__.py
  robot-server/robot_server/service/legacy/models/__init__.py
  robot-server/robot_server/service/legacy/routers/__init__.py
  robot-server/robot_server/service/session/models.py
  robot-server/robot_server/service/session/router.py
Labels: WIP, robot server

#5799 refactor(app): annotate types of legacy RPC API actions/selectors
  app-shell/src/labware/definitions.js
  app/src/analytics/make-event.js
  app/src/components/CalibrateLabware/InfoBoxButton.js
  app/src/components/RunLog/ConfirmCancelModal.js
  app/src/components/RunPanel/index.js
  app/src/components/TipProbe/AttachTipPanel.js
  app/src/components/TipProbe/UnprobedPanel.js
  app/src/components/modals/ErrorModal.js
  app/src/http-api-client/types.js
  app/src/modules/epic/__tests__/pollModulesWhileConnectedEpic.test.js
  app/src/pages/Calibrate/index.js
  app/src/robot/README.md
  app/src/robot/actions.js
  app/src/robot/constants.js
  app/src/robot/index.js
  app/src/robot/reducer/calibration.js
  app/src/robot/reducer/connection.js
  app/src/robot/selectors.js
  app/src/robot/test/api-client.test.js
  app/src/robot/test/calibration-reducer.test.js
  app/src/robot/test/selectors.test.js
  app/src/robot/types.js
  app/src/types.js
Labels: JS Tech Debt, app, ready for review, refactor

#5809 feat(protocol-designer): add support for TC cycles
  protocol-designer/src/components/StepEditForm/fields/ProfileItemRows.js
  protocol-designer/src/components/StepEditForm/fields/ProfileStepRows.js
  protocol-designer/src/components/StepEditForm/fields/index.js
  protocol-designer/src/components/StepEditForm/forms/ThermocyclerForm/index.js
  protocol-designer/src/form-types.js
  protocol-designer/src/step-forms/reducers/index.js
  protocol-designer/src/step-forms/test/reducers.test.js
  protocol-designer/src/step-forms/utils/createInitialProfileItems.js
  protocol-designer/src/step-forms/utils/getProfileItemsHaveErrors.js
  protocol-designer/src/step-forms/utils/index.js
  protocol-designer/src/steplist/actions/actions.js
  protocol-designer/src/steplist/fieldLevel/index.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#5802 feat(protocol-designer): Add validation to profile settings and end hold
  protocol-designer/src/step-forms/test/createPresavedStepForm.test.js
  protocol-designer/src/steplist/fieldLevel/index.js
  protocol-designer/src/steplist/formLevel/errors.js
  protocol-designer/src/steplist/formLevel/getDefaultsForStepType.js
  protocol-designer/src/steplist/formLevel/handleFormChange/dependentFieldsUpdateThermocycler.js
  protocol-designer/src/steplist/formLevel/index.js
Labels: :spider: SPDDRS, protocol designer

#5759 feat(app, app-shell): add ability to disable discovery cache
  app-shell/src/__tests__/discovery.test.js
  app-shell/src/discovery.js
  app/src/components/NetworkSettingsCard/DisableDiscoveryCache.js
  app/src/components/NetworkSettingsCard/__tests__/DisableDiscoveryCache.test.js
  app/src/components/NetworkSettingsCard/__tests__/NetworkSettingsCard.test.js
  app/src/components/NetworkSettingsCard/index.js
Labels: app, cpx, feature, ready for review

#5812 refactor(api): Reduce pick up tip current for multichannel pipettes
  api/src/opentrons/calibration/session.py
  api/tests/opentrons/calibration/check/test_check_calibration_session.py
Labels: api, ready for review

#5821 refactor(app): add type annotation missing due to merge timing
  app/src/components/NetworkSettingsCard/DisableDiscoveryCache.js
Labels: app, ready for review, refactor

#5817 refactor(protocol-designer): annotate export types in several modules
  .flowconfig
  protocol-designer/src/analytics/actions.js
  protocol-designer/src/analytics/reducers.js
  protocol-designer/src/analytics/selectors.js
  protocol-designer/src/dismiss/reducers.js
  protocol-designer/src/feature-flags/reducers.js
  protocol-designer/src/feature-flags/selectors.js
  protocol-designer/src/file-data/actions.js
  protocol-designer/src/file-data/reducers/index.js
  protocol-designer/src/file-data/types.js
  protocol-designer/src/labware-defs/__mocks__/utils.js
  protocol-designer/src/labware-defs/actions.js
  protocol-designer/src/labware-defs/reducers.js
  protocol-designer/src/labware-ingred/actions/actions.js
  protocol-designer/src/labware-ingred/actions/thunks.js
  protocol-designer/src/labware-ingred/reducers/index.js
  protocol-designer/src/labware-ingred/selectors.js
  protocol-designer/src/labware-ingred/types.js
  protocol-designer/src/types.js
Labels: protocol designer, ready for review, refactor

#5818 feat(protocol-designer): finish form-level errors for dynamic fields
  protocol-designer/src/components/StepEditForm/FormAlerts.js
  protocol-designer/src/components/StepEditForm/utils.js
  protocol-designer/src/step-forms/selectors/index.js
  protocol-designer/src/step-forms/test/selectors.test.js
  protocol-designer/src/steplist/formLevel/profileErrors.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#5824 refactor(protocol-designer): annotate more exports
  .flowconfig
  protocol-designer/src/load-file/actions.js
  protocol-designer/src/load-file/reducers.js
  protocol-designer/src/navigation/actions.js
  protocol-designer/src/navigation/reducers/index.js
  protocol-designer/src/navigation/selectors.js
  protocol-designer/src/networking/opentronsWebApi.js
  protocol-designer/src/pipettes/pipetteData.js
  protocol-designer/src/step-forms/actions/pipettes.js
  protocol-designer/src/step-generation/__fixtures__/commandFixtures.js
  protocol-designer/src/step-generation/__fixtures__/robotStateFixtures.js
  protocol-designer/src/step-generation/robotStateSelectors.js
  protocol-designer/src/step-generation/utils/misc.js
  protocol-designer/src/tutorial/actions.js
  protocol-designer/src/tutorial/reducers.js
  protocol-designer/src/ui/index.js
  protocol-designer/src/ui/steps/actions/thunks/index.js
  protocol-designer/src/ui/steps/reducers.js
  protocol-designer/src/utils/index.js
  protocol-designer/src/well-selection/actions.js
  protocol-designer/src/well-selection/reducers.js
  shared-data/js/helpers/wellSets.js
Labels: chore, protocol designer, ready for review

#5827 refactor(protocol-designer): annotate types of `connect`'d components
  .flowconfig
  protocol-designer/src/components/DeckSetup/LabwareOnDeck.js
  protocol-designer/src/components/DeckSetup/LabwareOverlays/BrowseLabware.js
  protocol-designer/src/components/DeckSetup/LabwareOverlays/EditLabware.js
  protocol-designer/src/components/DeckSetup/LabwareOverlays/LabwareControls.js
  protocol-designer/src/components/DeckSetup/LabwareOverlays/LabwareName.js
  protocol-designer/src/components/DeckSetup/LabwareOverlays/NameThisLabware.js
  protocol-designer/src/components/DeckSetup/LabwareOverlays/SlotControls.js
  protocol-designer/src/components/DeckSetup/index.js
  protocol-designer/src/components/FileSidebar/index.js
  protocol-designer/src/components/Hints/index.js
  protocol-designer/src/components/IngredientsList/LabwareDetailsCard/index.js
  protocol-designer/src/components/LabwareSelectionModal/index.js
  protocol-designer/src/components/LiquidPlacementForm/index.js
  protocol-designer/src/components/LiquidPlacementModal.js
  protocol-designer/src/components/LiquidsPage/index.js
  protocol-designer/src/components/LiquidsSidebar/index.js
  protocol-designer/src/components/SettingsPage/FeatureFlagCard/index.js
  protocol-designer/src/components/SettingsPage/SettingsApp.js
  protocol-designer/src/components/SettingsPage/SettingsSidebar.js
  protocol-designer/src/components/SettingsPage/index.js
  protocol-designer/src/components/StepEditForm/FormAlerts.js
  protocol-designer/src/components/StepEditForm/fields/BlowoutLocationField.js
  protocol-designer/src/components/StepEditForm/fields/ChangeTipField/index.js
  protocol-designer/src/components/StepEditForm/fields/ConditionalOnField.js
  protocol-designer/src/components/StepEditForm/fields/DisposalVolumeField.js
  protocol-designer/src/components/StepEditForm/fields/FieldConnector.js
  protocol-designer/src/components/StepEditForm/fields/FlowRateField/index.js
  protocol-designer/src/components/StepEditForm/fields/LabwareField.js
  protocol-designer/src/components/StepEditForm/fields/PathField/index.js
  protocol-designer/src/components/StepEditForm/fields/PipetteField.js
  protocol-designer/src/components/StepEditForm/fields/TipPositionField/TipPositionModal.js
  protocol-designer/src/components/StepEditForm/fields/TipPositionField/index.js
  protocol-designer/src/components/StepEditForm/fields/WellOrderField/WellOrderModal.js
  protocol-designer/src/components/StepEditForm/fields/WellOrderField/index.js
  protocol-designer/src/components/StepEditForm/fields/WellSelectionField/WellSelectionInput.js
  protocol-designer/src/components/StepEditForm/fields/WellSelectionField/index.js
  protocol-designer/src/components/StepEditForm/index.js
  protocol-designer/src/components/alerts/TimelineAlerts.js
  protocol-designer/src/components/labware/BrowseLabwareModal.js
  protocol-designer/src/components/modals/EditPipettesModal/index.js
  protocol-designer/src/components/modals/FileUploadMessageModal/index.js
  protocol-designer/src/components/modals/GateModal/index.js
  protocol-designer/src/components/modals/LabwareUploadMessageModal/index.js
  protocol-designer/src/components/modals/MoreOptionsModal.js
  protocol-designer/src/components/modals/NewFileModal/index.js
  protocol-designer/src/components/steplist/ContextMenu.js
  protocol-designer/src/components/steplist/StartingDeckStateTerminalItem.js
  protocol-designer/src/components/steplist/TerminalItem/TerminalItemLink.js
  protocol-designer/src/containers/ConnectedFilePage.js
  protocol-designer/src/containers/ConnectedMainPanel.js
  protocol-designer/src/containers/ConnectedNav.js
  protocol-designer/src/containers/ConnectedSidebar.js
  protocol-designer/src/containers/ConnectedStepItem.js
  protocol-designer/src/containers/ConnectedStepList.js
  protocol-designer/src/containers/ConnectedTitleBar.js
  protocol-designer/src/containers/IngredientsList.js
Labels: protocol designer, ready for review, refactor

#5823 build(make): name targets "setup"/"teardown" instead of "install"/"uninstall"
  .travis.yml
  CONTRIBUTING.md
  Makefile
  api/Makefile
  api/README.rst
  app-shell/README.md
  app/Makefile
  app/README.md
  appveyor.yml
  components/Makefile
  discovery-client/Makefile
  labware-designer/Makefile
  labware-designer/README.md
  labware-library/README.md
  protocol-designer/Makefile
  protocol-designer/README.md
  protocol-library-kludge/Makefile
  robot-server/Makefile
  robot-server/README.rst
  shared-data/js/scripts/build.js
  update-server/Makefile
  update-server/README.md
Labels: infrastructure, refactor

#5833 refactor(protocol-designer): add annotations for more PD modules
  .flowconfig
  protocol-designer/src/load-file/actions.js
  protocol-designer/src/load-file/migration/1_1_0.js
  protocol-designer/src/load-file/migration/4_0_0.js
  protocol-designer/src/load-file/reducers.js
  protocol-designer/src/localization/index.js
  protocol-designer/src/step-forms/reducers/index.js
  protocol-designer/src/steplist/actions/actions.js
  protocol-designer/src/steplist/fieldLevel/errors.js
  protocol-designer/src/steplist/fieldLevel/processing.js
  protocol-designer/src/steplist/formLevel/errors.js
  protocol-designer/src/steplist/formLevel/getDisabledFields/index.js
  protocol-designer/src/steplist/formLevel/handleFormChange/makeConditionalPatchUpdater.js
  protocol-designer/src/steplist/formLevel/warnings.js
  protocol-designer/src/steplist/substepTimeline.js
Labels: protocol designer, ready for review, refactor

#5836 feat(protocol-designer): Add step grouping and styles for tc cycles
  protocol-designer/src/components/StepEditForm/StepEditForm.css
  protocol-designer/src/components/StepEditForm/fields/ProfileItemRows.js
  protocol-designer/src/localization/en/application.json
  protocol-designer/src/localization/en/tooltip.json
Labels: :spider: SPDDRS, protocol designer, ready for review

#5844 fix(shared-data): recursively specify subpackages
  shared-data/python/setup.py
Labels: shared data

#5834 refactor(protocol-designer): add type exports to class-based components
  .flowconfig
  protocol-designer/src/collision-types.js
  protocol-designer/src/components/DeckSetup/LabwareOverlays/DragPreview.js
  protocol-designer/src/components/EditableTextField.js
  protocol-designer/src/components/FilePage.js
  protocol-designer/src/components/LiquidPlacementForm/LiquidPlacementForm.js
  protocol-designer/src/components/ProtocolEditor.js
  protocol-designer/src/components/SelectionRect.js
  protocol-designer/src/components/StepEditForm/fields/FlowRateField/FlowRateInput.js
  protocol-designer/src/components/StepEditForm/fields/TipPositionField/index.js
  protocol-designer/src/components/StepEditForm/forms/MixForm.js
  protocol-designer/src/components/StepEditForm/forms/MoveLiquidForm/index.js
  protocol-designer/src/components/labware/SelectableLabware.js
  protocol-designer/src/components/labware/WellTooltip.js
  protocol-designer/src/components/modals/FilePipettesModal/index.js
  protocol-designer/src/components/modals/GateModal/SignUpForm.js
  protocol-designer/src/components/steplist/DraggableStepItems.js
  protocol-designer/src/components/steplist/MultiChannelSubstep.js
  protocol-designer/src/components/steplist/StepList.js
Labels: JS Tech Debt, protocol designer, ready for review, refactor

#5841 fix(app): fix cal check tip rack images at large window sizes
  app/src/components/CheckCalibration/styles.css
Labels: app, fix

#5850 fix(robot-server): preserve newlines in text logs
  robot-server/robot_server/service/legacy/routers/logs.py
  robot-server/tests/service/legacy/routers/test_logs.py
Labels: robot server

#5842 feat(protocol-designer): implement formToArgs for TC profile
  protocol-designer/src/step-generation/types.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/test/thermocyclerFormToArgs.test.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/thermocyclerFormToArgs.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#5849 build(scripts): allow test pypi uploads to fail again
  scripts/python.mk
  shared-data/Makefile
Labels: fix

#5854 refactor(js): enable Flow's types-first mode and fix errors
  .flowconfig
  app/src/components/CalibrateLabware/ConfirmModalContents.js
  protocol-designer/src/configureStore.js
Labels: JS Tech Debt, app, protocol designer, ready for review, refactor

#5853 refactor(api): Separate out pipette tolerances further in cal check
  api/src/opentrons/calibration/check/constants.py
  api/src/opentrons/calibration/check/session.py
Labels: api, ready for review

#5855 chore(build): dev wheel versions on edge builds
  .travis.yml
  Makefile
  api/Makefile
  api/setup.py
  robot-server/Makefile
  robot-server/setup.py
  scripts/python.mk
  scripts/python_build_utils.py
  shared-data/Makefile
  shared-data/python/setup.py
Labels: chore

#5861 fix(api): return rail lights to original state post cal-check
  api/src/opentrons/calibration/check/session.py
  api/src/opentrons/calibration/session.py
  api/tests/opentrons/calibration/check/test_check_calibration_session.py
Labels: api, fix

#5871 feat(protocol-designer): Reset TC form on form type toggle
  protocol-designer/src/steplist/formLevel/handleFormChange/dependentFieldsUpdateThermocycler.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#5876 feat(protocol-designer): style TC profile substeps
  protocol-designer/src/components/StepEditForm/FormAlerts.js
  protocol-designer/src/components/steplist/StepItem.css
  protocol-designer/src/components/steplist/StepItem.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#5875 chore(shared-data): add python/ makefile
  scripts/python.mk
  shared-data/Makefile
  shared-data/python/Makefile
Labels: chore, shared data

#5886 fix(scripts): make python_build_utils 2.7 compatible again
  scripts/python_build_utils.py
Labels: fix

#5884 feat(protocol-designer): add ending hold to TC profile substeps
  protocol-designer/src/components/DeckSetup/ModuleTag.js
  protocol-designer/src/components/steplist/ModuleStepItems.js
  protocol-designer/src/components/steplist/StepItem.css
  protocol-designer/src/components/steplist/StepItem.js
  protocol-designer/src/steplist/generateSubsteps.js
  protocol-designer/src/steplist/types.js
  protocol-designer/src/utils/index.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#5877 refactor(protocol-designer): Update confirm unsaved step deletion modals
  protocol-designer/src/components/StepCreationButton.js
  protocol-designer/src/components/StepEditForm/index.js
  protocol-designer/src/components/modals/ConfirmDeleteStepModal.js
  protocol-designer/src/localization/en/modal.json
Labels: :spider: SPDDRS, protocol designer, refactor

#5901 fix(build): missing semicolon in shared-data/python/Makefile
  shared-data/python/Makefile
Labels: fix

#5897 feat(protocol-designer): replace v4 protocol export hint
  protocol-designer/src/components/FileSidebar/FileSidebar.js
  protocol-designer/src/components/FileSidebar/__tests__/FileSidebar.test.js
  protocol-designer/src/localization/en/alert.json
  protocol-designer/src/tutorial/index.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#5898 feat(protocol-designer): add TC announcement modal
  protocol-designer/src/components/modals/AnnouncementModal/AnnouncementModal.css
  protocol-designer/src/components/modals/AnnouncementModal/announcements.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#5883 fix(robot-server): type mismatch in SerialCommand args
  robot-server/robot_server/service/legacy/models/modules.py
  robot-server/robot_server/service/legacy/routers/modules.py
  robot-server/tests/service/legacy/models/test_modules.py
  robot-server/tests/service/legacy/routers/test_modules.py
Labels: fix

#5906 chore: add mypy stuff to eslintignore
  .eslintignore
Labels: chore

#5894 refactor(app): cal check: s/drop tip/drop tip in trash/
  app/src/components/CheckCalibration/BadCalibration.js
  app/src/components/CheckCalibration/CompleteConfirmation.js
  app/src/components/CheckCalibration/__tests__/BadCalibration.test.js
  app/src/components/CheckCalibration/__tests__/CompleteConfirmation.test.js
  app/src/components/CheckCalibration/index.js
Labels: app, refactor

#5868 feat(robot-server): Add skeleton of tip calibration session including integration test.
  api/src/opentrons/calibration/check/models.py
  robot-server/robot_server/service/session/manager.py
  robot-server/robot_server/service/session/session_types/__init__.py
  robot-server/robot_server/service/session/session_types/tip_length_calibration.py
  robot-server/tests/integration/sessions/test_tip_length_calibration.tavern.yaml
Labels: hmg, robot server

#5905 refactor(*): replace black/whitelist where usage has no technical purpose
  api/src/opentrons/calibration/check/session.py
  api/src/opentrons/calibration/util.py
  api/src/opentrons/protocol_api/labware.py
  app-shell/src/discovery.js
  app/src/components/CheckCalibration/DeckSetup.js
  app/src/components/DeckMap/index.js
  components/src/deck/Deck.js
  components/src/deck/RobotWorkSpace.js
  components/src/instrument/PipetteSelect.js
  components/src/instrument/PipetteSelect.md
  components/src/instrument/__tests__/PipetteSelect.test.js
  labware-library/src/definitions.js
  protocol-designer/src/components/DeckSetup/DeckSetup.js
  protocol-designer/src/utils/labwareModuleCompatibility.js
  protocol-library-kludge/src/URLDeck.js
  shared-data/js/getLabware.js
Labels: api, app, components, labware, protocol designer, ready for review, refactor

#5820 feat(api): define data architecture for tip length calibration in v2
  api/src/opentrons/config/__init__.py
  api/src/opentrons/config/advanced_settings.py
  api/src/opentrons/config/feature_flags.py
  api/src/opentrons/config/reset.py
  api/src/opentrons/protocol_api/dev_types.py
  api/src/opentrons/protocol_api/labware.py
  api/tests/opentrons/config/test_advanced_settings_migration.py
  api/tests/opentrons/protocol_api/test_offsets.py
  robot-server/tests/integration/test_settings.tavern.yaml
Labels: api, feature, ready for review

#5910 fix(protocol-designer): ensure all tc temps are awaited
  protocol-designer/src/step-generation/__tests__/thermocyclerProfileStep.test.js
  protocol-designer/src/step-generation/__tests__/thermocyclerStateStep.test.js
  protocol-designer/src/step-generation/commandCreators/atomic/thermocyclerAwaitProfileComplete.js
  protocol-designer/src/step-generation/commandCreators/compound/thermocyclerProfileStep.js
  protocol-designer/src/step-generation/commandCreators/compound/thermocyclerStateStep.js
  protocol-designer/src/step-generation/getNextRobotStateAndWarnings/index.js
  protocol-designer/src/step-generation/getNextRobotStateAndWarnings/thermocyclerUpdates.js
Labels: :spider: SPDDRS, fix, protocol designer, ready for review

#5913 chore(build): fix pypi test deploy again
  shared-data/python/Makefile
Labels: chore

#5902 refactor(app): calcheck: confirm exit modal
  app/src/components/CheckCalibration/CheckHeight.js
  app/src/components/CheckCalibration/CheckXYPoint.js
  app/src/components/CheckCalibration/ConfirmExitModal.js
  app/src/components/CheckCalibration/__tests__/CheckCalibration.test.js
  app/src/components/CheckCalibration/index.js
  app/src/components/CheckCalibration/styles.css
Labels: hmg, refactor

#5878 fix(robot-server, api): reject commands while robot is moving
  api/src/opentrons/api/calibration.py
  api/src/opentrons/api/session.py
  api/src/opentrons/api/util.py
  api/src/opentrons/hardware_control/__init__.py
  api/src/opentrons/hardware_control/threaded_async_lock.py
  api/src/opentrons/server/endpoints/control.py
  api/tests/opentrons/api/test_calibration.py
  api/tests/opentrons/api/test_session.py
  api/tests/opentrons/conftest.py
  robot-server/robot_server/service/legacy/routers/control.py
  robot-server/tests/service/legacy/routers/test_control.py
Labels: cpx, hmg, ready for review

#5919 refactor(api): calcheck: 0.3mm safe height for xy checks
  api/src/opentrons/calibration/check/session.py
  api/tests/opentrons/calibration/check/test_check_calibration_session.py
Labels: api, refactor

#5892 fix(app-shell): clean up old robot update files
  app-shell/src/buildroot/__tests__/release-files.test.js
  app-shell/src/buildroot/index.js
  app-shell/src/buildroot/release-files.js
Labels: app, cpx, fix

#5915 refactor(app): calcheck: update intro screen content
  app/src/components/CheckCalibration/Introduction.js
  app/src/components/CheckCalibration/styles.css
Labels: app, refactor

#5893 refactor(app): use spinnermodalpage in calcheck
  app/src/components/CheckCalibration/__tests__/CheckCalibration.test.js
  app/src/components/CheckCalibration/index.js
Labels: app, refactor

#5874 refactor(app): asynchronously load config state
  app-shell/src/__tests__/discovery.test.js
  app-shell/src/buildroot/index.js
  app-shell/src/config/__tests__/update.test.js
  app-shell/src/config/index.js
  app-shell/src/config/migrate.js
  app-shell/src/config/types.js
  app-shell/src/config/update.js
  app-shell/src/discovery.js
  app-shell/src/exports.js
  app-shell/src/labware/__tests__/dispatch.test.js
  app-shell/src/labware/index.js
  app-shell/src/preload.js
  app-shell/src/types.js
  app-shell/src/update.js
  app/src/alerts/__tests__/epic.test.js
  app/src/alerts/__tests__/selectors.test.js
  app/src/alerts/epic.js
  app/src/alerts/selectors.js
  app/src/analytics/__tests__/epic.test.js
  app/src/analytics/__tests__/epics.test.js
  app/src/analytics/__tests__/hooks.test.js
  app/src/analytics/__tests__/selectors.test.js
  app/src/analytics/epic.js
  app/src/analytics/epics.js
  app/src/analytics/hooks.js
  app/src/analytics/index.js
  app/src/analytics/mixpanel.js
  app/src/analytics/selectors.js
  app/src/analytics/types.js
  app/src/components/AppSettings/AdvancedSettingsCard.js
  app/src/components/ConfigurePipette/index.js
  app/src/components/NetworkSettingsCard/AddManualIp/IpList.js
  app/src/components/NetworkSettingsCard/AddManualIp/ManualIpForm.js
  app/src/components/NetworkSettingsCard/DisableDiscoveryCache.js
  app/src/components/NetworkSettingsCard/__tests__/DisableDiscoveryCache.test.js
  app/src/components/analytics-settings/AnalyticsSettingsModal.js
  app/src/config/__tests__/config.test.js
  app/src/config/__tests__/selectors.test.js
  app/src/config/actions.js
  app/src/config/constants.js
  app/src/config/reducer.js
  app/src/config/selectors.js
  app/src/config/types.js
  app/src/custom-labware/__tests__/actions.test.js
  app/src/custom-labware/actions.js
  app/src/custom-labware/selectors.js
  app/src/discovery/__tests__/reducer.test.js
  app/src/discovery/reducer.js
  app/src/epic.js
  app/src/index.js
  app/src/logger.js
  app/src/robot/index.js
  app/src/shell/types.js
  app/src/shell/update.js
  app/src/support/__tests__/epic.test.js
  app/src/support/epic.js
  app/src/support/profile.js
  app/src/types.js
Labels: app, cpx, ready for review, refactor

#5926 feat(components): add position props to primitive components
  app/src/components/App/App.js
  components/src/forms/Select.js
  components/src/primitives/README.md
  components/src/primitives/__tests__/primitives.test.js
  components/src/primitives/__tests__/style-props.test.js
  components/src/primitives/style-props.js
  components/src/primitives/types.js
  components/src/styles/index.js
  components/src/styles/layout.js
  components/src/styles/position.js
Labels: app, components, ready for review

#5916 refactor(app): fetch session after command in execute command epic
  app/src/sessions/__tests__/actions.test.js
  app/src/sessions/__tests__/reducer.test.js
  app/src/sessions/actions.js
  app/src/sessions/epic/__tests__/createSessionCommandEpic.test.js
  app/src/sessions/epic/__tests__/fetchSessionOnCommandResonseEpic.test.js
  app/src/sessions/epic/createSessionCommandEpic.js
  app/src/sessions/epic/fetchSessionEpic.js
  app/src/sessions/epic/fetchSessionOnCommandResponseEpic.js
  app/src/sessions/epic/index.js
  app/src/sessions/reducer.js
  app/src/sessions/types.js
Labels: app, hmg, ready for review, refactor

#5930 refactor(app): implement full cal check summary
  app/src/calibration/__fixtures__/index.js
  app/src/calibration/api-types.js
  app/src/calibration/constants.js
  app/src/calibration/index.js
  app/src/components/CheckCalibration/CompleteConfirmation.js
  app/src/components/CheckCalibration/DifferenceValue.js
  app/src/components/CheckCalibration/PipetteComparisons.js
  app/src/components/CheckCalibration/ThresholdValue.js
  app/src/components/CheckCalibration/__tests__/CompleteConfirmation.test.js
  app/src/components/CheckCalibration/__tests__/DifferenceValue.test.js
  app/src/components/CheckCalibration/__tests__/PipetteComparisons.test.js
  app/src/components/CheckCalibration/index.js
  app/src/components/CheckCalibration/styles.css
Labels: app, ready for review

#5932 test(labware-library): mock file-saver while using cypress
  labware-library/cypress/integration/labware-creator/fileImport.spec.js
  labware-library/cypress/mocks/file-saver.js
  labware-library/src/labware-creator/index.js
  labware-library/webpack.config.js
Labels: :spider: SPDDRS, labware creator, ready for review

#5907 refactor(api,robot-server): remove aiohttp calcheck
  api/src/opentrons/calibration/check/models.py
  api/src/opentrons/server/__init__.py
  api/src/opentrons/server/endpoints/calibration/__init__.py
  api/src/opentrons/server/endpoints/calibration/check.py
  api/src/opentrons/server/endpoints/calibration/middlewares.py
  api/src/opentrons/server/http.py
  robot-server/robot_server/service/session/manager.py
  robot-server/robot_server/service/session/models.py
  robot-server/robot_server/service/session/router.py
  robot-server/robot_server/service/session/session_types/base_session.py
  robot-server/robot_server/service/session/session_types/check_session.py
  robot-server/robot_server/service/session/session_types/null_session.py
  robot-server/robot_server/service/session/session_types/tip_length_calibration.py
  robot-server/tests/service/session/test_manager.py
  robot-server/tests/service/session/test_router.py
Labels: cpx, hmg, refactor

#5909 refactor(api): remove aiohttp health and openapi
  api/Makefile
  api/Pipfile
  api/Pipfile.lock
  api/src/opentrons/server/endpoints/__init__.py
  api/src/opentrons/server/http.py
  api/src/opentrons/server/openapi.json
  api/tests/opentrons/server/test_health_endpoints.py
Labels: api, cpx, ready for review, refactor

#5929 refactor(app): calcheck: update assets in check screens
  app/src/components/CheckCalibration/CheckHeight.js
  app/src/components/CheckCalibration/CheckXYPoint.js
  app/src/components/CheckCalibration/__tests__/CheckHeight.test.js
  app/src/components/CheckCalibration/__tests__/CheckXYPoint.test.js
  app/src/components/CheckCalibration/styles.css
  app/src/components/CheckCalibration/videos/SLOT_1 RIGHT_SINGLE_X-Y_(640X480)_REV1.webm
  app/src/components/CheckCalibration/videos/SLOT_1_LEFT_MULTI_X-Y.webm
  app/src/components/CheckCalibration/videos/SLOT_1_LEFT_MULTI_X-Y_(640X480)_REV1.webm
  app/src/components/CheckCalibration/videos/SLOT_1_LEFT_SINGLE_X-Y.webm
  app/src/components/CheckCalibration/videos/SLOT_1_LEFT_SINGLE_X-Y_(640X480)_REV1.webm
  app/src/components/CheckCalibration/videos/SLOT_1_RIGHT_MULTI_X-Y.webm
  app/src/components/CheckCalibration/videos/SLOT_1_RIGHT_MULTI_X-Y_(640X480)_REV1.webm
  app/src/components/CheckCalibration/videos/SLOT_1_RIGHT_SINGLE_X-Y.webm
  app/src/components/CheckCalibration/videos/SLOT_1_RIGHT_SINGLE_X-Y_(640X480)_REV1.webm
  app/src/components/CheckCalibration/videos/SLOT_3_LEFT_MULTI_X-Y.webm
  app/src/components/CheckCalibration/videos/SLOT_3_LEFT_MULTI_X-Y_(640X480)_REV1.webm
  app/src/components/CheckCalibration/videos/SLOT_3_LEFT_SINGLE_X-Y.webm
  app/src/components/CheckCalibration/videos/SLOT_3_LEFT_SINGLE_X-Y_(640X480)_REV1.webm
  app/src/components/CheckCalibration/videos/SLOT_3_RIGHT_MULTI_X-Y.webm
  app/src/components/CheckCalibration/videos/SLOT_3_RIGHT_MULTI_X-Y_(640X480)_REV1.webm
  app/src/components/CheckCalibration/videos/SLOT_3_RIGHT_SINGLE_X-Y.webm
  app/src/components/CheckCalibration/videos/SLOT_3_RIGHT_SINGLE_X-Y_(640X480)_REV1.webm
  app/src/components/CheckCalibration/videos/SLOT_5_LEFT_MULTI_Z.webm
  app/src/components/CheckCalibration/videos/SLOT_5_LEFT_MULTI_Z_(640X480)_REV3.webm
  app/src/components/CheckCalibration/videos/SLOT_5_LEFT_SINGLE_Z.webm
  app/src/components/CheckCalibration/videos/SLOT_5_LEFT_SINGLE_Z_(640X480)_REV3.webm
  app/src/components/CheckCalibration/videos/SLOT_5_RIGHT_MULTI_Z.webm
  app/src/components/CheckCalibration/videos/SLOT_5_RIGHT_MULTI_Z_(640X480)_REV3.webm
  app/src/components/CheckCalibration/videos/SLOT_5_RIGHT_SINGLE_Z.webm
  app/src/components/CheckCalibration/videos/SLOT_5_RIGHT_SINGLE_Z_(640X480)_REV3.webm
  app/src/components/CheckCalibration/videos/SLOT_7_LEFT_MULTI_X-Y.webm
  app/src/components/CheckCalibration/videos/SLOT_7_LEFT_MULTI_X-Y_(640X480)_REV1.webm
  app/src/components/CheckCalibration/videos/SLOT_7_LEFT_SINGLE_X-Y.webm
  app/src/components/CheckCalibration/videos/SLOT_7_LEFT_SINGLE_X-Y_(640X480)_REV1.webm
  app/src/components/CheckCalibration/videos/SLOT_7_RIGHT_MULTI_X-Y.webm
  app/src/components/CheckCalibration/videos/SLOT_7_RIGHT_MULTI_X-Y_(640X480)_REV1.webm
  app/src/components/CheckCalibration/videos/SLOT_7_RIGHT_SINGLE_X-Y.webm
  app/src/components/CheckCalibration/videos/SLOT_7_RIGHT_SINGLE_X-Y_(640X480)_REV1.webm
Labels: app, refactor

#5939 fix(protocol-designer): Lighten TC hover overlay
  protocol-designer/src/components/DeckSetup/LabwareOverlays/LabwareOverlays.css
Labels: :spider: SPDDRS, protocol designer, ready for review

#5937 fix(protocol-designer): Update profile step fields alignment
  protocol-designer/src/components/StepEditForm/StepEditForm.css
Labels: :spider: SPDDRS, protocol designer, ready for review

#5941 refactor(calcheck): display pipette serial numbers in summary
  api/src/opentrons/calibration/check/models.py
  api/src/opentrons/calibration/check/session.py
  api/src/opentrons/calibration/helper_classes.py
  app/src/calibration/__fixtures__/index.js
  app/src/calibration/api-types.js
  app/src/components/CheckCalibration/PipetteComparisons.js
  app/src/components/CheckCalibration/styles.css
  robot-server/robot_server/service/session/session_types/check_session.py
  robot-server/tests/service/session/session_types/test_check_session.py
Labels: api, app, refactor, robot server

#5933 fix(app): restart MDNS browser when network interfaces change
  app-shell/src/__tests__/discovery.test.js
  app-shell/src/discovery.js
  app-shell/src/system-info/index.js
  app/src/discovery/__tests__/epic.test.js
  app/src/discovery/epic.js
Labels: app, cpx, fix, ready for review

#5949 refactor(app): do not open cal check wizard if session can't be created
  app/src/components/CheckCalibration/__tests__/CheckCalibration.test.js
  app/src/components/CheckCalibration/index.js
  app/src/components/ModuleItem/ModuleUpdate.js
  app/src/components/RobotSettings/CheckCalibrationControl.js
  app/src/components/RobotSettings/ControlsCard.js
  app/src/components/RobotSettings/SelectNetwork/index.js
  app/src/components/RobotSettings/__tests__/CheckCalibrationControl.test.js
  app/src/components/RobotSettings/__tests__/ControlsCard.test.js
  app/src/components/TitledButton/__tests__/TitledButton.test.js
  app/src/components/TitledButton/index.js
  app/src/robot-api/__fixtures__/index.js
  app/src/robot-api/helpers.js
  app/src/robot-api/index.js
  app/src/robot-api/selectors.js
  app/src/robot-api/types.js
  app/src/sessions/__tests__/actions.test.js
  app/src/sessions/actions.js
  app/src/sessions/constants.js
  app/src/sessions/epic/__tests__/ensureSessionEpic.test.js
  app/src/sessions/epic/createSessionEpic.js
  app/src/sessions/epic/ensureSessionEpic.js
  app/src/sessions/epic/fetchAllSessionsEpic.js
  app/src/sessions/epic/index.js
  app/src/sessions/types.js
Labels: app, hmg, ready for review, refactor

#5948 refactor(app): calcheck: update step outcome styling
  app/src/calibration/api-types.js
  app/src/calibration/index.js
  app/src/components/CheckCalibration/CheckHeight.js
  app/src/components/CheckCalibration/CheckXYPoint.js
  app/src/components/CheckCalibration/DifferenceValue.js
  app/src/components/CheckCalibration/EndOfStepComparisons.js
  app/src/components/CheckCalibration/__tests__/CheckHeight.test.js
  app/src/components/CheckCalibration/__tests__/CheckXYPoint.test.js
  app/src/components/CheckCalibration/index.js
  app/src/components/CheckCalibration/styles.css
Labels: app, refactor

#5946 refactor(app): calcheck: update tip pickup animations and failure screen
  app/src/components/CalibrateTipLength/TipPickUp.js
  app/src/components/CheckCalibration/BadCalibration.js
  app/src/components/CheckCalibration/TipPickUp.js
  app/src/components/CheckCalibration/__tests__/BadCalibration.test.js
  app/src/components/CheckCalibration/videos/A1-Multi-Channel-SEQ.webm
  app/src/components/CheckCalibration/videos/A1-Single-Channel-SEQ.webm
  app/src/components/CheckCalibration/videos/A1_Multi_Channel_REV1.webm
  app/src/components/CheckCalibration/videos/A1_Single_Channel_REV1.webm
  app/src/components/CheckCalibration/videos/B1-Multi-Channel-SEQ.webm
  app/src/components/CheckCalibration/videos/B1-Single-Channel-SEQ.webm
  app/src/components/CheckCalibration/videos/B1_Multi_Channel_REV1.webm
  app/src/components/CheckCalibration/videos/B1_Single_Channel_REV1.webm
Labels: app, ready for review, refactor

#5945 feat(labware-library): use loadname not displayname for LC file
  labware-library/cypress/integration/labware-creator/fileImport.spec.js
  labware-library/src/labware-creator/index.js
Labels: :spider: SPDDRS, labware creator, ready for review

#5934 refactor(components): remove deprecated RefreshCard in favor of hooks
  app/src/components/AppSettings/AppInfoCard.js
  app/src/components/AppSettings/index.js
  app/src/pages/More/AppSettings.js
  components/src/__tests__/__snapshots__/structure.test.js.snap
  components/src/__tests__/structure.test.js
  components/src/hooks/__tests__/useMountEffect.test.js
  components/src/hooks/index.js
  components/src/hooks/useMountEffect.js
  components/src/structure/RefreshCard.js
  components/src/structure/RefreshCard.md
  components/src/structure/index.js
  components/src/structure/structure.css
Labels: components, ready for review, refactor

#5952 fix(app): use troubleshooting link when calcheck fails at tip pickup
  app/src/components/CheckCalibration/BadCalibration.js
Labels: app, hmg, ready for review

#5950 feat(labware-library): use slot 2 instead of 3 in LC test protocol
  labware-library/cypress/fixtures/TestLabwareProtocol.py
  labware-library/src/labware-creator/labwareTestProtocol.js
Labels: :spider: SPDDRS, labware creator, ready for review

#5953 refactor(app): calcheck: add hover tooltip over table header
  app/src/components/CheckCalibration/EndOfStepComparisons.js
  app/src/components/CheckCalibration/PipetteComparisons.js
Labels: app, ready for review, refactor

#5845 feat(api, app): Check Robot Deck Transform
  api/src/opentrons/hardware_control/api.py
  api/src/opentrons/hardware_control/simulator.py
  api/src/opentrons/hardware_control/types.py
  api/src/opentrons/hardware_control/util.py
  api/tests/opentrons/hardware_control/test_api_helpers.py
  app/src/components/RobotSettings/CheckCalibrationControl.js
  app/src/components/RobotSettings/ControlsCard.js
  app/src/components/RobotSettings/DeckCalibrationWarning.js
  app/src/components/RobotSettings/__tests__/ControlsCard.test.js
  app/src/components/RobotSettings/__tests__/DeckCalibrationWarning.test.js
  app/src/components/RobotSettings/styles.css
  app/src/components/TitledButton/index.js
  components/src/styles/colors.js
  robot-server/robot_server/service/legacy/models/deck_calibration.py
  robot-server/robot_server/service/legacy/routers/deck_calibration.py
  robot-server/robot_server/service/legacy/routers/health.py
  robot-server/tests/integration/test_deck_calibration.tavern.yaml
Labels: api, app, ready for review

#5908 fix(api): Simulate protocols with a realistic deck transform
  api/src/opentrons/config/robot_configs.py
  api/src/opentrons/legacy_api/robot/robot.py
  api/tests/opentrons/cli/test_cli.py
  api/tests/opentrons/config/test_robots_config.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/hardware_control/test_instruments.py
  api/tests/opentrons/hardware_control/test_moves.py
  api/tests/opentrons/protocol_api/test_context.py
  robot-server/tests/integration/test_settings_robot.tavern.yaml
Labels: api, fix, ready for review

#5956 refactor(app): move cal session constants and types to sessions
  app/src/calibration/epic/__tests__/fetchRobotCalibrationCheckSessionEpic.test.js
  app/src/calibration/epic/fetchRobotCalibrationCheckSessionEpic.js
  app/src/calibration/epic/index.js
  app/src/calibration/index.js
  app/src/components/CalibrateTipLength/__tests__/CalibrationTipLength.test.js
  app/src/components/CheckCalibration/CheckHeight.js
  app/src/components/CheckCalibration/CheckXYPoint.js
  app/src/components/CheckCalibration/DeckSetup.js
  app/src/components/CheckCalibration/DifferenceValue.js
  app/src/components/CheckCalibration/EndOfStepComparisons.js
  app/src/components/CheckCalibration/PipetteComparisons.js
  app/src/components/CheckCalibration/ResultsSummary.js
  app/src/components/CheckCalibration/TipPickUp.js
  app/src/components/CheckCalibration/__tests__/CheckCalibration.test.js
  app/src/components/CheckCalibration/__tests__/CheckHeight.test.js
  app/src/components/CheckCalibration/__tests__/CheckXYPoint.test.js
  app/src/components/CheckCalibration/__tests__/DeckSetup.test.js
  app/src/components/CheckCalibration/__tests__/DifferenceValue.test.js
  app/src/components/CheckCalibration/__tests__/PipetteComparisons.test.js
  app/src/components/CheckCalibration/__tests__/ResultsSummary.test.js
  app/src/components/CheckCalibration/__tests__/TipPickup.test.js
  app/src/components/CheckCalibration/index.js
  app/src/epic.js
  app/src/sessions/__fixtures__/calibration-check.js
  app/src/sessions/__fixtures__/index.js
  app/src/sessions/__fixtures__/tip-length-calibration.js
  app/src/sessions/calibration-check/constants.js
  app/src/sessions/calibration-check/types.js
  app/src/sessions/constants.js
  app/src/sessions/selectors.js
  app/src/sessions/tip-length-calibration/constants.js
  app/src/sessions/tip-length-calibration/types.js
  app/src/sessions/types.js
Labels: app, hmg, ready for review, refactor

#5961 fix(api): Fix failing test from edge due to kwarg check
  api/tests/opentrons/protocol_api/test_context.py
  robot-server/tests/integration/test_deck_calibration.tavern.yaml
Labels: api, fix, ready for review

#5959 refactor(app): add troubleshooting instructions to cal check summary
  app/src/components/CheckCalibration/BadOutcomeBody.js
  app/src/components/CheckCalibration/CheckHeight.js
  app/src/components/CheckCalibration/CheckXYPoint.js
  app/src/components/CheckCalibration/ResultsSummary.js
  app/src/components/CheckCalibration/__tests__/BadOutcomeBody.test.js
  app/src/components/CheckCalibration/__tests__/CheckHeight.test.js
  app/src/components/CheckCalibration/__tests__/CheckXYPoint.test.js
  app/src/components/CheckCalibration/__tests__/ResultsSummary.test.js
  app/src/components/CheckCalibration/styles.css
  app/src/components/CheckCalibration/utils.js
Labels: app

#5962 refactor(app): wire deck cal status API to UI
  app/src/calibration/__fixtures__/calibration-status.js
  app/src/calibration/__fixtures__/index.js
  app/src/calibration/__tests__/actions.test.js
  app/src/calibration/__tests__/reducer.test.js
  app/src/calibration/__tests__/selectors.test.js
  app/src/calibration/actions.js
  app/src/calibration/api-types.js
  app/src/calibration/constants.js
  app/src/calibration/epic/__tests__/fetchCalibrationStatusEpic.test.js
  app/src/calibration/epic/fetchCalibrationStatusEpic.js
  app/src/calibration/epic/index.js
  app/src/calibration/index.js
  app/src/calibration/reducer.js
  app/src/calibration/selectors.js
  app/src/calibration/types.js
  app/src/components/RobotSettings/CheckCalibrationControl.js
  app/src/components/RobotSettings/ControlsCard.js
  app/src/components/RobotSettings/DeckCalibrationWarning.js
  app/src/components/RobotSettings/__tests__/CheckCalibrationControl.test.js
  app/src/components/RobotSettings/__tests__/ConnectionCard.test.js
  app/src/components/RobotSettings/__tests__/ControlsCard.test.js
  app/src/components/RobotSettings/__tests__/DeckCalibrationWarning.test.js
  app/src/components/RobotSettings/styles.css
  app/src/components/TitledButton/index.js
  app/src/epic.js
  app/src/reducer.js
  app/src/sessions/calibration-check/constants.js
  app/src/types.js
Labels: app, hmg, ready for review

#5960 feat(app): introduce Robot Calibration Check tool
  app/src/components/RobotSettings/ControlsCard.js
  app/src/components/RobotSettings/__tests__/ControlsCard.test.js
  app/src/config/constants.js
  app/src/config/schema-types.js
Labels: app, ready for review

#5965 chore(bump): 3.19.0-alpha.2
  CHANGELOG.md
  api/release-notes.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/build/release-notes.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  robot-server/robot_server/CHANGELOG.md
  robot-server/robot_server/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore, release 🚢

#5958 feat(labware-library): make LC test protocol go to bottom last
  labware-library/cypress/fixtures/TestLabwareProtocol.py
  labware-library/src/labware-creator/labwareTestProtocol.js
Labels: :spider: SPDDRS, labware creator, ready for review

#5935 refactor(app): limit preloaded shell remote to ipcRenderer
  app-shell/electron-builder.config.js
  app-shell/src/discovery.js
  app-shell/src/exports.js
  app-shell/src/preload.js
  app-shell/src/update.js
  app-shell/webpack.config.js
  app/src/discovery/__tests__/reducer.test.js
  app/src/discovery/reducer.js
  app/src/shell/__mocks__/remote.js
  app/src/shell/index.js
  app/src/shell/types.js
Labels: app, cpx, ready for review, refactor

#5943 test(protocol-designer): mock file-saver while using cypress
  .travis.yml
  protocol-designer/cypress/integration/migrations.spec.js
  protocol-designer/cypress/mocks/file-saver.js
  protocol-designer/src/components/FileSidebar/FileSidebar.js
  protocol-designer/webpack.config.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#5971 refactor(app): fix race condition introduced by async anayltics init
  app/src/analytics/__tests__/epic.test.js
  app/src/analytics/epic.js
Labels: app, ready for review, refactor

#5974 fix(app): fix calibrate to trough bottom image for multi pipettes
  app/src/components/CalibrateLabware/instructions-data.js
Labels: app, easyfix

#5979 refactor(robot-server): Utilize temporary directories for I/O operations
  api/src/opentrons/config/pipette_config.py
  robot-server/tests/conftest.py
Labels: api, ready for review

#5972 feat(components): add primitive btns and fix useHover on disabled buttons
  app/src/components/CheckCalibration/styles.css
  app/src/components/RobotSettings/CheckCalibrationControl.js
  app/src/components/RobotSettings/ControlsCard.js
  app/src/components/RobotSettings/__tests__/CheckCalibrationControl.test.js
  app/src/components/RobotSettings/__tests__/ControlsCard.test.js
  app/src/components/TitledControl/__tests__/TitledControl.test.js
  app/src/components/TitledControl/index.js
  components/src/buttons/Button.js
  components/src/interaction-enhancers/__tests__/useHover.test.js
  components/src/interaction-enhancers/useHover.js
  components/src/primitives/Btn.js
  components/src/primitives/Btn.md
  components/src/primitives/README.md
  components/src/primitives/__tests__/Btn.test.js
  components/src/primitives/index.js
  components/src/primitives/style-props.js
  components/src/primitives/types.js
  components/src/styles/colors.js
  components/src/tooltips/__tests__/useHoverTooltip.test.js
Labels: app, components, feature, protocol designer, ready for review

#5982 chore(*): Tweak issue and PR template formatting
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: chore, ready for review

#5989 fix(app): calcheck: content fixups
  app/src/components/CheckCalibration/BadCalibration.js
  app/src/components/RobotSettings/CheckCalibrationControl.js
  app/src/components/RobotSettings/__tests__/CheckCalibrationControl.test.js
Labels: app, fix

#5988 fix(app): calcheck: fix display of bad deck transform
  app/src/sessions/calibration-check/constants.js
Labels: app, fix

#5936 feat(api): load tip length calibration in v1
  api/src/opentrons/legacy_api/api.py
  api/src/opentrons/legacy_api/containers/__init__.py
  api/src/opentrons/legacy_api/instruments/pipette.py
  api/src/opentrons/protocol_api/labware.py
  api/tests/opentrons/containers/test_containers.py
  api/tests/opentrons/labware/test_pipette_constructors.py
  api/tests/opentrons/protocol_api/test_offsets.py
Labels: api, hmg, ready for review

#5975 feat(labware-library): avoid adding info to 'group' field in LC
  labware-library/cypress/fixtures/TestLabwareDefinition.json
  labware-library/cypress/fixtures/TestLabwareProtocol.py
  labware-library/src/__tests__/__snapshots__/labwareInference.test.js.snap
  labware-library/src/components/LabwareList/__tests__/__snapshots__/LabwareList.test.js.snap
  labware-library/src/labware-creator/__tests__/_getGroupMetadataDisplayCategory.test.js
  labware-library/src/labware-creator/__tests__/loadAndSaveIntegration.test.js
  labware-library/src/labware-creator/fields.js
  labware-library/src/labware-creator/fieldsToLabware.js
  protocol-designer/src/step-generation/__tests__/__snapshots__/fixtureGeneration.test.js.snap
  shared-data/js/__tests__/labwareDefSchemaV2.test.js
  shared-data/labware/fixtures/2/fixture_12_trough.json
  shared-data/labware/fixtures/2/fixture_12_trough_v2.json
  shared-data/labware/fixtures/2/fixture_96_plate.json
  shared-data/labware/fixtures/2/fixture_overlappy_wellplate.json
Labels: labware, labware creator, ready for review, shared data

#5978 refactor(robot-server, api): robot server callable executor
  api/src/opentrons/calibration/check/session.py
  api/src/opentrons/calibration/tip_length/state_machine.py
  robot-server/robot_server/service/session/command_execution/__init__.py
  robot-server/robot_server/service/session/command_execution/callable_executor.py
  robot-server/robot_server/service/session/command_execution/state_machine_executor.py
  robot-server/robot_server/service/session/session_types/check_session.py
  robot-server/robot_server/service/session/session_types/tip_length_calibration.py
Labels: api, cpx, robot server

#5994 fix(app): loosen config version assert after migration
  app-shell/src/config/migrate.js
Labels: app, cpx, ready for review

#5811 feat(robot-server): Add endpoints to access labware calibration
  api/src/opentrons/config/__init__.py
  api/src/opentrons/protocol_api/constants.py
  api/src/opentrons/protocol_api/dev_types.py
  api/src/opentrons/protocol_api/labware.py
  api/tests/opentrons/protocol_api/test_geometry.py
  api/tests/opentrons/protocol_api/test_labware.py
  api/tests/opentrons/protocol_api/test_offsets.py
  robot-server/robot_server/service/app.py
  robot-server/robot_server/service/labware/__init__.py
  robot-server/robot_server/service/labware/models.py
  robot-server/robot_server/service/labware/router.py
  robot-server/tests/conftest.py
  robot-server/tests/integration/test_labware_calibration_access.tavern.yaml
  robot-server/tests/service/labware/__init__.py
  robot-server/tests/service/labware/test_labware_calibration_access.py
Labels: api, ready for review

#5996 fix(app): replace wrong assets for xy left multi cal check
  app/src/components/CheckCalibration/videos/SLOT_1_LEFT_MULTI_X-Y.webm
  app/src/components/CheckCalibration/videos/SLOT_3_LEFT_MULTI_X-Y.webm
  app/src/components/CheckCalibration/videos/SLOT_7_LEFT_MULTI_X-Y.webm
Labels: app, fix, ready for review

#5997 feat(api): add warning when a wrong tiprack is used for the pipette in the protocol
  api/src/opentrons/protocol_api/geometry.py
  api/src/opentrons/protocol_api/instrument_context.py
Labels: api, ready for review

#6000 chore(bump): v3.19.0-alpha.5
  CHANGELOG.md
  api/release-notes.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  robot-server/robot_server/CHANGELOG.md
  robot-server/robot_server/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore, release 🚢

#6002 docs(api): correct .move() example
  api/docs/v2/new_labware.rst
Labels: api, docs, ready for review

#5995 feat(api): ensure stable load_module order in JSON executor
  api/src/opentrons/protocol_api/execute_v4.py
  api/tests/opentrons/protocol_api/test_execute_v4.py
Labels: :spider: SPDDRS, api, hmg, ready for review

#6009 docs(api): Reordered navigation sidebar
  api/docs/v2/index.rst
Labels: api, docs

#5967 feat(robot-server): Robot server default session
  robot-server/robot_server/service/session/command_execution/__init__.py
  robot-server/robot_server/service/session/command_execution/hardware_executor.py
  robot-server/robot_server/service/session/manager.py
  robot-server/robot_server/service/session/models.py
  robot-server/robot_server/service/session/router.py
  robot-server/robot_server/service/session/session_types/__init__.py
  robot-server/robot_server/service/session/session_types/check_session.py
  robot-server/robot_server/service/session/session_types/default_session.py
  robot-server/robot_server/service/session/session_types/null_session.py
  robot-server/robot_server/service/session/session_types/tip_length_calibration.py
  robot-server/tests/integration/sessions/test_calibration_check.tavern.yaml
  robot-server/tests/integration/sessions/test_default.tavern.yaml
  robot-server/tests/integration/sessions/test_tip_length_calibration.tavern.yaml
  robot-server/tests/integration/test_session.tavern.yaml
  robot-server/tests/service/session/command_execution/test_hardware_executor.py
  robot-server/tests/service/session/test_manager.py
  robot-server/tests/service/session/test_router.py
Labels: cpx, feature, ready for review, robot server

#6014 refactor(protocol-designer): use i18n in labware upload copy
  protocol-designer/src/components/modals/LabwareUploadMessageModal/LabwareUploadMessageModal.js
  protocol-designer/src/localization/en/modal.json
Labels: :spider: SPDDRS, protocol designer, ready for review

#6016 test(shared-data): remove applicationData from non-PD JSON fixture
  shared-data/protocol/fixtures/4/testThermocyclerModuleV4.json
Labels: ready for review, shared data

#6026 fix(app): fix clunky text wrapping for multi tip pick up in cal check
  app/src/components/CheckCalibration/TipPickUp.js
Labels: app, fix

#6025 fix(robot-server): tavern test setup fix
  robot-server/tests/conftest.py
Labels: fix, ready for review, robot server

#6027 chore(release): v3.19.0
  CHANGELOG.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  robot-server/robot_server/CHANGELOG.md
  robot-server/robot_server/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore, release 🚢

#6012 refactor(robot-server, api): Robot server move calibration
  api/Pipfile
  api/Pipfile.lock
  robot-server/robot_server/robot/__init__.py
  robot-server/robot_server/robot/calibration/__init__.py
  robot-server/robot_server/robot/calibration/check/__init__.py
  robot-server/robot_server/robot/calibration/check/constants.py
  robot-server/robot_server/robot/calibration/check/models.py
  robot-server/robot_server/robot/calibration/check/session.py
  robot-server/robot_server/robot/calibration/constants.py
  robot-server/robot_server/robot/calibration/helper_classes.py
  robot-server/robot_server/robot/calibration/session.py
  robot-server/robot_server/robot/calibration/tip_length/__init__.py
  robot-server/robot_server/robot/calibration/tip_length/state_machine.py
  robot-server/robot_server/robot/calibration/util.py
  robot-server/robot_server/service/session/models.py
  robot-server/robot_server/service/session/session_types/check_session.py
  robot-server/robot_server/service/session/session_types/tip_length_calibration.py
  robot-server/tests/robot/__init__.py
  robot-server/tests/robot/calibration/__init__.py
  robot-server/tests/robot/calibration/check/__init__.py
  robot-server/tests/robot/calibration/check/test_check_calibration_session.py
  robot-server/tests/robot/calibration/test_util.py
  robot-server/tests/robot/calibration/tip_length/__init__.py
  robot-server/tests/robot/calibration/tip_length/test_tip_length_calibration.py
  robot-server/tests/service/session/session_types/test_check_session.py
  robot-server/tests/service/session/test_router.py
Labels: api, ready for review, robot server

#5940 feat(robot-server): add started_at and completed_at to command response.
  robot-server/robot_server/service/session/command_execution/__init__.py
  robot-server/robot_server/service/session/command_execution/callable_executor.py
  robot-server/robot_server/service/session/command_execution/command.py
  robot-server/robot_server/service/session/models.py
  robot-server/robot_server/service/session/router.py
  robot-server/robot_server/util.py
  robot-server/tests/integration/sessions/test_tip_length_calibration.tavern.yaml
  robot-server/tests/service/session/test_models.py
  robot-server/tests/service/session/test_router.py
  robot-server/tests/test_util.py
Labels: cpx, ready for review, robot server

#6030 fix(robot-server): fix a merge race condition.
  robot-server/robot_server/service/session/command_execution/hardware_executor.py
Labels: fix, robot server

#6011 feat(robot-server): return created_at in session response
  robot-server/robot_server/service/session/models.py
  robot-server/robot_server/service/session/router.py
  robot-server/robot_server/service/session/session_types/base_session.py
  robot-server/tests/integration/sessions/test_calibration_check.tavern.yaml
  robot-server/tests/integration/sessions/test_default.tavern.yaml
  robot-server/tests/integration/sessions/test_tip_length_calibration.tavern.yaml
  robot-server/tests/integration/test_session.tavern.yaml
  robot-server/tests/service/session/test_router.py
Labels: cpx, feature, robot server

#5993 feat(shared-data): add labware definitions for calibration block
  shared-data/labware/definitions/2/opentrons_calibrationblock_short_side_left/1.json
  shared-data/labware/definitions/2/opentrons_calibrationblock_short_side_right/1.json
Labels: labware, shared data

#6037 fix(robot-server): force pydantic to version 1.4 as that is what is on the robot.
  robot-server/Pipfile
  robot-server/Pipfile.lock
  robot-server/robot_server/service/session/models.py
Labels: fix, robot server

#6033 fix(api): db write optimization
  api/src/opentrons/data_storage/database.py
  api/src/opentrons/data_storage/database_migration.py
  api/src/opentrons/data_storage/database_queries.py
  api/src/opentrons/data_storage/old_container_loading.py
Labels: api, fix, papi v1, ready for review

#6031 fix(shared-data): do not show calibration block defs in the labware library
  shared-data/js/getLabware.js
Labels: labware, ready for review, shared data

#5969 chore(api,robot-server): remove aiohttp endpoints
  api/Pipfile
  api/Pipfile.lock
  api/setup.py
  api/src/opentrons/__init__.py
  api/src/opentrons/main.py
  api/src/opentrons/server/__init__.py
  api/src/opentrons/server/endpoints/__init__.py
  api/src/opentrons/server/endpoints/control.py
  api/src/opentrons/server/endpoints/deck_calibration.py
  api/src/opentrons/server/endpoints/logs.py
  api/src/opentrons/server/endpoints/networking.py
  api/src/opentrons/server/endpoints/settings.py
  api/src/opentrons/server/endpoints/update.py
  api/src/opentrons/server/http.py
  api/src/opentrons/server/main.py
  api/src/opentrons/server/rpc.py
  api/src/opentrons/server/serialize.py
  api/tests/opentrons/config/test_pipette_config.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/deck_calibration/calibration_integration_test.py
  api/tests/opentrons/integration/test_server.py
  api/tests/opentrons/server/test_calibration_endpoints.py
  api/tests/opentrons/server/test_control_endpoints.py
  api/tests/opentrons/server/test_logs_endpoints.py
  api/tests/opentrons/server/test_networking_endpoints.py
  api/tests/opentrons/server/test_serialize.py
  api/tests/opentrons/server/test_server.py
  api/tests/opentrons/server/test_settings_endpoints.py
  api/tests/opentrons/test_init.py
  api/tests/opentrons/test_main.py
  robot-server/Pipfile
  robot-server/Pipfile.lock
  robot-server/robot_server/main.py
  robot-server/setup.py
  robot-server/tests/test_main.py
Labels: chore, cpx, ready for review
