Repository Opentrons/opentrons, pull requests merged in 2020-04, with the labels that each got.

#5329 feat(protocol-designer): add warning modal switching mag model
  protocol-designer/src/components/modals/EditModulesModal/MagneticModuleWarningModalContent.css
  protocol-designer/src/components/modals/EditModulesModal/MagneticModuleWarningModalContent.js
  protocol-designer/src/components/modals/EditModulesModal/__tests__/EditModulesModal.test.js
  protocol-designer/src/components/modals/EditModulesModal/index.js
  protocol-designer/src/localization/en/alert.json
  protocol-designer/src/tutorial/index.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#5353 test(protocol-designer): fix leaky localStorage mocks
  protocol-designer/src/__tests__/persist.test.js
Labels: chore, protocol designer, ready for review

#5302 docs(api): add gen2 modules
  api/docs/v2/new_advanced_running.rst
  api/docs/v2/new_atomic_commands.rst
  api/docs/v2/new_labware.rst
  api/docs/v2/new_modules.rst
  api/docs/v2/versioning.rst
Labels: docs, ready for review

#5340 chore(docs): note that api 2.3 released in beta
  api/docs/v2/versioning.rst
Labels: chore, docs

#5357 chore(release): 3.17.0-beta.0
  CHANGELOG.md
  api/release-notes.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/build/release-notes.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: release 🚢

#5354 build(components): upgrade styleguidist to latest for hooks support
  components/src/alerts/AlertItem.md
  components/src/deck/LabwareRender.md
  components/src/deck/Module.md
  components/src/deck/RobotWorkSpace.md
  components/src/forms/CheckboxField.md
  components/src/forms/DropdownField.md
  components/src/forms/FormGroup.md
  components/src/forms/InputField.md
  components/src/forms/RadioGroup.md
  components/src/forms/Select.md
  components/src/forms/SelectField.md
  components/src/icons/Icon.js
  components/src/icons/Icon.md
  components/src/icons/NotificationIcon.js
  components/src/instrument/PipetteSelect.md
  components/src/interaction-enhancers/ClickOutside.md
  components/src/interaction-enhancers/HandleKeypress.md
  components/src/interaction-enhancers/IntervalWrapper.md
  components/src/lists/ListAlert.md
  components/src/lists/ListItem.md
  components/src/lists/SidePanelGroup.md
  components/src/lists/TitledList.md
  components/src/modals/AlertModal.md
  components/src/modals/ContinueModal.md
  components/src/modals/Modal.md
  components/src/modals/Overlay.md
  components/src/structure/Card.md
  components/src/structure/RefreshCard.md
  components/src/structure/TitleBar.md
  components/src/tooltips/HoverTooltip.md
  components/styleguide.config.js
  package.json
  yarn.lock
Labels: chore, components, cpx, ready for review

#5352 test(protocol-designer): add data-test attrs to ModuleTag and ModuleViz
  protocol-designer/src/components/DeckSetup/ModuleTag.js
  protocol-designer/src/components/DeckSetup/ModuleViz.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#5351 feat(protocol-designer): Remove multi gen2 feature flag
  protocol-designer/src/components/modals/FilePipettesModal/__tests__/PipetteFields.test.js
  protocol-designer/src/feature-flags/reducers.js
  protocol-designer/src/feature-flags/selectors.js
  protocol-designer/src/feature-flags/types.js
  protocol-designer/src/localization/en/feature_flags.json
Labels: protocol designer, ready for review

#5361 chore(release): updates from 3.17.0-beta.0 release process
  CHANGELOG.md
  api/release-notes.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/src/opentrons/hardware_control/modules/magdeck.py
  api/src/opentrons/hardware_control/modules/tempdeck.py
  api/src/opentrons/hardware_control/modules/thermocycler.py
  api/src/opentrons/hardware_control/modules/update.py
  api/src/opentrons/legacy_api/robot/robot.py
  api/src/opentrons/package.json
  api/src/opentrons/protocol_api/module_contexts.py
  api/tests/opentrons/drivers/test_driver.py
  api/tests/opentrons/protocol_api/test_module_context.py
  app-shell/CHANGELOG.md
  app-shell/build/release-notes.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  app/src/components/ModuleLiveStatusCards/ThermocyclerCard.js
  app/src/components/ModuleLiveStatusCards/styles.css
  app/src/robot/api-client/client.js
  app/src/robot/selectors.js
  app/src/robot/test/api-client.test.js
  app/src/robot/test/selectors.test.js
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore, release 🚢

#5349 chore(protocol-designer): Update knowledgebase links
  protocol-designer/src/components/KnowledgeBaseLink/index.js
  protocol-designer/src/components/modals/EditModulesModal/MagneticModuleWarningModalContent.js
Labels: protocol designer, ready for review

#5362 feat(components): add hooks-based tooltip component to library
  components/package.json
  components/src/instrument/InstrumentDiagram.md
  components/src/styles/colors.js
  components/src/styles/typography.js
  components/src/tooltips/DeprecatedTooltip.js
  components/src/tooltips/DeprecatedTooltip.md
  components/src/tooltips/HoverTooltip.js
  components/src/tooltips/Tooltip.js
  components/src/tooltips/Tooltip.md
  components/src/tooltips/__tests__/Tooltip.test.js
  components/src/tooltips/__tests__/usePopper.test.js
  components/src/tooltips/__tests__/useTooltip.test.js
  components/src/tooltips/constants.js
  components/src/tooltips/index.js
  components/src/tooltips/styles.js
  components/src/tooltips/types.js
  components/src/tooltips/usePopper.js
  components/src/tooltips/useTooltip.js
  labware-library/src/components/labware-ui/LoadName.js
  yarn.lock
Labels: JS Tech Debt, components, feature, ready for review

#5363 refactor(app): add robot cal check intro and clear deck warning
  app/src/calibration/__fixtures__/index.js
  app/src/calibration/api-types.js
  app/src/calibration/constants.js
  app/src/calibration/index.js
  app/src/components/CheckCalibration/CompleteConfirmation.js
  app/src/components/CheckCalibration/Introduction.js
  app/src/components/CheckCalibration/__tests__/CheckCalibration.test.js
  app/src/components/CheckCalibration/__tests__/Introduction.test.js
  app/src/components/CheckCalibration/index.js
  app/src/components/CheckCalibration/styles.css
  app/src/components/CheckCalibration/tiprackImages.js
  app/src/img/labware/opentrons_96_tiprack_1000ul_side_view.jpg
  app/src/img/labware/opentrons_96_tiprack_10ul_side_view.jpg
  app/src/img/labware/opentrons_96_tiprack_300ul_side_view.jpg
Labels: app, hmg, ready for review

#5341 feat(protocol-designer): allow GEN1 multi pipette access N/S of GEN2 modules
  protocol-designer/src/step-generation/__tests__/modulePipetteCollision.test.js
  protocol-designer/src/step-generation/utils/_getFeatureFlag.js
  protocol-designer/src/step-generation/utils/modulePipetteCollision.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#5360 fix(protocol-designer): default to non-i18n step-gen errors if no i18n copy
  protocol-designer/src/components/alerts/TimelineAlerts.js
Labels: :spider: SPDDRS, fix, protocol designer

#5372 chore(protocol-designer): update PD version constant to 4.0.0
  protocol-designer/webpack.config.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#5370 fix(protocol-designer): fix dnd bug
  protocol-designer/src/components/DeckSetup/LabwareOverlays/DragPreview.js
  protocol-designer/src/components/DeckSetup/LabwareOverlays/EditLabware.js
  protocol-designer/src/components/DeckSetup/LabwareOverlays/SlotControls.js
  protocol-designer/src/components/DeckSetup/LabwareOverlays/__tests__/SlotControls.test.js
  protocol-designer/src/components/DeckSetup/LabwareOverlays/constants.js
  protocol-designer/src/components/steplist/DraggableStepItems.js
  protocol-designer/src/constants.js
Labels: fix, protocol designer, ready for review

#5322 fix(app): ensure only one RPC connect request can go out at once
  app/src/components/ConnectPanel/RobotItem.js
  app/src/components/ConnectPanel/RobotListItem.js
  app/src/components/ConnectPanel/__tests__/RobotItem.test.js
  app/src/components/ConnectPanel/__tests__/RobotListItem.test.js
  app/src/components/RobotSettings/StatusCard.js
  app/src/components/RobotSettings/__tests__/StatusCard.test.js
  app/src/discovery/__fixtures__/index.js
  app/src/discovery/types.js
  app/src/robot/api-client/__tests__/create-sessions.test.js
  app/src/robot/api-client/client.js
  app/src/robot/constants.js
  app/src/robot/reducer/connection.js
  app/src/robot/selectors.js
  app/src/robot/test/api-client.test.js
  app/src/robot/test/connection-reducer.test.js
  app/src/robot/types.js
Labels: app, fix, ready for review, rpc

#5377 refactor(app): fix error caused by two refactors touching robot selectors
  app/src/robot/selectors.js
Labels: app, fix, ready for review

#5378 fix(protocol-designer): allow adding labware
  protocol-designer/src/components/DeckSetup/LabwareOverlays/SlotControls.js
Labels: :spider: SPDDRS, fix, protocol designer, ready for review

#5369 test(protocol-designer): add migration + load-save e2e tests
  protocol-designer/cypress/integration/migrations.spec.js
  protocol-designer/cypress/integration/settings.spec.js
  protocol-designer/cypress/utils.js
  protocol-designer/fixtures/protocol/1/doItAll.json
  protocol-designer/fixtures/protocol/1/example_1_1_0.json
  protocol-designer/fixtures/protocol/1/minimalProtocolOldTransfer.json
  protocol-designer/fixtures/protocol/1/preFlexGrandfatheredProtocol.json
  protocol-designer/fixtures/protocol/3/doItAllV3.json
  protocol-designer/fixtures/protocol/3/example_1_1_0MigratedFromV1_0_0.json
  protocol-designer/fixtures/protocol/3/preFlexGrandfatheredProtocolMigratedFromV1_0_0.json
  protocol-designer/fixtures/protocol/4/doItAllV4.json
  protocol-designer/src/components/FileSidebar/FileSidebar.js
  protocol-designer/src/load-file/__tests__/proceduresMatchSnapshots.test.js
  protocol-designer/src/load-file/migration/1_1_0.js
  protocol-designer/src/load-file/migration/__tests__/1_1_0.test.js
  protocol-designer/src/load-file/migration/__tests__/3_0_0.test.js
Labels: protocol designer, ready for review

#5368 refactor(api): don't unstick p20 multis
  shared-data/pipette/definitions/pipetteModelSpecs.json
Labels: api, refactor

#5396 feat(protocol-designer): allow moving empty module under compat labware
  protocol-designer/src/step-forms/reducers/index.js
  protocol-designer/src/step-forms/test/reducers.test.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#5395 refactor(protocol-designer): Use new complib tooltip component
  components/src/buttons/Button.js
  components/src/tooltips/types.js
  protocol-designer/src/components/StepCreationButton.js
  protocol-designer/src/components/listButtons.css
Labels: :spider: SPDDRS, components, protocol designer, ready for review

#5390 fix(api): avoid tc lid when pathing
  api/src/opentrons/protocol_api/geometry.py
  api/tests/opentrons/protocol_api/test_geometry.py
Labels: api, fix, hmg

#5408 fix(protocol-designer): Unify pause step item spacing
  protocol-designer/src/components/steplist/PauseStepItems.js
  protocol-designer/src/components/steplist/StepItem.css
Labels: :spider: SPDDRS, fix, protocol designer, ready for review

#5405 feat(protocol-designer): hide tooltip when slot dropdown enabled
  protocol-designer/src/components/modals/EditModulesModal/index.js
Labels: protocol designer, ready for review

#5333 refactor(robot-server): robot server port settings to fastapi
  api/src/opentrons/config/advanced_settings.py
  api/src/opentrons/config/pipette_config.py
  api/src/opentrons/config/reset.py
  api/src/opentrons/server/endpoints/settings.py
  api/tests/opentrons/cli/test_cli.py
  api/tests/opentrons/config/test_advanced_settings.py
  api/tests/opentrons/config/test_pipette_config.py
  api/tests/opentrons/config/test_reset.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/server/test_settings_endpoints.py
  robot-server/robot_server/service/models/settings.py
  robot-server/robot_server/service/routers/settings.py
  robot-server/tests/service/routers/test_settings.py
Labels: api, ready for review, refactor, robot server

#5407 refactor(update-server): remove legacy impls
  Makefile
  appveyor.yml
  update-server/Pipfile
  update-server/Pipfile.lock
  update-server/otupdate/balena/__init__.py
  update-server/otupdate/balena/__main__.py
  update-server/otupdate/balena/bootstrap.py
  update-server/otupdate/balena/control.py
  update-server/otupdate/balena/endpoints.py
  update-server/otupdate/balena/install.py
  update-server/otupdate/balena/selftest.py
  update-server/otupdate/buildroot/__init__.py
  update-server/otupdate/buildroot/__main__.py
  update-server/otupdate/buildroot/file_actions.py
  update-server/otupdate/buildroot/ssh_key_management.py
  update-server/otupdate/migration/__init__.py
  update-server/otupdate/migration/constants.py
  update-server/otupdate/migration/dbus_actions.py
  update-server/otupdate/migration/endpoints.py
  update-server/otupdate/migration/file_actions.py
  update-server/tests/balena/test_bootstrap_fns.py
  update-server/tests/balena/test_server_boot.py
  update-server/tests/balena/test_update_api.py
  update-server/tests/migration/Opentrons
  update-server/tests/migration/conftest.py
  update-server/tests/migration/linksys-open
  update-server/tests/migration/resin-wifi-01
  update-server/tests/migration/test_migration_api.py
  update-server/tests/migration/test_migration_file_actions.py
Labels: refactor, update server

#5402 feat(api): Allow move, jog and tip handling for a cal session
  api/src/opentrons/server/__init__.py
  api/src/opentrons/server/endpoints/calibration/check.py
  api/src/opentrons/server/endpoints/calibration/constants.py
  api/src/opentrons/server/endpoints/calibration/models.py
  api/src/opentrons/server/endpoints/calibration/session.py
  api/src/opentrons/server/endpoints/calibration/util.py
  api/src/opentrons/server/http.py
  api/tests/opentrons/server/test_calibration_check.py
  api/tests/opentrons/server/test_calibration_check_integration.py
  api/tests/opentrons/server/test_calibration_session.py
Labels: api, ready for review

#5416 fix(api): correctly set magdeck offsets
  api/src/opentrons/hardware_control/modules/magdeck.py
Labels: api, fix

#5398 feat(robot-server): Robot server logging and settings
  api/Makefile
  robot-server/Makefile
  robot-server/Pipfile
  robot-server/Pipfile.lock
  robot-server/README.rst
  robot-server/dev.env
  robot-server/opentrons-robot-server.service
  robot-server/robot_server/main.py
  robot-server/robot_server/service/__init__.py
  robot-server/robot_server/service/logging.py
  robot-server/robot_server/service/main.py
  robot-server/robot_server/service/routers/settings.py
  robot-server/robot_server/settings.py
  robot-server/scripts/settings_schema.py
  robot-server/settings_schema.json
  robot-server/tests/service/routers/test_settings.py
Labels: api, cpx, ready for review, robot server

#5425 chore(release): 3.17.0-beta.1
  CHANGELOG.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore, release 🚢

#5415 feat(api): Allow moves to crosses and slot 5
  api/src/opentrons/protocol_api/geometry.py
  api/src/opentrons/server/__init__.py
  api/src/opentrons/server/endpoints/calibration/check.py
  api/src/opentrons/server/endpoints/calibration/middlewares.py
  api/src/opentrons/server/endpoints/calibration/models.py
  api/src/opentrons/server/endpoints/calibration/session.py
  api/src/opentrons/server/endpoints/calibration/util.py
  api/tests/opentrons/server/test_calibration_check_integration.py
Labels: api, ready for review

#5413 refactor(api): load v1 singletons lazily
  api/src/opentrons/__init__.py
  api/src/opentrons/legacy_api/__init__.py
Labels: api, refactor

#5423 feat(robot-server): return correct error format based on endpoint
  robot-server/robot_server/service/main.py
  robot-server/robot_server/service/routers/__init__.py
  robot-server/tests/service/routers/test_item.py
Labels: cpx, ready for review, robot server

#5430 refactor(robot-server): docs - robot server status codes
  robot-server/robot_server/main.py
  robot-server/robot_server/service/__init__.py
  robot-server/robot_server/service/app.py
  robot-server/robot_server/service/dependencies.py
  robot-server/robot_server/service/logging.py
  robot-server/robot_server/service/routers/camera.py
  robot-server/robot_server/service/routers/control.py
  robot-server/robot_server/service/routers/deck_calibration.py
  robot-server/robot_server/service/routers/item.py
  robot-server/robot_server/service/routers/logs.py
  robot-server/robot_server/service/routers/modules.py
  robot-server/robot_server/service/routers/motors.py
  robot-server/robot_server/service/routers/networking.py
  robot-server/robot_server/service/routers/settings.py
  robot-server/robot_server/service/rpc/rpc.py
  robot-server/tests/conftest.py
  robot-server/tests/service/test_app.py
  robot-server/tests/service/test_logging.py
Labels: cpx, refactor, robot server

#5424 test(labware-library): add load-save e2e test for labware creator
  labware-library/cypress/fixtures/TestLabwareProtocol.py
  labware-library/cypress/integration/labware-creator/fileImport.spec.js
  labware-library/cypress/plugins/index.js
  labware-library/src/labware-creator/index.js
  package.json
  protocol-designer/cypress/integration/migrations.spec.js
  protocol-designer/cypress/plugins/index.js
  shared-data/js/cypressUtils.js
  yarn.lock
Labels: labware creator, ready for review

#5437 chore(api): bump pytest, mypy, coverage
  api/Pipfile
  api/Pipfile.lock
  api/src/opentrons/commands/commands.py
  api/src/opentrons/config/__init__.py
  api/src/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/src/opentrons/hardware_control/__main__.py
  api/src/opentrons/hardware_control/api.py
  api/src/opentrons/hardware_control/socket_server.py
  api/src/opentrons/protocol_api/module_geometry.py
Labels: api, chore

#5380 test(protocol-designer): Add modules in PD E2E tests
  protocol-designer/cypress/integration/newProtocol.spec.js
  protocol-designer/cypress/integration/newProtocolWithModules.spec.js
  protocol-designer/cypress/integration/settings.spec.js
  protocol-designer/cypress/support/commands.js
Labels: protocol designer, ready for review

#5442 fix(protocol-designer): Update TC image proportions
  protocol-designer/src/images/modules/thermocycler.jpg
Labels: :spider: SPDDRS, fix, protocol designer, ready for review

#5348 feat(app): guide the user through leveling gen2 multis
  app/src/components/ChangePipette/Instructions.js
  app/src/components/ChangePipette/LevelPipette.js
  app/src/components/ChangePipette/index.js
  app/src/components/ChangePipette/styles.css
  app/src/components/ChangePipette/videos/p20_multi_gen2-left.webm
  app/src/components/ChangePipette/videos/p20_multi_gen2-right.webm
  app/src/components/ChangePipette/videos/p300_multi_gen2-left.webm
  app/src/components/ChangePipette/videos/p300_multi_gen2-right.webm
  shared-data/js/pipettes.js
  webpack-config/lib/base-config.js
  webpack-config/lib/rules.js
Labels: app, feature

#5434 feat(protocol-designer): update pause until temp modal copy
  protocol-designer/src/components/modals/AutoAddPauseUntilTempStepModal.js
  protocol-designer/src/localization/en/modal.json
Labels: :spider: SPDDRS, protocol designer, ready for review

#5440 feat(protocol-designer): Implement custom tiprack UI behind flag
  protocol-designer/src/components/modals/EditPipettesModal/index.js
  protocol-designer/src/components/modals/FilePipettesModal/FilePipettesModal.css
  protocol-designer/src/components/modals/FilePipettesModal/PipetteDiagram.js
  protocol-designer/src/components/modals/FilePipettesModal/PipetteFields.js
  protocol-designer/src/components/modals/FilePipettesModal/__tests__/PipetteFields.test.js
  protocol-designer/src/components/modals/FilePipettesModal/__tests__/index.test.js
  protocol-designer/src/components/modals/FilePipettesModal/index.js
  protocol-designer/src/components/modals/NewFileModal/index.js
  protocol-designer/src/feature-flags/reducers.js
  protocol-designer/src/feature-flags/selectors.js
  protocol-designer/src/feature-flags/types.js
  protocol-designer/src/localization/en/feature_flags.json
Labels: :spider: SPDDRS, protocol designer, ready for review

#5438 feat(robot-server): create middleware to support api versioning
  robot-server/robot_server/constants.py
  robot-server/robot_server/service/app.py
  robot-server/robot_server/service/errors.py
  robot-server/robot_server/service/exceptions.py
  robot-server/robot_server/service/models/json_api/errors.py
  robot-server/robot_server/service/routers/control.py
  robot-server/robot_server/service/routers/deck_calibration.py
  robot-server/robot_server/service/routers/modules.py
  robot-server/robot_server/service/routers/motors.py
  robot-server/robot_server/service/routers/networking.py
  robot-server/robot_server/service/routers/settings.py
  robot-server/tests/service/models/json_api/test_errors.py
  robot-server/tests/service/test_app.py
  robot-server/tests/service/test_errors.py
Labels: cpx, ready for review, robot server

#5443 fix(protocol-designer): Default to GEN1 model for TC
  protocol-designer/src/components/modals/FilePipettesModal/ModuleFields.js
  protocol-designer/src/components/modals/FilePipettesModal/index.js
Labels: :spider: SPDDRS, fix, protocol designer, ready for review

#5439 chore(robot-server): upgrade fastapi to 0.54.1
  robot-server/Config.in
  robot-server/Pipfile
  robot-server/Pipfile.lock
  robot-server/robot_server/service/routers/settings.py
  robot-server/tests/service/rpc/test_server.py
Labels: cpx, ready for review, robot server

#5381 refactor(api): deploy libgpiod for gpio control and deprecate sysfs
  api/Pipfile.lock
  api/mypy.ini
  api/src/opentrons/api/session.py
  api/src/opentrons/drivers/rpi_drivers/__init__.py
  api/src/opentrons/drivers/rpi_drivers/dev_types.py
  api/src/opentrons/drivers/rpi_drivers/gpio.py
  api/src/opentrons/drivers/rpi_drivers/gpio_simulator.py
  api/src/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/src/opentrons/hardware_control/api.py
  api/src/opentrons/hardware_control/controller.py
  api/src/opentrons/hardware_control/simulator.py
  api/src/opentrons/hardware_control/thread_manager.py
  api/src/opentrons/legacy_api/robot/robot.py
  api/src/opentrons/main.py
  api/src/opentrons/tools/factory_test.py
  api/src/opentrons/tools/gantry_test.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/drivers/rpi_drivers/test_gpio.py
  robot-server/opentrons-robot-server.service
Labels: api, hardware, refactor

#5455 chore(robot-server,update-server): push systemd units
  robot-server/Makefile
  update-server/Makefile
Labels: chore, robot server, update server

#5454 fix(api): verify the structure of v2 protocol ast
  api/src/opentrons/protocol_api/execute.py
  api/src/opentrons/protocols/parse.py
  api/src/opentrons/protocols/types.py
  api/tests/opentrons/api/test_session.py
  api/tests/opentrons/protocol_api/test_execute.py
  api/tests/opentrons/protocols/test_parse.py
Labels: api, fix, hmg

#5431 ci(travis): run cypress e2e tests on build
  .travis.yml
  labware-library/Makefile
  labware-library/cypress.json
  labware-library/src/index.hbs
  labware-library/webpack.config.js
  package.json
  protocol-designer/Makefile
  protocol-designer/cypress.json
  protocol-designer/src/components/FileSidebar/FileSidebar.js
  protocol-designer/webpack.config.js
  yarn.lock
Labels: cpx, infrastructure, ready for review

#5456 chore(api): update gen2 multi functions from pvt
  shared-data/pipette/definitions/pipetteModelSpecs.json
Labels: api, refactor

#5458 refactor(protocol-designer): Use new tooltip component in WellOrder and TipPosition
  protocol-designer/src/components/StepEditForm/fields/TipPositionField/index.js
  protocol-designer/src/components/StepEditForm/fields/WellOrderField/index.js
Labels: :spider: SPDDRS, protocol designer, ready for review, refactor

#5460 refactor(protocol-designer): Update tooltip component in substep headers
  protocol-designer/src/components/steplist/AspirateDispenseHeader.js
  protocol-designer/src/components/steplist/MixHeader.js
  protocol-designer/src/components/steplist/ModuleStepItems.js
Labels: :spider: SPDDRS, protocol designer, ready for review, refactor

#5459 refactor(api): Make idle plunger current dependent on pipette model
  api/src/opentrons/config/pipette_config.py
  api/src/opentrons/drivers/smoothie_drivers/__init__.py
  api/src/opentrons/hardware_control/api.py
  api/src/opentrons/legacy_api/robot/robot.py
  api/tests/opentrons/hardware_control/test_instruments.py
  shared-data/pipette/definitions/pipetteModelSpecs.json
  shared-data/pipette/schemas/pipetteModelSpecsSchema.json
Labels: api, ready for review, shared data

#5466 refactor(api): Lower Touch Tip Minimum Speed
  api/src/opentrons/protocol_api/definitions.py
  api/src/opentrons/protocol_api/instrument_context.py
Labels: api, ready for review

#5476 chore(release): 3.17.0
  CHANGELOG.md
  api/release-notes.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/build/release-notes.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore, release 🚢

#5480 refactor(protocol-designer): Update announcement and export modal text
  protocol-designer/src/components/FileSidebar/FileSidebar.js
  protocol-designer/src/components/modals/AnnouncementModal/announcements.js
  protocol-designer/src/localization/en/alert.json
Labels: :spider: SPDDRS, chore, protocol designer, ready for review

#5469 fix(api): Load the correct gantry calibration upon deck calibration exit
  api/src/opentrons/deck_calibration/endpoints.py
Labels: api, fix, ready for review

#5470 refactor(api): Remove diagonal movement from touch tip
  api/src/opentrons/protocol_api/instrument_context.py
  api/src/opentrons/protocol_api/util.py
  api/tests/opentrons/protocol_api/test_context.py
  api/tests/opentrons/protocol_api/test_util.py
Labels: api, ready for review, refactor

#5479 chore(merge): 3.17.0 (#5476)
  CHANGELOG.md
  api/release-notes.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/build/release-notes.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore

#5474 refactor(api): Move to the specified height offset in touch tip before moving to edges
  api/src/opentrons/protocol_api/instrument_context.py
  api/tests/opentrons/protocol_api/test_context.py
Labels: api, ready for review

#5484 chore(api): add support for multi v2.1
  api/src/opentrons/tools/write_pipette_memory.py
  shared-data/pipette/definitions/pipetteModelSpecs.json
Labels: api, chore

#5465 feat(robot-server, api): calibration check overhaul
  api/src/opentrons/server/endpoints/calibration/check.py
  api/src/opentrons/server/endpoints/calibration/constants.py
  api/src/opentrons/server/endpoints/calibration/middlewares.py
  api/src/opentrons/server/endpoints/calibration/models.py
  api/src/opentrons/server/endpoints/calibration/session.py
  api/src/opentrons/server/endpoints/calibration/util.py
  api/src/opentrons/server/http.py
  api/tests/opentrons/server/calibration/__init__.py
  api/tests/opentrons/server/calibration/test_check_calibration_session.py
  api/tests/opentrons/server/test_calibration_check.py
  api/tests/opentrons/server/test_calibration_check_integration.py
  api/tests/opentrons/server/test_calibration_session.py
Labels: api, hmg, ready for review, robot server

#5475 refactor(protocol-designer): Update tooltip logic for transfer ingredients and substeps
  components/src/structure/Pill.js
  protocol-designer/src/components/steplist/IngredPill.js
  protocol-designer/src/components/steplist/StepList.js
  protocol-designer/src/components/steplist/SubstepRow.js
  protocol-designer/src/components/steplist/TooltipPortal.js
Labels: :spider: SPDDRS, protocol designer, ready for review, refactor

#5478 refactor(protocol-designer): Update tooltip for ChangeTipOptionLabel
  protocol-designer/src/components/StepEditForm/fields/ChangeTipField/ChangeTip.js
Labels: :spider: SPDDRS, protocol designer, ready for review, refactor

#5486 docs(api): Add in information about touch tip and api 2.4 to docs
  api/docs/v2/new_atomic_commands.rst
  api/docs/v2/versioning.rst
Labels: docs, ready for review

#5495 chore(protocol-designer): bump PD version to 4.0.1
  protocol-designer/webpack.config.js
Labels: chore, protocol designer, ready for review

#5485 refactor(api): Avoid collisions with modules during touch tip
  api/src/opentrons/protocol_api/geometry.py
  api/src/opentrons/protocol_api/instrument_context.py
  api/src/opentrons/protocol_api/util.py
  api/tests/opentrons/protocol_api/test_geometry.py
  api/tests/opentrons/protocol_api/test_util.py
Labels: api, ready for review

#5482 refactor(app): Collect system USB information
  .travis.yml
  Makefile
  app-shell/Makefile
  app-shell/package.json
  app-shell/src/main.js
  app-shell/src/os.js
  app-shell/src/system-info/__tests__/dispatch.test.js
  app-shell/src/system-info/__tests__/usb-devices.test.js
  app-shell/src/system-info/index.js
  app-shell/src/system-info/usb-devices.js
  app/src/analytics/__tests__/system-info-events.test.js
  app/src/analytics/make-event.js
  app/src/analytics/types.js
  app/src/config/constants.js
  app/src/config/types.js
  app/src/epic.js
  app/src/index.js
  app/src/reducer.js
  app/src/shell/__tests__/actions.test.js
  app/src/shell/actions.js
  app/src/shell/index.js
  app/src/shell/types.js
  app/src/support.js
  app/src/support/__tests__/epic.test.js
  app/src/support/__tests__/profile.test.js
  app/src/support/__tests__/system-info-profile.test.js
  app/src/support/constants.js
  app/src/support/epic.js
  app/src/support/index.js
  app/src/support/profile.js
  app/src/support/types.js
  app/src/system-info/__fixtures__/index.js
  app/src/system-info/__tests__/actions.test.js
  app/src/system-info/__tests__/reducer.test.js
  app/src/system-info/actions.js
  app/src/system-info/constants.js
  app/src/system-info/index.js
  app/src/system-info/reducer.js
  app/src/system-info/types.js
  app/src/system-info/utils.js
  app/src/types.js
  flow-typed/npm/execa_v4.0.x.js
  flow-typed/npm/usb-detection_v4.7.x.js
  package.json
  scripts/setup-global-mocks.js
  yarn.lock
Labels: app, feature, ready for review

#5503 feat(shared-data): add nest_96_wellplate_2ml_deep
  shared-data/labware/definitions/2/nest_96_wellplate_2ml_deep/1.json
Labels: labware, shared data

#5498 feat(api): Allow Non-Full plate Thermocycler Configuration
  api/src/opentrons/protocol_api/geometry.py
  api/src/opentrons/protocol_api/module_geometry.py
  api/src/opentrons/protocol_api/protocol_context.py
  api/tests/opentrons/protocol_api/test_labware.py
  api/tests/opentrons/protocol_api/test_module_context.py
Labels: api, ready for review

#5507 chore(release): 3.17.1-alpha.0
  CHANGELOG.md
  api/docs/v2/versioning.rst
  api/release-notes.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/build/release-notes.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  robot-server/robot_server/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore, release 🚢

#5492 refactor(protocol-designer): Update ModuleRow tooltip and tests
  protocol-designer/src/components/modules/ModuleRow.js
  protocol-designer/src/components/modules/__tests__/ModuleRow.test.js
Labels: :spider: SPDDRS, protocol designer, ready for review, refactor

#5508 refactor(app): add Network & System page with U2E adapter info
  app/src/components/AppSettings/AdvancedSettingsCard.js
  app/src/components/MenuPanel/index.js
  app/src/components/NetworkSettingsCard/AddManualIp/AddManualIpModal.js
  app/src/components/NetworkSettingsCard/AddManualIp/IpField.js
  app/src/components/NetworkSettingsCard/AddManualIp/IpItem.js
  app/src/components/NetworkSettingsCard/AddManualIp/IpList.js
  app/src/components/NetworkSettingsCard/AddManualIp/ManualIpForm.js
  app/src/components/NetworkSettingsCard/AddManualIp/__tests__/AddManualIp.test.js
  app/src/components/NetworkSettingsCard/AddManualIp/index.js
  app/src/components/NetworkSettingsCard/AddManualIp/styles.css
  app/src/components/NetworkSettingsCard/__tests__/NetworkSettingsCard.test.js
  app/src/components/NetworkSettingsCard/index.js
  app/src/components/SystemInfoCard/U2EAdapterInfo.js
  app/src/components/SystemInfoCard/U2EDeviceDetails.js
  app/src/components/SystemInfoCard/__tests__/SystemInfoCard.test.js
  app/src/components/SystemInfoCard/__tests__/U2EAdapterInfo.test.js
  app/src/components/SystemInfoCard/index.js
  app/src/config/__tests__/hooks.test.js
  app/src/config/hooks.js
  app/src/config/index.js
  app/src/pages/More/NetworkAndSystem.js
  app/src/pages/More/__tests__/NetworkAndSystem.test.js
  app/src/pages/More/index.js
  app/src/system-info/__tests__/selectors.test.js
  app/src/system-info/index.js
  app/src/system-info/selectors.js
  components/src/controls/ControlSection.js
  components/src/controls/__tests__/InfoSection.test.js
  components/src/controls/index.js
Labels: cpx, ready for review, refactor

#5525 fix(api): home only the axis probing after error
  api/src/opentrons/drivers/smoothie_drivers/driver_3_0.py
Labels: api, fix

#5526 chore(bump): 3.17.1-alpha.1
  CHANGELOG.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  robot-server/robot_server/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore, release 🚢

#5530 chore(docs): Add gen2 multis to docs
  api/docs/v2/new_pipette.rst
Labels: chore, docs

#5532 fix(api): Correctly grab slot from labware object
  api/src/opentrons/protocol_api/geometry.py
Labels: api, ready for review

#5534 fix(api): Correctly grab slot from labware object
  api/src/opentrons/protocol_api/geometry.py
Labels: api, ready for review

#5535 chore(bump): 3.17.1-alpha.2
  CHANGELOG.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  robot-server/robot_server/CHANGELOG.md
  robot-server/robot_server/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: ready for review, release 🚢
