Repository Opentrons/opentrons, pull requests merged in 2020-12, with the labels that each got.

#7057 chore(protocol-designer): bump to 5.2.3
  protocol-designer/webpack.config.js
Labels: :spider: SPDDRS, chore, protocol designer, ready for review

#6984 refactor(api): move some private methods out of InstrumentContext class.
  api/src/opentrons/protocol_api/instrument_context.py
  api/src/opentrons/protocol_api/labware.py
  api/src/opentrons/protocols/advanced_control/mix.py
  api/src/opentrons/protocols/api_support/instrument.py
  api/tests/opentrons/protocol_api/test_instrument.py
  api/tests/opentrons/protocols/api_support/test_instrument.py
Labels: api, ready for review, refactor

#7034 feat(api): add drop tip command to engine
  api/src/opentrons/protocol_engine/commands/__init__.py
  api/src/opentrons/protocol_engine/commands/drop_tip.py
  api/src/opentrons/protocol_engine/commands/pipetting_common.py
  api/src/opentrons/protocol_engine/execution/movement.py
  api/src/opentrons/protocol_engine/execution/pipetting.py
  api/src/opentrons/protocol_engine/state/geometry.py
  api/src/opentrons/protocol_engine/state/motion.py
  api/src/opentrons/protocol_engine/types.py
  api/tests/opentrons/protocol_engine/commands/test_drop_tip.py
  api/tests/opentrons/protocol_engine/execution/test_movement_handler.py
  api/tests/opentrons/protocol_engine/execution/test_pipetting_handler.py
  api/tests/opentrons/protocol_engine/state/test_geometry_state.py
  api/tests/opentrons/protocol_engine/state/test_motion_getters.py
  api/tests/opentrons/protocol_engine/state/test_motion_state.py
  api/tests/opentrons/protocol_engine/test_protocol_engine.py
Labels: api, cpx, feature, ready for review

#7060 refactor(api): remove model and instrument offsets
  api/src/opentrons/config/pipette_config.py
  api/src/opentrons/config/robot_configs.py
  api/src/opentrons/hardware_control/api.py
  api/src/opentrons/hardware_control/pipette.py
  api/tests/opentrons/api/test_calibration.py
  api/tests/opentrons/config/test_robots_config.py
  api/tests/opentrons/hardware_control/test_pipette.py
  api/tests/opentrons/hardware_control/test_tip_probe.py
  robot-server/robot_server/service/legacy/routers/deck_calibration.py
  robot-server/tests/integration/test_settings_robot.tavern.yaml
  robot-server/tests/robot/calibration/check/test_user_flow.py
  robot-server/tests/robot/calibration/deck/test_user_flow.py
  robot-server/tests/robot/calibration/pipette_offset/test_user_flow.py
  robot-server/tests/robot/calibration/tip_length/test_user_flow.py
Labels: api, refactor

#7079 feat(protocol-designer): add "batch edit" feature flag
  protocol-designer/src/feature-flags/reducers.js
  protocol-designer/src/feature-flags/selectors.js
  protocol-designer/src/feature-flags/types.js
  protocol-designer/src/localization/en/feature_flags.json
Labels: :spider: SPDDRS, protocol designer, ready for review

#7074 refactor(api): type harvested commands and dependents including RPC session machinery
  api/.flake8
  api/mypy.ini
  api/src/opentrons/api/calibration.py
  api/src/opentrons/api/dev_types.py
  api/src/opentrons/api/models.py
  api/src/opentrons/api/routers.py
  api/src/opentrons/api/session.py
  api/src/opentrons/api/util.py
  api/src/opentrons/broker.py
  api/src/opentrons/commands/commands.py
  api/src/opentrons/commands/helpers.py
  api/src/opentrons/commands/introspection.py
  api/src/opentrons/commands/module_commands.py
  api/src/opentrons/commands/paired_commands.py
  api/src/opentrons/commands/protocol_commands.py
  api/src/opentrons/commands/publisher.py
  api/src/opentrons/commands/types.py
  api/src/opentrons/protocol_api/__init__.py
  api/src/opentrons/protocol_api/contexts.py
  api/src/opentrons/protocol_api/protocol_context.py
  api/src/opentrons/protocols/api_support/labware_like.py
  api/tests/opentrons/api/test_session.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/protocols/api_support/test_labware_like.py
  robot-server/robot_server/service/session/session_types/protocol/execution/protocol_runner.py
  robot-server/tests/service/session/session_types/protocol/execution/test_protocol_runner.py
  robot-server/tests/service/test_dependencies.py
Labels: api, refactor

#7025 fix(app): prompt whether to replace pipette after detach
  app/src/components/ChangePipette/CheckPipettesButton.js
  app/src/components/ChangePipette/Instructions.js
Labels: app, hmg, ready for review

#7078 fix(api): ensure exact delay floats are preserved in command log
  api/src/opentrons/commands/protocol_commands.py
  api/src/opentrons/hardware_control/api.py
  api/tests/opentrons/commands/test_commands.py
  api/tests/opentrons/commands/test_protocol_commands.py
  api/tests/opentrons/test_execute.py
  api/tests/opentrons/test_simulate.py
Labels: api, fix, ready for review

#7000 refactor(api): protocol and instrument contexts delegate to private implementation
  api/src/opentrons/api/session.py
  api/src/opentrons/commands/commands.py
  api/src/opentrons/commands/paired_commands.py
  api/src/opentrons/execute.py
  api/src/opentrons/protocol_api/instrument_context.py
  api/src/opentrons/protocol_api/labware.py
  api/src/opentrons/protocol_api/module_contexts.py
  api/src/opentrons/protocol_api/paired_instrument_context.py
  api/src/opentrons/protocol_api/protocol_context.py
  api/src/opentrons/protocols/api_support/util.py
  api/src/opentrons/protocols/implementations/instrument_context.py
  api/src/opentrons/protocols/implementations/interfaces/instrument_context.py
  api/src/opentrons/protocols/implementations/interfaces/protocol_context.py
  api/src/opentrons/protocols/implementations/labware.py
  api/src/opentrons/protocols/implementations/paired_instrument.py
  api/src/opentrons/protocols/implementations/protocol_context.py
  api/src/opentrons/protocols/implementations/tip_tracker.py
  api/src/opentrons/simulate.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/protocol_api/test_context.py
  api/tests/opentrons/protocol_api/test_instrument.py
  api/tests/opentrons/protocol_api/test_labware_load.py
  api/tests/opentrons/protocol_api/test_module_context.py
  api/tests/opentrons/protocol_api/test_paired_context.py
  api/tests/opentrons/protocols/advanced_control/test_transfers.py
  api/tests/opentrons/protocols/api_support/test_util.py
  api/tests/opentrons/protocols/execution/test_execute_json_v3.py
  api/tests/opentrons/protocols/execution/test_execute_json_v4.py
  api/tests/opentrons/protocols/execution/test_execute_python.py
  api/tests/opentrons/test_execute.py
  api/tests/opentrons/test_simulate.py
  robot-server/robot_server/service/dependencies.py
Labels: api, ready for review, refactor

#7095 fix(api): get correct instrument max height
  api/src/opentrons/hardware_control/api.py
  api/src/opentrons/util/linal.py
  api/tests/opentrons/util/test_linal.py
Labels: api, fix

#7096 refactor(api): remove URWID from the opentrons dependency list
  Pipfile.lock
  api/Pipfile
  api/setup.py
Labels: api, ready for review

#7098 refactor(api): remove remaining tip probe related code
  api/src/opentrons/config/robot_configs.py
  api/src/opentrons/hardware_control/api.py
  api/tests/opentrons/api/test_calibration.py
  api/tests/opentrons/config/test_robots_config.py
  api/tests/opentrons/hardware_control/test_tip_probe.py
  robot-server/tests/integration/test_settings_robot.tavern.yaml
Labels: api, ready for review

#7100 refactor(api): remove legacy deck calibration
  api/src/opentrons/config/reset.py
  api/src/opentrons/config/robot_configs.py
  api/src/opentrons/hardware_control/robot_calibration.py
  api/src/opentrons/hardware_control/simulator_setup.py
  api/src/opentrons/hardware_control/socket_server.py
  api/tests/opentrons/config/test_reset.py
  api/tests/opentrons/config/test_robots_config.py
  api/tests/opentrons/hardware_control/test_simulator_setup.py
  api/tests/opentrons/hardware_control/test_socket_server.py
  api/tests/opentrons/protocol_api/test_context.py
  robot-server/tests/integration/test_deck_calibration.tavern.yaml
  robot-server/tests/integration/test_settings_robot.tavern.yaml
Labels: api, refactor

#7042 feat(robot-server): add hardware event publisher
  notify-server/Pipfile
  notify-server/Pipfile.lock
  notify-server/notify_server/clients/publisher.py
  notify-server/notify_server/models/hardware_event/__init__.py
  notify-server/notify_server/models/hardware_event/door_state.py
  notify-server/notify_server/models/hardware_event/names.py
  notify-server/notify_server/models/payload_type.py
  notify-server/notify_server/models/topics.py
  notify-server/notify_server/py.typed
  robot-server/Pipfile
  robot-server/Pipfile.lock
  robot-server/robot_server/hardware_wrapper.py
  robot-server/robot_server/service/dependencies.py
  robot-server/tests/test_hardware_wrapper.py
Labels: ready for review

#7108 feat(shared-data): add default tipracks to each pipette name spec
  api/src/opentrons/config/pipette_config.py
  app/src/components/InstrumentSettings/__fixtures__/index.js
  shared-data/js/__tests__/__snapshots__/pipettes.test.js.snap
  shared-data/js/types.js
  shared-data/pipette/definitions/pipetteNameSpecs.json
  shared-data/pipette/schemas/pipetteNameSpecsSchema.json
  shared-data/python/opentrons_shared_data/pipette/dev_types.py
Labels: api, ready for review, shared data

#7099 fix(protocol-designer): include custom tiprack defs...
  protocol-designer/src/file-data/__tests__/createFile.test.js
  protocol-designer/src/file-data/selectors/fileCreator.js
Labels: :spider: SPDDRS, fix, protocol designer, ready for review

#7115 chore(makefile): add notify server to the top level makefile for setup and push
  Makefile
Labels: chore, ready for review

#7107 feat(robot-server): notifications service websocket subscriber client
  notify-server/notify_server/clients/publisher.py
  notify-server/notify_server/clients/queue_entry.py
  notify-server/tests/unit/clients/test_queue_entry.py
  robot-server/robot_server/service/app.py
  robot-server/robot_server/service/notifications/__init__.py
  robot-server/robot_server/service/notifications/handle_subscriber.py
  robot-server/robot_server/service/notifications/router.py
  robot-server/robot_server/settings.py
  robot-server/tests/service/notifications/__init__.py
  robot-server/tests/service/notifications/conftest.py
  robot-server/tests/service/notifications/test_handle_subscriber.py
  robot-server/tests/service/notifications/test_router.py
Labels: cpx, ready for review, robot server

#7114 feat(api): fast instrument simulation
  api/src/opentrons/protocols/implementations/simulators/__init__.py
  api/src/opentrons/protocols/implementations/simulators/instrument_context.py
  api/src/opentrons/protocols/implementations/simulators/protocol_context.py
Labels: api, cpx, ready for review

#7118 feat(robot-server): expose uvicorn logs
  robot-server/robot_server/service/legacy/models/health.py
  robot-server/robot_server/service/legacy/models/logs.py
  robot-server/robot_server/service/legacy/routers/health.py
  robot-server/robot_server/service/legacy/routers/logs.py
  robot-server/tests/service/legacy/routers/test_health.py
Labels: feature, robot server

#7111 fix(labware-library): Render custom labware footprint diagram correctly
  labware-library/src/labware-creator/images/footprint.svg
Labels: :spider: SPDDRS, labware creator, ready for review

#7117 feat(app): Allow Z jog in save-xy-point
  app/src/components/CalibrationPanels/SaveXYPoint.js
Labels: app, feature

#7124 perf(api): simulation optimizations
  api/src/opentrons/commands/publisher.py
  api/src/opentrons/config/pipette_config.py
  api/src/opentrons/hardware_control/api.py
  api/src/opentrons/hardware_control/pipette.py
  api/src/opentrons/protocols/api_support/util.py
  api/src/opentrons/protocols/implementations/instrument_context.py
Labels: api, cpx, refactor

#7132 perf(api): more (small) simulation improvements
  api/src/opentrons/commands/publisher.py
  api/src/opentrons/config/pipette_config.py
Labels: api, ready for review, refactor

#7126 refactor(app): delete now unused super deprecated http-api-client
  app/README.md
  app/src/__tests__/util.test.js
  app/src/components/CalibrationPanels/MeasureNozzle.js
  app/src/components/CalibrationPanels/MeasureTip.js
  app/src/components/CalibrationPanels/SaveXYPoint.js
  app/src/components/CalibrationPanels/SaveZPoint.js
  app/src/components/CalibrationPanels/TipPickUp.js
  app/src/components/CalibrationPanels/utils.js
  app/src/components/JogControls/types.js
  app/src/http-api-client/__mocks__/client.js
  app/src/http-api-client/__tests__/calibration.test.js
  app/src/http-api-client/__tests__/client.test.js
  app/src/http-api-client/actions.js
  app/src/http-api-client/calibration.js
  app/src/http-api-client/client.js
  app/src/http-api-client/index.js
  app/src/http-api-client/types.js
  app/src/reducer.js
  app/src/types.js
  app/src/util.js
Labels: app, hmg

#7136 refactor(api, robot-server): change tip length data model to include uri
  api/src/opentrons/calibration_storage/dev_types.py
  api/src/opentrons/calibration_storage/get.py
  api/src/opentrons/calibration_storage/helpers.py
  api/src/opentrons/calibration_storage/modify.py
  api/src/opentrons/calibration_storage/types.py
  api/tests/opentrons/protocol_api/test_context.py
  api/tests/opentrons/protocol_api/test_offsets.py
  robot-server/robot_server/service/tip_length/models.py
  robot-server/robot_server/service/tip_length/router.py
  robot-server/tests/integration/test_tip_length_access.tavern.yaml
  robot-server/tests/robot/calibration/check/test_user_flow.py
  robot-server/tests/service/tip_length/test_tip_length_management.py
Labels: api, ready for review, robot server

#7142 refactor(robot-server): Refactor command models to use literals
  robot-server/robot_server/robot/calibration/check/state_machine.py
  robot-server/robot_server/robot/calibration/check/user_flow.py
  robot-server/robot_server/robot/calibration/deck/state_machine.py
  robot-server/robot_server/robot/calibration/deck/user_flow.py
  robot-server/robot_server/robot/calibration/pipette_offset/state_machine.py
  robot-server/robot_server/robot/calibration/pipette_offset/user_flow.py
  robot-server/robot_server/robot/calibration/tip_length/state_machine.py
  robot-server/robot_server/robot/calibration/tip_length/user_flow.py
  robot-server/robot_server/robot/calibration/util.py
  robot-server/robot_server/service/session/command_execution/callable_executor.py
  robot-server/robot_server/service/session/command_execution/command.py
  robot-server/robot_server/service/session/command_execution/hardware_executor.py
  robot-server/robot_server/service/session/models/command.py
  robot-server/robot_server/service/session/models/command_definitions.py
  robot-server/robot_server/service/session/router.py
  robot-server/robot_server/service/session/session_types/base_session.py
  robot-server/robot_server/service/session/session_types/live_protocol/command_executor.py
  robot-server/robot_server/service/session/session_types/live_protocol/state_store.py
  robot-server/robot_server/service/session/session_types/protocol/execution/command_executor.py
  robot-server/tests/integration/sessions/test_calibration_check.tavern.yaml
  robot-server/tests/robot/calibration/check/test_state_machine.py
  robot-server/tests/robot/calibration/deck/test_state_machine.py
  robot-server/tests/robot/calibration/deck/test_user_flow.py
  robot-server/tests/robot/calibration/pipette_offset/test_state_machine.py
  robot-server/tests/robot/calibration/pipette_offset/test_user_flow.py
  robot-server/tests/robot/calibration/tip_length/test_state_machine.py
  robot-server/tests/robot/calibration/tip_length/test_user_flow.py
  robot-server/tests/service/session/session_types/live_protocol/test_command_executor.py
  robot-server/tests/service/session/session_types/live_protocol/test_state_store.py
  robot-server/tests/service/session/session_types/protocol/execution/test_command_executor.py
  robot-server/tests/service/session/test_router.py
Labels: ready for review, robot server

#7119 refactor(app): manage copy strings via i18next in robot settings page
  app/README.md
  app/package.json
  app/src/assets/localization/en/index.js
  app/src/assets/localization/en/robot_advanced_settings.json
  app/src/assets/localization/en/robot_calibration.json
  app/src/assets/localization/en/robot_connection.json
  app/src/assets/localization/en/robot_controls.json
  app/src/assets/localization/en/robot_info.json
  app/src/assets/localization/en/shared.json
  app/src/assets/localization/en/top_navigation.json
  app/src/assets/localization/index.js
  app/src/calibration/constants.js
  app/src/components/ConnectPanel/RobotListItem.js
  app/src/components/ConnectPanel/ScanButton.js
  app/src/components/InstrumentSettings/PipetteInfo.js
  app/src/components/RobotSettings/AdvancedSettingsCard.js
  app/src/components/RobotSettings/CalibrationCard.js
  app/src/components/RobotSettings/CheckCalibrationControl.js
  app/src/components/RobotSettings/ConfirmStartDeckCalModal.js
  app/src/components/RobotSettings/ConnectAlertModal.js
  app/src/components/RobotSettings/ConnectBanner.js
  app/src/components/RobotSettings/ConnectionCard.js
  app/src/components/RobotSettings/Control.js
  app/src/components/RobotSettings/ControlsCard.js
  app/src/components/RobotSettings/DeckCalibrationControl.js
  app/src/components/RobotSettings/DeckCalibrationDownload.js
  app/src/components/RobotSettings/InformationCard.js
  app/src/components/RobotSettings/OpenJupyterControl.js
  app/src/components/RobotSettings/PipetteOffsetItem.js
  app/src/components/RobotSettings/PipetteOffsets.js
  app/src/components/RobotSettings/ReachableRobotBanner.js
  app/src/components/RobotSettings/ResetRobotModal.js
  app/src/components/RobotSettings/StatusCard.js
  app/src/components/RobotSettings/UpdateFromFileControl.js
  app/src/components/RobotSettings/__tests__/AdvancedSettingsCard.test.js
  app/src/components/RobotSettings/__tests__/CalibrationCard.test.js
  app/src/components/RobotSettings/__tests__/CheckCalibrationControl.test.js
  app/src/components/RobotSettings/__tests__/ConnectionCard.test.js
  app/src/components/RobotSettings/__tests__/ControlsCard.test.js
  app/src/components/RobotSettings/__tests__/DeckCalibrationControl.test.js
  app/src/components/RobotSettings/__tests__/DeckCalibrationDownload.test.js
  app/src/components/RobotSettings/__tests__/InformationCard.test.js
  app/src/components/RobotSettings/__tests__/OpenJupyterControl.test.js
  app/src/components/RobotSettings/__tests__/PipetteOffsetItem.test.js
  app/src/components/RobotSettings/__tests__/StatusCard.test.js
  app/src/components/RobotSettings/connection.js
  app/src/components/RobotSettings/constants.js
  app/src/components/TitledControl/index.js
  app/src/components/structure/Divider.js
  app/src/components/structure/LabeledValue.js
  app/src/components/structure/index.js
  app/src/i18n.js
  app/src/index.js
  babel.config.js
  components/__utils__/index.js
  components/__utils__/mountWithProviders.js
  components/src/__tests__/__snapshots__/alerts.test.js.snap
  components/src/__tests__/__snapshots__/buttons.test.js.snap
  components/src/buttons/IconButton.js
  yarn.lock
Labels: RFC, app

#7145 docs(api): Add basic documentation for HC
  api/Makefile
  api/docs/hardware/conf.py
  api/docs/hardware/hc_api.rst
  api/docs/hardware/index.rst
  api/docs/templates/hardware/layout.html
  api/docs/templates/hardware/toc-with-nav.html
Labels: api, docs
