Repository Opentrons/opentrons, pull requests merged in 2020-07, with the labels that each got.

#5999 refactor(components): add Svg primitive to allow Icon to take style props
  app/src/components/ConnectPanel/RobotListItem.js
  app/src/components/ConnectPanel/styles.css
  components/src/__tests__/__snapshots__/alerts.test.js.snap
  components/src/__tests__/__snapshots__/buttons.test.js.snap
  components/src/__tests__/__snapshots__/forms.test.js.snap
  components/src/__tests__/__snapshots__/icons.test.js.snap
  components/src/__tests__/__snapshots__/lists.test.js.snap
  components/src/__tests__/__snapshots__/modals.test.js.snap
  components/src/__tests__/__snapshots__/nav.test.js.snap
  components/src/__tests__/__snapshots__/slotmap.test.js.snap
  components/src/__tests__/__snapshots__/structure.test.js.snap
  components/src/__tests__/icons.test.js
  components/src/deck/Module.js
  components/src/deck/SlotOverlay.js
  components/src/icons/Icon.js
  components/src/icons/Icon.md
  components/src/icons/NotificationIcon.js
  components/src/icons/NotificationIcon.md
  components/src/icons/icons.css
  components/src/nav/NavButton.js
  components/src/nav/OutsideLinkButton.js
  components/src/nav/navbar.css
  components/src/primitives/Link.js
  components/src/primitives/Svg.js
  components/src/primitives/__tests__/Svg.test.js
  components/src/primitives/__tests__/primitives.test.js
  components/src/primitives/index.js
  components/src/tabbedNav/NavTab.js
  components/src/tabbedNav/OutsideLinkTab.js
  components/src/tabbedNav/navbar.css
Labels: components, ready for review, refactor

#6024 refactor(protocol-designer): fix TipPositionField-related types
  protocol-designer/src/components/StepEditForm/fields/TipPositionField/TipPositionModal.js
  protocol-designer/src/components/StepEditForm/fields/TipPositionField/index.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#6040 feat(protocol-designer): show confirm modal before losing form's unsaved changes
  protocol-designer/src/components/StepCreationButton.js
  protocol-designer/src/components/StepEditForm/index.js
  protocol-designer/src/components/modals/ConfirmDeleteStepModal.js
  protocol-designer/src/components/steplist/TerminalItem/index.js
  protocol-designer/src/containers/ConnectedStepItem.js
  protocol-designer/src/localization/en/modal.json
  protocol-designer/src/step-forms/reducers/index.js
  protocol-designer/src/step-forms/selectors/index.js
  protocol-designer/src/step-forms/test/reducers.test.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#6048 feat(protocol-designer): add FF for air gap + delay
  protocol-designer/src/feature-flags/reducers.js
  protocol-designer/src/feature-flags/selectors.js
  protocol-designer/src/feature-flags/types.js
  protocol-designer/src/localization/en/feature_flags.json
Labels: :spider: SPDDRS, protocol designer, ready for review

#6073 refactor(robot-server): default session commands to camel case
  robot-server/robot_server/service/session/models.py
  robot-server/tests/integration/sessions/test_default.tavern.yaml
Labels: cpx, robot server

#6067 docs(api): update mix description behavior
  api/docs/v2/new_atomic_commands.rst
Labels: docs

#6083 fix(robot-server): fix typo in change pipette position
  robot-server/robot_server/service/legacy/routers/control.py
Labels: fix, robot server

#6087 fix(app): update link to support center
  app/src/components/Resources/index.js
Labels: app

#6052 refactor(robot-server): separate tip cal hardware calls from transitions, make user flow
  api/Pipfile
  api/Pipfile.lock
  robot-server/Pipfile
  robot-server/Pipfile.lock
  robot-server/robot_server/robot/calibration/check/models.py
  robot-server/robot_server/robot/calibration/check/session.py
  robot-server/robot_server/robot/calibration/check/util.py
  robot-server/robot_server/robot/calibration/tip_length/constants.py
  robot-server/robot_server/robot/calibration/tip_length/state_machine.py
  robot-server/robot_server/robot/calibration/tip_length/user_flow.py
  robot-server/robot_server/robot/calibration/tip_length/util.py
  robot-server/robot_server/service/session/models.py
  robot-server/robot_server/service/session/session_types/check_session.py
  robot-server/robot_server/service/session/session_types/tip_length_calibration.py
  robot-server/scripts/plot_session.py
  robot-server/session.pdf
  robot-server/tests/robot/calibration/check/test_check_calibration_session.py
  robot-server/tests/robot/calibration/check/test_util.py
  robot-server/tests/robot/calibration/tip_length/test_state_machine.py
  robot-server/tests/robot/calibration/tip_length/test_tip_length_calibration.py
  robot-server/tests/robot/calibration/tip_length/test_util.py
  robot-server/tests/service/session/session_types/test_check_session.py
  robot-server/tests/service/session/test_models.py
  robot-server/tests/service/session/test_router.py
Labels: ready for review, robot server

#6094 feat(protocol-designer): update tc profile button copy
  protocol-designer/src/localization/en/form.json
Labels: protocol designer, ready for review

#6076 feat(protocol-designer): add profile button tooltips
  protocol-designer/src/components/StepEditForm/fields/ProfileItemRows.js
  protocol-designer/src/localization/en/form.json
  protocol-designer/src/localization/en/tooltip.json
Labels: :spider: SPDDRS, protocol designer, ready for review

#6069 fix(protocol-designer): fix TC profile step lid label text
  protocol-designer/src/components/steplist/StepItem.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#6084 chore(js): improve jest watch performance by excluding node_modules
  jest.config.js
Labels: chore, javascript, ready for review

#6092 feat(protocol-designer): add initial step to new tc cycles
  protocol-designer/src/step-forms/reducers/index.js
  protocol-designer/src/step-forms/test/reducers.test.js
  protocol-designer/src/step-forms/utils/createInitialProfileItems.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#6082 fix(api, robot-server): remove the deprecated useV1HttpApi config setting
  api/src/opentrons/config/advanced_settings.py
  api/src/opentrons/config/feature_flags.py
  api/tests/opentrons/config/test_advanced_settings.py
  api/tests/opentrons/config/test_advanced_settings_migration.py
  robot-server/tests/integration/test_settings.tavern.yaml
Labels: api, cpx, fix, robot server

#6098 feat(robot-server): Robot server command namespaces
  app/src/sessions/__fixtures__/index.js
  app/src/sessions/calibration-check/constants.js
  app/src/sessions/epic/__tests__/createSessionCommandEpic.test.js
  robot-server/robot_server/robot/calibration/check/session.py
  robot-server/robot_server/robot/calibration/tip_length/state_machine.py
  robot-server/robot_server/robot/calibration/tip_length/user_flow.py
  robot-server/robot_server/service/session/command_execution/__init__.py
  robot-server/robot_server/service/session/command_execution/command.py
  robot-server/robot_server/service/session/command_execution/hardware_executor.py
  robot-server/robot_server/service/session/models.py
  robot-server/tests/integration/sessions/test_default.tavern.yaml
  robot-server/tests/integration/sessions/test_tip_length_calibration.tavern.yaml
  robot-server/tests/robot/calibration/tip_length/test_state_machine.py
  robot-server/tests/robot/calibration/tip_length/test_tip_length_calibration.py
  robot-server/tests/service/session/session_types/test_check_session.py
  robot-server/tests/service/session/test_models.py
  robot-server/tests/service/session/test_router.py
Labels: cpx, feature, ready for review, robot server

#6003 feat(api): support air gap command in V3+V4 executors
  api/src/opentrons/protocol_api/execute_v3.py
  api/src/opentrons/protocol_api/json_dispatchers.py
  api/tests/opentrons/protocol_api/test_execute_v3.py
Labels: :spider: SPDDRS, api, hmg, ready for review

#6090 fix(protocol-designer): new TC steps default to last TC module state
  protocol-designer/src/step-forms/reducers/index.js
  protocol-designer/src/step-forms/test/createPresavedStepForm.test.js
  protocol-designer/src/step-forms/test/reducers.test.js
  protocol-designer/src/step-forms/utils/createPresavedStepForm.js
  protocol-designer/src/steplist/formLevel/getNextDefaultModuleId/__tests__/getNextDefaultThermocyclerModuleId.test.js
  protocol-designer/src/steplist/formLevel/getNextDefaultModuleId/getNextDefaultThermocyclerModuleId.js
  protocol-designer/src/steplist/formLevel/getNextDefaultThermocyclerState/__tests__/getNextDefaultBlockIsActive.test.js
  protocol-designer/src/steplist/formLevel/getNextDefaultThermocyclerState/__tests__/getNextDefaultBlockTemperature.test.js
  protocol-designer/src/steplist/formLevel/getNextDefaultThermocyclerState/__tests__/getNextDefaultLidIsActive.test.js
  protocol-designer/src/steplist/formLevel/getNextDefaultThermocyclerState/__tests__/getNextDefaultLidOpen.test.js
  protocol-designer/src/steplist/formLevel/getNextDefaultThermocyclerState/__tests__/getNextDefaultLidTemperature.test.js
  protocol-designer/src/steplist/formLevel/getNextDefaultThermocyclerState/index.js
  protocol-designer/src/steplist/formLevel/index.js
  protocol-designer/src/ui/steps/actions/__tests__/addAndSelectStepWithHints.test.js
  protocol-designer/src/ui/steps/actions/__tests__/addStep.test.js
  protocol-designer/src/ui/steps/actions/actions.js
  protocol-designer/src/ui/steps/actions/thunks/index.js
  protocol-designer/src/ui/steps/actions/types.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#6091 fix(api): fix APIv1 GPIO ctl for cmdline and jupyter protocol execution
  api/src/opentrons/drivers/rpi_drivers/gpio.py
  api/src/opentrons/legacy_api/robot/robot.py
Labels: api, fix, ready for review

#6051 refactor(app): rebuild the app's navbar to fix tooltips and match PD
  app/src/components/Alerts/U2EDriverOutdatedAlert.js
  app/src/components/Alerts/__tests__/U2EDriverOutdatedAlert.test.js
  app/src/components/App/App.js
  app/src/components/App/__tests__/App.test.js
  app/src/components/AppSettings/AppInfoCard.js
  app/src/components/MorePanel/index.js
  app/src/components/MorePanel/styles.css
  app/src/components/Navbar/NavbarLink.js
  app/src/components/Navbar/__tests__/Navbar.test.js
  app/src/components/Navbar/__tests__/NavbarLink.test.js
  app/src/components/Navbar/index.js
  app/src/components/RobotSettings/UpdateBuildroot/VersionInfoModal.js
  app/src/components/nav-bar/NavButton.js
  app/src/components/nav-bar/index.js
  app/src/components/nav-bar/styles.css
  app/src/nav/__tests__/selectors.test.js
  app/src/nav/selectors.js
  app/src/pages/More/AppSettings.js
  app/src/pages/Robots/index.js
  app/src/pages/SidePanel.js
  components/src/__tests__/__snapshots__/nav.test.js.snap
  components/src/__tests__/nav.test.js
  components/src/nav/NavButton.js
  components/src/nav/NavButton.md
  components/src/nav/OutsideLinkButton.js
  components/src/nav/SidePanel.css
  components/src/nav/SidePanel.js
  components/src/nav/VerticalNavBar.js
  components/src/nav/index.js
  components/src/nav/navbar.css
  components/src/styles/colors.js
Labels: app, ready for review, refactor

#6101 feat(protocol-designer): warn before deleting cycle; update confirm modals
  protocol-designer/src/components/StepCreationButton.js
  protocol-designer/src/components/StepEditForm/fields/ProfileItemRows.js
  protocol-designer/src/components/StepEditForm/index.js
  protocol-designer/src/components/modals/ConfirmDeleteModal.js
  protocol-designer/src/components/modals/ConfirmDeleteStepModal.js
  protocol-designer/src/components/modals/modal.css
  protocol-designer/src/components/steplist/TerminalItem/index.js
  protocol-designer/src/containers/ConnectedStepItem.js
  protocol-designer/src/localization/en/modal.json
Labels: :spider: SPDDRS, protocol designer

#6111 refactor(protocol-designer): Add better hierarchy to the profile form
  protocol-designer/src/components/StepEditForm/StepEditForm.css
  protocol-designer/src/components/StepEditForm/forms/ThermocyclerForm/index.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#5921 feat(protocol-designer): promote thermocycler to full feature
  protocol-designer/src/components/FilePage.js
  protocol-designer/src/components/__tests__/FilePage.test.js
  protocol-designer/src/components/modals/EditPipettesModal/index.js
  protocol-designer/src/components/modals/FilePipettesModal/FilePipettesModal.css
  protocol-designer/src/components/modals/FilePipettesModal/ModuleFields.js
  protocol-designer/src/components/modals/FilePipettesModal/__tests__/ModuleFields.test.js
  protocol-designer/src/components/modals/FilePipettesModal/__tests__/index.test.js
  protocol-designer/src/components/modals/FilePipettesModal/index.js
  protocol-designer/src/components/modals/NewFileModal/index.js
  protocol-designer/src/components/modules/EditModulesCard.js
  protocol-designer/src/components/modules/__tests__/EditModulesCard.test.js
  protocol-designer/src/containers/ConnectedFilePage.js
  protocol-designer/src/feature-flags/reducers.js
  protocol-designer/src/feature-flags/selectors.js
  protocol-designer/src/feature-flags/types.js
  protocol-designer/src/localization/en/feature_flags.json
Labels: :spider: SPDDRS, protocol designer, ready for review

#6113 fix(protocol-designer): Update temperature field min sizing TC state
  protocol-designer/src/components/StepEditForm/StepEditForm.css
Labels: :spider: SPDDRS, fix, protocol designer

#5998 test(PD): Add E2E tests for Thermocycler in PD
  protocol-designer/cypress/integration/customTipRacks.spec.js
  protocol-designer/cypress/integration/newProtocolWithTC.spec.js
  protocol-designer/cypress/support/commands.js
Labels: protocol designer, ready for review

#5922 chore(protocol-designer): bump PD to v4.0.3
  protocol-designer/webpack.config.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#6105 refactor(robot-server): add deck and labware to tip length calibration
  api/src/opentrons/protocol_api/geometry.py
  api/src/opentrons/protocol_api/protocol_context.py
  api/tests/opentrons/protocol_api/test_context.py
  api/tests/opentrons/protocol_api/test_geometry.py
  robot-server/robot_server/robot/calibration/check/session.py
  robot-server/robot_server/robot/calibration/constants.py
  robot-server/robot_server/robot/calibration/session.py
  robot-server/robot_server/robot/calibration/tip_length/constants.py
  robot-server/robot_server/robot/calibration/tip_length/user_flow.py
  robot-server/robot_server/service/session/models.py
  robot-server/robot_server/service/session/session_types/tip_length_calibration.py
  robot-server/tests/robot/calibration/tip_length/test_tip_length_calibration.py
  robot-server/tests/robot/calibration/tip_length/test_user_flow.py
  robot-server/tests/service/session/test_models.py
Labels: ready for review, robot server

#6106 refactor(discovery-client): add Redux store to (eventually) manage state
  discovery-client/package.json
  discovery-client/src/__fixtures__/health.js
  discovery-client/src/store/__tests__/actions.test.js
  discovery-client/src/store/__tests__/hostsByIpReducer.test.js
  discovery-client/src/store/__tests__/robotsByNameReducer.test.js
  discovery-client/src/store/actions.js
  discovery-client/src/store/constants.js
  discovery-client/src/store/index.js
  discovery-client/src/store/reducer.js
  discovery-client/src/store/types.js
  discovery-client/src/types.js
Labels: cpx, discovery-client, ready for review, refactor

#6034 refactor(app): tip length calibration: introduction + deck setup screens
  app/src/components/CalibrateTipLength/ConfirmExitModal.js
  app/src/components/CalibrateTipLength/DeckSetup.js
  app/src/components/CalibrateTipLength/Introduction.js
  app/src/components/CalibrateTipLength/ToolSettingAlertModal.js
  app/src/components/CalibrateTipLength/calibrationLabwareRender.js
  app/src/components/CalibrateTipLength/index.js
  app/src/components/CalibrateTipLength/labwareImages.js
  app/src/components/CalibrateTipLength/styles.css
  app/src/components/CalibrateTipLength/types.js
  app/src/components/CheckCalibration/Introduction.js
  app/src/components/calibration-info.css
  app/src/img/labware/opentrons_calibration_block.png
  app/src/sessions/__fixtures__/tip-length-calibration.js
Labels: app, ready for review

#6124 fix(components): Update SlotMap prop names
  components/src/__tests__/__snapshots__/slotmap.test.js.snap
  components/src/slotmap/SlotMap.js
Labels: :spider: SPDDRS, components, fix, protocol designer, ready for review

#6127 fix(app): correctly namespace calibration check command
  app/src/sessions/__fixtures__/index.js
  app/src/sessions/calibration-check/constants.js
Labels: app

#5794 chore(api): fix lots of Sphinx warnings
  api/docs/v1/complex_commands.rst
  api/docs/v1/hardware_control.rst
  api/docs/v1/modules.rst
  api/docs/v1/pipettes.rst
  api/docs/v1/writing.rst
  api/docs/v2/new_complex_commands.rst
  api/docs/v2/new_labware.rst
  api/docs/v2/new_pipette.rst
  api/src/opentrons/execute.py
  api/src/opentrons/legacy_api/instruments/pipette.py
  api/src/opentrons/protocol_api/instrument_context.py
  api/src/opentrons/protocol_api/module_contexts.py
  api/src/opentrons/simulate.py
Labels: api, docs, ready for review

#6136 refactor(protocol-designer): Update thermocycler step description
  protocol-designer/src/localization/en/tooltip.json
Labels: :spider: SPDDRS, protocol designer, ready for review, refactor

#6142 chore(protocol-designer): bump to 4.0.4
  protocol-designer/webpack.config.js
Labels: :spider: SPDDRS, chore, protocol designer, ready for review

#6131 refactor(api): Move calibration related functions out of the protocol_api
  api/src/opentrons/api/session.py
  api/src/opentrons/calibration_storage/__init__.py
  api/src/opentrons/calibration_storage/delete.py
  api/src/opentrons/calibration_storage/encoder_decoder.py
  api/src/opentrons/calibration_storage/file_operators.py
  api/src/opentrons/calibration_storage/get.py
  api/src/opentrons/calibration_storage/helpers.py
  api/src/opentrons/calibration_storage/modify.py
  api/src/opentrons/calibration_storage/types.py
  api/src/opentrons/config/reset.py
  api/src/opentrons/legacy_api/containers/__init__.py
  api/src/opentrons/protocol_api/constants.py
  api/src/opentrons/protocol_api/dev_types.py
  api/src/opentrons/protocol_api/labware.py
  api/src/opentrons/protocols/bundle.py
  api/src/opentrons/util/entrypoint_util.py
  api/tests/opentrons/api/test_calibration.py
  api/tests/opentrons/config/test_reset.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/containers/test_containers.py
  api/tests/opentrons/protocol_api/test_geometry.py
  api/tests/opentrons/protocol_api/test_labware.py
  api/tests/opentrons/protocol_api/test_offsets.py
  robot-server/robot_server/service/labware/router.py
  robot-server/tests/conftest.py
  robot-server/tests/service/labware/test_labware_calibration_access.py
Labels: api, ready for review

#5917 feat(protocol-designer): offload timeline computation from UI thread
  protocol-designer/cypress/integration/migrations.spec.js
  protocol-designer/docs/STEP_FORMS_AND_PROTOCOL_TIMELINE.md
  protocol-designer/src/components/ComputingSpinner.js
  protocol-designer/src/components/ProtocolEditor.js
  protocol-designer/src/components/labware/SelectableLabware.js
  protocol-designer/src/configureStore.js
  protocol-designer/src/constants.js
  protocol-designer/src/containers/ConnectedStepItem.js
  protocol-designer/src/file-data/__tests__/commandsSelectors.test.js
  protocol-designer/src/file-data/actions.js
  protocol-designer/src/file-data/reducers/index.js
  protocol-designer/src/file-data/selectors/commands.js
  protocol-designer/src/step-forms/selectors/index.js
  protocol-designer/src/step-generation/utils/misc.js
  protocol-designer/src/steplist/generateSubstepItem.js
  protocol-designer/src/steplist/test/generateSubsteps.test.js
  protocol-designer/src/steplist/test/mergeSubstepsFns.test.js
  protocol-designer/src/steplist/types.js
  protocol-designer/src/timelineMiddleware/__tests__/generateRobotStateTimeline.test.js
  protocol-designer/src/timelineMiddleware/generateRobotStateTimeline.js
  protocol-designer/src/timelineMiddleware/generateSubsteps.js
  protocol-designer/src/timelineMiddleware/makeTimelineMiddleware.js
  protocol-designer/src/timelineMiddleware/makeWorker.js
  protocol-designer/src/timelineMiddleware/types.js
  protocol-designer/src/timelineMiddleware/worker.js
  protocol-designer/src/top-selectors/substep-highlight.js
  protocol-designer/src/top-selectors/substeps.js
  protocol-designer/src/top-selectors/tip-contents/index.js
  protocol-designer/src/ui/modules/selectors.js
Labels: :spider: SPDDRS, DO NOT MERGE, protocol designer, ready for review

#6166 chore(protocol-designer): bump to 4.0.5
  protocol-designer/webpack.config.js
Labels: :spider: SPDDRS, chore, protocol designer, ready for review

#6144 feat(robot-server): Session create parameters
  robot-server/robot_server/service/access/models.py
  robot-server/robot_server/service/session/manager.py
  robot-server/robot_server/service/session/models.py
  robot-server/robot_server/service/session/router.py
  robot-server/robot_server/service/session/session_types/base_session.py
  robot-server/tests/integration/sessions/test_calibration_check.tavern.yaml
  robot-server/tests/integration/sessions/test_default.tavern.yaml
  robot-server/tests/integration/sessions/test_tip_length_calibration.tavern.yaml
  robot-server/tests/integration/test_session.tavern.yaml
  robot-server/tests/service/session/test_manager.py
  robot-server/tests/service/session/test_router.py
Labels: ready for review, robot server

#6121 refactor(discovery-client): refactor poller to enable wire-up to Redux
  .eslintignore
  discovery-client/src/__tests__/health-poller.test.js
  discovery-client/src/constants.js
  discovery-client/src/health-poller.js
  discovery-client/src/service.js
  discovery-client/src/store/__tests__/hostsByIpReducer.test.js
  discovery-client/src/store/index.js
  discovery-client/src/store/reducer.js
  discovery-client/src/store/types.js
  discovery-client/src/types.js
  flow-typed/npm/lodash_v4.x.x.js
Labels: cpx, discovery-client, ready for review

#6168 chore(api,robot-server,shared-data,scripts): better win pyenv support
  .gitignore
  api/Makefile
  robot-server/Makefile
  scripts/python.mk
  shared-data/python/Makefile
Labels: chore

#6153 refactor(discovery-client): add robot and address initialization to state
  discovery-client/src/store/__tests__/actions.test.js
  discovery-client/src/store/__tests__/hostsByIpReducer.test.js
  discovery-client/src/store/__tests__/manualAddressesReducer.test.js
  discovery-client/src/store/__tests__/robotsByNameReducer.test.js
  discovery-client/src/store/__tests__/selectors.test.js
  discovery-client/src/store/actions.js
  discovery-client/src/store/index.js
  discovery-client/src/store/reducer.js
  discovery-client/src/store/selectors.js
  discovery-client/src/store/types.js
  discovery-client/src/types.js
Labels: cpx, ready for review, refactor

#6154 refactor(discovery-client): add new mDNS browser wrapper
  discovery-client/src/__tests__/mdns-browser.test.js
  discovery-client/src/index.js
  discovery-client/src/mdns-browser.js
  discovery-client/src/types.js
  flow-typed/npm/mdns-js_v1.0.x.js
Labels: cpx, discovery-client, ready for review

#6175 docs(api): explain multichannel pipettes
  api/docs/v2/new_pipette.rst
Labels: api, docs

#6185 fix(api): moves type_extension in calibration storage to dev_types for type checking only
  api/src/opentrons/calibration_storage/dev_types.py
  api/src/opentrons/calibration_storage/get.py
  api/src/opentrons/calibration_storage/modify.py
  api/src/opentrons/calibration_storage/types.py
  api/src/opentrons/legacy_api/containers/__init__.py
Labels: api, fix

#6132 refactor(robot-server, app): wire up tip length calibration session details and commands
  api/src/opentrons/protocol_api/geometry.py
  api/tests/opentrons/protocol_api/test_geometry.py
  app/src/components/CalibrateTipLength/CalibrationLabwareRender.js
  app/src/components/CalibrateTipLength/CompleteConfirmation.js
  app/src/components/CalibrateTipLength/DeckSetup.js
  app/src/components/CalibrateTipLength/InspectingTip.js
  app/src/components/CalibrateTipLength/Introduction.js
  app/src/components/CalibrateTipLength/MeasureNozzle.js
  app/src/components/CalibrateTipLength/MeasureTip.js
  app/src/components/CalibrateTipLength/TipPickUp.js
  app/src/components/CalibrateTipLength/ToolSettingAlertModal.js
  app/src/components/CalibrateTipLength/UncalibratedInfo.js
  app/src/components/CalibrateTipLength/__tests__/CalibrationTipLength.test.js
  app/src/components/CalibrateTipLength/__tests__/DeckSetup.test.js
  app/src/components/CalibrateTipLength/__tests__/Introduction.test.js
  app/src/components/CalibrateTipLength/__tests__/MeasureNozzle.test.js
  app/src/components/CalibrateTipLength/__tests__/MeasureTip.test.js
  app/src/components/CalibrateTipLength/__tests__/TipPickUp.test.js
  app/src/components/CalibrateTipLength/index.js
  app/src/components/CalibrateTipLength/labwareImages.js
  app/src/components/CalibrateTipLength/types.js
  app/src/components/CalibrateTipLength/utils.js
  app/src/pages/Calibrate/CalibrateTipLengthControl.js
  app/src/pages/Calibrate/Pipettes.js
  app/src/sessions/__fixtures__/tip-length-calibration.js
  app/src/sessions/tip-length-calibration/constants.js
  app/src/sessions/tip-length-calibration/types.js
  app/src/sessions/types.js
  robot-server/robot_server/robot/calibration/tip_length/models.py
  robot-server/robot_server/robot/calibration/tip_length/state_machine.py
  robot-server/robot_server/robot/calibration/tip_length/user_flow.py
  robot-server/robot_server/service/session/models.py
  robot-server/robot_server/service/session/session_types/tip_length_calibration.py
  robot-server/tests/integration/sessions/test_tip_length_calibration.tavern.yaml
Labels: app, ready for review, robot server

#6162 refactor(discovery-client): wire-up new discovery client to the CLI
  Makefile
  discovery-client/README.md
  discovery-client/package.json
  discovery-client/src/__tests__/discovery-client.test.js
  discovery-client/src/__tests__/health-poller.test.js
  discovery-client/src/cli.js
  discovery-client/src/constants.js
  discovery-client/src/discovery-client.js
  discovery-client/src/health-poller.js
  discovery-client/src/types.js
  flow-typed/npm/yargs_v15.x.x.js
  scripts/push.mk
  yarn.lock
Labels: cpx, discovery-client, ready for review, refactor

#6145 feat(protocol-designer): Add delay field validation
  protocol-designer/src/components/StepEditForm/fields/TipPositionField/index.js
  protocol-designer/src/components/StepEditForm/fields/TipPositionField/utils.js
  protocol-designer/src/components/StepEditForm/forms/MoveLiquidForm/SourceDestFields.js
  protocol-designer/src/form-types.js
  protocol-designer/src/localization/en/modal.json
  protocol-designer/src/persist.js
  protocol-designer/src/steplist/fieldLevel/index.js
  protocol-designer/src/steplist/formLevel/getDefaultsForStepType.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#6180 refactor(robot-server): tip length calibration: move pip to ref location and save offsets
  robot-server/robot_server/robot/calibration/tip_length/constants.py
  robot-server/robot_server/robot/calibration/tip_length/user_flow.py
  robot-server/tests/robot/calibration/tip_length/test_user_flow.py
Labels: ready for review, robot server

#6155 refactor(app): tip length calibration: jog + complete screens
  app/src/components/CalibrateTipLength/CompleteConfirmation.js
  app/src/components/CalibrateTipLength/Introduction.js
  app/src/components/CalibrateTipLength/MeasureNozzle.js
  app/src/components/CalibrateTipLength/MeasureTip.js
  app/src/components/CalibrateTipLength/TipPickUp.js
  app/src/components/CalibrateTipLength/index.js
  app/src/components/CalibrateTipLength/styles.css
  app/src/components/CalibrateTipLength/videos/Left_Multi_CalBlock_Nozzle_REV1.webm
  app/src/components/CalibrateTipLength/videos/Left_Multi_CalBlock_Tip_REV1.webm
  app/src/components/CalibrateTipLength/videos/Left_Multi_Trash_Nozzle_REV1.webm
  app/src/components/CalibrateTipLength/videos/Left_Multi_Trash_Tip_REV1.webm
  app/src/pages/Calibrate/CalibrateTipLengthControl.js
Labels: app, ready for review

#6198 refactor(api): load new tip length calibration if ff set
  api/src/opentrons/hardware_control/pipette.py
  api/src/opentrons/protocol_api/instrument_context.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/hardware_control/test_pipette.py
  api/tests/opentrons/protocol_api/test_context.py
Labels: hmg, papi v2

#6199 chore(robot-server): add comments about using Union of Pydantic models.
  robot-server/robot_server/service/session/models.py
Labels: chore, ready for review, robot server

#6197 refactor(robot-server, app): add tip length cal session creation params
  app/src/components/CalibrateTipLength/ToolSettingAlertModal.js
  app/src/pages/Calibrate/CalibrateTipLengthControl.js
  app/src/sessions/__fixtures__/index.js
  app/src/sessions/__fixtures__/tip-length-calibration.js
  app/src/sessions/__tests__/actions.test.js
  app/src/sessions/actions.js
  app/src/sessions/epic/__tests__/createSessionEpic.test.js
  app/src/sessions/epic/__tests__/ensureSessionEpic.test.js
  app/src/sessions/epic/createSessionEpic.js
  app/src/sessions/epic/ensureSessionEpic.js
  app/src/sessions/tip-length-calibration/types.js
  app/src/sessions/types.js
  robot-server/robot_server/robot/calibration/tip_length/models.py
  robot-server/robot_server/robot/calibration/tip_length/user_flow.py
  robot-server/robot_server/service/session/models.py
  robot-server/robot_server/service/session/session_types/tip_length_calibration.py
  robot-server/tests/integration/sessions/test_tip_length_calibration.tavern.yaml
Labels: app, ready for review, robot server

#6202 fix(protocol-designer): Update TC timeline text alignment
  protocol-designer/src/components/steplist/StepItem.css
  protocol-designer/src/components/steplist/StepItem.js
Labels: :spider: SPDDRS, protocol designer, ready for review, refactor

#6190 feat(protocol-designer): add new air gap fields
  protocol-designer/src/components/StepEditForm/forms/MoveLiquidForm/SourceDestFields.js
  protocol-designer/src/components/StepEditForm/forms/__tests__/SourceDestFields.test.js
  protocol-designer/src/localization/en/tooltip.json
Labels: :spider: SPDDRS, protocol designer, ready for review

#6207 docs(api): fix typos in examples
  api/docs/v2/new_examples.rst
Labels: docs, fix

#6206 fix(api): fix load tip length calibration exception handling
  api/src/opentrons/calibration_storage/get.py
  api/tests/opentrons/protocol_api/test_offsets.py
Labels: WIP, api, easyfix

#6209 fix(robot-server): Log uncaught exceptions
  robot-server/robot_server/service/app.py
  robot-server/robot_server/service/errors.py
  robot-server/robot_server/service/logging.py
  robot-server/tests/conftest.py
  robot-server/tests/service/test_app.py
  robot-server/tests/service/test_errors.py
Labels: robot server

#6203 docs(api): remove incorrect note about plunger home
  api/src/opentrons/protocol_api/instrument_context.py
Labels: api, docs, hmg

#6182 feat(robot-server): protocol manager and api
  robot-server/a.a
  robot-server/robot_server/service/app.py
  robot-server/robot_server/service/dependencies.py
  robot-server/robot_server/service/protocol/__init__.py
  robot-server/robot_server/service/protocol/errors.py
  robot-server/robot_server/service/protocol/manager.py
  robot-server/robot_server/service/protocol/models.py
  robot-server/robot_server/service/protocol/protocol.py
  robot-server/robot_server/service/protocol/router.py
  robot-server/robot_server/settings.py
  robot-server/robot_server/util.py
  robot-server/tests/integration/protocols/data.csv
  robot-server/tests/integration/protocols/phony_proto.py
  robot-server/tests/integration/protocols/test_protocol_upload.tavern.yaml
  robot-server/tests/service/protocol/__init__.py
  robot-server/tests/service/protocol/test_manager.py
Labels: cpx, ready for review, robot server

#6211 fix(api): set parent for in-slot offsets to empty
  api/src/opentrons/calibration_storage/get.py
  api/src/opentrons/calibration_storage/types.py
  robot-server/robot_server/service/labware/models.py
  robot-server/robot_server/service/labware/router.py
  robot-server/tests/service/labware/test_labware_calibration_access.py
Labels: api, robot server

#6208 fix(api, app): Clear instrument offset before performing deck calibration
  api/src/opentrons/deck_calibration/dc_main.py
  api/src/opentrons/deck_calibration/endpoints.py
  app/src/components/CalibrateDeck/AttachTip.js
  app/src/components/CalibrateDeck/InstructionsModal.js
Labels: api, app, ready for review

#6116 feat(robot-server, api): async hardware initialization after HTTP server starts.
  api/src/opentrons/__init__.py
  api/src/opentrons/api/session.py
  robot-server/Makefile
  robot-server/opentrons-robot-server.service
  robot-server/robot_server/hardware_wrapper.py
  robot-server/robot_server/main.py
  robot-server/robot_server/service/__init__.py
  robot-server/robot_server/service/app.py
  robot-server/robot_server/service/dependencies.py
  robot-server/robot_server/service/legacy/routers/__init__.py
  robot-server/robot_server/service/legacy/routers/control.py
  robot-server/tests/conftest.py
  robot-server/tests/test_main.py
Labels: api, cpx, qa, ready for review, robot server

#6216 fix(shared-data): fix well bottom shape of nest_96_wellplate_2ml_deep
  shared-data/labware/definitions/2/nest_96_wellplate_2ml_deep/1.json
Labels: labware, ready for review, shared data

#6174 test(protocol-designer): add benchmark test example
  .gitignore
  package.json
  protocol-designer/Makefile
  protocol-designer/benchmarks/README.md
  protocol-designer/benchmarks/timelineGeneration.js
  scripts/runBenchmarks.js
  yarn.lock
Labels: :spider: SPDDRS, javascript, ready for review

#6229 fix(robot-server): Use wsproto instead of websockets
  robot-server/Config.in
  robot-server/Makefile
  robot-server/Pipfile
  robot-server/Pipfile.lock
  robot-server/opentrons-robot-server.service
Labels: fix, robot server

#6233 fix(app): show conn. alert if WS closes **or** robot becomes unhealthy
  app/src/components/LostConnectionAlert/index.js
Labels: app, cpx, fix, ready for review

#6224 fix(robot-server): correct return tip height, only load block when present
  robot-server/robot_server/robot/calibration/tip_length/user_flow.py
  robot-server/tests/robot/calibration/tip_length/test_user_flow.py
Labels: hmg, ready for review, robot server

#6230 refactor(api): rename calibration overhaul feature flag
  api/src/opentrons/config/advanced_settings.py
  api/src/opentrons/config/feature_flags.py
  api/src/opentrons/config/reset.py
  api/src/opentrons/hardware_control/pipette.py
  api/src/opentrons/legacy_api/instruments/pipette.py
  api/src/opentrons/protocol_api/instrument_context.py
  robot-server/tests/integration/test_settings.tavern.yaml
Labels: api, hmg, refactor

#6215 feat(robot-server): Robot server protocol session mockup
  robot-server/a.a
  robot-server/robot_server/service/dependencies.py
  robot-server/robot_server/service/protocol/protocol.py
  robot-server/robot_server/service/session/command_execution/command.py
  robot-server/robot_server/service/session/configuration.py
  robot-server/robot_server/service/session/errors.py
  robot-server/robot_server/service/session/manager.py
  robot-server/robot_server/service/session/models.py
  robot-server/robot_server/service/session/router.py
  robot-server/robot_server/service/session/session_types/protocol_session.py
  robot-server/tests/conftest.py
  robot-server/tests/integration/sessions/test_protocol.tavern.yaml
  robot-server/tests/service/session/session_types/test_check_session.py
  robot-server/tests/service/session/test_manager.py
Labels: cpx, ready for review, robot server

#6236 refactor(robot-server): Improve error handling in TipLengthCalibration
  robot-server/robot_server/robot/calibration/tip_length/state_machine.py
  robot-server/robot_server/robot/calibration/tip_length/user_flow.py
  robot-server/robot_server/robot/calibration/tip_length/util.py
  robot-server/robot_server/service/session/session_types/tip_length_calibration.py
Labels: refactor, robot server

#6218 feat(protocol-designer): air gap default value
  protocol-designer/src/step-forms/test/createPresavedStepForm.test.js
  protocol-designer/src/steplist/formLevel/handleFormChange/dependentFieldsUpdateMoveLiquid.js
  protocol-designer/src/steplist/formLevel/handleFormChange/test/moveLiquid.test.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#6227 refactor(app): show spinners during tlc requests
  app/src/components/CalibrateTipLength/MeasureNozzle.js
  app/src/components/CalibrateTipLength/MeasureTip.js
  app/src/components/CalibrateTipLength/__tests__/MeasureNozzle.test.js
  app/src/components/CalibrateTipLength/__tests__/MeasureTip.test.js
  app/src/components/CalibrateTipLength/index.js
  app/src/components/CalibrateTipLength/types.js
Labels: app, hmg, refactor

#6223 refactor(app): persist whether tip cal user has cal block via config
  app-shell/src/config/__fixtures__/index.js
  app-shell/src/config/__tests__/migrate.test.js
  app-shell/src/config/migrate.js
  app/src/calibration/actions.js
  app/src/components/AppSettings/AdvancedSettingsCard.js
  app/src/components/AppSettings/__tests__/AdvancedSettingsCard.test.js
  app/src/components/CalibrateTipLength/AskForCalibrationBlockModal.js
  app/src/components/CalibrateTipLength/index.js
  app/src/config/__tests__/selectors.test.js
  app/src/config/constants.js
  app/src/config/schema-types.js
  app/src/config/selectors.js
  app/src/pages/Calibrate/CalibrateTipLengthControl.js
  app/src/pages/Calibrate/Pipettes.js
  components/src/controls/LabeledSelect.js
  components/src/controls/LabeledToggle.js
Labels: app, hmg, ready for review

#6242 refactor(robot-server,app): Use tiprack from protocol in tip length calibration
  app/src/components/CalibrateTipLength/DeckSetup.js
  app/src/components/CalibrateTipLength/labwareImages.js
  app/src/img/labware/eppendorf_1000ul_tip_eptips_side_view.jpg
  app/src/img/labware/eppendorf_10ul_tips_eptips_side_view.jpg
  app/src/img/labware/geb_96_tiprack_1000ul_side_view.jpg
  app/src/img/labware/geb_96_tiprack_10ul_side_view.jpg
  app/src/img/labware/tipone_96_tiprack_200ul_side_view.jpg
  app/src/pages/Calibrate/CalibrateTipLengthControl.js
  app/src/pages/Calibrate/Pipettes.js
  app/src/sessions/__fixtures__/tip-length-calibration.js
  app/src/sessions/tip-length-calibration/types.js
  robot-server/robot_server/robot/calibration/tip_length/models.py
  robot-server/robot_server/robot/calibration/tip_length/user_flow.py
  robot-server/robot_server/robot/calibration/tip_length/util.py
  robot-server/robot_server/service/session/session_types/tip_length_calibration.py
  robot-server/tests/integration/sessions/fixture_tiprack_300_ul.json
  robot-server/tests/integration/sessions/test_tip_length_calibration.tavern.yaml
  robot-server/tests/robot/calibration/tip_length/test_user_flow.py
Labels: app, refactor, robot server
