Repository Opentrons/opentrons, pull requests merged in 2020-03, with the labels that each got.

#5124 refactor(api): create a method that will initialize api.
  api/src/opentrons/main.py
  api/src/opentrons/server/__init__.py
Labels: cpx, refactor

#5114 chore(js): add jest lint rules and fix tests
  .eslintrc.js
  app-shell/src/__mocks__/log.js
  app/src/http-api-client/__tests__/calibration.test.js
  app/src/robot/api-client/__tests__/create-sessions.test.js
  app/src/robot/test/__fixtures__/calibration-manager.js
  app/src/robot/test/__fixtures__/session.js
  app/src/robot/test/api-client.test.js
  app/src/rpc/test/client.test.js
  components/src/__tests__/lists.test.js
  discovery-client/src/__tests__/client.test.js
  labware-library/src/components/website-navigation/__tests__/NavList.test.js
  package.json
  protocol-designer/src/labware-defs/__mocks__/utils.js
  protocol-designer/src/load-file/__tests__/proceduresMatchSnapshots.test.js
  protocol-designer/src/step-generation/__tests__/consolidate.test.js
  protocol-designer/src/step-generation/__tests__/dispenseUpdateLiquidState.test.js
  protocol-designer/src/step-generation/__tests__/distribute.test.js
  protocol-designer/src/step-generation/__tests__/forAspirate.test.js
  protocol-designer/src/step-generation/__tests__/forDropTip.test.js
  protocol-designer/src/step-generation/__tests__/forPickUpTip.test.js
  protocol-designer/src/step-generation/__tests__/mix.test.js
  protocol-designer/src/step-generation/__tests__/transfer.test.js
  protocol-designer/src/step-generation/__tests__/utils.test.js
  protocol-designer/src/steplist/test/substeps.test.js
  shared-data/js/__tests__/protocolSchemaV4.test.js
  yarn.lock
Labels: JS Tech Debt, ready for review

#5105 style(protocol-designer): adjust font styling on slot warning text
  protocol-designer/src/components/DeckSetup/SlotWarning.css
Labels: :spider: SPDDRS, protocol designer, ready for review

#5091 feat(protocol-designer): create modal component to show announcements
  protocol-designer/src/__tests__/persist.test.js
  protocol-designer/src/components/ProtocolEditor.js
  protocol-designer/src/components/modals/AnnouncementModal/AnnouncementModal.css
  protocol-designer/src/components/modals/AnnouncementModal/__tests__/AnnouncementModal.test.js
  protocol-designer/src/components/modals/AnnouncementModal/announcements.js
  protocol-designer/src/components/modals/AnnouncementModal/index.js
  protocol-designer/src/images/modules/magdeck_tempdeck_combined.png
  protocol-designer/src/localization/en/button.json
  protocol-designer/src/persist.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#5100 feat(protocol-designer): save v3/v4 files correctly
  protocol-designer/src/components/FileSidebar/__tests__/FileSidebar.test.js
  protocol-designer/src/components/FileSidebar/index.js
  protocol-designer/src/file-data/__fixtures__/createFile/commonFields.js
  protocol-designer/src/file-data/__fixtures__/createFile/engageMagnet.js
  protocol-designer/src/file-data/__fixtures__/createFile/noModules.js
  protocol-designer/src/file-data/__tests__/createFile.test.js
  protocol-designer/src/file-data/__tests__/getIsV4Protocol.test.js
  protocol-designer/src/file-data/selectors/fileCreator.js
  protocol-designer/src/file-types.js
  protocol-designer/src/step-forms/selectors/index.js
  shared-data/protocol/flowTypes/schemaV4.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#5104 fix(protocol-designer): fix typo in deck setup explanation modal
  protocol-designer/src/localization/en/alert.json
Labels: :spider: SPDDRS, fix, protocol designer, ready for review

#5125 chore(app, protocol-designer): update to latest redux version
  app/package.json
  protocol-designer/package.json
  yarn.lock
Labels: app, protocol designer, ready for review

#5129 build(opentrons): add styled-components to buildtools
  .stylelintrc.js
  Makefile
  babel.config.js
  components/package.json
  components/src/__tests__/__snapshots__/structure.test.js.snap
  components/src/structure/Card.js
  components/src/structure/structure.css
  components/src/styles/colors.js
  components/src/styles/font-size.js
  components/src/styles/font-weight.js
  components/src/styles/index.js
  components/src/styles/spacing.js
  components/src/styles/typography.js
  labware-library/src/components/LabwareList/styles.css
  package.json
  yarn.lock
Labels: JS Tech Debt, ready for review

#5153 fix(app): accept mixed-case extensions for protocols and custom labware
  app-shell/src/labware/__tests__/definitions.test.js
  app-shell/src/labware/definitions.js
  app/src/protocol/__tests__/reducer.test.js
  app/src/protocol/constants.js
  app/src/protocol/index.js
  app/src/protocol/protocol-data.js
  app/src/protocol/types.js
Labels: :spider: SPDDRS, app, cpx, fix, ready for review

#5127 refactor(app,protocol-designer): replace moment with date-fns
  app/package.json
  app/src/components/FileInfo/InformationCard.js
  app/src/components/ModuleLiveStatusCards/ThermocyclerCard.js
  app/src/components/RunPanel/RunTimer.js
  app/src/components/RunPanel/__tests__/RunTimer.test.js
  app/src/components/RunPanel/index.js
  app/src/robot/selectors.js
  app/src/robot/test/selectors.test.js
  flow-typed/npm/moment_v2.x.x.js
  protocol-designer/package.json
  protocol-designer/src/components/FilePage.js
  yarn.lock
Labels: JS Tech Debt, app, protocol designer, ready for review, refactor

#5149 refactor(protocol-designer): Update pause item substep messaging
  protocol-designer/src/components/steplist/ModuleStepItems.js
  protocol-designer/src/components/steplist/PauseStepItems.js
  protocol-designer/src/components/steplist/StepItem.css
  protocol-designer/src/components/steplist/StepItem.js
  protocol-designer/src/components/steplist/__tests__/StepItem.test.js
  protocol-designer/src/localization/en/modules.json
  protocol-designer/src/steplist/formLevel/stepFormToArgs/pauseFormToArgs.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/test/pauseFormToArgs.test.js
Labels: protocol designer, ready for review, refactor

#5147 fix(app): use containers and instruments to set RPC pipette tip rack list
  app/src/robot/api-client/client.js
  app/src/robot/test/api-client.test.js
Labels: :spider: SPDDRS, app, bug, fix, ready for review

#5042 docs(labware-designer): correct x/y docs param names
  labware-designer/README.md
Labels: docs, easyfix, ready for review

#5130 feat(api): robot-server sub project created
  .eslintignore
  Makefile
  robot-server/.coveragerc
  robot-server/Config.in
  robot-server/MANIFEST.in
  robot-server/Makefile
  robot-server/Pipfile
  robot-server/Pipfile.lock
  robot-server/README.rst
  robot-server/buildroot.mk
  robot-server/mypy.ini
  robot-server/opentrons-robot-server.service
  robot-server/pylama.ini
  robot-server/pytest.ini
  robot-server/robot_server/__init__.py
  robot-server/robot_server/main.py
  robot-server/robot_server/package.json
  robot-server/robot_server/service/__init__.py
  robot-server/robot_server/service/dependencies.py
  robot-server/robot_server/service/main.py
  robot-server/robot_server/service/models/__init__.py
  robot-server/robot_server/service/models/control.py
  robot-server/robot_server/service/models/deck_calibration.py
  robot-server/robot_server/service/models/health.py
  robot-server/robot_server/service/models/networking.py
  robot-server/robot_server/service/models/settings.py
  robot-server/robot_server/service/routers/__init__.py
  robot-server/robot_server/service/routers/control.py
  robot-server/robot_server/service/routers/deck_calibration.py
  robot-server/robot_server/service/routers/health.py
  robot-server/robot_server/service/routers/networking.py
  robot-server/robot_server/service/routers/settings.py
  robot-server/setup.cfg
  robot-server/setup.py
  robot-server/tests/__init__.py
  robot-server/tests/test_main.py
Labels: api, cpx, feature, ready for review

#5128 fix(api): remove unnecessary pipette movement during mix
  api/src/opentrons/hardware_control/api.py
  api/src/opentrons/hardware_control/pipette.py
  api/src/opentrons/protocol_api/instrument_context.py
  api/tests/opentrons/hardware_control/test_instruments.py
  api/tests/opentrons/protocol_api/test_context.py
Labels: api, fix, papi v2, ready for review

#5165 fix(api): compare smoothie version before hardware controller on boot
  api/src/opentrons/main.py
Labels: fix, hmg

#5161 feat(protocol-designer): add border to module tag when hovering over step
  protocol-designer/src/components/DeckSetup/ModuleTag.css
  protocol-designer/src/components/DeckSetup/ModuleTag.js
  protocol-designer/src/components/DeckSetup/__tests__/ModuleTag.test.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#5166 fix(api): make api coroutine properties sync for polls during pause
  api/src/opentrons/api/session.py
  api/src/opentrons/app/routers/health.py
  api/src/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/src/opentrons/hardware_control/api.py
  api/src/opentrons/hardware_control/execution_manager.py
  api/src/opentrons/protocol_api/execute.py
  api/src/opentrons/protocol_api/protocol_context.py
  api/src/opentrons/server/endpoints/__init__.py
  api/src/opentrons/server/endpoints/control.py
  api/src/opentrons/server/endpoints/settings.py
  api/tests/opentrons/hardware_control/test_execution_manager.py
  api/tests/opentrons/hardware_control/test_instruments.py
  api/tests/opentrons/hardware_control/test_moves.py
  api/tests/opentrons/hardware_control/test_socket_server.py
  api/tests/opentrons/server/calibration_integration_test.py
  api/tests/opentrons/server/test_settings_endpoints.py
Labels: fix, hmg

#5039 feat(api): support gen2 modules
  api/src/opentrons/api/models.py
  api/src/opentrons/app/models/control.py
  api/src/opentrons/drivers/mag_deck/driver.py
  api/src/opentrons/drivers/temp_deck/driver.py
  api/src/opentrons/hardware_control/modules/magdeck.py
  api/src/opentrons/hardware_control/modules/mod_abc.py
  api/src/opentrons/hardware_control/modules/tempdeck.py
  api/src/opentrons/hardware_control/modules/thermocycler.py
  api/src/opentrons/hardware_control/modules/types.py
  api/src/opentrons/protocol_api/definitions.py
  api/src/opentrons/protocol_api/geometry.py
  api/src/opentrons/protocol_api/module_geometry.py
  api/src/opentrons/protocol_api/protocol_context.py
  api/src/opentrons/server/endpoints/control.py
  api/src/opentrons/server/openapi.json
  api/src/opentrons/types.py
  api/tests/opentrons/api/test_session.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/drivers/module_drivers/test_temp_deck_driver.py
  api/tests/opentrons/hardware_control/modules/test_hc_magdeck.py
  api/tests/opentrons/hardware_control/modules/test_hc_tempdeck.py
  api/tests/opentrons/hardware_control/test_modules.py
  api/tests/opentrons/protocol_api/test_geometry.py
  api/tests/opentrons/protocol_api/test_labware.py
  api/tests/opentrons/protocol_api/test_module_context.py
  api/tests/opentrons/server/test_control_endpoints.py
  shared-data/module/fixtures/2/compatibleGenerationV1.json
  shared-data/module/fixtures/2/compatibleGenerationV2.json
  shared-data/module/fixtures/2/incompatibleGenerationV1.json
  shared-data/module/fixtures/2/incompatibleGenerationV2.json
Labels: api, feature, hmg, papi v1, papi v2, rpc

#5139 feat(api): robot server replaces api
  Config.in
  api/Makefile
  api/Pipfile
  api/Pipfile.lock
  api/README.rst
  api/buildroot.mk
  api/opentrons-api-server.service
  api/src/opentrons/app/__init__.py
  api/src/opentrons/app/dependencies.py
  api/src/opentrons/app/main.py
  api/src/opentrons/app/models/__init__.py
  api/src/opentrons/app/models/control.py
  api/src/opentrons/app/models/deck_calibration.py
  api/src/opentrons/app/models/health.py
  api/src/opentrons/app/models/networking.py
  api/src/opentrons/app/models/settings.py
  api/src/opentrons/app/routers/__init__.py
  api/src/opentrons/app/routers/control.py
  api/src/opentrons/app/routers/deck_calibration.py
  api/src/opentrons/app/routers/health.py
  api/src/opentrons/app/routers/networking.py
  api/src/opentrons/app/routers/settings.py
  api/src/opentrons/deck_calibration/endpoints.py
  api/src/opentrons/server/__init__.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/server/test_calibration_endpoints.py
  external.mk
Labels: api, cpx, feature, ready for review

#5181 refactor(robot-server): udpate control model
  robot-server/robot_server/service/models/control.py
Labels: cpx, ready for review, refactor, robot server

#5163 refactor(api): port aiohttp health unit test to fastapi
  robot-server/Pipfile
  robot-server/Pipfile.lock
  robot-server/tests/conftest.py
  robot-server/tests/service/__init__.py
  robot-server/tests/service/routers/__init__.py
  robot-server/tests/service/routers/test_health.py
Labels: cpx, ready for review, robot server

#5185 fix(robot-server): fix failure in fw_version reading in health endpoint.
  robot-server/robot_server/service/routers/health.py
Labels: api, cpx, robot server

#5053 feat(app): report PAPI version during protocol analytics events
  app/src/analytics/__tests__/selectors.test.js
  app/src/analytics/selectors.js
  app/src/analytics/types.js
  app/src/components/CalibrateLabware/ConfirmModalContents.js
  app/src/protocol/__tests__/selectors.test.js
  app/src/protocol/selectors.js
  app/src/robot/reducer/session.js
  app/src/robot/selectors.js
  app/src/robot/test/session-reducer.test.js
Labels: :spider: SPDDRS, app, cpx, feature, ready for review

#5159 fix(protocol-designer): Update temperature modules disengage text
  protocol-designer/src/localization/en/form.json
Labels: fix, protocol designer, ready for review

#5167 feat(robot_server): add missing endpoints to robot_server from api
  robot-server/robot_server/service/models/networking.py
  robot-server/robot_server/service/models/settings.py
  robot-server/robot_server/service/routers/control.py
  robot-server/robot_server/service/routers/networking.py
  robot-server/robot_server/service/routers/settings.py
Labels: ready for review, robot server

#5183 test(protocol-designer): fix failing cypress tests following addition of announcement modal
  protocol-designer/cypress/integration/newProtocol.spec.js
  protocol-designer/cypress/integration/settings.spec.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#5190 feat(js): update Formik to v2
  app/package.json
  app/src/components/AppSettings/AddManualIp/ManualIpForm.js
  app/src/components/ConfigurePipette/ConfigForm.js
  app/src/components/ConfigurePipette/ConfigFormGroup.js
  app/src/components/RobotSettings/SelectNetwork/ConnectForm.js
  flow-typed/npm/formik_v2.x.x.js
  flow-typed/npm/formik_vx.x.x.js
  labware-library/package.json
  labware-library/src/labware-creator/components/Dropdown.js
  labware-library/src/labware-creator/components/RadioField.js
  labware-library/src/labware-creator/components/TextField.js
  labware-library/src/labware-creator/index.js
  protocol-designer/package.json
  protocol-designer/src/components/FilePage.js
  protocol-designer/src/components/LiquidPlacementForm/LiquidPlacementForm.js
  protocol-designer/src/components/LiquidPlacementForm/index.js
  protocol-designer/src/components/LiquidsPage/LiquidEditForm.js
  yarn.lock
Labels: JS Tech Debt, app, labware creator, protocol designer

#5207 fix(robot-server): cannot import log control
  robot-server/robot_server/service/routers/settings.py
Labels: bug, cpx, robot server

#5194 fix(api): call module functions across threads
  api/src/opentrons/hardware_control/thread_manager.py
  api/src/opentrons/legacy_api/modules/tempdeck.py
  api/tests/opentrons/protocol_api/test_util.py
Labels: api, fix, hmg

#5177 feat(app, components): Support gen2 modules
  app/src/components/CalibrateLabware/ProceedToRun.js
  app/src/components/CalibratePanel/LabwareList.js
  app/src/components/CalibratePanel/LabwareListItem.js
  app/src/components/DeckMap/index.js
  app/src/components/FileInfo/ProtocolModulesCard.js
  app/src/components/ModuleControls/TemperatureControl.js
  app/src/components/ModuleControls/index.js
  app/src/components/ModuleItem/ModuleImage.js
  app/src/components/ModuleItem/ModuleInfo.js
  app/src/components/ModuleItem/index.js
  app/src/components/ModuleLiveStatusCards/MagDeckCard.js
  app/src/components/ModuleLiveStatusCards/TempDeckCard.js
  app/src/components/ModuleLiveStatusCards/ThermocyclerCard.js
  app/src/components/ModuleLiveStatusCards/index.js
  app/src/components/PrepareModules/index.js
  app/src/components/ReviewDeck/index.js
  app/src/modules/__fixtures__/index.js
  app/src/modules/__tests__/actions.test.js
  app/src/modules/__tests__/selectors.test.js
  app/src/modules/api-types.js
  app/src/modules/constants.js
  app/src/modules/epic/__tests__/fetchModulesEpic.test.js
  app/src/modules/epic/fetchModulesEpic.js
  app/src/modules/selectors.js
  app/src/modules/types.js
  app/src/robot/api-client/client.js
  app/src/robot/api-types.js
  app/src/robot/selectors.js
  app/src/robot/test/api-client.test.js
  app/src/robot/types.js
  components/src/deck/Module.js
  components/src/deck/ModuleNameOverlay.js
  protocol-designer/src/constants.js
  protocol-designer/src/step-forms/reducers/index.js
  protocol-library-kludge/README.md
  protocol-library-kludge/src/URLDeck.js
  shared-data/js/__tests__/moduleAccessors.test.js
  shared-data/js/constants.js
  shared-data/js/modules.js
  shared-data/js/types.js
  shared-data/module/definitions/2/magneticModuleV1.json
  shared-data/module/definitions/2/temperatureModuleV1.json
Labels: DO NOT MERGE, app, components, feature, ready for review

#5210 feat(api): updated images for all modules
  app/src/components/ModuleItem/ModuleImage.js
  app/src/components/ModuleItem/images/magneticModuleV1@3x.png
  app/src/components/ModuleItem/images/magneticModuleV2@3x.png
  app/src/components/ModuleItem/images/module-mag@3x.png
  app/src/components/ModuleItem/images/module-temp@3x.png
  app/src/components/ModuleItem/images/module-thermo@3x.png
  app/src/components/ModuleItem/images/temperatureModuleV1@3x.png
  app/src/components/ModuleItem/images/temperatureModuleV2@3x.png
  app/src/components/ModuleItem/images/thermocyclerModuleV1@3x.png
Labels: app, feature

#5193 feat(api): use instrument max achievable height in plan_moves
  api/src/opentrons/config/robot_configs.py
  api/src/opentrons/hardware_control/api.py
  api/src/opentrons/protocol_api/geometry.py
  api/src/opentrons/protocol_api/instrument_context.py
  api/tests/opentrons/config/test_robots_config.py
  api/tests/opentrons/protocol_api/test_geometry.py
Labels: api, feature, ready for review

#5175 feat(protocol-designer): allow custom labware on modules
  protocol-designer/src/components/DeckSetup/DeckSetup.js
  protocol-designer/src/components/DeckSetup/LabwareOverlays/SlotControls.js
  protocol-designer/src/components/DeckSetup/LabwareOverlays/__tests__/SlotControls.test.js
  protocol-designer/src/components/DeckSetup/__tests__/DeckSetup.test.js
  protocol-designer/src/utils/__tests__/labwareModuleCompatibility.test.js
  protocol-designer/src/utils/labwareModuleCompatibility.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#5184 refactor(robot-server,api): robot server port networking fast api
  api/src/opentrons/server/endpoints/networking.py
  api/src/opentrons/system/wifi.py
  api/tests/opentrons/server/test_networking_endpoints.py
  api/tests/opentrons/system/test_nmcli.py
  api/tests/opentrons/system/test_wifi.py
  robot-server/robot_server/service/exceptions.py
  robot-server/robot_server/service/main.py
  robot-server/robot_server/service/models/__init__.py
  robot-server/robot_server/service/models/networking.py
  robot-server/robot_server/service/routers/control.py
  robot-server/robot_server/service/routers/deck_calibration.py
  robot-server/robot_server/service/routers/networking.py
  robot-server/robot_server/service/routers/settings.py
  robot-server/tests/service/models/__init__.py
  robot-server/tests/service/models/test_networking.py
  robot-server/tests/service/routers/test_networking.py
Labels: api, refactor, robot server

#5205 feat(protocol-designer): Add module prefix to labware
  protocol-designer/src/ui/labware/__tests__/selectors.test.js
  protocol-designer/src/ui/labware/selectors.js
  protocol-designer/src/ui/modules/utils.js
Labels: protocol designer, ready for review

#5182 feat(protocol-designer): add modal to pause after set temp
  protocol-designer/src/components/StepCreationButton.js
  protocol-designer/src/components/StepEditForm/ButtonRow/index.js
  protocol-designer/src/components/modals/AutoAddPauseUntilTempStepModal.css
  protocol-designer/src/components/modals/AutoAddPauseUntilTempStepModal.js
  protocol-designer/src/form-types.js
  protocol-designer/src/labware-ingred/selectors.js
  protocol-designer/src/localization/en/modal.json
  protocol-designer/src/step-forms/actions/index.js
  protocol-designer/src/step-forms/reducers/index.js
  protocol-designer/src/step-forms/selectors/index.js
  protocol-designer/src/steplist/formLevel/getNextDefaultMagnetAction/index.js
  protocol-designer/src/ui/steps/actions/__tests__/addAndSelectStepWithHints.test.js
  protocol-designer/src/ui/steps/actions/__tests__/addStep.test.js
  protocol-designer/src/ui/steps/actions/__tests__/selectStep.test.js
  protocol-designer/src/ui/steps/actions/thunks.js
  protocol-designer/src/ui/steps/actions/thunks/addStep.js
  protocol-designer/src/ui/steps/actions/thunks/index.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#5233 chore: add risk assessment field to pr template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: chore

#5229 refactor(robot-server, api): implement module endpoints in fastapi
  api/src/opentrons/server/endpoints/update.py
  api/tests/opentrons/server/test_control_endpoints.py
  robot-server/robot_server/service/main.py
  robot-server/robot_server/service/models/control.py
  robot-server/robot_server/service/models/modules.py
  robot-server/robot_server/service/routers/control.py
  robot-server/robot_server/service/routers/modules.py
  robot-server/tests/conftest.py
  robot-server/tests/service/routers/test_health.py
  robot-server/tests/service/routers/test_modules.py
Labels: api, cpx, ready for review, robot server

#5237 refactor(robot-server, api): add /pipettes endpoint and tests
  robot-server/robot_server/service/main.py
  robot-server/robot_server/service/models/control.py
  robot-server/robot_server/service/models/pipettes.py
  robot-server/robot_server/service/routers/control.py
  robot-server/robot_server/service/routers/pipettes.py
  robot-server/tests/service/routers/test_pipettes.py
Labels: cpx, ready for review, refactor, robot server

#5224 feat(protocol-designer): remove warnings and display correct version for gen 2 modules
  protocol-designer/src/components/modals/FilePipettesModal/ModuleFields.js
  protocol-designer/src/components/modules/EditModulesCard.js
  protocol-designer/src/components/modules/ModuleDiagram.js
  protocol-designer/src/components/modules/ModuleRow.js
  protocol-designer/src/components/modules/__tests__/EditModulesCard.test.js
  protocol-designer/src/components/modules/__tests__/ModuleDiagram.test.js
  protocol-designer/src/components/modules/__tests__/ModuleRow.test.js
  protocol-designer/src/components/modules/__tests__/utils.test.js
  protocol-designer/src/components/modules/index.js
  protocol-designer/src/components/modules/utils.js
  protocol-designer/src/constants.js
  protocol-designer/src/images/modules/magdeck.jpg
  protocol-designer/src/images/modules/magdeck_gen1.png
  protocol-designer/src/images/modules/magdeck_gen2.png
  protocol-designer/src/images/modules/tempdeck.jpg
  protocol-designer/src/images/modules/tempdeck_gen1.png
  protocol-designer/src/images/modules/tempdeck_gen2.png
Labels: :spider: SPDDRS, protocol designer, ready for review

#5169 feat(protocol-designer): allow user to bypass typeform modal
  protocol-designer/package.json
  protocol-designer/src/components/modals/GateModal/index.js
  protocol-designer/src/networking/opentronsWebApi.js
  protocol-designer/webpack.config.js
  yarn.lock
Labels: :spider: SPDDRS, protocol designer, ready for review

#5236 build(styled-components): add styled-components to app deps
  app/package.json
  components/src/__tests__/__snapshots__/structure.test.js.snap
  components/src/buttons/Button.js
  components/src/forms/InputField.js
  components/src/forms/SelectField.js
  components/src/index.js
  components/src/structure/Card.js
  components/src/styles/font-size.js
  components/src/styles/typography.js
  flow-typed/npm/styled-components_v5.x.x.js
  jest.config.js
  scripts/setup-enzyme.js
Labels: chore, components, ready for review

#5246 fix(api): properly parse escaped nmcli responses
  api/src/opentrons/system/nmcli.py
  api/tests/opentrons/system/test_nmcli.py
Labels: api, fix

#5234 refactor(app): add client state for Wi-Fi disconnect
  app/src/config/constants.js
  app/src/config/types.js
  app/src/discovery/__tests__/selectors.test.js
  app/src/discovery/selectors.js
  app/src/networking/__fixtures__/disconnect.js
  app/src/networking/__fixtures__/eap-options.js
  app/src/networking/__fixtures__/index.js
  app/src/networking/__fixtures__/keys.js
  app/src/networking/__tests__/actions.test.js
  app/src/networking/__tests__/reducer.test.js
  app/src/networking/__tests__/selectors.test.js
  app/src/networking/actions.js
  app/src/networking/api-types.js
  app/src/networking/constants.js
  app/src/networking/epic/__tests__/disconnectEpic.test.js
  app/src/networking/epic/disconnectEpic.js
  app/src/networking/epic/index.js
  app/src/networking/reducer.js
  app/src/networking/selectors.js
  app/src/networking/types.js
  app/src/robot-api/__fixtures__/index.js
  app/src/robot-api/reducer.js
  app/src/robot-api/types.js
Labels: app, ready for review, refactor

#5208 feat(robot-server): add formatted json responses and error handling
  robot-server/robot_server/service/main.py
  robot-server/robot_server/service/models/item.py
  robot-server/robot_server/service/models/json_api/__init__.py
  robot-server/robot_server/service/models/json_api/errors.py
  robot-server/robot_server/service/models/json_api/factory.py
  robot-server/robot_server/service/models/json_api/request.py
  robot-server/robot_server/service/models/json_api/resource_links.py
  robot-server/robot_server/service/models/json_api/response.py
  robot-server/robot_server/service/routers/item.py
  robot-server/tests/service/helpers.py
  robot-server/tests/service/models/json_api/test_errors.py
  robot-server/tests/service/models/json_api/test_factory.py
  robot-server/tests/service/models/json_api/test_request.py
  robot-server/tests/service/models/json_api/test_resource_links.py
  robot-server/tests/service/models/json_api/test_response.py
  robot-server/tests/service/routers/test_item.py
Labels: cpx, ready for review, robot server

#5084 feat(labware-library): Support more pipettes in custom labware test protocol
  labware-library/src/labware-creator/__tests__/loadAndSaveIntegration.test.js
  labware-library/src/labware-creator/labwareTestProtocol.js
Labels: labware creator, ready for review

#5209 fix(app): disable module commands when protocol paused
  app/src/components/InstrumentSettings/AttachedModulesCard.js
  app/src/components/InstrumentSettings/ModulesCardContents.js
  app/src/components/ModuleControls/TemperatureControl.js
  app/src/components/ModuleControls/index.js
  app/src/components/ModuleItem/ModuleUpdate.js
  app/src/components/ModuleItem/__tests__/ModuleUpdate.test.js
  app/src/components/ModuleItem/__tests__/__snapshots__/ModuleUpdate.test.js.snap
  app/src/components/ModuleItem/index.js
  app/src/components/ModuleLiveStatusCards/TempDeckCard.js
  app/src/components/ModuleLiveStatusCards/ThermocyclerCard.js
  app/src/components/ModuleLiveStatusCards/index.js
  app/src/components/ModuleLiveStatusCards/styles.css
  app/src/modules/__tests__/selectors.test.js
  app/src/modules/i18n.js
  app/src/modules/selectors.js
  app/src/robot/selectors.js
Labels: app, fix, hmg

#5242 refactor(robot-server): add /motors endpoints and tests
  robot-server/robot_server/service/main.py
  robot-server/robot_server/service/models/control.py
  robot-server/robot_server/service/models/json_api/errors.py
  robot-server/robot_server/service/models/motors.py
  robot-server/robot_server/service/routers/control.py
  robot-server/robot_server/service/routers/motors.py
  robot-server/tests/service/routers/test_motors.py
Labels: ready for review, refactor, robot server

#5257 fix(protocol-designer): fix bug with selecting magnet > disengage step
  protocol-designer/src/ui/steps/actions/actions.js
Labels: fix, protocol designer, ready for review

#5245 refactor(api): fullstep during plunger unstick
  api/src/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/src/opentrons/drivers/types.py
  api/src/opentrons/hardware_control/api.py
  api/tests/opentrons/drivers/test_driver.py
Labels: api, hmg, refactor

#5266 refactor(api): increase gen2 multi flow rate
  shared-data/pipette/definitions/pipetteNameSpecs.json
Labels: api, refactor

#5254 feat(protocol-designer): clear out engageHeight
  protocol-designer/src/step-forms/reducers/index.js
  protocol-designer/src/step-forms/test/reducers.test.js
Labels: protocol designer, ready for review

#5259 docs(shared-data): update v4 protocol schema - engageHeight description
  shared-data/protocol/schemas/4.json
Labels: json protocol schema, ready for review

#5261 feat(shared-data): correct existing labware defs engageHeight
  protocol-designer/src/ui/modules/selectors.js
  shared-data/js/constants.js
  shared-data/js/getLabware.js
Labels: protocol designer, ready for review

#5252 refactor(robot-server, api): robot server port /robot endpoints fast api
  api/src/opentrons/hardware_control/__init__.py
  api/src/opentrons/hardware_control/threaded_async_lock.py
  api/src/opentrons/server/__init__.py
  api/tests/opentrons/server/test_control_endpoints.py
  robot-server/robot_server/service/dependencies.py
  robot-server/robot_server/service/main.py
  robot-server/robot_server/service/models/control.py
  robot-server/robot_server/service/routers/camera.py
  robot-server/robot_server/service/routers/control.py
  robot-server/tests/service/models/test_control.py
  robot-server/tests/service/routers/test_control.py
Labels: api, ready for review, refactor, robot server

#5253 fix(api): make sure we move plunger to bottom after home
  api/src/opentrons/hardware_control/api.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/server/test_control_endpoints.py
Labels: api, fix, hmg

#5187 fix(api): return tips to tipracks from the same height as drop tip
  api/docs/v2/versioning.rst
  api/src/opentrons/hardware_control/api.py
  api/src/opentrons/protocol_api/instrument_context.py
  api/tests/opentrons/hardware_control/test_instruments.py
  shared-data/pipette/definitions/pipetteModelSpecs.json
Labels: api, fix, hmg

#5262 feat(protocol-designer): use different ranges for gen1 vs gen2 engageHeight
  protocol-designer/src/constants.js
  protocol-designer/src/step-forms/selectors/index.js
  protocol-designer/src/steplist/fieldLevel/index.js
  protocol-designer/src/steplist/formLevel/errors.js
  protocol-designer/src/steplist/formLevel/index.js
  protocol-designer/src/steplist/formLevel/warnings.js
Labels: protocol designer, ready for review

#5277 fix(api): fix server crash due to unresponsive motor controller at boot
  api/src/opentrons/main.py
Labels: api, bug, cpx, fix, ready for review

#5269 fix(api): reset location cache before tip probe
  api/src/opentrons/api/calibration.py
Labels: api, fix, hmg

#5268 feat(protocol-designer): allow setting initial settings w env vars
  protocol-designer/src/feature-flags/reducers.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#5197 feat(api): Add API calibration check session
  api/Pipfile
  api/Pipfile.lock
  api/src/opentrons/server/__init__.py
  api/src/opentrons/server/endpoints/calibration/__init__.py
  api/src/opentrons/server/endpoints/calibration/check.py
  api/src/opentrons/server/endpoints/calibration/models.py
  api/src/opentrons/server/endpoints/calibration/session.py
  api/src/opentrons/server/endpoints/calibration/util.py
  api/src/opentrons/server/http.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/server/test_calibration_session.py
  robot-server/robot_server/main.py
  robot-server/robot_server/service/__init__.py
Labels: api, ready for review

#5282 refactor(build): add robot-server to top level push target
  Makefile
  api/Makefile
Labels: chore

#5281 fix(robot-server): fix typing_extensions bug
  robot-server/robot_server/service/models/json_api/__init__.py
  robot-server/robot_server/service/models/json_api/factory.py
  robot-server/robot_server/service/models/json_api/request.py
  robot-server/robot_server/service/models/json_api/response.py
  robot-server/robot_server/service/routers/item.py
  robot-server/tests/service/helpers.py
  robot-server/tests/service/models/json_api/test_errors.py
  robot-server/tests/service/models/json_api/test_factory.py
  robot-server/tests/service/models/json_api/test_request.py
  robot-server/tests/service/models/json_api/test_response.py
Labels: cpx, fix, ready for review, robot server

#5265 feat(protocol-designer): allow selection of gen 2 modules and use formik
  flow-typed/npm/formik_v2.x.x.js
  protocol-designer/src/components/DeckSetup/DeckSetup.js
  protocol-designer/src/components/modals/FilePipettesModal/FilePipettesModal.css
  protocol-designer/src/components/modals/FilePipettesModal/ModuleFields.js
  protocol-designer/src/components/modals/FilePipettesModal/PipetteFields.js
  protocol-designer/src/components/modals/FilePipettesModal/__tests__/ModuleFields.test.js
  protocol-designer/src/components/modals/FilePipettesModal/__tests__/PipetteFields.test.js
  protocol-designer/src/components/modals/FilePipettesModal/__tests__/index.test.js
  protocol-designer/src/components/modals/FilePipettesModal/index.js
  protocol-designer/src/constants.js
  protocol-designer/src/step-forms/types.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#5278 refactor(api,robot-server): Robot server port camera fast api
  api/src/opentrons/server/endpoints/control.py
  api/src/opentrons/system/camera.py
  robot-server/robot_server/service/routers/camera.py
  robot-server/tests/service/routers/test_camera.py
Labels: api, cpx, ready for review, robot server

#5267 chore(protocol-designer): update crash warning images
  protocol-designer/src/images/modules/crash_warning_mag.png
  protocol-designer/src/images/modules/crash_warning_mag_temp.png
  protocol-designer/src/images/modules/crash_warning_temp.png
Labels: :spider: SPDDRS, protocol designer, ready for review

#5292 fix(api): exec protocol contents in module mode
  api/src/opentrons/protocol_api/execute.py
  api/src/opentrons/protocol_api/protocol_context.py
Labels: api

#5291 refactor(api): Add in a GET request for calibration check session
  api/src/opentrons/server/endpoints/calibration/check.py
  api/src/opentrons/server/endpoints/calibration/models.py
  api/src/opentrons/server/endpoints/calibration/session.py
  api/src/opentrons/server/http.py
  api/tests/opentrons/server/test_calibration_session.py
Labels: api, ready for review

#5244 refactor(api): limit gen2 mag module max engage height
  api/src/opentrons/drivers/mag_deck/__init__.py
  api/src/opentrons/drivers/mag_deck/driver.py
  api/src/opentrons/drivers/temp_deck/__init__.py
  api/src/opentrons/drivers/temp_deck/driver.py
  api/src/opentrons/drivers/thermocycler/__init__.py
  api/src/opentrons/drivers/thermocycler/driver.py
  api/src/opentrons/hardware_control/modules/magdeck.py
  api/src/opentrons/hardware_control/modules/mod_abc.py
  api/src/opentrons/hardware_control/modules/tempdeck.py
  api/src/opentrons/hardware_control/modules/thermocycler.py
  api/src/opentrons/hardware_control/modules/utils.py
  api/src/opentrons/hardware_control/simulator.py
  api/src/opentrons/protocol_api/protocol_context.py
  api/tests/opentrons/data/testosaur-gen2-v2.py
  api/tests/opentrons/hardware_control/modules/test_hc_magdeck.py
  api/tests/opentrons/hardware_control/modules/test_hc_tempdeck.py
  api/tests/opentrons/hardware_control/test_modules.py
  api/tests/opentrons/protocol_api/test_module_context.py
Labels: api, hmg, refactor

#5271 refactor(api): use different engage heights for GEN1 and GEN2 modules
  api/src/opentrons/protocol_api/module_contexts.py
Labels: api, hmg, refactor

#5280 refactor(app): Rewrite Wi-Fi connection flows to use new HAPI state
  app/src/components/RobotSettings/ConnectionCard.js
  app/src/components/RobotSettings/SelectNetwork/ConnectForm.js
  app/src/components/RobotSettings/SelectNetwork/ConnectModal.js
  app/src/components/RobotSettings/SelectNetwork/ConnectModal/FormModal.js
  app/src/components/RobotSettings/SelectNetwork/ConnectModal/FormRow.js
  app/src/components/RobotSettings/SelectNetwork/ConnectModal/KeyFileField.js
  app/src/components/RobotSettings/SelectNetwork/ConnectModal/SecurityField.js
  app/src/components/RobotSettings/SelectNetwork/ConnectModal/TextField.js
  app/src/components/RobotSettings/SelectNetwork/ConnectModal/UploadKeyInput.js
  app/src/components/RobotSettings/SelectNetwork/ConnectModal/__tests__/ConnectModal.test.js
  app/src/components/RobotSettings/SelectNetwork/ConnectModal/__tests__/FormModal.test.js
  app/src/components/RobotSettings/SelectNetwork/ConnectModal/__tests__/KeyFileField.test.js
  app/src/components/RobotSettings/SelectNetwork/ConnectModal/__tests__/SecurityField.test.js
  app/src/components/RobotSettings/SelectNetwork/ConnectModal/__tests__/TextField.test.js
  app/src/components/RobotSettings/SelectNetwork/ConnectModal/__tests__/UploadKeyInput.test.js
  app/src/components/RobotSettings/SelectNetwork/ConnectModal/__tests__/form-fields.test.js
  app/src/components/RobotSettings/SelectNetwork/ConnectModal/__tests__/form-state.test.js
  app/src/components/RobotSettings/SelectNetwork/ConnectModal/form-fields.js
  app/src/components/RobotSettings/SelectNetwork/ConnectModal/form-state.js
  app/src/components/RobotSettings/SelectNetwork/ConnectModal/index.js
  app/src/components/RobotSettings/SelectNetwork/DisconnectModal.js
  app/src/components/RobotSettings/SelectNetwork/FormTable.js
  app/src/components/RobotSettings/SelectNetwork/ResultModal.js
  app/src/components/RobotSettings/SelectNetwork/SelectKey.js
  app/src/components/RobotSettings/SelectNetwork/SelectSsid.js
  app/src/components/RobotSettings/SelectNetwork/SelectSsid/NetworkOptionLabel.js
  app/src/components/RobotSettings/SelectNetwork/SelectSsid/__tests__/NetworkOptionLabel.test.js
  app/src/components/RobotSettings/SelectNetwork/SelectSsid/__tests__/SelectSsid.test.js
  app/src/components/RobotSettings/SelectNetwork/SelectSsid/index.js
  app/src/components/RobotSettings/SelectNetwork/WifiConnectModal.js
  app/src/components/RobotSettings/SelectNetwork/__tests__/DisconnectModal.test.js
  app/src/components/RobotSettings/SelectNetwork/__tests__/ResultModal.test.js
  app/src/components/RobotSettings/SelectNetwork/__tests__/SelectNetwork.test.js
  app/src/components/RobotSettings/SelectNetwork/constants.js
  app/src/components/RobotSettings/SelectNetwork/fields.js
  app/src/components/RobotSettings/SelectNetwork/i18n.js
  app/src/components/RobotSettings/SelectNetwork/index.js
  app/src/components/RobotSettings/SelectNetwork/styles.css
  app/src/components/RobotSettings/SelectNetwork/types.js
  app/src/components/RobotSettings/__tests__/ConnectionCard.test.js
  app/src/components/modals/ErrorModal.js
  app/src/components/portal/__mocks__/index.js
  app/src/components/portal/index.js
  app/src/http-api-client/__tests__/networking.test.js
  app/src/http-api-client/__tests__/reducer.test.js
  app/src/http-api-client/calibration.js
  app/src/http-api-client/index.js
  app/src/http-api-client/networking.js
  app/src/http-api-client/reducer.js
  app/src/networking/__tests__/selectors.test.js
  app/src/networking/selectors.js
  app/src/pages/Robots/RobotSettings.js
  components/src/forms/Select.js
  flow-typed/npm/formik_v2.x.x.js
  scripts/setup-global-mocks.js
Labels: app, cpx, ready for review, refactor

#5296 feat(app): add Wi-Fi disconnect to app
  app/src/config/constants.js
  app/src/config/types.js
  app/src/networking/__tests__/selectors.test.js
  app/src/networking/selectors.js
Labels: app, cpx, ready for review

#5299 refactor(api): Add success message to delete endpoint
  api/src/opentrons/server/endpoints/calibration/check.py
Labels: api, ready for review

#5300 chore(release): 3.17.0-alpha.0
  CHANGELOG.md
  api/release-notes.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/build/release-notes.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: release 🚢

#5294 feat(protocol-designer): preserve engage heights if already default
  protocol-designer/src/step-forms/reducers/index.js
  protocol-designer/src/step-forms/selectors/index.js
  protocol-designer/src/step-forms/test/reducers.test.js
Labels: protocol designer, ready for review

#5273 feat(protocol-designer): use model-specific engageHeight diagram
  protocol-designer/src/components/StepEditForm/StepEditForm.css
  protocol-designer/src/components/StepEditForm/forms/MagnetForm.js
  protocol-designer/src/components/StepEditForm/forms/__tests__/MagnetForm.test.js
  protocol-designer/src/components/StepEditForm/index.js
  protocol-designer/src/images/modules/engage_height_animation.gif
  protocol-designer/src/images/modules/engage_height_animation_gen1.gif
  protocol-designer/src/images/modules/engage_height_animation_gen2.gif
  protocol-designer/src/images/modules/engage_height_static.png
  protocol-designer/src/images/modules/engage_height_static_gen1.png
  protocol-designer/src/images/modules/engage_height_static_gen2.png
  protocol-designer/src/step-forms/selectors/index.js
Labels: protocol designer, ready for review

#5258 refactor(robot-server): port log endpoints and add tests
  api/src/opentrons/system/log_control.py
  robot-server/robot_server/service/main.py
  robot-server/robot_server/service/models/logs.py
  robot-server/robot_server/service/models/settings.py
  robot-server/robot_server/service/routers/logs.py
  robot-server/robot_server/service/routers/settings.py
  robot-server/tests/service/routers/test_logs.py
  robot-server/tests/service/routers/test_settings.py
Labels: cpx, ready for review, robot server

#5295 fix(protocol-designer): Hide CrashInfoBox when module restrictions disabled
  protocol-designer/src/components/modals/EditPipettesModal/index.js
  protocol-designer/src/components/modals/FilePipettesModal/__tests__/index.test.js
  protocol-designer/src/components/modals/FilePipettesModal/index.js
  protocol-designer/src/components/modals/NewFileModal/index.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#5301 refactor(api): tools: handle args better and inject driver and hw
  api/src/opentrons/tools/__init__.py
  api/src/opentrons/tools/args_handler.py
  api/src/opentrons/tools/factory_test.py
  api/src/opentrons/tools/gantry_test.py
  api/src/opentrons/tools/overnight_test.py
  api/src/opentrons/tools/write_pipette_memory.py
  api/src/opentrons/tools/z_stage_test.py
  api/tests/opentrons/tools/test_qc_scripts.py
Labels: api, refactor

#5284 feat(protocol-designer): allow user to select module model when adding or editing modules
  protocol-designer/src/components/modals/EditModulesModal/__tests__/EditModulesModal.test.js
  protocol-designer/src/components/modals/EditModulesModal/index.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#5308 fix(protocol-designer): rename 'module' variables to something else
  protocol-designer/src/components/DeckSetup/DeckSetup.js
  protocol-designer/src/components/FileSidebar/FileSidebar.js
  protocol-designer/src/components/LabwareSelectionModal/index.js
  protocol-designer/src/components/modals/EditModulesModal/index.js
  protocol-designer/src/components/modals/FilePipettesModal/index.js
  protocol-designer/src/components/modals/NewFileModal/index.js
  protocol-designer/src/components/modules/EditModulesCard.js
  protocol-designer/src/components/modules/ModuleRow.js
  protocol-designer/src/components/modules/__tests__/EditModulesCard.test.js
  protocol-designer/src/components/modules/__tests__/ModuleRow.test.js
  protocol-designer/src/file-data/selectors/fileCreator.js
  protocol-designer/src/step-forms/selectors/index.js
  protocol-designer/src/step-forms/utils.js
  protocol-designer/src/steplist/formLevel/errors.js
  protocol-designer/src/ui/labware/selectors.js
  protocol-designer/src/ui/modules/selectors.js
  protocol-designer/src/ui/modules/utils.js
Labels: protocol designer, ready for review, refactor

#5306 fix(protocol-designer): fix module substep text styling
  protocol-designer/src/components/DeckSetup/__tests__/ModuleTag.test.js
  protocol-designer/src/components/steplist/StepItem.css
  protocol-designer/src/localization/en/modules.json
Labels: protocol designer, ready for review

#5298 feat(api): Add labware required to session status
  api/src/opentrons/server/endpoints/calibration/check.py
  api/src/opentrons/server/endpoints/calibration/models.py
  api/src/opentrons/server/endpoints/calibration/session.py
  api/src/opentrons/server/endpoints/calibration/util.py
  api/tests/opentrons/server/test_calibration_session.py
Labels: api, ready for review

#5317 fix(api): fix update module firmware
  api/src/opentrons/hardware_control/modules/update.py
Labels: api, fix

#5320 fix(app): alignment in thermocycler card cycle info
  app/src/components/ModuleLiveStatusCards/ThermocyclerCard.js
  app/src/components/ModuleLiveStatusCards/styles.css
  app/src/robot/selectors.js
Labels: app, fix

#5319 fix(app): fix tiprack in tip probe instructions when tipracks are shared
  app/src/robot/api-client/client.js
  app/src/robot/selectors.js
  app/src/robot/test/api-client.test.js
  app/src/robot/test/selectors.test.js
Labels: app, fix, hmg, ready for review, rpc

#5323 chore(bump): 3.17.0-alpha.1
  CHANGELOG.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore, release 🚢

#5316 fix(robot-server): unavailable is a valid network connection state
  robot-server/robot_server/service/models/networking.py
  robot-server/robot_server/service/routers/networking.py
Labels: cpx, fix, ready for review, robot server

#5270 refactor(robot-server): Robot server port rpc fast api
  robot-server/robot_server/service/dependencies.py
  robot-server/robot_server/service/main.py
  robot-server/robot_server/service/routers/networking.py
  robot-server/robot_server/service/routers/rpc.py
  robot-server/robot_server/service/rpc/__init__.py
  robot-server/robot_server/service/rpc/rpc.py
  robot-server/robot_server/service/rpc/serialize.py
  robot-server/tests/service/rpc/__init__.py
  robot-server/tests/service/rpc/test_serialize.py
  robot-server/tests/service/rpc/test_server.py
  robot-server/tests/service/test_dependencies.py
Labels: cpx, ready for review, refactor, robot server

#5330 fix(api): fix magdeck engage kwargs logic and offset_to_labware_bottom val for Gen1
  api/src/opentrons/hardware_control/modules/magdeck.py
  api/src/opentrons/protocol_api/module_contexts.py
  api/tests/opentrons/protocol_api/test_module_context.py
Labels: api, fix

#5272 refactor(api): mypy: typecheck untyped defs
  api/mypy.ini
  api/src/opentrons/api/calibration.py
  api/src/opentrons/api/models.py
  api/src/opentrons/api/session.py
  api/src/opentrons/broker.py
  api/src/opentrons/drivers/mag_deck/driver.py
  api/src/opentrons/drivers/smoothie_drivers/__init__.py
  api/src/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/src/opentrons/drivers/temp_deck/driver.py
  api/src/opentrons/drivers/thermocycler/driver.py
  api/src/opentrons/drivers/utils.py
  api/src/opentrons/hardware_control/api.py
  api/src/opentrons/hardware_control/modules/tempdeck.py
  api/src/opentrons/hardware_control/socket_server.py
  api/src/opentrons/hardware_control/types.py
  api/src/opentrons/main.py
  api/src/opentrons/protocol_api/dev_types.py
  api/src/opentrons/protocol_api/labware.py
  api/src/opentrons/protocol_api/module_contexts.py
  api/src/opentrons/protocol_api/protocol_context.py
  api/src/opentrons/protocol_api/transfers.py
  api/src/opentrons/protocol_api/util.py
  api/src/opentrons/server/__init__.py
  api/src/opentrons/server/endpoints/calibration/check.py
  api/src/opentrons/server/endpoints/calibration/session.py
  api/src/opentrons/server/endpoints/control.py
  api/src/opentrons/simulate.py
  api/src/opentrons/system/smoothie_update.py
  api/src/opentrons/util/vector.py
Labels: Robot Tech Debt, api, refactor

#5313 fix(protocol-designer): Only show slot access warnings for Gen1 modules
  protocol-designer/src/components/DeckSetup/DeckSetup.js
Labels: fix, protocol designer

#5337 fix(api): move splitting: strip step postfix
  api/src/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/tests/opentrons/drivers/test_driver.py
Labels: api, fix

#5338 fix(api): fix missing arg in v1 move splitting during cache instr models
  api/src/opentrons/legacy_api/robot/robot.py
Labels: api, fix

#5304 feat(protocol-designer): Enable magnetic and temperature module support
  protocol-designer/src/components/FilePage.js
  protocol-designer/src/components/StepCreationButton.js
  protocol-designer/src/components/StepEditForm/forms/PauseForm.js
  protocol-designer/src/components/modals/EditPipettesModal/index.js
  protocol-designer/src/components/modals/FilePipettesModal/__tests__/index.test.js
  protocol-designer/src/components/modals/FilePipettesModal/index.js
  protocol-designer/src/components/modals/NewFileModal/index.js
  protocol-designer/src/containers/ConnectedFilePage.js
  protocol-designer/src/feature-flags/reducers.js
  protocol-designer/src/feature-flags/selectors.js
  protocol-designer/src/feature-flags/types.js
  protocol-designer/src/load-file/actions.js
Labels: :spider: SPDDRS, feature, protocol designer, ready for review

#5342 chore(release): 3.17.0-alpha.2
  CHANGELOG.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/build/release-notes.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore, release 🚢
