Repository Opentrons/opentrons, pull requests merged in 2020-08, with the labels that each got.

#6246 fix(app): don't doublecount labware on modules
  app/src/calibration/labware/__tests__/selectors.test.js
  app/src/calibration/labware/selectors.js
Labels: app, fix

#6244 feat(protocol-designer): add moveToWell command creator
  protocol-designer/src/file-data/selectors/fileCreator.js
  protocol-designer/src/file-data/types.js
  protocol-designer/src/file-types.js
  protocol-designer/src/step-generation/__tests__/moveToWell.test.js
  protocol-designer/src/step-generation/commandCreators/atomic/moveToWell.js
  protocol-designer/src/step-generation/getNextRobotStateAndWarnings/index.js
  protocol-designer/src/step-generation/types.js
  protocol-designer/src/step-generation/utils/reduceCommandCreators.js
  protocol-designer/src/steplist/substepTimeline.js
  protocol-designer/src/top-selectors/substep-highlight.js
  protocol-designer/src/top-selectors/tip-contents/index.js
  shared-data/protocol/flowTypes/schemaV5.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#6193 fix(app): simplify discovery state to avoid stale IPs and health data
  app-shell/src/__mocks__/log.js
  app-shell/src/__tests__/discovery.test.js
  app-shell/src/discovery.js
  app/package.json
  app/src/buildroot/epic.js
  app/src/components/ConnectPanel/RobotItem.js
  app/src/components/FileInfo/__tests__/FileInfo.test.js
  app/src/components/LostConnectionAlert/index.js
  app/src/components/RobotSettings/InformationCard.js
  app/src/components/RobotSettings/ReachableRobotBanner.js
  app/src/discovery/__fixtures__/index.js
  app/src/discovery/__tests__/reducer.test.js
  app/src/discovery/__tests__/selectors.test.js
  app/src/discovery/constants.js
  app/src/discovery/index.js
  app/src/discovery/reducer.js
  app/src/discovery/selectors.js
  app/src/discovery/types.js
  app/src/robot-admin/__tests__/reducer.test.js
  app/src/robot-admin/reducer.js
  app/src/robot-api/types.js
  app/src/robot/test/api-client.test.js
  discovery-client/src/__fixtures__/index.js
  discovery-client/src/__fixtures__/mdns-browser-service.js
  discovery-client/src/__fixtures__/service.js
  discovery-client/src/__tests__/client.test.js
  discovery-client/src/__tests__/discovery-client.test.js
  discovery-client/src/__tests__/health-poller.test.js
  discovery-client/src/__tests__/mdns-browser.test.js
  discovery-client/src/__tests__/poller.test.js
  discovery-client/src/__tests__/service-list.test.js
  discovery-client/src/__tests__/service.test.js
  discovery-client/src/cli.js
  discovery-client/src/constants.js
  discovery-client/src/discovery-client.js
  discovery-client/src/index.js
  discovery-client/src/mdns-browser.js
  discovery-client/src/poller.js
  discovery-client/src/service-list.js
  discovery-client/src/service.js
  discovery-client/src/store/__tests__/robotsByNameReducer.test.js
  discovery-client/src/store/__tests__/selectors.test.js
  discovery-client/src/store/reducer.js
  discovery-client/src/store/selectors.js
  discovery-client/src/types.js
  yarn.lock
Labels: app, discovery-client, fix, qa, ready for review

#6280 refactor(app): ensure proper API cal data is associated to protocol labware
  app/src/calibration/labware/__tests__/selectors.test.js
  app/src/calibration/labware/selectors.js
Labels: app, hmg, ready for review

#6286 fix(api): don't stomp other loggers in log config
  api/src/opentrons/util/logging_config.py
Labels: api, fix

#6245 docs: describe OT2 architecture
  OT2_ARCHITECTURE.md
Labels: docs

#6279 refactor(shared-data): allow api level dependent flow rates
  api/src/opentrons/config/pipette_config.py
  robot-server/tests/integration/test_settings_pipettes.tavern.yaml
  shared-data/js/__tests__/__snapshots__/pipettes.test.js.snap
  shared-data/pipette/definitions/pipetteModelSpecs.json
  shared-data/pipette/definitions/pipetteNameSpecs.json
  shared-data/pipette/schemas/pipetteNameSpecsSchema.json
  shared-data/python/opentrons_shared_data/pipette/dev_types.py
Labels: refactor, shared data

#6288 refactor(app): Remove info icon from the file info page for calibration data
  app/src/components/FileInfo/ProtocolLabwareList.js
  app/src/components/FileInfo/__tests__/ProtocolLabwareList.test.js
Labels: app, ready for review

#6283 feat(api): Use 10mm/s-equivalent flow rates for GEN2 singles in API Version 2.6
  api/Pipfile
  api/Pipfile.lock
  api/docs/v2/new_atomic_commands.rst
  api/docs/v2/new_pipette.rst
  api/docs/v2/versioning.rst
  api/src/opentrons/config/pipette_config.py
  api/src/opentrons/hardware_control/api.py
  api/src/opentrons/hardware_control/dev_types.py
  api/src/opentrons/hardware_control/pipette.py
  api/src/opentrons/protocol_api/definitions.py
  api/src/opentrons/protocol_api/instrument_context.py
  api/src/opentrons/protocol_api/util.py
  api/src/opentrons/protocols/types.py
  api/tests/opentrons/hardware_control/test_instruments.py
  api/tests/opentrons/hardware_control/test_pipette.py
  api/tests/opentrons/protocol_api/test_util.py
  robot-server/tests/integration/test_health_check.tavern.yaml
Labels: api, feature

#6284 fix(app): fix data reads from JSON Protocols later than v3
  app/src/protocol/__tests__/selectors.test.js
  app/src/protocol/selectors.js
  app/src/protocol/types.js
  shared-data/protocol/fixtures/3/simple.json
  shared-data/protocol/fixtures/3/unusedPipette.json
  shared-data/protocol/fixtures/4/simpleV4.json
  shared-data/protocol/fixtures/5/simpleV5.json
  shared-data/protocol/index.js
Labels: :spider: SPDDRS, app, fix

#6267 refactor(app): expose labware calibration data in calibration tab
  app/src/calibration/labware/__tests__/selectors.test.js
  app/src/calibration/labware/selectors.js
  app/src/calibration/labware/types.js
  app/src/calibration/labware/utils.js
  app/src/components/CalibrateLabware/CalibrationValues.js
  app/src/components/CalibratePanel/CalibrationData.js
  app/src/components/CalibratePanel/LabwareGroup.js
  app/src/components/CalibratePanel/LabwareList.js
  app/src/components/CalibratePanel/LabwareListItem.js
  app/src/components/CalibratePanel/TipRackList.js
  app/src/components/CalibratePanel/__tests__/CalibrationData.test.js
  app/src/components/CalibratePanel/__tests__/LabwareGroup.test.js
  app/src/components/CalibratePanel/index.js
  app/src/components/CalibratePanel/styles.css
  app/src/components/CheckCalibration/__tests__/BadCalibration.test.js
  app/src/components/FileInfo/ProtocolLabwareCard.js
  app/src/components/FileInfo/__tests__/ProtocolLabwareCard.test.js
Labels: app, hmg

#6295 fix(api): get_parent_identifier should get parent identifier
  api/src/opentrons/protocol_api/labware.py
  api/tests/opentrons/protocol_api/test_labware.py
Labels: api, fix

#6290 feat(protocol-designer): support delay after aspirate in transfer/consolidate/distribute command creators
  protocol-designer/src/step-generation/__fixtures__/commandFixtures.js
  protocol-designer/src/step-generation/__tests__/consolidate.test.js
  protocol-designer/src/step-generation/__tests__/distribute.test.js
  protocol-designer/src/step-generation/__tests__/transfer.test.js
  protocol-designer/src/step-generation/commandCreators/atomic/delay.js
  protocol-designer/src/step-generation/commandCreators/atomic/index.js
  protocol-designer/src/step-generation/commandCreators/compound/consolidate.js
  protocol-designer/src/step-generation/commandCreators/compound/distribute.js
  protocol-designer/src/step-generation/commandCreators/compound/transfer.js
  protocol-designer/src/step-generation/types.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/moveLiquidFormToArgs.js
  protocol-designer/src/timelineMiddleware/__tests__/generateRobotStateTimeline.test.js
  shared-data/protocol/schemas/5.json
Labels: :spider: SPDDRS, protocol designer, ready for review

#6293 docs(monorepo): Remove all references to old PD help center
  README.md
  api/docs/ot1/api.html
  api/docs/ot1/calibration.html
  api/docs/ot1/containers.html
  api/docs/ot1/examples.html
  api/docs/ot1/firmware.html
  api/docs/ot1/genindex.html
  api/docs/ot1/index.html
  api/docs/ot1/modules.html
  api/docs/ot1/pipettes.html
  api/docs/ot1/py-modindex.html
  api/docs/ot1/robot.html
  api/docs/ot1/search.html
  api/docs/ot1/transfer.html
  api/docs/ot1/writing.html
  api/docs/templates/v1/layout.html
  api/docs/templates/v2/layout.html
  labware-library/src/components/website-navigation/nav-data.js
  protocol-designer/cypress/integration/newProtocol.spec.js
  protocol-designer/cypress/integration/sidebar.spec.js
  protocol-designer/src/components/KnowledgeBaseLink/index.js
Labels: :spider: SPDDRS, chore, docs, protocol designer, ready for review

#6299 fix(api): avoid hitting endstop during retract fast home
  api/src/opentrons/hardware_control/api.py
Labels: api

#6294 feat(protocol-designer): add commands for delay after dispense
  protocol-designer/src/step-generation/__fixtures__/commandFixtures.js
  protocol-designer/src/step-generation/__tests__/consolidate.test.js
  protocol-designer/src/step-generation/__tests__/distribute.test.js
  protocol-designer/src/step-generation/__tests__/transfer.test.js
  protocol-designer/src/step-generation/commandCreators/compound/consolidate.js
  protocol-designer/src/step-generation/commandCreators/compound/distribute.js
  protocol-designer/src/step-generation/commandCreators/compound/transfer.js
  protocol-designer/src/step-generation/types.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/moveLiquidFormToArgs.js
  protocol-designer/src/timelineMiddleware/__tests__/generateRobotStateTimeline.test.js
Labels: protocol designer, ready for review

#6297 fix(api): Ensure old calibration index entries are migrated over before displaying data
  api/src/opentrons/calibration_storage/delete.py
  api/src/opentrons/calibration_storage/get.py
  api/src/opentrons/calibration_storage/migration.py
  api/src/opentrons/calibration_storage/modify.py
  api/src/opentrons/legacy_api/containers/__init__.py
  api/tests/opentrons/calibration_storage/test_migration.py
  api/tests/opentrons/protocol_api/test_labware.py
  robot-server/tests/service/labware/test_labware_calibration_access.py
Labels: api, ready for review

#6282 refactor(robot-server): create deck calibration user flow
  robot-server/robot_server/robot/calibration/constants.py
  robot-server/robot_server/robot/calibration/deck/__init__.py
  robot-server/robot_server/robot/calibration/deck/constants.py
  robot-server/robot_server/robot/calibration/deck/state_machine.py
  robot-server/robot_server/robot/calibration/deck/user_flow.py
  robot-server/robot_server/robot/calibration/tip_length/constants.py
  robot-server/robot_server/robot/calibration/tip_length/state_machine.py
  robot-server/robot_server/robot/calibration/tip_length/user_flow.py
  robot-server/robot_server/robot/calibration/tip_length/util.py
  robot-server/robot_server/robot/calibration/util.py
  robot-server/robot_server/service/session/models.py
  robot-server/tests/robot/calibration/deck/__init__.py
  robot-server/tests/robot/calibration/deck/test_state_machine.py
  robot-server/tests/robot/calibration/deck/test_user_flow.py
  robot-server/tests/robot/calibration/tip_length/test_util.py
Labels: ready for review, refactor, robot server

#6314 chore(api): liquid handling curves for single v2.1 pipettes
  shared-data/pipette/definitions/pipetteModelSpecs.json
Labels: api, chore

#6313 fix(robot-server): add inspectingTip state to deck calibration
  robot-server/robot_server/robot/calibration/deck/constants.py
  robot-server/robot_server/robot/calibration/deck/state_machine.py
  robot-server/tests/robot/calibration/deck/test_state_machine.py
Labels: robot server

#6315 chore(bump): v3.20.0-alpha.1
  CHANGELOG.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  robot-server/robot_server/CHANGELOG.md
  robot-server/robot_server/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore

#6318 fix(app): fix tip probe button in apiV1 protocols
  app/src/pages/Calibrate/Pipettes.js
Labels: app, fix, hmg, ready for review

#6291 refactor(app): create deck cal session framework
  app/src/sessions/__fixtures__/deck-calibration.js
  app/src/sessions/__fixtures__/index.js
  app/src/sessions/constants.js
  app/src/sessions/deck-calibration/constants.js
  app/src/sessions/deck-calibration/types.js
  app/src/sessions/index.js
  app/src/sessions/types.js
Labels: app, ready for review, refactor

#6292 docs: autoincrement apiLevel in example code
  api/Pipfile
  api/Pipfile.lock
  api/docs/v2/conf.py
  api/docs/v2/index.rst
  api/docs/v2/new_advanced_running.rst
  api/docs/v2/new_atomic_commands.rst
  api/docs/v2/new_complex_commands.rst
  api/docs/v2/new_examples.rst
  api/docs/v2/new_labware.rst
  api/docs/v2/new_modules.rst
  api/docs/v2/new_pipette.rst
  api/docs/v2/versioning.rst
  api/docs/v2/writing.rst
Labels: docs, feature, ready for review

#6322 fix(robot-server): Robot server createParams bug
  robot-server/robot_server/service/session/models.py
  robot-server/tests/service/session/test_models.py
Labels: cpx, fix, ready for review

#6324 fix(protocol-designer): Rename aspirate/dispense delay tip position fields
  protocol-designer/src/components/StepEditForm/fields/TipPositionField/index.js
  protocol-designer/src/components/StepEditForm/fields/TipPositionField/utils.js
  protocol-designer/src/components/StepEditForm/forms/MoveLiquidForm/SourceDestFields.js
  protocol-designer/src/form-types.js
  protocol-designer/src/localization/en/modal.json
  protocol-designer/src/steplist/fieldLevel/index.js
Labels: :spider: SPDDRS, protocol designer, ready for review, refactor

#6319 fix(robot-server): fix multi channel move in tip length cal
  robot-server/robot_server/robot/calibration/tip_length/user_flow.py
Labels: hmg, ready for review, robot server

#6333 refactor(robot-server): enable robot lights in tip length calibration
  robot-server/robot_server/service/session/session_types/tip_length_calibration.py
Labels: refactor, robot server

#6326 refactor(app): Change legacy definition to N/A and add to the calibration
  app/src/components/CalibratePanel/CalibrationData.js
  app/src/components/CalibratePanel/LabwareListItem.js
  app/src/components/CalibratePanel/__tests__/CalibrationData.test.js
  app/src/components/FileInfo/ProtocolLabwareList.js
  app/src/components/FileInfo/__tests__/ProtocolLabwareList.test.js
Labels: app, fix, ready for review

#6325 fix(api): Save v2 labware in api v1 with URIs
  api/src/opentrons/calibration_storage/helpers.py
  api/src/opentrons/legacy_api/containers/__init__.py
  api/src/opentrons/legacy_api/robot/robot.py
Labels: api, fix, ready for review

#6335 chore(release): 3.20.0-alpha.3
  CHANGELOG.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  robot-server/robot_server/CHANGELOG.md
  robot-server/robot_server/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore, release 🚢

#6310 feat(api,robot-server): Robot server rpc http ff
  api/src/opentrons/api/session.py
  api/src/opentrons/config/advanced_settings.py
  api/src/opentrons/config/feature_flags.py
  api/tests/opentrons/api/test_session.py
  api/tests/opentrons/config/test_advanced_settings_migration.py
  robot-server/robot_server/service/session/session_types/protocol_session.py
  robot-server/tests/conftest.py
  robot-server/tests/integration/sessions/test_protocol.tavern.yaml
  robot-server/tests/integration/test_settings.tavern.yaml
Labels: api, cpx, ready for review, robot server

#6262 feat(robot-server): Executor for protocol session
  robot-server/robot_server/service/app.py
  robot-server/robot_server/service/dependencies.py
  robot-server/robot_server/service/logging.py
  robot-server/robot_server/service/protocol/protocol.py
  robot-server/robot_server/service/session/configuration.py
  robot-server/robot_server/service/session/manager.py
  robot-server/robot_server/service/session/models.py
  robot-server/robot_server/service/session/session_types/__init__.py
  robot-server/robot_server/service/session/session_types/protocol/__init__.py
  robot-server/robot_server/service/session/session_types/protocol/execution/__init__.py
  robot-server/robot_server/service/session/session_types/protocol/execution/command_executor.py
  robot-server/robot_server/service/session/session_types/protocol/execution/protocol_runner.py
  robot-server/robot_server/service/session/session_types/protocol/execution/worker.py
  robot-server/robot_server/service/session/session_types/protocol/models.py
  robot-server/robot_server/service/session/session_types/protocol/session.py
  robot-server/robot_server/util.py
  robot-server/tests/conftest.py
  robot-server/tests/integration/protocols/phony_proto.py
  robot-server/tests/integration/sessions/test_protocol.tavern.yaml
  robot-server/tests/service/session/session_types/protocol/__init__.py
  robot-server/tests/service/session/session_types/protocol/execution/__init__.py
  robot-server/tests/service/session/session_types/protocol/execution/test_command_executor.py
  robot-server/tests/service/session/session_types/protocol/execution/test_protocol_runner.py
  robot-server/tests/service/session/session_types/protocol/execution/test_worker.py
  robot-server/tests/service/session/session_types/test_check_session.py
Labels: cpx, ready for review, robot server

#6342 refactor(robot-server): Expose the labware hash in the http endpoint for labware calibrations
  api/src/opentrons/calibration_storage/get.py
  robot-server/robot_server/service/labware/models.py
  robot-server/robot_server/service/labware/router.py
  robot-server/tests/integration/test_labware_calibration_access.tavern.yaml
  robot-server/tests/service/labware/test_labware_calibration_access.py
Labels: api, ready for review

#6301 feat(protocol-designer): implement formToArgs for delays
  protocol-designer/src/form-types.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/moveLiquidFormToArgs.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/test/moveLiquidFormToArgs.test.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#6345 fix(api): Fix protocol sessions not being able to run protocols even if feature flag is enabled
  api/src/opentrons/api/session.py
  api/src/opentrons/api/util.py
  api/tests/opentrons/api/test_session.py
Labels: api, cpx, fix

#6341 feat(protocol-designer): Add defaults for air gap and delay
  protocol-designer/src/constants.js
  protocol-designer/src/step-forms/test/createPresavedStepForm.test.js
  protocol-designer/src/steplist/formLevel/getDefaultsForStepType.js
  protocol-designer/src/steplist/formLevel/handleFormChange/test/mix.test.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#6343 refactor(app, api): use labware def hash for cal data identity
  api/src/opentrons/api/models.py
  api/src/opentrons/protocol_api/labware.py
  app/src/calibration/api-types.js
  app/src/calibration/labware/__fixtures__/labware-calibration.js
  app/src/calibration/labware/__tests__/selectors.test.js
  app/src/calibration/labware/selectors.js
  app/src/calibration/labware/types.js
  app/src/calibration/labware/utils.js
  app/src/components/CalibratePanel/CalibrationData.js
  app/src/components/CalibratePanel/LabwareListItem.js
  app/src/components/CalibratePanel/__tests__/CalibrationData.test.js
  app/src/components/FileInfo/ProtocolLabwareList.js
  app/src/components/FileInfo/__tests__/ProtocolLabwareCard.test.js
  app/src/components/FileInfo/__tests__/ProtocolLabwareList.test.js
  app/src/robot/api-client/client.js
  app/src/robot/test/api-client.test.js
  app/src/robot/types.js
Labels: app, hmg, rpc

#6346 chore(release): 3.20.0-alpha.4
  CHANGELOG.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  robot-server/robot_server/CHANGELOG.md
  robot-server/robot_server/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore, release 🚢

#6355 fix(api): use the hash-with-parent for rpc cal hashes
  api/src/opentrons/api/models.py
  api/src/opentrons/protocol_api/labware.py
Labels: api, fix

#6356 chore(release): 3.20.0-alpha.5
  CHANGELOG.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  robot-server/robot_server/CHANGELOG.md
  robot-server/robot_server/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore, release 🚢

#6338 feat(api): adding deep_get utility function
  api/src/opentrons/util/helpers.py
  api/tests/opentrons/util/test_helpers.py
Labels: api, ready for review

#6358 chore(release): 3.20.0
  CHANGELOG.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  robot-server/robot_server/CHANGELOG.md
  robot-server/robot_server/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore, release 🚢

#6281 feat(api): Save new robot calibration in a separate location
  api/src/opentrons/calibration_storage/dev_types.py
  api/src/opentrons/calibration_storage/file_operators.py
  api/src/opentrons/calibration_storage/get.py
  api/src/opentrons/calibration_storage/modify.py
  api/src/opentrons/calibration_storage/types.py
  api/src/opentrons/config/__init__.py
  api/src/opentrons/config/robot_configs.py
  api/src/opentrons/hardware_control/api.py
  api/src/opentrons/hardware_control/robot_calibration.py
  api/src/opentrons/util/linal.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/hardware_control/test_api_helpers.py
  api/tests/opentrons/hardware_control/test_calibration_functions.py
  api/tests/opentrons/hardware_control/test_moves.py
  api/tests/opentrons/hardware_control/test_pipette.py
  api/tests/opentrons/labware/test_pipette.py
  api/tests/opentrons/protocol_api/test_context.py
Labels: api, ready for review

#6362 refactor(components, protocol-designer): factor out AIR const
  components/src/constants.js
  components/src/utils.js
  protocol-designer/src/components/IngredientsList/index.js
  protocol-designer/src/components/LiquidsSidebar/index.js
  protocol-designer/src/components/labware/utils.js
  protocol-designer/src/components/steplist/IngredPill.js
  protocol-designer/src/components/steplist/SubstepRow.js
  protocol-designer/src/components/swatchColors.js
  protocol-designer/src/step-generation/utils/misc.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#6364 fix(api): Prevent extra pipette movement after homing
  api/src/opentrons/hardware_control/api.py
Labels: api, ready for review

#6367 fix(api): fix InstrumentContext.home_plunger
  api/src/opentrons/protocol_api/instrument_context.py
  api/tests/opentrons/protocol_api/test_context.py
Labels: api, fix, fixed-in-papi2

#6360 refactor(robot-server): refactor exceptions.
  robot-server/robot_server/robot/calibration/check/session.py
  robot-server/robot_server/robot/calibration/deck/state_machine.py
  robot-server/robot_server/robot/calibration/deck/util.py
  robot-server/robot_server/robot/calibration/errors.py
  robot-server/robot_server/robot/calibration/session.py
  robot-server/robot_server/robot/calibration/tip_length/state_machine.py
  robot-server/robot_server/robot/calibration/tip_length/user_flow.py
  robot-server/robot_server/robot/calibration/tip_length/util.py
  robot-server/robot_server/robot/calibration/util.py
  robot-server/robot_server/service/access/router.py
  robot-server/robot_server/service/app.py
  robot-server/robot_server/service/errors.py
  robot-server/robot_server/service/labware/router.py
  robot-server/robot_server/service/protocol/errors.py
  robot-server/robot_server/service/session/errors.py
  robot-server/robot_server/service/session/manager.py
  robot-server/robot_server/service/session/router.py
  robot-server/robot_server/service/session/session_types/check_session.py
  robot-server/robot_server/service/session/session_types/deck_calibration_session.py
  robot-server/robot_server/service/session/session_types/tip_length_calibration.py
  robot-server/tests/integration/sessions/test_default.tavern.yaml
  robot-server/tests/integration/sessions/test_protocol.tavern.yaml
  robot-server/tests/robot/calibration/check/test_check_calibration_session.py
  robot-server/tests/robot/calibration/tip_length/test_user_flow.py
  robot-server/tests/service/labware/test_labware_calibration_access.py
  robot-server/tests/service/session/session_types/test_check_session.py
  robot-server/tests/service/session/test_manager.py
  robot-server/tests/service/session/test_router.py
Labels: ready for review, refactor, robot server

#6373 feat(api): Lay foundation on the backend to support simultaneous axis movement
  api/src/opentrons/hardware_control/api.py
  api/src/opentrons/hardware_control/types.py
  api/tests/opentrons/hardware_control/test_paired_pipettes.py
Labels: api, ready for review

#6375 fix(robot-server): datetime responses are missing timezone.
  api/src/opentrons/calibration_storage/modify.py
  api/src/opentrons/util/helpers.py
  api/tests/opentrons/containers/test_containers.py
  api/tests/opentrons/hardware_control/test_calibration_functions.py
  api/tests/opentrons/protocol_api/test_offsets.py
  robot-server/robot_server/service/access/router.py
  robot-server/robot_server/service/protocol/protocol.py
  robot-server/robot_server/service/session/command_execution/command.py
  robot-server/robot_server/service/session/models.py
  robot-server/robot_server/service/session/session_types/base_session.py
  robot-server/robot_server/util.py
  robot-server/tests/integration/protocols/test_protocol_upload.tavern.yaml
  robot-server/tests/integration/sessions/test_calibration_check.tavern.yaml
  robot-server/tests/integration/sessions/test_deck_calibration.tavern.yaml
  robot-server/tests/integration/sessions/test_default.tavern.yaml
  robot-server/tests/integration/sessions/test_tip_length_calibration.tavern.yaml
  robot-server/tests/integration/test_session.tavern.yaml
  robot-server/tests/test_util.py
Labels: accepted, fix, ready for review, robot server

#6380 feat(protocol-designer): apply delays to pre-wet
  protocol-designer/src/step-generation/__fixtures__/commandFixtures.js
  protocol-designer/src/step-generation/__tests__/consolidate.test.js
  protocol-designer/src/step-generation/__tests__/distribute.test.js
  protocol-designer/src/step-generation/__tests__/transfer.test.js
  protocol-designer/src/step-generation/commandCreators/compound/consolidate.js
  protocol-designer/src/step-generation/commandCreators/compound/transfer.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#6371 feat(robot-server): Robot server protocol session model
  robot-server/robot_server/service/session/session_types/protocol/execution/command_executor.py
  robot-server/robot_server/service/session/session_types/protocol/models.py
  robot-server/robot_server/service/session/session_types/protocol/session.py
  robot-server/tests/integration/sessions/test_protocol.tavern.yaml
  robot-server/tests/service/session/session_types/protocol/execution/test_command_executor.py
Labels: cpx, ready for review, robot server

#6383 fix(app): flip modules on deck map when in slots 3, 6, or 9
  app/src/components/DeckMap/index.js
  components/src/deck/Module.css
  components/src/deck/Module.js
  components/src/deck/RobotCoordsForeignDiv.js
  protocol-library-kludge/src/URLDeck.js
Labels: Protocol Library, app, hmg, ready for review

#6376 refactor(robot-server): deck calibraton - tip pick up and invalidate tip
  robot-server/robot_server/robot/calibration/deck/user_flow.py
  robot-server/robot_server/robot/calibration/session.py
  robot-server/robot_server/robot/calibration/tip_length/user_flow.py
  robot-server/robot_server/robot/calibration/util.py
  robot-server/tests/robot/calibration/deck/test_user_flow.py
Labels: refactor, robot server

#6386 refactor(app): send events to intercom on calcheck complete
  app/src/sessions/__fixtures__/index.js
  app/src/sessions/__tests__/selectors.test.js
  app/src/sessions/selectors.js
  app/src/sessions/types.js
  app/src/support/__tests__/epic.test.js
  app/src/support/__tests__/intercom-binding.test.js
  app/src/support/__tests__/intercom-event.test.js
  app/src/support/__tests__/profile.test.js
  app/src/support/constants.js
  app/src/support/epic.js
  app/src/support/intercom-binding.js
  app/src/support/intercom-event.js
  app/src/support/profile.js
  app/src/support/types.js
Labels: app, refactor

#6388 refactor(app): deck cal overhaul save xy point
  app/src/components/CalibrateDeck/SaveXYPoint.js
  app/src/components/CalibrateDeck/__tests__/DeckSetup.test.js
  app/src/components/CalibrateDeck/__tests__/Introduction.test.js
  app/src/components/CalibrateDeck/__tests__/SaveXYPoint.test.js
  app/src/components/CalibrateDeck/__tests__/SaveZPoint.test.js
  app/src/components/CalibrateDeck/__tests__/TipConfirmation.test.js
  app/src/components/CalibrateDeck/__tests__/TipPickUp.test.js
  app/src/components/CalibrateDeck/index.js
  app/src/components/CalibrateDeck/types.js
Labels: app, hmg, ready for review

#6404 feat(protocol-designer): update tooltips for air gap + delay
  protocol-designer/src/localization/en/tooltip.json
Labels: :spider: SPDDRS, protocol designer, ready for review

#6393 fix(labware-library): fix test protocol well order bug
  labware-library/cypress/fixtures/TestLabwareProtocol.py
  labware-library/src/labware-creator/labwareTestProtocol.js
Labels: :spider: SPDDRS, fix, labware creator, ready for review

#6382 refactor(robot-server): deck cal - select pipette and tip rack
  robot-server/robot_server/robot/calibration/constants.py
  robot-server/robot_server/robot/calibration/deck/user_flow.py
  robot-server/tests/robot/calibration/deck/test_user_flow.py
Labels: refactor, robot server

#6406 refactor(app, components): add gif of remove block to tip length cal, add alignSelf style prop
  app/src/assets/videos/tip-length-cal/Slot_1_Remove_CalBlock_(330x260)REV1.webm
  app/src/assets/videos/tip-length-cal/Slot_3_Remove_CalBlock_(330x260)REV1.webm
  app/src/components/CalibrateTipLength/CompleteConfirmation.js
  app/src/components/CalibrateTipLength/DeckSetup.js
  app/src/components/CalibrateTipLength/__tests__/CompleteConfirmation.test.js
  components/src/primitives/__tests__/style-props.test.js
  components/src/primitives/style-props.js
  components/src/primitives/types.js
Labels: app, components, hmg, ready for review

#6395 refactor(app): implement remaining deck cal flow components, wire up session
  app/src/components/CalibrateDeck/CompleteConfirmation.js
  app/src/components/CalibrateDeck/ConfirmClearDeckModal.js
  app/src/components/CalibrateDeck/ConfirmExitModal.js
  app/src/components/CalibrateDeck/DeckSetup.js
  app/src/components/CalibrateDeck/Introduction.js
  app/src/components/CalibrateDeck/SaveXYPoint.js
  app/src/components/CalibrateDeck/SaveZPoint.js
  app/src/components/CalibrateDeck/__tests__/Introduction.test.js
  app/src/components/CalibrateDeck/__tests__/SaveXYPoint.test.js
  app/src/components/CalibrateDeck/__tests__/SaveZPoint.test.js
  app/src/components/CalibrateDeck/index.js
  app/src/components/RobotSettings/ConfirmStartDeckCalModal.js
  app/src/components/RobotSettings/DeckCalibrationControl.js
  app/src/components/RobotSettings/__tests__/DeckCalibrationControl.test.js
  app/src/components/RobotSettings/styles.css
Labels: app, hmg, ready for review

#6389 refactor(robot-server): deck cal - jog to deck and calibration points
  robot-server/robot_server/robot/calibration/deck/constants.py
  robot-server/robot_server/robot/calibration/deck/dev_types.py
  robot-server/robot_server/robot/calibration/deck/user_flow.py
  robot-server/tests/robot/calibration/deck/test_user_flow.py
Labels: ready for review, refactor, robot server

#6414 feat(protocol-designer): add new air gap / delay announcement
  protocol-designer/src/components/modals/AnnouncementModal/announcements.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#6410 fix(api, app): Ensure index file exists before reading from it
  api/src/opentrons/calibration_storage/get.py
  api/src/opentrons/calibration_storage/migration.py
  api/src/opentrons/calibration_storage/modify.py
  api/src/opentrons/legacy_api/containers/__init__.py
  api/src/opentrons/protocol_api/labware.py
  api/tests/opentrons/protocol_api/test_offsets.py
  api/tests/opentrons/robot/test_robot.py
  app/src/components/FileInfo/index.js
Labels: api, fix, ready for review

#6432 chore(release): v3.20.1-alpha.0
  CHANGELOG.md
  api/release-notes.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/build/release-notes.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  robot-server/robot_server/CHANGELOG.md
  robot-server/robot_server/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore

#6433 feat(protocol-designer): export airgap protocols as v5
  protocol-designer/src/file-data/__tests__/createFile.test.js
  protocol-designer/src/file-data/selectors/fileCreator.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#6435 fix(api): correct Deck.get_slot_center z value
  api/src/opentrons/protocol_api/geometry.py
Labels: api, easyfix

#6390 feat(api): Support pipette pairing for pickup and drop tip
  api/src/opentrons/hardware_control/api.py
  api/src/opentrons/hardware_control/controller.py
  api/src/opentrons/hardware_control/simulator.py
  api/src/opentrons/hardware_control/types.py
  api/tests/opentrons/hardware_control/test_paired_pipettes.py
Labels: api, ready for review

#6430 fix(robot-server): deck calibration flow cleanup
  robot-server/robot_server/robot/calibration/deck/constants.py
  robot-server/robot_server/robot/calibration/deck/models.py
  robot-server/robot_server/robot/calibration/deck/user_flow.py
  robot-server/robot_server/robot/calibration/tip_length/user_flow.py
  robot-server/robot_server/robot/calibration/util.py
  robot-server/robot_server/service/session/session_types/deck_calibration_session.py
  robot-server/tests/robot/calibration/deck/test_user_flow.py
  robot-server/tests/robot/calibration/tip_length/test_user_flow.py
Labels: fix, robot server

#6357 feat(protocol-designer): bump to 5.0.0, add migration for new fields
  protocol-designer/cypress/integration/migrations.spec.js
  protocol-designer/fixtures/protocol/5/doItAllV3.json
  protocol-designer/fixtures/protocol/5/doItAllV4.json
  protocol-designer/fixtures/protocol/5/doItAllV5.json
  protocol-designer/fixtures/protocol/5/example_1_1_0MigratedFromV1_0_0.json
  protocol-designer/fixtures/protocol/5/preFlexGrandfatheredProtocolMigratedFromV1_0_0.json
  protocol-designer/src/load-file/migration/5_0_0.js
  protocol-designer/src/load-file/migration/index.js
  protocol-designer/webpack.config.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#6445 refactor(app): tip length cal: link to block request
  app/src/components/CalibrateTipLength/AskForCalibrationBlockModal.js
Labels: app, refactor

#6449 feat(protocol-designer): minor copy change for aspirate delay tooltip
  protocol-designer/src/localization/en/tooltip.json
Labels: :spider: SPDDRS, protocol designer, ready for review

#6447 test(protocol-designer): add tests with all advanced settings enabled
  protocol-designer/src/step-generation/__tests__/consolidate.test.js
  protocol-designer/src/step-generation/__tests__/distribute.test.js
  protocol-designer/src/step-generation/__tests__/transfer.test.js
  protocol-designer/src/step-generation/commandCreators/atomic/moveToWell.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#6434 feat(protocol-designer): remove air gap + delay FF
  protocol-designer/src/components/StepEditForm/forms/MoveLiquidForm/SourceDestFields.js
  protocol-designer/src/components/StepEditForm/forms/__tests__/SourceDestFields.test.js
  protocol-designer/src/feature-flags/reducers.js
  protocol-designer/src/feature-flags/selectors.js
  protocol-designer/src/feature-flags/types.js
  protocol-designer/src/localization/en/feature_flags.json
  protocol-designer/src/step-forms/test/createPresavedStepForm.test.js
  protocol-designer/src/steplist/formLevel/getDefaultsForStepType.js
  protocol-designer/src/steplist/formLevel/handleFormChange/dependentFieldsUpdateMoveLiquid.js
  protocol-designer/src/steplist/formLevel/handleFormChange/test/moveLiquid.test.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#6450 feat(api): Allow pipette pairing for aspirate and dispense functions
  api/src/opentrons/hardware_control/api.py
  api/src/opentrons/hardware_control/types.py
  api/tests/opentrons/hardware_control/test_paired_pipettes.py
  api/tests/opentrons/protocol_api/test_context.py
Labels: api, ready for review
