Repository Opentrons/opentrons, pull requests merged in 2020-09, with the labels that each got.

#6458 fix(api): typo in should_dodge_thermocycler
  api/src/opentrons/protocol_api/geometry.py
  api/tests/opentrons/protocol_api/test_geometry.py
Labels: api, fix, ready for review

#6462 fix(robot-server): only import type_extension during type checking
  robot-server/robot_server/robot/calibration/check/models.py
  robot-server/robot_server/robot/calibration/constants.py
  robot-server/robot_server/robot/calibration/dev_types.py
  robot-server/robot_server/robot/calibration/helper_classes.py
  robot-server/robot_server/robot/calibration/pipette_offset/constants.py
  robot-server/robot_server/robot/calibration/pipette_offset/models.py
  robot-server/robot_server/robot/calibration/tip_length/models.py
Labels: robot server

#6403 feat(robot_server): add system/time GET & PUT endpoints
  robot-server/robot_server/service/app.py
  robot-server/robot_server/service/system/__init__.py
  robot-server/robot_server/service/system/models.py
  robot-server/robot_server/service/system/router.py
  robot-server/robot_server/system/__init__.py
  robot-server/robot_server/system/errors.py
  robot-server/robot_server/system/time.py
  robot-server/tests/integration/system/test_system_time.tavern.yaml
  robot-server/tests/service/system/__init__.py
  robot-server/tests/service/system/test_router.py
  robot-server/tests/system/__init__.py
  robot-server/tests/system/test_time.py
Labels: api, ready for review, robot server

#6475 refactor(api,robot-server): use typing-extensions at runtime
  api/Pipfile
  api/Pipfile.lock
  api/setup.py
  robot-server/Config.in
  robot-server/Pipfile
  robot-server/Pipfile.lock
Labels: api, refactor, robot server

#6472 feat(api): Add skeleton Pipette pairing context
  api/docs/v2/versioning.rst
  api/src/opentrons/protocol_api/definitions.py
  api/src/opentrons/protocol_api/instrument_context.py
  api/src/opentrons/protocol_api/paired_instrument_context.py
  api/tests/opentrons/protocol_api/test_context.py
  robot-server/tests/integration/test_health_check.tavern.yaml
Labels: api, ready for review

#6470 test(app): refactor robot-admin epic tests to user newer test fixtures
  app/src/robot-admin/__fixtures__/index.js
  app/src/robot-admin/__tests__/epic.test.js
  app/src/robot-admin/epic/__tests__/fetchResetOptionsEpic.test.js
  app/src/robot-admin/epic/__tests__/resetConfigEpic.test.js
  app/src/robot-admin/epic/__tests__/restartEpic.test.js
Labels: app, chore, cpx, ready for review

#6478 fix(robot-server): correct move to deck safety buffer in y
  robot-server/robot_server/robot/calibration/constants.py
Labels: easyfix, robot server

#6453 feat(robot-server,app): add download deck calibration button
  app/src/calibration/__fixtures__/calibration-status.js
  app/src/calibration/api-types.js
  app/src/calibration/selectors.js
  app/src/components/RobotSettings/ControlsCard.js
  app/src/components/RobotSettings/DeckCalibrationControl.js
  app/src/components/RobotSettings/DeckCalibrationDownload.js
  app/src/components/RobotSettings/__tests__/ControlsCard.test.js
  app/src/components/RobotSettings/__tests__/DeckCalibrationControl.test.js
  app/src/components/RobotSettings/__tests__/DeckCalibrationDownload.test.js
  components/src/__tests__/__snapshots__/icons.test.js.snap
  components/src/icons/icon-data.js
  robot-server/robot_server/service/legacy/models/deck_calibration.py
  robot-server/robot_server/service/legacy/routers/deck_calibration.py
  robot-server/tests/integration/test_deck_calibration.tavern.yaml
Labels: app, ready for review, robot server

#6489 fix(app): make tip length calibration use generic calibration command
  app/src/sessions/tip-length-calibration/constants.js
Labels: app, fix, hmg

#6459 refactor(api): migrate legacy deck calibration to new format
  api/src/opentrons/calibration_storage/dev_types.py
  api/src/opentrons/calibration_storage/modify.py
  api/src/opentrons/hardware_control/api.py
  api/src/opentrons/hardware_control/robot_calibration.py
  api/tests/opentrons/hardware_control/test_api_helpers.py
  api/tests/opentrons/hardware_control/test_calibration_functions.py
Labels: api, ready for review

#6484 chore(build): bump required pipenv
  Makefile
  jest.config.js
Labels: chore

#6496 refactor(robot-server): use camel case for http params
  robot-server/robot_server/service/protocol/router.py
  robot-server/robot_server/service/session/router.py
  robot-server/tests/integration/protocols/test_protocol_upload.tavern.yaml
  robot-server/tests/integration/sessions/test_protocol.tavern.yaml
Labels: cpx, refactor, robot server

#6504 docs: fix aspirate and dispense typo
  api/src/opentrons/protocol_api/instrument_context.py
Labels: docs

#6502 refactor(api): save and load pipette offset data
  api/src/opentrons/calibration_storage/dev_types.py
  api/src/opentrons/calibration_storage/get.py
  api/src/opentrons/calibration_storage/modify.py
  api/src/opentrons/calibration_storage/types.py
  api/src/opentrons/config/__init__.py
  api/src/opentrons/config/robot_configs.py
  api/src/opentrons/hardware_control/robot_calibration.py
  api/tests/opentrons/hardware_control/test_calibration_functions.py
Labels: api, ready for review, refactor

#6474 feat(app): add Jupyter Notebook button to robot's Advanced Settings
  app/src/components/RobotSettings/AdvancedSettingsCard.js
  app/src/components/RobotSettings/OpenJupyterControl.js
  app/src/components/RobotSettings/__tests__/AdvancedSettingsCard.test.js
  app/src/components/RobotSettings/__tests__/ControlsCard.test.js
  app/src/components/RobotSettings/__tests__/OpenJupyterControl.test.js
  components/__utils__/index.js
  components/__utils__/mountWithStore.js
Labels: cpx, feature, ready for review, ux review required

#6507 docs: fix indent in code-block directives
  api/docs/v2/new_labware.rst
  api/docs/v2/writing.rst
Labels: docs, fix

#6505 refactor(robot-server): pipette offset user flow - save pipette calibration
  api/src/opentrons/calibration_storage/modify.py
  robot-server/robot_server/robot/calibration/pipette_offset/user_flow.py
  robot-server/tests/robot/calibration/pipette_offset/test_user_flow.py
Labels: robot server

#6514 fix(robot-server): pipette offset - uses z ref height to move to point one
  robot-server/robot_server/robot/calibration/pipette_offset/user_flow.py
  robot-server/tests/robot/calibration/pipette_offset/test_user_flow.py
Labels: robot server

#6509 fix(app): fix layout of calibration panel complete confirmation button
  app/src/components/CalibrationPanels/CompleteConfirmation.js
Labels: app, fix, hmg

#6520 fix(robot-server): pipette offset - add missing arg to save offset data
  robot-server/robot_server/robot/calibration/pipette_offset/user_flow.py
  robot-server/tests/robot/calibration/pipette_offset/test_user_flow.py
Labels: fix, robot server

#6501 fix(app): sync robot time with app time on connect
  app/src/robot-admin/__fixtures__/index.js
  app/src/robot-admin/__fixtures__/system-time.js
  app/src/robot-admin/api-types.js
  app/src/robot-admin/constants.js
  app/src/robot-admin/epic/__tests__/syncTimeOnConnectEpic.test.js
  app/src/robot-admin/epic/index.js
  app/src/robot-admin/epic/syncTimeOnConnectEpic.js
  app/src/robot-api/__utils__/epic-test-mocks.js
  app/src/robot-api/constants.js
  app/src/robot-api/types.js
  robot-server/robot_server/service/legacy/models/health.py
Labels: app, cpx, feature, ready for review

#6525 feat(protocol-designer): add OT_PD_ENABLE_MIX_DELAY feature flag
  protocol-designer/src/feature-flags/reducers.js
  protocol-designer/src/feature-flags/selectors.js
  protocol-designer/src/feature-flags/types.js
  protocol-designer/src/localization/en/feature_flags.json
Labels: :spider: SPDDRS, protocol designer, ready for review

#6527 fix(robot-server): tip length cal - use nozzle height for tip length calculation
  robot-server/robot_server/robot/calibration/deck/user_flow.py
  robot-server/robot_server/robot/calibration/pipette_offset/user_flow.py
  robot-server/robot_server/robot/calibration/tip_length/user_flow.py
  robot-server/robot_server/robot/calibration/util.py
  robot-server/tests/robot/calibration/deck/test_user_flow.py
  robot-server/tests/robot/calibration/pipette_offset/test_user_flow.py
  robot-server/tests/robot/calibration/tip_length/test_user_flow.py
Labels: fix, robot server

#6529 fix(robot-server): calibraiton flows - fix assert statements
  robot-server/robot_server/robot/calibration/deck/user_flow.py
  robot-server/robot_server/robot/calibration/pipette_offset/user_flow.py
Labels: fix, robot server

#6526 refactor(robot-server): robot server resource links
  robot-server/robot_server/service/json_api/resource_links.py
  robot-server/robot_server/service/protocol/router.py
  robot-server/robot_server/service/session/router.py
  robot-server/robot_server/service/system/router.py
  robot-server/tests/integration/protocols/test_protocol_upload.tavern.yaml
  robot-server/tests/integration/system/test_system_time.tavern.yaml
  robot-server/tests/service/json_api/test_errors.py
  robot-server/tests/service/json_api/test_resource_links.py
  robot-server/tests/service/session/test_router.py
  robot-server/tests/service/system/test_router.py
Labels: cpx, ready for review, refactor, robot server

#6515 fix(protocol-designer): fix scroll position of MoreOptionsModal
  protocol-designer/src/components/DeckSetup/LabwareOverlays/BrowseLabware.js
  protocol-designer/src/components/FilePage.js
  protocol-designer/src/components/FileSidebar/FileSidebar.js
  protocol-designer/src/components/ProtocolEditor.js
  protocol-designer/src/components/SettingsPage/FeatureFlagCard/FeatureFlagCard.js
  protocol-designer/src/components/StepEditForm/index.js
  protocol-designer/src/ui/steps/actions/actions.js
  protocol-designer/src/ui/steps/constants.js
  protocol-designer/src/ui/steps/index.js
  protocol-designer/src/ui/steps/utils.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#6494 fix(app): cache robot releases manifest for offline usage
  app-shell/src/buildroot/__tests__/release-files.test.js
  app-shell/src/buildroot/__tests__/release-manifest.test.js
  app-shell/src/buildroot/index.js
  app-shell/src/buildroot/release-files.js
  app-shell/src/buildroot/release-manifest.js
Labels: app, cpx, fix, ready for review

#6483 fix(app): properly enable/disable robot update from file button
  app/src/buildroot/__tests__/selectors.test.js
  app/src/buildroot/selectors.js
  app/src/components/ConnectPanel/RobotItem.js
  app/src/components/RobotSettings/AdvancedSettingsCard.js
  app/src/components/RobotSettings/ConnectionCard.js
  app/src/components/RobotSettings/ControlsCard.js
  app/src/components/RobotSettings/InformationCard.js
  app/src/components/RobotSettings/StatusCard.js
  app/src/components/RobotSettings/UpdateBuildroot/MigrationWarningModal.js
  app/src/components/RobotSettings/UpdateBuildroot/ViewUpdateModal.js
  app/src/components/RobotSettings/UpdateFromFileControl.js
  app/src/components/RobotSettings/UploadRobotUpdate.js
  app/src/components/RobotSettings/__tests__/AdvancedSettingsCard.test.js
  app/src/components/RobotSettings/__tests__/ConnectionCard.test.js
  app/src/components/RobotSettings/__tests__/ControlsCard.test.js
  app/src/components/RobotSettings/connection.js
  app/src/components/RobotSettings/styles.css
  app/src/nav/selectors.js
  app/src/pages/Robots/RobotSettings.js
  components/src/controls/LabeledToggle.js
  components/src/primitives/types.js
  components/src/styles/colors.js
Labels: app, cpx, fix, ready for review

#6481 chore(build): gh action for python linting and testing
  .github/actions/python/setup/action.yaml
  .github/workflows/api-lint-test.yaml
  .github/workflows/docs-build.yaml
  .github/workflows/robot-server-lint-test.yaml
  .github/workflows/shared-data-lint-test.yaml
  .github/workflows/update-server-lint-test.yaml
  Makefile
  scripts/python.mk
  shared-data/python/Makefile
Labels: chore

#6540 refactor(robot-server): mypy - enable type-checking for untyped defs
  robot-server/mypy.ini
  robot-server/robot_server/robot/calibration/deck/user_flow.py
  robot-server/robot_server/robot/calibration/pipette_offset/user_flow.py
  robot-server/robot_server/robot/calibration/tip_length/user_flow.py
  robot-server/robot_server/robot/calibration/util.py
  robot-server/robot_server/service/legacy/models/settings.py
  robot-server/robot_server/service/legacy/rpc/rpc.py
  robot-server/robot_server/service/legacy/rpc/serialize.py
  robot-server/robot_server/service/session/models.py
  robot-server/robot_server/service/session/session_types/protocol/execution/protocol_runner.py
Labels: WIP, robot server

#6539 fix(shared-data): fix typos (themocycler->thermocycler)
  shared-data/protocol/schemas/4.json
  shared-data/protocol/schemas/5.json
Labels: fix, ready for review, shared data

#6511 feat(protocol-designer): setup Mixpanel and add initial events
  protocol-designer/README.md
  protocol-designer/src/analytics/__tests__/flattenNestedProperties.test.js
  protocol-designer/src/analytics/__tests__/reduxActionToAnalyticsEvent.test.js
  protocol-designer/src/analytics/actions.js
  protocol-designer/src/analytics/middleware.js
  protocol-designer/src/analytics/mixpanel.js
  protocol-designer/src/analytics/utils/flattenNestedProperties.js
  protocol-designer/src/configureStore.js
  protocol-designer/src/index.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#6533 refactor(protocol-designer): do not have presaved step hold uuid
  protocol-designer/src/ui/steps/actions/__tests__/addAndSelectStepWithHints.test.js
  protocol-designer/src/ui/steps/actions/__tests__/addStep.test.js
  protocol-designer/src/ui/steps/actions/actions.js
  protocol-designer/src/ui/steps/actions/thunks/index.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#6528 feat(api): Add all tip handling and tracking functions for the paired instrument context
  api/src/opentrons/hardware_control/api.py
  api/src/opentrons/hardware_control/types.py
  api/src/opentrons/protocol_api/instrument_context.py
  api/src/opentrons/protocol_api/labware.py
  api/src/opentrons/protocol_api/paired_instrument_context.py
  api/src/opentrons/protocols/api_support/util.py
  api/src/opentrons/protocols/implementations/__init__.py
  api/src/opentrons/protocols/implementations/paired_instrument.py
  api/tests/opentrons/protocol_api/test_paired_context.py
Labels: api, ready for review

#6503 fix(protocol-designer): fix dismissing warnings for unsaved step forms
  protocol-designer/src/components/StepEditForm/FormAlerts.js
  protocol-designer/src/components/alerts/TimelineAlerts.js
  protocol-designer/src/dismiss/__tests__/reducers.test.js
  protocol-designer/src/dismiss/actions.js
  protocol-designer/src/dismiss/reducers.js
  protocol-designer/src/dismiss/selectors.js
  protocol-designer/src/ui/steps/actions/__tests__/addAndSelectStepWithHints.test.js
  protocol-designer/src/ui/steps/actions/__tests__/addStep.test.js
  protocol-designer/src/ui/steps/actions/actions.js
  protocol-designer/src/ui/steps/actions/thunks/index.js
  protocol-designer/src/ui/steps/selectors.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#6524 feat(app): rename base -> block for TC copy
  app/src/components/ModuleControls/TemperatureControl.js
  app/src/components/ModuleControls/index.js
  app/src/components/ModuleLiveStatusCards/ThermocyclerCard.js
Labels: :spider: SPDDRS, app, ready for review

#6551 chore(build): Deploy docs to sandbox on push
  .github/actions/webstack/deploy-to-sandbox/action.yaml
  .github/workflows/docs-build.yaml
Labels: chore, docs

#6488 feat(protocol-designer): strip no-op mixes from robot state generation
  protocol-designer/src/step-generation/__tests__/removePairs.test.js
  protocol-designer/src/step-generation/__tests__/stripNoOpMixCommands.test.js
  protocol-designer/src/step-generation/getNextRobotStateAndWarnings/index.js
  protocol-designer/src/step-generation/utils/commandCreatorsTimeline.js
  protocol-designer/src/step-generation/utils/removePairs.js
  protocol-designer/src/step-generation/utils/stripNoOpCommands.js
  shared-data/protocol/flowTypes/schemaV3.js
  shared-data/protocol/flowTypes/schemaV4.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#6557 chore(protocol-designer): bump to 5.0.2
  protocol-designer/webpack.config.js
Labels: :spider: SPDDRS, chore, protocol designer, ready for review

#6553 refactor(robot-server): removing unused functions in json_api package.
  robot-server/robot_server/service/json_api/factory.py
  robot-server/robot_server/service/json_api/request.py
  robot-server/robot_server/service/json_api/response.py
  robot-server/tests/service/helpers.py
  robot-server/tests/service/json_api/test_factory.py
  robot-server/tests/service/json_api/test_request.py
  robot-server/tests/service/json_api/test_response.py
Labels: cpx, refactor, robot server

#6550 feat(api): Add all tip handling and tracking functions for the paired instrument context
  api/src/opentrons/protocol_api/instrument_context.py
  api/src/opentrons/protocol_api/paired_instrument_context.py
  api/src/opentrons/protocols/api_support/util.py
  api/src/opentrons/protocols/implementations/paired_instrument.py
  api/tests/opentrons/protocol_api/test_paired_context.py
  api/tests/opentrons/protocols/api_support/test_util.py
Labels: api, ready for review

#6568 chore(robot-server): enable pydantic mypy plugin and suppress new errors
  .gitignore
  api/mypy.ini
  robot-server/mypy.ini
  robot-server/robot_server/robot/calibration/deck/user_flow.py
  robot-server/robot_server/robot/calibration/helper_classes.py
  robot-server/robot_server/robot/calibration/pipette_offset/user_flow.py
  robot-server/robot_server/robot/calibration/tip_length/user_flow.py
  robot-server/robot_server/service/labware/router.py
  robot-server/robot_server/service/legacy/routers/modules.py
  robot-server/robot_server/service/legacy/routers/networking.py
  robot-server/robot_server/service/legacy/routers/settings.py
  robot-server/robot_server/service/session/session_types/check_session.py
  robot-server/robot_server/service/session/session_types/deck_calibration_session.py
  update-server/mypy.ini
Labels: chore, ready for review, robot server

#6565 fix(api): limit calibration jogs when going upward
  api/src/opentrons/api/calibration.py
  api/src/opentrons/hardware_control/api.py
  api/src/opentrons/hardware_control/controller.py
  api/src/opentrons/hardware_control/simulator.py
  api/src/opentrons/hardware_control/types.py
  api/src/opentrons/hardware_control/util.py
  api/tests/opentrons/api/test_calibration.py
  api/tests/opentrons/hardware_control/test_moves.py
  api/tests/opentrons/hardware_control/test_util.py
Labels: api, fix

#6561 fix(app): make cal commands chain instead of race
  app/src/components/CalibratePipetteOffset/__tests__/CalibratePipetteOffset.test.js
  app/src/components/CalibratePipetteOffset/index.js
  app/src/components/CalibratePipetteOffset/types.js
  app/src/components/CalibrationPanels/CompleteConfirmation.js
  app/src/components/CalibrationPanels/DeckSetup.js
  app/src/components/CalibrationPanels/Introduction.js
  app/src/components/CalibrationPanels/SaveXYPoint.js
  app/src/components/CalibrationPanels/SaveZPoint.js
  app/src/components/CalibrationPanels/TipConfirmation.js
  app/src/components/CalibrationPanels/TipPickUp.js
  app/src/components/CalibrationPanels/__tests__/CompleteConfirmation.test.js
  app/src/components/CalibrationPanels/__tests__/DeckSetup.test.js
  app/src/components/CalibrationPanels/__tests__/Introduction.test.js
  app/src/components/CalibrationPanels/__tests__/SaveXYPoint.test.js
  app/src/components/CalibrationPanels/__tests__/SaveZPoint.test.js
  app/src/components/CalibrationPanels/__tests__/TipConfirmation.test.js
  app/src/components/CalibrationPanels/__tests__/TipPickUp.test.js
  app/src/components/CalibrationPanels/types.js
  app/src/components/CalibrationPanels/utils.js
  app/src/components/InstrumentSettings/PipetteOffsetCalibrationControl.js
  app/src/robot-api/__tests__/hooks.test.js
  app/src/robot-api/hooks.js
  app/src/sessions/__fixtures__/index.js
  app/src/sessions/epic/__tests__/createSessionCommandEpic.test.js
  app/src/sessions/types.js
Labels: app, hmg

#6563 feat(api, robot-server): expose pipette offset cal via http
  api/src/opentrons/calibration_storage/delete.py
  api/src/opentrons/calibration_storage/get.py
  api/src/opentrons/calibration_storage/modify.py
  api/src/opentrons/calibration_storage/types.py
  robot-server/robot_server/service/app.py
  robot-server/robot_server/service/pipette_offset/__init__.py
  robot-server/robot_server/service/pipette_offset/models.py
  robot-server/robot_server/service/pipette_offset/router.py
  robot-server/tests/conftest.py
  robot-server/tests/integration/test_pipette_offset_access.tavern.yaml
  robot-server/tests/service/pipette_offset/__init__.py
  robot-server/tests/service/pipette_offset/test_pipette_offset_management.py
Labels: api, robot server

#6566 refactor(robot-server): session models split up
  robot-server/robot_server/robot/calibration/check/session.py
  robot-server/robot_server/robot/calibration/deck/state_machine.py
  robot-server/robot_server/robot/calibration/deck/user_flow.py
  robot-server/robot_server/robot/calibration/pipette_offset/state_machine.py
  robot-server/robot_server/robot/calibration/pipette_offset/user_flow.py
  robot-server/robot_server/robot/calibration/tip_length/state_machine.py
  robot-server/robot_server/robot/calibration/tip_length/user_flow.py
  robot-server/robot_server/robot/calibration/util.py
  robot-server/robot_server/service/pipette_offset/models.py
  robot-server/robot_server/service/pipette_offset/router.py
  robot-server/robot_server/service/session/command_execution/command.py
  robot-server/robot_server/service/session/command_execution/hardware_executor.py
  robot-server/robot_server/service/session/configuration.py
  robot-server/robot_server/service/session/manager.py
  robot-server/robot_server/service/session/models/__init__.py
  robot-server/robot_server/service/session/models/command.py
  robot-server/robot_server/service/session/models/common.py
  robot-server/robot_server/service/session/models/session.py
  robot-server/robot_server/service/session/router.py
  robot-server/robot_server/service/session/session_types/base_session.py
  robot-server/robot_server/service/session/session_types/check_session.py
  robot-server/robot_server/service/session/session_types/deck_calibration_session.py
  robot-server/robot_server/service/session/session_types/default_session.py
  robot-server/robot_server/service/session/session_types/null_session.py
  robot-server/robot_server/service/session/session_types/pipette_offset_calibration.py
  robot-server/robot_server/service/session/session_types/protocol/execution/command_executor.py
  robot-server/robot_server/service/session/session_types/protocol/models.py
  robot-server/robot_server/service/session/session_types/protocol/session.py
  robot-server/robot_server/service/session/session_types/tip_length_calibration.py
  robot-server/tests/robot/calibration/deck/test_state_machine.py
  robot-server/tests/robot/calibration/pipette_offset/test_state_machine.py
  robot-server/tests/robot/calibration/pipette_offset/test_user_flow.py
  robot-server/tests/robot/calibration/tip_length/test_state_machine.py
  robot-server/tests/robot/calibration/tip_length/test_user_flow.py
  robot-server/tests/service/session/session_types/protocol/execution/test_command_executor.py
  robot-server/tests/service/session/session_types/test_check_session.py
  robot-server/tests/service/session/test_manager.py
  robot-server/tests/service/session/test_models.py
  robot-server/tests/service/session/test_router.py
Labels: cpx, ready for review, refactor, robot server

#6572 refactor(robot-server): simplify json api request/response generics
  robot-server/robot_server/service/json_api/request.py
  robot-server/robot_server/service/json_api/response.py
  robot-server/robot_server/service/labware/models.py
  robot-server/robot_server/service/labware/router.py
  robot-server/robot_server/service/pipette_offset/models.py
  robot-server/robot_server/service/pipette_offset/router.py
  robot-server/robot_server/service/protocol/models.py
  robot-server/robot_server/service/session/models/command.py
  robot-server/robot_server/service/session/models/session.py
  robot-server/robot_server/service/system/models.py
  robot-server/tests/service/json_api/test_request.py
  robot-server/tests/service/json_api/test_response.py
Labels: cpx, ready for review, refactor, robot server

#6577 feat(api): Add pipette pairing to the command log and support in rpc
  api/src/opentrons/api/session.py
  api/src/opentrons/commands/commands.py
  api/src/opentrons/protocol_api/paired_instrument_context.py
  api/src/opentrons/protocols/api_support/util.py
  api/src/opentrons/protocols/implementations/paired_instrument.py
  api/tests/opentrons/protocol_api/test_paired_context.py
Labels: api, ready for review

#6575 feat(protocol-designer): update mixFormToArgs with new delay fields
  protocol-designer/benchmarks/timelineGeneration.js
  protocol-designer/src/step-generation/__fixtures__/commandFixtures.js
  protocol-designer/src/step-generation/__tests__/consolidate.test.js
  protocol-designer/src/step-generation/__tests__/distribute.test.js
  protocol-designer/src/step-generation/__tests__/mix.test.js
  protocol-designer/src/step-generation/__tests__/transfer.test.js
  protocol-designer/src/step-generation/types.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/getDelayData.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/mixFormToArgs.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/moveLiquidFormToArgs.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/test/getDelayData.test.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/test/mixFormToArgs.test.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/test/moveLiquidFormToArgs.test.js
  protocol-designer/src/timelineMiddleware/__tests__/generateRobotStateTimeline.test.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#6582 refactor(app): make use of generic calibration panels in deck calibration
  app/src/components/CalibrateDeck/CompleteConfirmation.js
  app/src/components/CalibrateDeck/ConfirmClearDeckModal.js
  app/src/components/CalibrateDeck/ConfirmExitModal.js
  app/src/components/CalibrateDeck/Introduction.js
  app/src/components/CalibrateDeck/SaveXYPoint.js
  app/src/components/CalibrateDeck/SaveZPoint.js
  app/src/components/CalibrateDeck/TipConfirmation.js
  app/src/components/CalibrateDeck/TipPickUp.js
  app/src/components/CalibrateDeck/__tests__/CalibrateDeck.test.js
  app/src/components/CalibrateDeck/__tests__/Introduction.test.js
  app/src/components/CalibrateDeck/__tests__/SaveXYPoint.test.js
  app/src/components/CalibrateDeck/__tests__/SaveZPoint.test.js
  app/src/components/CalibrateDeck/__tests__/TipConfirmation.test.js
  app/src/components/CalibrateDeck/__tests__/TipPickUp.test.js
  app/src/components/CalibrateDeck/index.js
  app/src/components/CalibrateDeck/labwareImages.js
  app/src/components/CalibrateDeck/styles.css
  app/src/components/CalibrateDeck/types.js
  app/src/components/CalibrateDeck/utils.js
  app/src/components/CalibratePipetteOffset/index.js
  app/src/components/RobotSettings/DeckCalibrationControl.js
  components/src/__tests__/__snapshots__/modals.test.js.snap
  components/src/modals/ModalPage.js
Labels: app, components, hmg, ready for review

#6584 refactor(app): fix spacing in constant in SaveZPoint
  app/src/components/CalibrationPanels/SaveZPoint.js
Labels: app, hmg

#6581 refactor(api): Add a has_tip property on instrument context
  api/docs/v2/new_atomic_commands.rst
  api/docs/v2/versioning.rst
  api/src/opentrons/protocol_api/instrument_context.py
Labels: api, ready for review

#6586 fix(robot-server): pip offset: save offset from reference point
  robot-server/robot_server/robot/calibration/pipette_offset/user_flow.py
  robot-server/tests/robot/calibration/pipette_offset/test_user_flow.py
Labels: fix, robot server

#6610 chore(shared-data): clean build directory and check json changes during make wheel
  shared-data/python/Makefile
Labels: chore, shared data

#6616 fix(app): Ensure cal check exit button on the title modal only displays if there is no primary exit
  app/src/components/CheckCalibration/index.js
Labels: app, ready for review

#6608 refactor(app): update tip length calibration flow and use generic panels
  app/src/components/CalibrateTipLength/AskForCalibrationBlockModal.js
  app/src/components/CalibrateTipLength/CompleteConfirmation.js
  app/src/components/CalibrateTipLength/ConfirmExitModal.js
  app/src/components/CalibrateTipLength/DeckSetup.js
  app/src/components/CalibrateTipLength/Introduction.js
  app/src/components/CalibrateTipLength/MeasureNozzle.js
  app/src/components/CalibrateTipLength/MeasureTip.js
  app/src/components/CalibrateTipLength/TipConfirmation.js
  app/src/components/CalibrateTipLength/TipPickUp.js
  app/src/components/CalibrateTipLength/__tests__/CalibrateTipLength.test.js
  app/src/components/CalibrateTipLength/__tests__/CompleteConfirmation.test.js
  app/src/components/CalibrateTipLength/__tests__/DeckSetup.test.js
  app/src/components/CalibrateTipLength/__tests__/Introduction.test.js
  app/src/components/CalibrateTipLength/__tests__/MeasureNozzle.test.js
  app/src/components/CalibrateTipLength/__tests__/MeasureTip.test.js
  app/src/components/CalibrateTipLength/__tests__/TipConfirmation.test.js
  app/src/components/CalibrateTipLength/__tests__/TipPickUp.test.js
  app/src/components/CalibrateTipLength/index.js
  app/src/components/CalibrateTipLength/labwareImages.js
  app/src/components/CalibrateTipLength/types.js
  app/src/components/CalibrateTipLength/utils.js
  app/src/components/CalibrationPanels/CompleteConfirmation.js
  app/src/components/CalibrationPanels/ConfirmExitModal.js
  app/src/components/CalibrationPanels/DeckSetup.js
  app/src/components/CalibrationPanels/Introduction.js
  app/src/components/CalibrationPanels/TipConfirmation.js
  app/src/components/CalibrationPanels/__tests__/CompleteConfirmation.test.js
  app/src/components/CalibrationPanels/__tests__/ConfirmExitModal.test.js
  app/src/components/CalibrationPanels/__tests__/DeckSetup.test.js
  app/src/components/CalibrationPanels/__tests__/Introduction.test.js
  app/src/components/CalibrationPanels/__tests__/TipConfirmation.test.js
  app/src/components/CalibrationPanels/types.js
  app/src/pages/Calibrate/CalibrateTipLengthControl.js
Labels: app, hmg

#6621 fix(api): Increase the tolerance on this test for how long a function takes to execute
  api/tests/opentrons/hardware_control/modules/test_hc_thermocycler.py
Labels: api, ready for review

#6629 fix(protocol-designer): cast mix tip offset to number
  protocol-designer/src/steplist/fieldLevel/index.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/index.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/test/stepFormToArgs.test.js
Labels: :spider: SPDDRS, fix, protocol designer, ready for review

#6587 refactor(api, shared-data): use pipette offset in hardware control
  api/src/opentrons/config/pipette_config.py
  api/src/opentrons/config/robot_configs.py
  api/src/opentrons/hardware_control/api.py
  api/src/opentrons/hardware_control/pipette.py
  api/tests/opentrons/config/test_robots_config.py
  api/tests/opentrons/hardware_control/test_moves.py
  api/tests/opentrons/hardware_control/test_pipette.py
  api/tests/opentrons/util/test_tip_probe.py
  robot-server/robot_server/robot/calibration/pipette_offset/user_flow.py
  robot-server/tests/integration/test_settings_robot.tavern.yaml
  robot-server/tests/robot/calibration/deck/test_user_flow.py
  shared-data/js/__tests__/__snapshots__/pipettes.test.js.snap
  shared-data/pipette/definitions/pipetteModelSpecs.json
  shared-data/pipette/schemas/pipetteModelSpecsSchema.json
  shared-data/python/opentrons_shared_data/pipette/dev_types.py
Labels: api, refactor, shared data

#6560 feat(robot-server): create models for basic pipetting session commands
  robot-server/robot_server/service/session/models/command.py
Labels: cpx, robot server

#6620 fix(api): Do not perform a transfer if a zero volume is passed in
  api/docs/v2/new_complex_commands.rst
  api/docs/v2/versioning.rst
  api/src/opentrons/protocol_api/instrument_context.py
  api/src/opentrons/protocols/advanced_control/transfers.py
  api/src/opentrons/protocols/api_support/definitions.py
  api/tests/opentrons/protocols/advanced_control/test_transfers.py
  robot-server/tests/integration/test_health_check.tavern.yaml
Labels: api, ready for review

#6630 refactor(api, robot-server): add source field to robot calibrations
  api/src/opentrons/calibration_storage/dev_types.py
  api/src/opentrons/calibration_storage/get.py
  api/src/opentrons/calibration_storage/modify.py
  api/src/opentrons/calibration_storage/types.py
  api/src/opentrons/hardware_control/pipette.py
  api/src/opentrons/hardware_control/robot_calibration.py
  api/tests/opentrons/hardware_control/test_api_helpers.py
  api/tests/opentrons/hardware_control/test_calibration_functions.py
  api/tests/opentrons/hardware_control/test_moves.py
  api/tests/opentrons/hardware_control/test_pipette.py
  robot-server/robot_server/service/legacy/models/deck_calibration.py
  robot-server/robot_server/service/legacy/routers/deck_calibration.py
  robot-server/robot_server/service/pipette_offset/models.py
  robot-server/robot_server/service/pipette_offset/router.py
  robot-server/tests/integration/test_deck_calibration.tavern.yaml
  robot-server/tests/robot/calibration/deck/test_user_flow.py
  robot-server/tests/service/pipette_offset/test_pipette_offset_management.py
Labels: api, refactor, robot server

#6637 chore(app-shell): bump electron-devtools-installer to 3.1.1
  app-shell/package.json
  yarn.lock
Labels: app, chore

#6638 refactor(app): display pipette offset cal needed in pipettes card
  app/src/calibration/__tests__/reducer.test.js
  app/src/calibration/__tests__/selectors.test.js
  app/src/calibration/api-types.js
  app/src/calibration/epic/index.js
  app/src/calibration/index.js
  app/src/calibration/labware/__fixtures__/labware-calibration.js
  app/src/calibration/labware/__tests__/actions.test.js
  app/src/calibration/labware/__tests__/selectors.test.js
  app/src/calibration/labware/types.js
  app/src/calibration/pipette-offset/__fixtures__/index.js
  app/src/calibration/pipette-offset/__fixtures__/pipette-offset-calibration.js
  app/src/calibration/pipette-offset/__tests__/actions.test.js
  app/src/calibration/pipette-offset/__tests__/selectors.test.js
  app/src/calibration/pipette-offset/actions.js
  app/src/calibration/pipette-offset/constants.js
  app/src/calibration/pipette-offset/epic/__tests__/fetchPipetteOffsetCalibrationsEpic.test.js
  app/src/calibration/pipette-offset/epic/__tests__/fetchPipetteOffsetCalibrationsOnCalibrationEnd.test.js
  app/src/calibration/pipette-offset/epic/__tests__/fetchPipetteOffsetCalibrationsOnConnect.test.js
  app/src/calibration/pipette-offset/epic/fetchPipetteOffsetCalibrationsEpic.js
  app/src/calibration/pipette-offset/epic/fetchPipetteOffsetCalibrationsOnCalibrationEnd.js
  app/src/calibration/pipette-offset/epic/fetchPipetteOffsetCalibrationsOnConnect.js
  app/src/calibration/pipette-offset/epic/index.js
  app/src/calibration/pipette-offset/index.js
  app/src/calibration/pipette-offset/selectors.js
  app/src/calibration/pipette-offset/types.js
  app/src/calibration/reducer.js
  app/src/calibration/types.js
  app/src/components/InstrumentSettings/AttachedPipettesCard.js
  app/src/components/InstrumentSettings/PipetteInfo.js
  app/src/sessions/__fixtures__/index.js
Labels: app, refactor

#6588 refactor(api): abstract baseclasses for module contexts
  api/src/opentrons/protocol_api/implementation/interfaces/instrument_context.py
  api/src/opentrons/protocol_api/implementation/interfaces/labware.py
  api/src/opentrons/protocol_api/implementation/interfaces/modules/__init__.py
  api/src/opentrons/protocol_api/implementation/interfaces/modules/magnetic_module_context.py
  api/src/opentrons/protocol_api/implementation/interfaces/modules/module_context.py
  api/src/opentrons/protocol_api/implementation/interfaces/modules/temperature_module_context.py
  api/src/opentrons/protocol_api/implementation/interfaces/modules/thermocycler_module_context.py
  api/src/opentrons/protocol_api/implementation/interfaces/protocol_context.py
Labels: api, cpx, ready for review

#6606 feat(robot-server): http basic pipetting session - command routing and state store
  robot-server/robot_server/service/session/command_execution/command.py
  robot-server/robot_server/service/session/manager.py
  robot-server/robot_server/service/session/models/command.py
  robot-server/robot_server/service/session/models/session.py
  robot-server/robot_server/service/session/session_types/live_protocol/__init__.py
  robot-server/robot_server/service/session/session_types/live_protocol/command_executor.py
  robot-server/robot_server/service/session/session_types/live_protocol/command_interface.py
  robot-server/robot_server/service/session/session_types/live_protocol/session.py
  robot-server/robot_server/service/session/session_types/live_protocol/state_store.py
  robot-server/tests/integration/sessions/test_live_protocol.tavern.yaml
  robot-server/tests/service/session/session_types/live_protocol/__init__.py
  robot-server/tests/service/session/session_types/live_protocol/test_command_executor.py
  robot-server/tests/service/session/session_types/live_protocol/test_state_store.py
Labels: cpx, ready for review, robot server

#6640 feat(robot-server): http basic pipetting- load labware
  robot-server/robot_server/service/session/models/command.py
  robot-server/robot_server/service/session/router.py
  robot-server/robot_server/service/session/session_types/live_protocol/command_interface.py
  robot-server/robot_server/service/session/session_types/live_protocol/state_store.py
  robot-server/tests/conftest.py
  robot-server/tests/integration/sessions/test_live_protocol.tavern.yaml
  robot-server/tests/service/session/session_types/live_protocol/test_command_executor.py
  robot-server/tests/service/session/session_types/live_protocol/test_load_labware.py
  robot-server/tests/service/session/session_types/live_protocol/test_state_store.py
Labels: cpx, robot server

#6583 feat(protocol-designer): bump pd to 5.1.0; add migration
  protocol-designer/cypress/integration/migrations.spec.js
  protocol-designer/fixtures/protocol/5/doItAllV3.json
  protocol-designer/fixtures/protocol/5/doItAllV4.json
  protocol-designer/fixtures/protocol/5/doItAllV5.json
  protocol-designer/fixtures/protocol/5/example_1_1_0MigratedFromV1_0_0.json
  protocol-designer/fixtures/protocol/5/mix_5_0_x.json
  protocol-designer/fixtures/protocol/5/mix_5_1_0.json
  protocol-designer/fixtures/protocol/5/preFlexGrandfatheredProtocolMigratedFromV1_0_0.json
  protocol-designer/src/components/StepEditForm/forms/MixForm.js
  protocol-designer/src/components/StepEditForm/forms/__tests__/MixForm.test.js
  protocol-designer/src/feature-flags/reducers.js
  protocol-designer/src/feature-flags/selectors.js
  protocol-designer/src/feature-flags/types.js
  protocol-designer/src/load-file/migration/5_1_0.js
  protocol-designer/src/load-file/migration/index.js
  protocol-designer/src/localization/en/feature_flags.json
  protocol-designer/src/step-forms/test/createPresavedStepForm.test.js
  protocol-designer/src/steplist/formLevel/getDefaultsForStepType.js
  protocol-designer/src/steplist/formLevel/test/getDefaultsForStepType.test.js
  protocol-designer/webpack.config.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#6643 fix(protocol-designer): fix 5.1.0 migration
  protocol-designer/fixtures/protocol/5/doItAllV3.json
  protocol-designer/fixtures/protocol/5/example_1_1_0MigratedFromV1_0_0.json
  protocol-designer/fixtures/protocol/5/mix_5_1_0.json
  protocol-designer/fixtures/protocol/5/preFlexGrandfatheredProtocolMigratedFromV1_0_0.json
  protocol-designer/src/load-file/migration/5_1_0.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#6644 refactor(app): gate protocol calibrate and run on pipette offset cal
  app/src/calibration/pipette-offset/selectors.js
  app/src/components/FileInfo/Continue.js
  app/src/components/FileInfo/InstrumentItem.js
  app/src/components/FileInfo/MissingItemWarning.js
  app/src/components/FileInfo/ProtocolModulesCard.js
  app/src/components/FileInfo/ProtocolPipettesCard.js
  app/src/components/FileInfo/styles.css
  app/src/nav/__tests__/selectors.test.js
  app/src/nav/selectors.js
  app/src/pipettes/__tests__/protocol-pipette-selectors.test.js
  app/src/pipettes/selectors.js
  app/src/pipettes/types.js
Labels: app, refactor

#6648 feat(api): Add calibration status to all of the calibration data models
  api/src/opentrons/calibration_storage/dev_types.py
  api/src/opentrons/calibration_storage/get.py
  api/src/opentrons/calibration_storage/helpers.py
  api/src/opentrons/calibration_storage/modify.py
  api/src/opentrons/calibration_storage/types.py
  api/src/opentrons/hardware_control/robot_calibration.py
  api/tests/opentrons/hardware_control/test_api_helpers.py
  api/tests/opentrons/hardware_control/test_calibration_functions.py
  api/tests/opentrons/hardware_control/test_moves.py
  api/tests/opentrons/hardware_control/test_pipette.py
  api/tests/opentrons/protocol_api/test_offsets.py
  robot-server/robot_server/service/legacy/models/deck_calibration.py
  robot-server/robot_server/service/legacy/routers/deck_calibration.py
  robot-server/robot_server/service/pipette_offset/models.py
  robot-server/robot_server/service/pipette_offset/router.py
  robot-server/robot_server/service/shared_models/__init__.py
  robot-server/robot_server/service/shared_models/calibration.py
  robot-server/tests/integration/test_deck_calibration.tavern.yaml
  robot-server/tests/robot/calibration/deck/test_user_flow.py
  robot-server/tests/service/pipette_offset/test_pipette_offset_management.py
Labels: api, ready for review

#6649 refactor(app): robot settings calibration card
  app/src/components/RobotSettings/CalibrationCard.js
  app/src/components/RobotSettings/ControlsCard.js
  app/src/components/RobotSettings/DeckCalibrationControl.js
  app/src/components/RobotSettings/__tests__/CalibrationCard.test.js
  app/src/components/RobotSettings/__tests__/ControlsCard.test.js
  app/src/components/RobotSettings/constants.js
  app/src/components/RobotSettings/index.js
Labels: app, refactor

#6656 feat(protocol-designer): add dispenseAirGapVolume arg
  protocol-designer/src/form-types.js
  protocol-designer/src/step-generation/types.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/moveLiquidFormToArgs.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/test/moveLiquidFormToArgs.test.js
  protocol-designer/src/timelineMiddleware/__tests__/generateRobotStateTimeline.test.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#6657 refactor(robot-server, app): expose tip length calibration via http and fetch tip length data from robot
  api/src/opentrons/calibration_storage/delete.py
  api/src/opentrons/calibration_storage/dev_types.py
  api/src/opentrons/calibration_storage/get.py
  api/src/opentrons/calibration_storage/modify.py
  api/src/opentrons/calibration_storage/types.py
  api/tests/opentrons/protocol_api/test_offsets.py
  app/src/calibration/__tests__/reducer.test.js
  app/src/calibration/__tests__/selectors.test.js
  app/src/calibration/api-types.js
  app/src/calibration/labware/__tests__/selectors.test.js
  app/src/calibration/pipette-offset/__tests__/selectors.test.js
  app/src/calibration/reducer.js
  app/src/calibration/tip-length/__fixtures__/index.js
  app/src/calibration/tip-length/__fixtures__/tip-length-calibration.js
  app/src/calibration/tip-length/__tests__/actions.test.js
  app/src/calibration/tip-length/__tests__/selectors.test.js
  app/src/calibration/tip-length/actions.js
  app/src/calibration/tip-length/constants.js
  app/src/calibration/tip-length/epic/__tests__/fetchTipLengthCalibrationsEpic.test.js
  app/src/calibration/tip-length/epic/__tests__/fetchTipLengthCalibrationsOnCalibrationEnd.test.js
  app/src/calibration/tip-length/epic/fetchTipLengthCalibrationsEpic.js
  app/src/calibration/tip-length/epic/fetchTipLengthCalibrationsOnCalibrationEnd.js
  app/src/calibration/tip-length/epic/index.js
  app/src/calibration/tip-length/index.js
  app/src/calibration/tip-length/selectors.js
  app/src/calibration/tip-length/types.js
  app/src/calibration/types.js
  robot-server/robot_server/service/app.py
  robot-server/robot_server/service/pipette_offset/models.py
  robot-server/robot_server/service/pipette_offset/router.py
  robot-server/robot_server/service/tip_length/__init__.py
  robot-server/robot_server/service/tip_length/models.py
  robot-server/robot_server/service/tip_length/router.py
  robot-server/tests/conftest.py
  robot-server/tests/integration/test_tip_length_access.tavern.yaml
  robot-server/tests/service/tip_length/__init__.py
  robot-server/tests/service/tip_length/test_tip_length_management.py
Labels: app, refactor, robot server
