Repository Opentrons/opentrons, pull requests merged in 2020-02, with the labels that each got.

#4846 feat(shared-data): new v4 JSON protocol schema
  protocol-designer/src/components/DeckSetup/getModuleVizDims.js
  protocol-designer/src/components/modals/EditModulesModal/index.js
  protocol-designer/src/constants.js
  protocol-designer/src/file-data/selectors/fileCreator.js
  protocol-designer/src/step-forms/reducers/index.js
  protocol-designer/src/step-generation/commandCreators/atomic/deactivateTemperature.js
  protocol-designer/src/step-generation/commandCreators/atomic/setTemperature.js
  protocol-designer/src/step-generation/getNextRobotStateAndWarnings/index.js
  protocol-designer/src/step-generation/getNextRobotStateAndWarnings/magnetUpdates.js
  protocol-designer/src/step-generation/getNextRobotStateAndWarnings/temperatureUpdates.js
  protocol-designer/src/step-generation/test-with-flow/deactivateTemperature.test.js
  protocol-designer/src/step-generation/test-with-flow/setTemperature.test.js
  protocol-designer/src/step-generation/types.js
  shared-data/js/__tests__/protocolSchemaV4.test.js
  shared-data/js/constants.js
  shared-data/js/modules.js
  shared-data/js/types.js
  shared-data/module/definitions/2.json
  shared-data/module/schemas/2.json
  shared-data/protocol/fixtures/4/simpleV4.json
  shared-data/protocol/fixtures/4/testMagneticModuleV4.json
  shared-data/protocol/fixtures/4/testTemperatureModuleV4.json
  shared-data/protocol/fixtures/futureproofV4.json
  shared-data/protocol/flowTypes/schemaV4.js
  shared-data/protocol/schemas/4.json
Labels: json protocol schema, ready for review

#4915 fix(api): Ensure position is fully updated after a home
  api/src/opentrons/hardware_control/__init__.py
Labels: api, ready for review

#4892 refactor(components): consolidate react-select styling into Select
  .flowconfig
  app/src/components/ChangePipette/Instructions.js
  app/src/components/ChangePipette/PipetteSelection.js
  app/src/components/RobotSettings/SelectNetwork/ConnectForm.js
  app/src/components/RobotSettings/SelectNetwork/SelectKey.js
  app/src/components/RobotSettings/SelectNetwork/SelectSsid.js
  app/src/components/RobotSettings/SelectNetwork/fields.js
  app/src/components/RobotSettings/SelectNetwork/index.js
  components/package.json
  components/src/forms/Select.css
  components/src/forms/Select.js
  components/src/forms/Select.md
  components/src/forms/SelectField.css
  components/src/forms/SelectField.js
  components/src/forms/SelectField.md
  components/src/forms/__tests__/Select.test.js
  components/src/forms/__tests__/SelectField.test.js
  components/src/forms/index.js
  components/src/instrument/PipetteSelect.css
  components/src/instrument/PipetteSelect.js
  components/src/instrument/PipetteSelect.md
  components/src/instrument/__tests__/PipetteSelect.test.js
  components/src/instrument/index.js
  labware-library/src/labware-creator/components/Dropdown.js
  labware-library/src/labware-creator/index.js
  protocol-designer/src/components/StepEditForm/fields/ChangeTipField/ChangeTip.js
  protocol-designer/src/components/modals/FilePipettesModal/PipetteFields.js
  shared-data/js/constants.js
  shared-data/js/types.js
  yarn.lock
Labels: app, cpx, ready for review, refactor

#4809 build(make): ensure SHELL includes PATH in its environment
  Makefile
  api/Makefile
  app-shell/Makefile
  app/Makefile
  components/Makefile
  discovery-client/Makefile
  labware-designer/Makefile
  labware-library/Makefile
  protocol-designer/Makefile
  protocol-library-kludge/Makefile
  shared-data/Makefile
  update-server/Makefile
Labels: chore, cpx

#4921 feat(protocol-designer): Add clarity around engage height
  protocol-designer/src/components/StepEditForm/StepEditForm.css
  protocol-designer/src/components/StepEditForm/forms/MagnetForm.js
  protocol-designer/src/images/modules/engage_height_animation.gif
  protocol-designer/src/images/modules/engage_height_static.png
  protocol-designer/src/localization/en/form.json
Labels: feature, ready for review

#4928 refactor(protocol-designer): Update range caption copy
  protocol-designer/src/steplist/fieldLevel/errors.js
Labels: protocol designer, ready for review

#4926 feat(protocol-designer): hook up wait for temp in PD
  protocol-designer/src/file-data/selectors/commands.js
  protocol-designer/src/localization/en/alert.json
  protocol-designer/src/step-generation/commandCreators/atomic/awaitTemperature.js
  protocol-designer/src/step-generation/commandCreators/atomic/index.js
  protocol-designer/src/step-generation/commandCreators/index.js
  protocol-designer/src/step-generation/errorCreators.js
  protocol-designer/src/step-generation/getNextRobotStateAndWarnings/index.js
  protocol-designer/src/step-generation/getNextRobotStateAndWarnings/temperatureUpdates.js
  protocol-designer/src/step-generation/index.js
  protocol-designer/src/step-generation/test-with-flow/awaitTemperature.test.js
  protocol-designer/src/step-generation/test-with-flow/fixtures/robotStateFixtures.js
  protocol-designer/src/step-generation/test-with-flow/temperatureUpdates.test.js
  protocol-designer/src/step-generation/types.js
  protocol-designer/src/step-generation/utils/misc.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/pauseFormToArgs.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/test/pauseFormToArgs.test.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#4916 feat(protocol-designer): Add module slot placement guidance
  protocol-designer/src/components/FilePage.js
  protocol-designer/src/components/StepEditForm/forms/PauseForm.js
  protocol-designer/src/components/modals/EditModulesModal/EditModules.css
  protocol-designer/src/components/modals/EditModulesModal/index.js
  protocol-designer/src/components/modals/FilePipettesModal/index.js
  protocol-designer/src/components/modules/EditModulesCard.js
  protocol-designer/src/components/modules/ModuleRow.js
  protocol-designer/src/components/modules/styles.css
  protocol-designer/src/localization/en/tooltip.json
  protocol-designer/src/step-forms/utils.js
Labels: protocol designer, ready for review

#4935 fix(api): detect old bootloaders, fix tc enter bootloader, remove ununused paths
  api/src/opentrons/drivers/thermocycler/driver.py
  api/src/opentrons/hardware_control/modules/__init__.py
  api/src/opentrons/hardware_control/modules/magdeck.py
  api/src/opentrons/hardware_control/modules/tempdeck.py
  api/src/opentrons/hardware_control/modules/thermocycler.py
  api/src/opentrons/hardware_control/modules/types.py
  api/src/opentrons/hardware_control/modules/update.py
  api/src/opentrons/server/endpoints/update.py
  api/tests/opentrons/hardware_control/test_modules.py
  api/tests/opentrons/labware/test_modules.py
Labels: api, fix, hmg, ready for review, refactor

#4941 chore(*): add CODEOWNERS to repo
  .github/CODEOWNERS
Labels: chore

#4932 feat(protocol-designer): render substep section in timeline for set temperature step
  protocol-designer/src/components/steplist/ModuleStepItems.js
  protocol-designer/src/components/steplist/StepItem.css
  protocol-designer/src/components/steplist/StepItem.js
  protocol-designer/src/components/steplist/__tests__/ModuleStepItems.test.js
  protocol-designer/src/components/steplist/__tests__/StepItem.test.js
  protocol-designer/src/localization/en/modules.json
  protocol-designer/src/steplist/generateSubsteps.js
  protocol-designer/src/steplist/test/generateSubsteps.test.js
  protocol-designer/src/steplist/types.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#4942 fix(api): amend temperature module old bootloader check
  api/src/opentrons/hardware_control/modules/tempdeck.py
Labels: api, fix

#4918 feat(app): allow custom labware dir to be opened and reset to default
  __mocks__/electron.js
  app-shell/src/config.js
  app-shell/src/labware/__tests__/dispatch.test.js
  app-shell/src/labware/index.js
  app/src/components/AddLabwareCard/AddLabware.js
  app/src/components/AddLabwareCard/AddLabwareFailureModal.js
  app/src/components/AddLabwareCard/ConfirmResetPathModal.js
  app/src/components/AddLabwareCard/ManagePath.js
  app/src/components/AddLabwareCard/__tests__/AddLabware.test.js
  app/src/components/AddLabwareCard/__tests__/AddLabwareCard.test.js
  app/src/components/AddLabwareCard/__tests__/AddLabwareFailureModal.test.js
  app/src/components/AddLabwareCard/__tests__/ConfirmResetPathModal.test.js
  app/src/components/AddLabwareCard/__tests__/ManagePath.test.js
  app/src/components/AddLabwareCard/__tests__/__snapshots__/AddLabware.test.js.snap
  app/src/components/AddLabwareCard/__tests__/__snapshots__/AddLabwareFailureModal.test.js.snap
  app/src/components/AddLabwareCard/__tests__/__snapshots__/ManagePath.test.js.snap
  app/src/components/AddLabwareCard/index.js
  app/src/components/AddLabwareCard/styles.css
  app/src/components/IconCta/__tests__/IconCta.test.js
  app/src/components/IconCta/index.js
  app/src/components/IconCta/styles.css
  app/src/config/__tests__/config.test.js
  app/src/config/actions.js
  app/src/config/constants.js
  app/src/config/index.js
  app/src/config/reducer.js
  app/src/config/types.js
  app/src/custom-labware/__tests__/actions.test.js
  app/src/custom-labware/__tests__/selectors.test.js
  app/src/custom-labware/actions.js
  app/src/custom-labware/selectors.js
  app/src/custom-labware/types.js
  app/src/reducer.js
  components/src/__tests__/__snapshots__/icons.test.js.snap
  components/src/buttons/Button.js
  components/src/buttons/IconButton.js
  components/src/controls/ToggleButton.js
  components/src/icons/icon-data.js
Labels: app, cpx, feature, ready for review

#4945 feat(protocol-designer): Add awaitTemperature substep items
  protocol-designer/src/components/steplist/PauseStepItems.js
  protocol-designer/src/components/steplist/StepItem.js
  protocol-designer/src/components/steplist/__tests__/StepItem.test.js
  protocol-designer/src/localization/en/modules.json
  protocol-designer/src/step-generation/types.js
  protocol-designer/src/steplist/generateSubsteps.js
  protocol-designer/src/steplist/types.js
Labels: feature, protocol designer, ready for review

#4943 feat(protocol-designer): display temperature status on deck
  protocol-designer/src/components/DeckSetup/ModuleTag.js
  protocol-designer/src/components/DeckSetup/__tests__/ModuleTag.test.js
  protocol-designer/src/localization/en/modules.json
  protocol-designer/src/step-generation/commandCreators/atomic/awaitTemperature.js
  protocol-designer/src/step-generation/getNextRobotStateAndWarnings/magnetUpdates.js
  protocol-designer/src/step-generation/getNextRobotStateAndWarnings/temperatureUpdates.js
  protocol-designer/src/step-generation/robotStateSelectors.js
  protocol-designer/src/step-generation/test-with-flow/robotStateSelectors.test.js
  protocol-designer/src/step-generation/utils/misc.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#4944 feat(protocol-designer): add field and form level validation f…
  protocol-designer/src/steplist/fieldLevel/index.js
  protocol-designer/src/steplist/formLevel/handleFormChange/dependentFieldsUpdatePause.js
  protocol-designer/src/steplist/formLevel/handleFormChange/index.js
  protocol-designer/src/steplist/formLevel/index.js
  protocol-designer/src/steplist/formLevel/warnings.js
Labels: protocol designer, ready for review

#4947 refactor(app): Move GET /networking/status to top-level networking state
  app/src/components/RobotSettings/ConnectionCard.js
  app/src/components/RobotSettings/SelectNetwork/index.js
  app/src/components/RobotSettings/__tests__/ConnectionCard.test.js
  app/src/components/RobotSettings/connection.js
  app/src/components/RobotSettings/index.js
  app/src/epic.js
  app/src/http-api-client/__tests__/networking.test.js
  app/src/http-api-client/networking.js
  app/src/networking/__fixtures__/index.js
  app/src/networking/__fixtures__/status.js
  app/src/networking/__tests__/actions.test.js
  app/src/networking/__tests__/reducer.test.js
  app/src/networking/__tests__/selectors.test.js
  app/src/networking/actions.js
  app/src/networking/constants.js
  app/src/networking/epic/__tests__/statusEpic.test.js
  app/src/networking/epic/index.js
  app/src/networking/epic/statusEpic.js
  app/src/networking/index.js
  app/src/networking/reducer.js
  app/src/networking/selectors.js
  app/src/networking/types.js
  app/src/reducer.js
  app/src/robot-api/__fixtures__/index.js
  app/src/robot-api/__tests__/reducer.test.js
  app/src/types.js
Labels: app, cpx, ready for review, refactor

#4965 docs(api): add API version changelog to v2/versioning.rst
  api/docs/v2/new_modules.rst
  api/docs/v2/versioning.rst
Labels: api, docs, hmg

#4958 chore(api): move tempdeck version check earlier
  api/Makefile
  api/src/opentrons/hardware_control/modules/tempdeck.py
  api/tests/opentrons/server/test_control_endpoints.py
Labels: api, chore, hmg

#4966 docs(api): Add More Changes in Protocol Version 2.2
  api/docs/v2/new_atomic_commands.rst
  api/docs/v2/versioning.rst
Labels: docs, ready for review

#4967 fix(api): more specific errors for bad json protocols
  api/src/opentrons/protocols/parse.py
  api/tests/opentrons/protocols/test_parse.py
Labels: api, fix, ux review required

#4969 chore(release): 3.16.0-alpha.0
  CHANGELOG.md
  api/release-notes.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/build/release-notes.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore, release 🚢

#4950 feat(protocol-designer): reset time fields in pause step
  protocol-designer/src/steplist/formLevel/handleFormChange/dependentFieldsUpdatePause.js
Labels: protocol designer, ready for review

#4931 refactor(api): split module labware handling
  api/src/opentrons/api/models.py
  api/src/opentrons/api/session.py
  api/src/opentrons/commands/commands.py
  api/src/opentrons/protocol_api/definitions.py
  api/src/opentrons/protocol_api/geometry.py
  api/src/opentrons/protocol_api/labware.py
  api/src/opentrons/protocol_api/module_contexts.py
  api/src/opentrons/protocol_api/module_geometry.py
  api/src/opentrons/protocol_api/protocol_context.py
  api/src/opentrons/types.py
  api/tests/opentrons/protocol_api/test_geometry.py
  api/tests/opentrons/protocol_api/test_labware.py
Labels: api, hmg, papi v2, refactor

#4976 refactor(app): Fix custom labware directory button backgrounds
  app/src/components/IconCta/styles.css
Labels: app, cpx, fix, ready for review

#4972 feat(protocol-designer): allow modules to be placed on compatble labware
  protocol-designer/src/components/modals/EditModulesModal/__tests__/EditModulesModal.test.js
  protocol-designer/src/components/modals/EditModulesModal/index.js
  protocol-designer/src/step-forms/utils.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#4978 fix(protocol-designer): Update experimental settings warning text
  protocol-designer/src/components/SettingsPage/FeatureFlagCard/FeatureFlagCard.js
  protocol-designer/src/components/modals/modal.css
  protocol-designer/src/localization/en/modal.json
Labels: bug, fix, protocol designer, ready for review

#4962 feat(api): Define existing endpoints using FastAPI/Pydantic
  api/Pipfile
  api/Pipfile.lock
  api/src/opentrons/app/__init__.py
  api/src/opentrons/app/dependencies.py
  api/src/opentrons/app/main.py
  api/src/opentrons/app/models/__init__.py
  api/src/opentrons/app/models/control.py
  api/src/opentrons/app/models/deck_calibration.py
  api/src/opentrons/app/models/health.py
  api/src/opentrons/app/models/networking.py
  api/src/opentrons/app/models/settings.py
  api/src/opentrons/app/routers/__init__.py
  api/src/opentrons/app/routers/control.py
  api/src/opentrons/app/routers/deck_calibration.py
  api/src/opentrons/app/routers/health.py
  api/src/opentrons/app/routers/networking.py
  api/src/opentrons/app/routers/settings.py
  api/src/opentrons/config/advanced_settings.py
  api/src/opentrons/config/feature_flags.py
  api/src/opentrons/server/__init__.py
  api/tests/opentrons/config/test_advanced_settings_migration.py
Labels: api, cpx, ready for review

#4980 fix(api): swallow hard-halt-related errors and hold lock in session.stop()
  api/src/opentrons/api/session.py
  api/src/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/src/opentrons/hardware_control/__init__.py
  api/src/opentrons/protocol_api/execute.py
Labels: api, fix, ready for review

#4988 chore(release): 3.16.0-alpha.1
  CHANGELOG.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore, release 🚢

#4957 feat(api): add wifi disconnect capability
  api/src/opentrons/server/endpoints/networking.py
  api/src/opentrons/server/http.py
  api/src/opentrons/server/openapi.json
  api/src/opentrons/system/nmcli.py
  api/tests/opentrons/server/test_networking_endpoints.py
Labels: api, cpx

#4951 refactor(app): simplify top-level Epic type
  app/src/modules/epic/fetchModulesEpic.js
  app/src/modules/epic/pollModulesWhileConnectedEpic.js
  app/src/modules/epic/sendModuleCommandEpic.js
  app/src/modules/epic/updateModuleEpic.js
  app/src/modules/types.js
  app/src/networking/epic/index.js
  app/src/networking/epic/statusEpic.js
  app/src/pipettes/epic/fetchPipetteSettingsEpic.js
  app/src/pipettes/epic/fetchPipettesEpic.js
  app/src/pipettes/epic/fetchPipettesOnConnectEpic.js
  app/src/pipettes/epic/updatePipetteSettingsEpic.js
  app/src/pipettes/types.js
  app/src/robot-admin/epic/fetchResetOptionsEpic.js
  app/src/robot-admin/epic/resetConfigEpic.js
  app/src/robot-admin/epic/restartEpic.js
  app/src/robot-admin/types.js
  app/src/robot-api/operators.js
  app/src/robot-controls/epic/fetchLightsEpic.js
  app/src/robot-controls/epic/homeEpic.js
  app/src/robot-controls/epic/moveEpic.js
  app/src/robot-controls/epic/updateLightsEpic.js
  app/src/robot-controls/types.js
  app/src/robot-settings/epic/clearRestartPathEpic.js
  app/src/robot-settings/epic/fetchSettingsEpic.js
  app/src/robot-settings/epic/updateSettingEpic.js
  app/src/robot-settings/types.js
  app/src/robot/test/api-client.test.js
  app/src/shell/epic.js
  app/src/types.js
  app/src/util.js
Labels: app, ready for review, refactor

#4986 refactor(api): hw controller dir for clarity and avoiding circ deps
  api/src/opentrons/hardware_control/__init__.py
  api/src/opentrons/hardware_control/adapters.py
  api/src/opentrons/hardware_control/api.py
  api/src/opentrons/hardware_control/constants.py
  api/src/opentrons/hardware_control/controller.py
  api/src/opentrons/hardware_control/modules/__init__.py
  api/src/opentrons/hardware_control/modules/magdeck.py
  api/src/opentrons/hardware_control/modules/mod_abc.py
  api/src/opentrons/hardware_control/modules/tempdeck.py
  api/src/opentrons/hardware_control/modules/thermocycler.py
  api/src/opentrons/hardware_control/modules/types.py
  api/src/opentrons/hardware_control/modules/update.py
  api/src/opentrons/hardware_control/modules/utils.py
  api/src/opentrons/hardware_control/simulator.py
  api/src/opentrons/hardware_control/types.py
  api/src/opentrons/hardware_control/util.py
  api/src/opentrons/main.py
  api/src/opentrons/protocol_api/instrument_context.py
  api/src/opentrons/protocol_api/module_contexts.py
  api/src/opentrons/protocol_api/util.py
  api/src/opentrons/server/endpoints/update.py
  api/tests/opentrons/server/test_control_endpoints.py
Labels: api, ready for review, refactor

#4996 fix(protocol-designer): Update SlotMap and CrashInfoBox styles
  components/src/__tests__/__snapshots__/slotmap.test.js.snap
  components/src/slotmap/SlotMap.js
  components/src/slotmap/__tests__/SlotMap.test.js
  components/src/slotmap/styles.css
  protocol-designer/src/components/modules/CrashInfoBox.js
  protocol-designer/src/components/modules/styles.css
Labels: fix, protocol designer, ready for review

#4993 fix(protocol-designer): round caption under engage height to match input box
  protocol-designer/src/components/StepEditForm/forms/MagnetForm.js
  protocol-designer/src/components/StepEditForm/forms/__tests__/MagnetForm.test.js
  protocol-designer/src/ui/steps/actions/__tests__/actions.test.js
  protocol-designer/src/ui/steps/actions/actions.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#5000 chore(release): 3.16.0-alpha.2
  CHANGELOG.md
  api/release-notes.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore, release 🚢

#5003 fix(api): fix recent change breaking api server init
  api/src/opentrons/main.py
Labels: api, fix

#5005 chore(api): bump required jsonschema in pypi config
  api/setup.py
Labels: chore, hmg

#5006 chore(api): Constrain jsonschema dependency to current major version
  api/setup.py
Labels: api, chore

#5015 fix(api): make probe failures raise the actual error
  api/src/opentrons/drivers/smoothie_drivers/driver_3_0.py
Labels: api, fix

#5016 chore(release): 3.16.0-alpha.3
  CHANGELOG.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore, release 🚢

#4997 fix(shared-data): fix typo in v4 protocol schema
  shared-data/protocol/schemas/4.json
Labels: fix, json protocol schema, ready for review

#5017 fix(protocol-designer): null out deleted module IDs from step forms
  protocol-designer/src/step-forms/reducers/index.js
  protocol-designer/src/step-forms/test/reducers.test.js
  protocol-designer/src/steplist/formLevel/errors.js
  protocol-designer/src/steplist/formLevel/index.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#5023 refactor(app): add state for GET /wifi/list to networking module
  app/src/networking/__fixtures__/index.js
  app/src/networking/__fixtures__/list.js
  app/src/networking/__tests__/actions.test.js
  app/src/networking/__tests__/reducer.test.js
  app/src/networking/__tests__/selectors.test.js
  app/src/networking/actions.js
  app/src/networking/constants.js
  app/src/networking/epic/__tests__/wifiListEpic.test.js
  app/src/networking/epic/index.js
  app/src/networking/epic/wifiListEpic.js
  app/src/networking/reducer.js
  app/src/networking/selectors.js
  app/src/networking/types.js
Labels: app, ready for review, refactor

#5024 chore(release): 3.16.0
  CHANGELOG.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/build/release-notes.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore, release 🚢

#4992 refactor(discovery-client): switch default exports to named exports
  app-shell/src/__tests__/discovery.test.js
  app-shell/src/discovery.js
  discovery-client/README.md
  discovery-client/src/__fixtures__/mdns-browser-service.js
  discovery-client/src/__fixtures__/service.js
  discovery-client/src/__tests__/client.test.js
  discovery-client/src/__tests__/service-list.test.js
  discovery-client/src/__tests__/service.test.js
  discovery-client/src/cli.js
  discovery-client/src/index.js
  discovery-client/src/mdns-browser.js
Labels: JS Tech Debt, cpx, ready for review, refactor

#5050 chore(bump): v3.16.1-beta.0
  CHANGELOG.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore, release 🚢

#4936 refactor(shared-data): split v2 module defs into own files
  shared-data/js/__tests__/moduleAccessors.test.js
  shared-data/js/__tests__/moduleSpecsSchema.test.js
  shared-data/js/constants.js
  shared-data/js/modules.js
  shared-data/js/types.js
  shared-data/module/definitions/2.json
  shared-data/module/definitions/2/magneticModuleV1.json
  shared-data/module/definitions/2/magneticModuleV2.json
  shared-data/module/definitions/2/temperatureModuleV1.json
  shared-data/module/definitions/2/temperatureModuleV2.json
  shared-data/module/definitions/2/thermocyclerModuleV1.json
  shared-data/module/schemas/2.json
Labels: hmg, shared data

#5048 fix(app): Deck cal: Tell users to attach an Opentrons tip, not a GEB tip.
  app/src/components/CalibrateDeck/AttachTip.js
Labels: app, fix, ready for review

#5041 chore(*): Separate feature request and bug report issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: chore, ready for review

#4959 build(js): upgrade babel and webpack toolchains
  .flowconfig
  app/package.json
  app/src/components/App.js
  app/src/index.js
  babel.config.js
  components/package.json
  flow-typed/npm/react-hot-loader_v4.6.x.js
  labware-library/package.json
  package.json
  protocol-designer/package.json
  protocol-library-kludge/package.json
  protocol-library-kludge/src/App.js
  protocol-library-kludge/src/index.js
  shared-data/js/index.js
  webpack-config/lib/base-config.js
  webpack-config/lib/rules.js
  yarn.lock
Labels: JS Tech Debt, chore, ready for review

#5046 feat(protocol-designer): warn user when exporting a file with an unused pipette and module
  protocol-designer/src/components/FileSidebar/FileSidebar.js
  protocol-designer/src/components/FileSidebar/__tests__/FileSidebar.test.js
  protocol-designer/src/components/FileSidebar/index.js
  protocol-designer/src/components/FileSidebar/utils/__tests__/getUnusedEntities.test.js
  protocol-designer/src/components/FileSidebar/utils/getUnusedEntities.js
  protocol-designer/src/components/FileSidebar/utils/index.js
  protocol-designer/src/localization/en/alert.json
  protocol-designer/src/step-forms/index.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#5057 refactor(js): remove remaining default exports and adjust lint config
  .eslintrc.js
  Makefile
  protocol-library-kludge/src/App.js
  protocol-library-kludge/src/URLDeck.js
  shared-data/js/__tests__/labwareDefSchemaV1.test.js
  shared-data/js/helpers/getWellTotalVolume.js
  shared-data/js/helpers/index.js
  shared-data/js/helpers/wellIsRect.js
  shared-data/js/schema.js
Labels: :spider: SPDDRS, JS Tech Debt, cpx, ready for review, refactor

#5072 fix(api): fix a spinlock in pre-home plunger unsticking
  api/src/opentrons/drivers/smoothie_drivers/driver_3_0.py
Labels: api, fix

#5029 feat(protocol-designer): disambiguate module model vs type
  protocol-designer/src/components/DeckSetup/DeckSetup.js
  protocol-designer/src/components/DeckSetup/LabwareOverlays/SlotControls.js
  protocol-designer/src/components/DeckSetup/ModuleTag.js
  protocol-designer/src/components/DeckSetup/__tests__/ModuleTag.test.js
  protocol-designer/src/components/DeckSetup/getModuleVizDims.js
  protocol-designer/src/components/FilePage.js
  protocol-designer/src/components/LabwareSelectionModal/LabwareSelectionModal.js
  protocol-designer/src/components/StepCreationButton.js
  protocol-designer/src/components/modals/EditModulesModal/__tests__/EditModulesModal.test.js
  protocol-designer/src/components/modals/EditModulesModal/index.js
  protocol-designer/src/components/modals/FilePipettesModal/ModuleFields.js
  protocol-designer/src/components/modals/FilePipettesModal/index.js
  protocol-designer/src/components/modules/EditModulesCard.js
  protocol-designer/src/components/modules/ModuleDiagram.js
  protocol-designer/src/components/modules/ModuleRow.js
  protocol-designer/src/components/steplist/ModuleStepItems.js
  protocol-designer/src/components/steplist/StepItem.js
  protocol-designer/src/components/steplist/__tests__/ModuleStepItems.test.js
  protocol-designer/src/constants.js
  protocol-designer/src/localization/en/form.json
  protocol-designer/src/localization/en/modules.json
  protocol-designer/src/modules/moduleData.js
  protocol-designer/src/step-forms/actions/modules.js
  protocol-designer/src/step-forms/reducers/index.js
  protocol-designer/src/step-forms/selectors/index.js
  protocol-designer/src/step-forms/test/reducers.test.js
  protocol-designer/src/step-forms/types.js
  protocol-designer/src/step-forms/utils.js
  protocol-designer/src/step-generation/__fixtures__/robotStateFixtures.js
  protocol-designer/src/step-generation/__tests__/__snapshots__/utils.test.js.snap
  protocol-designer/src/step-generation/__tests__/disengageMagnet.test.js
  protocol-designer/src/step-generation/__tests__/engageMagnet.test.js
  protocol-designer/src/step-generation/__tests__/robotStateSelectors.test.js
  protocol-designer/src/step-generation/__tests__/updateMagneticModule.test.js
  protocol-designer/src/step-generation/__tests__/utils.test.js
  protocol-designer/src/step-generation/commandCreators/atomic/awaitTemperature.js
  protocol-designer/src/step-generation/commandCreators/atomic/deactivateTemperature.js
  protocol-designer/src/step-generation/commandCreators/atomic/disengageMagnet.js
  protocol-designer/src/step-generation/commandCreators/atomic/engageMagnet.js
  protocol-designer/src/step-generation/commandCreators/atomic/setTemperature.js
  protocol-designer/src/step-generation/getNextRobotStateAndWarnings/magnetUpdates.js
  protocol-designer/src/step-generation/getNextRobotStateAndWarnings/temperatureUpdates.js
  protocol-designer/src/step-generation/utils/modulePipetteCollision.js
  protocol-designer/src/steplist/formLevel/getNextDefaultModuleId/__tests__/getNextDefaultModuleId.test.js
  protocol-designer/src/steplist/formLevel/getNextDefaultModuleId/index.js
  protocol-designer/src/ui/modules/selectors.js
  protocol-designer/src/ui/modules/utils.js
  protocol-designer/src/ui/steps/test/selectors.test.js
  protocol-designer/src/utils/labwareModuleCompatibility.js
  shared-data/js/constants.js
  shared-data/js/modules.js
  shared-data/js/types.js
  shared-data/protocol/flowTypes/schemaV4.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#5056 feat(protocol-designer): unify "button row" styles
  protocol-designer/src/components/FilePage.css
  protocol-designer/src/components/FilePage.js
  protocol-designer/src/components/StepEditForm/ButtonRow/index.js
  protocol-designer/src/components/StepEditForm/ButtonRow/styles.css
  protocol-designer/src/components/StepEditForm/StepEditForm.css
  protocol-designer/src/components/StepEditForm/fields/TipPositionField/TipPositionInput.css
  protocol-designer/src/components/StepEditForm/fields/TipPositionField/TipPositionModal.js
  protocol-designer/src/components/StepEditForm/fields/WellOrderField/WellOrderInput.css
  protocol-designer/src/components/StepEditForm/fields/WellOrderField/WellOrderModal.js
  protocol-designer/src/components/modals/EditModulesModal/EditModules.css
  protocol-designer/src/components/modals/EditModulesModal/index.js
  protocol-designer/src/components/modals/EditPipettesModal/StepChangesConfirmModal.css
  protocol-designer/src/components/modals/EditPipettesModal/StepChangesConfirmModal.js
  protocol-designer/src/components/modals/FilePipettesModal/FilePipettesModal.css
  protocol-designer/src/components/modals/FilePipettesModal/index.js
  protocol-designer/src/components/modals/modal.css
Labels: protocol designer, ready for review

#5077 fix(protocol-designer): fix tests for FileSidebar after merging #5029
  protocol-designer/src/components/FileSidebar/__tests__/FileSidebar.test.js
  protocol-designer/src/components/FileSidebar/utils/__tests__/getUnusedEntities.test.js
Labels: :spider: SPDDRS, fix, protocol designer, ready for review

#5081 chore(bump): 3.16.1
  CHANGELOG.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore, release 🚢

#5082 chore(merge): changes from hotfix 3.16.1
  CHANGELOG.md
  api/release-notes.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/api/session.py
  api/src/opentrons/execute.py
  api/src/opentrons/package.json
  api/src/opentrons/protocol_api/labware.py
  api/src/opentrons/simulate.py
  api/tests/opentrons/protocol_api/test_labware.py
  app-shell/CHANGELOG.md
  app-shell/build/release-notes.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore

#5074 refactor(app): add wifi configure actions and epics to networking module
  app/src/networking/__fixtures__/configure.js
  app/src/networking/__fixtures__/index.js
  app/src/networking/__tests__/actions.test.js
  app/src/networking/actions.js
  app/src/networking/api-types.js
  app/src/networking/constants.js
  app/src/networking/epic/__tests__/wifiConfigureEpic.test.js
  app/src/networking/epic/index.js
  app/src/networking/epic/wifiConfigureEpic.js
  app/src/networking/types.js
Labels: app, cpx, ready for review, refactor

#5058 refactor(js): Upgade Flow to v0.119.1 and fix type errors
  .flowconfig
  app/src/components/DeckMap/index.js
  app/src/components/JogControls/index.js
  app/src/components/RobotSettings/SelectNetwork/ConnectForm.js
  app/src/components/RobotSettings/SelectNetwork/fields.js
  app/src/components/calibrate-pipettes/Pipettes.js
  app/src/http-api-client/reducer.js
  app/src/pipettes/selectors.js
  app/src/pipettes/types.js
  app/src/robot/reducer/calibration.js
  components/src/deck/RobotCoordsForeignDiv.js
  components/src/forms/DropdownField.js
  components/src/modals/AlertModal.js
  components/src/tooltips/Tooltip.js
  package.json
  protocol-designer/src/components/SettingsPage/FeatureFlagCard/FeatureFlagCard.js
  protocol-designer/src/components/StepEditForm/fields/TipPositionField/TipPositionModal.js
  protocol-designer/src/components/modals/FilePipettesModal/index.js
  protocol-designer/src/components/steplist/StepItem.js
  protocol-designer/src/components/steplist/__tests__/StepItem.test.js
  protocol-designer/src/file-data/selectors/fileCreator.js
  protocol-designer/src/labware-ingred/reducers/index.js
  protocol-designer/src/labware-ingred/selectors.js
  protocol-designer/src/load-file/migration/1_1_0.js
  protocol-designer/src/persist.js
  protocol-designer/src/step-forms/reducers/index.js
  protocol-designer/src/step-forms/selectors/index.js
  protocol-designer/src/step-generation/__fixtures__/robotStateFixtures.js
  protocol-designer/src/step-generation/__tests__/mix.test.js
  protocol-designer/src/step-generation/__tests__/transfer.test.js
  protocol-designer/src/step-generation/utils/misc.js
  protocol-designer/src/steplist/actions/types.js
  protocol-designer/src/steplist/formLevel/generateNewForm.js
  protocol-designer/src/steplist/formLevel/handleFormChange/dependentFieldsUpdateMix.js
  protocol-designer/src/steplist/formLevel/handleFormChange/dependentFieldsUpdateMoveLiquid.js
  protocol-designer/src/steplist/generateSubsteps.js
  protocol-designer/src/steplist/substepTimeline.js
  protocol-designer/src/tutorial/reducers.js
  protocol-designer/src/ui/steps/actions/actions.js
  shared-data/js/__tests__/protocolSchemaV4.test.js
  yarn.lock
Labels: :spider: SPDDRS, JS Tech Debt, cpx, ready for review, refactor

#5086 feat(scripts): python_build_utils supports upcoming api spli
  scripts/python_build_utils.py
Labels: api, cpx, refactor

#5078 feat(api): invert management of hw control thread
  api/src/opentrons/api/routers.py
  api/src/opentrons/api/session.py
  api/src/opentrons/deck_calibration/dc_main.py
  api/src/opentrons/deck_calibration/endpoints.py
  api/src/opentrons/execute.py
  api/src/opentrons/hardware_control/__init__.py
  api/src/opentrons/hardware_control/adapters.py
  api/src/opentrons/hardware_control/api.py
  api/src/opentrons/hardware_control/controller.py
  api/src/opentrons/hardware_control/modules/utils.py
  api/src/opentrons/hardware_control/simulator.py
  api/src/opentrons/hardware_control/thread_manager.py
  api/src/opentrons/hardware_control/util.py
  api/src/opentrons/main.py
  api/src/opentrons/protocol_api/instrument_context.py
  api/src/opentrons/protocol_api/protocol_context.py
  api/src/opentrons/protocol_api/util.py
  api/src/opentrons/server/__init__.py
  api/src/opentrons/server/endpoints/__init__.py
  api/src/opentrons/server/endpoints/control.py
  api/src/opentrons/tools/__init__.py
  api/tests/opentrons/api/test_calibration.py
  api/tests/opentrons/cli/test_cli.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/hardware_control/modules/test_hc_magdeck.py
  api/tests/opentrons/hardware_control/modules/test_hc_tempdeck.py
  api/tests/opentrons/hardware_control/modules/test_hc_thermocycler.py
  api/tests/opentrons/hardware_control/test_adapters.py
  api/tests/opentrons/hardware_control/test_instruments.py
  api/tests/opentrons/hardware_control/test_modules.py
  api/tests/opentrons/hardware_control/test_moves.py
  api/tests/opentrons/hardware_control/test_socket_server.py
  api/tests/opentrons/protocol_api/test_context.py
  api/tests/opentrons/protocol_api/test_module_context.py
  api/tests/opentrons/protocol_api/test_util.py
  api/tests/opentrons/server/test_control_endpoints.py
  api/tests/opentrons/test_execute.py
Labels: hmg, ready for review

#5088 fix(api): Avoid Python 3.8 unsupported `str in Enum` expression
  api/src/opentrons/protocol_api/util.py
Labels: api, fix, ready for review

#5101 refactor(protocol-designer): cypress updates
  package.json
  protocol-designer/cypress/integration/newProtocol.spec.js
  yarn.lock
Labels: dependencies, protocol designer, ready for review

#5108 fix(api): ThreadManager hides builder exceptions
  api/src/opentrons/hardware_control/thread_manager.py
  api/tests/opentrons/hardware_control/test_thread_manager.py
Labels: api, bug

#4999 chore(api): Upgrade api to python 3.7
  CONTRIBUTING.md
  api/Pipfile
  api/docs/ot1/_sources/writing.txt
  api/docs/ot1/writing.html
  api/docs/v1/index.rst
  api/docs/v1/writing.rst
  api/docs/v2/writing.rst
  api/setup.py
Labels: api, cpx

#5109 fix(api): add ThreadManager.cleanup() calls in test fixtures
  api/tests/opentrons/conftest.py
  api/tests/opentrons/hardware_control/test_adapters.py
  api/tests/opentrons/protocol_api/test_util.py
Labels: api, bug

#5093 refactor(app): add POST /wifi/keys and GET /wifi/eap-options to `networking`
  app/src/networking/__fixtures__/eap-options.js
  app/src/networking/__fixtures__/index.js
  app/src/networking/__tests__/actions.test.js
  app/src/networking/__tests__/reducer.test.js
  app/src/networking/__tests__/selectors.test.js
  app/src/networking/actions.js
  app/src/networking/api-types.js
  app/src/networking/constants.js
  app/src/networking/epic/__tests__/fetchEapOptionsEpic.test.js
  app/src/networking/epic/__tests__/postWifiKeysEpic.test.js
  app/src/networking/epic/fetchEapOptionsEpic.js
  app/src/networking/epic/index.js
  app/src/networking/epic/postWifiKeysEpic.js
  app/src/networking/reducer.js
  app/src/networking/selectors.js
  app/src/networking/types.js
Labels: app, cpx, ready for review, refactor

#5054 docs(api): update example apiLevel to 2.2
  api/docs/v2/index.rst
  api/docs/v2/new_atomic_commands.rst
  api/docs/v2/new_complex_commands.rst
  api/docs/v2/new_examples.rst
  api/docs/v2/new_labware.rst
  api/docs/v2/new_modules.rst
  api/docs/v2/new_pipette.rst
  api/docs/v2/versioning.rst
Labels: api, docs
