Repository Opentrons/opentrons, pull requests merged in 2020-05, with the labels that each got.

#5477 refactor(api): detect central routing board revision using gpios
  api/src/opentrons/drivers/rpi_drivers/__init__.py
  api/src/opentrons/drivers/rpi_drivers/dev_types.py
  api/src/opentrons/drivers/rpi_drivers/gpio.py
  api/src/opentrons/drivers/rpi_drivers/gpio_simulator.py
  api/src/opentrons/hardware_control/api.py
  api/src/opentrons/hardware_control/controller.py
  api/src/opentrons/hardware_control/simulator.py
  api/src/opentrons/hardware_control/types.py
  api/src/opentrons/server/endpoints/__init__.py
  api/src/opentrons/server/openapi.json
  api/tests/opentrons/hardware_control/test_gpio.py
  api/tests/opentrons/server/test_health_endpoints.py
  robot-server/robot_server/service/models/health.py
  robot-server/robot_server/service/routers/health.py
  robot-server/tests/service/routers/test_health.py
Labels: hardware, refactor

#5499 refactor(app): add load labware, deck setup, tip pick up, point checks to cal check
  app/src/calibration/__fixtures__/index.js
  app/src/calibration/__tests__/actions.test.js
  app/src/calibration/__tests__/reducer.test.js
  app/src/calibration/actions.js
  app/src/calibration/api-types.js
  app/src/calibration/constants.js
  app/src/calibration/epic/__tests__/fetchRobotCalibrationCheckSessionEpic.test.js
  app/src/calibration/epic/__tests__/updateRobotCalibrationCheckSessionEpic.test.js
  app/src/calibration/epic/fetchRobotCalibrationCheckSessionEpic.js
  app/src/calibration/epic/index.js
  app/src/calibration/epic/updateRobotCalibrationCheckSessionEpic.js
  app/src/calibration/reducer.js
  app/src/calibration/types.js
  app/src/components/CheckCalibration/CheckHeight.js
  app/src/components/CheckCalibration/CheckXYPoint.js
  app/src/components/CheckCalibration/DeckSetup.js
  app/src/components/CheckCalibration/Introduction.js
  app/src/components/CheckCalibration/TipPickUp.js
  app/src/components/CheckCalibration/__tests__/CheckCalibration.test.js
  app/src/components/CheckCalibration/__tests__/CheckHeight.test.js
  app/src/components/CheckCalibration/__tests__/CheckXYPoint.test.js
  app/src/components/CheckCalibration/__tests__/DeckSetup.test.js
  app/src/components/CheckCalibration/__tests__/Introduction.test.js
  app/src/components/CheckCalibration/__tests__/TipPickup.test.js
  app/src/components/CheckCalibration/index.js
  app/src/components/CheckCalibration/styles.css
  app/src/components/CheckCalibration/utils.js
  app/src/components/CheckCalibration/videos/A1-Multi-Channel-SEQ.webm
  app/src/components/CheckCalibration/videos/A1-Single-Channel-SEQ.webm
  app/src/components/CheckCalibration/videos/B1-Multi-Channel-SEQ.webm
  app/src/components/CheckCalibration/videos/B1-Single-Channel-SEQ.webm
  app/src/components/CheckCalibration/videos/SLOT_1 RIGHT_SINGLE_X-Y_(640X480)_REV1.webm
  app/src/components/CheckCalibration/videos/SLOT_1_LEFT_MULTI_X-Y_(640X480)_REV1.webm
  app/src/components/CheckCalibration/videos/SLOT_1_LEFT_SINGLE_X-Y_(640X480)_REV1.webm
  app/src/components/CheckCalibration/videos/SLOT_1_RIGHT_MULTI_X-Y_(640X480)_REV1.webm
  app/src/components/CheckCalibration/videos/SLOT_1_RIGHT_SINGLE_X-Y_(640X480)_REV1.webm
  app/src/components/CheckCalibration/videos/SLOT_3_LEFT_MULTI_X-Y_(640X480)_REV1.webm
  app/src/components/CheckCalibration/videos/SLOT_3_LEFT_SINGLE_X-Y_(640X480)_REV1.webm
  app/src/components/CheckCalibration/videos/SLOT_3_RIGHT_MULTI_X-Y_(640X480)_REV1.webm
  app/src/components/CheckCalibration/videos/SLOT_3_RIGHT_SINGLE_X-Y_(640X480)_REV1.webm
  app/src/components/CheckCalibration/videos/SLOT_5_LEFT_MULTI_Z_(640X480)_REV1.webm
  app/src/components/CheckCalibration/videos/SLOT_5_LEFT_SINGLE_Z_(640X480)_REV1.webm
  app/src/components/CheckCalibration/videos/SLOT_5_RIGHT_MULTI_Z_(640X480)_REV1.webm
  app/src/components/CheckCalibration/videos/SLOT_5_RIGHT_SINGLE_Z_(640X480)_REV1.webm
  app/src/components/CheckCalibration/videos/SLOT_7_LEFT_MULTI_X-Y_(640X480)_REV1.webm
  app/src/components/CheckCalibration/videos/SLOT_7_LEFT_SINGLE_X-Y_(640X480)_REV1.webm
  app/src/components/CheckCalibration/videos/SLOT_7_RIGHT_MULTI_X-Y_(640X480)_REV1.webm
  app/src/components/CheckCalibration/videos/SLOT_7_RIGHT_SINGLE_X-Y_(640X480)_REV1.webm
  app/src/components/JogControls/index.js
  app/src/robot-api/operators.js
  jest.config.js
Labels: app, feature, ready for review

#5494 feat(protocol-designer): add groundwork for 5421
  protocol-designer/cypress/integration/newProtocolWithModules.spec.js
  protocol-designer/src/components/StepEditForm/fields/WellSelectionField/WellSelectionModal.js
  protocol-designer/src/localization/index.js
  protocol-designer/src/step-forms/reducers/index.js
  protocol-designer/src/step-forms/selectors/index.js
  protocol-designer/src/step-forms/test/createPresavedStepForm.test.js
  protocol-designer/src/step-forms/utils/createPresavedStepForm.js
  protocol-designer/src/step-forms/utils/index.js
  protocol-designer/src/steplist/fieldLevel/index.js
  protocol-designer/src/steplist/formLevel/createBlankForm.js
  protocol-designer/src/steplist/formLevel/index.js
  protocol-designer/src/ui/modules/utils.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#5558 fix(api): make delay wait for existing pause before pausing itself
  api/src/opentrons/hardware_control/api.py
Labels: hmg, ready for review

#5562 fix(api): fix circular dependency in opentrons_simulate
  api/src/opentrons/simulate.py
Labels: api, fix

#5563 chore(api): fix tempdeck simulate freeze
  api/src/opentrons/hardware_control/modules/tempdeck.py
  robot-server/tests/service/routers/test_modules.py
Labels: api, fix

#5512 feat(api, app): add state change information to rpc
  api/src/opentrons/api/dev_types.py
  api/src/opentrons/api/session.py
  api/src/opentrons/commands/commands.py
  api/tests/opentrons/api/test_session.py
  app/src/components/RunLog/CommandList.js
  app/src/components/RunLog/SessionAlert.js
  app/src/components/RunLog/index.js
  app/src/components/RunLog/styles.css
  app/src/robot/api-client/client.js
  app/src/robot/reducer/session.js
  app/src/robot/selectors.js
  app/src/robot/test/__fixtures__/session.js
  app/src/robot/test/api-client.test.js
  app/src/robot/test/session-reducer.test.js
  app/src/robot/types.js
Labels: api, app

#5544 fix(api): Move multi-channel pipettes to the correct location in cal check
  api/src/opentrons/server/endpoints/calibration/session.py
  api/tests/opentrons/server/test_calibration_check.py
Labels: api, ready for review

#5529 refactor(protocol-designer): Update slot selection dropdown tooltip
  protocol-designer/src/components/modals/EditModulesModal/index.js
Labels: :spider: SPDDRS, protocol designer, ready for review, refactor

#5545 fix(app-shell): upgrade Electron, avoid hoisting dependencies, and fix devtools
  app-shell/Makefile
  app-shell/__mocks__/usb-detection.js
  app-shell/electron-builder.config.js
  app-shell/package.json
  app-shell/src/main.js
  app-shell/src/system-info/__tests__/usb-devices.test.js
  app-shell/src/system-info/index.js
  app-shell/src/system-info/usb-devices.js
  package.json
  scripts/setup-global-mocks.js
  shared-data/package.json
  webpack-config/lib/node-base-config.js
  yarn.lock
Labels: app, chore, cpx, ready for review

#5576 chore(release): 3.17.1-alpha.3
  CHANGELOG.md
  api/release-notes.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/build/release-notes.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  robot-server/robot_server/CHANGELOG.md
  robot-server/robot_server/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore, ready for review

#5557 feat(api): support thermocycler commands in executor
  api/src/opentrons/protocol_api/constants.py
  api/src/opentrons/protocol_api/execute.py
  api/src/opentrons/protocol_api/execute_v4.py
  api/src/opentrons/protocol_api/json_dispatchers.py
  api/src/opentrons/protocol_api/types.py
  api/tests/opentrons/protocol_api/test_execute_v4.py
  shared-data/protocol/fixtures/4/testThermocyclerModuleV4.json
  shared-data/protocol/schemas/4.json
Labels: :spider: SPDDRS, api, qa, ready for review

#5586 chore(bump): v3.17.1
  CHANGELOG.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  robot-server/robot_server/CHANGELOG.md
  robot-server/robot_server/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore, release 🚢

#5588 chore(merge): master->edge for 3.17.1
  CHANGELOG.md
  api/docs/v2/versioning.rst
  api/release-notes.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/src/opentrons/hardware_control/modules/tempdeck.py
  api/src/opentrons/package.json
  api/src/opentrons/protocol_api/geometry.py
  api/src/opentrons/simulate.py
  app-shell/CHANGELOG.md
  app-shell/Makefile
  app-shell/__mocks__/usb-detection.js
  app-shell/build/release-notes.md
  app-shell/electron-builder.config.js
  app-shell/package.json
  app-shell/src/main.js
  app-shell/src/system-info/__tests__/usb-devices.test.js
  app-shell/src/system-info/index.js
  app-shell/src/system-info/usb-devices.js
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  package.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  robot-server/robot_server/CHANGELOG.md
  robot-server/robot_server/package.json
  robot-server/tests/service/routers/test_modules.py
  scripts/setup-global-mocks.js
  shared-data/CHANGELOG.md
  shared-data/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/lib/node-base-config.js
  webpack-config/package.json
  yarn.lock
Labels: chore

#5560 feat(protocol-designer): make steps transient until saved
  protocol-designer/src/components/IngredientsList/index.js
  protocol-designer/src/components/StepDescription.js
  protocol-designer/src/components/StepEditForm/ButtonRow/index.js
  protocol-designer/src/components/StepEditForm/index.js
  protocol-designer/src/components/modals/ConfirmDeleteStepModal.js
  protocol-designer/src/components/steplist/PresavedStepItem.js
  protocol-designer/src/components/steplist/StepItem.js
  protocol-designer/src/components/steplist/StepList.js
  protocol-designer/src/components/steplist/TerminalItem/index.js
  protocol-designer/src/components/steplist/__tests__/StepItemContents.test.js
  protocol-designer/src/components/useConditionalConfirm.js
  protocol-designer/src/containers/ConnectedMainPanel.js
  protocol-designer/src/containers/ConnectedStepItem.js
  protocol-designer/src/containers/ConnectedTitleBar.js
  protocol-designer/src/localization/en/button.json
  protocol-designer/src/localization/en/modal.json
  protocol-designer/src/step-forms/reducers/index.js
  protocol-designer/src/step-forms/selectors/index.js
  protocol-designer/src/step-forms/test/reducers.test.js
  protocol-designer/src/steplist/actions/actions.js
  protocol-designer/src/steplist/types.js
  protocol-designer/src/top-selectors/timelineFrames.js
  protocol-designer/src/top-selectors/tip-contents/index.js
  protocol-designer/src/top-selectors/well-contents/index.js
  protocol-designer/src/ui/modules/selectors.js
  protocol-designer/src/ui/steps/actions/__tests__/actions.test.js
  protocol-designer/src/ui/steps/actions/__tests__/addAndSelectStepWithHints.test.js
  protocol-designer/src/ui/steps/actions/__tests__/addStep.test.js
  protocol-designer/src/ui/steps/actions/__tests__/selectStep.test.js
  protocol-designer/src/ui/steps/actions/actions.js
  protocol-designer/src/ui/steps/actions/thunks/addStep.js
  protocol-designer/src/ui/steps/actions/thunks/index.js
  protocol-designer/src/ui/steps/actions/types.js
  protocol-designer/src/ui/steps/index.js
  protocol-designer/src/ui/steps/reducers.js
  protocol-designer/src/ui/steps/selectors.js
  protocol-designer/src/ui/steps/test/reducers.test.js
  protocol-designer/src/ui/steps/test/selectors.test.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#5582 refactor(app): set alert flag in state if U2E driver out of date
  app-shell/src/config.js
  app/src/alerts/__tests__/actions.test.js
  app/src/alerts/__tests__/epic.test.js
  app/src/alerts/__tests__/reducer.test.js
  app/src/alerts/__tests__/selectors.test.js
  app/src/alerts/actions.js
  app/src/alerts/constants.js
  app/src/alerts/epic.js
  app/src/alerts/index.js
  app/src/alerts/reducer.js
  app/src/alerts/selectors.js
  app/src/alerts/types.js
  app/src/config/types.js
  app/src/epic.js
  app/src/reducer.js
  app/src/system-info/__tests__/epic.test.js
  app/src/system-info/__tests__/selectors.test.js
  app/src/system-info/__tests__/utils.test.js
  app/src/system-info/constants.js
  app/src/system-info/epic.js
  app/src/system-info/selectors.js
  app/src/system-info/types.js
  app/src/system-info/utils.js
  app/src/types.js
Labels: app, cpx, feature, ready for review

#5593 fix(api): don't return defaultdicts for labware accessors
  api/src/opentrons/protocol_api/labware.py
Labels: api, fix, papi v2

#5585 feat(protocol-designer): Add base thermocycler form
  protocol-designer/src/components/StepCreationButton.js
  protocol-designer/src/components/StepEditForm/StepEditForm.css
  protocol-designer/src/components/StepEditForm/forms/PauseForm.js
  protocol-designer/src/components/StepEditForm/forms/TemperatureForm.js
  protocol-designer/src/components/StepEditForm/forms/ThermocyclerForm/index.js
  protocol-designer/src/components/StepEditForm/forms/index.js
  protocol-designer/src/components/StepEditForm/index.js
  protocol-designer/src/localization/en/application.json
  protocol-designer/src/localization/en/form.json
  protocol-designer/src/localization/en/tooltip.json
  protocol-designer/src/ui/modules/selectors.js
Labels: :spider: SPDDRS, feature, protocol designer, ready for review

#5590 feat(robot-server,api): change useFastApi to useV1HttpApi
  api/src/opentrons/config/advanced_settings.py
  api/src/opentrons/config/feature_flags.py
  api/src/opentrons/server/endpoints/settings.py
  api/tests/opentrons/config/test_advanced_settings.py
  api/tests/opentrons/config/test_advanced_settings_migration.py
  robot-server/robot_server/service/routers/settings.py
  robot-server/tests/service/routers/test_settings.py
Labels: api, cpx, robot server

#5511 test(robot-server): Add First Set of Tavern API Tests
  Makefile
  robot-server/Pipfile
  robot-server/Pipfile.lock
  robot-server/pytest.ini
  robot-server/tests/conftest.py
  robot-server/tests/integration/__init__.py
  robot-server/tests/integration/common.yaml
  robot-server/tests/integration/test_health_check.tavern.yaml
  robot-server/tests/integration/test_settings.tavern.yaml
  robot-server/tests/integration/test_settings_log_level.tavern.yaml
  robot-server/tests/integration/test_settings_pipettes.tavern.yaml
  robot-server/tests/integration/test_settings_reset_options.tavern.yaml
  robot-server/tests/integration/test_settings_robot.tavern.yaml
  robot-server/tests/integration/utils.py
Labels: robot server

#5615 feat(protocol-designer): Add thermocycler state form
  components/src/forms/ToggleField.js
  components/src/forms/ToggleField.md
  components/src/forms/__tests__/ToggleField.test.js
  protocol-designer/src/components/StepEditForm/StepEditForm.css
  protocol-designer/src/components/StepEditForm/fields/ToggleRowField.js
  protocol-designer/src/components/StepEditForm/fields/index.js
  protocol-designer/src/components/StepEditForm/forms/ThermocyclerForm/StateFields.js
  protocol-designer/src/components/StepEditForm/forms/ThermocyclerForm/index.js
  protocol-designer/src/localization/en/form.json
Labels: protocol designer, ready for review

#5599 refactor(app, labware-library): upgrade react-router to 5.1 for hooks
  app/package.json
  app/src/components/ConnectPanel/UnreachableRobotItem.js
  components/package.json
  flow-typed/npm/react-router-dom_v5.x.x.js
  labware-library/package.json
  yarn.lock
Labels: :spider: SPDDRS, cpx, ready for review, refactor

#5524 chore(flow): upgrade flow to v0.124.0
  app/src/buildroot/__tests__/reducer.test.js
  app/src/buildroot/reducer.js
  app/src/custom-labware/selectors.js
  app/src/http-api-client/calibration.js
  app/src/logger.js
  package.json
  protocol-designer/src/components/SelectionRect.js
  protocol-designer/src/components/StepEditForm/fields/TipPositionField/index.js
  protocol-designer/src/file-data/selectors/commands.js
  protocol-designer/src/file-data/selectors/fileCreator.js
  protocol-designer/src/step-forms/reducers/index.js
  protocol-designer/src/steplist/formLevel/createBlankForm.js
  protocol-designer/src/steplist/formLevel/handleFormChange/dependentFieldsUpdateMoveLiquid.js
  shared-data/protocol/index.js
  yarn.lock
Labels: app, chore, protocol designer, ready for review

#5601 ci(travis): remove unnecessary libudev build dependency
  .travis.yml
Labels: chore, cpx, ready for review

#5584 refactor(app): add action to clear cached robots
  __mocks__/electron-store.js
  app-shell/package.json
  app-shell/src/__tests__/discovery.test.js
  app-shell/src/discovery.js
  app/src/discovery/__tests__/actions.test.js
  app/src/discovery/actions.js
  app/src/discovery/types.js
  yarn.lock
Labels: app, cpx, ready for review

#5536 refactor(api): update GPIO pins for door/window switch based on CRB revision
  api/src/opentrons/drivers/rpi_drivers/dev_types.py
  api/src/opentrons/drivers/rpi_drivers/gpio.py
  api/src/opentrons/drivers/rpi_drivers/gpio_simulator.py
  api/src/opentrons/drivers/rpi_drivers/types.py
  api/src/opentrons/hardware_control/api.py
  api/src/opentrons/hardware_control/controller.py
  api/src/opentrons/hardware_control/simulator.py
  api/src/opentrons/hardware_control/types.py
  api/tests/opentrons/hardware_control/test_gpio.py
Labels: api, hardware, hmg

#5630 refactor(protocol-designer): move SLOT_OCCUPIED error to i18n
  protocol-designer/src/components/modals/EditModulesModal/index.js
  protocol-designer/src/localization/en/alert.json
Labels: :spider: SPDDRS, protocol designer, refactor

#5635 feat(robot-server): session response must contain session_id
  robot-server/robot_server/service/models/session.py
  robot-server/robot_server/service/routers/session.py
  robot-server/tests/service/routers/test_session.py
Labels: feature, ready for review, robot server

#5626 refactor(app): show app-wide alert if u2e driver is out of date
  app/src/alerts/index.js
  app/src/alerts/selectors.js
  app/src/components/Alerts/U2EDriverOutdatedAlert.js
  app/src/components/Alerts/__tests__/Alerts.test.js
  app/src/components/Alerts/__tests__/U2EDriverOutdatedAlert.test.js
  app/src/components/Alerts/index.js
  app/src/components/Alerts/types.js
  app/src/components/App.css
  app/src/components/App.global.css
  app/src/components/App.js
  app/src/components/App/App.js
  app/src/components/App/__tests__/App.test.js
  app/src/components/App/index.js
  app/src/components/LostConnectionAlert/index.js
  app/src/components/Page/PageWrapper.js
  app/src/components/Page/index.js
  app/src/components/Page/styles.css
  app/src/components/analytics-settings/AnalyticsSettingsModal.js
  app/src/components/portal/__mocks__/index.js
  app/src/pages/Calibrate/index.js
  app/src/pages/More/index.js
  app/src/pages/Robots/index.js
  app/src/system-info/constants.js
  components/src/hooks/__tests__/useToggle.test.js
  components/src/hooks/index.js
  components/src/hooks/useToggle.js
  flow-typed/npm/lodash_v4.x.x.js
  scripts/setup-global-mocks.js
Labels: app, cpx, ready for review, refactor

#5629 feat(app): add UI to clear cached robots
  app/src/components/NetworkSettingsCard/ClearDiscoveryCache.js
  app/src/components/NetworkSettingsCard/__tests__/ClearDiscoveryCache.test.js
  app/src/components/NetworkSettingsCard/__tests__/NetworkSettingsCard.test.js
  app/src/components/NetworkSettingsCard/index.js
Labels: app, cpx, feature, ready for review

#5623 feat(protocol-designer): Add defaults for TC step type
  protocol-designer/src/components/StepEditForm/forms/ThermocyclerForm/index.js
  protocol-designer/src/constants.js
  protocol-designer/src/steplist/formLevel/getDefaultsForStepType.js
Labels: protocol designer, ready for review

#5634 feat(protocol-designer): confirm when creating a new step when needed
  protocol-designer/src/components/StepCreationButton.js
Labels: :spider: SPDDRS, feature, protocol designer

#5637 feat(components): add Flex and Text primitives to components library
  app/src/components/RobotSettings/SelectNetwork/ConnectModal/FormModal.js
  app/src/components/RobotSettings/SelectNetwork/ConnectModal/FormRow.js
  babel.config.js
  components/src/controls/ControlSection.js
  components/src/index.js
  components/src/primitives/Flex.js
  components/src/primitives/Flex.md
  components/src/primitives/Text.js
  components/src/primitives/Text.md
  components/src/primitives/__tests__/Flex.test.js
  components/src/primitives/__tests__/Text.test.js
  components/src/primitives/index.js
  components/src/structure/Card.js
  components/src/styles/colors.js
  components/src/styles/font-size.js
  components/src/styles/font-weight.js
  components/src/styles/index.js
  components/src/styles/typography.js
  components/styleguide.config.js
  package.json
  yarn.lock
Labels: JS Tech Debt, components, ready for review

#5640 feat(protocol-designer): implement thermocyclerFormToArgs for TC State
  protocol-designer/src/step-generation/types.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/test/thermocyclerFormToArgs.test.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/thermocyclerFormToArgs.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#5636 feat(protocol-designer): set up tc module state
  protocol-designer/src/step-forms/selectors/index.js
  protocol-designer/src/step-forms/types.js
  protocol-designer/src/steplist/formLevel/getNextDefaultModuleId/__tests__/getNextDefaultModuleId.test.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#5641 feat(protocol-designer): Implement presaved step form for TC state
  protocol-designer/src/step-forms/test/createPresavedStepForm.test.js
  protocol-designer/src/step-forms/utils/createPresavedStepForm.js
  protocol-designer/src/steplist/formLevel/getDefaultsForStepType.js
  protocol-designer/src/steplist/formLevel/getNextDefaultModuleId/__tests__/getNextDefaultTemperatureModuleId.test.js
  protocol-designer/src/steplist/formLevel/getNextDefaultModuleId/__tests__/getNextDefaultThermocyclerModuleId.test.js
  protocol-designer/src/steplist/formLevel/getNextDefaultModuleId/getNextDefaultTemperatureModuleId.js
  protocol-designer/src/steplist/formLevel/getNextDefaultModuleId/getNextDefaultThermocyclerModuleId.js
  protocol-designer/src/steplist/formLevel/getNextDefaultModuleId/index.js
  protocol-designer/src/steplist/formLevel/index.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#5638 refactor(app): add alert to SystemInfoCard if u2e driver outdated
  app/src/analytics/__tests__/hooks.test.js
  app/src/analytics/epics.js
  app/src/analytics/hooks.js
  app/src/analytics/index.js
  app/src/components/Alerts/U2EDriverOutdatedAlert.js
  app/src/components/Alerts/__tests__/U2EDriverOutdatedAlert.test.js
  app/src/components/SystemInfoCard/U2EAdapterInfo.js
  app/src/components/SystemInfoCard/U2EDeviceDetails.js
  app/src/components/SystemInfoCard/U2EDriverWarning.js
  app/src/components/SystemInfoCard/__tests__/U2EAdapterInfo.test.js
  app/src/components/SystemInfoCard/__tests__/U2EDriverWarning.test.js
  app/src/nav/__tests__/selectors.test.js
  app/src/nav/selectors.js
  app/src/system-info/constants.js
  components/src/controls/ControlSection.js
  components/src/controls/__tests__/InfoSection.test.js
  components/src/controls/index.js
  components/src/primitives/Link.js
  components/src/primitives/Link.md
  components/src/primitives/Text.js
  components/src/primitives/__tests__/Link.test.js
  components/src/primitives/index.js
Labels: app, cpx, ready for review

#5648 chore(docs): add documentation on opentrons_simulate -L
  api/docs/v2/writing.rst
Labels: chore, docs

#5643 feat(protocol-designer): add 'mini' command creators for TC
  protocol-designer/src/step-generation/__tests__/thermocyclerAtomicCommands.test.js
  protocol-designer/src/step-generation/commandCreators/atomic/thermocyclerAwaitBlockTemperature.js
  protocol-designer/src/step-generation/commandCreators/atomic/thermocyclerAwaitLidTemperature.js
  protocol-designer/src/step-generation/commandCreators/atomic/thermocyclerCloseLid.js
  protocol-designer/src/step-generation/commandCreators/atomic/thermocyclerDeactivateBlock.js
  protocol-designer/src/step-generation/commandCreators/atomic/thermocyclerDeactivateLid.js
  protocol-designer/src/step-generation/commandCreators/atomic/thermocyclerOpenLid.js
  protocol-designer/src/step-generation/commandCreators/atomic/thermocyclerSetTargetBlockTemperature.js
  protocol-designer/src/step-generation/commandCreators/atomic/thermocyclerSetTargetLidTemperature.js
  shared-data/protocol/flowTypes/schemaV4.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#5645 feat(api): Add type of deck calibration and remove ability to start the program without pipettes
  api/src/opentrons/server/endpoints/calibration/helper_classes.py
  api/src/opentrons/server/endpoints/calibration/models.py
  api/src/opentrons/server/endpoints/calibration/session.py
  api/tests/opentrons/server/calibration/test_check_calibration_session.py
  robot-server/robot_server/service/routers/session.py
  robot-server/tests/service/routers/test_session.py
Labels: api, ready for review

#5660 chore(protocol-designer): bump to v4.0.2
  protocol-designer/webpack.config.js
Labels: :spider: SPDDRS, chore, protocol designer, ready for review

#5657 feat(protocol-designer): implement robot state updaters for TC State atomic commands
  protocol-designer/src/step-generation/__tests__/thermocyclerUpdates.test.js
  protocol-designer/src/step-generation/__utils__/makeImmutableStateUpdater.js
  protocol-designer/src/step-generation/getNextRobotStateAndWarnings/index.js
  protocol-designer/src/step-generation/getNextRobotStateAndWarnings/thermocyclerUpdates.js
  protocol-designer/src/step-generation/robotStateSelectors.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#5656 feat(app): alert user if Windows U2E driver is out of date
  app/src/components/Alerts/U2EDriverOutdatedAlert.js
  app/src/components/Alerts/__tests__/U2EDriverOutdatedAlert.test.js
  app/src/config/constants.js
  app/src/config/types.js
  app/src/nav/__tests__/selectors.test.js
  app/src/nav/selectors.js
  app/src/pages/More/NetworkAndSystem.js
  app/src/pages/More/__tests__/NetworkAndSystem.test.js
  app/src/system-info/constants.js
Labels: app, feature, qa, ready for review, ux review required

#5664 fix(api): cal check: terminal drop tips during delete
  api/src/opentrons/server/endpoints/calibration/session.py
  api/tests/opentrons/server/calibration/test_check_calibration_session.py
Labels: api, fix

#5658 fix(api): make reading door switch state unblocking
  api/src/opentrons/drivers/rpi_drivers/dev_types.py
  api/src/opentrons/drivers/rpi_drivers/gpio.py
  api/src/opentrons/drivers/rpi_drivers/gpio_simulator.py
  api/src/opentrons/drivers/rpi_drivers/types.py
  api/src/opentrons/hardware_control/api.py
  api/src/opentrons/hardware_control/controller.py
  api/tests/opentrons/hardware_control/test_gpio.py
Labels: api, fix, hmg, ready for review

#5665 feat(components): add Box primitive to components library
  app/src/components/SystemInfoCard/U2EAdapterInfo.js
  app/src/components/SystemInfoCard/U2EDeviceDetails.js
  components/src/primitives/Box.js
  components/src/primitives/Box.md
  components/src/primitives/Flex.js
  components/src/primitives/Link.js
  components/src/primitives/Text.js
  components/src/primitives/__tests__/Box.test.js
  components/src/primitives/__tests__/Flex.test.js
  components/src/primitives/__tests__/Link.test.js
  components/src/primitives/__tests__/Text.test.js
  components/src/primitives/__tests__/style-props.test.js
  components/src/primitives/index.js
  components/src/primitives/style-props.js
  components/src/structure/Card.js
  components/src/styles/spacing.js
  components/src/styles/typography.js
Labels: components, feature, ready for review

#5646 refactor(app, api): add views for comparison states, supply active pipette to cal check client
  api/src/opentrons/server/endpoints/calibration/helper_classes.py
  api/src/opentrons/server/endpoints/calibration/middlewares.py
  api/src/opentrons/server/endpoints/calibration/models.py
  api/src/opentrons/server/endpoints/calibration/session.py
  api/tests/opentrons/server/calibration/test_check_calibration_session.py
  app/src/calibration/__fixtures__/index.js
  app/src/calibration/__tests__/actions.test.js
  app/src/calibration/actions.js
  app/src/calibration/api-types.js
  app/src/calibration/constants.js
  app/src/calibration/epic/__tests__/deleteRobotCalibrationCheckSessionEpic.test.js
  app/src/calibration/epic/__tests__/fetchRobotCalibrationCheckSessionEpic.test.js
  app/src/calibration/epic/__tests__/updateRobotCalibrationCheckSessionEpic.test.js
  app/src/calibration/epic/createRobotCalibrationCheckSessionEpic.js
  app/src/calibration/epic/deleteRobotCalibrationCheckSessionEpic.js
  app/src/calibration/epic/fetchRobotCalibrationCheckSessionEpic.js
  app/src/calibration/epic/updateRobotCalibrationCheckSessionEpic.js
  app/src/calibration/index.js
  app/src/calibration/types.js
  app/src/components/CheckCalibration/BadCalibration.js
  app/src/components/CheckCalibration/CheckHeight.js
  app/src/components/CheckCalibration/CheckXYPoint.js
  app/src/components/CheckCalibration/CompleteConfirmation.js
  app/src/components/CheckCalibration/DeckSetup.js
  app/src/components/CheckCalibration/Introduction.js
  app/src/components/CheckCalibration/TipPickUp.js
  app/src/components/CheckCalibration/__tests__/BadCalibration.test.js
  app/src/components/CheckCalibration/__tests__/CheckCalibration.test.js
  app/src/components/CheckCalibration/__tests__/CheckHeight.test.js
  app/src/components/CheckCalibration/__tests__/CheckXYPoint.test.js
  app/src/components/CheckCalibration/__tests__/DeckSetup.test.js
  app/src/components/CheckCalibration/__tests__/Introduction.test.js
  app/src/components/CheckCalibration/__tests__/TipPickup.test.js
  app/src/components/CheckCalibration/index.js
  app/src/components/CheckCalibration/styles.css
  app/src/components/CheckCalibration/utils.js
  components/src/constants.js
  robot-server/robot_server/service/session/session_status.py
  robot-server/tests/service/session/test_session_status.py
Labels: api, app, ready for review

#5659 feat(protocol-designer): Add validation to TC state form
  protocol-designer/src/components/StepEditForm/StepEditForm.css
  protocol-designer/src/components/StepEditForm/forms/ThermocyclerForm/StateFields.js
  protocol-designer/src/constants.js
  protocol-designer/src/steplist/fieldLevel/errors.js
  protocol-designer/src/steplist/fieldLevel/index.js
  protocol-designer/src/steplist/fieldLevel/test/errors.test.js
  protocol-designer/src/steplist/formLevel/errors.js
  protocol-designer/src/steplist/formLevel/handleFormChange/dependentFieldsUpdateThermocycler.js
  protocol-designer/src/steplist/formLevel/handleFormChange/index.js
  protocol-designer/src/steplist/formLevel/index.js
Labels: protocol designer, ready for review

#5662 refactor(api): split geometry.plan_moves
  api/src/opentrons/hardware_control/util.py
  api/src/opentrons/protocol_api/geometry.py
  api/tests/opentrons/hardware_control/test_util.py
  api/tests/opentrons/protocol_api/test_geometry.py
Labels: api, refactor

#5667 fix(api): calcheck: move the slot 5 check point -y
  api/src/opentrons/server/endpoints/calibration/session.py
Labels: api, fix

#5671 fix(robot-server): /modules was not returning the right module specific data
  robot-server/robot_server/service/models/modules.py
  robot-server/tests/service/routers/test_modules.py
Labels: cpx, fix, robot server

#5628 feat(app,robot-server): add support for sessions API
  api/src/opentrons/server/endpoints/calibration/models.py
  app/src/epic.js
  app/src/reducer.js
  app/src/robot-api/__fixtures__/index.js
  app/src/robot-api/types.js
  app/src/sessions/__fixtures__/index.js
  app/src/sessions/__tests__/actions.test.js
  app/src/sessions/__tests__/reducer.test.js
  app/src/sessions/__tests__/selectors.test.js
  app/src/sessions/actions.js
  app/src/sessions/constants.js
  app/src/sessions/epic/__tests__/createSessionCommandEpic.test.js
  app/src/sessions/epic/__tests__/createSessionEpic.test.js
  app/src/sessions/epic/__tests__/deleteSessionEpic.test.js
  app/src/sessions/epic/__tests__/fetchSessionEpic.test.js
  app/src/sessions/epic/createSessionCommandEpic.js
  app/src/sessions/epic/createSessionEpic.js
  app/src/sessions/epic/deleteSessionEpic.js
  app/src/sessions/epic/fetchSessionEpic.js
  app/src/sessions/epic/index.js
  app/src/sessions/index.js
  app/src/sessions/reducer.js
  app/src/sessions/selectors.js
  app/src/sessions/types.js
  app/src/types.js
  robot-server/robot_server/service/models/session.py
  robot-server/robot_server/service/routers/session.py
  robot-server/tests/service/routers/test_session.py
Labels: app, feature, ready for review

#5663 fix(api): cal check: use plan_arc to blend critical points
  api/src/opentrons/server/endpoints/calibration/session.py
Labels: api, fix

#5673 fix(robot-server): Fixup failing tests in robot-server
  Makefile
  robot-server/robot_server/service/session/session_status.py
  robot-server/tests/service/routers/test_session.py
  robot-server/tests/service/session/test_session_status.py
Labels: api, ready for review

#5666 fix(api): cal check: use real trash labware
  api/src/opentrons/server/endpoints/calibration/session.py
Labels: api, fix

#5675 feat(app): collect pipette and module load analytics from protocol runs
  app/src/analytics/__tests__/selectors.test.js
  app/src/analytics/selectors.js
  app/src/analytics/types.js
Labels: app, feature, ready for review

#5668 feat(protocol-designer): Default tc state for to previous saved state
  protocol-designer/src/step-forms/test/createPresavedStepForm.test.js
  protocol-designer/src/step-forms/utils/createPresavedStepForm.js
  protocol-designer/src/steplist/formLevel/getNextDefaultThermocyclerState/__tests__/getNextDefaultBlockIsActive.test.js
  protocol-designer/src/steplist/formLevel/getNextDefaultThermocyclerState/__tests__/getNextDefaultBlockTemperature.test.js
  protocol-designer/src/steplist/formLevel/getNextDefaultThermocyclerState/__tests__/getNextDefaultLidIsActive.test.js
  protocol-designer/src/steplist/formLevel/getNextDefaultThermocyclerState/__tests__/getNextDefaultLidOpen.test.js
  protocol-designer/src/steplist/formLevel/getNextDefaultThermocyclerState/__tests__/getNextDefaultLidTemperature.test.js
  protocol-designer/src/steplist/formLevel/getNextDefaultThermocyclerState/index.js
  protocol-designer/src/steplist/formLevel/index.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#5672 fix(protocol-designer): Default to Gen1 for TC in edit modules modal
  protocol-designer/src/components/modals/EditModulesModal/index.js
Labels: :spider: SPDDRS, fix, protocol designer, ready for review

#5679 ci: use Python 3.7 in CI
  .travis.yml
  appveyor.yml
Labels: api, chore, ready for review, robot server

#5670 fix(app): cal check: tweak copy, fix weird video asset, wrap tip rack names
  app/src/components/CheckCalibration/DeckSetup.js
  app/src/components/CheckCalibration/Introduction.js
  app/src/components/CheckCalibration/__tests__/CheckCalibration.test.js
  app/src/components/CheckCalibration/index.js
  app/src/components/CheckCalibration/styles.css
  app/src/components/CheckCalibration/videos/SLOT_1_RIGHT_SINGLE_X-Y_(640X480)_REV1.webm
Labels: app, ready for review

#5689 fix(robot-server,api): Bug in deck calibration
  api/src/opentrons/deck_calibration/endpoints.py
  api/tests/opentrons/deck_calibration/test_endpoints.py
  robot-server/robot_server/service/models/deck_calibration.py
Labels: api, cpx, fix, robot server

#5691 refactor(api): Add in an index file to keep track of labware calibrations
  api/src/opentrons/protocol_api/geometry.py
  api/src/opentrons/protocol_api/labware.py
  api/src/opentrons/protocol_api/util.py
  api/tests/opentrons/protocol_api/test_labware.py
  api/tests/opentrons/protocol_api/test_offsets.py
Labels: api, ready for review

#5680 feat(api,robot-server): Add API hardware simulation from file
  api/src/opentrons/drivers/mag_deck/driver.py
  api/src/opentrons/hardware_control/api.py
  api/src/opentrons/hardware_control/modules/tempdeck.py
  api/src/opentrons/hardware_control/simulator_setup.py
  api/src/opentrons/simulate.py
  api/tests/opentrons/hardware_control/test_simulator_setup.py
  robot-server/dev.env
  robot-server/robot_server/main.py
  robot-server/robot_server/service/routers/session.py
  robot-server/robot_server/settings.py
  robot-server/settings_schema.json
  robot-server/simulators/.gitignore
  robot-server/simulators/README.md
  robot-server/simulators/test.json
  robot-server/test.env
  robot-server/tests/conftest.py
  robot-server/tests/integration/test_modules.tavern.yaml
  robot-server/tests/integration/test_session.tavern.yaml
  robot-server/tests/service/routers/test_session.py
Labels: api, cpx, hmg, robot server

#5700 fix(api): respect port in tools arghandler
  api/src/opentrons/tools/args_handler.py
Labels: api, fix

#5696 chore(release): 3.18.0-alpha.1
  CHANGELOG.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  robot-server/robot_server/CHANGELOG.md
  robot-server/robot_server/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore

#5686 refactor(protocol-designer): remove misc unused files/exports
  protocol-designer/src/components/ForeignDiv.js
  protocol-designer/src/components/LabwareSelectionModal/SelectedWrapper.js
  protocol-designer/src/components/forms/index.js
  protocol-designer/src/images/index.js
  protocol-designer/src/images/labware/384-plate.png
  protocol-designer/src/images/labware/96-Deep-Well.png
  protocol-designer/src/images/labware/96-PCR-Flatt.png
  protocol-designer/src/images/labware/96-PCR-Strip.png
  protocol-designer/src/images/labware/96-PCR-Tall.png
  protocol-designer/src/images/labware/Opentrons-4-in-1-tuberack-15-50.png
  protocol-designer/src/images/labware/Tiprack-1000.png
  protocol-designer/src/images/labware/Tiprack-1000ul-chem.png
  protocol-designer/src/images/labware/Tiprack-10ul-H.png
  protocol-designer/src/images/labware/Tiprack-10ul.png
  protocol-designer/src/images/labware/Tiprack-200ul.png
  protocol-designer/src/images/labware/Trash.png
  protocol-designer/src/images/labware/Trough-12row.png
  protocol-designer/src/images/labware/Tuberack-075ml.png
  protocol-designer/src/images/labware/Tuberack-15-50ml.png
  protocol-designer/src/images/labware/Tuberack-2ml.png
  protocol-designer/src/images/labware/index.js
  protocol-designer/src/step-generation/utils/mergeLiquid.js
  protocol-designer/src/ui/modules/selectors.js
Labels: JS Tech Debt, protocol designer, ready for review

#5687 refactor(protocol-designer): fix type annotation on engageMagnet
  protocol-designer/src/step-generation/commandCreators/atomic/engageMagnet.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#5692 feat(protocol-designer): implement empty getDisabledFields for tc step
  protocol-designer/src/steplist/formLevel/getDisabledFields/index.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#5701 refactor(robot-server): remove item router and model
  robot-server/robot_server/service/app.py
  robot-server/robot_server/service/models/item.py
  robot-server/robot_server/service/routers/item.py
  robot-server/tests/service/routers/test_item.py
Labels: cpx, ready for review, robot server

#5702 fix(robot-server): prevent nmcli connection states from causing a 500 response
  robot-server/robot_server/service/models/networking.py
  robot-server/tests/service/routers/test_networking.py
Labels: cpx, fix, robot server

#5707 fix(app): tighten filter logic that identifies Realtek U2E adapters
  app/src/analytics/make-event.js
  app/src/support/profile.js
  app/src/system-info/__fixtures__/index.js
  app/src/system-info/__tests__/utils.test.js
  app/src/system-info/selectors.js
  app/src/system-info/utils.js
Labels: app, cpx, fix, qa, ready for review

#5709 chore(release): 3.18.0-alpha.2
  CHANGELOG.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  robot-server/robot_server/CHANGELOG.md
  robot-server/robot_server/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore, ready for review

#5710 feat(api): cache_instruments when creating simulator.
  api/src/opentrons/hardware_control/api.py
Labels: api, cpx, feature

#5712 chore(release): 3.18.0
  CHANGELOG.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  robot-server/robot_server/CHANGELOG.md
  robot-server/robot_server/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore, ready for review

#5695 feat(protocol-designer): add substeps for TC State step
  components/src/tooltips/types.js
  protocol-designer/src/components/steplist/ModuleStepItems.js
  protocol-designer/src/components/steplist/StepItem.js
  protocol-designer/src/components/steplist/__tests__/ModuleStepItems.test.js
  protocol-designer/src/components/steplist/__tests__/StepItemContents.test.js
  protocol-designer/src/localization/en/modules.json
  protocol-designer/src/step-generation/types.js
  protocol-designer/src/steplist/generateSubsteps.js
  protocol-designer/src/steplist/test/generateSubsteps.test.js
  protocol-designer/src/steplist/types.js
  protocol-designer/src/utils/index.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#5713 chore(api): add util to plot session state machines
  api/Makefile
  api/Pipfile
  api/Pipfile.lock
  api/src/opentrons/legacy_api/containers/placeable.py
  api/src/opentrons/protocol_api/transfers.py
  api/src/opentrons/server/rpc.py
  api/src/opentrons/simulate.py
  api/src/opentrons/tools/factory_test.py
  api/tests/opentrons/protocol_api/test_execute_v4.py
  api/util/plot_session.py
Labels: api, chore

#5697 feat(protocol-designer): implement ModuleTag for TC state
  protocol-designer/src/components/DeckSetup/ModuleTag.css
  protocol-designer/src/components/DeckSetup/ModuleTag.js
  protocol-designer/src/localization/en/modules.json
Labels: :spider: SPDDRS, protocol designer, ready for review

#5704 feat(protocol-designer): add lid cooling hint
  protocol-designer/src/components/Hints/hints.css
  protocol-designer/src/components/Hints/index.js
  protocol-designer/src/dismiss/selectors.js
  protocol-designer/src/localization/en/alert.json
  protocol-designer/src/localization/en/tooltip.json
  protocol-designer/src/top-selectors/timelineFrames.js
  protocol-designer/src/tutorial/__tests__/selectors.test.js
  protocol-designer/src/tutorial/index.js
  protocol-designer/src/tutorial/selectors.js
  protocol-designer/src/ui/steps/actions/thunks/index.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#5719 chore(api): plot_session: add conditions to plot
  api/util/plot_session.py
Labels: api, chore

#5720 fix(robot-server): session commands with empty data field should be accepted
  robot-server/robot_server/service/models/__init__.py
  robot-server/robot_server/service/models/session.py
  robot-server/tests/service/models/test_session.py
  robot-server/tests/service/routers/test_session.py
Labels: fix, robot server

#5676 refactor(api): Modify thresholds, take into account safety moves
  api/src/opentrons/server/endpoints/calibration/session.py
  api/tests/opentrons/server/calibration/test_check_calibration_session.py
Labels: api, ready for review

#5711 feat(app): display the serials of attached pipettes
  app/src/components/InstrumentSettings/PipetteInfo.js
  app/src/components/InstrumentSettings/styles.css
Labels: app, feature

#5684 refactor(app,robot-server): Slight changes to sessions api
  app/src/reducer.js
  app/src/robot-api/types.js
  app/src/sessions/__fixtures__/index.js
  app/src/sessions/__tests__/reducer.test.js
  app/src/sessions/__tests__/selectors.test.js
  app/src/sessions/actions.js
  app/src/sessions/constants.js
  app/src/sessions/epic/__tests__/createSessionCommandEpic.test.js
  app/src/sessions/epic/__tests__/fetchSessionOnCommandResonseEpic.test.js
  app/src/sessions/epic/createSessionCommandEpic.js
  app/src/sessions/epic/fetchSessionOnCommandResponseEpic.js
  app/src/sessions/epic/index.js
  app/src/sessions/reducer.js
  app/src/sessions/types.js
  robot-server/robot_server/service/models/json_api/errors.py
  robot-server/robot_server/service/models/session.py
  robot-server/robot_server/service/routers/session.py
  robot-server/tests/service/models/json_api/test_errors.py
  robot-server/tests/service/routers/test_session.py
Labels: app, cpx, ready for review, refactor, robot server

#5723 fix(app): update cal height check video assets
  app/src/components/CheckCalibration/CheckHeight.js
  app/src/components/CheckCalibration/__tests__/CheckHeight.test.js
  app/src/components/CheckCalibration/videos/SLOT_5_LEFT_MULTI_Z_(640X480)_REV1.webm
  app/src/components/CheckCalibration/videos/SLOT_5_LEFT_MULTI_Z_(640X480)_REV3.webm
  app/src/components/CheckCalibration/videos/SLOT_5_LEFT_SINGLE_Z_(640X480)_REV1.webm
  app/src/components/CheckCalibration/videos/SLOT_5_LEFT_SINGLE_Z_(640X480)_REV3.webm
  app/src/components/CheckCalibration/videos/SLOT_5_RIGHT_MULTI_Z_(640X480)_REV1.webm
  app/src/components/CheckCalibration/videos/SLOT_5_RIGHT_MULTI_Z_(640X480)_REV3.webm
  app/src/components/CheckCalibration/videos/SLOT_5_RIGHT_SINGLE_Z_(640X480)_REV1.webm
  app/src/components/CheckCalibration/videos/SLOT_5_RIGHT_SINGLE_Z_(640X480)_REV3.webm
Labels: app, fix, ready for review

#5718 test(robot-server): integration tests for cal check and deck cal
  robot-server/tests/integration/sessions/test_calibration_check.tavern.yaml
  robot-server/tests/integration/test_deck_calibration.tavern.yaml
Labels: cpx, ready for review, robot server

#5708 refactor(api): Check tiprack thresholds after tip pickup
  api/src/opentrons/server/endpoints/calibration/session.py
  api/src/opentrons/server/endpoints/calibration/util.py
  api/tests/opentrons/server/calibration/test_check_calibration_session.py
  api/tests/opentrons/server/test_calibration_session.py
Labels: api, ready for review

#5729 fix(api): Fix determine thresholds function
  api/src/opentrons/server/endpoints/calibration/helper_classes.py
  api/src/opentrons/server/endpoints/calibration/session.py
Labels: api, fix, ready for review

#5733 feat(app, app-shell): add config migration
  app-shell/src/config/__fixtures__/index.js
  app-shell/src/config/__tests__/migrate.test.js
  app-shell/src/config/index.js
  app-shell/src/config/migrate.js
  app-shell/src/main.js
  app/src/config/constants.js
  app/src/config/schema-types.js
  app/src/config/selectors.js
  app/src/config/types.js
Labels: ready for review

#5739 fix(api): proper hardware controller teardown
  api/src/opentrons/hardware_control/api.py
  api/src/opentrons/hardware_control/controller.py
  api/src/opentrons/hardware_control/simulator.py
  api/src/opentrons/hardware_control/thread_manager.py
  api/src/opentrons/hardware_control/util.py
Labels: api, fix

#5730 chore(js): specify exact versions for production dependencies
  app-shell/package.json
  app/package.json
  components/package.json
  discovery-client/package.json
  labware-library/package.json
  package.json
  protocol-designer/package.json
  protocol-library-kludge/package.json
  shared-data/package.json
  yarn.lock
Labels: JS Tech Debt, chore, ready for review

#5731 feat(api): use lru_cache on get_all_adv_settings
  api/src/opentrons/config/advanced_settings.py
  api/tests/opentrons/config/test_advanced_settings.py
Labels: api, cpx, ready for review

#5747 fix(api): catch factory tests up to gpio changes
  api/src/opentrons/tools/factory_test.py
  api/src/opentrons/tools/gantry_test.py
  api/src/opentrons/tools/overnight_test.py
Labels: api, feature

#5748 fix(robot-server): make sure fastapi validation errors are properly documented
  robot-server/robot_server/service/app.py
Labels: cpx, ready for review, robot server

#5750 feat(protocol-designer): Add ending hold state fields to TC profile
  protocol-designer/src/components/StepEditForm/forms/ThermocyclerForm/StateFields.js
  protocol-designer/src/components/StepEditForm/forms/ThermocyclerForm/index.js
  protocol-designer/src/localization/en/application.json
Labels: :spider: SPDDRS, protocol designer, ready for review

#5740 refactor(api,robot-server): move calibration check out of server
  api/src/opentrons/calibration/__init__.py
  api/src/opentrons/calibration/check/__init__.py
  api/src/opentrons/calibration/check/models.py
  api/src/opentrons/calibration/check/session.py
  api/src/opentrons/calibration/constants.py
  api/src/opentrons/calibration/helper_classes.py
  api/src/opentrons/calibration/session.py
  api/src/opentrons/calibration/util.py
  api/src/opentrons/server/__init__.py
  api/src/opentrons/server/endpoints/calibration/check.py
  api/src/opentrons/server/endpoints/calibration/middlewares.py
  api/tests/opentrons/calibration/__init__.py
  api/tests/opentrons/calibration/check/__init__.py
  api/tests/opentrons/calibration/check/test_check_calibration_session.py
  api/tests/opentrons/calibration/test_util.py
  api/tests/opentrons/server/test_calibration_session.py
  robot-server/robot_server/service/dependencies.py
  robot-server/robot_server/service/models/session.py
  robot-server/robot_server/service/routers/session.py
  robot-server/robot_server/service/session/session_status.py
  robot-server/tests/service/routers/test_session.py
  robot-server/tests/service/session/test_session_status.py
Labels: api, hmg, refactor, robot server

#5751 feat(protocol-designer): create barebones setup for TC profile steps
  protocol-designer/src/components/StepEditForm/fields/ProfileStepRows.js
  protocol-designer/src/components/StepEditForm/fields/index.js
  protocol-designer/src/components/StepEditForm/forms/ThermocyclerForm/index.js
  protocol-designer/src/form-types.js
  protocol-designer/src/step-forms/reducers/index.js
  protocol-designer/src/step-forms/test/createPresavedStepForm.test.js
  protocol-designer/src/steplist/actions/actions.js
  protocol-designer/src/steplist/fieldLevel/index.js
  protocol-designer/src/steplist/formLevel/getDefaultsForStepType.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#5760 chore: refactor python makefiles
  api/Makefile
  robot-server/Makefile
  scripts/push.mk
  scripts/python.mk
  update-server/Makefile
Labels: chore

#5744 fix(protocol-designer): Add scroll to top on export modal display
  protocol-designer/src/components/FileSidebar/FileSidebar.js
Labels: :spider: SPDDRS, fix, protocol designer

#5773 fix: fix makefile refactor for push tasks
  scripts/push.mk
  update-server/Makefile
Labels: fix, infrastructure

#5766 refactor(shared-data): add python bindings skeleton
  Config.in
  Makefile
  api/Makefile
  api/Pipfile
  api/Pipfile.lock
  external.mk
  robot-server/Pipfile
  robot-server/Pipfile.lock
  robot-server/robot_server/service/rpc/rpc.py
  scripts/python_build_utils.py
  shared-data/Makefile
  shared-data/python/Config.in
  shared-data/python/Pipfile
  shared-data/python/Pipfile.lock
  shared-data/python/buildroot.mk
  shared-data/python/opentrons_shared_data/__init__.py
  shared-data/python/setup.cfg
  shared-data/python/setup.py
Labels: refactor, shared data

#5771 feat(protocol-designer): Add profiles settings to TC profile form
  protocol-designer/src/components/StepEditForm/StepEditForm.css
  protocol-designer/src/components/StepEditForm/forms/ThermocyclerForm/ProfileSettings.js
  protocol-designer/src/components/StepEditForm/forms/ThermocyclerForm/index.js
  protocol-designer/src/localization/en/application.json
  protocol-designer/src/localization/en/form.json
Labels: :spider: SPDDRS, protocol designer, ready for review

#5764 feat(app): add network interface collection to system-info
  app-shell/src/system-info/__tests__/dispatch.test.js
  app-shell/src/system-info/__tests__/network-interfaces.test.js
  app-shell/src/system-info/index.js
  app-shell/src/system-info/network-interfaces.js
  app/src/analytics/__tests__/system-info-events.test.js
  app/src/analytics/make-event.js
  app/src/components/SystemInfoCard/U2EAdapterInfo.js
  app/src/components/SystemInfoCard/U2EDeviceDetails.js
  app/src/components/SystemInfoCard/__tests__/U2EAdapterInfo.test.js
  app/src/support/__tests__/system-info-profile.test.js
  app/src/support/profile.js
  app/src/system-info/__fixtures__/index.js
  app/src/system-info/__tests__/actions.test.js
  app/src/system-info/__tests__/reducer.test.js
  app/src/system-info/__tests__/selectors.test.js
  app/src/system-info/actions.js
  app/src/system-info/constants.js
  app/src/system-info/reducer.js
  app/src/system-info/selectors.js
  app/src/system-info/types.js
  app/src/system-info/utils.js
Labels: app, cpx, feature, ready for review

#5604 docs(api): Various edits to the module docs
  api/docs/v2/new_modules.rst
Labels: api, docs
