Repository Opentrons/opentrons, pull requests merged in 2020-01, with the labels that each got.

#4645 feat(protocol-designer): change volume label to volume per well
  protocol-designer/src/components/StepEditForm/fields/Volume.js
  protocol-designer/src/components/StepEditForm/forms/Mix.js
  protocol-designer/src/components/StepEditForm/forms/MoveLiquid/index.js
  protocol-designer/src/localization/en/form.json
Labels: protocol designer, ready for review

#4670 refactor(update-server): Make regex string raw.
  update-server/otupdate/balena/install.py
Labels: ready for review, update server

#4665 fix(api): Add back in useProtocolApi2 feature flag
  api/src/opentrons/config/advanced_settings.py
  api/tests/opentrons/config/test_advanced_settings_migration.py
Labels: api, ready for review

#4677 fix(api): Clarify intended use of "Use older pipette calibrations" flag
  api/src/opentrons/config/advanced_settings.py
Labels: api, fix, ready for review

#4647 feat(labware-library): add decks 1 and 7 to labwareTestProtocol before labware test
  labware-library/src/labware-creator/labwareTestProtocol.js
Labels: labware creator, ready for review

#4624 fix(api): split out tc deactivation at driver level
  api/src/opentrons/drivers/thermocycler/driver.py
  api/src/opentrons/hardware_control/modules/thermocycler.py
  api/src/opentrons/protocol_api/contexts.py
  api/tests/opentrons/drivers/module_drivers/test_thermocycler_driver.py
  api/tests/opentrons/hardware_control/modules/test_hc_thermocycler.py
Labels: api, fix, ready for review

#4676 docs(api): fix redirect loop
  api/docs/root/index.html
Labels: fix

#4662 feat(protocol-designer): Auto-select !previous magnet action
  protocol-designer/src/steplist/formLevel/getNextDefaultMagnetAction/__tests__/getNextDefaultModuleAction.test.js
  protocol-designer/src/steplist/formLevel/getNextDefaultMagnetAction/index.js
  protocol-designer/src/steplist/formLevel/index.js
  protocol-designer/src/ui/steps/actions/actions.js
Labels: protocol designer, ready for review

#4661 feat(protocol-designer): Auto-select module in set temperature form
  protocol-designer/src/components/StepEditForm/forms/TemperatureForm.js
  protocol-designer/src/constants.js
  protocol-designer/src/steplist/formLevel/getDefaultsForStepType.js
  protocol-designer/src/steplist/formLevel/getNextDefaultModuleId/__tests__/getNextDefaultModuleId.test.js
  protocol-designer/src/steplist/formLevel/getNextDefaultModuleId/index.js
  protocol-designer/src/steplist/formLevel/index.js
  protocol-designer/src/ui/modules/selectors.js
  protocol-designer/src/ui/steps/actions/actions.js
  protocol-designer/src/ui/steps/actions/thunks.js
Labels: protocol designer, ready for review

#4685 fix(app): add spinner to "Save" button in Pipette Settings
  app/src/components/ConfigurePipette/ConfigErrorBanner.js
  app/src/components/ConfigurePipette/ConfigForm.js
  app/src/components/ConfigurePipette/ConfigMessage.js
  app/src/components/ConfigurePipette/index.js
Labels: app, fix, ready for review

#4684 refactor(app): move to npm-installed typeface files
  app/package.json
  app/src/components/App.global.css
  app/src/components/App.js
  app/src/components/CenteredContent.css
  app/src/components/CenteredContent.js
  app/src/components/fonts.css
  app/src/fonts/Geogtq-Rg-webfont.woff2
  app/src/fonts/Geogtq-Sb-webfont.woff2
  app/src/fonts/Geogtq-Ul-webfont.woff2
  app/src/fonts/opensans/DESCRIPTION.en_us.html
  app/src/fonts/opensans/LICENSE.txt
  app/src/fonts/opensans/METADATA.pb
  app/src/fonts/opensans/OpenSans-Bold.ttf
  app/src/fonts/opensans/OpenSans-BoldItalic.ttf
  app/src/fonts/opensans/OpenSans-ExtraBold.ttf
  app/src/fonts/opensans/OpenSans-ExtraBoldItalic.ttf
  app/src/fonts/opensans/OpenSans-Italic.ttf
  app/src/fonts/opensans/OpenSans-Light.ttf
  app/src/fonts/opensans/OpenSans-LightItalic.ttf
  app/src/fonts/opensans/OpenSans-Regular.ttf
  app/src/fonts/opensans/OpenSans-SemiBold.ttf
  app/src/fonts/opensans/OpenSans-SemiBoldItalic.ttf
  yarn.lock
Labels: app, ready for review, refactor

#4690 refactor(protocol-designer): Finalize module missing labware hint copy
  protocol-designer/src/localization/en/alert.json
Labels: protocol designer, ready for review

#4689 refactor(app): clean up robot-settings to match other API client modules
  app/src/components/RobotSettings/AdvancedSettingsCard.js
  app/src/robot-api/deprecated.js
  app/src/robot-settings/__fixtures__/index.js
  app/src/robot-settings/__tests__/actions.test.js
  app/src/robot-settings/__tests__/epics.test.js
  app/src/robot-settings/__tests__/reducer.test.js
  app/src/robot-settings/actions.js
  app/src/robot-settings/constants.js
  app/src/robot-settings/epic.js
  app/src/robot-settings/epic/__tests__/clearRestartPathEpic.test.js
  app/src/robot-settings/epic/__tests__/fetchSettingsEpic.test.js
  app/src/robot-settings/epic/__tests__/updateSettingEpic.test.js
  app/src/robot-settings/epic/clearRestartPathEpic.js
  app/src/robot-settings/epic/fetchSettingsEpic.js
  app/src/robot-settings/epic/index.js
  app/src/robot-settings/epic/updateSettingEpic.js
  app/src/robot-settings/reducer.js
  app/src/robot-settings/types.js
  app/src/shell/index.js
  app/src/types.js
Labels: app, ready for review, refactor

#4682 refactor(app): wire change pipette to robot-controls state/actions
  app/__util__/mock-promise.js
  app/src/components/CalibrateDeck/index.js
  app/src/components/ChangePipette/ConfirmPipette.js
  app/src/components/ChangePipette/ExitAlertModal.js
  app/src/components/ChangePipette/InstructionStep.js
  app/src/components/ChangePipette/Instructions.js
  app/src/components/ChangePipette/RequestInProgressModal.js
  app/src/components/ChangePipette/constants.js
  app/src/components/ChangePipette/index.js
  app/src/components/ChangePipette/types.js
  app/src/components/InstrumentSettings/AttachedPipettesCard.js
  app/src/components/InstrumentSettings/PipetteInfo.js
  app/src/components/InstrumentSettings/index.js
  app/src/components/RobotSettings/ControlsCard.js
  app/src/components/RobotSettings/__tests__/ControlsCard.test.js
  app/src/http-api-client/__mocks__/client.js
  app/src/http-api-client/__tests__/motors.test.js
  app/src/http-api-client/__tests__/robot.test.js
  app/src/http-api-client/index.js
  app/src/http-api-client/motors.js
  app/src/http-api-client/reducer.js
  app/src/http-api-client/robot.js
  app/src/pages/Robots/InstrumentSettings.js
  app/src/pages/Robots/RobotSettings.js
  app/src/pages/Robots/index.js
  app/src/robot/test/api-client.test.js
  app/src/types.js
Labels: app, ready for review, refactor

#4701 perf(protocol-designer): improve timeline generation performance
  protocol-designer/src/step-generation/getNextRobotStateAndWarnings/forPickUpTip.js
  protocol-designer/src/step-generation/utils/reduceCommandCreators.js
  protocol-designer/src/steplist/generateSubsteps.js
Labels: protocol designer, refactor

#4694 fix(api): properly clean up threads in opentrons_simulate, _execute
  api/src/opentrons/execute.py
  api/src/opentrons/protocol_api/contexts.py
  api/src/opentrons/protocol_api/util.py
  api/src/opentrons/simulate.py
  api/tests/opentrons/protocol_api/test_util.py
Labels: api, fix

#4702 docs(api): add favicon to v1 and v2 docs
  api/docs/img/OTfavicon.ico
  api/docs/ot1/_static/OTfavicon.ico
  api/docs/ot1/api.html
  api/docs/ot1/calibration.html
  api/docs/ot1/containers.html
  api/docs/ot1/examples.html
  api/docs/ot1/firmware.html
  api/docs/ot1/index.html
  api/docs/ot1/modules.html
  api/docs/ot1/pipettes.html
  api/docs/ot1/robot.html
  api/docs/ot1/search.html
  api/docs/ot1/transfer.html
  api/docs/ot1/writing.html
  api/docs/v1/conf.py
  api/docs/v2/conf.py
Labels: docs

#4681 fix(api): do not pick up returned tips
  api/docs/v2/new_atomic_commands.rst
  api/src/opentrons/protocol_api/contexts.py
  api/src/opentrons/protocol_api/definitions.py
  api/tests/opentrons/protocol_api/test_context.py
Labels: api, fix, papi v2, ready for review

#4687 fix(app): home all axes after lw calibration to allow deck access
  api/src/opentrons/api/calibration.py
  app/src/components/CalibrateLabware/ProceedToRun.js
  app/src/robot/actions.js
  app/src/robot/api-client/client.js
  app/src/robot/reducer/calibration.js
  app/src/robot/selectors.js
  app/src/robot/test/calibration-reducer.test.js
Labels: api, app, fix, ready for review

#4709 fix(protocol-designer): Update maskToNumber to allow for negatives and 0
  protocol-designer/src/steplist/fieldLevel/index.js
  protocol-designer/src/steplist/fieldLevel/processing.js
Labels: protocol designer, ready for review

#4704 feat(protocol-designer): Hide thermocycler functionality behind flag
  protocol-designer/src/components/FilePage.js
  protocol-designer/src/components/modals/EditPipettesModal/index.js
  protocol-designer/src/components/modals/FilePipettesModal/FilePipettesModal.css
  protocol-designer/src/components/modals/FilePipettesModal/ModuleFields.js
  protocol-designer/src/components/modals/FilePipettesModal/index.js
  protocol-designer/src/components/modals/NewFileModal/index.js
  protocol-designer/src/components/modules/EditModulesCard.js
  protocol-designer/src/containers/ConnectedFilePage.js
  protocol-designer/src/feature-flags/reducers.js
  protocol-designer/src/feature-flags/selectors.js
  protocol-designer/src/feature-flags/types.js
  protocol-designer/src/localization/en/feature_flags.json
Labels: protocol designer, ready for review

#4706 refactor(app): move buildroot update to top-level substate
  app-shell/src/buildroot/index.js
  app-shell/src/update.js
  app/src/analytics/make-event.js
  app/src/analytics/selectors.js
  app/src/buildroot/__tests__/actions.test.js
  app/src/buildroot/__tests__/epic.test.js
  app/src/buildroot/__tests__/reducer.test.js
  app/src/buildroot/__tests__/selectors.test.js
  app/src/buildroot/actions.js
  app/src/buildroot/epic.js
  app/src/buildroot/index.js
  app/src/buildroot/reducer.js
  app/src/buildroot/selectors.js
  app/src/buildroot/types.js
  app/src/components/AppSettings/UpdateApp/UpdateAppModal.js
  app/src/components/AppSettings/UpdateApp/index.js
  app/src/components/ConnectPanel/RobotItem.js
  app/src/components/RobotSettings/InformationCard.js
  app/src/components/RobotSettings/UpdateBuildroot/InstallModal.js
  app/src/components/RobotSettings/UpdateBuildroot/InstallModalContents.js
  app/src/components/RobotSettings/UpdateBuildroot/MigrationWarningModal.js
  app/src/components/RobotSettings/UpdateBuildroot/ReleaseNotesModal.js
  app/src/components/RobotSettings/UpdateBuildroot/SyncRobotMessage.js
  app/src/components/RobotSettings/UpdateBuildroot/VersionInfoModal.js
  app/src/components/RobotSettings/UpdateBuildroot/ViewUpdateModal.js
  app/src/components/RobotSettings/UpdateBuildroot/index.js
  app/src/components/RobotSettings/UploadRobotUpdate.js
  app/src/epic.js
  app/src/index.js
  app/src/nav/__tests__/selectors.test.js
  app/src/nav/selectors.js
  app/src/pages/More/AppSettings.js
  app/src/pages/Robots/RobotSettings.js
  app/src/pages/Robots/index.js
  app/src/reducer.js
  app/src/shell/__tests__/epics.test.js
  app/src/shell/__tests__/update.test.js
  app/src/shell/buildroot/index.js
  app/src/shell/epic.js
  app/src/shell/index.js
  app/src/shell/reducer.js
  app/src/shell/types.js
  app/src/shell/update.js
  app/src/types.js
Labels: app, ready for review, refactor

#4712 docs(api): apiv2: fix example protocols
  api/docs/v2/new_examples.rst
Labels: docs, easyfix, papi v2

#4691 feat(api): Add an OpenAPI spec for the HTTP API
  api/MANIFEST.in
  api/Makefile
  api/Pipfile
  api/Pipfile.lock
  api/setup.py
  api/src/opentrons/server/endpoints/__init__.py
  api/src/opentrons/server/endpoints/serverlib_fallback.py
  api/src/opentrons/server/http.py
  api/src/opentrons/server/openapi.json
  api/tests/opentrons/server/test_health_endpoints.py
  api/tests/opentrons/server/test_update_endpoints.py
Labels: api, feature

#4716 feat(protocol-designer): Make moduleId field required for temperature step
  protocol-designer/src/components/StepEditForm/StepEditForm.css
  protocol-designer/src/components/StepEditForm/forms/TemperatureForm.js
  protocol-designer/src/steplist/fieldLevel/index.js
  protocol-designer/src/steplist/formLevel/errors.js
  protocol-designer/src/steplist/formLevel/index.js
Labels: protocol designer, ready for review, small

#4710 refactor(app): refactor buildroot epic to remove deprecated API call actions
  app/src/analytics/make-event.js
  app/src/buildroot/__fixtures__/index.js
  app/src/buildroot/__tests__/actions.test.js
  app/src/buildroot/__tests__/epic.test.js
  app/src/buildroot/__tests__/reducer.test.js
  app/src/buildroot/actions.js
  app/src/buildroot/constants.js
  app/src/buildroot/epic.js
  app/src/buildroot/index.js
  app/src/buildroot/reducer.js
  app/src/buildroot/selectors.js
  app/src/buildroot/types.js
  app/src/components/RobotSettings/UpdateBuildroot/SyncRobotMessage.js
  app/src/robot-api/deprecated.js
  app/src/types.js
Labels: app, ready for review, refactor

#4707 feat(api): apiv2: add height_from_base arg to MagneticModuleContext.engage()
  api/docs/v2/new_modules.rst
  api/docs/v2/versioning.rst
  api/src/opentrons/hardware_control/modules/magdeck.py
  api/src/opentrons/protocol_api/contexts.py
  api/tests/opentrons/data/mad_mag_v2.py
  api/tests/opentrons/protocol_api/test_module_context.py
Labels: api, feature, papi v2, ready for review

#4724 feat(protocol-designer): show magnetic module status in substeps and on deck
  protocol-designer/src/components/DeckSetup/DeckSetup.js
  protocol-designer/src/components/DeckSetup/ModuleTag.css
  protocol-designer/src/components/DeckSetup/ModuleTag.js
  protocol-designer/src/components/steplist/AspirateDispenseHeader.js
  protocol-designer/src/components/steplist/MagnetStepItems.js
  protocol-designer/src/components/steplist/StepItem.css
  protocol-designer/src/components/steplist/StepItem.js
  protocol-designer/src/localization/en/modules.json
  protocol-designer/src/step-generation/types.js
  protocol-designer/src/steplist/generateSubsteps.js
  protocol-designer/src/steplist/types.js
  protocol-designer/src/top-selectors/substep-highlight.js
  protocol-designer/src/top-selectors/substeps.js
  protocol-designer/src/top-selectors/timelineFrames.js
  protocol-designer/src/top-selectors/tip-contents/index.js
  protocol-designer/src/top-selectors/well-contents/index.js
  protocol-designer/src/ui/modules/selectors.js
  protocol-designer/src/ui/modules/utils.js
Labels: protocol designer, ready for review

#4722 feat(api): add p10m v1.6
  api/src/opentrons/tools/write_pipette_memory.py
  api/tests/opentrons/config/test_pipette_config.py
  shared-data/pipette/definitions/pipetteModelSpecs.json
Labels: api, feature

#4729 fix(api): smoothie driver: Limit high currents to moving axes
  api/src/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/tests/opentrons/drivers/test_driver.py
Labels: api, fix

#4717 docs: update top level README and remove unused legacy files
  .codecov.yml
  .dockerignore
  CLA.txt
  CONTRIBUTING.md
  README.md
  architecture-and-planning/backend-architecture.md
  audio/speaker-test.mp3
Labels: docs, ready for review

#4749 refactor(js): Fix a variety of type definitions that will break in future Flow versions
  app/package.json
  app/src/analytics/make-event.js
  app/src/buildroot/reducer.js
  app/src/components/CalibrateDeck/AttachTip.js
  app/src/components/CalibrateDeck/ClearDeckAlert.js
  app/src/components/CalibrateDeck/ConfirmPosition.js
  app/src/components/CalibrateDeck/InstructionsModal.js
  app/src/components/CalibrateDeck/types.js
  app/src/components/CalibrateLabware/ConfirmPositionContents.js
  app/src/components/CalibrateLabware/ProceedToRun.js
  app/src/components/CalibratePanel/LabwareList.js
  app/src/components/CalibratePanel/LabwareListItem.js
  app/src/components/ConnectPanel/UnreachableRobotItem.js
  app/src/components/ReviewDeck/Prompt.js
  app/src/components/RobotSettings/SelectNetwork/SelectKey.js
  app/src/components/RobotSettings/SelectNetwork/fields.js
  app/src/components/TipProbe/types.js
  app/src/components/calibrate-pipettes/Pipettes.js
  app/src/discovery/types.js
  app/src/http-api-client/calibration.js
  app/src/http-api-client/reducer.js
  app/src/logger.js
  app/src/robot/types.js
  components/package.json
  components/src/buttons/IconButton.js
  components/src/controls/ToggleButton.js
  components/src/deck/RobotWorkSpace.js
  components/src/deck/labwareInternals/types.js
  components/src/forms/InputField.js
  components/src/forms/SelectField.js
  components/src/icons/Icon.js
  components/src/icons/NotificationIcon.js
  components/src/instrument/InstrumentGroup.js
  components/src/structure/PageTabs.js
  discovery-client/package.json
  discovery-client/src/service.js
  labware-designer/package.json
  labware-library/src/analytics/fullstory.js
  labware-library/src/analytics/types.js
  labware-library/src/components/ui/ClickableIcon.js
  labware-library/src/labware-creator/components/RadioField.js
  protocol-designer/package.json
  protocol-designer/src/analytics/fullstory.js
  protocol-designer/src/components/FilePage.js
  protocol-designer/src/components/LabwareSelectionModal/LabwareSelectionModal.js
  protocol-designer/src/components/StepEditForm/fields/DisposalVolumeField.js
  protocol-designer/src/components/StepEditForm/fields/FlowRateField/index.js
  protocol-designer/src/components/StepEditForm/fields/RadioGroupField.js
  protocol-designer/src/components/StepEditForm/fields/TextField.js
  protocol-designer/src/components/StepEditForm/types.js
  protocol-designer/src/components/modals/FilePipettesModal/index.js
  protocol-designer/src/containers/ConnectedFilePage.js
  protocol-designer/src/feature-flags/actions.js
  protocol-designer/src/labware-defs/selectors.js
  protocol-designer/src/labware-ingred/actions/actions.js
  protocol-designer/src/labware-ingred/types.js
  protocol-designer/src/step-forms/types.js
  protocol-library-kludge/package.json
  shared-data/package.json
Labels: ready for review, refactor

#4753 feat(protocol-designer): Hide incompatible labware
  protocol-designer/src/components/LabwareSelectionModal/LabwareSelectionModal.js
Labels: protocol designer, ready for review

#4745 feat(protocol-designer): Pause until temperature reached
  protocol-designer/src/components/StepEditForm/StepEditForm.css
  protocol-designer/src/components/StepEditForm/forms/PauseForm.js
  protocol-designer/src/constants.js
  protocol-designer/src/form-types.js
  protocol-designer/src/localization/en/form.json
  protocol-designer/src/steplist/fieldLevel/index.js
  protocol-designer/src/steplist/formLevel/errors.js
  protocol-designer/src/steplist/formLevel/getDefaultsForStepType.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/pauseFormToArgs.js
  protocol-designer/src/ui/steps/actions/actions.js
Labels: protocol designer, ready for review

#4768 fix(api): set default move timeout to 12000 instead of 60
  api/src/opentrons/drivers/smoothie_drivers/driver_3_0.py
Labels: api, fix

#4771 build(opentrons): add no-default-export rule to linter file
  .eslintrc.js
Labels: cpx

#4671 refactor(update-server): Don't add extra newlines to /etc/machine-info on update
  update-server/otupdate/buildroot/name_management.py
  update-server/tests/buildroot/test_name_management.py
Labels: WIP, cpx, refactor, update server

#4812 fix(api): Use specified port in tools
  api/src/opentrons/tools/__init__.py
Labels: api, fix

#4821 refactor(app): Make resource card responsive
  app/src/components/App.js
  app/src/components/Resources/ResourceCard.js
  app/src/components/Resources/index.js
  app/src/components/Resources/styles.css
  app/src/index.js
  app/src/pages/More/Resources.js
  app/src/pages/More/index.js
Labels: app, ready for review, refactor

#4827 fix(protocol-designer): Update magnetic module recommended labware
  protocol-designer/src/components/LabwareSelectionModal/LabwareSelectionModal.js
Labels: fix, protocol designer, ready for review

#4769 feat(protocol-designer): use immer in step generation
  .flowconfig
  protocol-designer/package.json
  protocol-designer/src/step-generation/getNextRobotStateAndWarnings/dispenseUpdateLiquidState.js
  protocol-designer/src/step-generation/getNextRobotStateAndWarnings/forAspirate.js
  protocol-designer/src/step-generation/getNextRobotStateAndWarnings/forBlowout.js
  protocol-designer/src/step-generation/getNextRobotStateAndWarnings/forDispense.js
  protocol-designer/src/step-generation/getNextRobotStateAndWarnings/forDropTip.js
  protocol-designer/src/step-generation/getNextRobotStateAndWarnings/forPickUpTip.js
  protocol-designer/src/step-generation/getNextRobotStateAndWarnings/index.js
  protocol-designer/src/step-generation/getNextRobotStateAndWarnings/magnetUpdates.js
  protocol-designer/src/step-generation/test-with-flow/dispenseUpdateLiquidState.test.js
  protocol-designer/src/step-generation/test-with-flow/fixtures/robotStateFixtures.js
  protocol-designer/src/step-generation/test-with-flow/forAspirate.test.js
  protocol-designer/src/step-generation/test-with-flow/forBlowout.test.js
  protocol-designer/src/step-generation/test-with-flow/forDropTip.test.js
  protocol-designer/src/step-generation/test-with-flow/forPickUpTip.test.js
  protocol-designer/src/step-generation/test-with-flow/updateMagneticModule.test.js
  protocol-designer/src/step-generation/test-with-flow/utils/index.js
  protocol-designer/src/step-generation/test-with-flow/utils/makeImmutableStateUpdater.js
  shared-data/protocol/flowTypes/schemaV4.js
  yarn.lock
Labels: protocol designer, ready for review

#4770 feat(protocol-designer): add commands for temperature step
  protocol-designer/src/constants.js
  protocol-designer/src/file-data/selectors/commands.js
  protocol-designer/src/form-types.js
  protocol-designer/src/step-forms/selectors/index.js
  protocol-designer/src/step-forms/types.js
  protocol-designer/src/step-generation/commandCreators/atomic/deactivateTemperature.js
  protocol-designer/src/step-generation/commandCreators/atomic/disengageMagnet.js
  protocol-designer/src/step-generation/commandCreators/atomic/index.js
  protocol-designer/src/step-generation/commandCreators/atomic/setTemperature.js
  protocol-designer/src/step-generation/commandCreators/index.js
  protocol-designer/src/step-generation/getNextRobotStateAndWarnings/index.js
  protocol-designer/src/step-generation/index.js
  protocol-designer/src/step-generation/test-with-flow/__snapshots__/utils.test.js.snap
  protocol-designer/src/step-generation/test-with-flow/deactivateTemperature.test.js
  protocol-designer/src/step-generation/test-with-flow/fixtures/robotStateFixtures.js
  protocol-designer/src/step-generation/test-with-flow/setTemperature.test.js
  protocol-designer/src/step-generation/test-with-flow/utils.test.js
  protocol-designer/src/step-generation/types.js
  protocol-designer/src/step-generation/utils/commandCreatorArgsGetters.js
  protocol-designer/src/step-generation/utils/index.js
  protocol-designer/src/steplist/formLevel/getNextDefaultModuleId/__tests__/getNextDefaultModuleId.test.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/index.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/magnetFormToArgs.js
  protocol-designer/src/steplist/formLevel/stepFormToArgs/temperatureFormToArgs.js
  protocol-designer/src/top-selectors/substep-highlight.js
  shared-data/protocol/flowTypes/schemaV4.js
Labels: protocol designer, ready for review

#4800 test(labware-library): add cypress e2e tests to the labware creator
  .eslintrc.js
  .gitignore
  CONTRIBUTING.md
  jest.config.js
  labware-library/Makefile
  labware-library/cypress.json
  labware-library/cypress/fixtures/TestLabwareDefinition.json
  labware-library/cypress/integration/home.spec.js
  labware-library/cypress/integration/labware-creator/create.spec.js
  labware-library/cypress/integration/labware-creator/fileImport.spec.js
  labware-library/cypress/integration/labware-creator/reservoir.spec.js
  labware-library/cypress/integration/labware-creator/tubesBlock.spec.js
  labware-library/cypress/integration/labware-creator/tubesRack.spec.js
  labware-library/cypress/integration/labware-creator/wellPlate.spec.js
  labware-library/cypress/integration/navigation.spec.js
  labware-library/cypress/plugins/index.js
  labware-library/cypress/support/commands.js
  labware-library/cypress/support/index.js
  package.json
  yarn.lock
Labels: labware creator, ready for review

#4828 fix(api): Utilize return tip height from pipette configs
  api/src/opentrons/config/pipette_config.py
  api/src/opentrons/protocol_api/contexts.py
Labels: api, ready for review

#4832 build(madge,eslint): disable madge spinner and eslint warnings on CI
  Makefile
Labels: chore, cpx, ready for review

#4831 fix(api): restore plunger current before move to bottom after drop tip
  api/src/opentrons/hardware_control/__init__.py
Labels: api, fix

#4805 feat(api): add module def schema v2 and v2 defs
  shared-data/js/__tests__/moduleSpecsSchema.test.js
  shared-data/js/modules.js
  shared-data/module/definitions/2.json
  shared-data/module/schemas/2.json
Labels: shared data

#4835 refactor(protocol-designer): Update CrashInfoBox messaging and location
  protocol-designer/src/components/FilePage.js
  protocol-designer/src/components/modals/EditModulesModal/index.js
  protocol-designer/src/components/modals/EditPipettesModal/index.js
  protocol-designer/src/components/modals/FilePipettesModal/FilePipettesModal.css
  protocol-designer/src/components/modals/FilePipettesModal/index.js
  protocol-designer/src/components/modals/NewFileModal/index.js
  protocol-designer/src/components/modules/CrashInfoBox.js
  protocol-designer/src/components/modules/EditModulesCard.js
  protocol-designer/src/components/modules/ModuleRow.js
  protocol-designer/src/components/modules/index.js
  protocol-designer/src/components/modules/styles.css
  protocol-designer/src/containers/ConnectedFilePage.js
  protocol-designer/src/images/modules/crash_warning_mag.png
  protocol-designer/src/images/modules/crash_warning_mag_temp.png
  protocol-designer/src/images/modules/crash_warning_temp.png
Labels: protocol designer, ready for review

#4859 docs(repo): add NOTICE file with copyright and warranty statements
  NOTICE
Labels: docs, ready for review

#4822 style(app): change default exports to named exports
  app-shell/src/__mocks__/log.js
  app-shell/src/buildroot/index.js
  app-shell/src/buildroot/release-files.js
  app-shell/src/config.js
  app-shell/src/discovery.js
  app-shell/src/log.js
  app-shell/src/main.js
  app-shell/src/menu.js
  app-shell/src/robot-logs.js
  app-shell/src/ui.js
  app-shell/src/update.js
  app/src/__mocks__/logger.js
  app/src/analytics/hash.js
  app/src/analytics/index.js
  app/src/analytics/make-event.js
  app/src/analytics/mixpanel.js
  app/src/analytics/selectors.js
  app/src/components/CalibrateDeck/index.js
  app/src/index.js
  app/src/logger.js
  app/src/pages/Robots/index.js
  app/src/protocol/protocol-data.js
  app/src/protocol/selectors.js
  app/src/robot/api-client/index.js
  app/src/shell/epic.js
  app/src/support.js
  app/src/util.js
Labels: chore, cpx, ready for review

#4852 docs(api): fix docs around python interface to simulate
  api/docs/v1/writing.rst
  api/docs/v2/writing.rst
Labels: docs, fix

#4848 refactor(api): Add move splitting capability to driver move
  api/src/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/src/opentrons/drivers/types.py
  api/src/opentrons/drivers/utils.py
  api/src/opentrons/hardware_control/controller.py
  api/tests/opentrons/drivers/test_driver.py
Labels: api, ready for review, refactor

#4856 feat(api): make modules aware of available fw updates in file system
  api/src/opentrons/config/__init__.py
  api/src/opentrons/hardware_control/__init__.py
  api/src/opentrons/hardware_control/modules/magdeck.py
  api/src/opentrons/hardware_control/modules/mod_abc.py
  api/src/opentrons/hardware_control/modules/tempdeck.py
  api/src/opentrons/hardware_control/modules/thermocycler.py
  api/src/opentrons/hardware_control/modules/types.py
  api/src/opentrons/hardware_control/util.py
  api/src/opentrons/main.py
  api/src/opentrons/server/endpoints/control.py
  api/tests/opentrons/hardware_control/test_modules.py
  api/tests/opentrons/server/test_control_endpoints.py
  api/tests/opentrons/test_main.py
Labels: api, feature

#4865 feat(protocol-designer): allow temperature deck to be updated
  protocol-designer/src/step-generation/getNextRobotStateAndWarnings/index.js
  protocol-designer/src/step-generation/getNextRobotStateAndWarnings/magnetUpdates.js
  protocol-designer/src/step-generation/getNextRobotStateAndWarnings/temperatureUpdates.js
  protocol-designer/src/step-generation/test-with-flow/temperatureUpdates.test.js
  protocol-designer/src/step-generation/utils/misc.js
Labels: protocol designer, ready for review

#4882 refactor(labware-creator): Swap PDF and export button order
  labware-library/src/labware-creator/index.js
  labware-library/src/labware-creator/styles.css
Labels: labware creator, ready for review

#4843 feat(protocol-designer): add labware hover highlighting to modules
  protocol-designer/src/ui/steps/selectors.js
  protocol-designer/src/ui/steps/test/selectors.test.js
Labels: protocol designer, ready for review

#4881 test(protocol-designer): add cypress.io infrastructure and initial tests
  .gitignore
  CONTRIBUTING.md
  Makefile
  labware-library/Makefile
  labware-library/cypress/integration/labware-creator/fileImport.spec.js
  protocol-designer/Makefile
  protocol-designer/cypress.json
  protocol-designer/cypress/integration/home.spec.js
  protocol-designer/cypress/integration/newProtocol.spec.js
  protocol-designer/cypress/integration/settings.spec.js
  protocol-designer/cypress/integration/sidebar.spec.js
  protocol-designer/cypress/plugins/index.js
  protocol-designer/cypress/support/commands.js
  protocol-designer/cypress/support/index.js
Labels: protocol designer, ready for review

#4891 docs(api): add version parameter in jupyter instructions
  api/docs/v2/writing.rst
  api/src/opentrons/execute.py
  api/src/opentrons/simulate.py
Labels: api, docs, ready for review

#4890 feat(components): Add mini slot map to shared components
  components/src/__tests__/__snapshots__/slotmap.test.js.snap
  components/src/__tests__/slotmap.test.js
  components/src/index.js
  components/src/slotmap/SlotMap.js
  components/src/slotmap/SlotMap.md
  components/src/slotmap/index.js
  components/src/slotmap/styles.css
  components/styleguide.config.js
Labels: components, protocol designer, ready for review

#4885 feat(protocol-designer): Conditionally disabled pause until temp
  protocol-designer/src/components/StepEditForm/StepEditForm.css
  protocol-designer/src/components/StepEditForm/fields/RadioGroupField.js
  protocol-designer/src/components/StepEditForm/forms/PauseForm.js
  protocol-designer/src/localization/en/tooltip.json
  protocol-designer/src/ui/modules/selectors.js
Labels: protocol designer, ready for review
