Repository Opentrons/opentrons, pull requests merged in 2021-04, with the labels that each got.

#7574 fix(api): do not search for a tip length calibration by slot name
  api/src/opentrons/protocols/api_support/instrument.py
  api/tests/opentrons/protocol_api/test_context.py
Labels: api, fix

#7576 revert(robot-server): Save the z offset for pipette calibration
  robot-server/robot_server/robot/calibration/pipette_offset/user_flow.py
  robot-server/tests/robot/calibration/pipette_offset/test_user_flow.py
Labels: api

#7580 refactor(api): remove parent check for tip length calibration
  api/src/opentrons/calibration_storage/get.py
  api/src/opentrons/calibration_storage/modify.py
  api/src/opentrons/protocols/api_support/instrument.py
  api/tests/opentrons/protocol_api/test_context.py
  api/tests/opentrons/protocol_api/test_offsets.py
  robot-server/robot_server/robot/calibration/check/user_flow.py
  robot-server/robot_server/robot/calibration/deck/user_flow.py
  robot-server/robot_server/robot/calibration/pipette_offset/user_flow.py
  robot-server/robot_server/robot/calibration/util.py
  robot-server/tests/robot/calibration/tip_length/test_user_flow.py
Labels: api

#7584 chore(bump): 4.2.1-alpha.0
  CHANGELOG.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  notify-server/notify_server/CHANGELOG.md
  notify-server/notify_server/package.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  robot-server/robot_server/CHANGELOG.md
  robot-server/robot_server/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: release 🚢

#7534 refactor(api): hardware emulator refactor
  api/src/opentrons/hardware_control/emulation/abstract_emulator.py
  api/src/opentrons/hardware_control/emulation/app.py
  api/src/opentrons/hardware_control/emulation/command_processor.py
  api/src/opentrons/hardware_control/emulation/connection_handler.py
  api/src/opentrons/hardware_control/emulation/magdeck.py
  api/src/opentrons/hardware_control/emulation/smoothie.py
  api/src/opentrons/hardware_control/emulation/tempdeck.py
  api/src/opentrons/hardware_control/emulation/thermocycler.py
Labels: api, cpx

#7555 feat(api): api json command dispatcher and translator
  api/src/opentrons/protocols/runner/__init__.py
  api/src/opentrons/protocols/runner/json_proto/__init__.py
  api/src/opentrons/protocols/runner/json_proto/command_translator.py
  api/src/opentrons/protocols/runner/json_proto/models/__init__.py
  api/src/opentrons/protocols/runner/json_proto/models/json_protocol.py
  api/src/opentrons/protocols/runner/json_proto/models/labware_definition.py
  api/tests/opentrons/protocols/runnner/__init__.py
  api/tests/opentrons/protocols/runnner/conftest.py
  api/tests/opentrons/protocols/runnner/json_proto/__init__.py
  api/tests/opentrons/protocols/runnner/json_proto/models/__init__.py
  api/tests/opentrons/protocols/runnner/json_proto/models/test_json_protocol.py
  api/tests/opentrons/protocols/runnner/json_proto/test_command_translator.py
Labels: api, cpx

#7554 refactor(components): remove unused tooltip prop from CheckboxField
  components/flow-types/forms/CheckboxField.js.flow
  components/src/forms/CheckboxField.tsx
Labels: components

#7553 refactor(protocol-designer): remove deprecated HoverTooltip from PD
  protocol-designer/src/components/StepEditForm/fields/VolumeField.js
  protocol-designer/src/components/StepEditForm/forms/AspDispSection.js
  protocol-designer/src/components/StepEditForm/forms/PauseForm.js
Labels: :spider: SPDDRS, protocol designer

#7595 chore(bump): 4.2.1
  CHANGELOG.md
  api/release-notes.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/build/release-notes.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  notify-server/notify_server/CHANGELOG.md
  notify-server/notify_server/package.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  robot-server/robot_server/CHANGELOG.md
  robot-server/robot_server/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: release 🚢

#7594 refactor(labware-creator): refactor onUpload for TS correctness
  labware-library/src/labware-creator/index.tsx
Labels: labware creator

#7596 chore(pe): context duplication noodling InstrumentContext
  api/src/opentrons/experimental_protocol_api/__init__.py
  api/src/opentrons/experimental_protocol_api/instrument_context.py
  api/src/opentrons/experimental_protocol_api/labware.py
  api/src/opentrons/experimental_protocol_api/protocol_context.py
Labels: chore, cpx

#7597 feat(protocol-designer): add Batch Edit Mix form
  protocol-designer/src/components/BatchEditForm/BatchEditMix.js
  protocol-designer/src/components/BatchEditForm/BatchEditMoveLiquid.js
  protocol-designer/src/components/BatchEditForm/FormColumn.js
  protocol-designer/src/components/BatchEditForm/__tests__/BatchEditMoveLiquid.test.js
  protocol-designer/src/components/BatchEditForm/index.js
  protocol-designer/src/ui/steps/__fixtures__/index.js
  protocol-designer/src/ui/steps/selectors.js
  protocol-designer/src/ui/steps/test/selectors.test.js
Labels: :spider: SPDDRS, protocol designer

#7592 fix(protocol-designer): fix tip position modal minus button
  protocol-designer/src/components/StepEditForm/fields/TipPositionField/TipPositionModal.js
Labels: :spider: SPDDRS, protocol designer

#7556 refactor(protocol-designer): make nestedCombineReducers validate on init
  protocol-designer/src/step-forms/reducers/index.js
  protocol-designer/src/step-forms/reducers/nestedCombineReducers.js
  protocol-designer/src/step-forms/test/nestedCombineReducers.test.js
Labels: :spider: SPDDRS, protocol designer, refactor

#7606 fix(components): bump the components library version manually
  components/package.json
Labels: fix

#7543 refactor(app): Add and Display USB port info for Modules
  app/src/molecules/DeckMap/index.js
  app/src/molecules/ModuleControls/MagnetControl.js
  app/src/molecules/ModuleControls/TemperatureControl.js
  app/src/organisms/ProtocolModuleList/__tests__/ProtocolModuleList.test.js
  app/src/organisms/ProtocolModuleList/index.js
  app/src/pages/Calibrate/ConnectModules/index.js
  app/src/pages/Robots/ModuleSettings/AttachedModulesCard.js
  app/src/pages/Robots/ModuleSettings/ModuleItem/ModuleUpdate.js
  app/src/pages/Robots/ModuleSettings/ModuleItem/index.js
  app/src/pages/Robots/ModuleSettings/UsbHubItem.js
  app/src/pages/Run/RunPanel/ModuleLiveStatusCards/MagDeckCard.js
  app/src/pages/Run/RunPanel/ModuleLiveStatusCards/StatusCard.js
  app/src/pages/Run/RunPanel/ModuleLiveStatusCards/TempDeckCard.js
  app/src/pages/Run/RunPanel/ModuleLiveStatusCards/ThermocyclerCard.js
  app/src/pages/Run/RunPanel/ModuleLiveStatusCards/index.js
  app/src/redux/modules/__fixtures__/index.js
  app/src/redux/modules/api-types.js
  app/src/redux/modules/epic/__tests__/fetchModulesEpic.test.js
  app/src/redux/modules/epic/fetchModulesEpic.js
  app/src/redux/modules/selectors.js
  app/src/redux/modules/types.js
  components/flow-types/deck/Module.js.flow
  components/flow-types/lists/CollapsibleItem.js.flow
  components/src/deck/Module.css
  components/src/deck/Module.tsx
  components/src/lists/CollapsibleItem.tsx
  components/src/lists/lists.css
Labels: app

#7588 chore(api): remove unused code
  api/src/opentrons/drivers/__init__.py
  api/src/opentrons/drivers/connection.py
Labels: api, chore, cpx

#7613 fix(protocol-designer): Fix starting deck state button toolbar overlap
  protocol-designer/src/components/steplist/MultiSelectToolbar/index.js
Labels: :spider: SPDDRS, protocol designer

#7620 chore(protocol-designer): bump to 5.2.5 for hotfix
  protocol-designer/webpack.config.js
Labels: :spider: SPDDRS, protocol designer

#7617 refactor(api): Duplicate user-facing PAPIv2 interfaces for Protocol Engine
  api/src/opentrons/protocol_api_experimental/__init__.py
  api/src/opentrons/protocol_api_experimental/instrument_context.py
  api/src/opentrons/protocol_api_experimental/labware.py
  api/src/opentrons/protocol_api_experimental/protocol_context.py
Labels: api, cpx, refactor

#7621 feat(api): protocol engine InstrumentContext implementes pick_up_tip and drop_tip
  api/src/opentrons/protocol_api_experimental/instrument_context.py
  api/src/opentrons/protocol_api_experimental/labware.py
  api/src/opentrons/protocol_engine/clients/sync_client.py
  api/tests/opentrons/protocol_api_experimental/__init__.py
  api/tests/opentrons/protocol_api_experimental/test_instrument_context.py
  api/tests/opentrons/protocol_engine/clients/test_sync_client.py
Labels: api, cpx

#7631 feat(api): fast simulation catches tip and volume errors
  api/src/opentrons/hardware_control/__init__.py
  api/src/opentrons/protocols/context/simulator/instrument_context.py
  api/tests/opentrons/protocols/context/simulator/__init__.py
  api/tests/opentrons/protocols/context/simulator/test_instrument_context.py
Labels: api, cpx

#7638 refactor(docs): reduce visibility of from_center_cartesian in our documentation
  api/docs/v2/new_labware.rst
  api/docs/v2/versioning.rst
  api/src/opentrons/protocols/geometry/well_geometry.py
Labels: docs

#7608 fix(discovery-client): allow discovery client to track network interfaces
  app-shell/src/__tests__/discovery.test.ts
  app-shell/src/discovery.ts
  discovery-client/src/__fixtures__/index.ts
  discovery-client/src/__tests__/discovery-client.test.ts
  discovery-client/src/__tests__/mdns-browser.test.ts
  discovery-client/src/mdns-browser.ts
  discovery-client/src/mdns-browser/__fixtures__/index.ts
  discovery-client/src/mdns-browser/__fixtures__/mdns-browser-service.ts
  discovery-client/src/mdns-browser/__tests__/interfaces.test.ts
  discovery-client/src/mdns-browser/__tests__/mdns-browser.test.ts
  discovery-client/src/mdns-browser/__tests__/repeat-call.test.ts
  discovery-client/src/mdns-browser/base-browser.ts
  discovery-client/src/mdns-browser/index.ts
  discovery-client/src/mdns-browser/interfaces.ts
  discovery-client/src/mdns-browser/repeat-call.ts
  discovery-client/src/mdns-browser/types.ts
  discovery-client/src/store/actions.ts
  discovery-client/src/store/selectors.ts
  discovery-client/src/store/types.ts
  discovery-client/src/types.ts
  discovery-client/typings/mdns-js.d.ts
  package.json
Labels: cpx, discovery-client, fix, qa

#7589 feat(app): allow robot restarts to track boot ID and timeout
  app/src/pages/Robots/RobotSettings/UpdateBuildroot/__tests__/UpdateBuildroot.test.js
  app/src/redux/buildroot/__tests__/epic.test.js
  app/src/redux/buildroot/constants.js
  app/src/redux/buildroot/epic.js
  app/src/redux/discovery/types.js
  app/src/redux/robot-admin/__tests__/reducer.test.js
  app/src/redux/robot-admin/__tests__/selectors.test.js
  app/src/redux/robot-admin/actions.js
  app/src/redux/robot-admin/constants.js
  app/src/redux/robot-admin/epic/__tests__/fetchResetOptionsEpic.test.js
  app/src/redux/robot-admin/epic/__tests__/resetConfigEpic.test.js
  app/src/redux/robot-admin/epic/__tests__/restartEpic.test.js
  app/src/redux/robot-admin/epic/__tests__/syncTimeOnConnectEpic.test.js
  app/src/redux/robot-admin/epic/__tests__/trackRestartsEpic.test.js
  app/src/redux/robot-admin/epic/index.js
  app/src/redux/robot-admin/epic/trackRestartsEpic.js
  app/src/redux/robot-admin/reducer.js
  app/src/redux/robot-admin/selectors.js
  app/src/redux/robot-admin/types.js
  app/src/redux/robot-api/__utils__/epic-test-mocks.js
  app/src/redux/robot-settings/epic/__tests__/clearRestartPathEpic.test.js
  app/src/redux/robot-settings/epic/clearRestartPathEpic.js
  discovery-client/lib/index.flow.js
  discovery-client/src/types.ts
Labels: app, cpx, feature, qa

#7609 fix(api): api location cache fix
  api/src/opentrons/protocols/api_support/definitions.py
  api/src/opentrons/protocols/context/engine/protocol_context.py
  api/src/opentrons/protocols/context/protocol.py
  api/src/opentrons/protocols/context/protocol_api/instrument_context.py
  api/src/opentrons/protocols/context/protocol_api/protocol_context.py
  api/tests/opentrons/protocol_api/test_context.py
Labels: api, cpx, fix, qa

#7639 fix(api): can't find pipettes
  api/src/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/tests/opentrons/drivers/test_driver.py
Labels: cpx, fix, hmg

#7641 fix(api): unit tests hang due to too many open files
  api/tests/opentrons/protocol_api/test_context.py
  api/tests/opentrons/protocol_api/test_instrument.py
  api/tests/opentrons/protocols/advanced_control/test_transfers.py
  api/tests/opentrons/protocols/context/simulator/test_instrument_context.py
Labels: api, cpx, fix

#7628 refactor(protocol-designer): Update batch edit copy to include mix
  protocol-designer/src/components/modals/AnnouncementModal/announcements.js
  protocol-designer/src/localization/en/application.json
Labels: :spider: SPDDRS, protocol designer

#7650 fix(shared-data): fix data not being included in package build
  shared-data/python/setup.py
Labels: fix, shared data

#7654 fix(api): return a simulated module for magnetic modules if they are not compatible
  api/src/opentrons/hardware_control/api.py
  api/src/opentrons/protocols/context/protocol_api/protocol_context.py
  api/tests/opentrons/hardware_control/test_modules.py
Labels: api, fix

#7626 feat(protocol-designer): Add batch edit hint modal
  protocol-designer/cypress/integration/newProtocolWithModules.spec.js
  protocol-designer/cypress/integration/newProtocolWithTC.spec.js
  protocol-designer/src/components/Hints/index.js
  protocol-designer/src/localization/en/alert.json
  protocol-designer/src/tutorial/index.js
  protocol-designer/src/tutorial/selectors.js
  protocol-designer/src/ui/steps/actions/thunks/index.js
Labels: :spider: SPDDRS, protocol designer

#7614 feat(protocol-designer): Add tooltip for indeterminate checkboxes
  protocol-designer/src/components/BatchEditForm/__tests__/makeBatchEditFieldProps.test.js
  protocol-designer/src/components/BatchEditForm/makeBatchEditFieldProps.js
  protocol-designer/src/components/StepEditForm/utils.js
  protocol-designer/src/localization/en/tooltip.json
Labels: :spider: SPDDRS, protocol designer

#7660 chore(app): remove feature flag hiding front end changes for moam
  app/src/pages/Calibrate/CalibratePanel/index.js
  app/src/pages/Robots/RobotSettings/__tests__/CalibrationCard.test.js
  app/src/redux/config/constants.js
  app/src/redux/config/schema-types.js
Labels: app, chore

#7675 fix(shared-data): fix p1000_single_gen2 literal in type union
  shared-data/python/opentrons_shared_data/pipette/dev_types.py
Labels: bug, fix, shared data

#7585 refactor(app, protocol-designer): replace worker-loader with worker-plugin
  app/src/redux/robot/api-client/index.js
  app/src/rpc/client.js
  app/src/rpc/websocket-client.js
  app/webpack.config.js
  package.json
  protocol-designer/src/timelineMiddleware/makeTimelineMiddleware.js
  protocol-designer/webpack.config.js
  webpack-config/README.md
  webpack-config/lib/base-config.js
  webpack-config/lib/rules.js
  yarn.lock
Labels: app, protocol designer, refactor

#7653 refactor(protocol-designer): StepItem 'stepType' and 'subStepType typing cleanup
  protocol-designer/src/components/steplist/__tests__/StepItemContents.test.js
Labels: :spider: SPDDRS, protocol designer

#7651 fix(app): use correct module order to get usb port
  app/src/organisms/ProtocolModuleList/__tests__/ProtocolModuleList.test.js
  app/src/redux/analytics/__tests__/selectors.test.js
  app/src/redux/calibration/labware/__tests__/selectors.test.js
  app/src/redux/modules/__tests__/selectors.test.js
  app/src/redux/modules/selectors.js
  app/src/redux/robot/api-client/client.js
  app/src/redux/robot/api-types.js
  app/src/redux/robot/selectors.js
  app/src/redux/robot/test/api-client.test.js
Labels: app, fix

#7678 chore(app): remove feature flag hiding front end changes for moam
  app/src/pages/Calibrate/CalibratePanel/index.js
  app/src/pages/Robots/RobotSettings/__tests__/CalibrationCard.test.js
  app/src/redux/config/constants.js
  app/src/redux/config/schema-types.js
Labels: app

#7679 feat(protocol-designer): remove FF and bump version for batch edit mix
  protocol-designer/src/components/BatchEditForm/index.js
  protocol-designer/src/feature-flags/reducers.js
  protocol-designer/src/feature-flags/selectors.js
  protocol-designer/src/feature-flags/types.js
  protocol-designer/webpack.config.js
Labels: :spider: SPDDRS, protocol designer

#7691 fix(app): fix calibrate page redirect url
  app/src/pages/Calibrate/index.js
Labels: app, easyfix

#7676 feat(protocol-engine): add load_pipette method to engine-backed ProtocolContext
  api/src/opentrons/protocol_api_experimental/__init__.py
  api/src/opentrons/protocol_api_experimental/errors.py
  api/src/opentrons/protocol_api_experimental/instrument_context.py
  api/src/opentrons/protocol_api_experimental/pipette_context.py
  api/src/opentrons/protocol_api_experimental/protocol_context.py
  api/src/opentrons/protocol_api_experimental/types.py
  api/src/opentrons/protocol_engine/__init__.py
  api/src/opentrons/protocol_engine/clients/sync_client.py
  api/src/opentrons/protocol_engine/commands/load_pipette.py
  api/src/opentrons/protocol_engine/execution/equipment.py
  api/src/opentrons/protocol_engine/state/pipettes.py
  api/src/opentrons/protocol_engine/types.py
  api/tests/opentrons/protocol_api_experimental/__init__.py
  api/tests/opentrons/protocol_api_experimental/test_pipette_context.py
  api/tests/opentrons/protocol_api_experimental/test_protocol_context.py
  api/tests/opentrons/protocol_engine/clients/test_sync_client.py
  api/tests/opentrons/protocol_engine/commands/test_load_pipette.py
  api/tests/opentrons/protocol_engine/execution/test_equipment_handler.py
  api/tests/opentrons/protocol_engine/state/test_motion_getters.py
  api/tests/opentrons/protocol_engine/state/test_pipette_state.py
Labels: api, cpx, feature

#7704 fix(api): ensure loaded modules is returned in order
  api/src/opentrons/protocol_api/protocol_context.py
  api/src/opentrons/protocols/context/protocol_api/protocol_context.py
  api/tests/opentrons/protocol_api/test_context.py
Labels: api, fix

#7701 fix(api): Correct some type annotations in `ProtocolContext`
  api/src/opentrons/protocol_api/protocol_context.py
Labels: api, cpx, fix

#7694 feat(robot-server): http protocol upload supports custom labware.
  api/src/opentrons/api/session.py
  api/src/opentrons/protocols/context/protocol_api/protocol_context.py
  robot-server/robot_server/service/protocol/analyze.py
  robot-server/robot_server/service/protocol/contents.py
  robot-server/robot_server/service/protocol/protocol.py
  robot-server/robot_server/service/session/session_types/protocol/execution/protocol_runner.py
  robot-server/tests/integration/protocols/load_custom_labware.py
  robot-server/tests/integration/protocols/runtime_error.py
  robot-server/tests/integration/protocols/test_1_reservoir_5ul.json
  robot-server/tests/integration/protocols/test_analysis_errors.tavern.yaml
  robot-server/tests/integration/protocols/test_analysis_results.tavern.yaml
  robot-server/tests/integration/protocols/test_protocol_upload.tavern.yaml
  robot-server/tests/integration/protocols/test_support_files.tavern.yaml
  robot-server/tests/integration/protocols/test_upload.tavern.yaml
  robot-server/tests/integration/sessions/test_protocol.tavern.yaml
  robot-server/tests/service/protocol/test_analyze.py
Labels: cpx, robot server

#7686 feat(robot-server): Clarify "local connection only" error message
  update-server/otupdate/buildroot/ssh_key_management.py
Labels: cpx, feature, robot server

#7709 refactor(labware-creator): Move conditional labware diagrams to own file
  labware-library/src/labware-creator/components/diagrams/index.tsx
  labware-library/src/labware-creator/index.tsx
Labels: :spider: SPDDRS, labware creator

#7710 fix(app): add USB order to protocol module list
  app/src/assets/localization/en/protocol_calibration.json
  app/src/organisms/ProtocolModuleList/__tests__/ProtocolModuleList.test.js
  app/src/organisms/ProtocolModuleList/index.js
  app/src/pages/Calibrate/ConnectModules/Prompt.js
Labels: app

#7692 docs(api): Publicly document the deprecation of some long-deprecated APIv2 methods
  api/src/opentrons/protocol_api/labware.py
  api/src/opentrons/protocol_api/module_contexts.py
  api/src/opentrons/protocol_api/protocol_context.py
Labels: cpx, docs, fix

#7722 feat(api): CommandTranslator._aspirate implemented.
  api/src/opentrons/protocols/runner/json_proto/command_translator.py
  api/tests/opentrons/protocols/runnner/json_proto/test_command_translator.py
Labels: cpx

#7703 refactor(api): add load_labware implementation to engine-based ProtocolContext
  api/src/opentrons/protocol_api_experimental/__init__.py
  api/src/opentrons/protocol_api_experimental/errors.py
  api/src/opentrons/protocol_api_experimental/labware.py
  api/src/opentrons/protocol_api_experimental/pipette_context.py
  api/src/opentrons/protocol_api_experimental/protocol_context.py
  api/src/opentrons/protocol_api_experimental/types.py
  api/src/opentrons/protocol_api_experimental/well.py
  api/tests/opentrons/protocol_api_experimental/test_pipette_context.py
  api/tests/opentrons/protocol_api_experimental/test_protocol_context.py
Labels: cpx, refactor

#7632 refactor(robot-server): start pulling routers to top-level modules
  CONTRIBUTING.md
  robot-server/.flake8
  robot-server/Makefile
  robot-server/README.rst
  robot-server/opentrons-robot-server.service
  robot-server/robot_server/__init__.py
  robot-server/robot_server/app.py
  robot-server/robot_server/constants.py
  robot-server/robot_server/hardware_wrapper.py
  robot-server/robot_server/health/__init__.py
  robot-server/robot_server/health/models.py
  robot-server/robot_server/health/router.py
  robot-server/robot_server/main.py
  robot-server/robot_server/router.py
  robot-server/robot_server/service/__init__.py
  robot-server/robot_server/service/app.py
  robot-server/robot_server/service/dependencies.py
  robot-server/robot_server/service/json_api/__init__.py
  robot-server/robot_server/service/legacy/models/health.py
  robot-server/robot_server/service/legacy/routers/__init__.py
  robot-server/robot_server/service/legacy/routers/health.py
  robot-server/robot_server/service/legacy/routers/settings.py
  robot-server/robot_server/service/protocol/router.py
  robot-server/robot_server/service/system/__init__.py
  robot-server/robot_server/service/system/models.py
  robot-server/robot_server/service/system/router.py
  robot-server/robot_server/system/__init__.py
  robot-server/robot_server/system/errors.py
  robot-server/robot_server/system/models.py
  robot-server/robot_server/system/router.py
  robot-server/robot_server/system/time_utils.py
  robot-server/tests/conftest.py
  robot-server/tests/health/__init__.py
  robot-server/tests/health/test_health_router.py
  robot-server/tests/service/legacy/rpc/test_server.py
  robot-server/tests/service/system/__init__.py
  robot-server/tests/service/system/test_router.py
  robot-server/tests/system/__init__.py
  robot-server/tests/system/test_system_router.py
  robot-server/tests/system/test_time.py
  robot-server/tests/system/test_time_utils.py
  robot-server/tests/test_app.py
  robot-server/tests/test_main.py
Labels: cpx, robot server

#7736 fix(app): sort module status cards by slot number
  app/src/pages/Run/RunPanel/ModuleLiveStatusCards/index.js
Labels: app, fix

#7734 feat(api): CommandTranslator._dispense implemented.
  api/src/opentrons/protocols/runner/json_proto/command_translator.py
  api/tests/opentrons/protocols/runnner/json_proto/test_command_translator.py
Labels: cpx

#7738 fix(app): add USB hub port number
  app/src/molecules/DeckMap/index.js
  app/src/organisms/ProtocolModuleList/__tests__/ProtocolModuleList.test.js
  app/src/organisms/ProtocolModuleList/index.js
  app/src/pages/Robots/ModuleSettings/ModuleItem/index.js
  app/src/pages/Robots/ModuleSettings/UsbHubItem.js
  components/src/deck/Module.css
Labels: app

#7743 feat(api): CommandTranslator._drop_tip implemented.
  api/src/opentrons/protocols/runner/json_proto/command_translator.py
  api/tests/opentrons/protocols/runnner/json_proto/test_command_translator.py
Labels: api, cpx

#7571 refactor(api): refactor smoothie and module response parsing
  api/src/opentrons/drivers/mag_deck/driver.py
  api/src/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/src/opentrons/drivers/temp_deck/driver.py
  api/src/opentrons/drivers/thermocycler/driver.py
  api/src/opentrons/drivers/types.py
  api/src/opentrons/drivers/utils.py
  api/tests/opentrons/drivers/module_drivers/test_mag_deck_driver.py
  api/tests/opentrons/drivers/module_drivers/test_temp_deck_driver.py
  api/tests/opentrons/drivers/module_drivers/test_thermocycler_driver.py
  api/tests/opentrons/drivers/test_utils.py
Labels: api, cpx, qa, refactor

#7749 fix(app): conditionally show module usb order instructions
  app/src/organisms/ProtocolModuleList/index.js
Labels: app, easyfix
