Repository Opentrons/opentrons, pull requests merged in 2021-08, with the labels that each got.

#8161 refactor(protocol-engine): implement pause command
  api/Makefile
  api/src/opentrons/file_runner/create_file_runner.py
  api/src/opentrons/file_runner/json_command_translator.py
  api/src/opentrons/file_runner/json_file_runner.py
  api/src/opentrons/protocol_api_experimental/protocol_context.py
  api/src/opentrons/protocol_engine/clients/sync_client.py
  api/src/opentrons/protocol_engine/commands/__init__.py
  api/src/opentrons/protocol_engine/commands/command.py
  api/src/opentrons/protocol_engine/commands/command_unions.py
  api/src/opentrons/protocol_engine/commands/pause.py
  api/src/opentrons/protocol_engine/create_protocol_engine.py
  api/src/opentrons/protocol_engine/execution/__init__.py
  api/src/opentrons/protocol_engine/execution/command_executor.py
  api/src/opentrons/protocol_engine/execution/run_control.py
  api/src/opentrons/protocol_engine/state/commands.py
  api/src/opentrons/protocols/models/json_protocol.py
  api/src/opentrons/protocols/runner/__init__.py
  api/src/opentrons/protocols/runner/json_proto/__init__.py
  api/tests/opentrons/file_runner/test_json_command_translator.py
  api/tests/opentrons/file_runner/test_json_file_runner.py
  api/tests/opentrons/protocol_api_experimental/test_protocol_context.py
  api/tests/opentrons/protocol_engine/clients/test_sync_client.py
  api/tests/opentrons/protocol_engine/commands/conftest.py
  api/tests/opentrons/protocol_engine/commands/test_add_labware_definition.py
  api/tests/opentrons/protocol_engine/commands/test_aspirate.py
  api/tests/opentrons/protocol_engine/commands/test_command_mapper.py
  api/tests/opentrons/protocol_engine/commands/test_dispense.py
  api/tests/opentrons/protocol_engine/commands/test_drop_tip.py
  api/tests/opentrons/protocol_engine/commands/test_load_labware.py
  api/tests/opentrons/protocol_engine/commands/test_load_pipette.py
  api/tests/opentrons/protocol_engine/commands/test_move_to_well.py
  api/tests/opentrons/protocol_engine/commands/test_pause.py
  api/tests/opentrons/protocol_engine/commands/test_pick_up_tip.py
  api/tests/opentrons/protocol_engine/execution/test_command_executor.py
  api/tests/opentrons/protocol_engine/execution/test_run_control_handler.py
  api/tests/opentrons/protocol_engine/state/test_command_view.py
  api/tests/opentrons/protocols/runner/__init__.py
  api/tests/opentrons/protocols/runner/conftest.py
  api/tests/opentrons/protocols/runner/json_proto/__init__.py
Labels: cpx, protocol-engine

#8180 refactor(protocol-engine): add ProtocolEngine.halt for cancellation
  api/src/opentrons/file_runner/abstract_file_runner.py
  api/src/opentrons/file_runner/json_file_runner.py
  api/src/opentrons/file_runner/python_file_runner.py
  api/src/opentrons/hardware_control/api.py
  api/src/opentrons/protocol_engine/create_protocol_engine.py
  api/src/opentrons/protocol_engine/errors/__init__.py
  api/src/opentrons/protocol_engine/execution/queue_worker.py
  api/src/opentrons/protocol_engine/protocol_engine.py
  api/src/opentrons/protocol_engine/state/__init__.py
  api/src/opentrons/protocol_engine/state/actions.py
  api/src/opentrons/protocol_engine/state/commands.py
  api/tests/opentrons/file_runner/test_context_creator.py
  api/tests/opentrons/file_runner/test_json_file_runner.py
  api/tests/opentrons/file_runner/test_python_file_runner.py
  api/tests/opentrons/protocol_engine/execution/test_queue_worker.py
  api/tests/opentrons/protocol_engine/state/test_command_store.py
  api/tests/opentrons/protocol_engine/state/test_command_view.py
  api/tests/opentrons/protocol_engine/test_protocol_engine.py
  robot-server/robot_server/sessions/action_models.py
  robot-server/robot_server/sessions/router/actions_router.py
  robot-server/tests/sessions/router/test_actions_router.py
Labels: cpx, protocol-engine

#8193 chore(release): 4.5.0-alpha.1
  CHANGELOG.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  notify-server/notify_server/CHANGELOG.md
  notify-server/notify_server/package.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  robot-server/robot_server/CHANGELOG.md
  robot-server/robot_server/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  step-generation/CHANGELOG.md
  step-generation/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore

#8190 ci(codecov): fix codecov / jest coverage misconfigurations
  .codecov.yml
  .github/workflows/api-test-lint-deploy.yaml
  .github/workflows/app-test-build-deploy.yaml
  .github/workflows/components-test-build-deploy.yaml
  .github/workflows/ll-test-build-deploy.yaml
  .github/workflows/notify-server-lint-test.yaml
  .github/workflows/pd-test-build-deploy.yaml
  .github/workflows/robot-server-lint-test.yaml
  .github/workflows/shared-data-test-lint-deploy.yaml
  .github/workflows/step-generation-test.yaml
  .github/workflows/update-server-lint-test.yaml
  jest.config.js
  shared-data/python/Makefile
  shared-data/python/Pipfile
  shared-data/python/Pipfile.lock
Labels: JS Tech Debt, infrastructure, python

#8191 refactor(protocol-engine): simplify factories
  api/src/opentrons/protocol_engine/create_protocol_engine.py
  api/src/opentrons/protocol_engine/execution/__init__.py
  api/src/opentrons/protocol_engine/execution/command_executor.py
  api/src/opentrons/protocol_engine/execution/create_queue_worker.py
  api/src/opentrons/protocol_engine/execution/equipment.py
  api/src/opentrons/protocol_engine/execution/movement.py
  api/src/opentrons/protocol_engine/execution/pipetting.py
  api/src/opentrons/protocol_engine/protocol_engine.py
  api/src/opentrons/protocol_engine/resources/__init__.py
  api/src/opentrons/protocol_engine/resources/deck_data_provider.py
  api/src/opentrons/protocol_engine/resources/labware_data_provider.py
  api/src/opentrons/protocol_engine/resources/resource_providers.py
  api/src/opentrons/protocol_engine/state/__init__.py
  api/src/opentrons/protocol_engine/state/create_state_store.py
  api/tests/opentrons/file_runner/smoke_tests/test_python.py
  api/tests/opentrons/file_runner/test_context_creator.py
  api/tests/opentrons/file_runner/test_create_file_runner.py
  api/tests/opentrons/protocol_engine/execution/test_command_executor.py
  api/tests/opentrons/protocol_engine/execution/test_equipment_handler.py
  api/tests/opentrons/protocol_engine/execution/test_movement_handler.py
  api/tests/opentrons/protocol_engine/execution/test_pipetting_handler.py
  api/tests/opentrons/protocol_engine/resources/test_deck_data_provider.py
  api/tests/opentrons/protocol_engine/test_create_protocol_engine.py
  api/tests/opentrons/protocol_engine/test_protocol_engine.py
  robot-server/robot_server/sessions/engine_store.py
Labels: protocol-engine

#8201 chore(release): sync edge with 4.5.0
  CHANGELOG.md
  api/release-notes.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/drivers/asyncio/communication/serial_connection.py
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/build/release-notes.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  notify-server/notify_server/CHANGELOG.md
  notify-server/notify_server/package.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  robot-server/robot_server/CHANGELOG.md
  robot-server/robot_server/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  step-generation/CHANGELOG.md
  step-generation/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore

#8210 refactor(api): create ProtocolRunner to control ProtocolEngine
  api/Makefile
  api/src/opentrons/file_runner/__init__.py
  api/src/opentrons/file_runner/abstract_file_runner.py
  api/src/opentrons/file_runner/context_creator.py
  api/src/opentrons/file_runner/create_file_runner.py
  api/src/opentrons/file_runner/json_file_runner.py
  api/src/opentrons/file_runner/python_executor.py
  api/src/opentrons/file_runner/python_file_runner.py
  api/src/opentrons/protocol_engine/__init__.py
  api/src/opentrons/protocol_engine/protocol_engine.py
  api/src/opentrons/protocol_runner/__init__.py
  api/src/opentrons/protocol_runner/json_command_translator.py
  api/src/opentrons/protocol_runner/json_file_reader.py
  api/src/opentrons/protocol_runner/protocol_file.py
  api/src/opentrons/protocol_runner/protocol_runner.py
  api/src/opentrons/protocol_runner/python_context_creator.py
  api/src/opentrons/protocol_runner/python_executor.py
  api/src/opentrons/protocol_runner/python_file_reader.py
  api/src/opentrons/protocol_runner/task_queue.py
  api/tests/opentrons/file_runner/__init__.py
  api/tests/opentrons/file_runner/conftest.py
  api/tests/opentrons/file_runner/smoke_tests/__init__.py
  api/tests/opentrons/file_runner/smoke_tests/test_python.py
  api/tests/opentrons/file_runner/test_create_file_runner.py
  api/tests/opentrons/file_runner/test_json_file_reader.py
  api/tests/opentrons/file_runner/test_json_file_runner.py
  api/tests/opentrons/file_runner/test_python_file_runner.py
  api/tests/opentrons/protocol_runner/__init__.py
  api/tests/opentrons/protocol_runner/conftest.py
  api/tests/opentrons/protocol_runner/test_json_command_translator.py
  api/tests/opentrons/protocol_runner/test_json_file_reader.py
  api/tests/opentrons/protocol_runner/test_protocol_runner.py
  api/tests/opentrons/protocol_runner/test_protocol_runner_smoke.py
  api/tests/opentrons/protocol_runner/test_python_context_creator.py
  api/tests/opentrons/protocol_runner/test_python_file_reader.py
  api/tests/opentrons/protocol_runner/test_task_queue.py
  robot-server/robot_server/protocols/__init__.py
  robot-server/robot_server/protocols/protocol_models.py
  robot-server/robot_server/protocols/protocol_store.py
  robot-server/robot_server/sessions/action_models.py
  robot-server/robot_server/sessions/engine_store.py
  robot-server/robot_server/sessions/router/actions_router.py
  robot-server/robot_server/sessions/router/base_router.py
  robot-server/tests/protocols/test_protocol_store.py
  robot-server/tests/protocols/test_response_builder.py
  robot-server/tests/sessions/conftest.py
  robot-server/tests/sessions/router/test_actions_router.py
  robot-server/tests/sessions/router/test_base_router.py
  robot-server/tests/sessions/test_engine_store.py
  robot-server/tests/sessions/test_session_view.py
Labels: protocol-engine

#8224 feat(app): add module setup step to protocol setup
  app/src/assets/images/multiple_module_help_example.png
  app/src/assets/localization/en/protocol_setup.json
  app/src/organisms/ProtocolSetup/LabwareSetup/LabwareSetupModal.tsx
  app/src/organisms/ProtocolSetup/LabwareSetup/SecureLabwareModal.tsx
  app/src/organisms/ProtocolSetup/LabwareSetup/__tests__/LabwareSetup.test.tsx
  app/src/organisms/ProtocolSetup/LabwareSetup/__tests__/getLabwareRenderCoords.test.ts
  app/src/organisms/ProtocolSetup/LabwareSetup/__tests__/getModuleRenderCoords.test.ts
  app/src/organisms/ProtocolSetup/LabwareSetup/index.tsx
  app/src/organisms/ProtocolSetup/ModuleSetup/ModuleInfo.tsx
  app/src/organisms/ProtocolSetup/ModuleSetup/MultipleModulesModal.tsx
  app/src/organisms/ProtocolSetup/ModuleSetup/__tests__/ModuleSetup.test.tsx
  app/src/organisms/ProtocolSetup/ModuleSetup/index.tsx
  app/src/organisms/ProtocolSetup/ModuleTag.tsx
  app/src/organisms/ProtocolSetup/RunSetupCard.tsx
  app/src/organisms/ProtocolSetup/__tests__/RunSetupCard.test.tsx
  app/src/organisms/ProtocolSetup/styles.css
  app/src/organisms/ProtocolSetup/utils/getLabwareRenderCoords.ts
  app/src/organisms/ProtocolSetup/utils/getModuleRenderCoords.ts
Labels: app

#8235 docs(api): Deprecate `resume()` and revise `pause()`/`delay()`/`resume()` docs
  api/docs/v2/new_atomic_commands.rst
  api/docs/v2/versioning.rst
  api/src/opentrons/protocol_api/protocol_context.py
Labels: api, docs, papi v2, cpx

#8182 feat(app): gather all protocol and calibration data
  app/src/assets/localization/en/protocol_setup.json
  app/src/organisms/ProtocolSetup/RunSetupCard/CollapsibleStep.tsx
  app/src/organisms/ProtocolSetup/RunSetupCard/LabwareSetup/ExtraAttentionWarning.tsx
  app/src/organisms/ProtocolSetup/RunSetupCard/LabwareSetup/LabwareInfoOverlay.tsx
  app/src/organisms/ProtocolSetup/RunSetupCard/LabwareSetup/LabwareSetupModal.tsx
  app/src/organisms/ProtocolSetup/RunSetupCard/LabwareSetup/SecureLabwareModal.tsx
  app/src/organisms/ProtocolSetup/RunSetupCard/LabwareSetup/__tests__/ExtraAttentionWarning.test.tsx
  app/src/organisms/ProtocolSetup/RunSetupCard/LabwareSetup/__tests__/LabwareInfoOverlay.test.tsx
  app/src/organisms/ProtocolSetup/RunSetupCard/LabwareSetup/__tests__/LabwareSetup.test.tsx
  app/src/organisms/ProtocolSetup/RunSetupCard/LabwareSetup/__tests__/LabwareSetupModal.test.tsx
  app/src/organisms/ProtocolSetup/RunSetupCard/LabwareSetup/__tests__/getLabwareRenderCoords.test.ts
  app/src/organisms/ProtocolSetup/RunSetupCard/LabwareSetup/__tests__/getModuleRenderCoords.test.ts
  app/src/organisms/ProtocolSetup/RunSetupCard/LabwareSetup/__tests__/getModuleTypesThatRequireExtraAttention.test.ts
  app/src/organisms/ProtocolSetup/RunSetupCard/LabwareSetup/index.tsx
  app/src/organisms/ProtocolSetup/RunSetupCard/LabwareSetup/utils/getModuleName.ts
  app/src/organisms/ProtocolSetup/RunSetupCard/LabwareSetup/utils/getModuleTypesThatRequireExtraAttention.ts
  app/src/organisms/ProtocolSetup/RunSetupCard/ModuleSetup/ModuleInfo.tsx
  app/src/organisms/ProtocolSetup/RunSetupCard/ModuleSetup/MultipleModulesModal.tsx
  app/src/organisms/ProtocolSetup/RunSetupCard/ModuleSetup/__tests__/ModuleSetup.test.tsx
  app/src/organisms/ProtocolSetup/RunSetupCard/ModuleSetup/index.tsx
  app/src/organisms/ProtocolSetup/RunSetupCard/RobotCalibration/DeckCalibration.tsx
  app/src/organisms/ProtocolSetup/RunSetupCard/RobotCalibration/index.tsx
  app/src/organisms/ProtocolSetup/RunSetupCard/index.tsx
  app/src/organisms/ProtocolSetup/__tests__/CollapsibleStep.test.tsx
  app/src/organisms/ProtocolSetup/__tests__/RunSetupCard.test.tsx
  app/src/organisms/ProtocolUpload/__tests__/ProtocolUpload.test.tsx
  app/src/redux/calibration/__fixtures__/calibration-status.ts
  app/src/redux/calibration/__tests__/selectors.test.ts
  app/src/redux/calibration/selectors.ts
  app/src/redux/calibration/tip-length/__fixtures__/tip-length-calibration.ts
  app/src/redux/calibration/types.ts
  app/src/redux/pipettes/__fixtures__/index.ts
  app/src/redux/pipettes/__tests__/protocol-pipette-selectors.test.ts
  app/src/redux/pipettes/__tests__/selectors.test.ts
  app/src/redux/pipettes/selectors.ts
  app/src/redux/pipettes/types.ts
  app/src/redux/protocol/__tests__/selectors.test.ts
  app/src/redux/protocol/selectors.ts
  app/src/redux/protocol/types.ts
Labels: app

#8251 fix(api): Make tip pickup error say "pick up tip," not "drop tip"
  api/src/opentrons/protocols/context/simulator/instrument_context.py
Labels: api, fix, papi v2, cpx

#8267 style(js): convert property access from bracket to dot where able
  .eslintrc.js
  Makefile
  app/src/molecules/DeckMap/index.tsx
  app/src/organisms/CalibrationPanels/DeckSetup.tsx
  app/src/organisms/CalibrationPanels/Introduction.tsx
  app/src/pages/Calibrate/CalibratePanel/PipetteList.tsx
  components/src/deck/Module.stories.tsx
  components/src/deck/RobotWorkSpace.stories.tsx
  labware-library/src/analytics/initializeFullstory.ts
  labware-library/src/components/measurement-guide/index.ts
  protocol-designer/src/analytics/fullstory.ts
  protocol-designer/src/components/BatchEditForm/BatchEditMix.tsx
  protocol-designer/src/components/BatchEditForm/BatchEditMoveLiquid.tsx
  protocol-designer/src/components/DeckSetup/DeckSetup.tsx
  protocol-designer/src/components/DeckSetup/LabwareOverlays/LabwareHighlight.tsx
  protocol-designer/src/components/FilePage.tsx
  protocol-designer/src/components/StepEditForm/fields/DisposalVolumeField.tsx
  protocol-designer/src/components/StepEditForm/fields/TipPositionField/index.tsx
  protocol-designer/src/components/StepEditForm/forms/MagnetForm.tsx
  protocol-designer/src/components/StepEditForm/forms/MixForm.tsx
  protocol-designer/src/components/StepEditForm/forms/MoveLiquidForm/SourceDestFields.tsx
  protocol-designer/src/components/StepEditForm/forms/MoveLiquidForm/SourceDestHeaders.tsx
  protocol-designer/src/components/StepEditForm/forms/MoveLiquidForm/index.tsx
  protocol-designer/src/components/StepEditForm/forms/PauseForm.tsx
  protocol-designer/src/components/StepEditForm/forms/TemperatureForm.tsx
  protocol-designer/src/components/StepEditForm/forms/ThermocyclerForm/ProfileSettings.tsx
  protocol-designer/src/components/StepEditForm/forms/ThermocyclerForm/index.tsx
  protocol-designer/src/components/StepEditForm/forms/__tests__/MixForm.test.tsx
  protocol-designer/src/components/StepEditForm/forms/__tests__/SourceDestFields.test.tsx
  protocol-designer/src/components/steplist/StepItem.tsx
  protocol-designer/src/load-file/migration/1_1_0.ts
  protocol-designer/src/load-file/migration/__tests__/1_1_0.test.ts
  protocol-designer/src/step-forms/test/createPresavedStepForm.test.ts
  protocol-designer/src/step-forms/test/getProfileItemsHaveErrors.test.ts
  protocol-designer/src/steplist/formLevel/handleFormChange/dependentFieldsUpdateThermocycler.ts
  protocol-designer/src/steplist/formLevel/handleFormChange/utils.ts
  protocol-designer/src/steplist/formLevel/stepFormToArgs/mixFormToArgs.ts
  protocol-designer/src/steplist/formLevel/stepFormToArgs/pauseFormToArgs.ts
  protocol-designer/src/utils/index.ts
  protocol-library-kludge/src/URLDeck.tsx
  shared-data/js/helpers/index.ts
  shared-data/pipette/fixtures/name/index.ts
  step-generation/src/__tests__/modulePipetteCollision.test.ts
Labels: JS Tech Debt
