Repository Opentrons/opentrons, pull requests merged in 2021-06, with the labels that each got.

#7845 refactor(labware-creator): Add section IDs and alt img text
  labware-library/src/labware-creator/components/diagrams/index.tsx
  labware-library/src/labware-creator/components/sections/CustomTiprackWarning.tsx
  labware-library/src/labware-creator/components/sections/Footprint.tsx
  labware-library/src/labware-creator/components/sections/Grid.tsx
  labware-library/src/labware-creator/components/sections/GridOffset.tsx
  labware-library/src/labware-creator/components/sections/HandPlacedTipFit.tsx
  labware-library/src/labware-creator/components/sections/Height.tsx
  labware-library/src/labware-creator/components/sections/Regularity.tsx
  labware-library/src/labware-creator/components/sections/SectionBody.tsx
  labware-library/src/labware-creator/components/sections/Volume.tsx
  labware-library/src/labware-creator/components/sections/WellBottomAndDepth.tsx
  labware-library/src/labware-creator/components/sections/WellShapeAndSides.tsx
  labware-library/src/labware-creator/components/sections/WellSpacing.tsx
Labels: :spider: SPDDRS, labware creator

#7855 chore(api,robot-server): update testing dev deps
  api/Pipfile
  api/Pipfile.lock
  api/tests/opentrons/protocol_engine/clients/test_sync_client.py
  robot-server/Pipfile
  robot-server/Pipfile.lock
Labels: cpx

#7861 feat(labware-creator): add dynamic footprint copy for tip racks
  labware-library/src/labware-creator/components/TextField.tsx
  labware-library/src/labware-creator/components/__tests__/sections/Footprint.test.tsx
  labware-library/src/labware-creator/components/sections/Footprint.tsx
Labels: :spider: SPDDRS, labware creator

#7856 refactor(robot-server): add experimental protocol router
  robot-server/robot_server/protocols/__init__.py
  robot-server/robot_server/protocols/dependencies.py
  robot-server/robot_server/protocols/protocol_models.py
  robot-server/robot_server/protocols/protocol_store.py
  robot-server/robot_server/protocols/response_builder.py
  robot-server/robot_server/protocols/router.py
  robot-server/robot_server/router.py
  robot-server/robot_server/service/dependencies.py
  robot-server/tests/conftest.py
  robot-server/tests/helpers.py
  robot-server/tests/protocols/__init__.py
  robot-server/tests/protocols/conftest.py
  robot-server/tests/protocols/test_protocol_store.py
  robot-server/tests/protocols/test_protocols_router.py
  robot-server/tests/protocols/test_response_builder.py
  robot-server/tests/sessions/test_sessions_router.py
Labels: cpx

#7857 refactor(api): add create_file_runner factory
  api/src/opentrons/file_runner/__init__.py
  api/src/opentrons/file_runner/abstract_file_runner.py
  api/src/opentrons/file_runner/create_file_runner.py
  api/src/opentrons/file_runner/json_file_reader.py
  api/src/opentrons/file_runner/json_file_runner.py
  api/src/opentrons/file_runner/protocol_file.py
  api/src/opentrons/file_runner/python_file_runner.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/file_runner/conftest.py
  api/tests/opentrons/file_runner/test_create_file_runner.py
  api/tests/opentrons/file_runner/test_json_file_reader.py
  api/tests/opentrons/file_runner/test_json_file_runner.py
Labels: cpx

#7874 docs(api): Explain dispense(volume=0) dispenses the entire current volume
  api/src/opentrons/protocol_api/instrument_context.py
Labels: docs, fix

#7846 feat(labware-creator): Add new errors for too large/small footprint
  labware-library/cypress/integration/labware-creator/reservoir.spec.js
  labware-library/cypress/integration/labware-creator/wellPlate.spec.js
  labware-library/src/labware-creator/components/__tests__/FormAlerts.test.tsx
  labware-library/src/labware-creator/components/alerts/FormAlerts.tsx
  labware-library/src/labware-creator/fields.ts
  labware-library/src/labware-creator/labwareFormSchema.ts
Labels: :spider: SPDDRS, labware creator

#7864 feat(labware-creator): Update well shape and size section when tipRack is selected
  labware-library/src/labware-creator/components/sections/WellShapeAndSides.tsx
  labware-library/src/labware-creator/fields.ts
Labels: :spider: SPDDRS, labware creator

#7901 chore(release): 4.4.0-alpha.0
  CHANGELOG.md
  api/release-notes.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/build/release-notes.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  notify-server/notify_server/CHANGELOG.md
  notify-server/notify_server/package.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  robot-server/robot_server/CHANGELOG.md
  robot-server/robot_server/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  step-generation/CHANGELOG.md
  step-generation/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore, qa

#7853 test(labware-creator): more test refactoring
  labware-library/src/labware-creator/__tests__/utils/displayAsTube.test.ts
  labware-library/src/labware-creator/components/__tests__/FormAlerts.test.tsx
  labware-library/src/labware-creator/components/__tests__/sections/Footprint.test.tsx
  labware-library/src/labware-creator/components/__tests__/sections/Grid.test.tsx
  labware-library/src/labware-creator/components/__tests__/sections/GridOffset.test.tsx
  labware-library/src/labware-creator/components/__tests__/sections/Height.test.tsx
  labware-library/src/labware-creator/components/__tests__/sections/Regularity.test.tsx
  labware-library/src/labware-creator/components/__tests__/sections/Volume.test.tsx
  labware-library/src/labware-creator/components/__tests__/sections/WellBottomAndDepth.test.tsx
  labware-library/src/labware-creator/components/__tests__/sections/WellShapeAndSides.test.tsx
  labware-library/src/labware-creator/components/__tests__/sections/WellSpacing.test.tsx
Labels: :spider: SPDDRS, labware creator

#7869 feat(labware-creator): add dynamic height copy for tip racks
  labware-library/src/labware-creator/components/HeightGuidingText.tsx
  labware-library/src/labware-creator/components/__tests__/sections/Height.test.tsx
  labware-library/src/labware-creator/components/sections/Height.tsx
Labels: :spider: SPDDRS, labware creator

#7866 refactor(labware-creator): factor out description and file sections
  labware-library/src/labware-creator/components/Section.tsx
  labware-library/src/labware-creator/components/__tests__/sections/Description.test.tsx
  labware-library/src/labware-creator/components/__tests__/sections/Export.test.tsx
  labware-library/src/labware-creator/components/__tests__/sections/File.test.tsx
  labware-library/src/labware-creator/components/__tests__/sections/Preview.test.tsx
  labware-library/src/labware-creator/components/sections/Description.tsx
  labware-library/src/labware-creator/components/sections/Export.tsx
  labware-library/src/labware-creator/components/sections/File.tsx
  labware-library/src/labware-creator/components/sections/Preview.tsx
  labware-library/src/labware-creator/components/sections/SectionBody.css
  labware-library/src/labware-creator/components/sections/SectionBody.tsx
  labware-library/src/labware-creator/index.tsx
  labware-library/src/labware-creator/styles.css
Labels: :spider: SPDDRS, labware creator

#7899 feat(labware-creator): add custom copy for tip rack volume section
  labware-library/cypress/integration/labware-creator/reservoir.spec.js
  labware-library/cypress/integration/labware-creator/tubesBlock.spec.js
  labware-library/cypress/integration/labware-creator/tubesRack.spec.js
  labware-library/cypress/integration/labware-creator/wellPlate.spec.js
  labware-library/src/labware-creator/__tests__/utils/getLabwareName.test.ts
  labware-library/src/labware-creator/components/__tests__/sections/Volume.test.tsx
  labware-library/src/labware-creator/components/sections/Volume.tsx
  labware-library/src/labware-creator/fields.ts
  labware-library/src/labware-creator/formLevelValidation.ts
  labware-library/src/labware-creator/utils/getLabwareName.ts
  labware-library/src/labware-creator/utils/index.ts
Labels: :spider: SPDDRS, labware creator

#7903 test(labware-creator): Add test case for tip diameter in WellShapesAndSides
  labware-library/src/labware-creator/components/__tests__/sections/WellShapeAndSides.test.tsx
Labels: :spider: SPDDRS, labware creator

#7914 feat(labware-creator): Update grid offset instructions/img when tipRack selected
  labware-library/src/labware-creator/components/__tests__/sections/GridOffset.test.tsx
  labware-library/src/labware-creator/components/diagrams/index.tsx
  labware-library/src/labware-creator/components/sections/GridOffset.tsx
  labware-library/src/labware-creator/images/offset_helpText_tips.svg
  labware-library/src/labware-creator/images/offset_helpText_tubes.svg
  labware-library/src/labware-creator/images/offset_helpText_wells.svg
Labels: :spider: SPDDRS, labware creator

#7886 refactor(app): create feature flag and empty state for non-RPC pre-protocol flow
  app/src/assets/localization/en/protocol_info.json
  app/src/organisms/ProtocolUpload/UploadInput.tsx
  app/src/organisms/ProtocolUpload/__tests__/ProtocolUpload.test.tsx
  app/src/organisms/ProtocolUpload/__tests__/UploadInput.test.tsx
  app/src/organisms/ProtocolUpload/index.tsx
  app/src/pages/Upload/UploadPanel/__tests__/index.test.tsx
  app/src/pages/Upload/UploadPanel/index.tsx
  app/src/pages/Upload/__tests__/index.test.tsx
  app/src/pages/Upload/index.tsx
  app/src/redux/config/constants.ts
  app/src/redux/config/schema-types.ts
  app/src/redux/nav/__tests__/selectors.test.ts
  app/src/redux/nav/selectors.ts
  components/__utils__/index.ts
  components/__utils__/renderWithProviders.tsx
Labels: app

#7858 refactor(robot-server): start wiring /sessions into runner and engine
  robot-server/robot_server/protocols/protocol_store.py
  robot-server/robot_server/service/dependencies.py
  robot-server/robot_server/sessions/action_models.py
  robot-server/robot_server/sessions/dependencies.py
  robot-server/robot_server/sessions/engine_store.py
  robot-server/robot_server/sessions/router.py
  robot-server/robot_server/sessions/session_builder.py
  robot-server/robot_server/sessions/session_inputs.py
  robot-server/robot_server/sessions/session_models.py
  robot-server/robot_server/sessions/session_runner.py
  robot-server/robot_server/sessions/session_store.py
  robot-server/robot_server/sessions/session_view.py
  robot-server/tests/sessions/conftest.py
  robot-server/tests/sessions/test_engine_store.py
  robot-server/tests/sessions/test_session_builder.py
  robot-server/tests/sessions/test_session_store.py
  robot-server/tests/sessions/test_sessions_router.py
Labels: cpx

#7933 test(labware-creator): Update ID when TipDiameter instead of WellShapeAndSides
  labware-library/src/labware-creator/components/sections/WellShapeAndSides.tsx
Labels: :spider: SPDDRS, labware creator

#7935 refactor(robot-server,api): wire up JSON protocol runner to /sessions
  api/src/opentrons/protocol_engine/protocol_engine.py
  api/tests/opentrons/file_runner/test_python_file_runner.py
  api/tests/opentrons/protocol_api_experimental/test_protocol_context.py
  api/tests/opentrons/protocol_engine/conftest.py
  api/tests/opentrons/protocol_engine/test_protocol_engine.py
  robot-server/robot_server/protocols/__init__.py
  robot-server/robot_server/sessions/action_models.py
  robot-server/robot_server/sessions/engine_store.py
  robot-server/robot_server/sessions/router.py
  robot-server/robot_server/sessions/session_models.py
  robot-server/robot_server/sessions/session_view.py
  robot-server/tests/sessions/conftest.py
  robot-server/tests/sessions/test_engine_store.py
  robot-server/tests/sessions/test_session_view.py
  robot-server/tests/sessions/test_sessions_router.py
Labels: cpx, protocol-engine

#7936 feat(protocol-engine): Implement `CommandState.get_next_request()`
  api/src/opentrons/protocol_engine/state/commands.py
  api/src/opentrons/protocols/execution/execute_python.py
  api/tests/opentrons/protocol_engine/state/test_command_state.py
Labels: cpx, protocol-engine

#7948 chore(api): small write_pipette_memory change
  api/src/opentrons/tools/write_pipette_memory.py
  api/tests/opentrons/tools/test_pipette_memory.py
Labels: api

#7945 test(labware-creator): Add missing e2e selectors for sections
  labware-library/src/labware-creator/components/sections/Description.tsx
  labware-library/src/labware-creator/components/sections/Export.tsx
  labware-library/src/labware-creator/components/sections/File.tsx
  labware-library/src/labware-creator/components/sections/Preview.tsx
Labels: :spider: SPDDRS, labware creator

#7873 refactor(protocol-engine): split labware state into state/store/view classes
  api/src/opentrons/protocol_engine/state/geometry.py
  api/src/opentrons/protocol_engine/state/labware.py
  api/src/opentrons/protocol_engine/state/state_store.py
  api/tests/opentrons/protocol_engine/state/command_fixtures.py
  api/tests/opentrons/protocol_engine/state/test_geometry_state.py
  api/tests/opentrons/protocol_engine/state/test_labware_state.py
  api/tests/opentrons/protocol_engine/state/test_labware_store.py
  api/tests/opentrons/protocol_engine/state/test_labware_view.py
  api/tests/opentrons/protocol_engine/test_protocol_engine.py
Labels: cpx, protocol-engine

#7875 refactor(protocol-engine): split pipette state into state/store/view classes
  api/src/opentrons/protocol_engine/state/motion.py
  api/src/opentrons/protocol_engine/state/pipettes.py
  api/src/opentrons/protocol_engine/state/state_store.py
  api/tests/opentrons/protocol_engine/state/command_fixtures.py
  api/tests/opentrons/protocol_engine/state/test_motion_getters.py
  api/tests/opentrons/protocol_engine/state/test_motion_state.py
  api/tests/opentrons/protocol_engine/state/test_pipette_state.py
  api/tests/opentrons/protocol_engine/state/test_pipette_store.py
  api/tests/opentrons/protocol_engine/state/test_pipette_view.py
Labels: cpx, protocol-engine

#7952 chore(release): sync changes from v4.4.0 release into edge
  CHANGELOG.md
  api/release-notes.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/build/release-notes.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  notify-server/notify_server/CHANGELOG.md
  notify-server/notify_server/package.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  robot-server/robot_server/CHANGELOG.md
  robot-server/robot_server/app.py
  robot-server/robot_server/package.json
  robot-server/robot_server/router.py
  robot-server/robot_server/service/legacy/routers/__init__.py
  shared-data/CHANGELOG.md
  shared-data/package.json
  step-generation/CHANGELOG.md
  step-generation/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore

#7932 feat(labware-creator): Update grid spacing when tiprack is selected
  labware-library/src/labware-creator/components/__tests__/sections/WellSpacing.test.tsx
  labware-library/src/labware-creator/components/sections/WellSpacing.tsx
  labware-library/src/labware-creator/styles.css
Labels: :spider: SPDDRS, labware creator

#7882 refactor(protocol-engine): split top-level engine state into state/store/view classes
  api/src/opentrons/file_runner/command_queue_worker.py
  api/src/opentrons/protocol_engine/clients/transports.py
  api/src/opentrons/protocol_engine/execution/command_handlers.py
  api/src/opentrons/protocol_engine/protocol_engine.py
  api/src/opentrons/protocol_engine/state/__init__.py
  api/src/opentrons/protocol_engine/state/commands.py
  api/src/opentrons/protocol_engine/state/geometry.py
  api/src/opentrons/protocol_engine/state/labware.py
  api/src/opentrons/protocol_engine/state/motion.py
  api/src/opentrons/protocol_engine/state/pipettes.py
  api/src/opentrons/protocol_engine/state/state.py
  api/src/opentrons/protocol_engine/state/state_store.py
  api/tests/opentrons/file_runner/test_command_queue_worker.py
  api/tests/opentrons/protocol_engine/conftest.py
  api/tests/opentrons/protocol_engine/state/command_fixtures.py
  api/tests/opentrons/protocol_engine/state/conftest.py
  api/tests/opentrons/protocol_engine/state/test_command_state.py
  api/tests/opentrons/protocol_engine/state/test_command_store.py
  api/tests/opentrons/protocol_engine/state/test_command_view.py
  api/tests/opentrons/protocol_engine/state/test_geometry_view.py
  api/tests/opentrons/protocol_engine/state/test_labware_view.py
  api/tests/opentrons/protocol_engine/state/test_motion_view.py
  api/tests/opentrons/protocol_engine/state/test_pipette_store.py
  api/tests/opentrons/protocol_engine/test_protocol_engine.py
Labels: cpx, protocol-engine

#7950 feat(protocol-engine): Support loading pipettes and labware from JSON protocols
  api/src/opentrons/file_runner/json_file_runner.py
  api/src/opentrons/protocol_engine/commands/load_pipette.py
  api/src/opentrons/protocols/models/__init__.py
  api/src/opentrons/protocols/runner/json_proto/command_translator.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/file_runner/test_json_file_runner.py
  api/tests/opentrons/protocols/runnner/json_proto/test_command_translator.py
Labels: cpx, protocol-engine

#7947 feat(labware-creator): export and import tiprack defs
  app/src/organisms/CalibrationPanels/__tests__/DeckSetup.test.tsx
  labware-library/src/components/LabwareList/__tests__/__snapshots__/LabwareList.test.tsx.snap
  labware-library/src/labware-creator/__tests__/loadAndSaveIntegration.test.ts
  labware-library/src/labware-creator/fields.ts
  labware-library/src/labware-creator/fieldsToLabware.ts
  labware-library/src/labware-creator/index.tsx
  labware-library/src/labware-creator/labwareDefToFields.ts
  labware-library/src/labware-creator/labwareFormSchema.ts
  shared-data/labware/fixtures/2/fixture_tiprack_300_ul.json
  step-generation/src/__tests__/__snapshots__/fixtureGeneration.test.ts.snap
Labels: labware creator

#8001 refactor(api): Refactor _handle method of smoothie emulator
  api/src/opentrons/hardware_control/emulation/smoothie.py
Labels: api, refactor

#7998 feat(labware-creator): add python labware test protocols
  labware-library/src/labware-creator/protocolTemplates/CustomLabware_testprotocol.py
  labware-library/src/labware-creator/protocolTemplates/customtiprack_test.py
Labels: labware creator

#7971 feat(labware-creator): remove text saying tipracks not supported in LC
  labware-library/src/labware-creator/components/ImportErrorModal.tsx
Labels: labware creator

#8009 fix(api): fix module path for jupyter notebook
  api/src/opentrons/hardware_control/module_control.py
Labels: fix

#8013 feat(labware-creator): show whole labware in preview svg
  components/src/deck/LabwareRender.tsx
  labware-library/src/labware-creator/components/ConditionalLabwareRender.tsx
Labels: labware creator

#8018 feat(labware_creator): add tiprack test file to export section
  labware-library/cypress/integration/labware-creator/fileImport.spec.js
  labware-library/cypress/integration/labware-creator/reservoir.spec.js
  labware-library/cypress/integration/labware-creator/tubesBlock.spec.js
  labware-library/cypress/integration/labware-creator/tubesRack.spec.js
  labware-library/cypress/integration/labware-creator/wellPlate.spec.js
  labware-library/src/labware-creator/components/LinkOut.tsx
  labware-library/src/labware-creator/components/__tests__/sections/Export.test.tsx
  labware-library/src/labware-creator/components/sections/Export.tsx
Labels: :spider: SPDDRS, labware creator

#8019 feat(labware-creator): make dynamic wells/tips copy in Grid section
  labware-library/src/labware-creator/components/__tests__/sections/Grid.test.tsx
  labware-library/src/labware-creator/components/sections/Grid.tsx
Labels: labware creator

#8020 feat(labware-library): add tip rack test .py protocol
  labware-library/src/labware-creator/components/sections/Export.tsx
  labware-library/src/labware-creator/index.tsx
  labware-library/src/labware-creator/testProtocols/constants.ts
  labware-library/src/labware-creator/testProtocols/labwareTestProtocol.ts
  labware-library/src/labware-creator/testProtocols/tipRackTestProtocol.ts
Labels: labware creator

#8006 refactor(robot-server): add PE commands to /sessions responses
  api/src/opentrons/file_runner/command_queue_worker.py
  api/src/opentrons/protocol_engine/__init__.py
  api/src/opentrons/protocol_engine/commands/__init__.py
  api/src/opentrons/protocol_engine/commands/command_unions.py
  api/src/opentrons/protocol_engine/protocol_engine.py
  api/src/opentrons/protocol_engine/state/commands.py
  api/tests/opentrons/file_runner/test_command_queue_worker.py
  api/tests/opentrons/protocol_engine/state/test_command_view.py
  api/tests/opentrons/protocol_engine/test_protocol_engine.py
  robot-server/robot_server/service/json_api/response.py
  robot-server/robot_server/sessions/router.py
  robot-server/robot_server/sessions/schema_models.py
  robot-server/robot_server/sessions/session_models.py
  robot-server/robot_server/sessions/session_view.py
  robot-server/tests/sessions/test_session_view.py
  robot-server/tests/sessions/test_sessions_router.py
Labels: cpx, protocol-engine

#8021 refactor(api): Clean up `CommandTranslator` tests
  api/src/opentrons/protocols/runner/json_proto/command_translator.py
  api/tests/opentrons/protocols/runner/json_proto/test_command_translator.py
Labels: api, cpx, protocol-engine, refactor

#8029 feat(labware-creator): refactored paused before tip pick up
  labware-library/src/labware-creator/protocolTemplates/customtiprack_test.py
  labware-library/src/labware-creator/testProtocols/tipRackTestProtocol.ts
Labels: labware creator

#8017 refactor(robot-server): support Python protocols in experimental `/protocols`, `/sessions`
  api/src/opentrons/file_runner/create_file_runner.py
  api/tests/opentrons/file_runner/conftest.py
  api/tests/opentrons/file_runner/test_create_file_runner.py
  robot-server/robot_server/protocols/protocol_store.py
  robot-server/robot_server/protocols/router.py
  robot-server/tests/protocols/test_protocol_store.py
  robot-server/tests/protocols/test_protocols_router.py
  robot-server/tests/sessions/conftest.py
  robot-server/tests/sessions/test_engine_store.py
Labels: cpx, protocol-engine

#8036 feat(labware-creator): update tiprack recommendation text
  labware-library/src/labware-creator/components/sections/CustomTiprackWarning.tsx
Labels: labware creator

#8034 fix(labware-creator): add margin to bottom of LC
  labware-library/src/labware-creator/styles.css
Labels: labware creator
