Repository Opentrons/opentrons, pull requests merged in 2021-11, with the labels that each got.

#8607 refactor(protocol-engine): Add labware offsets to HTTP run models
  robot-server/robot_server/runs/run_models.py
  robot-server/robot_server/runs/run_view.py
  robot-server/tests/runs/router/test_base_router.py
  robot-server/tests/runs/router/test_commands_router.py
  robot-server/tests/runs/test_run_store.py
  robot-server/tests/runs/test_run_view.py
Labels: cpx, robot server

#8624 refactor(app): Remove run time estimate from metadata card
  app/src/organisms/ProtocolSetup/MetadataCard.tsx
  app/src/organisms/ProtocolSetup/__tests__/MetadataCard.test.tsx
Labels: app

#8590 refactor(app): styling for module cards
  app/src/assets/localization/en/run_details.json
  app/src/molecules/ModuleControls/TemperatureControl.tsx
  app/src/molecules/ModuleControls/TemperatureData.tsx
  app/src/pages/Run/RunPanel/ModuleLiveStatusCards/MagDeckCard.tsx
  app/src/pages/Run/RunPanel/ModuleLiveStatusCards/StatusCard.tsx
  app/src/pages/Run/RunPanel/ModuleLiveStatusCards/TempDeckCard.tsx
  app/src/pages/Run/RunPanel/ModuleLiveStatusCards/ThermocyclerCard.tsx
  app/src/pages/Run/RunPanel/ModuleLiveStatusCards/__tests__/StatusCard.test.tsx
  components/src/__tests__/__snapshots__/icons.test.tsx.snap
  components/src/icons/icon-data.ts
  components/src/lists/CollapsibleItem.tsx
  components/src/lists/lists.css
Labels: app

#8630 refactor(protocol-engine): Add models for the load module command
  api/src/opentrons/protocol_engine/commands/command_unions.py
  api/src/opentrons/protocol_engine/commands/load_module.py
  api/src/opentrons/protocol_engine/types.py
Labels: api, cpx, protocol-engine

#8676 refactor(robot-server): retrieve state of previous runs
  robot-server/robot_server/runs/engine_store.py
  robot-server/robot_server/runs/router/actions_router.py
  robot-server/robot_server/runs/router/base_router.py
  robot-server/robot_server/runs/router/commands_router.py
  robot-server/robot_server/runs/run_models.py
  robot-server/robot_server/runs/run_store.py
  robot-server/robot_server/runs/run_view.py
  robot-server/tests/runs/router/test_actions_router.py
  robot-server/tests/runs/router/test_base_router.py
  robot-server/tests/runs/router/test_commands_router.py
  robot-server/tests/runs/test_engine_store.py
  robot-server/tests/runs/test_run_store.py
  robot-server/tests/runs/test_run_view.py
Labels: cpx

#8612 feat(app): Run Details Individual command styling
  .storybook/main.js
  .storybook/preview.js
  app/src/assets/localization/en/run_details.json
  app/src/organisms/RunDetails/CommandItem.stories.tsx
  app/src/organisms/RunDetails/CommandItem.tsx
  app/src/organisms/RunDetails/CommandText.tsx
  app/src/organisms/RunDetails/CommandTimer.tsx
  app/src/organisms/RunDetails/__tests__/CommandItem.test.tsx
  app/src/organisms/RunDetails/__tests__/CommandItemFailed.test.tsx
  app/src/organisms/RunDetails/__tests__/CommandItemQueued.test.tsx
  app/src/organisms/RunDetails/__tests__/CommandItemRunning.test.tsx
  app/src/organisms/RunDetails/__tests__/CommandItemSuccess.test.tsx
  app/src/organisms/RunDetails/__tests__/CommandText.test.tsx
  app/src/organisms/RunDetails/__tests__/CommandTimer.test.tsx
  app/src/organisms/RunDetails/__tests__/RunDetails.test.tsx
  app/tsconfig.json
  components/src/styles/colors.ts
Labels: app

#8681 refactor(robot-server): add current link to /runs response
  robot-server/robot_server/protocols/router.py
  robot-server/robot_server/runs/engine_store.py
  robot-server/robot_server/runs/router/actions_router.py
  robot-server/robot_server/runs/router/base_router.py
  robot-server/robot_server/runs/router/commands_router.py
  robot-server/robot_server/runs/run_models.py
  robot-server/robot_server/runs/run_view.py
  robot-server/robot_server/runs/schema_models.py
  robot-server/robot_server/service/json_api/resource_links.py
  robot-server/robot_server/service/json_api/response.py
  robot-server/robot_server/service/labware/models.py
  robot-server/robot_server/service/labware/router.py
  robot-server/robot_server/service/pipette_offset/models.py
  robot-server/robot_server/service/pipette_offset/router.py
  robot-server/robot_server/service/protocol/models.py
  robot-server/robot_server/service/session/models/command.py
  robot-server/robot_server/service/session/models/session.py
  robot-server/robot_server/service/session/router.py
  robot-server/robot_server/service/tip_length/models.py
  robot-server/robot_server/service/tip_length/router.py
  robot-server/robot_server/system/models.py
  robot-server/tests/runs/router/test_base_router.py
  robot-server/tests/runs/router/test_commands_router.py
  robot-server/tests/runs/test_engine_store.py
  robot-server/tests/runs/test_run_view.py
  robot-server/tests/service/json_api/test_response.py
Labels: cpx

#8685 refactor(robot-server): consolidate runs into a single Run model
  robot-server/robot_server/runs/router/base_router.py
  robot-server/robot_server/runs/run_models.py
  robot-server/robot_server/runs/run_store.py
  robot-server/robot_server/runs/run_view.py
  robot-server/tests/runs/router/test_actions_router.py
  robot-server/tests/runs/router/test_base_router.py
  robot-server/tests/runs/router/test_commands_router.py
  robot-server/tests/runs/test_run_store.py
  robot-server/tests/runs/test_run_view.py
Labels: cpx

#8687 refactor(engine): start running, allowing live commands prior to protocol run
  api/src/opentrons/protocol_engine/actions/__init__.py
  api/src/opentrons/protocol_engine/actions/actions.py
  api/src/opentrons/protocol_engine/commands/__init__.py
  api/src/opentrons/protocol_engine/commands/command_mapper.py
  api/src/opentrons/protocol_engine/execution/command_executor.py
  api/src/opentrons/protocol_engine/protocol_engine.py
  api/src/opentrons/protocol_engine/state/commands.py
  api/src/opentrons/protocol_engine/types.py
  api/src/opentrons/protocol_runner/protocol_runner.py
  api/tests/opentrons/protocol_engine/commands/test_command_mapper.py
  api/tests/opentrons/protocol_engine/execution/test_command_executor.py
  api/tests/opentrons/protocol_engine/execution/test_movement_handler.py
  api/tests/opentrons/protocol_engine/state/test_command_store.py
  api/tests/opentrons/protocol_engine/state/test_command_view.py
  api/tests/opentrons/protocol_engine/test_protocol_engine.py
  api/tests/opentrons/protocol_runner/test_protocol_runner.py
  api/tests/opentrons/protocol_runner/test_protocol_runner_smoke.py
  robot-server/tests/runs/router/test_base_router.py
  robot-server/tests/runs/test_run_view.py
Labels: cpx

#8698 fix(robot-server): avoid LabwareDefinition type in cal models
  api/src/opentrons/calibration_storage/helpers.py
  robot-server/robot_server/robot/calibration/check/models.py
  robot-server/robot_server/robot/calibration/check/user_flow.py
  robot-server/robot_server/robot/calibration/helper_classes.py
  robot-server/robot_server/robot/calibration/models.py
  robot-server/robot_server/robot/calibration/pipette_offset/user_flow.py
  robot-server/robot_server/robot/calibration/tip_length/user_flow.py
  robot-server/robot_server/service/session/models/command.py
  robot-server/robot_server/service/session/session_types/check_session.py
Labels: cpx, qa

#8714 chore(release): 4.7.0-alpha.0
  CHANGELOG.md
  api-client/CHANGELOG.md
  api-client/package.json
  api/release-notes.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/build/release-notes.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  notify-server/notify_server/CHANGELOG.md
  notify-server/notify_server/package.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  react-api-client/CHANGELOG.md
  react-api-client/package.json
  robot-server/robot_server/CHANGELOG.md
  robot-server/robot_server/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  step-generation/CHANGELOG.md
  step-generation/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore, release 🚢

#8720 refactor(protocol-engine): Centralize labware offset resource models under Protocol Engine
  api/src/opentrons/protocol_engine/__init__.py
  api/src/opentrons/protocol_engine/commands/load_labware.py
  api/src/opentrons/protocol_engine/state/labware.py
  api/src/opentrons/protocol_engine/types.py
  api/src/opentrons/protocol_runner/legacy_command_mapper.py
  api/tests/opentrons/protocol_api_experimental/test_protocol_context.py
  api/tests/opentrons/protocol_engine/clients/test_sync_client.py
  api/tests/opentrons/protocol_engine/commands/test_load_labware.py
  api/tests/opentrons/protocol_engine/state/command_fixtures.py
  api/tests/opentrons/protocol_engine/state/test_geometry_view.py
  api/tests/opentrons/protocol_engine/state/test_labware_store.py
  api/tests/opentrons/protocol_engine/state/test_labware_view.py
  api/tests/opentrons/protocol_runner/test_legacy_command_mapper.py
  robot-server/robot_server/runs/run_models.py
Labels: api, refactor, cpx, robot server, protocol-engine

#8724 fix(api): check home status in move_rel
  api/src/opentrons/drivers/smoothie_drivers/simulator.py
  api/src/opentrons/hardware_control/api.py
  api/src/opentrons/hardware_control/controller.py
  api/src/opentrons/hardware_control/ot3controller.py
  api/src/opentrons/hardware_control/simulator.py
  api/tests/opentrons/hardware_control/test_moves.py
Labels: fix, hardware

#8715 refactor(engine): add moveRelative command to engine
  api/src/opentrons/protocol_engine/actions/action_dispatcher.py
  api/src/opentrons/protocol_engine/commands/__init__.py
  api/src/opentrons/protocol_engine/commands/command_unions.py
  api/src/opentrons/protocol_engine/commands/move_relative.py
  api/src/opentrons/protocol_engine/errors/__init__.py
  api/src/opentrons/protocol_engine/execution/movement.py
  api/src/opentrons/protocol_engine/types.py
  api/src/opentrons/types.py
  api/tests/opentrons/protocol_engine/commands/test_move_relative.py
  api/tests/opentrons/protocol_engine/execution/test_movement_handler.py
Labels: cpx

#8725 refactor(engine): ensure engine/runner shut down gracefully after stop
  api/src/opentrons/protocol_engine/protocol_engine.py
  api/src/opentrons/protocol_runner/protocol_runner.py
  api/src/opentrons/protocol_runner/task_queue.py
  api/tests/opentrons/protocol_engine/test_protocol_engine.py
  api/tests/opentrons/protocol_runner/test_protocol_runner.py
  api/tests/opentrons/protocol_runner/test_task_queue.py
  robot-server/robot_server/runs/action_models.py
  robot-server/robot_server/runs/router/actions_router.py
  robot-server/robot_server/runs/run_view.py
  robot-server/tests/helpers.py
  robot-server/tests/runs/router/test_actions_router.py
  robot-server/tests/runs/test_run_view.py
Labels: cpx

#8728 refactor(engine): map legacy pick up tips commands to PE commands
  api/src/opentrons/protocol_runner/legacy_command_mapper.py
  api/src/opentrons/protocol_runner/legacy_wrappers.py
  api/tests/opentrons/protocol_runner/smoke_tests/test_legacy_command_mapper.py
  api/tests/opentrons/protocol_runner/smoke_tests/test_protocol_runner.py
Labels: cpx

#8740 refactor(robot-server): add protocol files names to Protocol response
  robot-server/robot_server/protocols/protocol_models.py
  robot-server/robot_server/protocols/response_builder.py
  robot-server/tests/protocols/test_protocols_router.py
  robot-server/tests/protocols/test_response_builder.py
Labels: cpx

#8729 feat(app): pass through python file and run tab disabled reason hook up to run presence
  app/src/App/Navbar.tsx
  app/src/App/__tests__/Navbar.test.tsx
  app/src/App/__tests__/hooks.test.tsx
  app/src/App/hooks.ts
  app/src/assets/localization/en/top_navigation.json
  app/src/organisms/ProtocolUpload/index.tsx
  app/src/redux/nav/__tests__/selectors.test.ts
  app/src/redux/nav/selectors.ts
  app/src/redux/protocol/__tests__/utils.test.ts
  app/src/redux/protocol/utils.ts
Labels: app

#8644 fix(labware-library): Default opentrons tuberack inserts brand
  labware-library/src/components/labware-ui/labware-images.ts
  labware-library/src/images/nest_96_wellplate_2ml_deep.jpg
  labware-library/src/labware-creator/labwareFormSchema.ts
Labels: labware, labware creator

#8745 refactor(engine): add `home` command
  api/src/opentrons/hardware_control/api.py
  api/src/opentrons/protocol_engine/commands/__init__.py
  api/src/opentrons/protocol_engine/commands/command_unions.py
  api/src/opentrons/protocol_engine/commands/home.py
  api/src/opentrons/protocol_engine/execution/movement.py
  api/src/opentrons/protocol_engine/state/pipettes.py
  api/src/opentrons/protocol_engine/types.py
  api/tests/opentrons/hardware_control/test_moves.py
  api/tests/opentrons/protocol_engine/commands/test_home.py
  api/tests/opentrons/protocol_engine/execution/test_movement_handler.py
  api/tests/opentrons/protocol_engine/state/test_pipette_store.py
Labels: cpx

#8730 refactor(protocol-engine): Support adding labware offsets to a ProtocolEngine
  api/src/opentrons/protocol_engine/actions/__init__.py
  api/src/opentrons/protocol_engine/actions/actions.py
  api/src/opentrons/protocol_engine/commands/load_labware.py
  api/src/opentrons/protocol_engine/errors/__init__.py
  api/src/opentrons/protocol_engine/execution/equipment.py
  api/src/opentrons/protocol_engine/protocol_engine.py
  api/src/opentrons/protocol_engine/resources/labware_data_provider.py
  api/src/opentrons/protocol_engine/state/geometry.py
  api/src/opentrons/protocol_engine/state/labware.py
  api/src/opentrons/protocol_engine/types.py
  api/src/opentrons/protocol_runner/legacy_command_mapper.py
  api/tests/opentrons/protocol_api_experimental/test_protocol_context.py
  api/tests/opentrons/protocol_engine/clients/test_sync_client.py
  api/tests/opentrons/protocol_engine/commands/test_load_labware.py
  api/tests/opentrons/protocol_engine/execution/test_equipment_handler.py
  api/tests/opentrons/protocol_engine/resources/test_labware_data_provider.py
  api/tests/opentrons/protocol_engine/state/command_fixtures.py
  api/tests/opentrons/protocol_engine/state/test_geometry_view.py
  api/tests/opentrons/protocol_engine/state/test_labware_store.py
  api/tests/opentrons/protocol_engine/state/test_labware_view.py
  api/tests/opentrons/protocol_engine/test_create_protocol_engine.py
  api/tests/opentrons/protocol_engine/test_protocol_engine.py
  api/tests/opentrons/protocol_runner/smoke_tests/test_protocol_runner.py
  api/tests/opentrons/protocol_runner/test_legacy_command_mapper.py
  robot-server/tests/protocols/test_analysis_store.py
  robot-server/tests/protocols/test_protocol_analyzer.py
  robot-server/tests/runs/router/test_base_router.py
  robot-server/tests/runs/test_run_view.py
Labels: cpx, protocol-engine

#8771 refactor(engine): store external runner errors in the engine
  api/src/opentrons/protocol_engine/__init__.py
  api/src/opentrons/protocol_engine/actions/__init__.py
  api/src/opentrons/protocol_engine/actions/actions.py
  api/src/opentrons/protocol_engine/clients/transports.py
  api/src/opentrons/protocol_engine/commands/command.py
  api/src/opentrons/protocol_engine/errors/__init__.py
  api/src/opentrons/protocol_engine/errors/error_occurrence.py
  api/src/opentrons/protocol_engine/errors/exceptions.py
  api/src/opentrons/protocol_engine/execution/command_executor.py
  api/src/opentrons/protocol_engine/protocol_engine.py
  api/src/opentrons/protocol_engine/state/commands.py
  api/src/opentrons/protocol_runner/legacy_command_mapper.py
  api/src/opentrons/protocol_runner/legacy_context_plugin.py
  api/src/opentrons/protocol_runner/protocol_runner.py
  api/tests/opentrons/protocol_engine/clients/test_child_thread_transport.py
  api/tests/opentrons/protocol_engine/execution/test_command_executor.py
  api/tests/opentrons/protocol_engine/state/command_fixtures.py
  api/tests/opentrons/protocol_engine/state/test_command_store.py
  api/tests/opentrons/protocol_engine/state/test_command_view.py
  api/tests/opentrons/protocol_engine/test_protocol_engine.py
  api/tests/opentrons/protocol_runner/test_legacy_command_mapper.py
  api/tests/opentrons/protocol_runner/test_legacy_context_plugin.py
  robot-server/robot_server/protocols/analysis_models.py
  robot-server/robot_server/protocols/analysis_store.py
  robot-server/robot_server/protocols/protocol_analyzer.py
  robot-server/robot_server/runs/router/base_router.py
  robot-server/robot_server/runs/run_models.py
  robot-server/robot_server/runs/run_view.py
  robot-server/tests/protocols/test_analysis_store.py
  robot-server/tests/protocols/test_protocol_analyzer.py
  robot-server/tests/runs/router/test_base_router.py
  robot-server/tests/runs/router/test_commands_router.py
  robot-server/tests/runs/test_run_view.py
Labels: cpx

#8784 refactor(engine): add optional wellLocation to all well access commands
  api/src/opentrons/protocol_engine/commands/drop_tip.py
  api/src/opentrons/protocol_engine/commands/move_to_well.py
  api/src/opentrons/protocol_engine/commands/pick_up_tip.py
  api/src/opentrons/protocol_engine/commands/pipetting_common.py
  api/src/opentrons/protocol_engine/errors/__init__.py
  api/src/opentrons/protocol_engine/errors/exceptions.py
  api/src/opentrons/protocol_engine/execution/pipetting.py
  api/src/opentrons/protocol_engine/state/geometry.py
  api/src/opentrons/protocol_engine/state/labware.py
  api/tests/opentrons/protocol_engine/commands/test_drop_tip.py
  api/tests/opentrons/protocol_engine/commands/test_move_to_well.py
  api/tests/opentrons/protocol_engine/commands/test_pick_up_tip.py
  api/tests/opentrons/protocol_engine/execution/test_pipetting_handler.py
  api/tests/opentrons/protocol_engine/state/test_geometry_view.py
  api/tests/opentrons/protocol_engine/state/test_labware_view.py
Labels: cpx

#8800 feat(app): Display banners when stopped, failed, or succeeded
  app/src/assets/localization/en/run_details.json
  app/src/organisms/RunDetails/CommandList.tsx
  app/src/organisms/RunDetails/__tests__/CommandList.test.tsx
Labels: app

#8779 refactor(app): PUR wire up protocol metadata to protocol record
  app/src/organisms/ProtocolSetup/MetadataCard.tsx
  app/src/organisms/ProtocolSetup/__tests__/MetadataCard.test.tsx
  app/src/organisms/ProtocolSetup/__tests__/hooks.test.tsx
  app/src/organisms/ProtocolSetup/hooks.ts
  app/src/organisms/ProtocolUpload/__tests__/ProtocolUpload.test.tsx
Labels: app

#8804 refactor(protocol-engine): Wire up Protocol Engine labware offsets to HTTP runs
  robot-server/robot_server/runs/router/base_router.py
  robot-server/robot_server/runs/run_models.py
  robot-server/tests/runs/router/test_base_router.py
  robot-server/tests/runs/router/test_commands_router.py
Labels: cpx, protocol-engine

#8775 refactor(runner): Provide ProtocolEngine offsets to PAPIv2 context runs
  api/src/opentrons/protocol_api/labware.py
  api/src/opentrons/protocol_api/labware_offset_provider.py
  api/src/opentrons/protocol_api/load_info.py
  api/src/opentrons/protocol_api/module_contexts.py
  api/src/opentrons/protocol_api/protocol_context.py
  api/src/opentrons/protocol_engine/__init__.py
  api/src/opentrons/protocol_engine/execution/equipment.py
  api/src/opentrons/protocol_engine/state/labware.py
  api/src/opentrons/protocol_engine/state/state.py
  api/src/opentrons/protocol_engine/types.py
  api/src/opentrons/protocol_runner/create_simulating_runner.py
  api/src/opentrons/protocol_runner/legacy_command_mapper.py
  api/src/opentrons/protocol_runner/legacy_labware_offset_provider.py
  api/src/opentrons/protocol_runner/legacy_wrappers.py
  api/src/opentrons/protocol_runner/protocol_runner.py
  api/src/opentrons/protocols/geometry/module_geometry.py
  api/src/opentrons/protocols/labware/load.py
  api/tests/opentrons/protocol_engine/execution/test_equipment_handler.py
  api/tests/opentrons/protocol_engine/state/test_labware_store.py
  api/tests/opentrons/protocol_engine/state/test_labware_view.py
  api/tests/opentrons/protocol_engine/state/test_state_store.py
  api/tests/opentrons/protocol_engine/test_protocol_engine.py
  api/tests/opentrons/protocol_runner/test_legacy_command_mapper.py
  api/tests/opentrons/protocol_runner/test_legacy_context_plugin.py
  robot-server/robot_server/runs/engine_store.py
  robot-server/tests/runs/router/test_base_router.py
Labels: cpx

#8889 refactor(app): poll protocol resource until analysis completes
  app/src/organisms/ProtocolSetup/RunSetupCard/index.tsx
  app/src/organisms/ProtocolUpload/hooks/useCurrentProtocolRun.ts
Labels: app

#8901 refactor(robot-server): Allow POSTing labware offsets on existing runs
  robot-server/robot_server/runs/router/base_router.py
  robot-server/tests/runs/router/test_base_router.py
Labels: cpx, robot server, protocol-engine

#8910 refactor(engine): add labware on modules geometry
  api/src/opentrons/protocol_api/labware_offset_provider.py
  api/src/opentrons/protocol_api/module_contexts.py
  api/src/opentrons/protocol_engine/errors/__init__.py
  api/src/opentrons/protocol_engine/errors/exceptions.py
  api/src/opentrons/protocol_engine/execution/equipment.py
  api/src/opentrons/protocol_engine/state/geometry.py
  api/src/opentrons/protocol_engine/state/modules.py
  api/src/opentrons/protocol_engine/state/motion.py
  api/src/opentrons/protocol_engine/state/state.py
  api/src/opentrons/protocol_engine/types.py
  api/src/opentrons/protocol_runner/legacy_labware_offset_provider.py
  api/src/opentrons/protocol_runner/task_queue.py
  api/tests/opentrons/protocol_engine/execution/test_equipment_handler.py
  api/tests/opentrons/protocol_engine/state/test_geometry_view.py
  api/tests/opentrons/protocol_engine/state/test_labware_view.py
  api/tests/opentrons/protocol_engine/state/test_module_view.py
  api/tests/opentrons/protocol_runner/test_legacy_labware_offset_provider.py
Labels: cpx, protocol-engine

#8913 feat(robot-server): enable /runs and /protocols endpoints by default
  api/mypy.ini
  api/src/opentrons/__init__.py
  api/src/opentrons/commands/publisher.py
  api/src/opentrons/config/advanced_settings.py
  api/src/opentrons/config/feature_flags.py
  api/tests/opentrons/commands/test_publisher.py
  api/tests/opentrons/config/test_advanced_settings_migration.py
  robot-server/robot_server/app_setup.py
  robot-server/robot_server/hardware.py
  robot-server/robot_server/router.py
  robot-server/robot_server/service/legacy/routers/__init__.py
  robot-server/robot_server/service/legacy/routers/rpc.py
  robot-server/robot_server/service/legacy/rpc/__init__.py
  robot-server/robot_server/service/legacy/rpc/dependencies.py
  robot-server/robot_server/service/legacy/rpc/rpc.py
  robot-server/robot_server/service/legacy/rpc/serialize.py
  robot-server/tests/integration/protocols/test_analysis_errors.tavern_outdated.yaml
  robot-server/tests/integration/protocols/test_analysis_results.tavern_outdated.yaml
  robot-server/tests/integration/protocols/test_support_files.tavern_outdated.yaml
  robot-server/tests/integration/protocols/test_upload.tavern_outdated.yaml
  robot-server/tests/integration/sessions/test_protocol.tavern_outdated.yaml
  robot-server/tests/integration/test_settings.tavern.yaml
  robot-server/tests/service/legacy/rpc/__init__.py
  robot-server/tests/service/legacy/rpc/test_serialize.py
  robot-server/tests/service/legacy/rpc/test_server.py
Labels: cpx, protocol-engine

#8652 refactor(app): Fix typo in half connectable robot toast
  app/src/assets/localization/en/robot_connection.json
  app/src/pages/Robots/RobotSettings/ReachableRobotBanner.tsx
Labels: app, refactor

#8916 refactor(protocol-engine): Rename `ModuleModels` to `ModuleModel`
  api/src/opentrons/protocol_engine/__init__.py
  api/src/opentrons/protocol_engine/commands/load_module.py
  api/src/opentrons/protocol_engine/execution/equipment.py
  api/src/opentrons/protocol_engine/resources/module_data_provider.py
  api/src/opentrons/protocol_engine/state/modules.py
  api/src/opentrons/protocol_engine/types.py
  api/src/opentrons/protocol_runner/legacy_command_mapper.py
  api/src/opentrons/protocol_runner/legacy_labware_offset_provider.py
  api/tests/opentrons/protocol_engine/commands/test_load_module.py
  api/tests/opentrons/protocol_engine/execution/test_equipment_handler.py
  api/tests/opentrons/protocol_engine/state/test_labware_view.py
  api/tests/opentrons/protocol_engine/state/test_module_view.py
  api/tests/opentrons/protocol_runner/test_legacy_command_mapper.py
  api/tests/opentrons/protocol_runner/test_legacy_labware_offset_provider.py
Labels: cpx, protocol-engine

#8920 refactor(robot-server): do not serialize None in /protocols and /runs
  robot-server/robot_server/protocols/router.py
  robot-server/robot_server/runs/router/actions_router.py
  robot-server/robot_server/runs/router/base_router.py
  robot-server/robot_server/runs/router/commands_router.py
  robot-server/robot_server/service/json_api/__init__.py
  robot-server/robot_server/service/json_api/response.py
  robot-server/tests/protocols/test_protocols_router.py
  robot-server/tests/runs/router/test_base_router.py
  robot-server/tests/runs/router/test_commands_router.py
Labels: cpx

#8935 refactor(engine): support pipette back-compat
  api/src/opentrons/hardware_control/api.py
  api/src/opentrons/hardware_control/dev_types.py
  api/src/opentrons/protocol_engine/state/pipettes.py
  api/tests/opentrons/protocol_engine/state/test_pipette_view.py
Labels: cpx

#8933 fix(app): continue to clone run even after receiving a conflict when run is stopped
  app/src/organisms/ProtocolUpload/hooks/__tests__/useCloneRun.test.tsx
  app/src/organisms/ProtocolUpload/hooks/useCloneRun.ts
Labels: app, fix

#8932 fix(app): fix up labware offset matching logic for labware setup overlays
  api-client/src/runs/createLabwareOffset.ts
  api-client/src/runs/createRun.ts
  api-client/src/runs/types.ts
  app/src/organisms/ProtocolSetup/LabwarePositionCheck/__tests__/IntroScreen.test.tsx
  app/src/organisms/ProtocolSetup/LabwarePositionCheck/hooks/useLabwarePositionCheck.ts
  app/src/organisms/ProtocolSetup/LabwarePositionCheck/utils/__tests__/getLatestLabwareOffsetCount.test.ts
  app/src/organisms/ProtocolSetup/RunSetupCard/LabwareSetup/LabwareInfoOverlay.tsx
  app/src/organisms/ProtocolSetup/RunSetupCard/LabwareSetup/__tests__/LabwareInfoOverlay.test.tsx
  app/src/organisms/ProtocolSetup/__tests__/LabwareOffsetSuccessToast.test.tsx
  app/src/organisms/ProtocolUpload/__tests__/UploadInput.test.tsx
  react-api-client/src/runs/__tests__/useCreateLabwareOffsetsMutation.test.tsx
  react-api-client/src/runs/useCreateLabwareOffsetMutation.ts
Labels: fix

#8940 fix(app): ignore lpc commands when reconciling run and analysis for run log
  app/src/organisms/RunDetails/CommandList.tsx
  app/src/organisms/RunDetails/Fixture_commandSummary.json
  app/src/organisms/RunDetails/__tests__/CommandList.test.tsx
Labels: app, fix
