Repository Opentrons/opentrons, pull requests merged in 2021-03, with the labels that each got.

#7396 chore(api, update-server, robot-server): Correct our use of noqa
  api/docs/v1/api_cache/pipette.py
  api/src/opentrons/__init__.py
  api/src/opentrons/api/session.py
  api/src/opentrons/config/advanced_settings.py
  api/src/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/src/opentrons/hardware_control/__main__.py
  api/src/opentrons/hardware_control/adapters.py
  api/src/opentrons/hardware_control/controller.py
  api/src/opentrons/hardware_control/modules/utils.py
  api/src/opentrons/hardware_control/simulator.py
  api/src/opentrons/hardware_control/socket_server.py
  api/src/opentrons/protocol_api/__init__.py
  api/src/opentrons/protocol_api/instrument_context.py
  api/src/opentrons/protocol_api/labware.py
  api/src/opentrons/protocol_api/module_contexts.py
  api/src/opentrons/protocol_api/paired_instrument_context.py
  api/src/opentrons/protocols/advanced_control/transfers.py
  api/src/opentrons/protocols/api_support/util.py
  api/src/opentrons/protocols/bundle.py
  api/src/opentrons/simulate.py
  api/src/opentrons/tools/factory_test.py
  api/src/opentrons/types.py
  api/tests/opentrons/drivers/test_driver.py
  api/tests/opentrons/hardware_control/test_util.py
  api/tests/opentrons/protocols/test_parse.py
  api/tests/opentrons/test_execute.py
  api/tests/opentrons/test_simulate.py
  robot-server/robot_server/service/json_api/__init__.py
  robot-server/robot_server/service/legacy/rpc/__init__.py
  robot-server/robot_server/service/session/command_execution/__init__.py
  robot-server/tests/robot/calibration/pipette_offset/test_user_flow.py
  update-server/otupdate/buildroot/__main__.py
Labels: api, chore, cpx, ready for review, robot server, update server

#7400 feat(protocol-designer): Add test coverage to StepCreationButton
  protocol-designer/src/components/StepCreationButton.js
  protocol-designer/src/components/__tests__/StepCreationButton.test.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#7382 feat(components): add id prop to NavTab
  components/src/tabbedNav/NavTab.js
  protocol-designer/src/containers/ConnectedNav.js
Labels: components, protocol designer

#7421 fix(components): forward "id" prop in Button
  components/src/buttons/Button.js
Labels: components

#7413 feat(api): well creation and accessor method implementations
  api/src/opentrons/protocols/implementations/engine/labware_context.py
  api/src/opentrons/protocols/implementations/labware.py
  api/tests/opentrons/protocols/implementation/engine/test_labware_context.py
Labels: api, cpx

#7415 feat(api): implement get_geometry and highest_z
  api/src/opentrons/protocols/implementations/engine/labware_context.py
  api/tests/opentrons/protocols/implementation/engine/test_labware_context.py
Labels: api, cpx

#7420 feat(protocol-designer): add non-modal batch edit fields to form
  protocol-designer/fixtures/protocol/5/doItAllV4.json
  protocol-designer/fixtures/protocol/5/doItAllV5.json
  protocol-designer/fixtures/protocol/5/example_1_1_0MigratedFromV1_0_0.json
  protocol-designer/src/components/BatchEditForm/index.js
  protocol-designer/src/components/BatchEditForm/makeBatchEditFieldProps.js
  protocol-designer/src/components/StepEditForm/__tests__/utils.test.js
  protocol-designer/src/components/StepEditForm/fields/BlowoutLocationField.js
  protocol-designer/src/components/StepEditForm/fields/DelayFields.js
  protocol-designer/src/components/StepEditForm/fields/DisposalVolumeField.js
  protocol-designer/src/components/StepEditForm/fields/MixFields.js
  protocol-designer/src/components/StepEditForm/fields/TipPositionField/index.js
  protocol-designer/src/components/StepEditForm/fields/__tests__/DelayFields.test.js
  protocol-designer/src/components/StepEditForm/fields/index.js
  protocol-designer/src/components/StepEditForm/fields/makeSingleEditFieldProps.js
  protocol-designer/src/components/StepEditForm/forms/MixForm.js
  protocol-designer/src/components/StepEditForm/forms/MoveLiquidForm/SourceDestFields.js
  protocol-designer/src/components/StepEditForm/types.js
  protocol-designer/src/components/StepEditForm/utils.js
  protocol-designer/src/form-types.js
  protocol-designer/src/localization/en/form.json
  protocol-designer/src/step-forms/test/createPresavedStepForm.test.js
  protocol-designer/src/steplist/formLevel/getDefaultsForStepType.js
  protocol-designer/src/steplist/formLevel/test/getDefaultsForStepType.test.js
  protocol-designer/src/ui/steps/__fixtures__/moveLiquid.js
  protocol-designer/src/ui/steps/selectors.js
  protocol-designer/src/ui/steps/test/selectors.test.js
  protocol-designer/src/ui/steps/utils.js
Labels: :spider: SPDDRS, protocol designer

#7440 feat(protocol-designer): add modal fields
  protocol-designer/src/components/BatchEditForm/index.js
  protocol-designer/src/components/StepEditForm/fields/FlowRateField/index.js
  protocol-designer/src/components/StepEditForm/fields/WellOrderField/WellOrderModal.js
  protocol-designer/src/components/StepEditForm/fields/WellOrderField/WellOrderViz.js
  protocol-designer/src/components/StepEditForm/fields/WellOrderField/index.js
  protocol-designer/src/components/StepEditForm/fields/__tests__/WellOrderField.test.js
  protocol-designer/src/components/StepEditForm/forms/MixForm.js
  protocol-designer/src/components/StepEditForm/forms/MoveLiquidForm/SourceDestFields.js
  protocol-designer/src/components/StepEditForm/forms/__tests__/MixForm.test.js
  protocol-designer/src/components/StepEditForm/forms/__tests__/SourceDestFields.test.js
  protocol-designer/src/localization/en/form.json
Labels: :spider: SPDDRS, protocol designer

#7404 feat(update-server): Add bootId field to GET /server/update/health
  update-server/otupdate/buildroot/__init__.py
  update-server/otupdate/buildroot/constants.py
  update-server/otupdate/buildroot/control.py
  update-server/tests/buildroot/conftest.py
  update-server/tests/buildroot/test_control.py
Labels: cpx, update server

#7442 fix(protocol-designer): avoid StepList exception on keydown
  protocol-designer/cypress/integration/newProtocolWithTC.spec.js
  protocol-designer/src/components/steplist/StepList.js
Labels: :spider: SPDDRS, protocol designer

#7445 test(cypress): update Cypress to 6.6.0
  package.json
  yarn.lock
Labels: infrastructure, qa

#7441 feat(components, protocol-designer): provide more e2e selectors
  components/src/lists/TitledList.js
  components/src/structure/TitleBar.js
  protocol-designer/src/components/BatchEditForm/index.js
  protocol-designer/src/components/DeckSetupManager.js
  protocol-designer/src/components/StepCreationButton.js
  protocol-designer/src/components/StepEditForm/fields/CheckboxRowField.js
  protocol-designer/src/components/StepEditForm/fields/FlowRateField/FlowRateInput.js
  protocol-designer/src/components/StepEditForm/fields/WellOrderField/WellOrderModal.js
  protocol-designer/src/components/StepEditForm/fields/WellOrderField/index.js
  protocol-designer/src/components/StepEditForm/fields/__tests__/WellOrderField.test.js
  protocol-designer/src/components/StepEditForm/forms/MixForm.js
  protocol-designer/src/components/StepEditForm/forms/MoveLiquidForm/SourceDestFields.js
  protocol-designer/src/components/steplist/TerminalItem/index.js
  protocol-designer/src/containers/ConnectedTitleBar.js
Labels: :spider: SPDDRS, components, protocol designer

#7436 feat(api): implement get_tip_tracker and comments
  api/src/opentrons/protocol_engine/state/geometry.py
  api/src/opentrons/protocol_engine/state/labware.py
  api/src/opentrons/protocols/implementations/engine/labware_context.py
  api/tests/opentrons/protocol_engine/state/test_geometry_state.py
  api/tests/opentrons/protocol_engine/state/test_labware_state.py
  api/tests/opentrons/protocols/implementation/engine/test_labware_context.py
Labels: api, cpx

#7454 refactor(protocol-designer): add ids to MultiSelectToolbar
  protocol-designer/src/components/steplist/MultiSelectToolbar/index.js
Labels: :spider: SPDDRS, protocol designer, refactor

#7457 refactor(protocol-designer): Update no shared settings text
  protocol-designer/src/localization/en/application.json
Labels: :spider: SPDDRS, fix, protocol designer

#7453 feat(api): protocol engine labware interface implementationn
  api/src/opentrons/protocol_engine/state/geometry.py
  api/src/opentrons/protocol_engine/state/labware.py
  api/src/opentrons/protocols/implementations/engine/labware_context.py
  api/src/opentrons/protocols/implementations/labware.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/protocol_engine/state/test_geometry_state.py
  api/tests/opentrons/protocol_engine/state/test_labware_state.py
  api/tests/opentrons/protocols/implementation/engine/test_labware_context.py
Labels: api, cpx

#7398 feat(api): allow ProtocolContext to load labware using the ProtocolEngine
  api/src/opentrons/protocol_engine/__init__.py
  api/src/opentrons/protocol_engine/clients/__init__.py
  api/src/opentrons/protocol_engine/clients/sync_client.py
  api/src/opentrons/protocol_engine/clients/transports.py
  api/src/opentrons/protocol_engine/resources/deck_data_provider.py
  api/src/opentrons/protocol_engine/state/geometry.py
  api/src/opentrons/protocol_engine/state/labware.py
  api/src/opentrons/protocol_engine/types.py
  api/src/opentrons/protocols/geometry/labware_geometry.py
  api/src/opentrons/protocols/implementations/engine/__init__.py
  api/src/opentrons/protocols/implementations/engine/labware_context.py
  api/src/opentrons/protocols/implementations/engine/protocol_context.py
  api/src/opentrons/protocols/implementations/interfaces/labware.py
  api/src/opentrons/types.py
  api/tests/opentrons/protocol_engine/clients/test_child_thread_transport.py
  api/tests/opentrons/protocol_engine/clients/test_sync_client.py
  api/tests/opentrons/protocol_engine/state/test_geometry_state.py
  api/tests/opentrons/protocol_engine/state/test_labware_state.py
  api/tests/opentrons/protocols/implementation/engine/test_protocol_context.py
  api/tests/opentrons/protocols/implementations/__init__.py
  api/tests/opentrons/protocols/implementations/engine/__init__.py
  api/tests/opentrons/protocols/implementations/engine/test_labware_context.py
  api/tests/opentrons/protocols/implementations/engine/test_protocol_context.py
  api/tests/opentrons/protocols/implementations/test_tip_tracker.py
  api/tests/opentrons/protocols/implementations/test_well.py
  api/tests/opentrons/protocols/implementations/test_well_grid.py
Labels: api, cpx, feature

#7462 feat(components): allow Tooltip to take style props
  components/src/tooltips/Tooltip.js
  protocol-designer/src/components/StepEditForm/fields/CheckboxRowField.js
Labels: components, protocol designer

#7359 feat(api): Add physical USB Port information to the hardware controller
  api/src/opentrons/algorithms/__init__.py
  api/src/opentrons/algorithms/dfs.py
  api/src/opentrons/algorithms/graph.py
  api/src/opentrons/algorithms/types.py
  api/src/opentrons/drivers/rpi_drivers/interfaces.py
  api/src/opentrons/drivers/rpi_drivers/types.py
  api/src/opentrons/drivers/rpi_drivers/usb.py
  api/src/opentrons/drivers/rpi_drivers/usb_simulator.py
  api/src/opentrons/hardware_control/api.py
  api/src/opentrons/hardware_control/controller.py
  api/src/opentrons/hardware_control/modules/magdeck.py
  api/src/opentrons/hardware_control/modules/mod_abc.py
  api/src/opentrons/hardware_control/modules/tempdeck.py
  api/src/opentrons/hardware_control/modules/thermocycler.py
  api/src/opentrons/hardware_control/modules/types.py
  api/src/opentrons/hardware_control/modules/utils.py
  api/src/opentrons/hardware_control/simulator.py
  api/src/opentrons/protocols/implementations/protocol_context.py
  api/tests/opentrons/algorithms/fixture_alphabetical_graph.json
  api/tests/opentrons/algorithms/fixture_numerical_graph.json
  api/tests/opentrons/algorithms/test_dfs.py
  api/tests/opentrons/drivers/rpi_drivers/test_usb.py
  api/tests/opentrons/hardware_control/modules/test_hc_magdeck.py
  api/tests/opentrons/hardware_control/modules/test_hc_tempdeck.py
  api/tests/opentrons/hardware_control/modules/test_hc_thermocycler.py
  api/tests/opentrons/hardware_control/test_modules.py
  robot-server/tests/service/legacy/routers/test_modules.py
Labels: api, hmg

#7362 feat(robot-server): Add physical module usb port information to the http server
  api/src/opentrons/protocols/implementations/protocol_context.py
  robot-server/robot_server/service/legacy/models/modules.py
  robot-server/robot_server/service/legacy/routers/modules.py
  robot-server/tests/integration/test_modules.tavern.yaml
  robot-server/tests/service/legacy/routers/test_modules.py
Labels: hmg, robot server

#7478 refactor(app): hide app module changes behind a feature flag
  app/src/pages/Calibrate/CalibratePanel/index.js
  app/src/pages/Robots/RobotSettings/__tests__/CalibrationCard.test.js
  app/src/redux/config/constants.js
  app/src/redux/config/schema-types.js
Labels: app

#7480 chore(api): change to load_graph fixture in test_dfs
  api/tests/opentrons/algorithms/test_dfs.py
Labels: api, chore, cpx

#7464 refactor(api): `opentrons.protocols.implementations` refactor
  api/src/opentrons/api/session.py
  api/src/opentrons/execute.py
  api/src/opentrons/protocol_api/instrument_context.py
  api/src/opentrons/protocol_api/labware.py
  api/src/opentrons/protocol_api/paired_instrument_context.py
  api/src/opentrons/protocol_api/protocol_context.py
  api/src/opentrons/protocols/api_support/tip_tracker.py
  api/src/opentrons/protocols/api_support/util.py
  api/src/opentrons/protocols/api_support/well_grid.py
  api/src/opentrons/protocols/context/__init__.py
  api/src/opentrons/protocols/context/engine/__init__.py
  api/src/opentrons/protocols/context/engine/labware_context.py
  api/src/opentrons/protocols/context/engine/protocol_context.py
  api/src/opentrons/protocols/context/instrument.py
  api/src/opentrons/protocols/context/labware.py
  api/src/opentrons/protocols/context/protocol.py
  api/src/opentrons/protocols/context/protocol_api/__init__.py
  api/src/opentrons/protocols/context/protocol_api/instrument_context.py
  api/src/opentrons/protocols/context/protocol_api/labware.py
  api/src/opentrons/protocols/context/protocol_api/paired_instrument.py
  api/src/opentrons/protocols/context/protocol_api/protocol_context.py
  api/src/opentrons/protocols/context/simulator/__init__.py
  api/src/opentrons/protocols/context/simulator/instrument_context.py
  api/src/opentrons/protocols/context/simulator/protocol_context.py
  api/src/opentrons/protocols/context/well.py
  api/src/opentrons/protocols/geometry/module_geometry.py
  api/src/opentrons/protocols/geometry/well_geometry.py
  api/src/opentrons/protocols/implementations/interfaces/__init__.py
  api/src/opentrons/protocols/implementations/simulators/__init__.py
  api/src/opentrons/protocols/labware/definition.py
  api/src/opentrons/protocols/labware/load.py
  api/src/opentrons/simulate.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/protocol_api/test_context.py
  api/tests/opentrons/protocol_api/test_instrument.py
  api/tests/opentrons/protocol_api/test_labware.py
  api/tests/opentrons/protocol_api/test_offsets.py
  api/tests/opentrons/protocols/advanced_control/test_transfers.py
  api/tests/opentrons/protocols/api_support/test_instrument.py
  api/tests/opentrons/protocols/api_support/test_tip_tracker.py
  api/tests/opentrons/protocols/api_support/test_util.py
  api/tests/opentrons/protocols/api_support/test_well_grid.py
  api/tests/opentrons/protocols/context/__init__.py
  api/tests/opentrons/protocols/context/engine/__init__.py
  api/tests/opentrons/protocols/context/engine/test_labware_context.py
  api/tests/opentrons/protocols/context/engine/test_protocol_context.py
  api/tests/opentrons/protocols/context/test_well.py
  api/tests/opentrons/protocols/execution/test_execute_json_v3.py
  api/tests/opentrons/protocols/execution/test_execute_json_v5.py
  api/tests/opentrons/protocols/implementations/engine/__init__.py
  robot-server/robot_server/service/protocol/analyze.py
  robot-server/tests/conftest.py
Labels: api, cpx, refactor

#7479 refactor(api): remove defaults from protocol context interfaces
  api/src/opentrons/protocol_api/protocol_context.py
  api/src/opentrons/protocols/context/instrument.py
  api/src/opentrons/protocols/context/protocol.py
  api/src/opentrons/protocols/context/protocol_api/instrument_context.py
  api/src/opentrons/protocols/context/protocol_api/protocol_context.py
  api/src/opentrons/protocols/context/simulator/instrument_context.py
  api/src/opentrons/protocols/context/simulator/protocol_context.py
Labels: api, cpx, refactor

#7476 feat(protocol-designer): update Flow Rate field+modal
  protocol-designer/src/components/StepEditForm/fields/FlowRateField/FlowRateInput.js
  protocol-designer/src/localization/en/form.json
Labels: protocol designer

#7465 feat(protocol-designer): Add batch edit announcement modal
  protocol-designer/src/components/modals/AnnouncementModal/AnnouncementModal.css
  protocol-designer/src/components/modals/AnnouncementModal/announcements.js
  protocol-designer/src/components/modals/AnnouncementModal/index.js
  protocol-designer/src/images/announcements/batch_edit.gif
  protocol-designer/src/images/announcements/multi_select.gif
Labels: :spider: SPDDRS, protocol designer

#7484 feat(protocol-designer): change copy of batch edit cancel button
  protocol-designer/src/components/BatchEditForm/__tests__/BatchEditMoveLiquid.test.js
  protocol-designer/src/components/BatchEditForm/index.js
  protocol-designer/src/localization/en/button.json
Labels: protocol designer

#7494 fix(protocol-designer): clear presaved form on multiselect
  protocol-designer/src/step-forms/reducers/index.js
  protocol-designer/src/step-forms/test/reducers.test.js
Labels: :spider: SPDDRS, fix, protocol designer

#7492 feat(protocol-designer): Add expand/collapse animation to MutliSelectToolbar
  components/src/primitives/style-props.js
  components/src/primitives/types.js
  protocol-designer/src/components/steplist/MultiSelectToolbar/index.js
  protocol-designer/src/components/steplist/StepList.js
  protocol-designer/src/components/steplist/__tests__/MultiSelectToolbar.test.js
  protocol-designer/src/components/steplist/__tests__/StepList.test.js
Labels: :spider: SPDDRS, protocol designer

#7474 feat(protocol-engine): Start a Protocol-Engine–backed implementation of InstrumentContext
  api/src/opentrons/protocols/context/engine/__init__.py
  api/src/opentrons/protocols/context/engine/pipette_context.py
Labels: api, feature

#7458 feat(protocol-designer): show deck state in batch edit hover and show "no shared settings"
  protocol-designer/src/components/BatchEditForm/NoBatchEditSharedSettings.js
  protocol-designer/src/components/BatchEditForm/index.js
  protocol-designer/src/components/DeckSetup/DeckSetup.js
  protocol-designer/src/components/DeckSetupManager.js
  protocol-designer/src/components/FormManager/index.js
  protocol-designer/src/components/ProtocolEditor.js
  protocol-designer/src/components/StepSelectionBanner/StepSelectionBannerComponent.js
  protocol-designer/src/localization/en/application.json
  protocol-designer/src/localization/en/deck.json
Labels: :spider: SPDDRS, protocol designer

#7446 feat(protocol-designer): bump to 5.2.4; remove batch edit FF
  protocol-designer/src/containers/ConnectedStepItem.js
  protocol-designer/src/containers/__tests__/ConnectedStepItem.test.js
  protocol-designer/src/feature-flags/reducers.js
  protocol-designer/src/feature-flags/selectors.js
  protocol-designer/src/feature-flags/types.js
  protocol-designer/src/localization/en/feature_flags.json
  protocol-designer/webpack.config.js
Labels: :spider: SPDDRS, protocol designer

#7495 fix(protocol-designer): fix probs with typing zero in tip position
  protocol-designer/src/components/StepEditForm/fields/TipPositionField/TipPositionModal.js
Labels: :spider: SPDDRS, protocol designer

#7501 fix(protocol-designer): Restore hidden tooltips on MultiSelectToolbar
  protocol-designer/src/components/steplist/MultiSelectToolbar/index.js
Labels: :spider: SPDDRS, protocol designer

#7503 fix(protocol-designer): fix tooltip for delay tip position field
  protocol-designer/src/localization/en/tooltip.json
Labels: :spider: SPDDRS, protocol designer

#7504 refactor(protocol-designer): Make discard changes button secondary
  protocol-designer/src/components/BatchEditForm/__tests__/BatchEditMoveLiquid.test.js
  protocol-designer/src/components/BatchEditForm/index.js
  protocol-designer/src/components/StepEditForm/ButtonRow/styles.css
Labels: :spider: SPDDRS, protocol designer

#7410 refactor(app): create a module deck map in calibrate page
  app/src/assets/localization/en/protocol_calibration.json
  app/src/organisms/ProtocolModuleList/__tests__/ProtocolModuleList.test.js
  app/src/organisms/ProtocolModuleList/index.js
  app/src/organisms/ProtocolModuleList/styles.css
  app/src/pages/Calibrate/CalibratePanel/LabwareGroup.js
  app/src/pages/Calibrate/ConnectModules/Prompt.js
  app/src/pages/Calibrate/ConnectModules/index.js
  app/src/pages/Calibrate/Modules.js
  app/src/pages/Calibrate/UncalibratedInfo.js
  app/src/pages/Calibrate/index.js
  app/src/redux/robot/selectors.js
  components/src/deck/Module.css
  components/src/deck/Module.js
Labels: app, refactor

#7353 feat(api): add module emulation
  api/src/opentrons/drivers/serial_communication.py
  api/src/opentrons/drivers/thermocycler/driver.py
  api/src/opentrons/hardware_control/emulation/__init__.py
  api/src/opentrons/hardware_control/emulation/app.py
  api/src/opentrons/hardware_control/emulation/command_processor.py
  api/src/opentrons/hardware_control/emulation/magdeck.py
  api/src/opentrons/hardware_control/emulation/smoothie.py
  api/src/opentrons/hardware_control/emulation/tempdeck.py
  api/src/opentrons/hardware_control/emulation/thermocycler.py
  api/tests/opentrons/hardware_control/integration/__init__.py
  api/tests/opentrons/hardware_control/integration/conftest.py
  api/tests/opentrons/hardware_control/integration/test_magdeck.py
  api/tests/opentrons/hardware_control/integration/test_smoothie.py
  api/tests/opentrons/hardware_control/integration/test_tempdeck.py
  api/tests/opentrons/hardware_control/integration/test_thermocycler.py
Labels: api, cpx, hmg

#7512 fix(protocol-designer): Update tooltip placement
  protocol-designer/src/components/BatchEditForm/index.js
Labels: :spider: SPDDRS, fix, protocol designer

#7505 build: Fix Makefile syntax errors preventing `make push`
  Makefile
  scripts/push.mk
Labels: chore, fix

#7515 fix(api): Sleeps do not happen in thermocycler and tempdeck when simulating.
  api/src/opentrons/hardware_control/modules/tempdeck.py
  api/src/opentrons/hardware_control/modules/thermocycler.py
  api/tests/opentrons/hardware_control/modules/test_hc_thermocycler.py
Labels: api, fix

#7518 refactor(api): Don't try to guess the transfer mode in TransferPlan
  api/src/opentrons/protocols/advanced_control/transfers.py
  api/tests/opentrons/protocols/advanced_control/test_transfers.py
Labels: api, cpx, refactor

#7524 fix(api): check the symlink of the virtual port to map to the physical port
  api/src/opentrons/drivers/rpi_drivers/interfaces.py
  api/src/opentrons/drivers/rpi_drivers/types.py
  api/src/opentrons/drivers/rpi_drivers/usb.py
  api/src/opentrons/drivers/rpi_drivers/usb_simulator.py
  api/src/opentrons/hardware_control/api.py
  api/src/opentrons/hardware_control/modules/types.py
  api/tests/opentrons/drivers/rpi_drivers/test_usb.py
Labels: api, fix

#7497 refactor(app): modules page and run page module control revamp
  app/src/molecules/ModuleControls/MagnetControl.js
  app/src/molecules/ModuleControls/MagnetData.js
  app/src/molecules/ModuleControls/TemperatureControl.js
  app/src/molecules/ModuleControls/TemperatureData.js
  app/src/molecules/ModuleControls/index.js
  app/src/pages/Robots/ModuleSettings/AttachedModulesCard.js
  app/src/pages/Robots/ModuleSettings/ModuleItem/ModuleImage.js
  app/src/pages/Robots/ModuleSettings/ModuleItem/ModuleInfo.js
  app/src/pages/Robots/ModuleSettings/ModuleItem/ModuleUpdate.js
  app/src/pages/Robots/ModuleSettings/ModuleItem/__tests__/ModuleUpdate.test.js
  app/src/pages/Robots/ModuleSettings/ModuleItem/index.js
  app/src/pages/Robots/ModuleSettings/ModuleItem/styles.css
  app/src/pages/Run/RunPanel/ModuleLiveStatusCards/MagDeckCard.js
  app/src/pages/Run/RunPanel/ModuleLiveStatusCards/TempDeckCard.js
  app/src/pages/Run/RunPanel/ModuleLiveStatusCards/ThermocyclerCard.js
  app/src/pages/Run/RunPanel/ModuleLiveStatusCards/index.js
  app/src/pages/Run/RunPanel/ModuleLiveStatusCards/styles.css
  app/src/redux/modules/api-types.js
Labels: WIP, app, refactor

#7529 refactor(protocol-designer): clean up swatchColors util
  protocol-designer/src/components/IngredientsList/index.js
  protocol-designer/src/components/LiquidsSidebar/index.js
  protocol-designer/src/components/labware/utils.js
  protocol-designer/src/components/steplist/IngredPill.js
  protocol-designer/src/components/steplist/SubstepRow.js
  protocol-designer/src/components/swatchColors.js
Labels: :spider: SPDDRS, protocol designer

#7528 refactor(protocol-designer): refactor ProfileItemRows
  protocol-designer/src/components/StepEditForm/fields/ProfileItemRows.js
  protocol-designer/src/components/StepEditForm/forms/ThermocyclerForm/index.js
Labels: :spider: SPDDRS, protocol designer

#7527 refactor(protocol-designer): remove single-edit dependency of WellSelectionField
  protocol-designer/src/components/StepEditForm/fields/WellSelectionField/WellSelectionInput.js
  protocol-designer/src/components/StepEditForm/fields/WellSelectionField/WellSelectionModal.js
  protocol-designer/src/components/StepEditForm/fields/WellSelectionField/index.js
  protocol-designer/src/components/StepEditForm/forms/MixForm.js
  protocol-designer/src/components/StepEditForm/forms/MoveLiquidForm/SourceDestHeaders.js
  protocol-designer/src/components/StepEditForm/forms/MoveLiquidForm/index.js
Labels: :spider: SPDDRS, protocol designer

#7526 fix(protocol-designer): remove single-edit dependencies for PathField
  protocol-designer/src/components/StepEditForm/StepEditForm.css
  protocol-designer/src/components/StepEditForm/fields/PathField/Path.js
  protocol-designer/src/components/StepEditForm/fields/PathField/getDisabledPathMap.js
  protocol-designer/src/components/StepEditForm/fields/PathField/index.js
  protocol-designer/src/components/StepEditForm/forms/MoveLiquidForm/index.js
Labels: :spider: SPDDRS, protocol designer

#7523 refactor(protocol-designer): remove single-edit dependencies in DisposalVolumeField
  protocol-designer/src/components/StepEditForm/fields/DisposalVolumeField.js
  protocol-designer/src/components/StepEditForm/forms/MoveLiquidForm/index.js
  protocol-designer/src/steplist/formLevel/handleFormChange/dependentFieldsUpdateMoveLiquid.js
  protocol-designer/src/steplist/formLevel/handleFormChange/utils.js
Labels: :spider: SPDDRS, protocol designer

#7540 refactor(api): Add todo comments calling out some TransferPlan questions
  api/src/opentrons/protocols/advanced_control/transfers.py
Labels: api, refactor

#7532 feat(api): sort modules in protocol context by USB port
  api/src/opentrons/hardware_control/api.py
  api/src/opentrons/hardware_control/modules/types.py
  api/src/opentrons/protocols/context/protocol_api/protocol_context.py
  api/src/opentrons/protocols/geometry/module_geometry.py
  api/src/opentrons/protocols/geometry/types.py
  api/tests/opentrons/hardware_control/test_modules.py
  api/tests/opentrons/protocol_api/test_context.py
Labels: api

#7544 refactor(api): map physical port names to a more user friendly value
  api/src/opentrons/drivers/rpi_drivers/interfaces.py
  api/src/opentrons/drivers/rpi_drivers/types.py
  api/src/opentrons/drivers/rpi_drivers/usb.py
  api/src/opentrons/drivers/rpi_drivers/usb_simulator.py
  api/src/opentrons/hardware_control/controller.py
  api/src/opentrons/hardware_control/simulator.py
  api/tests/opentrons/drivers/rpi_drivers/test_usb.py
Labels: api

#7535 fix(protocol-designer): Update cancel/save button tooltip placement
  protocol-designer/src/components/BatchEditForm/index.js
Labels: :spider: SPDDRS, fix, protocol designer

#7546 refactor(protocol-designer): Remove last instances of FieldConnector
  protocol-designer/docs/STEP_FORMS_AND_PROTOCOL_TIMELINE.md
  protocol-designer/src/components/StepEditForm/fields/FieldConnector.js
  protocol-designer/src/components/StepEditForm/fields/ToggleRowField.js
  protocol-designer/src/components/StepEditForm/forms/ThermocyclerForm/StateFields.js
  protocol-designer/src/components/StepEditForm/forms/__tests__/MixForm.test.js
  protocol-designer/src/components/StepEditForm/utils.js
Labels: :spider: SPDDRS, protocol designer

#7547 refactor(protocol-designer): add selectors for e2e tests
  protocol-designer/src/components/StepSelectionBanner/StepSelectionBannerComponent.js
  protocol-designer/src/components/steplist/SubstepRow.js
Labels: :spider: SPDDRS, protocol designer

#7525 docs(api): add documentation for multiples of a module
  api/docs/img/modules/multiples_of_a_module.png
  api/docs/v2/new_modules.rst
Labels: docs

#7522 refactor(api): smoothie gcode no string concatenation
  api/src/opentrons/drivers/command_builder.py
  api/src/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/src/opentrons/hardware_control/emulation/smoothie.py
  api/tests/opentrons/drivers/test_command_builder.py
  api/tests/opentrons/drivers/test_driver.py
Labels: cpx, hmg, refactor

#7570 docs(robot-server): Fix swapped summaries and descriptions
  robot-server/robot_server/service/labware/router.py
  robot-server/robot_server/service/legacy/routers/health.py
  robot-server/robot_server/service/legacy/routers/modules.py
  robot-server/robot_server/service/legacy/routers/networking.py
  robot-server/robot_server/service/legacy/routers/pipettes.py
  robot-server/robot_server/service/system/router.py
Labels: cpx, docs, robot server
