Repository Opentrons/opentrons, pull requests merged in 2021-07, with the labels that each got.

#8045 chore: Add notify-server to .eslintignore
  .eslintignore
Labels: chore

#8040 refactor(api): Fix deprecated use of `asyncio.Task.current_task()`
  api/src/opentrons/hardware_control/threaded_async_lock.py
Labels: api, refactor

#8038 feat(labware-creator): make error copy "is required" not "must be a number"
  labware-library/cypress/integration/labware-creator/reservoir.spec.js
  labware-library/cypress/integration/labware-creator/tubesBlock.spec.js
  labware-library/cypress/integration/labware-creator/tubesRack.spec.js
  labware-library/cypress/integration/labware-creator/wellPlate.spec.js
  labware-library/src/labware-creator/labwareFormSchema.ts
Labels: labware creator

#8014 refactor(components): regenerate flow-types
  components/flow-types/buttons/Button.js.flow
  components/flow-types/deck/types.js.flow
  components/flow-types/forms/CheckboxField.js.flow
  components/flow-types/forms/InputField.js.flow
  components/flow-types/instrument/InstrumentInfo.js.flow
  components/flow-types/primitives/Box.js.flow
Labels: JS Tech Debt

#8047 fix(labware-creator): remove extra margin btw p's of "Custom Tip Rack…
  labware-library/src/labware-creator/components/sections/CustomTiprackWarning.tsx
Labels: labware creator

#8032 refactor(engine): Wire-up basic Python protocol run logic
  api/src/opentrons/file_runner/abstract_file_runner.py
  api/src/opentrons/file_runner/context_creator.py
  api/src/opentrons/file_runner/create_file_runner.py
  api/src/opentrons/file_runner/json_file_runner.py
  api/src/opentrons/file_runner/python_executor.py
  api/src/opentrons/file_runner/python_file_runner.py
  api/src/opentrons/file_runner/python_reader.py
  api/tests/opentrons/data/testosaur_v2.py
  api/tests/opentrons/data/testosaur_v3.py
  api/tests/opentrons/file_runner/smoke_tests/__init__.py
  api/tests/opentrons/file_runner/smoke_tests/test_python.py
  api/tests/opentrons/file_runner/test_context_creator.py
  api/tests/opentrons/file_runner/test_create_file_runner.py
  api/tests/opentrons/file_runner/test_python_file_runner.py
  api/tests/opentrons/file_runner/test_python_reader.py
  robot-server/robot_server/service/task_runner.py
  robot-server/robot_server/sessions/router.py
  robot-server/tests/protocols/test_protocol_store.py
  robot-server/tests/sessions/conftest.py
  robot-server/tests/sessions/test_engine_store.py
  robot-server/tests/sessions/test_sessions_router.py
Labels: api, cpx, protocol-engine, robot server

#8057 refactor(robot-server): split apart experimental sessions router
  robot-server/robot_server/sessions/router/__init__.py
  robot-server/robot_server/sessions/router/actions_router.py
  robot-server/robot_server/sessions/router/base_router.py
  robot-server/robot_server/sessions/router/commands_router.py
  robot-server/tests/sessions/conftest.py
  robot-server/tests/sessions/router/__init__.py
  robot-server/tests/sessions/router/conftest.py
  robot-server/tests/sessions/router/test_actions_router.py
  robot-server/tests/sessions/router/test_base_router.py
  robot-server/tests/sessions/router/test_commands_router.py
  robot-server/tests/sessions/test_sessions_router.py
Labels: cpx, protocol-engine, robot server

#8060 feat(labware-creator): change tube rack inserts for custom tubes
  labware-library/cypress/integration/labware-creator/tubesRack.spec.js
  labware-library/src/labware-creator/components/IntroCopy.tsx
  labware-library/src/labware-creator/fields.ts
  labware-library/src/labware-creator/images/blank_insert_large.png
Labels: labware creator

#8039 chore(robot-server): Update Tavern to fix deprecation warnings
  robot-server/Pipfile
  robot-server/Pipfile.lock
Labels: chore, cpx, robot server

#8064 docs(api): Fix `move()` example
  api/src/opentrons/types.py
Labels: api, cpx, docs, papi v2

#8062 feat(labware-creator): allow dynamic field labels via getLabel
  labware-library/src/labware-creator/components/Dropdown.tsx
  labware-library/src/labware-creator/components/RadioField.tsx
  labware-library/src/labware-creator/components/TextField.tsx
  labware-library/src/labware-creator/components/__tests__/sections/Regularity.test.tsx
  labware-library/src/labware-creator/fields.ts
Labels: labware creator

#8063 feat(labware-creator): update spacing section for custom tube racks
  labware-library/src/labware-creator/components/__tests__/sections/WellSpacing.test.tsx
  labware-library/src/labware-creator/components/sections/WellSpacing.tsx
Labels: labware creator

#8068 feat(labware-creator): show Grid section for custom tube racks
  labware-library/src/labware-creator/components/__tests__/sections/Grid.test.tsx
  labware-library/src/labware-creator/components/sections/Grid.tsx
Labels: labware creator

#8022 feat(api): promote fast protocol analysis to default behavior
  api/src/opentrons/api/session.py
  api/src/opentrons/config/advanced_settings.py
  api/src/opentrons/config/feature_flags.py
  api/src/opentrons/protocols/parse.py
  api/tests/opentrons/config/test_advanced_settings.py
  api/tests/opentrons/config/test_advanced_settings_migration.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/hardware_control/test_api_helpers.py
  api/tests/opentrons/hardware_control/test_moves.py
  api/tests/opentrons/hardware_control/test_paired_pipettes.py
  api/tests/opentrons/hardware_control/test_pipette.py
  api/tests/opentrons/protocol_api/test_context.py
  robot-server/tests/integration/test_settings.tavern.yaml
Labels: cpx, qa

#8010 feat(labware-designer): add prototype react-based sandbox-style live labware editor
  labware-designer/.gitignore
  labware-designer/README.md
  labware-designer/package.json
  labware-designer/src/App.tsx
  labware-designer/src/atoms/GlobalStyle.tsx
  labware-designer/src/index.js
  labware-designer/src/index.tsx
  labware-designer/src/organisms/CreateLabwareSandbox/__tests__/CreateLabwareSandbox.test.tsx
  labware-designer/src/organisms/CreateLabwareSandbox/fixtures.ts
  labware-designer/src/organisms/CreateLabwareSandbox/index.tsx
  labware-designer/tsconfig.json
  labware-designer/typings/global.d.ts
  labware-designer/typings/styled-components.d.ts
  labware-designer/webpack.config.js
  tsconfig-eslint.json
  tsconfig.json
Labels: labware

#8012 refactor(app, shared-data): validate and load protocol into app state and create skeleton setup page
  app/src/assets/localization/en/index.ts
  app/src/assets/localization/en/protocol_info.json
  app/src/assets/localization/en/protocol_setup.json
  app/src/assets/localization/en/shared.json
  app/src/atoms/Page/index.tsx
  app/src/atoms/Page/styles.css
  app/src/organisms/ProtocolSetup/CollapsibleStep.tsx
  app/src/organisms/ProtocolSetup/MetadataCard.tsx
  app/src/organisms/ProtocolSetup/RunSetupCard.tsx
  app/src/organisms/ProtocolSetup/__tests__/CollapsibleStep.test.tsx
  app/src/organisms/ProtocolSetup/__tests__/MetadataCard.test.tsx
  app/src/organisms/ProtocolSetup/__tests__/RunSetupCard.test.tsx
  app/src/organisms/ProtocolSetup/__tests__/hooks.test.tsx
  app/src/organisms/ProtocolSetup/hooks.ts
  app/src/organisms/ProtocolSetup/index.tsx
  app/src/organisms/ProtocolUpload/UploadInput.tsx
  app/src/organisms/ProtocolUpload/__tests__/ProtocolUpload.test.tsx
  app/src/organisms/ProtocolUpload/__tests__/UploadInput.test.tsx
  app/src/organisms/ProtocolUpload/index.tsx
  app/src/pages/Upload/UploadPanel/index.tsx
  app/src/redux/protocol/__tests__/utils.test.ts
  app/src/redux/protocol/actions.ts
  app/src/redux/protocol/reducer.ts
  app/src/redux/protocol/selectors.ts
  app/src/redux/protocol/types.ts
  app/src/redux/protocol/utils.ts
  components/__utils__/renderWithProviders.tsx
  components/src/structure/Card.tsx
  shared-data/js/helpers/__tests__/parseProtocolData.test.ts
  shared-data/js/helpers/index.ts
  shared-data/js/helpers/parseProtocolData.ts
Labels: app, shared data

#8071 feat(labware-creator): grid offset update for tube racks
  labware-library/src/labware-creator/components/__tests__/sections/GridOffset.test.tsx
  labware-library/src/labware-creator/components/sections/GridOffset.tsx
Labels: labware creator

#8074 feat(labware-creator): update shape+size section for tube rack
  labware-library/src/labware-creator/components/__tests__/sections/WellShapeAndSides.test.tsx
  labware-library/src/labware-creator/components/sections/WellShapeAndSides.tsx
  labware-library/src/labware-creator/fields.ts
Labels: labware creator

#8082 feat(labware-creator): added tube brand and rack brand
  labware-library/cypress/integration/labware-creator/tubesRack.spec.js
  labware-library/src/components/LabwareList/__tests__/__snapshots__/LabwareList.test.tsx.snap
  labware-library/src/labware-creator/__tests__/__snapshots__/labwareDefToFields.test.ts.snap
  labware-library/src/labware-creator/__tests__/labwareDefToFields.test.ts
  labware-library/src/labware-creator/components/__tests__/sections/Description.test.tsx
  labware-library/src/labware-creator/components/sections/Description.tsx
  labware-library/src/labware-creator/fields.ts
  labware-library/src/labware-creator/formSelectors.ts
  labware-library/src/labware-creator/labwareDefToFields.ts
  labware-library/src/labware-creator/labwareFormSchema.ts
  shared-data/labware/fixtures/2/fixture_24_tuberack.json
Labels: labware creator

#8059 refactor(robot-server,engine): support pause/resume in JSON protocols
  api/Pipfile
  api/Pipfile.lock
  api/pytest.ini
  api/src/opentrons/file_runner/command_queue_worker.py
  api/src/opentrons/file_runner/create_file_runner.py
  api/src/opentrons/file_runner/json_file_runner.py
  api/tests/opentrons/file_runner/test_command_queue_worker.py
  api/tests/opentrons/file_runner/test_create_file_runner.py
  api/tests/opentrons/file_runner/test_json_file_runner.py
  robot-server/Pipfile
  robot-server/Pipfile.lock
  robot-server/pytest.ini
  robot-server/robot_server/service/task_runner.py
  robot-server/robot_server/sessions/action_models.py
  robot-server/robot_server/sessions/router/actions_router.py
  robot-server/tests/sessions/router/test_actions_router.py
Labels: cpx, protocol-engine, robot server

#8066 feat(labware-creator): update bottom & depth section for tubes
  labware-library/src/labware-creator/components/__tests__/sections/WellBottomAndDepth.test.tsx
  labware-library/src/labware-creator/components/sections/WellBottomAndDepth.tsx
Labels: labware creator

#8099 feat(labware-creator): support multi-channel pipettes
  labware-library/cypress/integration/labware-creator/fileImport.spec.js
  labware-library/cypress/integration/labware-creator/reservoir.spec.js
  labware-library/cypress/integration/labware-creator/tipRack.spec.js
  labware-library/cypress/integration/labware-creator/tubesBlock.spec.js
  labware-library/cypress/integration/labware-creator/tubesRack.spec.js
  labware-library/cypress/integration/labware-creator/wellPlate.spec.js
  labware-library/src/labware-creator/__tests__/utils/determineMultiChannelSupport.test.ts
  labware-library/src/labware-creator/__tests__/utils/getIsXYGeometryChanged.test.ts
  labware-library/src/labware-creator/__tests__/utils/getLabwareName.test.ts
  labware-library/src/labware-creator/components/ConditionalLabwareRender.tsx
  labware-library/src/labware-creator/components/Dropdown.tsx
  labware-library/src/labware-creator/components/__tests__/sections/CustomTiprackWarning.test.tsx
  labware-library/src/labware-creator/components/__tests__/sections/Description.test.tsx
  labware-library/src/labware-creator/components/__tests__/sections/Export.test.tsx
  labware-library/src/labware-creator/components/__tests__/sections/File.test.tsx
  labware-library/src/labware-creator/components/__tests__/sections/HandPlacedTipFit.test.tsx
  labware-library/src/labware-creator/components/__tests__/sections/Preview.test.tsx
  labware-library/src/labware-creator/components/__tests__/sections/Regularity.test.tsx
  labware-library/src/labware-creator/components/__tests__/sections/Volume.test.tsx
  labware-library/src/labware-creator/components/__tests__/sections/WellBottomAndDepth.test.tsx
  labware-library/src/labware-creator/components/__tests__/sections/WellShapeAndSides.test.tsx
  labware-library/src/labware-creator/components/__tests__/sections/WellSpacing.test.tsx
  labware-library/src/labware-creator/components/fieldStyles.css
  labware-library/src/labware-creator/components/getPipetteOptions.tsx
  labware-library/src/labware-creator/components/sections/Export.tsx
  labware-library/src/labware-creator/components/sections/Preview.tsx
  labware-library/src/labware-creator/fields.ts
  labware-library/src/labware-creator/getDefaultedDef.ts
  labware-library/src/labware-creator/index.tsx
  labware-library/src/labware-creator/testProtocols/constants.ts
  labware-library/src/labware-creator/testProtocols/labwareTestProtocol.ts
  labware-library/src/labware-creator/utils/determineMultiChannelSupport.ts
  labware-library/src/labware-creator/utils/getIsXYGeometryChanged.ts
Labels: labware creator

#8093 feat(labware-creator): added multichannel compatibility to protocol
  labware-library/cypress/fixtures/TestLabwareProtocol.py
  labware-library/src/labware-creator/testProtocols/labwareTestProtocol.ts
  labware-library/src/labware-creator/testProtocols/tipRackTestProtocol.ts
Labels: labware creator

#8089 feat(labware-creator): implement and test saving custom tube racks
  labware-library/src/components/LabwareList/__tests__/__snapshots__/LabwareList.test.tsx.snap
  labware-library/src/labware-creator/__tests__/__snapshots__/labwareDefToFields.test.ts.snap
  labware-library/src/labware-creator/__tests__/loadAndSaveIntegration.test.ts
  labware-library/src/labware-creator/components/__tests__/sections/Description.test.tsx
  labware-library/src/labware-creator/components/sections/Description.tsx
  labware-library/src/labware-creator/fieldsToLabware.ts
  labware-library/src/labware-creator/formSelectors.ts
  labware-library/src/labware-creator/labwareFormSchema.ts
  labware-library/src/labware-creator/utils/getIsCustomTubeRack.ts
  labware-library/src/labware-creator/utils/getIsOpentronsTubeRack.ts
  labware-library/src/labware-creator/utils/index.ts
  shared-data/labware/fixtures/2/fixture_24_tuberack.json
Labels: labware creator

#8130 feat(labware-library): change default display name for tube racks
  labware-library/cypress/integration/labware-creator/tubesRack.spec.js
  labware-library/src/labware-creator/fields.ts
  labware-library/src/labware-creator/formSelectors.ts
  labware-library/src/labware-creator/labwareFormSchema.ts
Labels: labware creator

#8143 fix(labware-creator): simplify autofill and fix bugs
  labware-library/src/labware-creator/Autofilling.md
  labware-library/src/labware-creator/components/__tests__/sections/Description.test.tsx
  labware-library/src/labware-creator/components/__tests__/sections/WellShapeAndSides.test.tsx
  labware-library/src/labware-creator/components/getPipetteOptions.tsx
  labware-library/src/labware-creator/components/sections/Description.tsx
  labware-library/src/labware-creator/fields.ts
  labware-library/src/labware-creator/formSelectors.ts
  labware-library/src/labware-creator/getDefaultedDef.ts
  labware-library/src/labware-creator/utils/determineMultiChannelSupport.ts
  labware-library/src/labware-creator/utils/makeAutofillOnChange.ts
Labels: labware creator

#8144 fix(labware-creator): reduce spacing btw tube brand + rack brand
  labware-library/src/labware-creator/components/sections/Description.tsx
Labels: labware creator

#8080 fix(robot-server): Don't hide exceptions in startup/shutdown handlers
  robot-server/Makefile
  robot-server/opentrons-robot-server.service
Labels: cpx, fix, robot server

#8150 feat(labware-creator): use "tube" not "well" for x/y errors
  labware-library/cypress/integration/labware-creator/reservoir.spec.js
  labware-library/cypress/integration/labware-creator/tipRack.spec.js
  labware-library/cypress/integration/labware-creator/tubesBlock.spec.js
  labware-library/cypress/integration/labware-creator/tubesRack.spec.js
  labware-library/cypress/integration/labware-creator/wellPlate.spec.js
  labware-library/src/labware-creator/components/HeightGuidingText.tsx
  labware-library/src/labware-creator/components/__tests__/FormAlerts.test.tsx
  labware-library/src/labware-creator/components/__tests__/sections/Grid.test.tsx
  labware-library/src/labware-creator/components/__tests__/sections/GridOffset.test.tsx
  labware-library/src/labware-creator/components/__tests__/sections/HandPlacedTipFit.test.tsx
  labware-library/src/labware-creator/components/alerts/FormAlerts.tsx
  labware-library/src/labware-creator/components/sections/CreateNewDefinition.tsx
  labware-library/src/labware-creator/components/sections/Description.tsx
  labware-library/src/labware-creator/components/sections/Export.tsx
  labware-library/src/labware-creator/components/sections/File.tsx
  labware-library/src/labware-creator/components/sections/Footprint.tsx
  labware-library/src/labware-creator/components/sections/Grid.tsx
  labware-library/src/labware-creator/components/sections/GridOffset.tsx
  labware-library/src/labware-creator/components/sections/HandPlacedTipFit.tsx
  labware-library/src/labware-creator/components/sections/Height.tsx
  labware-library/src/labware-creator/components/sections/Regularity.tsx
  labware-library/src/labware-creator/components/sections/Volume.tsx
  labware-library/src/labware-creator/components/sections/WellBottomAndDepth.tsx
  labware-library/src/labware-creator/components/sections/WellShapeAndSides.tsx
  labware-library/src/labware-creator/components/sections/WellSpacing.tsx
  labware-library/src/labware-creator/fields.ts
  labware-library/src/labware-creator/labwareFormSchema.ts
Labels: labware creator

#8154 fix(api): ignore missing aionotify more properly
  api/src/opentrons/hardware_control/controller.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/hardware_control/test_instruments.py
  api/tests/opentrons/hardware_control/test_modules.py
Labels: cpx, fix

#8157 docs: Remove obsolete Travis badges from readme files, and fix code formatting
  api/README.rst
  robot-server/README.rst
Labels: docs

#8158 style(api,robot-server): start using black to format some modules
  .github/workflows/js-check.yaml
  Makefile
  api/Makefile
  api/Pipfile
  api/Pipfile.lock
  api/src/opentrons/motion_planning/__init__.py
  api/src/opentrons/motion_planning/errors.py
  api/src/opentrons/motion_planning/waypoints.py
  api/src/opentrons/protocol_api_experimental/labware.py
  api/src/opentrons/protocol_engine/resources/deck_data_provider.py
  api/src/opentrons/protocol_engine/resources/labware_data_provider.py
  api/tests/opentrons/motion_planning/test_waypoints.py
  api/tests/opentrons/protocol_engine/resources/test_deck_data_provider.py
  api/tests/opentrons/protocol_engine/resources/test_labware_data_provider.py
  package.json
  robot-server/Makefile
  robot-server/Pipfile
  robot-server/Pipfile.lock
  robot-server/robot_server/util.py
  robot-server/tests/health/test_health_router.py
  robot-server/tests/test_app.py
  robot-server/tests/test_util.py
  yarn.lock
Labels: python

#8163 chore(release): 4.5.0-alpha.0
  CHANGELOG.md
  api/release-notes.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/build/release-notes.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  notify-server/notify_server/CHANGELOG.md
  notify-server/notify_server/package.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  robot-server/robot_server/CHANGELOG.md
  robot-server/robot_server/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  step-generation/CHANGELOG.md
  step-generation/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore, release 🚢

#8044 docs(protocol-designer): add info about PD migration and protocol versioning
  protocol-designer/README.md
Labels: docs, protocol designer

#8151 feat(protocol-engine): implement well & labware's well accessor methods
  api/src/opentrons/protocol_api_experimental/labware.py
  api/src/opentrons/protocol_api_experimental/well.py
  api/src/opentrons/protocol_engine/state/labware.py
  api/tests/opentrons/protocol_api_experimental/test_labware.py
  api/tests/opentrons/protocol_api_experimental/test_well.py
  api/tests/opentrons/protocol_engine/conftest.py
  api/tests/opentrons/protocol_engine/state/test_labware_view.py
Labels: cpx, protocol-engine

#8171 fix(labware-creator): fix bad syntax in tip rack protocol
  labware-library/src/labware-creator/testProtocols/tipRackTestProtocol.ts
Labels: labware creator

#8174 test(labware-creator): add e2e test + fixture for custom tube rack
  labware-library/cypress/fixtures/somerackbrand_24_tuberack_1500ul.json
  labware-library/cypress/integration/labware-creator/customTubeRack.spec.js
Labels: labware creator

#8152 refactor(protocol-engine): bring play/pause into core
  api/src/opentrons/file_runner/command_queue_worker.py
  api/src/opentrons/file_runner/create_file_runner.py
  api/src/opentrons/file_runner/json_file_runner.py
  api/src/opentrons/file_runner/python_file_runner.py
  api/src/opentrons/protocol_engine/clients/sync_client.py
  api/src/opentrons/protocol_engine/clients/transports.py
  api/src/opentrons/protocol_engine/create_protocol_engine.py
  api/src/opentrons/protocol_engine/execution/__init__.py
  api/src/opentrons/protocol_engine/execution/command_executor.py
  api/src/opentrons/protocol_engine/execution/equipment.py
  api/src/opentrons/protocol_engine/execution/movement.py
  api/src/opentrons/protocol_engine/execution/pipetting.py
  api/src/opentrons/protocol_engine/execution/queue_worker.py
  api/src/opentrons/protocol_engine/protocol_engine.py
  api/src/opentrons/protocol_engine/state/__init__.py
  api/src/opentrons/protocol_engine/state/abstract_store.py
  api/src/opentrons/protocol_engine/state/actions.py
  api/src/opentrons/protocol_engine/state/change_notifier.py
  api/src/opentrons/protocol_engine/state/commands.py
  api/src/opentrons/protocol_engine/state/labware.py
  api/src/opentrons/protocol_engine/state/pipettes.py
  api/src/opentrons/protocol_engine/state/state.py
  api/src/opentrons/protocol_engine/state/substore.py
  api/tests/opentrons/data/testosaur_v3.py
  api/tests/opentrons/file_runner/test_command_queue_worker.py
  api/tests/opentrons/file_runner/test_context_creator.py
  api/tests/opentrons/file_runner/test_json_file_runner.py
  api/tests/opentrons/file_runner/test_python_file_runner.py
  api/tests/opentrons/protocol_engine/clients/test_child_thread_transport.py
  api/tests/opentrons/protocol_engine/clients/test_sync_client.py
  api/tests/opentrons/protocol_engine/execution/test_command_executor.py
  api/tests/opentrons/protocol_engine/execution/test_equipment_handler.py
  api/tests/opentrons/protocol_engine/execution/test_movement_handler.py
  api/tests/opentrons/protocol_engine/execution/test_pipetting_handler.py
  api/tests/opentrons/protocol_engine/execution/test_queue_worker.py
  api/tests/opentrons/protocol_engine/state/test_change_notifier.py
  api/tests/opentrons/protocol_engine/state/test_command_store.py
  api/tests/opentrons/protocol_engine/state/test_command_view.py
  api/tests/opentrons/protocol_engine/state/test_labware_store.py
  api/tests/opentrons/protocol_engine/state/test_pipette_store.py
  api/tests/opentrons/protocol_engine/state/test_state_store.py
  api/tests/opentrons/protocol_engine/test_protocol_engine.py
  robot-server/tests/sessions/router/test_actions_router.py
Labels: cpx, protocol-engine

#8181 fix(protocol-designer): fix whitescreen when adding additional temp steps
  protocol-designer/src/components/StepEditForm/FormAlerts.ts
  protocol-designer/src/step-forms/selectors/index.ts
Labels: fix, protocol designer
