Repository Opentrons/opentrons, pull requests merged in 2021-09, with the labels that each got.

#8258 refactor(robot-server): add experimental engine-based protocol analysis
  api/src/opentrons/protocol_engine/__init__.py
  api/src/opentrons/protocol_runner/__init__.py
  api/src/opentrons/protocol_runner/create_simulating_runner.py
  api/src/opentrons/protocol_runner/json_file_reader.py
  api/src/opentrons/protocol_runner/protocol_file.py
  api/src/opentrons/protocol_runner/protocol_runner.py
  api/src/opentrons/protocol_runner/python_file_reader.py
  api/tests/opentrons/protocol_runner/test_json_file_reader.py
  api/tests/opentrons/protocol_runner/test_protocol_runner.py
  api/tests/opentrons/protocol_runner/test_protocol_runner_smoke.py
  api/tests/opentrons/protocol_runner/test_python_file_reader.py
  robot-server/robot_server/protocols/analysis_models.py
  robot-server/robot_server/protocols/analysis_store.py
  robot-server/robot_server/protocols/dependencies.py
  robot-server/robot_server/protocols/protocol_analyzer.py
  robot-server/robot_server/protocols/protocol_models.py
  robot-server/robot_server/protocols/protocol_store.py
  robot-server/robot_server/protocols/response_builder.py
  robot-server/robot_server/protocols/router.py
  robot-server/robot_server/service/task_runner.py
  robot-server/robot_server/sessions/router/base_router.py
  robot-server/tests/protocols/conftest.py
  robot-server/tests/protocols/test_analysis_store.py
  robot-server/tests/protocols/test_protocol_analyzer.py
  robot-server/tests/protocols/test_protocols_router.py
  robot-server/tests/protocols/test_response_builder.py
  robot-server/tests/sessions/router/test_base_router.py
Labels: cpx

#8268 refactor(protocol-engine): add EngineStatus to Session responses
  api/src/opentrons/protocol_engine/__init__.py
  api/src/opentrons/protocol_engine/state/commands.py
  api/src/opentrons/protocol_engine/types.py
  api/tests/opentrons/protocol_engine/state/test_command_view.py
  robot-server/robot_server/sessions/router/base_router.py
  robot-server/robot_server/sessions/session_models.py
  robot-server/robot_server/sessions/session_view.py
  robot-server/tests/sessions/router/test_base_router.py
  robot-server/tests/sessions/router/test_commands_router.py
  robot-server/tests/sessions/test_session_view.py
Labels: cpx

#8285 docs(docker): update the docker readme to make the network settings a setup sttep.
  DOCKER.md
Labels: docs

#8289 style(robot-server): make moves towards strict mode mypy typechecking
  robot-server/mypy.ini
  robot-server/robot_server/robot/calibration/helper_classes.py
  robot-server/robot_server/robot/calibration/pipette_offset/user_flow.py
  robot-server/robot_server/service/labware/router.py
  robot-server/robot_server/service/legacy/routers/control.py
  robot-server/robot_server/service/legacy/routers/modules.py
  robot-server/robot_server/service/legacy/routers/motors.py
  robot-server/robot_server/service/legacy/routers/pipettes.py
  robot-server/robot_server/service/legacy/routers/settings.py
  robot-server/tests/sessions/router/test_commands_router.py
Labels: cpx

#8257 feat(app): usb connection and moam modal functionality in module setup
  app/src/assets/localization/en/protocol_setup.json
  app/src/organisms/ProtocolSetup/RunSetupCard/ModuleSetup/ModuleInfo.tsx
  app/src/organisms/ProtocolSetup/RunSetupCard/ModuleSetup/__tests__/ModuleInfo.test.tsx
  app/src/organisms/ProtocolSetup/RunSetupCard/ModuleSetup/__tests__/ModuleSetup.test.tsx
  app/src/organisms/ProtocolSetup/RunSetupCard/ModuleSetup/__tests__/MultipleModuleModal.test.tsx
  app/src/organisms/ProtocolSetup/RunSetupCard/ModuleSetup/index.tsx
  app/src/organisms/ProtocolSetup/RunSetupCard/index.tsx
  app/src/organisms/ProtocolSetup/__tests__/RunSetupCard.test.tsx
Labels: app

#8297 docs(api): Fix destintation [destination] typo
  api/src/opentrons/protocol_api/instrument_context.py
Labels: docs, papi v2, cpx

#7972 refactor(labware-creator): use more const types
  labware-library/src/labware-creator/fields.ts
Labels: labware creator

#8306 fix(labware-creator): fix readonly option type error
  labware-library/src/labware-creator/fields.ts
Labels: fix, labware creator

#8278 refactor(robot_server,api): do not use ThreadManager with ProtocolEngine
  api/src/opentrons/__init__.py
  api/src/opentrons/hardware_control/api.py
  robot-server/robot_server/app.py
  robot-server/robot_server/app_state.py
  robot-server/robot_server/hardware.py
  robot-server/robot_server/hardware_wrapper.py
  robot-server/robot_server/health/router.py
  robot-server/robot_server/protocols/dependencies.py
  robot-server/robot_server/service/__init__.py
  robot-server/robot_server/service/dependencies.py
  robot-server/robot_server/service/legacy/routers/rpc.py
  robot-server/robot_server/service/legacy/rpc/__init__.py
  robot-server/robot_server/service/legacy/rpc/dependencies.py
  robot-server/robot_server/sessions/dependencies.py
  robot-server/robot_server/settings.py
  robot-server/tests/service/legacy/rpc/test_server.py
  robot-server/tests/test_hardware_wrapper.py
Labels: refactor, cpx

#7753 build: refactor Makefile invocations to support parallel make (-j)
  Makefile
  update-server/Makefile
Labels: cpx

#8319 refactor(protocol-engine): add public LoadedLabware/LoadedPipette models
  api/src/opentrons/protocol_api_experimental/labware.py
  api/src/opentrons/protocol_engine/__init__.py
  api/src/opentrons/protocol_engine/commands/load_labware.py
  api/src/opentrons/protocol_engine/execution/__init__.py
  api/src/opentrons/protocol_engine/execution/equipment.py
  api/src/opentrons/protocol_engine/execution/movement.py
  api/src/opentrons/protocol_engine/execution/pipetting.py
  api/src/opentrons/protocol_engine/state/__init__.py
  api/src/opentrons/protocol_engine/state/geometry.py
  api/src/opentrons/protocol_engine/state/labware.py
  api/src/opentrons/protocol_engine/state/motion.py
  api/src/opentrons/protocol_engine/state/pipettes.py
  api/src/opentrons/protocol_engine/types.py
  api/tests/opentrons/protocol_api_experimental/test_labware.py
  api/tests/opentrons/protocol_api_experimental/test_protocol_context.py
  api/tests/opentrons/protocol_engine/clients/test_sync_client.py
  api/tests/opentrons/protocol_engine/commands/test_load_labware.py
  api/tests/opentrons/protocol_engine/commands/test_load_pipette.py
  api/tests/opentrons/protocol_engine/execution/test_equipment_handler.py
  api/tests/opentrons/protocol_engine/execution/test_movement_handler.py
  api/tests/opentrons/protocol_engine/execution/test_pipetting_handler.py
  api/tests/opentrons/protocol_engine/state/command_fixtures.py
  api/tests/opentrons/protocol_engine/state/test_geometry_view.py
  api/tests/opentrons/protocol_engine/state/test_labware_store.py
  api/tests/opentrons/protocol_engine/state/test_labware_view.py
  api/tests/opentrons/protocol_engine/state/test_motion_view.py
  api/tests/opentrons/protocol_engine/state/test_pipette_store.py
  api/tests/opentrons/protocol_engine/state/test_pipette_view.py
  api/tests/opentrons/protocol_engine/test_create_protocol_engine.py
  api/tests/opentrons/protocol_runner/test_protocol_runner_smoke.py
  api/tests/opentrons/protocol_runner/test_python_context_creator.py
  robot-server/tests/protocols/test_analysis_store.py
Labels: cpx

#8321 feat(api): opentrons_simulate gets duration estimation
  api/src/opentrons/protocols/duration/__init__.py
  api/src/opentrons/protocols/duration/errors.py
  api/src/opentrons/protocols/duration/estimator.py
  api/src/opentrons/simulate.py
  api/tests/opentrons/protocols/duration/__init__.py
  api/tests/opentrons/protocols/duration/test_estimator.py
Labels: api

#8323 fix(api): ensure decorators do not erase ProtocolContext types
  api/mypy.ini
  api/src/opentrons/calibration_storage/modify.py
  api/src/opentrons/commands/introspection.py
  api/src/opentrons/commands/publisher.py
  api/src/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/src/opentrons/hardware_control/api.py
  api/src/opentrons/hardware_control/controller.py
  api/src/opentrons/hardware_control/execution_manager.py
  api/src/opentrons/hardware_control/modules/magdeck.py
  api/src/opentrons/hardware_control/modules/tempdeck.py
  api/src/opentrons/protocol_api/instrument_context.py
  api/src/opentrons/protocol_api/labware.py
  api/src/opentrons/protocol_api/module_contexts.py
  api/src/opentrons/protocol_api/paired_instrument_context.py
  api/src/opentrons/protocol_api/protocol_context.py
  api/src/opentrons/protocols/api_support/instrument.py
  api/src/opentrons/protocols/api_support/util.py
  api/src/opentrons/protocols/context/protocol.py
  api/src/opentrons/protocols/context/protocol_api/protocol_context.py
  api/src/opentrons/protocols/execution/execute_json_v3.py
  api/src/opentrons/protocols/execution/execute_json_v4.py
  api/src/opentrons/protocols/execution/execute_json_v5.py
  api/src/opentrons/protocols/geometry/deck_item.py
  api/src/opentrons/types.py
  api/src/opentrons/util/linal.py
  api/tests/opentrons/broker/test_broker.py
  api/tests/opentrons/protocol_engine/state/test_geometry_view.py
  api/tests/opentrons/protocols/execution/test_execute_json_v5.py
  robot-server/mypy.ini
  robot-server/robot_server/robot/calibration/check/user_flow.py
  robot-server/robot_server/robot/calibration/helper_classes.py
  robot-server/robot_server/robot/calibration/pipette_offset/user_flow.py
  robot-server/robot_server/robot/calibration/tip_length/user_flow.py
  robot-server/robot_server/robot/calibration/util.py
  robot-server/robot_server/service/protocol/analyze.py
  robot-server/robot_server/util.py
Labels: bug, fix, cpx

#8328 docs(api): Remove readme reference to obsolete CLI calibration tool
  api/README.rst
Labels: api, docs, cpx

#8320 refactor(robot-server): pull sessions/analysis equipment from engine
  api/src/opentrons/protocol_runner/__init__.py
  api/src/opentrons/protocol_runner/protocol_runner.py
  api/src/opentrons/protocol_runner/python_executor.py
  api/tests/opentrons/protocol_runner/test_protocol_runner_smoke.py
  robot-server/robot_server/protocols/analysis_models.py
  robot-server/robot_server/protocols/analysis_store.py
  robot-server/robot_server/protocols/protocol_analyzer.py
  robot-server/robot_server/sessions/router/base_router.py
  robot-server/robot_server/sessions/session_models.py
  robot-server/robot_server/sessions/session_view.py
  robot-server/tests/protocols/test_analysis_store.py
  robot-server/tests/protocols/test_protocol_analyzer.py
  robot-server/tests/sessions/router/test_base_router.py
  robot-server/tests/sessions/router/test_commands_router.py
  robot-server/tests/sessions/test_session_view.py
Labels: cpx

#8335 refactor(api): fix/suppress type errors to enable strict mode
  api/Makefile
  api/Pipfile
  api/Pipfile.lock
  api/mypy.ini
  api/src/opentrons/algorithms/types.py
  api/src/opentrons/api/calibration.py
  api/src/opentrons/api/models.py
  api/src/opentrons/commands/publisher.py
  api/src/opentrons/config/pipette_config.py
  api/src/opentrons/drivers/temp_deck/driver.py
  api/src/opentrons/drivers/temp_deck/simulator.py
  api/src/opentrons/hardware_control/__init__.py
  api/src/opentrons/hardware_control/api.py
  api/src/opentrons/hardware_control/modules/tempdeck.py
  api/src/opentrons/hardware_control/pipette.py
  api/src/opentrons/protocol_api/protocol_context.py
  api/src/opentrons/protocol_api_experimental/pipette_context.py
  api/src/opentrons/protocol_engine/execution/queue_worker.py
  api/src/opentrons/protocol_engine/resources/deck_data_provider.py
  api/src/opentrons/protocol_runner/json_command_translator.py
  api/src/opentrons/protocol_runner/python_file_reader.py
  api/src/opentrons/protocol_runner/task_queue.py
  api/src/opentrons/protocols/context/protocol.py
  api/src/opentrons/protocols/context/simulator/instrument_context.py
  api/src/opentrons/protocols/duration/estimator.py
  api/src/opentrons/protocols/geometry/deck.py
  api/src/opentrons/protocols/geometry/module_geometry.py
  api/src/opentrons/util/entrypoint_util.py
  api/tests/opentrons/algorithms/__init__.py
  api/tests/opentrons/algorithms/test_dfs.py
  api/tests/opentrons/api/__init__.py
  api/tests/opentrons/api/test_calibration.py
  api/tests/opentrons/api/test_session.py
  api/tests/opentrons/calibration_storage/__init__.py
  api/tests/opentrons/config/test_advanced_settings.py
  api/tests/opentrons/config/test_advanced_settings_migration.py
  api/tests/opentrons/config/test_pipette_config.py
  api/tests/opentrons/config/test_robots_config.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/drivers/asyncio/communication/test_async_serial.py
  api/tests/opentrons/drivers/asyncio/communication/test_serial_connection.py
  api/tests/opentrons/drivers/rpi_drivers/test_usb.py
  api/tests/opentrons/drivers/smoothie_drivers/test_driver.py
  api/tests/opentrons/drivers/smoothie_drivers/test_parse_utils.py
  api/tests/opentrons/drivers/temp_deck/test_driver.py
  api/tests/opentrons/protocol_engine/commands/test_command_mapper.py
  api/tests/opentrons/protocol_engine/state/test_motion_view.py
  api/tests/opentrons/protocol_engine/state/test_pipette_view.py
  api/tests/opentrons/protocol_runner/test_json_command_translator.py
  api/tests/opentrons/system/__init__.py
  api/tests/opentrons/system/test_nmcli.py
  api/tests/opentrons/system/test_wifi.py
  api/tests/opentrons/test_execute.py
  api/tests/opentrons/test_simulate.py
  api/tests/opentrons/test_types.py
  api/tests/opentrons/tools/test_pipette_memory.py
  api/tests/opentrons/util/test_linal.py
  robot-server/Pipfile
  robot-server/Pipfile.lock
  robot-server/mypy.ini
Labels: chore, cpx, Robot Tech Debt, python

#8347 chore(release): 4.6.0-alpha.0
  CHANGELOG.md
  api/release-notes.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/build/release-notes.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  notify-server/notify_server/CHANGELOG.md
  notify-server/notify_server/package.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  robot-server/robot_server/CHANGELOG.md
  robot-server/robot_server/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  step-generation/CHANGELOG.md
  step-generation/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore

#8226 chore: upgrade to Electron 13 and Node 14
  .github/workflows/api-test-lint-deploy.yaml
  .github/workflows/app-test-build-deploy.yaml
  .github/workflows/components-test-build-deploy.yaml
  .github/workflows/docs-build.yaml
  .github/workflows/g-code-confirm-2-modules.yaml
  .github/workflows/g-code-confirm-2-single-channel-pipettes-v2.yaml
  .github/workflows/g-code-confirm-basic-smoothie.yaml
  .github/workflows/g-code-confirm-swift-smoke.yaml
  .github/workflows/g-code-confirm-swift-turbo.yaml
  .github/workflows/js-check.yaml
  .github/workflows/labware-library-e2e-test.yaml
  .github/workflows/ll-test-build-deploy.yaml
  .github/workflows/notify-server-lint-test.yaml
  .github/workflows/pd-test-build-deploy.yaml
  .github/workflows/robot-server-lint-test.yaml
  .github/workflows/shared-data-test-lint-deploy.yaml
  .github/workflows/step-generation-test.yaml
  .github/workflows/update-server-lint-test.yaml
  .nvmrc
  CONTRIBUTING.md
  __mocks__/electron.js
  app-shell/electron-builder.config.js
  app-shell/package.json
  app-shell/src/config/index.ts
  app-shell/src/labware/__tests__/definitions.test.ts
  app-shell/src/labware/__tests__/dispatch.test.ts
  app-shell/src/labware/definitions.ts
  app-shell/src/labware/index.ts
  app-shell/src/menu.ts
  app-shell/src/ui.ts
  package.json
  yarn.lock
Labels: chore

#8345 feat(api,robot-server): upgrade fastapi and pydantic deps
  api/Pipfile
  api/Pipfile.lock
  api/setup.py
  api/src/opentrons/protocol_api_experimental/pipette_context.py
  api/src/opentrons/protocol_engine/__init__.py
  api/src/opentrons/protocol_engine/execution/pipetting.py
  api/src/opentrons/protocol_engine/state/geometry.py
  api/src/opentrons/protocol_engine/types.py
  api/src/opentrons/protocol_runner/json_command_translator.py
  api/tests/opentrons/protocol_api_experimental/test_pipette_context.py
  api/tests/opentrons/protocol_engine/clients/test_sync_client.py
  api/tests/opentrons/protocol_engine/commands/test_aspirate.py
  api/tests/opentrons/protocol_engine/commands/test_dispense.py
  api/tests/opentrons/protocol_engine/execution/test_movement_handler.py
  api/tests/opentrons/protocol_engine/execution/test_pipetting_handler.py
  api/tests/opentrons/protocol_engine/state/test_geometry_view.py
  api/tests/opentrons/protocol_engine/state/test_motion_view.py
  api/tests/opentrons/protocol_runner/test_json_command_translator.py
  g-code-testing/Pipfile
  g-code-testing/Pipfile.lock
  notify-server/Pipfile
  notify-server/Pipfile.lock
  notify-server/setup.py
  robot-server/Pipfile
  robot-server/Pipfile.lock
  robot-server/robot_server/errors/exception_handlers.py
  robot-server/robot_server/robot/calibration/check/models.py
  robot-server/robot_server/robot/calibration/check/user_flow.py
  robot-server/robot_server/service/labware/models.py
  robot-server/robot_server/service/labware/router.py
  robot-server/robot_server/service/legacy/models/deck_calibration.py
  robot-server/robot_server/service/legacy/models/motors.py
  robot-server/robot_server/service/legacy/models/settings.py
  robot-server/robot_server/service/legacy/routers/motors.py
  robot-server/robot_server/service/session/models/command.py
  robot-server/robot_server/service/session/models/common.py
  robot-server/setup.py
  robot-server/tests/conftest.py
  robot-server/tests/errors/test_exception_handlers.py
  robot-server/tests/integration/test_settings_log_level.tavern.yaml
  robot-server/tests/protocols/test_protocols_router.py
  robot-server/tests/sessions/router/test_commands_router.py
Labels: chore, cpx, python

#8301 feat(app): add labware setup CTA functionality
  app/src/assets/localization/en/protocol_setup.json
  app/src/organisms/ProtocolSetup/RunSetupCard/LabwareSetup/__tests__/LabwareSetup.test.tsx
  app/src/organisms/ProtocolSetup/RunSetupCard/LabwareSetup/index.tsx
  app/src/organisms/ProtocolSetup/RunSetupCard/ModuleSetup/__tests__/ModuleSetup.test.tsx
  app/src/organisms/ProtocolSetup/RunSetupCard/ModuleSetup/index.tsx
  app/src/organisms/ProtocolSetup/RunSetupCard/ProceedToRunCta.tsx
  app/src/organisms/ProtocolSetup/RunSetupCard/__tests__/ProceedToRunCta.test.tsx
  app/src/organisms/ProtocolSetup/RunSetupCard/__tests__/hooks.test.tsx
  app/src/organisms/ProtocolSetup/RunSetupCard/hooks.ts
  app/src/organisms/ProtocolSetup/RunSetupCard/index.tsx
  app/src/organisms/ProtocolSetup/__tests__/RunSetupCard.test.tsx
  app/src/organisms/ProtocolSetup/__tests__/getModuleRenderInfo.test.ts
  app/src/organisms/ProtocolSetup/hooks.ts
  app/src/organisms/ProtocolSetup/utils/getModuleRenderInfo.ts
Labels: app

#8354 build: fix warnings and errors in top-level setup and teardown targets
  .github/actions/python/setup/action.yaml
  hardware/Makefile
  package.json
  yarn.lock
Labels: chore, cpx

#8362 fix(robot-server): ensure background tasks do not affect requests
  api/src/opentrons/calibration_storage/delete.py
  api/src/opentrons/config/__init__.py
  api/src/opentrons/hardware_control/threaded_async_lock.py
  api/src/opentrons/protocols/geometry/deck.py
  robot-server/.flake8
  robot-server/mypy.ini
  robot-server/robot_server/app.py
  robot-server/robot_server/constants.py
  robot-server/robot_server/errors/exception_handlers.py
  robot-server/robot_server/router.py
  robot-server/robot_server/service/dependencies.py
  robot-server/robot_server/service/legacy/models/settings.py
  robot-server/robot_server/service/legacy/routers/__init__.py
  robot-server/robot_server/service/legacy/routers/logs.py
  robot-server/robot_server/service/protocol/manager.py
  robot-server/robot_server/versioning.py
  robot-server/tests/conftest.py
  robot-server/tests/integration/test_version_headers.tavern.yaml
  robot-server/tests/test_app.py
  robot-server/tests/test_versioning.py
Labels: fix, cpx

#8339 refactor(protocol-runner): add rudimentary support for legacy execution
  api/src/opentrons/protocol_runner/__init__.py
  api/src/opentrons/protocol_runner/create_simulating_runner.py
  api/src/opentrons/protocol_runner/json_file_reader.py
  api/src/opentrons/protocol_runner/legacy_wrappers.py
  api/src/opentrons/protocol_runner/pre_analysis.py
  api/src/opentrons/protocol_runner/protocol_file.py
  api/src/opentrons/protocol_runner/protocol_runner.py
  api/src/opentrons/protocol_runner/protocol_source.py
  api/src/opentrons/protocol_runner/python_file_reader.py
  api/src/opentrons/protocols/parse.py
  api/tests/opentrons/protocol_runner/conftest.py
  api/tests/opentrons/protocol_runner/test_json_file_reader.py
  api/tests/opentrons/protocol_runner/test_pre_analysis.py
  api/tests/opentrons/protocol_runner/test_protocol_runner.py
  api/tests/opentrons/protocol_runner/test_protocol_runner_smoke.py
  api/tests/opentrons/protocol_runner/test_python_file_reader.py
  robot-server/robot_server/protocols/__init__.py
  robot-server/robot_server/protocols/protocol_models.py
  robot-server/robot_server/protocols/protocol_store.py
  robot-server/robot_server/protocols/response_builder.py
  robot-server/robot_server/protocols/router.py
  robot-server/robot_server/sessions/engine_store.py
  robot-server/tests/protocols/test_protocol_analyzer.py
  robot-server/tests/protocols/test_protocol_store.py
  robot-server/tests/protocols/test_protocols_router.py
  robot-server/tests/protocols/test_response_builder.py
  robot-server/tests/sessions/router/test_base_router.py
Labels: cpx, protocol-engine

#8386 refactor(robot-server): Rename `app` module to `app_setup`
  robot-server/robot_server/__init__.py
  robot-server/robot_server/app_setup.py
  robot-server/tests/conftest.py
Labels: refactor, cpx, robot server, python

#8389 refactor(protocol-engine): create `ActionDispatcher` action pipeline
  api/src/opentrons/protocol_engine/actions/__init__.py
  api/src/opentrons/protocol_engine/actions/action_dispatcher.py
  api/src/opentrons/protocol_engine/actions/action_handler.py
  api/src/opentrons/protocol_engine/actions/actions.py
  api/src/opentrons/protocol_engine/create_protocol_engine.py
  api/src/opentrons/protocol_engine/execution/command_executor.py
  api/src/opentrons/protocol_engine/execution/create_queue_worker.py
  api/src/opentrons/protocol_engine/execution/run_control.py
  api/src/opentrons/protocol_engine/protocol_engine.py
  api/src/opentrons/protocol_engine/state/__init__.py
  api/src/opentrons/protocol_engine/state/abstract_store.py
  api/src/opentrons/protocol_engine/state/commands.py
  api/src/opentrons/protocol_engine/state/create_state_store.py
  api/src/opentrons/protocol_engine/state/labware.py
  api/src/opentrons/protocol_engine/state/pipettes.py
  api/src/opentrons/protocol_engine/state/state.py
  api/tests/opentrons/protocol_engine/actions/test_action_dispatcher.py
  api/tests/opentrons/protocol_engine/execution/test_command_executor.py
  api/tests/opentrons/protocol_engine/execution/test_run_control_handler.py
  api/tests/opentrons/protocol_engine/state/test_command_store.py
  api/tests/opentrons/protocol_engine/state/test_command_view.py
  api/tests/opentrons/protocol_engine/state/test_labware_store.py
  api/tests/opentrons/protocol_engine/state/test_pipette_store.py
  api/tests/opentrons/protocol_engine/state/test_state_store.py
  api/tests/opentrons/protocol_engine/test_protocol_engine.py
Labels: cpx, protocol-engine

#8350 feat(can): generate can constants header file
  hardware/opentrons_hardware/drivers/can_bus/__init__.py
  hardware/opentrons_hardware/drivers/can_bus/arbitration_id.py
  hardware/opentrons_hardware/drivers/can_bus/constants.py
  hardware/opentrons_hardware/scripts/generate_header.py
  hardware/opentrons_hardware/scripts/identify.py
  hardware/setup.py
Labels: RFC

#8395 refactor(robot-server): Test command routes as regular Python functions
  robot-server/tests/sessions/router/test_commands_router.py
Labels: refactor, cpx, robot server, protocol-engine, python

#8392 refactor(protocol-engine): add plugin for play/pause support of PAPIv2
  api/src/opentrons/protocol_engine/__init__.py
  api/src/opentrons/protocol_engine/actions/__init__.py
  api/src/opentrons/protocol_engine/actions/action_dispatcher.py
  api/src/opentrons/protocol_engine/plugins.py
  api/src/opentrons/protocol_engine/protocol_engine.py
  api/src/opentrons/protocol_runner/legacy_context_plugin.py
  api/src/opentrons/protocol_runner/protocol_runner.py
  api/tests/opentrons/protocol_engine/actions/test_action_dispatcher.py
  api/tests/opentrons/protocol_engine/test_plugins.py
  api/tests/opentrons/protocol_engine/test_protocol_engine.py
  api/tests/opentrons/protocol_runner/test_legacy_context_plugin.py
  api/tests/opentrons/protocol_runner/test_protocol_runner.py
Labels: cpx, protocol-engine

#8398 refactor(api): Fix forgotten `await`s in `smoothie` fixture
  api/tests/opentrons/conftest.py
Labels: api, refactor, python

#8406 chore: Remove mentions of obsolete Balena Makefile targets
  CONTRIBUTING.md
  Makefile
Labels: chore

#8408 chore(release): 4.6.0
  CHANGELOG.md
  api/release-notes.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  notify-server/notify_server/CHANGELOG.md
  notify-server/notify_server/package.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  robot-server/robot_server/CHANGELOG.md
  robot-server/robot_server/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  step-generation/CHANGELOG.md
  step-generation/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore

#8405 refactor(protocol-engine): ensure engine stays active for `basic` session
  api/src/opentrons/protocol_engine/state/commands.py
  api/src/opentrons/protocol_runner/protocol_runner.py
  api/tests/opentrons/protocol_engine/state/test_command_view.py
  api/tests/opentrons/protocol_runner/test_protocol_runner.py
  robot-server/robot_server/sessions/router/base_router.py
  robot-server/tests/sessions/router/test_base_router.py
Labels: cpx, protocol-engine

#8418 fix(api): loosen numpy spec in setup.py
  api/setup.py
Labels: api, fix

#8413 refactor(app): add scaffolding for non-rpc run detail page behind feature flag
  app/src/assets/localization/en/index.ts
  app/src/assets/localization/en/run_details.json
  app/src/organisms/RunDetails/hooks.ts
  app/src/organisms/RunDetails/index.tsx
  app/src/organisms/RunTimeControl/hooks.ts
  app/src/organisms/RunTimeControl/index.tsx
  app/src/pages/Run/RunPanel/__tests__/RunPanel.test.tsx
  app/src/pages/Run/RunPanel/index.tsx
  app/src/pages/Run/__tests__/Run.test.tsx
  app/src/pages/Run/index.tsx
Labels: app

#8437 fix(api): 4.6.x set max speed fails
  api/src/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/src/opentrons/hardware_control/controller.py
  api/tests/opentrons/drivers/smoothie_drivers/test_driver.py
  api/tests/opentrons/hardware_control/test_moves.py
Labels: api, fix

#8402 refactor(protocol-engine): map broker commands to engine commands
  api/src/opentrons/protocol_engine/commands/__init__.py
  api/src/opentrons/protocol_engine/commands/command_unions.py
  api/src/opentrons/protocol_engine/commands/custom.py
  api/src/opentrons/protocol_runner/legacy_command_mapper.py
  api/src/opentrons/protocol_runner/legacy_context_plugin.py
  api/src/opentrons/protocol_runner/legacy_wrappers.py
  api/tests/opentrons/protocol_runner/test_legacy_command_mapper.py
  api/tests/opentrons/protocol_runner/test_legacy_context_plugin.py
  api/tests/opentrons/protocol_runner/test_protocol_runner_smoke.py
  robot-server/robot_server/sessions/router/commands_router.py
  robot-server/robot_server/sessions/schema_models.py
Labels: cpx, protocol-engine
