Repository Opentrons/opentrons, pull requests merged in 2021-02, with the labels that each got.

#7276 build: bump mypy to 0.800 and fix resulting issues
  Makefile
  api/Pipfile
  api/Pipfile.lock
  api/src/opentrons/system/log_control.py
  notify-server/Pipfile
  notify-server/Pipfile.lock
  notify-server/tests/unit/test_logging.py
  notify-server/tests/unit/test_settings.py
  robot-server/Pipfile
  robot-server/Pipfile.lock
  shared-data/python/Pipfile
  shared-data/python/Pipfile.lock
  update-server/Pipfile
Labels: api, robot server, shared data

#7278 fix(app): ensure cal block prompt appears in pre protocol tlc
  app/src/pages/Calibrate/CalibrateTipLengthControl.js
Labels: fix, hmg, ready for review

#7279 refactor(app): split Pipettes and Modules tab into two subpages
  app/src/assets/localization/en/top_navigation.json
  app/src/components/ConnectPanel/RobotListItem.js
  app/src/components/ConnectPanel/__tests__/RobotListItem.test.js
  app/src/components/FileInfo/ProtocolModulesCard.js
  app/src/components/InstrumentSettings/index.js
  app/src/components/ModuleSettings/AttachedModulesCard.js
  app/src/components/ModuleSettings/index.js
  app/src/pages/Robots/ModuleSettings.js
  app/src/pages/Robots/index.js
Labels: app, refactor

#7280 feat(components): Add isIndeterminate options prop to InputField
  components/src/forms/InputField.js
  components/src/forms/InputField.md
  components/src/forms/__tests__/InputField.test.js
Labels: :spider: SPDDRS, components, ready for review

#7282 feat(components): Add isIndeterminate prop to DropdownField
  components/src/forms/DropdownField.js
  components/src/forms/DropdownField.md
  components/src/forms/__tests__/DropdownField.test.js
Labels: :spider: SPDDRS, components, ready for review

#7293 feat(protocol-designer): Update Multiselect UI based off feedback
  components/src/styles/borders.js
  protocol-designer/src/components/StepSelectionBanner/StepSelectionBannerComponent.js
  protocol-designer/src/components/lists/TitledStepList.js
  protocol-designer/src/components/lists/styles.css
  protocol-designer/src/components/steplist/MultiSelectToolbar/index.js
  protocol-designer/src/components/steplist/StepItem.js
  protocol-designer/src/containers/ConnectedStepItem.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#7297 refactor(protocol-designer): use FieldProps interface instead of FieldConnector wrapper
  components/src/forms/CheckboxField.js
  protocol-designer/docs/STEP_FORMS_AND_PROTOCOL_TIMELINE.md
  protocol-designer/fixtures/protocol/5/mix_5_2_0.json
  protocol-designer/fixtures/protocol/5/preFlexGrandfatheredProtocolMigratedFromV1_0_0.json
  protocol-designer/src/components/FileSidebar/utils/__tests__/getUnusedEntities.test.js
  protocol-designer/src/components/StepCreationButton.js
  protocol-designer/src/components/StepEditForm/StepEditFormComponent.js
  protocol-designer/src/components/StepEditForm/fields/BlowoutLocationField.js
  protocol-designer/src/components/StepEditForm/fields/CheckboxRowField.js
  protocol-designer/src/components/StepEditForm/fields/DelayFields.js
  protocol-designer/src/components/StepEditForm/fields/DisposalVolumeField.js
  protocol-designer/src/components/StepEditForm/fields/LabwareField.js
  protocol-designer/src/components/StepEditForm/fields/PathField/Path.js
  protocol-designer/src/components/StepEditForm/fields/PathField/index.js
  protocol-designer/src/components/StepEditForm/fields/PipetteField.js
  protocol-designer/src/components/StepEditForm/fields/ProfileItemRows.js
  protocol-designer/src/components/StepEditForm/fields/RadioGroupField.js
  protocol-designer/src/components/StepEditForm/fields/StepFormDropdownField.js
  protocol-designer/src/components/StepEditForm/fields/TextField.js
  protocol-designer/src/components/StepEditForm/fields/VolumeField.js
  protocol-designer/src/components/StepEditForm/fields/WellSelectionField/WellSelectionInput.js
  protocol-designer/src/components/StepEditForm/fields/WellSelectionField/index.js
  protocol-designer/src/components/StepEditForm/fields/__tests__/DelayFields.test.js
  protocol-designer/src/components/StepEditForm/fields/__tests__/makeSingleEditFieldProps.test.js
  protocol-designer/src/components/StepEditForm/fields/makeSingleEditFieldProps.js
  protocol-designer/src/components/StepEditForm/forms/MagnetForm.js
  protocol-designer/src/components/StepEditForm/forms/MixForm.js
  protocol-designer/src/components/StepEditForm/forms/MoveLiquidForm/SourceDestFields.js
  protocol-designer/src/components/StepEditForm/forms/MoveLiquidForm/SourceDestHeaders.js
  protocol-designer/src/components/StepEditForm/forms/MoveLiquidForm/index.js
  protocol-designer/src/components/StepEditForm/forms/PauseForm.js
  protocol-designer/src/components/StepEditForm/forms/TemperatureForm.js
  protocol-designer/src/components/StepEditForm/forms/ThermocyclerForm/ProfileSettings.js
  protocol-designer/src/components/StepEditForm/forms/ThermocyclerForm/StateFields.js
  protocol-designer/src/components/StepEditForm/forms/ThermocyclerForm/index.js
  protocol-designer/src/components/StepEditForm/forms/__tests__/MagnetForm.test.js
  protocol-designer/src/components/StepEditForm/forms/__tests__/MixForm.test.js
  protocol-designer/src/components/StepEditForm/forms/__tests__/SourceDestFields.test.js
  protocol-designer/src/components/StepEditForm/index.js
  protocol-designer/src/components/StepEditForm/types.js
  protocol-designer/src/components/StepEditForm/utils.js
  protocol-designer/src/components/StepSelectionBanner/StepSelectionBannerComponent.js
  protocol-designer/src/components/steplist/__tests__/StepItemContents.test.js
  protocol-designer/src/form-types.js
  protocol-designer/src/step-forms/test/createPresavedStepForm.test.js
  protocol-designer/src/steplist/formLevel/errors.js
  protocol-designer/src/steplist/formLevel/getDefaultsForStepType.js
  protocol-designer/src/steplist/formLevel/getNextDefaultModuleId/__tests__/getNextDefaultTemperatureModuleId.test.js
  protocol-designer/src/steplist/formLevel/test/getDefaultsForStepType.test.js
  protocol-designer/src/ui/steps/actions/__tests__/addStep.test.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#7300 chore(api): too many file errors in unit test
  api/src/opentrons/config/__init__.py
  api/src/opentrons/config/pipette_config.py
  api/src/opentrons/protocols/api_support/util.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/system/test_wifi.py
Labels: api, cpx, fix

#7314 fix(api): fix mount critical point
  api/src/opentrons/hardware_control/api.py
  api/tests/opentrons/hardware_control/test_moves.py
  api/tests/opentrons/hardware_control/test_paired_pipettes.py
Labels: api, fix

#7120 feat(api): SimInstrumentContext.move_to calls plan_moves.
  api/src/opentrons/protocols/implementations/simulators/instrument_context.py
Labels: api, cpx, ready for review

#7312 feat(app): add modules as a side panel group to the calibrate page
  app/src/assets/localization/en/index.js
  app/src/assets/localization/en/protocol_calibration.json
  app/src/assets/localization/en/protocol_info.json
  app/src/components/CalibratePanel/CalibrationData.js
  app/src/components/CalibratePanel/LabwareGroup.js
  app/src/components/CalibratePanel/ModuleList.js
  app/src/components/CalibratePanel/PipetteList.js
  app/src/components/CalibratePanel/TipLengthCalibrationData.js
  app/src/components/CalibratePanel/__tests__/CalibrationData.test.js
  app/src/components/CalibratePanel/__tests__/LabwareGroup.test.js
  app/src/components/CalibratePanel/__tests__/ModuleList.test.js
  app/src/components/CalibratePanel/__tests__/PipetteList.test.js
  app/src/components/CalibratePanel/__tests__/TipLengthCalibrationData.test.js
  app/src/components/CalibratePanel/index.js
  app/src/components/DeckMap/index.js
  app/src/components/FileInfo/InstrumentItem.js
  app/src/components/FileInfo/ProtocolLabwareList.js
  app/src/components/FileInfo/ProtocolModulesCard.js
  app/src/components/FileInfo/ProtocolPipettesCard.js
  app/src/components/FileInfo/__tests__/ProtocolLabwareList.test.js
  app/src/components/FileInfo/index.js
  app/src/redux/modules/__tests__/selectors.test.js
  app/src/redux/modules/selectors.js
Labels: app, feature

#7308 feat(protocol-designer): Disable step creation button when in batch edit
  protocol-designer/src/components/StepCreationButton.js
  protocol-designer/src/components/__tests__/StepCreationButton.test.js
  protocol-designer/src/localization/en/tooltip.json
Labels: :spider: SPDDRS, protocol designer, ready for review

#7317 chore(api): pipette config unit tests clean up files.
  api/tests/opentrons/config/test_pipette_config.py
Labels: api, chore, cpx

#7316 fix(api, robot-server): fix a comical cascade of pipette config bugs
  api/src/opentrons/config/pipette_config.py
  api/tests/opentrons/config/test_pipette_config.py
  robot-server/robot_server/service/legacy/models/settings.py
  robot-server/tests/integration/test_settings_pipettes.tavern.yaml
  robot-server/tests/service/legacy/models/test_settings.py
  robot-server/tests/service/legacy/routers/test_settings.py
Labels: api, cpx, hmg, robot server

#7321 feat(api): fast protocol upload feature flag
  api/Pipfile
  api/Pipfile.lock
  api/src/opentrons/config/advanced_settings.py
  api/src/opentrons/config/feature_flags.py
  api/tests/opentrons/config/test_advanced_settings_migration.py
  robot-server/tests/integration/test_settings.tavern.yaml
Labels: api, cpx

#7322 feat(api): upload using fast sim if feature flag enables feature
  api/src/opentrons/api/session.py
  api/src/opentrons/protocols/implementations/simulators/instrument_context.py
  api/src/opentrons/protocols/implementations/simulators/protocol_context.py
  robot-server/robot_server/service/protocol/analyze.py
Labels: api, cpx, ready for review

#7274 build: add support for typescript to monorepo
  .eslintrc.js
  .flowconfig
  .gitignore
  Makefile
  babel.config.js
  jest.config.js
  package.json
  tsconfig-base.json
  tsconfig.json
  webpack-config/lib/base-config.js
  webpack-config/lib/rules.js
  yarn.lock
Labels: JS Tech Debt, cpx, ready for review

#7344 fix(api): Correctly restore serial timeouts in the face of exceptions
  api/src/opentrons/drivers/serial_communication.py
Labels: api, cpx, fix, ready for review

#7315 refactor(protocol-designer): prepare Flow Rate field for batch edit mode
  protocol-designer/fixtures/protocol/5/mix_5_2_0.json
  protocol-designer/fixtures/protocol/5/preFlexGrandfatheredProtocolMigratedFromV1_0_0.json
  protocol-designer/src/components/StepEditForm/fields/FlowRateField/FlowRateInput.js
  protocol-designer/src/components/StepEditForm/fields/FlowRateField/index.js
  protocol-designer/src/components/StepEditForm/forms/MixForm.js
  protocol-designer/src/components/StepEditForm/forms/MoveLiquidForm/SourceDestFields.js
  protocol-designer/src/components/StepEditForm/forms/MoveLiquidForm/index.js
  protocol-designer/src/components/StepEditForm/forms/__tests__/SourceDestFields.test.js
  protocol-designer/src/step-forms/test/createPresavedStepForm.test.js
  protocol-designer/src/steplist/formLevel/getDefaultsForStepType.js
  protocol-designer/src/steplist/formLevel/handleFormChange/test/mix.test.js
  protocol-designer/src/steplist/formLevel/test/getDefaultsForStepType.test.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#7343 refactor(protocol-designer): Update step selection banner layout
  protocol-designer/src/components/StepSelectionBanner/StepSelectionBannerComponent.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#7342 fix(app): do not resume when clicking "back" from confirm cancel modal
  app/src/components/RunLog/ConfirmCancelModal.js
  app/src/components/RunLog/__tests__/ConfirmCancelModal.test.js
  app/src/components/RunPanel/RunControls.js
  app/src/components/RunPanel/__tests__/RunControls.test.js
  app/src/pages/Run.js
Labels: app, cpx, fix, ready for review

#7351 fix(api): fix return code of set_syslog_level
  api/src/opentrons/system/log_control.py
Labels: api, fix

#7357 fix(protocol-designer): fix syntax error from automerge
  protocol-designer/src/components/StepEditForm/forms/MoveLiquidForm/SourceDestFields.js
  protocol-designer/src/components/StepEditForm/forms/MoveLiquidForm/index.js
Labels: fix, protocol designer

#7350 feat(protocol-designer): batch edit form skeleton
  protocol-designer/src/components/BatchEditForm/index.js
  protocol-designer/src/components/BatchEditForm/makeBatchEditFieldProps.js
  protocol-designer/src/components/DeckSetupManager.js
  protocol-designer/src/components/FormManager/index.js
  protocol-designer/src/components/StepSelectionBanner/StepSelectionBannerComponent.js
  protocol-designer/src/components/StepSelectionBanner/__tests__/StepSelectionBanner.test.js
  protocol-designer/src/components/StepSelectionBanner/index.js
  protocol-designer/src/containers/ConnectedMainPanel.js
  protocol-designer/src/form-types.js
  protocol-designer/src/ui/steps/selectors.js
  protocol-designer/src/ui/steps/test/selectors.test.js
Labels: :spider: SPDDRS, protocol designer

#7331 refactor(discovery-client): migrate Discovery Client source to TypeScript
  Makefile
  app/src/redux/discovery/constants.js
  babel.config.js
  discovery-client/.gitignore
  discovery-client/Makefile
  discovery-client/lib/index.flow.js
  discovery-client/package.json
  discovery-client/src/__fixtures__/health.ts
  discovery-client/src/__fixtures__/index.ts
  discovery-client/src/__fixtures__/mdns-browser-service.ts
  discovery-client/src/__tests__/discovery-client.test.ts
  discovery-client/src/__tests__/health-poller.test.ts
  discovery-client/src/__tests__/mdns-browser.test.ts
  discovery-client/src/cli.ts
  discovery-client/src/constants.ts
  discovery-client/src/discovery-client.ts
  discovery-client/src/health-poller.ts
  discovery-client/src/index.ts
  discovery-client/src/mdns-browser.ts
  discovery-client/src/store/__tests__/actions.test.ts
  discovery-client/src/store/__tests__/hostsByIpReducer.test.ts
  discovery-client/src/store/__tests__/manualAddressesReducer.test.ts
  discovery-client/src/store/__tests__/robotsByNameReducer.test.ts
  discovery-client/src/store/__tests__/selectors.test.ts
  discovery-client/src/store/actions.ts
  discovery-client/src/store/index.ts
  discovery-client/src/store/reducer.ts
  discovery-client/src/store/selectors.ts
  discovery-client/src/store/types.ts
  discovery-client/src/types.ts
  discovery-client/tsconfig.json
  discovery-client/typings/global.d.ts
  discovery-client/typings/mdns-js.d.ts
  discovery-client/webpack.config.js
  flow-typed/npm/mdns-js_v1.0.x.js
  jest.config.js
  tsconfig.json
  yarn.lock
Labels: JS Tech Debt, cpx, discovery-client, ready for review

#7367 feat(protocol-designer): Add layout styling to no editable settings
  protocol-designer/src/components/DeckSetupManager.js
  protocol-designer/src/localization/en/application.json
Labels: :spider: SPDDRS, protocol designer, ready for review

#7373 refactor(protocol-designer): refactor BlowoutLocationField to remove single-edit field deps
  protocol-designer/src/components/StepEditForm/fields/BlowoutLocationField.js
  protocol-designer/src/components/StepEditForm/forms/MixForm.js
  protocol-designer/src/components/StepEditForm/forms/MoveLiquidForm/SourceDestFields.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#7378 fix(protocol-designer): fix DropdownFormField
  protocol-designer/src/components/StepEditForm/fields/DisposalVolumeField.js
Labels: :spider: SPDDRS, fix, protocol designer, ready for review

#7371 fix(api): labware calibration can be completed when using fast simulation.
  api/src/opentrons/protocol_api/protocol_context.py
  api/tests/opentrons/protocol_api/test_context.py
Labels: api, cpx, fix

#7372 refactor(protocol-designer): refactor ChangeTipField to remove single-edit deps
  protocol-designer/src/components/StepEditForm/fields/ChangeTipField/ChangeTip.js
  protocol-designer/src/components/StepEditForm/fields/ChangeTipField/getDisabledChangeTipOptions.js
  protocol-designer/src/components/StepEditForm/fields/ChangeTipField/index.js
  protocol-designer/src/components/StepEditForm/forms/MixForm.js
  protocol-designer/src/components/StepEditForm/forms/MoveLiquidForm/index.js
Labels: :spider: SPDDRS, ready for review

#7381 docs(api): Correct references to flow rate attributes
  api/src/opentrons/protocol_api/instrument_context.py
Labels: api, cpx, docs

#7377 feat(api): create ProtocolEngineImplementation class
  api/src/opentrons/protocols/implementations/engine/__init__.py
  api/src/opentrons/protocols/implementations/engine/protocol_context.py
  api/tests/opentrons/protocols/implementation/engine/__init__.py
  api/tests/opentrons/protocols/implementation/engine/test_protocol_context.py
Labels: api, cpx, ready for review

#7368 refactor(protocol-designer): remove ConditionalOnField
  protocol-designer/src/components/StepEditForm/fields/ConditionalOnField.js
  protocol-designer/src/components/StepEditForm/fields/index.js
  protocol-designer/src/components/StepEditForm/forms/MagnetForm.js
  protocol-designer/src/components/StepEditForm/forms/PauseForm.js
  protocol-designer/src/components/StepEditForm/forms/TemperatureForm.js
  protocol-designer/src/components/StepEditForm/forms/ThermocyclerForm/StateFields.js
  protocol-designer/src/components/StepEditForm/forms/ThermocyclerForm/index.js
  protocol-designer/src/components/StepEditForm/forms/__tests__/MagnetForm.test.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#7389 feat(api): add enableProtocolEngine feature flag to opentrons.config
  api/src/opentrons/config/advanced_settings.py
  api/src/opentrons/config/feature_flags.py
  api/tests/opentrons/config/__init__.py
  api/tests/opentrons/config/test_advanced_settings_migration.py
  robot-server/tests/integration/test_settings.tavern.yaml
Labels: cpx, feature, ready for review

#7394 feat(api): Api protocol engine labware context getters
  api/src/opentrons/protocols/implementations/engine/labware_context.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/protocols/implementation/engine/test_labware_context.py
Labels: api, cpx, ready for review

#7391 feat(protocol-designer): implement makeBatchEditFieldProps and save/cancel buttons
  protocol-designer/src/components/BatchEditForm/__tests__/makeBatchEditFieldProps.test.js
  protocol-designer/src/components/BatchEditForm/index.js
  protocol-designer/src/components/BatchEditForm/makeBatchEditFieldProps.js
  protocol-designer/src/components/FormManager/index.js
  protocol-designer/src/components/StepEditForm/fields/DelayFields.js
  protocol-designer/src/components/StepEditForm/fields/RadioGroupField.js
  protocol-designer/src/components/StepEditForm/fields/TextField.js
  protocol-designer/src/components/StepEditForm/fields/VolumeField.js
  protocol-designer/src/components/StepEditForm/fields/__tests__/DelayFields.test.js
  protocol-designer/src/components/StepEditForm/fields/__tests__/makeSingleEditFieldProps.test.js
  protocol-designer/src/components/StepEditForm/fields/makeSingleEditFieldProps.js
  protocol-designer/src/components/StepEditForm/forms/MixForm.js
  protocol-designer/src/components/StepEditForm/forms/MoveLiquidForm/SourceDestFields.js
  protocol-designer/src/components/StepEditForm/types.js
  protocol-designer/src/components/StepEditForm/utils.js
  protocol-designer/src/ui/steps/selectors.js
  protocol-designer/src/ui/steps/test/selectors.test.js
Labels: :spider: SPDDRS, protocol designer, ready for review

#7393 feat(protocol-designer): make CheckboxRowField handle isIndeterminate
  protocol-designer/src/components/StepEditForm/fields/CheckboxRowField.js
Labels: :spider: SPDDRS, protocol designer
