Repository Opentrons/opentrons, pull requests merged in 2022-04, with the labels that each got.

#9826 refactor(robot-server): Store protocols in an in-memory SQL database
  api/src/opentrons/protocol_reader/protocol_source.py
  robot-server/robot_server/app_state.py
  robot-server/robot_server/db.py
  robot-server/robot_server/protocols/dependencies.py
  robot-server/robot_server/protocols/protocol_store.py
  robot-server/robot_server/protocols/router.py
  robot-server/tests/protocols/test_protocol_store.py
  robot-server/tests/protocols/test_protocols_router.py
Labels: cpx, robot server

#9862 feat(api): add ProtocolEngine-based analysis CLI
  api/Config.in
  api/setup.py
  api/src/opentrons/cli/__init__.py
  api/src/opentrons/cli/__main__.py
  api/src/opentrons/cli/analyze.py
  api/src/opentrons/protocol_engine/execution/hardware_stopper.py
  api/src/opentrons/protocol_engine/resources/labware_data_provider.py
  api/src/opentrons/protocol_reader/__init__.py
  api/src/opentrons/protocol_reader/file_reader_writer.py
  api/src/opentrons/protocol_reader/input_file.py
  api/src/opentrons/protocol_reader/protocol_reader.py
  api/src/opentrons/protocol_reader/protocol_source.py
  api/src/opentrons/protocol_reader/role_analyzer.py
  api/tests/opentrons/protocol_reader/test_config_analyzer.py
  api/tests/opentrons/protocol_reader/test_file_reader_writer.py
  api/tests/opentrons/protocol_reader/test_protocol_reader.py
  api/tests/opentrons/protocol_reader/test_role_analyzer.py
  api/tests/opentrons/protocol_runner/smoke_tests/conftest.py
  api/tests/opentrons/protocol_runner/smoke_tests/test_json_file_reader.py
  api/tests/opentrons/protocol_runner/smoke_tests/test_legacy_command_mapper.py
  api/tests/opentrons/protocol_runner/smoke_tests/test_legacy_custom_labware.py
  api/tests/opentrons/protocol_runner/smoke_tests/test_protocol_runner.py
  api/tests/opentrons/protocol_runner/smoke_tests/test_python_file_reader.py
  robot-server/robot_server/protocols/dependencies.py
  robot-server/robot_server/protocols/protocol_store.py
  robot-server/robot_server/protocols/router.py
  robot-server/tests/protocols/test_protocol_store.py
  robot-server/tests/protocols/test_protocols_router.py
  shared-data/protocol/schemas/6.json
Labels: cpx

#9871 chore(robot-server): bump to numpy in dev to v1.21.2
  robot-server/Pipfile
  robot-server/Pipfile.lock
Labels: chore, cpx

#9874 refactor(shared-data): update JSONv6 Python models for recent schema updates
  api/tests/opentrons/protocol_runner/test_json_command_translator.py
  shared-data/python/opentrons_shared_data/protocol/models/protocol_schema_v6.py
  shared-data/python/tests/protocol/test_protocol_schema_v6.py
Labels: cpx

#9892 test(robot-server): Clean up dependency overrides on fixture teardown
  robot-server/tests/conftest.py
  robot-server/tests/service/session/test_router.py
Labels: cpx, robot server

#9889 refactor(app): add collapsible sections and card functionality to devices landing page
  app/src/assets/localization/en/devices_landing.json
  app/src/atoms/Modal/index.tsx
  app/src/atoms/Slideout/index.tsx
  app/src/molecules/CollapsibleSection/__tests__/CollapsibleSection.test.tsx
  app/src/molecules/CollapsibleSection/index.tsx
  app/src/organisms/Devices/RobotCard.tsx
  app/src/organisms/Labware/AddCustomLabware.tsx
  app/src/pages/Devices/DevicesLanding/NewRobotSetupHelp.tsx
  app/src/pages/Devices/DevicesLanding/__tests__/DevicesLanding.test.tsx
  app/src/pages/Devices/DevicesLanding/__tests__/NewRobotSetupHelp.test.tsx
  app/src/pages/Devices/DevicesLanding/hooks.ts
  app/src/pages/Devices/DevicesLanding/index.tsx
Labels: app

#9864 feat(robot-server): Persist protocols across reboots in a configurable directory
  robot-server/README.rst
  robot-server/dev.env
  robot-server/emulator.env
  robot-server/emulator_ot3.env
  robot-server/opentrons-robot-server.service
  robot-server/robot_server/app_setup.py
  robot-server/robot_server/db.py
  robot-server/robot_server/protocols/dependencies.py
  robot-server/robot_server/settings.py
  robot-server/settings_schema.json
  robot-server/tests/protocols/test_protocol_store.py
Labels: cpx, robot server

#9909 refactor(robot-server): Log SQLAlchemy usage
  robot-server/robot_server/service/logging.py
Labels: cpx, robot server

#9883 docs: add recommended dev setup
  CONTRIBUTING.md
  DEV_SETUP.md
Labels: docs, cpx

#9904 chore(robot-server): Add aiosqlite==0.17.0 dependency
  robot-server/Config.in
  robot-server/Pipfile
  robot-server/Pipfile.lock
  robot-server/setup.py
Labels: cpx, robot server

#9920 test(api): strictify typechecking for some tests
  api/mypy.ini
  api/tests/opentrons/broker/test_broker.py
  api/tests/opentrons/calibration_storage/test_migration.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/data/bug_aspirate_tip.py
  api/tests/opentrons/data/mad_mag_v2.py
  api/tests/opentrons/data/python_v2_custom_lw.py
  api/tests/opentrons/data/test_simulate.py
  api/tests/opentrons/data/testosaur-gen2-v2.py
  api/tests/opentrons/data/testosaur_v2.py
  api/tests/opentrons/data/testosaur_v3.py
  api/tests/opentrons/test_init.py
  api/tests/opentrons/test_types.py
  api/tests/opentrons/util/test_entrypoint_utils.py
Labels: chore, cpx, Robot Tech Debt

#9918 docs(api): prevent redirect loop for invalid doc URLs
  api/docs/root/index.html
Labels: cpx

#9929 test(robot-server): acceptance tests for temperatureModule commands
  robot-server/tests/integration/http_api/commands/test_temp_commands.tavern.yaml
Labels: cpx

#9919 test(robot-server): setup and test for protocol persistence
  robot-server/tests/integration/dev_server.py
  robot-server/tests/integration/http_api/persistence/test_protocol_persistence.py
  robot-server/tests/integration/protocol_files.py
  robot-server/tests/integration/protocols/simple.json
  robot-server/tests/integration/protocols/simple.py
  robot-server/tests/integration/robot_client.py
Labels: cpx

#9899 docs: reframe Python API index page as Welcome
  api/docs/templates/v2/layout.html
  api/docs/v2/index.rst
  api/docs/v2/versioning.rst
  api/docs/v2/writing.rst
Labels: cpx

#9759 feat(heater-shaker): update module definition
  shared-data/module/definitions/3/heaterShakerModuleV1.json
Labels: heater-shaker

#9938 refactor(api): Allow setting `ProtocolSource.directory` when reading from FS
  api/src/opentrons/cli/analyze.py
  api/src/opentrons/protocol_reader/protocol_reader.py
  api/src/opentrons/protocol_reader/protocol_source.py
  api/tests/opentrons/protocol_reader/test_protocol_reader.py
  api/tests/opentrons/protocol_runner/smoke_tests/test_legacy_command_mapper.py
  api/tests/opentrons/protocol_runner/smoke_tests/test_legacy_custom_labware.py
  api/tests/opentrons/protocol_runner/smoke_tests/test_protocol_runner.py
  api/tests/opentrons/protocol_runner/smoke_tests/test_python_file_reader.py
  robot-server/robot_server/protocols/router.py
  robot-server/tests/protocols/test_protocols_router.py
Labels: api, cpx

#9908 ci(js): gate expensive e2e matrices and builds on unit test pass
  .github/workflows/app-test-build-deploy.yaml
  .github/workflows/components-test-build-deploy.yaml
  .github/workflows/labware-library-e2e-test.yaml
  .github/workflows/ll-test-build-deploy.yaml
  .github/workflows/pd-test-build-deploy.yaml
Labels: chore

#9959 fix(api): invalid state in poller
  api/src/opentrons/hardware_control/poller.py
  api/tests/opentrons/hardware_control/test_poller.py
Labels: api, fix, embedded

#9914 feat(robot-server): persist runs and action runs in sql db
  robot-server/robot_server/db.py
  robot-server/robot_server/persistence.py
  robot-server/robot_server/protocols/dependencies.py
  robot-server/robot_server/protocols/protocol_store.py
  robot-server/robot_server/protocols/router.py
  robot-server/robot_server/runs/dependencies.py
  robot-server/robot_server/runs/router/actions_router.py
  robot-server/robot_server/runs/router/base_router.py
  robot-server/robot_server/runs/run_store.py
  robot-server/robot_server/runs/run_view.py
  robot-server/tests/protocols/test_protocol_store.py
  robot-server/tests/runs/router/conftest.py
  robot-server/tests/runs/router/test_actions_router.py
  robot-server/tests/runs/router/test_base_router.py
  robot-server/tests/runs/router/test_commands_router.py
  robot-server/tests/runs/router/test_labware_router.py
  robot-server/tests/runs/test_run_store.py
  robot-server/tests/runs/test_run_view.py
Labels: cpx, robot server

#9936 fix(api): set finished live runs to stopped rather than succeeded/failed
  api/src/opentrons/protocol_engine/actions/actions.py
  api/src/opentrons/protocol_engine/protocol_engine.py
  api/src/opentrons/protocol_engine/state/commands.py
  api/src/opentrons/protocol_runner/protocol_runner.py
  api/tests/opentrons/protocol_engine/state/test_command_store.py
  api/tests/opentrons/protocol_engine/test_protocol_engine.py
  api/tests/opentrons/protocol_runner/test_protocol_runner.py
  robot-server/robot_server/runs/engine_store.py
  robot-server/tests/integration/http_api/runs/test_run_status.tavern.yaml
Labels: cpx

#9948 refactor(robot-server): Remove the `ProtocolStore` pickle column from the SQL database
  robot-server/robot_server/persistence.py
  robot-server/robot_server/protocols/dependencies.py
  robot-server/robot_server/protocols/protocol_store.py
  robot-server/tests/integration/http_api/persistence/test_protocol_persistence.py
  robot-server/tests/integration/robot_client.py
  robot-server/tests/protocols/test_protocol_store.py
  robot-server/tests/runs/router/test_base_router.py
Labels: cpx, robot server

#9980 feat(app): promote new navigational structure to default view
  api-client/src/server/updateName.ts
  app-testing/locators.py
  app-testing/tests/app_settings_v5dot1_test.py
  app-testing/tests/initial_app_v5dot1_test.py
  app-testing/tests/labware_landing_v5dot1_test.py
  app/src/App/LegacyApp.tsx
  app/src/App/NextGenApp.tsx
  app/src/App/__tests__/App.test.tsx
  app/src/App/__tests__/NextGenApp.test.tsx
  app/src/App/constants.ts
  app/src/App/hooks.ts
  app/src/App/index.tsx
  app/src/App/types.ts
  app/src/assets/localization/en/app_settings.json
  app/src/atoms/Slideout/__tests__/Slideout.test.tsx
  app/src/organisms/AppSettings/FeatureFlags.tsx
  app/src/organisms/AppSettings/index.tsx
  app/src/organisms/Devices/HeaterShakerWizard/index.tsx
  app/src/pages/Devices/DeviceDetails/index.tsx
  app/src/pages/Devices/ProtocolRunDetails/index.tsx
  app/src/pages/Devices/RobotSettings/index.tsx
  app/src/pages/More/AppSettings/AppAdvancedSettingsCard.tsx
  app/src/pages/More/AppSettings/__tests__/AppAdvancedSettingsCard.test.tsx
  app/src/pages/Protocols/ProtocolDetails/index.tsx
Labels: app

#9981 test(api): Replace pytest-aiohttp with pytest-asyncio for running async tests
  api/Pipfile
  api/Pipfile.lock
  api/pytest.ini
  api/tests/opentrons/config/test_advanced_settings.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/drivers/asyncio/communication/test_async_serial.py
  api/tests/opentrons/drivers/asyncio/communication/test_serial_connection.py
  api/tests/opentrons/drivers/smoothie_drivers/test_connection.py
  api/tests/opentrons/hardware_control/emulation/test_proxy.py
  api/tests/opentrons/hardware_control/integration/test_controller.py
  api/tests/opentrons/hardware_control/integration/test_magdeck.py
  api/tests/opentrons/hardware_control/integration/test_tempdeck.py
  api/tests/opentrons/hardware_control/integration/test_thermocycler.py
  api/tests/opentrons/hardware_control/modules/test_hc_heatershaker.py
  api/tests/opentrons/hardware_control/modules/test_hc_magdeck.py
  api/tests/opentrons/hardware_control/modules/test_hc_tempdeck.py
  api/tests/opentrons/hardware_control/modules/test_hc_thermocycler.py
  api/tests/opentrons/hardware_control/test_execution_manager.py
  api/tests/opentrons/hardware_control/test_gpio.py
  api/tests/opentrons/hardware_control/test_instruments.py
  api/tests/opentrons/hardware_control/test_modules.py
  api/tests/opentrons/hardware_control/test_moves.py
  api/tests/opentrons/hardware_control/test_simulator_setup.py
  api/tests/opentrons/protocol_api/test_context.py
  api/tests/opentrons/protocol_api/test_module_context.py
  api/tests/opentrons/protocol_engine/clients/test_child_thread_transport.py
  api/tests/opentrons/protocol_runner/smoke_tests/test_python_context_creator.py
  api/tests/opentrons/protocols/advanced_control/test_transfers.py
  api/tests/opentrons/system/test_nmcli.py
  api/tests/opentrons/system/test_wifi.py
Labels: api, refactor, cpx, python

#9986 test(api): add required arguments to verify rehearsal
  api/tests/opentrons/protocol_reader/test_protocol_reader.py
Labels: cpx

#9985 test(robot-server): remove redundant Decoy.verify calls per warnings
  robot-server/tests/runs/router/test_base_router.py
Labels: cpx

#9975 test(api): add types to conftest, test_simulate, test_execute
  api/conftest.py
  api/mypy.ini
  api/tests/opentrons/conftest.py
  api/tests/opentrons/test_execute.py
  api/tests/opentrons/test_simulate.py
Labels: cpx, Robot Tech Debt

#10012 test(robot-server): replace pytest-aiohttp with pytest-asyncio
  robot-server/Pipfile
  robot-server/Pipfile.lock
  robot-server/pytest.ini
  robot-server/tests/robot/calibration/tip_length/test_util.py
  robot-server/tests/service/legacy/routers/test_control.py
  robot-server/tests/service/legacy/routers/test_modules.py
  robot-server/tests/service/session/test_manager.py
Labels: cpx, Robot Tech Debt

#10022 test(hardware): replace pytest-aiohttp with pytest-asyncio
  hardware/Pipfile
  hardware/Pipfile.lock
  hardware/pytest.ini
  hardware/tests/firmware_integration/conftest.py
  hardware/tests/firmware_integration/test_attached_tools.py
  hardware/tests/firmware_integration/test_device_info.py
  hardware/tests/firmware_integration/test_eeprom.py
  hardware/tests/firmware_integration/test_motion_constraints.py
  hardware/tests/firmware_integration/test_motor_driver.py
  hardware/tests/firmware_integration/test_move_groups.py
  hardware/tests/opentrons_hardware/drivers/can_bus/test_can_messenger.py
  hardware/tests/opentrons_hardware/drivers/can_bus/test_driver.py
Labels: Robot Tech Debt

#10029 chore(release): 5.1.0-beta.0
  CHANGELOG.md
  api-client/CHANGELOG.md
  api-client/package.json
  api/release-notes.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/build/release-notes.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  notify-server/notify_server/CHANGELOG.md
  notify-server/notify_server/package.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  react-api-client/CHANGELOG.md
  react-api-client/package.json
  robot-server/robot_server/CHANGELOG.md
  robot-server/robot_server/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  step-generation/CHANGELOG.md
  step-generation/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: release 🚢

#10035 ci(cache): only hash top-level yarn.lock for cache resolution
  .github/workflows/app-test-build-deploy.yaml
  .github/workflows/components-test-build-deploy.yaml
  .github/workflows/js-check.yaml
  .github/workflows/ll-test-build-deploy.yaml
  .github/workflows/pd-test-build-deploy.yaml
  .github/workflows/react-api-client-test.yaml
  .github/workflows/shared-data-test-lint-deploy.yaml
  .github/workflows/step-generation-test.yaml
Labels: chore

#10061 refactor(protocol-engine): add command models for TC block/lid temperatures
  api/src/opentrons/protocol_engine/commands/__init__.py
  api/src/opentrons/protocol_engine/commands/command_unions.py
  api/src/opentrons/protocol_engine/commands/thermocycler/__init__.py
  api/src/opentrons/protocol_engine/commands/thermocycler/deactivate_block.py
  api/src/opentrons/protocol_engine/commands/thermocycler/deactivate_lid.py
  api/src/opentrons/protocol_engine/commands/thermocycler/set_target_block_temperature.py
  api/src/opentrons/protocol_engine/commands/thermocycler/set_target_lid_temperature.py
  robot-server/robot_server/commands/stateless_commands.py
Labels: cpx, protocol-engine

#10053 refactor(robot-server): ensure persisted datetimes are extracted as UTC
  robot-server/robot_server/persistence.py
  robot-server/robot_server/protocols/protocol_store.py
  robot-server/robot_server/runs/run_store.py
  robot-server/tests/protocols/test_protocol_store.py
  robot-server/tests/runs/test_run_store.py
Labels: fix, cpx

#9767 refactor(app): Apply updated UI styles
  app/src/atoms/Buttons/index.tsx
  app/src/atoms/Link/ExternalLink.tsx
  app/src/atoms/Modal/index.tsx
  app/src/atoms/NavTab/index.tsx
  app/src/atoms/ToggleBtn/__tests__/ToggleBtn.test.tsx
  app/src/atoms/ToggleBtn/index.tsx
  app/src/organisms/AppSettings/AdvancedSettings.tsx
  app/src/organisms/AppSettings/GeneralSettings.tsx
  app/src/organisms/AppSettings/PreviousVersionModal.tsx
  app/src/organisms/AppSettings/index.tsx
  components/src/__tests__/__snapshots__/icons.test.tsx.snap
  components/src/forms/RadioGroup.tsx
  components/src/forms/forms.css
  components/src/icons/icon-data.ts
  components/src/modals/BaseModal.tsx
  components/src/modals/__tests__/BaseModal.test.tsx
  components/src/ui-style-constants/borders.ts
  components/src/ui-style-constants/typography.ts
Labels: app

#10068 refactor(api): implement thermocycler SetTargetBlockTemperature command
  api/src/opentrons/hardware_control/modules/thermocycler.py
  api/src/opentrons/protocol_engine/commands/thermocycler/set_target_block_temperature.py
  api/src/opentrons/protocol_engine/execution/equipment.py
  api/src/opentrons/protocol_engine/state/__init__.py
  api/src/opentrons/protocol_engine/state/module_substates/__init__.py
  api/src/opentrons/protocol_engine/state/module_substates/thermocycler_module_substate.py
  api/src/opentrons/protocol_engine/state/modules.py
  api/tests/opentrons/hardware_control/modules/test_hc_thermocycler.py
  api/tests/opentrons/protocol_engine/commands/heater_shaker/test_start_set_target_temperature.py
  api/tests/opentrons/protocol_engine/commands/thermocycler/__init__.py
  api/tests/opentrons/protocol_engine/commands/thermocycler/test_set_target_block_temperature.py
  api/tests/opentrons/protocol_engine/state/test_module_store.py
  api/tests/opentrons/protocol_engine/state/test_module_view.py
Labels: cpx, embedded

#9950 test(robot-server): test for analyses and persistence of protocol upload
  robot-server/tests/integration/http_api/persistence/test_protocol_persistence.py
  robot-server/tests/integration/http_api/protocols/test_404.tavern.yaml
  robot-server/tests/integration/http_api/protocols/test_persistence.py
  robot-server/tests/integration/http_api/protocols/test_v6_json_upload.tavern.yaml
  robot-server/tests/integration/http_api/runs/__init__.py
  robot-server/tests/integration/protocols/cpx_4_6_tuberack_100ul.py
  robot-server/tests/integration/protocols/cpx_4_tuberack_100ul.json
  robot-server/tests/integration/protocols/cpx_6_tuberack_100ul.json
  robot-server/tests/integration/robot_client.py
Labels: cpx

#10102 refactor(robot-server): implement thermocycler/setTargetLidTemperature
  api/src/opentrons/hardware_control/modules/thermocycler.py
  api/src/opentrons/protocol_engine/commands/thermocycler/set_target_lid_temperature.py
  api/src/opentrons/protocol_engine/state/module_substates/thermocycler_module_substate.py
  api/tests/opentrons/hardware_control/modules/test_hc_thermocycler.py
  api/tests/opentrons/protocol_engine/commands/thermocycler/test_set_target_lid_temperature.py
  api/tests/opentrons/protocol_engine/state/test_module_view.py
Labels: cpx, protocol-engine

#10088 feat(app): Add Download logs Toast to RobotSettingsAdvanced Tab
  app/src/assets/localization/en/device_settings.json
  app/src/atoms/Toast/__tests__/Toast.test.tsx
  app/src/atoms/Toast/index.tsx
  app/src/organisms/Devices/RobotSettings/AdvancedTab/Troubleshooting.tsx
  app/src/organisms/Devices/RobotSettings/AdvancedTab/__tests__/Troubleshooting.test.tsx
  app/src/organisms/Devices/RobotSettings/RobotSettingsAdvanced.tsx
  app/src/pages/Robots/RobotSettings/AdvancedSettingsCard.tsx
Labels: app

#10128 fix(app): App fix switch default page
  app/src/App/__tests__/App.test.tsx
  app/src/App/index.tsx
Labels: app

#10066 feat(app): RobotSettings Advanced Tab FactoryReset reset options
  app/src/assets/localization/en/device_settings.json
  app/src/atoms/Modal/index.tsx
  app/src/organisms/Devices/RobotSettings/AdvancedTab/AdvancedTabSlideouts/FactoryResetModal.tsx
  app/src/organisms/Devices/RobotSettings/AdvancedTab/AdvancedTabSlideouts/FactoryResetSlideout.tsx
  app/src/organisms/Devices/RobotSettings/AdvancedTab/AdvancedTabSlideouts/__tests__/FactoryResetModal.test.tsx
  app/src/organisms/Devices/RobotSettings/AdvancedTab/AdvancedTabSlideouts/__tests__/FactoryResetSlideout.test.tsx
  app/src/organisms/Devices/RobotSettings/AdvancedTab/__tests__/FactoryReset.test.tsx
  app/src/organisms/Devices/RobotSettings/RobotSettingsAdvanced.tsx
Labels: app
