Repository Opentrons/opentrons, pull requests merged in 2022-05, with the labels that each got.

#10160 chore(robot-server): Allow omitting __init__() docstrings
  robot-server/.flake8
Labels: chore, cpx, robot server

#10185 refactor(robot-server): Rename `AppStateValue` to `AppStateAccessor`
  robot-server/robot_server/app_state.py
  robot-server/robot_server/hardware.py
  robot-server/robot_server/persistence.py
  robot-server/robot_server/protocols/dependencies.py
  robot-server/robot_server/runs/dependencies.py
  robot-server/robot_server/service/task_runner.py
Labels: refactor, cpx, robot server

#10140 refactor(api): add engine/PAPIv3 thermocycler deactivate lid/block
  api/src/opentrons/protocol_api_experimental/module_contexts/thermocycler_module_context.py
  api/src/opentrons/protocol_api_experimental/protocol_context.py
  api/src/opentrons/protocol_engine/clients/sync_client.py
  api/src/opentrons/protocol_engine/commands/thermocycler/deactivate_block.py
  api/src/opentrons/protocol_engine/commands/thermocycler/deactivate_lid.py
  api/tests/opentrons/protocol_api_experimental/module_contexts/test_thermocycler_module_context.py
  api/tests/opentrons/protocol_api_experimental/test_protocol_context.py
  api/tests/opentrons/protocol_engine/clients/test_sync_client.py
  api/tests/opentrons/protocol_engine/commands/thermocycler/test_deactivate_block.py
  api/tests/opentrons/protocol_engine/commands/thermocycler/test_deactivate_lid.py
Labels: cpx

#10042 feat(robot-server): Persist protocol analyses across reboots
  robot-server/robot_server/persistence.py
  robot-server/robot_server/protocols/analysis_store.py
  robot-server/robot_server/protocols/dependencies.py
  robot-server/robot_server/protocols/protocol_analyzer.py
  robot-server/robot_server/protocols/protocol_models.py
  robot-server/robot_server/protocols/protocol_store.py
  robot-server/robot_server/protocols/router.py
  robot-server/tests/conftest.py
  robot-server/tests/integration/http_api/protocols/test_persistence.py
  robot-server/tests/integration/robot_client.py
  robot-server/tests/protocols/test_analysis_store.py
  robot-server/tests/protocols/test_protocol_analyzer.py
  robot-server/tests/protocols/test_protocol_store.py
  robot-server/tests/protocols/test_protocols_router.py
Labels: robot-svcs, robot server

#9955 feat(heater-shaker): add deactivate_heater method
  api/src/opentrons/drivers/heater_shaker/abstract.py
  api/src/opentrons/drivers/heater_shaker/driver.py
  api/src/opentrons/drivers/heater_shaker/simulator.py
  api/src/opentrons/drivers/utils.py
  api/src/opentrons/hardware_control/modules/heater_shaker.py
  api/tests/opentrons/drivers/heater_shaker/test_driver.py
  api/tests/opentrons/drivers/test_utils.py
  api/tests/opentrons/hardware_control/modules/test_hc_heatershaker.py
Labels: feature, firmware, heater-shaker, embedded

#10219 fix(update-server): Avoid bricking when given a bad name
  update-server/otupdate/buildroot/__init__.py
  update-server/otupdate/buildroot/__main__.py
  update-server/otupdate/common/name_management.py
  update-server/otupdate/openembedded/__init__.py
  update-server/tests/buildroot/test_name_endpoints.py
  update-server/tests/common/test_name_management.py
Labels: fix, update server, robot-svcs

#10248 feat(robot-server): Automatically delete old resources to make room for new ones
  robot-server/robot_server/deletion_planner.py
  robot-server/robot_server/protocols/dependencies.py
  robot-server/robot_server/protocols/protocol_auto_deleter.py
  robot-server/robot_server/protocols/protocol_store.py
  robot-server/robot_server/protocols/router.py
  robot-server/robot_server/runs/dependencies.py
  robot-server/robot_server/runs/router/base_router.py
  robot-server/robot_server/runs/run_auto_deleter.py
  robot-server/tests/integration/http_api/protocols/test_auto_deletion.py
  robot-server/tests/integration/http_api/protocols/test_persistence.py
  robot-server/tests/integration/http_api/runs/test_auto_deletion.py
  robot-server/tests/integration/robot_client.py
  robot-server/tests/protocols/test_protocol_auto_deleter.py
  robot-server/tests/protocols/test_protocol_store.py
  robot-server/tests/protocols/test_protocols_router.py
  robot-server/tests/runs/router/conftest.py
  robot-server/tests/runs/router/test_base_router.py
  robot-server/tests/runs/test_run_auto_deleter.py
  robot-server/tests/test_deletion_planner.py
Labels: robot-svcs, robot server

#10234 feat(app): RobotSettings Calibration Tab Health Check Section
  app/src/assets/localization/en/device_settings.json
  app/src/organisms/Devices/HeaterShakerWizard/TestShake.tsx
  app/src/organisms/Devices/ModuleCard/ModuleOverflowMenu.tsx
  app/src/organisms/Devices/ModuleCard/TestShakeSlideout.tsx
  app/src/organisms/Devices/ModuleCard/hooks.tsx
  app/src/organisms/Devices/ModuleCard/index.tsx
  app/src/organisms/Devices/RobotSettings/RobotSettingsCalibration.tsx
  app/src/organisms/Devices/RobotSettings/__tests__/RobotSettingsCalibration.test.tsx
Labels: app

#10233 feat(app): DeckCalibration Section
  app/src/assets/localization/en/device_settings.json
  app/src/organisms/Devices/RobotSettings/DeckCalibrationConfirmModal.tsx
  app/src/organisms/Devices/RobotSettings/RobotSettingsCalibration.tsx
  app/src/organisms/Devices/RobotSettings/__tests__/RobotSettingsCalibration.test.tsx
Labels: app

#10295 fix(app): do not include tipracks in Labware Position Check that are unused in protocol
  app/src/organisms/LabwarePositionCheck/__tests__/getLabwarePositionCheckSteps.test.ts
  app/src/organisms/LabwarePositionCheck/getLabwarePositionCheckSteps.ts
Labels: app

#10306 fix(app): only render historical run overflow menu when menu is open
  app/src/organisms/Devices/HistoricalProtocolRun.tsx
  app/src/organisms/Devices/HistoricalProtocolRunOverflowMenu.tsx
Labels: app, fix

#10309 refactor(robot-server): add basic SQL migrations to persistence layer
  robot-server/Pipfile
  robot-server/Pipfile.lock
  robot-server/robot_server/persistence.py
  robot-server/robot_server/persistence/__init__.py
  robot-server/robot_server/persistence/database.py
  robot-server/robot_server/persistence/migrations.py
  robot-server/robot_server/persistence/tables.py
  robot-server/robot_server/runs/run_store.py
  robot-server/tests/conftest.py
  robot-server/tests/persistence/__init__.py
  robot-server/tests/persistence/test_migrations.py
Labels: robot-svcs

#10275 feat(app): App RobotSettings Calibration Tab Pipette Offset Calibrations and Tip Length Calibrations
  app/src/assets/localization/en/device_settings.json
  app/src/assets/localization/en/shared.json
  app/src/organisms/Devices/RobotSettings/CalibrationDetails/OverflowMenu.tsx
  app/src/organisms/Devices/RobotSettings/CalibrationDetails/PipetteOffsetCalibrationItems.tsx
  app/src/organisms/Devices/RobotSettings/CalibrationDetails/TipLengthCalibrationItems.tsx
  app/src/organisms/Devices/RobotSettings/CalibrationDetails/__test__/OverflowMenu.test.tsx
  app/src/organisms/Devices/RobotSettings/CalibrationDetails/__test__/PipetteOffsetCalibrationItems.test.tsx
  app/src/organisms/Devices/RobotSettings/CalibrationDetails/__test__/TipLengthCalibrationItems.test.tsx
  app/src/organisms/Devices/RobotSettings/CalibrationDetails/__test__/utils.test.ts
  app/src/organisms/Devices/RobotSettings/CalibrationDetails/utils.ts
  app/src/organisms/Devices/RobotSettings/RobotSettingsCalibration.tsx
  app/src/organisms/Devices/RobotSettings/__tests__/RobotSettingsCalibration.test.tsx
  app/src/organisms/Devices/RobotSettings/demo.ts
  app/src/pages/Robots/RobotSettings/DeckCalibrationControl.tsx
  app/src/redux/calibration/pipette-offset/__fixtures__/pipette-offset-calibration.ts
Labels: app

#10315 refactor(app): update import a protocol copy
  app/src/assets/localization/en/protocol_info.json
  app/src/organisms/ProtocolsLanding/__tests__/UploadInput.test.tsx
Labels: app

#10337 chore(docs): syntax fix in TemperatureModuleContext docstring
  api/src/opentrons/protocol_api/module_contexts.py
Labels: docs

#10334 fix(api): Fix delays returning immediately
  api/src/opentrons/hardware_control/execution_manager.py
  api/src/opentrons/hardware_control/modules/heater_shaker.py
  api/src/opentrons/hardware_control/modules/mod_abc.py
  api/src/opentrons/hardware_control/modules/tempdeck.py
  api/src/opentrons/hardware_control/modules/thermocycler.py
  api/tests/opentrons/hardware_control/test_execution_manager.py
Labels: api, fix, robot-svcs

#10336 docs(robot-server): Fix wrong title for deleting pipette offset calibrations
  robot-server/robot_server/service/pipette_offset/router.py
Labels: docs, robot-svcs, robot server

#10339 docs(api): Fix typo in mix command example
  api/docs/v2/new_atomic_commands.rst
Labels: api, docs

#10296 refactor(app): add hook for overflow menu outside click
  app/src/atoms/MenuList/hooks.tsx
  app/src/organisms/Devices/RobotOverflowMenu.tsx
  app/src/organisms/Devices/RobotOverviewOverflowMenu.tsx
  app/src/organisms/ProtocolDetails/OverflowMenu.tsx
  app/src/organisms/ProtocolDetails/ProtocolLabwareDetails.tsx
  app/src/organisms/ProtocolsLanding/ProtocolOverflowMenu.tsx
Labels: app

#10344 refactor(robot-server): heavily cache reads from run and protocol stores
  robot-server/robot_server/protocols/analysis_store.py
  robot-server/robot_server/protocols/protocol_store.py
  robot-server/robot_server/runs/router/commands_router.py
  robot-server/robot_server/runs/run_data_manager.py
  robot-server/robot_server/runs/run_store.py
  robot-server/tests/runs/router/test_base_router.py
  robot-server/tests/runs/router/test_commands_router.py
  robot-server/tests/runs/test_run_data_manager.py
Labels: robot-svcs

#10379 test(robot-server): Fix a race condition in the persistence tests
  robot-server/tests/integration/http_api/runs/test_persistence.py
Labels: robot-svcs, robot server

#10245 feat(api): use V3 module definitions as default in PAPI
  api/src/opentrons/protocol_engine/types.py
  api/src/opentrons/protocols/api_support/definitions.py
  api/src/opentrons/protocols/geometry/module_geometry.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/protocol_api/test_module_context.py
  api/tests/opentrons/protocol_engine/conftest.py
  api/tests/opentrons/protocol_runner/smoke_tests/conftest.py
  api/tests/opentrons/protocol_runner/test_legacy_command_mapper.py
  api/tests/opentrons/protocols/geometry/test_module_geometry.py
  robot-server/tests/integration/http_api/protocols/test_v6_json_upload.tavern.yaml
  shared-data/module/definitions/3/heaterShakerModuleV1.json
  shared-data/module/definitions/3/magneticModuleV1.json
  shared-data/module/definitions/3/magneticModuleV2.json
  shared-data/module/definitions/3/temperatureModuleV1.json
  shared-data/module/definitions/3/temperatureModuleV2.json
  shared-data/module/definitions/3/thermocyclerModuleV1.json
  shared-data/module/fixtures/3/compatibleGenerationV1.json
  shared-data/module/fixtures/3/compatibleGenerationV2.json
  shared-data/module/fixtures/3/incompatibleGenerationV1.json
  shared-data/module/fixtures/3/incompatibleGenerationV2.json
  shared-data/module/schemas/3.json
  shared-data/python/opentrons_shared_data/module/__init__.py
  shared-data/python/opentrons_shared_data/module/dev_types.py
Labels: robot-svcs

#10323 test(robot-server): Expand integration test coverage of runs
  robot-server/robot_server/runs/router/labware_router.py
  robot-server/tests/integration/http_api/runs/test_persistence.py
  robot-server/tests/integration/http_api/runs/test_protocol_run.tavern.yaml
  robot-server/tests/integration/protocols/load_one_labware.py
Labels: robot-svcs, robot server

#10328 fix(app): remove copy link from context menu
  app-shell/src/main.ts
Labels: app

#10352 refactor(app): address Pipette Settings slideout design feedback
  app/src/atoms/Slideout/index.tsx
  app/src/atoms/buttons/index.tsx
  app/src/organisms/ConfigurePipette/ConfigForm.tsx
  app/src/organisms/ConfigurePipette/ConfigFormGroup.tsx
  app/src/organisms/ConfigurePipette/ConfigFormResetButton.tsx
  app/src/organisms/ConfigurePipette/ConfigFormSubmitButton.tsx
  app/src/organisms/ConfigurePipette/__tests__/ConfigFormResetButton.test.tsx
  app/src/organisms/Devices/PipetteCard/PipetteSettingsSlideout.tsx
  app/src/organisms/Devices/PipetteCard/__tests__/PipetteSettingsSlideout.test.tsx
  app/src/organisms/Devices/PipetteCard/index.tsx
  components/src/forms/FormGroup.tsx
  components/src/forms/forms.css
Labels: app

#10408 refactor(app): add protocol run setup loading state
  app/src/assets/localization/en/protocol_setup.json
  app/src/organisms/Devices/ProtocolRun/ProtocolRunSetup.tsx
  app/src/organisms/Devices/ProtocolRun/__tests__/ProtocolRunSetup.test.tsx
  app/src/pages/Devices/ProtocolRunDetails/__tests__/ProtocolRunDetails.test.tsx
  app/src/pages/Devices/ProtocolRunDetails/index.tsx
Labels: app

#10419 refactor(app): add loading state to protocol run details start run button
  app/src/assets/localization/en/run_details.json
  app/src/organisms/Devices/ProtocolRun/ProtocolRunHeader.tsx
  app/src/organisms/Devices/ProtocolRun/__tests__/ProtocolRunHeader.test.tsx
Labels: app

#10375 docs(dev_setup): add jpeg install instructions for macOS arm fixing pillow install
  DEV_SETUP.md
Labels: robot-svcs

#10428 fix(app): tweak copy on not avail modal
  app/src/assets/localization/en/devices_landing.json
Labels: app

#10395 feat(robot-server): add runs history removal to reset options
  api/src/opentrons/config/reset.py
  robot-server/robot_server/persistence/__init__.py
  robot-server/robot_server/service/legacy/routers/settings.py
  robot-server/tests/integration/http_api/persistence/test_persistence.py
  robot-server/tests/integration/robot_client.py
  robot-server/tests/integration/test_settings_reset_options.tavern.yaml
  robot-server/tests/service/legacy/routers/test_settings.py
Labels: robot-svcs

#10405 fix(app): show update modal for update from file and unlink unfinished update slideout
  app/src/organisms/Devices/RobotSettings/AdvancedTab/UpdateRobotSoftware.tsx
  app/src/organisms/Devices/RobotSettings/RobotSettingsAdvanced.tsx
Labels: app

#10452 fix(app): cancelling a protocol run should patch the run to current false
  app/src/organisms/Devices/ProtocolRun/ProtocolRunHeader.tsx
  app/src/organisms/Devices/ProtocolRun/__tests__/ProtocolRunHeader.test.tsx
  app/src/organisms/RunDetails/ConfirmCancelModal.tsx
  react-api-client/src/runs/useRunActionMutations.ts
Labels: app

#10465 chore(release): 6.0.0-alpha.0
  CHANGELOG.md
  api-client/CHANGELOG.md
  api-client/package.json
  api/release-notes.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/build/release-notes.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  notify-server/notify_server/CHANGELOG.md
  notify-server/notify_server/package.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  react-api-client/CHANGELOG.md
  react-api-client/package.json
  robot-server/robot_server/CHANGELOG.md
  robot-server/robot_server/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  step-generation/CHANGELOG.md
  step-generation/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: release 🚢

#10458 refactor(update-server): Type update-server more strictly
  update-server/Makefile
  update-server/Pipfile
  update-server/Pipfile.lock
  update-server/mypy.ini
  update-server/otupdate/buildroot/__init__.py
  update-server/otupdate/buildroot/__main__.py
  update-server/otupdate/buildroot/update_actions.py
  update-server/otupdate/common/config.py
  update-server/otupdate/common/file_actions.py
  update-server/otupdate/common/handler_type.py
  update-server/otupdate/common/name_management.py
  update-server/otupdate/common/session.py
  update-server/otupdate/common/ssh_key_management.py
  update-server/otupdate/common/systemd.py
  update-server/otupdate/common/update.py
  update-server/otupdate/common/update_actions.py
  update-server/otupdate/openembedded/__init__.py
  update-server/otupdate/openembedded/__main__.py
  update-server/otupdate/openembedded/updater.py
Labels: chore, refactor, robot-svcs, embedded

#10439 fix(app): App fix design feedback navbar
  app/src/App/Navbar.tsx
  components/src/ui-style-constants/colors.ts
Labels: app

#10475 fix(add): Dispay sortBy labels to labware and protocols
  app/src/atoms/MenuList/MenuItem.tsx
  app/src/organisms/Labware/__tests__/Labware.test.tsx
  app/src/organisms/Labware/index.tsx
  app/src/organisms/ProtocolsLanding/ProtocolList.tsx
Labels: app

#10463 fix(app): fix white screen issue after renaming clicking advanced tab
  app/src/organisms/Devices/RobotSettings/AdvancedTab/AdvancedTabSlideouts/RenameRobotSlideout.tsx
  app/src/organisms/Devices/RobotSettings/AdvancedTab/Troubleshooting.tsx
  app/src/organisms/Devices/RobotSettings/AdvancedTab/__tests__/Troubleshooting.test.tsx
  app/src/organisms/Devices/RobotSettings/RobotSettingsAdvanced.tsx
  app/src/organisms/Devices/RobotSettings/demo.ts
  react-api-client/src/server/useUpdateRobotNameMutation.ts
Labels: app

#10522 fix(app): reorder overeflow menu on protocol card
  app/src/organisms/ProtocolsLanding/ProtocolOverflowMenu.tsx
Labels: app

#10462 feat(robot-server): add modules field to /runs responses
  api/src/opentrons/protocol_engine/state/modules.py
  api/src/opentrons/protocol_engine/types.py
  api/tests/opentrons/protocol_engine/state/test_module_view.py
  api/tests/opentrons/protocol_runner/smoke_tests/test_protocol_runner.py
  robot-server/robot_server/runs/run_data_manager.py
  robot-server/robot_server/runs/run_models.py
  robot-server/tests/integration/http_api/runs/test_protocol_run.tavern.yaml
  robot-server/tests/runs/router/test_base_router.py
  robot-server/tests/runs/router/test_labware_router.py
  robot-server/tests/runs/test_run_data_manager.py
Labels: robot-svcs

#10523 refactor(update-server): Split `name_management` into submodules
  update-server/otupdate/common/name_management.py
  update-server/otupdate/common/name_management/__init__.py
  update-server/otupdate/common/name_management/avahi.py
  update-server/otupdate/common/name_management/pretty_hostname.py
  update-server/otupdate/common/name_management/static_hostname.py
  update-server/tests/common/name_management/__init__.py
  update-server/tests/common/name_management/test_pretty_hostname.py
Labels: refactor, update server, robot-svcs

#10516 fix(api): disallow thermocycler if item in conflicting slot
  api/src/opentrons/protocols/geometry/deck.py
  api/tests/opentrons/protocols/geometry/test_geometry.py
Labels: robot-svcs

#10368 feat(app): App robot settings advanced tab robot is busy
  app/src/assets/localization/en/device_settings.json
  app/src/organisms/Devices/HistoricalProtocolRunOffsetDrawer.tsx
  app/src/organisms/Devices/RobotSettings/AdvancedTab/DisableHoming.tsx
  app/src/organisms/Devices/RobotSettings/AdvancedTab/DisplayRobotName.tsx
  app/src/organisms/Devices/RobotSettings/AdvancedTab/FactoryReset.tsx
  app/src/organisms/Devices/RobotSettings/AdvancedTab/LegacySettings.tsx
  app/src/organisms/Devices/RobotSettings/AdvancedTab/ShortTrashBin.tsx
  app/src/organisms/Devices/RobotSettings/AdvancedTab/Troubleshooting.tsx
  app/src/organisms/Devices/RobotSettings/AdvancedTab/UpdateRobotSoftware.tsx
  app/src/organisms/Devices/RobotSettings/AdvancedTab/UsageSettings.tsx
  app/src/organisms/Devices/RobotSettings/AdvancedTab/UseOlderAspirateBehavior.tsx
  app/src/organisms/Devices/RobotSettings/AdvancedTab/UseOlderProtocol.tsx
  app/src/organisms/Devices/RobotSettings/AdvancedTab/__tests__/DisableHoming.test.tsx
  app/src/organisms/Devices/RobotSettings/AdvancedTab/__tests__/DisplayRobotName.test.tsx
  app/src/organisms/Devices/RobotSettings/AdvancedTab/__tests__/FactoryReset.test.tsx
  app/src/organisms/Devices/RobotSettings/AdvancedTab/__tests__/LegacySettings.test.tsx
  app/src/organisms/Devices/RobotSettings/AdvancedTab/__tests__/ShortTrashBin.test.tsx
  app/src/organisms/Devices/RobotSettings/AdvancedTab/__tests__/UpdateRobotSoftware.test.tsx
  app/src/organisms/Devices/RobotSettings/AdvancedTab/__tests__/UsageSettings.test.tsx
  app/src/organisms/Devices/RobotSettings/AdvancedTab/__tests__/UseOlderAspirateBehavior.test.tsx
  app/src/organisms/Devices/RobotSettings/AdvancedTab/__tests__/UseOlderProtocol.test.tsx
  app/src/organisms/Devices/RobotSettings/CalibrationDetails/OverflowMenu.tsx
  app/src/organisms/Devices/RobotSettings/CalibrationDetails/PipetteOffsetCalibrationItems.tsx
  app/src/organisms/Devices/RobotSettings/CalibrationDetails/TipLengthCalibrationItems.tsx
  app/src/organisms/Devices/RobotSettings/RobotSettingsAdvanced.tsx
  app/src/organisms/Devices/RobotSettings/RobotSettingsCalibration.tsx
  app/src/organisms/Devices/RobotSettings/RobotSettingsNetworking.tsx
  app/src/organisms/Devices/RobotSettings/__tests__/RobotSettingsAdvnaced.test.tsx
  app/src/organisms/Devices/hooks/__tests__/useIsRobotBusy.test.ts
  app/src/organisms/Devices/hooks/index.ts
  app/src/organisms/Devices/hooks/useIsRobotBusy.ts
  app/src/pages/Devices/RobotSettings/index.tsx
Labels: app
