Repository Opentrons/opentrons, pull requests merged in 2022-01, with the labels that each got.

#9170 perf(protocol-engine): avoid iterating all commands for every state update
  api/src/opentrons/protocol_engine/actions/actions.py
  api/src/opentrons/protocol_engine/protocol_engine.py
  api/src/opentrons/protocol_engine/state/commands.py
  api/src/opentrons/protocol_engine/state/labware.py
  api/src/opentrons/protocol_engine/state/modules.py
  api/src/opentrons/protocol_engine/state/pipettes.py
  api/src/opentrons/protocol_engine/types.py
  api/src/opentrons/protocol_runner/legacy_context_plugin.py
  api/tests/opentrons/protocol_engine/state/command_fixtures.py
  api/tests/opentrons/protocol_engine/state/test_command_store.py
  api/tests/opentrons/protocol_engine/state/test_command_view.py
Labels: cpx, protocol-engine

#9181 fix(api): check pipette names in simulator
  api/src/opentrons/hardware_control/simulator.py
Labels: api, fix

#9185 fix(app): initially expand correct setup step with modules and cal complete
  app/src/organisms/ProtocolSetup/RunSetupCard/CollapsibleStep.tsx
  app/src/organisms/ProtocolSetup/RunSetupCard/__tests__/RunSetupCard.test.tsx
  app/src/organisms/ProtocolSetup/RunSetupCard/index.tsx
Labels: app

#9189 fix(app): fix broken tooltip translation for LPC CTA when modules not detected
  app/src/organisms/ProtocolSetup/RunSetupCard/LabwareSetup/index.tsx
Labels: app, fix

#9188 perf(robot-server): serialize /protocols, /runs responses with Pydantic
  robot-server/robot_server/errors/__init__.py
  robot-server/robot_server/errors/error_responses.py
  robot-server/robot_server/errors/exception_handlers.py
  robot-server/robot_server/protocols/router.py
  robot-server/robot_server/runs/router/actions_router.py
  robot-server/robot_server/runs/router/base_router.py
  robot-server/robot_server/runs/router/commands_router.py
  robot-server/robot_server/service/errors.py
  robot-server/robot_server/service/json_api/__init__.py
  robot-server/robot_server/service/json_api/response.py
  robot-server/robot_server/service/labware/models.py
  robot-server/robot_server/service/labware/router.py
  robot-server/robot_server/service/pipette_offset/models.py
  robot-server/robot_server/service/pipette_offset/router.py
  robot-server/robot_server/service/protocol/models.py
  robot-server/robot_server/service/session/models/command.py
  robot-server/robot_server/service/session/models/session.py
  robot-server/robot_server/service/tip_length/models.py
  robot-server/robot_server/service/tip_length/router.py
  robot-server/robot_server/system/models.py
  robot-server/tests/errors/test_error_responses.py
  robot-server/tests/protocols/test_protocols_router.py
  robot-server/tests/runs/router/test_actions_router.py
  robot-server/tests/runs/router/test_base_router.py
  robot-server/tests/runs/router/test_commands_router.py
  robot-server/tests/service/helpers.py
  robot-server/tests/service/json_api/test_response.py
Labels: cpx

#9210 refactor(robot-server): fix cross endpoint dependency with run commands
  robot-server/robot_server/runs/router/base_router.py
  robot-server/robot_server/runs/router/commands_router.py
  robot-server/tests/runs/router/test_base_router.py
  robot-server/tests/runs/router/test_commands_router.py
Labels: cpx

#9199 perf(api): bring back the ThreadManager
  api/src/opentrons/__init__.py
Labels: cpx

#9197 perf(robot-server): move large response serialization to worker thread
  robot-server/robot_server/protocols/router.py
  robot-server/robot_server/runs/router/base_router.py
  robot-server/robot_server/runs/router/commands_router.py
  robot-server/robot_server/service/json_api/response.py
Labels: cpx

#9192 fix(app): titlebar cancel run button behavior and styling
  app/src/organisms/ProtocolUpload/hooks/useCloseCurrentRun.ts
  app/src/organisms/ProtocolUpload/index.tsx
  app/src/organisms/ProtocolUpload/styles.css
  app/src/organisms/RunDetails/index.tsx
Labels: app, fix

#9200 refactor(app): add support for mapping protocol engine drop tip commands
  app/src/assets/localization/en/run_details.json
  app/src/organisms/ProtocolSetup/utils/getLabwareLocation.ts
  app/src/organisms/RunDetails/CommandText.tsx
Labels: app

#9218 feat(labware-library): Add 4 new labware definitions to shared-data and labware library
  labware-library/src/components/labware-ui/labware-images.ts
  labware-library/src/images/appliedbiosystemsmicroamp_384_wellplate_40ul.jpg
  labware-library/src/images/biorad_384_wellplate_50ul.jpg
  labware-library/src/images/thermoscientificnunc_96_wellplate_1300ul.jpg
  labware-library/src/images/thermoscientificnunc_96_wellplate_2000ul.jpg
  shared-data/labware/definitions/2/appliedbiosystemsmicroamp_384_wellplate_40ul/1.json
  shared-data/labware/definitions/2/biorad_384_wellplate_50ul/1.json
  shared-data/labware/definitions/2/thermoscientificnunc_96_wellplate_1300ul/1.json
  shared-data/labware/definitions/2/thermoscientificnunc_96_wellplate_2000ul/1.json
Labels: labware, shared data

#9230 fix(api): Prioritize mc alarms over errors
  api/src/opentrons/drivers/asyncio/communication/serial_connection.py
  api/src/opentrons/drivers/smoothie_drivers/driver_3_0.py
  api/tests/opentrons/drivers/asyncio/communication/test_serial_connection.py
  api/tests/opentrons/drivers/smoothie_drivers/test_driver.py
Labels: api, fix

#9233 fix(protocol-engine): move HW API cleanup to engine.finish
  api/src/opentrons/hardware_control/api.py
  api/src/opentrons/protocol_engine/execution/hardware_stopper.py
  api/src/opentrons/protocol_engine/protocol_engine.py
  api/src/opentrons/protocol_engine/state/pipettes.py
  api/src/opentrons/protocol_runner/protocol_runner.py
  api/src/opentrons/protocol_runner/task_queue.py
  api/tests/opentrons/protocol_engine/execution/test_hardware_stopper.py
  api/tests/opentrons/protocol_engine/state/test_pipette_view.py
  api/tests/opentrons/protocol_engine/test_protocol_engine.py
  api/tests/opentrons/protocol_runner/test_protocol_runner.py
  api/tests/opentrons/protocol_runner/test_task_queue.py
  robot-server/robot_server/runs/engine_store.py
  robot-server/robot_server/runs/router/actions_router.py
  robot-server/robot_server/runs/router/base_router.py
  robot-server/robot_server/service/task_runner.py
  robot-server/tests/runs/router/test_actions_router.py
  robot-server/tests/runs/router/test_base_router.py
  robot-server/tests/runs/test_engine_store.py
Labels: cpx

#9207 refactor(api,shared-data,robot-server): ot3 deck
  api/src/opentrons/protocol_engine/resources/deck_data_provider.py
  api/src/opentrons/protocols/api_support/constants.py
  api/src/opentrons/protocols/context/protocol_api/protocol_context.py
  api/src/opentrons/protocols/geometry/deck.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/protocol_api/test_context.py
  api/tests/opentrons/protocol_engine/conftest.py
  api/tests/opentrons/protocol_engine/resources/test_deck_data_provider.py
  robot-server/robot_server/robot/calibration/check/user_flow.py
  robot-server/robot_server/robot/calibration/constants.py
  robot-server/robot_server/robot/calibration/deck/user_flow.py
  robot-server/robot_server/robot/calibration/pipette_offset/user_flow.py
  robot-server/robot_server/robot/calibration/tip_length/user_flow.py
  shared-data/deck/definitions/2/ot3_standard.json
  shared-data/deck/schemas/2.json
  shared-data/labware/definitions/2/opentrons_1_trash_3200ml_fixed/1.json
Labels: shared data, robot server

#9247 perf(app): memoize command items to reduce rerender on run poll
  app/src/organisms/RunDetails/CommandItem.tsx
  app/src/organisms/RunDetails/CommandList.tsx
  app/src/organisms/RunDetails/__tests__/CommandItem.test.tsx
  app/src/organisms/RunDetails/__tests__/CommandList.test.tsx
Labels: app

#9246 fix(engine): take calibrated tip length into account during tip pickup
  api/src/opentrons/calibration_storage/get.py
  api/src/opentrons/calibration_storage/helpers.py
  api/src/opentrons/protocol_engine/execution/hardware_stopper.py
  api/src/opentrons/protocol_engine/execution/pipetting.py
  api/src/opentrons/protocol_engine/resources/labware_data_provider.py
  api/src/opentrons/protocol_engine/state/geometry.py
  api/src/opentrons/protocol_engine/state/labware.py
  api/src/opentrons/protocols/models/labware_definition.py
  api/tests/opentrons/protocol_engine/execution/mock_defs.py
  api/tests/opentrons/protocol_engine/execution/test_hardware_stopper.py
  api/tests/opentrons/protocol_engine/execution/test_pipetting_handler.py
  api/tests/opentrons/protocol_engine/resources/test_labware_data_provider.py
  api/tests/opentrons/protocol_engine/state/test_geometry_view.py
  api/tests/opentrons/protocol_engine/state/test_labware_view.py
Labels: cpx

#9248 chore(release): bump to 5.0.0-beta.6
  CHANGELOG.md
  api-client/CHANGELOG.md
  api-client/package.json
  api/release-notes.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/build/release-notes.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  notify-server/notify_server/CHANGELOG.md
  notify-server/notify_server/package.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  react-api-client/CHANGELOG.md
  react-api-client/package.json
  robot-server/robot_server/CHANGELOG.md
  robot-server/robot_server/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  step-generation/CHANGELOG.md
  step-generation/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore

#9242 feat(papi): add labware.set_offset for jupyter/cli, bump papi to 2.12
  api/src/opentrons/protocol_api/labware.py
  api/src/opentrons/protocols/api_support/definitions.py
  api/src/opentrons/protocols/api_support/types.py
  api/tests/opentrons/protocol_api/test_labware.py
Labels: cpx

#9261 refactor(robot-server): remove deprecated protocols endpoints and FF
  api/src/opentrons/api/session.py
  api/src/opentrons/api/util.py
  api/src/opentrons/config/advanced_settings.py
  api/src/opentrons/config/feature_flags.py
  api/tests/opentrons/api/test_session.py
  api/tests/opentrons/config/test_advanced_settings_migration.py
  robot-server/robot_server/router.py
  robot-server/robot_server/service/session/session_types/protocol/session.py
  robot-server/tests/integration/test_settings.tavern.yaml
Labels: cpx

#9282 chore(shared-data): default shared-data mypy to strict and add overrides
  shared-data/python/Makefile
  shared-data/python/mypy.ini
  shared-data/python/tests/module/test_load.py
Labels: cpx, Robot Tech Debt

#9295 refactor(app): Use RobotCoordsForeignObject for LPC check DeckMap
  app/src/organisms/ProtocolSetup/LabwarePositionCheck/DeckMap.tsx
  app/src/organisms/ProtocolSetup/LabwarePositionCheck/GenericStepScreen.tsx
  app/src/organisms/ProtocolSetup/LabwarePositionCheck/SummaryScreen.tsx
  app/src/organisms/ProtocolSetup/LabwarePositionCheck/__tests__/DeckMap.test.tsx
  app/src/organisms/ProtocolSetup/LabwarePositionCheck/__tests__/GenericStepScreen.test.tsx
Labels: app

#9273 feat(engine): allow compatible module loads and reloads
  api/src/opentrons/hardware_control/modules/__init__.py
  api/src/opentrons/hardware_control/modules/types.py
  api/src/opentrons/protocol_api/load_info.py
  api/src/opentrons/protocol_api/protocol_context.py
  api/src/opentrons/protocol_engine/commands/load_module.py
  api/src/opentrons/protocol_engine/errors/__init__.py
  api/src/opentrons/protocol_engine/errors/exceptions.py
  api/src/opentrons/protocol_engine/execution/equipment.py
  api/src/opentrons/protocol_engine/execution/thermocycler_movement_flagger.py
  api/src/opentrons/protocol_engine/resources/model_utils.py
  api/src/opentrons/protocol_engine/resources/module_data_provider.py
  api/src/opentrons/protocol_engine/state/__init__.py
  api/src/opentrons/protocol_engine/state/modules.py
  api/src/opentrons/protocol_engine/types.py
  api/src/opentrons/protocol_runner/legacy_command_mapper.py
  api/tests/opentrons/protocol_engine/commands/test_load_module.py
  api/tests/opentrons/protocol_engine/conftest.py
  api/tests/opentrons/protocol_engine/execution/test_equipment_handler.py
  api/tests/opentrons/protocol_engine/execution/test_thermocycler_movement_flagger.py
  api/tests/opentrons/protocol_engine/resources/test_model_utils.py
  api/tests/opentrons/protocol_engine/state/test_module_store.py
  api/tests/opentrons/protocol_engine/state/test_module_view.py
  api/tests/opentrons/protocol_runner/test_legacy_command_mapper.py
  api/tests/opentrons/protocol_runner/test_legacy_context_plugin.py
  shared-data/python/mypy.ini
  shared-data/python/opentrons_shared_data/module/__init__.py
Labels: cpx

#9294 fix(api): filter higher order commands out of legacy command response
  api/src/opentrons/protocol_runner/legacy_command_mapper.py
  api/tests/opentrons/protocol_runner/test_legacy_command_mapper.py
Labels: cpx

#9209 refactor(shared-data,api,components,app,pd): add gen3 pipettes
  api/tests/opentrons/config/test_pipette_config.py
  app/src/organisms/ChangePipette/PipetteSelection.tsx
  components/src/instrument/PipetteSelect.stories.tsx
  protocol-designer/src/components/modals/FilePipettesModal/PipetteFields.tsx
  shared-data/js/constants.ts
  shared-data/pipette/definitions/pipetteModelSpecs.json
  shared-data/pipette/definitions/pipetteNameSpecs.json
  shared-data/python/opentrons_shared_data/pipette/__init__.py
  shared-data/python/opentrons_shared_data/pipette/dev_types.py
Labels: app, api, refactor, protocol designer, shared data, robot server

#9315 docs(protocol-engine): Update loadModule docs to reflect new compatibility semantics
  api/src/opentrons/protocol_engine/commands/load_module.py
Labels: docs, cpx, robot server, protocol-engine

#9275 perf(app): virtualize command list on run detail page
  api-client/src/runs/types.ts
  app/src/assets/localization/en/run_details.json
  app/src/organisms/RunDetails/CommandItem.tsx
  app/src/organisms/RunDetails/CommandList.tsx
  app/src/organisms/RunDetails/CommandText.tsx
  app/src/organisms/RunDetails/CommandTimer.tsx
  app/src/organisms/RunDetails/__tests__/CommandItem.test.tsx
  app/src/organisms/RunDetails/__tests__/CommandTimer.test.tsx
Labels: app

#9311 refactor(app): add advanced setting gated link to raw labware offset data for jupyter/cli execution
  app/src/assets/localization/en/protocol_info.json
  app/src/assets/localization/en/protocol_setup.json
  app/src/molecules/PythonLabwareOffsetSnippet/__tests__/createSnippet.test.ts
  app/src/molecules/PythonLabwareOffsetSnippet/createSnippet.ts
  app/src/molecules/PythonLabwareOffsetSnippet/index.tsx
  app/src/organisms/ProtocolSetup/LabwarePositionCheck/LabwareOffsetsSummary.tsx
  app/src/organisms/ProtocolSetup/LabwarePositionCheck/hooks/useLabwareOffsets.ts
  app/src/organisms/ProtocolSetup/LabwarePositionCheck/hooks/useLabwarePositionCheck.ts
  app/src/organisms/ProtocolSetup/RunSetupCard/LabwareSetup/LabwareInfoOverlay.tsx
  app/src/organisms/ProtocolSetup/RunSetupCard/LabwareSetup/__tests__/LabwareInfoOverlay.test.tsx
  app/src/organisms/ProtocolSetup/RunSetupCard/LabwareSetup/__tests__/LabwareSetup.test.tsx
  app/src/organisms/ProtocolSetup/RunSetupCard/LabwareSetup/index.tsx
  app/src/organisms/ProtocolSetup/utils/__test__/getLabwareDefinitionUri.test.ts
  app/src/organisms/ProtocolSetup/utils/getLabwareDefinitionUri.ts
  app/src/organisms/ProtocolUpload/DownloadOffsetDataModal.tsx
  app/src/organisms/ProtocolUpload/UploadInput.tsx
  app/src/organisms/ProtocolUpload/index.tsx
  shared-data/js/types.ts
  shared-data/protocol/fixtures/6/transferSettings.json
Labels: app

#9296 refactor(robot-server): remove unused experimental /protocols code
  robot-server/mypy.ini
  robot-server/robot_server/app_setup.py
  robot-server/robot_server/service/dependencies.py
  robot-server/robot_server/service/protocol/__init__.py
  robot-server/robot_server/service/protocol/analyze.py
  robot-server/robot_server/service/protocol/contents.py
  robot-server/robot_server/service/protocol/environment.py
  robot-server/robot_server/service/protocol/errors.py
  robot-server/robot_server/service/protocol/manager.py
  robot-server/robot_server/service/protocol/models.py
  robot-server/robot_server/service/protocol/protocol.py
  robot-server/robot_server/service/protocol/router.py
  robot-server/robot_server/service/session/configuration.py
  robot-server/robot_server/service/session/manager.py
  robot-server/robot_server/service/session/models/session.py
  robot-server/robot_server/service/session/session_types/__init__.py
  robot-server/robot_server/service/session/session_types/protocol/__init__.py
  robot-server/robot_server/service/session/session_types/protocol/execution/__init__.py
  robot-server/robot_server/service/session/session_types/protocol/execution/command_executor.py
  robot-server/robot_server/service/session/session_types/protocol/execution/protocol_runner.py
  robot-server/robot_server/service/session/session_types/protocol/execution/worker.py
  robot-server/robot_server/service/session/session_types/protocol/models.py
  robot-server/robot_server/service/session/session_types/protocol/session.py
  robot-server/robot_server/settings.py
  robot-server/tests/conftest.py
  robot-server/tests/integration/sessions/test_protocol.tavern_outdated.yaml
  robot-server/tests/service/protocol/__init__.py
  robot-server/tests/service/protocol/test_analyze.py
  robot-server/tests/service/protocol/test_contents.py
  robot-server/tests/service/protocol/test_environment.py
  robot-server/tests/service/protocol/test_manager.py
  robot-server/tests/service/session/session_types/protocol/__init__.py
  robot-server/tests/service/session/session_types/protocol/execution/__init__.py
  robot-server/tests/service/session/session_types/protocol/execution/test_command_executor.py
  robot-server/tests/service/session/session_types/protocol/execution/test_protocol_runner.py
  robot-server/tests/service/session/session_types/protocol/execution/test_worker.py
Labels: cpx

#9301 refactor(engine): pause when doors are opened
  api/src/opentrons/protocol_engine/actions/__init__.py
  api/src/opentrons/protocol_engine/actions/actions.py
  api/src/opentrons/protocol_engine/create_protocol_engine.py
  api/src/opentrons/protocol_engine/errors/__init__.py
  api/src/opentrons/protocol_engine/errors/exceptions.py
  api/src/opentrons/protocol_engine/protocol_engine.py
  api/src/opentrons/protocol_engine/state/commands.py
  api/src/opentrons/protocol_engine/state/state.py
  api/src/opentrons/protocol_engine/types.py
  api/src/opentrons/protocol_runner/legacy_context_plugin.py
  api/src/opentrons/protocol_runner/protocol_runner.py
  api/tests/opentrons/protocol_engine/state/test_command_store.py
  api/tests/opentrons/protocol_engine/state/test_command_view.py
  api/tests/opentrons/protocol_engine/state/test_state_store.py
  api/tests/opentrons/protocol_engine/test_create_protocol_engine.py
  api/tests/opentrons/protocol_engine/test_protocol_engine.py
  api/tests/opentrons/protocol_runner/test_legacy_context_plugin.py
Labels: cpx

#9330 refactor(app): split useCurrentProtocolRun into createRun, currentRun, and currentProtocol
  app/src/organisms/Devices/RobotStatusBanner.tsx
  app/src/organisms/Devices/__tests__/RobotStatusBanner.test.tsx
  app/src/organisms/Devices/__tests__/hooks.test.tsx
  app/src/organisms/Devices/hooks.ts
  app/src/organisms/ProtocolSetup/LabwareOffsetSuccessToast.tsx
  app/src/organisms/ProtocolSetup/LabwarePositionCheck/IntroScreen.tsx
  app/src/organisms/ProtocolSetup/LabwarePositionCheck/SummaryScreen.tsx
  app/src/organisms/ProtocolSetup/LabwarePositionCheck/__tests__/IntroScreen.test.tsx
  app/src/organisms/ProtocolSetup/LabwarePositionCheck/hooks/__tests__/useLabwarePositionCheck.test.tsx
  app/src/organisms/ProtocolSetup/LabwarePositionCheck/hooks/useLabwarePositionCheck.ts
  app/src/organisms/ProtocolSetup/RunSetupCard/LabwareSetup/LabwareInfoOverlay.tsx
  app/src/organisms/ProtocolSetup/RunSetupCard/LabwareSetup/__tests__/LabwareInfoOverlay.test.tsx
  app/src/organisms/ProtocolSetup/__tests__/LabwareOffsetSuccessToast.test.tsx
  app/src/organisms/ProtocolSetup/__tests__/hooks.test.tsx
  app/src/organisms/ProtocolSetup/hooks.ts
  app/src/organisms/ProtocolUpload/DownloadOffsetDataModal.tsx
  app/src/organisms/ProtocolUpload/__tests__/ProtocolUpload.test.tsx
  app/src/organisms/ProtocolUpload/hooks/index.ts
  app/src/organisms/ProtocolUpload/hooks/useCloseCurrentRun.ts
  app/src/organisms/ProtocolUpload/hooks/useCreateRun.ts
  app/src/organisms/ProtocolUpload/hooks/useCurrentProtocol.ts
  app/src/organisms/ProtocolUpload/hooks/useCurrentProtocolRun.ts
  app/src/organisms/ProtocolUpload/hooks/useCurrentRun.ts
  app/src/organisms/ProtocolUpload/index.tsx
  app/src/organisms/RunDetails/CommandList.tsx
  app/src/organisms/RunDetails/Fixture_commandSummary.json
  app/src/organisms/RunDetails/Fixture_commands.json
  app/src/organisms/RunDetails/__fixtures__/analysis.json
  app/src/organisms/RunDetails/__fixtures__/runRecord.json
  app/src/organisms/RunDetails/__tests__/CommandList.test.tsx
  app/src/organisms/RunDetails/hooks.ts
  app/src/organisms/RunTimeControl/__tests__/hooks.test.tsx
  app/src/organisms/RunTimeControl/hooks.ts
Labels: app

#9332 perf(robot-server, api-client): return summaries from `GET /runs`
  .eslintignore
  api-client/src/runs/getRuns.ts
  api-client/src/runs/types.ts
  api-client/src/types.ts
  app/src/organisms/ProtocolUpload/__tests__/getRunDisplayStatus.test.ts
  app/src/organisms/RunTimeControl/__tests__/hooks.test.tsx
  react-api-client/src/runs/__fixtures__/runs.ts
  react-api-client/src/runs/__tests__/useAllRunsQuery.test.tsx
  react-api-client/src/runs/useAllRunsQuery.ts
  robot-server/robot_server/runs/router/base_router.py
  robot-server/robot_server/runs/run_models.py
  robot-server/tests/runs/router/test_base_router.py
Labels: cpx

#9333 fix(app): fix loading and disabling of run cta button to avoid infinite spinner
  app/src/organisms/RunTimeControl/Timer.tsx
  app/src/organisms/RunTimeControl/__tests__/Timer.test.tsx
  app/src/organisms/RunTimeControl/index.tsx
Labels: app, fix

#9338 refactor(app): remove possibility of network calls from command item for timing information
  app/src/organisms/RunDetails/CommandItem.tsx
  app/src/organisms/RunDetails/CommandList.tsx
  app/src/organisms/RunDetails/CommandTimer.tsx
  app/src/organisms/RunDetails/__tests__/CommandItem.test.tsx
  app/src/organisms/RunDetails/__tests__/CommandTimer.test.tsx
  app/src/organisms/RunTimeControl/utils.ts
Labels: app
