Repository Opentrons/opentrons, pull requests merged in 2022-09, with the labels that each got.

#11406 docs(protocol-engine) Clarify `pipetteRetracted` field
  api/src/opentrons/protocol_engine/commands/heater_shaker/open_labware_latch.py
  api/src/opentrons/protocol_engine/commands/heater_shaker/set_and_wait_for_shake_speed.py
Labels: docs, protocol-engine

#11425 feat(hardware): ot3: set per-axis max speeds
  api/src/opentrons/config/defaults_ot3.py
  api/src/opentrons/hardware_control/backends/ot3utils.py
  api/tests/opentrons/config/ot3_settings.py
  hardware/opentrons_hardware/hardware_control/motion_planning/move_manager.py
  hardware/opentrons_hardware/hardware_control/motion_planning/move_utils.py
  hardware/opentrons_hardware/hardware_control/motion_planning/types.py
  hardware/tests/opentrons_hardware/hardware_control/test_motion_plan.py
  hardware/tests/opentrons_hardware/hardware_control/test_move_utils.py
Labels: api, hardware

#11407 feat(protocol-engine): Add provisional `moveLabware` command
  api/src/opentrons/protocol_engine/commands/__init__.py
  api/src/opentrons/protocol_engine/commands/command_unions.py
  api/src/opentrons/protocol_engine/commands/load_labware.py
  api/src/opentrons/protocol_engine/commands/move_labware.py
  api/src/opentrons/protocol_engine/execution/equipment.py
  api/src/opentrons/protocol_engine/state/labware.py
  api/src/opentrons/protocol_engine/state/pipettes.py
  api/src/opentrons/protocol_engine/types.py
  api/tests/opentrons/protocol_engine/commands/test_move_labware.py
  api/tests/opentrons/protocol_engine/execution/test_equipment_handler.py
  api/tests/opentrons/protocol_engine/state/test_pipette_store.py
  robot-server/robot_server/protocols/analysis_models.py
  shared-data/protocol/fixtures/7/moveLabware.json
  shared-data/protocol/schemas/7-draft.json
Labels: api, robot-svcs, robot server, protocol-engine

#11450 test(robot-server): Optimize the integration test for resetting runs history
  robot-server/tests/integration/http_api/persistence/__init__.py
  robot-server/tests/integration/http_api/persistence/test_reset.py
Labels: robot server

#11437 refactor(api): add initial ModuleCore tests and interfaces
  api/src/opentrons/protocol_api/core/engine/module_core.py
  api/src/opentrons/protocol_api/core/engine/protocol.py
  api/src/opentrons/protocol_api/core/module.py
  api/src/opentrons/protocol_api/core/protocol.py
  api/src/opentrons/protocol_api/core/protocol_api/legacy_module_core.py
  api/src/opentrons/protocol_api/core/protocol_api/protocol_context.py
  api/src/opentrons/protocol_api/core/simulator/protocol_context.py
  api/src/opentrons/protocol_api/create_protocol_context.py
  api/src/opentrons/protocol_api/protocol_context.py
  api/src/opentrons/protocol_api/validation.py
  api/src/opentrons/protocols/geometry/deck.py
  api/tests/opentrons/protocol_api/test_protocol_context.py
  api/tests/opentrons/protocol_api/test_validation.py
  api/tests/opentrons/protocol_api/types.py
  api/tests/opentrons/protocol_api_old/core/simulator/test_protocol_context.py
  api/tests/opentrons/protocol_api_old/test_module_context.py
Labels: api, papi-v2, robot-svcs

#11449 refactor(api): incorporate module core into non-engine PAPI
  api/src/opentrons/protocol_api/core/engine/protocol.py
  api/src/opentrons/protocol_api/core/module.py
  api/src/opentrons/protocol_api/core/protocol.py
  api/src/opentrons/protocol_api/core/protocol_api/legacy_module_core.py
  api/src/opentrons/protocol_api/core/protocol_api/protocol_context.py
  api/src/opentrons/protocol_api/instrument_context.py
  api/src/opentrons/protocol_api/module_contexts.py
  api/src/opentrons/protocol_api/protocol_context.py
  api/src/opentrons/protocols/geometry/deck.py
  api/src/opentrons/protocols/geometry/module_geometry.py
  api/tests/opentrons/protocol_api/core/legacy/test_legacy_module_core.py
  api/tests/opentrons/protocol_api/core/legacy/test_protocol_context_implementation.py
  api/tests/opentrons/protocol_api/test_module_context.py
  api/tests/opentrons/protocol_api/test_protocol_context.py
  api/tests/opentrons/protocol_api_old/test_instrument_context.py
  api/tests/opentrons/protocol_api_old/test_module_context.py
Labels: papi-v2, robot-svcs

#11451 feat(api): Add labware, modules, liquids, and pipettes to cli analyze result
  api/src/opentrons/cli/analyze.py
  api/tests/opentrons/cli/test_cli.py
  shared-data/protocol/fixtures/6/multipleTipracks.json
Labels: robot-svcs

#11457 fix(api): Disallow uploading a protocol with non matching references
  api/tests/opentrons/protocol_runner/test_json_command_translator.py
  shared-data/protocol/fixtures/6/multipleTipracks.json
  shared-data/python/opentrons_shared_data/protocol/models/protocol_schema_v6.py
  shared-data/python/tests/protocol/test_protocol_schema_v6.py
Labels: robot-svcs

#11487 fix(api): fixed failing test on edge after adding pydantic validator
  api/tests/opentrons/protocol_runner/test_json_translator.py
Labels: robot-svcs

#11500 feat(api, robot-server): add thermocycler lid temperature status to get modules endpoint
  api/src/opentrons/hardware_control/modules/thermocycler.py
  api/tests/opentrons/hardware_control/test_simulator_setup.py
  robot-server/robot_server/modules/module_data_mapper.py
  robot-server/robot_server/modules/module_models.py
  robot-server/tests/integration/test_modules.tavern.yaml
  robot-server/tests/modules/test_module_data_mapper.py
Labels: robot-svcs, robot server

#11509 fix(engine): thermocycler gen 2 dodging
  api/src/opentrons/protocol_engine/state/modules.py
  api/tests/opentrons/protocol_engine/state/test_module_view.py
Labels: robot-svcs, protocol-engine

#11482 feat(api): Enable calibrate-pipette command for OT3 hardware
  api/Makefile
  api/src/opentrons/hardware_control/ot3_calibration.py
  api/src/opentrons/hardware_control/types.py
  api/src/opentrons/protocol_engine/commands/__init__.py
  api/src/opentrons/protocol_engine/commands/calibration/__init__.py
  api/src/opentrons/protocol_engine/commands/calibration/calibrate_pipette.py
  api/src/opentrons/protocol_engine/commands/command_unions.py
  api/src/opentrons/protocol_engine/commands/validation.py
  api/src/opentrons/protocol_engine/errors/exceptions.py
  api/tests/opentrons/protocol_engine/commands/calibration/test_calibrate_pipette.py
  api/tests/opentrons/protocol_engine/commands/conftest.py
  api/tests/opentrons/protocol_engine/commands/test_validation.py
  hardware-testing/Pipfile.lock
Labels: robot-svcs
