Repository Opentrons/opentrons, pull requests merged in 2022-02, with the labels that each got.

#9337 perf(robot-server, app): remove commands from GET /runs/:run_id
  api-client/src/runs/types.ts
  app/src/App/__tests__/hooks.test.tsx
  app/src/App/hooks.ts
  app/src/molecules/PythonLabwareOffsetSnippet/index.tsx
  app/src/organisms/Devices/__tests__/hooks.test.tsx
  app/src/organisms/Devices/hooks.ts
  app/src/organisms/ProtocolSetup/LabwareOffsetSuccessToast.tsx
  app/src/organisms/ProtocolSetup/LabwarePositionCheck/GenericStepScreen.tsx
  app/src/organisms/ProtocolSetup/LabwarePositionCheck/SummaryScreen.tsx
  app/src/organisms/ProtocolSetup/LabwarePositionCheck/__tests__/SummaryScreen.test.tsx
  app/src/organisms/ProtocolSetup/LabwarePositionCheck/hooks/__tests__/useLabwarePositionCheck.test.tsx
  app/src/organisms/ProtocolSetup/LabwarePositionCheck/hooks/useLabwarePositionCheck.ts
  app/src/organisms/ProtocolUpload/DownloadOffsetDataModal.tsx
  app/src/organisms/ProtocolUpload/__tests__/ProtocolUpload.test.tsx
  app/src/organisms/ProtocolUpload/__tests__/getRunDisplayStatus.test.ts
  app/src/organisms/ProtocolUpload/hooks/index.ts
  app/src/organisms/ProtocolUpload/hooks/useCloseCurrentRun.ts
  app/src/organisms/ProtocolUpload/hooks/useCurrentProtocol.ts
  app/src/organisms/ProtocolUpload/hooks/useCurrentRunCommands.ts
  app/src/organisms/ProtocolUpload/hooks/useIsProtocolRunLoaded.ts
  app/src/organisms/ProtocolUpload/index.tsx
  app/src/organisms/RunDetails/CommandList.tsx
  app/src/organisms/RunDetails/__tests__/CommandList.test.tsx
  app/src/organisms/RunDetails/__tests__/RunDetails.test.tsx
  app/src/organisms/RunDetails/hooks.ts
  app/src/organisms/RunDetails/index.tsx
  app/src/organisms/RunTimeControl/__tests__/hooks.test.tsx
  app/src/organisms/RunTimeControl/hooks.ts
  react-api-client/src/runs/__fixtures__/runs.ts
  react-api-client/src/runs/useAllCommandsQuery.ts
  robot-server/robot_server/runs/router/base_router.py
  robot-server/robot_server/runs/router/commands_router.py
  robot-server/robot_server/runs/run_models.py
  robot-server/tests/runs/router/test_base_router.py
  robot-server/tests/runs/router/test_commands_router.py
Labels: app, cpx

#9351 docs(api,robot-server): Flesh out how labware offsets on modules work
  api/src/opentrons/protocol_api/labware_offset_provider.py
  api/src/opentrons/protocol_engine/commands/load_module.py
  api/src/opentrons/protocol_engine/state/labware.py
  api/src/opentrons/protocol_engine/types.py
  api/src/opentrons/protocol_runner/legacy_labware_offset_provider.py
Labels: api, docs, robot server, protocol-engine

#9353 fix(app): while closing a protocol run, place loading spinner over whole app
  app/src/organisms/RunDetails/index.tsx
Labels: app

#9348 perf(robot-server): paginate /runs/:run_id/commands response
  api-client/src/runs/commands/getCommands.ts
  api-client/src/runs/commands/types.ts
  api-client/src/runs/types.ts
  api/src/opentrons/protocol_engine/__init__.py
  api/src/opentrons/protocol_engine/commands/__init__.py
  api/src/opentrons/protocol_engine/commands/command_unions.py
  api/src/opentrons/protocol_engine/state/__init__.py
  api/src/opentrons/protocol_engine/state/commands.py
  api/tests/opentrons/protocol_engine/state/test_command_view.py
  app/src/organisms/ProtocolUpload/LastRun.tsx
  app/src/organisms/ProtocolUpload/UploadInput.tsx
  app/src/organisms/ProtocolUpload/__tests__/LastRun.test.tsx
  app/src/organisms/ProtocolUpload/__tests__/UploadInput.test.tsx
  app/src/organisms/ProtocolUpload/hooks/useCurrentRun.ts
  app/src/organisms/ProtocolUpload/hooks/useCurrentRunCommands.ts
  app/src/organisms/RunDetails/CommandItem.tsx
  app/src/organisms/RunDetails/CommandList.tsx
  app/src/organisms/RunDetails/CommandText.tsx
  app/src/organisms/RunDetails/ProtocolSetupInfo.tsx
  app/src/organisms/RunDetails/__tests__/CommandItem.test.tsx
  app/src/organisms/RunDetails/__tests__/CommandText.test.tsx
  app/src/organisms/RunDetails/__tests__/RunDetails.test.tsx
  app/src/organisms/RunDetails/index.tsx
  app/src/organisms/RunTimeControl/Timer.tsx
  app/src/organisms/RunTimeControl/__tests__/RunTimeControl.test.tsx
  app/src/organisms/RunTimeControl/__tests__/Timer.test.tsx
  app/src/organisms/RunTimeControl/__tests__/hooks.test.tsx
  app/src/organisms/RunTimeControl/hooks.ts
  react-api-client/src/runs/__fixtures__/runCommands.ts
  react-api-client/src/runs/__tests__/useAllCommandsQuery.test.tsx
  react-api-client/src/runs/useAllCommandsQuery.ts
  react-api-client/src/runs/useAllRunsQuery.ts
  react-api-client/src/runs/useRunQuery.ts
  robot-server/mypy.ini
  robot-server/robot_server/protocols/router.py
  robot-server/robot_server/runs/router/base_router.py
  robot-server/robot_server/runs/router/commands_router.py
  robot-server/robot_server/runs/run_models.py
  robot-server/robot_server/service/json_api/__init__.py
  robot-server/robot_server/service/json_api/response.py
  robot-server/tests/protocols/test_protocols_router.py
  robot-server/tests/runs/router/test_base_router.py
  robot-server/tests/runs/router/test_commands_router.py
  robot-server/tests/service/json_api/test_request.py
  robot-server/tests/service/json_api/test_resource_links.py
  robot-server/tests/service/json_api/test_response.py
  robot-server/tests/service/test_logging.py
Labels: app, cpx

#9376 style(python): upgrade black formatter to 22.1.0 stable
  .gitignore
  Makefile
  api/Pipfile
  api/Pipfile.lock
  api/src/opentrons/protocols/duration/estimator.py
  api/src/opentrons/types.py
  api/tests/opentrons/protocols/duration/test_estimator.py
  app-testing/Pipfile
  app-testing/Pipfile.lock
  g-code-testing/Pipfile
  g-code-testing/Pipfile.lock
  hardware/Pipfile
  hardware/Pipfile.lock
  hardware/opentrons_hardware/hardware_control/motion_planning/move_utils.py
  hardware/opentrons_hardware/hardware_control/motion_planning/types.py
  hardware/opentrons_hardware/hardware_control/move_group_runner.py
  hardware/tests/opentrons_hardware/hardware_control/test_move_group_runner.py
  notify-server/Pipfile
  notify-server/Pipfile.lock
  robot-server/Pipfile
  robot-server/Pipfile.lock
  robot-server/tests/service/legacy/routers/test_settings.py
  shared-data/Makefile
  shared-data/python/Makefile
  shared-data/python/Pipfile
  shared-data/python/Pipfile.lock
  shared-data/python/opentrons_shared_data/__init__.py
  shared-data/python/opentrons_shared_data/deck/__init__.py
  shared-data/python/opentrons_shared_data/deck/dev_types.py
  shared-data/python/opentrons_shared_data/labware/__init__.py
  shared-data/python/opentrons_shared_data/labware/constants.py
  shared-data/python/opentrons_shared_data/labware/dev_types.py
  shared-data/python/opentrons_shared_data/load.py
  shared-data/python/opentrons_shared_data/module/__init__.py
  shared-data/python/opentrons_shared_data/module/dev_types.py
  shared-data/python/opentrons_shared_data/pipette/__init__.py
  shared-data/python/opentrons_shared_data/pipette/dev_types.py
  shared-data/python/opentrons_shared_data/protocol/__init__.py
  shared-data/python/opentrons_shared_data/protocol/constants.py
  shared-data/python/opentrons_shared_data/protocol/dev_types.py
  shared-data/python/setup.py
  shared-data/python/tests/deck/__init__.py
  shared-data/python/tests/deck/test_typechecks.py
  shared-data/python/tests/labware/__init__.py
  shared-data/python/tests/labware/test_typechecks.py
  shared-data/python/tests/module/__init__.py
  shared-data/python/tests/module/test_load.py
  shared-data/python/tests/module/test_typechecks.py
  shared-data/python/tests/pipette/test_typechecks.py
  shared-data/python/tests/protocol/__init__.py
  shared-data/python/tests/protocol/test_typechecks.py
  update-server/Pipfile
  update-server/Pipfile.lock
  update-server/otupdate/common/name_management.py
Labels: cpx, Robot Tech Debt

#9383 refactor(api): remove dead RPC API code
  api/.flake8
  api/mypy.ini
  api/src/opentrons/api/__init__.py
  api/src/opentrons/api/calibration.py
  api/src/opentrons/api/dev_types.py
  api/src/opentrons/api/models.py
  api/src/opentrons/api/routers.py
  api/src/opentrons/api/session.py
  api/src/opentrons/api/util.py
  api/src/opentrons/broker.py
  api/src/opentrons/commands/publisher.py
  api/src/opentrons/commands/util.py
  api/src/opentrons/execute.py
  api/tests/__init__.py
  api/tests/opentrons/__init__.py
  api/tests/opentrons/api/__init__.py
  api/tests/opentrons/api/test_calibration.py
  api/tests/opentrons/api/test_session.py
  api/tests/opentrons/commands/test_publisher.py
  api/tests/opentrons/commands/test_tree.py
  api/tests/opentrons/conftest.py
Labels: cpx, Robot Tech Debt

#9384 refactor(protocol-engine): Merge APIv2 equipment brokers
  api/src/opentrons/protocol_api/load_info.py
  api/src/opentrons/protocol_api/module_contexts.py
  api/src/opentrons/protocol_api/protocol_context.py
  api/src/opentrons/protocol_runner/legacy_command_mapper.py
  api/src/opentrons/protocol_runner/legacy_context_plugin.py
  api/src/opentrons/protocol_runner/legacy_wrappers.py
  api/tests/opentrons/protocol_runner/test_legacy_command_mapper.py
  api/tests/opentrons/protocol_runner/test_legacy_context_plugin.py
Labels: api, refactor, papi-v2, cpx, protocol-engine

#9386 refactor(api): remove HardwareManager from protocol implementation
  .gitignore
  Pipfile.lock
  api/mypy.ini
  api/src/opentrons/execute.py
  api/src/opentrons/hardware_control/__init__.py
  api/src/opentrons/protocol_api/module_contexts.py
  api/src/opentrons/protocol_api/protocol_context.py
  api/src/opentrons/protocol_runner/create_simulating_runner.py
  api/src/opentrons/protocol_runner/legacy_wrappers.py
  api/src/opentrons/protocol_runner/protocol_runner.py
  api/src/opentrons/protocols/api_support/util.py
  api/src/opentrons/protocols/context/protocol.py
  api/src/opentrons/protocols/context/protocol_api/instrument_context.py
  api/src/opentrons/protocols/context/protocol_api/paired_instrument.py
  api/src/opentrons/protocols/context/protocol_api/protocol_context.py
  api/src/opentrons/protocols/context/simulator/instrument_context.py
  api/src/opentrons/protocols/context/simulator/protocol_context.py
  api/src/opentrons/simulate.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/hardware_control/emulation/test_proxy.py
  api/tests/opentrons/protocol_api/test_context.py
  api/tests/opentrons/protocol_api/test_instrument.py
  api/tests/opentrons/protocol_api/test_labware.py
  api/tests/opentrons/protocol_api/test_module_context.py
  api/tests/opentrons/protocol_api/test_offsets.py
  api/tests/opentrons/protocol_api/test_paired_context.py
  api/tests/opentrons/protocols/advanced_control/test_transfers.py
  api/tests/opentrons/protocols/api_support/test_util.py
  api/tests/opentrons/protocols/context/simulator/conftest.py
  api/tests/opentrons/protocols/test_parse.py
  g-code-testing/g_code_parsing/g_code_engine.py
Labels: cpx, Robot Tech Debt

#9364 fix(protocol-engine): Preserve distinction between APIv2 protocols' requested vs. connected modules
  api/src/opentrons/protocol_api/labware_offset_provider.py
  api/src/opentrons/protocol_api/load_info.py
  api/src/opentrons/protocol_api/module_contexts.py
  api/src/opentrons/protocol_api/protocol_context.py
  api/src/opentrons/protocol_engine/types.py
  api/src/opentrons/protocol_runner/legacy_command_mapper.py
  api/src/opentrons/protocol_runner/legacy_labware_offset_provider.py
  api/src/opentrons/protocols/context/protocol.py
  api/src/opentrons/protocols/context/protocol_api/protocol_context.py
  api/src/opentrons/protocols/geometry/module_geometry.py
  api/tests/opentrons/protocol_runner/test_legacy_command_mapper.py
  api/tests/opentrons/protocol_runner/test_legacy_context_plugin.py
  api/tests/opentrons/protocol_runner/test_legacy_labware_offset_provider.py
Labels: api, fix, papi-v2, cpx, protocol-engine

#9398 feat(components): Add design system constants to components library
  app/src/atoms/text/StyledText.tsx
  app/src/atoms/text/index.ts
  components/src/index.ts
  components/src/ui-style-constants/colors.ts
  components/src/ui-style-constants/index.ts
  components/src/ui-style-constants/spacing.ts
  components/src/ui-style-constants/typography.ts
Labels: app, components

#9407 fix(api): add missing format string to TC command message text
  api/src/opentrons/commands/module_commands.py
  api/src/opentrons/protocol_api/protocol_context.py
Labels: api, fix, cpx

#9399 refactor(api): Remove pipette pairing
  api/docs/hardware/hc_api.rst
  api/docs/hardware/index.rst
  api/src/opentrons/commands/paired_commands.py
  api/src/opentrons/commands/types.py
  api/src/opentrons/hardware_control/api.py
  api/src/opentrons/hardware_control/instrument_handler.py
  api/src/opentrons/hardware_control/motion_utilities.py
  api/src/opentrons/hardware_control/ot3api.py
  api/src/opentrons/hardware_control/protocols/instrument_configurer.py
  api/src/opentrons/hardware_control/protocols/liquid_handler.py
  api/src/opentrons/hardware_control/protocols/motion_controller.py
  api/src/opentrons/hardware_control/types.py
  api/src/opentrons/protocol_api/__init__.py
  api/src/opentrons/protocol_api/contexts.py
  api/src/opentrons/protocol_api/instrument_context.py
  api/src/opentrons/protocol_api/labware.py
  api/src/opentrons/protocol_api/paired_instrument_context.py
  api/src/opentrons/protocol_api_experimental/pipette_context.py
  api/src/opentrons/protocol_runner/legacy_command_mapper.py
  api/src/opentrons/protocols/context/instrument.py
  api/src/opentrons/protocols/context/paired_instrument.py
  api/src/opentrons/protocols/context/protocol_api/instrument_context.py
  api/src/opentrons/protocols/context/protocol_api/paired_instrument.py
  api/src/opentrons/protocols/context/simulator/instrument_context.py
  api/src/opentrons/protocols/context/simulator/paired_instrument.py
  api/src/opentrons/protocols/duration/estimator.py
  api/tests/opentrons/hardware_control/test_instruments.py
  api/tests/opentrons/hardware_control/test_paired_pipettes.py
  api/tests/opentrons/protocol_api/test_context.py
  api/tests/opentrons/protocol_api/test_paired_context.py
  api/tests/opentrons/protocols/context/simulator/conftest.py
  api/tests/opentrons/protocols/context/simulator/test_paired_instrument.py
Labels: api, refactor

#9408 refactor(api): ot3: limit move command targets
  api/src/opentrons/hardware_control/backends/ot3controller.py
  api/src/opentrons/hardware_control/backends/ot3simulator.py
  api/src/opentrons/hardware_control/ot3api.py
  api/tests/opentrons/hardware_control/backends/test_ot3_controller.py
  hardware/opentrons_hardware/hardware_control/motion.py
  hardware/opentrons_hardware/hardware_control/network.py
  hardware/tests/opentrons_hardware/hardware_control/test_motion.py
  hardware/tests/opentrons_hardware/hardware_control/test_network.py
Labels: refactor

#9392 refactor(api): enforce strict typing of opentrons.protocol_api module
  api/mypy.ini
  api/src/opentrons/hardware_control/modules/magdeck.py
  api/src/opentrons/hardware_control/modules/tempdeck.py
  api/src/opentrons/protocol_api/instrument_context.py
  api/src/opentrons/protocol_api/labware.py
  api/src/opentrons/protocol_api/module_contexts.py
  api/src/opentrons/protocol_api/protocol_context.py
  api/src/opentrons/protocols/context/protocol_api/protocol_context.py
  api/src/opentrons/protocols/geometry/deck.py
  api/src/opentrons/protocols/geometry/deck_item.py
Labels: cpx, Robot Tech Debt

#9400 fix(robot-server): add current command metadata to /commands response
  api/src/opentrons/protocol_engine/__init__.py
  api/src/opentrons/protocol_engine/state/__init__.py
  api/src/opentrons/protocol_engine/state/commands.py
  api/tests/opentrons/protocol_engine/state/command_fixtures.py
  api/tests/opentrons/protocol_engine/state/test_command_store.py
  api/tests/opentrons/protocol_engine/state/test_command_view.py
  robot-server/robot_server/protocols/router.py
  robot-server/robot_server/runs/router/base_router.py
  robot-server/robot_server/runs/router/commands_router.py
  robot-server/robot_server/service/json_api/response.py
  robot-server/tests/protocols/test_protocols_router.py
  robot-server/tests/runs/router/test_base_router.py
  robot-server/tests/runs/router/test_commands_router.py
  robot-server/tests/service/json_api/test_response.py
Labels: cpx, protocol-engine

#9406 fix(shared-data): Update shop links for alumn block nest
  shared-data/labware/definitions/2/opentrons_24_aluminumblock_nest_0.5ml_screwcap/1.json
  shared-data/labware/definitions/2/opentrons_24_aluminumblock_nest_1.5ml_screwcap/1.json
  shared-data/labware/definitions/2/opentrons_24_aluminumblock_nest_1.5ml_snapcap/1.json
  shared-data/labware/definitions/2/opentrons_24_aluminumblock_nest_2ml_screwcap/1.json
  shared-data/labware/definitions/2/opentrons_24_aluminumblock_nest_2ml_snapcap/1.json
Labels: labware

#9358 feat(app): Add protocol landing page empty state
  app/src/App/NextGenApp.tsx
  app/src/assets/localization/en/protocol_info.json
  app/src/organisms/Protocols/EmptyStateLinks.tsx
  app/src/organisms/Protocols/ProtocolsEmptyState.tsx
  app/src/organisms/Protocols/UploadInput.tsx
  app/src/organisms/Protocols/__tests__/EmptyStateLinks.test.tsx
  app/src/organisms/Protocols/__tests__/UploadInput.test.tsx
  app/src/pages/Protocols/ProtocolsLanding/index.tsx
Labels: app

#9435 fix(app): display runtime errors in run detail header
  app/src/organisms/RunDetails/CommandList.tsx
  app/src/organisms/RunDetails/__tests__/CommandList.test.tsx
  app/src/organisms/RunTimeControl/__tests__/hooks.test.tsx
  app/src/organisms/RunTimeControl/hooks.ts
Labels: app, fix

#9438 chore(release): 5.0.0-beta.10
  CHANGELOG.md
  api-client/CHANGELOG.md
  api-client/package.json
  api/release-notes.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/build/release-notes.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  notify-server/notify_server/CHANGELOG.md
  notify-server/notify_server/package.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  react-api-client/CHANGELOG.md
  react-api-client/package.json
  robot-server/robot_server/CHANGELOG.md
  robot-server/robot_server/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  step-generation/CHANGELOG.md
  step-generation/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore, release 🚢

#9447 refactor(protocol-engine): Revise `wait_for()` docstring
  api/src/opentrons/protocol_engine/state/state.py
Labels: refactor, docs, cpx, protocol-engine

#9460 refactor(engine): allow module loads to be analyzed in PAPIv3
  api/src/opentrons/protocol_engine/__init__.py
  api/src/opentrons/protocol_engine/commands/load_module.py
  api/src/opentrons/protocol_engine/execution/equipment.py
  api/src/opentrons/protocol_engine/state/configs.py
  api/src/opentrons/protocol_runner/create_simulating_runner.py
  api/src/opentrons/protocol_runner/protocol_runner.py
  api/tests/opentrons/protocol_engine/execution/test_equipment_handler.py
  api/tests/opentrons/protocol_runner/smoke_tests/conftest.py
  api/tests/opentrons/protocol_runner/smoke_tests/test_protocol_runner.py
  robot-server/tests/protocols/test_protocol_analyzer.py
Labels: cpx

#9464 fix(app): show run errors in banner if run fails, hide errors if canceled
  app/src/organisms/RunDetails/CommandList.tsx
  app/src/organisms/RunDetails/__tests__/CommandList.test.tsx
Labels: app, fix

#9468 chore(release): 5.0.0-beta.11
  CHANGELOG.md
  api-client/CHANGELOG.md
  api-client/package.json
  api/release-notes.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/build/release-notes.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  notify-server/notify_server/CHANGELOG.md
  notify-server/notify_server/package.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  react-api-client/CHANGELOG.md
  react-api-client/package.json
  robot-server/robot_server/CHANGELOG.md
  robot-server/robot_server/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  step-generation/CHANGELOG.md
  step-generation/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore, release 🚢

#9482 fix(app): fix wifi connection result overlay z index
  components/src/modals/modals.css
Labels: app, fix

#9462 feat(components): Add single path icon data for new compound icons
  components/src/__tests__/__snapshots__/icons.test.tsx.snap
  components/src/icons/icon-data.ts
Labels: components

#9488 chore(release): 5.0.0
  CHANGELOG.md
  api-client/CHANGELOG.md
  api-client/package.json
  api/release-notes.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/build/release-notes.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  notify-server/notify_server/CHANGELOG.md
  notify-server/notify_server/package.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  react-api-client/CHANGELOG.md
  react-api-client/package.json
  robot-server/robot_server/CHANGELOG.md
  robot-server/robot_server/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  step-generation/CHANGELOG.md
  step-generation/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: chore

#9484 refactor(api): use correct sys constraints for OT3
  api/src/opentrons/config/defaults_ot3.py
  api/src/opentrons/config/types.py
  api/src/opentrons/hardware_control/backends/ot3utils.py
  api/src/opentrons/hardware_control/ot3api.py
  api/tests/opentrons/config/test_robots_config.py
Labels: api, refactor

#9502 refactor(protocol-engine): Stub out a command to engage a Magnetic Module's magnets
  api/src/opentrons/protocol_engine/commands/__init__.py
  api/src/opentrons/protocol_engine/commands/command_unions.py
  api/src/opentrons/protocol_engine/commands/magnetic_module_engage.py
  api/tests/opentrons/protocol_engine/commands/test_magnetic_module_engage.py
Labels: api, cpx, protocol-engine

#9433 refactor(api): axis and mounts for ot3
  api/src/opentrons/config/defaults_ot3.py
  api/src/opentrons/config/types.py
  api/src/opentrons/hardware_control/api.py
  api/src/opentrons/hardware_control/backends/ot3controller.py
  api/src/opentrons/hardware_control/backends/ot3simulator.py
  api/src/opentrons/hardware_control/backends/ot3utils.py
  api/src/opentrons/hardware_control/instrument_handler.py
  api/src/opentrons/hardware_control/motion_utilities.py
  api/src/opentrons/hardware_control/ot3api.py
  api/src/opentrons/hardware_control/pipette.py
  api/src/opentrons/hardware_control/robot_calibration.py
  api/src/opentrons/hardware_control/types.py
  api/src/opentrons/hardware_control/util.py
  api/tests/opentrons/config/test_pipette_config.py
  api/tests/opentrons/config/test_robots_config.py
  api/tests/opentrons/hardware_control/backends/test_ot3_utils.py
  api/tests/opentrons/hardware_control/test_instruments.py
  api/tests/opentrons/hardware_control/test_ot3_transforms.py
  api/tests/opentrons/protocol_api/test_context.py
  hardware/opentrons_hardware/hardware_control/motion_planning/__init__.py
  hardware/opentrons_hardware/hardware_control/motion_planning/move_manager.py
  hardware/opentrons_hardware/hardware_control/motion_planning/move_utils.py
  hardware/opentrons_hardware/hardware_control/motion_planning/types.py
  hardware/opentrons_hardware/scripts/plan_motion.py
  hardware/tests/opentrons_hardware/hardware_control/test_motion_plan.py
  hardware/tests/opentrons_hardware/hardware_control/test_move_utils.py
Labels: api, refactor

#9527 chore(papiv3): add TODO comments for pipette tickets
  api/src/opentrons/protocol_api_experimental/pipette_context.py
Labels: chore, cpx

#9368 fix(api): drop loop parameters removed in Python 3.10
  api/src/opentrons/hardware_control/api.py
  api/src/opentrons/hardware_control/backends/controller.py
  api/src/opentrons/hardware_control/backends/ot3controller.py
  api/src/opentrons/hardware_control/backends/ot3simulator.py
  api/src/opentrons/hardware_control/backends/simulator.py
  api/src/opentrons/hardware_control/execution_manager.py
  api/src/opentrons/hardware_control/modules/heater_shaker.py
  api/src/opentrons/hardware_control/modules/mod_abc.py
  api/src/opentrons/hardware_control/modules/tempdeck.py
  api/src/opentrons/hardware_control/modules/thermocycler.py
  api/src/opentrons/hardware_control/ot3api.py
  api/src/opentrons/hardware_control/poller.py
  api/src/opentrons/hardware_control/protocols/asyncio_configurable.py
  api/src/opentrons/hardware_control/protocols/stoppable.py
  api/src/opentrons/hardware_control/thread_manager.py
  api/src/opentrons/system/camera.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/hardware_control/integration/test_tempdeck.py
  api/tests/opentrons/hardware_control/integration/test_thermocycler.py
  api/tests/opentrons/hardware_control/modules/test_hc_heatershaker.py
  api/tests/opentrons/hardware_control/modules/test_hc_magdeck.py
  api/tests/opentrons/hardware_control/modules/test_hc_tempdeck.py
  api/tests/opentrons/hardware_control/modules/test_hc_thermocycler.py
  api/tests/opentrons/hardware_control/test_execution_manager.py
  api/tests/opentrons/hardware_control/test_modules.py
  robot-server/robot_server/hardware.py
  robot-server/robot_server/service/dependencies.py
  robot-server/robot_server/service/session/configuration.py
  robot-server/robot_server/service/session/manager.py
  robot-server/tests/conftest.py
  robot-server/tests/service/legacy/routers/test_modules.py
  shared-data/python/tests/module/test_typechecks.py
  shared-data/python/tests/pipette/test_typechecks.py
  shared-data/python/tests/protocol/test_typechecks.py
Labels: cpx, Robot Tech Debt, embedded

#9540 fix(notify-server): depend on opentrons_hardware
  .github/workflows/notify-server-lint-test.yaml
  notify-server/Pipfile
  notify-server/Pipfile.lock
Labels: fix

#9544 refactor(api): increase mypy strictness and add annotations
  api/mypy.ini
  api/src/opentrons/calibration_storage/delete.py
  api/src/opentrons/calibration_storage/encoder_decoder.py
  api/src/opentrons/calibration_storage/file_operators.py
  api/src/opentrons/calibration_storage/get.py
  api/src/opentrons/calibration_storage/helpers.py
  api/src/opentrons/calibration_storage/migration.py
  api/src/opentrons/calibration_storage/modify.py
  api/src/opentrons/config/__init__.py
  api/src/opentrons/config/advanced_settings.py
  api/src/opentrons/config/defaults_ot2.py
  api/src/opentrons/config/pipette_config.py
  api/src/opentrons/config/reset.py
  api/src/opentrons/config/robot_configs.py
  api/src/opentrons/config/types.py
  api/src/opentrons/system/camera.py
  api/src/opentrons/system/nmcli.py
  api/src/opentrons/system/resin.py
  api/src/opentrons/system/wifi.py
  api/src/opentrons/tools/args_handler.py
  api/src/opentrons/tools/write_pipette_memory.py
  api/src/opentrons/types.py
  api/src/opentrons/util/helpers.py
  api/src/opentrons/util/linal.py
  api/src/opentrons/util/logging_config.py
  api/tests/opentrons/util/test_helpers.py
Labels: api, cpx, Robot Tech Debt

#9428 refactor(robot-server): Remove Pydantic `.construct()`s in tests
  robot-server/tests/runs/router/test_base_router.py
  robot-server/tests/runs/router/test_commands_router.py
Labels: api, refactor, cpx, robot server

#9572 refactor(protocol-engine): add skeleton H/S commands
  api/.coveragerc
  api/src/opentrons/protocol_engine/commands/__init__.py
  api/src/opentrons/protocol_engine/commands/command_unions.py
  api/src/opentrons/protocol_engine/commands/heater_shaker/__init__.py
  api/src/opentrons/protocol_engine/commands/heater_shaker/await_temperature.py
  api/src/opentrons/protocol_engine/commands/heater_shaker/close_latch.py
  api/src/opentrons/protocol_engine/commands/heater_shaker/deactivate_heater.py
  api/src/opentrons/protocol_engine/commands/heater_shaker/open_latch.py
  api/src/opentrons/protocol_engine/commands/heater_shaker/set_target_shake_speed.py
  api/src/opentrons/protocol_engine/commands/heater_shaker/start_set_target_temperature.py
  api/src/opentrons/protocol_engine/commands/heater_shaker/stop_shake.py
  api/tests/opentrons/protocol_engine/commands/heater_shaker/__init__.py
  api/tests/opentrons/protocol_engine/commands/heater_shaker/test_await_temperature.py
  api/tests/opentrons/protocol_engine/commands/heater_shaker/test_close_latch.py
  api/tests/opentrons/protocol_engine/commands/heater_shaker/test_deactivate_heater.py
  api/tests/opentrons/protocol_engine/commands/heater_shaker/test_open_latch.py
  api/tests/opentrons/protocol_engine/commands/heater_shaker/test_set_target_shake_speed.py
  api/tests/opentrons/protocol_engine/commands/heater_shaker/test_start_set_target_temperature.py
  api/tests/opentrons/protocol_engine/commands/heater_shaker/test_stop_shake.py
  robot-server/.coveragerc
  shared-data/python/.coveragerc
Labels: cpx, protocol-engine, heater shaker

#9539 refactor(papiv3): Start wiring up `MagneticModuleContext.engage()`
  api/src/opentrons/protocol_api_experimental/module_contexts/magnetic_module_context.py
  api/src/opentrons/protocol_engine/clients/sync_client.py
  api/src/opentrons/protocol_engine/errors/__init__.py
  api/src/opentrons/protocol_engine/errors/exceptions.py
  api/src/opentrons/protocol_engine/state/labware.py
  api/src/opentrons/protocol_engine/state/modules.py
  api/tests/opentrons/protocol_api_experimental/module_contexts/test_magnetic_module_context.py
  api/tests/opentrons/protocol_engine/clients/test_sync_client.py
  api/tests/opentrons/protocol_engine/state/test_labware_view.py
  api/tests/opentrons/protocol_engine/state/test_module_view.py
Labels: api, cpx, protocol-engine, papi-v3

#9497 ci(api,shared-data): run test matrix on Python 3.7 thru 3.10
  .github/workflows/api-test-lint-deploy.yaml
  .github/workflows/shared-data-test-lint-deploy.yaml
  api/Pipfile
  api/Pipfile.lock
  api/setup.py
  shared-data/python/Pipfile
  shared-data/python/Pipfile.lock
  shared-data/python/setup.py
Labels: cpx, Robot Tech Debt

#9586 refactor(api): Formally deprecate `InstrumentContext.delay()`
  api/src/opentrons/protocol_api/instrument_context.py
  api/src/opentrons/protocols/context/instrument.py
  api/src/opentrons/protocols/context/protocol_api/instrument_context.py
  api/src/opentrons/protocols/context/simulator/instrument_context.py
Labels: api, docs, papi-v2, cpx
