Repository Opentrons/opentrons, pull requests merged in 2022-03, with the labels that each got.

#9574 refactor(engine): force command impls to explicitly spec dependencies
  api/src/opentrons/protocol_engine/commands/aspirate.py
  api/src/opentrons/protocol_engine/commands/command.py
  api/src/opentrons/protocol_engine/commands/dispense.py
  api/src/opentrons/protocol_engine/commands/drop_tip.py
  api/src/opentrons/protocol_engine/commands/heater_shaker/await_temperature.py
  api/src/opentrons/protocol_engine/commands/heater_shaker/close_latch.py
  api/src/opentrons/protocol_engine/commands/heater_shaker/deactivate_heater.py
  api/src/opentrons/protocol_engine/commands/heater_shaker/open_latch.py
  api/src/opentrons/protocol_engine/commands/heater_shaker/set_target_shake_speed.py
  api/src/opentrons/protocol_engine/commands/heater_shaker/start_set_target_temperature.py
  api/src/opentrons/protocol_engine/commands/heater_shaker/stop_shake.py
  api/src/opentrons/protocol_engine/commands/home.py
  api/src/opentrons/protocol_engine/commands/load_labware.py
  api/src/opentrons/protocol_engine/commands/load_module.py
  api/src/opentrons/protocol_engine/commands/load_pipette.py
  api/src/opentrons/protocol_engine/commands/move_relative.py
  api/src/opentrons/protocol_engine/commands/move_to_well.py
  api/src/opentrons/protocol_engine/commands/pause.py
  api/src/opentrons/protocol_engine/commands/pick_up_tip.py
  api/src/opentrons/protocol_engine/commands/save_position.py
  api/tests/opentrons/protocol_engine/commands/heater_shaker/test_await_temperature.py
  api/tests/opentrons/protocol_engine/commands/heater_shaker/test_close_latch.py
  api/tests/opentrons/protocol_engine/commands/heater_shaker/test_deactivate_heater.py
  api/tests/opentrons/protocol_engine/commands/heater_shaker/test_open_latch.py
  api/tests/opentrons/protocol_engine/commands/heater_shaker/test_set_target_shake_speed.py
  api/tests/opentrons/protocol_engine/commands/heater_shaker/test_start_set_target_temperature.py
  api/tests/opentrons/protocol_engine/commands/heater_shaker/test_stop_shake.py
  api/tests/opentrons/protocol_engine/commands/test_aspirate.py
  api/tests/opentrons/protocol_engine/commands/test_dispense.py
  api/tests/opentrons/protocol_engine/commands/test_drop_tip.py
  api/tests/opentrons/protocol_engine/commands/test_home.py
  api/tests/opentrons/protocol_engine/commands/test_load_labware.py
  api/tests/opentrons/protocol_engine/commands/test_load_module.py
  api/tests/opentrons/protocol_engine/commands/test_load_pipette.py
  api/tests/opentrons/protocol_engine/commands/test_move_relative.py
  api/tests/opentrons/protocol_engine/commands/test_move_to_well.py
  api/tests/opentrons/protocol_engine/commands/test_pause.py
  api/tests/opentrons/protocol_engine/commands/test_pick_up_tip.py
  api/tests/opentrons/protocol_engine/commands/test_save_position.py
Labels: cpx, protocol-engine

#9589 refactor(protocol-engine): Group Magnetic Module commands in a subpackage
  api/src/opentrons/protocol_engine/clients/sync_client.py
  api/src/opentrons/protocol_engine/commands/__init__.py
  api/src/opentrons/protocol_engine/commands/command_unions.py
  api/src/opentrons/protocol_engine/commands/magnetic_module/__init__.py
  api/src/opentrons/protocol_engine/commands/magnetic_module/engage.py
  api/tests/opentrons/protocol_engine/clients/test_sync_client.py
  api/tests/opentrons/protocol_engine/commands/heater_shaker/__init__.py
  api/tests/opentrons/protocol_engine/commands/magnetic_module/__init__.py
  api/tests/opentrons/protocol_engine/commands/magnetic_module/test_engage.py
Labels: refactor, cpx, protocol-engine

#9597 fix(app): surface run record creation errors to users on upload page
  app/src/organisms/ProtocolUpload/hooks/useCreateRun.ts
Labels: app, fix

#9601 chore(release): 5.0.2-alpha.0
  CHANGELOG.md
  api-client/CHANGELOG.md
  api-client/package.json
  api/release-notes.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/build/release-notes.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  notify-server/notify_server/CHANGELOG.md
  notify-server/notify_server/package.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  react-api-client/CHANGELOG.md
  react-api-client/package.json
  robot-server/robot_server/CHANGELOG.md
  robot-server/robot_server/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  step-generation/CHANGELOG.md
  step-generation/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: release 🚢

#9609 fix(api): lowercase filename before checking extension in ProtocolReader
  api/src/opentrons/protocol_reader/config_analyzer.py
  api/src/opentrons/protocol_reader/file_reader_writer.py
  api/src/opentrons/protocol_reader/role_analyzer.py
  api/tests/opentrons/protocol_reader/test_config_analyzer.py
  api/tests/opentrons/protocol_reader/test_file_reader_writer.py
  api/tests/opentrons/protocol_reader/test_role_analyzer.py
Labels: cpx, protocol-engine

#9614 fix(app): show labware def display name in lpc summary screen, fix nested lw render
  app/src/organisms/ProtocolSetup/LabwarePositionCheck/StepDetailText.tsx
  app/src/organisms/ProtocolSetup/LabwarePositionCheck/SummaryScreen.tsx
  app/src/organisms/ProtocolSetup/LabwarePositionCheck/__tests__/SummaryScreen.test.tsx
  app/src/organisms/ProtocolSetup/LabwarePositionCheck/hooks/useLabwareOffsets.ts
  app/src/organisms/ProtocolSetup/RunSetupCard/LabwareSetup/index.tsx
Labels: app, fix

#9615 fix(app): do not pass `directionControlButtonColor` into DOM
  app/src/molecules/JogControls/index.tsx
Labels: app

#9616 chore(release): 5.0.2-alpha.1
  CHANGELOG.md
  api-client/CHANGELOG.md
  api-client/package.json
  api/release-notes.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  notify-server/notify_server/CHANGELOG.md
  notify-server/notify_server/package.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  react-api-client/CHANGELOG.md
  react-api-client/package.json
  robot-server/robot_server/CHANGELOG.md
  robot-server/robot_server/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  step-generation/CHANGELOG.md
  step-generation/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: release 🚢

#9625 refactor(api): fix label mapping in `edge` after release sync
  api/src/opentrons/protocol_runner/legacy_command_mapper.py
Labels: cpx

#9620 fix(api): sort modules in ascending port order
  api/src/opentrons/algorithms/__init__.py
  api/src/opentrons/algorithms/dfs.py
  api/src/opentrons/algorithms/graph.py
  api/src/opentrons/algorithms/types.py
  api/src/opentrons/drivers/rpi_drivers/interfaces.py
  api/src/opentrons/drivers/rpi_drivers/types.py
  api/src/opentrons/drivers/rpi_drivers/usb.py
  api/src/opentrons/drivers/rpi_drivers/usb_simulator.py
  api/src/opentrons/hardware_control/emulation/module_server/helpers.py
  api/src/opentrons/hardware_control/module_control.py
  api/src/opentrons/hardware_control/modules/mod_abc.py
  api/src/opentrons/hardware_control/modules/types.py
  api/tests/opentrons/algorithms/__init__.py
  api/tests/opentrons/algorithms/fixture_alphabetical_graph.json
  api/tests/opentrons/algorithms/fixture_numerical_graph.json
  api/tests/opentrons/algorithms/test_dfs.py
  api/tests/opentrons/drivers/rpi_drivers/test_usb.py
  api/tests/opentrons/hardware_control/emulation/module_server/test_helpers.py
  api/tests/opentrons/hardware_control/integration/test_magdeck.py
  api/tests/opentrons/hardware_control/integration/test_tempdeck.py
  api/tests/opentrons/hardware_control/integration/test_thermocycler.py
  api/tests/opentrons/hardware_control/modules/test_hc_heatershaker.py
  api/tests/opentrons/hardware_control/modules/test_hc_magdeck.py
  api/tests/opentrons/hardware_control/modules/test_hc_tempdeck.py
  api/tests/opentrons/hardware_control/modules/test_hc_thermocycler.py
  api/tests/opentrons/hardware_control/test_module_control.py
  api/tests/opentrons/hardware_control/test_modules.py
  robot-server/tests/service/legacy/routers/test_modules.py
Labels: cpx, embedded

#9649 fix(robot-server): clean up modules in fixtures.
  robot-server/tests/service/legacy/routers/test_modules.py
Labels: fix, robot server

#9652 refactor(protocol-engine): Add skeleton for `magneticModule/disengageMagnet`
  api/src/opentrons/protocol_engine/commands/command_unions.py
  api/src/opentrons/protocol_engine/commands/magnetic_module/__init__.py
  api/src/opentrons/protocol_engine/commands/magnetic_module/disengage.py
Labels: cpx, protocol-engine

#9600 refactor(protocol-engine): Make fake serial numbers more obvious
  api/src/opentrons/protocol_engine/execution/equipment.py
  api/src/opentrons/protocol_engine/resources/model_utils.py
  api/tests/opentrons/protocol_engine/execution/test_equipment_handler.py
  api/tests/opentrons/protocol_engine/resources/test_model_utils.py
Labels: refactor, cpx, protocol-engine

#9675 refactor(protocol-engine): Rename "...DoesNotExistError" to "...NotLoadedError"
  api/src/opentrons/protocol_engine/commands/magnetic_module/disengage.py
  api/src/opentrons/protocol_engine/commands/magnetic_module/engage.py
  api/src/opentrons/protocol_engine/errors/__init__.py
  api/src/opentrons/protocol_engine/errors/exceptions.py
  api/src/opentrons/protocol_engine/state/labware.py
  api/src/opentrons/protocol_engine/state/modules.py
  api/src/opentrons/protocol_engine/state/pipettes.py
  api/tests/opentrons/protocol_engine/state/test_labware_view.py
  api/tests/opentrons/protocol_engine/state/test_module_view.py
  api/tests/opentrons/protocol_engine/state/test_pipette_view.py
Labels: refactor, cpx, protocol-engine

#9688 refactor(protocol-engine,shared-data): Change `engageMagnet` spec to use true mm
  api/src/opentrons/protocol_engine/commands/magnetic_module/engage.py
  shared-data/protocol/schemas/6.json
Labels: api, refactor, shared data, cpx, protocol-engine

#9699 chore(update-server): delete control.py from common
  .github/workflows/update-server-lint-test.yaml
  update-server/otupdate/buildroot/__init__.py
  update-server/otupdate/common/control.py
  update-server/otupdate/common/file_actions.py
Labels: update server

#9697 chore(app-shell, app): remove dev override of localhost for discovery candidates
  app-shell/Makefile
  app/README.md
Labels: app

#9686 feat(robot-server): recognize JSONv6 as a valid main protocol file
  api/src/opentrons/protocol_reader/config_analyzer.py
  api/src/opentrons/protocol_reader/file_reader_writer.py
  api/src/opentrons/protocol_reader/role_analyzer.py
  api/src/opentrons/protocol_runner/legacy_command_mapper.py
  api/src/opentrons/protocols/models/__init__.py
  api/src/opentrons/protocols/models/json_protocol.py
  api/tests/opentrons/protocol_reader/test_file_reader_writer.py
  api/tests/opentrons/protocol_reader/test_role_analyzer.py
  shared-data/protocol/fixtures/6/multipleTempModules.json
  shared-data/protocol/fixtures/6/multipleTipracks.json
  shared-data/protocol/fixtures/6/multipleTipracksWithTC.json
  shared-data/protocol/fixtures/6/oneTiprack.json
  shared-data/protocol/fixtures/6/simpleV6.json
  shared-data/protocol/fixtures/6/tempAndMagModuleCommands.json
  shared-data/protocol/fixtures/6/transferSettings.json
  shared-data/python/Pipfile
  shared-data/python/Pipfile.lock
  shared-data/python/opentrons_shared_data/labware/labware_definition.py
  shared-data/python/opentrons_shared_data/protocol/models/__init__.py
  shared-data/python/opentrons_shared_data/protocol/models/protocol_schema_v6.py
  shared-data/python/pytest.ini
  shared-data/python/setup.py
  shared-data/python/tests/protocol/test_protocol_schema_v6.py
Labels: feature, api

#9708 chore(python): default local dev environment to 3.7 for api/shared-data
  .github/actions/python/setup/action.yaml
  .github/workflows/api-test-lint-deploy.yaml
  .github/workflows/shared-data-test-lint-deploy.yaml
  scripts/python.mk
Labels: chore, python

#9723 refactor(api): ot3: use an OT3 simulator on OT3
  api/src/opentrons/protocol_runner/create_simulating_runner.py
Labels: api, refactor

#9717 refactor(protocol-engine): add heater-shaker support to various HW types
  api/src/opentrons/hardware_control/modules/types.py
  api/src/opentrons/protocol_engine/resources/module_data_provider.py
  api/src/opentrons/protocol_engine/types.py
  api/src/opentrons/protocols/geometry/module_geometry.py
  api/tests/opentrons/protocol_api_experimental/test_protocol_context.py
  robot-server/tests/integration/conftest.py
  robot-server/tests/integration/http_api/commands/__init__.py
  robot-server/tests/integration/http_api/commands/test_load_module_failure.tavern.yaml
  robot-server/tests/integration/http_api/commands/test_load_module_success.tavern.yaml
  shared-data/python/opentrons_shared_data/module/__init__.py
  shared-data/python/opentrons_shared_data/module/dev_types.py
Labels: cpx

#9696 feat(robot-server): add top-level stateless /commands endpoints
  api/src/opentrons/protocol_engine/protocol_engine.py
  api/tests/opentrons/protocol_engine/test_protocol_engine.py
  robot-server/robot_server/commands/__init__.py
  robot-server/robot_server/commands/router.py
  robot-server/robot_server/commands/stateless_commands.py
  robot-server/robot_server/router.py
  robot-server/robot_server/runs/__init__.py
  robot-server/robot_server/runs/engine_store.py
  robot-server/robot_server/runs/router/commands_router.py
  robot-server/tests/commands/__init__.py
  robot-server/tests/commands/test_router.py
  robot-server/tests/runs/router/test_commands_router.py
  robot-server/tests/runs/test_engine_store.py
Labels: cpx

#9750 docs(api): Remove mentions of "simply"
  api/src/opentrons/protocol_api/labware.py
Labels: api, docs, papi-v2, cpx

#9761 chore(python): add sqlalchemy to robot-server deps
  robot-server/Pipfile
  robot-server/Pipfile.lock
  robot-server/setup.py
Labels: cpx

#9773 chore(robot-server): Add sqlalchemy2-stubs
  robot-server/Pipfile
  robot-server/Pipfile.lock
  robot-server/mypy.ini
Labels: chore, cpx, robot server

#9751 test(robot-server): test /commands for setRailLights and home
  robot-server/tests/integration/fixtures.py
  robot-server/tests/integration/http_api/commands/test_home.tavern.yaml
  robot-server/tests/integration/http_api/commands/test_set_rail_lights.tavern.yaml
Labels: cpx

#9720 fix(shared-data): Add Python tests for JSON v5 type-checking, and fix several small bugs
  shared-data/protocol/fixtures/4/testMagneticModuleV4.json
  shared-data/protocol/fixtures/4/testTemperatureModuleV4.json
  shared-data/python/Pipfile
  shared-data/python/Pipfile.lock
  shared-data/python/opentrons_shared_data/pipette/dev_types.py
  shared-data/python/opentrons_shared_data/protocol/dev_types.py
  shared-data/python/tests/module/test_typechecks.py
  shared-data/python/tests/pipette/test_typechecks.py
  shared-data/python/tests/protocol/test_typechecks.py
Labels: chore, shared data, python

#9550 fix(api): working volume is not set in fast simulation
  api/src/opentrons/protocols/context/simulator/instrument_context.py
  api/tests/opentrons/protocols/context/simulator/test_instrument_context.py
Labels: api, fix, cpx

#9848 ci(python): ensure wheel/sdist builds are tested in CI
  .github/workflows/api-test-lint-deploy.yaml
  .github/workflows/robot-server-lint-test.yaml
  .github/workflows/shared-data-test-lint-deploy.yaml
  api/Makefile
  robot-server/Makefile
  shared-data/Makefile
  shared-data/python/Makefile
Labels: chore, cpx
