Repository Opentrons/opentrons, pull requests merged in 2022-10, with the labels that each got.

#11496 refactor(api): move temperature module hardware interactions to core
  api/src/opentrons/hardware_control/modules/tempdeck.py
  api/src/opentrons/protocol_api/core/module.py
  api/src/opentrons/protocol_api/core/protocol_api/legacy_module_core.py
  api/src/opentrons/protocol_api/core/protocol_api/protocol_context.py
  api/src/opentrons/protocol_api/module_contexts.py
  api/tests/opentrons/hardware_control/integration/test_tempdeck.py
  api/tests/opentrons/hardware_control/modules/test_hc_tempdeck.py
  api/tests/opentrons/hardware_control/test_simulator_setup.py
  api/tests/opentrons/protocol_api/core/legacy/test_base_module_core.py
  api/tests/opentrons/protocol_api/core/legacy/test_protocol_context_implementation.py
  api/tests/opentrons/protocol_api/core/legacy/test_temperature_module_core.py
  api/tests/opentrons/protocol_api/test_temperature_module_context.py
  api/tests/opentrons/protocol_api/types.py
  api/tests/opentrons/protocol_api_old/test_module_context.py
  robot-server/simulators/test.json
Labels: papi-v2, robot-svcs, protocol-engine

#11497 refactor(api): move magnetic module hardware interaction to core
  api/docs/v2/versioning.rst
  api/src/opentrons/hardware_control/modules/magdeck.py
  api/src/opentrons/protocol_api/core/engine/labware.py
  api/src/opentrons/protocol_api/core/labware.py
  api/src/opentrons/protocol_api/core/module.py
  api/src/opentrons/protocol_api/core/protocol_api/labware.py
  api/src/opentrons/protocol_api/core/protocol_api/legacy_module_core.py
  api/src/opentrons/protocol_api/labware.py
  api/src/opentrons/protocol_api/module_contexts.py
  api/tests/opentrons/hardware_control/integration/test_magdeck.py
  api/tests/opentrons/protocol_api/core/legacy/test_magnetic_module_core.py
  api/tests/opentrons/protocol_api/test_magnetic_module_context.py
  api/tests/opentrons/protocol_api/test_module_context.py
  api/tests/opentrons/protocol_api/types.py
  api/tests/opentrons/protocol_api_old/test_module_context.py
Labels: papi-v2, robot-svcs, protocol-engine

#11536 test(robot-server): Snapshot-test the SQL statements that we use to create tables
  robot-server/tests/persistence/test_tables.py
Labels: robot-svcs, robot server

#11547 chore(app): update storybook version
  package.json
  yarn.lock
Labels: app, chore, components

#11569 refactor(robot-server): Safely unpickle renamed types
  api/src/opentrons/protocol_engine/types.py
  robot-server/robot_server/persistence/legacy_pickle.py
  robot-server/robot_server/persistence/tables.py
  robot-server/robot_server/protocols/analysis_store.py
Labels: robot-svcs, robot server, python

#11593 fix(engine): return highest 0 of zero if labware or modules not loaded
  api/src/opentrons/protocol_engine/state/geometry.py
  api/tests/opentrons/protocol_engine/state/test_geometry_view.py
Labels: robot-svcs, protocol-engine

#11596 refactor(api,shared-data): Type-check more strictly in opentrons.protocols.types & .parse
  api/mypy.ini
  api/src/opentrons/protocols/parse.py
  api/src/opentrons/protocols/types.py
  api/tests/opentrons/protocols/test_parse.py
  shared-data/python/opentrons_shared_data/protocol/__init__.py
Labels: api, shared data, robot-svcs, python

#11567 refactor(api): Changes CalibratePipetteResult offset type
  api/src/opentrons/protocol_engine/commands/calibration/calibrate_pipette.py
  api/src/opentrons/protocol_engine/types.py
  api/tests/opentrons/protocol_engine/commands/calibration/test_calibrate_pipette.py
Labels: robot-svcs

#11558 feat(api): Validates liquid hex color in json protocols
  api/src/opentrons/protocol_engine/types.py
  api/src/opentrons/protocol_runner/json_translator.py
  api/tests/opentrons/protocol_engine/state/test_liquid_store.py
  api/tests/opentrons/protocol_engine/test_types.py
  api/tests/opentrons/protocol_runner/test_json_translator.py
Labels: robot-svcs

#11565 refactor(api, robot-server): adds loadLiquid and liquids ff
  api/src/opentrons/config/advanced_settings.py
  api/src/opentrons/config/feature_flags.py
  api/src/opentrons/protocol_runner/protocol_runner.py
  api/tests/opentrons/cli/test_cli.py
  api/tests/opentrons/config/test_advanced_settings_migration.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/protocol_runner/smoke_tests/test_protocol_runner.py
  api/tests/opentrons/protocol_runner/test_protocol_runner.py
  robot-server/tests/conftest.py
  robot-server/tests/integration/http_api/protocols/test_v6_json_upload.tavern.yaml
  robot-server/tests/integration/http_api/runs/test_json_v6_protocol_run.tavern.yaml
  robot-server/tests/integration/http_api/runs/test_json_v6_run_failure.tavern.yaml
  robot-server/tests/integration/http_api/runs/test_pause_then_cancel.tavern.yaml
  robot-server/tests/integration/test_settings.tavern.yaml
Labels: robot-svcs

#11614 fix(api): Fix LabwareNotOnDeckError when unrelated labware are off-deck
  api/src/opentrons/protocol_engine/state/geometry.py
  api/tests/opentrons/protocol_engine/state/test_geometry_view.py
Labels: api, robot-svcs, protocol-engine

#11597 refactor(api): allow load_module and load_labware via PE commands
  api/src/opentrons/protocol_api/core/engine/__init__.py
  api/src/opentrons/protocol_api/core/engine/exceptions.py
  api/src/opentrons/protocol_api/core/engine/module_core.py
  api/src/opentrons/protocol_api/core/engine/protocol.py
  api/src/opentrons/protocol_api/core/module.py
  api/src/opentrons/protocol_api/core/protocol_api/legacy_module_core.py
  api/src/opentrons/protocol_api/create_protocol_context.py
  api/src/opentrons/protocol_api/module_contexts.py
  api/src/opentrons/protocol_api/protocol_context.py
  api/tests/opentrons/protocol_api/core/engine/test_module_core.py
  api/tests/opentrons/protocol_api/core/engine/test_protocol_core.py
  api/tests/opentrons/protocol_api/test_module_context.py
  api/tests/opentrons/protocol_api/test_protocol_context.py
  api/tests/opentrons/protocol_api_old/test_module_context.py
Labels: robot-svcs

#11537 chore(app-shell): Upgrade the Electron version to 21
  .github/workflows/api-test-lint-deploy.yaml
  .github/workflows/app-test-build-deploy.yaml
  .github/workflows/components-test-build-deploy.yaml
  .github/workflows/docs-build.yaml
  .github/workflows/js-check.yaml
  .github/workflows/ll-test-build-deploy.yaml
  .github/workflows/notify-server-lint-test.yaml
  .github/workflows/pd-test-build-deploy.yaml
  .github/workflows/react-api-client-test.yaml
  .github/workflows/robot-server-lint-test.yaml
  .github/workflows/shared-data-test-lint-deploy.yaml
  .github/workflows/step-generation-test.yaml
  .github/workflows/update-server-lint-test.yaml
  .github/workflows/usb-bridge-lint-test.yaml
  .nvmrc
  DEV_SETUP.md
  app-shell/Makefile
  app-shell/README.md
  app-shell/electron-builder.config.js
  app-shell/package.json
  app-shell/patches/nan+2.16.0.patch
  app-shell/src/protocol-storage/__tests__/protocol-storage.test.ts
  app/typings/electron.d.ts
  package.json
  yarn.lock
Labels: chore

#11610 feat(api,robot-server): Report a protocol's declared robot type in its analysis
  api/src/opentrons/cli/analyze.py
  api/src/opentrons/protocol_reader/config_analyzer.py
  api/src/opentrons/protocol_reader/protocol_reader.py
  api/src/opentrons/protocol_reader/protocol_source.py
  api/src/opentrons/protocols/parse.py
  api/src/opentrons/protocols/types.py
  api/tests/opentrons/cli/test_cli.py
  api/tests/opentrons/protocol_reader/test_config_analyzer.py
  api/tests/opentrons/protocol_reader/test_protocol_reader.py
  api/tests/opentrons/protocol_runner/test_protocol_runner.py
  api/tests/opentrons/protocols/test_parse.py
  robot-server/robot_server/protocols/analysis_models.py
  robot-server/robot_server/protocols/analysis_store.py
  robot-server/robot_server/protocols/protocol_analyzer.py
  robot-server/tests/integration/http_api/protocols/test_v6_json_upload.tavern.yaml
  robot-server/tests/protocols/test_analysis_store.py
  robot-server/tests/protocols/test_protocol_analyzer.py
  robot-server/tests/protocols/test_protocol_store.py
  robot-server/tests/protocols/test_protocols_router.py
  robot-server/tests/runs/router/test_base_router.py
  shared-data/python/mypy.ini
  shared-data/python/opentrons_shared_data/protocol/models/protocol_schema_v6.py
  shared-data/python/tests/protocol/test_protocol_schema_v6.py
Labels: api, shared data, papi-v2, robot-svcs, robot server, python, papi-v3
