Repository Opentrons/opentrons, pull requests merged in 2022-07, with the labels that each got.

#10944 fix(app, react-api-client): add run creation spinner and handle errors in slideouts during run creation
  app/src/assets/localization/en/protocol_details.json
  app/src/assets/localization/en/shared.json
  app/src/organisms/ChooseProtocolSlideout/__tests__/ChooseProtocolSlideout.test.tsx
  app/src/organisms/ChooseProtocolSlideout/index.tsx
  app/src/organisms/ChooseRobotSlideout/AvailableRobotOption.tsx
  app/src/organisms/ChooseRobotSlideout/__tests__/ChooseRobotSlideout.test.tsx
  app/src/organisms/ChooseRobotSlideout/index.tsx
  app/src/organisms/ChooseRobotSlideout/useCreateRunFromProtocol.ts
  react-api-client/src/protocols/useCreateProtocolMutation.ts
  react-api-client/src/runs/useCreateRunMutation.ts
Labels: 6.0-feedback, required-for-6.0

#10983 chore(release): 6.0.0-alpha.4
  CHANGELOG.md
  api-client/CHANGELOG.md
  api-client/package.json
  api/release-notes.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/build/release-notes.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  notify-server/notify_server/CHANGELOG.md
  notify-server/notify_server/package.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  react-api-client/CHANGELOG.md
  react-api-client/package.json
  robot-server/robot_server/CHANGELOG.md
  robot-server/robot_server/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  step-generation/CHANGELOG.md
  step-generation/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: release 🚢

#11002 perf(robot-server): Minimize selected columns to speed up `GET /runs`
  robot-server/robot_server/runs/run_store.py
Labels: robot-svcs, robot server

#11016 chore(release): 6.0.0-beta.1
  CHANGELOG.md
  api-client/CHANGELOG.md
  api-client/package.json
  api/release-notes.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/build/release-notes.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  notify-server/notify_server/CHANGELOG.md
  notify-server/notify_server/package.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  react-api-client/CHANGELOG.md
  react-api-client/package.json
  robot-server/robot_server/CHANGELOG.md
  robot-server/robot_server/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  step-generation/CHANGELOG.md
  step-generation/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: release 🚢

#10872 refactor(engine): add error raising for h/s commands
  api/src/opentrons/protocol_engine/actions/actions.py
  api/src/opentrons/protocol_engine/commands/heater_shaker/open_labware_latch.py
  api/src/opentrons/protocol_engine/commands/heater_shaker/set_and_wait_for_shake_speed.py
  api/src/opentrons/protocol_engine/errors/__init__.py
  api/src/opentrons/protocol_engine/errors/exceptions.py
  api/src/opentrons/protocol_engine/protocol_engine.py
  api/src/opentrons/protocol_engine/state/module_substates/heater_shaker_module_substate.py
  api/src/opentrons/protocol_engine/state/modules.py
  api/tests/opentrons/protocol_engine/commands/heater_shaker/test_open_labware_latch.py
  api/tests/opentrons/protocol_engine/commands/heater_shaker/test_set_and_wait_for_shake_speed.py
  api/tests/opentrons/protocol_engine/state/test_module_store.py
  api/tests/opentrons/protocol_engine/state/test_module_view.py
  api/tests/opentrons/protocol_engine/test_protocol_engine.py
Labels: robot-svcs

#11019 feat(api): Forbid Heater-Shakers in slot 9, just south of the trash
  api/src/opentrons/protocols/geometry/deck_conflict.py
  api/tests/opentrons/protocols/geometry/test_deck_conflict.py
Labels: api, papi-v2, robot-svcs, heater-shaker

#11006 refactor(robot-server): Use a custom SQLAlchemy type to preserve UTC-ness of datetimes
  robot-server/robot_server/persistence/__init__.py
  robot-server/robot_server/persistence/database.py
  robot-server/robot_server/persistence/tables.py
  robot-server/robot_server/persistence/utc_datetime.py
  robot-server/robot_server/protocols/protocol_store.py
  robot-server/robot_server/runs/run_store.py
  robot-server/tests/protocols/test_analysis_store.py
Labels: refactor, robot-svcs, robot server

#10963 fix(api): Do not pause in the middle of a Thermocycler profile
  api/src/opentrons/hardware_control/emulation/simulations.py
  api/src/opentrons/hardware_control/modules/thermocycler.py
  api/tests/opentrons/hardware_control/integration/test_thermocycler.py
Labels: api, fix, robot-svcs, embedded

#11021 feat(engine): pause protocol execution if door is opened
  api/src/opentrons/protocol_engine/actions/__init__.py
  api/src/opentrons/protocol_engine/actions/actions.py
  api/src/opentrons/protocol_engine/execution/__init__.py
  api/src/opentrons/protocol_engine/execution/door_watcher.py
  api/src/opentrons/protocol_engine/protocol_engine.py
  api/src/opentrons/protocol_engine/state/commands.py
  api/src/opentrons/protocol_runner/legacy_context_plugin.py
  api/tests/opentrons/protocol_engine/execution/test_door_watcher.py
  api/tests/opentrons/protocol_engine/state/test_command_store.py
  api/tests/opentrons/protocol_engine/test_protocol_engine.py
  api/tests/opentrons/protocol_runner/test_legacy_context_plugin.py
Labels: robot-svcs

#11070 fix(robot-server): fully delete current run
  robot-server/robot_server/runs/run_data_manager.py
  robot-server/tests/integration/http_api/runs/test_deletion.tavern.yaml
  robot-server/tests/runs/test_run_data_manager.py
Labels: robot-svcs

#11064 fix(app): historical runs labware offset should list display names
  app/src/molecules/OffsetVector/index.tsx
  app/src/organisms/Devices/HistoricalProtocolRun.tsx
  app/src/organisms/Devices/HistoricalProtocolRunOffsetDrawer.tsx
  app/src/organisms/Devices/__tests__/HistoricalProtocolRun.test.tsx
  components/src/primitives/style-props.ts
Labels: fix, required-for-6.0

#11084 fix(app): render LPC summary data as a table to prevent misalignment
  app/src/organisms/LabwarePositionCheck/LabwareOffsetsSummary.tsx
  app/src/organisms/LabwarePositionCheck/SummaryScreen.tsx
Labels: required-for-6.0

#11086 chore(release): 6.0.0-beta.2
  CHANGELOG.md
  api-client/CHANGELOG.md
  api-client/package.json
  api/release-notes.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/build/release-notes.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  notify-server/notify_server/CHANGELOG.md
  notify-server/notify_server/package.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  react-api-client/CHANGELOG.md
  react-api-client/package.json
  robot-server/robot_server/CHANGELOG.md
  robot-server/robot_server/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  step-generation/CHANGELOG.md
  step-generation/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: release 🚢

#11049 fix(app): no longer require app restart after python override path config is updated
  app-shell/src/protocol-analysis/__tests__/protocolAnalysis.test.ts
  app-shell/src/protocol-analysis/index.ts
Labels: required-for-6.0

#11107 docs: Update Docs
  g-code-testing/Makefile
  g-code-testing/README.md
  g-code-testing/tests/TEST_DESCRIPTIONS.md
Labels: docs

#11114 fix(app): fix labware offset text alignment, fix historical run log missing timestamps
  app/src/organisms/Devices/ProtocolRun/LabwareInfoOverlay.tsx
  app/src/organisms/Devices/ProtocolRun/RunLog.tsx
  app/src/organisms/ProtocolUpload/hooks/useCurrentProtocol.ts
Labels: app, fix, required-for-6.0

#11003 feat(shared-data): add Armadillo PCR plate and adapter definitions
  shared-data/labware/definitions/2/armadillo_96_wellplate_200ul_pcr_full_skirt/1.json
  shared-data/labware/definitions/2/opentrons_96_pcr_adapter_armadillo_wellplate_200ul/1.json
Labels: robot-svcs

#11117 test(robot-server): remove OAS from server alive checks
  robot-server/tests/integration/robot_client.py
Labels: chore, robot-svcs

#11119 WIP: add new UI analytics events to the app
  app/src/organisms/AddCustomLabwareSlideout/__tests__/AddCustomLabwareSlideout.test.tsx
  app/src/organisms/AddCustomLabwareSlideout/index.tsx
  app/src/organisms/Devices/RobotSettings/AdvancedTab/AdvancedTabSlideouts/RenameRobotSlideout.tsx
  app/src/organisms/Devices/RobotSettings/AdvancedTab/AdvancedTabSlideouts/__tests__/RenameRobotSlideout.test.tsx
  app/src/organisms/Devices/RobotSettings/RobotSettingsCalibration.tsx
  app/src/organisms/Devices/RobotSettings/__tests__/RobotSettingsCalibration.test.tsx
  app/src/organisms/LabwareCard/CustomLabwareOverflowMenu.tsx
  app/src/organisms/LabwareCard/__tests__/CustomLabwareOverflowMenu.test.tsx
  app/src/organisms/LabwareCard/__tests__/LabwareCard.test.tsx
  app/src/organisms/LabwarePositionCheck/SummaryScreen.tsx
  app/src/organisms/LabwarePositionCheck/__tests__/SummaryScreen.test.tsx
  app/src/organisms/ProtocolsLanding/ProtocolOverflowMenu.tsx
  app/src/organisms/ProtocolsLanding/UploadInput.tsx
  app/src/organisms/ProtocolsLanding/__tests__/ProtocolOverflowMenu.test.tsx
  app/src/organisms/ProtocolsLanding/__tests__/UploadInput.test.tsx
  app/src/pages/AppSettings/AdvancedSettings.tsx
  app/src/pages/AppSettings/__test__/AdvancedSettings.test.tsx
  app/src/pages/Labware/__tests__/Labware.test.tsx
  app/src/pages/Labware/index.tsx
Labels: app

#11139 chore(release): 6.0.0
  CHANGELOG.md
  api-client/CHANGELOG.md
  api-client/package.json
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  notify-server/notify_server/CHANGELOG.md
  notify-server/notify_server/package.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  react-api-client/CHANGELOG.md
  react-api-client/package.json
  robot-server/robot_server/CHANGELOG.md
  robot-server/robot_server/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  step-generation/CHANGELOG.md
  step-generation/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: release 🚢

#11150 test(update-server): Make minor fixes to tests
  update-server/tests/buildroot/test_control.py
  update-server/tests/common/conftest.py
  update-server/tests/common/test_control.py
  update-server/tests/common/test_update.py
  update-server/tests/openembedded/conftest.py
  update-server/tests/openembedded/test_control.py
Labels: refactor, update server, robot-svcs

#11157 Fix (api): Fixed failing tests in CI after feature branch merge
  api/tests/opentrons/protocol_engine/state/test_command_store.py
Labels: robot-svcs

#11200 fix(PAPIv2): allow presses=0 to hover over tip when calling pick_up_tip
  api/src/opentrons/hardware_control/instruments/pipette_handler.py
  api/tests/opentrons/hardware_control/test_pipette_handler.py
Labels: robot-svcs

#11038 fix(papi-v2): allow pick_up_tip to pick up from exact location
  api/src/opentrons/protocol_api/instrument_context.py
  api/tests/opentrons/protocol_api/test_instrument_context.py
Labels: robot-svcs

#11175 fix(api,update-server): Synchronize robot name more tightly between between api and update-server
  api/src/opentrons/config/__init__.py
  update-server/otupdate/buildroot/__init__.py
  update-server/otupdate/buildroot/__main__.py
  update-server/otupdate/common/control.py
  update-server/otupdate/common/name_management/__init__.py
  update-server/otupdate/common/name_management/name_synchronizer.py
  update-server/otupdate/common/name_management/pretty_hostname.py
  update-server/otupdate/openembedded/__init__.py
  update-server/otupdate/openembedded/__main__.py
  update-server/tests/buildroot/conftest.py
  update-server/tests/buildroot/test_control.py
  update-server/tests/common/conftest.py
  update-server/tests/common/name_management/test_http_endpoints.py
  update-server/tests/common/name_management/test_name_synchronizer.py
  update-server/tests/openembedded/conftest.py
  update-server/tests/openembedded/test_control.py
Labels: api, update server, robot-svcs

#10765 feat(api): heater-shaker: error status setting
  api/src/opentrons/drivers/asyncio/communication/serial_connection.py
  api/src/opentrons/hardware_control/modules/heater_shaker.py
  api/tests/opentrons/hardware_control/modules/test_hc_heatershaker.py
Labels: heater-shaker

#10307 feat(heater-shaker): add firmware upload capability
  api/src/opentrons/drivers/asyncio/communication/serial_connection.py
  api/src/opentrons/drivers/heater_shaker/driver.py
  api/src/opentrons/hardware_control/modules/heater_shaker.py
  api/src/opentrons/hardware_control/modules/mod_abc.py
  api/src/opentrons/hardware_control/modules/update.py
  api/tests/opentrons/drivers/heater_shaker/test_driver.py
  api/tests/opentrons/hardware_control/test_modules.py
Labels: heater-shaker

#11230 test(protocol-engine): broaden acceptance criteria of wait for duration tests
  api/tests/opentrons/protocol_engine/execution/test_run_control_handler.py
Labels: robot-svcs

#11072 fix(api): if needed, home both pipettes with InstrumentContext.home
  api/docs/v2/versioning.rst
  api/src/opentrons/hardware_control/__init__.py
  api/src/opentrons/hardware_control/api.py
  api/src/opentrons/hardware_control/ot3api.py
  api/src/opentrons/hardware_control/protocols/motion_controller.py
  api/src/opentrons/protocols/context/protocol_api/instrument_context.py
  api/src/opentrons/protocols/util.py
  api/tests/opentrons/hardware_control/test_moves.py
  api/tests/opentrons/protocols/context/protocol_api/test_instrument_context.py
  g-code-testing/g_code_test_data/comparison_files/protocols/swift_smoke.txt
  g-code-testing/g_code_test_data/comparison_files/protocols/swift_turbo.txt
Labels: robot-svcs, embedded

#11218 feat(api): implement pipetting restrictions around heater-shaker
  api/src/opentrons/motion_planning/adjacent_slots_getters.py
  api/src/opentrons/protocol_api/instrument_context.py
  api/src/opentrons/protocol_api/module_contexts.py
  api/src/opentrons/protocol_engine/execution/heater_shaker_movement_flagger.py
  api/src/opentrons/protocols/geometry/deck_conflict.py
  api/src/opentrons/protocols/geometry/module_geometry.py
  api/tests/opentrons/motion_planning/test_adjacent_slots_getters.py
  api/tests/opentrons/protocol_api/test_context.py
  api/tests/opentrons/protocol_api/test_module_context.py
  api/tests/opentrons/protocols/geometry/test_module_geometry.py
Labels: robot-svcs

#11241 fix(api,shared-data): Fix incorrect rejection of `thermocycler/runProfile` commands
  api/src/opentrons/protocol_engine/commands/thermocycler/run_profile.py
  api/tests/opentrons/protocol_runner/test_json_command_translator.py
  shared-data/python/opentrons_shared_data/protocol/models/protocol_schema_v6.py
Labels: api, fix, shared data, robot-svcs, protocol-engine

#11248 feat(engine): move pipettes away if blocking heater-shaker open latch or start shake
  api/src/opentrons/protocol_engine/commands/heater_shaker/open_labware_latch.py
  api/src/opentrons/protocol_engine/commands/heater_shaker/set_and_wait_for_shake_speed.py
  api/src/opentrons/protocol_engine/state/motion.py
  api/src/opentrons/protocol_engine/state/pipettes.py
  api/tests/opentrons/protocol_engine/commands/heater_shaker/test_open_labware_latch.py
  api/tests/opentrons/protocol_engine/commands/heater_shaker/test_set_and_wait_for_shake_speed.py
  api/tests/opentrons/protocol_engine/state/test_motion_view.py
Labels: robot-svcs, heater-shaker
