Repository Opentrons/opentrons, pull requests merged in 2022-12, with the labels that each got.

#11788 refactor(api): replace `moveToLocation` pipette ID param with `mount`
  api/src/opentrons/protocol_engine/commands/calibration/__init__.py
  api/src/opentrons/protocol_engine/commands/calibration/move_to_location.py
  api/src/opentrons/protocol_engine/commands/calibration/move_to_maintenance_position.py
  api/src/opentrons/protocol_engine/commands/command_unions.py
  api/src/opentrons/protocol_engine/state/labware.py
  api/src/opentrons/protocol_engine/types.py
  api/tests/opentrons/protocol_engine/commands/calibration/test_calibration_move_to_location.py
  api/tests/opentrons/protocol_engine/commands/calibration/test_calibration_move_to_maintenance_position.py
  api/tests/opentrons/protocol_engine/state/test_labware_view.py
Labels: robot-svcs

#11800 fix(api): Allow cancelling a protocol with gripper attached
  api/src/opentrons/hardware_control/ot3api.py
  api/src/opentrons/protocol_engine/execution/hardware_stopper.py
  api/tests/opentrons/protocol_engine/execution/test_hardware_stopper.py
Labels: api, fix, robot-svcs, protocol-engine

#11808 refactor(api): Allow engine core based get/set rail lights
  api/src/opentrons/protocol_api/core/engine/protocol.py
  api/tests/opentrons/protocol_api/core/engine/test_protocol_core.py
Labels: robot-svcs

#11691 refactor(protocol-engine): Add provisional command to calibrate gripper
  api/src/opentrons/protocol_engine/commands/calibration/__init__.py
  api/src/opentrons/protocol_engine/commands/calibration/calibrate_gripper.py
  api/src/opentrons/protocol_engine/commands/command_unions.py
  api/src/opentrons/protocol_engine/resources/__init__.py
  api/src/opentrons/protocol_engine/resources/ot3_validation.py
  api/src/opentrons/protocol_engine/types.py
  api/tests/opentrons/protocol_engine/commands/calibration/test_calibrate_gripper.py
  api/tests/opentrons/protocol_engine/commands/calibration/test_move_to_maintenance_position.py
  api/tests/opentrons/protocol_engine/commands/conftest.py
  api/tests/opentrons/protocol_engine/conftest.py
  shared-data/protocol/schemas/7-draft.json
Labels: api, robot-svcs, protocol-engine

#11818 chore: update lodash and immer
  app-shell/package.json
  app-shell/src/__tests__/discovery.test.ts
  app/package.json
  app/src/redux/calibration/pipette-offset/selectors.ts
  app/src/redux/calibration/tip-length/selectors.ts
  app/src/redux/robot-admin/epic/__tests__/syncSystemTimeEpic.test.ts
  discovery-client/package.json
  discovery-client/src/__tests__/health-poller.test.ts
  discovery-client/src/mdns-browser/__tests__/mdns-browser.test.ts
  labware-library/package.json
  package.json
  protocol-designer/package.json
  protocol-library-kludge/package.json
  shared-data/package.json
  step-generation/package.json
  yarn.lock
Labels: chore

#11821 chore(app-shell): update packages to deal with security alert
  app-shell/package.json
  package.json
  yarn.lock
Labels: chore

#11441 feat(components): add react hook for drag gesture
  components/package.json
  components/src/hooks/__tests__/useDrag.test.ts
  components/src/hooks/index.ts
  components/src/hooks/useDrag.ts
  yarn.lock
Labels: components

#11850 refactor(api): Add a `robot_type` parameter to ProtocolEngine Config
  api/src/opentrons/protocol_engine/state/config.py
  api/src/opentrons/protocol_runner/create_simulating_runner.py
  api/tests/opentrons/protocol_engine/execution/test_equipment_handler.py
  api/tests/opentrons/protocol_engine/execution/test_run_control_handler.py
  api/tests/opentrons/protocol_engine/state/test_command_store.py
  api/tests/opentrons/protocol_engine/state/test_state_store.py
  api/tests/opentrons/protocol_engine/test_create_protocol_engine.py
  api/tests/opentrons/protocol_runner/smoke_tests/test_python_context_creator.py
  robot-server/robot_server/hardware.py
  robot-server/robot_server/runs/dependencies.py
  robot-server/robot_server/runs/engine_store.py
  robot-server/tests/runs/test_engine_store.py
Labels: api, robot-svcs, robot server, protocol-engine

#11839 refactor(api): Allow tip tracking for 8/96 channel pipette
  api/src/opentrons/protocol_api/core/engine/instrument.py
  api/src/opentrons/protocol_api/core/engine/labware.py
  api/src/opentrons/protocol_engine/__init__.py
  api/src/opentrons/protocol_engine/actions/actions.py
  api/src/opentrons/protocol_engine/execution/equipment.py
  api/src/opentrons/protocol_engine/state/pipettes.py
  api/src/opentrons/protocol_engine/state/tips.py
  api/src/opentrons/protocol_engine/types.py
  api/tests/opentrons/protocol_api/core/engine/test_instrument_core.py
  api/tests/opentrons/protocol_api/core/engine/test_labware_core.py
  api/tests/opentrons/protocol_engine/execution/test_equipment_handler.py
  api/tests/opentrons/protocol_engine/state/test_pipette_store.py
  api/tests/opentrons/protocol_engine/state/test_pipette_view.py
  api/tests/opentrons/protocol_engine/state/test_tip_state.py
Labels: robot-svcs

#11615 perf(robot-server): Initialize database eagerly and in the background
  robot-server/robot_server/app_setup.py
  robot-server/robot_server/hardware.py
  robot-server/robot_server/health/router.py
  robot-server/robot_server/persistence/__init__.py
  robot-server/robot_server/persistence/_database.py
  robot-server/robot_server/persistence/_fastapi_dependencies.py
  robot-server/robot_server/persistence/_migrations.py
  robot-server/robot_server/persistence/_persistence_directory.py
  robot-server/robot_server/persistence/_tables.py
  robot-server/robot_server/persistence/_utc_datetime.py
  robot-server/robot_server/persistence/legacy_pickle.py
  robot-server/tests/conftest.py
  robot-server/tests/integration/http_api/persistence/persistence_snapshots_dir.py
  robot-server/tests/integration/http_api/persistence/test_compatibility.py
  robot-server/tests/integration/http_api/persistence/test_reset.py
  robot-server/tests/integration/persistence_snapshots/README.md
  robot-server/tests/integration/persistence_snapshots/corrupt/robot_server.db
  robot-server/tests/persistence/test_migrations.py
  robot-server/tests/persistence/test_tables.py
  robot-server/tests/service/legacy/routers/test_settings.py
Labels: robot-svcs, robot server

#11898 feat(hardware): increase firmware update speed
  hardware/opentrons_hardware/drivers/can_bus/driver.py
Labels: hardware, spike

#11886 feat(api, robot-server): Allow load liquids via json protocols
  api/src/opentrons/config/advanced_settings.py
  api/src/opentrons/config/feature_flags.py
  api/src/opentrons/protocol_engine/commands/load_liquid.py
  api/src/opentrons/protocol_runner/protocol_runner.py
  api/tests/opentrons/config/test_advanced_settings_migration.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/protocol_engine/commands/test_load_liquid.py
  api/tests/opentrons/protocol_runner/smoke_tests/test_protocol_runner.py
  api/tests/opentrons/protocol_runner/test_protocol_runner.py
  robot-server/tests/conftest.py
  robot-server/tests/integration/http_api/protocols/test_v6_json_upload.tavern.yaml
  robot-server/tests/integration/http_api/runs/test_json_v6_protocol_run.tavern.yaml
  robot-server/tests/integration/http_api/runs/test_json_v6_run_failure.tavern.yaml
  robot-server/tests/integration/http_api/runs/test_pause_then_cancel.tavern.yaml
  robot-server/tests/integration/test_settings.tavern.yaml
Labels: robot-svcs

#11770 feat(api,robot-server): Choose simulator's hardware control API depending on protocol's declared `robotType`
  api/src/opentrons/cli/analyze.py
  api/src/opentrons/execute.py
  api/src/opentrons/protocol_reader/config_analyzer.py
  api/src/opentrons/protocol_reader/protocol_source.py
  api/src/opentrons/protocol_runner/create_simulating_runner.py
  api/src/opentrons/simulate.py
  api/tests/opentrons/protocol_runner/smoke_tests/test_legacy_command_mapper.py
  api/tests/opentrons/protocol_runner/smoke_tests/test_legacy_custom_labware.py
  api/tests/opentrons/protocol_runner/smoke_tests/test_legacy_module_commands.py
  api/tests/opentrons/protocol_runner/smoke_tests/test_protocol_runner.py
  robot-server/mypy.ini
  robot-server/robot_server/protocols/analysis_models.py
  robot-server/robot_server/protocols/analysis_store.py
  robot-server/robot_server/protocols/dependencies.py
  robot-server/robot_server/protocols/protocol_analyzer.py
  robot-server/robot_server/protocols/protocol_models.py
  robot-server/robot_server/protocols/router.py
  robot-server/tests/integration/http_api/protocols/test_key.tavern.yaml
  robot-server/tests/integration/http_api/protocols/test_upload.tavern.yaml
  robot-server/tests/integration/http_api/protocols/test_upload_robot_type_rejection.tavern.yaml
  robot-server/tests/integration/http_api/protocols/test_v6_json_upload.tavern.yaml
  robot-server/tests/integration/protocols/empty_ot3.json
  robot-server/tests/integration/protocols/empty_ot3.py
  robot-server/tests/protocols/test_analysis_store.py
  robot-server/tests/protocols/test_protocol_analyzer.py
  robot-server/tests/protocols/test_protocols_router.py
Labels: api, robot-svcs, robot server, protocol-engine

#11848 refactor(docs): updating older sections of Hardware Modules page
  api/docs/v2/new_modules.rst
  api/docs/v2/new_protocol_api.rst
  api/src/opentrons/protocol_api/module_contexts.py
Labels: docs

#11927 fix(robot-server): Fix async concurrency hazards in lazy-initialized dependencies
  robot-server/robot_server/protocols/dependencies.py
  robot-server/robot_server/util.py
  robot-server/tests/test_util.py
Labels: robot-svcs, robot server

#11891 perf(robot-server): Do only minimal parsing when rehydrating ProtocolStore
  api/src/opentrons/protocol_reader/__init__.py
  api/src/opentrons/protocol_reader/config_analyzer.py
  api/src/opentrons/protocol_reader/extract_labware_definitions.py
  api/src/opentrons/protocol_reader/file_format_validator.py
  api/src/opentrons/protocol_reader/file_identifier.py
  api/src/opentrons/protocol_reader/file_reader_writer.py
  api/src/opentrons/protocol_reader/protocol_files_invalid_error.py
  api/src/opentrons/protocol_reader/protocol_reader.py
  api/src/opentrons/protocol_reader/protocol_source.py
  api/src/opentrons/protocol_reader/role_analyzer.py
  api/src/opentrons/protocol_runner/legacy_wrappers.py
  api/src/opentrons/protocol_runner/protocol_runner.py
  api/tests/opentrons/cli/test_cli.py
  api/tests/opentrons/protocol_reader/_input_file.py
  api/tests/opentrons/protocol_reader/test_config_analyzer.py
  api/tests/opentrons/protocol_reader/test_extract_labware_definitions.py
  api/tests/opentrons/protocol_reader/test_file_format_validator.py
  api/tests/opentrons/protocol_reader/test_file_identifier.py
  api/tests/opentrons/protocol_reader/test_file_reader_writer.py
  api/tests/opentrons/protocol_reader/test_protocol_reader.py
  api/tests/opentrons/protocol_reader/test_role_analyzer.py
  api/tests/opentrons/protocol_runner/test_protocol_runner.py
  robot-server/robot_server/protocols/protocol_store.py
  robot-server/robot_server/runs/engine_store.py
  robot-server/tests/protocols/test_analysis_store.py
  robot-server/tests/protocols/test_protocol_analyzer.py
  robot-server/tests/protocols/test_protocol_store.py
  robot-server/tests/protocols/test_protocols_router.py
  robot-server/tests/runs/router/test_base_router.py
Labels: api, robot-svcs, robot server
