Repository Opentrons/opentrons, pull requests merged in 2022-06, with the labels that each got.

#10369 feat(app): App robot settings other tabs robot is busy
  app/src/organisms/Devices/RobotSettings/AdvancedTab/__tests__/FactoryReset.test.tsx
  app/src/organisms/Devices/RobotSettings/CalibrationDetails/OverflowMenu.tsx
  app/src/organisms/Devices/RobotSettings/CalibrationDetails/PipetteOffsetCalibrationItems.tsx
  app/src/organisms/Devices/RobotSettings/CalibrationDetails/TipLengthCalibrationItems.tsx
  app/src/organisms/Devices/RobotSettings/CalibrationDetails/__test__/OverflowMenu.test.tsx
  app/src/organisms/Devices/RobotSettings/CalibrationDetails/__test__/PipetteOffsetCalibrationItems.test.tsx
  app/src/organisms/Devices/RobotSettings/CalibrationDetails/__test__/TipLengthCalibrationItems.test.tsx
  app/src/organisms/Devices/RobotSettings/RobotSettingsAdvanced.tsx
  app/src/organisms/Devices/RobotSettings/RobotSettingsCalibration.tsx
  app/src/organisms/Devices/RobotSettings/RobotSettingsNetworking.tsx
  app/src/organisms/Devices/RobotSettings/TemporarySelectNetwork.tsx
  app/src/organisms/Devices/RobotSettings/__tests__/RobotSettingsCalibration.test.tsx
  app/src/organisms/Devices/RobotSettings/__tests__/RobotSettingsNetworking.test.tsx
  app/src/organisms/Devices/RobotSettings/__tests__/TemporarySelectNetwork.test.tsx
  app/src/organisms/Devices/hooks/__tests__/useIsRobotBusy.test.ts
  app/src/organisms/Devices/hooks/useIsRobotBusy.ts
  app/src/pages/Devices/RobotSettings/index.tsx
Labels: app

#10550 fix(robot-server): disallow pause action for non-active run
  api/src/opentrons/protocol_engine/errors/__init__.py
  api/src/opentrons/protocol_engine/errors/exceptions.py
  api/src/opentrons/protocol_engine/protocol_engine.py
  api/src/opentrons/protocol_engine/state/commands.py
  api/tests/opentrons/protocol_engine/test_protocol_engine.py
  robot-server/tests/integration/http_api/runs/test_pause_run_not_started.tavern.yaml
Labels: robot-svcs

#10557 feat(hardware): add InstrumentInfoRequest to get info from Pipettes & Gripper
  hardware/opentrons_hardware/firmware_bindings/constants.py
  hardware/opentrons_hardware/firmware_bindings/messages/message_definitions.py
  hardware/opentrons_hardware/firmware_bindings/messages/messages.py
  hardware/opentrons_hardware/hardware_control/tools/detector.py
  hardware/opentrons_hardware/hardware_control/tools/types.py
  hardware/tests/opentrons_hardware/hardware_control/tools/test_oneshot.py
Labels: ot3

#10170 feat(robot-server, api): support running JSONv6 protocols
  api/src/opentrons/ordered_set.py
  api/src/opentrons/protocol_engine/__init__.py
  api/src/opentrons/protocol_engine/commands/__init__.py
  api/src/opentrons/protocol_engine/commands/command.py
  api/src/opentrons/protocol_engine/errors/__init__.py
  api/src/opentrons/protocol_engine/errors/exceptions.py
  api/src/opentrons/protocol_engine/execution/queue_worker.py
  api/src/opentrons/protocol_engine/protocol_engine.py
  api/src/opentrons/protocol_engine/state/commands.py
  api/src/opentrons/protocol_runner/legacy_wrappers.py
  api/src/opentrons/protocol_runner/protocol_runner.py
  api/tests/opentrons/protocol_engine/execution/test_queue_worker.py
  api/tests/opentrons/protocol_engine/state/test_command_store.py
  api/tests/opentrons/protocol_engine/state/test_command_view.py
  api/tests/opentrons/protocol_engine/test_protocol_engine.py
  api/tests/opentrons/protocol_runner/test_protocol_runner.py
  api/tests/opentrons/test_ordered_set.py
  robot-server/robot_server/commands/router.py
  robot-server/robot_server/runs/router/commands_router.py
  robot-server/robot_server/runs/run_models.py
  robot-server/robot_server/runs/run_store.py
  robot-server/robot_server/versioning.py
  robot-server/tests/commands/test_router.py
  robot-server/tests/integration/http_api/persistence/test_persistence.py
  robot-server/tests/integration/http_api/protocols/test_persistence.py
  robot-server/tests/integration/http_api/runs/test_json_v6_protocol_run.tavern.yaml
  robot-server/tests/integration/http_api/runs/test_pause_run_not_started.tavern.yaml
  robot-server/tests/integration/http_api/runs/test_persistence.py
  robot-server/tests/integration/protocols/simple_v6.json
  robot-server/tests/integration/robot_client.py
  robot-server/tests/runs/router/test_commands_router.py
  robot-server/tests/runs/test_run_controller.py
Labels: robot-svcs

#10525 fix(app): robot settings cal health check wizard issue
  app/src/organisms/Devices/RobotSettings/CalibrationDetails/PipetteOffsetCalibrationItems.tsx
  app/src/organisms/Devices/RobotSettings/RobotSettingsCalibration.tsx
  app/src/organisms/Devices/RobotSettings/__tests__/RobotSettingsCalibration.test.tsx
Labels: app

#10615 fix(app): Add looking for robots state
  app/src/assets/localization/en/devices_landing.json
  app/src/pages/Devices/DevicesLanding/__tests__/DevicesLanding.test.tsx
  app/src/pages/Devices/DevicesLanding/index.tsx
Labels: app, required-for-6.0-beta

#10587 fix(app): fix historical protocol run overflow menu bugs
  app/src/assets/localization/en/device_details.json
  app/src/assets/localization/en/devices_landing.json
  app/src/organisms/Devices/HistoricalProtocolRunOverflowMenu.tsx
  app/src/organisms/Devices/RobotOverflowMenu.tsx
  app/src/organisms/Devices/__tests__/HistoricalProtocolRunOverflowMenu.test.tsx
  app/src/organisms/Devices/__tests__/RobotOverflowMenu.test.tsx
  app/src/organisms/Devices/__tests__/RobotOverview.test.tsx
Labels: required-for-6.0-beta

#10391 docs(api): add Tutorial
  api/docs/img/tutorial/diluent.gif
  api/docs/img/tutorial/initial-deck-map.png
  api/docs/img/tutorial/row-loop.gif
  api/docs/img/tutorial/row-tracking.gif
  api/docs/img/tutorial/serial-dilution-result.jpg
  api/docs/img/tutorial/solution.gif
  api/docs/img/tutorial/stepwise-transfer.gif
  api/docs/v2/example_protocols/dilution_tutorial.py
  api/docs/v2/example_protocols/dilution_tutorial_multi.py
  api/docs/v2/index.rst
  api/docs/v2/tutorial.rst
Labels: docs, robot-svcs

#10586 refactor(app): fallback to app analysis for protocol run setup
  api-client/src/protocols/__tests__/utils.test.ts
  api-client/src/protocols/utils.ts
  app/src/assets/localization/en/protocol_setup.json
  app/src/organisms/Devices/ProtocolRun/ProtocolRunSetup.tsx
  app/src/organisms/Devices/ProtocolRun/SetupLabware.tsx
  app/src/organisms/Devices/ProtocolRun/__tests__/ProtocolRunSetup.test.tsx
  app/src/organisms/Devices/ProtocolRun/__tests__/SetupLabware.test.tsx
  app/src/organisms/Devices/ProtocolRun/utils/getLabwareRenderInfo.ts
  app/src/organisms/Devices/ProtocolRun/utils/getProtocolModulesInfo.ts
  app/src/organisms/Devices/RobotStatusBanner.tsx
  app/src/organisms/Devices/hooks/__tests__/useLabwareRenderInfoForRunById.test.tsx
  app/src/organisms/Devices/hooks/__tests__/useModuleRenderInfoForProtocolById.test.tsx
  app/src/organisms/Devices/hooks/__tests__/useRunPipetteInfoByMount.test.tsx
  app/src/organisms/Devices/hooks/__tests__/useStoredProtocolAnalysis.test.tsx
  app/src/organisms/Devices/hooks/index.ts
  app/src/organisms/Devices/hooks/useLabwareRenderInfoForRunById.ts
  app/src/organisms/Devices/hooks/useModuleRenderInfoForProtocolById.ts
  app/src/organisms/Devices/hooks/useRunPipetteInfoByMount.ts
  app/src/organisms/Devices/hooks/useStoredProtocolAnalysis.ts
  app/src/pages/Devices/ProtocolRunDetails/index.tsx
  app/src/redux/protocol-storage/selectors.ts
Labels: required-for-6.0-beta

#10592 fix(app): robot update Modal CTA fix
  app/src/organisms/Devices/RobotOverviewOverflowMenu.tsx
  app/src/organisms/Devices/RobotSettings/AdvancedTab/RobotServerVersion.tsx
  app/src/organisms/Devices/RobotSettings/AdvancedTab/SoftwareUpdateModal.tsx
  app/src/organisms/Devices/RobotSettings/AdvancedTab/__tests__/RobotServerVersion.test.tsx
  app/src/organisms/Devices/RobotSettings/RobotSettingsAdvanced.tsx
  app/src/organisms/Devices/RobotSettings/UpdateBuildroot/DownloadUpdateModal.tsx
  app/src/organisms/Devices/RobotSettings/UpdateBuildroot/InstallModal.tsx
  app/src/organisms/Devices/RobotSettings/UpdateBuildroot/InstallModalContents.tsx
  app/src/organisms/Devices/RobotSettings/UpdateBuildroot/MigrationWarningModal.tsx
  app/src/organisms/Devices/RobotSettings/UpdateBuildroot/ReleaseNotesModal.tsx
  app/src/organisms/Devices/RobotSettings/UpdateBuildroot/SkipAppUpdateMessage.tsx
  app/src/organisms/Devices/RobotSettings/UpdateBuildroot/SyncRobotMessage.tsx
  app/src/organisms/Devices/RobotSettings/UpdateBuildroot/UpdateAppMessage.tsx
  app/src/organisms/Devices/RobotSettings/UpdateBuildroot/VersionInfoModal.tsx
  app/src/organisms/Devices/RobotSettings/UpdateBuildroot/VersionList.tsx
  app/src/organisms/Devices/RobotSettings/UpdateBuildroot/ViewUpdateModal.tsx
  app/src/organisms/Devices/RobotSettings/UpdateBuildroot/__tests__/DownloadUpdateModal.test.tsx
  app/src/organisms/Devices/RobotSettings/UpdateBuildroot/__tests__/UpdateBuildroot.test.tsx
  app/src/organisms/Devices/RobotSettings/UpdateBuildroot/__tests__/VersionInfoModal.test.tsx
  app/src/organisms/Devices/RobotSettings/UpdateBuildroot/__tests__/ViewUpdateModal.test.tsx
  app/src/organisms/Devices/RobotSettings/UpdateBuildroot/index.tsx
  app/src/organisms/Devices/RobotSettings/UpdateBuildroot/progress.tsx
  app/src/organisms/Devices/RobotSettings/UpdateBuildroot/styles.css
  app/src/organisms/Devices/RobotSettings/UpdateBuildroot/types.ts
  app/src/organisms/Devices/__tests__/RobotOverviewOverflowMenu.test.tsx
  app/src/organisms/UpdateRobotBanner/__tests__/UpdateRobotBanner.test.tsx
  app/src/organisms/UpdateRobotBanner/index.tsx
  app/src/pages/Robots/RobotSettings/__tests__/RobotSettings.test.tsx
  app/src/pages/Robots/RobotSettings/index.tsx
Labels: required-for-6.0-beta

#10596 refactor(engine): optional celsius parameter for temperature module waitForTemperature
  api/src/opentrons/protocol_engine/commands/temperature_module/wait_for_temperature.py
  api/tests/opentrons/protocol_engine/commands/temperature_module/test_wait_for_temperature.py
Labels: robot-svcs

#10507 refactor(api-client): create usePipetteSettingsQuery for pipette settings slideout
  api-client/src/pipettes/__fixtures__/index.ts
  api-client/src/pipettes/getPipetteSettings.ts
  api-client/src/pipettes/index.ts
  api-client/src/pipettes/types.ts
  app/src/assets/localization/en/device_details.json
  app/src/atoms/CheckboxField/CheckboxField.stories.tsx
  app/src/atoms/CheckboxField/index.tsx
  app/src/atoms/Slideout/index.tsx
  app/src/organisms/ConfigurePipette/ConfigForm.tsx
  app/src/organisms/ConfigurePipette/ConfigFormGroup.tsx
  app/src/organisms/ConfigurePipette/ConfigFormSubmitButton.tsx
  app/src/organisms/ConfigurePipette/index.tsx
  app/src/organisms/Devices/ModuleCard/TestShakeSlideout.tsx
  app/src/organisms/Devices/PipetteCard/PipetteSettingsSlideout.tsx
  app/src/organisms/Devices/PipetteCard/__tests__/PipetteSettingsSlideout.test.tsx
  app/src/organisms/Devices/PipetteCard/index.tsx
  app/src/pages/Robots/InstrumentSettings/index.tsx
  components/src/__tests__/__snapshots__/icons.test.tsx.snap
  components/src/forms/forms.css
  components/src/icons/icon-data.ts
  react-api-client/src/pipettes/__tests__/usePipettesSettingsQuery.test.tsx
  react-api-client/src/pipettes/index.ts
  react-api-client/src/pipettes/usePipetteSettingsQuery.ts
Labels: required-for-6.0-beta

#10595 feat(app): Add robot side protocol analysis error states
  app/src/assets/localization/en/protocol_setup.json
  app/src/assets/localization/en/run_details.json
  app/src/organisms/Devices/ProtocolRun/ProtocolAnalysisErrorBanner.tsx
  app/src/organisms/Devices/ProtocolRun/ProtocolAnalysisErrorModal.tsx
  app/src/organisms/Devices/ProtocolRun/ProtocolRunHeader.tsx
  app/src/organisms/Devices/ProtocolRun/ProtocolRunSetup.tsx
  app/src/organisms/Devices/ProtocolRun/__tests__/ProtocolAnalysisErrorBanner.test.tsx
  app/src/organisms/Devices/ProtocolRun/__tests__/ProtocolAnalysisErrorModal.test.tsx
  app/src/organisms/Devices/ProtocolRun/__tests__/ProtocolRunHeader.test.tsx
  app/src/organisms/Devices/ProtocolRun/__tests__/ProtocolRunSetup.test.tsx
  app/src/organisms/Devices/hooks/__tests__/useProtocolAnalysisErrors.test.tsx
  app/src/organisms/Devices/hooks/index.ts
  app/src/organisms/Devices/hooks/useProtocolAnalysisErrors.ts
  shared-data/js/types.ts
Labels: app, required-for-6.0-beta

#10399 refactor(app): handle unreachable robots, time to load improvements on devices routes
  app/src/assets/localization/en/shared.json
  app/src/atoms/Link/ExternalLink.tsx
  app/src/atoms/MenuList/__tests__/MenuList.test.tsx
  app/src/atoms/NavTab/index.tsx
  app/src/molecules/CollapsibleSection/__tests__/CollapsibleSection.test.tsx
  app/src/molecules/CollapsibleSection/index.tsx
  app/src/organisms/ChooseProtocolSlideout/index.tsx
  app/src/organisms/ChooseRobotSlideout/index.tsx
  app/src/organisms/Devices/ReachableBanner.tsx
  app/src/organisms/Devices/RecentProtocolRuns.tsx
  app/src/organisms/Devices/RobotCard.tsx
  app/src/organisms/Devices/RobotOverflowMenu.tsx
  app/src/organisms/Devices/RobotOverview.tsx
  app/src/organisms/Devices/RobotOverviewOverflowMenu.tsx
  app/src/organisms/Devices/__tests__/RecentProtocolRuns.test.tsx
  app/src/organisms/Devices/__tests__/RobotCard.test.tsx
  app/src/organisms/Devices/__tests__/RobotOverview.test.tsx
  app/src/organisms/Devices/__tests__/RobotOverviewOverflowMenu.test.tsx
  app/src/organisms/Devices/hooks/__tests__/useIsRobotViewable.test.tsx
  app/src/organisms/Devices/hooks/useIsRobotViewable.ts
  app/src/organisms/ProtocolDetails/__tests__/ProtocolDetails.test.tsx
  app/src/organisms/ProtocolDetails/index.tsx
  app/src/organisms/ProtocolsLanding/ProtocolCard.tsx
  app/src/organisms/ProtocolsLanding/hooks.tsx
  app/src/organisms/ProtocolsLanding/utils.ts
  app/src/pages/Devices/DevicesLanding/__tests__/DevicesLanding.test.tsx
  app/src/pages/Devices/DevicesLanding/hooks.ts
  app/src/pages/Devices/DevicesLanding/index.tsx
  app/src/pages/Devices/RobotSettings/__tests__/RobotSettings.test.tsx
  app/src/pages/Devices/RobotSettings/index.tsx
  app/src/redux/protocol-storage/types.ts
Labels: app

#10632 chore(release): 6.0.0-alpha.1
  CHANGELOG.md
  api-client/CHANGELOG.md
  api-client/package.json
  api/release-notes.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/build/release-notes.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  notify-server/notify_server/CHANGELOG.md
  notify-server/notify_server/package.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  react-api-client/CHANGELOG.md
  react-api-client/package.json
  robot-server/robot_server/CHANGELOG.md
  robot-server/robot_server/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  step-generation/CHANGELOG.md
  step-generation/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: release 🚢

#10125 docs(api): new Robot Position page
  api/docs/v2/index.rst
  api/docs/v2/new_atomic_commands.rst
  api/docs/v2/new_labware.rst
  api/docs/v2/new_pipette.rst
  api/docs/v2/new_protocol_api.rst
  api/docs/v2/robot_position.rst
Labels: docs

#10646 fix(app): fix refresh robots spinner spacing and double icon
  app/src/pages/Devices/DevicesLanding/index.tsx
Labels: app, required-for-6.0-beta

#10661 fix(app): this will fix overflow menu overlapping issue on RobotSettings Calibration Tab
  app/src/organisms/Devices/RobotSettings/CalibrationDetails/OverflowMenu.tsx
Labels: app, required-for-6.0-beta

#10648 feat(app): wire up Modal warning for Clear unavailable robots list button
  app/src/assets/localization/en/app_settings.json
  app/src/organisms/AppSettings/AdvancedSettings.tsx
  app/src/organisms/AppSettings/__tests__/AdvancedSettings.test.tsx
Labels: 6.0-feedback

#10656 fix(api): delete legacy deck calibration file
  api/src/opentrons/calibration_storage/delete.py
Labels: robot-svcs, required-for-6.0-beta

#10622 refactor(runner): delegate "was run started" logic to ProtocolEngine
  api/src/opentrons/protocol_engine/state/commands.py
  api/src/opentrons/protocol_runner/protocol_runner.py
  api/tests/opentrons/protocol_engine/state/test_command_view.py
  api/tests/opentrons/protocol_runner/test_protocol_runner.py
Labels: robot-svcs

#10673 fix(app): robot Update banner renders when bot is unavailable fix
  app/src/organisms/UpdateRobotBanner/__tests__/UpdateRobotBanner.test.tsx
  app/src/organisms/UpdateRobotBanner/index.tsx
Labels: required-for-6.0-beta

#10685 fix(app): disallow run level module control while the run is paused
  app/src/pages/Devices/ProtocolRunDetails/__tests__/ProtocolRunDetails.test.tsx
  app/src/pages/Devices/ProtocolRunDetails/index.tsx
Labels: app, fix

#10675 fix(engine): disallow setup commands while run is paused
  api/src/opentrons/protocol_engine/commands/command.py
  api/src/opentrons/protocol_engine/state/commands.py
  api/tests/opentrons/protocol_engine/state/test_command_view.py
  robot-server/robot_server/runs/router/commands_router.py
Labels: robot-svcs

#10559 fix(update-server): Keep name deconflicted with other devices on the network
  update-server/Pipfile
  update-server/Pipfile.lock
  update-server/mypy.ini
  update-server/otupdate/buildroot/__init__.py
  update-server/otupdate/buildroot/__main__.py
  update-server/otupdate/buildroot/constants.py
  update-server/otupdate/common/constants.py
  update-server/otupdate/common/control.py
  update-server/otupdate/common/name_management/__init__.py
  update-server/otupdate/common/name_management/avahi.py
  update-server/otupdate/common/name_management/name_synchronizer.py
  update-server/otupdate/common/name_management/pretty_hostname.py
  update-server/otupdate/common/run_application.py
  update-server/otupdate/openembedded/__init__.py
  update-server/otupdate/openembedded/__main__.py
  update-server/pytest.ini
  update-server/tests/buildroot/conftest.py
  update-server/tests/buildroot/test_control.py
  update-server/tests/buildroot/test_name_endpoints.py
  update-server/tests/common/conftest.py
  update-server/tests/common/name_management/test_avahi.py
  update-server/tests/common/name_management/test_http_endpoints.py
  update-server/tests/common/name_management/test_name_synchronizer.py
  update-server/tests/conftest.py
  update-server/tests/openembedded/conftest.py
  update-server/tests/openembedded/test_control.py
Labels: update server, robot-svcs

#10655 fix(app): fix robot deck calibration blocked when run is idle
  app/src/organisms/Devices/RobotSettings/CalibrationDetails/OverflowMenu.tsx
  app/src/organisms/Devices/RobotSettings/CalibrationDetails/PipetteOffsetCalibrationItems.tsx
  app/src/organisms/Devices/RobotSettings/CalibrationDetails/__test__/OverflowMenu.test.tsx
  app/src/organisms/Devices/RobotSettings/CalibrationDetails/__test__/PipetteOffsetCalibrationItems.test.tsx
  app/src/organisms/Devices/RobotSettings/CalibrationDetails/__test__/TipLengthCalibrationItems.test.tsx
  app/src/organisms/Devices/RobotSettings/RobotSettingsCalibration.tsx
  app/src/organisms/Devices/RobotSettings/__tests__/RobotSettingsCalibration.test.tsx
  app/src/organisms/Devices/hooks/__tests__/useRunStartedOrLegacySessionInProgress.test.tsx
  app/src/organisms/Devices/hooks/index.ts
  app/src/organisms/Devices/hooks/useRunStartedOrLegacySessionInProgress.ts
Labels: 6.0-feedback, required-for-6.0-beta

#10717 fix(app): update robot banner no longer accessible when robot is busy
  app/src/organisms/Devices/RobotCard.tsx
  app/src/organisms/Devices/RobotOverview.tsx
  app/src/organisms/Devices/__tests__/RobotCard.test.tsx
  app/src/organisms/Devices/__tests__/RobotOverview.test.tsx
Labels: required-for-6.0-beta

#10712 fix(app): temporary redirect to devices page
  app/src/organisms/Devices/RobotSettings/AdvancedTab/AdvancedTabSlideouts/RenameRobotSlideout.tsx
Labels: 6.0-feedback, required-for-6.0-beta

#10623 feat(engine): allow blow out command in Protocol API
  api/src/opentrons/protocol_api_experimental/pipette_context.py
  api/src/opentrons/protocol_engine/clients/sync_client.py
  api/src/opentrons/protocol_engine/commands/__init__.py
  api/src/opentrons/protocol_engine/commands/blow_out.py
  api/src/opentrons/protocol_engine/commands/command_unions.py
  api/src/opentrons/protocol_engine/state/pipettes.py
  api/src/opentrons/protocol_runner/json_command_translator.py
  api/tests/opentrons/protocol_api_experimental/test_pipette_context.py
  api/tests/opentrons/protocol_engine/clients/test_sync_client.py
  api/tests/opentrons/protocol_engine/commands/test_blow_out.py
  api/tests/opentrons/protocol_engine/state/command_fixtures.py
  api/tests/opentrons/protocol_engine/state/test_pipette_store.py
  api/tests/opentrons/protocol_runner/test_json_command_translator.py
  robot-server/tests/integration/http_api/protocols/test_v6_json_upload.tavern.yaml
Labels: robot-svcs

#10711 fix(discovery-client): fix off by one error in remove logic
  discovery-client/src/store/__tests__/hostsByIpReducer.test.ts
  discovery-client/src/store/reducer.ts
Labels: app

#10694 style(app): overflow btn and navbar styling
  app/src/App/Navbar.tsx
  app/src/atoms/MenuList/OverflowBtn.tsx
  app/src/atoms/MenuList/__tests__/OverflowBtn.test.tsx
  app/src/atoms/buttons/index.tsx
  components/src/ui-style-constants/colors.ts
Labels: 6.0-feedback

#10269 chore(release-notes): update the release notes for 6.0.0-beta release
  api/release-notes.md
  app-shell/build/release-notes.md
Labels: app, docs

#10728 chore(release): 6.0.0-beta.0
  CHANGELOG.md
  api-client/CHANGELOG.md
  api-client/package.json
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  notify-server/notify_server/CHANGELOG.md
  notify-server/notify_server/package.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  react-api-client/CHANGELOG.md
  react-api-client/package.json
  robot-server/robot_server/CHANGELOG.md
  robot-server/robot_server/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  step-generation/CHANGELOG.md
  step-generation/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: release 🚢

#10729 test(api): enable strict typechecking of opentrons.config tests
  api/mypy.ini
  api/tests/opentrons/config/test_advanced_settings.py
  api/tests/opentrons/config/test_advanced_settings_migration.py
  api/tests/opentrons/config/test_pipette_config.py
  api/tests/opentrons/config/test_reset.py
Labels: robot-svcs, Robot Tech Debt

#10678 feat(engine): touch tip PAPIv3
  api/src/opentrons/protocol_api_experimental/pipette_context.py
  api/src/opentrons/protocol_engine/clients/sync_client.py
  api/src/opentrons/protocol_engine/commands/__init__.py
  api/src/opentrons/protocol_engine/commands/command_unions.py
  api/src/opentrons/protocol_engine/commands/touch_tip.py
  api/src/opentrons/protocol_engine/errors/__init__.py
  api/src/opentrons/protocol_engine/errors/exceptions.py
  api/src/opentrons/protocol_engine/execution/pipetting.py
  api/src/opentrons/protocol_engine/state/geometry.py
  api/src/opentrons/protocol_runner/json_command_translator.py
  api/tests/opentrons/protocol_api_experimental/test_pipette_context.py
  api/tests/opentrons/protocol_engine/clients/test_sync_client.py
  api/tests/opentrons/protocol_engine/commands/test_touch_tip.py
  api/tests/opentrons/protocol_engine/execution/test_pipetting_handler.py
  api/tests/opentrons/protocol_engine/state/test_geometry_view.py
  api/tests/opentrons/protocol_runner/test_json_command_translator.py
  robot-server/tests/integration/http_api/protocols/test_v6_json_upload.tavern.yaml
Labels: robot-svcs

#10727 fix(api): fix multiple h/s bugs
  api/src/opentrons/drivers/utils.py
  api/src/opentrons/protocol_engine/commands/heater_shaker/deactivate_heater.py
  api/tests/opentrons/protocol_engine/commands/heater_shaker/test_deactivate_heater.py
Labels: robot-svcs

#10724 fix(robot-server): calculate magnetic module gen 1 height
  api/src/opentrons/hardware_control/modules/magdeck.py
  robot-server/robot_server/modules/module_data_mapper.py
  robot-server/tests/modules/test_module_data_mapper.py
Labels: robot-svcs

#10764 refactor(app): change magnetic module slideout values and units
  app/src/assets/localization/en/device_details.json
  app/src/organisms/Devices/ModuleCard/MagneticModuleSlideout.tsx
  app/src/organisms/Devices/ModuleCard/__tests__/MagneticModuleSlideout.test.tsx
  shared-data/js/constants.ts
Labels: required-for-6.0

#10679 refactor(app): change advanced settings robot unavailable text
  app/src/assets/localization/en/app_settings.json
  app/src/organisms/AppSettings/AdvancedSettings.tsx
  app/src/organisms/AppSettings/__tests__/AdvancedSettings.test.tsx
  app/src/pages/Devices/DevicesLanding/__tests__/DevicesLanding.test.tsx
Labels: 6.0-feedback

#10426 feat(api): add heaterShakerModuleContext and methods to PAPIv2
  api/src/opentrons/commands/module_commands.py
  api/src/opentrons/commands/types.py
  api/src/opentrons/config/advanced_settings.py
  api/src/opentrons/config/feature_flags.py
  api/src/opentrons/hardware_control/module_control.py
  api/src/opentrons/hardware_control/modules/__init__.py
  api/src/opentrons/hardware_control/modules/heater_shaker.py
  api/src/opentrons/protocol_api/__init__.py
  api/src/opentrons/protocol_api/contexts.py
  api/src/opentrons/protocol_api/module_contexts.py
  api/src/opentrons/protocol_api/module_validation_and_errors.py
  api/src/opentrons/protocol_api/protocol_context.py
  api/src/opentrons/protocol_runner/legacy_command_mapper.py
  api/src/opentrons/protocol_runner/legacy_wrappers.py
  api/src/opentrons/protocols/api_support/util.py
  api/src/opentrons/protocols/geometry/module_geometry.py
  api/tests/opentrons/config/test_advanced_settings_migration.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/hardware_control/test_module_control.py
  api/tests/opentrons/hardware_control/test_modules.py
  api/tests/opentrons/protocol_api/test_module_context.py
  api/tests/opentrons/protocol_api/test_module_validation_and_errors.py
  api/tests/opentrons/protocol_runner/smoke_tests/test_legacy_module_commands.py
  api/tests/opentrons/protocols/geometry/test_module_geometry.py
  robot-server/tests/integration/test_settings.tavern.yaml
Labels: robot-svcs

#10763 refactor(protocol-engine): Add skeleton of `moveToCoordinates` command
  api/src/opentrons/protocol_engine/commands/__init__.py
  api/src/opentrons/protocol_engine/commands/aspirate.py
  api/src/opentrons/protocol_engine/commands/blow_out.py
  api/src/opentrons/protocol_engine/commands/command_unions.py
  api/src/opentrons/protocol_engine/commands/dispense.py
  api/src/opentrons/protocol_engine/commands/drop_tip.py
  api/src/opentrons/protocol_engine/commands/move_to_coordinates.py
  api/src/opentrons/protocol_engine/commands/move_to_well.py
  api/src/opentrons/protocol_engine/commands/pick_up_tip.py
  api/src/opentrons/protocol_engine/commands/pipetting_common.py
  api/src/opentrons/protocol_engine/commands/touch_tip.py
  api/tests/opentrons/protocol_engine/commands/test_move_to_coordinates.py
  shared-data/protocol/schemas/6.json
Labels: robot-svcs

#10760 feat(engine): open and close thermocycler lid
  api/src/opentrons/protocol_api_experimental/module_contexts/thermocycler_module_context.py
  api/src/opentrons/protocol_engine/clients/sync_client.py
  api/src/opentrons/protocol_engine/commands/command_unions.py
  api/src/opentrons/protocol_engine/commands/thermocycler/__init__.py
  api/src/opentrons/protocol_engine/commands/thermocycler/close_lid.py
  api/src/opentrons/protocol_engine/commands/thermocycler/open_lid.py
  api/tests/opentrons/protocol_api_experimental/module_contexts/test_thermocycler_module_context.py
  api/tests/opentrons/protocol_engine/clients/test_sync_client.py
  api/tests/opentrons/protocol_engine/commands/thermocycler/test_close_lid.py
  api/tests/opentrons/protocol_engine/commands/thermocycler/test_open_lid.py
  robot-server/robot_server/commands/stateless_commands.py
Labels: robot-svcs

#10785 feat(papi-v2): restrict placement of heater-shaker modules
  api/src/opentrons/protocols/geometry/deck.py
  api/src/opentrons/protocols/geometry/deck_conflict.py
  api/src/opentrons/protocols/geometry/module_geometry.py
  api/tests/opentrons/protocols/geometry/test_deck.py
  api/tests/opentrons/protocols/geometry/test_deck_conflict.py
  api/tests/opentrons/protocols/geometry/test_geometry.py
  shared-data/python/opentrons_shared_data/labware/dev_types.py
  shared-data/python/opentrons_shared_data/pipette/dev_types.py
Labels: robot-svcs

#10846 refactor(json-v6): split and rework `delay` command
  api/src/opentrons/protocol_runner/json_command_translator.py
  api/tests/opentrons/protocol_runner/test_json_command_translator.py
  protocol-designer/src/file-data/__fixtures__/createFile/v6Fixture.ts
  protocol-designer/src/load-file/migration/6_0_0.ts
  protocol-designer/src/load-file/migration/__tests__/6_0_0.test.ts
  shared-data/protocol/fixtures/6/heaterShakerCommands.json
  shared-data/protocol/fixtures/6/multipleTipracks.json
  shared-data/protocol/fixtures/6/multipleTipracksWithTC.json
  shared-data/protocol/fixtures/6/oneTiprack.json
  shared-data/protocol/fixtures/6/simpleV6.json
  shared-data/protocol/fixtures/6/tempAndMagModuleCommands.json
  shared-data/protocol/schemas/6.json
  shared-data/protocol/types/schemaV6/command/timing.ts
  shared-data/python/opentrons_shared_data/protocol/models/protocol_schema_v6.py
  step-generation/src/__tests__/consolidate.test.ts
  step-generation/src/__tests__/delay.test.ts
  step-generation/src/__tests__/transfer.test.ts
  step-generation/src/commandCreators/atomic/delay.ts
  step-generation/src/fixtures/commandFixtures.ts
Labels: protocol designer, robot-svcs

#10859 refactor(app): App refactor lodash import states
  app/src/organisms/CalibrationPanels/ChooseTipRack.tsx
  app/src/organisms/Devices/ModuleCard/index.tsx
  app/src/organisms/Devices/PipetteCard/PipetteSettingsSlideout.tsx
  app/src/organisms/Devices/ProtocolRun/__tests__/ProtocolRunSetup.test.tsx
  app/src/organisms/ProtocolDetails/index.tsx
  app/src/pages/Devices/ProtocolRunDetails/index.tsx
  labware-library/src/labware-creator/components/getPipetteOptions.tsx
Labels: app, refactor

#10852 refactor(json-v6): implement waitForResume and waitForDuration in engine
  api/src/opentrons/protocol_api_experimental/protocol_context.py
  api/src/opentrons/protocol_engine/clients/sync_client.py
  api/src/opentrons/protocol_engine/commands/__init__.py
  api/src/opentrons/protocol_engine/commands/command_unions.py
  api/src/opentrons/protocol_engine/commands/pause.py
  api/src/opentrons/protocol_engine/commands/wait_for_duration.py
  api/src/opentrons/protocol_engine/commands/wait_for_resume.py
  api/src/opentrons/protocol_engine/execution/run_control.py
  api/src/opentrons/protocol_runner/json_command_translator.py
  api/src/opentrons/protocol_runner/legacy_command_mapper.py
  api/tests/opentrons/protocol_api_experimental/test_protocol_context.py
  api/tests/opentrons/protocol_engine/clients/test_sync_client.py
  api/tests/opentrons/protocol_engine/commands/test_pause.py
  api/tests/opentrons/protocol_engine/commands/test_wait_for_duration.py
  api/tests/opentrons/protocol_engine/commands/test_wait_for_resume.py
  api/tests/opentrons/protocol_engine/execution/test_run_control_handler.py
  api/tests/opentrons/protocol_engine/state/test_command_store.py
  api/tests/opentrons/protocol_runner/test_json_command_translator.py
  api/tests/opentrons/protocol_runner/test_legacy_command_mapper.py
  api/tests/opentrons/protocol_runner/test_protocol_runner.py
  app/src/organisms/Devices/ProtocolRun/StepText.tsx
  app/src/organisms/Devices/ProtocolRun/__tests__/StepText.test.tsx
  app/src/organisms/RunDetails/CommandItem.tsx
  app/src/organisms/RunDetails/CommandText.tsx
  app/src/organisms/RunDetails/__tests__/CommandItem.test.tsx
  app/src/organisms/RunDetails/__tests__/CommandText.test.tsx
  app/src/organisms/RunDetails/hooks.ts
  robot-server/tests/integration/http_api/protocols/test_v6_json_upload.tavern.yaml
  robot-server/tests/protocols/test_analysis_store.py
  robot-server/tests/protocols/test_protocol_analyzer.py
  robot-server/tests/runs/router/test_commands_router.py
  robot-server/tests/runs/test_run_controller.py
  robot-server/tests/runs/test_run_data_manager.py
  robot-server/tests/runs/test_run_store.py
  shared-data/protocol/fixtures/6/simpleV6.json
  shared-data/protocol/schemas/6.json
  shared-data/protocol/types/schemaV6/command/index.ts
  shared-data/protocol/types/schemaV6/command/timing.ts
Labels: app, robot-svcs

#10723 fix(app): avoid the name conflict issue in the same network
  app/src/assets/localization/en/device_settings.json
  app/src/organisms/Devices/RobotSettings/AdvancedTab/AdvancedTabSlideouts/RenameRobotSlideout.tsx
  app/src/organisms/Devices/RobotSettings/AdvancedTab/AdvancedTabSlideouts/__tests__/RenameRobotSlideout.test.tsx
Labels: required-for-6.0

#10900 docs(shared-data): Specify moveToCoordinates critical point
  shared-data/protocol/schemas/6.json
Labels: docs, shared data, robot-svcs, protocol-engine, json-v6

#10902 fix(engine): include modules w/o labware in motion planning
  api/src/opentrons/protocol_engine/state/geometry.py
  api/src/opentrons/protocol_engine/state/modules.py
  api/tests/opentrons/protocol_engine/state/test_geometry_view.py
  api/tests/opentrons/protocol_engine/state/test_module_view.py
Labels: robot-svcs

#10901 test(api): Adjust wait times in pause tests to reduce flakiness
  api/tests/opentrons/protocol_engine/execution/test_run_control_handler.py
Labels: api, robot-svcs, protocol-engine

#10936 chore(release): 6.0.0-alpha.3
  CHANGELOG.md
  api-client/CHANGELOG.md
  api-client/package.json
  api/release-notes.md
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/build/release-notes.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  notify-server/notify_server/CHANGELOG.md
  notify-server/notify_server/package.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  react-api-client/CHANGELOG.md
  react-api-client/package.json
  robot-server/robot_server/CHANGELOG.md
  robot-server/robot_server/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  step-generation/CHANGELOG.md
  step-generation/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: release 🚢

#10882 fix(engine): pause hardware API when engine is paused
  api/src/opentrons/hardware_control/api.py
  api/src/opentrons/hardware_control/ot3api.py
  api/src/opentrons/hardware_control/pause_manager.py
  api/src/opentrons/hardware_control/types.py
  api/src/opentrons/protocol_engine/__init__.py
  api/src/opentrons/protocol_engine/create_protocol_engine.py
  api/src/opentrons/protocol_engine/execution/equipment.py
  api/src/opentrons/protocol_engine/execution/run_control.py
  api/src/opentrons/protocol_engine/protocol_engine.py
  api/src/opentrons/protocol_engine/state/__init__.py
  api/src/opentrons/protocol_engine/state/commands.py
  api/src/opentrons/protocol_engine/state/config.py
  api/src/opentrons/protocol_engine/state/configs.py
  api/src/opentrons/protocol_engine/state/modules.py
  api/src/opentrons/protocol_engine/state/state.py
  api/src/opentrons/protocol_runner/create_simulating_runner.py
  api/src/opentrons/protocol_runner/legacy_context_plugin.py
  api/tests/opentrons/hardware_control/test_pause_manager.py
  api/tests/opentrons/protocol_engine/execution/test_equipment_handler.py
  api/tests/opentrons/protocol_engine/execution/test_hardware_event_forwarder.py
  api/tests/opentrons/protocol_engine/execution/test_run_control_handler.py
  api/tests/opentrons/protocol_engine/state/test_command_store.py
  api/tests/opentrons/protocol_engine/state/test_module_view.py
  api/tests/opentrons/protocol_engine/state/test_state_store.py
  api/tests/opentrons/protocol_engine/test_create_protocol_engine.py
  api/tests/opentrons/protocol_engine/test_protocol_engine.py
  api/tests/opentrons/protocol_runner/smoke_tests/test_python_context_creator.py
  api/tests/opentrons/protocol_runner/test_legacy_context_plugin.py
  robot-server/robot_server/runs/engine_store.py
  robot-server/robot_server/service/session/session_types/live_protocol/session.py
Labels: robot-svcs

#10921 feat(engine): thermocycler run profile
  api/src/opentrons/protocol_engine/commands/command_unions.py
  api/src/opentrons/protocol_engine/commands/thermocycler/__init__.py
  api/src/opentrons/protocol_engine/commands/thermocycler/run_profile.py
  api/tests/opentrons/protocol_engine/commands/thermocycler/test_run_profile.py
  shared-data/protocol/schemas/6.json
  shared-data/protocol/types/schemaV6/command/module.ts
  step-generation/src/__tests__/thermocyclerAtomicCommands.test.ts
  step-generation/src/__tests__/thermocyclerProfileStep.test.ts
  step-generation/src/__tests__/thermocyclerUpdates.test.ts
  step-generation/src/commandCreators/atomic/thermocyclerRunProfile.ts
Labels: robot-svcs, json-v6

#10840 refactor(protocol-engine): Implement `moveToCoordinates`
  api/src/opentrons/motion_planning/waypoints.py
  api/src/opentrons/protocol_engine/__init__.py
  api/src/opentrons/protocol_engine/commands/move_to_coordinates.py
  api/src/opentrons/protocol_engine/execution/movement.py
  api/src/opentrons/protocol_engine/state/motion.py
  api/src/opentrons/protocol_engine/state/pipettes.py
  api/src/opentrons/protocol_runner/json_command_translator.py
  api/tests/opentrons/motion_planning/test_waypoints.py
  api/tests/opentrons/protocol_engine/commands/test_move_to_coordinates.py
  api/tests/opentrons/protocol_engine/execution/test_movement_handler.py
  api/tests/opentrons/protocol_engine/state/test_motion_view.py
  api/tests/opentrons/protocol_engine/state/test_pipette_store.py
  api/tests/opentrons/protocol_runner/test_json_command_translator.py
  robot-server/tests/integration/http_api/protocols/test_v6_json_upload.tavern.yaml
Labels: robot-svcs, robot server, protocol-engine

#10976 fix(app): fix tip length calibration method selection
  app/src/organisms/Devices/ProtocolRun/SetupTipLengthCalibrationButton.tsx
Labels: 6.0-feedback, required-for-6.0
