Repository Opentrons/opentrons, pull requests merged in 2023-12, with the labels that each got.

#14041 chore(shared-data): Update the waste chute dimensions for the new lowered lid
  api/src/opentrons/protocol_api/_waste_chute_dimensions.py
  api/tests/opentrons/protocol_engine/resources/test_deck_configuration_provider.py
  shared-data/deck/definitions/4/ot3_standard.json
Labels: api, shared data

#14058 docs(api): docstring for `load_waste_chute()`
  api/src/opentrons/protocol_api/protocol_context.py
Labels: docs, papi-v2

#14086 docs(api): refactor docstrings for labware.py
  api/docs/v2/robot_position.rst
  api/src/opentrons/protocol_api/labware.py
Labels: docs, papi-v2

#13997 docs(api): edit docstring for `configure_nozzle_layout`
  api/src/opentrons/protocol_api/core/instrument.py
  api/src/opentrons/protocol_api/instrument_context.py
Labels: docs, papi-v2

#14133 fix(api): Remove experimental `with_staging_area_slot_d4` parameter
  api/src/opentrons/protocol_api/_waste_chute.py
  api/src/opentrons/protocol_api/_waste_chute_dimensions.py
  api/src/opentrons/protocol_api/protocol_context.py
Labels: api, papi-v2

#14146 docs(api): update Deck Slots page for new features in Python API 2.16
  api/docs/img/Flex-and-OT-2-decks.svg
  api/docs/img/OT-2-deck.svg
  api/docs/img/flex-deck.svg
  api/docs/v2/deck_slots.rst
  api/src/opentrons/protocol_api/protocol_context.py
Labels: docs, papi-v2

#14183 docs(api): new section for `push_out`
  api/docs/v2/basic_commands/liquids.rst
  api/src/opentrons/protocol_api/instrument_context.py
Labels: docs, papi-v2

#14190 docs(shared-data): Tidy up addressable area and fixture field descriptions
  shared-data/deck/schemas/4.json
Labels: docs, shared data

#14187 feat(api): Allow omitting the mount when loading a 96-channel
  api/docs/v2/new_pipette.rst
  api/src/opentrons/protocol_api/protocol_context.py
  api/src/opentrons/protocol_api/validation.py
  api/tests/opentrons/protocol_api/test_protocol_context.py
  api/tests/opentrons/protocol_api/test_validation.py
Labels: papi-v2

#14151 test(api): Add integration tests for load conflicts with the fixed trash
  api/tests/opentrons/protocol_api_integration/test_trashes.py
Labels: api, papi-v2

#14229 chore(robot-server): Make Opentrons-Version header friendlier for Postman
  robot-server/robot_server/versioning.py
Labels: robot server

#14073 docs(api): Versioning page updates for Python API 2.16
  api/docs/v2/conf.py
  api/docs/v2/versioning.rst
Labels: docs, papi-v2

#14194 docs(api): corrections to docstrings involving `TrashBin`s
  api/src/opentrons/protocol_api/instrument_context.py
  api/src/opentrons/protocol_api/protocol_context.py
Labels: docs, papi-v2

#14189 docs(api): refactor Pipettes page to include partial tip pickup
  api/docs/v2/new_pipette.rst
  api/docs/v2/pipettes/characteristics.rst
  api/docs/v2/pipettes/configuring.rst
  api/docs/v2/pipettes/loading.rst
  api/docs/v2/pipettes/volume_modes.rst
Labels: docs, papi-v2

#14259 docs(api): update Tutorial and Protocol Examples for version 2.16
  api/docs/v2/example_protocols/dilution_tutorial.py
  api/docs/v2/example_protocols/dilution_tutorial_flex.py
  api/docs/v2/example_protocols/dilution_tutorial_multi.py
  api/docs/v2/example_protocols/dilution_tutorial_multi_flex.py
  api/docs/v2/new_examples.rst
  api/docs/v2/tutorial.rst
Labels: docs, papi-v2

#14265 docs(api): miscellaneous changes for version 2.16
  api/docs/v2/adapting_ot2_flex.rst
  api/docs/v2/basic_commands/liquids.rst
  api/docs/v2/basic_commands/pipette_tips.rst
  api/docs/v2/deck_slots.rst
  api/docs/v2/index.rst
  api/docs/v2/modules/multiple_same_type.rst
  api/docs/v2/modules/setup.rst
  api/docs/v2/moving_labware.rst
  api/docs/v2/new_pipette.rst
  api/docs/v2/pipettes/characteristics.rst
  api/docs/v2/pipettes/loading.rst
  api/docs/v2/pipettes/partial_tip_pickup.rst
  api/docs/v2/pipettes/volume_modes.rst
  api/docs/v2/versioning.rst
Labels: docs, papi-v2
