Repository Opentrons/opentrons, pull requests merged in 2023-01, with the labels that each got.

#11969 fix(api): Safely map 0-volume aspirates and dispenses in Python protocols
  api/src/opentrons/protocol_runner/legacy_command_mapper.py
  api/tests/opentrons/protocol_runner/smoke_tests/test_legacy_command_mapper.py
Labels: api, fix, papi-v2, robot-svcs, protocol-engine

#11986 test(robot-server): Add integration test for Python protocols with custom labware
  robot-server/tests/integration/http_api/protocols/test_python_custom_labware_upload.py
  robot-server/tests/integration/robot_client.py
Labels: robot-svcs, robot server

#11977 refactor(api): implement labware parent on engine core
  api/src/opentrons/protocol_api/core/engine/module_core.py
  api/src/opentrons/protocol_api/core/engine/protocol.py
  api/src/opentrons/protocol_api/core/module.py
  api/src/opentrons/protocol_api/core/protocol.py
  api/src/opentrons/protocol_api/core/protocol_api/instrument_context.py
  api/src/opentrons/protocol_api/core/protocol_api/legacy_module_core.py
  api/src/opentrons/protocol_api/core/protocol_api/module_geometry.py
  api/src/opentrons/protocol_api/core/protocol_api/protocol_context.py
  api/src/opentrons/protocol_api/core/simulator/instrument_context.py
  api/src/opentrons/protocol_api/labware.py
  api/src/opentrons/protocol_api/module_contexts.py
  api/src/opentrons/protocol_api/protocol_context.py
  api/src/opentrons/protocols/api_support/labware_like.py
  api/src/opentrons/types.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/protocol_api/core/engine/test_module_core.py
  api/tests/opentrons/protocol_api/core/legacy/test_module_geometry.py
  api/tests/opentrons/protocol_api/test_labware.py
  api/tests/opentrons/protocol_api/test_module_context.py
  api/tests/opentrons/protocol_api/test_protocol_context.py
  api/tests/opentrons/protocol_api_old/test_labware.py
  api/tests/opentrons/protocol_api_old/test_offsets.py
  api/tests/opentrons/protocols/api_support/test_util.py
  api/tests/opentrons/protocols/execution/test_execute_json_v3.py
Labels: robot-svcs

#12017 chore(api): rename implementation classes to core
  api/Pipfile
  api/Pipfile.lock
  api/src/opentrons/protocol_api/core/legacy/__init__.py
  api/src/opentrons/protocol_api/core/legacy/deck.py
  api/src/opentrons/protocol_api/core/legacy/deck_conflict.py
  api/src/opentrons/protocol_api/core/legacy/labware_offset_provider.py
  api/src/opentrons/protocol_api/core/legacy/legacy_instrument_core.py
  api/src/opentrons/protocol_api/core/legacy/legacy_labware_core.py
  api/src/opentrons/protocol_api/core/legacy/legacy_module_core.py
  api/src/opentrons/protocol_api/core/legacy/legacy_protocol_core.py
  api/src/opentrons/protocol_api/core/legacy/legacy_well_core.py
  api/src/opentrons/protocol_api/core/legacy/load_info.py
  api/src/opentrons/protocol_api/core/legacy/module_geometry.py
  api/src/opentrons/protocol_api/core/legacy/well_geometry.py
  api/src/opentrons/protocol_api/core/legacy_simulator/__init__.py
  api/src/opentrons/protocol_api/core/legacy_simulator/legacy_instrument_core.py
  api/src/opentrons/protocol_api/core/legacy_simulator/legacy_protocol_core.py
  api/src/opentrons/protocol_api/core/protocol_api/__init__.py
  api/src/opentrons/protocol_api/create_protocol_context.py
  api/src/opentrons/protocol_api/labware.py
  api/src/opentrons/protocol_api/module_contexts.py
  api/src/opentrons/protocol_api_experimental/well.py
  api/src/opentrons/protocol_runner/legacy_command_mapper.py
  api/src/opentrons/protocol_runner/legacy_wrappers.py
  api/src/opentrons/protocols/api_support/labware_like.py
  api/src/opentrons/protocols/api_support/util.py
  api/src/opentrons/protocols/duration/estimator.py
  api/src/opentrons/protocols/geometry/planning.py
  api/src/opentrons/types.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/protocol_api/core/legacy/test_base_module_core.py
  api/tests/opentrons/protocol_api/core/legacy/test_deck.py
  api/tests/opentrons/protocol_api/core/legacy/test_deck_conflict.py
  api/tests/opentrons/protocol_api/core/legacy/test_heater_shaker_core.py
  api/tests/opentrons/protocol_api/core/legacy/test_labware_offset_provider.py
  api/tests/opentrons/protocol_api/core/legacy/test_magnetic_module_core.py
  api/tests/opentrons/protocol_api/core/legacy/test_module_geometry.py
  api/tests/opentrons/protocol_api/core/legacy/test_protocol_context_implementation.py
  api/tests/opentrons/protocol_api/core/legacy/test_temperature_module_core.py
  api/tests/opentrons/protocol_api/core/legacy/test_thermocycler_core.py
  api/tests/opentrons/protocol_api/test_deck.py
  api/tests/opentrons/protocol_api_old/core/protocol_api/test_instrument_context.py
  api/tests/opentrons/protocol_api_old/core/protocol_api/test_well_implementation.py
  api/tests/opentrons/protocol_api_old/core/simulator/conftest.py
  api/tests/opentrons/protocol_api_old/test_labware.py
  api/tests/opentrons/protocol_api_old/test_module_context.py
  api/tests/opentrons/protocol_api_old/test_offsets.py
  api/tests/opentrons/protocols/api_support/test_labware_like.py
  api/tests/opentrons/protocols/api_support/test_tip_tracker.py
  api/tests/opentrons/protocols/api_support/test_util.py
  api/tests/opentrons/protocols/duration/test_estimator.py
  api/tests/opentrons/protocols/execution/test_execute_json_v3.py
  api/tests/opentrons/protocols/execution/test_execute_json_v5.py
  api/tests/opentrons/protocols/geometry/test_geometry.py
  robot-server/robot_server/robot/calibration/check/user_flow.py
  robot-server/robot_server/robot/calibration/deck/user_flow.py
  robot-server/robot_server/robot/calibration/pipette_offset/user_flow.py
  robot-server/robot_server/robot/calibration/tip_length/user_flow.py
  robot-server/robot_server/robot/calibration/util.py
Labels: robot-svcs

#12038 perf(api): Regularly yield to the event loop when executing Protocol Engine commands
  api/src/opentrons/protocol_engine/execution/queue_worker.py
Labels: api, protocol-engine

#12039 perf(api): Do not block the event loop when loading JSONv6 protocols
  api/src/opentrons/protocol_runner/protocol_runner.py
Labels: api, robot-svcs

#11948 feat(hardware): parallel mcu fw update capability
  DEV_SETUP.md
  hardware/opentrons_hardware/firmware_update/__init__.py
  hardware/opentrons_hardware/firmware_update/run.py
  hardware/opentrons_hardware/scripts/update_fws.py
  hardware/tests/opentrons_hardware/firmware_update/test_run.py
Labels: hardware

#12045 refactor(api): rename implementation properties and init arguments to core
  api/src/opentrons/protocol_api/core/legacy/legacy_instrument_core.py
  api/src/opentrons/protocol_api/core/legacy/legacy_module_core.py
  api/src/opentrons/protocol_api/core/legacy/legacy_protocol_core.py
  api/src/opentrons/protocol_api/core/legacy/module_geometry.py
  api/src/opentrons/protocol_api/core/legacy_simulator/legacy_instrument_core.py
  api/src/opentrons/protocol_api/create_protocol_context.py
  api/src/opentrons/protocol_api/instrument_context.py
  api/src/opentrons/protocol_api/labware.py
  api/src/opentrons/protocol_api/module_contexts.py
  api/src/opentrons/protocol_api/protocol_context.py
  api/src/opentrons/simulate.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/protocol_api/core/legacy/test_magnetic_module_core.py
  api/tests/opentrons/protocol_api/test_instrument_context.py
  api/tests/opentrons/protocol_api/test_labware.py
  api/tests/opentrons/protocol_api/test_protocol_context.py
  api/tests/opentrons/protocol_api/test_well.py
  api/tests/opentrons/protocol_api_old/test_context.py
  api/tests/opentrons/protocol_api_old/test_labware.py
  api/tests/opentrons/protocol_api_old/test_labware_load.py
  api/tests/opentrons/protocol_api_old/test_module_context.py
  api/tests/opentrons/protocol_api_old/test_offsets.py
  api/tests/opentrons/protocols/api_support/test_labware_like.py
  api/tests/opentrons/protocols/api_support/test_util.py
  api/tests/opentrons/protocols/execution/test_execute_json_v3.py
  api/tests/opentrons/protocols/execution/test_execute_json_v5.py
  api/tests/opentrons/test_execute.py
  api/tests/opentrons/test_simulate.py
  hardware-testing/hardware_testing/opentrons_api/workarounds.py
  robot-server/robot_server/robot/calibration/check/user_flow.py
  robot-server/robot_server/robot/calibration/deck/user_flow.py
  robot-server/robot_server/robot/calibration/helper_classes.py
  robot-server/robot_server/robot/calibration/pipette_offset/user_flow.py
  robot-server/robot_server/robot/calibration/util.py
  robot-server/tests/robot/calibration/check/test_user_flow.py
  robot-server/tests/robot/calibration/pipette_offset/test_user_flow.py
Labels: robot-svcs

#12041 test(robot-server): Add unit tests for 0-length command slices
  robot-server/tests/runs/test_run_store.py
Labels: robot-svcs, robot server

#12055 chore(release): 6.2.1
  CHANGELOG.md
  api-client/CHANGELOG.md
  api-client/package.json
  api/src/opentrons/CHANGELOG.md
  api/src/opentrons/package.json
  app-shell/CHANGELOG.md
  app-shell/package.json
  app/CHANGELOG.md
  app/package.json
  components/CHANGELOG.md
  components/package.json
  discovery-client/CHANGELOG.md
  discovery-client/package.json
  labware-designer/CHANGELOG.md
  labware-designer/package.json
  labware-library/CHANGELOG.md
  labware-library/package.json
  lerna.json
  notify-server/notify_server/CHANGELOG.md
  notify-server/notify_server/package.json
  protocol-designer/CHANGELOG.md
  protocol-designer/package.json
  protocol-library-kludge/CHANGELOG.md
  protocol-library-kludge/package.json
  react-api-client/CHANGELOG.md
  react-api-client/package.json
  robot-server/robot_server/CHANGELOG.md
  robot-server/robot_server/package.json
  shared-data/CHANGELOG.md
  shared-data/package.json
  step-generation/CHANGELOG.md
  step-generation/package.json
  update-server/otupdate/CHANGELOG.md
  update-server/otupdate/package.json
  webpack-config/CHANGELOG.md
  webpack-config/package.json
Labels: DO NOT MERGE

#11920 feat(api): Implement `define_liquid` and `load_liquid` in PAPI
  api/docs/v2/versioning.rst
  api/src/opentrons/protocol_api/__init__.py
  api/src/opentrons/protocol_api/_liquid.py
  api/src/opentrons/protocol_api/core/engine/protocol.py
  api/src/opentrons/protocol_api/core/engine/well.py
  api/src/opentrons/protocol_api/core/legacy/legacy_protocol_core.py
  api/src/opentrons/protocol_api/core/legacy/legacy_well_core.py
  api/src/opentrons/protocol_api/core/protocol.py
  api/src/opentrons/protocol_api/core/well.py
  api/src/opentrons/protocol_api/labware.py
  api/src/opentrons/protocol_api/protocol_context.py
  api/src/opentrons/protocol_engine/clients/sync_client.py
  api/src/opentrons/protocol_engine/protocol_engine.py
  api/src/opentrons/protocol_runner/protocol_runner.py
  api/tests/opentrons/protocol_api/core/engine/test_protocol_core.py
  api/tests/opentrons/protocol_api/core/engine/test_well_core.py
  api/tests/opentrons/protocol_api/test_protocol_context.py
  api/tests/opentrons/protocol_api/test_well.py
  api/tests/opentrons/protocol_engine/clients/test_sync_client.py
  api/tests/opentrons/protocol_engine/state/test_liquid_store.py
  api/tests/opentrons/protocol_engine/test_protocol_engine.py
  api/tests/opentrons/protocol_runner/test_protocol_runner.py
Labels: robot-svcs

#12079 refactor(api): Deprecate presses and increment args when using PAPI pick_up_tip
  api/docs/v2/versioning.rst
  api/src/opentrons/protocol_api/instrument_context.py
Labels: robot-svcs
