Repository Opentrons/opentrons, pull requests merged in 2023-02, with the labels that each got.

#12086 chore(release): Merge hotfix_6.2.1@a63f4fcf into edge (merge 3)
  api/release-notes.md
  api/src/opentrons/protocol_engine/execution/queue_worker.py
  api/src/opentrons/protocol_runner/legacy_command_mapper.py
  api/src/opentrons/protocol_runner/protocol_runner.py
  api/tests/opentrons/protocol_runner/smoke_tests/test_legacy_command_mapper.py
  app-shell/build/release-notes.md
  app/src/organisms/Devices/HistoricalProtocolRunOverflowMenu.tsx
  lerna.json
  robot-server/tests/integration/http_api/protocols/test_python_custom_labware_upload.py
  robot-server/tests/integration/robot_client.py
Labels: DO NOT MERGE

#12059 feat(hardware): add progress output to subsystem firmware update process
  api/src/opentrons/hardware_control/backends/ot3controller.py
  api/tests/opentrons/hardware_control/backends/test_ot3_controller.py
  hardware/opentrons_hardware/firmware_update/__init__.py
  hardware/opentrons_hardware/firmware_update/downloader.py
  hardware/opentrons_hardware/firmware_update/run.py
  hardware/opentrons_hardware/firmware_update/types.py
  hardware/opentrons_hardware/scripts/update_fw.py
  hardware/opentrons_hardware/scripts/update_fws.py
  hardware/tests/firmware_integration/test_update_fw.py
  hardware/tests/opentrons_hardware/firmware_update/test_downloader.py
  hardware/tests/opentrons_hardware/firmware_update/test_run.py
Labels: feature, refactor, hardware

#12114 docs(api): Officially remove the `height` parameter of `MagneticModuleContext.engage()`
  api/src/opentrons/protocol_api/core/engine/module_core.py
  api/src/opentrons/protocol_api/module_contexts.py
  api/tests/opentrons/protocol_api/core/engine/test_magnetic_module_core.py
  api/tests/opentrons/protocol_api/test_magnetic_module_context.py
Labels: api, docs, papi-v2, robot-svcs

#12122 docs(api): Settle in to leave Labware.default_magdeck_engage_height alone, for now
  api/src/opentrons/protocol_api/core/engine/labware.py
  api/src/opentrons/protocol_api/labware.py
  api/src/opentrons/protocol_api/module_contexts.py
Labels: api, docs, papi-v2, robot-svcs, protocol-engine

#12124 refactor(api): Allow homing after drop tip in engine core
  api/src/opentrons/protocol_api/core/engine/instrument.py
  api/src/opentrons/protocol_api/core/instrument.py
  api/src/opentrons/protocol_api/core/legacy/legacy_instrument_core.py
  api/src/opentrons/protocol_api/core/legacy_simulator/legacy_instrument_core.py
  api/src/opentrons/protocol_api/instrument_context.py
  api/src/opentrons/protocol_engine/clients/sync_client.py
  api/src/opentrons/protocol_engine/commands/drop_tip.py
  api/src/opentrons/protocol_engine/execution/hardware_stopper.py
  api/src/opentrons/protocol_engine/execution/pipetting.py
  api/tests/opentrons/protocol_api/core/engine/test_instrument_core.py
  api/tests/opentrons/protocol_api/test_instrument_context.py
  api/tests/opentrons/protocol_engine/clients/test_sync_client.py
  api/tests/opentrons/protocol_engine/commands/test_drop_tip.py
  api/tests/opentrons/protocol_engine/execution/test_hardware_stopper.py
  api/tests/opentrons/protocol_engine/execution/test_pipetting_handler.py
  shared-data/command/schemas/7.json
Labels: robot-svcs

#12141 fix(api): Fix accidental error on any PAPIv2.14 protocol
  api/src/opentrons/protocol_api/create_protocol_context.py
Labels: api, robot-svcs, protocol-engine

#12146 refactor(api): Forbid use of `Labware.set_offset()` on PAPIv2.14
  api/src/opentrons/protocol_api/core/engine/labware.py
  api/src/opentrons/protocol_api/labware.py
  api/tests/opentrons/protocol_api/core/engine/test_labware_core.py
  api/tests/opentrons/protocol_api/test_labware.py
  api/tests/opentrons/protocol_api_old/test_offsets.py
Labels: api, refactor, papi-v2, robot-svcs

#12162 refactor(api): Delete empty util/environment.py file
  api/src/opentrons/util/environment.py
Labels: api, refactor

#12105 refactor(api): Allow aspirate, dispense and blow-out in place in PE and PAPI
  api/src/opentrons/protocol_api/core/engine/instrument.py
  api/src/opentrons/protocol_api/core/instrument.py
  api/src/opentrons/protocol_api/core/legacy/legacy_instrument_core.py
  api/src/opentrons/protocol_api/core/legacy_simulator/legacy_instrument_core.py
  api/src/opentrons/protocol_api/instrument_context.py
  api/src/opentrons/protocol_api/validation.py
  api/src/opentrons/protocol_engine/clients/sync_client.py
  api/src/opentrons/protocol_engine/commands/__init__.py
  api/src/opentrons/protocol_engine/commands/aspirate_in_place.py
  api/src/opentrons/protocol_engine/commands/blow_out_in_place.py
  api/src/opentrons/protocol_engine/commands/command_unions.py
  api/src/opentrons/protocol_engine/errors/exceptions.py
  api/tests/opentrons/protocol_api/core/engine/test_instrument_core.py
  api/tests/opentrons/protocol_api/test_instrument_context.py
  api/tests/opentrons/protocol_api/test_validation.py
  api/tests/opentrons/protocol_api_old/core/simulator/test_instrument_context.py
  api/tests/opentrons/protocol_engine/clients/test_sync_client.py
  api/tests/opentrons/protocol_engine/commands/test_aspirate_in_place.py
  api/tests/opentrons/protocol_engine/commands/test_blow_out_in_place.py
  shared-data/command/schemas/7.json
Labels: robot-svcs

#12169 refactor(api): Decouple deck conflict checking from legacy PAPIv2 types
  api/src/opentrons/motion_planning/deck_conflict.py
  api/src/opentrons/protocol_api/core/legacy/deck.py
  api/src/opentrons/protocol_api/core/legacy/legacy_protocol_core.py
  api/src/opentrons/protocol_api/core/legacy/module_geometry.py
  api/tests/opentrons/motion_planning/test_deck_conflict.py
  api/tests/opentrons/protocol_api/core/legacy/test_deck.py
  api/tests/opentrons/protocol_api/core/legacy/test_deck_conflict.py
Labels: api, refactor, papi-v2
