Repository Opentrons/opentrons, pull requests merged in 2023-05, with the labels that each got.

#12596 chore(python): Enable --strict-markers in all pytest configurations
  api/pytest.ini
  app-testing/pytest.ini
  g-code-testing/pytest.ini
  hardware/pytest.ini
  notify-server/pytest.ini
  robot-server/pytest.ini
  server-utils/pytest.ini
  shared-data/python/pytest.ini
  system-server/pytest.ini
  update-server/pytest.ini
  usb-bridge/pytest.ini
Labels: chore, python

#12598 refactor(component): refactoring iconList storybook
  components/src/icons/IconList.stories.tsx
Labels: components

#12613 feature(api): Allow magnetic block load module in PE
  api/src/opentrons/hardware_control/modules/types.py
  api/src/opentrons/protocol_api/core/engine/protocol.py
  api/src/opentrons/protocol_engine/commands/calibration/calibrate_module.py
  api/src/opentrons/protocol_engine/commands/load_module.py
  api/src/opentrons/protocol_engine/errors/__init__.py
  api/src/opentrons/protocol_engine/errors/exceptions.py
  api/src/opentrons/protocol_engine/execution/equipment.py
  api/src/opentrons/protocol_engine/state/modules.py
  api/src/opentrons/protocol_engine/types.py
  api/tests/opentrons/protocol_api/core/engine/test_deck_conflict.py
  api/tests/opentrons/protocol_engine/commands/calibration/test_calibrate_module.py
  api/tests/opentrons/protocol_engine/commands/test_load_module.py
  api/tests/opentrons/protocol_engine/conftest.py
  api/tests/opentrons/protocol_engine/execution/test_equipment_handler.py
  api/tests/opentrons/protocol_engine/state/test_module_view.py
  shared-data/command/schemas/7.json
Labels: robot-svcs

#12638 test(robot-server): Wait for server readiness before running tests
  robot-server/tests/integration/conftest.py
Labels: robot-svcs, robot server

#12647 docs(api): Remove accidental public mentions of private members of opentrons.types
  api/docs/v2/new_protocol_api.rst
Labels: api, docs

#12665 fix(api): Allow None serial number when getting module offset
  api/src/opentrons/protocol_engine/state/module_substates/__init__.py
  api/src/opentrons/protocol_engine/state/module_substates/magnetic_block_substate.py
  api/src/opentrons/protocol_engine/state/modules.py
  api/tests/opentrons/protocol_engine/state/test_module_view.py
Labels: robot-svcs

#11812 refactor(api): Choose the deck type slightly less implicitly
  api/src/opentrons/execute.py
  api/src/opentrons/protocol_api/core/legacy/deck.py
  api/src/opentrons/protocol_api/core/legacy/legacy_protocol_core.py
  api/src/opentrons/protocol_api/core/legacy/module_geometry.py
  api/src/opentrons/protocol_api/create_protocol_context.py
  api/src/opentrons/protocol_engine/resources/deck_data_provider.py
  api/src/opentrons/protocol_engine/types.py
  api/src/opentrons/protocol_runner/legacy_wrappers.py
  api/src/opentrons/protocols/api_support/constants.py
  api/src/opentrons/protocols/api_support/deck_type.py
  api/src/opentrons/protocols/duration/estimator.py
  api/src/opentrons/simulate.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/protocol_api/core/legacy/test_deck.py
  api/tests/opentrons/protocol_api/core/legacy/test_module_geometry.py
  api/tests/opentrons/protocol_api_old/core/simulator/conftest.py
  api/tests/opentrons/protocol_api_old/test_context.py
  api/tests/opentrons/protocol_api_old/test_instrument.py
  api/tests/opentrons/protocol_api_old/test_module_context.py
  api/tests/opentrons/protocol_engine/conftest.py
  api/tests/opentrons/protocols/advanced_control/test_transfers.py
  api/tests/opentrons/protocols/api_support/test_labware_like.py
  api/tests/opentrons/protocols/api_support/test_util.py
  api/tests/opentrons/protocols/geometry/test_geometry.py
  hardware-testing/hardware_testing/gravimetric/helpers.py
  robot-server/robot_server/robot/calibration/check/user_flow.py
  robot-server/robot_server/robot/calibration/deck/user_flow.py
  robot-server/robot_server/robot/calibration/pipette_offset/user_flow.py
  robot-server/robot_server/robot/calibration/tip_length/user_flow.py
Labels: api, shared data, robot server

#12682 feature(api): Allow pagination when getting all runs
  robot-server/robot_server/runs/router/base_router.py
  robot-server/robot_server/runs/run_data_manager.py
  robot-server/robot_server/runs/run_store.py
  robot-server/tests/integration/http_api/runs/test_auto_deletion.py
  robot-server/tests/integration/http_api/runs/test_runs_pagination.tavern.yaml
  robot-server/tests/integration/robot_client.py
  robot-server/tests/runs/router/test_base_router.py
  robot-server/tests/runs/test_run_data_manager.py
  robot-server/tests/runs/test_run_store.py
Labels: robot-svcs

#12691 fix(api): Match the deck definition to the robot type in protocol analysis
  api/src/opentrons/protocol_api/create_protocol_context.py
  api/src/opentrons/protocol_engine/__init__.py
  api/src/opentrons/protocol_engine/create_protocol_engine.py
  api/src/opentrons/protocol_engine/resources/deck_data_provider.py
  api/src/opentrons/protocol_engine/state/config.py
  api/src/opentrons/protocol_runner/create_simulating_runner.py
  api/src/opentrons/protocol_runner/legacy_wrappers.py
  api/src/opentrons/protocols/api_support/deck_type.py
  api/tests/opentrons/cli/test_cli.py
  api/tests/opentrons/protocol_api/core/engine/test_deck_conflict.py
  api/tests/opentrons/protocol_engine/conftest.py
  api/tests/opentrons/protocol_engine/execution/test_equipment_handler.py
  api/tests/opentrons/protocol_engine/execution/test_run_control_handler.py
  api/tests/opentrons/protocol_engine/resources/test_deck_data_provider.py
  api/tests/opentrons/protocol_engine/state/test_command_store.py
  api/tests/opentrons/protocol_engine/state/test_geometry_view.py
  api/tests/opentrons/protocol_engine/state/test_labware_store.py
  api/tests/opentrons/protocol_engine/state/test_labware_view.py
  api/tests/opentrons/protocol_engine/state/test_state_store.py
  api/tests/opentrons/protocol_engine/test_create_protocol_engine.py
  api/tests/opentrons/protocol_engine_in_thread.py
  g-code-testing/g_code_parsing/g_code_engine.py
  robot-server/robot_server/hardware.py
  robot-server/robot_server/maintenance_runs/dependencies.py
  robot-server/robot_server/maintenance_runs/maintenance_engine_store.py
  robot-server/robot_server/runs/dependencies.py
  robot-server/robot_server/runs/engine_store.py
  robot-server/tests/maintenance_runs/test_engine_store.py
  robot-server/tests/runs/test_engine_store.py
Labels: api

#12720 feature(api): Allow to move_labware off deck
  api/release-notes-internal.md
  api/src/opentrons/protocol_api/__init__.py
  api/src/opentrons/protocol_api/_types.py
  api/src/opentrons/protocol_api/core/engine/exceptions.py
  api/src/opentrons/protocol_api/core/engine/protocol.py
  api/src/opentrons/protocol_api/core/legacy/legacy_protocol_core.py
  api/src/opentrons/protocol_api/core/protocol.py
  api/src/opentrons/protocol_api/protocol_context.py
  api/tests/opentrons/protocol_api/core/engine/test_protocol_core.py
  api/tests/opentrons/protocol_api/test_protocol_context.py
Labels: robot-svcs

#12767 chore(robot-server): Remove redundant enableOT3HardwareController config
  robot-server/tests/integration/dev_server.py
Labels: robot server

#12759 feature(robot-server, api): get a runs loaded labware definitions
  api/src/opentrons/protocol_engine/state/labware.py
  api/tests/opentrons/protocol_engine/state/test_labware_view.py
  robot-server/robot_server/runs/router/base_router.py
  robot-server/robot_server/runs/router/labware_router.py
  robot-server/robot_server/runs/run_data_manager.py
  robot-server/robot_server/service/json_api/__init__.py
  robot-server/robot_server/service/json_api/response.py
  robot-server/tests/integration/http_api/runs/test_get_loaded_labware_definitions.tavern.yaml
  robot-server/tests/runs/router/test_labware_router.py
  robot-server/tests/runs/test_run_data_manager.py
Labels: robot-svcs

#12789 chore(hardware-testing): Fix linting error from OT3API builder changes
  hardware-testing/hardware_testing/opentrons_api/helpers_ot3.py
Labels: chore
