Repository Opentrons/opentrons, pull requests merged in 2023-03, with the labels that each got.

#12230 refactor(protocol-engine): Shorten error docstrings
  api/src/opentrons/protocol_engine/errors/exceptions.py
Labels: refactor, protocol-engine

#12227 fix(api): Raise TipNotAttachedError for blow-out with no tip attached
  api/src/opentrons/protocol_engine/execution/pipetting.py
  api/tests/opentrons/protocol_engine/execution/test_pipetting_handler.py
Labels: robot-svcs

#12229 fix(api): Fix offsets not applying to labware atop "compatible" Temperature Modules
  api/src/opentrons/protocol_api/core/engine/deck_conflict.py
  api/src/opentrons/protocol_api/core/engine/module_core.py
  api/src/opentrons/protocol_engine/errors/exceptions.py
  api/src/opentrons/protocol_engine/execution/equipment.py
  api/src/opentrons/protocol_engine/execution/thermocycler_plate_lifter.py
  api/src/opentrons/protocol_engine/state/modules.py
  api/tests/opentrons/protocol_api/core/engine/test_deck_conflict.py
  api/tests/opentrons/protocol_api/core/engine/test_magnetic_module_core.py
  api/tests/opentrons/protocol_api/core/engine/test_module_core.py
  api/tests/opentrons/protocol_engine/commands/test_move_labware.py
  api/tests/opentrons/protocol_engine/execution/test_equipment_handler.py
  api/tests/opentrons/protocol_engine/execution/test_thermocycler_plate_lifter.py
  api/tests/opentrons/protocol_engine/state/test_module_store.py
  api/tests/opentrons/protocol_engine/state/test_module_view.py
  robot-server/tests/integration/http_api/runs/test_labware_offsets_on_compatible_modules.py
Labels: api, fix, robot server, protocol-engine

#12221 fix(api): Raise an error when trying to aspirate more than max volume
  api/src/opentrons/protocol_engine/errors/exceptions.py
  api/src/opentrons/protocol_engine/execution/pipetting.py
  api/src/opentrons/protocol_engine/state/pipettes.py
  api/tests/opentrons/protocol_engine/commands/test_aspirate.py
  api/tests/opentrons/protocol_engine/commands/test_aspirate_in_place.py
  api/tests/opentrons/protocol_engine/execution/test_pipetting_handler.py
Labels: robot-svcs

#12261 fix(api): Access channels property when analyzing a transfer command on an OT-2
  api/src/opentrons/protocols/advanced_control/transfers.py
Labels: robot-svcs

#12247 test(robot-server): Port some tests to the the session-scoped dev server
  robot-server/tests/conftest.py
  robot-server/tests/integration/common.yaml
  robot-server/tests/integration/conftest.py
  robot-server/tests/integration/dev_server.py
  robot-server/tests/integration/http_api/protocols/test_upload_bundled_data.py
  robot-server/tests/integration/http_api/protocols/test_upload_python_custom_labware.py
  robot-server/tests/integration/http_api/runs/test_labware_offsets_on_compatible_modules.py
Labels: refactor, robot server

#12268 fix(api): Raise a helpful error if you call `.reset()` on a labware that isn't a tip rack
  api/docs/v2/versioning.rst
  api/src/opentrons/protocol_api/core/engine/labware.py
  api/src/opentrons/protocol_api/labware.py
  api/src/opentrons/protocol_engine/protocol_engine.py
  api/tests/opentrons/protocol_api/core/engine/test_labware_core.py
Labels: fix, papi-v2, protocol-engine

#12234 refactor(protocol-engine): Delete unused PipetteTipInfoNotFoundError
  api/src/opentrons/protocol_engine/errors/__init__.py
  api/src/opentrons/protocol_engine/errors/exceptions.py
Labels: api, refactor, protocol-engine

#12266 feat(app-shell-odd): Use sd-notify
  .github/workflows/app-test-build-deploy.yaml
  app-shell-odd/package.json
  app-shell-odd/src/main.ts
  app-shell-odd/src/systemd.ts
  app-shell-odd/typings/sd-notify.d.ts
  yarn.lock
Labels: ot3-build

#12251 docs(api): define and load liquid methods
  api/docs/v2/new_labware.rst
  api/docs/v2/tutorial.rst
Labels: docs

#12276 fix(api): Update liquid setup docstrings
  api/src/opentrons/protocol_api/_liquid.py
  api/src/opentrons/protocol_api/labware.py
  api/src/opentrons/protocol_api/protocol_context.py
Labels: docs, papi-v2, robot-svcs

#12240 Refactor(api): Add offset to maintenance position
  api/src/opentrons/protocol_engine/commands/calibration/move_to_maintenance_position.py
  api/src/opentrons/protocol_engine/state/labware.py
  api/tests/opentrons/protocol_engine/commands/calibration/test_move_to_maintenance_position.py
  api/tests/opentrons/protocol_engine/state/test_labware_view.py
Labels: robot-svcs

#12274 fix(api): Add set_calibration not implemented to versioning doc
  api/docs/v2/versioning.rst
  api/src/opentrons/protocol_api/labware.py
Labels: docs, papi-v2, robot-svcs

#12138 chore: update npm packages
  app-shell-odd/package.json
  app-shell/package.json
  components/package.json
  labware-library/package.json
  package.json
  protocol-designer/package.json
  shared-data/package.json
  yarn.lock
Labels: DO NOT MERGE
