Repository Opentrons/opentrons, pull requests merged in 2023-08, with the labels that each got.

#13108 docs(api): new Moving Labware page
  api/docs/v2/index.rst
  api/docs/v2/moving_labware.rst
  api/docs/v2/new_pipette.rst
  api/docs/v2/new_protocol_api.rst
  api/src/opentrons/protocol_api/_types.py
  api/src/opentrons/protocol_api/protocol_context.py
Labels: docs, papi-v2

#13247 refactor(api): Remove some opentrons.protocols type-checking exceptions
  api/mypy.ini
  api/src/opentrons/protocols/bundle.py
  api/tests/opentrons/protocols/models/test_json_protocol.py
  api/tests/opentrons/protocols/test_bundle.py
  api/tests/opentrons/protocols/test_parse.py
Labels: api, refactor

#13218 docs(api): new_pipette.rst revisions for Flex
  api/docs/v2/new_pipette.rst
Labels: docs, papi-v2

#13264 feature(robot-server): GET ODD logs from the /health and /logs
  api/src/opentrons/system/log_control.py
  robot-server/robot_server/health/models.py
  robot-server/robot_server/health/router.py
  robot-server/robot_server/service/legacy/models/logs.py
  robot-server/robot_server/service/legacy/routers/logs.py
  robot-server/tests/health/test_health_router.py
  robot-server/tests/integration/fixtures.py
  robot-server/tests/integration/test_health_check.tavern.yaml
  robot-server/tests/service/legacy/routers/test_logs.py
Labels: robot-svcs

#13292 refactor(robot-server): Followups to GET /protocols/ids
  robot-server/robot_server/protocols/router.py
  robot-server/tests/integration/http_api/protocols/test_upload.tavern.yaml
Labels: robot server

#13266 docs(api): Versioning page for Python API v2.15
  api/docs/v2/tutorial.rst
  api/docs/v2/versioning.rst
Labels: docs, papi-v2

#13315 docs(api): expand and improve Deck Slots page
  api/docs/img/Flex-and-OT-2-decks.svg
  api/docs/v2/deck_slots.rst
Labels: docs, papi-v2

#13258 feat(api): Add more validation to metadata and requirements dicts
  api/src/opentrons/ordered_set.py
  api/src/opentrons/protocol_reader/file_identifier.py
  api/src/opentrons/protocol_reader/protocol_reader.py
  api/src/opentrons/protocol_runner/legacy_wrappers.py
  api/src/opentrons/protocol_runner/protocol_runner.py
  api/src/opentrons/protocols/parse.py
  api/tests/opentrons/cli/test_cli.py
  api/tests/opentrons/protocol_reader/test_file_identifier.py
  api/tests/opentrons/protocol_reader/test_protocol_reader.py
  api/tests/opentrons/protocol_runner/test_protocol_runner.py
  api/tests/opentrons/protocols/test_parse.py
  api/tests/opentrons/test_ordered_set.py
  robot-server/robot_server/protocols/protocol_store.py
  robot-server/robot_server/runs/engine_store.py
  robot-server/tests/integration/http_api/persistence/test_compatibility.py
  robot-server/tests/integration/http_api/protocols/test_upload_flex_internal_release_compat.tavern.yaml
  robot-server/tests/integration/protocols/empty_ot3.py
Labels: api, papi-v2

#13336 docs(api): Document `ProtocolContext.commands()`
  api/docs/v2/new_protocol_api.rst
  api/src/opentrons/protocol_api/protocol_context.py
Labels: api, docs, papi-v2

#13287 docs(api): Revisions to Positions Within the OT-2
  api/docs/v2/new_advanced_running.rst
  api/docs/v2/robot_position.rst
  api/docs/v2/versioning.rst
Labels: docs, papi-v2

#13322 docs(api): Revisions to the Examples page
  api/docs/v2/new_examples.rst
Labels: docs, papi-v2

#13333 docs(api): new page on adapting OT-2 protocols for Flex
  api/docs/v2/adapting_ot2_flex.rst
  api/docs/v2/index.rst
Labels: docs, papi-v2

#13346 docs(api): Flex revisions for Advanced Control
  api/docs/v2/new_advanced_running.rst
Labels: docs, papi-v2

#13357 docs(api,robot-server): Update readmes to avoid overspecifying as "OT-2"
  api/README.rst
  api/pypi-readme.rst
  robot-server/README.rst
Labels: api, docs, robot server

#13239 feat(api): Alias `del deck[...]` to `moveLabware(..., OFF_DECK)`
  api/src/opentrons/protocol_api/core/engine/protocol.py
  api/src/opentrons/protocol_api/core/legacy/legacy_protocol_core.py
  api/src/opentrons/protocol_api/core/module.py
  api/src/opentrons/protocol_api/core/protocol.py
  api/src/opentrons/protocol_api/deck.py
  api/src/opentrons/protocol_api/protocol_context.py
  api/tests/opentrons/protocol_api/core/engine/test_protocol_core.py
  api/tests/opentrons/protocol_api/test_deck.py
  api/tests/opentrons/protocol_api/test_protocol_context.py
Labels: api, papi-v2, protocol-engine

#13397 perf(robot-server): Handle analysis requests serially to take more advantage of cache
  robot-server/robot_server/protocols/completed_analysis_store.py
Labels: robot server

#13410 docs(api): Opengraph tags for module subpages
  api/docs/v2/modules/heater_shaker.rst
  api/docs/v2/modules/magnetic_block.rst
  api/docs/v2/modules/magnetic_module.rst
  api/docs/v2/modules/multiple_same_type.rst
  api/docs/v2/modules/setup.rst
  api/docs/v2/modules/temperature_module.rst
  api/docs/v2/modules/thermocycler.rst
  api/docs/v2/new_modules.rst
Labels: docs, papi-v2
