Repository Opentrons/opentrons, pull requests merged in 2023-06, with the labels that each got.

#12781 feat(api): Support new Flex name as a Python robotType
  api/release-notes-internal.md
  api/src/opentrons/protocol_reader/file_identifier.py
  api/tests/opentrons/protocol_reader/test_file_identifier.py
  hardware-testing/hardware_testing/protocols/gravimetric_ot3_p1000.py
  hardware-testing/hardware_testing/protocols/gravimetric_ot3_p1000_multi_1000ul_tip.py
  hardware-testing/hardware_testing/protocols/gravimetric_ot3_p1000_multi_1000ul_tip_increment.py
  hardware-testing/hardware_testing/protocols/gravimetric_ot3_p1000_multi_200ul_tip.py
  hardware-testing/hardware_testing/protocols/gravimetric_ot3_p1000_multi_200ul_tip_increment.py
  hardware-testing/hardware_testing/protocols/gravimetric_ot3_p1000_multi_50ul_tip.py
  hardware-testing/hardware_testing/protocols/gravimetric_ot3_p1000_multi_50ul_tip_increment.py
  hardware-testing/hardware_testing/protocols/gravimetric_ot3_p50.py
  hardware-testing/hardware_testing/protocols/gravimetric_ot3_p50_multi_50ul_tip.py
  hardware-testing/hardware_testing/protocols/gravimetric_ot3_p50_multi_50ul_tip_increment.py
  robot-server/tests/integration/protocols/deck_coordinate_load.py
  robot-server/tests/integration/protocols/empty_ot3.py
Labels: api, papi-v2

#12822 fix(app): Make labware filtering in Labware Position Check robust to different deck types
  app/src/organisms/ApplyHistoricOffsets/hooks/getLabwareLocationCombos.ts
  app/src/organisms/LabwarePositionCheck/utils/getCheckSteps.ts
  app/src/organisms/LabwarePositionCheck/utils/labware.ts
Labels: app

#12571 feat(shared-data,api,robot-server): Use new OT-3 deck slot naming style
  api/release-notes-internal.md
  api/src/opentrons/calibration_storage/ot3/models/v1.py
  api/src/opentrons/protocol_api/deck.py
  api/src/opentrons/protocol_api/validation.py
  api/src/opentrons/protocol_engine/protocol_engine.py
  api/src/opentrons/protocol_engine/slot_standardization.py
  api/src/opentrons/protocol_engine/state/geometry.py
  api/src/opentrons/protocol_engine/state/labware.py
  api/src/opentrons/protocol_engine/state/modules.py
  api/src/opentrons/protocol_engine/state/state.py
  api/src/opentrons/protocol_engine/types.py
  api/src/opentrons/types.py
  api/tests/opentrons/protocol_api/test_deck.py
  api/tests/opentrons/protocol_api/test_validation.py
  api/tests/opentrons/protocol_engine/resources/test_deck_data_provider.py
  api/tests/opentrons/protocol_engine/state/test_geometry_view.py
  api/tests/opentrons/protocol_engine/state/test_labware_view.py
  api/tests/opentrons/protocol_engine/state/test_module_view.py
  api/tests/opentrons/protocol_engine/test_create_protocol_engine.py
  api/tests/opentrons/protocol_engine/test_protocol_engine.py
  api/tests/opentrons/protocol_engine/test_slot_standardization.py
  api/tests/opentrons/protocols/geometry/test_geometry.py
  api/tests/opentrons/test_types.py
  app-shell/build/release-notes-internal.md
  app/src/organisms/LabwarePositionCheck/__tests__/CheckItem.test.tsx
  app/src/organisms/LabwarePositionCheck/__tests__/PickUpTip.test.tsx
  app/src/organisms/LabwarePositionCheck/__tests__/ReturnTip.test.tsx
  hardware-testing/hardware_testing/opentrons_api/helpers_ot3.py
  robot-server/tests/integration/http_api/runs/test_deck_slot_standardization.py
  shared-data/command/schemas/7.json
  shared-data/deck/definitions/3/ot3_standard.json
  shared-data/module/definitions/3/heaterShakerModuleV1.json
  shared-data/module/definitions/3/temperatureModuleV2.json
  shared-data/module/definitions/3/thermocyclerModuleV2.json
  shared-data/python/opentrons_shared_data/deck/__init__.py
Labels: api, shared data, robot server, protocol-engine

#12844 feature(api, hardware-controller): allow hardware to move both mounts at the same time
  api/src/opentrons/hardware_control/__init__.py
  api/src/opentrons/hardware_control/api.py
  api/src/opentrons/hardware_control/errors.py
  api/src/opentrons/hardware_control/motion_utilities.py
  api/src/opentrons/hardware_control/ot3api.py
  api/src/opentrons/hardware_control/protocols/__init__.py
  api/src/opentrons/hardware_control/protocols/liquid_handler.py
  api/src/opentrons/hardware_control/protocols/motion_controller.py
  api/src/opentrons/protocol_engine/commands/calibration/move_to_maintenance_position.py
  api/src/opentrons/protocol_engine/state/labware.py
  api/tests/opentrons/hardware_control/test_ot3_api.py
  api/tests/opentrons/protocol_engine/commands/calibration/test_move_to_maintenance_position.py
  api/tests/opentrons/protocol_engine/state/test_labware_view.py
  shared-data/command/schemas/7.json
Labels: robot-svcs

#12846 feat(api): Enforce apiLevel 2.15 for Flex-style deck slot names
  api/release-notes-internal.md
  api/src/opentrons/protocol_api/deck.py
  api/src/opentrons/protocol_api/protocol_context.py
  api/src/opentrons/protocol_api/validation.py
  api/tests/opentrons/protocol_api/test_deck.py
  api/tests/opentrons/protocol_api/test_protocol_context.py
  api/tests/opentrons/protocol_api/test_validation.py
  robot-server/tests/integration/protocols/deck_coordinate_load.py
Labels: api, papi-v2, robot-svcs

#12775 fix(api): update USB port & hub mapping logic for Flex
  api/src/opentrons/drivers/rpi_drivers/types.py
  api/src/opentrons/hardware_control/backends/ot3controller.py
  api/src/opentrons/hardware_control/emulation/module_server/helpers.py
  api/src/opentrons/hardware_control/module_control.py
  api/src/opentrons/hardware_control/modules/mod_abc.py
  api/src/opentrons/hardware_control/types.py
  api/tests/opentrons/drivers/rpi_drivers/test_usb.py
  api/tests/opentrons/hardware_control/emulation/module_server/test_helpers.py
  api/tests/opentrons/hardware_control/integration/build_module.py
  api/tests/opentrons/hardware_control/test_module_control.py
  robot-server/robot_server/modules/module_data_mapper.py
  robot-server/robot_server/modules/module_models.py
  robot-server/robot_server/service/legacy/models/modules.py
  robot-server/robot_server/service/legacy/routers/modules.py
  robot-server/tests/integration/test_modules.tavern.yaml
  robot-server/tests/modules/test_module_data_mapper.py
  robot-server/tests/modules/test_router.py
  robot-server/tests/service/legacy/routers/test_modules.py
Labels: api, fix

#12873 docs(api): Describe Flex-style deck slot names in the Python Protocol API
  api/docs/v2/deck_slots.rst
  api/docs/v2/index.rst
  api/docs/v2/new_modules.rst
  api/docs/v2/new_protocol_api.rst
  api/src/opentrons/protocol_api/_types.py
  api/src/opentrons/protocol_api/labware.py
  api/src/opentrons/protocol_api/module_contexts.py
  api/src/opentrons/protocol_api/protocol_context.py
  api/src/opentrons/protocol_engine/types.py
  shared-data/command/schemas/7.json
Labels: api, docs, papi-v2

#12919 feature(app, api, robot-server): Reset gripper calibration and split OT-2 and OT-3 reset options
  api/src/opentrons/config/reset.py
  api/tests/opentrons/config/test_reset.py
  app/src/assets/localization/en/device_settings.json
  app/src/organisms/Devices/RobotSettings/AdvancedTab/AdvancedTabSlideouts/DeviceResetSlideout.tsx
  app/src/organisms/Devices/RobotSettings/AdvancedTab/AdvancedTabSlideouts/__tests__/DeviceResetSlideout.test.tsx
  robot-server/robot_server/service/legacy/routers/settings.py
  robot-server/tests/integration/test_settings_reset_options.tavern.yaml
  robot-server/tests/integration/test_settings_reset_options_flex.tavern.yaml
Labels: robot-svcs

#12972 docs(api): add tabs to Python API docs
  api/Pipfile
  api/Pipfile.lock
  api/docs/v2/conf.py
  api/docs/v2/index.rst
Labels: docs

#12976 fix(api): Disable head motors when attaching an instrument
  api/src/opentrons/hardware_control/ot3api.py
  api/src/opentrons/protocol_engine/commands/calibration/move_to_maintenance_position.py
  api/tests/opentrons/protocol_engine/commands/calibration/test_move_to_maintenance_position.py
  app/src/organisms/GripperWizardFlows/MovePin.tsx
  app/src/organisms/GripperWizardFlows/__tests__/MovePin.test.tsx
  app/src/organisms/PipetteWizardFlows/AttachProbe.tsx
  app/src/organisms/PipetteWizardFlows/Results.tsx
  app/src/organisms/PipetteWizardFlows/__tests__/AttachProbe.test.tsx
  app/src/organisms/PipetteWizardFlows/__tests__/PipetteWizardFlows.test.tsx
  app/src/organisms/PipetteWizardFlows/__tests__/Results.test.tsx
Labels: robot-svcs

#13004 refactor(api): Refactors ahead of ProtocolEngine-based opentrons.execute
  api/src/opentrons/execute.py
  api/src/opentrons/protocol_reader/file_identifier.py
  api/src/opentrons/protocols/parse.py
  api/src/opentrons/protocols/types.py
  api/src/opentrons/simulate.py
  api/src/opentrons/util/entrypoint_util.py
  api/tests/opentrons/protocol_runner/test_protocol_runner.py
  api/tests/opentrons/util/test_entrypoint_utils.py
Labels: api, papi-v2, robot-svcs
