Repository Opentrons/opentrons, pull requests merged in 2023-09, with the labels that each got.

#13383 docs(api): refactor-tip-handling
  api/docs/v2/new_atomic_commands.rst
Labels: docs, papi-v2

#13396 docs(api): Refactor liquid control section
  api/docs/v2/new_atomic_commands.rst
  api/docs/v2/robot_position.rst
Labels: docs, papi-v2

#13406 docs(api): Refactor utility commands section
  api/docs/img/feature_flags/door_safety_switch.png
  api/docs/v2/new_atomic_commands.rst
Labels: docs, papi-v2

#13498 docs(tutorial): syntax correction for Flex tutorial tip_racks declaration
  api/docs/v2/tutorial.rst
Labels: api, docs

#13534 fix(api): disallow moving a fixed-trash labware
  api/src/opentrons/protocol_engine/commands/move_labware.py
  api/tests/opentrons/protocol_engine/commands/test_move_labware.py
Labels: robot-svcs

#13546 fix(api): raise an error on analysis when dispensing invalid volume
  api/src/opentrons/protocol_engine/errors/exceptions.py
  api/src/opentrons/protocol_engine/execution/pipetting.py
  api/tests/opentrons/protocol_engine/execution/test_pipetting_handler.py
Labels: robot-svcs

#13384 docs(api): refactor and rewrite Complex Commands
  api/docs/img/complex_commands/robot_consolidate.png
  api/docs/img/complex_commands/robot_distribute.png
  api/docs/v2/complex_commands/order_operations.rst
  api/docs/v2/complex_commands/parameters.rst
  api/docs/v2/complex_commands/sources_destinations.rst
  api/docs/v2/new_complex_commands.rst
  api/docs/v2/new_examples.rst
  api/docs/v2/new_labware.rst
  api/docs/v2/new_pipette.rst
  api/src/opentrons/protocol_api/instrument_context.py
Labels: docs, papi-v2

#13376 docs(api): refactor-building-block-commands
  api/docs/img/feature_flags/door_safety_switch.png
  api/docs/v2/basic_commands/liquids.rst
  api/docs/v2/basic_commands/pipette_tips.rst
  api/docs/v2/basic_commands/utilities.rst
  api/docs/v2/new_atomic_commands.rst
  api/docs/v2/robot_position.rst
  api/docs/v2/tutorial.rst
Labels: docs, papi-v2

#13647 refactor(api): Why does EquipmentBroker, the largest broker, not simply eat the other brokers?
  api/.flake8
  api/src/opentrons/commands/publisher.py
  api/src/opentrons/legacy_broker.py
  api/src/opentrons/protocol_api/core/legacy/legacy_protocol_core.py
  api/src/opentrons/protocol_api/create_protocol_context.py
  api/src/opentrons/protocol_api/instrument_context.py
  api/src/opentrons/protocol_api/module_contexts.py
  api/src/opentrons/protocol_api/protocol_context.py
  api/src/opentrons/protocol_runner/legacy_context_plugin.py
  api/src/opentrons/protocol_runner/legacy_wrappers.py
  api/src/opentrons/protocol_runner/protocol_runner.py
  api/src/opentrons/simulate.py
  api/src/opentrons/util/__init__.py
  api/src/opentrons/util/broker.py
  api/tests/opentrons/broker/__init__.py
  api/tests/opentrons/commands/test_publisher.py
  api/tests/opentrons/protocol_api/core/legacy/test_protocol_context_implementation.py
  api/tests/opentrons/protocol_api/test_heater_shaker_context.py
  api/tests/opentrons/protocol_api/test_instrument_context.py
  api/tests/opentrons/protocol_api/test_magnetic_module_context.py
  api/tests/opentrons/protocol_api/test_module_context.py
  api/tests/opentrons/protocol_api/test_protocol_context.py
  api/tests/opentrons/protocol_api/test_temperature_module_context.py
  api/tests/opentrons/protocol_api/test_thermocycler_context.py
  api/tests/opentrons/protocol_runner/test_legacy_context_plugin.py
  api/tests/opentrons/protocol_runner/test_protocol_runner.py
  api/tests/opentrons/test_legacy_broker.py
  api/tests/opentrons/util/__init__.py
  api/tests/opentrons/util/test_broker.py
Labels: api

#13682 docs(api): Fix code sample errors
  api/docs/v2/new_labware.rst
Labels: docs, papi-v2
