Repository Opentrons/opentrons, pull requests merged in 2023-07, with the labels that each got.

#12948 fix(api): fix thread manager definition
  api/src/opentrons/hardware_control/scripts/repl.py
Labels: api, fix

#12923 fix(api): change Flex front USB port number to 9 to disambiguate
  api/src/opentrons/drivers/rpi_drivers/types.py
  api/src/opentrons/hardware_control/api.py
  api/src/opentrons/hardware_control/emulation/module_server/helpers.py
  api/src/opentrons/hardware_control/ot3api.py
  api/tests/opentrons/drivers/rpi_drivers/test_usb.py
  api/tests/opentrons/hardware_control/emulation/module_server/test_helpers.py
Labels: api, fix

#13046 docs(api): tutorial.rst revisions for Flex
  api/docs/img/tutorial/diluent.gif
  api/docs/img/tutorial/initial-deck-map-flex.png
  api/docs/img/tutorial/row-loop.gif
  api/docs/img/tutorial/row-tracking.gif
  api/docs/img/tutorial/solution.gif
  api/docs/img/tutorial/stepwise-transfer.gif
  api/docs/v2/tutorial.rst
Labels: docs, papi-v2

#13074 fix(api): Fix opentrons_execute ignoring args for custom labware and data
  api/src/opentrons/execute.py
  api/src/opentrons/simulate.py
Labels: api, fix

#12965 docs(protocol-engine): Document basic instance lifetime
  api/src/opentrons/protocol_engine/__init__.py
  api/src/opentrons/protocol_engine/clients/sync_client.py
  api/src/opentrons/protocol_engine/clients/transports.py
  api/src/opentrons/protocol_engine/protocol_engine.py
  api/tests/opentrons/protocol_engine/clients/test_sync_client.py
Labels: docs, protocol-engine

#13008 fix(api): raise Estop exception when Estop is pressed
  api/src/opentrons/hardware_control/ot3api.py
  api/src/opentrons/protocol_engine/actions/actions.py
  api/src/opentrons/protocol_engine/clients/transports.py
  api/src/opentrons/protocol_engine/errors/__init__.py
  api/src/opentrons/protocol_engine/errors/error_occurrence.py
  api/src/opentrons/protocol_engine/errors/exceptions.py
  api/src/opentrons/protocol_engine/execution/command_executor.py
  api/src/opentrons/protocol_engine/protocol_engine.py
  api/src/opentrons/protocol_engine/state/commands.py
  api/src/opentrons/protocols/execution/execute_python.py
  api/tests/opentrons/protocol_engine/clients/test_child_thread_transport.py
  api/tests/opentrons/protocol_engine/execution/test_command_executor.py
  api/tests/opentrons/protocol_engine/state/test_command_store.py
  api/tests/opentrons/protocol_engine/state/test_command_view.py
  api/tests/opentrons/protocol_engine/test_protocol_engine.py
  robot-server/tests/integration/http_api/commands/test_temp_commands.tavern.yaml
  robot-server/tests/integration/http_api/runs/test_json_v6_run_failure.tavern.yaml
  shared-data/python/opentrons_shared_data/errors/exceptions.py
Labels: robot-svcs

#13107 docs(api): Clean up custom/extra labware in opentrons.simulate and opentrons.execute
  api/.flake8
  api/src/opentrons/execute.py
  api/src/opentrons/simulate.py
  api/tests/opentrons/data/test_simulate.py
  api/tests/opentrons/data/testosaur_v2_14.py
  api/tests/opentrons/test_execute.py
  api/tests/opentrons/test_simulate.py
Labels: api, refactor, docs

#13148 chore: add ot-2 build starting
  .github/workflows/start-internal-release-ot2-build.yaml
  .github/workflows/start-internal-release-ot3-build.yaml
Labels: ot3-build, ot2-build

#12970 feat(api): Limited support for programmatically running PAPIv≥2.14
  api/src/opentrons/execute.py
  api/src/opentrons/protocol_engine/__init__.py
  api/src/opentrons/protocol_engine/create_protocol_engine.py
  api/src/opentrons/util/async_helpers.py
  api/src/opentrons/util/entrypoint_util.py
  api/tests/opentrons/async_context_manager_in_thread.py
  api/tests/opentrons/conftest.py
  api/tests/opentrons/protocol_engine_in_thread.py
  api/tests/opentrons/test_async_context_manager_in_thread.py
  api/tests/opentrons/test_execute.py
  api/tests/opentrons/util/test_async_helpers.py
  api/tests/opentrons/util/test_entrypoint_util.py
Labels: api, papi-v2, robot-svcs, protocol-engine

#13096 docs(api): new_labware.rst revisions for Flex
  api/docs/v2/new_labware.rst
Labels: docs, papi-v2

#13191 docs(api,robot-server): Document errors list as having no more than 1 element
  api/src/opentrons/cli/analyze.py
  api/src/opentrons/protocol_engine/state/state_summary.py
  robot-server/robot_server/maintenance_runs/maintenance_run_models.py
  robot-server/robot_server/protocols/analysis_models.py
  robot-server/robot_server/runs/run_models.py
Labels: docs, robot-svcs, protocol-engine
