Repository Opentrons/opentrons, pull requests merged in 2023-11, with the labels that each got.

#13873 refactor(shared-data): Delete `compatibleFixtureTypes` from schema v4
  shared-data/deck/definitions/4/ot2_short_trash.json
  shared-data/deck/definitions/4/ot2_standard.json
  shared-data/deck/definitions/4/ot3_standard.json
  shared-data/deck/schemas/4.json
  shared-data/python/opentrons_shared_data/deck/deck_definitions.py
  shared-data/python/opentrons_shared_data/deck/dev_types.py
Labels: refactor, shared data

#13878 test(robot-server): Add integration tests for maintenance run creation
  robot-server/robot_server/maintenance_runs/maintenance_engine_store.py
  robot-server/robot_server/runs/dependencies.py
  robot-server/robot_server/runs/engine_store.py
  robot-server/tests/integration/http_api/runs/test_maintenance_run_creation.tavern.yaml
  robot-server/tests/maintenance_runs/test_engine_store.py
  robot-server/tests/runs/test_engine_store.py
Labels: robot server

#13849 fix(app): improve robot update via usb
  app-shell/src/usb.ts
  app/src/redux/robot-api/http.ts
  app/src/redux/robot-update/__tests__/epic.test.ts
  app/src/redux/robot-update/epic.ts
  usb-bridge/node-client/src/usb-agent.ts
Labels: DO NOT MERGE

#13872 refactor(shared-data): Make cutout IDs more obviously different from addressable area IDs
  shared-data/deck/definitions/4/ot2_short_trash.json
  shared-data/deck/definitions/4/ot2_standard.json
  shared-data/deck/definitions/4/ot3_standard.json
  shared-data/deck/schemas/4.json
  shared-data/python/opentrons_shared_data/deck/deck_definitions.py
  shared-data/python/tests/deck/test_position.py
Labels: refactor, shared data

#13991 docs(api): make `|apiLevel|` substitution a string constant
  api/docs/v2/conf.py
  api/docs/v2/new_protocol_api.rst
Labels: docs

#13995 feat(robot-server): Add robotType to analysis results
  api/src/opentrons/cli/analyze.py
  robot-server/robot_server/protocols/analysis_models.py
  robot-server/robot_server/protocols/analysis_store.py
  robot-server/robot_server/protocols/protocol_analyzer.py
  robot-server/tests/integration/http_api/protocols/test_v6_json_upload.tavern.yaml
  robot-server/tests/integration/http_api/protocols/test_v8_json_upload_flex.tavern.yaml
  robot-server/tests/integration/http_api/protocols/test_v8_json_upload_ot2.tavern.yaml
  robot-server/tests/protocols/test_analysis_store.py
  robot-server/tests/protocols/test_protocol_analyzer.py
Labels: robot-svcs, robot server

#14001 docs(robot-server): Document deck configuration snapshotting
  robot-server/robot_server/deck_configuration/router.py
Labels: robot-svcs, robot server

#14016 docs(api): better H2 structure for API Reference page
  api/docs/v2/new_protocol_api.rst
Labels: docs, papi-v2

#14029 refactor(robot-server,api-client): Rename `GET /deck_configuration` field `lastUpdatedAt` to `lastModifiedAt`
  api-client/src/deck_configuration/types.ts
  robot-server/robot_server/deck_configuration/models.py
  robot-server/robot_server/deck_configuration/router.py
  robot-server/robot_server/deck_configuration/store.py
  robot-server/tests/integration/http_api/test_deck_configuration.tavern.yaml
Labels: robot server, js-api-client

#14035 refactor(protocol-engine): Delete duplicate DeckConfiguration type
  api/src/opentrons/protocol_engine/state/addressable_areas.py
  api/src/opentrons/protocol_engine/types.py
  api/tests/opentrons/protocol_engine/state/test_addressable_area_store.py
Labels: protocol-engine

#14005 docs(robot-server): Update GET /health response examples
  robot-server/robot_server/health/models.py
Labels: robot-svcs, robot server

#14044 refactor(shared-data): Delete unused Pydantic models for deck schema v4
  api/src/opentrons/protocols/models/__init__.py
  shared-data/python/opentrons_shared_data/deck/deck_definitions.py
Labels: refactor, shared data
