Repository Opentrons/opentrons, pull requests merged in 2024-03, with the labels that each got.

#14653 docs(api): add note about speeds that cause resonance
  api/docs/v2/robot_position.rst
Labels: docs, papi-v2

#13867 feat(hardware): handle motor driver errors
  hardware/opentrons_hardware/errors.py
  hardware/opentrons_hardware/firmware_bindings/constants.py
  hardware/opentrons_hardware/firmware_bindings/messages/message_definitions.py
  hardware/opentrons_hardware/firmware_bindings/messages/messages.py
  hardware/opentrons_hardware/firmware_bindings/messages/payloads.py
  hardware/opentrons_hardware/hardware_control/move_group_runner.py
  hardware/tests/opentrons_hardware/hardware_control/test_move_group_runner.py
  shared-data/errors/definitions/1/errors.json
  shared-data/python/opentrons_shared_data/errors/codes.py
  shared-data/python/opentrons_shared_data/errors/exceptions.py
Labels: feature, firmware, hardware, embedded

#14708 feat(components, app): update Chip component for unification
  app/src/atoms/Chip/__tests__/Chip.test.tsx
  app/src/atoms/InlineNotification/InlineNotification.stories.tsx
  app/src/atoms/ListItem/ListItem.stories.tsx
  app/src/atoms/Snackbar/Snackbar.stories.tsx
  app/src/atoms/SoftwareKeyboard/CustomKeyboard/CustomKeyboard.stories.tsx
  app/src/atoms/SoftwareKeyboard/NormalKeyboard/NormalKeyboard.stories.tsx
  app/src/atoms/SoftwareKeyboard/Numpad/Numpad.stories.tsx
  app/src/atoms/Toast/ODDToast.stories.tsx
  app/src/atoms/buttons/FloatingActionButton.stories.tsx
  app/src/atoms/buttons/LargeButton.stories.tsx
  app/src/atoms/buttons/MediumButton.stories.tsx
  app/src/atoms/buttons/RadioButton.stories.tsx
  app/src/atoms/buttons/SmallButton.stories.tsx
  app/src/atoms/buttons/TabbedButton.stories.tsx
  app/src/molecules/BackgroundOverlay/BackgroundOverlay.stories.tsx
  app/src/molecules/CardButton/CardButton.stories.tsx
  app/src/molecules/Modal/Modal.stories.tsx
  app/src/molecules/Modal/ModalHeader.stories.tsx
  app/src/molecules/Modal/SmallModalChildren.stories.tsx
  app/src/molecules/ODDBackButton/ODDBackButton.stories.tsx
  app/src/organisms/ChildNavigation/ChildNavigation.stories.tsx
  app/src/organisms/DeviceDetailsDeckConfiguration/AddFixtureModal.stories.tsx
  app/src/organisms/DeviceDetailsDeckConfiguration/DeckConfigurationDiscardChangesModal.stories.tsx
  app/src/organisms/DeviceDetailsDeckConfiguration/TouchScreenDeckFixtureSetupInstructionModal.stories.tsx
  app/src/organisms/Devices/ProtocolRun/ProtocolRunRunTimeParameters.tsx
  app/src/organisms/EmergencyStop/EstopPressedModal.tsx
  app/src/organisms/EmergencyStop/TouchscreenEstopMissingModal.stories.tsx
  app/src/organisms/EmergencyStop/TouchscreenEstopPressedModal.stories.tsx
  app/src/organisms/LabwarePositionCheck/TerseOffsetTable.stories.tsx
  app/src/organisms/OnDeviceDisplay/RobotDashboard/RecentRunProtocolCard.tsx
  app/src/organisms/ProtocolSetupModulesAndDeck/FixtureTable.tsx
  app/src/organisms/ProtocolSetupModulesAndDeck/ModuleTable.tsx
  app/src/organisms/ProtocolSetupParameters/AnalysisFailed.stories.tsx
  app/src/organisms/ProtocolSetupParameters/ResetValuesModal.stories.tsx
  app/src/organisms/ProtocolSetupParameters/ViewOnlyParameters.tsx
  app/src/organisms/RobotSettingsDashboard/NetworkSettings/index.tsx
  app/src/pages/ProtocolDetails/index.tsx
  components/src/atoms/Chip/Chip.stories.tsx
  components/src/atoms/Chip/__tests__/Chip.test.tsx
  components/src/atoms/Chip/index.tsx
  components/src/atoms/index.ts
  components/src/ui-style-constants/index.ts
  components/src/ui-style-constants/viewport.ts
Labels: components
