Repository Opentrons/opentrons, pull requests merged in 2024-01, with the labels that each got.

#14269 docs(api): replace single quotes with double quotes
  api/docs/v1/atomic_commands.rst
  api/docs/v1/complex_commands.rst
  api/docs/v1/examples.rst
  api/docs/v1/hardware_control.rst
  api/docs/v1/index.rst
  api/docs/v1/labware.rst
  api/docs/v1/modules.rst
  api/docs/v1/pipettes.rst
  api/docs/v1/writing.rst
  api/docs/v2/adapting_ot2_flex.rst
  api/docs/v2/basic_commands/liquids.rst
  api/docs/v2/basic_commands/pipette_tips.rst
  api/docs/v2/basic_commands/utilities.rst
  api/docs/v2/complex_commands/sources_destinations.rst
  api/docs/v2/example_protocols/dilution_tutorial.py
  api/docs/v2/example_protocols/dilution_tutorial_flex.py
  api/docs/v2/example_protocols/dilution_tutorial_multi.py
  api/docs/v2/example_protocols/dilution_tutorial_multi_flex.py
  api/docs/v2/modules/heater_shaker.rst
  api/docs/v2/modules/magnetic_module.rst
  api/docs/v2/modules/multiple_same_type.rst
  api/docs/v2/modules/setup.rst
  api/docs/v2/modules/temperature_module.rst
  api/docs/v2/modules/thermocycler.rst
  api/docs/v2/moving_labware.rst
  api/docs/v2/new_advanced_running.rst
  api/docs/v2/new_examples.rst
  api/docs/v2/new_labware.rst
  api/docs/v2/new_modules.rst
  api/docs/v2/pipettes/characteristics.rst
  api/docs/v2/pipettes/loading.rst
  api/docs/v2/robot_position.rst
  api/docs/v2/tutorial.rst
  api/docs/v2/versioning.rst
Labels: api, docs

#14279 docs(api): fix a couple missing apiLevel substitutions
  api/docs/v2/modules/multiple_same_type.rst
  api/docs/v2/moving_labware.rst
Labels: docs, papi-v2

#14284 docs(api): add missing docstrings for Well properties
  api/docs/v2/new_labware.rst
  api/src/opentrons/protocol_api/labware.py
Labels: docs, papi-v2

#14253 fix(api): Fix floating point errors and backwards incompatibility in volume validation
  api/docs/v2/versioning.rst
  api/release-notes.md
  api/src/opentrons/hardware_control/instruments/ot2/pipette_handler.py
  api/src/opentrons/hardware_control/instruments/ot3/pipette_handler.py
  api/src/opentrons/hardware_control/ot3api.py
  api/src/opentrons/protocol_api/core/engine/instrument.py
  api/src/opentrons/protocol_api/instrument_context.py
  api/src/opentrons/protocol_engine/commands/aspirate.py
  api/src/opentrons/protocol_engine/commands/aspirate_in_place.py
  api/src/opentrons/protocol_engine/commands/configure_for_volume.py
  api/src/opentrons/protocol_engine/commands/dispense.py
  api/src/opentrons/protocol_engine/commands/dispense_in_place.py
  api/src/opentrons/protocol_engine/commands/pipetting_common.py
  api/src/opentrons/protocol_engine/errors/exceptions.py
  api/src/opentrons/protocol_engine/execution/pipetting.py
  api/src/opentrons/protocol_engine/state/pipettes.py
  api/src/opentrons/protocols/api_support/definitions.py
  api/tests/opentrons/protocol_api/core/engine/test_instrument_core.py
  api/tests/opentrons/protocol_engine/execution/test_pipetting_handler.py
  api/tests/opentrons/protocol_engine/state/test_pipette_store.py
  shared-data/command/schemas/8.json
Labels: api, papi-v2, protocol-engine

#14311 docs(api): describe new partial tip pickup restrictions
  api/docs/v2/pipettes/partial_tip_pickup.rst
  api/src/opentrons/protocol_api/instrument_context.py
Labels: docs, papi-v2

#14370 docs(api): Hide `TrashBin.__init__()` signature and clarify it's for both robots
  api/docs/v2/conf.py
  api/docs/v2/new_protocol_api.rst
  api/src/opentrons/protocol_api/_trash_bin.py
Labels: api, docs
